[2019-08-14 07:49] yeraydiazdiaz commented on #6429
Hello @cyrus-muriithi, this issue tracker is only for issues on pypi.org itself.

You may want to ask the question in [pyforest's issue tracker](https://github.com/8080labs/pyforest/issues).

[2019-08-14 07:49] #6429 closed

[2019-08-14 14:42] funkey commented on #4612
Hi @yeraydiazdiaz,

My PyPI username is `funkey`, just as my github handle. Thank you very much!

[2019-08-14 15:23] woodruffw opened #6431 "Audit event prettification with a Jinja2 filter"
#6339 contains a long conditional to prettify audit events for user display. We should look into replacing it with a Jinja2 filter + some kind of lookup table for ease of maintenance and future event addition.

cc @nlhkabu

[2019-08-14 15:26] brainwane commented on #6425
@nlhkabu Since the project journal at `warehouse/templates/manage/history.html` currently displays new releases and removed releases, and since #6339 [does not include that info](https://github.com/pypa/warehouse/pull/6339#issuecomment-520911074), I think we have 2 choices:

a: don't merge #6339 yet -- wait until we have a new PR that adds events for upload or removal of a specific release/file to

[2019-08-14 16:55] woodruffw commented on #6425
The second option (re-exposing the journal) would probably take less time; I could do it as part of #6339. OTOH it would take about the same amount of time to just add those events to the audit log, so I could do *that* instead (and that would fit more cleanly into the changeset).

[2019-08-14 17:28] nlhkabu commented on #6425
My preference here would be to add those events to the audit log to avoid a temporary situation where we have duplicate "history" tables.

[2019-08-14 17:38] ewdurbin commented on #4612
Transfer complete.

[2019-08-14 17:38] #4612 closed

[2019-08-14 18:24] ewdurbin commented on #6425
I think it's reasonable to maintain both tables. Journals could be noted as effectively an implementation detail that will be replaced by the Security History.

[2019-08-14 18:36] nlhkabu commented on #6425
You mean that we should add some help text or a badge to explain that we plan on deprecating this?  That works for me :)

[2019-08-14 18:40] brainwane commented on #6425
OK, that's fine with me.

[2019-08-14 18:42] pombredanne commented on #2996
FWIW, I had actually started working (or rather slacking) on a PEP to replace or add SPDX expressions to Python packages metadata to convey clearer, simpler and better license info a few years ago but never finished that thing. See https://github.com/pombredanne/spdx-pypi-pep/issues/1

@brainwane we cannot just add another set of classifiers for that IMHO. As @dstufft pointed in https://github.com

[2019-08-14 20:14] taleinat commented on #2996
@pombredanne, I would help working on such a PEP.

I'm not an expert on licenses, but I've dealt with them quite a lot; see [this blog post](https://snyk.io/blog/over-10-of-python-packages-on-pypi-are-distributed-without-any-license/).

[2019-08-14 20:26] di commented on #2996
@brainwane You're mostly right. Since `License` is currently a free-form field, I think we'd need to add a new field, something like `SPDX-License-Identifier`. This would require a new Metadata version, so anything writing or reading metadata would need updated.

We may want to:

* add a restriction that the `License` field, license classifiers in the `Classifier` field, and the new field mutually

[2019-08-14 20:57] woodruffw commented on #6425
Added the remaining events in #6339 and re-added the old journal table as a separate tab, so closing this.

[2019-08-14 20:57] #6425 closed

[2019-08-14 21:58] pombredanne commented on #2996
@di excellent and much simpler! But beside an update to the Metadata spec and version, updates to several tools would be needed (wheel, setuptools, pip to name a few...) correct?

@taleinat let's start crafting something together then! We could meet/chat on #pypa-dev on Freenode. I am pombreda there

[2019-08-14 22:09] di commented on #2996
@pombredanne Yep, like I said above:

[2019-08-14 22:20] gogasca opened #6438 "Filesize increase for tensorflow-gcp"
**What's the problem this feature will solve?**
[code]

**Describe the solution you'd like**
We need the limit to be increased to 200 MB

[code]

Project [here](https://test.pypi.org/manage/project/tensorflow-gcp/releases/)

[2019-08-15 01:35] jaraco commented on #6422
In [this build](https://travis-ci.org/pypa/setuptools/builds/572091072), I was able to make a release using the token and bypassing DPL (I subsequently deleted the release from PyPI). So the issue lies with using DPL or something that DPL does. I did make [other changes](https://github.com/pypa/setuptools/tree/feature/pypi-token), such as building with pep517, but I suspect that's not pertinent.

[2019-08-15 05:47] henryre opened #6440 "PEP 541: transfer ownership of non-existent snorkel project"
Hi, I'm trying to release Snorkel (https://github.com/snorkel-team/snorkel, https://snorkel.org) for the first time on PyPI (we had previously just been on conda). I got `The credential associated with user 'henryre' isn't allowed to upload to project 'snorkel'.` despite there being no project named "snorkel" on PyPI (https://pypi.org/project/snorkel/). It looks like there's a single 2016 upload t

[2019-08-15 05:48] henryre commented on #6440
cc @di since it looks like you've handled a couple of these

[2019-08-15 06:08] ajratner commented on #6440
Quickly piping in here:
- First of all, thank you so much in advance for your help here!
- Second, just for continuity / FYI- this was the project that previously was at snorkel.stanford.edu /  https://github.com/hazyresearch/snorkel before this week

Thanks!

[2019-08-15 06:24] nlhkabu opened #6441 "Expose 'user' scoped API tokens in project security history?"
From https://github.com/pypa/warehouse/pull/6339#issuecomment-520879774

Further discussion here:
https://github.com/pypa/warehouse/pull/6339#discussion_r314009955

[2019-08-15 06:40] nlhkabu commented on #6441
My thoughts on this:

- I think it would be useful to have a place in the project management area where maintainers can view all active API tokens. We could potentially expose this information in the "collaborators" page by listing the API tokens associated with each user (in the table)

- We should expose the creation of new user scoped tokens on the project security history, when that user is al

[2019-08-15 06:41] #6385 closed

[2019-08-15 06:41] #6386 closed

[2019-08-15 06:46] #6414 closed

[2019-08-15 06:59] #6380 closed

[2019-08-15 07:27] pombredanne commented on #2996
@taleinat @di @brainwane here is a starter https://github.com/pypa/packaging.python.org/pull/635

[2019-08-15 07:28] cyrus-muriithi commented on #6429
Ahsante sana

[2019-08-15 08:22] sunjincheng121 commented on #6394
@jamadden @nlhkabu is there something I should explain? :)

[2019-08-15 11:13] ChrisJefferson commented on #4279
(sorry for slow replies this week, I am on holiday)

I am very happy to have a group in charge - - my main interest is in seeing dtrx continue and be useful. I don't feel it needs major rewrites, but obviously there are always new compression systems, and obviously python 3.

[2019-08-15 14:55] pombredanne commented on #2996
So I also started a PEP draft after all and a discussion on https://discuss.python.org/t/improving-license-clarity-with-better-package-metadata/2154

[2019-08-15 15:18] woodruffw commented on #5983
We'll roll this into #5984.

[2019-08-15 15:18] #5983 closed

[2019-08-15 16:06] Steap commented on #2996
For what it's worth, I did a little experiment a few weeks ago and sent an email to 137 maintainers whose projects used the ambiguous "BSD" classifier. I explained why it was a bit difficult to figure out what license they were using, and asked them whether they would consider using an SPDX expression in the "license" field. So far, 33 of them uploaded a new version of their package with "BSD-2-Cl

[2019-08-15 16:42] nlhkabu commented on #5984
I think the first step here is to localize the strings, and the second should be to assess where we actually *need* contexts.

I think we should keep this simple: we want to avoid a situation where we have to translate the same string twice, because we've added different contexts.

[2019-08-15 16:46] nlhkabu commented on #5984
A few ideas re: contexts:

1. We should add a new GitHub issue type where translators can request context for a specific string
2. We should add a new GitHUb issue type where PyPI users can report poor translations
3. We should add a section to our documentation specifically for translators

[2019-08-15 16:55] foobarna commented on #6355
Have you tried to check the length of encryption key?

[2019-08-15 17:13] tallero opened #6442 "Claim abandoned project phantomjs-binary"
Hi, my understanding is that if we believe that a project is abandoned by the rules of PEP 541, the current process is to post an issue here, since there is no other process at pypi.org. If that's wrong, please let me know and I'll close this.

The package has a merge request to fix linux executable since april

https://github.com/jayjiahua/phantomjs-bin-pip/pull/2

[2019-08-15 17:15] pombredanne commented on #2996
@Steap you rock! Another data point (disclosure: I contribute to this project and maintain the underlying license scanner used there scancode-toolkit ) is at https://clearlydefined.io/stats

See the `Declared License Breakdown` section and click on the pypi tab: the declared license is typically what shows up in the package manifest. Of the 608,157 Pypi packages scanned for license there so far,

[2019-08-15 18:03] #6374 closed

[2019-08-15 19:20] henryre commented on #6440
also cc @jamadden since it looks like you've provided guidance on a PEP541 issues before. thanks!!

[2019-08-15 20:14] di commented on #6440
It looks like @stephenbach who seems to be involved with https://github.com/snorkel-team/snorkel is currently an owner of the `snorkel` project on PyPI. Is this someone on your team?

[2019-08-15 20:16] henryre commented on #6440
ah of course, my arch nemesis @stephenbach. thanks a ton @di we're getting it sorted!

[2019-08-15 20:16] #6440 closed

[2019-08-15 21:30] #5863 closed

[2019-08-15 21:31] bouthilx commented on #4189
@yeraydiazdiaz Do you have any idea when would the transfer take place?

[2019-08-15 21:34] brainwane opened #6447 "log failed authentication attempts for audit trail?"
Should we log and display failed authentication attempts? Especially with the new API tokens, it would likely be useful to see failed attempts (and reasons why they failed) in the user security log.

But the concern with logging failed authentication attempts is that an attacker could use them to spam the event log, drowning out legitimately malicious events with junk (or causing security fatigue

[2019-08-15 21:36] brainwane commented on #5714
Now unblocked! See #5863 for related issues and requests for notifications of specific kinds of events, and #6339 for events currently being logged.

[2019-08-15 21:37] woodruffw commented on #6447
Thanks @brainwane!

To copy what I was about to put into a new issue:

---

The following events might be useful:

* Failed user sign-on
* Failed API token authentication (either completely wrong, or wrong scope)

Of concern: a malicious agent could spam a target user or project's event log by intentionally sending the wrong password or wrong API token repeatedly, causing the user to miss "legitim

[2019-08-15 21:39] brainwane commented on #1001
Now unblocked! @edmorley see #6339 for events currently being logged. Is that enough to close this issue? I think it is but I want you to double-check.

[2019-08-15 21:40] brainwane commented on #798
Now unblocked! See #5863 for related issues and requests for notifications of specific kinds of events, and #6339 for events currently being logged, and #5714 for related conversation.

[2019-08-15 21:42] brainwane commented on #997
Now unblocked! Should we do this through #5714?

[2019-08-15 21:42] brainwane commented on #3317
Now unblocked, but we do need to discuss approach - @woodruffw ?

[2019-08-15 21:45] woodruffw commented on #3317
Thanks for the ping!

I believe that either @ewdurbin or @dstufft mentioned that SQLAlchemy has a notion of triggers/events -- one potential approach would be to leverage those on creation of the relevant email event logs, and then dispatch emails from there.

[2019-08-15 22:33] di opened #6448 "500 error on project deletion"
Currently project deletion results in a 500 error due to #6339.

This is because the `UserEvent` and `ProjectEvent` models have a 'not-null' constraint on the project ID, and are not cascaded (deleted) when the project is deleted.

[2019-08-15 22:36] di commented on #5890
Going to close this as there's nothing to do here. If you have followed the steps in https://github.com/pypa/warehouse/issues/5890#issuecomment-494868157 and are still experiencing this, please [open a new issue](https://github.com/pypa/warehouse/issues/new?template=bug-report.md).

[2019-08-15 22:36] #5890 closed

[2019-08-15 22:55] woodruffw commented on #6448
#6450 patches over this by deleting the orphaned events, but a more permanent solution needs to retain those events.

From chat:

We should ultimately key on `users.username` and `projects.normalized_name`. In order to key on the latter, it'll need to be changed from a `column_property` into a real (and unique) column, which will require a migration.

[2019-08-15 23:01] #6448 closed

[2019-08-15 23:03] di opened #6451 "Retain audit log events after deletion"
In #6448 we realized that keying audit log events on the project/user IDs causes issues on deletion.

#6450 patches over this by deleting the orphaned events, but a more permanent solution needs to retain those events.

From chat:

We should ultimately key on users.username and projects.normalized_name. In order to key on the latter, it'll need to be changed from a column_property into a real (and

[2019-08-16 00:20] stevebeisner opened #6452 "Can't login after password reset"
I reset my password via the login dialog's "I forgot my password"
link, then following the link in the resulting email.
BUT...
The login dialog rejects the new password, even after repeated
tries over 20 minutes.
What should I do?

[2019-08-16 00:33] stevebeisner commented on #6452
Forget it.  The multi-word requirement for passwords
tripped me up. Reset with a password having multiple
space separated words and that now works.
That's a weird requirement.

[2019-08-16 00:33] #6452 closed

[2019-08-16 03:46] 1313e opened #6454 "Option to install earliest versions possible"
**What's the problem this feature will solve?**
As far as I know, executing `pip install -r requirements.txt` will make sure that all requirements listed in `requirements.txt` are installed and satisfied.
When a package is required that is currently not installed (or does not satisfy the minimum/maximum version), `pip` will install/update it to the latest version that satisfies all conditions.
Of

[2019-08-16 05:21] #6376 closed

[2019-08-16 05:25] nlhkabu opened #6455 "Add language switcher to PyPI UI"
For the upcoming localisation work -> we will need to offer a way for users to switch their language.

Probably the easiest way to support this is to add a small section in the footer with text links to the different supported languages.

- We should *not* use flags (a country is not a language)
- The text links themselves should be translated

References:
- https://usersnap.com/blog/design-langua

[2019-08-16 05:28] nlhkabu commented on #6455
As discussed with @woodruffw I will make a dummy PR for this (with HTML and CSS only) that he can then hook up as appropriate.

[2019-08-16 06:24] Dorro101 commented on #3174
Hi

I am currently residing in Nanjing, China. I was temporarily unable to create an account because of the reCAPTCHA issue and the blanket blocking of google.com and its APIs. I was, however, able to get around this using the audio function by clicking on the speaker/volume (sic) icon and entering a code provided by audio playback.

[2019-08-16 08:33] ulfworsoe commented on #6100
Any news about the account?

[2019-08-16 14:41] ewdurbin commented on #4189
complete.

[2019-08-16 14:41] #4189 closed

[2019-08-16 14:48] bouthilx commented on #4189
Thanks! :)

[2019-08-16 15:03] metasim opened #6461 "File size limit increase for pyrasterframes"
**A link to your project on PyPI (or Test PyPI)**
Project: https://pypi.org/project/pyrasterframes/

**The size of your release, in megabytes**
60.1 MB. Setting our limit to 80MB or so would be great, to give us some buffer.

**Which index/indexes you need the increase for (PyPI, Test PyPI, or both)**
Both would be nice. PyPI definitely.

**A brief description of your project, including the reason

[2019-08-16 18:07] di opened #6462 "Add gravatar to current user indicator (logged-in menu)"
In #6402 we removed the "Welcome back, \<username>" that used to be in the "current user indicator" (the drop-down menu in the top right when logged in), it's now just the username and an arrow.

Now that we have more room there, it would be nice to include the user's gravatar to make it more clear that this is where the user can click to get to logged-in views.

---

**Good First Issue**: This is

[2019-08-16 18:13] di commented on #6454
Hi @1313e, thanks for the report. At first glance it looks like this might belong over at https://github.com/pypa/pip instead, but I'm also not sure I'm totally understanding your use case here. Could you provide an example?

[2019-08-16 18:15] di commented on #6461
I've set the upload limit for `pyrasterframes` to 100 MB on PyPI and TestPyPI.

[2019-08-16 18:15] #6461 closed

[2019-08-17 01:28] 1313e commented on #6454
Uhm, yeah, it most definitely belongs at `pypa/pip`.
No idea why I posted that here actually.

Example: let's say that I have the requirement `numpy>=1.8.0` for a package.
I cannot actually test whether that minimum requirement is correct, because most people will have a newer version already installed, and CI services just install the latest version (as that is the default behavior of `pip`).
It

[2019-08-17 05:47] nlhkabu opened #6466 "Grey buttons not high enough color contrast"
- Replace border color with https://github.com/pypa/warehouse/blob/master/warehouse/static/sass/settings/_colours.scss#L33
- Reduce border width (?) as the element becomes too heavy

[2019-08-17 05:48] nlhkabu opened #6467 "Badges that are links are not obviously clickable"
We need to make a design update (underline the text??) to indicate which badges are cickable, and which are not

[2019-08-17 05:50] nlhkabu opened #6468 "Status badges are not obviously clickable"
![Screenshot from 2019-08-17 06-49-25](https://user-images.githubusercontent.com/3323703/63207293-34dfa480-c0bb-11e9-81d9-e8d16aec2e66.png)

[2019-08-17 05:51] nlhkabu opened #6469 "Filter icon is too low contrast"
![Screenshot from 2019-08-17 06-51-13](https://user-images.githubusercontent.com/3323703/63207312-71ab9b80-c0bb-11e9-9785-3ec699d97edd.png)

[2019-08-17 05:57] nlhkabu opened #6470 "Use list instead of <dl> and <dt> for classifiers list"
For the list of classifiers on the project detail page, we should use a `<ul>` element instead of the current implementation.  This would be more semantic.

![Screenshot from 2019-08-17 06-56-48](https://user-images.githubusercontent.com/3323703/63207350-35c50600-c0bc-11e9-827a-ef6ace80b00c.png)

[2019-08-17 05:58] nlhkabu opened #6471 "Make focus states visible on mobile/tablet filter panel"
On smaller resolutions, the filter panel on the search page is presented on a blue background:

![Screenshot from 2019-08-17 06-55-50](https://user-images.githubusercontent.com/3323703/63207356-57be8880-c0bc-11e9-97cd-7075623b53a5.png)

When this happens, the focus states for the accordion component and the checkboxes is not visible.

We need to update the code so that we have a white focus state

[2019-08-17 06:00] nlhkabu opened #6472 "form on webauthn page is not a <form>"
On `warehouse/templates/manage/account/webauthn-provision.html` we have a form where users can provision their device.

This is *not* wrapped in `<form>` tags, which means it is not semantic.

[2019-08-17 06:04] nlhkabu opened #6473 "Close dropdown menu with keyboard, add 'aria-expanded=true'"
## Close menu with keyboard

![Screenshot from 2019-08-17 07-02-19](https://user-images.githubusercontent.com/3323703/63207390-f945da00-c0bc-11e9-9097-4bb16741f3ef.png)

Currently, it is possible to open this menu by pressing `enter` and navigating the menu using the `tab` key.

However, when the user gets to the end of the menu (and tabs to another element in the page) the menu remains open.

We

[2019-08-17 06:08] nlhkabu opened #6474 "Close open accordion tab with escape key, when tabbing away"
Currently, it is possible to open and close the accordion component (seen on the search results page) using the keyboard.

However, it would be nice to:

- Automatically close the open accordion section (`accordion__content`) when the user tabs to the next accordion trigger (`accordion__link`)
- Allow the user to close the current section (`accordion__content`) using the `esc` key

[2019-08-17 06:21] nlhkabu opened #6475 "Audit all links and button text"
Check that all links and buttons contain "descriptive" text.  E.g. the user should be able to tell what the link or button does, without the context around it.

Example of link to be updated:

![Screenshot from 2019-08-17 07-21-14](https://user-images.githubusercontent.com/3323703/63207509-a0c40c00-c0bf-11e9-9b68-0077f7eda6ad.png)

The button here would be better as 'Add email'

[2019-08-17 06:52] nlhkabu opened #6476 "Check that every input/select is associated with a label"

[2019-08-17 06:53] nlhkabu opened #6477 "Ensure inputs and selects have autocomplete defined"
See https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete

[2019-08-17 10:21] JacksonWuxs commented on #3174
Well there was long time after I rose the issue. Finally, I solved this problem with a proxy software which let me go through the fire wall of China Internet.

Due to the reason that China government locked most of responses from abroad, including APIs from Google, the reCAPTCHA issue happened. If anyone face the same  issue in the future, the best solution is buying a proxy. At that moment, you c

[2019-08-17 15:08] nlhkabu opened #6478 "Toggle `aria-expanded` value on dropdown menus"
Currently, we correctly label the dropdown button (`dropdown__trigger`) with `aria-expanded="false"`, however we *do not* switch this to `aria-expanded="true"` when the dropdown menu is open.

[2019-08-17 15:10] nlhkabu opened #6479 "Add 'aria-expanded' and 'aria-haspopup` to accordion component"
When closed, the accordion triggers (`accordion__link`) should have:
- `aria-haspopup=true`
- `aria-expanded=false`

When open:
- `aria-haspopup=true`
- `aria-expanded=true`

[2019-08-17 15:16] nlhkabu opened #6480 "Make tooltips accessible"
- Ensure they can be opened with a keyboard
- Ensure they can be viewed on mobile devices (how?)
- Ensure they are appropriately labelled with aria values

References:
- https://inclusive-components.design/tooltips-toggletips/
- https://www.sarasoueidan.com/blog/accessible-tooltips/

[2019-08-17 15:21] nlhkabu commented on #6349
Line height should also be set in em, so that the height of elements adjusts with the increased font size setting

[2019-08-17 15:25] nlhkabu opened #6481 "Remove hardcoded heights on text elements"
Users can choose to increase their text size via their browser settings.

Therefore along with https://github.com/pypa/warehouse/issues/6349, it is important that we do not hard code the height of any element that contains text (so that the element adjusts in height in relation to the text inside).

We need to remove hardcoded values (`height` and `line-height`) from:

- Buttons
- Inputs
- Selects

[2019-08-17 15:30] nlhkabu opened #6482 "Update component documentation"
We need to ensure that each component's SCSS file contains the correct HTML and accessibility notes, where necessary.  This issue should be completed at the end of the accessibility milestone.

Known affected components:

- [x] Accordion
- [x] Callout block
- [x] Dropdown
- [x] Footer
- [x] Form errors
- [x] Form group
- [x] Table
- [x] Tooltip

[2019-08-17 15:31] nlhkabu commented on #6229
Closing this after having gone over each component and opened a series of accessibility issues.

[2019-08-17 15:31] #6229 closed

[2019-08-17 15:37] #6156 closed

[2019-08-17 15:40] nlhkabu opened #6483 "Remove 'form-group__horizontal'"
This variant is only used in one location and can be removed / replaced with a vertical form layout

---

**Screenshot Required**: This issue will require an update to the visual design of the site. To help our team give you faster feedback, include a screenshot in your Pull Request.

[2019-08-17 18:04] di commented on #6454
Got it. There's some existing discussion this use case [here](http://kafka.dcpython.org/day/pypa/2019-02-07), and a closed issue requesting the same thing at https://github.com/pypa/pip/issues/3188.

The main takeaways are that this would be hard to implement before https://github.com/pypa/pip/issues/988 is solved, and that you can probably get the same result by doing something like:

[code]

[2019-08-17 20:14] lynncyrin commented on #2315
For the sake of clarity and completeness: I personally won't be following up here, and fully encourage anyone else doing so 🙏

[2019-08-17 23:26] mark9064 opened #6484 "Lost 2FA"

[2019-08-17 23:26] mark9064 commented on #6484
I've lost my 2FA device, and as stated in https://pypi.org/help/ there's no way to recover my pypi account. As there's no way to do so, can I request that my account is deleted. The account name is mark9064 and the email is verified (so I can be contacted there for verification).
I'm opening an issue here as that's the recommended action for a password reset and I see no other option for direct em

[2019-08-18 01:30] brainwane commented on #6484
@jamadden or @yeraydiazdiaz could you take a look?

[2019-08-18 13:28] myhub commented on #6400
@jamadden I am now host my project on github(https://github.com/myhub/tr) about 130M, If it is ok to increase size, please let me know

[2019-08-18 14:20] yeraydiazdiaz commented on #6484
Hi @mark9064, sorry to hear you're locked out of your PyPI account.

It looks like you are the sole owner of [two projects](https://pypi.org/user/mark9064/), which means we will have to transfer them to an intermediate account and reassign it to you once you've created your new account.

Unfortunately moderators do not have the ability to perform these operations. We will contact the administrator

[2019-08-18 14:41] mark9064 commented on #6484
Thanks for looking in to this issue, apologies for being a pain :slightly_frowning_face:

[2019-08-18 19:49] ZaxR commented on #6287
Just made the change, and `__token__` is working well with Travis, but just an FYI that the hyphen in the token (`pypi-xxx...`) still needs to be escaped for Travis.

[2019-08-19 00:55] 1313e commented on #6454
@di Alright, thanks for that.

[2019-08-19 02:25] hugovk commented on #6287
@ZaxR Did you encrypt the token? I recommend you do, so only your repo can upload.

I didn't need to escape anything when encrypting:

* Created a new API token on Test PyPI
* Updated `.travis.yml` to use `user: __token__` (no quotes this time)
* Created the password with `travis encrypt pypi-A...` (again no quotes this time) and put in `.travis.yml` as `password: secure: "S..."`
* Pushed a commit

[2019-08-19 02:37] brainwane commented on #6452
@stevebeisner I am not familiar with that requirement -- would it be possible for you to look at the password reset screen you are seeing and share a (redacted) screenshot?

[2019-08-19 06:02] nlhkabu opened #6486 "Label navigation better"
In PyPI's footer:

![Screenshot from 2019-08-19 06-49-48](https://user-images.githubusercontent.com/3323703/63241977-8f106f00-c24d-11e9-9d8f-7e471e1b8601.png)

- refactor each list of links to remove the heading from the `<ul>`
- wrap the `<ul>` in a `<nav aria-label="Footer navigation">`

On the project detail page:

![Screenshot from 2019-08-19 06-49-43](https://user-images.githubusercontent.com

[2019-08-19 06:15] nlhkabu opened #6488 "Improve email status information"
We currently add a series of labels to email verification badges, depending on the status of the email.

Code:
https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/account.html#L29-L58

![Screenshot from 2019-08-19 07-09-39](https://user-images.githubusercontent.com/3323703/63242773-63db4f00-c250-11e9-85ab-415626ae8851.png)

- This information is not sufficiently exposed to the

[2019-08-19 06:26] nlhkabu commented on #6441
@brainwane I've added this to the OTF security milestone, but I'm not sure if it's in scope.  Please remove the milestone if not :)

[2019-08-19 06:29] #6248 closed

[2019-08-19 09:15] peircej commented on #726
This would be great. I also incorrectly assumed Test PyPI did exactly this, like many before me, and got the dreaded `File already exists` while trying to test upload metadata

[2019-08-19 10:03] edmorley commented on #1001
@brainwane Hi! Yeah that list of now-logged events looks great - thank you :-)

[2019-08-19 10:03] #1001 closed

[2019-08-19 10:17] mn-mikke opened #6490 "Increase upload size limit of h2o_pysparkling_x packages to 150MB"
Hi,
I'm one of the maintainers of Sparkling Water https://github.com/h2oai/sparkling-water project which has PySparkling as the Python client. The project has integrated several features that caused growth of PySparkling packages. The size of packages is reaching the current limit 100MB.

I would like to ask you to extend the limit for Pysparkling packages to 150MB if possible.:
https://pypi.org/p

[2019-08-19 16:38] freshwuzhere commented on #6273
I’m a lowly dev and contributor to Dash and the addition of a trove classifier would greatly assist discovery of the great works conducted and posted by the many dedicated data scientists around the world.
Thank you.

[2019-08-20 08:09] yeraydiazdiaz commented on #4771
Hello @dhellmann, apologies for the delay in processing this request.

I've emailed @lysol regarding your request and he seems to have some recent activity in GitHub so hopefully he'll respond quickly and give an answer to your request.

[2019-08-20 08:24] yeraydiazdiaz commented on #4860
Hello @nijel, apologies for the delay in processing this request.

It appears that `cntrlr` is the sole owner of [uTidylib](https://pypi.org/project/uTidylib/), he should be able to transfer the project to you.

Tagging @corydodt as I believe that's his GitHub user, apologies if it's not.

[2019-08-20 13:10] samuelcolvin commented on #6422
I've just had a similar issue uploading to pypi from travis. I've getting

    HTTPError: 403 Client Error: Invalid or non-existent authentication information. for url: https://upload.pypi.org/legacy/

However the upload to pypi succeeded! (I'm not sure if this is the same behaviour @jaraco saw?)

All files seem to have been uploaded and the release seems to have worked fine.

I got this twice, th

[2019-08-20 13:24] dhellmann commented on #4771
OK, well, with the lack of response earlier we went with a different name. https://pypi.org/project/openstack-congress/

I think we can close this and not worry about it.

[2019-08-20 13:24] #4771 closed

[2019-08-20 17:29] corydodt commented on #4860
Hi,

This is @corydodt on github. My pypi user is also corydodt (
https://pypi.org/user/corydodt/). @cntrlr is someone else entirely. I think
the last time I updated utidylib, pypi didn't even exist yet, so I never
created a project there and it does not currently belong to me.

C

_____________________

On Tue, Aug 20, 2019 at 1:24 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2019-08-20 18:20] woodruffw commented on #6422
Thanks for the report @samuelcolvin! Can you confirm that the token you're feeding to Travis includes the `pypi-` prefix? We currently reject non-prefixed tokens, so I'm wondering if that could be the root cause 🙂

[2019-08-20 19:17] jaraco commented on #6422
Interesting. That’s very different from the behavior I saw. In my failures, no artifacts were uploaded. My build would attempt to upload both wheel and sdist artifacts. Not sure if that’s relevant.

[2019-08-20 19:33] #6469 closed

[2019-08-20 19:38] #6466 closed

[2019-08-20 19:47] #6475 closed

[2019-08-20 19:52] #6476 closed

[2019-08-21 08:01] yeraydiazdiaz commented on #4860
Right, sorry for the confusion, I will try to contact the owner via email.

[2019-08-21 08:31] jaraco commented on #6422
Okay. I now think I understand the crux of my problem. It's this line:

[code]

In the non-DPL upload technique, the most straightforward way I've found to pass the credentials to twine is through environment variables, but because Travis [expects variables to include both the key and the value](https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml), it's

[2019-08-21 08:31] #6422 closed

[2019-08-21 08:37] yeraydiazdiaz commented on #4878
Hi @anowlcalledjosh, apologies for the delay in processing this request.

The project is indeed invalid so we will proceed to transfer it if you are still interested.

[2019-08-21 08:42] yeraydiazdiaz commented on #4885
Hello @empyrical, apologies for the delay in processing this request.

The project page indeed has no releases so it can be transferred if you are still interested.

[2019-08-21 08:52] jaraco commented on #6422
I've revised my `gen-pypi-token` alias thus:

[code]

[2019-08-21 08:56] jaraco commented on #6422
I've created [the 42.2 release](https://travis-ci.org/pypa/setuptools/builds/574754958) using this new technique.

[2019-08-21 09:34] samuelcolvin commented on #6422
@woodruffw yes, the token definitely included the prefix: looking back at my bash history I see `travis encrypt -r samuelcolvin/aiohttp-toolbox pypi-***`.

Remember also, I got the exact same failure with the `v0.5` release where I was still using my standard password, as you can see from the history of `.travis.yml`, the deploy setup hasn't changed this year. I've made 20 or so release of the pac

[2019-08-21 11:24] samuelcolvin commented on #6422
my issue seems to have been fixed by `setuptools-v41.2`.

[2019-08-21 11:28] samuelcolvin commented on #6422
sorry, ignore that, the error seems the same: https://travis-ci.com/samuelcolvin/aiohttp-toolbox/builds/124041776

[2019-08-21 14:14] anowlcalledjosh commented on #6040
This means that the password field now takes two <kbd>Tab</kbd>-presses to reach from the username field rather than one, which breaks at least one popular password manager.

If the accessibility issue is more important than avoiding some manual configuration of password managers, then fine (I'm not qualified to make that decision), but the original change to add `tabindex`es was intentional – see

[2019-08-21 14:25] anowlcalledjosh commented on #4878
No worries! I'm still interested in using that name, yep.

[2019-08-21 14:26] ewdurbin commented on #6484
Hi @mark9064! Please email ernest@python.org from the email address associated with your PyPI account. I'll send instructions on how to verify ownership of your existing email address and projects. Once that is complete and we will disable 2FA on your account and issue a password reset.

[2019-08-21 14:30] ewdurbin commented on #4878
complete.

[2019-08-21 14:30] #4878 closed

[2019-08-21 14:41] ewdurbin commented on #6484
Confirmed email address, control of both projects on GitHub. I've disabled 2FA and issued password reset for this user.

[2019-08-21 14:41] #6484 closed

[2019-08-21 15:08] corydodt commented on #4860
No worries, best of luck!
_____________________

On Wed, Aug 21, 2019 at 1:01 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2019-08-21 16:24] empyrical commented on #4885
Hey!

No problem! :)

Yes, I am still interested.

[2019-08-21 16:32] di commented on #6040
This has actually been bugging me too. I think we can fix it without adding tab indexes by moving the "Show password" box under the password field.

@nlhkabu @woodruffw Thoughts?

[2019-08-21 17:00] woodruffw commented on #6040
Yep, I think this would be a good solution.

[2019-08-21 17:25] ewdurbin opened #6504 "Restore dev/clean.sql and update for new security features"
It appears the `dev/clean.sql` file referenced in https://warehouse.pypa.io/development/development-database/ was inadvertently removed in #5882.

We should restore this file, and also update it to remove:
  - User TOTP secrets: NULL out `users.totp_secret` column
  - User last TOTP values: NULL out `users.last_totp_value` column
  - User Security Keys: truncate `user_security_keys` table
  - Maca

[2019-08-21 17:38] #6470 closed

[2019-08-21 17:44] #6486 closed

[2019-08-21 20:06] brainwane commented on #6441
@nlhkabu Let's discuss this in the bug triage & work prioritization meeting I'm scheduling (within the next few business days).

[2019-08-22 05:39] nlhkabu commented on #6481
Note: while doing this we need to fix the alignment of this UI:

![Screenshot from 2019-08-21 07-39-14](https://user-images.githubusercontent.com/3323703/63488614-80bd8f80-c4a7-11e9-9d39-3539b1b0f241.png)

[2019-08-22 05:42] nlhkabu opened #6508 "Make filter panel more accessible"
On the search results page, we hide the classifier filters on smaller resolutions, revealing them in a panel.

We need to:

1. ensure that the keyboard focus is move to the panel, when it is opened by the user
2. ensure that the user cannot 'tab out' of the panel when it is open (e.g. users should be able to loop over the links in the panel

[2019-08-22 05:52] #6471 closed

[2019-08-22 06:43] dianfu commented on #6394
@jamadden @sunjincheng121 Thanks a lot for the discussion. Any progress? @jamadden Do you think it makes sense to increase the package size for now and we can continue to investigate other options such as breaking the package into a few smaller packages per your suggestion.

[2019-08-22 09:57] Cntrlr commented on #4860
Hello. As I can see something strange has happened around me. I probably indeed have tried to use utidylib some time ago but the think that I may be it's owner surprises me greatly. I need to check this out guys. If you need something please contact me immediately and I will do my best to help you.

[2019-08-22 10:20] yeraydiazdiaz commented on #4860
Hi @Cntrlr. I believe Cory tagged your GitHub account since it matches [PyPI user "cntrlr"](https://pypi.org/user/cntrlr/) which sounds like it's not you, if that's the case please disregard this issue 🙂

 I already tried contacting the owner via email and am waiting for a response.

[2019-08-22 10:29] Cntrlr commented on #4860
I already did check all my accounts and this is not mine for sure. I hope this case will be resolved quickly. Good luck!

[2019-08-22 21:20] azaia opened #6513 "Something is wrong with PyInstaller: "Compressed file ended before end of stream marker was reached" Also Hash not correct."
Something is wrong with  PyInstaller: "Compressed file ended before end of stream marker was reached" Also Hash not correct.

[2019-08-23 01:47] rmcendarfer2017 opened #6514 "Visitor Activity not accepting paramaters"
I am having an issue where when I create the following query

`
from pardot.client import APIClient

client= APIClient(
	'email',
	'Password',
	'API_KEY'
	)

r= client.visitorActivity.query(created_after='yesterday',limit=1)

print(r)`

I get back Arguments (0) do not match identifiers (2) for operation query on visitorActivity

how if add to blank string like this r= client.visitorActivity.query(

[2019-08-23 05:25] #6467 closed

[2019-08-23 05:36] #6468 closed

[2019-08-23 05:37] nlhkabu opened #6515 "Do not hide status badge and release date on smaller resolutions"
On the project detail page, we currently hide the status badge and release date on mobile.  This is not accessible, as all information should be visible when users zoom in.

[2019-08-23 07:49] yeraydiazdiaz commented on #6514
Hi @rmcendarfer2017, this issue tracker is for problems with PyPI.org itself. I suggest raising your issue in [PyPardot4's issue tracker].

[2019-08-23 07:49] #6514 closed

[2019-08-23 07:51] yeraydiazdiaz commented on #6513
Hello @azaia, this issue tracker is for problems with PyPI.org itself, I suggest you have a look at [PyInstaller's issue tracker](https://github.com/pyinstaller/pyinstaller/issues) and raise your issue  there if appropriate.

[2019-08-23 07:51] #6513 closed

[2019-08-23 13:05] calvin commented on #3218
3 new admin flags:
 - Disallow uploads
 - Disallow release
 - Disallow project deletion

[2019-08-23 13:24] calvin commented on #3218
@di It lookse like disallowing uploads is already implemented in #3393. Can you confirm the requirements?

[2019-08-23 15:33] di commented on #3218
@calvin #3393 prevents any database writes at all (e.g., you can't change your display name, etc.) where here a "halt all new uploads" flag means that just new uploads are prevented.

[2019-08-23 16:54] jmunroe opened #6519 "Manage account: change of email to user jmunroe"
I have an account "jmunroe" that is associated with the now non-existent email address "jmunroe@ualberta.ca". Could the email be changed to "jmunroe@mun.ca" so that I can reset the password and regain access to this account? Thank you.

[2019-08-23 18:15] di commented on #6504
While we're at it, we should also update the dev DB dump from TestPyPI, there's a lot of migrations that need to be applied since we last did this.

[2019-08-24 06:39] #6481 closed

[2019-08-24 07:17] nlhkabu commented on #6477
https://www.w3.org/WAI/WCAG21/Techniques/html/H98

[2019-08-24 08:06] #6515 closed

[2019-08-24 09:55] cjerdonek commented on #6447
To address the spam issue for "uninteresting" failed attempts, what about the idea of displaying just a count of failed attempts (e.g. over the last N days). That way people would still seem some indication of failed attempts (as well as the degree).

[2019-08-24 11:08] jezdez commented on #5825
😍 y’all!

[2019-08-24 15:06] di commented on #5825
Reopening, looks like #6408 broke project and account deletion, so I reverted it in #6525.

Here's the stack trace from an attempt at account deletion:

[code]

Project deletion does not raise an exception, it just flashes "Confirm the request" even if the user has correctly filled out the modal.

[2019-08-26 03:12] woodruffw commented on #6447
This is a good solution for the client side, but we'd probably also need to do some deduplication on the server side to prevent an adversary from clogging up the DB.

OTOH, thinking about this a bit more, the existing rate-limiting framework *should* provide us with adequate cover for most failed authentication events. So maybe I was overthinking this and it isn't an issue at all :slightly_smiling

[2019-08-27 06:02] nlhkabu opened #6534 "Remove hardcoded width for manage project buttons"
![Screenshot from 2019-08-27 07-01-57](https://user-images.githubusercontent.com/3323703/63744901-a1675a00-c898-11e9-9784-23730ce03667.png)

[2019-08-27 09:49] pfaion commented on #6287
@ZaxR

I just puy the token into travis without escaping anything and it works. I don't think the hyphen is a special character in bash?

[2019-08-28 16:34] cgivre opened #6540 "Unauthorized Use of Apache-Superset"
To whom it may concern.

I am writing on behalf of the Apache Superset (Incubating) project.  We are seeing to post the most current official Apache release of Superset to Pypi, however it appears that someone who is not connected to the project has claimed the name `apache-superset`.

We would like to claim this repo name if possible as it could be very misleading, or allow someone to post a mali

[2019-08-28 19:13] #6349 closed

[2019-08-28 19:25] #6488 closed

[2019-08-28 19:50] #3200 closed

[2019-08-28 20:15] cgivre commented on #6540
If we don't hear back, we would like the account owner to be assigned to the "mistercrunch" user.
Thanks,
-- C

[2019-08-29 01:07] dimaqq opened #6543 "Support Python 3.9"
https://github.com/python/cpython/ master branch is now 3.9.0alpha0
(https://github.com/python/cpython/commit/9ab2fb1c68a75115da92d51b8c40b74f60f88561)

Perhaps it's time to:

* include `Programming Language :: Python :: 3.9` at https://pypi.org/classifiers/
* allow package uploads with such classifier

[code]

[2019-08-29 11:36] ncoghlan opened #6545 "Recommend auditwheel in the Error 400 response for "linux" package uploads"
**What's the problem this feature will solve?**
Providing better guidance to users when they fail to upload a wheel with a "linux" platform tag

Currently these users get an opaque error message like "HTTPError: 400 Client Error: Binary wheel 'treap-1.39-cp36-cp36m-linux_x86_64.whl' has an unsupported platform tag
'linux_x86_64'. for url: https://test.pypi.org/legacy/"

**Describe the solution you

[2019-08-29 15:34] ewdurbin commented on #6543
Completed on test.pypi.org and pypi.org. Thanks @dimaqq

[2019-08-29 15:34] #6543 closed

[2019-08-30 05:33] nlhkabu opened #6550 "Localize 503 page"
Our 503 page is hosted in a [private repo](https://github.com/python/pypi-theme/blob/master/error_pages/503.html) and needs to remain self-contained so that we can serve it from Fastly.

However, it should be localised as part of the OTF work currently under development.

[2019-08-30 05:52] nlhkabu opened #6551 "Improve instructional text for API tokens"
Based on feedback collected in user testing:

On the API token confirmation page, we should:

- Show the username/password instructions on the API token confirmation page
- Show an example .pypirc file, and explain where to put them for "entire account" tokens vs "scoped to project" tokens

On the `manage project > settings` page:

- Add a link back to the API token creation page

FYI @justinmayer

[2019-08-30 06:31] nlhkabu opened #6552 "Project description: rendering of <pre> in lists ugly"
Given the following HTML structure in a project description:

![Screenshot from 2019-08-30 07-29-40](https://user-images.githubusercontent.com/3323703/63998024-12587d00-caf8-11e9-990d-6abb2b470745.png)

The rendering is poor:

![Screenshot from 2019-08-30 07-29-36](https://user-images.githubusercontent.com/3323703/63998025-12587d00-caf8-11e9-8985-47d301a851a2.png)

This requires updating warehouse

[2019-08-30 06:47] nlhkabu commented on #6551
Example help text for "whole account" (user scoped) tokens:

![Screenshot from 2019-08-30 07-38-03](https://user-images.githubusercontent.com/3323703/63998523-3799bb00-caf9-11e9-8194-331bbc83b8e1.png)

For tokens scoped to a specific project, what would the `.pypirc` file look like and where would it be located?

I assume that users can create a `.pypirc` file in their project root directory, but

[2019-08-31 06:16] nlhkabu opened #6557 "Use `rem` instead of `em`"
introduced because of #6349

![Screenshot from 2019-08-31 07-07-05](https://user-images.githubusercontent.com/3323703/64060040-3cc13d80-cbbf-11e9-9cdd-8b3ce90da2b1.png)

[2019-08-31 15:48] kylebgorman commented on #4756
Gentle ping, any news here?

[2019-09-01 02:49] powens commented on #3338
If ya'll don't mind, I'd like to take this on :)

I hacked together two quick POCs available at: https://codesandbox.io/s/pypi-release-graph-12t7b
I'm not entirely sure what exactly you would be looking for, but I could further refine it

[2019-09-01 08:25] yeraydiazdiaz commented on #4756
Hi @kylebgorman, unfortunately I have no news as of yet, the [reachability section of PEP 541](https://www.python.org/dev/peps/pep-0541/#reachability) states that we need to try at least three times for a maximum period of six weeks since the first contact.

I've written a follow up email and I'm waiting to hear back. Once the six weeks period is over we can move forwards with your request.

[2019-09-01 10:03] rixx commented on #3338
Thank you for the POCs! Having something concrete to talk about is super helpful. I'm not sure aggregating by month is a good idea though – I'm under the impression that most months would be 0 or 1 values for most projects (this is just intuition, if anybody has data on this, that might be helpful). I think the original idea of a timeline where the release dates are marked might be more helpful, t

[2019-09-01 23:10] defeo opened #6560 "Request to add trove classifier Framework :: SageMath"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: SageMath`

## Why do you want to add this classifier?

[SageMath](http://www.sagemath.org/) is one of the most popular open source computer algebra software, used for teaching and research in Mathematics, Physics, Computer Science, and more. SageMath's interface language is Python; pip is i

[2019-09-01 23:49] powens commented on #3338
Thanks for your feedback! I think I understand the requirements a bit more, and definitely agree with you that a monthly aggregation wouldn't make sense for most projects. For some reason, I was thinking specifically of some JS projects that release new minor versions several times a week.

I've tweaked the original bar graph to show more of that barcode-style. I added django's release history for

[2019-09-02 06:08] nlhkabu commented on #6478
Closed in favour of #6473 (it is probably easier if we address these two issues together)

[2019-09-02 06:08] #6478 closed

[2019-09-02 06:15] zjjott opened #6562 "those package as the same name with standand library need be review"
**What's the problem this feature will solve?**

those package as the same name with standand library need be review
such as `test` package,when it installed,something bad thing will be happend

**Describe the solution you'd like**

the one who upload package using the same name with standand library,reviewer is need,`six` module is do a good thing

the third module  `test` pypi url: https://pypi.

[2019-09-02 16:04] brainwane commented on #6441
Yes, per [our meeting last week](https://wiki.python.org/psf/PackagingWG/2019-08-29-Warehouse), this is in the milestone, and Will says it shouldn't take too long.

[2019-09-02 16:06] brainwane commented on #1453
Update from [a meeting last week](https://wiki.python.org/psf/PackagingWG/2019-08-29-Warehouse): we are on our way to deliver tooling throughout September, and will probably start recruiting our first translators in mid-September so that we can aim for at least one complete or nearly-complete translation set (possibly French) by the end of September.

[2019-09-02 16:24] brainwane commented on #5117
Per a discussion with @ewdurbin last week:

The work we'll do on automated detection of malicious uploads will first concentrate on _finding_ malicious packages, and building the tools around that. Only after that will we be able to provide automated tools to help PyPI admins _remove_ them.

[2019-09-02 16:52] brainwane commented on #4703
Blocked on #5117.

[2019-09-02 16:53] brainwane commented on #2268
Blocked on #4998.

[2019-09-02 16:56] nlhkabu opened #6565 "Localise mirror page, terms of use"
A couple of other pages that sit outside the normal workflow:

- warehouse/static/html/mirror.html
- policies/terms.md

are these within scope for localisation @ewdurbin ?

[2019-09-02 17:01] brainwane commented on #4998
Per conversation last week: We'll be addressing this problem during [upcoming work on automated detection of malicious uploads/typosquatting](https://github.com/pypa/warehouse/milestone/16). First we'll need to develop good tools to _detect and flag_ the pytosquatting/typosquatting, _then_ we'll add tools in that pipeline for PyPI to automatically prevent/reject publication of packages that hit a

[2019-09-02 17:21] nlhkabu opened #6566 "Fix nested list on help page"
![Screenshot from 2019-09-02 18-19-58](https://user-images.githubusercontent.com/3323703/64128408-583e6b00-cdae-11e9-9970-fc1c738f6792.png)

The structure of this list is incorrect, causing a duplicate bullet.

Correct nesting: https://www.webucator.com/how-to/how-properly-nest-lists-html.cfm

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed

[2019-09-02 18:30] feastFounder opened #6567 "Can't access https://pypi.org on windows 10 pc"
## My Platform

## Network telemetry
Sorry, but I am not sure what info to put here.  The issue remains whether I attempt via wifi or ethernet, but I don't think that is what this is asking about.

### DNS Resolution

2601:240:4b00:3046:5aef:68ff:febf:423c

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

####

[2019-09-03 05:45] nlhkabu commented on #6479
Alternative: http://heydonworks.com/practical_aria_examples/#progressive-collapsibles

uses `aria-expanded` and `aria-controls`.

[2019-09-03 06:32] mgedmin commented on #6136
I think the reachability countdown has expired: two months have passed since July 2 (PEP 541 says "six weeks").

[2019-09-03 17:07] cgivre commented on #6540
@ewdurbin
I believe 7 days has passed and we've not heard anything about this.  Can you please go ahead and transfer the account to `mistercrunch`?  Thanks!

@mistercrunch

[2019-09-03 20:46] #6282 closed

[2019-09-03 20:53] #6557 closed

[2019-09-03 21:01] woodruffw commented on #6551
Project-scoped tokens look and are configured identically to user-scoped tokens, so the `.pypirc` file should look and be placed identically. The major distinction between the two will probably be in whether people use `.pypirc` frequently for project-scoped tokens, given that they're mostly useful for CI/CD and platforms like Travis provide separate configuration mechanisms.

[2019-09-03 21:01] #6479 closed

[2019-09-03 21:02] nlhkabu commented on #6312
@woodruffw what aria attributes were you recommending in your original observation?

[2019-09-03 21:09] nlhkabu commented on #6551
Just to be clear -> if I created a project-scoped token, then I would add the details of this token into a `.pypirc` file at `$HOME/.pypirc`.  Effectively, it means that I can only have one token on my local machine at any time?

E.g. I *cannot* create `.pypirc` files that correspond to each project locally (either by naming them differently, or by placing them in the project root)?

[2019-09-03 21:12] woodruffw commented on #6312
@nlhkabu I was thinking `aria-label` originally, but I've realized that doesn't make sense in this context. The other lingering issue with `humanize` instead of `localize` is that it doesn't emit semantic `<time>` elements (and doesn't include tooltips, like you already mentioned).

[2019-09-03 21:17] woodruffw commented on #6551
Ah, not exactly. You would effectively have one "default" token. If you wanted to have multiple project-scoped tokens, you could do something like this:

[code]

And then do `twine --repository whatever` to switch to the `whatever` token.

[2019-09-04 05:36] #6477 closed

[2019-09-04 05:46] nlhkabu opened #6575 "Improve tab accessibility"
For screenreader users:

Currently, on the **javascript** tabs component, there is no user feedback when a new tab is selected (and a new tab panel is displayed).

We should:

1. ~Change JS tabs to use buttons instead of links~*
1. Add `aria-selected=true` to the selected tab
1. Move the keyboard focus to the tab panel when a new tab is selected
1. Add an aria label to each tab explaining that the

[2019-09-04 05:47] #6250 closed

[2019-09-04 06:01] nlhkabu opened #6576 "Add heading to search results page"
For screenreader users:

It would be helpful to add a heading to the search results panel on the search results page - this would allow screen reader users to use the heading shortcut to skip the filter panel.

I am also wondering if it would be useful to set the `main` on this page to be the search results, and make the sidebar an `aside`.  wdyt @bmustill-rose?

[2019-09-04 06:02] nlhkabu commented on #6472
@woodruffw I have reassigned this one to you - do you think there is a workaround we can find that will not break the functionality?  If not, let's close this ticket.

Thanks :)

[2019-09-04 06:06] nlhkabu commented on #6480
Feedback from screen reader user testing:

Instead of changing the label for the tooltip when an action is completed, it would be helpful to always leave the label as it is, and instead use `aria-alert` to change the tooltip state.

FYI @bmustill-rose

[2019-09-04 06:08] nlhkabu opened #6577 "Help community members contribute to localisation"
- We should add a new GitHub issue type where community translators can request context for a specific string
- We should add a new GitHub issue type where PyPI users can report poor/incorrect translations
- We should add a section to our documentation specifically for translators

[2019-09-04 06:14] #6534 closed

[2019-09-04 06:17] nlhkabu commented on #6474
I have moved this out of the OTF milestone - I think this is a "nice to have" rather than a blocking issue.  We can move it back into the milestone if we have the time/budget.

[2019-09-04 06:29] nlhkabu commented on #6312
@bmustill-rose this is something I forgot to test with you yesterday :(

Could you tell me - what is the experience using a screenreader to read dates on PyPI?  Do you have any recommendations on how we could improve this (or websites that do this well)?

Thanks

[2019-09-04 06:30] nlhkabu commented on #3451
One thing to consider here -> some screenreader users use headings as shortcuts to quickly move around the page, so there may be some value in retaining these for those users.

[2019-09-04 06:35] nlhkabu commented on #6508
I *think* we could probably approach this issue by making https://github.com/pypa/warehouse/blob/master/warehouse/static/js/warehouse/utils/bind-modal-keys.js more generic and applying it to both the modal and the tab panel.

@woodruffw - this is probably outside of my JS abilities - would you be able to look into this?

[2019-09-04 09:36] yeraydiazdiaz opened #6578 "Docker compose "web" service fails to reload on code changes"
Recently I've been noticing the reloading of the web service errors forcing me to restart the docker compose service. Has anyone else experienced this?

Hupper enters a cycle where it can't bind to the port because it is already in use. Here are the logs:

[code]

[2019-09-04 11:45] di commented on #6578
I've noticed this too. Thanks for filing an issue about it!

[2019-09-04 13:58] woodruffw commented on #6472
Thanks!

Yeah, I *think* there should be a workaround that includes both the `<form>` and a bit of JS (similar to the bit we reverted in the last PR) to perform the proper handling. I'll take a look today.

[2019-09-05 05:25] #6377 closed

[2019-09-05 05:28] nlhkabu commented on #6551
Thanks for your feedback @woodruffw.  I'll update the text based on your feedback and we can go from there :)

[2019-09-05 06:31] nlhkabu commented on #6551
Ok, so second attempt:

## User scoped token instructions
![Screenshot from 2019-09-05 07-28-15](https://user-images.githubusercontent.com/3323703/64317237-fb5dd300-cfae-11e9-9f4d-3bd447277589.png)

## Project scoped token instructions
![Screenshot from 2019-09-05 07-29-23](https://user-images.githubusercontent.com/3323703/64317236-fb5dd300-cfae-11e9-88e0-976d97cfa53e.png)

@woodruffw can you plea

[2019-09-06 00:41] mischif opened #6591 "TestPyPI Not Accepting Packages With OSL License Classifier"
**Describe the bug**

When trying to upload a package to TestPyPI using the classifier "License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)", I receive the error below:

```HTTPError: 400 Client Error: Invalid value for classifiers. Error: 'License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)' is not a valid choice for this field for url: https://test.pypi.org/legacy/```

**Ex

[2019-09-06 05:33] kreopt commented on #4779
Hi!
I had encountered the same bug that lasts for about a week.
Any info I can provide to solve this issue?

[2019-09-06 14:28] ewdurbin commented on #4779
Hi @kreopt can you paste the logs from pip for us to review?

[2019-09-06 18:00] ewdurbin commented on #6540
Transfer complete.

[2019-09-06 18:00] #6540 closed

[2019-09-06 22:49] Schamper commented on #5939
Hi, any updates?

[2019-09-06 23:34] jamadden commented on #5939
@invisig0th [said they would respond](https://github.com/vivisect/dissect/issues/7#issuecomment-513772469) but I haven't seen a response. That's what we need next. Perhaps this tag will be a gentle reminder 😄

[2019-09-07 08:57] felix-hilden opened #6596 "PEP 541: transfer ownership of unmaintained `spotipy` package"
### Request
I'd like to transfer the ownership of the abandoned `spotipy` package ([PyPI package](https://pypi.org/project/spotipy/) and [GitHub repository](https://github.com/plamere/spotipy)) to myself ([PyPI account](https://pypi.org/user/felix-hilden/) and [GitHub repository](https://github.com/felix-hilden/spotipy)).

### Rationale
#### The package is abandoned
There is no description on the

[2019-09-07 14:38] jamadden commented on #6596
Following the link from @plamere GH profile page led to a twitter account. [I've attempted contact there](https://twitter.com/ossmkitty/status/1170344320353873921) since there hasn't been any GH activity in awhile. I've also sent an email to the address on file for the maintainers account.

[2019-09-07 21:42] felix-hilden commented on #6596
Thanks for the prompt reply! Let's see if the attempt is successful. It would certainly be nicer to be able to discuss the matter with plamere himself.

[2019-09-08 08:58] yeraydiazdiaz commented on #4917
Hello @djc, sorry for the delay in processing this request.

I will now contact the administrators to change ownership of the package to your new PyPI user.

[2019-09-08 09:04] yeraydiazdiaz commented on #4919
Hello @ekohilas, apologies for the delay in processing this request.

As you mention the package is invalid as the original owner deleted all releases in 2014.

Can you confirm your PyPI username to complete the transfer, please?

[2019-09-08 09:07] djc commented on #4917
@yeraydiazdiaz thank you!

[2019-09-08 09:12] yeraydiazdiaz commented on #4938
Hello @rhsimplex, apologies for the delay in processing this request.

The `ascribe` user is the owner of [other projects as well](https://pypi.org/user/ascribe/), the best course of action in my opinion would be to reset the password for the user to regain control over all the projects and have the owner transfer them accordingly.

Would @ttmc be able to do that? We're happy to assist in any way.

[2019-09-08 09:19] yeraydiazdiaz commented on #5002
Hello @paulmelnikow, I'm closing this issue since @MatKallada has stated his intention of keeping the project name.

[2019-09-08 09:19] #5002 closed

[2019-09-08 09:22] yeraydiazdiaz commented on #5095
Hi @gostevehoward, I will now contact the administators to transfer the project to your new PyPI user.

Btw, best project name ever 😄

[2019-09-08 09:27] yeraydiazdiaz commented on #5158
Hello @darvid, indeed the project has no releases and is thus considered invalid.

I will contact the administrators to proceed with the transfer.

[2019-09-08 09:35] yeraydiazdiaz commented on #5255
Hi @SimonDeRidder. Seems @dsrahul30 has two projects with Christofides in the title:

https://pypi.org/project/Christofides/
https://pypi.org/project/python-christofides/

The former has a higher version number than the latter which seems to match the GitHub repository. Could you confirm which of the two you would like to take ownership of?

In the meantime I will email @@dsrahul30 to try and clar

[2019-09-08 10:02] yeraydiazdiaz commented on #5365
Hi @rcurtin, apologies for the delay in processing this request.

I believe GitHub user @scipsycho is the owner of the package and this is the [repo](https://github.com/scipsycho/mlpack) though it doesn't seem to match the current release in PyPI.

@scipsycho could you clarify your position regarding this project? Would you consider transferring ownership to @rcurtin?

[2019-09-08 14:17] di opened #6597 "Misformatted "newer version" button on narrow screens"
If the viewport is narrow enough to cause wrapping on the "newer version available" button, it will become misformatted:

<img width="1124" alt="Screen Shot 2019-09-08 at 10 14 42 AM" src="https://user-images.githubusercontent.com/294415/64489481-b7263900-d221-11e9-8521-e429c532b8b1.png">

You can see this at https://pypi.org/project/pytype/0.2/ with a sufficiently narrow screen.

[2019-09-08 15:25] ekohilas commented on #4919
Hi @yeraydiazdiaz, thank you for your reply!

My pypi username is `ekohilas`,
apologies for not including it earlier.

Cheers,
Evan.

[2019-09-08 15:31] rcurtin commented on #5365
Hi @yeraydiazdiaz, I tried making contact quite some time ago and never heard back.  I considered the package abandoned.

[2019-09-08 15:54] yeraydiazdiaz commented on #5365
I understand @rcurtin. Moderators need to make contact in an "official" capacity though, sometimes can be more receptive to us. Hopefully we'll get a response soon.

[2019-09-08 15:57] brainwane commented on #6050
Contractors on the OTF-funded work need to stop work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this is necessary to get us out of beta for this feature https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931 , I'm removing it from the milestone.

[2019-09-08 15:58] brainwane commented on #6211
Contractors on the OTF-funded work need to stop work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this is necessary to get us out of beta for this feature https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931 , I'm removing it from the milestone.

[2019-09-08 15:58] brainwane commented on #6232
Contractors on the OTF-funded work need to stop work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this is necessary to get us out of beta for this feature https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931 , I'm removing it from the milestone.

[2019-09-08 15:59] brainwane commented on #6441
Contractors on the OTF-funded work need to de-prioritize work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this is a great feature to have, and I understand Will might still complete it this month, I'm removing it from the milestone.

[2019-09-08 15:59] brainwane commented on #5825
Contractors on the OTF-funded work need to stop work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this is necessary to get us out of beta for this feature https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931 , I'm removing it from the milestone.

[2019-09-08 16:00] brainwane commented on #6551
Contractors on the OTF-funded work need to deprioritize work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, while this would be great to resolve and I recognize that Nicole may still complete it, I'm removing it from the milestone.

[2019-09-08 16:01] brainwane commented on #5661
Contractors on the OTF-funded work need to stop/deprioritize work on the security features in order to ensure we complete the accessibility and internationalization work by the end of the month. Therefore, even though some security features are still in beta, I'm [closing the milestone](https://github.com/pypa/warehouse/milestone/13).

[2019-09-08 23:31] merwok commented on #5371
The PR linked does not actually fix the links added in #3583

Could someone reopen this ticket?

[2019-09-09 02:32] kreopt commented on #4779
[code]

[2019-09-09 07:20] HangJie720 opened #6599 "HTTPError: 400 Client Error: Binary wheel 'tensorflow_tflex-1.13.1rc1-cp27-cp27mu-linux_aarch64.whl' has an unsupported platform tag 'linux_aarch64'. for url: https://upload.pypi.org/legacy/"
Q1: Execuse me, I want to know why `linux_aarch64` tag is unsupported for uploading?
Q2:Our self-compiled `tensorflow_tflex-1.13.1rc1-cp27-cp27mu-manylinux1_aarch64.whl` cannot be installed by pip on my arm dev board. what is the difference between `linux` and `manylinux1`?
Could you help me upload the `tensorflow_tflex-1.13.1rc1-cp27-cp27mu-linux_aarch64.whl`, and then installed by pip on arm dev

[2019-09-09 11:42] jamadden commented on #6599
The [manylinux1 platform tag](https://www.python.org/dev/peps/pep-0513/) was defined by PEP 513 as a standard for distributing 32 and 64-bit binaries for Intel processors, only.

There is no such standard (yet) for ARM processors.

PyPI only accepts uploads of standardized distributions. Platform tags that are not standard, such as `linux__aarch64` for ARM are unlikely to work for users not using

[2019-09-09 11:42] #6599 closed

[2019-09-09 19:50] di commented on #4408
After giving this some thought, I'm going to close this because I think it should be opt-in and I think the usage would be quite low.

[2019-09-09 19:50] #4408 closed

[2019-09-09 19:52] di commented on #4703
Not necessarily, we manually remove malicious packages sometimes and the ability to automatically detect malicious packages shouldn't prevent us from publishing which packages we've manually taken down.

[2019-09-09 19:54] di commented on #4703
#4962 mostly implements the first step towards this, but wasn't finished.

[2019-09-09 20:51] brainwane commented on #6255
@rcipkins -- how is this going?

[2019-09-09 21:04] gostevehoward commented on #5095
Thank you so much for your help @yeraydiazdiaz !

[2019-09-10 05:36] #6576 closed

[2019-09-10 06:16] kreopt commented on #4779
Looks like it was DNS problem. Sorry for bothering:)

[2019-09-10 14:17] rcipkins commented on #6255
@brainwane I am almost finished, I just need to fix a couple things and add tests!

[2019-09-10 15:16] brainwane commented on #6255
@rcipkins - Great to hear!

It's a good idea to push your branch to your GitHub fork and start a "work in progress" ("WIP") pull request. That way:

* in case your computer breaks or is lost/stolen, you haven't lost your progress
* other people can easily see that you're working on the issue, and avoid accidentally duplicating your effort
* it's easy to ask "am I on the right track?" questions abo

[2019-09-10 16:42] #6472 closed

[2019-09-10 16:46] jschneier opened #6605 "Request trove classifier: Django 3.0"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `'Framework :: Django :: 3.0'`

## Why do you want to add this classifier?

Django 3.0 alpha was released today. See: https://www.djangoproject.com/weblog/2019/sep/10/django-30-alpha-1-released/

[2019-09-10 16:55] nlhkabu opened #6606 "Fill API token form when user arrives from manage project page"
## Current workflow:

1. User visits 'project settings' page in the PyPI admin
2. User clicks on a link to create an API token for the project in question
3. User arrives on 'create API token' page in their account settings

## Ideal workflow:

1. User visits 'project settings' page in the PyPI admin
2. User clicks on a link to create an API token for the project in question
3. User arrives on 'cr

[2019-09-10 17:24] #6575 closed

[2019-09-10 20:44] rcipkins commented on #6255
Done! Thank you so much!

[2019-09-11 14:20] woodruffw commented on #1453
For tracking purposes: #6535 contains the localization skeleton and initial tagging of translatable strings in views.

[2019-09-11 14:24] woodruffw commented on #5982
For tracking purposes: #6535 uses `pyramid.i18n` and `pybabel` as its localization framework.

[2019-09-11 14:25] woodruffw commented on #5985
For tracking purposes: Weblate is currently the chief candidate among translation platforms.

[2019-09-11 19:07] mstupak opened #6620 "PyPI not really pure python"
Since PyPI requires Numpy and SciPy, calling PyPI a "pure python" implementation is a bit of a misnomer. Both Numpy and SciPy make heavy use of "C" code. Anybody searching for a "pure java" will be looking for functions that they can run in an environment (such as jython) that does not require "C" or other non-"truly pure python" implementations. I would suggest removing the "pure python" vocabula

[2019-09-11 19:18] di commented on #6620
Hi @mstupak. Are you confusing PyPI ("The Python Package Index") with [pypy](https://bitbucket.org/pypy/pypy/) (self-hosting Python)?

[2019-09-11 19:51] mstupak commented on #6620
Thanks @di ! Obviously I got a little crazy following links and ended up in an unintended repository.

[2019-09-11 19:51] #6620 closed

[2019-09-11 20:00] #6566 closed

[2019-09-11 20:10] nlhkabu commented on #6455
Reassigned this ticket to @woodruffw as I am done on my side (HTML, SCSS), it just needs to be hooked up appropriately.

[2019-09-12 05:40] nlhkabu commented on #6565
ping @brainwane - any idea on the above? thanks

[2019-09-12 05:40] nlhkabu commented on #6550
@ewdurbin what would be the next steps here?
FYI @woodruffw

[2019-09-12 20:18] matthiaskoenig opened #6628 "File size limit increase request"
Could you please increase the file size limit for
https://pypi.org/project/brendapy/
https://github.com/matthiaskoenig/brendapy
I have to package some large resources with the bundle making the pypi release ~120MB.

[2019-09-13 08:56] matthiaskoenig commented on #6628
I could reduce the package size by loading online resources during runtime. Issue solved.

[2019-09-13 08:56] #6628 closed

[2019-09-13 10:13] calvin commented on #5714
What would be the notification medium? Email?

[2019-09-13 10:44] bmustill-rose commented on #6312
Apologies for the delay.

They seem fine (as in they read as I'd expect them to having looked at the code) although you shouldn't need to set an aria-label if the information you want spoken is the same information that's surfaced to sighted users. Aria-label is mainly useful in scenarios where a text label isn't available or for whatever reason you want the screen reader to speak something differ

[2019-09-13 11:46] cool-RR commented on #5800
Guys, I currently can't log in to my PyPI account because for some reason, my TOTP codes aren't being accepted. If I had recovery codes, I'd be good, but I'm currently locked out of my account. I maintain a popular open-source project so this is kind of a problem. Besides implementing recovery codes, can anyone help me regain control of my account?

[2019-09-13 14:12] vishleshpatel commented on #5714
@calvin email shall be sufficient. Even better if SMS can be added too.

[2019-09-13 15:29] gregschmit commented on #6364
I still haven't gotten a response on the issue I raised on their GitHub (https://github.com/regisec/django-rest-scaffold/issues/1) and they haven't replied to my email either. Could I be assigned to that PyPI project? My username is `gregschmit`.

[2019-09-13 16:11] brainwane opened #6630 "need account recovery"
Guys, I currently can't log in to my PyPI account because for some reason, my TOTP codes aren't being accepted. If I had recovery codes, I'd be good, but I'm currently locked out of my account. I maintain a popular open-source project so this is kind of a problem. Besides implementing recovery codes, can anyone help me regain control of my account?

_Originally posted by @cool-RR in https://github

[2019-09-13 16:12] brainwane commented on #6630
@cool-RR thanks for the heads-up and sorry that we haven't received support or funding yet to implement recovery codes! Making a new support ticket here so one of us can help you.

[2019-09-13 16:13] brainwane commented on #6630
@cool-RR what is your PyPI.org username?

[2019-09-13 16:15] cool-RR commented on #6630
It's coolRR. Thanks!

[2019-09-13 16:25] ewdurbin commented on #6630
hi @cool-RR, please email ernest@python.org. ensure that you're sending the email from the primary verified email address associated with your PyPI account.

[2019-09-13 17:15] ewdurbin commented on #6630
project ownership verified for three projects owned by the PyPI user. totp disabled and password reset issued.

[2019-09-13 17:15] #6630 closed

[2019-09-13 17:16] cool-RR commented on #6630
Thank you Ernest and Sumana!

On Fri, Sep 13, 2019 at 8:16 PM Ernest W. Durbin III <
notifications@github.com> wrote:

[2019-09-13 18:18] nlhkabu opened #6631 "Define translation workflow / policy"
We need to answer the following questions:

1. What happens with translations when we update the (English) source?
1. When do we consider a language to be 'supported' and link to it from the PyPI footer?
1. What happens if a language is no longer maintained?

My 2c:

## Updating English source

First, we need to reach out to the community to register maintainers for each language.
When we update t

[2019-09-14 02:56] #5689 closed

[2019-09-14 13:01] calvin commented on #5714
Scope:
 - Send a email notification to all collaborators when new version of the package is uploaded.
 - Send a email notification to all collaborators when a version is deleted.
 - Send a email notification to all collaborators when a file from a version is deleted.
 - Send a email notification to all collaborators when the project is deleted.

[2019-09-14 15:51] castleguarders opened #6633 "Pypi package size limit increase for CamAi"
Hi. I'm requesting a size limit increase of the PyPI package CamAi's wheels to 300MiB. The most trimmed down version stands at 260MiB right now, and once a few features are enabled in the near future, it will go to 450MB. Ideally it would be good to have the limit at 500MiB to avoid another request in the next few months.

The CamAi package uses deep learned models to do security and event monitor

[2019-09-14 16:47] isidentical commented on #6327
(As the owner of `perf` on pypi) i can transfer the package name. Just ping me at `isidentical@gmail.com`.

[2019-09-14 16:48] nlhkabu opened #6634 "Missing test for project detail page (template failure)"
## Problem
When updating the templates for the project detail page (e.g. https://pypi.org/project/python-ecobee-api/) I was getting a Jinja template exception from the project data include (`warehouse/templates/includes/packaging/project-data.html`)

This was *not* being picked up by running the PyPI unit tests.

## Proposed solution
We should add a unit test to check the appropriate rendering of

[2019-09-14 16:51] isidentical commented on #6327
I deleted the `perf` on `pypi` so it is open to claim now.

[2019-09-14 17:06] nlhkabu opened #6635 "Reduce font size of package-snippet__released"
## Problem

The date on the search results is too large:

![Screenshot from 2019-09-14 17-58-30](https://user-images.githubusercontent.com/3323703/64911454-ddfcd780-d719-11e9-90dd-1cc0662cfb40.png)

## Solution

Add `font-size: 1rem;` to `package-snippet__released` style.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on

[2019-09-14 17:32] scipsycho commented on #5365
Hi,
I am sorry but I was out of station for a while. Yes, I am the owner of the package `mlpack`.  As far as the position goes, I am currently making the package for myself. Why do you need the ownership of this package?

Regards,
Dharmesh Singh

On 08-Sep-2019, at 9:24 PM, Yeray Diaz Diaz <notifications@github.com<mailto:notifications@github.com>> wrote:

I understand @rcurtin<https://github.com/

[2019-09-14 18:04] rcurtin commented on #5365
Hey @scipsycho, thanks for responding!  Our library mlpack (https://mlpack.org/) has been one of the primary C++ machine learning libraries since 2007.  Recently we have added Python bindings, and making these easy to install via `pip` is really important for us and our users.  Right now they have to do `pip install mlpack3`, and we regularly get issues opened where someone did `pip install mlpack

[2019-09-14 18:14] nlhkabu opened #6636 "Test emails are sent (test email templates)"
As part of https://github.com/pypa/warehouse/pull/6598, we have updated the email templates.

I have found that several errors in the templates were not automatically caught by our test suite, including when those errors prevented the email from being sent.

For this particular PR, I will manually test all emails, _however_, it would be nice to put in place automated tests that catch any email tem

[2019-09-14 19:05] nlhkabu opened #6637 "Send 'password change' email when a user changes their password via the reset workflow"
## Current behaviour

An email (`warehouse/templates/email/password-change`) is sent to a user when they reset their password via their account settings page (assuming their email is verified)

##  Requested behaviour

The email should be sent to the user:

- When they reset their password via their account settings page **and**
- When they reset their password via the password reset workflow

---

[2019-09-14 19:14] nlhkabu commented on #6637
This issue was incorrect -> the email is sending, but only when the password is changed via the 'manage account' page, *not* when it is reset via the

[2019-09-14 20:07] di commented on #6637
I've added the "good first issue" label to this issue. Looks like we need to add something like:

https://github.com/pypa/warehouse/blob/30f2389b27f0d57462e03c23c3126ff707daf8dd/warehouse/manage/views.py#L303

here: https://github.com/pypa/warehouse/blob/30f2389b27f0d57462e03c23c3126ff707daf8dd/warehouse/accounts/views.py#L518-L529

Plus updated tests.

[2019-09-15 10:27] #5984 closed

[2019-09-15 11:04] nlhkabu commented on #3838
Closing in favour of #6482

[2019-09-15 11:04] #3838 closed

[2019-09-15 15:35] scipsycho commented on #5365
Oh! Fine by me. If it helps you, why not. So, what’s the procedure? I would change the name to `mlpackage` then.

Regards,
Dharmesh Singh

On 14-Sep-2019, at 11:34 PM, Ryan Curtin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @scipsycho<https://github.com/scipsycho>, thanks for responding! Our library mlpack (https://mlpack.org/) has been one of the primary C++ machine le

[2019-09-16 03:41] di commented on #5365
Thanks for understanding @scipsycho! Since it's not possible to rename a project, we'll have to transfer `mlpack` to @rcurtin, and you'll have to register `mlpackage` as a new project whenever you're ready to publish it.

@rcurtin, What's your username on PyPI?

[2019-09-16 05:38] nlhkabu commented on #6312
Thanks @bmustill-rose.  Note: we should complete https://github.com/pypa/warehouse/issues/6480 before this ticket, to ensure our tooltips are accessible.

[2019-09-16 14:18] revmischa commented on #6153
Still no response. Possible to take this over?

[2019-09-16 14:54] scipsycho commented on #5365
Sure. No problem. I will create a new package.

On 16-Sep-2019, at 9:11 AM, Dustin Ingram <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for understanding @scipsycho<https://github.com/scipsycho>! Since it's not possible to rename a project, we'll have to transfer mlpack to @rcurtin<https://github.com/rcurtin>, and you'll have to register mlpackage as a new project when

[2019-09-16 18:29] #6473 closed

[2019-09-16 19:28] webknjaz opened #6640 "Warehouse logo usage guidelines page with links to SVGs"
**What's the problem this feature will solve?**

People will know how to properly use the Warehouse logos.

**Describe the solution you'd like**

A separate web-page under pypi.org having a style guide and usage conditions wrt the Warehouse logo.
Something like https://www.redhat.com/en/about/brand/standards/logo or https://www.python.org/community/logos/.

**Additional context**

* I want to have

[2019-09-16 19:49] loechel opened #6641 "new Trove classifier request "Framework :: Zope :: 5""
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Zope :: 5`

## Why do you want to add this classifier?

The Plone Foundation as Owner and Maintainer of the Zope Projects requests a new Trove Classifier for the next Major Version of The Zope Application Server. Zope 5 is a Major Release as Python 2 Support is stripped out.

[2019-09-16 19:53] ewdurbin commented on #6641
Added to both test.pypi.org and PyPI.org

[2019-09-16 19:53] #6641 closed

[2019-09-16 20:46] schelleg opened #6645 "PEP 541: transfer ownership of unmaintained `pynq` package"
### Request

I'd like to transfer the ownership of the abandoned `pynq` package ([PyPI](https://pypi.org/project/pynq/)) to myself ([PyPI account](https://pypi.org/user/schelleg/) and [GitHub repository](https://github.com/Xilinx/PYNQ)).  The last release of the current PYPI project was 10 years ago in 2009.  The current PYPI pynq-package's [project homepage](http://www.pynq.org/) is now owned by

[2019-09-16 22:06] CAM-Gerlach commented on #2285
Is there a particular reason this was never done? Even as a moderately experienced Python dev involved in a number of open-source projects, but who hadn't gone back and referenced the packaging guide much since the Warehouse transition and hadn't done a lot of release management lately, until I read this issue I was rather confused with the API naming when skimming over the [basic packaging tutori

[2019-09-16 23:05] bpabel commented on #5689
@timkpaine Why did you close this?  It doesn't look like it was resolved?

[2019-09-16 23:06] timkpaine commented on #5689
I don't care anymore. Someone else can deal with it.

[2019-09-17 06:22] nlhkabu commented on #6480
Based on my research:

Tooltips are notoriously difficult to make accessible, particularly for people on touch devices (because the rely on hover events).

For this reason, they should never be used for _essential_ information (only supplementary content).

Plan of attack:

- Maintain the tooltip for the 'copy to clipboard' and 'copied' interaction.  Do not use `aria-label` to define the content o

[2019-09-17 08:57] yeraydiazdiaz commented on #5365
@scipsycho just to be clear, you will need to add PyPI user `rcurtin` as an owner of `mlpack` in [its collaboration page](https://pypi.org/manage/project/mlpack/collaboration/). Then you can remove yourself from the project or alternatively @rcurtin may do so as well.

[2019-09-17 08:59] scipsycho commented on #5365
Oh, I thought you guys could do it. I will do it but it may take a couple of days as I am out of station.

On 17-Sep-2019, at 2:27 PM, Yeray Diaz Diaz <notifications@github.com<mailto:notifications@github.com>> wrote:

@scipsycho<https://github.com/scipsycho> just to be clear, you will need to add PyPI user rcurtin as an owner of mlpack in its collaboration page<https://pypi.org/manage/project/mlp

[2019-09-17 09:00] yeraydiazdiaz commented on #5365
Admins can, but we prefer users to perform these operations themselves to reduce the burden on volunteers. :)

[2019-09-17 11:45] yeraydiazdiaz commented on #6327
Thanks, @isidentical. @daurnimator @gregschmit are you in a position to upload the package or contact someone who could?

[2019-09-17 12:33] rcurtin commented on #5365
@scipsycho thanks so much---this will make life a lot easier for our users. :+1:  My PyPI username is `rcurtin`; let me know if there's anything I can help with.

[2019-09-18 03:14] Mng12345 opened #6651 "Could not find a version that satisfies the requirement pymvn0.0.6"
I have uploaded my own package 'pymvn' with version 0.0.6, but the latest version of this package is still 0.0.4. And i can not found the 0.0.6 version of the package in page https://pypi.org/project/pymvn/, but in https://pypi.org/project/pymvn/0.0.6! Can anyone tell me why this happened!!!

[2019-09-18 03:35] Mng12345 commented on #6651
I am very confused now, i can found the 0.0.6 version of pymvn in item manage project, but i can not install this package by pip even with pymvn==0.0.6!

[2019-09-18 05:57] ashleysommer opened #6652 "Stale cache?"
I uploaded a new version of Sanic-Restplus approx 35 minutes ago, its not showing at https://pypi.org/project/sanic-restplus/ however the test-pypi shows it fine: https://test.pypi.org/project/sanic-restplus

[2019-09-18 06:29] gideonmanurung opened #6654 "Still find the same project name after delete the last project"
**Describe the bug**

Before i delete the project , i have upload the lastest version and successfull to upload. I have found the lastest version in dashboard , but when i try to install by pip i get the previous version of the project. So i delete the project and reupload to make e new project , but got an error because the previous name project that i delete still can found in pypi but i didn't

[2019-09-18 06:44] samamorgan opened #6655 "Verification email not being sent"
**Describe the bug**
Verification emails are not being sent to multiple addresses I've tried on my new account

**Expected behavior**
I expect to receive an email

**To Reproduce**
I go to Account Settings > Account Emails > Options > Resend verification email

I see the f"Verification email for {email} resent" message at the top of the window. No email is ever received. I have of course checked s

[2019-09-18 08:17] apogoreliy opened #6656 "Not all project versions present in a release history"
Hello! I faced an situation when i can't find all uploaded project versions.
It's strange because i have all the uploaded versions on https://pypi.org/manage/project/sqlbak/releases/ page but miss some last versions at https://pypi.org/project/sqlbak/#history page, so i can't install it.
Could someone please help me?

[2019-09-18 08:22] ashleysommer commented on #6656
Something going on with the pypi warehouse right now. Seems versions aren't updating.
Related to this Issue: https://github.com/pypa/warehouse/issues/6652
And emails not being sent:
https://github.com/pypa/warehouse/issues/6655
Maybe some kind of job-runner has stopped processing.

[2019-09-18 08:26] apogoreliy commented on #6656
Thank you much for a response ashleysommer. so, should we wait?

[2019-09-18 08:34] apogoreliy commented on #6651
It seems i faced the same problem. I created an issue. And receive an response:

Something going on with the pypi warehouse right now. Seems versions aren't updating.
Related to this Issue: #6652
And emails not being sent:
#6655
Maybe some kind of job-runner has stopped processing.

[2019-09-18 08:41] Mng12345 commented on #6652
I just found the version of my package is updated! May be the system is delayed for handling all uploaded packages #6651

[2019-09-18 09:45] eamonnfaherty commented on #6652
I am seeing this for a project I maintain.

[2019-09-18 09:50] ewdurbin commented on #6651
PyPI's asynchronous job queue saw a backup beginning around 09-17-2019 21:28:00 UTC due to a large influx of messages. The worker pool has been temporarily expanded to process the remaining messages and we'll be investigating what caused the influx. Messages should be up to date within an hour, and all backlogged emails and cache purges should be complete.

[2019-09-18 09:51] ewdurbin commented on #6652
PyPI's asynchronous job queue saw a backup beginning around 09-17-2019 21:28:00 UTC due to a large influx of messages. The worker pool has been temporarily expanded to process the remaining messages and we'll be investigating what caused the influx. Messages should be up to date within an hour, and all backlogged emails and cache purges should be complete.

[2019-09-18 09:53] ewdurbin commented on #6654
PyPI does not allow reuse of existing file names, you must reupload with a new version to recreate your project. https://pypi.org/help/#file-name-reuse

pip was not able to see your file due to PyPI's asynchronous job queue seeing a backup beginning around 09-17-2019 21:28:00 UTC due to a large influx of messages. The worker pool has been temporarily expanded to process the remaining messages and

[2019-09-18 09:53] ewdurbin commented on #6655
PyPI's asynchronous job queue saw a backup beginning around 09-17-2019 21:28:00 UTC due to a large influx of messages. The worker pool has been temporarily expanded to process the remaining messages and we'll be investigating what caused the influx. Messages should be up to date within an hour, and all backlogged emails and cache purges should be complete.

[2019-09-18 09:54] ewdurbin commented on #6656
PyPI's asynchronous job queue saw a backup beginning around 09-17-2019 21:28:00 UTC due to a large influx of messages. The worker pool has been temporarily expanded to process the remaining messages and we'll be investigating what caused the influx. Messages should be up to date within an hour, and all backlogged emails and cache purges should be complete.

[2019-09-18 10:09] gideonmanurung commented on #6654
So i can reupload to make a new version of my project even i have delete my project right ? @ewdurbin

[2019-09-18 10:36] apogoreliy commented on #6656
It's work. Thank you.

[2019-09-18 10:36] #6656 closed

[2019-09-18 12:38] ewdurbin commented on #6651
The queue has cleared. If you're still experiencing this please reopen this issue.

[2019-09-18 12:38] #6651 closed

[2019-09-18 12:39] ewdurbin commented on #6652
The queue has cleared. If you're still experiencing this please reopen this issue.

[2019-09-18 12:39] #6652 closed

[2019-09-18 12:39] ewdurbin commented on #6654
@gideonmanurung yes, you can recreate the project by incrementing the version and reuploading.

[2019-09-18 12:39] ewdurbin commented on #6654
The queue has cleared. If you're still experiencing issues with pip seeing your project please reopen this issue.

[2019-09-18 12:39] #6654 closed

[2019-09-18 12:39] ewdurbin commented on #6655
The queue has cleared. If you're still experiencing this please reopen this issue.

[2019-09-18 12:39] #6655 closed

[2019-09-18 14:38] mit1280 commented on #4079
PyPI only renders rst(reStructuredText) file so if you have README.md then you have to convert into README.rst file after that you will be able to upload the file on PyPI.

Refer below site for install pandoc:
[https://pandoc.org/installing.html]

 run below command for convert file into **.rst** file
`python setup.py sdist`
`pandoc --from=markdown --to=rst --output=README.rst README.md`

check wh

[2019-09-18 14:53] mit1280 commented on #4057
This is due to uploading the same file more than ones. If you will change version or name of tar file then you will be able to upload your file on PyPI. Before that make sure that in **dist/** you have only one file which is you wanna upload.

if you use mac then you can see files present in dist folder using below command:

write-in terminal
`ls dist/`

if you want to remove any file from that fo

[2019-09-18 15:42] gideonmanurung commented on #6654
Thank you @ewdurbin , the bug has solved.

[2019-09-18 16:06] jamadden commented on #4079
PyPI has [supported markdown](https://packaging.python.org/guides/distributing-packages-using-setuptools/#readme-rst-readme-md) long descriptions [since March 2018](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi/), so there's no need to convert.

[2019-09-18 17:15] jamadden commented on #6427
The upload limit has been set to 100MB on pypi.org.

[2019-09-18 17:15] #6427 closed

[2019-09-18 17:44] jamadden commented on #6413
As a moderator, I've attempted to contact the user via GitHub and email. The email address we have on file has not been verified and there hasn't been any activity on GitHub or PyPI from the corresponding accounts in some time.

[2019-09-18 17:48] jamadden commented on #6410
Hi! Thanks for the well written request. I suspect the classifiers being requested need to be in the `Framework` namespace, i.e., `Framework :: SciPy :: scikit-learn`. The PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse,

[2019-09-18 17:49] jamadden commented on #6241
The upload limit for minerl has been set to 100MB on pypi.org.

[2019-09-18 17:49] #6241 closed

[2019-09-18 19:10] xiaoxu193 commented on #6413
Hello, if you would like, I can add you as a collaborator to this project on Github: https://github.com/xiaoxu193/PyTeaser

[2019-09-18 19:18] verhovsky commented on #6413
Yes please. Can you also let me push updates to PyPI please? https://pypi.org/user/verhovsky

[2019-09-18 19:58] Rohithpokala opened #6659 "module for ethernet cable based RFID reader"
**What's the problem this feature will solve?**
this feature will resolve the issue of reading data from an ethernet cable based RFID reader

**Describe the solution you'd like**
the most common module available in python is mfrc522, but if we want to use another reader this module doesn't work.

**Additional context**
The reader which I am using is rrhfoem04, but try to develop a generic module f

[2019-09-18 20:01] jamadden commented on #6659
Hi @Rohithpokala ! This issue tracker is for the software that runs pypi.org itself. It cannot help with the packages that are installable from there. If existing packages don't meet your needs, perhaps you can collaborate with their authors using their repositories to make improvements.

[2019-09-18 20:01] #6659 closed

[2019-09-18 20:03] nlhkabu commented on #6312
I've been looking over this and believe this is the best strategy to move forward:

- Make all dates use the same macro
  - Allow devs to disable/enable 'relative time' (e.g. "2 hours ago") via the macro parameters
  - Allow devs to show/hide the time (again, via the macro parameters)
- As per the current behaviour, only make dates relative when within the limit of the current day (e.g. "today", "

[2019-09-18 21:12] jamadden commented on #6659
Check the links on the pypi project page, or do a web search.

[2019-09-18 21:52] verhovsky opened #6660 "PEP 541: transfer "PIL" to "Pillow" maintainers"
[Pillow](https://pypi.org/project/Pillow/) is a fork of the Python Imaging Library, [PIL](https://pypi.org/project/PIL/).

Pillow is installed as `pip install pillow` but imported as `from PIL import Image`. This mismatch causes confusion for users, [this Stack Overflow question](https://stackoverflow.com/questions/8863917/importerror-no-module-named-pil) about an `ImportError: No module named PIL

[2019-09-18 22:33] jamadden commented on #6660
I've emailed the address  we have on file for the sole owner account; that address isn't verified.

Based on public information, I believe that account belongs to [a well-known](https://wiki.python.org/moin/FredrikLundh) Python developer [and author](https://www.oreilly.com/pub/au/654); the most recent CPython commit from that person appears to be [from 2006](https://github.com/python/cpython/comm

[2019-09-19 07:53] jktjkt commented on #6049
Hi there, can I do something to get the maintainer access to the `gnpy` package at pypi?

[2019-09-19 10:59] rhsimplex commented on #4938
I believe the access keys have been lost and the original maintainer of the ascribe organization is long gone, @ttmc can you confirm?

[2019-09-19 12:44] di commented on #5365
I've added `rcurtain` as an owner of `mlpack`.

[2019-09-19 12:44] #5365 closed

[2019-09-19 12:46] di commented on #5365
(Sorry, typo in the previous comment, `rcurtin` was added not `rcurtain`)

[2019-09-19 21:38] rcipkins commented on #6396
I will be working on this issue next!

[2019-09-20 05:29] nlhkabu commented on #6640
@ewdurbin I believe the PSF was in the process, or have already, placed a trademark on the PyPI logo.  Could you please look into this and let me know the best next steps?

Thanks

[2019-09-20 05:46] #6480 closed

[2019-09-20 05:54] #6312 closed

[2019-09-20 05:56] nlhkabu commented on #5985
Closing this as we have integrated Weblate in #6535

[2019-09-20 05:56] #5985 closed

[2019-09-20 05:57] nlhkabu commented on #5982
Closing this as #6535 is now merged

[2019-09-20 05:57] #5982 closed

[2019-09-20 05:58] nlhkabu commented on #5986
Closing as per #6535

[2019-09-20 05:58] #5986 closed

[2019-09-20 05:59] nlhkabu commented on #1453
Closing as per #6535 .  I will open a new ticket for reaching out to community members for translations

[2019-09-20 05:59] #1453 closed

[2019-09-20 06:01] nlhkabu opened #6672 "Reach out to community for PyPI translations"
Groups to contact:

- OTF's Localization Lab which is ["looking for translators and projects!"](https://www.opentech.fund/labs/localization-lab/)

- [The PSF's Translation WG](https://wiki.python.org/psf/TranslationWG) which aims to do translations for Python & Python documentation in general.

[2019-09-20 06:05] nlhkabu opened #6673 "Localise JS strings"
Now that we have l10n support, we need to review our JS files and mark any strings for translation.

[2019-09-20 22:05] ngoldbaum opened #6676 ""Confirm username" modal is case-sensitive"
When I try to turn off 2FA on my pypi account, after I am prompted to enter my username, the option to "remove application" on the warehouse web interface is grayed out. Unfortunately since I am changing phones today that means that I'll be locked out of my pypi account once my old phone is gone. It would be great if one of the warehouse maintainers could work with me to restore access to my accou

[2019-09-21 00:17] di commented on #6676
@ngoldbaum Just to confirm, you're attempting to remove an authentication application (TOTP) and not a security device (WebAuthn), correct?

Can you include a screenshot of what you're seeing? Also can you check your Javascript console for any errors?

[2019-09-21 00:29] ngoldbaum commented on #6676
I’ll try but unfortunately I’ve already moved my phone and no longer have access to the old TOTP app so I may be locked out of my account.

[2019-09-21 03:06] ngoldbaum commented on #6676
It looks like my session hasn't expired, see below:

![image](https://user-images.githubusercontent.com/3126246/65367156-70a1e880-dbea-11e9-99e6-37fd3c923125.png)

[2019-09-21 03:19] di commented on #6676
Looks like this might be case-sensitive, can you try `Nathan.Goldbaum` instead?

[2019-09-21 15:03] ngoldbaum commented on #6676
Argh, I think that was the issue. Unfortunately I'm locked out of my account now :/

Is there some way for a pypa admin to manually disable 2FA on my account? I'm happy to prove I'm me somehow :)

[2019-09-21 17:21] jaraco commented on #6338
This problem isn't unique to you. I've encountered it in a couple of projects myself. It [seems some projects in Travis have a 128-byte key](https://github.com/travis-ci/travis.rb/issues/221#issuecomment-523709227) while others a 512-byte key (and maybe others with another length). The only recommended solution seems to be "[don't use encrypted values in config](https://github.com/travis-ci/dpl/is

[2019-09-21 17:25] jaraco commented on #6338
I don't see how this is a duplicate of that issue. That issue discussed the escaping of values (`@token` and `pypi:`), both of which were changed to avoid those issues.

This issue is about how Travis config refuses to encrypt the value for certain projects, which was reported upstream in travis-ci/travis.rb#221, but the recommendation is to avoid using that feature.

[2019-09-21 17:32] jaraco commented on #6355
How does one do that? I did a search and stumbled on travis-ci/travis.rb#100, which indicates that the key length is 128 bytes. Apparently that was increased to 512 at some point, but there's no mention of that in the ticket.

I've also encountered this issue and discovered a [clear disparity in key length between projects](https://github.com/travis-ci/travis.rb/issues/221#issuecomment-523709227).

[2019-09-21 17:35] jaraco commented on #6338
Although #6355 is a duplicate of this issue, the conversation is continuing there.

[2019-09-22 12:29] #6551 closed

[2019-09-22 14:01] nlhkabu commented on #6631
Note, once this workflow is decided, we should document it in the Warehouse docs.  I have added a basic translations page in https://github.com/pypa/warehouse/pull/6681.

[2019-09-22 14:12] nlhkabu opened #6682 "Poor formatting of `select` on Firefox"
**Describe the bug**
Poor formatting of `select` on Firefox

![Screenshot from 2019-09-22 15-07-57](https://user-images.githubusercontent.com/3323703/65389164-e9b85180-dd4a-11e9-8aa4-f1563f6f5d52.png)

**Expected behavior**
Text and dropdown button take up the entire height of the select

**To Reproduce**
Visit the search results page

**My Platform**
* firefix 68.0.2 (64-bit)

[2019-09-22 14:14] nlhkabu commented on #6676
ping @ewdurbin for 2FA support

FYI @ngoldbaum, you (or other users) should not experience the same issue again, as we are replacing the 'confirm username' functionality with asking users to enter their password in #6408

[2019-09-22 17:25] taleinat opened #6683 "Support for properly displaying the site translated to RTL languages"
**What's the problem this feature will solve?**
Display PyPI.org propely when translated to RTL languages such as Arabic, Farsi and Hebrew.

**Describe the solution you'd like**
I can't suggest a specific technical solution, since I'm not familiar with the website's design and implementation.

**Additional context**
The context is the recent work on translation into additional languages.

[2019-09-22 18:00] pchtsp commented on #3417
I'm sorry to highjack this thread but I'm going crazy trying to manually add a redirect on our old docs (https://pythonhosted.org/PuLP/) to our new documentation (http://coin-or.github.io/pulp/) following [this stackoverflow's instructions](https://stackoverflow.com/questions/6521931/how-to-delete-documentation-from-pypi/6531582) but I can't for the life of me find any option in all of pypi to upl

[2019-09-22 18:02] pchtsp commented on #582
I'm sorry to highjack this thread but I'm going crazy trying to manually add a redirect on our old docs (https://pythonhosted.org/PuLP/) to our new documentation (http://coin-or.github.io/pulp/) following [this stackoverflow's instructions](https://stackoverflow.com/a/6531582/6508131) but I can't for the life of me find any option in all of pypi to upload or delete the documentation. I'm maintaine

[2019-09-22 18:12] ewdurbin commented on #3417
@pchtsp the feature has not yet been implemented in warehouse. conveyor, which serves pythonhosted.org still has support for the protocol described in https://github.com/pypa/warehouse/issues/3417#issuecomment-475664303 if/when it is implemented.

[2019-09-22 19:13] brainwane commented on #2285
@CAM-Gerlach My understanding is that we just haven't had the time to do it yet; doing it properly will require some communication and coordination with various other tool maintainers and we've been concentrating on other things. Sorry.

[2019-09-22 19:52] webknjaz opened #6688 "Add links to corresponding resources into the email notification when receiving access to packages"
**What's the problem this feature will solve?**

I received this email recently:
[code]

But there's not a single link in it. So if I were to open a role explanation on the help page, the project page or the user page, I'd have to type/search/copy things, which is not a good UX.

**Describe the solution you'd like**

I just want to have clickable things in that email.

**Additional context**

Corr

[2019-09-22 22:46] amirouche opened #6689 "pypi says libraries.io has stats about package but there is none"
**Describe the bug**

pypi says libraries.io has stats about package but there is none

**Expected behavior**

- See download stats on libraries.io

**To Reproduce**

- Go to https://libraries.io/pypi/hoply

**My Platform**

ALL

[2019-09-22 23:35] webknjaz commented on #6338
Well, it seemed to have the same roots back when I suggested that it's a duplicate ;)

[2019-09-22 23:49] di commented on #6689
Hi @amirouche, I see some statistics at that URL, what were you expecting to see?

[2019-09-23 03:57] njsmith opened #6690 "PEP 541: requesting transfer of namesquatted package "hip""
I'd like to request that the `hip` project on PyPI be transferred to PyPI user `njs`.

The `hip` project was registered in 2013 by user "jgors", and has never had a release or any description: https://pypi.org/project/hip/

According to PEP 541, this is "name squatting", and automatically eligible for a transfer. In addition, I've tried to contact jgors via their gmail address on 2019-09-07 and 20

[2019-09-23 05:54] nlhkabu commented on #6683
Options to investigate:
- https://www.npmjs.com/package/postcss-rtl
- https://github.com/MohammadYounes/rtlcss

[2019-09-23 07:31] amirouche commented on #6689
I expect to see the number of download of my project.

[2019-09-23 09:42] pchtsp commented on #3417
@ewdurbin thanks for the answer.

So, if I understood correctly, our current alternatives are
(1) taking down the documentation completely from pythonhoste or
(2) leave the documentation in its current state.

Unless / until the functionality is added to the pypi site, there is no way of modifyig the current version of the docs that are hosted in pythonhosted.

Is this accurate?

Thanks again!

[2019-09-23 11:59] daurnimator commented on #6327
Done (I've claimed the package name myself for now). Will tidy up when I have more time (I have been sick this week)

[2019-09-23 11:59] #6327 closed

[2019-09-23 13:07] ewdurbin commented on #3417
That is correct @pchtsp.

[2019-09-23 13:09] ewdurbin commented on #6676
Hello @ngoldbaum, can you please email ernest[at]python[dot]org? I can assist you in recovering access to your account.

[2019-09-23 13:50] rffontenelle opened #6691 "Typo "Top Storage users" in Stats page"
The [Stats page, line 30](https://github.com/pypa/warehouse/blob/97c4a5124e86119eabe57c7b896a34d2732dc1d0/warehouse/templates/pages/stats.html#L30) (e.g. [PyPI's Stats page](https://pypi.org/stats/)) has the heading text **Top storage users** but it seems to be related to **uses**, rather than **users**. Maybe it is a typo?

[2019-09-23 14:42] woodruffw commented on #6673
I believe this is out of scope for the OTF work -- we scoped for localizing views and templates, localizing JS will require is to construct a separate (probably client-side) localization system and ensure that the two don't fight.

IMPO, the right approach here is to audit the JS for English strings and remove them entirely (either by moving functionality to the backend or by returning error codes

[2019-09-23 15:29] woodruffw opened #6693 "Couple filter-panel/accordion into one component"
#6665 currently assumes that the contents of a `.filter-panel` include a (potentially expanded) accordion for tabbing purposes. We should combine the `.accordion` and `.filter-panel` components into a single component to prevent confusion and potential future breakage.

[2019-09-23 15:50] sargamm commented on #6635
Hey! I just made a pull request for this issue. Kindly have a look. Thanks!

[2019-09-23 18:57] #6482 closed

[2019-09-23 19:06] #6577 closed

[2019-09-23 19:13] #6597 closed

[2019-09-23 19:18] #6682 closed

[2019-09-23 20:37] nlhkabu commented on #6691
Thanks for flagging this @rffontenelle.
Maybe "Top projects by package size" would be a more accurate heading here?

[2019-09-23 20:38] #6635 closed

[2019-09-23 20:57] bconstanzo opened #6698 "PEP 541: requesting transfer of namesquatted package "phantom""
I'd like to request that the phantom project on PyPI be transferred to PyPI user bconstanzo.

The phantom project was registered in 9 Sep 2019 by user "eaybek ", along with other ~30 projects that are namesquatting. In particular, I was waiting to upload to PyPI my own phantom project, and I found today that 14 days ago the name was taken and the repo it links to is barely a skeleton of a project

[2019-09-24 03:38] sunjincheng121 commented on #6394
@jamadden @nlhkabu @di could you please have look at this application, Is there any suggestions for me to explain or improve?

[2019-09-24 05:35] #6508 closed

[2019-09-24 15:37] rcipkins commented on #6396
@brainwane I have a few questions regarding this issue. Should the command line tool be created in Twine? Should this tool create tokens for entire projects or should it implement the new caveats implemented in #6255 ?

[2019-09-24 15:37] RobertoPrevato opened #6700 "Suddenly cannot publish both Wheel and Source code to PyPi"
**Describe the bug**
Up to three days ago (at least), when publishing distribution packages to PyPi, it was possible to publish both a Wheel and Source code ([example here](https://pypi.org/project/essentials/1.0.9/#files)). Today, publishing both Wheel and source code fails, with the following response from server (see [here a public pipeline in Azure DevOps](https://dev.azure.com/robertoprevato/

[2019-09-24 15:54] ewdurbin commented on #6700
Hello @RobertoPrevato, this is actually due to previous use of this project name on PyPI from 2018-02-24  through 2018-11-22. The owner of the project at the time released essential 1.1.0 with only one release file `essentials-1.1.0.tar.gz`. The project and release were later removed.

PyPI does not allow reuse of file names after a release file, release, or project are removed.

So the issue that

[2019-09-24 16:24] takluyver commented on #6396
As my request was a bit vague: what I'm really looking for is a public, documented HTTP interface for creating API tokens. I maintain a [command line tool](https://flit.readthedocs.io/en/latest/), which handles project uploads, and I'd like to extend it to use API tokens. But I'm not aware of any way to create them programmatically. Once the HTTP interface exists, no doubt other tools will use it

[2019-09-24 19:45] RobertoPrevato commented on #6700
Hi @ewdurbin, thank You for your kind explanation. It didn't occurred to me that this could be the case! Everything's clear now. It looks a bit weird, though, that I could upload the Wheel (only the .tar.gz file with source code failed uploading).

Everything's clear. :+1:

[2019-09-24 19:45] #6700 closed

[2019-09-24 21:21] webknjaz commented on #6050
@woodruffw did you mean to also close this?

[2019-09-24 21:28] woodruffw commented on #6050
Yes! Thanks @webknjaz.

[2019-09-24 21:28] #6050 closed

[2019-09-25 15:01] Sayeed096 opened #6707 "Intra-package References Documentation look unusual"
Documentation is not completed or properly described.
"For example, if the module sound.filters.vocoder needs to use the echo module in the sound.effects package, it can use from sound.effects import echo."
This example is not good to understand.
"
from . import echo
from .. import formats
from ..filters import equalizer
"
Please give some more clear explanation and example.

[2019-09-25 15:07] marcelcure opened #6708 "Request trove classifier"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

web3fsnpy

## Why do you want to add this classifier?
 I deleted web3fsnpy by accident from testPyPI as this is my first time using it, but there are users waiting to download this with the name web3fsnpy

[2019-09-25 15:11] jamadden commented on #6707
You seem to be referring to the [standard Python documentation](https://docs.python.org/3/tutorial/modules.html#intra-package-references). This issue tracker is only for the software that runs pypi.org itself; it cannot help with the standard Python documentation. For that, you'll need https://bugs.python.org.

[2019-09-25 15:11] #6707 closed

[2019-09-25 15:22] jamadden commented on #6708
Hello,

I'm sorry, I do not understand your request.

A [classifier](https://pypi.org/classifiers/) is used to make browsing particular categories of software easier. For example, I can browse for software related to the popular [Django web framework](https://pypi.org/search/?c=Framework+%3A%3A+Django).

Using classifiers is *optional*; using any particular classifier is not required in order to u

[2019-09-25 15:24] marcelcure commented on #6708
I'm sorry - I have used the wrong request. I wanted to upload to my project name web3fsnpy  on testPyPI but I had already deleted it by mistake and now it won't let me upload it again.

[2019-09-25 15:33] jamadden commented on #6708
PyPI does not allow reusing filenames. You'll need to use a new version number.

[2019-09-25 15:34] marcelcure commented on #6708
OK thanks.

[2019-09-25 15:34] #6708 closed

[2019-09-25 21:05] rashminair90 commented on #4779
I am getting below error:
[code]

[2019-09-25 22:06] #6637 closed

[2019-09-26 00:35] brainwane commented on #5247
See [the PSF's new blog post](https://pyfound.blogspot.com/2019/09/pypi-security-q4-2019-request-for.html) & [the open RFP](https://github.com/python/request-for/blob/master/2019-Q4-PyPI/RFP.md#milestone-1---verifiable-cryptographic-signing-of-artifacts). Later this year, PyPI wants to start:

This means we need to move PEP 458 from "Deferred" to "Accepted" status. Per @ewdurbin's guidance, this m

[2019-09-26 10:50] sloev commented on #4004
https://pypi.org/project/cccp/ has been squatted since 2011 with no code and nothing installable:

[code]

i am let down by this since i am currently creating a package for opensource that is called SemiServerSideRendering : SSSR or in Cyrilic CCCP which is a nice name to gain traction.

i have written the maintainer but it does not seem like he has done anything with the namespace in more than 8

[2019-09-26 14:18] trishankatdatadog commented on #5247
Thanks for the update, @brainwane!

@JustinCappos @lukpueh Ok, so we have our work ahead of us. I have work obligations to meet, but can devote whatever time I can for this. Let's plan ASAP.

[2019-09-26 14:20] ofek commented on #5247
Let me know if you need more assistance, I'd be glad to help!

[2019-09-26 19:22] brainwane commented on #5247
Now that the PEP is back in Draft status*, I think the next steps are for one or more of the PEP authors to:

* refresh the References/Discussion headers on the PEP with relevant discussions from https://discuss.python.org/c/python-software-foundation/pypi-q4-rfi and https://discuss.python.org/t/prerequisites-vetoes-improving-packaging-security/2196 and anywhere else that the PEP was discussed
* p

[2019-09-26 20:26] ewdurbin commented on #6676
@ngoldbaum can you confirm your account access issues are resolved? I worked with the user to confirm ownership of the primary verified email address on the account as well as control of two major projects the user has access to.

[2019-09-26 21:06] ngoldbaum commented on #6676
Yup, thanks for your help!

[2019-09-26 23:41] Nosferican commented on #6689
I believe the download statistics were [deprecated](https://mail.python.org/pipermail/distutils-sig/2013-May/020855.html). However, it may have been revived through [pepy](https://pepy.tech/project/hoply) by Petru Rares Sincraian (@psincraian).

[2019-09-27 00:35] rcurtin commented on #5365
Hey, sorry for the slow response.  Thank you everyone for the help here!  @scipsycho really appreciate it, and @yeraydiazdiaz and @di I really appreciate your help with the process.

[2019-09-27 01:07] verhovsky opened #6718 "PEP 541: transfer "jinja" to the "jinja2" project"
https://pypi.org/project/Jinja/ had its last release in 2007 and https://pypi.org/project/jinja2/ has been actively developed since 2008 (last release in April 2019).

https://github.com/pallets/jinja/issues/752

[2019-09-27 02:40] xauthulei opened #6719 "HTTPError: 400 Client Error: Binary wheel 'pyarrow_ppc64le-0.14.0-cp36-cp36m-linux_ppc64le.whl' has an unsupported platform tag 'linux_ppc64le'. for url: https://upload.pypi.org/legacy/"
Could I know what are errors  in my local ppc64le ?

[2019-09-27 08:29] greschd commented on #6591
I've just run into this issue: In general the classifiers listed at https://test.pypi.org/classifiers seem to be different from the ones at https://pypi.org/classifiers.

The classifier I was trying to use (``Framework :: AiiDA``) is rather new, so maybe this is a synchronization issue.

[2019-09-27 11:08] oshaughn opened #6720 "PEP 541: Semi-urgent request ownership of 'RIFT' package/name"
I would like to request ownership of the RIFT project name, so we can [replace the previous history](https://pypi.org/project/rift/#history). This project classifies as Abandoned by @yayg , who has committed only this project, whose last and only activity was 4 years ago, and who has no contact information.

This is a semi-urgent request because RIFT is used by the LIGO scientific collaboration fo

[2019-09-27 11:35] jamadden commented on #6591
I've made sure both those classifiers are available on test.pypi.org.

[2019-09-27 11:35] #6591 closed

[2019-09-27 11:47] jamadden commented on #6720
I've emailed the owner of that project at the public email address listed for that project as well as the email address PyPI has on file for that account, opened [an issue](https://github.com/Yayg/rift/issues/1) in what appears to be the repository on github (and the account has been active recently) as well as attempted contact via the listed [twitter account](https://twitter.com/ossmkitty/status

[2019-09-27 13:08] greschd commented on #6591
Sweet, thank you.

[2019-09-27 14:35] di opened #6722 "Move "show password" checkbox on login form"
From #6040:

@anowlcalledjosh:

@di:

@woodruffw:

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%22good+first+issue%22) instead. If there is not a corresponding pull request for this issue, it is

[2019-09-27 18:32] brainwane commented on #6689
Hi @amirouche!

I looked at https://pypi.org/project/hoply/ and I saw in the sidebar:

https://libraries.io/pypi/hoply does show statistics about the `hoply` package, such as repo size, dependencies, and so on. I understand that you're interested in _download_ statistics in particular; the Google BigQuery link, which was next to the Libraries.io link you saw, helps you get those. You may also want

[2019-09-27 18:32] #6689 closed

[2019-09-27 18:37] brainwane commented on #6719
@xauthulei Hi - could you show us what command you ran in order to create that wheel, and share your `setup.py` file as well? And, if you read documentation that advised you to use the platform tag 'linux_ppc64le', could you point to it? Thanks!

[2019-09-27 18:59] di commented on #6719
`linux_*` is not a valid platform for a wheel. Depending on what you're trying to distribute, you either need to either build your distributions inside the [`manylinux` Docker image](https://github.com/pypa/manylinux) or just use [`auditwheel`](https://github.com/pypa/auditwheel) to turn a `linux_*` into a repaired `manylinux_` wheel.

In addition, `ppc64le` is not a valid architecture for a [`man

[2019-09-27 18:59] #6719 closed

[2019-09-27 19:10] di commented on #3668
Given that [PEP 599/`manylinux2014`](https://www.python.org/dev/peps/pep-0599/) is accepted will allow `manylinux_armv7l` wheels, I think we should find a way to deprecate these wheel platforms and eventually block uploads once https://github.com/pypa/manylinux/issues/338 is complete.

This is a bit complicated by the fact that `twine` has no way to print a warning message on upload success, only

[2019-09-28 05:11] Miserlou opened #6725 "PEP541: Squatter on `fashion`"
Hey all!

I'd like to use the package name 'fashion' for a new FaaS library I'm working on, but it looks like it is squatted (registered by a user who's email doesn't work, no other packages, no code submitted), can you please make it available so that I can register a package there?

This is my PyPI: https://pypi.org/user/miserlou/
This is the name I'd like to use: https://pypi.org/project/fashio

[2019-09-28 16:43] di commented on #6676
The original issue still remains (the controller is case-sensitive and shouldn't be)

[2019-09-29 00:53] xauthulei commented on #6719
Thanks @di and @brainwane , Now it is clear to me,  Thanks.  it seems I need to wait manylinux2014.

[2019-09-29 08:14] kolinwei opened #6727 "Increasing size limit for paddlepaddle_gpu"
Hi. We will release a new version for paddlepaddle_gpu recently. Our current size limit is 250M, and the last version is 236M. Because a few new features are enabled in this version, the package size will go to 320MB. Can you please help to increase this to around 350MB.

Project:
https://github.com/PaddlePaddle/Paddle
https://pypi.org/project/paddlepaddle-gpu/

[2019-09-29 09:57] Yayg commented on #6720
Hi Jason,

Sorry for the late reply. The project is not maintained anymore and surely
doesn't need a pip-installable package.
Let me know what you need from to transfer the name.

All the best.

On Fri, Sep 27, 2019 at 12:47 PM Jason Madden <notifications@github.com>
wrote:

[2019-09-29 12:27] jamadden commented on #6720
Hi @yayg and thanks for the reply! If @oshaughn could supply a PyPI username, then you could add that username as an administrator of the PyPI project. They could then remove your account from the PyPI project and move forward with using the name.

[2019-09-29 14:21] oshaughn commented on #6720
My pypi username should be ‘oshaughn’

Thanks all!

From my phone- apologies for brevity, typos, etc

[2019-09-29 15:13] yeraydiazdiaz commented on #4279
I've tried contacting the original author many times and he seems unresponsive, therefore the project can be considered abandoned.

@ChrisJefferson could you confirm your PyPI username for the onwership transfer, please?

[2019-09-29 15:14] yeraydiazdiaz commented on #4504
@ssbarnea are you still interested in proceeding with this request?

[2019-09-29 15:16] yeraydiazdiaz commented on #4653
@chathika seems the project `emd` has been deleted from PyPI. Feel free to claim the package if you are still interested.

[2019-09-29 15:16] #4653 closed

[2019-09-29 15:30] yeraydiazdiaz commented on #4756
@kylebgorman I've attempted contact with the current owner but have not received response thus this project is considered abandoned and we can proceed with the transfer to you.

Could you please confirm your PyPI username?

[2019-09-29 15:52] yeraydiazdiaz commented on #4860
@nijel I've tried emailing the owner of the package but the address is now deactivated so the project can now be considered abandoned.

I will ask an admin to proceed to transfer ownership to you.

[2019-09-29 16:40] kylebgorman commented on #4756
Yes, it's also `kylebgorman`: https://pypi.org/user/kylebgorman/

On Sun, Sep 29, 2019 at 11:30 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2019-09-29 16:54] yeraydiazdiaz commented on #4756
Thanks, I will ask an admin to transfer the project to you.

[2019-09-30 08:53] Yayg commented on #6720
Done! Good luck with your project :)

All the best,

raf

On Sun, Sep 29, 2019 at 3:21 PM oshaughn <notifications@github.com> wrote:

[2019-09-30 08:57] ChrisJefferson commented on #4279
My PyPI username is also ChrisJefferson

[2019-09-30 09:45] ewdurbin commented on #4756
transfer complete.

[2019-09-30 09:45] #4756 closed

[2019-09-30 09:46] ewdurbin commented on #4860
transfer complete.

[2019-09-30 09:46] #4860 closed

[2019-09-30 12:45] nijel commented on #4860
Thanks!

[2019-09-30 14:41] ssbarnea commented on #4504
It would be really useful if @whitmo would reply but I have some doubts he will.

I have reasons not to trust these downloads stats as being relevant for any non-active projects.

For smaller projects they only count the bots. Here is an example https://pepy.tech/project/brexit -- which is an empty package I created just for fun. Still is seems to have daily downloads too.

I can still wait, there

[2019-09-30 14:50] yeraydiazdiaz commented on #4504
You are right, pepy.tech does include all types of downloaders it its stats which is why I use [these instructions](https://packaging.python.org/guides/analyzing-pypi-package-downloads/) to manually analyze the data while working on these types of requests.

[2019-09-30 17:24] isidentical opened #6729 "PEP541: Empty and inactive package `it`"
I'd like to take ownership over the PyPI project name `it` so that i can publish my [`IT`](https://github.com/thg-consulting/inspectortiger) (InspectorTiger) project under that name. It is inactive for years and there is no given homepage / github repo.

I believe this falls under the "Invalid project" case described in PEP541.
![image](https://user-images.githubusercontent.com/47358913/65901034-f

[2019-09-30 18:41] brainwane commented on #5247
A few of us had a chat today and are working to update the PEP (https://github.com/python/peps/pull/1178 is part of that), and one or more of the PEP authors will be reaching out to @ewdurbin with a few questions.

[2019-09-30 18:58] stevennic opened #6730 "PEP541: Whoosh transfer to whoosh-community/whoosh"
Hello,

As documented in [Whoosh #544](https://github.com/whoosh-community/whoosh/issues/544), the original author of Whoosh, @mchaput, appears to have abandoned the project.

1. The last PyPI release was in [April 2016](https://pypi.org/project/Whoosh/#history).
1. Last commit by @mchaput on his [Github repo](https://github.com/mchaput/whoosh/commits/master) was in 2015.
1. Last edit to the home

[2019-09-30 19:07] pradyunsg commented on #5247
@brainwane FYI - I'm happy to help with implementing functionality on the client side (i.e. pip) when we get to that point.

I think we'd want to create a tracking issue on pip's issue tracker to have implementation related discussions there, after the PEP is accepted (AFAICT how clients interact with TUF-enabled PyPI is covered by the PEP and would be discussed in the discussions on discuss.pytho

[2019-09-30 20:52] jwodder commented on #6718
Both those projects are owned by @mitsuhiko.  What is there to transfer?

[2019-10-01 00:01] #6718 closed

[2019-10-01 00:50] trishankatdatadog commented on #5247
Hi @ewdurbin and @dstufft, we have a few questions for which we could use your help:

1. By "key distribution," do you mean who manages how many keys and where on the PyPI side? Do you also mean how package managers such as pip would determine which keys to trust in the first place?
2. What is the current deployment process for Warehouse? This will help us determine how to edit the PEP to discuss

[2019-10-01 15:13] brainwane commented on #6400
@jamadden  could I ask you to look at this and the other open limit request tickets?

[2019-10-01 15:26] whitmo commented on #4504
go for it

On Mon, Sep 30, 2019 at 9:50 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

--
<=>
david "whit" morriss

 "If you don't know where you are,
  you don't know anything at all"

  Dr. Edgar Spencer, Ph.D., 1995

[2019-10-01 17:44] trishankatdatadog commented on #5247
@ewdurbin @dstufft I have also sent you both an email about a conference call this week, if possible. Thanks!

[2019-10-02 11:01] jamadden commented on #6400
Hi @myhub,

Based on that repository, you appear to be distributing large pre-compiled stripped Linux shared libraries, yet creating wheels with inappropriate `py3-none-any` platform tags. That's likely to lead to a very poor experience for users, at best, as it may install, but it will not run for many of them.

According to auditwheel, the appropriate platform tag is `linux-x86_64`, and wheels l

[2019-10-02 11:04] jamadden commented on #6727
The limit has been set to 350MB on pypi.org.

Note that is getting to be a very large release, making updates painful for users and the PyPI infrastructure. Please be mindful about how often you make releases of this package given the size.

[2019-10-02 11:04] #6727 closed

[2019-10-02 11:06] jamadden commented on #6633
@castleguarders As I was unsuccessful in locating them, can you please provide links to the source repository and the PyPI package you're looking for an exemption to? (The limits can only be set after the PyPI project has been created, which may require you to upload an empty 0.0.0 distribution.)

[2019-10-02 11:09] jamadden commented on #6490
The limit for all four projects has been set to 200MB on pypi.org

Collectively, that amounts to one of the larger package sizes. Please be mindful about how often you make releases of this package given the size.

[2019-10-02 11:09] #6490 closed

[2019-10-02 11:22] jamadden commented on #6403
This seems to be very similar to #6400 in that a wheel with the generic `py3-none-any` platform tag is being distributed, but it contains Linux binaries that are not manylinux compatible and cannot be repaired:
[code]

As with #6400 it's not clear that a size increase for a wheel that would be rejected by PyPI.

Perhaps you might be interested in https://pypi.org/project/torch/? At a glance, that

[2019-10-02 11:26] jamadden commented on #5420
We've also seen wheels being uploaded with generic platform tags like `py3-none-any` but containing and requiring (non-manylinuxX compatible) shared libraries (e.g., #6400, #6403). Would it be worth extending the check to such wheels? Or simply denying uploading generic wheels that in fact contain platform-specific binaries?

[2019-10-02 11:31] mn-mikke commented on #6490
@jamadden Thanks a lot!

[2019-10-02 11:36] jamadden commented on #6394
My apologies for the delay, my time for this has been extremely limited lately.

Thank you for the detailed information. Based on it, I've taken the following actions:

- Increase apache-flink to 300MB on both pypi.org and test.pypi.org (larger sizes might need other moderators to take a look)
- Restore pyflink to the default limit, reverting https://github.com/pypa/warehouse/issues/6116

[2019-10-02 11:36] #6394 closed

[2019-10-02 11:37] #6720 closed

[2019-10-02 11:42] jamadden opened #6740 "(Minor) Moderators: Add a "notes" field to projects visible in the admin UI"
**What's the problem this feature will solve?**
Sometimes the moderators have to make decisions about projects, such as applying different upload limits to them (e.g., #6116). Sometimes those decisions then get changed based on new information (e.g., #6394). But there's no ability to link a github issue or slack discussion to the project, so determining *why* the settings for the project are in th

[2019-10-02 12:33] takluyver commented on #5420
It's possible to imagine packages containing platform-specific binaries which are nonetheless cross-platform - e.g. the binaries are only used on the relevant platform, and it works without them on other platforms, or it's a library for introspecting such binary files, and includes them as test cases.

[2019-10-02 15:34] jamadden commented on #5420
That's true. So I suppose the interesting case is packages (distributions) that ship binary Python modules with the intent of importing them, or binary shared libraries with the intent to use ctypes or similar on them. Without a pure-Python fallback, the package doesn't work, on only works partly.

I only bring it up because it's a potential annoyance for end-users, and a small burden on PyPI infr

[2019-10-02 16:00] takluyver commented on #5420
I'd be OK with putting in restrictions like that if there was a way for projects to get them lifted (like the size restriction). I don't think either of the cases I mentioned are very common.

But do we have evidence how common it is that people are uploading platform specific wheels with `-none-any` tags? The two issues you linked before are from the same author, so it could be a one off.

[2019-10-02 16:23] castleguarders commented on #6633
@jamadden , The package without the models was only on test.pypi.org, I just updated pypi also. The github repo should also be accessible now. All the links below, thank you!

https://test.pypi.org/project/CamAi-castleguarders/
https://pypi.org/project/CamAi-castleguarders/
https://github.com/castleguarders/CamAi

[2019-10-02 17:16] jamadden commented on #5420
I've only seen a few issues, those that resulted in limit requests. I don't have evidence, just anecdotes.

One other notable one was https://github.com/pypa/warehouse/issues/6197, which involved distributing an actual executable, the running of which was the main point of the Python code. It linked to a very specific set of system libraries and was uploaded as `py3-none-any`. The executable was a

[2019-10-02 18:42] ewdurbin commented on #4279
Transfer complete.

[2019-10-02 18:42] #4279 closed

[2019-10-02 18:51] yeraydiazdiaz commented on #4504
Thanks for replying @whitmo, would you be able to go to https://pypi.org/manage/project/wee/collaboration/ and add user `ssbarnea` as an owner of the project?

We prefer that users perform these operations to aliviate the load on moderators and admins.

[2019-10-02 19:11] iotamudelta opened #6741 "File size limit increase for torch-rocm"
In order to publish the ROCm-enabled PyTorch wheel, we need a file size limit bump (current wheel size is 231 MB, so 300 MB would be good. ROCm is AMD's open source heterogeneous computing stack.

Link to project: [PyTorch for ROCm](https://github.com/ROCmSoftwarePlatform/pytorch)

This request would apply to both testpypi and regular pypi.

No prior upload of the wheel.

Thanks!

[2019-10-02 19:12] yeraydiazdiaz commented on #5376
Hi @jpscaletti, apologies for the delay in processing this issue.

Just to confirm, do you want to claim ownership on this package? I suspect so but you don't explicitly say so.

Could you also confirm your PyPI username, please?

[2019-10-02 19:19] di commented on #4919
Confirmed that `acid` is an invalid project, and have added `ekohilas` as an owner.

[2019-10-02 19:19] #4919 closed

[2019-10-02 19:20] di commented on #4536
Confirmed that `dots` is an invalid project, and have added `pradyunsg` as an owner.

[2019-10-02 19:20] #4536 closed

[2019-10-02 19:21] di commented on #4885
Confirmed that `qt` is an invalid project, and have added `empyrical` as an owner.

[2019-10-02 19:21] #4885 closed

[2019-10-02 20:44] jpscaletti commented on #5376
Hi, no problem.

Yes, I would like to claim ownership of this package if it's possible.

My PyPi username is `jpscaletti` (https://pypi.org/user/jpscaletti/).

[2019-10-03 00:26] singleparadox commented on #6722
Hello, I'd like to work on this. Can I? I'll start after I get home from work...

[2019-10-03 00:55] brainwane commented on #6550
Closing this - opened an issue in the other repo.

[2019-10-03 00:55] #6550 closed

[2019-10-03 00:56] brainwane commented on #6565
Decided it's okay to leave these out for now. Thanks @nlhkabu.

[2019-10-03 00:56] brainwane commented on #6565
(That is, it's outside the milestone.)

[2019-10-03 01:22] brainwane commented on #6672
I've now reached out to both those groups.

[2019-10-03 01:22] #6672 closed

[2019-10-03 01:29] brainwane opened #6744 "Add Brazilian Portugese to localization footer"
https://hosted.weblate.org/projects/pypa/warehouse/#translations says that we're now at 100% translated for Brazilian Portugese. Therefore, let's insert the footer of available locales/translations per #6624, and add Brazilian Portugese.

@yeraydiazdiaz @nlhkabu can either of you do this? Thanks.

[2019-10-03 01:33] brainwane commented on #6631
I'm happy with all these policy decisions @nlhkabu - @ewdurbin you have any objections?

[2019-10-03 02:12] brainwane commented on #6744
I tried editing `warehouse/i18n/__init__.py` and `warehouse/templates/base.html` to include Brazilian Portugese:

[code]

and got this stack trace:

[code]

[2019-10-03 04:28] pradyunsg commented on #4536
Awesome! Thanks @jamadden, @yeraydiazdiaz and @di! ^>^

[2019-10-03 06:08] di commented on #6744
I think the right locale is `pt_BR`.

[2019-10-03 11:17] Schamper commented on #5939
Not trying to be annoying, but it's been almost a month again... :)

[2019-10-03 11:26] jamadden commented on #5939
@invisig0th stated in https://github.com/vivisect/dissect/issues/7#issuecomment-513772469

But that seems not to have happened yet. I will ping them again.

The thing is, because we got *a* response, I don't think we can consider the maintainer "unreachable" under the PEP rules

[2019-10-03 14:17] brainwane commented on #6691
**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%22good+first+issue%22) instead. If there is not a corresponding pull request for this issue, it is up for grabs. For directions for getting set up, see ou

[2019-10-03 14:20] woodruffw commented on #6744
Yep, this is correct -- Babel's default locale format is `cc_lc` where `cc` is the country code and `lc` is the language code.

[2019-10-03 14:32] brainwane commented on #6744
I tried

[code]

and got the same ValueError. @woodruffw diagnosed that I might need to clear my cookies because of a `_LOCALE_` cookie issue. I used a different browser to visit localhost and did not get the error -- now I see the language chooser (INSTEAD of the sponsor footer). There is no Portugese content when I choose Portugese, probably because we haven't merged any of the new translations

[2019-10-03 15:26] AnalogJ opened #6748 "Transfer ownership of `pip-analogj-test` test.pypi.org project to AnalogJ"
Hi,
I'm testing package uploading to test.pypi.org using [pip-analogj-test](https://test.pypi.org/project/pip-analogj-test/) and it looks like I have previously created that project with another email address. When I attempted to reset the password for that email, test.pypi.org told me that the user or email address was not found.

Can you help me get that package transferred to the AnalogJ user o

[2019-10-03 20:18] brainwane opened #6752 "Add Travis CI badge to README"
[Warehouse uses Travis CI to run integration tests](https://travis-ci.org/pypa/warehouse/). Our `README.md` file doesn't have a badge at the top saying that our Travis CI builds are passing. You can look at https://shields.io/category/build to see how to add one.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another

[2019-10-03 20:30] Patil2099 commented on #6752
@brainwane Can I work on this issue?

[2019-10-03 20:30] brainwane commented on #6752
Sure, go ahead @Patil2099!

[2019-10-03 21:03] Miserlou commented on #6725
Any chance I can get an ETA on this? I'm going to be giving a talk at conference in a few days and I'd like this to work.

[2019-10-03 22:59] parallelo opened #6754 "File size limit exemption (tensorflow-rocm-enhanced)"
Hi,

We would like to host the ROCm-enhanced version of TensorFlow on PyPI.

However, we hit the 60MB limit when trying to upload to test.pypi.org. In the meantime, we have created placeholder 0.0.1-versioned projects for tensorflow-rocm-enhanced on both Test PyPI and PyPI.

Details:

- Project name: tensorflow-rocm-enhanced
- PyPI links:
   - https://pypi.org/project/tensorflow-rocm-enhanced
   -

[2019-10-03 23:51] lilivelazquezz commented on #6691
Hello! I would love to work on this.

[2019-10-04 00:31] woodruffw commented on #6722
Taking a stab at this.

[2019-10-04 00:39] di commented on #6722
@woodruffw Looks like we might already have a PR: https://github.com/pypa/warehouse/pull/6755

[2019-10-04 00:39] Kohdz commented on #6552
Hello, I would like to help with this issue

[2019-10-04 00:39] woodruffw commented on #6722
Whoops! Ignore me then 😅

[2019-10-04 00:40] di commented on #6722
Although heads up @ddaan, that doesn't quite do what was described in this issue. We don't want to use `tabindex`.

[2019-10-04 00:41] woodruffw commented on #6722
Dropping a non-`tabindex` diff for reference:

[code]

[2019-10-04 00:50] ddaan commented on #6722
Oops, I totally missed the word "without" 🙈 . Moving the checkbox down would still make you tab an extra time to the login button. This could be avoided by hitting the enter button, but it will be an issue for the registration form.

[2019-10-04 01:50] rcurtin opened #6756 "Increase size limit request"
Hi there,

I'm the maintainer of the PyPI `mlpack` package: https://pypi.org/project/mlpack/

The manylinux releases turn out to be larger than the size limit of 60.0MB; specifically, they are currently 80 MB.  I'd like to request an increase to the size limit to match the limit for `mlpack3` (https://pypi.org/project/mlpack3/)---the `mlpack3` package is where the library was previously uploaded u

[2019-10-04 06:57] srevinsaju opened #6757 "Make PYPI more like a app distribution store"
**What's the problem this feature will solve?**
A request to add features like Embeddable Cards and Install from PYPI store button, similar to the Snap Store.

**Describe the solution you'd like**
Add a HTML/Markdown label generator similar to Snapcraft.io
I can do the designing part, but I didn't find the HTML

**Additional context**
The idea which I would like to put forth is similar to this one

[2019-10-04 12:28] jamadden commented on #6756
The size limit for mlpack on pypi.org has been set to 100MB (matching mlpack3).

[2019-10-04 12:28] #6756 closed

[2019-10-04 12:37] jamadden commented on #6725
We have an email address on file for the owner of the package and I have attempted contact; the address hasn't bounced. The project meets the [PEP 541](https://www.python.org/dev/peps/pep-0541/) requirements for being abandoned otherwise.

[2019-10-04 13:01] di commented on #6725
I'd say that this project is probably invalid as well, it doesn't seem have any functionality.

[2019-10-04 13:16] rcurtin commented on #6756
Thank you! :+1:

[2019-10-04 15:46] raulgspan commented on #6691
Hey, I started to look into this last night at the NY meetup as a first-time contributor, finally got my local env set up this morning... A few things:

- The second comment suggesting "projects" in the headline instead of "users" is right. The table is a list of "projects" so the heading should match. I would suggest "Top projects by total package size".

- "Ordered by the sum of all packages of

[2019-10-04 20:43] sk1u commented on #6634
Hi @nlhkabu , Can I work on this issue?

[2019-10-04 22:23] szha opened #6763 "Request for Increase for the Project Size Limit"
The name of the project: mxnet, mxnet-mkl, mxnet-cu92, mxnet-cu92mkl, mxnet-cu101, mxnet-cu101mkl, mxnet-cu102, mxnet-cu102mkl
The size of your release, in megabytes: 800mb
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both
Please help me increase the upload limit, thank you!

[2019-10-05 19:36] amirouche commented on #6689
This is clearly misleading and does not help build trust.

[2019-10-05 19:37] sjskdas opened #6766 "Package aText size is too large"
https://pypi.org/manage/project/atext/releases/

It needs to be extended to 300MB because I'm uploading a jar file on which I have developed a python wrapper. Thanks, Subrata

[2019-10-05 19:38] amirouche commented on #6689
Yes I know statistic are gone from pypi.org but pypi has an "advertisment" for libraries.io that is misleading. Trivia stuff like repo size and dependencies is not what people will expect.

Anyway thanks.

[2019-10-06 03:10] david-waterworth opened #6769 "PEP541: Copy of official repo"
Does PEP541 cover the case where a fork is taken of a project and then published to pypi with a different name but not additional contributions?

i.e. https://github.com/prateek3211/statsmodels is a fork from https://github.com/statsmodels/statsmodels, user prateek3211 has made no changes other than modifying the setup.py to change the url and maintainer and then published to pypi as 'statsmodels_

[2019-10-06 10:05] yeraydiazdiaz commented on #6769
Hi @david-waterworth, I don't believe the PEP covers that specific case though it may fall under the [intellectual property section](https://www.python.org/dev/peps/pep-0541/#intellectual-property-policy) or the [invalid projects section](https://www.python.org/dev/peps/pep-0541/#invalid-projects) as a violation of the code of conduct.

[2019-10-06 12:53] jamadden commented on #6766
Hi @sjskdas, the PyPI project links to a github repository (https://github.com/sjskdas/aText) that doesn't exist. Is there a working repository URL that you can share?

[2019-10-06 13:44] sjskdas commented on #6766
The setting was private. Now I have created a public one with the same
name. Thanks. Regards

On Sun, Oct 6, 2019 at 8:53 AM Jason Madden <notifications@github.com>
wrote:

[2019-10-06 18:58] ProGamerGov opened #6772 "Image does not display on PyPI"
The third image from the top on my PyPI project doesn't show up: https://pypi.org/project/neural-style/

Unlike the large image near the bottom, there are no errors associated with the image and it's within the 10MB size limit.

Chrome doesn't display the third image from the top, and Firefox only displays a broken image icon. The image itself works perfectly fine on Github.

The direct link to th

[2019-10-07 00:43] brainwane commented on #6691
@nlhkabu can you advise @lilivelazquezz and/or @raulgspan on a good approach?

[2019-10-07 00:58] brainwane commented on #6744
@woodruffw You were able to find a way to fix this on Thursday night?

[2019-10-07 02:39] raulgspan commented on #6691
Submitted PR 6767 for this: https://github.com/pypa/warehouse/pull/6767

[2019-10-07 03:31] jamadden commented on #6766
@sjskdas the new repo seems to be empty, with the exception of a single commit to the Readme.

I’m asking to see the working repo because 300mb is considered quite large. For projects of that size moderators are supposed to do some basic checks, mostly to see if we can suggest ways to improve the installation experience while reducing the demand on PyPI. I can’t do that if I can’t see the project.

[2019-10-07 08:54] gauteh opened #6775 "Increased file size limit request for opendrift_landmask_data"
Opendrift landmask data is optimized landmasks from the GSHHS dataset (LGPL) used in opendrift (https://github.com/OpenDrift/opendrift) which is a simulation software for tracetories in the ocean (oil spills, leeway, etc). Both packages are opensource. The current compressed packages are about 80MB, but we would like to also add an R-tree index in the coming versions which might increase the total

[2019-10-07 11:29] lnielsen opened #6776 "No "Destroy documentation" button"
I'm the maintainer of the pypi project https://pypi.org/project/invenio/. We have some very outdated documentation on https://pythonhosted.org/invenio/ that we would like to remove (because our users, unfortunately, finds it via Google insted of updated version on https://invenio.readthedocs.io/en/latest/).

Similar to [#5641](https://github.com/pypa/warehouse/issues/5641#issuecomment-478095714),

[2019-10-07 12:04] stnava opened #6777 "Increase file size limit for ANTsPy"
Hi -

https://github.com/ANTsX/ANTsPy this project uses a bunch of templated C++ to generate 2, 3 and 4-dimensional processing routines for medical imaging and related types of data.   it wraps the (large) C++ project https://github.com/ANTsX/ANTs using pybind11.   As such, the project installation files are rather large:

* OSX 10.14.5    -  224M for *tar.gz  and 219M for *whl
* Ubuntu 18.04 -  2

[2019-10-07 13:42] brainwane opened #6778 "Can't `make build` on master"
I ran `make build` on git master for Warehouse and got:

[code]

I wonder whether this has to do with the line

`LOCALES := $(shell find warehouse/locale -type d -depth 1 -exec basename {} \;)`

that @woodruffw added to the `Makefile` in e646a4cfbd5b75589dd8eb423b33a7363493dce6 ?

[2019-10-07 13:55] ewdurbin commented on #6778
Looks like `-maxdepth`/`-mindepth` is compatible between the two. PR incoming.

[2019-10-07 14:03] #6778 closed

[2019-10-07 14:59] brainwane opened #6780 "pybabel missing from requirements files?"
I created a fresh virtualenv, ran `make build` and was told that "`.state/docker-build` is up to date.", then tried to run `make build-mos` (following up #6535) and got this error:

[code]

I see `pybabel` isn't in any of our requirements files -- am I missing something? @woodruffw did you add the dependency per https://warehouse.readthedocs.io/development/patterns/#adding-new-dependencies ?

[2019-10-07 15:12] woodruffw commented on #6780
`pybabel` is part of `Babel`, which gets brought in here: https://github.com/pypa/warehouse/blob/master/requirements/main.in#L4

[2019-10-07 15:14] woodruffw commented on #6780
Hmm, so it _should_ be in your venv. Mine shows:

[code]

What does your shell environment look like? Are you running `make` from a shell that has the venv loaded? That _shouldn't_ matter, but I'm wondering if there's some potential conflict or assumptions that I've made there.

[2019-10-07 15:14] woodruffw commented on #6744
Yep, the commits I made to #6747 should fix this.

[2019-10-07 15:15] brainwane opened #6782 "psycopg2 can't build"
Followup to #3106 (or: "psycopg2: the unfolding").

I was trying to fix a different problem in my developer environment and tried `$ pip install -U -r requirements.txt` and got this error:

[code]

I don't actually see any instructions to pip install stuff in https://warehouse.readthedocs.io/development/getting-started/  -- we do this all in the Docker container -- so I think this is probably not

[2019-10-07 15:16] ewdurbin commented on #6780
Looks like these targets were assuming some other action had been taken. I've added building the virtualenv to their requirements in #6781

[2019-10-07 15:23] brainwane commented on #6780
@woodruffw Yes, I am running `make` from a shell that has the venv loaded. The command history:
[code]

I may be missing a step -- for instance, I haven't run `make serve` recently -- in which case I would welcome additions to #6749!

[2019-10-07 15:31] brainwane commented on #6780
The error is still happening, sorry to say.

[code]

[2019-10-07 15:35] stnava commented on #6777
the test project: https://test.pypi.org/project/antspyx/
the pypi project: https://pypi.org/project/antspyx/0.2.2/

I had to use antspyx because a no longer active former developer locked down antspy

[2019-10-07 15:52] brainwane opened #6783 "Update "getting stated" to discourage virtualenvs/venvs"
Update `docs/development/getting-started.rst` (the source for https://warehouse.readthedocs.io/development/getting-started/ ) to say, in the "Configure the development environment" section, something like:

"In case you are used to using a `venv`/virtualenv or virtual environment for Python development: For Warehouse development, don't use one. Our `Makefile` scripts and Docker container developme

[2019-10-07 15:53] brainwane commented on #6780
@ewdurbin noticed that `/home/sumanah/.virtualenvs/Mon-Oct-7-2019-PyPI-Test/bin/pybabel` was coming into play and told me that I oughtn't be using a venv, and noticed that the Makefile might be behaving oddly here:

"though i'm really not sure why our make tasks are installing stuff into that venv versus .state.env
errr .state/env
all the make tasks that currently run locally rather than in docker

[2019-10-07 15:53] #6780 closed

[2019-10-07 16:10] parallelo commented on #6754
Just to clarify this request, we have a few types of TensorFlow releases:

- `tensorflow-rocm`: aligned with the code from the [official TensorFlow repo](https://github.com/tensorflow/tensorflow)
- `tensorflow-rocm-enhanced`: based on the public [ROCm fork of TensorFlow](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream), which includes extra enhancements

Our goal here is to add the sec

[2019-10-07 16:12] schelleg commented on #6645
Hi guys - we are at six weeks of no response from current owner.  I believe this satisfies the PEP 541 wait period.

Can I have ownership of pynq on PYPI?  Or please let me know what are the next steps.

[2019-10-07 16:42] raghav-ys commented on #6783
@brainwane - Hello, I have updated the documentation based on your comment. Submitted  a PR. Please  review.

[2019-10-07 16:46] brainwane commented on #6783
Hi, @raghav-ys and welcome to GitHub! I see you started a new branch and are working on addressing this issue in https://github.com/raghav-ys/warehouse/commit/6e4c1b879b572170b3236f050be48ec4cfbf9ab4 . Please read https://help.github.com/en/articles/about-pull-requests and submit a pull request, and then mention its PR number ("#nnnn") in a comment here on this issue, to make your change easier fo

[2019-10-07 17:00] brainwane commented on #6752
A longer response for @Patil2099 -- Yes, please go ahead and grab this issue! At least within Warehouse, our rule is: If there is not a corresponding pull request for this issue (visibly linked by issue number/PR number), and it's not marked as assigned to anyone, it is up for grabs. So in cases like this, you don't even need to ask. :) Just comment and say that you're starting to work on it, and

[2019-10-07 17:04] raghav-ys commented on #6783
Thanks @brainwane. I will read the book.

Submitted PR#6784.

[2019-10-07 17:47] ewdurbin commented on #6772
The [file](https://raw.githubusercontent.com/ProGamerGov/neural-style-pt/master/examples/outputs/starry_stanford_big.png) that PyPI's image service "camo" is trying to access is being served with the header `Content-Type: application/octet-stream`. The service only attempts to serve responses which are in the [accepted mime types](https://github.com/pypa/warehouse-camo/blob/master/mime-types.json)

[2019-10-07 17:53] di commented on #6772
Duplicate of https://github.com/pypa/warehouse/issues/5596.

[2019-10-07 17:53] #6772 closed

[2019-10-07 20:00] brainwane commented on #6552
@Kohdz  Yes, please go ahead and grab this issue! At least within Warehouse, our rule is: If there is not a corresponding pull request for this issue (visibly linked by issue number/PR number), and it's not marked as assigned to anyone, it is up for grabs. So in cases like this, you don't even need to ask. :) Just comment and say that you're starting to work on it, and link in a comment to your wo

[2019-10-07 20:09] brainwane commented on #6631
@ewdurbin will "spend some time late this week trying to figure out the best way for us to handle building translation files from source" per conversation in IRC just now. That might include some updates to #6749 to document the process.

[2019-10-07 20:12] felipesanches opened #6785 "Increase size limit request for opentype-sanitizer v8.0.0 (72.7M)"
* link to project on pypi: https://pypi.org/project/opentype-sanitizer/
* size of v8.0.0 release: 72.7M
* index we need the increase for: PyPI

## Brief description of the project, including the reason for the additional size

Python wheels for the OpenType Sanitizer

This creates a python package including a binary build of the Opentype Sanitizer (which is written in C) directly from its upstream

[2019-10-07 20:15] #6744 closed

[2019-10-07 20:42] brainwane commented on #5825
Is this something @yeraydiazdiaz or @rcipkins could try working on? This is the last item remaining before we get out of beta for the WebAuthn beta https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931 and can then send out a followup email about this feature to pypi-announce https://mail.python.org/archives/list/pypi-announce@python.org/thread/YTZWD5H4H3VCQTQVPRDLH2TTHVTJS7JQ/ .

[2019-10-07 20:45] brainwane commented on #5661
I'm writing a discuss.python.org/distutils-sig post now to update our community on the end of the OTF-funded work. I'd like for us to have a few more beta blockers closed before we send out a pypi-announce email, to reduce how much time we and other volunteers spend on support issues; it's ok with me if that means the email doesn't go out for a few more weeks.

[2019-10-07 21:14] #5825 closed

[2019-10-07 21:20] brainwane commented on #6396
Sorry for the wait in replying to you @rcipkins -- I think @di or @ewdurbin would be better placed to answer you!

[2019-10-07 21:23] brainwane commented on #6565
@ewdurbin could this be addressed along with #6631?

[2019-10-08 03:07] collinstocks commented on #5416
This is happening again, including on the original reporter's PyPI page: https://pypi.org/project/shconfparser/

[2019-10-08 11:57] ewdurbin commented on #5416
We recently deployed a new version of camo that appears to have crashed. I've restarted the service and we'll determine what is causing the crash.

[2019-10-08 14:54] ewdurbin commented on #5416
captured the crash

[code]

[2019-10-08 15:24] ewdurbin commented on #5416
Fix for this error landed and deploying now: https://github.com/pypa/warehouse-camo/pull/4

[2019-10-08 16:02] di opened #6792 "Fully implement PEP 527"
We still retain the ability for some projects to upload the legacy filetypes listed in [PEP 527](https://www.python.org/dev/peps/pep-0527/):

https://github.com/pypa/warehouse/blob/aa0d54019c322b52cb6428780808816d417abbd1/warehouse/packaging/models.py#L124

https://github.com/pypa/warehouse/blob/e1d0e4e41738fd07a0edeb77f95fedba0fdd41f8/warehouse/forklift/legacy.py#L463-L480

https://github.com/pyp

[2019-10-08 16:08] di commented on #6396
This may be part of (or blocked on) https://github.com/pypa/warehouse/issues/284 -- we don't currently have any authenticated APIs (aside from the upload API) but it seems reasonable that this would be part of some future JSON API which could support authentication.

[2019-10-08 16:35] #6676 closed

[2019-10-08 19:40] eric-haibin-lin commented on #6763
any update on this?

[2019-10-08 20:46] andrzej3393 commented on #6462
I'm working on it, but I'm in doubt what to do if a user does not have a Gravatar. I can see two options there:
* don't display any image, just plain username like now
* display a default avatar
IMHO the second one is better because it'll look more consistent, but on the other hand the default avatar will be needed. WDYT?

[2019-10-08 20:50] webknjaz commented on #6631
So I've tried out Weblate and there's one thing I see missing which is the ability to create variants of phrases depending on the number/gender for languages that use declension for this.
I suppose that the way to go is to use poEdit app locally instead and then send PRs. But how does that integrate back into the Weblate UI?

*(Ref: https://twitter.com/webKnjaZ/status/1181495636946014208)*

[2019-10-09 01:47] sunjincheng121 commented on #6394
Thanks @jamadden !

[2019-10-09 03:49] fitojb commented on #6631
But Weblate is just gettext; in its side it _does_ allow for plural forms according to the language.

[2019-10-09 04:55] pradyunsg commented on #6792
We should also push these projects to drop usage of the legacy formats, and if not, at least get a good understanding if the issue is a "the current toolchain doesn't satisfy workflows like the legacy formats" or "oh, we don't need it" or something else entirely.

[2019-10-09 12:42] webknjaz commented on #6631
Alright, I've seen just one string with multiple versions depending on the number there. Which means that the string source should be fixed to properly mark such places.

[2019-10-09 15:18] di commented on #6792
IIRC the "list" was any project that had previously uploaded one of these filetypes, essentially we only blocked new projects.

A better list would be every project that has this ability that has actually published one of these filetypes in the last `N` months.

I'm guessing that this list is short enough that adding a deprecation notice to Twine would be unnecessary, but hard to say until we actu

[2019-10-09 15:24] di commented on #6462
Gravatar will supply a default image if the user hasn't defined one: https://en.gravatar.com/site/implement/images/#default-image

[2019-10-09 15:48] andrzej3393 commented on #6462
Thank's for the reply, it's nice that you react so quickly :smiley: I'll use the Gravatar's default then.

[2019-10-09 18:39] nlhkabu commented on #6634
Sure @sk1u, thanks for your PR

[2019-10-09 21:17] nlhkabu commented on #6631
@webknjaz - sounds like this justifies it's own ticket.

Would you be able to open a new issue to explain the problem? Please use the 'translation' issue type.

Thanks

[2019-10-09 22:56] webknjaz opened #6798 "Properly mark all i18n marks in the source"
## Bad source in Weblate

Some languages use declension depending on numerals and genders in sentences.
So far, I've seen only one instance of a properly marked string (allowing to enter multiple translated variants for it, depending on the number) and a lot of unmarked ones.

AFAIU, PyPI doesn't hold any user gender info which means that translators would have to work around this by trying to app

[2019-10-09 22:56] webknjaz commented on #6631
https://github.com/pypa/warehouse/issues/6798

[2019-10-10 00:36] szha commented on #6763
Hi @jamadden. Your continued support and help in this matter would be most appreciated. Thanks!

[2019-10-10 07:09] nlhkabu commented on #6798
Thanks @webknjaz.
Could you tell us, where is the example where this is done correctly?
This will give us a model for updating the other strings.

[2019-10-10 12:02] lasote commented on #5758
I've lost my authenticator app... and I didn't read about creating the usb method too... Am I in trouble? I really need to access my account.

[2019-10-10 12:11] nlhkabu commented on #5758
@lasote can you please open a new ticket for this? An admin can then contact you.

[2019-10-10 13:55] lasote opened #6803 "Lost authentication app"
Hi, I've lost my authentication app for my account "lasote" at "lasote@gmail.com".
It is quite important I can get access. Thanks and sorry :(

[2019-10-10 13:57] ewdurbin commented on #6803
Hi @lasote please email ernest@python.org from the email address associated with your PyPI user.

[2019-10-10 13:59] lasote commented on #6803
done

[2019-10-10 14:27] gpchelkin opened #6804 "Lost 2FA authentication"
Hello, I've lost my 2FA authentication secret too :( There was some error when I synced my KeePass database with it.

My account is **gpchelkin**: https://pypi.org/user/gpchelkin/
Email is **p4el48@yandex.ru**
There are many ways I can prove my identity, maybe those would help:
https://pchelk.in
https://keybase.io/gpchelkin

So I've lost access to releasing my hobby project:
https://pypi.org/proje

[2019-10-10 14:29] ewdurbin commented on #6804
Please email ernest@python.org from the primary email address associated with your PyPI account.

[2019-10-10 15:14] ewdurbin commented on #6803
I've worked through verifications for ownership of associated projects and email addresses, reset the TOTP secret for the user, and issued a password reset.

[2019-10-10 15:14] #6803 closed

[2019-10-10 15:58] nlhkabu commented on #6483
Closed in 6687

[2019-10-10 15:58] #6483 closed

[2019-10-10 17:45] sjskdas commented on #6766
Hi Jason,

Sorry for the delay in replying! I have uploaded a small file to the aText
directory which serves as the wrapper of my jar and there is a notebook
example file on how to use the interface via python. The jar file is 270MB.
My understanding is that when a user does "pip install atext" the jar file
will automatically be loaded to the package directory. I have interface for
running the jar

[2019-10-11 00:27] sunway513 commented on #6754
Hi @di , gentle ping.. can you help comment on the request? Or any additional information do you need?
Thanks for the help.

[2019-10-11 04:49] jagadeesh-l commented on #4079
Checking dist\xx-1.1-py2.py3-none-any.whl: FAILED
  `long_description` has syntax errors in markup and would not be rendered on PyPI.
    line 1: Error: Document or section may not begin with a transition.
  warning: `long_description_content_type` missing.  defaulting to `text/x-rst`.

[2019-10-11 10:13] Yusuf4396 opened #6811 "Duniya1"
## My Platform

## Network telemetry

### DNS Resolution

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### TLS Debug

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

[2019-10-11 10:52] di commented on #6811
There's no content here. If you're having network issues when using PyPI please run the commands listed and include the output.

[2019-10-11 10:52] #6811 closed

[2019-10-11 17:27] OpenDataAlex opened #6812 "Lost 2FA Authentication"
Greetings,

I too have lost access to my authenticator app due to switching devices and need to have it reset.

[2019-10-11 18:02] ewdurbin commented on #6812
Hi! Please email ernest@python.org from the primary email address associated with your PyPI user account.

[2019-10-11 20:51] thiagopelizoni opened #6816 "Bug when try to delete a version"
[As this video shows](https://trello-attachments.s3.amazonaws.com/5c8241afaa58167f9f393552/5da067704a01557ecb650dcd/a76ce8f354716fc0e91a00c680951850/pipy_error.mp4), when I try to delete an existing version of a package, it shows a 404 page, instead of delete it.

[2019-10-11 21:02] ewdurbin commented on #6816
This report is from a user with the `pt_BR` locale. The issue appears to be due to translated strings being sent to our macros for the [`confirm_modal`](https://github.com/pypa/warehouse/blob/9923793cdd6e54e9d10e7be8b09b6ef0d953ce5f/warehouse/templates/manage/manage_base.html#L75-L130) and [`confirm_button`](https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/manage_base.html#

[2019-10-11 21:04] ewdurbin commented on #6816
A possible solution, though not necessarily ideal is to update the backend routes to look for the translated string. [Here](https://github.com/pypa/warehouse/blob/9923793cdd6e54e9d10e7be8b09b6ef0d953ce5f/warehouse/manage/views.py#L921) is the hardcoded comparison for this specific case.

[2019-10-11 21:05] ewdurbin commented on #6816
Errrr, that won't work. This ends up as a 404 because of the routing, looking for hardcoded `confirm_release`: https://github.com/pypa/warehouse/blob/9923793cdd6e54e9d10e7be8b09b6ef0d953ce5f/warehouse/manage/views.py#L903

[2019-10-11 21:20] steffenschroeder commented on #6798
Hi,
the problem with the declinations gets even worse if the word's gender depends on a placeholder.
Like
`<a href="%(href)s">%(username)s</a> removed as project %(role_name)s` from https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/history.html#L55

I see that this works wonderful in English, but it's translatable to german because the of the following:

| English |  German

[2019-10-12 11:31] webknjaz commented on #6798
@steffenschroeder I think, in such cases, it's fine to restructure the translation itself too. The main point is that you should keep the original meaning...

[2019-10-12 12:08] yeraydiazdiaz opened #6818 "Deleting an API token from the created API token page fails"
**Describe the bug**
After creating an API token a confirmation page is shown with the token itself, some copy about how to use the token and also a button to delete the token.

Attempting to delete the token brings up the confirm modal and upon submitting the form the page refreshes to show the create API token form with errors reading "this field is required" on both fields. The API token still

[2019-10-12 12:17] di commented on #6818
Maybe a duplicate of https://github.com/pypa/warehouse/issues/6816?

[2019-10-12 12:22] yeraydiazdiaz commented on #6818
No, this happens when using the English locale as well, though I did notice it while testing https://github.com/pypa/warehouse/pull/6819 in portuguese.

[2019-10-12 12:51] #6816 closed

[2019-10-12 12:52] ewdurbin commented on #6818
Confirmed, able to reproduce.

[2019-10-12 12:59] #6634 closed

[2019-10-12 13:44] yeraydiazdiaz commented on #6782
I believe this is because our `main.txt` includes `psycopg2`, which attempts to build from source and [requires](http://initd.org/psycopg/docs/install.html#prerequisites) PostgreSQL client and server library versions which `pg_config` is part of. If you happen to have PostgreSQL installed on your machine it should build fine.

The docs don't cover this because, as you say, it's all built in the Do

[2019-10-12 14:06] brainwane commented on #6782
#6778 and #6744 were the issues I was trying to resolve, I believe.

Maybe we could add an item about this to the Troubleshooting section? I think that would address this issue.

[2019-10-12 15:29] di opened #6822 "Add `Feature-Policy` headers?"
https://securityheaders.com/?q=pypi.org suggests that we should add the new [`Feature-Policy`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy) header.

I don't think we use most of these features, so something like this should work:

[code]

(note the `'self'` for `webauthn` and `speaker`)

[2019-10-12 16:52] NathanBnm commented on #6631
I recently almost translated the entire website into French. Now this is appearing online, but I noticed that certain strings were missing. Will you add them later?

I'm thinking about elements in the footer, the Sponsors and Terms of use pages.

[2019-10-13 09:21] janw opened #6825 "Strings originating from Python are not translatable"
## More information needed to translate effectively

String 557 quotes an error message that the user is supposed to see when their password "has been compromised and cannot be used", see https://github.com/pypa/warehouse/blob/master/warehouse/templates/pages/help.html#L242-L243.

Unfortunately this error message is constructed in `accounts/services.py`, see https://github.com/pypa/warehouse/blob/

[2019-10-13 09:37] di commented on #6825
Thanks for the issue!

We would like to be able to do this, but the challenge with this string in particular (and with most of the other strings in the source) is that this string is constructed outside of a request context, so we don't have access to a localizer when `_failure_message_preamble` is initialized.

There's some additional discussion about this at https://github.com/pypa/warehouse/pul

[2019-10-13 11:48] webknjaz opened #6826 "Eliminate almost the same i18n source strings"
## Bad source in Weblate

If you look at this query
https://hosted.weblate.org/translate/pypa/warehouse/uk/?q=Set+your+password+to+the+token+value%2C+including+the&type=all&offset=1
you'll notice the same string with one small difference: one has `token` variable interpolated and the other has "pypi-" hardcoded there.

So if this string was templated in both places, translators would have less wor

[2019-10-13 18:54] #6818 closed

[2019-10-14 07:14] s1113950 opened #6831 "I'm unable to upload a project that doesn't exist on pypi.org"
I'd like to make a project called `pak`. I checked and that name doesn't exist here:
https://pypi.org/project/pak/

I get an error when I try and upload to pypi:
[code]
Additionally, `pip install pak` doesn't come up with any results.

I found a related ticket: https://github.com/pypa/warehouse/issues/4057 maybe this project name had the same thing happen to it?

[2019-10-14 07:28] di commented on #6831
This project name exists, but all releases have been deleted. (See also https://pypi.org/help/#project-name)

@jezdez, looks like this project belongs to you, would you be willing to transfer it to @s1113950?

[2019-10-14 14:24] ewdurbin commented on #6812
I've verified account ownership and reset 2FA for this user.

[2019-10-14 14:24] #6812 closed

[2019-10-14 15:27] MichalPrincNXP opened #6832 "erpc project admin access"
Hello,
NXP has been administrating the erpc project (https://pypi.org/project/erpc/) using the EmbeddedRpc account aligned with the dusan.cervenka@nxp.com email address. This email address no longer exists, Dusan has left the company and lost the login. Could you please either change the email address of the EmbeddedRpc account to michal.princ@nxp.com and reset the password, or to allow the erpc p

[2019-10-14 19:13] hugovk opened #6834 "pypi.org showing in different languages"
**Describe the bug**

Visiting https://pypi.org/ shows in an unexpected language.

On another computer yesterday (macOS/Chrome), it showed Brazilian Portuguese. I clicked English to change the language.

On this computer today (macOS/Chrome), it first showed English. I reloaded the frontpage, it showed the text in French then re-rendered in English. I reloaded again, it showed French, and but repl

[2019-10-14 19:16] jezdez commented on #6831
@di Sure thing, will do.

@s1113950 Just added you as owner, feel free to remove me on https://pypi.org/manage/project/pak/collaboration/.

[2019-10-14 19:49] s1113950 commented on #6831
Thanks so much 😄

[2019-10-14 19:49] #6831 closed

[2019-10-14 20:54] ewdurbin commented on #6834
@hugovk can you confirm if this is still the case? after investigation, it seems that we hadn't properly configured our CDN for the case of an annonymous/cookieless user, causing pages to be fetched from cache in whatever language they were first retrieved.

https://github.com/python/pypi-infra/pull/49 should have resolved the issue by defaulting the necessary header to english for the first fetch

[2019-10-14 20:59] NIC-MichalLabedzki commented on #6296
There are at least three projects using 0BSD: nf, jsonfromschema (both are mine) and mansel (two packages).

[2019-10-15 03:31] abairheart opened #6835 "Provide searches by function, not by name of package"
I'm new to Python. First attempt to install a package (django) resulted in lots of errors about missing prerequisites. I had no idea what those requirements were.
Tried new search, for features I wanted. but pypi pn;y seems to offer packages by name. These names mean nothing to me.
I would like to see an option to search by function, such as IDE, framework, etc. Tried that, got zero results to all

[2019-10-15 09:24] hugovk commented on #6834
I can no longer reproduce, thanks for fixing it!

[2019-10-15 14:51] hugovk commented on #6355
Also ran into this, it definitely looks like a per-project Travis CI problem.

I can `travis encrypt` for projects where `.travis.yml` was created after 2017-05-01, but get "data too large" for those created before 2017-04-04:

* https://github.com/travis-ci/travis.rb/issues/687#issuecomment-542248882

[2019-10-15 15:17] arigo opened #6843 "Untie the version used for "pip install xxx" from the in-progress release of the next version of xxx"
**What's the problem this feature will solve?**
We cannot atomically release a new version of our software.  Consider a user trying to run "pip install xxx" after we have uploaded the source but before the corresponding wheels.  He will unexpectedly download the new version in source format, and this source code might not compile on his machine because he doesn't have the full development environm

[2019-10-15 15:20] arigo commented on #6843
Yet another solution: we would upload the new version to TestPyPI, and when it's complete transfer that atomically to PyPI.

[2019-10-15 15:43] di commented on #6843
I think this is probably a duplicate of #726, would you mind adding your thoughts to that issue?

[2019-10-15 15:49] arigo commented on #6843
Yes, I just noticed and wrote a link from #726 to here.  Do you still want me to consolidate my thoughts into #726?

[2019-10-15 21:28] rcipkins commented on #6378
This would probably be best to implement as a caveat. I can work on adding it.

[2019-10-16 08:14] dnlsfq commented on #3826
e.g.

pip install --default-timeout=1000 <package_name>

pip install --default-timeout=1000 scipy

pip install --default-timeout=1000 widgetsnbextension

[2019-10-16 12:57] di commented on #6843
Please do! I'm going to close this issue in the meantime, but thanks for the feature request.

[2019-10-16 12:57] #6843 closed

[2019-10-16 13:43] ewdurbin opened #6848 "HTML templates hardcoded with "en" language attributes"
The base template for warehouse pages have the following hardcoded "language" bits:

https://github.com/pypa/warehouse/blob/bc6a10bf5c58332a03e389781546ce963bfee128/warehouse/templates/base.html#L65

https://github.com/pypa/warehouse/blob/bc6a10bf5c58332a03e389781546ce963bfee128/warehouse/templates/base.html#L71-L72

This was noticed in https://github.com/python/pypi-infra/pull/49 and should proba

[2019-10-16 13:48] webknjaz commented on #6848
This https://github.com/projectfluent/fluent-web/blob/master/examples/simple.html suggests that `availableLanguages` is a comma-separated list of all locales while `defaultLanguage` should be just `en-US`, I guess.

[2019-10-16 14:12] webknjaz opened #6849 "Generate `mo`-files on build/pre-deploy"
Problem
=======

The current way of updating MOs is manual generation and push to Git.

This approach has three downsides:

1) Updates don't appear on the website until somebody remembers to run re-generation.
2) MOs are blobs and updating them in Git all the time is not a good idea because Git is not really designed to store binaries effectively, this causes the Git repo size to grow faster than

[2019-10-16 14:22] webknjaz opened #6850 "Missing translation strings in Weblate"
## Bad source in Weblate

There's parts of the website that aren't present in Weblate. I guess that's because they were marked translatable after the initial upload.
So we need to collect new strings and sync them there.

![photo5278686657471687796](https://user-images.githubusercontent.com/578543/66927874-dbe7aa80-f030-11e9-82f0-cc03738b9bc7.jpg)

[2019-10-16 14:22] webknjaz commented on #6850
P.S. I checked that those places appear in English in other locales as well.

[2019-10-16 14:33] ewdurbin commented on #6850
It appears that `{% trans %}` tags for the template these source from are not being picked up despite being inspected while compiling the pot...

[code]

[2019-10-16 14:38] ewdurbin commented on #6850
that's curious...

[code]

[2019-10-16 14:49] ewdurbin commented on #6850
Unfortunately simply adding the extension to `babel.cfg` doesn't quite work due to pathing:

[code]

[code]

[2019-10-16 14:56] webknjaz commented on #6850
I've bisected it to
https://github.com/pypa/warehouse/blob/bc6a10b/warehouse/templates/packaging/detail.html#L130-L142

Removing this block makes babel work.

[2019-10-16 15:00] ewdurbin commented on #6850
We need to configure pybabel to load the extension like so:

[code]

And then we need to figure out how to get the module into the search path when running pybabel... I don't have time right now to work on this though.

[2019-10-16 15:03] ewdurbin commented on #6850
Just to confirm:

[code]

[2019-10-16 15:03] webknjaz commented on #6850
search path? as in `PYTHONPATH=`?

[2019-10-16 15:05] webknjaz commented on #6850
As a workaround, I could send a PR updating the POT file with a local hack...

[2019-10-16 15:06] ewdurbin commented on #6850
I think we should resolve this issue to ensure messages.pot stays up to date.

[2019-10-16 15:10] webknjaz commented on #6850
Also, it would be nice to add some sanity test/linter checking that parsing templates doesn't give an empty result.

[2019-10-16 15:12] ewdurbin commented on #6850
Yes, we should: #6851

[2019-10-16 15:41] #6850 closed

[2019-10-16 18:32] ewdurbin commented on #5661
Update for today:

[code]

TOTP

[code]

WebAuthn

[code]

[code]

[2019-10-16 19:56] hugovk commented on #6834
Just happened again on mobile: homepage in English, search results page in English:

<img width=50% src=https://user-images.githubusercontent.com/1324225/66953702-af9b5080-f067-11e9-9acb-610f4493cbc5.jpg>
...
<img width=50% src=https://user-images.githubusercontent.com/1324225/66953703-af9b5080-f067-11e9-81b5-234c1ec81f4b.jpg>

But project page partly in English but mostly Spanish:

<img width=50%

[2019-10-16 19:59] ewdurbin commented on #6834
*sigh*, thanks for re-reporting. will look a bit closer.

[2019-10-16 21:39] dstufft commented on #6834
I haven't verified this, but I suspect the issue is effectively that our caching headers were not updated to account for the translation work that was done.

Given an url like ``/project/pip/``, the content on that page is now going to change based on whether a specific cookie is there or not, however our ``Vary`` headers don't reflect this. This means that browsers and downstream caches are free

[2019-10-16 22:19] dstufft commented on #6834
Not sure when/if I'll have time to get to this, but I wrote a quick PoC of the changes that need to land in PyPI itself at https://github.com/pypa/warehouse/pull/6857.

[2019-10-16 23:27] SimonDeRidder commented on #5255
Hi @yeraydiazdiaz ,
Sorry for the late answer.
There seems to be little difference between the two other than the name and version,
so I suppose the former would be the best choice to keep, with the latest version number and the simpler name.

[2019-10-17 15:02] webknjaz opened #6862 "Dates should be localized too"
So while browsing PyPI with translation switched, I noticed that dates are still displayed in English.
This should be adjusted accordingly.

[2019-10-17 15:03] Marco-Sulla opened #6863 "Request for maintainership of `frozendict` package"
Hello. I contacted the original author of `frozendict`, @slezica. He said to me there's no problem to transfer to me the ownership of the project. What we have to do?

[2019-10-17 15:23] carltongibson commented on #6605
Hi, yes, can I bump this please? Django is now beta, and we're seeing third party packages trying to release with support.

Thanks!

[2019-10-17 15:53] webknjaz opened #6864 "Autodetect the locale based on the preferred browser language"
The browser communicates such intent using `Accept-Language` header that lists a number of locales in the order of priority.

For example, if HTTP request contains `Accept-Language: uk,en`, this means that the browser is asking the server to provide the content in Ukrainian, if possible, and fall back to English if Ukrainian is not available.

Currently, PyPI ignores this header completely.
<detai

[2019-10-17 16:02] di commented on #6832
@MichalPrincNXP, can you make your membership in the https://github.com/embeddedrpc/ Github organization public? I think that should suffice for verifying ownership.

[2019-10-17 17:14] di commented on #6825
I should note that there are a number of places where we can localize these strings as-is right now, however. For example, many of the flash messages in `warehouse/manage/views.py` are not marked for translation, but will have a request context: https://github.com/pypa/warehouse/blob/5b021c6284ff55d4e97f92ef272d5e3b6f6e0fcc/warehouse/manage/views.py#L145

Some of them are f-strings and should be m

[2019-10-17 17:56] thatch45 opened #6865 "PEP541: Squatter on `idem`"
I have a project called `idem` that I would like to upload to pypi but the name is being squatted - https://pypi.org/project/idem/ .

The current owner has not published any code and has no contact information. Can I please take over ownership of the `idem` name on pypi as user `thatch45`?

Thank you all again for your work!

[2019-10-17 18:31] ewdurbin commented on #6834
The first phase of this landed with https://github.com/python/pypi-infra/pull/50, I'm not 100% certain, but this should resolve any incorrect translations that were occurring due to shielding.

[2019-10-17 20:41] MichalPrincNXP commented on #6832
Hi @di , I have just made the membership public. Is there any other step I need to do? Thank you.

[2019-10-17 21:14] di commented on #6832
Hi @MichalPrincNXP, thanks.

I've also contacted `dusan.cervenka@nxp.com` and the message didn't bounce as I expected it to. Ideally I would see a bounce or a response from that address. (Technically according to [PEP 541](https://www.python.org/dev/peps/pep-0541/) we must wait 6 weeks before we can consider an author unreachable.)

Perhaps @DusanCervenkaNXP / @Hadatko can chime in to confirm here

[2019-10-17 22:13] abairheart commented on #6835
I was merely trying to suggest a new search filter.  As a total newbie to
PyPa, I found the list of packages overwhelming, and uninformative.
I tried one filters, then another, then too many filters, got no results.
But I don't know what to search for, and how - totally new to Python. So an
alphabetical list of available categories of packages is what I would like
to see, as a newbie.

Regards,

A

[2019-10-17 23:24] ryanlovett opened #6871 "French sidebar on English locale"
**Describe the bug**
French is used in the left sidebar on pypi.org even though I've chosen the English locale.

**Expected behavior**
The left sidebar is in English.

**To Reproduce**
1. Click English at the bottom of a pypi page.
2. See the green header "Locale updated" at the top.
3. Observe the terms "Statistiques", "Liens du projet", "Mainteneurs", etc. in the left sidebar.

**My Platform**
m

[2019-10-17 23:26] di commented on #6871
Thanks for the report! This is a duplicate of https://github.com/pypa/warehouse/issues/6834.

[2019-10-17 23:26] #6871 closed

[2019-10-17 23:56] ryanlovett commented on #6871
Oops, thanks.

[2019-10-18 01:17] MNGuenther opened #6872 "HTTPError: 400 Client Error: File already exists."
Dear admins,

A newer version of setuptool's find_packages() decided to suddenly package a lot of arbitrary folders when running setup.py.
Unknowingly, I tried to upload that to PyPI as version 0.9.6, which failed as the .tar.gz file size was too large.
I then resolved the issue and tried to re-upload to PyPI.
This failed, because version 0.9.6 was already on there - even though it had said the up

[2019-10-18 01:47] Hadatko commented on #6832
Hi i am sorry for this inconvinience. I left the company and my email account was deleted. I am confirming that Michal Princ should be new owner of erpc pypy account.

[2019-10-18 07:50] pfmoore commented on #6834
I'm also getting this, the page for the package `python-certifi-win32` is showing in Ukranian for me, whereas all other pages are showing in English which is what I'd expect (Win10, Chrome, not signed in). Just happened for me in thhe last 5 minutes.

It was odd that it was only happening for one package, and at first I suspected a hack. Good to know it's "simply" a localisation issue :-)

[2019-10-18 11:46] Schamper commented on #5939
Shouldn't the grace period of 6 weeks start again after the last response from the maintainer? Since no action was taken since that response?

[2019-10-18 13:46] Miserlou commented on #6725
Did he reply? I had no success.

[2019-10-18 15:19] thatch45 commented on #6865
Thanks, if there is anything I can do on my side to push this forward please let me know.  Thanks!

[2019-10-18 16:03] di commented on #6832
Thanks! I've added `MichalPrinc` as an owner of the project. If you'd like to reclaim the `EmbeddedRpc` user, you'll need to give me another email address, since `michal.princ@nxp.com` is already being used by the `MichalPrinc` account.

[2019-10-18 16:03] #6832 closed

[2019-10-18 17:14] ewdurbin commented on #6834
I think this is finally solved. It stems from the fact that warehouse currently tries to respect the `Accept-Language` header if no `_LOCALE_` cookie is set.

This leads to us identifying a request as `en` in the synthesized `PyPI-Locale` header, even though what PyPI responds with may be translated.

In the interest of expediency, I've configured our CDN to strip the Accept-Language header comple

[2019-10-18 17:16] ewdurbin commented on #6864
If we work to support `Accept-Language`, the VCL will need to be updated to undo https://github.com/python/pypi-infra/pull/52 and replace it with something using Fastly's support for this header: https://docs.fastly.com/en/guides/accept-language-header-vcl-features

[2019-10-18 17:19] ewdurbin commented on #6834
😓 I think this is finally resolved.

[2019-10-18 17:19] #6834 closed

[2019-10-18 18:29] di commented on #6835
Something like this? https://pypi.org/classifiers/

[2019-10-18 18:30] di commented on #6872
Hi, what's the project name?

[2019-10-18 18:36] MNGuenther commented on #6872
allesfitter

[2019-10-18 19:24] pfmoore commented on #6834
Looks good to me now, thanks!

[2019-10-18 19:34] di commented on #6872
Looks like you successfully uploaded the built distribution for 0.9.6, but the source distribution failed:

name | version | date | submitted_by | submitted_from | action
-- | -- | -- | -- | -- | --
allesfitter | 0.9.6 | 2019-10-18 00:41:59.678005 | MNGuenther | - | add py3 file allesfitter-0.9.6-py3-none-any.whl
allesfitter | 0.9.6 | 2019-10-18 00:41:59.678005 | MNGuenther | - | new release

Do y

[2019-10-18 20:11] MNGuenther commented on #6872
Brilliant, thanks Di!
The --skip-existing flag jumped over 0.9.6 (which caused the problem, because my local file for that does not match the uploaded file). So, using --skip-existing I was able to successfully upload 0.9.7.
Thanks so much for your quick help!

[2019-10-18 20:14] di commented on #6872
Great!

[2019-10-18 20:14] #6872 closed

[2019-10-18 21:08] di opened #6880 "Long username overflows on profile page"
A sufficiently long username overflows on the user's profile page:

<img width="598" alt="Screen Shot 2019-10-18 at 4 06 31 PM" src="https://user-images.githubusercontent.com/294415/67128477-66f7aa80-f1c1-11e9-88d5-b6cc6fadc755.png">

This will become more of a problem once #5944 is resolved and email addresses appear here as well.

[2019-10-18 23:12] jojonas opened #6881 "PEP 541: Transfer of ownership of namesquatted package "age""
Hello,

I would like to request that the `age` project (https://pypi.org/project/age/) on PyPI is transferred to PyPI user `jojonas` (me).

The `age` project on PyPI has been registered (and released once) in May 2015. This one existing release with version number 0.0 seems to be empty. There has not been any activity afterwards.
Furthermore, I could not find any contact details for current owner

[2019-10-19 07:17] sargamm commented on #6880
I would like to work on this

[2019-10-19 07:43] sargamm commented on #6880
@di I figured out that the overflow property of the author-profile needs to be changed, what would you like me to add a scrollbar option for the same so that the a longer user name can be seen properly and also an email address if visible(the issue that is being worked upon)?

[2019-10-19 10:25] NathanBnm opened #6882 "Translate classifiers"
What about translating classifiers here?

![image](https://user-images.githubusercontent.com/45366162/67143416-84814e80-f26b-11e9-80cf-937381a0749a.png)

[2019-10-19 10:27] NathanBnm commented on #6864
You could use a cookie too in order to store the user language preference. (For example when the browser is in english but the user choose French as default language for PyPI).

[2019-10-19 11:43] yeraydiazdiaz commented on #4938
Hi @rhsimplex, given @ttmc has not responded and you appear as the contact email, I will now contact an administrator to proceed to adding your PyPI user`rhsimplex` as an owner of the `image-match` project.

[2019-10-19 11:43] yeraydiazdiaz commented on #5346
Thanks for your patience on resolving this issue. I will now contact an administrator to proceed to adding your PyPI username `jeking3` as an owner of the `thrift` package.

[2019-10-19 11:44] yeraydiazdiaz commented on #5255
Thanks @SimonDeRidder . I will now contact an administrator to proceed to adding your PyPI username `SimonDR` as an owner of the `christofides` project.

[2019-10-19 21:07] webknjaz commented on #6864
Well, that's what I described. But the initial language should be taken from the browser preferences.

[2019-10-20 13:35] felix-hilden commented on #6596
Hi again, @jamadden! [Six weeks](https://www.python.org/dev/peps/pep-0541/#reachability) have gone by. Has plamere responded in any way? Have you tried any other means of communication after your first attempts?

If there's no sign of him, can the transfer proceed? And if so, what would be the next steps?

[2019-10-20 18:46] sargamm commented on #6880
I have made a pull request #6886 for the same. Please have a look!

[2019-10-21 08:24] rhsimplex commented on #4938
Thank you very much @yeraydiazdiaz =)

[2019-10-21 14:34] rscottbailey opened #6889 "PEP541: squatter on `dryice`"
I have a project called dryice that I would like to upload to pypi but the name is being squatted - https://pypi.org/project/dryice/ .

The current owner has not published any code and has no contact information. Can I please take over ownership of the dryice name on pypi as user rscottbailey?

Thank you all again for your work!

[2019-10-21 15:38] di commented on #6882
These classifiers correlate to actual strings that package maintainers use to classify their projects. I think unless we supported translated strings in the package metadata (which I'm not sure is a good idea) translating these would would probably cause more confusion than leaving them untranslated.

Maybe it would make sense to add a label under each one with a translation when a locale is speci

[2019-10-21 15:58] #6782 closed

[2019-10-21 16:12] di commented on #6880
I'm not sure adding a scrollbar is the right approach here. For example, this is what Github does:

<img width="523" alt="Screen Shot 2019-10-21 at 11 09 24 AM" src="https://user-images.githubusercontent.com/294415/67222677-68101e00-f3f3-11e9-84e1-9893e99038da.png">

* Full name wraps
* Username wraps
* Email truncates with an ellipsis

I think we probably want to do the same thing here, and I thi

[2019-10-21 18:00] NathanBnm commented on #6882
I understand

Sure it could be a good idea!

[2019-10-21 20:02] #6117 closed

[2019-10-22 05:11] sargamm commented on #6880
Okay, so for this I can add the word-wrap property for the required class, and undo the change I made in the overflow property. Does that work?

[2019-10-22 08:58] carltongibson commented on #6605
Hi @ewdurbin. Sorry for the noise. You were able to resolve #5317 for us. Would you be able to look at this please? (It's becoming a little pressing... 😬) Thanks!

[2019-10-22 09:30] yguenduez opened #6891 "Take ownership of an abandoned package"
I have a project called nxlib that I would like to upload to PyPi. But another [project](https://pypi.org/project/nxlib/) with the same name does already exist and is abandoned (after PEP541) and the owner is not contactable.

I tried contacting the owner, but his mail does not exist anymore.
So I would like to take over ownership of the nxlib name, if that is possible? My PyPi user name is ensens

[2019-10-22 11:14] jamadden commented on #6596
I have not been able to make contact. I think we can request @di or @ewdurbin to initiate a transfer.

[2019-10-22 11:14] jamadden commented on #6605
`Framework :: Django :: 3.0` has been added to pypi.org and test.pypi.org.

[2019-10-22 11:14] #6605 closed

[2019-10-22 11:20] ewdurbin commented on #6605
Thank you @jamadden!

[2019-10-22 11:41] carltongibson commented on #6605
Super. Thanks both!

[2019-10-22 12:38] Phlya commented on #5580
Just wanted to ping this again, @rtansf any chance you could do this?

Alternatively, perhaps @jamadden could help at this point and ask someone with a superuser account?

[2019-10-22 13:11] di commented on #6880
I think that should work.

[2019-10-22 14:53] anarcat commented on #6136
hello... is this thing on? we have timed out here for months, if not years. we filed three different issues as the ownership processed changed (twice!) since 2017. it seems we kind of deserve an answer here. :)

if it's a no, we'll just go our own way and make a release under a different name, but i'm getting a little frustrated by the lack of progress...

can someone just make the call here alrea