[2019-06-24 10:38] pradyunsg commented on #6048
@kolinwei Could you answer @ewdurbin's question?

[2019-06-24 10:38] pradyunsg commented on #6048
Oh, nvm, I see you answered it.

[2019-06-24 10:44] kolinwei commented on #6048
@pradyunsg yes，we will support cuda8、cuda9 and cuda10

[2019-06-24 14:13] woodruffw opened #6077 "a11y: Project management collaboration table"
Minor accessibility improvements can be made to the collaboration table on `/manage/project/{project_name}/collaboration/`:

* The `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node
* Each user's name and icon can be combined into a single c

[2019-06-24 14:19] woodruffw opened #6078 "a11y: Project management history table"
Minor accessibility improvements can be made to `/manage/project/{project_name}/history/`:

* The history `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node

[2019-06-24 14:29] woodruffw opened #6079 "a11y: Project management releases table"
Accessibility improvements can be made to `/manage/project/{project_name}/releases/`:

* The release `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node
* For dates in the "Release date" column, use Jinja2's `localize` instead of `humanize` t

[2019-06-24 14:36] woodruffw opened #6080 "a11y: Individual project release management table"
Minor accessibility improvements can be made to `/manage/project/{project_name}/release/{release}`:

* The asset `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node
* The option dropdown buttons should have `type=button` to indicate that they

[2019-06-24 14:37] woodruffw commented on #6080
In the hashes modal for each release asset:

* The hashes `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the <h2> above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node
* The clipboard copy buttons should have `type=button` to indicate that they don't reset or resubmit any form data

[2019-06-24 14:43] woodruffw opened #6081 "a11y: Package download table"
Minor accessibility improvements can be made to `/project/{project_name}/#files`:

* The `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node

[2019-06-24 14:47] woodruffw commented on #6081
The "copy to clipboard" link (see below) is smaller than in other tables, and might be difficult for users with limited mobility to click.

For improved accessibility and consistency with other instances of clipboard actions, the link should be turned into a button and made larger and/or placed into its own column on the download table.

<img width="873" alt="Screen Shot 2019-06-24 at 10 46 54 AM"

[2019-06-24 14:50] woodruffw commented on #6081
The font size on the table can also be increased from `14px`, potentially to `17px` (for consistency with other tables in the project view).

[2019-06-24 14:50] ewdurbin commented on #6048
Limit set to 250 MiB. Please try to limit the frequency of releases to PyPI, and do let us know if you're able to reduce the size of the release files.

[2019-06-24 14:50] #6048 closed

[2019-06-24 15:02] ewdurbin commented on #6071
Based on our metrics, it appears that our Content Delivery Network provider's Point of Presence in Mumbai was experiencing issues reaching the backends during this timeframe. We don't have a whole lot of visibility into what might cause a global routing issue like that unfortunately.

Can you confirm if you are near Mumbai? If so this is likely related to that transient error.

[2019-06-24 15:47] woodruffw commented on #6050
Hey, sorry for the late response. You shouldn't *need* the source maps, it should be sufficient to just pepper some `.catch(...)` calls on the promises and see what the actual exception is.

[2019-06-24 15:48] webknjaz commented on #6050
Can I just stick some breakpoints in DevTools then?

[2019-06-24 15:48] woodruffw commented on #6050
Yep, that should also work.

[2019-06-24 15:49] webknjaz commented on #6050
I mean, I should be able to do this in the prod PyPI, right?

[2019-06-24 15:50] woodruffw commented on #6050
Ah, yes. Nothing should be different in prod.

[2019-06-24 15:51] webknjaz commented on #6050
That's better! Because I cannot find time to spin up everything locally right now :)

I thought that maybe it's minimized there.

[2019-06-24 15:56] webknjaz commented on #6050
Hm... It's minified and my browser doesn't pick up srcmaps for some reason.

[2019-06-24 16:16] woodruffw opened #6082 "a11y: Classifiers"
On `/classifiers/`:

* Each classifier's "copy to clipboard" link (see screenshot) should be made a button and enlarged, for consistency with other "copy to clipboard" actions. Enlargement also aides users with limited mobility.

<img width="461" alt="Screen Shot 2019-06-24 at 12 16 31 PM" src="https://user-images.githubusercontent.com/3059210/60035044-eba24400-9679-11e9-9af7-2fa8d801dcb8.png">

[2019-06-24 19:28] woodruffw commented on #994
Just wrapped up a call with @ewdurbin, @dstufft, and @brainwane and came up with the following roadmap:

1. We're going to work with macaroons from the very beginning, and **not** go with dumb API keys as I proposed above.
2. In particular, I plan to work off of @dstufft's work in https://github.com/dstufft/warehouse/pull/2, pulling in work from https://github.com/pypa/warehouse/pull/4949 where ap

[2019-06-24 20:05] #6040 closed

[2019-06-24 20:23] brainwane commented on #1453
And potentially help from [the PSF's Translation WG](https://wiki.python.org/psf/TranslationWG) which aims to do translations for Python & Python documentation in general.

[2019-06-24 20:41] shbhuk opened #6083 "Increasing package size limit for mrexo"
Hi,
I'm requesting a size limit increase of the PyPI package mrexo's wheel to 200 MB. They stand at 108 MB right now, and am asking for a buffer in case the size of the package grows.

This is an astronomy package with some data products that are shipped along with the package, and are responsible for the size.

Thanks!

https://pypi.org/project/mrexo/

[2019-06-24 21:30] woodruffw commented on #994
Began work on this in #6084.

[2019-06-24 23:17] kolinwei commented on #6048
Thanks very much ，We will reduce the size of packages by removing unnecessary dependencies，and this may be work in September。

[2019-06-25 00:56] dimaqq commented on #994
I just realised that there's a patent 😨
https://patents.google.com/patent/US9397990
Who can check if/how this might affect PYPA?

[2019-06-25 02:41] cooperlees commented on #4892
Does anyone have time for debugging this? Do we want to remove the hack in https://github.com/pypa/bandersnatch/pull/57 for Bandersnatch where it tries and clear stale caches.

[2019-06-25 05:29] nlhkabu opened #6088 "Should we autofocus the search bar on PyPI homepage?"
# Should we autofocus the search bar on PyPI homepage?

We have had many requests (and some PRs) from PyPI users to autofocus the search bar on the PyPI homepage.

As part of the work funded by the recent [OTF grant](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html), I have been researching whether or not this is a good decision to make from an accessibility perspect

[2019-06-25 05:34] nlhkabu commented on #3440
Thanks everyone for your contribution to this discussion.  Thanks to the recent OTF funding for accessibility, I've had time to look into this issue in more detail.  I've opened a ticket with my findings here: https://github.com/pypa/warehouse/issues/6088

TLDR: Based on the available accessibility recommendations, and the data that shows how users are using the page, we should not focus the searc

[2019-06-25 05:34] #3440 closed

[2019-06-25 08:39] yeraydiazdiaz commented on #4470
@brainwane I started some time ago but never got far with it, I may get some time to work on this soon though.

[2019-06-25 09:35] NotJohs opened #6089 "pip install stuck"
[
<img width="719" alt="Screenshot 2019-06-25 at 09 27 16" src="https://user-images.githubusercontent.com/29008971/60085322-fd92ee00-9730-11e9-9cd8-6f5c56a0bf4b.png">
](url)

## My Platform

## Network telemetry

### DNS Resolution

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

#### IPv4

[code]

[code]

##

[2019-06-25 12:09] pradyunsg commented on #3440
Thanks @nlhkabu for the update!

A minor point that you're probably already aware of but doesn't hurt to restate -- if we're going down the route of adding a keyboard shortcut for focusing on the search bar, it's kinda important IMO for the shortcut to be reasonably discoverable. :)

[2019-06-25 14:35] brainwane opened #6090 "Clearer analytics/more detailed reports that still respect user privacy"
**What's the problem this feature will solve?**
In order to make better decisions about user experience, deprecating features, rearranging routes and pages, etc., we could use more data about how our users use PyPI. Example questions we want to answer: how many times per year does the median or mode user visit the site? Do logged-in users use search more than anonymous users do, and is it the firs

[2019-06-25 15:15] brainwane commented on #1190
I'm currently looking into best practices for how to support username changes in a context (like PyPI) where username reputation might be important, but also we really do want to provide some way for people to change usernames (e.g., trans people whose old usernames reflect their old legal names). If we decide that username changes need approval from site admins/moderators, it might be something w

[2019-06-25 15:23] ewdurbin opened #6091 "Soft Deletes Meta Issue"
Currently, all deletes are good and proper Deletions.

This imposes quite a bit of risk for moderator activities, causes confusion and frustration for maintainers, and blocks us from implementing some important features down the line.

This issue is a "Meta Issue" for tracking progress on soft deletion implementation for models for which it makes sense.

Currently:

- [ ] #4440 Projects/Releases/F

[2019-06-25 16:13] nealmcb commented on #994
Very good observation and question!

I'm asking Google to add that patent to their [Open Patent Non-Assertion Pledge – Google](https://www.google.com/patents/opnpledge/). It seems like a no-brainer to me.....

[2019-06-25 18:45] brainwane commented on #5863
User exarkun in IRC just pointed out that the public might want to know _who_ uploaded a particular release, and that info perhaps should be in the ownership history/audit log for a project.

[2019-06-25 19:04] ecordell opened #6092 "Can't delete release named `.`"
**Describe the bug**

I have a release named `.` that I can't view or delete.

This may or may not be a dupe of #5467

**Expected behavior**

I'm not sure how it got there in the first place, but there's a release named `.` for one of my projects. I'd like to delete it but I can't. When I try to delete it, I see a 404. When I try to view it, it redirects to the project home page.

**To Reproduce**

[2019-06-25 19:25] pradyunsg commented on #6092
Hi! Thanks for filing this issue!

Was this release made recently? Or is it an old one?

[2019-06-25 19:31] di commented on #6092
The release was made in 2014 before we were validating versions as strictly.

I can't even see this release in the admin UI, so I'm going to assign this to @ewdurbin to handle this directly in the database.

[2019-06-25 19:52] di commented on #3231
Here's the branch I was referring to... it's quite out of date at this point:

https://github.com/pypa/warehouse/compare/master...di:flag-projects

I attempted to start with just the ability to flag a project or request an upload limit, with the assumption that this could grow into an additional support system.

I believe I stopped at the point where I was trying to get the state machine correct,

[2019-06-25 19:56] di commented on #6089
There was a major internet outage yesterday, here's our CDN's status report on it: https://status.fastly.com/incidents/bjnqv5zrk0x2

This should be resolved now, can you confirm whether or not you're still experiencing this @NotJohs?

[2019-06-25 20:10] ewdurbin commented on #6092
notes: Release ID is f145e037-fb76-4d94-9bf5-95607e18277b

[2019-06-25 20:12] ewdurbin commented on #5467
Notes:

Release ID is dbea92f6-a9e5-4840-95f5-4534cf6dadea
Version is:

[code]

[2019-06-25 21:34] amcgregor commented on #3440
I'll add the note that if you visit YouTube.com whilst logged in, typing `/` activates the search, there, too.  I'm a fan of [Mousetrap](https://craig.is/killing/mice) as a tiny helper library for binding and unbinding shortcuts (with and without modifier keys) as needed.

Additionally, both sites follow the convention of pressing `?` to show a popover shortcut reference, in terms of discoverabili

[2019-06-26 02:41] HangJie720 opened #6097 "HTTPError: 400 Client Error: File too large. Limit for project 'tensorflow-tflex' is 60 MB. See https://test.pypi.org/help/#file-size-limit for url: https://test.pypi.org/legacy/"
My Program is advanced tensorflow, named as tensorflow-tflex, for edge computing. Size is 69.1M, could you help me increase the upload size limit? Thank you very much !
-rw-r--r-- 1 jie.hang default  70M Jun 25 17:52 tensorflow_tflex-1.13.1-cp27-cp27mu-linux_x86_64.whl

[2019-06-26 03:21] HangJie720 commented on #6097
I upload a empy packages, which web site is: https://pypi.org/project/tensorflow-tflex/
HTTPError: 400 Client Error: File too large. Limit for project 'tensorflow-tflex' is 60 MB. See https://test.pypi.org/help/#file-size-limit for url: https://test.pypi.org/legacy/

[2019-06-26 06:18] achitroj opened #6098 "Python package/requirement with the name - 'module' is not found now."
In our project we have a package with the name - '**module**' in requirements.txt file. Today while deploying our application, we faced an issue from pip that it is not able to find the package '**module**'. But earlier, this was easily found.
I also searched Python package directory on - _https://pypi.org/_ but could not find this package.
Looks like this has been deleted. Can you guys provide me

[2019-06-26 06:40] nlhkabu opened #6099 "Create keyboard shortcut to focus search bar"
**What's the problem this feature will solve?**
We have decided *not* to autofocus the search bar on the PyPI homepage (see #6088)

However, we should consider creating a keyboard shortcut to move users to the search bar.

**Describe the solution you'd like**
The solution should be:

- Easy for PyPI users to discover
- Simple
- It should *not* interfere with keyboard shortcuts used by screenreader

[2019-06-26 07:58] NotJohs commented on #6089
@di
Thanks for the response, sadly still experiencing the same issue.
My currently geographical location; Port Harcourt, Nigeria, West Africa. I am not knowledgable to know if this is contributing factors based on the routing to the CDN.
[
<img width="820" alt="Screenshot 2019-06-26 at 08 53 53" src="https://user-images.githubusercontent.com/29008971/60161710-fa126c00-97ef-11e9-88e3-ee6108d2b0c5.p

[2019-06-26 08:21] NotJohs commented on #6089
**For all does it may concern

While this issue persists, I have done a workaround; installing packages directing from the git repo.
---
For example, installing flask requires werkzeug (werkzeug collection process encounters this connection problem) so installing werkzeug manually would enable the smooth installation of flask.

$ pip install -U https://github.com/pallets/werkzeug/archive/<version>

[2019-06-26 09:00] ulfworsoe opened #6100 "PEP 541: Transfer of abandoned project Mosek to Mosek ApS"
I would like to request a transfer of the Mosek project to `https://pypi.org/user/mosek/`.

I have not found a way to contact the listed maintainer, and the project have only a single release from 2014 (which is a repackaging of the official MOSEK release from back then).

I am currently the official maintainer if the Python interface for Mosek at https://mosek.com (and at github: https://github.c

[2019-06-26 10:59] jamadden commented on #6100
The owner of that project is https://pypi.org/user/sdahal1990/. Their account was created on 2014-08-05, and the last time it was accessed was on 2014-08-06 (which is the date that the project mosek was uploaded). The account's email is not verified, but I did email it in an attempt to contact the owner.

[2019-06-26 15:30] di commented on #5769
Re-opening this, `/stats` seems to be broken, here's a traceback from https://sentry.io/organizations/python-software-foundation/issues/1080678729/:

[code]

(cc @DavidBord)

[2019-06-26 15:48] di commented on #6089
Can you try running `pip install -v --no-cache-dir Werkzeug`?

[2019-06-26 16:30] NotJohs commented on #6089
[code]
installed successfully:
[code]

[2019-06-26 16:33] NotJohs commented on #6089
@di Please if you don't mind, why did this work?

[2019-06-26 17:59] di commented on #6098
Looks like the maintainer deleted this project yesterday, unfortunately I don't have more details as to why. I'll reach out to them and point them towards this thread, however there's not much else we can do here, so I'm going to close this issue as well.

[2019-06-26 17:59] #6098 closed

[2019-06-26 18:26] di commented on #6089
Seems like this is due to https://github.com/pypa/pip/issues/3532. Looks like there are some suggestions in that thread which might permanently resolve this for you.

I'm going to close this issue since this isn't related to PyPI, but thanks for the report!

[2019-06-26 18:26] #6089 closed

[2019-06-26 19:10] brainwane opened #6103 "2fa: token timeout problem"
This is copied (with permission) from an email from @steiza.

Heads-up @woodruffw.

[2019-06-26 19:49] NotJohs commented on #6089
@di  Thanks a lot for your time. I really appreicate it.

[2019-06-26 19:55] ewdurbin commented on #994
I've requested that @VanL, the PSF's General Counsel weigh in on this question.

[2019-06-26 21:10] davedittrich opened #6106 "2FA enable on unsupported browser not caught?"
I am trying to test 2FA on test.pypi.org and initial test failed, locking me out of my account.

**Describe the bug**

I thought I successfully verified that the Yubikey I planned on using was compatible with WebAuthn, but I neglected to look closely at the matrix of supported browsers in the secondary link for supported 2FA keys. I use LastPass for storing login information (using 2FA to protect

[2019-06-26 22:01] shbhuk commented on #6083
Hi, just checking in. Is there additional information needed?

[2019-06-27 06:20] nlhkabu commented on #6106
Thank you for this report @davedittrich
@woodruffw would you be able to look into what's happening here?

[2019-06-27 08:22] maciej-gol opened #6111 "Placeholder github stars and forks are misleading"
**Describe the bug**
For PyPI packages that ship with no github url, the warehouse webpage shows misleading github statistics:

![Screenshot from 2019-06-27 10-21-32](https://user-images.githubusercontent.com/1861709/60249545-5c896c00-98c5-11e9-9247-6a887c4cc64d.png)

Link to package: https://pypi.org/project/op-askpass/

**Expected behavior**
Github stats would be zero or not shown at all.

**To

[2019-06-27 08:30] maciej-gol commented on #6111
Nvm, an oversight.

[2019-06-27 08:30] #6111 closed

[2019-06-27 10:51] jamadden commented on #6083
The limit has been increased on pypi.org

[2019-06-27 10:51] #6083 closed

[2019-06-27 10:55] jamadden commented on #6076
I show paddlepaddle having a 100MB limit on pypi.org.

[2019-06-27 10:55] #6076 closed

[2019-06-27 10:57] jamadden commented on #6097
The limit for tensorflow-tflex has been set to 100MB on pypi.org and test.pypi.org.

[2019-06-27 10:57] #6097 closed

[2019-06-27 11:12] pradyunsg commented on #6111
For future :eyes: that might look at this and get confused, the GitHub stats were fetched for https://github.com/pypa/sampleproject, since that was a URL provided in the metadata. :)

[2019-06-27 13:00] amcgregor commented on #6099
Here's a short story summary for this, if this helps in any way.  :)

---

As a Python developer attempting to find back ("jump to") a specific project, or looking for a package that meets my requirements, I want to be able to rapidly search so that I can get on with the real work.

### Discoverability

**Given** a _new visitor_ to the package index,
**And** they haven not seen the hint yet (i.e.

[2019-06-27 13:24] shbhuk commented on #6083
Thank you!

[2019-06-27 13:34] brainwane commented on #6106
@davedittrich Thank you _so much_ for the detailed bug report. I really appreciate it.

[2019-06-27 13:40] brainwane commented on #6103
@steiza - question for you from @woodruffw ([from IRC](http://kafka.dcpython.org/day/pypa-dev/2019-06-26)):

[2019-06-27 13:43] brainwane commented on #6106
@davedittrich I'm going to ask you the same diagnostic question our lead on this project asked regarding #6013 where another user ran into that same error message:

[2019-06-27 17:48] ewdurbin commented on #6106
This should be resolved, there was a misconfiguration on test.pypi.org that was not present on pypi.org.

Can you attempt to reproduce and update us if it is still not working?

[2019-06-27 17:48] ewdurbin commented on #6103
This should be resolved, there was a misconfiguration on test.pypi.org that was not present on pypi.org.

Can you attempt to reproduce and update us if it is still not working?

[2019-06-27 17:48] ewdurbin commented on #6050
This should be resolved, there was a misconfiguration on test.pypi.org that was not present on pypi.org.

Can you attempt to reproduce and update us if it is still not working?

[2019-06-27 19:04] davedittrich commented on #6106
That got it. I'm in! Thanks!

On Thu, Jun 27, 2019 at 10:48 AM Ernest W. Durbin III <
notifications@github.com> wrote:

--
Dave Dittrich
@davedittrich
dave.dittrich@gmail.com
https://davedittrich.github.io/

[2019-06-27 19:57] #6106 closed

[2019-06-27 20:09] garyemiller opened #6114 "Expose TOTP provisioning code for manual entry"
I use the command line tool "oathtool" for my 2FA.  But your 2FA enrollment page only shows a QR code.  How do I get the key for oathtool use?

[2019-06-27 20:13] garyemiller opened #6115 "Contact maintainer?"
How do I contact the maintainer? pip is serving a really, really, old copy of gps.

[2019-06-27 20:42] #3925 closed

[2019-06-27 20:42] #6038 closed

[2019-06-27 21:03] jamadden commented on #6115
If you mean the maintainers and adminstrators of warehouse, this is as good a place as any. 😄

If the project you mention is https://pypi.org/project/gps/, I can't reproduce a problem with pip installing an old version. The current version is 3.9, and that's what I get.

It could be a caching issue on PyPI's CDN, I suppose, in which case some details about your network environment (those requested

[2019-06-27 21:24] garyemiller commented on #6115
@jamadden "The current version is 3.9, and that's what I get."

No, the current gpsd version is 3.18.1.  3.19 will ship in July.  3.9 is six years old and not compatible with any gpsd of the last 5 years.  This package is useless.

Feel free to install gpsd from your fave distro and see if that pip package works with it.

Note the upstream dev is noted as Eric Raymond.  Feel free to contact him fo

[2019-06-27 21:24] brainwane commented on #2151
Thanks @ewdurbin - so the owners of those packages need to consider the name conflict? OK for me to open a new `packaging-problems` issue with that list?

[2019-06-28 03:57] WeiZhong94 opened #6116 "Increasing package size limit for pyflink"
Hi, I would like to request you to increase the size limit of the package "pyflink" to 300MB, because in the next release, pyflink will package the Flink jar files and the size will be increased to 286MB. Please help me increase the upload limit, thank you. There is a developmental release in test pypi for the moment, but it is incomplete. Its actual size is 286MB.

**A link to your project on PyP

[2019-06-28 06:00] HangJie720 commented on #6097
Excuse me again, I have 2 questions?
(1) I have delete my project and corresponding file, but when I use pip to install tflex or tensorflow-tflex, system still Using cached https://pypi.doubanio.com/packages/7b/1a/53c197643f62cebe06efb526ac6502caa65a2edc9c3f158ee048403da4dc/tflex-0.0.3-py2.py3-none-any.whl, which have been deleted. Although I upload new version, still install old version. Could yo

[2019-06-28 06:13] nlhkabu commented on #6114
Hi @garyemiller thanks for opening this ticket.

Currently we don't expose this information in the user interface, but we can take a look into this.

@woodruffw I assume we can simply output this information on the provisioning page?  If you want to make a PR adding this to the template, I can style it.

[2019-06-28 09:18] ewdurbin commented on #2151
@brainwane next step would be for someone to take a closer look at all of those listed above as `needs inspection`. some will be `valid` and can/should remain on PyPI. I'm not sure that any action from project owners with existing conflicting names is needed.

[2019-06-28 10:09] yeraydiazdiaz opened #6117 "Search resets ordering when changing the term"
**Describe the bug**
When displaying a previous search's results and having changed the ordering from the default "Relavance", entering a new search term will reset the ordering back to "Relevance".

**Expected behavior**
The ordering of the previous page should be carried over to the new search.

**To Reproduce**
1. Navigate to https://pypi.org/search/?q=xml&o=-created
2. Enter a different search

[2019-06-28 10:40] yeraydiazdiaz commented on #6042
Hello @sonnyvan, is the "Forgot password" link on the [login page](https://pypi.org/account/login/) not working for you?

[2019-06-28 13:59] woodruffw commented on #6114
Yep, should be as simple as that. I'll open a PR in a bit.

[2019-06-28 17:10] yeraydiazdiaz commented on #5506
I've had a look at this and it seems `pip search` is partially to blame for this behaviour.

The `search` command adds makes an XMLRPC request with a spec passing the term as the `name` and `summary` fields along with an `or` parameter (https://github.com/pypa/pip/blob/master/src/pip/_internal/commands/search.py#L65).

In warehouse the procedure is using a [`bool` query with a `should` clause](htt

[2019-06-28 18:50] yeraydiazdiaz commented on #5434
Closing as I assume this was resolved, if not feel free to add another comment.

[2019-06-28 18:50] #5434 closed

[2019-06-28 19:05] brainwane commented on #6115
I see that @frostoov is [the PyPI user](https://pypi.org/user/frostoov/) who uploaded version 3.9. [The release history](https://pypi.org/project/gps/#history) says he uploaded it on July 3rd, 2018.

I suggest @frostoov upload [3.18.1 (released 2018-10-19)](https://gitlab.com/gpsd/gpsd/blob/master/NEWS#L17); if he doesn't respond to this GitHub mention, I see his email address is listed on his Git

[2019-06-28 20:05] brainwane commented on #5661
We've had a few issues (such as #6106) due to a misconfiguration of test.pypi.org, and we're getting more user testing now thanks to [outreach](https://twitter.com/nlhkabu/status/1143940942489116673) by @nlhkabu (such as [this email to the Education SIG](https://mail.python.org/pipermail/edu-sig/2019-June/012111.html) which I [forwarded to Software Carpentry's discussion list](https://carpentries.

[2019-06-28 20:49] garyemiller commented on #6114
@woodruffw: without testing it, your pull request looks good to me.

Everybody note that github. this system we are on now, does expose the TOTP key.  It also goes further and give the user 10 backup codes.  Just be sure there is some recovery method that does not suck.

[2019-06-28 20:59] di commented on #6114
@garyemiller Please also note that Github is also a large for-profit company that is worth several billion dollars. PyPI is a entirely volunteer staffed project, with the exception of the occasional contractor hired by various grants we are awarded.

As such, I'd like to ask you to improve your tone on this issue tracker: everyone here is working very hard to provide something "that does not suck"

[2019-06-28 21:14] garyemiller commented on #6114
@di: Way ahead of you.  That is why made it a "please note", not an issue or an RFE.

You also misunderstood my comment about "does not suck".  I did not mean to imply anything about anybody or anyone's work to date.  Chill.

I also work on many 100% volunteer FOSS projects and as such feel your pain.

[2019-06-28 22:27] garyemiller commented on #6115
How do I contact @frostoov ?

 I see no email or contact info for himm on his PyPi user page.

I see no @frostoov on github.

I'm lost here.  Seems to me his PyPi user page should have contract info?

[2019-06-29 11:31] yeraydiazdiaz commented on #6115
PyPI does not disclose email addresses of users.

https://github.com/frostoov is working for me and shows an email address, is that not working for you?

[2019-06-29 12:36] steiza commented on #6103
That configuration is now working, thanks!

[2019-06-29 20:56] garyemiller commented on #6115
"PyPI does not disclose email addresses of users."

Nor did I ever ask for that.  I just want a contact method.  An html form would do.

"https://github.com/frostoov is working for me:

Thank you, I did not find that.  It should not be that hard to contact a package maintainer.

Email sent to him.  Fingers crossed.

[2019-06-30 07:23] nlhkabu commented on #5661
Thanks @brainwane.  FYI, I have user testing scheduled most days in the coming week.  The final session is scheduled for Tuesday 9th.

[2019-06-30 09:55] byteps opened #6124 "Apply for larger wheel size limit"
## A link to your project on PyPI (or Test PyPI)
https://test.pypi.org/project/byteps/

## The size of your release, in megabytes
64MB

## Which index/indexes you need the increase for (PyPI, Test PyPI, or both)
Test PyPI

## A brief description of your project, including the reason for the additional size.
We are a develop team for BytePS (https://github.com/bytedance/byteps) and would like to pr

[2019-06-30 12:10] jamadden commented on #6124
Can you please explain why you need to distribute such large wheels? That is, why do the wheels need to be so large?

[2019-06-30 16:03] byteps commented on #6124
@jamadden Thank you for the response. Our wheels contain a third party library (ps-lite, which further calls ZeroMQ as its communication library), and call NCCL and CUDA for multiple GPUs communication. Indeed, the compiled fat bin is large (mostly nvidia-related binary). But we find it hard to narrow the size down because those fat bin is used to optimize the performance, and we do not want to lo

[2019-06-30 17:41] kynan opened #6126 "PEP 541: transfer ownership of unmaintained `dokuwikixmlrpc`"
I would like to request transfer of ownership of the project `dokuwikixmlrpc` to myself as per #1506.

I took over maintenance of this project in 2014 and the original author / previous maintainer @chimeric transferred the GitHub repository chimeric/dokuwikixmlrpc over to me in 2016. When you follow the "Homepage" link at https://pypi.org/project/dokuwikixmlrpc/ you will be redirected to the repos

[2019-07-01 01:48] byteps commented on #6124
We finally cut the size down within the limit. Closing this issue now. Thank you.

[2019-07-01 01:48] #6124 closed

[2019-07-01 01:58] WeiZhong94 commented on #6116
@nlhkabu @jamadden Could you have a look at this request? Thanks a lot.

[2019-07-01 02:56] HangJie720 opened #6127 "increase size limit for file upload and release all the caches previously upload"
Excuse me again, I have 2 questions?
(1) I have delete my project and corresponding file, but when I use pip to install tflex or tensorflow-tflex, system still Using cached https://pypi.doubanio.com/packages/7b/1a/53c197643f62cebe06efb526ac6502caa65a2edc9c3f158ee048403da4dc/tflex-0.0.3-py2.py3-none-any.whl, which have been deleted. Although I upload new version, still install old version. Could yo

[2019-07-01 03:19] HangJie720 commented on #6127
could you help me release all the cache previously upload, my two projects is tflex, tensorflow-tflex, website is shown as follows:
tflex: https://pypi.org/project/tflex/
tensorflow-tflex: https://pypi.org/project/tensorflow-tflex/
and increase the upload size of tensorflow-tflex package. this package I have deleted and recreated.

[2019-07-01 05:02] sonnyvan commented on #6042
Hello, we weren't sure where the email was sent to and @ewdurbin helped me figure which inbox.

Thank you

[2019-07-01 05:02] #6042 closed

[2019-07-01 07:53] guilgautier commented on #5307
Hi guys,

Next month, it will be 1 year since the [dppy](https://pypi.org/project/dppy/) project is on PyPI without any activity.

Can we anticipate an action to make sure the name `dppy` is free again on PyPI on 08/01/2019 ?

Thanks in advance

[2019-07-01 11:04] jamadden commented on #6127
(1) The limit for `tensorflow-tflex` has again been set to 100MB on pypi.org. Deleting the project only makes more work for everyone, I would suggest not deleting it again.
(2) The URL you provided (https://pypi.doubanio.com/packages/...) is *not* a URL from PyPI, AFAICS. Perhaps you are using a third-party mirror. At this time, the canonical pypi.org has no distributions for `tensorflow-tflex`:
[

[2019-07-01 11:04] #6127 closed

[2019-07-01 11:12] jamadden commented on #6116
The limit for pyflink has been set to 300MB on both pypi.org and test.pypi.org. Given that this size is at the upper end of package sizes, please be mindful of how often you make releases.

[2019-07-01 11:12] #6116 closed

[2019-07-01 15:27] 4383 commented on #5890
Greetings,

We facing the issue on [podman](https://github.com/containers/python-podman/issues/32) and [openstack](http://lists.openstack.org/pipermail/openstack-discuss/2019-July/007459.html) too, I've submit some related fixes:
- https://review.opendev.org/#/c/668459/
- https://github.com/containers/python-podman/pull/37

I continue to facing the [same issue](https://travis-ci.org/containers/pyt

[2019-07-01 16:29] #6114 closed

[2019-07-01 18:48] di commented on #5890
@4383 I'm not too familiar with `pbr` but the problem is that it's not writing the `long_description_content_type` metadata to the distributions you're building, hence:

Can you share the failing distributions with us? Are you updating everything to the latest possible version?

[2019-07-01 19:08] 4383 commented on #5890
@di first thanks to help us :)

The main issue is that I can't reproduce the issue locally, the issue seems to occur only with travis, when I try to execute the following commands locally everything work fine...

[code]

The code is the same that my [PR](https://github.com/containers/python-podman/pull/37)... and I can't get the generated artefacts who fail [during CI execution](https://travis-ci.

[2019-07-01 19:18] di commented on #5890
@4383 Twine doesn't look at the `podman.egg-info/PKG-INFO` file, it would be looking at the `podman-0.0.3.dev1/PKG-INFO` (for a sdist) and `podman-0.0.3.dev1.dist-info/METADATA` (for a wheel). Do these files have the `Description-Content-Type: text/markdown` lines? What `Metadata-Version` do they have?

[2019-07-01 19:19] brainwane commented on #6103
Great! Closing. Thanks @steiza!

[2019-07-01 19:19] #6103 closed

[2019-07-01 20:05] daneads commented on #5890
FWIW, I had the same error even after the suggested fix and after removing my long_description altogether.

I was using the full text of the license as the `license` parameter, which was then being used as the `long_description` even if I didn't explicitly specify the `long_description`.

e.g.:
[code]

Switched the license to a plain string (`LICENSE='GNU GPLv2'`) and did not receive the error.

[2019-07-01 20:38] brainwane commented on #1190
@ewdurbin and @dstufft and I had a conversation the other day which included some thoughts about soft deletes perhaps being the right model for usernames #6091 .

Also: We probably want to ensure usernames are only used once, to avoid user confusion. (So, once one user has used a username, it can never be used by anyone else again.) We'd probably implement this by having a second (write-only) user

[2019-07-01 20:39] jaitaiwan opened #6132 "500 Error Uploading Library"
**Describe the bug**
Attempting to upload any distribution of my project results in a 500 error with no detailed information as to why.

**Expected behavior**
The package is successfully uploaded

**To Reproduce**
Upload a package, checking to make sure that `twine check dist/*` has been run first to detect any issues.

**My Platform**
Python 3.7 uploading from a debian server from Sydney, Austral

[2019-07-01 20:42] di commented on #6132
Sorry, we had a brief outage. Can you try again? Should be resolved now.

[2019-07-02 03:48] jaitaiwan commented on #6132
That was it, thanks.

[2019-07-02 03:48] #6132 closed

[2019-07-02 08:16] 4383 commented on #5890
@di if I keep my `long_description_content_type` the generated files (`podman-0.0.3.dev1.dist-info/METADATA`, `podman-0.0.3.dev1/PKG-INFO`) in `dist/` have the `Description-Content-Type: text/markdown` in their contents.

If I remove `long_description_content_type` they don't have the `Description-Content-Type: text/markdown` in their contents...

[2019-07-02 10:37] HangJie720 commented on #6127
Thank you very much for your help!@jamadden

[2019-07-02 14:26] mgedmin opened #6136 "PEP 541: transfer ownership of LinkChecker"
I would like to request transfer of ownership of the `LinkChecker` project to myself (`mgedmin`) and @anarcat (`anarcat` on PyPI).

The original maintainer (@wummel) hasn't responded to [numerous contact requests on GitHub](https://github.com/wummel/linkchecker/issues/686) or via email.  The last package version on PyPI is from 2014 and is broken due to a bug in version comparison logic (https://g

[2019-07-02 15:30] di commented on #5890
@4383 What `Metadata-Version` do they have? Can you share the failing distributions with us?

[2019-07-02 15:49] jamadden commented on #6136
https://pypi.org/project/linkchecker links to http://wummel.github.io/linkchecker/ which does link back to @wummel. The contact email present on https://pypi.org/project/linkchecker matches the contact email on file with PyPI, which has been verified (though it appears to have been some time since the account was accessed). Said github account has shown activity recently though.

I've reached out

[2019-07-02 16:10] 4383 commented on #5890
@di `Metadata-Version: 2.1`.

Sorry I can't share the failing distributions with you, I can't reproduce it locally and the code is identical locally and on the [PR](https://github.com/containers/python-podman/pull/37).

The only that I can do is to test if I can raise/avoid the error locally by removing/adding `long_description_content_type` from `setup.cfg` and it works but it's not really the is

[2019-07-02 16:47] nlhkabu commented on #5808
This has also been requested in user testing.

It would be great if we could also specify recovery methods in the email, i.e.

- Link to page to get recovery codes (requires #5800)
- Explain manual account recovery process (requires #5758)

[2019-07-02 19:56] di commented on #5890
@4383 See my comment here: https://github.com/containers/python-podman/pull/37/files#r299657105

[2019-07-02 19:58] #6036 closed

[2019-07-02 20:00] di commented on #6036
This should be fixed in #6135, but it will likely take a bit for the old script to fall out of the cache.

[2019-07-02 20:41] brainwane commented on #1919
@di do you have any policy/architecture concerns about this, or is it open for someone to implement? Is this something we should seek volunteer help to work on?

Since this potentially blocks #1506 I figure it's something worth pushing on.

[2019-07-02 20:51] brainwane commented on #2017
@pradyunsg I agree.

[2019-07-02 20:52] dstufft commented on #1919
I think this works now? If you upload a project and change the name, as long as it normalizes to the same name as before, the project will be renamed on PyPI. We don't support arbitrary renaming where you can rename foo to bar, but I don't think we ever really could?

[2019-07-02 20:56] di commented on #1919
Yeah, since #4783 we have the ability to rename a project when a new release is made.

This issue is a bit old, I think it might intend to allow admins or owners to rename a project _without_ making a new release, but I'm not really sure that's necessary.

[2019-07-02 21:01] brainwane commented on #6115
When I mentioned @frostoov in my comments, in the GitHub web interface that turned into a hyperlink linking to https://github.com/frostoov . In the future, if someone uses the @ symbol to mention someone in a GitHub issue or comment, you can find their GitHub profile that way.

We have #933 and #5944 open to add ways to make it easier for users to contact package maintainers via PyPI.

I'm closing

[2019-07-02 21:01] #6115 closed

[2019-07-02 21:05] garyemiller commented on #6115
The issue still remains.  I can not contact @frostoov and he is "releasing" old and broken software that people think is part of the gpsd that does not work with the gpsd project and has no possible use.

reopen, or I create a new issue, until this get fixed.

[2019-07-02 21:11] garyemiller commented on #6115
To reconfirm: I have sent emails to  frostoov@gmail.com and receeive NO response.

PEP 541 is not exactly clear.  Do I need to now wait six weeks for an answer before proceeding?  Seems to me that 6 years without an update should be clear indication of being unmaintained.

[2019-07-02 21:13] garyemiller commented on #6115
How do I demonstrate, for the PEP, my contact attempts?  Who should I copy?

[2019-07-02 21:14] brainwane commented on #1919
@ewdurbin and @jacebrowning could you reply and let us know whether your use cases are now taken care of?

[2019-07-02 21:16] ewdurbin commented on #1919
looks like the "different name same normalization" use-case is covered by #4783 to me!

[2019-07-02 21:26] jacebrowning commented on #1919
Yes, I believe my use cases are now taken care of.

[2019-07-02 21:29] brainwane commented on #1919
OK, great, glad that's cleared up and sorry for misunderstanding!

[2019-07-02 21:29] #1919 closed

[2019-07-03 01:59] brainwane commented on #4470
That would be great if you could, @yeraydiazdiaz! We get many requests for this feature.

[2019-07-03 08:05] yeraydiazdiaz commented on #6115
Hi @garyemiller. Please open a PEP 541 issue referring this one and we'll start the due process. This will start with us moderators attempting contact directly. Please understand this is a volunteer ran process so it might take some time.

We do follow the PEP closely so yes, a period of 6 weeks is required until the project is considered abandoned. Please refer to the PEP for more details on what

[2019-07-03 08:15] qiuxin2012 opened #6140 "Pypi package size limit for Analytics Zoo"
Perviously, we increase the limit to 120MB by #5359, but after a few months' development, the size increased to 174MB. So if it is possible to increase the limit of https://pypi.org/project/analytics-zoo/ to 200MB?

Analytics Zoo (https://github.com/intel-analytics/analytics-zoo) is a unified analytics + AI platform for distributed TensorFlow, Keras and BigDL on Apache Spark; and the reason for th

[2019-07-03 10:31] yeraydiazdiaz opened #6141 "Add developer version for frontend pipeline"
**What's the problem this feature will solve?**
Our current frontend pipeline generates final versions of all the artifacts every time the developer changes a file. This results in having to wait in my current setup (MacBook Pro 13" Early 2015) between 30 seconds and 1 minute on each change which greatly impacts productivity.

**Describe the solution you'd like**
A developer version of the fronten

[2019-07-03 10:45] jamadden commented on #6140
The limit has been set to 200MB on pypi.org.

[2019-07-03 10:45] #6140 closed

[2019-07-03 13:20] dstufft commented on #6141
My 2018 MBP completes it a bit faster, but it's still noticeable.

I'm not opposed to adding something like this, but just to explain some of the rationale behind why I only added one pipeline originally. My goal was since I didn't know of a good way to test that the output of the pipeline was correct, was to at least ensure that what we're using in development would match what we're doing in prod

[2019-07-03 13:21] brainwane commented on #5944
I just emailed with @pgadige and she'll be working on sharing a work-in-progress pull request with us in the next few days.

@pgadige: If you are working on this issue and have questions or get stuck, please feel free to speak up here, or in [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), or on the [pypa-dev mailing list](https://groups.google.com/forum/#!forum/pypa-

[2019-07-03 19:58] ewdurbin commented on #994
Spoke with @VanL about this issue and we're looking into it, let's continue to discuss the technical details of API keys for PyPI here.

[2019-07-03 20:38] garyemiller commented on #6115
Strangely @frostoov has reached out to another member of the gpsd team about this.  Much confusion as he has no clue what is going on, and the assumption is that I was also copied, but I have not been.

So the mess continues, but now a mess in my playpen that I can likely sort out.  Thanks for the help, gpsd is now getting back on track.

[2019-07-04 00:26] brainwane commented on #3733
Thanks, @robindboer - if you're having any trouble, please do feel free to leave a question on the issue, chat with us in IRC in [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), or ask a question on the [pypa-dev mailing list](https://groups.google.com/forum/#!forum/pypa-dev).

[2019-07-04 06:09] nlhkabu opened #6146 "WebAuthn support problem with Edge 77 (2FA)"
**Describe the bug**
When using Microsoft Edge 77.0.197.1, it appears that webauthn is supported (the button is enabled, no error message is shown), but when the user clicks on the 'provision key' button, nothing happens.

**Expected behavior**
A popup should be launched by the browser to provision the key.
Alternatively, if there is no browser support, the button should be disabled, and an error

[2019-07-04 08:01] aunderwo opened #6148 "Increase file size limit for BactinspectorMax project"
Please can you increase the file size limit for the [BactInspectorMax](https://pypi.org/project/BactInspectorMax/) project.

This includes a [Mash](https://mash.readthedocs.io/en/latest/) index of bacterial reference genomes.

The repo size is 70Mb

[code]

Thanks

[2019-07-04 11:27] jamadden commented on #6148
The upload limit for BactInspectorMax has been set to 100MB on pypi.org

[2019-07-04 11:27] #6148 closed

[2019-07-05 07:58] Jonathan-LeRoux commented on #5890
I'm having issues with twine and reStructuredText files. `twine check dist/*` on a README.rst file in my project ([LWS](https://github.com/Jonathan-LeRoux/lws)) would keep choking at a URL because that URL had uppercase letters in it, and it appears that twine converts all text to lowercase during the check, breaking the URL:
[code]
gave the following error:
`line 94: Error: Unknown target name: "

[2019-07-05 08:56] zanderle commented on #4319
@brainwane sure! It might take me a few days though. It's been so long since I implemented this POC... 😄

[2019-07-05 09:36] philthompson10 opened #6151 "Request to increase size limit of PyQtWebEngine"
The new release of https://pypi.org/project/PyQtWebEngine/ is just over the 60M limit so I would like this to be increased to at least 70M on PyPI.

This project was created by splitting https://pypi.org/project/PyQt5/ in two. I believe that the limit of this project is about 120M (from the time before the split) and it can be reduced to the standard 60M.

Thanks.

[2019-07-05 10:59] jamadden commented on #5890
@Jonathan-LeRoux I can duplicate the issue with plain docutils. In your second example, the problem appears to be  a missing blank line between the text and the reference name (`.. _WindowsCompilers:`). Without that blank line, the reference name is parsed as part of the preceeding paragraph, not as [a hyperlink target](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#hyperlink-t

[2019-07-05 11:09] jamadden commented on #6151
The limit for PyQtWebEngine has been set to 100MB on pypi.org.

The limit for PyQt5 is indeed 120MB; I've gone ahead and left that in place just in case.

[2019-07-05 11:09] #6151 closed

[2019-07-05 12:24] Jonathan-LeRoux commented on #5890
@jamadden Thanks a lot for looking into this so quickly. I guess I was careless and unlucky both times :)
The fact that the error log was converted to lowercase threw me off on a tangent.

[2019-07-05 14:35] rileyjmurray commented on #6100
I am currently an employee of Facebook (a MOSEK customer). Because the current owner of the MOSEK pypi project is inactive, this is making it much harder to properly integrate MOSEK into Facebook's infrastructure. Costs associated with bypassing pypi on Facebook's end will likely be on the order of thousands of dollars of engineer-hours. I strongly support the transfer of the pypi project to an ac

[2019-07-05 15:51] revmischa opened #6153 "PEP 541: transfer ownership of Flask-CRUD"
Module: https://pypi.org/project/Flask-Crud
Last release: 2014
Project description: UNKNOWN

I have opened a ticket on GitHub asking if I can take it over and sent an email to the author at plummer574@gmail.com

Thanks!

[2019-07-05 16:08] hcolaux opened #6154 "“500: Internal server error” when trying to upload a package to PyPI"
Dear all,
I repeat here the issue I published on Stack Overflow ( https://stackoverflow.com/questions/56630164/500-internal-server-error-when-trying-to-upload-a-package-to-pypi?noredirect=1 )

I have been trying to upload my package on PyPI, but I got the error " Received "500: Internal server error" Package upload appears to have failed. Retry 1 of 5" which does not tell me what could be wrong.

[2019-07-05 16:12] ewdurbin commented on #6154
Hi @hcolaux! How recently have you attempted an upload? I do not see any recent errors on the upload route.

[2019-07-05 16:14] di commented on #6154
@hcolaux Could you include the distributions you're trying to upload here so we can try to reproduce?

[2019-07-05 17:25] jamadden commented on #6153
Issue: https://github.com/plumdog/flask_crud/issues/2

[2019-07-06 02:32] pradyunsg commented on #6154
@di https://github.com/hcolaux/famn_opt/tree/a2f5b53e4879f88a3387894f5e186ab1f41a0744/dist

[2019-07-06 17:07] anarcat commented on #6136
i confirm this is a legitimate request and that we have not heard from @wummel since we started this process over 2 years ago.

[2019-07-07 06:35] nlhkabu opened #6156 "Check roles in HTML"
role = tooltip (see https://inclusive-components.design/tooltips-toggletips/#tooltipasprimarylabel)
role = banner
role="menu"
role = "log"
role="dialog"

[2019-07-07 06:42] nlhkabu opened #6157 "Improve webauthn errors"
Problems:

- We currently have two pieces of JS that control the display of webauthn errors - some in `index.js`, some in `webauthn.js`
- The errors are not announced to the screenreader (via `role=alert`)
- The errors are not associated with the webauthn label field (on the provisioning page) - we should use `aria-describedby` for this
- The user is able to put text into the label field on the pr

[2019-07-07 06:42] nlhkabu commented on #6157
@woodruffw as most of this JS is yours, it would be helpful if we could look into this together?  Thanks

[2019-07-07 12:12] webknjaz commented on #6050
Hm... Setting breakpoints in https://github.com/pypa/warehouse/blob/0d9c726/warehouse/static/js/warehouse/utils/bind-modal-keys.js#L43 doesn't work for me.

[2019-07-07 13:05] webknjaz commented on #6050
I was able to set some breakpoints but no success figuring out where the exception happens. Only that it's in some promise...

[2019-07-07 15:16] webknjaz commented on #6050
So I set up a local instance. I commented out the whole `bind-modal-keys.js` but the exception logged in the console still points to that file, to one of the commented lines.

I think that maybe srcmaps aren't generated properly...

[2019-07-07 15:19] webknjaz commented on #6050
I have a feeling that some promise hasn't been `await`ed.

[2019-07-07 15:53] webknjaz commented on #6050
I believe that one of the problems is that `func(csrfToken)` @  https://github.com/pypa/warehouse/blob/0d9c726153394cf6aca178c9015c467707fbaa2e/warehouse/static/js/warehouse/utils/webauthn.js#L47 isn't `await`ed. But there's more.

[2019-07-07 20:09] nschloe opened #6158 "visual: images with links have blue bar"
I have a logo with a link on https://pypi.org/project/termtables/
and it displays large blue bar across the image:

![bar](https://user-images.githubusercontent.com/181628/60773295-bbd84f00-a103-11e9-9ecb-bdabb0e86e75.png)

This does not occur on GitHub, for example.

[2019-07-08 17:45] #6009 closed

[2019-07-09 06:45] woodruffw commented on #6157
Yep! Let's set aside some time for this before ending the WebAuthn beta.

[2019-07-09 18:56] mschwager commented on #5809
Heads up, the latest version of Duo Mobile now includes an icon option for PyPI warehouse:

![pypi](https://user-images.githubusercontent.com/1724818/60915286-79288b00-a259-11e9-8b95-e8b9bdaaafc7.png)

Shoutout to @robsmall for helping out here!

[2019-07-10 05:32] nlhkabu opened #6170 "Improve 2fa help text"
Based on feedback from user testing:

### Add help information for provisioning

The current help text explains how to _login_ with 2fa.  Instead, the help text should cover how to provision *and* login with 2fa.  However, the term "provisioning" should be avoided - use "set up" instead.

### Explain 2fa better, e.g.

### Mention that some password managers can generate TOTP codes

### Change link

[2019-07-10 05:42] nlhkabu opened #6171 "Improve 2fa instructions"
### On the webauthn provisioning page

- "Webauthn" is not commonly understood. Instead, refer to webauthn as "phyiscal security key (e.g. USB)".  Include examples of key brands (e.g. "Yubikey") in instructional text
- Avoid using 'provisioning'.  Instead use 'set up'
- "Name key" is not a clear enough input label. Add an instruction above, or rename the label to "Enter key name to begin"
- Remove

[2019-07-10 05:44] nlhkabu opened #6172 "Improve 2fa error and confirmation messages"
## Change webauthn error texts
Current: Your browser does not support WebAuthn

New (admin page): You cannot set up a USB security key, as your browser does not work with WebAuthn (the standard supported by PyPI)

New (login workflow): You cannot use a USB security key, as your browser does not work with WebAuthn (the standard supported by PyPI)

Current: "WebAuthn cannot be used without JavaScrip

[2019-07-10 05:55] nlhkabu opened #6173 "2FA: User testing summary"
A summary of recent user testing sessions covering two factor authentication.  Thank you to the 5 participants for your time!

Issues #6172 #6171 and #6170 have been opened to address this feedback:

## User 1 (26/6/19)

- User 1 uses [1password](https://1password.com/) to manage their passwords and generate TOTP codes.
- User 1 had no problem removing their existing TOTP setup and setting it up a

[2019-07-10 09:55] jktjkt commented on #6049
Is there something that I can do to help process this request?

[2019-07-10 11:53] bhojrampawar opened #6175 "Two-factor authentication"
Emergency: I have activated two factor authentication for my PyPI account. but i removed PyPI Authentication account from my phone, And now i am unable to get authentication code please help me to log in to my PyPI account.

[2019-07-10 14:04] ewdurbin commented on #6175
hello @bhojrampawar, what is your PyPI username?

[2019-07-10 14:13] bhojrampawar commented on #6175
My pypi username is "bhojrampawar"

On Wed, Jul 10, 2019, 7:34 PM Ernest W. Durbin III <notifications@github.com>
wrote:

[2019-07-10 14:14] ewdurbin commented on #6175
Thanks. I've emailed you to assist with regaining access to your account.

[2019-07-10 14:21] ewdurbin commented on #6175
Completed.

[2019-07-10 14:21] #6175 closed

[2019-07-10 14:22] bhojrampawar commented on #6175
Sir, i did not received any assists regarding my PyPI account to recover it.

[2019-07-10 14:23] ewdurbin commented on #6175
@bhojrampawar are you stating that the correspondence with the gmail address on file for this account was fraudulent?

[2019-07-10 14:27] bhojrampawar commented on #6175
Sir, how to recover my account.

[2019-07-10 14:28] ewdurbin commented on #6175
@bhojrampawar at this point it is unclear. can you email ernest@python.org?

[2019-07-10 14:35] bhojrampawar commented on #6175
Sir, I have activated two factor authentication for my PyPI account, but by
the reason PyPI two factor auth account removed from authorization app in
my phone, And now i am unable to get two factor auth code,

and without auth code i can not log to PyPI account.

Please help.

On Wed, Jul 10, 2019, 7:58 PM Ernest W. Durbin III <notifications@github.com>
wrote:

[2019-07-10 14:36] ewdurbin commented on #6175
Please email ernest@python.org from the gmail account associated with your PyPI user.

[2019-07-10 14:42] bhojrampawar commented on #6175
5-K-8aV83-ULPrf1kiO4o85csoJIXWmnXAqQlMH3-AI

[2019-07-10 14:43] ewdurbin commented on #6175
Thanks for confirming. I've disabled TOTP on your account and issued a password reset.

[2019-07-10 14:51] bhojrampawar commented on #6175
Thank you @Ernest W. Durbin III For your amazing support,

You helped me to recover my PyPI account.
Print("Thanking you"*1000)

On Wed, Jul 10, 2019, 8:14 PM Ernest W. Durbin III <notifications@github.com>
wrote:

[2019-07-11 00:48] brainwane commented on #5420
Once we have the ability to do this, should we also consider running auditwheel retrospectively on existing release artifacts? Thinking about https://github.com/pypa/manylinux/issues/305 (see https://github.com/pypa/manylinux/issues/305#issuecomment-489332594 ).

[2019-07-11 02:55] brainwane commented on #798
@SantiagoTorres Per our conversation earlier this week, would you like to share a thought about the possibility of using [in-toto](https://in-toto.io) for this?

[2019-07-11 08:55] takluyver commented on #5420
I don't think it makes sense to retrospectively invalidate wheels that are incompatible with new distributions, as in that case. We presumably want to maintain the rule that you can't replace an already uploaded package, so the only option would be to remove them or somehow mark them as bad so installers don't consider them. But those wheels are still useful for users on other popular distros.

It

[2019-07-11 09:14] ksmets commented on #5346
Any update regarding this issue?

[2019-07-11 10:45] di commented on #6050
After doing some debugging with @webknjaz, I noticed that I can reproduce this exception in modern Chrome as well by simply clicking "Provision key" and then canceling the in-browser modal that appears, so it seems like there's two issues here:

* we aren't correctly detecting incompatible versions of Chrome
* we have this exception happening in all versions of Chrome when the modal fails or is ca

[2019-07-11 11:47] jeking3 commented on #5346
I have asked the new PMC to post here and confirm the change of ownership request.

[2019-07-11 19:47] brainwane commented on #5769
Per https://groups.google.com/forum/#!topic/pypa-dev/2-WcwcTylMY could we add a comment about this outage to https://status.python.org/ ?

[2019-07-12 05:20] jakirkham commented on #4612
Is there additional information needed here?

[2019-07-12 10:38] alexwlchan commented on #6170
Tiny nit: the name “1Password” uses a capital “P”.

[2019-07-12 15:13] jacobian opened #6183 "2FA: Enrolling a TouchID sensor as a webauthn security key fails (Chrome, Mac)"
**Describe the bug**
I'm trying to enroll a TouchID sensor as a webauthn device. PyPI and Chrome do let me select the sensor, and I do get prompted for a touch, but then PyPI throws an error: "Registration rejected. Error: Self attestation is not permitted.."

**Expected behavior**
I expect to be able to enroll a TouchID sensor.

**To Reproduce**
- PyPI --> Account Settings
- Click "Add 2FA With S

[2019-07-13 09:49] ssbarnea commented on #4294
@zxiiro While from PyPA point of view the issue was sorted, we stil need to start publishing wheels under jenkins name. This also makes me think that maybe it is the time to to move jenkins packages (jenkins+jjb) out of openstack and to github repos, as this could make maintenance much easier for people without gerrit/zuul experience.

[2019-07-13 09:53] di commented on #4294
Please take this discussion elsewhere, thanks!

[2019-07-13 11:59] di commented on #6183
I can reproduce this with the same macOS/Chrome versions.

[2019-07-13 12:06] Jens-G commented on #5346
Hi @ksmets,

I can confirm what Jim wrote. We want to switch the maintainer, since jfarrell is no longer responsive and also no longer the PMC chair (because of that).

Is there anything besides the link(s) below and/or above that you need from me or from the Thrift PMC?

* [board meeting minutes](https://whimsy.apache.org/board/minutes/Thrift.html)

Have fun,
JensG

[2019-07-13 12:08] Jens-G commented on #5346
@jeking3, @ksmets: BTW, can we have two maintainers or is it limited to one person?

That would make things easier [if one gets under the bus](https://en.wikipedia.org/wiki/Bus_factor).

[2019-07-13 12:26] di commented on #6154
This is due to #4685. You have special characters in some of your source files which is producing invalid metadata:

[code]

This is also not a valid classifier, so the upload will fail regardless.

[2019-07-13 12:26] #6154 closed

[2019-07-13 16:25] di commented on #4685
I just tested Warehouse against https://github.com/benoitc/gunicorn/commit/dc7b5d5c4876b49f86ea2460698a335d0f5ef7c9 (the latest commit for Gunicorn 20.x) and this is fixed (specifically by this commit: https://github.com/benoitc/gunicorn/commit/879651bb6f873631725cc31cbda783349fdf9dc3).

This change is not currently backported to the 19.x branch, however I've [requested that it gets backported](ht

[2019-07-14 07:15] #6170 closed

[2019-07-14 07:23] #6077 closed

[2019-07-14 07:38] nlhkabu commented on #3518
I believe this was fixed with https://github.com/pypa/warehouse/pull/5139

[2019-07-14 07:38] #3518 closed

[2019-07-14 07:39] nlhkabu commented on #6008
Closed by #6123 and https://github.com/pypa/warehouse/pull/6150

[2019-07-14 07:39] #6008 closed

[2019-07-14 17:44] eric-wieser opened #6190 "PEP541: Add a maintainer to `sphinxcontrib-domaintools`"
The [`sphinxcontrib-domaintools`](https://pypi.org/project/sphinxcontrib-domaintools/) package on PyPI is backed by https://github.com/sphinx-contrib/domaintools, for which @klorenz and @tk0miya have commit rights.

The package no longer works with recent python3 or pip, and while there are PRs to fix those problems, the only PyPI maintainer, @klorenz, is unfortunately not responsive. @tk0miya [po

[2019-07-15 06:22] #6158 closed

[2019-07-15 06:47] nschloe commented on #6158
Cool, thanks!

[2019-07-15 10:34] brunobord opened #6192 "Document the package size limit"
**What's the problem this feature will solve?**

The [PyPI help page](https://pypi.org/help/#file-size-limit) describes what to do in case you hit the package upload size limit. But there's apparently no public document or page that says: *"File upload limit is X"*.
There are issues talking about 60MB, which is probably a good guess, because it's the MAX_FILESIZE set by default in the code. But th

[2019-07-15 14:31] woodruffw commented on #6183
Thanks! I'll take a look today.

[2019-07-15 14:46] hcolaux commented on #6154
Thank you all for all your answers, and sorry for the late feedback.
My problem was indeed solved by removing the special characters in the source code, and my code is now online.

[2019-07-15 21:55] dfrankow opened #6196 "PEP541: transfer ownership of 'fiddler' package to someone at Fiddler Labs"
**What's the problem this feature will solve?**
The "fiddler" package was uploaded in 2017. It has no documentation, source code repository, or contacts. It doesn't appear to install, and looking inside its tarball doesn't give me much sense for what it's about.

[Fiddler Labs](https://fiddler.ai/) is starting to develop and release libraries (such as [fiddler-client](https://pypi.org/project/fidd

[2019-07-15 22:52] jamadden commented on #6196
It seems possible that https://github.com/aaronchn/pyfiddler is the corresponding github repository. Perhaps @aaronchn is the PyPI owner and can comment here, or knows how to reach the owner?

[2019-07-15 22:54] jamadden commented on #6196
I've also tried to contact the owner by email; however, the email address isn't verified.

[2019-07-15 23:05] dfrankow commented on #6196
Good one, thanks!

Yes, pyfiddler is a good candidate for the repo. They both have files pyfiddler.py and certificate.py, and pyfiddler.py has these idiosyncratic lines in both places (github repo and pypi package):

[code]

It looks perhaps the PyPi package was uploaded later. It has more files (e.g., some dlls), and they have timestamps in June, while the github repo was all May.

[2019-07-16 00:41] M-J-Murray opened #6197 "MameToolkit"
Hello,

I would like to increase the size of my pypi repository from 60MB to 120MB (https://pypi.org/project/MAMEToolkit/#files).
I have to include a pre-compiled instance of MAME inside my repository for my code to work. I have just recompiled a newer instance of the library, and the size has increased, so the entire code is now 101MB. 120MB would be a safe padding.

Yours faithfully,
Michael Mur

[2019-07-16 02:26] rushib1 commented on #6196
I am the owner of that package. I have no problem to the above request and can continue with it.

[2019-07-16 06:54] revmischa commented on #6153
I received no word back :/

[2019-07-16 09:55] nedbat opened #6198 "<a> tags have underlines for images, which shouldn't have them"
**Describe the bug**

I have an image with a link.  This results in an <a> tag around an <img> tag.  The <a> tag has a clever background-image css rule that gives it an underline appearance.  But my image is a PNG with a transparent background, so the underline shows through, and looks like it is crossing out the image:

https://test.pypi.org/project/coverage/5.0a6/

<img width="397" alt="image" s

[2019-07-16 10:08] jamadden commented on #6198
I think this is a cup of #6158 which was just fixed in https://github.com/pypa/warehouse/pull/6165

[2019-07-16 10:14] nedbat commented on #6198
It is indeed. Thanks for the quick response!

[2019-07-16 10:14] #6198 closed

[2019-07-16 10:43] jamadden commented on #6196
@rushib1 if @dfrankow provides you with a PyPI username, can you login to pypi.org and add that username as an owner of the fiddler project?

[2019-07-16 12:22] nedbat commented on #726
I would definitely use this (and I thought test.pypi.org let us do this, but it does not).

[2019-07-16 12:50] dfrankow commented on #6196
Please add [raghu_fiddler](https://pypi.org/user/raghu_fiddler/), the owner of the [fiddler-client](https://pypi.org/project/fiddler-client/) package.

[2019-07-16 16:37] randomboolean opened #6199 "Increase size limit request"
- A link to your project on PyPI (or Test PyPI)
https://pypi.org/project/warp10-jupyter/

- The size of your release, in megabytes
85M

- Which index/indexes you need the increase for (PyPI, Test PyPI, or both)
both

- A brief description of your project, including the reason for the additional size.
Contains a Jupyter notebook cell magic `%%warpscript` that allows to execute warpscript code in a

[2019-07-16 17:11] jamadden commented on #6199
The upload limit has been set to 100MB on pypi.org.

It seems this project does not exist on test.pypi.org. If you want to test it there, you'll need to create the project first, and after that the admins can change the upload limit. Please open a new ticket if you do that.

[2019-07-16 17:11] #6199 closed

[2019-07-16 17:52] jamadden commented on #6197
Looking at https://pypi.org/project/MAMEToolkit/#files, there seem to be some issues with the metadata.

There are two files uploaded:

- MAMEToolkit-1.0.2-py3-none-any.whl (60.3 MB)
- MAMEToolkit-1.0.2.tar.gz (59.9 MB)

Both archives include the (199MB, once unpacked) native executable file:

The `.tar.gz` file is a [source distribution](https://packaging.python.org/glossary/#term-source-distribu

[2019-07-16 19:13] M-J-Murray commented on #6197
Thank you Jason, this is extremely helpful. I wasn't aware that I had incorrectly configured the project. I will definitely make the appropriate changes. Once the fixes are made, would you be able to increase my data limit?

[2019-07-16 19:20] jamadden commented on #6197
Great! Glad I could help.

I'm not aware of any reason not to!

It might be a good idea to close this issue and open a new one when the packaging is ready. We try not to, but sometimes older issues get lost in the backlog.

[2019-07-16 23:05] M-J-Murray commented on #6197
Hello Again,

I'm having a lot of issues trying exclude the mame binary from the tar.gz. I can only seem to exclude files from the whl or both, but not from the tar.gz using setuptools. How do I state which files go into which compressed file using setuptools?

[2019-07-17 05:41] #6172 closed

[2019-07-17 08:04] cjerdonek commented on #5837
For reference purposes, I just wanted to note on this issue that PEP 592 support has been added to pip and will be in its next release: https://github.com/pypa/pip/issues/6633

[2019-07-17 12:19] jamadden commented on #6197
Because you're essentially building a native code extension, I think you need to tell setuptools about that so that it knows what is source and what is built code. Ideally, we would use the setuptools functionality to actually build the compiled file and include its sources in our sdist. We could potentially piggyback on the `libraries=` keyword to setuptools by subclassing either `setuptools.comm

[2019-07-17 17:00] #6171 closed

[2019-07-17 19:06] thatch opened #6201 "Feed of removed packages"
**What's the problem this feature will solve?**

I gather from outside sources that some projects have been removed from pypi because they were malicious ([libpesh](https://blog.reversinglabs.com/blog/suppy-chain-malware-detecting-malware-in-package-manager-repositories) for example).

I have a bandersnatch mirror, and it appears to have mirrored the source.  I'd like to ensure that such packages

[2019-07-17 19:13] di commented on #6201
Thanks for the feature request! This seems like a duplicate of #4703.

[2019-07-17 19:22] thatch commented on #6201
@di looks like it, thanks.

[2019-07-17 19:22] #6201 closed

[2019-07-17 23:24] #6183 closed

[2019-07-17 23:47] brainwane opened #6204 "Fix "appliation" typo in help page"
The word "appliation" on https://pypi.org/help/ should be "application". To fix this, edit `warehouse/templates/pages/help.html`.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%22good+first+issue

[2019-07-18 01:59] brainwane commented on #994
@woodruffw's #6084 is ready for you to test it, if you're adventurous and you can set up a Warehouse developer environment! In case you haven't tested this kind of feature locally before, here's how:

1. follow [the setup guide](https://warehouse.readthedocs.io/development/getting-started/) up through the "Building the Warehouse Container" step (this will take a few minutes)
2. [fetch the branch](

[2019-07-18 02:15] brainwane commented on #5587
I presume you'll be adding API key user interfaces to commits in #6084 ?

[2019-07-18 02:16] brainwane commented on #6173
@nlhkabu now that we've merged fixes to the three specific issues opened as a result of the testing, would it be okay to close this issue?

[2019-07-18 02:21] brainwane commented on #6074
@uda have you tried reaching out to @flaper87 via email? I see an email address listed at https://github.com/flaper87 .

[2019-07-18 02:44] brainwane commented on #5894
@steiza do I recall correctly that there's an update on the Duo Mobile side that partially addresses this issue?

[2019-07-18 02:52] brainwane commented on #5661
@nlhkabu ran user tests, summed up her findings in #6173, and we've now addressed those issues, yay! But we still have a few WebAuthn issues left in [the milestone](https://github.com/pypa/warehouse/milestone/13) before I'll call the beta finished.

Once we approve #6084 we'll have one more auth feature -- API tokens -- to test via a beta period on test.pypi.org and pypi.org, so I'll keep this iss

[2019-07-18 05:18] nlhkabu commented on #5587
That's right @brainwane - @woodruffw pinged me yesterday on this, and I'm starting work on that today :)

[2019-07-18 05:19] #6173 closed

[2019-07-18 05:26] flaper87 commented on #6074
Hi folks,

I'm so so sorry but I just saw this. Sadly, my time to maintain this project has been reduced to almost none and I haven't been able to push new versions of it.

I'm normally completely and absolutely against deleting versions from pypi but I've gone ahead and deleted it since that version still exists in Pypi under a different (and correct) version number. Hope this helps to fix the is

[2019-07-18 22:49] chintal commented on #474
I'm trying to obtain dependencies for packages I control, and I would like for requires_dist to come from pypi. I do not wan't to publish wheels, though, for convoluted reasons. From the discussion here, it seems to me that it should still work.

I am using setuptools 39.0.1, with dependencies in setup.py in install_requires, setup_requires, and extras_require. Published sdists, however, do not ha

[2019-07-19 05:50] nlhkabu opened #6211 "Ask CI providers, PyPUG to update their documentation, tell users to use API keys"
I found two specific pieces of documentation from CI providers that should be updated with the release of API keys:

It would be nice to reach out to these providers to let them know to update their docs :)

https://docs.travis-ci.com/user/deployment/pypi/
https://circleci.com/blog/continuously-deploying-python-packages-to-pypi-with-circleci/

[2019-07-19 06:02] nlhkabu commented on #6211
We'll also need to open a ticket on the PyPUG to update this: https://packaging.python.org/guides/distributing-packages-using-setuptools/?highlight=pypirc#create-an-account

[2019-07-19 11:02] dialex commented on #1506
FYI this might help: https://github.com/rejuvenate/rejuvenate

[2019-07-19 12:49] Phlya commented on #5580
Just thought to ask @rtansf about this again? Been a while, and having to always install from GitHub is confusing for new users of the ecosystem.

[2019-07-19 14:01] jacobian commented on #6183
Yay, thank you!

[2019-07-19 15:14] Schamper commented on #5939
It's been over 6 weeks, is there any update available from PyPA? Cheers.

[2019-07-19 15:23] jamadden commented on #5939
I've just reached out to the project owner again on [github](https://github.com/vivisect/dissect/issues/7) (where the account shows recent activity), on the email address published on the project page, and with the private verified email address associated with the owner account. (I don't think any PyPI moderators had done that yet.)

[2019-07-19 17:06] rushib1 commented on #6196
@jamadden @dfrankow done.

[2019-07-19 17:19] #6196 closed

[2019-07-19 17:28] rangadi commented on #6196
Thanks everyone! I am now the owner of 'fiddler' package. Will push a release there soon.

[2019-07-19 17:31] dfrankow commented on #6196
Thanks @rushib1 !

[2019-07-19 18:28] steiza commented on #5894
Oops! Sorry, I'm not sure how I missed this back in May.

I haven't worked on the mobile app, but my understanding is that if the URI contains `issuer=PyPI` (as https://pypi.org currently does), then it will show up in Duo Mobile with:
- the PyPI logo
- the first line will read "PYPI" (sorry for the capitalization - the first line in the Duo Mobile app is always all uppercase)
- the second line wi

[2019-07-20 10:47] ewjoachim commented on #6051
This reminds me of https://python-security.readthedocs.io/pypi-vuln/index-2017-11-08-pypirc_exposure_on_github.html .

[2019-07-20 11:38] astrofrog opened #6215 "Have a way to filter packages by date"
**What's the problem this feature will solve?**

There is currently no way to reproduce a ``pip install ...`` command from a certain date in the past. Even if I were to run e.g. ``pip install astropy==2.0.11``, recent versions of dependencies would get picked up. It would be great if there was a way through the PyPI API to exclude packages added after a certain date, which could then be extended t

[2019-07-20 11:54] jamadden commented on #6215
Interesting!

Unless I'm missing something, this seems like an implicit form of `pip freeze > requirements.txt` and then `pip install -r requirements.txt`. Can you talk about why one would want to use implicit date-based "freezing" rather than explicit version-based freezing?

[2019-07-20 12:08] astrofrog commented on #6215
@jamadden - just to give a very specific use case, I had to give a demo at SciPy last week which involved a package that ended up pulling in dozens of dependencies. However, something had broken in the mean time, and I didn't have time to try and debug it, and I also had no easy way of knowing which dependencies I was using back then. Now I know I was able to run the specific code I wanted to demo

[2019-07-20 15:36] jheld opened #6217 "Disabled "Manage" button is missing tooltip"
**Describe the bug**

I have been granted a maintainer role on a project. I am listed as a maintainer, but on my project list I cannot click the button for editing the project. Just viewing.

**Expected behavior**

I should be able to edit/maintain the project.
**To Reproduce**

Unsure how reproducible this is for other users.
**My Platform**

Firefox on multiple platforms. Have not tried other br

[2019-07-20 15:43] di commented on #6217
What's the name of the project? What's your username?

[2019-07-20 15:54] jheld commented on #6217
django easy audit.

snoopy1497

On Sat, Jul 20, 2019, 11:44 AM Dustin Ingram <notifications@github.com>
wrote:

[2019-07-20 16:36] di commented on #6217
There are two possible roles for collaborators:

**Maintainer:**: Can upload releases for a package. Cannot add collaborators. Cannot delete files, releases, or the project.

**Owner**: Can upload releases. Can add other collaborators. Can delete files, releases, or the entire project.

If you need to edit the project, an owner needs to give you the "Owner" role instead.

There is supposed to be a

[2019-07-20 17:05] jheld commented on #6217
Makes sense. Thank you! I was going to try uploading a release, but wasn't
sure if there was a UI bug or not.

On Sat, Jul 20, 2019, 12:37 PM Dustin Ingram <notifications@github.com>
wrote:

[2019-07-20 21:51] #6204 closed

[2019-07-21 12:42] pradyunsg commented on #6215
FWIW, if we want to do this, we'd do this with the installer cooperating with the index. PyPI is not going to do any filtering on its end.

This is important to maintain ease of utilizing caching.

There are 2 ways that have come up, to do this, in a private discussion elsewhere:

- Add an optional data-upload-datetime attribute to all links.
  - This bloats all of our requests for a... fairly new

[2019-07-22 06:49] David-OConnor opened #6226 "List dependencies for each release"
**What's the problem this feature will solve?**
This is more of a question than a feature, but could be a feature if the question has no solution. Would allow easy access to dependency graphs, without having to download a package.

**Describe the solution you'd like**
Under each release, a list of dependencies (1 level deep is enough) should be one of the items displayed. Ie in `>=` or `^/~` forma

[2019-07-22 13:23] ewdurbin commented on #6226
@di wrote this succinct summary of why this isn't currently feasible at https://dustingram.com/articles/2018/03/05/why-pypi-doesnt-know-dependencies/.

I'll leave this open for further discussion for now, but I believe it can be closed if no one objects.

[2019-07-22 14:52] David-OConnor commented on #6226
I'm going to implement this as a auto-caching standalone API

[2019-07-23 03:12] David-OConnor commented on #6226
[Early release](https://pydeps.herokuapp.com/matplotlib/3.1.1/)

[2019-07-23 04:58] pradyunsg commented on #6226
Releases where wheels are uploaded first do contain the dependency information, in the JSON API.

[2019-07-23 05:36] nlhkabu commented on #3924
I am going to close this one as this contradicts the [WGAG guidelines](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html), which excludes any images that are not "required for understanding" from color contrast requirements:

"The graphic is for aesthetic purposes that does not require the user to see or understand it to understand the content or use the functionality."

We can re

[2019-07-23 05:36] #3924 closed

[2019-07-23 05:37] nlhkabu opened #6229 "Audit SCSS components for WCAG compliance."
Review each component against WGAG 2.1 AA standards and open a ticket where needed.

- [ ] about-pypi
- [ ] accordion
- [ ] api-token
- [ ] applied-filters
- [ ] author-profile
- [ ] badge
- [ ] breadcrumbs
- [ ] button
- [ ] button-group
- [ ] callout-block
- [ ] centered-heading
- [ ] checkbox-tree
- [ ] dark-overlay
- [ ] dropdown
- [ ] faq-group
- [ ] filter-badge
- [ ] filter-panel
- [ ] foot

[2019-07-23 05:49] David-OConnor commented on #6226
Could you please post an example?

[2019-07-23 07:00] pfmoore commented on #6215
Actually, I'd like to say that the `pypi-timemachine` project sounds awesome, and seems like a good, practical example of how to solve problems like this *without* needing to change the existing infrastructure or tools.

I'd be interested to know in what ways using a standalone proxy like `pypi-timemachine` is insufficient, and explore ways of addressing those issues, rather than just building the

[2019-07-23 10:43] mett96 commented on #4607
Hi I have the same error of "jongio".

[code]

This error occurred when I try to upload the new package to pypi.org.

I checked that a package simple_logger already exists, but I named my package **simple-logger**.

Is the name changed during the upload?

This is a part of my setup.py file
[code]

[2019-07-23 11:32] astrofrog opened #6231 "Inconsistent requires_dist behavior"
**Describe the bug**

The following packages both define dependencies in a setup.cfg file:

https://pypi.org/pypi/astropy/json (link to [setup.cfg](https://github.com/astropy/astropy/blob/master/setup.cfg#L29))

https://pypi.org/pypi/glue-vispy-viewers/json (link to [setup.cfg](https://github.com/glue-viz/glue-vispy-viewers/blob/master/setup.cfg#L13))

However, while glue-vispy-viewers seems to ha

[2019-07-23 12:49] jamadden commented on #4607
Yes. PEP 503 defines the PyPI API and states that [all project names are normalized](https://www.python.org/dev/peps/pep-0503/#normalized-names):

Thus, the names `simple-logger` and `simple_logger` are equivalent.

[2019-07-23 16:27] di commented on #6226
Quoting for those who might be reading via email and missing your edits:

As the article that @ewdurbin shared says, this wouldn't be possible unless we stopped allowing source distributions configured via `setup.py`. The ecosystem is definitely moving away from `setup.py`, but it will be a long time coming.

[code]

[2019-07-23 16:58] di commented on #6231
Three things are happening here:

1. the first distribution uploaded for a new version sets the metadata for that version;
1. the metadata for a version is immutable;
1. source distributions don't have `Requires-Dist` in their metadata.

This means that if you upload a source distribution of `astropy` first, it will always lack `requires_dist`, regardless of how you set this information, or what y

[2019-07-23 17:04] astrofrog commented on #6231
@di - thanks for the clear explanation! I agree that it would be ideal if ``Requires-Dist`` could get set for deterministic dependencies in ``setup.cfg``.

[2019-07-23 17:21] di commented on #6231
No problem! Regardless of the outcome of that issue, I don't think there's anything that should change on PyPI's side of things here, so this issue can probably be closed.

[2019-07-23 19:10] #6231 closed

[2019-07-23 19:27] woodruffw opened #6232 "Improved error reporting for token permissions"
As a follow on to #6084, we should improve the message returned to users when their provided token isn't acceptable in the given context (e.g., if it doesn't match the package or doesn't have the right permissions at all).

Current `master` provides this message, which is misleading:

#6084 changes that message to the more generic:

But ideally we'd have something like this:

cc @nlhkabu @brainwan

[2019-07-23 20:59] #6157 closed

[2019-07-24 00:19] David-OConnor commented on #6226
What version of Requests is that list for? As far as I understand, you can build a dep graph from that, since it's not tied to a version. Would need that under `releases` - not just `info`.

[2019-07-24 00:30] di commented on #6226
It's for the latest version, but you can get it for any version:

[code]
[code]

The API is documented here: https://warehouse.readthedocs.io/api-reference/json/

[2019-07-24 04:53] David-OConnor commented on #6226
This is exactly what I'm looking for. Thank you.

[2019-07-24 05:06] pradyunsg commented on #6226
Awesome! I'll go ahead and close this as resolved.

[2019-07-24 05:06] #6226 closed

[2019-07-24 09:13] mett96 commented on #4607
@jamadden thanks for the explanation

[2019-07-24 10:13] trbn opened #6235 "Dataset in my language"
Hi
**What's the problem this feature will solve?**
Link prediction in persian

**Describe the solution you'd like**
I have entire dataset and I want to replace Freebase with it. Then train all models.

**Additional context**
Could you help me and lead me to do it?
I look forward to hearing from you.
Best regards,
Najmeh

[2019-07-24 10:35] yeraydiazdiaz opened #6236 "Search meta issue"
While working on the search portion of Warehouse I've been reading [the many issues raised by users on the subject](https://github.com/pypa/warehouse/issues?q=is%3Aissue+is%3Aopen+label%3Asearch) and thought we might want to clearly define the use cases for searching in PyPI.

So far I've identified the following use cases:

1. **Project name searches**: users that have a vague recollection of the

[2019-07-24 10:43] yeraydiazdiaz commented on #6235
Hi @trbn,

Sorry but it is unclear to me what you mean with "Link prediction in persian". Are using a specific package that provides this dataset?

If so you may want to contact the authors of the package directly as this repo is for issues regarding PyPI itself.

Hope this helps.

[2019-07-24 13:59] trbn commented on #6235
Thanks for the response. So I will ask the question from the authors.

[2019-07-24 13:59] #6235 closed

[2019-07-24 14:04] trbn opened #6237 "New dataset"
Dear authors,

Thanks for the pypa.
I want to run embedding models on my dataset. What should I do?
Many thanks in advance.

Best Regards

[2019-07-24 14:48] yeraydiazdiaz commented on #6237
Hello again @trbn. Sorry if I was not clear. This repository is for issues with the https://pypi.org/ website.

You may want to try using Google your problem or ask in a forum as we cannot help you here.

Best of luck.

[2019-07-24 14:48] #6237 closed

[2019-07-24 16:33] brainwane opened #6239 "2FA: unverified-email users get banner linking to nonexistent anchor"
When I create a new account which -- immediately after creation -- has an unverified email address, I see the "Two factor authentication is available, enable it now for your account." banner linking to `manage/account/#two-factor` but that anchor tag does not actually point anywhere on the page, and the `/manage/account` page doesn't say anything about 2FA (e.g. in the "Account emails" section).

[2019-07-24 16:41] di commented on #6239
IMO we should not show the banner at all if the user cannot actually enable 2FA (due to not having a verified email address), and let the banner appear once the email address is verified.

[2019-07-24 18:11] ezyang opened #6240 "PyPI accepts packages with dependencies on local versions (e.g., 0.1.0+local)"
PyPI accepts packages with dependencies on local versions (e.g., 0.1.0+local). I'm not sure if this is intentional or not, since PyPI will reject packages whose version is a local version.

I tested this was the case using this test package:

[code]

[2019-07-24 21:15] MadcowD opened #6241 "Size increase for PyPI project minerl"
Our project `minerl` is a reinforcement learning simulator which allows its users to train AI agent in Minecraft. We package several jars along with `minerl` which the python library communicates with to start the simulator, but we need a size increase to enable our next release. **The size target is 100 MB**.

PyPi: https://pepy.tech/project/minerl
Index: PyPi
You can read more here: http://miner

[2019-07-24 23:23] M-J-Murray commented on #6197
Hello Jason,

Thank you for providing such amazing in depth advice. It saved me a lot of time and effort, I wasn't aware of any of this. I really appreciate it, you are awesome! Sorry it took so long, my ubuntu died after a dist-upgrade.

Could you review the changes and let me know if this is suitable for the size limit change?

[2019-07-25 05:52] nlhkabu opened #6246 "Check video / iframe on 404 page for accessibility"
From WGAG guidelines:

- iframes should be appropriately titled
- do not autoplay video
- enable youtube controls (allows autogenerated subtitles)
- provide audio transcript (maybe it is better to link to an external resource here, e.g. http://www.montypython.net/scripts/cheese.php)

[2019-07-25 05:57] nlhkabu opened #6247 "Test PyPI at 400% zoom / 320 pixels, horizontal orientation"
WCAG 1.4.4:

- The page is readable and functional when the page is zoomed to 200%

WCAG 1.4.10:

- No loss of content occurs and horizontal scrolling is avoided at width of 320 pixels

How to test:

- Set the window to 1280 pixels wide, and zoom in to 400%.

--------------

Off the top of my head I know that we definitely have issues here with:

- Removing links in the main header on mobile
- Rem

[2019-07-25 05:59] nlhkabu opened #6248 "Make link/button focus states meet 3:1 contrast requirements"
We have a single SASS function that controls focus states. This does not meet the 1.4.11 (WCAG 2.1) 3:1 contrast requirement.

[2019-07-25 06:02] nlhkabu commented on #6099
Note: WCAG 2.1 - Criteria 2.1.4:

disable the key command, change the defined key to a non-printable key (Ctrl, Alt, etc.),
or only activate the shortcut when an associated interface component or button is
focused.

[2019-07-25 06:08] nlhkabu opened #6249 "Remove directional instructions from help text"
WCAG 1.3.3:

to continue" or "Instructions are in the right-hand column".)

To fix:

- Search templates for the words "above", "below".  There are several places where the help text should be rewritten to avoid these terms.

We should also add a section to [our documentation](https://warehouse.readthedocs.io/ui-principles/#write-clearly-with-consistent-style-and-terminology) to ensure new interfac

[2019-07-25 06:14] nlhkabu opened #6250 "Add sitemap, link to in footer"
WCAG 2.4.5:

related pages, table of contents, site map, site search, or list of all available web pages.

The quickest way for us to meet this criteria is to add a basic sitemap to PyPI and link to it from the site footer.

[2019-07-25 06:18] nlhkabu opened #6251 "Check every PyPI page has a descriptive and informative page title"
WCAG 2.4.2.

[2019-07-25 11:55] amcgregor commented on #6099
Interesting.  GitHub and YouTube fail this purely on the grounds of non-configurability, if interpreted _very_ strictly.  Alternatively, because the search navigation and discovery keys are actually outside the word-character range, and if targeted such that pressing those while focused on an input of some kind won't trigger—and typing into the browser's page search won't, it will require focus on

[2019-07-25 14:49] alex opened #6255 "Add caveats to macaroons for expiration (time) and version"
**What's the problem this feature will solve?**

This will allow further attenuating the permissions granted by an API key

**Describe the solution you'd like**

Addition of two addition types of caveat, project version (for uploads) and time (expiry).

[2019-07-25 15:00] ewdurbin opened #6256 "Always display API token management panel"
Noticed after deploy of #6084, that the API token management panel is not at all visible if any single email address is not verified.

I suggest that we should:
  - Always display the panel, but grey out or disable it
  - Allow for management of API Tokens when at least one verified primary email is present.

[2019-07-25 15:06] ewdurbin opened #6257 "Add API Token form confusion"
noticed that the form elements for adding an API Token still display after creating a token

<img width="1145" alt="Screen Shot 2019-07-25 at 11 04 22 AM" src="https://user-images.githubusercontent.com/1200832/61885640-293dfb00-aecc-11e9-8ed9-42af3285862f.png">

This is a bit confusing, and I'm not sure if intentional

[2019-07-25 17:43] chaoflow opened #6260 "Pypi should not allow upload of files with a version mismatch"
**Describe the bug**
The current docutils [0.15.1](https://pypi.org/project/docutils/0.15.1/) release cannot be installed from source as the source tarballs version is 0.15.1.post1 instead of 0.15.1. Pypi should prevent such mismatches.

**Expected behavior**
Do not accept files where the file name version does not match the metadata version.

**To Reproduce**

**My Platform**

**Additional contex

[2019-07-25 19:15] webknjaz commented on #6211
FTR here's where you can create a PR for Travis CI docs: https://github.com/travis-ci/docs-travis-ci-com/blob/master/user/deployment/pypi.md

[2019-07-25 19:26] webknjaz opened #6262 "[Project-scoped API tokens] aren't available to maintainers"
**Describe the bug**

When I use a "bot" account with "Maintainer" level access to projects, there are no projects to select from in the form for the token creation.

**Expected behavior**

Since this "bot" can upload dists using user/password auth, it should also have similar privileges set when using tokens.

**To Reproduce**

Go to https://pypi.org/manage/account/token and try selecting a proje

[2019-07-25 19:26] webknjaz commented on #994
@brainwane filed a bug: https://github.com/pypa/warehouse/issues/6262

[2019-07-25 20:02] webknjaz commented on #6211
Created https://github.com/pypa/packaging.python.org/issues/628

[2019-07-25 20:28] webknjaz opened #6263 "[Project-scoped API tokens] should be accessible from project settings"
**What's the problem this feature will solve?**

I think that it'd be convenient if I could see a list of tokens having access to the chosen project page. Even ones created by someone else.
This'd result in better visibility of the security aspects of managing the project.

**Describe the solution you'd like**

I'm thinking of one of these pages:
* https://pypi.org/manage/project/{project}/collabo

[2019-07-25 21:58] webknjaz commented on #6050
After further debugging, I've found out that `if (!window.PublicKeyCredential) {` feature detection check is invalid. This function is present in my version of Chrome, that's why I don't get any error messages displayed (the DOM node stays hidden).

https://github.com/pypa/warehouse/blob/1d8e0fa/warehouse/static/js/warehouse/utils/webauthn.js#L163

[2019-07-26 00:44] webknjaz commented on #6050
So I've tried demo.yubico.com/u2f and demo.yubico.com/webauthn .
The first one works and the second works partially. There's an "Internal authenticator" test which doesn't work.
<details>
<summary>pics</summary>

<img width="362" alt="yubico-webauthn-demo" src="https://user-images.githubusercontent.com/578543/61917533-e6bd0280-af4d-11e9-9d04-864581c94625.png">
<img width="415" alt="yubico-webauthn

[2019-07-26 01:01] webknjaz commented on #6050
I've noticed there's `u2f.getApiVersion()` method available. Here's the version in my browser:
[code]
If modern browsers have a different one — maybe that's it?

[2019-07-26 01:05] Carreau commented on #6257
+1 for this, Plus in scope; I woudl add which permissions are granted with this token (I believe there was a discussion about having upload-only permission, so at least say that it has all permissions for given project if true).

[2019-07-26 01:08] webknjaz commented on #6050
Also, this article https://www.ubisecure.com/api/fido-webauthn-api/ suggests using `PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().then()` for the feature discovery:

Here's the output for me:
[code]

[2019-07-26 01:31] webknjaz commented on #6050
I probably nailed it. Needs testing tho. On the platforms, I don't have. #6264.

[2019-07-26 01:46] brainwane commented on #6255
This is a fine idea to add onto future work for #994 -- thank you! I believe it's out of scope for [our current funding for security improvements to PyPI](https://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html), sorry to say.

[2019-07-26 01:48] brainwane commented on #6256
I agree that we should allow for API token management if there's _at least one_ verified primary email address. @woodruffw please look into this, and also please check whether this problem also affects our 2FA methods as a whole.

I'll defer to @nlhkabu on the accessibility and UX implications of the greyed out/disabled view.

[2019-07-26 01:49] brainwane commented on #6257
I personally think this is fine, but I can see how it is potentially confusing. @nlhkabu I'll defer to you here!

[2019-07-26 01:52] Carreau opened #6265 "API Token + a bit flip at end of token wrongly allows upload"
**Describe the bug**
For fun I tried to swotch the last letter of my token and try to upload a new version on a test package.
The upload worked.

**Expected behavior**
Single bit flip in the token should not allow to upload.

**To Reproduce**

Here is my session.  The **token has been revoked** so is in clear.

[code]

Bump package version and change last token letter from `M` to `N`:

[code]
Wait

[2019-07-26 02:09] brainwane commented on #6265
Thank you @Carreau for this bug report!

(I did some quick checking with another maintainer to verify that this isn't bad enough that we should deal with it privately. But for your and other peeople's reference in the future, if you believe you have discovered a security vulnerability in PyPI/Warehouse, please follow [our security policy](https://pypi.org/security/) to notify us privately.)

A mal

[2019-07-26 02:14] Carreau commented on #6265
Yes, opened a bug report as this is only in beta and you asked for testers.

I agree it looks non critical, just want to make sure it does not hide
other issues. I'm tempted to think it comes from the base64 encoding. The
token is not padded with = (equal signs) at the end, so maybe the last few
bits don't matter ?

On Thu, Jul 25, 2019, 19:09 Sumana Harihareswara <notifications@github.com>
wrote:

[2019-07-26 02:15] brainwane commented on #6263
Thanks for your note and for the feature idea of displaying an inventory, somewhere within project settings, of project-scoped API tokens, viewable by project owners (and maybe maintainers).

Right now I think this is out of scope for [the OTF-funded security work](https://github.com/pypa/warehouse/milestone/13) on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- we need

[2019-07-26 02:18] brainwane commented on #6211
Thanks for the research, @nlh and @webknjaz! I can't get to this till Monday; Sviatoslav, would you like to go ahead and create a PR about this for Travis CI docs? If you can't, that's fine. :)

[2019-07-26 02:26] brainwane commented on #6262
Yup, I can confirm this. If I am logged in as a user who has maintainer-level collaborator status on a project, that project does not appear in the Scope dropdown list at `manage/account/token/`.

This is a bug IMO and we should fix it before further publicizing the feature (per rollout tracked in #5661).

Thanks for finding and reporting this bug @webknjaz! :trophy:

[2019-07-26 02:39] brainwane opened #6266 "API token default scope: user or project?"
Followup to #994:

@brettcannon [asks](https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042/33):

As far as I know there are no such plans but I'd like @woodruffw and @nlhkabu to weigh in.

[2019-07-26 03:10] dstufft commented on #6265
This is just completely down to base64 encoding nonsense.

[code]

Those two strings base64 decode to the exact same bytes, so there's not a lot we can do except either use a less malleable encoding standard.

[2019-07-26 03:20] Carreau commented on #6265
Thanks for the info. Readong on it more it seem that at *worse* the last 4 bits are thrown away.

Would it make sens to amke sure the last "thrown away" bits are always `0` ?  I'm not a security expert so not quite sure about the implications. I'm thinking for example at Bots that make sure no credentials are leaked on GH, or similar that would fail to match a different token..

[2019-07-26 03:43] njsmith commented on #6265
Maybe just reject any token where `encode(decode(token)) != token`?

[2019-07-26 04:07] woodruffw commented on #6265
I'm not sure we could do this, at least not without fiddling with the internals of the Macaroon serialization format.

As far as automated token scanning goes, I believe the current plan is to support GitHub's credential alerting system. Theirs is pattern based and (for PyPI) will probably be keyed on the `pypi:` token prefix, so discrepancies in trailing bits won't matter to it.

[2019-07-26 04:12] woodruffw commented on #6266
An idea: We could add some additional UI on creation of a user-scoped token, warning the user that their new token will have access to all of their projects. This would allow us to retain it as a default (which I think is sensible, at least insofar as it doesn't make sense to choose a random project from the user's list as a default) while also making the security properties clear.

[2019-07-26 04:14] woodruffw commented on #6262
Hmm, yeah, this is probably just a matter of how/which projects we iterate over for the user.

I'll check this out, thanks @webknjaz!

[2019-07-26 06:18] nlhkabu commented on #6256
@ewdurbin I am not able to reproduce this in dev:

User with one verified email:

![Screenshot from 2019-07-26 07-16-42](https://user-images.githubusercontent.com/3323703/61930370-6b6f4700-af75-11e9-933d-3b52f7bd9742.png)

Can see and set up API tokens (and 2fa):

![Screenshot from 2019-07-26 07-17-32](https://user-images.githubusercontent.com/3323703/61930399-7d50ea00-af75-11e9-8444-1417d3b23f41.

[2019-07-26 06:26] nlhkabu commented on #6256
Opened #6269 to address comment:

[2019-07-26 11:04] webknjaz commented on #6211
Sorry, I'd love to, but have zero capacity atm :(

[2019-07-26 11:18] webknjaz commented on #6050
Wrong guess...

[2019-07-26 11:22] webknjaz commented on #6262
That's my guess too.

[2019-07-26 11:53] brainwane commented on #5661
@ewdurbin May I ask:

* how many users have turned on 2FA at all?
* how many users have a TOTP method provisioned, and how many have a WebAuthn key provisioned?
* what proportion & number of logins over the past week were protected by 2FA?
* how many API tokens currently exist?
* whether it's easy to set this up in Datadog so I can query it myself instead of asking you?

[2019-07-26 13:59] ewdurbin commented on #5661
@brainwane I'll query for those numbers before lunch, unfortunately we don't have this in Datadog at the moment, we'd need to implement a scheduled task to populate them... which perhaps is worthy of doing.

[2019-07-26 14:04] ewdurbin commented on #6257
Tokens are only able to upload, I may not have been clear in some of the beta announcements. Seems like a great idea to explicitly state what they can do (upload releases).

[2019-07-26 15:04] MadcowD commented on #6241
Thanks @jamadden :)

[2019-07-26 15:38] ewdurbin commented on #5661
[code]

TOTP

[code]

WebAuthn

[code]

This we _may_ be able to get from Datadog...

[code]

[2019-07-26 15:42] fkromer opened #6273 "Request trove classifier for Plotly Dash"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Dash`

## Why do you want to add this classifier?

[Plotly Dash](https://plot.ly/dash/) is the current de facto standard data science dashboard application framework with components, dev tools, etc. provided as Python packages via PyPi. A trove classifier for the framework would users help

[2019-07-26 15:46] jamadden commented on #6273
Hi! Thanks for the request. The PyPI moderators are in the process of developing a few guidelines for the creation of new `Framework` classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we're expecting the bar to add new ones to be relatively high. Currently, we're looking at these guidelines:

* New `Framework` c

[2019-07-26 16:11] fkromer commented on #6273
@jamadden This makes total sense.

Plotly Dash is the current de facto standard data science dashboard application framework. The [project](https://github.com/plotly/dash) has around 9500 stars on GitHub right now. I don't know any other comparable framework providing the same degree of features and extensibility.

Obviously it's not easy to find relevant packages on PyPi. [The plotly organization

[2019-07-26 17:08] di opened #6275 "Database is out of sync with models"
Autogenerating a migration from 0abc1b27707bdf9a1ca94ba8392f0086b1eeb492 produces some differences that Alembic is attempting to rectify:

Running:
[code]

Produces:
[code]

Ideally both `upgrade` and `downgrade` would be no-ops here.

[2019-07-26 17:14] ewdurbin commented on #5661
Past Week:

Percentage of Logins using Two-Factor Authentication: 7.71%

<img width="1081" alt="Screen Shot 2019-07-26 at 1 13 35 PM" src="https://user-images.githubusercontent.com/1200832/61968937-44316d80-afa7-11e9-8c73-a617480877a3.png">

[2019-07-26 17:26] woodruffw commented on #6275
Huh, that's interesting -- I could have sworn those indexes/constraints made their way into the migrations.

@di what's your preferred mitigation here? I could modify the respective migrations in a new PR, if that works for you.

[2019-07-26 17:48] di commented on #6275
We'll either need to change the models or add a new migration that gets them in sync, can't modify the existing migrations as the changes wouldn't be reflected in the production DBs.

[2019-07-26 17:50] woodruffw commented on #6275
Gotcha. We need those indexes and constraints, so I'll add new migrations to fix things.

[2019-07-26 21:53] chriddyp commented on #6273
As the original author of Dash, I support this classifier.

One thing unique about Dash as a framework is that it emphasizes a "component plugin system". So, all Dash "components" (think "widgets") are themselves plugins, many of which are community maintained.

With this in mind, many folks in the community (see Dash forums here: https://github.com/plotly/dash-core-components/blob/5ceae700d915e2d

[2019-07-27 00:58] mbkupfer commented on #6273
I'm using Dash very frequently and publish dash components from time to time. I think this would prevent unecessary duplication and help elevate the ecosystem by adding more formality to how these component plugins are shared.

[2019-07-27 09:07] tcbegley commented on #6273
I maintain [dash-bootstrap-components](https://github.com/facultyai/dash-bootstrap-components). Like other third-party extensions to Dash, since we're not affiliated with Plotly, our library doesn't appear on the Plotly GitHub organisation page, or in any of the official Dash documentation. A Dash classifier would certainly help us become more discoverable to users of Dash.

[2019-07-27 10:03] nlhkabu commented on #6266
As per #6274, we are going to address this by:

- Forcing users to explicitly select the token scope
- Showing a "warning" message if "entire account" scope is selected

[2019-07-27 10:09] nlhkabu commented on #6250
@woodruffw - I've assigned this one to you as some backend work will be required here.

[2019-07-27 13:16] di commented on #6250
Sitemap is here: https://pypi.org/sitemap.xml

[2019-07-27 17:50] nlhkabu opened #6281 "Update form labels to reflect required status and format requirements"
WCAG 3.3.1:

length provide this information within the element's label.

[2019-07-27 18:15] nlhkabu commented on #6250
Thanks @di - but I don't know that this would actually be useful/usable for people wanting a secondary method of navigation.

The recommendations say:

Further guidance on how to create site map:
https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G63

Example site map:
https://www.w3.org/WAI/sitemap/

[2019-07-27 18:19] nlhkabu opened #6282 "Use `abbr` for abbreviations in help text"
see: https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/H28

We have several places in our help an instructional text where we could/should use the `abbr` element.

Technically this is a AAA technique, but I think the fix for this is so quick, we should include it.

[2019-07-27 19:18] di commented on #6250
Sorry, should have added more context! Wanted to point y'all to the existing machine-readable sitemap as the view could be reused for a human-readable sitemap (i.e., we don't need to start from scratch).

[2019-07-28 05:10] GibbsConsulting commented on #6273
We publish [django-plotly-dash](https://github.com/GibbsConsulting/django-plotly-dash) and [jupyter-plotly-dash](https://github.com/GibbsConsulting/jupyter-plotly-dash) and are also not affiliated with Plotly,
 which means we are in the same situation as @tcbegley . We would also welcome a Dash classifier.

[2019-07-28 21:58] brainwane commented on #6256
I also can't reproduce the issue where a single unverified email address stops the user from being able to create an API token. @ewdurbin can you still reproduce this on production?

[2019-07-28 22:08] brainwane commented on #6265
Thanks for the discussion & clarification. Sounds like this isn't a flaw we need to address right now, so I'm taking it out of the scope of what we need to do in this milestone.

[2019-07-28 22:39] brainwane commented on #6211
Asked Travis CI (issue linked above) and Circle CI ([on Discourse](https://discuss.circleci.com/t/adding-pypi-api-key-instructions-for-package-uploads/31598)) whether they want to add the feature to their docs yet, given that it's in beta.

[2019-07-28 23:08] brainwane commented on #5661
Issues we need to resolve before ending WebAuthn beta:

- [ ] Chrome issue #6050
- [ ] Edge issue #6146
- [ ] ask for password, not username, when disabling 2FA #5825

(Possibly others - will discuss in meeting this week.)

Issue(s) we need to resolve before ending API token beta:

- [ ] maintainers can't create project tokens #6262

[2019-07-28 23:21] webknjaz commented on #6146
This looks suspiciously similar to #6264...

[2019-07-28 23:25] ZaxR opened #6287 "Change username & API token prefix, to make Travis auth easier"
Just wanted to share a potential pain point for folks using the new PyPI API tokens for authentication via a travis.yaml. The @token username needs to be wrapped in quotes and the `:` after `pypi` needs to be escaped to work, otherwise you hit a 403 error (thanks for the help tracking this down @ewdurbin).

If you're using the environment variables through Travis' UI, the following works:
[code]

[2019-07-29 00:19] brainwane commented on #5661
Percentage of Logins (to pypi.org via browser, I think) using Two-Factor Authentication:

May: 2.25%
June: 3.08%
July 1-21: 4.62%
July 21-25: 9.72% (July 25th was [our post to Discourse about API tokens](https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042/31))
July 25-28: 15.45%

And, for logins in the past 2 days, it's 23.1%. That is mostly a weekend, so it'

[2019-07-29 01:33] brainwane commented on #994
Upload-only API tokens (both user-scoped and project-scoped) are [now in beta on PyPI and Test PyPI](https://pypi.org/help/#apitoken)! Our update on Discourse is at https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042/31 .

Uploading with an API token is currently optional but encouraged; in the future, PyPI will set and enforce a policy requiring users with t

[2019-07-29 03:19] davidism commented on #994
Is there any chance of adding 2fa support for uploads, as opposed to only accepting tokens? Seems like 2fa should be supported and preferred for dev machines, storing API tokens locally doesn't seem any more secure.

[2019-07-29 04:13] moshez commented on #994
"more secure" depends, of course, on your threat model.

One common problem with storing secrets locally is that they are available to any future application that runs as the user (any *current* application that runs as the user is a threat for 2FA-based systems, since it can directly hijack the session). However, this threat can be mitigated by only storing short-lived tokens. The Macaroon system

[2019-07-29 04:22] Carreau commented on #994
Are there any discussions as to where how the project-name:api-token mapping should be stored ?
Typically to tell twine which token it should use ? In CI it's easy with env variable; not so much on dev machines which may release multiple projects.

Or do you just expect devs to use token with the same scope as the user ?

[2019-07-29 05:17] davidism commented on #994
So you're saying the workflow to upload a package would be to log in to pypi with 2fa, get a short lived token, tell twine about it? Why not just cut out the middle step and tell twine about 2fa?

[2019-07-29 06:06] nlhkabu opened #6290 "Add sub menu to manage account page"
With the addition of new features, we should add a sub menu to the manage account page, e.g:

![Screenshot from 2019-07-29 07-04-19](https://user-images.githubusercontent.com/3323703/62025198-61e11b80-b1cf-11e9-8843-aa67387a407e.png)

[2019-07-29 06:13] nlhkabu opened #6291 "Improve vertical spacing (CSS)"
There are a number of places in the UI where the vertical spacing could be improved:

## `form-group__text`
![Screenshot from 2019-07-29 07-11-46](https://user-images.githubusercontent.com/3323703/62025468-285ce000-b1d0-11e9-875c-caa096d22ea5.png)

## In alerts
The last item of the alert has bottom padding, so is pushing the border down:

![Screenshot from 2019-07-29 07-12-31](https://user-images.

[2019-07-29 07:11] ThiefMaster commented on #994
That sounds like a terrible idea to me - I *really* do not want to have to involve a browser (or enter my password in a CLI which would be worse since I generally do not know my passwords but generate them from a master password or randomly (and then store them in a password manager)) to publish packages. I think there are two usecases here:

- publishing from CI: For this you want a token that is

[2019-07-29 07:35] fschulze commented on #994
This could be implemented by adding a 2fa caveat. In the UI one would create a token with a 2fa requirement (maybe with a simple checkbox). Then twine would see that token (the macaroons can easily be inspected), ask the user for the 2fa code, add it to the existing token and send that to pypi. The new token would expire automatically when TOTP is used and the token from the UI would be useless wi

[2019-07-29 11:11] pradyunsg commented on #6291
/me thinks this is a good first issue, especially for someone familiar with CSS.

[2019-07-29 14:13] di commented on #6287
A bit unfortunate that we chose something that requires quoting as the username. It'd be nice to not have this friction when folks migrate to API keys.

Since we're still in the beta period, I think it would be reasonable to change this (but still support `@token` for a bit for backwards compatibility). Some options that would not require quoting:

* `$token`
* `^token`
* `=token`

[2019-07-29 14:26] di commented on #6290
IMO, it might be time to move some or all of these to separate pages as well. This page has gotten quite long and attempting to deep-link to these various sections might not be the best UX.

[2019-07-29 14:27] pganssle commented on #994
One thing I would like to throw into the mix here with regards to 2FA for uploads is that #726 proposes a "two phase" upload, where packages are uploaded from the command line and (optionally) go into a "staging area" before they become available to the public and immutable. I will find that enormously useful for other reasons, but it also adds another workflow where the final upload is necessaril

[2019-07-29 14:34] woodruffw commented on #994
Just 0.02c from the implementation side: yes, I think the right way to do this would be with an additional 2FA caveat as @fschulze proposed. That's out of scope for the current work (and would involve changes to twine and other uploaders), but wouldn't be too difficult to implement.

OTOH, single-use and/or time-scoped tokens (as proposed by @moshez) that require a second factor for minting would

[2019-07-29 14:44] ronaldoussoren opened #6292 "Allow scoped tokens with rights for multiple projects"
**What's the problem this feature will solve?**
I have a project (PyObjC) that generates multiple PyPI distributions/projects from a single source base. This is both for historical reasons and because a single repo makes development easier.

API tokens are currently suboptimal for this, I need to create either:
- A user-scoped token for my normal user
- A user-scoped token for a new user with limi

[2019-07-29 15:00] #6266 closed

[2019-07-29 15:00] di opened #6293 "Persist data on "Add API token" form when validation fails"
Currently when using the "Add API token" form at `/manage/account/token/`, if there is an error in the form (either there is no token name or scope selected), when the page is loaded, any existing form data is removed. It'd be nice if anything the user has already entered is persisted, in addition to the errors being shown.

---

**Good First Issue**: This issue is good for first time contributors

[2019-07-29 15:05] woodruffw commented on #6292
This is actually supported on the backend (see `V1Caveat.verify_projects`); we just don't expose it via the token creation form yet. Would be relatively easy to implement.

[2019-07-29 15:45] di commented on #6240
Thanks for the report!

[2019-07-29 15:51] mkcor commented on #6273
I'm a Dash contributor and, as a disclaimer, I'm affiliated with Plotly.

First, I would welcome a `Framework :: Dash` trove classifier by principle, because I'm into library and information science (so, data management, data searchability, data discoverability).

I also support this addition for practical reasons: the Dash ecosystem is getting quite abundant, so a Dash classifier would be helpful

[2019-07-29 16:04] shammamah commented on #6273
As another Dash contributor and core developer, I would also like to support the addition of a trove classifier for Dash. As Chris mentioned above, the `dash-component-boilerplate` is a way for our users to create their own custom components that they can subsequently share with the community. Adding a classifier would allow them to do so in a more structured way.

[2019-07-29 16:09] NIC-MichalLabedzki opened #6296 "Request to add classifier License :: OSI Approved :: Free Public License 1.0.0 (0BSD)"
Request to add a new Trove classifiers.

## The name of the classifier you would like to add
* `License :: OSI Approved :: Free Public License 1.0.0 (0BSD)`
* `License :: OSI Approved :: Zero-Clause BSD (0BSD)`

## Why do you want to add this classifiers?

It is new license approved by OSI. See https://opensource.org/licenses/0BSD

This license is also as simple as possible so in future - almost a

[2019-07-29 16:13] di commented on #6275
@woodruffw #6276 didn't apply cleanly:

[code]

[2019-07-29 16:22] woodruffw commented on #6275
Yeah, that's my fault: the `__table_args__` for `WebAuthn` are overly constraining:

[code]

They should be:

[code]

I'll create a new PR.

[2019-07-29 16:51] #6275 closed

[2019-07-29 16:59] webknjaz commented on #994
@Carreau does it really make sense to have multiple tokens on dev machine? If yes, you could have multiple "repository" entries, one per each token/project. If no (better DX) — just use a user-wise token. There's been some discussion @ https://twitter.com/Ewjoachim/status/1154479563419869184

[2019-07-29 17:09] Carreau commented on #994
For me yes it does. I only want my work machine to be able to publish _some_ packages; and vice versa for my home machine. Also tokens are "upload only" (or are going to be); so I can keep my password safer.

For now I'm good with a custom solution but would love for an agreed upon way of doing it before various incompatible solutions emerge.

[2019-07-29 18:07] woodruffw commented on #6262
Yeah, here's the root-cause: We use the `user_projects` helper in `manage/views.py`, which returns projects based on just ownership:

[code]

We could either amend that helper to include a sub-dict for maintainer roles as well, or add a new helper just for macaroons that returns just project names for those two roles.

[2019-07-29 18:25] delsim commented on #6273
The [dpd-components](https://github.com/GibbsConsulting/dpd-components) package is one example of the custom components described by @shammamah

[2019-07-29 19:04] nlhkabu commented on #6290
I agree @di, however this is a larger task, so I think a good short term fix is to add the sub menu, with a view of improving this later.

[2019-07-29 19:30] #6257 closed

[2019-07-29 19:42] brainwane commented on #6256
I'm going to call this addressed. Thanks!

[2019-07-29 19:42] #6256 closed

[2019-07-29 19:43] #6249 closed

[2019-07-29 20:28] M-J-Murray commented on #6197
Will move to new issue.

[2019-07-29 20:28] #6197 closed

[2019-07-29 23:36] M-J-Murray opened #6307 "Increase file size limit of MAMEToolkit"
I would like to increase the size of my pypi repository from 60MB to 120MB (https://pypi.org/project/MAMEToolkit/#files). I have already filed a issue, and was told to make the relevant changes: https://github.com/pypa/warehouse/issues/6197.

I have now made the changes, so I would like to request the file size limit to be increased.

[2019-07-30 05:03] quozl opened #6309 "PEP 541: transfer ownership of unmaintained 'gwebsockets' package"
I'm proposing myself as a candidate to continue maintenance on the abandoned project '[gwebsockets](https://pypi.org/project/gwebsockets/)'.  The original repository is [here](https://github.com/dnarvaez/gwebsockets).

I've tried to contact Daniel Narvaez at last known mail address for several years since 2014, but there has been no answer.

I've supervised porting of the project to Python 3 as re

[2019-07-30 05:40] nlhkabu opened #6310 "Make buttons type="button" if not submitting form data"
1. Search templates for `<button>` tags
2. Update `button` tags to include `type="button"` *when the button is not nested inside a `form` element.

[2019-07-30 05:51] nlhkabu commented on #6079
New ticket opened: https://github.com/pypa/warehouse/issues/6310

@woodruffw - What do you mean by this?  We currently use `format_date()`  from https://github.com/pypa/warehouse/blob/master/warehouse/i18n/filters.py

[2019-07-30 06:10] nlhkabu opened #6312 "Review use of `humanize` in templates"
From #6079

We are using the `humanize` function in several places.  We should review this on all templates in line with this recommendation

[2019-07-30 10:40] jamadden commented on #6307
The  packaging is going to work much better with the tools in the ecosystem now! Thanks for taking the time to look into that.

It's not clear to me that a limit increase is useful at this point though. A built source distribution doesn't include the system-specific compiled binary (correctly) and is quite small:
[code]

The binary distribution *does* include the binary file:
[code]

but [PyPI doe

[2019-07-30 12:35] ncoghlan opened #6318 "Warn maintainers that deleting a project allows the name to be reclaimed"
**What's the problem this feature will solve?**
Maintainers deleting their project may not realise that doing so frees up the name completely, allowing it to be claimed by malware authors, without any managed transfer of maintenance responsibility.

**Describe the solution you'd like**
* an explicit warning that full deletion allows immediate name takeover
* an easy way to yank every released vers

[2019-07-30 12:57] pradyunsg commented on #6318
/cc @vstinner

[2019-07-30 13:07] vstinner commented on #6318
Context.

Six months after, I renamed perf to pyperf and performance to pyerformance (old names confused many people including myself, the original author of perf!). I removed perf and performance projects on PyPI to force users to make sure that they change their habit to install pyperf rather than perf. My expectation was that "python3 -m pip install --user perf" will perf.

But less than 2 hour

[2019-07-30 13:15] aguinet commented on #6318
FWIW, I was also suggesting a temporary name blacklisting when a project is deleted (for a given period of time that needs to be discussed), which could be override by the previous owner (and thus ensure proper ownership transition).

[2019-07-30 13:49] vstinner commented on #6318
Update: Trollius got a new maintainer https://github.com/jamadden/trollius

It seems like Trollius is used by many projects: Zope (and so Plone), Gnocchi, neovim, aiodns, irc3, Python binding of FoundationDB, at LinkedIn, etc. See also https://github.com/jamadden/trollius/issues/16 I didn't know that when I removed my project from PyPI.

Maybe another help would be to show the number of projects d

[2019-07-30 13:54] ncoghlan commented on #6318
I'll also note that the new perf and performance projects appear benign (see https://github.com/isidentical/perf/blob/master/perf/perf.py), but it's still disruptive to end users to have an existing name start installing an entirely different project, rather than failing outright.

[2019-07-30 13:56] vstinner commented on #6318
FTR pyperf name was already taken on PyPI 6 months ago, but the owner accepted to transfer me the name :-) So "pyperf" project also changed 6 months ago :-D But it was useful for me in this case.

[2019-07-30 13:56] pradyunsg commented on #6318
@ncoghlan Apologies for being pedantic but could you confirm that you checked the sdist has the same contents as the git  repository?

[2019-07-30 14:44] ncoghlan commented on #6318
@pradyunsg No, I didn't check that, and I agree it would be a good idea.

Also cc'ing @ewdurbin

[2019-07-30 15:10] brettcannon commented on #789
Just as reference/inspiration, GitHub now lists dependent packages: https://help.github.com/en/articles/listing-the-projects-that-depend-on-a-repository

[2019-07-30 15:11] brettcannon commented on #6318
@vstinner the idea of listing dependents is covered by https://github.com/pypa/warehouse/issues/789

[2019-07-30 15:30] dstufft commented on #789
To be clear, GitHub's data is wrong-ish if I understand correctly. They're simply parsing ``requirements.txt`` and ``pipfile.lock`` and going "ok, everything listed here is a dependency". It'll be wrong in cases where that desn't line up 1:1.

Not bad to look at it from a perspective of UI and UX though.

[2019-07-30 16:03] di commented on #5837
In #6318, @ncoghlan asked that the "delete project/release" dialog to include

Ideally implementing this PR would include such a link/notice/feature.

[2019-07-30 16:08] di commented on #6318
This should be covered by #5837.

I've made #6319 to address this issue.

[2019-07-30 16:18] di commented on #6312
These are both macros that we've defined:

https://github.com/pypa/warehouse/blob/4229368158472164ddebc221acf101bbbf75019b/warehouse/templates/base.html#L15-L25

We should be able to add the necessary tags to the `time` element here instead, so we still retain the ability to "humanize" these timestamps.

[2019-07-30 16:57] di opened #6320 "Switch from backrefs to explicit references"
We currently use SQLAlchemy's `backref` property in a number of places, e.g. this line enables the `User.projects` attribute.

https://github.com/pypa/warehouse/blob/5dfcbf0a77861a5d3b30eaa6bca2e307c8b26d88/warehouse/packaging/models.py#L128

Backrefs are confusing to new contributors, however, since an attribute like `user.projects` is not listed on the `User` model where it would be expected.

W

[2019-07-30 18:15] #6082 closed

[2019-07-30 18:26] #6310 closed

[2019-07-30 18:54] #6078 closed

[2019-07-30 18:54] #6079 closed

[2019-07-30 18:54] #6080 closed

[2019-07-30 20:28] dependabot-preview[bot] opened #6325 "Dependabot couldn't reach https://repo.fury.io/dstufft/ as it timed out"
Dependabot couldn't reach https://repo.fury.io/dstufft/ as it timed out.

Is https://repo.fury.io/dstufft/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-30 21:30] #6246 closed

[2019-07-30 21:31] #6325 closed

[2019-07-30 23:32] daurnimator opened #6327 "Failed attempt at giving name away (perf)"
The pyperf project previously was 'perf' on pypi. The author (thankfully!) freed up the name (https://github.com/vstinner/pyperf/issues/50) so that it could be taken over by the [linux perf project](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/tools/perf/python).
However before the linux package could be uploaded, [another project](https://github.com/isidentical/perf) na

[2019-07-31 06:34] nlhkabu opened #6330 "Fix copy to match copywriting guidelines"
I've noticed a few areas of our copy (in our templates) that do not meet our [copywriting guidelines](https://web.archive.org/web/20180410101124/https://material.io/guidelines/style/writing.html)

Specifically:
- Refer users to the labels on UI elements, not the type of element (such as menu or button).
- Use sentence-style caps
- Skip periods and unnecessary punctuation

@minho42 would this be so

[2019-07-31 06:39] nlhkabu commented on #6010
@woodruffw which page are you talking about here?  I can't find it.

For example, both of these URLs are returning a 404:

- https://pypi.org/project/Django/2.2.3/releases/
- https://pypi.org/project/Django/releases/

[2019-07-31 08:10] yeraydiazdiaz commented on #6141
@nlhkabu @di and any others working in frontend, do you think this is worth it?

It's a non trivial change and as @dstufft mentions there's some risk involved. If not I'm happy to close the issue 🙂

[2019-07-31 13:06] #6262 closed

[2019-07-31 13:52] ewdurbin commented on #6287
@dstufft any thoughts here?

I'm +1 for updating the keys to `pypi-` or `pypi_` prefix and changing the username to something without an `@`.

I'm -1 on backward compatibility for longer than a few days. We know who have provisioned API tokens and can email them to give them a headsup 24 hours before disabling the older grammar.

[2019-07-31 13:56] di commented on #6141
In my experience, this is slightly annoying, but hasn't wasted so much of my time that I felt that it needed changed. That said, I haven't been doing much of our frontend work lately.

I agree with @dstufft that the fact that our dev & prod pipelines are identical is probably a benefit here. I also suspect that there's other optimizations that could be made to improve the speed here while maintain

[2019-07-31 13:58] di commented on #6287
Yeah, I should be clear: I meant backwards compatibility until ~the end of the beta period.

[2019-07-31 14:00] di commented on #6010
@nlhkabu I think he's referring to the logged-in view, e.g.:

`/manage/project/{project name}/releases/`

[2019-07-31 14:08] woodruffw commented on #6010
Yep, I meant under `/manage/`, my apologies.

[2019-07-31 14:13] #6318 closed

[2019-07-31 14:26] woodruffw commented on #6146
#6305 should at least partially address this -- I was able to confirm via Browserstack that Edge now presents a WebAuthn prompt, and also renders errors correctly (I couldn't test the actual auth due to a lack of USB passthrough).

[2019-07-31 14:27] woodruffw commented on #6050
@webknjaz Can you attempt to repro on `master` (which should also be live)? #6305 may have fixed this.

[2019-07-31 15:46] ewdurbin commented on #6318
Does this require some action from me? Am I being asked to perform the verification?

[2019-07-31 15:56] ncoghlan commented on #6318
@ewdurbin Mainly making sure you're aware of the situation when wearing your work hat, but also to say that I haven't done it myself, and am heading off to PyCon AU tomorrow, so I'm not sure when I'd get to it myself.

[2019-07-31 18:58] nlhkabu commented on #6010
I think this is therefore a duplicate of https://github.com/pypa/warehouse/issues/6079
@woodruffw please reopen if I am incorrect.

[2019-07-31 18:58] #6010 closed

[2019-07-31 19:03] woodruffw commented on #6010
Yes, looks like it. I could have sworn that I created two different issues for the public and management release tables, but looks like I duplicated them.

[2019-08-01 00:56] jeking3 commented on #5346
We are starting another release cycle.  Sure it should not take as long as it has to fix an ownership issue like this?

[2019-08-01 02:02] brainwane commented on #3532
@dstufft could you please reply to this thread with your data?  cc @ewdurbin with his PSF hat on.

Per [our meeting today](https://wiki.python.org/psf/PackagingWG/2019-07-31-Warehouse) @nlhkabu is going to do some research on this toward #5863, understanding best practices & prior art in other similar sites. [Simply Secure](https://simplysecure.org/) may have some good resources on this.

[2019-08-01 02:14] brainwane commented on #5863
Warehouse maintainers and @woodruffw discussed design and scope for this feature in [a meeting today](https://wiki.python.org/psf/PackagingWG/2019-07-31-Warehouse).

_Design:_ We chose a basic approach for the auditing API: a new API, called in tandem with metrics calls in places where both are needed/desired.

_Storage:_ We have some research to do into how long we will retain user-related events

[2019-08-01 06:10] nlhkabu commented on #3532
I couldn't find anything on Simply secure, but I did manage to find a couple of other sources:

## GDPR

## National Cyber Security Center (UK Gov)

This is a very useful guide: https://www.ncsc.gov.uk/guidance/introduction-logging-security-purposes

For each log source you hold, you need to decide how long to store the data. This will depend on a number of factors including the cost and availabil

[2019-08-01 06:18] nlhkabu commented on #6141
I would love to see this change, as it would be a big efficiency gain for me. Currently, I also experience 30 second to 1 minute delays when reloading the page after CSS changes.

My workaround is (typically) to make/experiment with changes in the browser, *then* apply them to the source files.  But even then, I still have to do a full refresh to confirm everything is working as expected.

[2019-08-01 08:31] htgoebel commented on #3532
Please note that the retention policy must not only include server log files, but also the action log for each of the packages.

[2019-08-01 09:19] dblenkus opened #6336 "Upload to PyPI fails when dependency version contains *"
**Describe the bug**
PyPI raises `400 Client error` when uploading a package that specifies requirement using `== 2.*`. This is a valid version specifier referred to [PEP 440](https://www.python.org/dev/peps/pep-0440/#compatible-release).

The whole error is:
[code]

**Expected behavior**
Upload should pass with no errors. (Note that in the example below the expected behaviour would be to fail wit

[2019-08-01 10:23] #6336 closed

[2019-08-01 10:25] di commented on #6240
Need to take a different approach here than #6294, see #6336.

[2019-08-01 10:59] graingert opened #6338 "[Project-scoped API tokens] are too big for travis pypi deploy"
**Describe the bug**
[code]

**Expected behavior**
travis encrypt "pypi:token-here"
it prints a nice encrypted token

**To Reproduce**
$ travis encrypt "pypi:token-here"
data too large - consider using travis encrypt-file or travis env set

[2019-08-01 12:23] webknjaz commented on #6338
Interesting... Worked for me using a account-global token. Haven't tried it with a project-scoped one. Is it longer?

[2019-08-01 12:40] graingert commented on #6338
Mine was 195 characters

[2019-08-01 14:26] woodruffw commented on #5863
Began work on this in #6339.

[2019-08-01 14:34] webknjaz commented on #6338
It looks like Travis CI limitation is 501 byte. You're probably doing something wrong. Are you using `--com` or `--org`?
[code]

[code]

[2019-08-01 14:39] webknjaz commented on #6338
Workaround:
-----------

It's not very well advertised but you can actually use `PYPI_PASSWORD` env var.
DPL tool supports it as a fallback, see: https://github.com/travis-ci/dpl/blob/1077ce6/lib/dpl/provider/pypi.rb#L12.
You can set it as a secret var on the Settings page of your repo @ travis-ci.com.

[2019-08-01 16:28] brainwane commented on #6211
Fixing #6287 and deciding on good advice for #6338 is necessary in order to write docs.

[2019-08-01 16:30] brainwane commented on #6338
Not sure whether we should consider this a documentation issue to address in https://github.com/travis-ci/docs-travis-ci-com/issues/2452 & #6211 or a thing we can/should address on the Warehouse side. @woodruffw ?

[2019-08-01 16:30] brainwane commented on #6287
I'm +1 for updating keys & username, and -1 on backward compatibility for longer than a few days.

@woodruffw heads-up.

[2019-08-01 16:33] graingert commented on #6338
I'm using the travis snap if that helps anyone repeat?

[2019-08-01 16:34] webknjaz commented on #6338
@graingert I'm not sure what's packaged into that snap and don't have it myself :(
Did you notice any weird special chars in your token?

[2019-08-01 16:38] woodruffw commented on #6338
Hmm -- this probably falls under documentation, since we're already using the more compact ("V2") text serialization format for Macaroons. We could probably squish it further by using a binary format for caveats instead of JSON, but it'll still be a relatively long token.

I agree with @webknjaz that there *might* be something additional going on here: 195 characters is long, but well below the ac

[2019-08-01 16:40] brainwane commented on #994
Heads-up for people trying the beta of uploading with API tokens:

* The Travis problem in #6287 means we'll probably be changing the token prefix and the username you use for uploads. We may also end up changing other stuff. [It's a beta!](https://wiki.python.org/psf/WarehousePackageMaintainerTesting#Caution_.28before_you_test.29)
* [Here's](https://github.com/pypa/warehouse/issues/5661#issuecomm

[2019-08-01 16:41] woodruffw commented on #6287
Thanks for the ping! I'll make a PR for these changes now.

[2019-08-01 16:52] graingert commented on #6338
No nothing weird, just the :

[2019-08-01 16:54] graingert commented on #994
That's ok, as long as you don't change existing tokens

[2019-08-01 16:58] takluyver commented on #5661
Is there any plan for an API to create upload tokens? E.g. I'd like to have a command-line tool prompt me once for my password & 2FA code, then obtain and store a project-scoped token to use for uploads.

[2019-08-01 16:58] brainwane commented on #994
@graingert I'm sorry, but yes, we will probably be making so that tokens you have already created do not work. As the manager on this project I'm comfortable making that choice during this beta, since we have warned people that there was a chance this would need to happen during the beta. To quote @ewdurbin in https://github.com/pypa/warehouse/issues/6287#issuecomment-516858524 ,

[2019-08-01 17:06] brainwane commented on #6338
@graingert Could I ask you to contact Travis CI support or their bug tracker and ask what they find?

[2019-08-01 17:30] graingert commented on #6338
I suspect this is a unique problem to me. I'm using `travis set env` now

[2019-08-01 17:30] #6338 closed

[2019-08-01 17:30] webknjaz commented on #6338
@graingert I believe it's not safe to use that.

[2019-08-01 18:02] guilgautier commented on #5307
Hi @jamadden @ewdurbin @dstufft @di

It's been exactly a year now that the **void** [dppy](https://pypi.org/project/dppy/#history) project is squatting the name with absolutely no activity.

Can I now claim the name dppy, please ? 🙁

Best regards,

[2019-08-01 18:49] glyph opened #6343 ""set up security device" doesn't work, with error message "'user.icon' should be a secure URL""
**Describe the bug**

The "set up security device" button on https://pypi.org/manage/account/webauthn-provision shows an error message:

![image](https://user-images.githubusercontent.com/716529/62319181-4174c380-b452-11e9-9b2c-85668deb4dd9.png)

**Expected behavior**
Prompt me to plug in my YubiKey, I would hope?

**To Reproduce**
Click the button.

**My Platform**
Browser:
Google Chrome Version

[2019-08-01 20:14] woodruffw opened #6345 "API tokens: Remove @token and pypi: cases"
At some point in the future (perhaps at the end of the API token beta?), support for `@token` as a token username and `pypi:` as a token prefix should end in favor of `__token__` and `pypi-`, respectively.

See #6287, #6342.

cc @brainwane @di @ewdurbin @dstufft

[2019-08-01 20:28] brainwane commented on #6345
I'm in favor of doing this before the end of the beta, so that we can tell beta testers to try the new token usernames and prefixes, so we can find out during the beta whether the new ones cause any glitches.

[2019-08-01 20:34] woodruffw commented on #6343
Thanks for the report @glyph! I was able to repro, checking out now.

[2019-08-01 21:21] #6343 closed

[2019-08-01 22:07] webknjaz commented on #6338
@graingert heads up: the issue seems to be a duplicate of https://github.com/pypa/warehouse/issues/6287

[2019-08-01 22:14] webknjaz opened #6347 "[Non-prefixed API tokens] may cause HTTP 500 Internal Server Error"
**Describe the bug**

Following this Tweeter thread https://twitter.com/cedrickrier/status/1156922196213805056?s=19 it seems like using a `@token` username and a non-prefixed token as a password results in HTTP 500 response which probably means a traceback in the backend logs.
Needs to be verified tho.

**Expected behavior**

HTTP 403

**To Reproduce**

N/A

**My Platform**

N/A

**Additional cont

[2019-08-02 06:16] nlhkabu opened #6349 "Use em for font sizes"
All text should be resizable.

Note: There are a couple of places in the UI where we use 14px text size - namely form help text and some tables.

This should be reviewed.

[2019-08-02 06:54] fschulze commented on #6345
would it be too much to just reserve the "token" username? Is it already in use? GitHub does that for things like "issues" etc.

[2019-08-02 07:51] hugovk commented on #6345
Looks like the `token` username is unused: https://pypi.org/user/token/

[2019-08-02 09:42] devfans commented on #4079
Still have the issue with latest packages installed:
setuptools         41.0.1
twine              1.13.0
wheel  0.33.4

HTTPError: 400 Client Error: The description failed to render in the default format of reStructuredText. See https://pypi.org/help/#description-content-type for more information. for url: https://upload.pypi.org/legacy/

[2019-08-02 09:49] devfans commented on #4079
Seems I can make it working by modifying the `README.md` a bit, which is change
\`\`\`python
Some code
\`\`\`

to
\`\`\`

some code
\`\`\`

[2019-08-02 10:09] graingert commented on #6345
@fschulze @hugovk you want something that other pypis eg devpi can use so you want something that was impossible to register previously

[2019-08-02 10:11] pradyunsg commented on #6345
I’ve gone ahead and squatted that name.

Obviously, I’m cool with just removing that account or let PyPI admins do whatever they deem necessary with that name.

[2019-08-02 10:16] graingert commented on #6345
how about '🎟' as the username? eg "\N{ADMISSION TICKETS}"

[2019-08-02 10:40] fschulze commented on #6345
@graingert what does the pypi.org username have to do with devpi? The ``devpi push`` command needs the pypi credentials anyway when used for pypi release.

[2019-08-02 10:54] graingert commented on #6345
@fschulze devpi would probably want to support this API token authentication scheme too. If an install has a user called "token" it would break that user for them. I'm thinking downstream "twine upload -r devpo" not upstream pypi

[2019-08-02 12:27] fschulze commented on #6345
@graingert it would use separate credentials anyway as it already does now. I don't see any reason accounts on pypi would interfere with devpi or the other way around.

[2019-08-02 12:38] graingert commented on #6345
Yes but the "token" username is part of the API tokens Auth protocol

[2019-08-02 13:12] fschulze commented on #6345
@graingert yes and it doesn't matter in devpi, because the API is specific to pypi.org. Otherwise all users in devpi would conflict with pypi.org already. If we implement upload tokens in devpi, then we would handle that on the devpi side. It is pretty easy to determine whether a token was used or not. Any ``token`` user in devpi would not interfere, because we can check whether we got a token or

[2019-08-02 14:08] woodruffw commented on #6345
It's ultimately the maintainers' call, but I'm 👎 on plain `token` (or similar) for a few reasons:

1. Semantically, tokens are not passwords, so it doesn't make sense for them to have a valid username associated with them (apart from their relationship to the bearing user). The only reason we have a "username" at all in the scheme is backwards compatibility with `Authorization: basic` -- IIUC, the

[2019-08-02 15:21] woodruffw commented on #6255
Another potentially useful caveat would be IP address/range, for future consideration.

[2019-08-02 23:47] webknjaz commented on #6050
@woodruffw So I've tried it out locally. Nothing happens on the first click. But when I click `[ Set up security device ]` **for the second time**, `A request is already pending.` error message appears. When I click more, every subsequent click adds another instance of that error message.

　　　　　　　　　　　　<img width="312" alt="warehouse-webauthn-errors" src="https://user-images.githubusercontent.com/5

[2019-08-03 21:50] graingert commented on #6345
Is there a regex of currently valid PyPI usernames so we can be more informed when picking an intentionaly invalid one?

[2019-08-03 21:54] graingert commented on #6345
https://github.com/pypa/warehouse/blob/fe4b61d3e9f9bea4fa037de4aa17fac6599b63c2/warehouse/accounts/models.py#L60-L66

[2019-08-03 21:56] graingert commented on #6345
so some examples:

`_token`, `-token`, `.token`
`token_`, `token-`, `token.`

and my personal favorite:
`__token__`

[2019-08-03 21:57] graingert commented on #6345
`tokentokentokentokentokentokentokentokentokentokentoken` is also and invalid username because it is too long

[2019-08-04 01:29] bryevdv opened #6355 "API Tokens for old repositories too long for Travis CI encrypt"
Just FYI, the current form of tokens seems to be too long for [`travis encrypt`](https://docs.travis-ci.com/user/environment-variables/#encrypting-environment-variables)

[code]

Obviously this is not exactly "your" problem, but I contend that it will seriously hamper the utility of these tokens in a primary use-case scenario. At almost 200 characters, the PyPI tokens are considerably longer than

[2019-08-04 01:33] di commented on #6355
Thanks for the report. This looks like a duplicate of #6338 and #6287. Can you try escaping the colon in the token and seeing if this problem remains? e.g.:

[code]

[2019-08-04 01:35] bryevdv commented on #6355
Wow I totally tried to search for existing issues, sorry about that. Escaping the colon did not help, and neither did shortening by removing boilerplate `"pypi:"` altogether.

[2019-08-04 01:38] bryevdv commented on #6355
I should add, it *does* seem possible to add these as per-project hidden vars in the Travis web UI, I just checked. (I have not actually tested that a token so-added actually works yet) but all things being equal I'd prefer to have these in `.travis.yml` if possible.

[2019-08-04 01:43] di commented on #6355
Can you add more details about your platform? Trying this myself, it looks like the total length of the variable name and value must be less than 500 characters:

[code]

[2019-08-04 01:44] bryevdv commented on #6355
I ran the `travis encrypt` command on OSX 10.14.6, with `travis` version 1.8.10

[2019-08-04 01:46] di commented on #6355
Interesting, I am on a similar platform:

[code]

Can you try running the same commands I used? Can you see if your token contains any special characters besides the `pypi:` prefix?

[2019-08-04 01:49] bryevdv commented on #6355
There was an underscore. I tried removing it just to see if that made things work, but it did not. The result (without the underscore) appears to not have any other special characters:
[code]

[2019-08-04 01:52] bryevdv commented on #6355
OK so this is weird, I started trying the command repeatedly, removing 10 characters from the end, until it worked. It failed until I got to:

[code]

[2019-08-04 01:54] pradyunsg commented on #6345
__token__ me likey.

[2019-08-04 01:57] bryevdv commented on #6355
OK literally this 107 characters fails:
[code]
Willing to chalk this up to a bug on Travis side at this point

[2019-08-04 02:11] di commented on #6355
What OpenSSL are you using?

[code]

[2019-08-04 02:11] bryevdv commented on #6355
[code]

[2019-08-04 15:09] tk0miya commented on #6190
I can work for managing orphaned PyPI packages for sphinx extensions with other sphinx maintainers. Is there something to do to me for this issue?

[2019-08-04 15:50] jamadden commented on #6190
I have emailed @klorenz at the address on file with PyPI (which matches the address published for sphinxcontrib-domaintools). The email is verified, and the user has logged into PyPI recently as well as shown GitHub activity recently.

[2019-08-04 16:14] brainwane commented on #6232
@ewdurbin is working on a fix in #6353.

[2019-08-04 16:17] brainwane commented on #6347
cc @cedk who reported this.

[2019-08-04 22:06] brainwane commented on #6263
If someone makes a pull request to implement this, please ping @nlhkabu to ask her to review it. :)

[2019-08-04 22:07] brainwane commented on #6239
We discussed this in [the most recent planning meeting](https://wiki.python.org/psf/PackagingWG/2019-08-02-Warehouse) and we agree with @di - users with zero verified email addresses should not see the 2FA banner at all.

[2019-08-04 22:08] brainwane commented on #6347
Per [our conversation in a planning meeting a few days ago](https://wiki.python.org/psf/PackagingWG/2019-08-02-Warehouse), some of our upcoming fixes will probably address this -- I'll keep an eye on it.

[2019-08-04 23:37] di commented on #6347
I think the real issue here is that folks are interpreting the `pypi:` prefix as not part of the token. Changing the prefix may not resolve that issue.

[2019-08-05 00:35] ip4368 commented on #5237
This seems to be fixed, I tested this on Firefox 68.0.1 and Safari 12.1.2, they look fine.

[2019-08-05 00:46] di commented on #5237
@nlhkabu Can you confirm this was fixed? I'm not seeing what change would have fixed this.

[2019-08-05 02:12] Sterbic commented on #6293
Attempting this during the PyCon AU sprints :)

[2019-08-05 05:13] di commented on #6291
Does "internal pages" mean the Admin UI here, or just the logged-in UI? If it's the former, I think we can probably remove that as a requirement to close this issue.

[2019-08-05 05:37] nlhkabu commented on #5237
No, this is not fixed.  If you enter a longer piece of text in the badge it's possible to reproduce - on all browsers.

This is going to be an issue for localisation where the text in this badge will be longer - for example, in French:

![Screenshot from 2019-08-05 06-33-48](https://user-images.githubusercontent.com/3323703/62441219-2d2f1000-b74b-11e9-9a2d-5d5703594159.png)

I've therefore added t

[2019-08-05 05:39] #6291 closed

[2019-08-05 05:42] Sterbic commented on #6292
Looking into this for the PyCon AU sprints

[2019-08-05 06:04] #6012 closed

[2019-08-05 06:04] #6081 closed

[2019-08-05 06:07] di commented on #6292
We may need to think a bit about what the UI would look like here before trying to implement this. The current UI (just a select box) would not easily support this.

[2019-08-05 06:29] #6293 closed

[2019-08-05 06:57] #6239 closed

[2019-08-05 07:10] #5237 closed

[2019-08-05 08:42] #6069 closed

[2019-08-05 11:05] johnsyweb opened #6362 "`twine` let me upload the .whl distribution but not the .tar.gz archive using an API key."
**Describe the bug**

`twine` let me upload the .whl distribution but not the .tar.gz archive using an API key on an account with 2FA.

**Expected behavior**

To upload both files as happened with testpypi and basic authentication:

[code]

Files for your inspection are here: https://test.pypi.org/project/sparse-list/0.8/#files

**To Reproduce**

Here's the exact command I ran with the timestamp (

[2019-08-05 11:16] webknjaz commented on #6347
Totally! I think that maybe some warning ⚠ there would be helpful.

[2019-08-05 11:17] webknjaz commented on #6347
But still the HTTP error code shouldn't be 500.

[2019-08-05 17:36] gregschmit opened #6364 "Claim abandoned project django-rest-scaffold"
Hi, my understanding is that if we believe that a project is abandoned by the rules of PEP 541, the current process is to post an issue here, since there is no other process at pypi.org. If that's wrong, please let me know and I'll close this.

I believe that [django-rest-scaffold](https://pypi.org/project/django-rest-scaffold/) is abandoned and I would like to use that name for a project. The pac

[2019-08-05 18:59] bertjwregeer commented on #6260
Similar to: https://github.com/pypa/warehouse/issues/5372

[2019-08-05 19:02] #6287 closed

[2019-08-05 19:06] bertjwregeer opened #6365 "Unable to remove myself from a project"
**Describe the bug**

I would like to remove myself as owner/maintainer of a project on PyPI, but I am unable to do so using the web interface (not sure if the API allows this or not).

This means that someone can add me to a project, which then shows up on my page of projects I maintain (https://pypi.org/user/xistence/) without my consent and without the ability to remove myself from said project

[2019-08-05 19:27] ewdurbin commented on #6362
Thank you for your report! It uncovered a bug in API Token scoping for projects which didn't take into account normalization per PEP 426. That was resolved in #6363.

The reason of the difference here is that the wheel's metadata had the name correctly normalized (`sparse-list`), while the sdist did not (`sparse_list`). So when comparing to the scoped token, one was successful and one was not.

Af

[2019-08-05 19:27] #6362 closed

[2019-08-05 19:36] ewdurbin commented on #6362
Also of note, @johnsyweb if you create a new API token scoped for sparse_list this should be resolved and function as anticipated.

[2019-08-05 20:10] ewdurbin commented on #6287
We have updated the token username and prefix:

`@token`  =>  `__token__`
`pypi:<base64 token body>`  =>  `pypi-<base64 token body>`

These changes should alleviate the need for escaping heroics.

The previous format will continue to work for now, but users will be notified to update their configurations to match the new syntax before the beta period is over.

[2019-08-05 20:12] ewdurbin commented on #994
We have updated the token username and prefix in #6342.

username: @token => __token__
password/token: pypi:<base64 token body> => pypi-<base64 token body>

These changes should alleviate the need for escaping heroics.

The previous format will continue to work for now, but users will be notified to update their configurations to match the new syntax before the beta period is over.

[2019-08-05 20:12] ewdurbin commented on #5661
We have updated the token username and prefix in #6342.

username: @token => token
password/token: pypi: => pypi-

These changes should alleviate the need for escaping heroics.

The previous format will continue to work for now, but users will be notified to update their configurations to match the new syntax before the beta period is over.

[2019-08-05 21:06] johnsyweb commented on #6362
Email received. Thanks for the swift resolution.

[2019-08-06 00:11] di commented on #6260
Closing as a duplicate of #5372.

[2019-08-06 00:11] #6260 closed

[2019-08-06 00:21] di commented on #6365
The ability to add users to a project w/o consent is #5790 and should be resolved by #6206.

Once we add that feature, we can add the ability to remove yourself from a project (as long as you're not the sole owner), but for now we want to avoid the situation where someone creates a project, adds another user as owner, and then can remove themselves.

This is expected behavior for the "maintainer"

[2019-08-06 00:24] di commented on #6347
Agreed, @woodruffw can we do a better job of catching this issue?

[2019-08-06 00:57] mmerickel commented on #6365
Invitations are good but #5790 doesn't cover the primary issue which is that a maintainer legitimately just wants to leave a project. They should not need to ask a project owner to remove them from the project after they have joined it via invite or otherwise.

[2019-08-06 01:03] woodruffw commented on #6347
Yep, we can. I'll take a look at it tomorrow!

[2019-08-06 01:04] di commented on #6365
@mmerickel Yes, that's why I've left this issue open and added the "feature request" label, but this is blocked on fixing #5790 first.

[2019-08-06 01:22] mmerickel commented on #6365
@di thanks for clarifying. I misread your original comment as stating that maintainers should only be uploading releases and unable to remove themselves.

[2019-08-06 01:42] bertjwregeer commented on #6365
@di if someone adds me or anyone else as an owner and then removes themselves, I should still be able to remove myself from the project. Sending the project to the graveyard, potentially allowing the name to be reclaimed, or leaving it in limbo.

Or at least having some way to remove it from the public listing of projects tied to my name would be a great start.

I still think maintainers should be

[2019-08-06 01:45] bertjwregeer commented on #4729
I just filed a duplicate: https://github.com/pypa/warehouse/issues/6365

[2019-08-06 01:46] bertjwregeer commented on #6365
Looks like I accidentally filed a duplicate of #4729. Linking to that and closing this ticket. Thanks for the feedback @di

[2019-08-06 01:46] #6365 closed

[2019-08-06 05:20] #6251 closed

[2019-08-06 05:29] nlhkabu commented on #6349
Note: this is controlled in the SCSS by the variable `$small-font-size`

[2019-08-06 06:05] nlhkabu commented on #6349
https://webaim.org/discussion/mail_thread?thread=7051

[2019-08-06 06:12] nlhkabu opened #6372 "Align author_profile on tablet"
## Current design
![Screenshot from 2019-08-06 07-11-48](https://user-images.githubusercontent.com/3323703/62515210-92e9cd80-b819-11e9-8fc4-5045e55dd810.png)

## Suggestion
![Screenshot from 2019-08-06 07-12-00](https://user-images.githubusercontent.com/3323703/62515208-92513700-b819-11e9-90a4-28cf4008c428.png)

---

**Screenshot Required**: This issue will require an update to the visual design o

[2019-08-06 06:21] nlhkabu opened #6374 "Remove the use of add-ellipsis mixin"
Remove the use of `@include add-ellipsis;` mixin.

This cuts off content on mobile, or at high zoom level, which is not acceptable for accessibility.  Ref WCAG 1.4.4.  This will also be a problem for internationalisation.

- `package-snippet__description`
![Screenshot from 2019-08-06 07-14-07](https://user-images.githubusercontent.com/3323703/62515289-d7756900-b819-11e9-8314-51f5061932af.png)
- `p

[2019-08-06 06:26] David-OConnor opened #6375 "Missing dependencies on Matplotlib"
This likely affects other projects as well.

[Warehouse data](https://pypi.org/pypi/matplotlib/3.1.1/json)
`requires_dist: null`

from Matplotlib 3.1.1's dist-info/METADATA file:
[code]

[2019-08-06 06:27] nlhkabu opened #6376 "Show all top links on mobile"
## Problem
Currently on mobile, we hide "donate" and "help" links on very small screens:

![Screenshot from 2019-08-06 07-22-46](https://user-images.githubusercontent.com/3323703/62515754-1b1ca280-b81b-11e9-93c2-f92dbe83385d.png)

![Screenshot from 2019-08-06 07-22-52](https://user-images.githubusercontent.com/3323703/62515753-1a840c00-b81b-11e9-9abb-2d2959c020dd.png)

This is a problem for 2 reas

[2019-08-06 06:29] nlhkabu opened #6377 "Fix all tables on mobile"
- Review all tables on mobile
- Ensure no information is lost on smaller screens

Ref WCAG 1.4.4

[2019-08-06 06:30] nlhkabu commented on #6247
Closing in favour of #6374 #6376 #6377

[2019-08-06 06:30] #6247 closed

[2019-08-06 07:01] nlhkabu commented on #4714
Closing this as the hashes have now been moved to a modal, which can be opened without JavaScript:

![Screenshot from 2019-08-06 08-00-15](https://user-images.githubusercontent.com/3323703/62517937-4f469200-b820-11e9-8015-8abc6cfce679.png)

The "copy" buttons will not work for users without JS enabled, but the user can easily copy the hash manually.

[2019-08-06 07:01] #4714 closed

[2019-08-06 07:03] nlhkabu commented on #6349
Problem: Changing the 'font size' in Google chrome settings does not affect the fonts for the site.

[2019-08-06 07:04] Sterbic commented on #6292
I went with the simplest possible multi selector in #6373 but happy to look at other solutions as well.

[2019-08-06 07:37] Zac-HD opened #6378 "Single-use API token to create new package"
I'm currently at the PyCon Australia sprints, in the 2FA beta, and a big fan of narrowly scoped API tokens.  But when I went to make the first ever release of `hypothesmith` I had a problem: there's no way to scope an API token when the package doesn't exist yet!

My workaround was to create a token that works for all repos, upload the package, then revoke the token (and finally create a scoped to

[2019-08-06 14:34] woodruffw commented on #6347
Just tried reproducing this on `master` by dropping `pypi-` from the token, but didn't receive a 500 error (got the expected 403).

@webknjaz Do you have any additional information that could help me repro here?

[2019-08-06 14:53] pradyunsg commented on #5837
Yep, for both issues. #4962 doesn't seem relevant to me.

[2019-08-06 17:16] David-OConnor commented on #6375
Found [this related issues](https://github.com/pypa/warehouse/issues/474). From what I gather:

- The requires_dist field takes info from whatever dist was uploaded first. Ie if it was a source-dist, it shows null.
- There's no distinction between no dependencies, and can't-find-dependencies.
- Package info on the warehouse won't be changed once set, even if incorrect.

Is this right? I may have t

[2019-08-06 17:24] bmeyers opened #6379 "Account recovery"
Hello,

I no longer have access to the email associated with the account `slacgismo`: [https://pypi.org/user/slacgismo/](https://pypi.org/user/slacgismo/). I would like help regaining access to this account. I am writing as the author of both projects associated with this account: `statistical-clear-sky` and `solar-data-tools`. Thank you in advance.

Bennet Meyers
SLAC National Accelerator Laborat

[2019-08-06 17:25] David-OConnor commented on #6375
https://github.com/David-OConnor/pydeps

[2019-08-06 17:34] nlhkabu opened #6380 "Invalid classifier IDs on search results page"
Each classifier on the search results page displays in the sidebar like so:

[code]

The ID here e.g. (`"Framework :: AsyncIO"`) is invalid HTML as it contains spaces.

See https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id

We should also check that we are following MDNs recommendation:

[2019-08-06 20:33] bmeyers commented on #6379
We were able to connect with an old employee and recover the account. Sorry for the unnecessary issue ticket.

-B

[2019-08-06 20:33] #6379 closed

[2019-08-06 21:09] webknjaz commented on #6347
Sorry, I only know what's in that Twitter thread.

[2019-08-06 21:43] di commented on #6375
Yes, see https://dustingram.com/articles/2018/03/05/why-pypi-doesnt-know-dependencies/, which was linked from #6226.

[2019-08-06 21:43] #6375 closed

[2019-08-06 22:04] di commented on #6347
Fixed in #6384.

[2019-08-06 22:04] #6347 closed

[2019-08-07 05:16] nlhkabu opened #6385 "Google font import breaks W3C validation"
Ref: https://stackoverflow.com/questions/22466913/google-fonts-url-break-html5-validation-on-w3-org

[2019-08-07 05:24] nlhkabu opened #6386 "Remove "contentinfo" from footer"
HTML validity: The “contentinfo” role is unnecessary for element “footer”

[2019-08-07 05:49] nlhkabu opened #6387 "Remove csrf-token from button (?)"
https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/account/webauthn-provision.html#L47

This line is throwing a W3C error:
`ERROR: Attribute “csrf-token” not allowed on element “button” at this point`

@woodruffw how can we refactor this functionality to use valid HTML5?

[2019-08-07 08:26] di commented on #5307
Hi @guilgautier, what's your username on PyPI?

[2019-08-07 08:29] guilgautier commented on #5307
Hi @di,

Thanks for your reply!
I'm using the same user name: [guilgautier](https://pypi.org/user/guilgautier/)

[2019-08-07 09:52] di commented on #5307
Done. Please note that you won't be able to make releases using versions `0.0.1`, `0.0.2` or `0.0.3` as these were previously used.

[2019-08-07 09:52] #5307 closed

[2019-08-07 09:55] di commented on #4001
Done. Please note that you won't be able to make a release with version `0`, `0.0`, `0.0.0`, etc. as this was previously used.

[2019-08-07 09:55] #4001 closed

[2019-08-07 13:21] woodruffw commented on #6387
Hmm, we could probably stuff the CSRF token into the `value` attribute instead. I'll take a look now!

[2019-08-07 13:52] David-OConnor commented on #6375
Thanks. IMO this is not resolved and should be attacked by the warehouse, but I'll press with this sideproject in the meanwhile.

[2019-08-07 15:20] stephen-dexda commented on #5506
Seems to be just that `pip search` only finds "whole word" matches, where a "word" is a string delimited by spaces or hyphens (but not e.g. underscores - `pip search prometheus` will not find `prometheus_client`.

[2019-08-07 16:06] brainwane commented on #6146
@nlhkabu Is this still reproducible?

[2019-08-07 19:03] ArielS1 opened #6390 "Can't get get_user_entered_format() to work"
I'm trying to find out a specific cell's color like this:
`format = get_user_entered_format(worksheet, "R2C1")`

and i get the following exception:
`Traceback (most recent call last):
  File ".\script.py", line 25, in <module>
    parser()
  File ".\script.py", line 23, in script
    format = get_user_entered_format(worksheet, "R2C1")
  File "C:\Python37\lib\site-packages\gspread_formatting.py", l

[2019-08-07 19:21] ArielS1 commented on #6390
wrong project :-)

[2019-08-07 19:21] #6390 closed

[2019-08-07 21:26] rcurtin commented on #5365
@dstufft @nlhkabu @woodruffw @jamadden sorry to tag each of you and add to your notifications, but I have no idea how to help get this issue resolved.  Can any of you help or possibly point me at the right people who can?  Thank you so much!

[2019-08-07 22:34] gregschmit commented on #6364
Also, I wanted to point out that the README says "*In development" with no changes for over 3 years.

[2019-08-07 22:42] gregschmit commented on #6327
Yeah the current `perf` is a trivial squatting package to my eyes. But you also shouldn't ask for the name until you have code to publish. I don't think it's normal (npm certainly doesn't do it) to reserve a package name. In their words, "Don’t squat on package names. Publish code or move out of the way."

[2019-08-08 00:41] daurnimator commented on #6327
The issue is that the participants involved work asyncronously. Unless the new packager there is online and present at the moment of disownership, then the name can be nabbed by someone else.

Note that the code *is* published (it's been part of the linux kernel for years!), the author(s) just don't have much of an interest in distributing via pypy.

[2019-08-08 00:47] gregschmit commented on #6327
Silly me, I didn't go to your link and see that the Python code already exists. Then yeah, I think it's far more notable than the current one. I would probably fork the Python stuff to a GitHub repo and do the work of writing the `setup.py` and `LICENSE` and stuff so that you can publish ASAP, because it's not common to reserve words.

[2019-08-08 05:18] nlhkabu opened #6393 "Add form field macro"
We should consider moving form fields into a reusable macro, to make the template codebase easier to manage.

[2019-08-08 05:19] #6387 closed

[2019-08-08 08:36] yeraydiazdiaz commented on #4123
Hi @jaraco, apologies for the delay.

I tried contacting the user that uploaded the package but the email was no longer active.

Investigating further I found a [GitHub repo with the same name](https://github.com/mruffalo/path) and contacted its maintainer. He replied promptly saying that he had no relation with the original author and the repo is just a copy of the sourceforge contents. He also s

[2019-08-08 09:40] yeraydiazdiaz commented on #5346
Apologies for the delay in tackling this issue but please remember this is a volunteer effort and there is long backlog of PEP 541 requests.

[2019-08-08 10:04] fuzzygwalchmei commented on #6146
using edge chromium Microsoft Edge Dev Build 77.0.235.4 im no longer having the issue and all working as expected now

[2019-08-08 11:14] yeraydiazdiaz commented on #4140
Hi @betodealmeida, apologies for the delay on processing this request.

I contacted the author and he confirmed he's happy to transfer the "rison" project to you, we will proceed to do so soon.

[2019-08-08 13:43] sunjincheng121 opened #6394 "Increasing package size limit for apache-flink"
Hi, I would like to request you to increase the size limit of the package "apache-flink" to 400MB, because in the next release, apache-flink will package the Flink Cord JARs files and opt(connector's JRAs), in that case the size will be increased almost 400MB. Please help me increase the upload limit, thank you. There is a developmental release in both PyPI and Test PyPI for the moment, but it is

[2019-08-08 13:44] sunjincheng121 commented on #6394
I appreciate if you can have look at this apply @jamadden @nlhkabu
Best, Jincheng

[2019-08-08 14:01] di commented on #4140
Done. Please note that you won't be able to make a release with the version `1.1` as this was previously used.

[2019-08-08 14:01] #4140 closed

[2019-08-08 14:03] di commented on #4123
Done. Please note that you won't be able to make a release with version `0.33` as this was previously used.

[2019-08-08 14:03] #4123 closed

[2019-08-08 14:19] di commented on #6393
I've added the "good first issue" label to this issue.

As described in #6370, this would require creating a global Jinja macro to reduce duplication when rendering form fields.

For example, right now we do something like this for every field:

[code]

This may require finding a way to store the field label on the field definition as well.

[2019-08-08 14:21] #6281 closed

[2019-08-08 14:27] ewdurbin commented on #4966
Done. Please note that you won't be able to make a release with the version 0.1 as this was previously used.

[2019-08-08 14:27] #4966 closed

[2019-08-08 14:28] ewdurbin commented on #4966
Also, note that you can change the display case when uploading your first release by setting the name appropriately in the metadata sent to create the release.

[2019-08-08 14:29] ewdurbin commented on #4067
Done. Please note that you won't be able to make a release with the version 0.1 as this was previously used.

[2019-08-08 14:29] #4067 closed

[2019-08-08 14:31] jamadden commented on #6394
There is a previous distribution of apache flink on PyPI. In https://github.com/pypa/warehouse/issues/6116 it was given a limit of 300MB, though it appears that was never used. If this project is to officially replace that one, perhaps there could be some coordination to remove it from PyPI so as to prevent user confusion and excess resource usage.

300MB is on the very upper end of sizes that mod

[2019-08-08 15:31] wyfo opened #6395 "PEP 541: transfer ownership of abandonned `apischema`"
Hi,

I would like to ask for the transfer of the name `apischema`. I don't know what is this project as I can not find it on PyPi (so I'm not able to reach the owner), and it cannot be installed with Pip.

Thank you,
Joseph

[2019-08-08 15:50] di commented on #6395
Looks like @prologic is the owner here, and there hasn't been a release since 2013.

@prologic, would you be willing to transfer this to @wyfo?

@wyfo, what is your PyPI username?

[2019-08-08 15:51] di commented on #6355
Seems like this might be due to some weirdness in the underlying openssl library. I'll leave this open for now to see if we get any additional reports.

[2019-08-08 15:57] di commented on #5769
@ewdurbin Can you triage here?

[2019-08-08 16:09] wyfo commented on #6395
@di Thank you for your quick response! My PyPi username is the same, *wyfo*.

[2019-08-08 17:03] brainwane commented on #6257
Noting here that per [our meeting a few days ago](https://wiki.python.org/psf/PackagingWG/2019-08-02-Warehouse) @nlhkabu will consider including assessing showing token creation UI on confirmation page in her user tests.

[2019-08-08 17:05] MadcowD commented on #6241
Bump!

[2019-08-08 17:26] ewdurbin commented on #5769
It's not super clear why it occurred but there were 11 projects that had a NULL for `total_size`.

[2019-08-08 17:27] brainwane commented on #6378
Thanks for the feature request, @Zac-HD! This is a great idea in my opinion. Unfortunately I believe it is out of scope for the current grant-funded project (for more on our current grants, see [the Packaging WG wiki page](https://wiki.python.org/psf/PackagingWG)), as are other caveat limitations (see #6255).

So I'll be talking with @ewdurbin and other maintainers to figure out whether (a) I'm wr

[2019-08-08 17:30] ewdurbin commented on #5769
Seems they all have the following in common:

- Project was created since merge of #5801
- Release file was removed

So it must be something in the function/trigger.

[2019-08-08 17:32] ewdurbin commented on #5769
[code]

[2019-08-08 17:34] ewdurbin commented on #5769
Seems the issue is that the sub select

[code]

Does indeed return null when the last release of a given project is deleted.

[2019-08-08 17:34] ewdurbin commented on #5769
@DavidBord do you have any idea how to resolve this?

[2019-08-08 17:35] brainwane opened #6396 "API feature to request new project-scoped upload API token"
[From](https://github.com/pypa/warehouse/issues/5661#issuecomment-517372679) @takluyver:

This is a followup to #994.

[2019-08-08 17:35] brainwane commented on #994
@takluyver [asked](https://github.com/pypa/warehouse/issues/5661#issuecomment-517372679):

Sorry for moving your comment here, @takluyver, but I want to keep this issue focused on API keys and that issue on the rollout!

We don't have a specific plan for that API feature yet, no. I filed your request as #6396.

[2019-08-08 17:44] brainwane commented on #996
We've rolled out two methods for 2FA on PyPI: [TOTP support](https://blog.python.org/2019/05/use-two-factor-auth-to-improve-your.html) and [WebAuthn support](https://blog.python.org/2019/06/pypi-now-supports-two-factor-login-via.html). The latter is in beta, and #5661 is a meta-issue where we are tracking its rollout and getting [the last few items fixed before ending the beta](https://github.com/

[2019-08-08 17:44] #996 closed

[2019-08-08 17:50] brainwane commented on #5790
We are not going to be able to finish implementing this within the scope of [the OTF-funded work we're currently doing on PyPI security](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html), so I'm removing it from this milestone.

[2019-08-08 17:51] brainwane commented on #5791
We are not going to be able to finish implementing this within the scope of [the OTF-funded work we're currently doing on PyPI security](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html), so I'm removing it from this milestone.

[2019-08-08 17:52] brainwane commented on #5587
Is there anything left to be done in this issue, @nlhkabu, or can we close it?

[2019-08-08 17:53] brainwane commented on #5825
This requires some JavaScript work. @yeraydiazdiaz or @di do you have time to help with this?

[2019-08-08 17:55] brainwane commented on #6146
Thanks @fuzzygwalchmei! I am going to close this bug now as it seems nonreproducible. If people run into it again, please reopen it.

[2019-08-08 17:58] nlhkabu commented on #5587
Yes, let's close.  Recovery codes are missing, but this are documented in #5800

[2019-08-08 17:58] #5587 closed

[2019-08-08 20:35] brainwane commented on #994
We've rolled out [scoped API tokens for package upload on PyPI](https://blog.python.org/2019/07/pypi-now-supports-uploading-via-api.html). It is in beta, and #5661 is a meta-issue where we are tracking its rollout and getting [the last few items fixed before ending the beta](https://github.com/pypa/warehouse/issues/5661#issuecomment-515802931), and [the policy changes (requiring API token usage fo

[2019-08-08 20:35] #994 closed

[2019-08-09 00:46] #6146 closed

[2019-08-09 06:18] myhub opened #6400 "Need more space for my project"
Hi all
My project is tr (https://pypi.org/project/tr/)
it is a deep learning based OCR system which include many .so files and big deep learning model parameter files(for text line detection and text recognition),
I want a size around 200Mb to store so many files, Thanks

[2019-08-09 07:07] sunjincheng121 commented on #6116
Hi @jamadden we do not using https://test.pypi.org/project/pyflink/ as the apache flink project now. feel free to reset the default limit of package size.
currently we using the https://test.pypi.org/project/apac-flink/ which mentioned in #6139

Best,Jincheng

[2019-08-09 07:29] myhub opened #6403 "Need more space for my project"
Hi all
My project depends on pytorch C++ so file,
I tried some ways to reduce the size needed by cut my project to several small sub-project

But one pytorch .so file is more than 200MB, and is more than 60MB after compress.
Although it is possible to cut one .so file into parts, and then join parts of the .so file to the original,
But this will be cause many trouble

So I need increase the space

[2019-08-09 07:31] sunjincheng121 commented on #6394
Hi @jamadden, I am very sorry that I did not explain the relationship between https://pypi.org/project/pyflink/ and https://pypi.org/project/apache-flink/.
Before we did the Flink community discussion, we wanted to use pyflink as the release project, but pyflink was created by other people not related to Apache Flink. After discussions in the Flink community, we finally decided to create a new apa

[2019-08-09 07:44] WeiZhong94 commented on #6116
Thanks @jamadden, as @sunjincheng121 said apache flink do not using https://test.pypi.org/project/pyflink/ as the apache flink project now. Sorry to bother you.

[2019-08-09 08:58] yeraydiazdiaz commented on #4279
Hello @ChrisJefferson, apologies for the delay in tackling this issue.

I've emailed @brettcs to the email address set the project as well as his GitHub profile. Since it shows there's been some activity on his part in GitHub we would really appreciate it if he could clarify his position in regards to this project.

[2019-08-09 09:01] yeraydiazdiaz commented on #5825
I can have a go at it.

[2019-08-09 12:04] #6345 closed

[2019-08-09 12:09] jaraco commented on #4123
Great. Thanks!

[2019-08-09 12:25] ewdurbin commented on #4243
Hi @takanokage what PyPI usernames should this project be transferred to?

[2019-08-09 15:55] nlhkabu commented on #1190
@brainwane I've assigned this ticket to us both as a reminder to discuss.

[2019-08-09 16:04] nlhkabu commented on #6257
First user test didn't have any issues or confusion here.  Perhaps offset by the title "Add another token". I'll continue to observe in further tests.

[2019-08-09 16:42] brainwane commented on #5825
That would be great, thank you, @yeraydiazdiaz! This is an issue we want to resolve before we can declare the WebAuthn beta finished, so I particularly appreciate your help with this.

[2019-08-09 17:19] DavidBord commented on #5769
@ewdurbin, how about I'll add a default? something like
`SELECT COALESCE(SUM(release_files.size), 0) AS project_total_size
	            FROM release_files WHERE release_id IN
	                (SELECT id FROM releases WHERE releases.project_id = _project_id)
	            ) AS t`

[2019-08-09 17:24] ChrisJefferson commented on #4279
I would also be interested if he replies. I can understand if dtrx isn't interesting enough for him to want to continue, but I, and many others, find it a practical and useful tool

[2019-08-09 19:24] takanokage commented on #4243
The Open3D project should be transferred to https://pypi.org/user/Open3D/

Adding here German and Yixing who are currently responsible for this side
of the project.

Thank you and best regards,
Dan

On Fri, Aug 9, 2019 at 5:25 AM Ernest W. Durbin III <
notifications@github.com> wrote:

[2019-08-09 19:27] takanokage commented on #4243
@yxlao, @germanros1987

[2019-08-09 19:41] mth309 commented on #4214
Hi draik,
I'm the original author of the pySMART tool and you're right, I've been horribly lax at keeping it up to date on PyPI.  A few years ago I made an agreement with the team that builds FreeNAS allowing them to use the code under LGPL license (instead of the original GPL I'd published on PyPI), and they've been hosting it on their github and making great improvements ever since.

I've been c

[2019-08-09 20:06] ewdurbin commented on #4243
The Project has been transferred to the Open3D user. Please do not remove the existing release open3d==0.1.1.

[2019-08-09 20:06] #4243 closed

[2019-08-09 20:08] ewdurbin commented on #5769
@DavidBord That looks reasonable! If that will resolve it, please send a PR!

[2019-08-09 20:41] brainwane commented on #5790
A few questions we'll want to answer about the user experience here:
* can invitations be revoked?
* do invitations expire?

The backend work will involve creating a new model of invitations, creating views, supporting creating/accepting invitations, creating an email and getting it sent, and tests.

[2019-08-09 20:50] brainwane commented on #5792
Some UX questions to be resolved include:

* If a user wants to send an invitation and the recipient doesn't have 2FA on, what happens?
* if you get an invite and don't have 2FA on, what happens?
* In projects with multiple owners: can any owner turn that on? Maybe it's not allowed until all the existing owners/maintainers have turned on 2FA? Once turned on, can any owner turn it off by themselves

[2019-08-09 20:55] brainwane commented on #2996
@di Could you help me understand what it would take to resolve this issue? I got a little confused.

* design/architecture work: I infer that this requires a little more time, e.g., deciding whether we're changing how people should use the License field in the metadata or whether we add another top-level piece of metadata called "SPDX Classifier".
* client-side work: would making this change requi

[2019-08-09 21:02] brainwane commented on #6378
This use case is specific and makes a lot of sense! But. Project creation is a rare event in general for PyPI, so we want to be careful about what we engineer for and what common vs. uncommon cases we make easier in terms of UX.

A few different ways we could implement this:

* as a caveat, perhaps along with the other caveats suggested in #6255 -- a one-time user-scoped token
* via [package previ

[2019-08-09 21:18] takanokage commented on #4243
Thank you!

[2019-08-09 21:35] yxlao commented on #4243
@ewdurbin thank you!

[2019-08-09 22:38] di commented on #5790
FYI, this is mostly implemented in #6054, and in that implementation invitations can be revoked and do expire.

[2019-08-10 08:33] yeraydiazdiaz commented on #4214
@mth309 thank you clarifying the situation.

[2019-08-10 08:33] #4214 closed

[2019-08-10 08:53] yeraydiazdiaz commented on #4504
Hello @ssbarnea, apologies for the delay in processing this request.

The project has some recent [downloads](https://pepy.tech/project/wee) so I'm not convinced replacing the project completely would be a good idea, especially if the new project has completely different functionality. I would suggest finding a different name to be on the safe side.

That being said it might be helpful for @whitmo

[2019-08-10 09:01] yeraydiazdiaz commented on #4536
GitHub reports some recent activity from @espeed, regardless I believe this classifies as an [invalid project](https://www.python.org/dev/peps/pep-0541/#invalid-projects) since there package is empty.

[2019-08-10 09:04] yeraydiazdiaz commented on #4189
Hello @bouthilx, apologies for the delay in processing this request.

Could you confirm your PyPI username for the transfer, please?

[2019-08-10 09:07] fkromer commented on #6273
@jamadden Do you need further assistance to get the classifier added?

[2019-08-10 15:02] bryevdv opened #6407 ""login" or dry-run validity check for tokens"
**What's the problem this feature will solve?**

Our project has to simultaneously publish docs, PyPI, conda, and npm packages. If one of those fails (e.g. because a token has expired) then it's a really bad day. So it's really ideal for us to be able to "test" all the credentials are valid up front, before actually really attempting any of the uploads.

**Describe the solution you'd like**

`npm`

[2019-08-11 00:32] bouthilx commented on #4189
:tada: !!! Awesome! :smile:
My username on PyPi is bouthilx: https://pypi.org/user/bouthilx/

[2019-08-11 08:59] fkromer opened #6410 "Request trove classifier for scikit-learn"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `scipy :: scikit-learn`
* `scipy :: learn`

## Why do you want to add this classifier?

[scikit-learn](https://scikit-learn.org/stable/) is one of the most popular "general purpose" machine learning frameworks for Python. There are many Python packages extending the functionality of scikit-learn, refer t

[2019-08-11 11:31] nlhkabu opened #6412 "Images are not rendering"
Images served from `warehouse-camo.cmh1.psfhosted.org` are not rendering.  For example, if you visit https://pypi.org/project/black/ you see:

![Screenshot from 2019-08-11 12-28-32](https://user-images.githubusercontent.com/3323703/62833261-ae970e80-bc33-11e9-9a04-e7cbe61af613.png)
![Screenshot from 2019-08-11 12-28-27](https://user-images.githubusercontent.com/3323703/62833262-ae970e80-bc33-11e9-

[2019-08-11 20:49] brainwane commented on #6412
Looks like this was intermittent and is now resolved. Thanks for reporting it!

[2019-08-11 20:49] #6412 closed

[2019-08-12 02:02] verhovsky opened #6413 "PEP 541: transfer ownership of unmaintained `PyTeaser` package"
I tried emailing @xiaoxu193 back in January (7 months ago) and got no response. My Python 3 support pull request has been open since that time as well and there's no activity on Github.

I'd like to take over maintenance of this package.

[2019-08-12 06:06] nlhkabu opened #6414 "Invalid HTML for select element"
This html is generated by the Python form code.

template:
https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/roles.html

field:
`{{ form.role_name }}`

ERROR: The first child “option” element of a “select” element with a “required” attribute, and without a “multiple” attribute, and without a “size” attribute whose value is greater than “1”, must have either an empty “value”

[2019-08-12 09:04] yeraydiazdiaz commented on #4612
Hello @funkey, apologies for the delay in processing this request.

The project is indeed invalid so we will proceed with the transfer. Could you confirm your PyPI username, please?

[2019-08-12 09:08] yeraydiazdiaz commented on #4653
@psammetichus @chathika I see this transfer has not been completed, is there anything we can do on our side to help?

[2019-08-12 09:17] yeraydiazdiaz commented on #4097
I agree the best course of action would be for `awscli` to take ownership of the `aws` project. If anyone in the team is interested please open a formal PEP 541 request as a separate issue.

[2019-08-12 09:17] #4097 closed

[2019-08-12 09:26] yeraydiazdiaz commented on #4756
Hello @kylebgorman, apologies for the delay in processing this request.

I have emailed @daffidilly requesting to clarify his position in regards to this project. Hopefully we will hear back soon and move forwards with this request.

[2019-08-12 12:19] woodruffw commented on #3532
FWIW, exact time and IP address *do* serve a forensic purpose: they make it easier to triage and establish provenance when doing a postmortem. As an example:

Project Foo has had 50 releases, 45 of which came from an IP range publicly associated with a hosting provider (probably CI) and published within 5 minutes of midnight at timezone X (probably a cronjob). The last 5 releases came from varying

[2019-08-12 15:16] brainwane commented on #6407
I think the best way to do this is to implement #726.

[2019-08-12 15:18] brainwane commented on #726
Since we want this feature, and since so many other features depend on it, I've added it to [the Fundable Packaging Improvements wiki page](https://wiki.python.org/psf/Fundable%20Packaging%20Improvements#Package_preview_feature_for_PyPI); organizations that are interested in donating a directed gift to implement this, please contact [the Packaging Working Group](https://wiki.python.org/psf/Packagi

[2019-08-12 15:29] taoxiaofei0208 opened #6415 "excute one out file,the gdb response missing tag 'fullname'"
when i write ('-file-exec-file a.out') to gdb,the response mission tag 'fullname'

[2019-08-12 18:09] brainwane commented on #6415
Hi. You probably want to ask for help with this problem. You have opened an issue in the GitHub workspace of PyPI, and we can't help you with your problem. I suggest you go to [one of the forums mentioned here](https://www.python.org/community/forums/).

[2019-08-12 18:09] #6415 closed

[2019-08-12 18:53] brainwane commented on #3231
Since so many other features are blocked on this, I [added it to the list of fundable packaging projects](https://wiki.python.org/psf/Fundable%20Packaging%20Improvements#User_support_ticket_system) on the wiki.

[2019-08-12 18:54] di commented on #6407
I think to address this issue, we'd probably need to provide an API for testing credentials separate from #726, as it doesn't quite solve the problem of "once we built everything, our upload failed due to bad credentials, and we can't test credentials without trying to upload something".

Presumably once #726 is implemented, maintainers could attempt to upload some dummy release to test credential

[2019-08-12 18:56] bryevdv commented on #6407
For sure, tho just from my own perspective, I am willing to own that risk (we have never run in to that particular problem, but we have definitely had botched releases due to a credential issue on just one account)

[2019-08-12 18:57] gregschmit commented on #6364
Also, if there is a method for opening a ticket about this (per #1506) then please let me know.

[2019-08-13 13:13] htgoebel commented on #3532
Keep in mind: Privacy is a Human Right, but there is not right for forensics.

- Do you need forensics after 10 years?!
- Has there been a need for such forensics somewhen?
- If there has been a need: Has this information actually been **required** for solving the forensic case? Have other means actually been tested?
- Does this need take precedence over legally over the persons rights for deletin

[2019-08-13 15:21] woodruffw commented on #6414
I'm having a bit of trouble identifying this one: I see one `<select>` in that template:

[code]

But it doesn't have a `required` attribute or another of the other attributes that would constitute the error, unless I'm missing something.

[2019-08-13 17:00] #5769 closed

[2019-08-13 17:39] cooperlees commented on #5769
We've missed the JSON rendering. I'll try get a PR up for it. Repro is to run CI there or manually run pypi_stats.

Output of failure:
https://travis-ci.org/cooperlees/pypistats/jobs/571432785

[2019-08-13 17:52] cooperlees commented on #5769
I can't see from the warehouse code, as it decorates the same function @DavidBord fixed for the HTML. Any ideas why the JSON renderer is having issues?

Can someone give me some sanitized logs? I've made 5 or so requests in the last 10 mins.

[2019-08-13 18:02] ewdurbin commented on #5769
Seems the sum function for total_package_size was returning a `Decimal` object that choked the JSON renderer.

I'll open a PR shortly.

[2019-08-13 18:23] ewdurbin commented on #5769
@cooperlees this should be sorted now.

[2019-08-13 18:29] nlhkabu commented on #6414
@woodruffw I think it's here:
https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/roles.html#L138

The `<select>` isn't present in the template, it's being pulled in by `{{ form.role_name }}`. Therefore the required attribute must be defined in the backend.

If I visit `http://localhost/manage/project/pip/collaboration/`, I get the following HTML when inspecting the 'role' sel

[2019-08-13 18:40] cooperlees commented on #5769
Legend - It's all fixed. Thanks!

CI Agrees: https://travis-ci.org/cooperlees/pypistats/builds/571438981

[2019-08-13 19:21] germanros1987 commented on #4243
Many thanks!

[2019-08-13 19:31] jaraco opened #6422 "With token, 403 Invalid or non-existent authentication information"
In pypa/setuptools#1817, I reported an issue where the latest version of setuptools failed to release. Setuptools uses a proven mechanical release process, but in this latest release, I switched to using token-based authentication. This wasn't my first time using token-based auth. I'd previously cut a release of configparser using a (all projects) token. I used the same token and code to inject th

[2019-08-13 19:42] jaraco commented on #6422
Does the `/legacy/` endpoint support token-based auth? What about version 1.13? Reading the twine issues, I find pypa/twine#482, which indicates that `@token` is the right username, although I think I've read [elsewhere](https://pypi.org/help/#apitoken) that `__token__` is the right form (and that's what worked for configparser).

This is the kind of issue that I'd be happy to dive in and find a s

[2019-08-13 19:45] jaraco commented on #6422
Is there anything on the backend of warehouse that you could correlate with that timestamp (2019-08-03T09:57:04, time zone unknown but probably UTC or UTC-0400)?

[2019-08-13 20:09] woodruffw opened #6425 "Expose both security events and journal records on project history"
Once #6339 is merged, the "History" tab for project management will contain the event security log instead of the project journal. We should look at re-exposing the project journal, possibly as a second table on that same tab.

cc @nlhkabu

[2019-08-13 20:13] woodruffw commented on #6422
@jaraco The original deployment of API tokens used `@token` as the username, but as of #6342 and #6345 the current username is `__token__` and the current token prefix is `pypi-`.

Can you confirm that you're using the latest username and prefix, while still seeing the error?

[2019-08-13 20:30] woodruffw commented on #6414
Hmm, this might actually be a problem with WTForms' HTML generation. Here's the underlying form mixin:

[code]

So the fix here is probably upstream -- `choices` (or the underlying generator that uses it) needs to properly set the `size` attribute. Alternatively, we could add an additional `("", "Select role")` choice, although I'm not sure what that does at the validation level. I'll try it out.

[2019-08-13 20:41] nlhkabu commented on #6312
Note that when using 'humanize', we should also expose the full datetime in a tooltip (available on hover)

[2019-08-13 20:42] nlhkabu commented on #6425
I would appreciate your feedback on this @ewdurbin and @dstufft, as I understand that this was briefly discussed on Slack.

@brainwane - would you consider this part of the security milestone, or out of scope?

[2019-08-13 20:58] jaraco commented on #6422
Yes. I confirmed the token is prefixed with pypi- and I’m using the dunderscore token username.

[2019-08-13 21:17] jaraco commented on #6422
I've created a [test build](https://travis-ci.org/pypa/setuptools/builds/571531260) that is likely to replicate the issue.

[2019-08-13 22:21] erwincoumans opened #6427 "file size limit exemption request pybullet"
I just started hitting a file size limit when uploading pybullet version (after 3 years).
This is a python module for physics simulation and reinforcement learning for robotics. It contains some example data and pretrained Tensorflow policies and this exceeds 60Mb.

Link to PyPi: https://pypi.org/project/pybullet/

Current size of release is around 77Mb, so I had to remove some assets.

Would it b

[2019-08-13 23:35] verhovsky commented on #4279
I've been doing some (pretty superficial) work on my fork of the project, can I have it instead? https://github.com/verhovsky/dtrx

[2019-08-14 06:22] cyrus-muriithi opened #6429 "pyforest"
I am running Python 3.7.4, and Anaconda3.
I have installed pyforest using `pip install pyforest`

when i run `from pyforest import * ` in my jupyter, i get this error:

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-3d1b5a8ec429> in <module>
----> 1 from pyforest import *

ModuleNotFoundError: No module named 'pyforest'

Also when i run `pip freeze` i

[2019-08-14 07:45] yeraydiazdiaz commented on #4279
@ChrisJefferson was the first one to claim it so the transfer, if successful, would be to him.

Under his ownership he can then choose to add more owners and contributors as he sees fit.