[2018-05-15 21:09] di commented on #3997
@ofek I think you're right. @yeraydiazdiaz could you take a look?

[2018-05-16 02:48] #3857 closed

[2018-05-16 04:44] #3557 closed

[2018-05-16 07:42] dfee opened #4001 "transfer / release / claim invalid project `forge` (pep-541)"
According to [PEP-0541](https://www.python.org/dev/peps/pep-0541/#invalid-projects), projects that conform to the following behavior are subject to removal `project is name squatting (package has no functionality or is empty);`.

[`forge`](https://pypi.org/project/forge) is an example of a project like this:
- v0.0 was initially published on Mar 19, 2010 with no code and project description: "not

[2018-05-16 08:46] yeraydiazdiaz commented on #3997
sure, should be easier now that it's a Stimulus controller 👍

[2018-05-16 14:28] #2850 closed

[2018-05-16 14:38] di commented on #3997
@yeraydiazdiaz To be clear, I think this is a bug in the new stimulus controller.

[2018-05-16 14:42] yeraydiazdiaz commented on #3997
Definitely, it's a consequence of how we're (ab)using anchors to store the state of the tabs. I was thinking of using Stimilus's state management API instead.

[2018-05-16 14:54] ishirav opened #4002 "Allow users to report that a package's description is rendered incorrectly"
**What's the problem this feature will solve?**
Looks like a significant percentage of packages provide a `long_description` in Markdown format, without providing the `long_description_content_type` necessary for it to be rendered correctly. This can happen for a variety of reasons:

- The package was released before `long_description_content_type` was available.
- The developer is unaware of `lon

[2018-05-16 15:00] jeff00seattle opened #4003 "Broken/Unmaintained Python Projects on Pypi.org: Flag and then Remove after 30 days"
**What's the problem this feature will solve?**
There are many Python project submitted years ago, for example, `jagged`, that may have worked fine 2+ years ago, but have not been maintained since initial uploaded 2+ years ago to Pypi.org.
Example of broken: https://pypi.org/project/jagged/#description
Github code of broken: https://github.com/sdvillal/jagged

**Describe the solution you'd like**

[2018-05-16 15:18] jeff00seattle opened #4004 "Name-Squatting on Pypi.org: Removed projects if no code is added after 6+ months"
**What's the problem this feature will solve?**
On Pypi.org, there are several Python projects that are completely empty, no content except a one-line README, and have not been touched in years for the single purpose of name-squatting, for example, `requests_extension` was created in 2014 and nothing since.
Name-Squatting Example with Inactive Contributors (not okay): https://pypi.org/project/requ

[2018-05-16 15:38] jeff00seattle opened #4005 "Python projects' README.rst: Local referencing of image location now presents broken image"
**Describe the bug**
Several projects that I am contributing to, I have been able to use a local reference to an image when adding to README.rst. However, recently within the last couple of months, local referencing no longer work.

**Expected behavior**
Images should be viewable within `README.rst` either if locally or remotely referenced, as they had been viewable in 2018 March.

**To Reproduce*

[2018-05-16 16:19] ishirav opened #4006 "Searching for packages returns duplicate results"
**Describe the bug**
It seems that search results are not distinct, meaning that the same package can appear more than once in different pages of the results.

**Expected behavior**
Each package should appear only once in the search results.

**To Reproduce**
Here's a script that goes over the first 10 pages of search results for the term "relative", scrapes the package names from each page, and p

[2018-05-16 16:32] di commented on #4006
Seems to me like the issue is that paginated URLs for the same search query are cached separately, so pages like:

* https://pypi.org/search/?q=relative&page=2
* https://pypi.org/search/?q=relative&page=3

might each represent different points in time and thus, the same package might appear in multiple pages.

The bigger problem is that this also means that a package could fall _in between_ the ca

[2018-05-16 16:42] dstufft opened #4007 "Validate our current headers against Fastly's list"
Fastly has provided a [list of headers](https://www.fastly.com/blog/headers-we-dont-want) and whether sites should keep them or remove them. It'd be great to go through that list, see which ones we're currently sending or not sending, and stop sending/start sending them.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on

[2018-05-16 16:56] ishirav opened #4008 "Use <pre> when displaying plain-text project descriptions"
**What's the problem this feature will solve?**
When packages provide a plain-text description, they often use indentation to format the text, or sometimes ASCII-art tables and such. Rendering these without preserving whitespace, and without using a monospaced font, breaks the formatting.

This is relevant also for rst descriptions that could not be converted to HTML (due to errors), and are displ

[2018-05-16 17:45] divenex opened #4009 "No emails from test.pypi.org"
I registered to test.pypi.org but never received any confirmation email and consequently cannot activate my account.

Here is what I tried:

- I tried registering different users names, with different email addresses but never received any confirmation email to those addresses either.
- I tried the menu "resend confirmation email" without success.
- I also tried a password reset, but still got no

[2018-05-16 17:50] cooperlees commented on #3960
Instructions and a fix to cater for some scenarios landed to the makefile merged.

[2018-05-16 17:58] di commented on #4009
@divenex Could you email me at `di@python.org` with the email address and username of the account?

[2018-05-16 19:18] di opened #4011 "Create "Moderator" level User and corresponding permissions"
Currently on PyPI, we have two types of users:
* regular users
* administrators (for which `User.is_superuser` is true)
* (There is also a field `User.is_staff` but I believe it's unused).

It'd be great to add an intermediate level of user, "Moderator", which has the ability to do the following:
* view all the existing `/admin` views (but read-only)
* set upload limits
* add classifiers
* etc

Th

[2018-05-16 19:30] di commented on #4011
Agreed. I think the steps to address this, roughly broken up by PRs, would be:
* Add a new field/migration to the `User` model, as well as corresponding UI in `/admin` for administrators to toggle this flag for users;
* Add ACLs for various `/admin` POST endpoints, as well as conditionals in the HTML templates to hide actions that are not enabled for moderators, and to make fields not appear edita

[2018-05-16 19:35] dstufft commented on #4011
Yea, that seems like a great path forward.

[2018-05-16 19:38] jbergknoff-rival opened #4012 "Redirect loop when requesting missing package"
**Describe the bug**
When I `curl -v https://pypi.org/pypi/bogus/1.0.0/json` with an invalid package/version combination, I get put in an infinite redirect loop. If the package/version combination is correct, then the data is served as expected.

I noticed this because the `license_finder` gem just now started having issues when looking for my team's internal (non-PyPi) packages. Previously, it ha

[2018-05-16 19:39] dstufft commented on #4012
I'm guessing this is likely fallout from https://github.com/pypa/warehouse/pull/3971.

[2018-05-16 20:29] di commented on #4012
Looks like this is because we use `@notfound_view_config(append_slash=HTTPMovedPermanently)` with our exception view, so when it's not found, it gets a redirect to the same URL with the trailing slash.

[2018-05-16 20:33] #4012 closed

[2018-05-16 20:43] di opened #4016 "Add trailing slash redirects to JSON API"
The JSON API currently resolves URLs like `https://pypi.org/pypi/pip/json`, however adding a trailing slash (e.g. `https://pypi.org/pypi/pip/json/`) results in a 404, even though trailing slashes were valid in legacy PyPI.

PR https://github.com/pypa/warehouse/pull/3971 was an attempt to fix this, but because we have Pyramid configured to automatically add a trailing slash in the event of a 404, t

[2018-05-16 21:18] alexbecker commented on #4016
Is the fix for this to change the Pyramid configuration to special-case this? Or to support `https://pypi.org/pypi/pip/json/` without redirecting?

[2018-05-17 03:01] dstufft commented on #284
We didn't discuss RPC APIs though I had considered it when I was thinking about it prior to PyCon. My thinking is basically that:

- The sort of stereotypical RPC API tends to use a single route URL (often times with POST) for all of it's requests. This is true of the older ones like XMLRPC and JSONRPC and some newer ones like GraphQL and I believe gRPC[1].
- A large portion of our API is read-onl

[2018-05-17 05:48] theacodes opened #4018 "Test PyPI should include the `--index-url` argument for the pip install command."
**What's the problem this feature will solve?**
Copy-pasting the pip install command on Test PyPI won't actually install from Test PyPI

**Describe the solution you'd like**
instead of `pip install package_name` we should show `pip install --index-url https://test.pypi.org/simple/ package_name`

**Additional context**
It would also be super awesome if pip just had an alias for this, e.g. `pip inst

[2018-05-17 07:02] typhoonzero opened #4019 "Need help to increase file size of my project"
Hello, I am uploading our project https://github.com/PaddlePaddle/Paddle `*.whl` packages to pypi for a new release, and it seems that our current release is quite large, I would like to ask to increase the size of our project.

* Project name: paddlepaddle and paddlepaddle-gpu
* Size: currently about 85MB, it would be good if you can set it to 100MB for future updates
* Index need to increase tha

[2018-05-17 08:54] SabaKauser opened #4020 ""How to access old website of pypi for repositories""
**Describe the bug**

Hello,
I could find only this topic very close to my concern.
Until few days back, we were able to access old legacy website of pypi and it had information that was important and I do not see it appearing in new website under my project.
My project is python ibm_db driver and I would like to gain access to old page temporarily to backup the screenshots and other needed data.

[2018-05-17 09:29] ziima opened #4021 "Add option to archive project"
**What's the problem this feature will solve?**
Similarly to Github, it would allow the users to mark the projects as archived and no longer maintained. It could prevent later process of detecting whether the project is unmaintained.

The project would be still visible and usable, but clearly marked as archived and unmaintained.

**Describe the solution you'd like**
Aside of Delete a project, a po

[2018-05-17 12:01] di commented on #4020
Legacy PyPI is no longer online. The best you could do is find your package on various web archiving services, for example:

* https://web.archive.org/web/20160829195835/https://pypi.python.org/pypi/ibm_db/

[2018-05-17 12:01] #4020 closed

[2018-05-17 12:05] dstufft opened #4022 "Add admin ability to reassign project to another user"
Legacy PyPI allowed admins to take over an existing project, but Warehouse doesn't have a mechanism to allow an admin to re-assign a project to another user.

[2018-05-17 12:19] wrobell opened #4023 "image align and margins"
**Describe the bug**
In long description of a project, an image is specified with
[code]
Unfortunately, the image is not centered. Also, there is no margin between the image and the preceding paragraph.

**Expected behavior**
1. The image is centered.
2. There is an appropriate margin between the image and preceding paragraph.

**To Reproduce**
Please see bottom of the following page https://pypi.

[2018-05-17 12:54] #3914 closed

[2018-05-17 16:05] nedbat opened #4028 "Searching for coverage produces xmlrpc.client.Fault: <Fault -32500: 'application error'>"
Sorry: I don't know where the fault and fix lie, so I am trying a few different bug trackers.

* Pip version: 10.0.1
* Python version: 3.6.5
* Operating system: Mac 10.13.4

### Description:

(as reported in https://github.com/nedbat/coveragepy/issues/50 and https://github.com/pypa/pip/issues/5414)

Try to search for "coverage", get an error:

[code]

I've tried searching for a bunch of other thin

[2018-05-17 16:10] dstufft commented on #4028
It's a warehouse bug most likely, not entirely sure what off hand as nothing relevant is showing up in sentry if I do a search. It'll probably require trying to reproduce against a local copy of Warehouse to figure out what's happening.

[2018-05-17 16:31] rspencer01 commented on #2859
This particular account has grabbed a name I want (and own a github and readthedocs repo for).  @brainwane claimed that all the squatting packages had been addressed, but at least this one, `dent`, isn't.

I recognise that ranting and raving on a github issue because "someone stole a thing I didn't own" is not useful, but this user seems to be malicious.  Is there any way to take action/bring this

[2018-05-17 17:49] divenex commented on #4009
Done, thank you very much

[2018-05-17 19:35] jadsonbr opened #4031 "File too large. Size limit exemption"
**Project name:** pyreportjasper
**Size:** 78 MB
**For:** PyPI and Test PyPI

[2018-05-17 21:27] di commented on #4031
@jadsonbr Can you explain what this project is and why it is so large?

[2018-05-17 21:38] #3997 closed

[2018-05-17 21:39] jadsonbr commented on #4031
It is an abstraction to generate reports in python with JasperReport java library. It was necessary to include dependency maps. So it got a little big.

[2018-05-18 01:41] theacodes commented on #284
The example you showed for hypermedia is super problematic from my perspective because it requires clients to always do run-time discovery of the API. In practice, almost no one does this (and when forced to, it leads to overly complex client libraries). They will hardcode URLs and make assumptions, and if they don't, the will make assumptions about the *links* themselves (just like your hardcoded

[2018-05-18 07:01] nlhkabu opened #4035 "Remove italic styles"
From our accessibility audit:

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%22good+first+issue%22) instead. If there is not a corresponding pull request for this issue, it is up for grabs. For d

[2018-05-18 12:57] msoulier opened #4036 "pypi says my project has no description but it does"
https://pypi.org/project/tftpy/

"The author of this package has not provided a project description"

msoulier@anton:~/work/tftpy$ grep description setup.py
      description='Python TFTP library',

So, I'm confused. What must I do?

[2018-05-18 13:01] di commented on #4036
You should set the `long_description` kwarg in `setup.py`: https://packaging.python.org/tutorials/distributing-packages/?highlight=long_description#description

[2018-05-18 13:01] #4036 closed

[2018-05-18 13:43] steveklabnik commented on #284
You don't do full discovery every single time. You keep your current
position. It's one request each time, just like RPC.

On Thu, May 17, 2018 at 9:41 PM, Thea Flowers <notifications@github.com>
wrote:

[2018-05-18 17:46] Alir3z4 opened #4037 "django-plans abandoned - PEP 541 transfer"
Per #1506 and PEP 541, I'd like to ask you to transfer the ownership of https://pypi.org/project/django-plans/ to me (user name alir3z4).

I have contacted the package owner several times and no response, both via Email as well as mentioning them on the original repo https://github.com/cypreess/django-plans/issues/57#issuecomment-348817473 which neither @swappsco or @cdvv7788 replied.

The package

[2018-05-18 17:53] meejah commented on #3810
To clarify my point above: some of my users know what key to check for txtorcon releases. How are they supposed to get signature files if Warehouse doesn't serve them?

The end-game here is that every Python package that cares to sign their releases then has to put signatures "somewhere else" and every consumer has to customize their (already existing) tools to go and find those signatures. This s

[2018-05-18 17:57] dstufft commented on #3810
They're still being served, they're just not being linked to from the UI.

[2018-05-18 17:59] meejah commented on #3810
Cool, I do see that. Is there a good reason not to link them in the UI, though?

(Also just to clarify, when I `twine upload` a new release with signatures, those will be served as well?)

[2018-05-18 20:18] dstufft commented on #284
@theacodes I guess I'm just not seeing what an IDL actually gets us here? The example of JSON Hyper Schema has JSON-Schema as part of it, it's just instead of your client hardcoding URLs and actions all over the place, it can discover them at runtime. You can also ship them as part of your client so that a network access isn't required in the common case (unless you introduce a new schema).

[2018-05-19 14:39] takanokage commented on #3929
Hi everyone, any news?
We'd be happy to assist in any way we can.

Thank you!

[2018-05-19 16:06] anowlcalledjosh opened #4043 "Gravatars are broken on pypi.org"
Gravatars across PyPI are not loading because of HTTP 504s from https://warehouse-camo.cmh1.psfhosted.org.

To reproduce: Load a [project page](https://pypi.org/project/Flask/) or [user page](https://pypi.org/user/davidism/), and look at the maintainers list or (lack of) profile picture.

I'm using Chrome 67.0.3396.48 (beta channel) on Ubuntu 16.04.4.

Example of part of the maintainers list for F

[2018-05-19 16:11] nlhkabu commented on #4043
I can reproduce - in fact, I was just about to open a ticket for this.  Thanks for beating me to it @anowlcalledjosh :)

[2018-05-19 17:02] ewdurbin commented on #4043
Thanks for report. Gonna look into the reasons why, but it appears that the TLS certificates for the service expired and were not renewed.

This is resolved for now.

[2018-05-19 17:02] #4043 closed

[2018-05-19 18:16] chriskuehl commented on #3331
I got an email today:

[code]

Unsure if the `noreply@pypi.org` address is actually monitored, but definitely seems weird to be told I can reply to this email directly, when that would mean emailing `noreply@` :)

[2018-05-19 20:53] asottile opened #4046 "minor: sort keys in `releases` field of json api"
**What's the problem this feature will solve?**

`releases` keys are currently not version / release sorted.

Here's a specific example using `pre-commit`'s versions (note 0.10.x is sorting before 0.2.x):

[code]

**Describe the solution you'd like**

Ideally these would be version-sorted (similar to what is done on the `/simple` page)

**Additional context**

yes, I realize maps _technically_ sho

[2018-05-19 22:17] mixmastamyk opened #4047 "Visual Design: swap syntax highlighting colors"
Not a biggie, but keywords being highlighted in blue is more common. If swapped with the integer color, keywords could be blue and numbers green.

Believe that would match the site colors better as well, as the keywords stand out a lot.

![shot](https://user-images.githubusercontent.com/767039/40273592-a19be84a-5b77-11e8-904a-cae6daef2d3a.png)

Thanks, awesome job.

[2018-05-20 19:35] dfee commented on #4001
@brainwane where does the current process stand? I've looked through the tickets and can't figure out if the `PEP 541` workflow is inactive, if I need to provide more information, etc.

Do you / pypa have any clarity on when these sorts of issues will be resolved? Is it in my best interest to publish my software under a different name, or to wait? Again, if the answer is "wait", then how long?

Th

[2018-05-21 07:07] pradyunsg opened #4050 "TestPyPI login page says None where it should say something else"
**Describe the bug**
The login page on TestPyPI says: "Accounts from None work too!"

**Expected behavior**
Instead of "None", something else should be said there.

**To Reproduce**
https://test.pypi.org/account/login/

**My Platform**
I don't expect this to be browser specific but I'm using FF 60 on MacOS.

**Additional context**

<img width="1345" alt="screen shot 2018-05-21 at 12 34 40 pm" src=

[2018-05-21 07:17] JamesHui97 opened #4053 "OpenGLContext 2.3.0b1 安装时出现 invalid syntax"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2018-05-21 10:53] galkinvv opened #4054 "Workarounding problem with "gi" package name conflict"
There were an issue https://github.com/pypa/pypi-legacy/issues/759 about problems caused by gi package in pypi repo.

It was closed because no consensus was made. I'm creating this issue to propose and discuss another  solution and (as I hope) get reach to original package owner https://github.com/inconditus @inconditus

The typical problem scenario with "gi" package is following:
* a lot of pytho

[2018-05-21 12:17] jamadden commented on #4053
Thanks for your report, but this is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages installed from there. You'll need to contact the maintainers of that project. Its [project page](https://pypi.org/project/OpenGLContext/) has an email address for the maintainer and a link to the project home page.

[2018-05-21 12:17] #4053 closed

[2018-05-21 12:34] webknjaz opened #4056 "Missing possibility of uploading a dist version in unpublished mode"
**Describe the bug**

I'm not sure whether to file it as a feature request or a bug, because it depends on the point of view.
So the issue is that in open source world many people use CIs with a limited free capacity for building their wheels. It might be not an issue for universal wheels, but when platform-specific wheels come into play it becomes a problem when different wheels appear at PYPI wi

[2018-05-21 12:44] webknjaz commented on #4003
![](https://pbs.twimg.com/media/DdLzR6eXkAE0GS8.jpg)

[2018-05-21 12:50] webknjaz commented on #3963
/me subscribes

[2018-05-21 12:51] webknjaz commented on #3963
I'd like to also add that there's GitHub Deployment API for this, which I'm currently exploring for a similar reason.

[2018-05-21 16:09] jadsonbr commented on #4031
@di Can you tell me how long this liberation process takes?

[2018-05-21 16:16] brainwane commented on #3872
@nlhkabu I think this might be useful for you to use at the Europython sprints. I did not prepare in time to use it at PyCon sprints but I think it would have been useful.

[2018-05-21 16:35] charlsagente opened #4057 "My user isn't allowed to upload to project"
I already submitted my project into test.pypi.org and was working fine, but when trying to go to your 'live' server I receive the following error:

[code]

Can you help me find the issue?

[2018-05-21 16:39] ewdurbin commented on #4057
Another user registered this project name with PyPI on May 14, 2018 and immediately removed the project.

We're still working to formalize the process, but this appears to be a PEP 541 issue.

[2018-05-21 16:42] charlsagente commented on #4057
Thanks for your help.
Should I wait until the name is available? or just change my project name?

[2018-05-21 16:45] ewdurbin commented on #4050
Ah! this is a remnant from when pypi.python.org and pypi.org were running separately! we can simply remove the clause.

[2018-05-21 17:17] nsheff commented on #1506
@anarcat you're right that it only moves the goalposts around... but it does move them *a lot*. if the current, one-namespace method gives you *n* possible top-level package names, then the github two-level method gives you *n^n*, which, since *n* is quite large, is a big difference in space for "good" names... even though it won't solve name conflicts completely, it would dramatically reduce them

[2018-05-21 18:08] #4050 closed

[2018-05-21 20:41] yuce opened #4059 "Account recovery"
I've registered the `ytekol` account quite a while ago to publish the `pyswip` package: https://pypi.org/project/pyswip/ . I want to publish new versions of that package, but unfortunately I don't have access to (even remember) the email I used to register to that account, so cannot use the *Forgot Password* form. How can I recover that account?

* The Meta/Author link on https://pypi.org/project/

[2018-05-21 21:10] cdvv7788 commented on #4037
@Alir3z4 Hi. Sorry for not answering before. I added you as "owner" on pypi. Don't know how to remove myself. Please check if you can do it.

[2018-05-21 21:14] Alir3z4 commented on #4037
@cdvv7788 Thanks for the help, I confirm the maintainership now.

[2018-05-21 21:14] #4037 closed

[2018-05-22 07:39] mortenlj commented on #1506
@nsheff : While I'll agree that your idea has merit, I don't think it is a requirement before deciding on a process and handling the backlog of PEP541 transfers?

I don't see a conflict between deciding on a process and taking care of the PEP541 backlog while discussing/designing a namespace solution for future improvement. I think namespaces for packages could/should be discussed in a separate is

[2018-05-22 09:34] pradyunsg commented on #1506
Hey @mortenlj @nsheff @anarcat!

There's #2589 for introducing namespaces for packages. I'd appreciate if you could move the discussion about the it there; since this issue is distinct from that one and likely the best place for PEP 541 updates.

[2018-05-22 14:07] Oberon00 opened #4064 "Support internal links in markdown long_descriptions"
**What's the problem this feature will solve?**
I want to set internal links/anchors in my README.md/long_description in markdown format (for example `See [the documentation](#documentation) for more information` which links to a `## Documentation` heading or an explicit `<a name="documentation"></a>` anchor). Ideally I'd like to use the same internally linked Markdown source for both GitHub and P

[2018-05-22 14:18] di commented on #4064
Thanks for the feature request!

One complication with this is that we currently use URL fragments on project pages to link to PyPI-specific things, e.g.:

* https://pypi.org/project/pip/#description
* https://pypi.org/project/pip/#history
* https://pypi.org/project/pip/#files

If we wanted to support this, would need to make sure that this existing behavior remains.

[2018-05-22 14:29] di commented on #4057
@charlsagente Either would be a reasonable thing to do. We don't currently have a timeline for when we will start processing PEP 541 requests, so if you'd like to publish your package sooner than later, renaming it is probably the way to go.

[2018-05-22 14:32] yuce commented on #4059
@di Thanks a lot for your help. I was able to reset my password.

[2018-05-22 14:32] #4059 closed

[2018-05-22 14:34] di commented on #4031
@jadsonbr I've set the limit for `pyreportjasper` to 80MB on both PyPI and TestPyPI.

[2018-05-22 14:34] #4031 closed

[2018-05-22 14:44] di commented on #4046
As you said, I'm not sure it really makes sense to attempt to order the mapping (either in Python or in JSON).

A better approach might be to add a new field (perhaps something like `release_ordering`) which provides the the versions for each release in an ordered list.

It might be worth mentioning that if you need to order versions, the `packaging` module provides a canonical way to do it as wel

[2018-05-22 14:45] asottile commented on #4046
Yep! See #4049

[2018-05-22 15:19] asottile commented on #4046
That patch does use `packaging` like suggested.  I think changing the api is a bit out of scope for a cosmetic issue.  It seems according to the code that the ordering _is_ intentional here (I had to modify an existing `orderby` to correct the issue) and that the current output is a bug.  Fortunately, warehouse only targets python3.6+ so orderings of mappings are maintained.  Or do you disagree, n

[2018-05-22 15:26] di commented on #4046
@asottile Ah, sorry for being unclear. I was suggesting that you use the `packaging` module in whatever is consuming this API instead.

The `/simple` page is a bit different because HTML is inherently ordered.

That said I'm not opposed to adding a new field to the API here, but perhaps it would be more reasonable to just expect consumers to do the sorting themselves.

[2018-05-22 15:31] asottile commented on #4046
Are you opposed to my current patch?  It's clearly sorted _today_ just sorted _wrong_.

[2018-05-22 15:36] di commented on #4046
@asottile Yes. While most times keys in JSON seem deterministic, there's nothing actually guaranteeing that a given serializer/deserializer maintains that ordering, so attempting to enforce it here and suggesting that consumers trust that ordering doesn't really make sense.

[2018-05-22 15:39] asottile commented on #4046
There is a guarantee though, warehouse is running python3.6 which has ordered mapping types.

[2018-05-22 15:59] theacodes commented on #284
I don't want to hold up progress. I would love to see a design doc or proof of concept if/when we have one.

[2018-05-22 17:47] dstufft commented on #4046
While Python has ordered data types, there is no guarantee that the json module is going to retain the ordering of the mapping, or that in the general case whatever is parsing the JSON is going to retain the ordering of the keys in the JSON.

This is an important maintainability question, because while dicts are guaranteed ordered now, since the JSON module doesn't guarantee it will follow that or

[2018-05-22 17:52] asottile commented on #4046
Ah yes, `sort_keys=True` would throw this off.

That said, `json` is specced to respect the order of mappings passed so I don't think there's a maintainability issue there: [bpo-6015](https://bugs.python.org/issue6105) / [PEP0372](https://www.python.org/dev/peps/pep-0372/) (^F "json module")

[2018-05-23 07:38] rspencer01 opened #4067 "Request for transfer of project `dent`"
Requesting transfer of project [`dent`](https://pypi.org/project/Dent/) to user `rspencer` as the current owner is name squatting.

[2018-05-23 07:39] zylo117 opened #4068 "Please increase my pypi upload file size limit"
The name of the project: tensorflow-gpu-macosx
The size of your release, in megabytes: 94.6MB (maybe a little bigger in the later version)
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both

Please help me increase my upload limit, thank you

[2018-05-23 09:50] Cito commented on #3843
Please give advice how we shall proceed. We currently cannot publish PyGreSQL on PyPI because of this!

[2018-05-23 12:29] ntcong opened #4069 "docker:dind cannot connect to files.pythonhosted.org"
I have filed a problem with docker:dind and using pip here https://github.com/docker-library/docker/issues/112
The problem comes in like a few days ago., the connection to files.pythonhosted.org is extremely unstable, I can only do a successful pip install 1 package with several retry.
Connection to pypi is fine, just files.pythonhosted.org has problem (and almost all others hosting I can try have

[2018-05-23 16:31] ntcong commented on #4069
I ran it in a k8s cluster (setup with kubespray and flannel network plugin).

- With ubuntu image it ran fine.
- With docker:dind image it got handshake failure

In the linked issue I posted the exact command I used

[2018-05-23 16:33] Cito commented on #3843
Thank you. Note that on the official [OSI list](https://opensource.org/licenses/alphabetical) it's listed as "*The* PostgreSQL License"  and "The" is capitalized in the text of the license - this is different from e.g. the "Python License". We might want to follow that nomenclature because it might be intentional and exact wording may be important in legalese.

[2018-05-23 16:44] anowlcalledjosh commented on #2859
My interpretation of PEP 541 was that name-squatting packages with no functionality would be removed immediately:

That list also includes malware and Terms of Use violations. Was the intention that packages like that would only be removed if someone else wants the name?

[2018-05-23 17:13] di commented on #3843
@Cito On https://www.postgresql.org/about/licence/, it's stylized as "the **PostgreSQL License**" and on https://spdx.org/licenses/ it's just called "PostgreSQL License" so I think we should stick with the existing classifier.

[2018-05-23 17:14] yosifkit commented on #4069
https://github.com/docker-library/docker/issues/112#issuecomment-391427250

[2018-05-23 17:15] #4069 closed

[2018-05-23 17:31] Cito commented on #3843
You're right - strange that they have it like that on the OSI page then. Thanks again for your help. We will then make that adaption.

[2018-05-24 01:53] dstufft commented on #2859
There's no automated process to remove names (and there likely won't ever be). Trying to auto remove names more or less just ends up with an arms race, where people who are trying to squat a name will just start uploading more and more complex packages to trick the auto-remover so that they can successfully squat the name.

[2018-05-24 09:56] emesik commented on #2859
And the best tactic in arms race is to give up immediately?

[2018-05-24 11:19] anowlcalledjosh commented on #2859
Sure, I didn't particularly expect (or necessarily want) an automated process – I think what I was really asking was which one of these is the plan for dealing with name-squatting packages:

- they're removed without being reassigned to a new maintainer if they have had no functionality for a sufficient time (assuming someone points it out, e.g. this issue)
- they're removed only when someone else

[2018-05-24 11:59] pradyunsg opened #4074 "XMLRPC search fails when there's an empty summary"
**Describe the bug**
A package with an empty summary causes the XMLRPC request for `search` to fail. One such package is [`pam`](https://pypi.org/project/pam/).

**Expected behavior**
The XMLRPC request should not fail.

**To Reproduce**
Run the following script on any Python 3 interpreter:

[code]

You would get a traceback like:

[code]

**My Platform**
Not relevant.

**Additional context**
From

[2018-05-24 12:02] pradyunsg commented on #4074
/cc @toke @jhermann

[2018-05-24 12:42] jhermann commented on #4074
The (likely) fix:

[code]
Possibly ``getattr(r, 'summary', None) or ''`` instead, to ensure that a string is delivered in any case.

[2018-05-24 13:02] SabaKauser opened #4075 ""How to mark a release as newest in pypi""
Hello,
I am owner of ibm_db package that is available here -> https://pypi.org/project/ibm_db/2.0.8/
I had made a new release 2.0.8a that I was thinking to be picked as latest according to timestamp. However, pypi seem to have naming convention according to which it is considered pre-release.
I do not plan to make a new release with new name as I do not have any functional new development and henc

[2018-05-24 18:21] dwighthubbard commented on #4004
Organizations may register packages for their organization namespace so public users don't accidentally create packages that conflict with the packages in their internal private repos.

The packages on the public repos would then be empty, but it doesn't mean that they are unused.

It would be useful to have a way to determine this is the case, vs someone grabbed the name and never used it however

[2018-05-24 19:16] dstufft commented on #4075
PyPI (and pip, etc) follow PEP 440, which sees 2.0.8a as an alpha release. There's not a way to rename the version and deleting ``2.0.8`` won't make ``2.0.8a`` be seen as the latest. You'll need to release something ``2.0.9`` os similar.

[2018-05-24 19:16] #4075 closed

[2018-05-25 02:34] asmacdo commented on #284
POC is up #4078, I'm using this etherpad to document design proposal.

I did my best to incorporate the ideas discussed here, as well as in person discussions at pycon. I've set aside some time to keep working on this, so all feedback is welcome.

[2018-05-25 10:11] fake-name opened #4079 "`long_description_content_type` flag in setup.py seems to be ignored on upload."
**Describe the bug**
I have a python package on PyPi that just (as of the last ~4-5 days) now fails to upload, with a new error:

[code]

Ok, that's clear enough. My readme is in markdown, let's see how to fix this.

Going to https://packaging.python.org/tutorials/packaging-projects/#description, it states you can add `long_description_content_type="text/markdown",` to your `setup.py` file, and it

[2018-05-25 10:17] fake-name commented on #4079
Note. https://pypi.org/help/#description-content-type also claims you can use other formats, but after installing `readme_renderer`, local checking appears to fail (?):

[code]

[2018-05-25 11:07] jamadden commented on #4079
You might try using the latest version of [twine](https://pypi.org/project/twine/) to handle the upload.

[2018-05-25 13:14] mfrasca commented on #1506
could it be, that the list is short, because not many people are aware of this possibility?

[2018-05-25 13:29] mfrasca opened #4081 "Claim package `fibra`"
- the [most recent pypi release of `fibra`](https://pypi.org/project/fibra/) is from 2009,
- `fibra` does not run in Python3
- the author put [`fibra` on github](https://github.com/simonwittber/fibra/). however, that project has only one commit, from 2011,

- I have reconstructed history in [a separate fibra repository](https://github.com/mfrasca/fibra/),
- I made a start at porting fibra to pytho

[2018-05-25 13:43] jamadden commented on #4081
This would fall under the umbrella of [PEP 541](https://www.python.org/dev/peps/pep-0541/), I think. The Warehouse admins are currently working on the tooling necessary to support that, so there's a backlog that's waiting to be processed.

In the meantime, there are several steps the PEP outlines that [have to be completed](https://www.python.org/dev/peps/pep-0541/#continued-maintenance-of-an-aban

[2018-05-25 14:50] funkybob opened #4082 "Claim package name 'paws'"
Warehouse shows "Last released: Aug 19, 2012"

It has only one release, v0.0

pip reports:
  Could not find a version that satisfies the requirement paws (from versions: )
No matching distribution found for paws

[2018-05-25 15:51] jamadden commented on #4082
This would fall under the umbrella of [PEP 541](https://www.python.org/dev/peps/pep-0541/), I think. The Warehouse admins are currently working on the tooling necessary to support that, so there's a backlog that's waiting to be processed.

In the meantime, there are several steps the PEP outlines that [have to be completed](https://www.python.org/dev/peps/pep-0541/#continued-maintenance-of-an-aban

[2018-05-25 20:43] mfrasca commented on #4081
never mind, author is alive and well, and he added me to the maintainers.

[2018-05-25 20:43] #4081 closed

[2018-05-26 11:41] tomdottom commented on #3831
@nixjdm I was wondering how work was going on this feature?

[2018-05-27 01:02] asottile commented on #4046
while possible, and I think an improvement -- I no longer need this

[2018-05-27 01:02] #4046 closed

[2018-05-27 01:50] ncoghlan opened #4087 "API endpoint notification page not showing on test.pypi.org"
While investigating https://github.com/pypa/packaging-problems/issues/155 I found that while https://upload.pypi.org/legacy/ is showing the custom "API Endpoint" page from https://github.com/pypa/warehouse/pull/2408 as expected, https://test.pypi.org/legacy/ is showing the regular 404 error page.

[2018-05-27 20:17] funkybob commented on #4082
I've attempted to contact the maintainer, and will wait the 6 weeks as per the PEP.

However, I believe this package falls under the category of "Invalid Project", as per the clause:

- project is name squatting (package has no functionality or is empty);

[2018-05-27 23:07] gtalarico commented on #3438
I was having a similar issue, package kept getting rejected for invalid long_desc (was in markdown and text/markdown was specified in setup.py)
running `pip install --upgrade setuptools wheel`
solved it for me.

[2018-05-28 06:34] faltsi opened #4089 "Need for file size limit increase"
We are planning initial release for Qt for Python, but unfortunately our wheels are a bit bigger than allowed to be uploaded to pypi.org. The project name in test.pypi.org is PySide2 and it will be the same in pypi.org. At the moment there are no Pyside2 packages in pypi.org only in test.pypi.org, while I try to avoid uploading any dummy packages and I was hoping that you could allow as to exceed

[2018-05-28 11:36] timgraham opened #4090 "Request trove classifier: Django 2.1"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `'Framework :: Django :: 2.1'`

## Why do you want to add this classifier?

Django 2.1 alpha is now released.

[2018-05-29 01:58] jstaf commented on #4079
@jamadden Nope, it's definitely broken with the latest twine/uploading a wheel first.

I think the issue is caused by a bug in https://github.com/pypa/readme_renderer - it's exiting with an error when it checks packages with a markdown readme (when it should not):
[code]

[2018-05-29 02:14] theacodes commented on #4079
I actually think this is due to #3980, I'll investigate now. Thank you for finding this!

[2018-05-29 02:18] jstaf commented on #4079
@theacodes - No worries! And yeah, that does seem more likely: it matches the timeframe of @fake-name 's original issue much more closely.

[2018-05-29 02:46] theacodes commented on #4079
@fake-name I can't reproduce this. See https://test.pypi.org/project/WebRequest/. I'm using setuptools 39.2.0 and twine 1.11.0.

If you wouldn't mind uploading your wheel and sdist somewhere else, I'd love to take a look.

[2018-05-29 02:47] theacodes commented on #4079
Also I see you tried using `python3 setup.py sdist upload`, please try with Twine.

[2018-05-29 04:07] theacodes commented on #4079
Gotcha. Makes sense. Shall we close this?

On Mon, May 28, 2018, 8:23 PM Jeff Stafford <notifications@github.com>
wrote:

[2018-05-29 04:10] jstaf commented on #4079
Go for it! (also thanks for looking into this!)

[2018-05-29 04:29] fake-name commented on #4079
[code]

Still fails at my end. I manually updated wheel, setuptools was already up-to-date (Setuptools 39.2.0, wheel 0.31.1).

Twine is failing:

[code]

let me fix that, and see if it was relevant.

[2018-05-29 11:11] greyli commented on #3438
@di It seems that the issue still exists after [pypa/wheel#232](https://github.com/pypa/wheel/pull/232) released. I upload the package with `twine upload dist/*` but only wheel upload success.

[2018-05-29 11:29] greyli commented on #4079
Having the same issue. I have all requirements updated:
[code]
setup.py:
[code]
PKG_INFO:
[code]

Here is the error output when upload:
[code]
Any idea? It seems that only the wheel file (`.whl`) can be uploaded successful.

[2018-05-29 12:25] drydenp opened #4097 ""aws" package on pip confusing"
It's a little bit annoying that there exists an "aws" package which is obviously then not "awscli" but I only noticed that after I had spent half an hour trying to get it running ;-).

pip(3) install aws -- will install a python2 package that will subsequently not run, and pip(2) install aws -- will install a version that requires an older version of fabric, and which will subsequently also not ru

[2018-05-29 12:38] jamadden commented on #4097
Thanks for your report!

This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages distributed or installed from there. For that, you'll need to contact the maintainers of the project. (There is [already an issue open](https://github.com/eofs/aws/issues/2).)

There are certain circumstances, [outlined in PEP 541](https://www.python.org/dev/peps/pep-0

[2018-05-29 12:46] funkybob commented on #4082
I got a reply from the original owner, who has graciously granted me ownership of the package.

[2018-05-29 12:46] #4082 closed

[2018-05-29 15:47] theacodes commented on #4079
Can you send over your sdist? I'd like to take a look at it.

[2018-05-29 20:03] ocefpaf commented on #4079
Just to provide another data point, Travis-CI auto deployment is also broken when using Markdown READMEs.

Here is the [setup.py](https://github.com/pyoceans/erddapy/blob/master/setup.py#L27-L28) and as Travis-CI is using `twine-1.11.0` and `wheel-0.31.1`, see  https://travis-ci.org/pyoceans/erddapy/jobs/385360404#L1666.

The error message:

[code]

makes me think that something somewhere is ignor

[2018-05-29 20:16] rpkilby commented on #4079
`long_description_content_type` works with `twine`, but seems to have no effect when using `setuptools`.

Works:
- `setup.py` contains `long_description_content_type='text/markdown',`
- `setup.py bdist_wheel` (`sdist` also works)
- `twine upload -r test dist/*`

Does not work:
- `setup.py` contains `long_description_content_type='text/markdown',`
- `setup.py bdist_wheel upload -r test`

Pacakges:

[2018-05-29 20:28] ocefpaf commented on #4079
@rpkilby based on your message I guess that Travis-CU is using `setup.py bdist_wheel upload` :-/

I'm trying to find the proper channel there to file an issue but it would be nice if `setup.py sdist/bdist_wheel upload` worked too until we all make the transition to `twine`.

[2018-05-29 20:34] theacodes commented on #4079
We're reverting this behavior in #4099, hang tight.

[2018-05-30 00:32] fake-name commented on #4007
Note that some of the headers they say are useless are actually important in some cases. There's a decent discussion on hacker news [here](https://news.ycombinator.com/item?id=17074721).

The idea is good, but fastly's list is relatively overbroad, and if pypi is using a CDN applying their rules might actually break things.

[2018-05-30 02:40] dstufft commented on #4007
Our CDN is Fastly :)

[2018-05-30 02:40] randomir commented on #4028
`warehouse` fails with the same error also when searching for `sqlite` (in addition to `coverage` and `config`). It works for `sqlit`/`sqlite2`/`coverag`/`conf`/`configg`/etc.

But, what's **interesting**, it's failing only for those keywords used in `name` XML-RPC param, not in `summary`.

So, calling `search` RPC method (`POST` to `https://pypi.org/pypi`) with `name, summary = 'coverag', 'covera

[2018-05-30 02:48] randomir commented on #4028
Another data point: no error when using `and` operator, instead of `or`.

[2018-05-30 02:57] fake-name commented on #4007
Well, that is somewhat helpful.

[2018-05-30 03:34] randomir commented on #4028
Also, I can **not reproduce this bug on a fresh docker container**, initialized as described here: https://warehouse.readthedocs.io/development/getting-started/.

Sorry, you'll have to trace it on your (prod) system.

But looks like caching could have something to do with this.

[2018-05-30 07:50] iportillo opened #4102 "File size limit exemption for package itur"
Hello,

I am trying to upload a new version of [itur](https://pypi.org/project/itur/), a package that implements the recommendations of the [International Telecommunications Union](https://www.itu.int/rec/R-REC-P/en) (ITU-R) to compute the atmospheric attenuation suffered by a satellite.

The recommendations include a large number of text files (whicht are an integral part of the recommendations)

[2018-05-31 01:33] #3985 closed

[2018-05-31 03:16] hkvision opened #4109 "Can't pip install after uploading to pypi"
I uploaded `analytics-zoo` to pypi using twine yesterday: https://pypi.org/project/analytics-zoo/
But if I use `pip install analytics-zoo`, it will say no distribution found:
[code]
Can anyone help on this? Thanks.

[2018-05-31 13:50] guettli commented on #474
thinking in sets.

[2018-05-31 16:10] loganasherjones opened #4110 "Request trove classifier: Beer Garden"
Request to add a new Trove classifier. I actually have two classifiers that I would like to add.

## The name of the classifier you would like to add

* `Framework :: Beer Garden`
* `Framework :: Beer Garden :: Plugins`

## Why do you want to add this classifier?

**Justification:** I have new framework called Beer Garden. You can [view the documentation here](https://beer-garden.io/) for a full l

[2018-05-31 17:04] rpkilby opened #4111 ""Framework :: tox" trove classifier not included in filters"
**Describe the bug**
`Framework :: tox` is listed as a trove classifier [here](https://pypi.org/pypi?%3Aaction=list_classifiers), but is not included in the "By Framework" search filter. Directly modifying the query string does not return results either.

**Expected behavior**
- `tox` should be listed in the framework search filter.
- Filtering with `Framework :: tox` should return tox-related res

[2018-05-31 17:14] di commented on #4111
This is because there are no projects using this classifier yet (it is relatively new). We don't show unused classifiers in the search tree.

By the way, you might be interested in using the classifier list at https://pypi.org/classifiers/ instead, it will link directly to the search results for a given classifier.

[2018-05-31 17:14] #4111 closed

[2018-05-31 17:18] rpkilby commented on #4111
Thanks. I saw the classifier in tox's own `setup.py` and assumed it was already in use.

[2018-05-31 17:21] di commented on #4111
That classifier was [added on April 28th](https://github.com/tox-dev/tox/commit/053dcf5d72f2beea20fcecbc658aef5fe5e5b5b8),  but the [most recent tox release was on April 2nd](https://pypi.org/project/tox/3.0.0/).

[2018-06-01 16:57] sidgurun opened #4113 "Increase in the project size."
Hello,

I am trying to upload a new version of LyaRT;Grid, a package that enables astrophysicist to get the Lyman alpha line properties including a complex radiative transfer treatment in a fast and simple way.

This package uses several machine learning and interpolation algorithms in order to infer the physical properties of Lyman alpha emission lines. The grids and machine learning trained algo

[2018-06-01 18:58] zooba opened #4114 "Don't block reuploads of a file based solely on the hash"
**What's the problem this feature will solve?**
Because pip resolves wheel platforms by filename, occasionally you want to upload the same wheel under different platforms. For example, a wheel that will only work on Windows (regardless of 32/64-bitness) has to be provided in both `...-win32.whl` and `...-win_amd64.whl` variants.

Warehouse currently uses the contents of the file (apparently?) to c

[2018-06-01 19:28] dstufft commented on #4114
I think if you’re changing the wheel file name, you should also be changing the metadata inside of the wheel which would change the hash. Is that not what you’re doing? If not is there a reason?

Sent from my iPhone

[2018-06-01 20:10] zooba commented on #4114
That's our workaround, but since we're only building a single wheel (with multiple ABI-tagged extension modules in it) it has to be done manually.

[2018-06-01 20:38] dstufft commented on #4114
But the platform tags that you’re changing are also part of the wheel metadata. So if you’re changing the file name you should also be updating those files anyways. It the WHEEL file iirc

Sent from my iPhone

[2018-06-01 21:31] zooba commented on #4114
Except the platform really is "multiple platforms" (specifically, it's "either win32 or win_amd64"). No installation tools are able to resolve a dual-purpose tag like this, so we use two files to help them out, but the installed wheel is identical and has no platform.

[2018-06-01 21:56] njsmith commented on #4114
@zooba In case it's not clear -- what Donald's pointing out is that the platform tag is listed twice: once in the wheel filename, and once in a special metadata file inside the wheel, and the two copies of this metadata are supposed to match. Some tools only look at the filename, so you can get away with having a mismatch -- in particular I think pip currently looks only at the filename. But in th

[2018-06-01 22:54] zooba commented on #4114
It was clear, but you're right that a compressed tag will work for my current case. Funny how I knew about that for the Python version, but it hadn't clicked that it works for all the parts.

So that deals with my current problem, but I still think Warehouse shouldn't be blocking reuploads of a file based solely on the hash. If there's a good reason then I'm happy to hear it and leave alone, but i

[2018-06-01 23:09] dstufft commented on #4114
The reason is basically to allow content addressable files-- I don't think we're currently using that today, but it leaves it open to do so in the future. Allowing file uploads for the same hash blocks that off completely-- so we could do it, but we'd have to decide we're never going to want that if we do.

[2018-06-01 23:12] dstufft commented on #4114
FTR it appears your wheels are slightly invalid right now, you have a wheel named ``ptvsd-4.1.1a1-py3-none-win32.whl``, but the internal metadata says ``Tag: py3-none-any``, so that's a mismatch between the two values which should be the same. Potentially pip should start at least warning in this case, if not erroring because the metadata is effectively broken here.

[2018-06-01 23:36] zooba commented on #4114
How does it block it off? Wouldn't you just be allowing using the hash as the filename? Or are you thinking more of a reverse search where you can map back to the original filename (in which case, why not map back to multiple?)

[2018-06-01 23:36] zooba commented on #4114
Watch for the next update ;)

[2018-06-01 23:54] bhaskar-nair2 opened #4117 "Provide default value to math.pow()"
The basic math lib has-
`math.pow(x,y)`
But in practice, if a developer does not specify the value of y, can we not make it 2 by default, thus making the function
`math.pow(x,y=2)`

This is will make the function more convenient to use because if the developer has not specified a power inside a power function, then he probably was just squaring the value.

---

**Good First Issue**: This issue is

[2018-06-02 00:43] ewdurbin commented on #4117
Hi @bhaskar-nair2! this issue tracker is for issues relating to https://pypi.org.

Your issue appears to be related to the standard library's [`math.pow`](https://docs.python.org/3/library/math.html#math.pow) function.

If you'd like to file this issue with the Python language itself, https://bugs.python.org would be a better place for such a report.

[2018-06-02 00:43] #4117 closed

[2018-06-02 07:40] powens commented on #3559
I can work on this. Although I'm not super familiar with accessibility-related things.

Would the expected behavior be that the first filter in the list is focused? For the example in the screenshot, would the button for `By Framework` be focused?

In the case that the filter tray is hidden, should the focus go back to the `Add Filter` button?

[2018-06-02 12:36] webknjaz commented on #4113
Dup #4089

[2018-06-02 12:44] webknjaz opened #4118 "Visually mark pre-release versions in "Release history" view"
**What's the problem this feature will solve?**

Identifying whether the version in list is going to be installed by `pip` without `--pre` CLI arg.

**Describe the solution you'd like**

Some label/badge next to version title in different color with text like `pre-release` or `pre`.

**Additional context**

When you look at https://pypi.org/project/aiohttp/3.3.0a0/#history it's impossible to visua

[2018-06-02 17:31] di commented on #4056
This is essentially a duplicate of https://github.com/pypa/warehouse/issues/726.

[2018-06-02 17:39] webknjaz commented on #4056
Oh, I didn't realize that. Should I copy this use case over to that issue?

[2018-06-02 17:48] di commented on #4056
I think that issue mostly captures what you're asking for here, but feel free to chime in if you think there's something else that hasn't been considered.

[2018-06-03 21:28] heuer opened #4121 "Transfer abdonned project PyQRCode - PEP-541"
PyQRCode seems to be unmaintained.

I contributed code two years ago and I like to take over the project since all requests (email and issue reports) to the current owner end up in nothing.

See <https://github.com/mnooner256/pyqrcode/issues/52>
My fork: <https://github.com/heuer/pyqrcode/tree/develop>

My PyPi-Account: heuer

Thanks a lot.

[2018-06-04 20:27] nsheff commented on #1506
Ah, perfect! sorry to hijack the thread.

[2018-06-05 00:48] jaraco opened #4123 "Remove invalid project 'path'"
In [sourceforge 633](https://sourceforge.net/p/pypi/support-requests/633/), I made a claim to the `path` name in PyPI.

This request is a similar one, but based on PEP-541. The project is invalid as it is a squatting package with no uploads.

[2018-06-05 19:37] brainwane commented on #201
Speaking for [the Econ-Ark folks](http://econ-ark.org/) -- we'd like this too.

[2018-06-05 23:19] cefn opened #4131 "Reporting issues with malicious PyPI packages"
Hi there,

I struggled to find a link to report an issue with a PyPI project.

I independently investigated the files of the package linked below and found this package not to be apparently malicious, but it doesn't run (setup.py is incorrectly configured so running tkwriter immediately fails) and it points to a github repository which is not its own, indicating that it has thousands of stars of a

[2018-06-06 16:31] frmdstryr commented on #4079
A package I originally uploaded with no content type set, and then attempted to change to markdown is  by adding `long_description_content_type="text/markdown"` is also not working.

Is it possible to change the content type for an existing package?

[2018-06-06 16:41] di commented on #4079
Hi @frmdstryr, it's not possible to change anything about a published package -- they are essentially immutable.

It's likely that you have an out-of-date version of either `twine`, `wheel` or `setuptools` which cannot interpret this new metadata field. You can upgrade them all with:

[code]

Once you do that, you can either increment the version number and make a new release, or make a [post rele

[2018-06-06 16:52] frmdstryr commented on #4079
Sorry, by existing I meant the package was originally uploaded without a content type set, it was a new release with an incremented version number.

Also setuptools and twine are already up to date

[code]

[2018-06-06 16:56] di commented on #4079
@frmdstryr Can you share a link to the release in question?

[2018-06-06 16:58] frmdstryr commented on #4079
https://pypi.org/project/enaml-native-cli/

[2018-06-06 17:06] frmdstryr commented on #4079
Ok, now it is working, thanks for the help. It appears just updating twine didn't also upgrade wheel.

[2018-06-06 17:21] aha opened #4135 "No access to sign-up email anymore. How to proceed?"
Hi. I'm coming here from the https://pypi.org/help/ page. I don't have access to the email address I used to signup on PyPi anymore. How do I properly reset my password and change the email address?

[2018-06-06 18:26] AMDmi3 commented on #347
It doesn't look suitable - I see no means to bulk get information on all projects. The closest `search` endpoint returns right information, but it's only possible to request packages page by page and maximal page size is 100 items, which, given API rate limit of 60 requests/minute and PyPi size of >136k packages gives us more than 20 minutes needed to get all the data - this is too much. There are

[2018-06-06 18:57] aha commented on #4135
@di Thanks very much for the quick support. Works fine now.

[2018-06-06 18:57] #4135 closed

[2018-06-07 03:13] TitanSnow opened #4137 "font-weight 300 is too light to read"
https://github.com/pypa/warehouse/blob/e1f61c6bb1f84bd3ec35aed765765fc28caaf069/warehouse/static/sass/settings/_fonts.scss#L35
https://github.com/pypa/warehouse/blob/e1f61c6bb1f84bd3ec35aed765765fc28caaf069/warehouse/static/sass/settings/_fonts.scss#L17

The `$base-font-weight` is set to 300. For "Source Sans Pro", it means "Source Sans Pro ExtraLight", which is too light to read the text comforta

[2018-06-07 09:10] konstin commented on #3285
It would be very valuable if any rendering error would at least be reported in the history tab; Currently it's hard to understand why the project description is suddenly displayed in plain text instead of rst.

[2018-06-07 16:44] toddrme2178 commented on #1944
I have run into several packages that I can't seem to find the correct wheel downloads for.  I am not sure whether I am using the pattern wrong or the files aren't available for some other reason.  The following don't exist:

   * [coverage-config-reload-plugin 0.2](https://pypi.org/project/coverage-config-reload-plugin/0.2/) - [`https://files.pythonhosted.org/packages/py2.py3/c/coverage-config-re

[2018-06-07 17:02] di commented on #1944
You've got some issues with the `python_tag` for these ones:

[code]

[code]

The version in the filename is wrong for this one:

[code]

[2018-06-07 18:00] toddrme2178 commented on #1944
Thank you!

[2018-06-07 21:38] betodealmeida opened #4140 "Continued maintenance of abandoned project "rison""
The [rison](https://pypi.org/project/rison/) package is a decoder for the Rison serialization format (similar to JSON, but optimized for URIs). It was last updated in 2010, the homepage and downloadable links are 404, and the author can't be reached through the listed email address. I actually was able to contact them through a different email address, and they told me (1) they no longer have acce

[2018-06-08 15:11] justengel opened #4144 "Add a one time username change."
**What's the problem this feature will solve?**
Users cannot change their username. Creating a new user will make the new username lose access and a reference to the packages that a user has created and maintained.

**Describe the solution you'd like**
Add a link on the pypi website under Account Settings to change a users username or send an email to someone who will allow the user to change thei

[2018-06-08 15:16] di commented on #4144
Thanks for the feature request! This is a duplicate of #1190.

[2018-06-08 15:16] #4144 closed

[2018-06-08 15:21] justengel commented on #4144
I should have guessed. Sorry. PyPi says that the username "cannot be changed" on the page. I thought that meant it was a specific long term decision. Thank you for pointing me to #1190

[2018-06-09 00:30] rpkilby commented on #4079
Just to reiterate the current status of the issue - twine works, but setuptools still doesn't.

Has #4099 been deployed, or did the reversion not fix the issue?

[2018-06-09 03:36] Kautenja opened #4149 "long_description broken when uploading wheel"
**Describe the bug**

I'm seeing broken descriptions when releasing new wheels made with the latest version of wheel. I had been using twine to upload, but using `python setup.py bdist_wheel upload` produces the same problem. I can get the long description to render when I upload the raw source only (`python setup.py sdist upload`), but when I switch to uploading the wheel, the long description br

[2018-06-09 03:49] di commented on #4149
@Kautenja Can you link to the projects with broken descriptions?

Twine should be working, but distutils (`python setup.py upload`) doesn't support Metadata 2.1, so if you want to use a Markdown description, you must use twine to upload.

[2018-06-09 03:51] di commented on #4079
@rpkilby Distutils doesn't support Metadata 2.1, so if you're uploading via `python setup.py upload` the `long_description_content_type` field won't be included.

[2018-06-09 04:00] Kautenja commented on #4149
Yes the projects are https://pypi.org/project/gym-tetris/ and https://pypi.org/project/gym-super-mario-bros/

Oddly, after revisiting the projects, it appears that the offending line is actually trying to upload _both_ source and wheel, causing the failure to render long_description:

[code]

uploading _just_ the source or _just_ the wheel using either of the below commands works as expected with

[2018-06-09 06:44] GerBreOwn opened #4150 "pythonhosted.org has outdated files"
I am trying to use pip install django2.0.6 and it goes to files.pythonhosted.org which has as the latest django1.11.13
How can I make it download/install from PyPi instead of pythonhosted.org?
Thanks

**Describe the bug**
OLD versions are being downloaded

**Expected behavior**

I expect the LATEST version to be downloaded

**To Reproduce**

pip install django or pip install django-2.0.6  always g

[2018-06-09 11:02] jamadden commented on #4150
By visiting https://pypi.org/project/django and clicking on 'download files' we can see that the latest files for 2.0.6 are indeed hosted on files.pythonhosted.org, for example https://files.pythonhosted.org/packages/08/2b/a6a12fa67a9d52a8f5ef929337165dcc5842a4461a87fec94eb6345fed57/Django-2.0.6.tar.gz

But we can also see in the 'Meta' section that django 2.0.6 "Requires: Python >=3.4". If you're

[2018-06-09 14:28] ewdurbin commented on #4150
😅 whoops

[2018-06-10 08:05] GerBreOwn commented on #4150
You are correct that my python version was the **OLD** 2.7 version of Python.  I found an article to alias my version to 3.6.5, which I did, however I am still getting the same error.  See the following:

 python -V
Python 3.6.5
(simonproj) gerald@gerald-HP-Linux-Mint /media/gerald/Projects/simonproj $ pip install -r requirements.txt
Collecting django (from -r requirements.txt (line 1))
  Using ca

[2018-06-10 11:53] jamadden commented on #4150
Just because you have the `python` command "aliased" does not mean that the `pip` command is similarly "aliased." You would typically need to be in a [virtual environment](http://docs.python-guide.org/en/latest/dev/virtualenvs/) for that to be true.

Instead of `pip ...` you might try `python -m pip ...`. That way you can be reasonably sure that the version of Python running pip is what you expect

[2018-06-10 14:54] sidgurun commented on #4113
Hello,

How much time does it take the expansion of the limit for projects?

[2018-06-11 07:02] hugovk opened #4153 "Use new Bitbucket logo"
**Describe the bug**
Atlassian updated their logos last September to be more abstract. The old Bitbucket logo is used for homepage links on PyPI.

**To Reproduce**
1. Visit a project whose homepage is on Bitbucket (eg. https://pypi.org/project/pager/)
2. Check the logo

**Actual behavior**

The logo is the old Bitbucket logo:

![image](https://user-images.githubusercontent.com/1324225/41216723-254

[2018-06-11 08:10] hugovk opened #4154 "GitHub statistics: separate thousands"
**Describe the bug**
Numbers in GitHub statistics over 999 should have thousands separated.

**To Reproduce**
1. Visit a project with GH stats over 999.
Examples:
* https://pypi.org/project/colorama/
* https://pypi.org/project/cryptography/
* https://pypi.org/project/pytest/

**Actual behavior**

Numbers over 999 don't have separated thousands.

![image](https://user-images.githubusercontent.com/1

[2018-06-11 08:57] pradyunsg commented on #4028
Also: https://github.com/pypa/pip/issues/5435

[2018-06-11 09:01] pradyunsg commented on #4074
Closing in favor of #4028

[2018-06-11 09:01] #4074 closed

[2018-06-11 19:29] rpkilby commented on #4079
@di Gotcha - I didn't realize that this wasn't handled by setuptools. Is there no way for setuptools to extend the metadata support provided by distutils?

[2018-06-11 20:11] di commented on #4079
@rpkilby Technically it might be possible, I'm not familiar enough with distutils/setuptools to say for sure that it would be. I suspect that it would likely require re-implementing large chunks of the `upload` command in setuptools.

However this is essentially what twine is (it's just not part of setuptools). So doing so would be a large duplication of effort for not a whole lot of benefit.

The

[2018-06-12 03:15] spencebeecher opened #4157 "Transfer of project bootstrapped"
bootstrapped is an open source project that I maintain on github: https://github.com/facebookincubator/bootstrapped/

Thomas Grainger did me a kindness and uploaded bootstrapped to pypi to make is more accessible for all.

Now I am having trouble getting into contact with Thomas (I have sent a couple of emails) and I have some issues stacking up on the project (namely that it is broken on pypi): h

[2018-06-12 08:52] kinkerl opened #4158 "Trove Classifier Request: django cms"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Django CMS`
* `Framework :: Django CMS :: 3.4` which is an LTS
* `Framework :: Django CMS :: 3.5` latest
* `Framework :: Django CMS :: 3.6` upcoming

## Why do you want to add this classifier?
django cms has a plugin ecosystem and it would make it easier for plugin creators to lable the com

[2018-06-12 22:34] muellert opened #4159 "homepage links for yaml_1.2 and yaml-1.3 are broken"
They do not resolve, or point to discontinued repositories.

[2018-06-13 10:08] mingxiaoh opened #4163 "why I cannot manage my project on PYPI suddenly?"
I can manage my project"ideep4py" this morning, but now I cannot manage it anymore, the "manage" button turns to "gray" on "https://pypi.org/manage/projects/". Besides, uploading a new file right after deleting an old file will always report "reuse name" issue. But if we wait for a long time(maybe one or two hours) to upload new file, it will work ok.

[2018-06-13 13:19] ncoghlan opened #4164 "Handle security implications of PEP 561 type hinting packages"
The mypy devs are working on a feature that allows automatic discovery and downloading of project interface stubs by appending a suffix to existing projects (in the form of `<name>-stubs`): https://www.python.org/dev/peps/pep-0561/#stub-only-packages

(see https://lwn.net/SubscriberLink/757218/a7b754a41ad74a49/ for more background)

A version of this is already implemented in mypy, which means tha

[2018-06-13 13:37] di commented on #4163
@mingxiaoh You have the "Maintainer" role for this project, which means that you can only upload releases for a package. It looks like your role was changed by the `Intel-MLT` owner on 2018-02-05 -- you should take this up with your team if that's incorrect.

With regards to uploading/deleting, please be aware that once a given file or filename has been uploaded to PyPI, it cannot be uploaded agai

[2018-06-13 13:37] #4163 closed

[2018-06-13 13:52] mingxiaoh opened #4165 "classifer for Intel avx2 and Intel avx512"
hello, we would like to differ instructions types, specifically, due to the fact that a package built on Intel avx2 cannot work on Intel avx512, and vice versa, so we need to upload different packages(one is for Intel avx2, another is for Intel avx512). Is it possible that you help add such a classifier? Thanks in advance.

[2018-06-13 22:16] iportillo commented on #4102
Hi, I just wanted to check what's the status of this request?

Thanks for your help,
Inigo

[2018-06-14 05:18] Kautenja commented on #4149
After publishing a new release just now (`python setup.py bdist_wheel && twine upload dist/*`) for https://pypi.org/project/gym-tetris/, it appears rendering of `long_description` has randomly stopped working again.

[2018-06-14 10:47] mingxiaoh opened #4172 "get a file size limit exemption or increase for our projects"
Hello, would you please help increase the limit for our projects? Thanks in advance.
The name of the project: "ideep4py" and "ideep4py_avx2"
The size of your release, in megabytes: about 90MB per file.
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both

[2018-06-14 11:56] ewdurbin commented on #4153
Looks like we need to update to a newer version of "Font Awesome" and we'll get an updated logo.

[2018-06-14 14:14] ACCarnall opened #4174 "File size limit increase for bagpipes"
I'd like to distribute a piece of astronomical software through PyPI, but it includes a large data table which is > 60MB, would it be possible to get the size limit for this project increased?

The name of the project: bagpipes
The size of your release, in megabytes: 210
Which index/indexes you need the increase for: PyPI

[2018-06-14 15:48] di commented on #4149
@Kautenja The `.whl` distribution for `gym-tetris==1.2.0` was built with `wheel==0.30.0`.

[code]

You need to use `wheel>=0.31.0` here, versions before that do not support Metadata 2.1.

[2018-06-14 20:14] cjw296 opened #4177 "travis deployment succeeded but package doesn't show on pypi.org"
**Describe the bug**
My release job successfully deployed as per the [Travis deploy-to-pypi stuff](https://github.com/Simplistix/testfixtures/blob/master/.travis.yml#L57-L66):

https://travis-ci.org/Simplistix/testfixtures/jobs/392417795#L890-L896

**Expected behavior**

The testfixtures 6.2.0 relesae to show up here: https://pypi.org/project/testfixtures/

**To Reproduce**

See travis job output

[2018-06-14 20:30] ewdurbin commented on #4177
Logs for upload don't show any issues, but there's no record of the purge tasks being enqueued or executed. This appears to be a bug on the warehouse side for sure.

[2018-06-14 20:35] ewdurbin commented on #4177
@cjw296 I manually issued purge tasks and now the project page and simple index for testfixtures show your most recent releases.

we're going to have to investigate this a bit more closely. do you mind if I close this issue and open a new one in it's place that is more general?

[2018-06-14 20:40] ewdurbin commented on #4150
@GerBreOwn any luck here?

[2018-06-14 20:50] jaraco opened #4178 "pbkdf2-ctypes missing from simple index"
The pbkdf2-ctypes package clearly has an [entry for 0.99.4](https://pypi.org/project/pbkdf2-ctypes/0.99.4/). And if one clicks on the Download link, it does lead to a downloadable file. But that latest version is mysteriously missing from [the simple index](https://pypi.org/simple/pbkdf2-ctypes/).

Why would that be? Can it be repaired?

[2018-06-14 20:52] ewdurbin commented on #4178
@jaraco there's no indication in the journal that a distribution was uploaded.

<img width="989" alt="screen shot 2018-06-14 at 4 52 18 pm" src="https://user-images.githubusercontent.com/1200832/41437763-5efb6e26-6ff3-11e8-88ab-a04b2f133dee.png">

[2018-06-14 20:54] ewdurbin commented on #4178
The download link is from the Metadata set on the release:

[code]

[2018-06-14 20:55] jaraco commented on #4178
aah. Got it. Thanks. I'll go to the package to see if I can convince them to upload a release.

[2018-06-14 20:55] #4178 closed

[2018-06-15 00:44] Kautenja commented on #4149
It seems that the issue has resolved itself. I can now upload both source and wheel without a hitch reliably. Perhaps the version of `wheel` was to blame all along. Closing this issue.

[2018-06-15 00:44] #4149 closed

[2018-06-15 05:47] cjw296 commented on #4177
@ewdurbin - thanks for the amazingly quick response on this! As to what happens with this issue, I'm more than happy for you to tackle however you see fit; closing is fine, but if you just want to re-title and repurpose, that's all good too..

[2018-06-15 09:45] prahladyeri commented on #3356
This is not just an anti-pattern, but an insecure practice too. Every packaging system provides a way to verify whether the package installed on your system is the same binary that the developer packaged and signed off. GPG is _that way_, without that how can you ensure that the packages haven't been tampered with?

[2018-06-15 11:49] #4177 closed

[2018-06-15 11:56] ewdurbin opened #4183 "Purge tasks fail silently on upload"
Investigating #4177, I noted the following symptoms:

- `purge_key` task for `project/{normalized_name}`, `user/{username}`, and `all-projects` purge keys did not appear in worker logs at all
- logs for upload pods showed no sign of error
- sentry showed no sign of error

Two uploads occurred near in time but neither had successful purge tasks, journals:

name | version | date | submitted_by | act

[2018-06-15 19:23] nixjdm commented on #3831
I had to take off from doing this for a while, but it's done, with pending review as a pull request #4184!

[2018-06-16 01:37] randomir commented on #4028
Update: searching for coverage, config, etc. now works.

Bug fixed? What was the problem?

[2018-06-16 01:46] #4028 closed

[2018-06-16 01:49] di commented on #4028
Fixed in https://github.com/pypa/warehouse/pull/4180.

[2018-06-16 01:56] nedbat commented on #4028
@di I'm confused: what is "summary", and why doesn't coverage have one?  Is there something I've left out of the package?

[2018-06-16 03:51] dstufft commented on #4028
Coverage has a summary, it correlates with the ``description`` keyword in ``setup.py``. Not sure why that change would have fixed it.

[2018-06-16 05:39] tirkarthi opened #4188 "Copy to clipboard inserts a leading space"
**Describe the bug**

* Copy to clipboard button to copy the pip install command inserts a leading space

**Expected behavior**

* No leading whitespace while pasting

**To Reproduce**

* Go to a module page
* Click on `pip install foo` with the copy to clipboard button
* Paste it in command line
* See an extra space in front

**My Platform**

* Browser : Firefox nightly, MacOS

**Additional conte

[2018-06-16 15:05] di commented on #4028
Because some of the other results for `pip search coverage` don't have a summary, so it would have resulted in an error for the entire search.

[2018-06-17 00:15] bouthilx opened #4189 "Claim package name 'orion' (squatting)"
Name was claimed on Nov 10, 2010, yet there is no description nor any release. I believe this falls in the category "Invalid project" of [PEP-541](https://www.python.org/dev/peps/pep-0541/).

I tried to contact the owner at the only address available on the PyPi package page, on Apr 20, May 8 and May 30 but did not get any answer back. The same user has other projects which were updated recently (

[2018-06-17 10:41] nateshmbhat commented on #3471
other packages like "webbot" are also not showing up

[2018-06-17 12:33] ewdurbin commented on #3471
@nateshmbhat It appears that webbot's first release occurred within the last couple hours. The indexing task only runs every 3 hours, so new projects take some time to show up in search.

[2018-06-17 12:54] ewdurbin commented on #4153
Resolved.

[2018-06-17 12:54] #4153 closed

[2018-06-17 12:56] hugovk commented on #4153
Thanks, confirmed updated.

[2018-06-17 12:58] ewdurbin commented on #4188
This seems to be specific to Firefox. I was able to reproduce using the current Firefox mainline release, but unable to reproduce on Chrome or Safari (All MacOS).

[2018-06-17 13:13] tirkarthi commented on #4188
Thanks, I can confirm it's a Firefox issue and works fine in Chrome (MacOS).

Thanks

[2018-06-17 19:25] muditjai opened #4192 "Upload failed (403): Invalid or non-existent authentication information."
I am getting

[code]
error while trying to upload my first package.

My .pypirc looks like this
[code]

I tried with both putting username, password in .pypirc and without it, but it always asks for password and then fails.
I'm on windows.

[2018-06-17 22:02] di commented on #4192
Hi @muditjai, sorry you're having problems. Can you confirm that you can log into https://pypi.org with the username/password you're attempting to use?

[2018-06-18 15:10] ewdurbin commented on #4188
should be resolved with #4190, I'm no longer able to reproduce in any browsers I have installed.

[2018-06-18 15:10] #4188 closed

[2018-06-18 15:17] tirkarthi commented on #4188
I too verified the same. Thanks much @ewdurbin .

Thanks

[2018-06-19 01:20] mblayman commented on #4079
I'm bummed that #3980 had to be reverted. 😢  I understand the reasons why and I think it was the right call.

In light of old clients not including the needed metadata, would we be open to fixing this if the process was more opt-in? The original solution ran the extra check if the there was any description data.

If I changed https://github.com/pypa/warehouse/blob/master/warehouse/forklift/legacy.

[2018-06-19 03:05] fake-name commented on #4079
I wonder if it would be possible to do some heurestics, are there structures that are unique to markdown?

[2018-06-19 08:04] scrgiorgio opened #4196 "visuspy"
I'm getting the following error (file-size policy limit):

HTTPError: 400 Client Error: File too large. Limit for project 'visuspy' is 60 MB. See https://pypi.org/help/#file-size-limit for url: https://upload.pypi.org/legacy/

could you increase this limit for visuspy project? I'm expecting file size to be <100MB

[2018-06-19 14:39] #3754 closed

[2018-06-19 15:49] theacodes commented on #4079
I think one good option would be to make `readme-renderer` more gracefully fail, see https://github.com/pypa/readme_renderer/issues/102

[2018-06-19 19:36] di opened #4197 "LocalFileStorage is broken for dev environment"
We have a `LocalFileStorage` class for uploading distributions locally: https://github.com/pypa/warehouse/blob/c3a2393481ab0aa461486664a2ab3137c0bd5e0b/warehouse/packaging/services.py#L24-L36

And we have it configured to be used in development: https://github.com/pypa/warehouse/blob/d1e4b7baad46b4cd2acdf379f0ce361da5ec1b92/dev/environment#L23

However since it's configured to use the `example.com

[2018-06-20 03:18] jennyq opened #4200 "Request for File Size Limit Exemption or Increase for Tendenci"
Hi,

After added python 3 support to our project, we tried to distribute the .whl files along with the .tar.gz file, but encountered "HTTPError: 400 Client Error: File too large. Limit for project 'tendenci' is 60 MB.". Could you please increase the file size limit or exemption (if possible) for the Tendenci project? Thanks!

The name of the project: Tendenci https://github.com/tendenci/tendenci h

[2018-06-20 15:41] chmarr opened #4201 "Remove low quality packages from user 'hassanj'"
Referring to https://pypi.org/user/hassanj/

Most, if not all, of the packages here are output from APIMatic SDK generator, with unrelated or meaningless (and sometimes crude) names.

[2018-06-20 19:05] ethanhs commented on #4164
I should clarify none of this happens automatically. It is my view that it should be up to the user to manage these packages. Mypy simply searches for existing installed packages, and will suggest the user look for `<name>-stubs` in the near future.

However, I do not think this reduces the importance of reserving the `<name>-stubs` names. One suggestion by @ilevkivskyi is to simply register the s

[2018-06-20 19:18] dstufft commented on #4164
I'm not a big fan of the ``<name>-stubs`` convention, for two reasons:

1. Generally plugins of this nature have the "type" first, and the unique name second. So something like ``stubs-<name>``, or even better, ``stubs.<name>`` I think fits in more sanely.
2. I think ``stubs`` to be way too generic of a name to automatically reserve, because "stub" as a concept isn't even remotely close to unique

[2018-06-20 20:41] ethanhs commented on #4164
For 1, I think it is more apt to say the *distribution they are an extension for* goes first. In many ways stub packages are sub distributions, so having the name as a suffix makes a lot more sense to me. For example, we have pytest-{xdist, flake8, mypy, etc}. Furthermore the name is closer to the way one talks about them. "Where can I find numpy stubs?" "oh, numpy-stubs". The closeness to the way

[2018-06-20 20:43] gvanrossum commented on #4164
The reason for not just using inline annotations is that (a) for C code you need stubs anyways, and (b) even for Python code, stubs are (1) more efficient to parse for mypy, and (2) don't require all the code to type check perfectly. (These are all the same reasons why we have typeshed.)

The reason for separate distribution packages is that a different team might be working on the numpy stubs and

[2018-06-20 20:44] gvanrossum commented on #4164
(Looks like Ethan and I responded in parallel -- we didn't read each other's responses.)

[2018-06-21 20:44] marfcg commented on #3172
Sorry for respawning this closed issue, but I'm having a similar problem with an institutional email that is under outlook as well.
The primary e-mail for my PyPi account is from gmail, which is already verified. I've added my institutional e-mail as a secondary address but I'm not receiving the confirmation e-mail there. I've tried the "resend" button without any luck.
I wonder if you are still f

[2018-06-21 20:51] ewdurbin commented on #3172
@marfcg I've checked our email delivery records, and can see two confirmation emails dispatched to what appear to be the address you're referencing.

One at Jun 21, 2018, 8:11:32 PM and another at Jun 21, 2018, 8:25:43 PM (Times UTC).

Based on our visibility the emails were both accepted and delivered.

We're no longer using the mail provider referenced in this issue initially and haven't had any

[2018-06-21 20:52] ewdurbin commented on #3172
As far as managing the referenced package, that permission must be granted to your user name. The Authors field in Metadata does not grant that privilege.

[2018-06-21 21:08] marfcg commented on #3172
Thanks for checking this out so quickly, @ewdurbin
I have just rechecked my e-mail address at fiocruz.br and still no sign of it. Not even on junk/unwanted/trash folders from outlook.

Regarding the package, the user who published it previously (the maintainer) must grant me permission directly?

[2018-06-21 21:11] ewdurbin commented on #3172
@marfcg, yes the existing maintainer must grant your user `marcfg` on PyPI Maintainer or Owner role via the management UI on pypi.org

I’ll email you directly to debug your email deliverability issues further.

[2018-06-22 01:32] draik opened #4214 "Claim Ownership of pySMART Package"
**Describe the bug**
This has not been maintained since June 11, 2015 (3Y 10D as of today)

**Expected behavior**
Cannot push updates to 0.4 (my changes) to the main package. Previous maintainer has not been active, nor responded to my email.

**To Reproduce**
https://pypi.org/project/pySMART/

**Additional context**
Following PEP-541 and trying to get maintainer control over the package.

[2018-06-22 15:13] #4197 closed

[2018-06-22 18:06] Beelal opened #4218 "AttributeError: module 'eml_parser' has no attribute 'decode'"
import datetime
import json
import eml_parser

def json_serial(obj):
    if isinstance(obj, datetime.datetime):
        serial = obj.isoformat()
        return serial

with open('1.eml', 'rb') as fhdl:
    raw_email = fhdl.read()

parsed_eml = eml_parser.eml_parser.decode_email_b(raw_email)

print(json.dumps(parsed_eml, default=json_serial))

----------------

-------------------------------------

[2018-06-22 18:07] di commented on #4218
This is the repository for the code that powers https://pypi.org.

You should raise this on the issue tracker for the `eml-parser` project instead: https://github.com/GOVCERT-LU/eml_parser/issues

[2018-06-22 18:07] #4218 closed

[2018-06-22 18:09] Beelal commented on #4218
Sorry posted accidentally here :-(

[2018-06-25 16:13] di commented on #4157
@graingert Are you able to transfer this project to @spencebeecher?

[2018-06-26 08:51] benvand commented on #3931
+1

[2018-06-26 14:47] stephenfin commented on #201
I'm interested in this from the perspective of @sphinx-contrib. What relationship, if any, does this have to #994? I assume that, for the simple case, this would merely mapping a user to a group and including the permissions of that group alongside the user's own?

[2018-06-27 12:21] 4383 commented on #2589
Hello everybody!
No response from the distutils team about this feature proposal.
I've started to write a PEP for define more properly this feature and to start thinking more deeply and share with the community.
Currently it's a draft and I ask to me a lot of questions about the voting system or a method like this.

https://github.com/python/peps/pull/686

[2018-06-28 08:10] pradyunsg commented on #726
I reached to a similar approach to what @ncoghlan's linked to in https://github.com/pypa/warehouse/issues/726#issuecomment-348042448.

[2018-06-29 14:05] wwood opened #4237 "File too large. Size limit exemption for SingleM"
Hi,

i'm hoping to relax the file size limit for singlem. As it includes data from a database that has undergone expansion, it is now 77MB.

Just for PyPI thanks.

Thanks, ben

[2018-06-29 18:49] spencebeecher commented on #4157
Hi @graingert !!! it is: spencebeecher

Thank you very much!
-Spencer

[2018-06-30 14:36] marobr001 opened #4240 "Issues with using on PC without Python"
Hi, I've recently made a simple drawing program, some basic GUI and I added few hotkeys based on this module function: add_hotkey(). As long as I'm running program on my primary PC (where I've got Python), it works perfectly. The problem beggins when I want it to use hotkeys on another PC (which hasn't got Python installed). I've "packed" the code into .exe application via pyinstaller module. When

[2018-06-30 16:05] jamadden commented on #4240
Thank you for your report, but unfortunately this is not the place for it. This tracker is only for the software that runs pypi.org itself. It cannot help with modules installed from there or with general Python questions.

In a rough descending order based only on my guess about where you might find an answer, you might try targeting your question to the pyinstaller maintainers, or [python-list](

[2018-06-30 16:05] #4240 closed

[2018-07-01 22:13] toddrme2178 commented on #1944
I think this is okay now.

[2018-07-01 22:13] #1944 closed

[2018-07-01 22:47] takanokage opened #4243 "Claim Ownership of Open3D Package"
Describe the bug
This is a fake package.
I have contacted the author (Matthew Brett) of the Transforms3D code and he said he did not create the pypi package named Open3D.
The actual name of the underlying library is Transforms3D.

User fizoo who created the Open3D package:
- https://pypi.org/user/fizoo/
- is name-squatting Open3D
- stole the identity of: Matthew Brett
- uses fake email address: fi

[2018-07-02 15:24] AleBoi opened #4247 "Exception "not well-formed (invalid token)" while retrieving data for release 0.8.0 of fuzzywuzzy package"
I use an XML-based API to get the data about roughly 200+ libraries and their various versions. I constantly get the following error for version 0.8.0 of the fuzzywuzzy library:
ExpatError: not well-formed (invalid token): line 249, column 0

LOCALS

currrent_release = '0.8.0'
egg_name = 'fuzzywuzzy'
err = ExpatError('not well-formed (invalid token): line 249, column 0',)
firstRelease = ''
i = 13

[2018-07-02 18:06] ewdurbin commented on #4247
Hello @AleBoi!

Can you provide code that will reproduce the error you're seeing? It's not clear what the steps to reproduce are, and I'm unable to detect any clear difference between the release metadata for the two versions used in your examples.

Also as an aside, the [JSON API](https://warehouse.readthedocs.io/api-reference/json/) is recommended over XMLRPC and provides nearly all of the same

[2018-07-02 22:59] sidgurun commented on #4113
Hi,
Over the past month the size of the project has grown up to 800MB, so if finally the project size is increase it would be grate if it goes up to 1GB.

Tahnks!

[2018-07-03 09:13] navytux opened #4252 "https://pypi.org/project/pygolang/ is stale"
**Describe the bug**

Hello up there. I've uploaded new `0.0.0.dev3` release of pygolang to pypi yestrday (i.e. ~ 16 hours ago). Despite that https://pypi.org/project/pygolang/ still shows information for older `0.0.0.dev2` release (I've rechecked this in several browsers to exclude possibility of local caching) and "Release history" tab (https://pypi.org/project/pygolang/#history) does not show `

[2018-07-03 11:15] jamadden commented on #4252
Looking at https://pypi.org/project/pygolang/, I see 0.0.0.dev3 as the current release (and in the history). Perhaps there was a delay in CDN invalidation?

[2018-07-03 12:43] Mark531 opened #4253 "Problem running PySpark on Windows"
Hello,

I've installed PyPark with pip on Windows 10 and started it. I first fixed the right access problem with /tmp/hive, then I tried a simple command:
textFile = spark.read.text(r"c:\files\text.txt")

Then I got an avalanche of Java exceptions starting with:
java.sql.SQLException: Failed to start database 'metastore_db' with class loader org.apache.spark.sql.hive.client.IsolatedClientLoader$$a

[2018-07-03 13:17] navytux commented on #4252
@jmadden, thanks for feedback. Hm, for me it is still dev2 in the browser - and I even created another test user with empty firefox and chromium profiles to recheck. Here is the details of the request under chromium network inspector:

General:
[code]
Response Headers:
[code]

Request Headers
[code]

But when I try to recheck this via curl it shows dev3:

[code]

[code]

HOWEVER

if I make curl mi

[2018-07-03 13:23] jamadden commented on #4253
Thanks for the report. Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with packages installed from there. You'll need to contact the PySpark maintainers. You can probably find how to do that on the PySpark [project page](https://pypi.org/project/pyspark/).

[2018-07-03 13:23] #4253 closed

[2018-07-03 14:00] ewdurbin commented on #4252
Thank you for your detailed report @navytux!

Given that different parties/encodings/protocols are getting different versions, it seems most likely that this is an internal purging failure within our CDN rather than a bug with the tasks that invoke the purges.

I've issued a manual purge for the project in question which should resolve things for the BMA cache that is still serving dev2.

[2018-07-03 15:25] Mark531 commented on #4253
Hi Jason, I was precisely on that page and clicked on "Bugs & feedback" at the bottom to get to this github. I haven't found the right place to report issues about PySpark.

[2018-07-03 15:28] jamadden commented on #4253
That "Bugs & feedback" link is in the section titled "Contributing to PyPI" in the page footer. There are a number of links higher up about the project. Try the 'homepage' link on the left, or look at the "open issues/PRs" link also on the left; in the body text there are a couple links directly to the project's external website you could also look at.

[2018-07-03 15:41] Mark531 commented on #4253
I cannot find links on the places you suggest, except perhaps the Community/Issue Tracker menu on the main Spark project page http://spark.apache.org/ but my issue concerns the configuration of PySpark, not Spark. It seems that Hadoop has not been configured properly by the pip installer. But I can't find any complete documentation about how to install properly PySpark.

[2018-07-03 15:47] jamadden commented on #4253
The PySpark project page links directly to [this issue tracker](https://github.com/apache/spark/pulls) so presumably that's where issues should go. (Of course, the project page also says "This packaging is currently experimental and may change in future versions (although we will do our best to keep compatibility)" so there may not be much support to be had.)

At any rate, this forum is definitely

[2018-07-03 15:52] Mark531 commented on #4253
Oh ok, I thought there was an issue tracker dedicated to PySpark.
Thanks for your help.

[2018-07-03 16:59] di opened #4256 "Add some PyPI-specific language to our help FAQ"
In #4253, a user landed at https://pypi.org/help/#feedback after following a link from the project page, and it wasn't clear enough to them from this was specifically talking about PyPI.

I think this language text could be revised in a few places to be more clear that this is just for issues with PyPI. For example, the title could become "Where can I report a bug or provide feedback _about PyPI_"

[2018-07-04 07:35] cmaureir commented on #4089
Qt for Python was released using Qt servers, but it's really inconvenient to leave the wheels outside PyPi, is there a way to help speed up this process?

[2018-07-04 14:40] di commented on #4089
Hi @faltsi and @cmaureir, sorry for the delay in response.

Unfortunately we can't increase the limit until the project exists on PyPI, so you will have to create a dummy release that can later be deleted (perhaps version `0`)?

Let me know when that's done and I'll increase the limit.

[2018-07-04 14:44] di commented on #4196
Hi @scrgiorgio, I'm not seeing any projects named `visuspy`. If this is the first time you're making a release, you'll need to make a throwaway release that's under the 60MB limit before we can increase the limit.

Also, could you give some background on the package and why it needs a larger distribution size?

[2018-07-04 14:47] di commented on #4200
Hi @jennyq, I've set the limit for `tendenci` to 100MB for both PyPI and TestPyPI.

[2018-07-04 14:47] #4200 closed

[2018-07-04 14:48] di commented on #4192
Closing this due to lack of response. Feel free to reopen if this is still a problem for you.

[2018-07-04 14:48] #4192 closed

[2018-07-04 14:50] di commented on #4174
Hi @ACCarnall, I've increased the limit for `bagpipes` to 250MB on PyPI.

This is on the larger side as far as packages go, so please be mindful of how often you make a new release.

[2018-07-04 14:50] #4174 closed

[2018-07-04 14:53] di commented on #4172
Hi @mingxiaoh, I've increased the limits for `ideep4py` and `ideep4py_avx2` to 100MB on both PyPI and TestPyPI.

[2018-07-04 14:53] #4172 closed

[2018-07-04 14:55] di commented on #4150
Closing due to inactivity, feel free to reopen if this is still an issue.

[2018-07-04 14:55] #4150 closed

[2018-07-04 14:59] di commented on #4131
Thanks for the report @cefn! I agree, that package just seems broken and not malicious. I would recommend reaching out to the maintainer about it instead.

RE: reporting packages, closing this as a duplicate of https://github.com/pypa/warehouse/issues/3896.

[2018-07-04 14:59] #4131 closed

[2018-07-04 15:01] di commented on #4118
This seems like a reasonable request to me!

[2018-07-04 15:04] di commented on #4113
Hi @sidgurun, 1000MB is quite large (this would be the largest distribution ever on PyPI). Have you considered any alternative ways to ship this data along with your package?

[2018-07-04 15:06] di commented on #4102
HI @iportillo, I've set the limit for `itur` to 200MB on PyPI, but I'm not seeing the project on TestPyPI. You'll need to make a release there before I can increase the limit.

[2018-07-04 15:06] #4102 closed

[2018-07-04 15:08] di commented on #4090
Sorry for the delay! I've created the classifier `Framework :: Django :: 2.1`.

[2018-07-04 15:08] #4090 closed

[2018-07-04 16:31] sidgurun commented on #4113
Hi,

For now I have a function that check if the auxiliary data can be find. If the data is not found the code download it. However this is a little bit tedious, as the user has to run these functions to complete installation...

I tried to find a way to automatically download the data after the installation but I didn't manage.

I understand that 1000MB might be too much. So, do you know any effi

[2018-07-04 18:16] webknjaz commented on #4113
You can extend install command in setup.py, but that will only work for source dists, not binary wheels

[2018-07-04 18:40] iportillo commented on #4102
@di Thank you so much for your help.

[2018-07-04 20:00] scrgiorgio commented on #4196
Hi the project name is now openvisus. I'm pretty sure that for some
platforms it can reach 60+MB. Would it be possible to add it as an
exception for big Data project? Please look for visus/ Pascucci on the web
to understand what it will be inside... Thanks Giorgio scorzelli.

Il mer 4 lug 2018, 16:44 Dustin Ingram <notifications@github.com> ha
scritto:

[2018-07-05 06:16] faltsi commented on #4089
Thanks @di! I'll upload some dummy files to pypi today.

[2018-07-05 16:04] kchawla-pi commented on #3836
I may not be able to attend to this. Please feel free to reassign it.

[2018-07-05 16:23] nlhkabu commented on #4137
hi @TitanSnow - thanks for reporting this.  As you have found the problem code, would you be able to make a PR changing the `300` value to `500`?  Does this solve the problem?

Thanks :)

[2018-07-06 01:59] sidgurun commented on #4113
Okey, thanks. I managed. Now when I execute  `pip install LyaRT_Grid ` it automatically downloads the external data. However I would appreciate if I could store this data en pypi if possible.

[2018-07-06 06:15] #4137 closed

[2018-07-06 19:41] dstufft commented on #4164
Sorry, I've been a bit busy and am a little behind in catching up on these issues.

As far a list of projects, searching for "stubs", I've found:

* [pyspark-stubs](https://pypi.org/p/pyspark-stubs)
* [django-stub](https://pypi.org/p/django-stub)
* [lessrpc-stub](https://pypi.org/p/lessrpc-stub)
* [monzo-api-stub](https://pypi.org/p/monzo-api-stub)
* [sklearn-stub](https://pypi.org/p/sklearn-stub)

[2018-07-06 20:30] gvanrossum commented on #4164
Thanks for the research! It looks like uwsgi-stub has almost the right idea -- all it needs is PEP 484 style type annotations (IDEs also read those these days -- at least PyCharm does). A few others seem to refer to RPC stubs, which is a reasonable use.

I don't know where Nick got that idea, but that's not how PEP 561 works. I recommend that you read it before getting too upset about it. Ethan al

[2018-07-06 21:09] ethanhs commented on #4164
This is very true. That being said, people will likely search for e.g. django-stubs for a distribution that provides a django-stubs package (many people don't know there is a difference between distribution and package).

Otherwise, I agree with everything Guido says above.

[2018-07-06 21:22] dstufft commented on #4164
Ok, sorry then. I haven't had time to read the PEP, if there's no automatic discovery of them, then there's no real security consideration to be had here and it's ultimately a usability/discovery problem and not a security one.

That almost makes me feel like the naming scheme at the distribution level might not be the right way to approach it, but rather some sort of metadata, because you may hav

[2018-07-07 05:02] allfro commented on #3694
Hi all,

I appear to have the same issue with my package 'canari'. Version 3.3.1 is not showing up as a candidate when using pip. It works when using easy_install for some reason.

[2018-07-07 17:48] ewdurbin commented on #4183
Another case reported in https://github.com/pypa/warehouse/issues/3694#issuecomment-403189065 with the same symptom.

I believe this may be related to a memory leak in Celery that we see on occasion that is very similar in appearance to https://github.com/celery/celery/issues/4843.

From worker logs:

[code]

which indicates that as memory consumption rises in the `MainProcess`, recycling `ForkPoo

[2018-07-07 18:00] ethanhs commented on #4164
For (1) I agree, reserving stubs should end up being compatible with project namespacing.

For (2) I do think changing the packaging tools makes a lot of sense. I expect people won't want to type out every *.pyi file they need to include in a package, so beyond including metadata, there is definitely some ergonomic improvements that can be made to setuptools around packaging PEP 561 distributions.

[2018-07-08 16:18] navytux commented on #4252
Thanks for the help. I think this issue can be closed now. In case cache invalidation problems appear again, I will reopen here or file a new.

Thanks again for helping,
Kirill

[2018-07-08 16:18] #4252 closed

[2018-07-08 16:57] di commented on #4009
Looks like TestPyPI is having trouble sending mail to `@outlook.com` addresses in general.

We are planning to switch the mail service we use for it in the near future, however in the meantime, anyone else having this issue: send me a message (`di@python.org`) from your `@outlook.com` address with your TestPyPI username.

[2018-07-08 17:05] di commented on #4079
Going to close this as the original issue was resolved, anyone still having an issue with `Description-Content-Type` should file a new issue.

[2018-07-08 17:05] #4079 closed

[2018-07-09 12:47] nhoening opened #4273 "PyPI sends emails with unicode in header"
**Describe the bug**

I created a new account on pypi.org, but I am not receiving any email verification link by email - not after accouunt creation and also not after resending the verification link (even if pypi.org claims "Verification email for nicolas@seita.nl resent").

test.pypi.org works for me, using the same account name and email address. I deleted and recreated the account on both pypi

[2018-07-09 12:53] ewdurbin commented on #4273
Hello @nhoening! PyPI received bounces for the address you specified which led to it being placed on the suppression list.

I've removed it from the suppression list, can you try again?

[2018-07-09 12:54] nhoening commented on #4273
Yes, that did it. Thanks for the quick help!

[2018-07-09 13:08] ewdurbin commented on #4273
@nhoening in taking a closer look, @di noticed that your domain's mail transfer agent was rejecting the `To` field due to the ö in your last name:

[code]

Warehouse constructs `To` headers using:

https://github.com/pypa/warehouse/blob/40fbc32fef7c7ffe41cd18f3f8951578555db1aa/warehouse/email/__init__.py#L25-L33

So it appears that either:
  1) Your mail transfer agent no supports unicode
  2) You

[2018-07-09 13:29] nhoening commented on #4273
I can confirm that I tried to rule out the umlaut as a problem. I had used it initially and after a day or two, I went on testing without the umlaut. test.pypi.org also did not work initially, until I removed it, but I thought it must be a glitch. It makes more sense now.

So, either I should talk to my email provider, or you guys decide that [RFC-5322 Article 2.2](https://tools.ietf.org/html/rfc5

[2018-07-09 15:13] di commented on #4273
Reopening this because I think it's something that can be fixed on our end.

[2018-07-09 19:18] #4273 closed

[2018-07-10 08:39] SungYoun opened #4277 "python win32 api document.getElementById Error"
1. Your operating system
 Win10 64bit ram 8G
2. Your browser and browser version
 IE11 11.0.10240.17443
3. Your Python and pip version
 python-3.6.5 64bit, pip-223
4. Whether you can reproduce the bug (does it always happen, or just sometimes after certain actions?)
 Always reproduced.
 https://stackoverflow.com/questions/51258477/python-win32-api-document-getelementbyid-error
5. Warning or error

[2018-07-10 09:18] #4277 closed

[2018-07-10 11:00] satyadasari44 opened #4278 "AttributeError: 'module' object has no attribute 'AdminMediaHandler'"
(env) C:\Python27\source_code\django_cherrypy\myproject> python manage.py runwsgiserver
starting server with options {'autoreload': False, 'ssl_certificate': None, 'workdir': None, 'server_name': 'localhost', 'host': '127.0.0.1', 'daemonize': False,
'threads': 10, 'pidfile': None, 'ssl_private_key': None, 'adminserve': True, 'server_group': 'www-data', 'port': 8000, 'server_user': 'www-data'}
Trac

[2018-07-10 12:50] jamadden commented on #4278
Thanks for the report, but unfortuantely this is not the place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with support requests or issues in packages installed from there. You'll need to find the support channels for the package you're having trouble with. There are some help suggestions for django on its [project page](https://pypi.org/proj

[2018-07-10 12:50] #4278 closed

[2018-07-10 13:00] ChrisJefferson opened #4279 "Claim package 'dtrx'"
The package 'dtrx' provides a simple way of uncompressing a large number of compression formats, and deals with the common problems of spewing files in the current directory.

The package is still useful, but it has not been updated since 2011, so it required --allow-external.

I have tried emailing the author, Brett Smith, ( @brettcs ), but he seems unresponsive.

While I could add a new package

[2018-07-10 13:30] jamadden commented on #4279
This may qualify as an [abandoned project under PEP 541](https://www.python.org/dev/peps/pep-0541/#abandoned-projects).

[2018-07-10 17:18] wimglenn commented on #3717
This seems resolved in warehouse (using xmlrpc client directly to search for "pip initools" is working ok).  But still would need to be addressed in pip cli.

    pip search pip initools  # crash, unhandled error in xml rpc call time
    pip search "pip initools"  # does not return results

[2018-07-11 21:48] dyspop commented on #4192
I've been having this issue today. I tried a number of suggestions with using a ~/.pypirc in various formats. Currently my .pypirc looks like this:

[code]
and i've tried to run
[code]
as well as
[code]

The output looks about the same either way with different levels of trace:
[code]

Any help appreciated... Thanks!

[2018-07-11 21:52] di commented on #4192
@dyspop I'm not seeing a `dyspop` user on https://test.pypi.org. You need to create a separate account there as well, it shares no data with https://pypi.org.

[2018-07-12 01:04] wwood commented on #4237
Hi there. Any update? Thanks.

[2018-07-12 12:44] faltsi commented on #4089
Dummy files are now in place in pypi.org. Project name PySide2

[2018-07-12 13:07] ewdurbin commented on #4237
Upload limit lifted to 100M.

[2018-07-12 13:07] #4237 closed

[2018-07-12 13:09] ewdurbin commented on #4089
Upload limit lifted to 200M on test.pypi.org and pypi.org

[2018-07-12 13:09] #4089 closed

[2018-07-12 19:52] dstufft opened #4288 "Provide metrics for top N package storage "hogs""
**What's the problem this feature will solve?**

Miroring PyPI currently takes > 2TB of storage, and that is continuing to grow, some mirroring tools have the ability to blacklist projects from being mirrored, but it's difficult to know which projects should be targeted for blacklisting without insight into which packages take up the most space.

Additionally, as operators it can be useful to see

[2018-07-12 20:06] cooperlees commented on #4288
Maybe we should go the generic https://pypi.org/stats/ and add more over time starting with this one.

Lets start with:
- Estimated total size of all projects
- Top 100 projects
-- Example query: https://www.irccloud.com/pastebin/VVMUqkIc/

[2018-07-12 20:55] wayneworkman commented on #4288
I would be highly appreciative of a blacklist that has the biggest 100 projects. This would probably save a ton of space.

[2018-07-12 22:35] dstufft commented on #3966
Reopening this since the change got reverted.

[2018-07-12 22:46] di commented on #3966
Looking at the user's project and their Travis build logs in https://github.com/pypa/warehouse/pull/4099, I can't see why the upload would have failed.

* The project: https://github.com/ocefpaf/erddapy
* The failed build (indicating correct versions of setuptools/twine/wheel): https://travis-ci.org/pyoceans/erddapy/jobs/385360404#L1591
* The eventual release (missing `Description-Content-Type`):

[2018-07-13 00:17] dstufft commented on #3632
https://github.com/pypa/warehouse/pull/4292 implements (2) of the published plan. I think that might be enough of a restriction in and of itself, since uploading a package is the primary thing people with "important" user accounts tend to do with their PyPI account that it's going to act as a pretty strong forcing function. Additionally, trying to turn UI items into errors is a lot harder then an

[2018-07-13 01:11] spencebeecher commented on #4157
@graingert - will you have a chance to look at this soon?

[2018-07-13 10:07] fschulze commented on #994
@lukesneeringer how far along is this? There is quite a bit in the branch, but it's hard to see what is still missing.

[2018-07-13 16:16] ssbarnea opened #4294 "Claim Ownership of jenkins and jenkins-python packages"
There are two packages published on pypi which are not maintained and are likely to create confusions for users of python-jenkins library.

Original project: https://pypi.org/project/python-jenkins/ -- installs "jenkins" module.
Project one: https://pypi.org/project/jenkins/ installs "jenkins" module which is a 15 line checksum library, clearly not something used in real life. Source at https://gi

[2018-07-13 18:57] brainwane commented on #1323
Sounds good to me!

[2018-07-13 18:57] #1323 closed

[2018-07-13 21:12] di commented on #4294
It's not possible to rename a package on PyPI, but if you want to try and take over these projects and make new (proper) releases, it looks like they would qualify as an "abandoned" projects under PEP 541.

First step would be to reach out to the owner/maintainer to see if they would be willing to transfer without PyPI admins needing to intervene.

[2018-07-13 21:33] #4154 closed

[2018-07-14 04:40] betodealmeida commented on #4140
@jamadden any update? Do you need anything from me?

[2018-07-14 13:31] ssbarnea commented on #4294
Both maintainers awere contacted, one back in April and another one yesterday. There are linked tickets to their trackers (both are on github).

When I said about rename I ment re-publish under a new name and transfer ownership of the old one.

I remeber that pypi used to support aliases for package name but if this is no longer supported we can transform them into “forward” packages, empty ones t

[2018-07-14 20:48] brainwane commented on #3886
Is Test PyPI still on Heroku?

[2018-07-14 22:19] ttinies opened #4300 "more space for project needed"
pypi username: versentiedge
The name of the project: sc2maptool (version 1.0.6)
The size of your release, in megabytes: 70MB
Which index/indexes need the increase: PyPI only

This project is directed toward AI research toward mastering Starcraft 2.  The repository is expected to grow ~5MB every three months, but is not ever expected to overrun 100MB.

[2018-07-15 09:53] TheCodersHangout commented on #787
Can't Wait for this Feature!

[2018-07-15 15:03] TheCodersHangout opened #4301 "Feature Request: Add GitLab Statistics"
**What's the problem this feature will solve?**

Add **GitLab** Statistics

**Describe the solution you'd like**

Like GitHub Statistics, GitLab Statistics will be good if it is implemented, because gitlab has lot of pypi projects hosted!

[2018-07-16 03:09] wohali commented on #4009
@di I am also unable to receive email to my `@apache.org` address, or my personal address. I will email you directly for assistance.

[2018-07-16 03:57] di commented on #4009
At the moment TestPyPI is not sending any emails at all, anyone currently having issues please hang tight while we sort it out.

[2018-07-16 04:00] di commented on #4300
I've increased the limit for `sc2maptool` to 100MB on PyPI.

[2018-07-16 04:00] #4300 closed

[2018-07-16 04:01] #4256 closed

[2018-07-16 05:43] ttinies commented on #4300
thanks!

[2018-07-16 06:33] retr0h commented on #347
@wimglenn which util is this?   I'm looking for this type of tool.

[2018-07-16 07:31] blshkv opened #4304 "direct link to .egg package"
I'm packaging a python egg file for a linux distribution and it requires me to specify a directly link to a file. Currently, it is possible to request for it via API, however this feature not available for me.

The closest what I found is the following URL:
https://pypi.org/simple/

So if I need to get a link for ```frida-12.0.3-py3.6-linux-x86_64.egg``` file for example, I need to visit
the URL `

[2018-07-16 09:37] telli01 opened #4305 "py2exe not working on Python3.7"
**Describe the bug**

py2exe does not support python 3.7

while trying to make an exe_file from "FileManager.py" I get the following error:

PS C:\Users\telli\Desktop\FileMaker> py -3.7 -m py2exe.build_exe -s .\FileManager.py
Traceback (most recent call last):
  File "C:\Users\telli\AppData\Local\Programs\Python\Python37-32\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)

[2018-07-16 10:10] RonnyPfannschmidt commented on #4305
i fail to see how this is a issue with warehouse

[2018-07-16 14:24] graingert commented on #4157
added

[2018-07-16 15:40] jlcontreras opened #4306 "File size limit exemption request"
Hi, I am trying to upload a new version of my project and have run into the 60MB file size limit. The details of my project are the following:

Project name: mxnet-jetson
Release size: 73.5MB (next releases may need some additional space)
Index: PyPI

Thank you!

[2018-07-16 23:44] brainwane commented on #3231
@ewdurbin Is there current PSF infrastructure that could, without too much scope creep, handle this? I'd love to get this resolved to help with forward motion on https://github.com/pypa/warehouse/issues/1506#issuecomment-375736028 .

[2018-07-17 00:20] almet opened #4307 "Not able to access PyPI"
## My Platform

I'm running ubuntu 18.04, I'm getting connection reset errors, when using pip 10.0.1. I have the problem at home, haven't tried yet from somewhere else. I'm not sure how to know the SSL / TLS implementation in use. No firewall or proxies are used.

## Network telemetry

### DNS Resolution

nameserver 127.0.0.53

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[c

[2018-07-17 01:13] di commented on #4009
This has been resolved (all emails from TestPyPI to any address should be working).

[2018-07-17 01:13] #4009 closed

[2018-07-17 02:49] di commented on #4306
Hi @jlcontreras, can you give some detail about this package and why it needs the additional space?

[2018-07-17 02:51] di commented on #4305
Hi @telli01, sorry you're having problems. Unfortunately this is not the right place for a bug report about `py2exe` -- this tracker is only for issues with the software that runs pypi.org itself. It cannot help with support requests or issues in packages installed from there.

You'll need to find the support channels for the package you're having trouble with. It looks like this mailing list migh

[2018-07-17 02:51] #4305 closed

[2018-07-17 09:52] almet commented on #4307
When trying from work, it works, so apparently it's a network issue?

[2018-07-17 10:12] telli01 commented on #4305
Hi,

Thanks for mentioning. I didn’t realize that. Have a nice day.

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

________________________________
Von: Dustin Ingram <notifications@github.com>
Gesendet: Tuesday, July 17, 2018 4:51:56 AM
An: pypa/warehouse
Cc: Gökhan Yesilyayla; Mention
Betreff: Re: [pypa/warehouse] py2exe not working on Python3.7 (#4305)

Hi @t

[2018-07-17 10:21] jlcontreras commented on #4306
Hi Dustin,

The package is a Jetson specific build of Apache's MXNet deep learning framework. It needs some additional space so it can be compatible with both JetsonTX1 and JetsonTX2.

(I modified the package name to mxnet-jetson instead of money-jetson-tx2, as it makes more sense with the above)

Let me know if you need additional info, thanks!

[2018-07-17 12:09] ewdurbin commented on #4307
@almet it does appear that this would be an issue with a firewall or IPv6 misconfiguration on the network the diagnostics were run from, specifically given that the IPv4 requests worked correctly.

When you're back on that network, could you get the results for `curl -vvv -I https://ipv6.google.com` to determine if IPv6 is properly configured on that network?

[2018-07-17 12:16] ewdurbin commented on #3231
I believe @di started a lightweight ticketing system built into warehouse at PyCon, but I'm unsure on status.

Options I see:

## Build it into warehouse itself

This has the advantage of letting us manage specific forms that help users provide administrators the right information to complete a given support concern, but is something more to maintain.

## Deploy a ticketing system to the PSF infra

[2018-07-17 12:47] ewdurbin commented on #4157
confirmed.

[2018-07-17 12:47] #4157 closed

[2018-07-17 12:48] ewdurbin commented on #4157
Depending on the intended outcome, I might suggest that @graingert elevate @spencebeecher from "Maintainer" to "Owner" of the project if the intent is a complete transfer of the project.

[2018-07-17 13:06] ewdurbin commented on #4304
@blshkv see https://warehouse.readthedocs.io/api-reference/integration-guide/#querying-pypi-for-package-urls for more information on how you might obtain the direct link.

The URL you want a redirect for would be:

`https://files.pythonhosted.org/packages/3.6/f/frida/frida-12.0.3-py3.6-linux-x86_64.egg`

This will return an HTTP redirect to `https://files.pythonhosted.org/packages/73/d8/ffeed9316a

[2018-07-17 13:06] #4304 closed

[2018-07-17 13:23] ewdurbin commented on #3886
No longer! It was migrated to the same hosting as Prod PyPI a few weeks ago.

[2018-07-17 14:19] fungi commented on #3632
Announcing solely via a banner on a WebUI assumes people use the WebUI with those accounts. It caught us by surprise since the account we use in our release automation (which ~nobody ever logs into the WebUI with) started getting its uploads rejected. The followup announcement to distutils-sig today was helpful, but would have been more helpful in advance of landing #4292.

Regardless, thanks for

[2018-07-17 14:22] di commented on #3632
@fungi There should have also been a error message when the upload failed, was that not shown in your automation logs?

[2018-07-17 14:29] blshkv commented on #4304
Perfect, thank you for pointing that out!

[2018-07-17 14:38] fungi commented on #3632
Yep, the error message worked fine but turned it into a reactive scenario rather than a proactive one. In our case the people driving the release automation aren't the same as the people with access to the credentials and inbox for the account used by said automation, so release management activities had to be paused while a solution was coordinated with systems administrators.

In a positive note

[2018-07-17 15:06] brainwane opened #4309 "add further troubleshooting instructions for dev environment"
https://warehouse.readthedocs.io/development/getting-started/#troubleshooting should include:

* If you run `make tests` and get: `psycopg2.ProgrammingError: database "tests" already exists` , that can happen when the tests are running and abruptly killed in such a way that it doesn’t have time to clean up the test databases; a `make initdb` should fix it.

* If you run `make tests` and get warnin

[2018-07-17 15:13] brainwane commented on #3632
@fungi Sorry for the late notice! I agree that we should have spread the word more.

Per @ewdurbin :+1:

Anyone have any pointers to some of those responses? When did we make this change?

[2018-07-17 15:31] dstufft commented on #3632
5 days ago we moved from only blocking on new projects, to blocking on any attempt to upload anything. The banner warning at the top started on April 15, and I think that blocking on new projects happened prior to this ticket even being opened.

[2018-07-17 15:50] fungi commented on #3632
Also, to be clear, the account where this took us by surprised historically was not used to register/create new projects, but instead gets added to the access controls for projects created by other accounts. Perhaps a bit of a corner case, but explains why we wouldn't have noticed without explicit announcement.

[2018-07-17 16:05] di commented on #4306
@jlcontreras I've increased the limit for `mxnet-jetson` to 100MB.

[2018-07-17 16:05] #4306 closed

[2018-07-17 16:46] di commented on #3828
This is due to the client-side include failing (which requires Javascript).

It should be possible to add some "default" HTML for the logged-out user which would be replaced if the CSI is successful here: https://github.com/pypa/warehouse/blob/master/warehouse/templates/base.html#L184-L185

Probably worth mentioning that this same HTML is currently inside the include as well, so this shouldn't be

[2018-07-17 16:50] brainwane commented on #3590
@nlhkabu is this something you could work on, and is it amenable to work at the sprint at EuroPython? @yeraydiazdiaz do you have any thoughts?

Relevant to finishing #3632.

[2018-07-17 16:50] di commented on #3231
Yep, I'm working on something that would allow users to flag a project or request an upload limit, and allow administrators to approve/deny. The advantage to this approach is that approving the request can just perform the requested action directly, rather than having to jump from a ticketing system to the PyPI admin UI.

It's about 1/2 done, and I'm hoping to finish it up in the upcoming weeks.

[2018-07-17 17:00] ewdurbin commented on #4309
the note on `LocalFileStorage` is disjoint from the guidance on `make purge`

The second bullet point is probably better specified as:

* If you run make tests and get warnings like this:

[code]

`LocalDocsStorage` and `LocalFileStorage` warnings are expected (though it'd be nice if we found some way to supress those in tests scenarios).

[2018-07-17 17:46] di commented on #4309
We could just remove them: https://github.com/pypa/warehouse/blob/c3a2393481ab0aa461486664a2ab3137c0bd5e0b/warehouse/packaging/services.py#L27-L36

I don't think we're going to accidentally configure PyPI/TestPyPI to use local file storage.

[2018-07-17 18:54] almet commented on #4307
Here is the output:
[code]

[2018-07-17 18:55] ewdurbin commented on #4307
@almet thank you. seems IPv6 is happy :)

Can you confirm you are still having issues accessing PyPI?

[2018-07-17 20:35] dmerejkowsky commented on #3632
For point 3) I've taken the liberty of writing a short article on [my blog](https://dmerej.info/blog/post/please-verify-your-email-on-pypiorg-and-testpypiorg/) and [dev.to](https://dev.to/dmerejkowsky/please-verify-your-email-on-pypiorg-and-testpypiorg-1cpp).

Hopes this helps!

[2018-07-18 13:54] hellais commented on #3810
Yes I confirmed that this does happen with some packages I maintain.

Here is a PR that exposes a download link for the signature if a package has it: https://github.com/pypa/warehouse/pull/4314

[2018-07-18 15:37] dstufft commented on #3810
Hey. Sorry I didn't see the ask from May 18th and so missed responding to this.

The basic tl;dr here is that we don't believe that gpg to be sufficient for package signatures on a repository like PyPI. I went into a lot more detail on my [blog](https://caremad.io/posts/2013/07/packaging-signing-not-holy-grail/), but the basic problem is that the Python packaging tool chain does not provide any so

[2018-07-18 15:37] #3810 closed

[2018-07-19 01:03] fungi commented on #3632
Sounds like an excellent next step.

I'd like to think we'd have noticed if direct E-mails were sent earlier, but to be honest we chose poorly on what address to associate with that automation account (years ago) and the direct notification would likely have been buried in a ton of noise (since remedied this week).

Regardless, given the point of having verified addresses for uploaders is to be ab

[2018-07-19 10:58] guettli opened #4319 "I would like to leave a comment "This package looks outdated, package fooo is still maintained""
**What's the problem this feature will solve?**

I would like to save time for other users who search for a matching library.

**Describe the solution you'd like**

A simple solution would be, that users can leave a comment on the package site.

**Additional context**

concrete example: This package is outdated (six years old) https://pypi.org/project/sapnwrfc/

The strategy "leaving a comment" is

[2018-07-19 18:44] dstufft commented on #4319
PyPI had comments at one time, and they were pretty much universally hated by all package authors. They represented yet another mechanism that people would expect feedback, help, etc on (and one that is only sort of optional for authors). In addition, having comments on a website, in my opinion, comes with a moral and ethical responsibility to actively moderate and monitor the content of those com

[2018-07-19 19:07] dstufft opened #4321 "Add rate limiting to the XMLRPC Api"
Currently whenever we get a big burst of XMLRPC requests, our service can start timing out and raising 5xx errors. We should introduce rate limiting in the XMLRPC API in order to force clients to slow their roll and not hammer us too hard.

[2018-07-19 19:31] dstufft commented on #3632
Ok, https://github.com/pypa/warehouse/pull/4322 prevents users from being added to a project unless they have a verified primary email address.

[2018-07-19 19:34] dstufft commented on #3632
One further modification, if I remove the qualifications for ``date_joined`` and not existing in ``rego_otk`` from my query, then the ~37k people increases to ~38k people, so I think that it makes sense to not limit it to accounts from before the switch.

<details>
  <summary><strong>Number of Users to email</strong>: 38,824</summary>

[code]
</details>

[2018-07-19 21:02] dstufft commented on #996
For real time communication, ``#pypa-dev`` on Freenode is best, for async communication regarding Warehouse/PyPI specific design decisions, this issue or a linked PR to this issue is best. For any larger questions that require changes across multiple tools (e.g. if we need to teach twine about 2fa) then distutils-sig is the best place for those kinds of discussions (or at the very least, giving di

[2018-07-19 21:15] #3831 closed

[2018-07-19 22:37] mschwager commented on #996
Thanks for all the information! It all makes sense and is very helpful. I'll definitely be planning to work on this piece of functionality over the coming months and will keep this issue updated.

In the mean time, I'll go over some of the open questions and leave my thoughts.

[2018-07-20 07:43] scherenhaenden commented on #4007
HI guys, i do not know if this is the best "issue" to ask about something, but i wanted to know if you are planing to allow cross origin.... I'm trying to build a Opensource program that would help me to find packages across many package systems... like NPM, Python, Lua and so on... but i began writting it in Angular and I Run into CORS issues.

[2018-07-20 13:12] guettli commented on #4319
I have a pragmatic solution: Allow comments by default. For package author who hate them (and those which are more relaxed and just don't want them) give them the ability to disable comments.

[2018-07-20 22:53] mlissner commented on #3632
I think I read through all of this, but I remain pretty annoyed that things just broke for my automated upload system.

Why can't we send emails *before* we start breaking things for people? Seems to me that we should do whatever we can to start emailing unverified accounts *now* before more people have to stop what they're doing in their otherwise productive day, to figure out what the hack is go

[2018-07-20 23:04] brainwane commented on #3632
Hi, @mlissner! I'm sorry that we broke things and didn't announce stuff first.

[From December 2017 till the end of April 2018, PyPI had a paid project manager (me) who made sure that we gave lots of advance warning before breaking stuff.](https://wiki.python.org/psf/PackagingWG) Then the grant ran out and we have, as far as I know, no one paid to work on PyPI; volunteers are improving the softwar

[2018-07-20 23:09] mlissner commented on #3632
I feel ya, thanks @brainwane. Hopefully the outline I've got there isn't really much more work if we were planning to email at the end anyway. Mostly, it'd just be a re-ordering of things, I think. But I do understand resource constraints. I'm largely in the same boat.

[2018-07-21 00:25] dstufft commented on #3632
We're unlikely going to revert the changes at this point, as the primary thing we're waiting on before sending out the email is approval from the WG on spending money on sending out nearly 40k emails via MailChimp. Once that has been approved, then we're going to fairly soon after be sending out the email.

Part of that is because we need a pretty clear line in the sand of who we're emailing, and

[2018-07-21 13:20] TheCodersHangout opened #4334 "Feature Request: Add emoji support for Readme"
**What's the problem this feature will solve?**
Add emoji support for Readme

**Describe the solution you'd like**
It looks beautiful like in NPMJS

[2018-07-21 14:06] di commented on #4334
Thanks for the request! This is a duplicate of https://github.com/pypa/warehouse/issues/1663.

[2018-07-21 14:06] #4334 closed

[2018-07-21 15:23] ewdurbin commented on #701
Partial/Incremental index updates are now live again. We're monitoring for empty search results and will reopen if this attempt goes poorly.

[2018-07-21 15:23] #701 closed

[2018-07-21 19:45] auvipy commented on #3492
i will try to check warehouse with celery 4.2.x soon

[2018-07-22 12:02] nlhkabu opened #4335 "Move "buy a feature" feedback into GitHub tickets"
I recently ran some user research where users were able to  provide feedback on what is most important to them on the project detail page.

One option was for the user to suggest something new.

Here is a list of all of the feedback we received.  I have removed anything that 1) didn't give enough information to understand, 2) was already available, or 3) was not relevant.

We need to:

- Go throug

[2018-07-23 08:07] wm75 opened #4336 "blocking raven-js breaks JS"
- Tested under Fedora with a variety of browsers (Firefox, Vivaldi, Falkon) and under macOS with Safari -

In the `Download files` section of pypi packages you are supposed to have access to the sha256 sum of any downloadable file. However, while there is a corresponding element `SHA256` that says `Copy to Clipboard` when you hover over it, the actual sum is not displayed nor does the advertised c

[2018-07-24 12:06] wm75 commented on #4336
Thanks @di for testing. I'm not blocking JavaScript, but you put me on the right track. I was trying this at work and it turns out that our DNS server had cdn.ravenjs.com blacklisted, which you seem to be relying on to pull in the raven-js library. Removing the domain from the blacklist solved the problem :+1:

[2018-07-24 12:11] wm75 commented on #4336
One suggestion though: the sha256 functionality would be a lot more convenient to use if the checksum was displayed in addition to just being copied to the clipboard. I'm thinking of something along the lines of github projects' `Clone or download` button that would first reveal the checksum in a small pop-up element, then lets you copy to the clipboard from there.

[2018-07-24 23:38] di commented on #4336
Hmm, I'm a little confused how that script (which we use for frontend crash analytics) would prevent the rest of our JS from working. Might be worth looking into more.

I'll let @nlhkabu chime in with thoughts about making the hash visible as well as copy-able.

[2018-07-24 23:51] Stunner opened #4338 "PyPI Removes First Line When Installing"
**Describe the bug**
The sha-bang line: `#!/usr/bin/env python` is removed from my Python script when installed from test.pypi.org. This breaks my script and prevents it from being run from the shell.

**Expected behavior**
Expect my entire script to remain unmodified so that it works properly.

**To Reproduce**
I put together a video showing this entire process (cut and slightly sped up for brevi

[2018-07-25 01:49] jamadden commented on #4338
PyPI has nothing to do with installing a distribution. You probably want pip or setuptools. You should probably use a [setuptools console entry point](
http://python-packaging.readthedocs.io/en/latest/command-line-scripts.htm) to create scripts for you n

[2018-07-25 01:49] #4338 closed

[2018-07-25 04:05] Stunner commented on #4338
That link you provided is broken. Could you fix it please @jamadden ?

[2018-07-25 12:19] jamadden commented on #4338
The final 'l' was missing from '.html'; fixed. There's also [setuptools own documentation](https://setuptools.readthedocs.io/en/latest/setuptools.html#automatic-script-creation)

[2018-07-25 16:16] hsiaoyi0504 opened #4341 "Markdown doesn't rendered correctly even set long_description_content_type"
My project at PyPI: https://pypi.org/project/gff3tool/1.4.2

Libraries used:
[code]

[2018-07-25 16:29] hsiaoyi0504 commented on #4341
Same files can be correctly used under following tools and versions (linux).
[code]

[2018-07-25 16:31] hsiaoyi0504 commented on #4341
@di You are right. I use Windows build that. I will report to setuptools and report the update back.

[2018-07-25 16:32] di commented on #4341
@hsiaoyi0504 Great, I'm going to close this issue in the meantime since there's not much Warehouse can do here, but feel free to comment if there's any other way we can help.

[2018-07-25 16:32] #4341 closed

[2018-07-25 21:45] SteinRobert opened #4343 "Trending Projects / New Releases are not represented in semantic HTML"
**Describe the bug**
On the index page trending projects and new releases are not represented in semantic HTML, which should be used in the project as stated in the ui principles.
[code]
Even though the CSS class name contains `list` the representation of itself are simply `<div>` tags.

**Expected behavior**
This should be an ordered list:
[code]
It would be even better if the list would be label

[2018-07-25 22:03] di commented on #4343
Seems like a reasonable change. Would you like to submit a PR?

[2018-07-26 07:12] SteinRobert commented on #4343
Sure, just give me a few days.

[2018-07-26 10:23] caliloo opened #4347 "prospective question about using Pypi behind complicated comms"
Hi,

I've spent most of my professional life working at the "wrong end" (in the network sense, it was the right end in terms of life interests :) ) of high latency, high loss, high jitter sat com links (but not necessarily low bandwidth). Sometimes for long missions. or even reaaally long ones (years). It means that pyPI is often mostly unusable for me, and I've had to resort to other ways to inst

[2018-07-26 12:36] tailhook opened #4348 "Trove Classifier Request: Typing"
Request to add a new Trove classifier.

## The name of the classifier you would like to add
Something like this:

* `Programming Language :: Python :: Typing`

But I'm sure this isn't perfect name, so I'm open to bikeshedding.

## Why do you want to add this classifier?

This should show, that source code either covered by type annotations, or has a `.pyi` files that accompany sources. Also packag

[2018-07-26 13:48] ewdurbin commented on #4348
highlighting a selection of top contributors from the typing module itself to solicit opinions on this classifier name, thought it seems reasonable to me.

@gvanrossum @ilevkivskyi @ambv @vlasovskikh

[2018-07-26 14:17] gvanrossum commented on #4348
- I'm not sure how we would spread the word that people should add this classifier.
- I'd name it "Typed" rather than "Typing".

[2018-07-26 14:59] tailhook commented on #4348
Looks like this: http://py3readiness.org/ was a great idea, and may be repeated.

When searching a list I was looking for `mypy` and `typing` not sure if I would find Typed. Anyway, may be full name like this would be nice:

* ``Typing :: Typed``

Another thought, we may want to distinguish type bindings using `.pyi` and fully typechecked modules. But I'm not sure if it makes sense.

[2018-07-26 15:08] nlhkabu commented on #4336
Hi @wm75, thanks for opening this ticket :)

We've had other feedback that it might be useful to display checksums without the need for JS (see https://github.com/pypa/warehouse/issues/3828) so it's already on the 'to look into list.'

Given we have an existing issue, I'm going to rename this to reflect the raven-js problem you experienced.

[2018-07-26 15:19] nlhkabu commented on #4319
Thanks for opening this ticket @guettli.

I want to reiterate what Donald said:

Allowing comments by default would essentially open pandoras box - something we are not equipped to deal with.

Also, we can't limit commentators to only discuss whether a project is outdated/dead.  There is a good chance that allowing comments would also lead to "reviews" and ratings of packages - something we have d

[2018-07-26 15:35] nlhkabu opened #4349 "Link to infrastructure dashboard from footer"
We have a (really cool!) DataDog dashboard that shows information about the infrastructure powering PyPI.  It would be great to link to this from our footer.

Proposal:

- Add link to `https://p.datadoghq.com/sb/7dc8b3250-85dcf667bd` under the 'About us' title in the footer
- The link should be placed in the second position (under the status link)
- The link should have the title 'Infrastructure d

[2018-07-26 15:46] nlhkabu commented on #4056
Hi @webknjaz thanks for opening this issue.  I'm going to close it in favour of #726 - if you have more to add please comment over there :)

[2018-07-26 15:46] #4056 closed

[2018-07-26 15:53] nlhkabu commented on #726
Related: https://github.com/pypa/warehouse/issues/4056

[2018-07-26 15:55] nlhkabu commented on #4047
thanks for the suggestion @mixmastamyk.
Is there a particular example you can site for blue keywords being more common?

[2018-07-26 15:55] gvanrossum commented on #4348
"Typing :: Typed" is fine.

Distinguishing between the two approaches seems overkill, and in fact it's
totally fine to use a mixture (or use .pyi files to cover extension modules
but inline annotations for the rest).

[2018-07-26 16:06] nlhkabu commented on #4008
@di is there a way to differentiate between plain text / markdown / rst descriptions?  If so, can we add this information in a css class so we can target a style to plain text only?  e.g.

* `vertical-tabs__content vertical-tabs__content--plain-text`
* `vertical-tabs__content vertical-tabs__content--markdown`
* `vertical-tabs__content vertical-tabs__content--rst`

[2018-07-26 16:13] nlhkabu commented on #4005
@di would you be able to look into / respond to this? Thx :)

[2018-07-26 18:01] ewdurbin commented on #4005
PyPI does not and has never served images from the contents of uploaded distributions. I'm not sure how it would have been working before.

The only way to have images displayed in the description is for those images to be hosted somewhere that our image proxy ([warehouse-camo](https://github.com/pypa/warehouse-camo)], based on [camo](https://github.com/atmos/camo)] can retrieve it.

[2018-07-26 18:20] ewdurbin commented on #4008
Here's a basic diff that would allow us to return the renderer that was ultimately used along with the rendered description:

[code]

From there, we'd need to update the `release_detail` view to accept the new return

https://github.com/pypa/warehouse/blob/9738edef42bd8c43656ef85a4c3ddaf5ed534002/warehouse/packaging/views.py#L85

and pass that on into the template for rendering

https://github.com

[2018-07-26 18:21] ewdurbin commented on #4349
Alternative chortling that is a little less ugly. `https://dtdg.co/pypi`

[2018-07-26 23:51] mixmastamyk commented on #4047
There are no studies per se, but blue is for keywords in the default themes of stackoverflow and MS Visual Studio:

- https://stackoverflow.com/q/231767/450917
- http://www.hanselman.com/blog/ChangingYourColorsInVisualStudioNETBlackVersusWhite.aspx
- https://code.visualstudio.com/docs/getstarted/themes

As mentioned it might fit with the site better, the keywords are common in python, bold, and de

[2018-07-27 13:51] Sparkycz commented on #4349
![Uploading add_link_infrastructure-dashboard.png…](screenshot of the solution)

[2018-07-27 16:59] snarlistic opened #4355 "Randomly receiving TCP RST on TCP handshake every now and than."
Ever since the afternoon(CEST) of Tuesday July 24th we are randomly receiving TCP RST's on our TCP handshakes every now and than. Not all the time and not always the same IP. Please find attached some anonymised tcpdump data.

[fail_151.101.64.223.txt](https://github.com/pypa/warehouse/files/2236596/fail_151.101.64.223.txt)
[fail_151.101.128.223.txt](https://github.com/pypa/warehouse/files/2236597

[2018-07-27 17:03] ewdurbin commented on #4355
@snarlistic can you please provide diagnostics per the issue template for Network Access Issues?

https://github.com/pypa/warehouse/issues/new?template=access-issues.md

Are these errors when pip installing?

[2018-07-27 17:08] snarlistic commented on #4355
Please accept my apologies. I used the form, but left out what I thought was not important. And after reconsidering the template I still feel all the needed information is in the tcpdump data files. Please correct me if I'm wrong.

This happens when I run the following command: /usr/bin/pip install -q --upgrade <package name>, actually Puppet is running it for me automatically.

[2018-07-27 17:15] ewdurbin commented on #4355
do you have any of the log output from the pip command?

At the very least, this appears to be something we'd be escalating to our CDN provider so the Fastly-Debug information would be helpful

[code]

If you'd like to transmit that privately, you can email it to ernest@python.org and optionally encrypt it with my GPG public key `22ADAE0FC41E160AD1596B118F8E423168928420`

[2018-07-27 21:39] #4349 closed

[2018-07-28 02:02] waseem18 commented on #4321
@dstufft I previously worked with API rate limiters and would like to take this up.

[2018-07-28 02:22] #3024 closed

[2018-07-28 08:54] fitodic commented on #4018
@nlhkabu Can I try this one?

[2018-07-28 08:58] nlhkabu commented on #4018
Great @fitodic

[2018-07-28 08:58] Cheukting commented on #4007
May I try that @nlhkabu

[2018-07-28 08:59] nlhkabu commented on #4018
@fitodic GitHub wont let me assign this to you - so I'll assign it to me so no one else takes it :)

[2018-07-28 09:00] nlhkabu commented on #4018
Removing the sprint label to reserve :)

[2018-07-28 09:01] fitodic commented on #4018
Thanks :+1:

[2018-07-28 09:01] nlhkabu commented on #4035
Europython label removed as we have a PR in progress.

[2018-07-28 09:02] #3984 closed

[2018-07-28 09:05] asfaltboy commented on #4309
@nlhkabu I can take on this ticket

[2018-07-28 09:07] nividonis commented on #4047
@nlhkabu Can I take this one?

[2018-07-28 09:08] gabrielgradinaru commented on #3127
Can I try this one?

[2018-07-28 09:13] fitodic commented on #4018
@nlhkabu I've just noticed there's already a pull request for this issue: https://github.com/pypa/warehouse/pull/4044

Should I move on?

[2018-07-28 09:16] nlhkabu commented on #4018
ah, yes sorry.  I will remove this from the sprint list.  my mistake!

[2018-07-28 09:16] nlhkabu commented on #3127
Yes, sounds great :)

[2018-07-28 09:17] nlhkabu commented on #4047
Yes! Let me know if you need help finding the SCSS :)

[2018-07-28 09:18] nlhkabu commented on #4309
Great!  I've assigned to myself (as I can't assign to you), but consider it reserved :)

[2018-07-28 09:19] nlhkabu commented on #4007
Done @Cheukting :) I've assigned to myself, as I can't assign to you, but consider it reserved :)

[2018-07-28 09:38] nlhkabu commented on #3872
assigned to @mferi at the europython sprints :)

[2018-07-28 10:01] rixx commented on #4301
This would probably only encompass gitlab.com at first, I think? Or do we have a way to figure out if a project is hosted on a GitLab instance?

[2018-07-28 10:15] GadgetSteve opened #4365 "Potential Source of Funding: Permit company specific metadata & filters on it"
**What's the problem this feature will solve?**
The problem for PyPa is insufficient regular funding. Meanwhile a problem for some, _(especially larger)_, companies is that they have to worry about a) security & b) liability issues when their staff make use of code from PyPi - _a) especially when packages are used internally & b) especially if products are produced using packages with viral licenc

[2018-07-28 10:20] GadgetSteve commented on #4365
This could also tie in with the possibility of charging companies to host packages which are only visible to, and install-able by, their own staff or even potentially their customers (with a valid token).

Another option would be to provide constancy and updates services for companies needing in-house or off-line PyPi installations. _(Military, Defense, Aerospace, Medical & even some Financial org

[2018-07-28 10:35] mila commented on #4023
I will look into this.

[2018-07-28 10:36] nlhkabu commented on #4023
Assigned to @mila at the EuroPython sprints :)

[2018-07-28 10:53] GadgetSteve commented on #4365
Mentioned all of the above to Nichole Harris (@nlhkabu) at EuroPython 2018 and it was suggested that a ticket was the best way to put these ideas forward.

[2018-07-28 11:01] rixx commented on #2794
Just my unqualified 2 cents as a first-time user of warehouse: For me, the directory structure and the "assumptions and concepts" block were the most helpful parts of the documentation once I was set up and trying to get my bearings, because it was helpful in figuring out where to start exploring.

[2018-07-28 11:04] Cheukting commented on #4007
After investigation here is the ones that we have and is mentioned in [list of headers](https://www.fastly.com/blog/headers-we-dont-want):

server (set by web server)
x-cache (set my CDN)
x-cache-hits (set by CDN)
x-served-by (set by CDN)
x-frame-option (set by web server)

[2018-07-28 11:12] nlhkabu commented on #4007
Thanks for investigating @Cheukting !  @ewdurbin after some investigation, it looks like these settings need to be adjusted on our servers and CDN, so I have reassigned to you :)

[2018-07-28 11:12] Cheukting commented on #4007
Thanks @eolo999 and @XOyarz for figuring it out :-)

[2018-07-28 11:13] zanderle commented on #4319
There's already "Order by Date last updated". That seems to be very close to what you're looking for in this example? Or do you think an actual filter is something that would be required?

[2018-07-28 11:37] Cheukting commented on #3851
@nlhkabu do you want me to have a look at it?

[2018-07-28 11:37] zanderle commented on #4319
After talking to @nlhkabu we decided to add the filtering next to the classifier filters. So I'll add that.

[2018-07-28 11:41] zanderle opened #4372 "Improve the filter by classifier section: create POC"
**What's the problem this feature will solve?**
When filtering by classifiers, the list can get very long. There might be a better alternative to "long list of options".

**Describe the solution you'd like**
A typeahead widget (like select2 for example) which shows you all the options, but also gives you the possibility to start typing which filters the options available (and make it more usable t

[2018-07-28 12:37] nanuxbe commented on #4301
@nlhkabu I'm starting on this

[2018-07-28 12:37] sk1u commented on #3886
@nlhkabu I'd like to work on this, please. EuroPython2018

[2018-07-28 12:40] nlhkabu commented on #3886
Assigned to @sk1u at EuroPython sprints :)

[2018-07-28 12:41] di commented on #4301
@rixx Correct, let's just implement this for projects hosted on gitlab.com.

[2018-07-28 12:43] nlhkabu commented on #4301
Right now, we've noticed that GitHub statistics are broken :( They seem to appear once, then disappear when the page is refreshed.  We have some folks working on fixing this in the sprints, so we should perhaps not move onto this issue until that bug is fixed.

[2018-07-28 12:43] di commented on #3886
I think most of this was done in https://github.com/pypa/warehouse/pull/4330, but it would be good to double check that we got everything.

[2018-07-28 12:46] di commented on #4301
GitHub stats work by making an additional anonymous request from the users browser, and there is a limit to how many of these request can be made from a single IP.

So if a lot of people on a single network are looking at PyPI a lot, (e.g. at a Sprint) we might be hitting that limit.

IIRC you can see the request fail in the browser's console, and one way to work around this is to tether to a mobi

[2018-07-28 12:56] ejweavers commented on #4343
@nlhkabu can i pick this up in the europython2018 sprint?

[2018-07-28 13:10] #3872 closed

[2018-07-28 13:11] acangiani commented on #3167
@nlhkabu, we(@mferi & @acangiani) are working on this issue.

[2018-07-28 13:13] Bjwebb commented on #1536
@nlhkabu Could I take this issue please.

[2018-07-28 13:14] nlhkabu commented on #4343
Yes, that will be great @ejweavers! I will assign it to myself (as I can't assign to you), but consider it reserved :)

[2018-07-28 13:15] di commented on #1536
@Bjwebb We have an open PR for this already: https://github.com/pypa/warehouse/issues/3978

You can help by reviewing that PR though!

[2018-07-28 13:20] mila commented on #4023
See https://github.com/pypa/readme_renderer/issues/112 for a root cause.
If that's fixed, we can add styles `.align-{left,right,center}` classes.

[2018-07-28 13:21] nlhkabu commented on #4301
Yes, we just worked this out and are opening an issue for it. Not sure that it's a major problem, but worth discussing potential workarounds.

In the meantime, we have a small team here working on GitLab stats :)

[2018-07-28 13:31] rixx commented on #4118
Working on it.

[2018-07-28 13:34] nanuxbe commented on #4022
@nlhkabu I'm going to work on this during the ep18 sprints.

The plan is to add an expandable section at the bottom of the project's "view" page in the admin similar to "Delete Project" or "Set Upload Limit"

[2018-07-28 13:37] EmilLuta commented on #3896
@nlhkabu Hi there!

Is this task still available? If you don't mind, I'd give it a shot.

[2018-07-28 13:37] am-on opened #4377 "GitHub statistics not showing"
**Describe the bug**

There are two cases in which GitHub statistics doesn't work.

1. Project author added the wrong URL to the GitHub repository (in most cases to his profile instead of the project).
2. End-user made to many requests to GitHub API.

**Expected behavior**

GitHub statistics is always displayed on packages with correct GitHub project URL.

**To Reproduce**

Do a lot of request to

[2018-07-28 13:38] di commented on #4022
Since a project might have multiple owners, it would be ideal if this feature allowed us to add/remove roles for a given project.

[2018-07-28 13:39] di commented on #4022
(Also probably worth mentioning that the users in the dev DB with admin access are `dstufft`, `ewdurbin` and `di`)

[2018-07-28 13:41] nlhkabu commented on #3851
@dstufft is this something for you to look at?

[2018-07-28 13:56] nlhkabu commented on #3896
@EmilLuta I'm not sure on the status of this ticket.
@ewdurbin or @di could you please weigh in on this?

[2018-07-28 13:58] EmilLuta commented on #3896
@nlhkabu I suspect most of the job (for now) is to add a simple flag option for each repository. This way, any user can flag it. With that in mind people could have a curated list of what looks spooky and what might be used.

[2018-07-28 13:58] di commented on #4377
AFAIK there's not much we can do to work around `#2`, I believe npmjs.com has the same problem. Luckily this doesn't happen very often, either.

Not sure what can be done for `#1` as well, but welcome any ideas!

[2018-07-28 13:59] di commented on #3896
This issue is in-progress, sorry!

[2018-07-28 14:00] nlhkabu opened #4379 "Add codeowners file"
Allows github to automatically assign reviewers based on ownership areas

Example from CPython:
https://github.com/python/cpython/blob/master/.github/CODEOWNERS

[2018-07-28 14:00] EmilLuta commented on #3896
Owkay. Thanks @di

[2018-07-28 14:21] di commented on #3828
Another thing to audit here is the click-to-copy feature for file hashes on the "Files" page, I suspect it doesn't work at all without JS enabled.

[2018-07-28 14:45] nlhkabu opened #4381 "SCSS no longer auto compiling"
I had a number of EuroPython sprint participants tell me that SCSS was not automatically recompiling.

[2018-07-28 14:47] di commented on #4309
The warning message during testing was fixed in https://github.com/pypa/warehouse/pull/4360.

[2018-07-28 14:48] di commented on #4381
This might be due to changes introduced in https://github.com/pypa/warehouse/pull/4358.

[2018-07-28 14:49] mferi commented on #3167
"Please" left on warehouse/forklift/legacy.py and its test. Otherwise seems clean.

[2018-07-28 14:51] #4047 closed

[2018-07-28 14:54] nlhkabu commented on #3838
This has been assigned in the EuroPython sprints.

[2018-07-28 15:08] rixx commented on #3923
This issue should be completed and can be closed.

[2018-07-28 15:11] rixx commented on #3840
Persists up to Firefox 63 currently.

[2018-07-28 15:25] #3923 closed, assigned to nobody

[2018-07-28 15:30] mferi commented on #3167
@nlhkabu
"Bugas & feedback"
Aspersen is not used consistenly on the website. Should it be a plane "and"?
<img width="246" alt="screen shot 2018-07-28 at 16 27 18" src="https://user-images.githubusercontent.com/9561519/43358050-6d32b0aa-9283-11e8-8164-fbef2abe8a69.png">

[2018-07-28 15:34] mferi commented on #3167
@nlhkabu
I would say that lower case here makes sense to keep the style: eg.
<img width="274" alt="screen shot 2018-07-28 at 16 31 55" src="https://user-images.githubusercontent.com/9561519/43358085-0c6872b8-9284-11e8-8b02-b01b633ebf23.png">
"By topic" or even "by topic"

[2018-07-28 15:53] rixx commented on #3338
Ok, this sounds really cool. Ideally, would this chart go over a fixed width for every project? Or would we want the same width to represent the same timespan everywhere, yielding a variable width chart? I'm also a bit worried about how to embed this into a project page, and explain it well, without having it stick out too much – if anybody has any mockups for this, that would be really cool.

[2018-07-28 16:24] stanl3y opened #4389 "Check licence in files"
We should check licences in the following files:

[code]

[2018-07-28 16:32] mixmastamyk commented on #4047
Nice, like your can do attitude.  ;-)

[2018-07-28 16:32] nanuxbe commented on #4022
So far...

Both collapsed:
![screenshot 2018-07-28 at 18 30 58](https://user-images.githubusercontent.com/1215070/43358584-81dcc7e6-9294-11e8-960c-9553682204a4.png)

Both expanded:
![screenshot 2018-07-28 at 18 31 12](https://user-images.githubusercontent.com/1215070/43358588-8c256140-9294-11e8-9a00-7e99a133edbb.png)

[2018-07-28 16:39] nlhkabu commented on #4022
Can we please make the text:

`"To delete role "blah" for "blah", type the role name:`

- remove placeholder ;)

[2018-07-28 16:48] #4343 closed

[2018-07-28 18:17] lalomartins opened #4392 "Reclaim my old PyPi account"
Hi,

https://pypi.org/user/lalo/ is me, but as you can see the account hasn't been used in a very long time, and the email associated with it has been lost for more than 10 years.

The packages are all dead… so strictly speaking I don't *need* the old account, but for the sake of not polluting the index I feel recovering it is the right thing to do.

I'm not sure how to prove I'm the same person,

[2018-07-28 18:56] RonnyPfannschmidt opened #4393 "steamline test pypi usage after prune/on new use wrt credential setup and mail verification"
## scenario

i wanted to test some changes for setuptools_scm on test_pypi - so i ran the travis deploy against it,
the first item i ran into the need to create a new distinct user, which then needs to be verified

## what should have happened

* ideally testpypi would have inherited my credentials from pypi and/or just created a dummy/accept any/the first password user
* still nice would have bee

[2018-07-28 19:24] TylerGubala opened #4395 "bpy Package file size limit increase"
Hello,

I am the maintainer of a Python module called 'bpy', which is a Python interface into the Blender 3d application.

Because the module requires large binaries to be built, the resulting bdist_wheel (which is, in my opinion, the best option for distributing built binary distributions of packages such as this) is > 66.2MB, which goes over the 60MB upload limit, resulting in this error:

[code

[2018-07-28 20:06] #4309 closed

[2018-07-28 23:00] di commented on #4395
I've set the upload limit to 100MB for `bpy` on PyPI.

[2018-07-28 23:00] #4395 closed

[2018-07-28 23:12] brainwane commented on #3338
@yeraydiazdiaz Any ideas?

[2018-07-28 23:36] di commented on #4393
Thanks for the feature request @RonnyPfannschmidt!

Our long term plans are to eliminate TestPyPI entirely (see https://github.com/pypa/warehouse/issues/726) so we won't be adding anything that further differentiates TestPyPI's behavior from PyPI.

In the meantime, we also want to keep PyPI and TestPyPI's datastores totally insulated from each other, so while I agree that it is painful to have to

[2018-07-28 23:36] #4393 closed

[2018-07-28 23:50] di commented on #4392
Hi @lalomartins, hopefully we can help you recover the account.

Looks like the email address is also the same one used as the `Author-Email` for all the packages, which is usually one way we can verify ownership.

Another way is if you can prove ownership over any of the domains listed as these project's homepages or linked to in their README. Looks like some of them are still up, do you have own

[2018-07-28 23:52] evemorgen commented on #4389
will do, here is a PR: #4399

[2018-07-29 00:06] di commented on #4392
@lalomartins Could you also email me at `di@python.org` from the email address you'd like to use for the account instead?

[2018-07-29 00:11] lalomartins commented on #4392
Sadly no. PicoGUI wasn't my project, I just maintained the Python client lib. And the other two are on GNU Savannah which obviously I don't own. At best I can as I said point to a few people active in the community that would be willing to say “yes lalo@oldemail is the same person as lalo@newemail”

(I'll email you in a moment)

[2018-07-29 01:02] ad-m commented on #996
In the last time, some npm packages have been compromised to steal tokens to the npm API (https://blog.npmjs.org/post/175824896885/incident-report-npm-inc-operations-incident-of ). In consequence, npm revoked all API keys and introduced two-factor authentication ( https://blog.npmjs.org/post/175861857230/two-factor-authentication-protection-for-packages ). This can be a valuable experience for us.

[2018-07-29 06:46] nlhkabu opened #4400 "Create demo project for code highlighting styles"
Yesterday, we did some work to improve the code highlighting (see https://github.com/pypa/warehouse/issues/4047).

I'd like to continue to improve our code highlighting theme.

It would be great to upload a 'code-highlighting-demo' project to PyPI that we could use for testing code highlighting.  It would need to show as many colors as possible in the readme.

We could then add a section in the do

[2018-07-29 06:52] sk1u commented on #3886
Good morning, @nlhkabu . this was addressed in https://github.com/pypa/warehouse/pull/4375 which was since merged. thank you!

[2018-07-29 06:54] nlhkabu commented on #4379
I should own / co-own:

- README.rst
- docs
- warehouse/templates
- warehouse/static/html
- warehouse/static/sass
- warehouse/static/images
- warehouse/admin/templates
- warehouse/admin/static/css
- warehouse/admin/static/fonts
- warehouse/admin/static/img
- warehouse/admin/static/webfonts

[2018-07-29 07:00] nlhkabu commented on #3886
Great, thanks @sk1u !

[2018-07-29 07:00] #3886 closed

[2018-07-29 07:03] nlhkabu commented on #3886
@sk1u in case you didn't know: you can automatically close the issue when the PR is merged with [GitHub keywords](https://help.github.com/articles/closing-issues-using-keywords/).

This makes it easier for us to manage our issue tracker and keep track of what's been fixed.

Thanks again for your PR! Let me know if there is another issue you are interested in working on :)

[2018-07-29 07:04] nlhkabu commented on #4372
To be clear here, @zanderle has offered to make a POC that we will then do some user testing on.  Thanks @zanderle :grin:

[2018-07-29 07:09] nlhkabu commented on #4183
@ewdurbin is this something you or Dustin need to look at, or can we open it up to the community?  If so, can you please apply tags? Thx

[2018-07-29 07:15] nlhkabu commented on #4400
Related to #3939

[2018-07-29 07:16] nlhkabu commented on #3939
It might be worth doing #4400 before starting on this ticket.

[2018-07-29 08:56] mferi commented on #3167
@nlhkabu working on it!

[2018-07-29 09:41] evemorgen commented on #4389
I belive we can mark this issue with `Europython-2018-sprint` label

[2018-07-29 09:49] evemorgen commented on #4400
I'm willing to take this one, good to go?

[2018-07-29 09:50] hugovk commented on #3167
Looks like the text that comes after "By" are generated from the top-level classifiers: https://pypi.org/pypi?%3Aaction=list_classifiers

https://github.com/pypa/warehouse/blob/af3784d4341da7e6b1b24864f55bd0205f648390/warehouse/templates/search/results.html#L104-L121

[2018-07-29 10:53] nlhkabu commented on #4400
Yes, great @evemorgen :)

[2018-07-29 11:14] nlhkabu commented on #3521
Note: We also need to check badges and dates that are aligned right when addressing this issue

[2018-07-29 11:16] evemorgen commented on #4400
Two quick questions:
  * I guess there should be separate repo in pypa for that?
  * I cannot make up my mind whether it should be one big chunk of code or reasonable number of smaller ones that shows different stuff. Any suggestions?

[2018-07-29 11:21] nlhkabu commented on #4400
The other demo project we have is a private project (see https://pypi.org/project/markdown-description-example/), so if you're happy to do this under your private account, I think this would be ok.

Maybe a few different ones, that include different languages? Python would be the most obvious, but some READMEs also have other languages in them - bash, JS, etc.

[2018-07-29 13:14] nlhkabu commented on #3810
Just noting that this was also a featured request in the 'buy a feature' design research I conducted. Maybe it is worth explaining this on our help page?

[2018-07-29 13:17] nlhkabu opened #4406 "Report malicious packages"
Feature request from user research.

Do we have a way for users to report malicious packages?  Should they follow the security policy on this?  If so, should we explain this in the help or on the security page?

[2018-07-29 13:19] nlhkabu opened #4407 "Create recommendation engine"
Feature request from user research:

It would be good to be able to expose similar packages in the UI based on based on trove, tags, etc.

I spoke to @pierresp at EuroPython about this - he said he would be interested in looking into what might be involved.

@pierresp let us know your thoughts!

[2018-07-29 13:26] nlhkabu opened #4408 "Feature request: How many correctly answered Stack Overflow questions are there for this module?"
Feature request from user research.  Not sure if this is possible, but it sounds interesting!

[2018-07-29 14:02] evemorgen commented on #4400
So the Pypi project is here: https://pypi.org/project/pypi-code-highlighting-demo/
And repo is here: https://github.com/evemorgen/pypi-code-highlighting-demo

Any suggestions would be appreciated :)
Also, which section of docs should include information about syntax highlighting? I couldn't find one

[2018-07-29 14:05] nlhkabu commented on #4381
After investigation @nanuxbe found that the version of gulp should be   3.9.1 instead of 4.0.0 due to a bug introduced in the newer version:

https://github.com/gulp-community/gulp-less/issues/283

[2018-07-29 14:14] nanuxbe opened #4409 "Dev documentation: document expected code format"
There is no documentation about expected code format (ie. max line length, how function call and import should be splitted over multiple lines)

I guess this is valid for both python and js

[2018-07-29 14:33] ewdurbin commented on #4409
Our code formatting standard for Python was originally PEP 8, as documented at https://warehouse.readthedocs.io/development/submitting-patches/#code, however we recently [migrated to an automated code reformatter called "black"](https://github.com/pypa/warehouse/pull/3367) (see https://pypi.org/project/black/ for a basic description).

For Python code formatting, we should update the [developer do

[2018-07-29 14:55] sergeykolosov commented on #996
I've got experience doing both backend and UX for TOTP-based 2FA (including recovery flows), and will happily review whichever the artifacts produced within this issue.

@nlhkabu feel free to ping me whenever there's anything UX-related to have a look at.

[2018-07-29 15:34] di commented on #4406
Essentially a duplicate of https://github.com/pypa/warehouse/issues/3896

[2018-07-29 15:36] di commented on #4400
Thanks @evemorgen! That looks great, could you add my user `di` as a owner of the project on PyPI?

[2018-07-29 15:41] di commented on #4381
That bug looks like it affects `gulp-less` and `less.js`, neither of which we use as dependencies.

[2018-07-29 17:41] #4409 closed

[2018-07-29 21:55] asvetlov commented on #4348
In aiohttp we have both stubs and inline annotations

[2018-07-30 05:38] nlhkabu commented on #4406
ok, closing in favour of #3896

[2018-07-30 05:38] #4406 closed

[2018-07-30 09:10] IngoScholtes opened #4413 "claiming ownership of package pathpy"
### Description

I am the maintainer of [pathpy](https://github.com/IngoScholtes/pathpy) an OpenSource data analytics package that has been under development since more than three years.

We recently started to prepare the release of pathpy via pypi, creating a project on the test server to see whether things are working as expected, see here:

https://test.pypi.org/project/pathpy/

When we wanted

[2018-07-30 09:22] snarlistic commented on #4355
I've sent you an email with the requested data attached. Hope this helps you explain the problem to Fastly or solve it yourself.

Please do note I expect most people will not experience this problem, since I expect them not to use this old version (9.0.1) of pip that features a broken retry mechanism, that we unfortunately do use. We could, and I think should, use a new version of pip, but this wo

[2018-07-30 10:53] evemorgen commented on #4400
Sure thing, that's what I did

[2018-07-30 10:55] kwill opened #4414 "[query] Can a project have multiple maintainers?"
*I couldn't find an answer in the Warehouse / PyPA docs, apologies if it's there but I missed it.*

I am the co-maintainer of a project. Both maintainers expect to be able to upload new releases to PyPI. Is this possible?

As a bonus, is it possible to signal a "primary" maintainer, who can add/remove other maintainers?

[2018-07-30 14:07] bloodbare opened #4415 "Request to add Trove Classifier Framework :: Guillotina"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Guillotina`

## Why do you want to add this classifier?

Guillotina project is growing in terms of libraries and add-ons and a classifier would make tracking them easier. Its a new framework based on Plone and Pyramid ideas with asyncio base.

Right now there are:
https://pypi.org/project/g

[2018-07-30 15:01] mixmastamyk commented on #3939
Hmm, I tend to prefer bold for keywords, though it does seem a excessive for numbers.

Believe part of the problem is because of the difference in weights between normal and bold of this fonts.  The bold is a bit *too* bold.

If you are using a custom font with several weights available, one can be selected with a number in css: `font-weight: 600` for example.

[2018-07-30 17:20] zreichert opened #4417 "Latest version of package is not listed on pypi.org or installable through pip"
**Description**
I have built a new version of my package and I have uploaded it to pypi.org through twine.  The new package does not list as the latest version. [https://pypi.org/project/pytest-rpc/]( https://pypi.org/project/pytest-rpc/)

**Expected behavior**
I expect to see my new release listed as the latest on the page for pytest-rpc
I expect to be able to see my release in the Release Histor

[2018-07-30 17:23] ewdurbin commented on #4417
Almost certainly due to #4183, will confirm.

[2018-07-30 18:48] ewdurbin commented on #4417
Confirmed. Executing the purge successfully exposed the new release and no failures/exceptions were found in log regarding the purge that should have occurred. This is being considered a duplicate of #4183.

[2018-07-30 18:48] #4417 closed

[2018-07-30 18:57] zreichert commented on #4417
Thanks! @ewdurbin

[2018-07-31 06:49] nlhkabu opened #4422 "Add copywriting guidelines to documentation?"
As per https://github.com/pypa/warehouse/pull/4403#discussion_r205979805

[2018-07-31 06:52] nlhkabu commented on #4400
Thanks @evemorgen.

I think we can add a link to this project from the CSS section here: https://warehouse.readthedocs.io/development/frontend/#scss-style-and-structure

[2018-07-31 11:20] MatMaul opened #4423 "Manage button greyed out for a maintainer"
Hi,
I am one of the maintainer (NOT the owner) of the pynetgear library.

I can see the project in my projects list on pypi.org, and myself in the maintainers list, however the manage button is greyed out and I can't do anything.

I also tried to push directly with sdist upload, I also get an error.
I tried to change my password, no luck.

cf here for a screenshot:
https://github.com/home-assistan

[2018-07-31 13:38] balloob commented on #4423
I think that `python3 setup.py sdist upload` has been deprecated as it uses an unsecure connection. Try this:

[code]

[2018-07-31 13:54] MatMaul commented on #4423
Ah and the manage is only for the owner ? Make sense actually... I'll try this at home thanks.

[2018-07-31 14:08] ewdurbin commented on #4423
Confirming that PyPI has two roles for collaborators on projects:

## Maintainer
Can upload releases for a package. Cannot add collaborators. Cannot delete files, releases, or the project.

## Owner
Can upload releases. Can add other collaborators. Can delete files, releases, or the entire project.

So the greyed out button is intended to indicate that your role is `Maintainer`, but doesn't make t

[2018-07-31 15:27] brainwane commented on #3417
I asked Eric Holscher @ericholscher for his comments:

[2018-07-31 16:11] di opened #4426 "Enable DNT for Fastly Insights"
Per https://github.com/fastly/insights.js/pull/17, we will need to add a `?dnt=true` param when loading the Fastly Insights script to allow our users to opt out.

This can probably be added now rather than wait for the change to be merged/released.

[2018-07-31 16:20] KeyWeeUsr opened #4427 "Obvious licensing and trademark issues with various packages"
Please remove these empty packages from [this profile](https://pypi.org/user/rodmena)("rodmena" or "ourway") which have nothing to do related to any of these companies and are most likely just placeholders perhaps for scamming, parking or trolling. Notice the description `a nice memory for future`:

* [toyota](https://www.toyota.com/support/legal-terms)
* [walmart](https://corporate.walmart.com/te

[2018-07-31 18:26] MatMaul commented on #4423
Great thanks you all, got it working with twine.

[2018-07-31 18:26] #4423 closed

[2018-07-31 21:10] SteinRobert commented on #3440
I'd like to submit a PR on this.
Before doing so I'd like to discuss one thing:
By implementing this suggested change the search input is focused first by
pressing `tab` after the page has loaded.
Pressing `tab` again focuses the button.
Pressing `tab` one more time will focus the skip link at the top of the page ("Skip to main content"). Pressing `enter` here will result in focusing the search in

[2018-07-31 21:52] zanderle commented on #4319
Ok, I have a quick POC ready. How do you want to proceed @nlhkabu ?

Here's a quick preview:

<img width="1280" alt="screen shot 2018-07-31 at 23 12 17" src="https://user-images.githubusercontent.com/5232693/43489144-3d958516-951c-11e8-9117-09080d6d9f6f.png">

And here's my fork: https://github.com/zanderle/warehouse

Right now, this will simply add the filter of `created__gte=<today - number of d

[2018-07-31 23:32] pohmelie commented on #3440
I'm fine with current behaviour, since I added `pypi` custom search to browser. But I'm still vote for search box is active on load.

[2018-08-01 05:58] ahopkins opened #4432 "Link to Python.org"
**What's the problem this feature will solve?**
There's no link to python.org or the PSF on the main page. It seems logical that there should be one.

**Describe the solution you'd like**
There seems to be plenty of space in `header.site-header` to add a link. I would even like to see the whole top header from python.org replicated (but that is a separate issue I suppose).

![image](https://user-i

[2018-08-01 13:41] ilevkivskyi commented on #4348
FWIW I am equally fine with both `Typing` and `Typed`.

[2018-08-01 14:42] evemorgen commented on #4389
Since #4399 has been merged, I think this one can be closed

[2018-08-01 15:01] #4389 closed

[2018-08-01 15:01] ewdurbin commented on #4389
thank you @evemorgen

[2018-08-01 15:07] ewdurbin commented on #4400
Can someone duplicate this upload to test.pypi.org? Then it will can included in the sanitized database dump used for local development.

[2018-08-01 17:45] ewdurbin commented on #4183
with #4421 we've migrated to a new broker for our async tasks and have not seen a worker memory leak in the last 24 hours since deploy.

![image](https://user-images.githubusercontent.com/1200832/43538826-174aa2a4-9591-11e8-82d3-ec56ee299972.png)

So we'll keep an eye on this issue and hope it is resolved!

[2018-08-01 19:31] di commented on #4400
@evemorgen Would you be able to do that?

[2018-08-02 01:50] Manikandankasi01 opened #4438 "Python package installation issue using pip"
Im not able to install python package in my system. getting below error recently.

[code]

python version 3.5
pip version 7.1.2
OS: Windows 10

[2018-08-02 02:12] brainwane commented on #4438
@Manikandankasi01 Could you please [upgrade](https://pip.pypa.io/en/stable/installing/#upgrading-pip) pip? [The latest pip is pip 18.0](https://pypi.org/project/pip/) -- please tell us whether the problem still happens after you upgrade. Thanks!

[2018-08-02 02:14] brainwane commented on #4347
@caliloo Thanks for being interested in doing this work! Does https://warehouse.readthedocs.io/application/ help (regarding the architecture)? (Please also see #2794 for some more on this.)

[2018-08-02 02:31] #4432 closed

[2018-08-02 03:01] pradyunsg commented on #4432
#2562

[2018-08-02 03:04] pradyunsg commented on #4347
There's also a public dashboard for PyPI at https://p.datadoghq.com/sb/7dc8b3250-85dcf667bd which contains the information such as the size of the repo, traffic statistics and so on.

[2018-08-02 06:06] di opened #4440 "Implement soft deletes for projects, releases and files"
**What's the problem this feature will solve?**
Currently there is some user frustration/friction about PyPI's policy of disallowing the reuse of filenames for distributions. I.e., once you delete a given distribution or release, it cannot be re-uploaded.

**Describe the solution you'd like**
One way we can improve this experience without reversing our policy is to allow for "soft" deletes. This w

[2018-08-02 09:48] SteinRobert commented on #3440
Mmh... Since it's the main purpose to search on that page I agree.
Just setting the focus to the search box on load seems like a legit behavior.

[2018-08-02 10:33] Manikandankasi01 commented on #4438
Thanks Brainwane for quick reply.

now im getting some additional error message SSL certification issue.
current pip version : 18.0

"Could not fetch URL https://pypi.org/simple/xlrd/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/xlrd/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VER

[2018-08-02 10:52] eirnym commented on #798
@brainwane I think task to redirect old PyPi and use a new one is done and many people would prefer to have a security and vulnerability management as it was done in npm, FreeBSD pkgng or other systems.

This would save a world from problems to keep tracking many projects out from security problems.

[2018-08-02 12:26] brainwane commented on #4438
@Manikandankasi01 Please see https://pypi.org/help/#tls-deprecation .

The specific steps you need to take will depend on your operating system version, where your installation of Python originated (python.org, your OS vendor, or an intermediate distributor), and the installed versions of Python, `setuptools`, and `pip`. So we will also need to know your OS and installation details, and the output

[2018-08-02 16:39] evemorgen commented on #4400
Yep, there it is: https://test.pypi.org/project/pypi-code-highlighting-demo/

[2018-08-02 16:58] ewdurbin commented on #4400
Thank you! I’ll create a new dev database dump today!

On August 2, 2018 at 12:39:10 PM, Patryk Gałczyński (
notifications@github.com) wrote:

Yep, there it is: https://test.pypi.org/project/pypi-code-highlighting-demo/

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/pypa/warehouse/issues/4400#issuecomment-409990692>, or mute
the

[2018-08-03 04:01] Manikandankasi01 commented on #4438
Hi Brainwane,

OS : Windows 10
find below for output of pip install --upgrade --vvv pip

C:\Users\manikandankasi>pip install --upgrade -vvv pip
Config variable 'Py_DEBUG' is unset, Python ABI tag may be incorrect
Config variable 'WITH_PYMALLOC' is unset, Python ABI tag may be incorrect
Created temporary directory: C:\Users\MANIKA~1\AppData\Local\Temp\pip-ephem-wheel-cache-2q11lmjr
Created temporar

[2018-08-03 06:02] dstufft commented on #4426
Is this supposed to say Fastly Insights? Or did Sentry add something called Insights too?

[2018-08-03 06:27] dstufft commented on #4183
Going to close out the issue, the celery issue seems to be stabilized. If we get any more reports of failed purges we can re-evaluate then and re-open.

[2018-08-03 06:27] #4183 closed

[2018-08-03 13:38] #4426 closed

[2018-08-03 18:29] merlinuwe opened #4453 "error: command 'cl.exe' failed: No such file or directory"
Hi,
when I try to install with `pip install cx_Freeze` I get the message error: command 'cl.exe' failed: No such file or directory. What can I do, to solve the problem?

Greetings,

Uwe

**My Platform**
I use Windows 10 64bit

[code]

    ----------------------------------------

[2018-08-03 18:32] ewdurbin commented on #4453
Hello @merlinuwe! This issue tracker is for the code that runs PyPI itself, not projects hosted there.

You likely need to file this report with the project itself at https://github.com/anthony-tuininga/cx_Freeze/issues

[2018-08-03 18:32] #4453 closed

[2018-08-03 20:02] stevebeisner opened #4456 "Persistant "Unverified Email""
I've registered and received several emails, but
"my account" shows "unverified" email.  I've requested
resend of email to verify several times, but never
received any.  Checks for mis-direction to spam
folder(s) are negative.

How do I verify my email address?

[2018-08-03 20:03] dstufft commented on #4456
What's your account name on PyPI?

[2018-08-03 20:04] stevebeisner commented on #4456
"stevebeisner"     email is beisner@alum.mit.edu

BTW I know the email address is correct because I've received
other PyPI emails, just no verification emails.

[2018-08-03 20:05] ssokolow commented on #4456
Same. I just received an e-mail asking me to verify my account but, when I asked it to resend the verification e-mail (to the same address that the "please verify" message had just arrived via), it never arrived.

Nothing in my spam bin.

[2018-08-03 20:05] stevebeisner commented on #4456
OK... got it. Thanks.

[2018-08-03 20:06] ewdurbin commented on #4456
@ssokolow similarly, can you provide your PyPI username so we can take a closer look?

[2018-08-03 20:07] ssokolow commented on #4456
My PyPI username is the same as here. "ssokolow"

[2018-08-03 20:07] dstufft commented on #4456
Cool, was just going to say that beisner@alum.mit.edu email looks like it was accepted by the receiving MTA.

It may take a few minutes for emails to arrive since (due to the email campaign) we're sending at a higher rate than normal. If anyone doesn't get their email, plus comment with PyPI username and/or the email address so we can take a look at our logs.

[2018-08-03 20:07] ssokolow commented on #4456
...and it just arrived now.

[2018-08-03 20:08] ssokolow commented on #4456
I suppose I was a little impatient, given that, when I first created my account, I tried to verify multiple times, never got an e-mail, and wound up having to ask to be manually verified somehow about a year later.

[2018-08-03 20:11] ewdurbin commented on #4456
Our Celery worker pool got a bit behind with all of the tasks being generated by the email campaign. We're scaling it up temporarily to help speed up sending.

[2018-08-03 20:14] dw opened #4457 "PII is leaked across project deletion"
**Describe the bug**

* User A creates a project on Jan 11 2017 (pre-migration?)
* User B mails User A to ask for the project name, because it's unused.
* User A agrees, deletes project.
* User B runs "sdist upload" to register the name, becomes project admin.
* User B notices User A's IP addresses visible in project history tab.

**Expected behavior**

Sensitive information relating to the prior

[2018-08-03 20:16] dw commented on #4457
One simple fix might be to stop iterating change history rows after the first 'create' is encountered, unless the user has some magic superuser flag set.

[2018-08-03 20:17] ewdurbin commented on #4456
Okay, we're all caught up and sending emails from pypi.org as quickly as is reasonable.

[2018-08-03 20:17] #4456 closed

[2018-08-03 20:21] ewdurbin commented on #4457
That solution seems reasonable. We generally don't want to purge all Journal entries for a Project on deletion given that they may be used for determining what happened an when after the fact.

There is also the case of a less abrupt transfer that I'm not sure how to approach.

- User A decides to transfer ownership of Project to User B
- User A adds User B as Owner for Project
- User B logs in an

[2018-08-03 20:31] gaborbernat opened #4458 "ability for custom package favicon"
e.g. when loading page https://pypi.org/project/pytest/ we could show the tools favicon https://docs.pytest.org/en/latest/_static/pytest1favi.ico

The way this could work is users could be able to specify a link to the favicon?

[2018-08-03 20:36] dw commented on #4457
Depending on how the code is structured, it might be possible to find the timestamp the user was added, and whiteout/omit any rows before that point?

[2018-08-03 20:37] dstufft commented on #3632
Ok we've sent out the email to everyone, and stopped sending email to unverified email addresses, and it appears that people are indeed logging in and verifying their emails. We're down to 35k (from 37k) so far and that number is still dropping.

There's nothing else to be done on this issue, thanks everyone!

[2018-08-03 20:37] #3632 closed

[2018-08-03 22:35] amirouche commented on #2268
What is required to go forward regarding this subect?

[2018-08-03 22:38] amirouche commented on #2268
What is required to go forward regarding this subect?

[2018-08-03 23:14] ewjoachim opened #4461 "Browser "Back" button not working for first click on project page"
**Describe the bug**

After loading a project page, if I click on "Release history" or "Download files" and then click on my browser's "back" button, nothing happens.

**Expected behavior**

The previous page (a.k.a. the project description page) should be displayed

**To Reproduce**

- go to https://pypi.org/project/pyler/ (but any project would do)
- click on "Project history"
- click on you bro

[2018-08-04 04:37] dstufft opened #4463 "Add resilience to the network call to fetch the SNS signing certificate"
Whenever we're verifying a SNS message, we have to fetch the public certificate from an HTTP url provided to us by Amazon. If fetching this fails for any reason, we will error and will rely on SNS retrying the request to get it accurately recorded.

We can do better!

There are two possible strategies I can think of here, and the right answer might be to use one or the other, or both.

- Cache the

[2018-08-04 06:20] aikipooh opened #4464 "Cannot verify an email"
**Describe the bug**
I've added a new address: pooh@aikipooh.name, and the mail with verification link doesn't come.

**Expected behavior**
Mail must arrive.

**To Reproduce**
Maybe send some test mail to this address from the mailserver that handles verification mails?

**My Platform**
I believe this may be because aikipooh.name is IPv6 only.

**Additional context**

[2018-08-04 13:08] di commented on #4464
Yes, the email to that domain has permanently bounced:

We're sending email from Amazon SES which I imagine can handle most configurations of mail servers.

You might want to make sure your DNS is properly configured? I'm not sure this the desired result:

[code]

(Specifically I think the answer should resolve to an IP and not the same name)

[2018-08-04 17:57] yeraydiazdiaz commented on #3590
maybe we could use tooltips for this feedback? so it doesn't interfere with the action column

<img width="837" alt="verified-warning" src="https://user-images.githubusercontent.com/6739793/43679135-d3d0cc72-9817-11e8-9a69-e5ec04efa640.png">

[2018-08-04 21:27] dstufft commented on #4440
I actually don't think it's complicated at all by our SQLa hooks, because assuming soft delete is implemented as a column on the object, then that'll trigger the hook into the SQLAlchemy modified event (which we already have) to purge the cache.

It would only be complicated if we implemented soft delete as an additional table or something silly like that.

[2018-08-04 22:17] di commented on #4440
Right, of course. Should be pretty simple then, actually.

[2018-08-04 23:48] dstufft commented on #4440
I think the biggest questions I have is what should this look like in practice?

Soft deletes for files are obvious, we treat them as immutable anyways so there isn’t much question about them.

Releases are a bit trickier. Right now you can delete a release and upload a new release with the same version but different content. However this only really works if you are able to upload files that didn

[2018-08-04 23:50] dstufft commented on #4440
I think the biggest questions I have is what should this look like in practice?

Soft deletes for files are obvious, we treat them as immutable anyways so there isn’t much question about them.

Releases are a bit trickier. Right now you can delete a release and upload a new release with the same version but different content. However this only really works if you are able to upload files that didn

[2018-08-05 06:01] zsimic commented on #4003
Agreed, those dead projects are super annoying... they're just polluting pypi.
All old (untouched for 2+ years) should outright be deleted, no questions asked.

Also, there should be a higher standard when publishing to pypi. Projects that are not correctly described shouldn't get a spot on pypi. If a project is a placeholder, there should be a clear tag stating it's a "name reservation"... and th

[2018-08-05 06:43] aikipooh commented on #4464
Oh, amazon is retarded too:(
So there are no options for me to use IPv6, you won't migrate from SES so I understand?

[2018-08-05 08:10] webknjaz commented on #4003
There are projects, which are complete and don't require any updates, because they do their job well. No questions asked? Sounds insane to me. Moreover, such projects might be dependencies of other high-level things, which you're going to break with your suggestion.

[2018-08-05 12:00] ewdurbin commented on #4464
@aikipooh we don't plan to migrate off of SES in this case, is IPv4 not an option for `MX` on your domain at all? Additionally please try to keep your comments within our [Code of Conduct](https://www.pypa.io/en/latest/code-of-conduct/).

[2018-08-05 13:07] aikipooh commented on #4464
@ewdurbin Speaking about IPv4, it's not '80s, it's almost an end of a first quarter of 21 century out there.
What about the code of conduct? You find amazon being retarded a personal attack? They're not the only one at that, github cannot send to IPv6 too.

[2018-08-05 13:07] #4464 closed

[2018-08-05 18:53] zsimic commented on #4003
I guess I'm think of stuff like this:
- https://pypi.org/project/pyget/
- https://pypi.org/project/install/
- https://pypi.org/project/package/

Perhaps a ping to the author, that they have to at least say "this project is alive" once a year somehow, by publishing something, or going to pypi and pressing a button (last acked alive: <date>).

[2018-08-05 19:26] pradyunsg commented on #4003
If you're referring to name squatting, we have an existing policy documented in PEP 541 that does outline how to deal with such projects.

[2018-08-05 19:28] zsimic commented on #4003
Yes, there seems to be name squatting, uploads that people did to try stuff out, and dead projects. Would be awesome if that was cleaned up.

[2018-08-05 19:29] zsimic commented on #4003
Another example is https://pypi.org/project/PrettyTable/ which I actually used recently, not realizing it was a dead project... then tried the slightly more recent (but probably as dead) https://pypi.org/project/PTable/
I wish I could have a way of not wasting my time with dead projects

[2018-08-05 19:36] zsimic commented on #4003
Looking forward to PEP 541, great proposal!

Another one that wastes my time: https://pypi.org/project/piptree/ (dead project, has syntax error) when I really want is https://pypi.org/project/pipdeptree/
Every now and then I `pip install piptree` by mistake...

[2018-08-05 21:42] dstufft opened #4470 "Add javascript/frontend validation of breached passwords"
In https://github.com/pypa/warehouse/pull/4468 we've started blocking new passwords (via registration, reset, or password change) that have previously been in a data breach of a compromised website. However, that validation currently only occurs server side, it would be nice to also have it occur client side.

This can happen in two ways:

* Have the client JS hit the HIBP API directly, effectivel

[2018-08-05 22:18] dstufft opened #4471 "Notify & restrict users with breached/compromised passwords"
As a follow up to https://github.com/pypa/warehouse/pull/4468, we should figure out the best way to get people who have an *existing* password that has been breached/compromised to change their password to something that hasn't been reused. This is somewhat complicated by the fact that we (rightfully) cannot access the plaintext password *except* when the user is logging into the site.

A few idea

[2018-08-06 03:25] AkihiroSuda commented on #3632
@dstufft Sorry to be harsh, but your email really looked like a phishing mail :cry:
Next time please consider removing all hyperlinks except `https://pypi.org`?

[2018-08-06 04:47] webknjaz commented on #4003
Looking at maintainers list I'd suggest that it's likely heavily used by OpenStack. There's difference between being dead and being used by specific circles of people (and lacking docs, for example).

May I ask you how many projects you maintain (1) on pypi and (2) just on the internet (GitHub)? I think that maintainers of at least a few projects should have the power to decide whether smth deserv

[2018-08-06 13:55] agstephens opened #4473 "Verification emails not arriving at "@stfc.ac.uk" domain"
Hi,

I'm not receiving PyPI verification emails at this domain `stfc.ac.uk`. My email is ag.stephens @ stfc.ac.uk . I have received verification emails for my other email address "@ncas.ac.uk" so I can confirm that it is working.

I am logged into the user portal (https://pypi.org/manage/account/#account-emails) and clicking the "Resend verification email".

Thanks

[2018-08-06 14:04] ewdurbin commented on #4473
Hello @agstephens! I've confirmed that I can see three emails with Subject "[PyPI] Email verification" that reported to be successfully delivered to this address by our provider.

Dates (UTC):

- Aug 6, 2018, 10:03:19 AM
- Aug 6, 2018, 10:10:53 AM
- Aug 6, 2018, 1:49:12 PM

The sender is `noreply@pypi.org`. Have you checked spam folder and ensured it wasn't caught in any filters in your inbox?

[2018-08-06 20:42] terryjreedy commented on #3632
In particular, the email tells people to log in and give their credentials at https://pypi.us18.list-manage.com/track/... .

[2018-08-06 21:18] di commented on #3632
Sorry folks, this was an oversight, we don't use MailChimp very often and didn't realize it would automatically wrap URLs in the message body with those tracking links.

[2018-08-06 23:01] cooperlees commented on #4288
This is live - Just tweaking some cache config:
https://pypi.org/stats/

[2018-08-07 03:07] dstufft commented on #4471
I was doing some research on this, and it looks like Amazon might preemptively look for people's login credentials in password breaches, and will not only block the user from accessing the site, but will disable their account until they go through the account reset flow [source](https://twitter.com/paulpitchford/status/845310800713699328/photo/1).

[2018-08-07 08:10] agstephens commented on #4473
Thanks @ewdurbin, I have tried putting `@pypi.org` in my Junk Mail allowed senders list but no luck. I suspect it is getting filtered at the site firewall. I will chase it up with my colleagues. Many thanks for getting back to me so quickly.

[2018-08-07 08:10] #4473 closed

[2018-08-07 08:25] TongAriel opened #4480 "pywinio install issue."
Describe the bug
   pip install pywinio show error message as below.
Collecting pywinio
  Using cached https://files.pythonhosted.org/packages/21/49/4e86ad4ec72018a5608a06802edd6d7282440654763395fcc1d4256ab0f0/pywinio-0.3.0.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "c:\users\xxx\appdat

[2018-08-07 11:55] ewdurbin opened #4481 "Users with no primary email set cannot set a new primary email."
**Describe the bug**

If a user has no primary email set, the [`ManageAccountViews.change_primary_email`](https://github.com/pypa/warehouse/blob/472110dc94d5bd17b60e350bbaa42dc4855555a7/warehouse/manage/views.py#L153-L183) view errors when attempting to [send the notification email](https://github.com/pypa/warehouse/blob/472110dc94d5bd17b60e350bbaa42dc4855555a7/warehouse/email/__init__.py#L137-L14

[2018-08-07 11:57] ewdurbin commented on #4480
Hello @TongAriel! This issue tracker is for the software that runs https://pypi.org itself, not projects hosted there.

You should file your issue with the pywinio project at https://github.com/starofrainnight/pywinio/issues

[2018-08-07 11:57] #4480 closed

[2018-08-07 12:54] ewdurbin commented on #4481
[code]

Currently returns 34833 records.

[2018-08-07 12:57] ewdurbin commented on #4481
Users with _no_ email address at all:

[code]

Currently returns 34827 records.

[2018-08-07 20:16] ewdurbin commented on #4471
I'm +1 for the active approach of simply failing authentication when a compromised password is used.

As far as rolling this out, It might make sense to begin with maintainers of projects in top N of download counts then move to 10*N, 100*N, 1000*N, etc... as we get feedback on the impact and user experience of having your upload fail for a new/surprising reason.

Maintainers of well known and hea

[2018-08-07 22:50] kaisoteamvn opened #4482 "kaiso"
---

**Screenshot Required**: This issue will require an update to the visual design of the site. To help our team give you faster feedback, include a screenshot in your Pull Request.

[2018-08-07 23:11] dstufft commented on #4471
Ok new idea. Whenever someone authenticates with compromised credentials, we fail the authentication with an appropriate error message, at the same time we invalidate the password on the account and require users to reset their password.

Last night I was doing a fair amount of research on this topic, and I've been thinking about it, and I think the above is the correct way to go, and it's not sup