[2018-12-04 00:20] di commented on #5150
I've set the upload limit for `intel-tensorflow` to 125MB on Test PyPI.

[2018-12-04 00:20] #5150 closed

[2018-12-04 00:21] ashahba commented on #5150
Thanks @di

[2018-12-04 02:03] mythmgn commented on #4820
@jamadden
Thought I might need to do sth else.   Not very family with the transfer procedure.
Thanks very much for the explanation.   👍

[2018-12-04 08:31] 1313e opened #5155 "Claim package name 'prism'"
According to the warehouse, the 'prism'/'Prism' package has not seen any releases since Feb. 14, 2012.
The sole release that is reported [here](https://pypi.org/project/Prism/#history) does not contain any data or code which causes attempting `pip install prism` or `pip install Prism` to report
[code]

According to [PEP 541](https://www.python.org/dev/peps/pep-0541/), I have to be able to demonstr

[2018-12-04 14:43] anjos opened #5156 "Request trove classifier Framework :: BEAT"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: BEAT`

## Why do you want to add this classifier?

BEAT is a framework for describing experiments in AI (machine learning).  It is written in Python and is composed of several packages, including a web-based component (live here: https://www.beat-eu.org/platform/) besides around ~20-30 othe

[2018-12-04 20:08] djhoese opened #5157 "PEP 541: Transfer ownership of pyhdf to python-hdf4 maintainer"
The python-hdf4 package has become a popular fork of the pyhdf package which has not seen any updates in 10 years. The python-hdf4 package adds python 3 support and other bug fixes. The related project issue is https://github.com/fhs/python-hdf4/issues/13

I think @fhs and @hdfeos should be given maintainership. @teoliphant is a maintainer of the package on PyPI so if he has any information/feedba

[2018-12-05 04:16] darvid opened #5158 "PEP 541: Ownership of 'pitstop' package"
Hi,
I would like to register the name 'pitstop' but publishing returns a 403. The [project page](https://pypi.org/project/pitstop/) does not appear to exist, so I'm assuming no releases were ever uploaded.

My PyPI username is the same as my Github username.

[2018-12-05 07:15] IvanAnishchuk commented on #4836
@di ?

[2018-12-05 17:32] di commented on #4836
@IvanAnishchuk Can you send me an email at `di@python.org`? Thanks.

[2018-12-05 22:14] mehcode opened #5165 "Unable to login to PyPi due to compromised password"
I cannot login to my account on PyPi with username `mehcode` because of "This password appears in a breach or has been compromised and cannot be used.".

I have no idea what email I used to setup my PyPi account forever ago. Tried sending a couple reset password emails and they don't show up on a couple emails I use.

How can we resolve this?

[2018-12-06 03:11] 1313e commented on #5155
It seems that @whitmo also has other packages on PyPI that are no longer in use (as mentioned in #4504).

[2018-12-06 16:35] di commented on #5165
@mehcode Sent you an email.

[2018-12-06 22:12] mehcode commented on #5165
Thanks for the help @di

[2018-12-06 22:12] #5165 closed

[2018-12-06 23:34] #4922 closed

[2018-12-07 06:00] pquentin commented on #3293
Using the python.org Python 3.5.4 macOS installer (which does not support TLS 1.2, even on macOS 10.14) but with a recent pip (with TLS 1.2 support), `pip install` will still fail when installing [setuptools extras](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies), presumably because easy_install tries to install them witho

[2018-12-07 14:45] whitmo commented on #5155
I’m cool w you taking the name

On Wed, Dec 5, 2018 at 9:11 PM Ellert van der Velden <
notifications@github.com> wrote:

--
<=>
david "whit" morriss

 "If you don't know where you are,
  you don't know anything at all"

  Dr. Edgar Spencer, Ph.D., 1995

[2018-12-07 17:09] ThomasColthurst opened #5172 "Wheel size limit increase requested for google-nucleus"
* A link to your project on PyPI (or Test PyPI):  https://pypi.org/project/google-nucleus/ and https://test.pypi.org/project/google-nucleus/
* The size of your release, in megabytes:  The wheel file for v0.2.1 which we would like to release is 74M.
Which index/indexes you need the increase for (PyPI, Test PyPI, or both):  Both, please
* A brief description of your project, including the reason for

[2018-12-07 17:13] di commented on #5172
I've set the limit for `google-nucleus` to 100MB on both PyPI and TestPyPI.

[2018-12-07 17:13] #5172 closed

[2018-12-07 17:32] webknjaz commented on #2315
FTR here's an example for Travis CI publishing to PyPI: https://github.com/python/core-workflow/pull/262

[2018-12-07 17:41] webknjaz opened #5173 "[UI] `Requires: Python` in meta section is poorly rendered"
**Describe the bug**

When it's long (like `Requires: Python >=2.7,!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*,!=3.4.*,!=3.5.*`) the part of it gets overlayed by the main long-description content.

**Expected behavior**

I think it's probably worth splitting the conditions by comma and showing them as a list.

**To Reproduce**

https://test.pypi.org/project/ansible-lint/3.5.2.dev43/
Only `>=2.7,!=3.0.*,!=3.1.

[2018-12-07 17:57] di commented on #5173
Here's a screenshot for posterity:

<img width="418" alt="screen shot 2018-12-07 at 11 57 04 am" src="https://user-images.githubusercontent.com/294415/49664358-485c4b00-fa17-11e8-88b1-375a58e944a9.png">

[2018-12-07 17:58] webknjaz commented on #5173
Thanks, I didn't have a screenshotting tool when submitting this :)

[2018-12-07 23:38] 1313e commented on #5155
@whitmo Cool.
Can you then add me as the owner to the 'Prism' namespace?

[2018-12-08 03:01] whitmo commented on #5155
I don't think I have access to it.  feel free to use this message with the
admin to claim it though

-w

On Fri, Dec 7, 2018 at 5:38 PM Ellert van der Velden <
notifications@github.com> wrote:

--
<=>
david "whit" morriss

 "If you don't know where you are,
  you don't know anything at all"

  Dr. Edgar Spencer, Ph.D., 1995

[2018-12-09 01:31] 1313e commented on #5155
@di What should we do here?

[2018-12-09 17:07] rsc-dev opened #5175 "Malware packages on PyPI"
Multiple malware packages available on PyPI. More details here: https://github.com/rsc-dev/pypi_malware.

Live malware links (not all available via pip):
https://pypi.org/packages/ac/0d/0ae11eac2bc6e021844bec4c3dd94879b58aeb1e81af5d939313210fdf31/junkeldat-1.0.tar.gz
https://pypi.org/packages/fd/cd/204226981d126a126a4021926128967aa8df24b2306ea3dc2c5972f4ddb9/python-ftp-2.4.tar.gz
https://pypi.org/

[2018-12-09 17:32] ewdurbin commented on #5175
Hello @rsc-dev, thanks for your report.

All but one project (junkeldat) were previously removed from the index, thus rendering them unavailable via `pip install` as a result of previous reports. junkeldat has been taken down, as it's only purpose appears to be a Proof of Concept of the "`setup.py` executes arbitrary code!" attack.

We do not remove the actual project from artifact storage. I'm no

[2018-12-09 17:34] #5173 closed

[2018-12-09 19:03] di commented on #5175
I think it's pretty unlikely that anyone is unintentionally installing these distributions, they would have to be explicitly `pip install`-ing these URLs.

I think the original artifacts should be left in place for posterity/research's sake.

[2018-12-10 03:01] 1313e commented on #5155
@whitmo I assume it is then okay to remove you from the maintainers list?
Just asking to be absolutely sure.

[2018-12-10 12:35] whitmo commented on #5155
Yup

On Sun, Dec 9, 2018 at 9:02 PM Ellert van der Velden <
notifications@github.com> wrote:

--
<=>
david "whit" morriss

 "If you don't know where you are,
  you don't know anything at all"

  Dr. Edgar Spencer, Ph.D., 1995

[2018-12-10 23:24] ericl opened #5179 "PyPI size limit increase for DB Connect Spark connector"
Hi, similar to https://github.com/pypa/packaging-problems/issues/90 and https://github.com/pypa/packaging-problems/issues/221, we'd like to ship a pypi package that bundles Spark jars. This package is a Spark connector that allows Databricks users to run code remotely from their local machine: https://pypi.org/project/databricks-connect/

The size of these jars is ~230 MB total. Would it be possib

[2018-12-11 00:17] di commented on #5179
I've set the upload limit for `databricks-connect` to 280MB on both PyPI and TestPyPI.

Please be mindful of how often you make releases at this size.

[2018-12-11 00:17] #5179 closed

[2018-12-11 00:40] ericl commented on #5179
Thanks @di , we'll keep that in mind!

[2018-12-11 17:59] boxsmiley opened #5183 "Repo should validate non-compliant module structure (e.g., patch-1.16)"
**Describe the bug**
pypi.org allows upload and index of packages that are not compliant with the python spec.  The spec requires that a folder be at the top level of the module that contains PKG-INFO and the implementation.

**Expected behavior**
If a module doesn't have a top-level folder inside it that contains the PKG-INFO and implementation, it should not pass validation.

**To Reproduce**
Ex

[2018-12-11 21:14] dcolombo opened #5184 "No access to sign-up email anymore. Need to reset my password."
Hi everyone. The help page (https://pypi.org/help/ page) redirect me here. My PyPI sign-up email expired and I need to reset my password. How can I do so? Thanks a lot.

[2018-12-11 21:43] di commented on #5184
@dcolombo Are you able to request a password reset from https://pypi.org/account/request-password-reset/ ?

[2018-12-11 21:49] dcolombo commented on #5184
Unfortunately not. I cannot access anymore the mail connected to my account ...

[2018-12-11 21:50] di commented on #5184
@dcolombo Send me an email at `di@python.org` with the name of the account in question.

[2018-12-12 14:46] merwok commented on #2315
FTR there was a way to do SSH uploads before 2013: https://bitbucket.org/loewis/pypissh/src/default/

[2018-12-12 21:01] maxandersen opened #5190 "Possible to rename package due to _ vs - ?"
I can't find clear info if renaming of projects like `homeassistant_cli` to `homeassistant-cli` is supported/allowed ?

I tried to update all scripts etc. using _ to - but seems pypi insists on calling it homeassistant_cli because that was what the very first upload by accident had in it.

Can you help rename https://pypi.org/project/homeassistant_cli/ to https://pypi.org/project/homeassistant-cli

[2018-12-12 21:31] #4680 closed

[2018-12-12 21:31] #5190 closed

[2018-12-12 21:31] di commented on #5190
Just merged a PR which should make this possible. Give it 15 mins to deploy, after which making a new release should allow you to change things like capitalization or dots/dashes/underscores.

[2018-12-12 22:51] montebhoover opened #5191 "Size limit increase request"
Project name: nimbusml -  https://pypi.org/project/nimbusml/

Index requested for increase: Test PyPI

We were granted an increase for our project on standard PyPI index in #4901, and I was wondering if we could get a size limit increase on the Test index as well.  We have wheels ranging from 70-90 MB for Linux/Mac/Windows, their size being a result of including ML.NET binaries from https://github

[2018-12-13 17:31] di commented on #5191
I've set the upload limit for `nimbusml` to 100 MB on TestPyPI.

[2018-12-13 17:31] #5191 closed

[2018-12-13 18:39] kwill commented on #4414
@ewdurbin For reference the documentation I was looking at was https://packaging.python.org -- I tried a couple of pages based on their titles, and tried searching for "upload" and "privileges". A new search for "collaborators", "maintainer" and "owner" doesn't turn up anything either.

It should also be clear that this is only available *after* the project is first uploaded, i.e. I can't designat

[2018-12-13 22:03] ncoghlan commented on #3231
One for an ownership transfer: https://github.com/pypa/warehouse/issues/5088

[2018-12-13 22:06] di commented on #5088
I've added `jmayer` as an owner of `django-autoslug`.

[2018-12-13 22:06] #5088 closed

[2018-12-14 02:16] srini100 opened #5196 "Requesting to delete invalid grpcio-channelz package"
Recently someone uploaded junk [grpcio-channelz](https://pypi.org/project/grpcio-channelz/) pkgs for multiple future releases which is blocking [grpc.io project](https://grpc.io/) from releasing official pkgs. This [user](https://pypi.org/user/rahul.magul/) is not associated with grpc.io project and using the project name without authorization.

Please delete this pkg as it misleads gRPC users. Pl

[2018-12-14 13:11] zopyx opened #5200 "Searching by exact package name does not work as expected."
Official PyPI.

Searching for my package

https://pypi.org/project/xmldirector.connector/

with query `xmldirector.connector`.

Does not reveal any useful hits.

Expected behavior: matches with exact package names should be first. Instead I see unrelated hits that have either `xmldirector` or `connector` in the package name.

[2018-12-14 14:33] ewdurbin commented on #5200
Looks like it's a fairly new project, so the search index may take some time to "see it".

Our search infrastructure attempts to update the index with each release, but that occasionally fails. There is a full sync every 6 hours, so occasionally new projects may take up to 6 hours to show in results.

I'm going to investigate to see if there is anything going wrong in our incremental search index

[2018-12-14 15:00] ewdurbin commented on #5200
Certainly looks like the incremental search update failed for some reason not once, but three times for this project. Looks like a reemergence of something like #4183

[2018-12-16 17:42] funkey commented on #4612
Just as a friendly reminder, I am still interested in taking over package "daisy". Please let me know how to proceed. Thanks a lot.

[2018-12-16 18:46] merwok commented on #3797
It is accepted practice to link from the Python docs to third-party projects.
In addition to Thea’s idea of including the disclaimer on all pages, a ticket could be opened on bugs.python.org to request adding a link to twine from distutils upload docs.

[2018-12-17 21:56] maxandersen commented on #5190
btw. it worked :) https://pypi.org/project/homeassistant-cli/ now shows up properly. thank you!

[2018-12-18 12:40] betatim opened #5212 "PEP 541: recovering the `abc` name"
We (@lwasser and @betatim) are building a tool for authoring, grading and generally managing your course's assignments based around Jupyter notebooks. It currently has a terrible name (https://github.com/earthlab/grading-workflow-experiments) and in the process of finding a new name we picked ABC, because we want it to be easy as A-B-C to manage your course.

As far as I can tell https://pypi.org/

[2018-12-18 12:49] jamadden commented on #5212
`abc` is a module in the [Python standard library](https://docs.python.org/3/library/abc.html).  I believe [it is forbidden to register projects with the names of standard library modules](https://github.com/pypa/warehouse/blob/774e9021171c6ec6572ae6bc0430026721a18039/warehouse/forklift/legacy.py#L852).

[2018-12-18 21:28] elsampsa opened #5213 "Malware package"
Hi,

This package seems suspicious

https://pypi.org/project/socketio/

- It tries to confuse itself with "python-socketio" and similar packages.
- When installed locally, it tried to insert stuff into the import hook and messed up my package system
- The project links goes to a dodgy russian web-page
- The package maintainer does not idenfity him/herself

Please remove

[2018-12-18 21:38] jamadden commented on #5213
At this writing, the most recent version of that project is 0.1.6., hosted at
https://files.pythonhosted.org/packages/96/81/57a84d67ef2d8cfd4f5699d938cccf5be580026dd78356ba66276d5699a9/socketio-0.1.6.zip

After a cursory examination, I don't spot anything malicious in that distribution.

setup.py appears clean, aside from pinning an old version of setuptools:
[code]

`socketio/__init__.py`, import

[2018-12-18 22:45] pzhokhov opened #5214 "Increase size limit request"
- A link to your project on PyPI (or Test PyPI):  https://pypi.org/project/roboschool/
- The size of your release, in megabytes: 100
- Which index/indexes you need the increase for (PyPI, Test PyPI, or both): PyPI
- A brief description of your project, including the reason for the additional size:
   Roboschool (https://github.com/openai/roboschool) is a simulator of robotics environments. It take

[2018-12-18 22:57] di commented on #5214
I've set the limit for `roboschool` to 100MB on PyPI.

[2018-12-18 22:57] #5214 closed

[2018-12-19 01:30] pzhokhov commented on #5214
Thanks a lot @di !

[2018-12-19 01:36] jamadden commented on #5196
I’m not an admin, I just help triage issues.

[2018-12-20 17:34] darkHarry commented on #5085
Hi! This is my first time contributing to warehouse and I'd like to work on this issue.
I couldn't find any project with very recent release history in the dev environment hence there is no "4 min ago" or "about 4 hours ago".
**Screenshot:**
![tooltip](https://user-images.githubusercontent.com/20538494/50300685-2947c980-04ab-11e9-88fa-79cf650cc6eb.jpg)

[2018-12-20 17:55] di commented on #5085
Hey @darkHarry, thanks for working on this. Indeed, the packages in the dev environment will be a few weeks old. You'll need to either:

* manually change the creation date via [the interactive shell](https://warehouse.pypa.io/development/getting-started/?highlight=shell#running-the-interactive-shell)
* [upload a new package to your development instance with `twine`](https://warehouse.pypa.io/deve

[2018-12-20 17:57] di commented on #5085
(Also, it would be great to include a time zone with the full datetime as well!)

[2018-12-20 18:35] darkHarry commented on #5085
I just checked the Project's release created datetime object and it's tzinfo (time zone info) attribute is None. So, I don't see any way to fetch the time zone. Any other place to look for it?

[2018-12-20 18:43] dstufft commented on #5085
Pretty sure we store everything in the database using UTC.

[2018-12-21 00:19] dimaqq commented on #994
@dstufft has the macaroon thing gone away or still on the books?

Pardon my ignorance, but it seems the extra macaroon functionality (derived tokens) is well nice, but not widely used (?) and not strictly needed.

IMO (coming from user's perspective), JWT would do the job just as well (perhaps with extra server round trip when derived token is needed), and is more common/understandable/supported.

[2018-12-21 00:35] brainwane opened #5222 "Display "last released" date in sorted-by-relevance search results"
When the user [searches for, e.g., `short-url`](https://pypi.org/search/?q=short-url), in the default view (sorted by relevance), we could display the last-released date on each item, just as we do [when sorting by last updated](https://pypi.org/search/?q=short-url&o=-created).

Requested by @koobs in IRC (`#pypa-dev`) today:

<koobs> im looking for 'relevent' results 'updated recently'
<koobs> wi

[2018-12-21 15:13] #5175 closed

[2018-12-23 01:43] Gouravchawla commented on #4630
It seems this issue has already been resolved. Can this be closed now?

[2018-12-23 01:44] #4630 closed

[2018-12-25 09:34] nlhkabu commented on #4414
Maybe we should add the following to our FAQ:

If an owner is unresponsive, you should follow the [PEP 541](https://www.python.org/dev/peps/pep-0541/) process to resolve any conflict.

@di is this accurate? Is there a difference between our 'author' field and ownership?

[2018-12-25 11:46] x1angli opened #5230 "Desciption messed up"
![image](https://user-images.githubusercontent.com/8603485/50421628-7695b380-087c-11e9-8378-02a858eade22.png)

Hello, I am the sole maintainer of [convert2utf](https://pypi.org/project/convert2utf/)
[Github Repo](https://github.com/x1angli/convert2utf)

As you can see, the text looks very weird

maybe I use textwrap.dedent in setup.py?

If so, please support parsing the following stuff:
* python s

[2018-12-25 14:36] x1angli commented on #5230
@jamadden Thank you very much for the detailed detailed explanation. I just fixed the setup.py in my project and everything works.

Closing this issue ticket..

Other thoughts: I believe the email parser (or whatever parser) invoked by setuptools should be more adaptive....

[2018-12-25 14:36] #5230 closed

[2018-12-25 18:31] jaraco opened #5231 "Add API to search for packages matching a pattern"
**What's the problem this feature will solve?**

I'd like to find all packages named "svg.*". Currently, searching for `svg` or `svg.` or `svg.*` or `svg\.` or `"svg."` all returns 3.7k results matching "svg" in a paged HTML form and the API limits results to 100 results. So it's not possible (as far as I can tell) to search for packages only matching a particular name without manually clicking th

[2018-12-28 22:31] sbdchd opened #5237 "Safari & Firefox: Badge on Release History Page not Rendering Correctly"
**Describe the bug**

This is a UI bug with Safari 12.0.2 & Firefox 64.0b9 where the release history badge is wrapping.

For example: https://pypi.org/project/Django/#history

In Safari:

<img width="692" alt="screenshot 2018-12-28 17 21 45" src="https://user-images.githubusercontent.com/7340772/50529752-2bbaac80-0ac5-11e9-9d76-a902013b81fa.png">

In Firefox:
<img width="715" alt="screenshot 2018-

[2018-12-29 03:43] kamikaze commented on #4722
this is so selfish, guys...

[2018-12-29 03:45] kamikaze opened #5238 "Stop being selfish, make this project to be runnable by everyone"
First time I see such a valuable project being vendor-locked. Please make it possible to be re-usable by everyone

[2018-12-29 06:44] rainmanwy opened #5239 "Increase size limit request for robotframework-SikuliLibrary"
hello,

project link: [robotframework-SikuliLibrary](https://pypi.org/project/robotframework-SikuliLibrary/)
package size: 100MB
Which index/indexes you need the increase for: pypi
project description: a package include a jar file.

As this project need publish with a jar file, size is over 60MB. Could you help to increase size limit of this project.

Thank you very much!

[2018-12-29 21:19] takinbo commented on #5122
I raised a [concern](https://github.com/dominictarr/event-stream/issues/116) about passing on the name of the version of the package that I maintain and they weren't addressed or responded to. I also mentioned in my response to @eigenein that I was happy to receive a PR but for some reason, he only wanted the name for his fork of the project.

Considering the fact that his team has in deed, made u

[2018-12-29 21:45] eigenein commented on #5122
The concern is raised for a different tech stack. There're also version pinning and `pip` hash checking mode already in place to address it.

I'm very sorry and I didn't want to say that last time, but "some reason" is a common sense to have the package administered by its actual maintainers. What you say is: "Just because I have acquired the name earlier, your contributions will be published exce

[2018-12-30 00:20] podshumok commented on #5122
Hello @takinbo!
What kind of assurances do you expect? For a few years now we are helping people with their issues with the library, we are fixing bugs, reviewing and accepting PRs. This is public activity, one can just visit the repository and see who is doing what. Thanks to community efforts library has now a non-blocking mode and simple tests with CD, README, a way to keep persistent message_i

[2018-12-30 12:42] di commented on #5239
I've set the upload limit for `robotframework-SikuliLibrary` to 100MB on PyPI.

[2018-12-30 12:42] #5239 closed

[2018-12-30 12:44] #5085 closed

[2018-12-30 12:45] di commented on #5237
Thanks for the report @sbdchd. I've marked this as a ["good first issue"](https://github.com/pypa/warehouse/labels/good%20first%20issue).

[2018-12-31 21:39] takinbo commented on #5122
Thanks @podshumok for the detailed explanation. I never intended to squat on the name and I'm actually glad the project is being maintained. I'll work on the change of maintainers on the package. HNY!

[2019-01-01 19:35] dependabot[bot] opened #5244 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-02 14:32] LucidOne commented on #994
How different is this from OAuth?

[2019-01-02 20:48] tkimnguyen commented on #4415
I'm a member of the Plone Foundation board. We know there was some question on the naming of the Guillotina package, but we have not heard anything since the summer. Can this proceed? Thank you

[2019-01-02 20:53] tkimnguyen opened #5245 "new Trove classifier request Framework :: Plone :: 5.3"
Request to add a new Trove classifier.

Framework :: Plone :: 5.3

* `Framework :: Plone :: 5.3 `

## Why do you want to add this classifier?
We are getting close to finishing Plone 5.2 and will begin working on 5.3

Thank you

[2019-01-02 20:59] ewdurbin commented on #5245
Done.

[2019-01-02 20:59] #5245 closed

[2019-01-03 08:00] kirankotari opened #5246 "Markdown Images are not rendered in pypi"
**Describe the bug**
Images are not rendered in pypi from README.md file
Package link: [https://pypi.org/project/shconfparser](https://pypi.org/project/shconfparser)

*Image Size:
sh_cdp_neighbour.png - 184 KB
sh_run.png - 855 KB*

**Expected behavior**
Images need to be rendered, as shown in the following link
Github link: [https://github.com/kirankotari/shconfparser](https://github.com/kirankota

[2019-01-04 09:56] kirankotari commented on #5246
Thanks @ewdurbin

[2019-01-04 09:56] #5246 closed

[2019-01-04 15:46] LucidOne opened #5247 "Roadmap update for TUF support"
Is it possible to get an update on the [development roadmap](https://warehouse.readthedocs.io/roadmap/) about when [TUF](https://github.com/theupdateframework/tuf/issues/816#) or other encryption support might be deployed? Thanks!

Also, it appears that tomorrow will be 6 years since [January 5, 2013](https://www.python.org/dev/peps/pep-0458/).

[2019-01-04 17:19] #5244 closed

[2019-01-04 21:54] crwilcox commented on #4011
I am going to start working on this. I have the first part complete (add new field and migration as well as adding is_moderator as settable in admin UIs) https://github.com/pypa/warehouse/pull/5249/files

[2019-01-04 23:19] crwilcox commented on #4011
@di @dstufft I am moving on to `Add ACLs for various /admin POST endpoints, as well as conditionals in the HTML templates to hide actions that are not enabled for moderators, and to make fields not appear editable;`

Do you have a starting list of activities you would like to allow moderators to do? For instance, should moderators be able to mark other users as having a verified email?

[2019-01-05 00:16] di commented on #4011
@crwilcox See the issue body:

[2019-01-05 08:34] 0101011 commented on #1453
Signing in here for updates:

Ready to help and own Russian localization of PyPi infrastructure

[2019-01-06 06:46] ethanhs commented on #4348
I agree with @ambv, I think the bare "Typing::Typed" spelling makes sense.

[2019-01-06 13:02] SimonDeRidder opened #5255 "Ownership of python-christofides package"
Hi,
I've contacted the current owner @dsrahul30 of the [python-christofides](https://pypi.org/project/python-christofides/) package about a month ago, but he hasn't answered.
I'd like to make this package python3 compatible, as well as improving performance.
Perhaps it should also be renamed to just "christofides", the same as the module name
My PyPI username is SimonDR.

[2019-01-06 16:12] impredicative opened #5257 "Quality of search results"
**What's the problem this feature will solve?**
The quality of search results for packages on pypi leaves a lot to be desired. I found the older pypi to have a far better quality of results.

**Describe the solution you'd like**
Use a different search mechanism. How does Google show substantially better quality search results?

[2019-01-08 00:38] crwilcox commented on #5200
Searching today returns the package as the top result. https://pypi.org/search/?q=xmldirector.connector

[2019-01-08 04:46] zopyx commented on #5200
much better

[2019-01-08 04:46] #5200 closed

[2019-01-09 06:43] ganeshsingamaneni opened #5266 "not able to install celery with pip"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[code]

[2019-01-09 14:32] jamadden commented on #5266
Although this could conceivably be a bug with warehouse and corrupted distributions, I cannot reproduce it. I suspect it's more likely that there was a network error and you received bad data, or a proxy between you and warehouse did. Can you try installing without using the cache? i.e., `pip install --no-cache-dir celery`

[code]

[2019-01-10 03:14] kimyen commented on #2285
I am looking for the URL to the new upload (not legacy) to test.pypi. I couldn't find it anywhere and my search takes me here. Is the new upload available for test.pypi?

My use case: I intended to use test.pypi as my "staging". I am writing an automated job that create the package distribution and push it to test.pypi. We hope that we can catch any bugs/ mistakes while the new version is released

[2019-01-10 08:32] paugier opened #5271 "rst admonitions (warning, note, tip, ...) rendering"
**What's the problem this feature will solve?**

Admonitions (http://docutils.sourceforge.net/docs/ref/rst/directives.html#specific-admonitions) in README.rst does not appear correctly on PyPI.

For an example see the first warning admonition at the beginning of this README.rst : https://pypi.org/project/transonic/

**Describe the solution you'd like**

It would be great if admonitions were displa

[2019-01-10 13:06] ewdurbin commented on #5271
I'm going to transfer this issue/feature request to the pypa/readme_render project which is responsible for this rendering.

[2019-01-10 16:18] di commented on #2285
@kimyen There is only one [upload API](https://warehouse.readthedocs.io/api-reference/legacy/#upload-api). It's a "legacy" API because it mimics the original upload endpoint for [pypi-legacy](https://github.com/pypa/pypi-legacy), but there is not yet a replacement for it. Sorry for the confusion!

[2019-01-10 17:56] kimyen commented on #2285
@di Does rendering project description with markdown format have anything to do with the upload?

[2019-01-10 17:57] di commented on #2285
@kimyen Yes! Please open a new issue describing your problem and we'll try to help.

[2019-01-10 19:22] rsyring commented on #2285
@kimyen maybe you are looking for this? https://github.com/di/markdown-description-example

[2019-01-10 23:21] kimyen opened #5276 "Markdown does not render on test.pypi"
**Describe the bug**

Markdown does not render on test.pypi

**Expected behavior**
The same branch (same source code) are use in pypi, and the markdown is rendered: https://pypi.org/project/synapseclient/ (version 1.9.0)

**To Reproduce**
Run the following script: https://raw.githubusercontent.com/Sage-Bionetworks/CI-Build-Tools/master/py-pkg/staging-deploy.sh
In case someone looks at this bug rep

[2019-01-10 23:32] kimyen commented on #2285
Thanks @rsyring ! I was following the instruction in https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi/, and get it working in pypi in the past. I cannot reproduce the same working state in test.pypi this time (for the same code). And I got confused on the second paragraph of section 7 in that post, which lead me here.

@di , I created #5276. Thank you for looking into it!

[2019-01-10 23:33] di commented on #2285
Ah, good catch, I should update that paragraph, it is confusing!

[2019-01-11 02:34] di commented on #5276
Something's off with your deployment environment. [This release](https://test.pypi.org/project/synapseclient/1.9.0.42/) was built with:

The problem is `setuptools==33.1.1`, it needs to be `setuptools>=38.6.0`. I'd recommend specifically `pip install`-ing specific versions of `twine` and `setuptools` at the beginning of your deployment script.

[2019-01-11 17:17] SimonDeRidder commented on #5255
Hi @crwilcox,  I already made a fork and submitted a pull request back in october, with no reaction, and as the last commit is from April 2017, I assume @dsrahul has abandoned it.
I guess I could just release under a new name.
It seems cleaner to just continue where he left off, but I can live with either solution.

[2019-01-11 21:13] kimyen commented on #5276
@di, thank you for looking into this. In the build machine, I have `python` (2.7) and `python3` (3.6.7). I used `python3 -m pip ...` to install `setuptools` and `apt-get` to install `twine`.

As you can see above the version of `setuptools` shown up with `twine` version is 40.6.3.
The version of `setuptools` in `python3` is:
[code]
To be honest, I installed and uninstall `setuptools` and pip sever

[2019-01-11 21:34] kimyen commented on #5276
This works perfectly! Thank you very much. I installed the twine and setuptools as ubuntu user. The user who is running the script is a different user. Adding the installation step in to build script ensure that the environment is correct each time the scrip run.

[2019-01-11 21:34] #5276 closed

[2019-01-11 21:36] di commented on #5276
The version of `setuptools` comes into play when running `python setup.py sdist` due to the `from setuptools import setup` in your `setup.py` file.

Twine reports which versions of various packages are present when you upload the distribution, which is where "setuptools/33.1.1" came from.

What's the output of the following commands?

[code]

[2019-01-11 21:42] kimyen commented on #5276
Here is the output:
[code]
I am getting these info as `ubuntu`. I am not sure if this is relevant to when I run the script, as `jenkins` user.

[2019-01-12 20:06] sshamekhi opened #5282 "Problem with Pyinstaller when using ITKPython"
Dear all,
I am using ITKPython, My codes are working well in PyCharm with *.py format but after making a standalone *.exe file via PyInstaller some errors occure as follow:

Traceback (most recent call last):
File “RSG_V_0.py”, line 27, in <module>
File “site-packages\itkExtras.py”, line 449, in imread
File “site-packages\itkLazy.py”, line 40, in getattribute
AttributeError: ‘LazyITKModule’ object

[2019-01-12 20:09] jamadden commented on #5282
Thank you for the report, but unfortunately this is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself ("warehouse"). For issues with packages installed from there you'll need to contact the appropriate support forum.

[2019-01-12 20:09] #5282 closed

[2019-01-12 23:37] srini100 commented on #5196
This got resolved. Thanks.

[2019-01-12 23:37] #5196 closed

[2019-01-13 11:35] pradyunsg opened #5283 "PEP 541: Ownership of the 'p' name"
My intent is to publish a CLI tool for helping manage Python environments, projects and installations. `p` would be the perfect name for this tool since it is a short name (good for CLI tools) and I could not find any existing tools with the same name.

There is only 1 release (from Aug 9 2013), which has no downloadable files as on today. I've emailed the author of the tool at Sun, Jan 13 2019, 1

[2019-01-13 11:42] gabor-boros opened #5284 "Lost credentials"
Dear devs,

I'm working with RethinkDB as a contributor and a core developer. When we took over RethinkDB almost all the credentials lost, including PyPi credentials.

I would like to kindly ask you to help me resolve this issue, because we really would like to release a new version of rethinkdb package.

Thank you in advance

[2019-01-13 12:44] ewdurbin commented on #5284
Hello @gabor-boros! I see the project currently belongs to a user with an @rethinkdb.com email address. Can you have someone from RethinkDB email ernest@python.org?

[2019-01-13 13:41] gabor-boros commented on #5284
Hello Ernest,

Unfortunately not, because rethinkdb organization went black in 2016 and the project became open source.

The original maintenance of the open source project was done by the ex employees, but they left the repos abandoned.

A small group of contributors (including me) pick up the project and started a fork (RebirthDB). After Linux foundation seen that we care about the DB they gave

[2019-01-13 13:42] ewdurbin commented on #5284
So the MX records are defunct?

I didn’t get a bounce emailing the current registered address.

On January 13, 2019 at 8:41:18 AM, Boros Gábor (notifications@github.com)
wrote:

[2019-01-13 14:04] gabor-boros commented on #5284
They are not defunct because the domain was paid by LF, but as I know we have no access to it.

[2019-01-13 20:37] mcandre opened #5286 "Many pip SSL certificate errors"
Many users are reporting problems with pip[3] accessing the main pip repository to download packages. Unfortunately, just about every solution posted online involves disabling SSL certificate verification, blindly trusting servers that advertise on the pip domain names.

I'm not sure that this is secure, as a Man-in-the-Middle attack could involve spoofing the pip repository servers and injecting

[2019-01-14 13:21] stefdoerr opened #5292 "Capitalization issues in combination with conda skeleton"
**Describe the bug**
It's impossible to fix the capitalization of a PyPI project even on the test server. Once uploaded it stays like that even if the project is deleted and reuploaded.  Problem is that `conda skeleton` expects small caps URLs.

Now I practically only have the choice of:
1. Testing on the production server which I didn't upload the capitalized project to (and hoping I don't mess a

[2019-01-14 13:40] ewdurbin commented on #5286
Hi @mcandre! Thanks for your report and concern regarding pip security.

This issue is probably best suited for discussion on pip's issue tracker unless you believe there is a misconfiguration of pypi.org TLS. If I don't hear back from you in a few days, I'll transfer the issue either way.

[2019-01-14 13:43] ewdurbin commented on #5284
Hi @gabor-boros, I see that you and @grandquista have both been consistent contributors to the revival of the project at rethinkdb/rethinkdb-python. Can each of you provide your pypi.org user account names?

[2019-01-14 13:44] ewdurbin commented on #5266
I'm also unable to reproduce. Are you still seeing the same behavior, @ganeshsingamaneni?

[2019-01-14 13:50] ewdurbin commented on #5257
Hi @impredicative! PyPI's search functionality could indeed use improvement.

As a community supported project, prioritizing features and improvements to PyPI comes down to two things.

1) Community contributions. All users of PyPI are encouraged to discuss and implement improvements to the project! No matter the size or focus of the contribution, the maintainers are always happy to review, and oc

[2019-01-14 13:50] #5257 closed

[2019-01-14 13:52] impredicative commented on #5257
Well, how did the old pypi show better search results (in my opinion)? What technique did it use anyway?

[2019-01-14 14:07] ewdurbin commented on #5257
The codebase for the original implementation of PyPI is viewable at https://github.com/pypa/pypi-legacy.

Effectively the search implementation was [this database query](https://github.com/pypa/pypi-legacy/blob/a418131180a14768328713df5533c600c425760d/store.py#L613-L661), which was eventually [emulated using elastic search](https://github.com/pypa/pypi-legacy/blob/a418131180a14768328713df5533c600c

[2019-01-14 14:38] gabor-boros commented on #5284
@ewdurbin, Sure. My user is `gabor-boros`. Unfortunately, I do not know @grandquista's.

[2019-01-14 16:17] grandquista commented on #5284
I have no personal account on pypi.org. I can register “grandquista” if needed.

[2019-01-14 16:19] di commented on #4341
@youreccentricity You have a bug in your `setup.py` file, you're not returning anything from this function: https://github.com/youreccentricity/colorlicious/blob/7408519ab5803213b67b6dfe0a6b22777608101b/setup.py#L42-L44

[2019-01-14 16:42] ewdurbin commented on #5284
Yes, it would be preferred if I was able to transfer ownership to two users rather than just one... to keep such a lock out from happening again :)

[2019-01-14 19:08] achillesrasquinha opened #5293 "Fails to render HTML within Markdown."
**Describe the bug**

My package https://github.com/achillesrasquinha/pipupgrade doesn't render the corresponding markdown at https://pypi.org/project/pipupgrade/ properly.

**Expected behavior**

Should render HTML within markdown.

[2019-01-14 19:14] di commented on #5293
Based on https://github.com/achillesrasquinha/pipupgrade/blob/master/setup.py and your package's metadata, you're not setting `long_description_content_type`. See https://packaging.python.org/guides/making-a-pypi-friendly-readme/ for more details.

[2019-01-15 02:44] grandquista commented on #5284
@ewdurbin I have registered the username `grandquista`.

[2019-01-15 14:37] gabor-boros commented on #5284
@ewdurbin Is there anything what we can do from our side?

[2019-01-15 18:45] #4414 closed

[2019-01-15 18:49] heuermh commented on #4414
Thank you, @nlhkabu!

[2019-01-15 19:35] shlomif commented on #5145
Any other comments or can we carry forward with implementing it?

[2019-01-16 03:22] hermithuang opened #5297 "make initdb cant finish."
**Describe the bug**
when run `make initdb`, it always hangs at `ALTER TABLE`.
`make build` and `make serve` have no problem.
BUT `make initdb` always HANGS at the 14th `ALTER TABLE` after `CREATE TRIGGER` at the same position.

**Expected behavior**
`make initdb` finishes

**To Reproduce**
100% happens at my env, tryed more than 5 times

**My Platform**
OS: RedHat Linux 7.5 x64
MACHINE: HP DL380g

[2019-01-16 07:54] #5297 closed

[2019-01-16 16:55] ewdurbin commented on #5284
Owner role on `rethinkdb` project has been transferred to `gabor-boros` and `grandquista`.

[2019-01-16 16:55] #5284 closed

[2019-01-16 18:08] Juanlu001 opened #5300 "Some packages are taking a very long time to download"
## My Platform

I noticed while doing `pip install tox` on a Python 3.4 box that some dependencies were taking a very long time to download (sometimes 2 minutes), longer than the default timeout time and therefore requiring manual environment configuration. It is not a pip problem though:

### First attempt

From 18:31:37 to 18:33:29, data download in 0.6 seconds.

[code]

### Second attempt

From

[2019-01-16 18:11] Juanlu001 commented on #5300
Interestingly, when I switched from the router to a WiFi hotspot with my smartphone the problem disappeared. So now I suspect there is something wrong with my ISP...

[2019-01-16 18:22] di commented on #5300
@Juanlu001 Who is your ISP?

[2019-01-16 18:42] Juanlu001 commented on #5300
Sorry, somehow my fastly-debug output didn't make to the report. It's `CABLEWORLD-AS, ES`

[code]

[2019-01-16 18:49] di commented on #5300
Thanks, I've submitted a support ticket to our CDN provider.

[2019-01-17 07:24] hermithuang opened #5305 "how to get real sql like example.sql.xz matches packages pulled by bandersnatch?"
I am buliding a platform serves pypi. I make warehouse web works and use bandersnatch pull real packages from pypi.python.org.
It seems that the example.sql.xz in dev directory not match the real packages pulled by bandersnatch

So how can i get the right sql  dump to postgredb, then when i click download in warehouse page could get right packages?

thanks a lot

[2019-01-17 08:52] gabor-boros commented on #5284
Thank you @ewdurbin! Shame on me, but I forgot to ask you to do the same on test.pypi.org. Could you please help with that as well? 😓

[2019-01-17 11:53] guilgautier opened #5307 "Claim package name 'dppy'"
Hi there!

I've spent some time working on [DPPy](https://github.com/guilgautier/DPPy) and I now feel ok to reference it on PyPi.

However, the name `dppy` is already taken see [dppy](https://pypi.org/project/dppy/), but:
- the project is **completely empty**
- **no contact** available

What can I do to make my DPPy project as the (or at least not void) `dppy` on PyPi ?

Btw, I've started testing

[2019-01-17 14:35] ewdurbin commented on #5284
@gabor-boros done, please add `grandquista` when they've created an account on test.pypi.org

[2019-01-17 16:13] di commented on #5300
@Juanlu001 Can you run the following command and share the results?

[code]

[2019-01-17 16:58] Juanlu001 commented on #5300
[code]

[2019-01-18 17:41] di commented on #5300
Thanks @Juanlu001, can you verify if it's intermittent or occurs 100% of the time for that file? If it's only intermittent, how often does it occur? Also, could provide the full response headers when it does happen? (via `curl --verbose`).

[2019-01-18 18:09] Juanlu001 commented on #5300
Thanks @di and sorry for making you back-and-forth between me and PyPI's CDN, I appreciate the help a lot.

It happens 100 % of the time with one package and 0 % of the time with another package, and sadly `curl --verbose` does not give much more information:

[code]

[2019-01-21 10:16] darkHarry commented on #5085
Hi @di!
I realized whilst browsing pypi that the tooltip is in UTC which isn't convenient for different timezone users.
It would be better to localize it while displaying improving UX.

[2019-01-21 14:07] michael-k opened #5317 "Request trove classifier: Django 2.2"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `'Framework :: Django :: 2.2'`

## Why do you want to add this classifier?

Django 2.2 alpha is now released, see https://www.djangoproject.com/weblog/2019/jan/17/django-22-alpha-1/.
See also pypa/warehouse#4090 (previous request for Django 2.1)

[2019-01-21 14:09] ewdurbin commented on #5317
Done!

[2019-01-21 14:09] #5317 closed

[2019-01-21 14:12] michael-k commented on #5317
That was quick, nice! :)
If it was already available before I opened the issue: I found no matching request, and it wasn't available [18 hours ago](https://github.com/carltongibson/django-filter/commit/8e917de6c90d3d5512d71bae05dc463ecaebc88b).

[2019-01-21 14:13] ewdurbin commented on #5317
We've got some much better admin tooling to create these quickly, and it is especially for established projects/classifiers. This issue just happened to be the first thing I saw logging into my email this morning :)

[2019-01-21 18:51] darkHarry commented on #5085
yeah, sure.

[2019-01-21 19:41] darkHarry opened #5318 "Localize datetime tool tip in Release Versions"
The current tooltip created in issue [#5085](https://github.com/pypa/warehouse/issues/5085) displays the date and time in the UTC timezone.

**Screenshot**
![localize-tooltip](https://user-images.githubusercontent.com/20538494/51495019-d7170280-1de0-11e9-9ae6-a76960c9fd72.png)

-------------------------------------------------------------------------------------------------------------------------

[2019-01-22 18:22] varunagrawal opened #5322 "Claim package name 'bbox'"
Hi PyPI admins,

I wish to claim the package name "bbox" which ~~is currently~~ was owned by Dustin Tran. I have already emailed Dustin and he has graciously released the package name. Please refer to the attached PDF detailing our email transaction [Gmail - bbox package on PyPI.pdf](https://github.com/pypa/warehouse/files/2784091/Gmail.-.bbox.package.on.PyPI.1.pdf).

This is a PEP 541 related iss

[2019-01-22 18:25] di commented on #5322
@varunagrawal The current owner should be able to add you as a new owner on PyPI, is there some reason they can't do this?

[2019-01-22 18:38] varunagrawal commented on #5322
@di I just checked. https://pypi.org/project/bbox/ throws a 404 and running `twine upload dist/*` gives me
[code]

[2019-01-22 18:58] ewdurbin commented on #5322
The Project had all Releases removed by the maintainer on 2018-08-02, but was not itself deleted. This leads to the 404 (no Releases to render) and the inability to register again (the Project still registered to the original owner).

[2019-01-22 19:02] ewdurbin commented on #5322
I've sent an email to the Project owner (ccing PyPI admins) to ask for a response per PEP 541's reachability clause.

[2019-01-22 19:32] varunagrawal commented on #5322
What is the correct process to unregister a package on PyPI?

[2019-01-22 20:10] mackeyja92 opened #5323 "Package version inconsistency after new release"
**Describe the bug**
A new version of a package is showing up in the search that is not able to be installed via pip.

**Expected behavior**
A new version of a package should not display in the search if it is not yet able to be installed.

**To Reproduce**
[code]

**My Platform**
`pip 19.0 from /usr/local/lib/python3.7/site-packages/pip (python 3.7)`

**Additional context**
At the time of making

[2019-01-22 20:10] pradyunsg commented on #1388
Does this still need more discussion?

[2019-01-22 22:32] di commented on #5323
Looks like a small hiccup in our CDN cache purging mechanism. I manually purged the cache and 0.3.31 is now available everywhere.

Closing this as a duplicate of #4892, but thanks for reporting!

[2019-01-22 22:32] #5323 closed

[2019-01-22 22:32] di commented on #4892
Yet another: #5323.

[2019-01-22 22:34] mackeyja92 commented on #5323
Ah, thanks for doing that!

[2019-01-22 22:38] di commented on #1388
Yes, I think so. There are challenges to both:

* **Create a new page for this:** what does this look like? How does it communicate to the user the state of this project? Do we really need a new page?
* **Make the current project detail view handle a project with zero releases:** The "project" page is actually rendering a release, so without a release to render, it doesn't really work as intended.

[2019-01-23 00:50] dustinvtran commented on #5322
Hmm apologies for the hiccup. I think I deleted the project. @varunagrawal Can you register the package now? I'm getting 404 on all pages.

[2019-01-23 00:59] varunagrawal commented on #5322
Yup it worked. Thanks @ewdurbin and @dustinvtran!

[2019-01-23 00:59] #5322 closed

[2019-01-23 05:43] njsmith opened #5327 "Broken paging on the packages-with-classifier page"
Here's a page of packages that have the `Framework :: Trio` classifier: https://pypi.org/search/?c=Framework+%3A%3A+Trio

There are more than 20, so some spill onto the next page. Let's click "next" to see them: https://pypi.org/search/?c=Framework+%3A%3A+Trio&page=2

...that's odd. All the packages listed on the second page are duplicates of packages listed on the first page. For example, as I wr

[2019-01-23 14:39] pradyunsg commented on #5266
I think this is likely either a corrupted download / cache entry.

[2019-01-23 15:31] Juanlu001 commented on #5300
Hi @di! I guess there hasn't been much progress with this issue, but did the CDN say anything that I can use to try to fix this with my ISP at least?

[2019-01-23 15:43] di commented on #5300
Hi @Juanlu001, sorry for the delay. Our provider wants to confirm that you're seeing this issue on the WAN side of your router, and if so, if you can send then a packet capture they can inspect.

(If that's not possible or you're not sure how to do that, it's no problem, just let me know)

[2019-01-23 15:49] di commented on #5327
Thanks for the report! This is a duplicate of #4006.

[2019-01-23 15:49] #5327 closed

[2019-01-23 16:07] Juanlu001 commented on #5300
I don't know what WAN is, so if there are some instructions I can follow, I'll generate a packet capture.

[2019-01-23 16:11] willnx opened #5329 "Uploaded to PyPi, but not able to download"
**Describe the bug**

I uploaded an update to https://pypi.org/project/vlab-ipam-api/ yesterday.
Today, when I try to install that update, pip3 says it doesn't exist.
When I check the PyPi website, I find the updated package: https://pypi.org/project/vlab-ipam-api/2019.1.23/

**Expected behavior**

I expect to download packages that exist on PyPi.

**To Reproduce**

 https://pypi.org/project/vlab-

[2019-01-23 16:12] supine commented on #5300
@Juanlu001 by WAN we mean the ISP side of your router.

Not sure what kind of connection it is but is it possible to connect a computer directly to it rather than using your router?

If so, please capture the slow and normal downloads in that configuration.

If not, please just take captures of the slow and normal downloads in your standard configuration and we will see if we can extract any insig

[2019-01-23 19:01] cooperlees opened #5331 "New serial causing bandersnatch to generate no link Simple HTML files"
**Describe the bug**
I can not see evidence of a new [black](https://pypi.org/project/black/) release today but for some reason 3 of my production bandersnatch mirrors generated ano link index.html. Example:
[code]
- Is there somewhere I can find out why black got a new serial and thus bandersnatch wanted to regenerate the Simple HTML?
- Bandersnatch logging showed no errors and that everything wo

[2019-01-23 19:07] di commented on #5331
Can confirm that there is not a new release of `black`, but there were some changes to the roles for owners of that project today. This would result in a cache purge across any project-specific pages, so it seems likely that this caused the new serial, but it's not clear to me if it should have or not.

[2019-01-23 19:30] ewdurbin commented on #5331
Also confirming that these changes occurred, and that they indeed each lead to an increment of the serial.

Journal:

<img width="715" alt="screen shot 2019-01-23 at 2 28 08 pm" src="https://user-images.githubusercontent.com/1200832/51631651-4264ef80-1f1b-11e9-8f7d-bc09257169b2.png">

<img width="523" alt="screen shot 2019-01-23 at 2 29 52 pm" src="https://user-images.githubusercontent.com/1200832

[2019-01-23 19:32] ewdurbin commented on #5331
For reference, internal PyPI bandersnatch is running 2.2.1

[2019-01-23 19:52] cooperlees commented on #5331
Cheers for the info @ewdurbin  - I'll try repro on my laptop this afternoon with bandersnatch trunk.

[2019-01-23 23:01] #5329 closed

[2019-01-23 23:41] di commented on #5329
This was a minor hiccup with cache purging on our end, essentially a duplicate of #4892.

[2019-01-24 04:57] Scitator opened #5332 "PEP 541: transfer ownership of unmaintained `catalyst`"
Hi,

I would like to transfer ownership of the name [`catalyst`](https://pypi.org/project/catalyst/). The current PyPI package is lost from the GitHub and is not maintained since first release in 2016.

On the other hand, [our repo](https://github.com/catalyst-team/catalyst) is actively maintained and has 400+ stars and 40+ forks. There're also users who are asking us to publish our package to PyP

[2019-01-24 15:55] Scitator commented on #5332
@jamadden Yup, waiting for the response.
Nevertheless, is there any time limit for such cases? Or how do such processes usually go?

[2019-01-24 15:58] jamadden commented on #5332
[PEP 541](https://www.python.org/dev/peps/pep-0541/) specifies the official process, including definitions of 'reachability' and 'abandoned projects'.

[2019-01-24 17:05] MNGuenther opened #5335 "Lost access to registration email"
Hi,

I have lost access to my registered email address when I moved institutions. I tried activating my new email on PyPi, but somehow do not receive your verification emails. Could you please change it for me?

Best
Max

[2019-01-24 18:55] di commented on #5305
Sorry, we don't support using Warehouse for anything other than being https://pypi.org. There is no way for us to give you a DB dump of PyPI. You'd be better off using software designed to be a PyPI mirror or cache, see ["Package index mirrors and caches"](https://packaging.python.org/guides/index-mirrors-and-caches/).

[2019-01-24 18:55] #5305 closed

[2019-01-24 19:46] guilgautier commented on #5307
Nobody can help? 🆘

[2019-01-24 20:03] Scitator commented on #5332
Thanks to Fabian van der Werf the ownership have been transferred.

[2019-01-24 20:03] #5332 closed

[2019-01-24 21:51] di commented on #5335
This has been resolved.

[2019-01-24 21:51] #5335 closed

[2019-01-24 23:59] cooperlees commented on #5331
Making the CI job try and install black and not remove the temp repo on the filesystem I can repro on my laptop. Will dig in a debug.
Diff to trunk: https://pastebin.com/pDDpYH7a

Will close this if I can make a suitable fix in bandersnatch code or submit a PR to Warehouse.

[2019-01-25 02:34] jnahmias opened #5336 "Allow ssh authentication for uploads"
**What's the problem this feature will solve?**
Passwords are evil.  Everyone has too many of them.  For infrequent contributors, remembering yet another password so we can upload to PyPI is a pain.  This is especially noticeable since most git repos allow you to upload using an ssh key; so this is a break from the usual developer workflow.

**Describe the solution you'd like**
Rather than authent

[2019-01-25 03:55] cooperlees commented on #5331
Root caused - Loading all the bandersnatch plugins by default creates unexpected implicit behavior. Tured that off. PR up. Can close here:
https://github.com/pypa/bandersnatch/pull/142

[2019-01-25 03:55] #5331 closed

[2019-01-25 04:39] ethanhs commented on #3462
I'm not sure if this deserves a separate issue, but one thing that I would _love_ to be able to do is hit a key and have the cursor focused on the search box (https://crates.io uses `s` which seems logical, but other keys would likely work). Thank you so much for making pypi so awesome!

[2019-01-25 14:44] ewdurbin commented on #5336
SSH uploads were supported before TLS was available for accessing PyPI.

We don't intend to reintroduce SSH for uploads, but rather to implement Tokens for accessing PyPI programatically.

Do the features suggested in #994 fulfill your concern? These are planned to be implemented this year as part of an RFP at https://github.com/python/request-for/blob/master/2019-Q1-PyPI/RFP.md

[2019-01-25 15:55] Hornwitser opened #5342 "Broken link in FAQ"
**Describe the bug**

The [How do I become a owner/maintainer of a project on PyPI?](https://pypi.org/help/#request-ownership) section of the FAQ links to the _How do I claim an abandoned or previously registered project name?_ section using the wrong url  (`https://pypi.org/help/project-name-claim`)

**Expected behavior**

The section linked correctly

**To Reproduce**

Go to https://pypi.org/hel

[2019-01-25 16:38] di commented on #5342
Thanks for the report. This should be linking to `https://pypi.org/help/#project-name-claim` instead.

I've marked this as a good first issue.

[2019-01-25 17:23] di commented on #4011
#5249 is merged, we can now set users as moderators.

@jamadden @yeraydiazdiaz Would you like to be moderators?

[2019-01-25 19:18] yeraydiazdiaz commented on #4011
That’s a yes for me, thanks ☺️

[2019-01-25 22:39] crwilcox commented on #4011
@theacodes volunteered if you want additional moderators.

[2019-01-26 13:01] pradyunsg commented on #4011
I volunteer too, if you need more eyes and hands on deck. :)

[2019-01-27 09:41] UnicodeAlt255 opened #5344 "Error: Unknown interpreted text role "kbd"."
**Describe the bug**

:kbd: in rst file is not recognized by pypi

**Expected behavior**

:kbd: in rst file should be recognized by pypi
**To Reproduce**

- Set long_description in setup.py to a reStructuredText document containing `` :kbd:`Hello World` ``
- `python setup.py sdist`
- `twine check dist/*`

**Additional context**
":kbd:" in rst files is supported by Gitlab, Github, readthedocs, etc.

[2019-01-27 16:19] jeking3 opened #5345 "Web site guidance has a missing link for abandoned projects"
I went to the web site looking for guidance on abandoned projects:
https://pypi.org/help/#request-ownership

The link in that section for "How do I claim an abandoned or previously registered project name?" which links to https://pypi.org/help/project-name-claim is dead.

I am on the Apache Thrift PMC and our PMC chair, who is the only maintainer of the thrift package, has gone unresponsive.  I ne

[2019-01-27 16:32] jeking3 opened #5346 "PEP 541: Add maintainer to thrift (maintainer is unresponsive)"
Greetings,

I am on the Apache Thrift PMC, and currently our PMC Chair is the only one listed as a maintainer of the thrift package on pypi.  Our chair has gone unresponsive for a while now, and we're trying to get more folks who are doing releases added to package managers.  In this case, pypi needs additional maintainers of thrift.  If you can add me to the list of maintainers, that will resolve

[2019-01-27 16:34] jeking3 commented on #5345
Looks like it's missing an anchor at the beginning; the information is directly above it.

[2019-01-27 17:18] yeraydiazdiaz commented on #2877
Seems this issue is not happening anymore, [searching for `python-miio`](https://pypi.org/search/?q=python-miio) or [`psycopg2`](https://pypi.org/search/?q=psycopg2) yield the correct packages as first hits on the search.

[2019-01-28 11:36] yeraydiazdiaz commented on #5345
Thanks for reporting this @jeking3. You're right, it's just missing an anchor. Will be fixed soon.

[2019-01-28 11:42] yeraydiazdiaz commented on #5345
Seems it's already been reported in #5342. Closing.

[2019-01-28 11:42] #5345 closed

[2019-01-28 13:23] #5342 closed

[2019-01-28 17:42] jamadden commented on #4011
@ewdurbin I got your Slack invite, thank you. Would it be possible to switch it to the alternate address for my PyPI account?

[2019-01-28 17:44] ewdurbin commented on #4011
absolutely. will do.

[2019-01-28 23:02] CindyDuck opened #5356 "Question about supported Python versions for latest version of log4python"
This isn't an issue but I couldn't find another location to ask this question: log4python 0.2.28 (latest version) lists up to Python 3.3 for supported Programming Languages. We are using Python v. 3.6.6. Is that version supported by log4python?

Thanks!

[2019-01-29 07:54] jason-dai opened #5359 "Pypi package size limit for Analytics Zoo"
I wonder if it is possible to increase the limit of https://pypi.org/project/analytics-zoo/ to 120MB?

Analytics Zoo (https://github.com/intel-analytics/analytics-zoo) is a unified analytics + AI platform for distributed TensorFlow, Keras and BigDL on Apache Spark; and the reason for the large size (esp. for the upcoming releases) is that it will include more .so files for hardware accelerations,

[2019-01-29 11:58] jamadden commented on #5359
I've set the upload limit to 120MB.

[2019-01-29 11:58] #5359 closed

[2019-01-29 13:37] yeraydiazdiaz commented on #4068
Hi @zylo117, sorry for the delay on addressing this issue.

Could you clarify the reason you're moving from 20MB to ~95MB?

[2019-01-29 13:44] zylo117 commented on #4068
Because the whl that I wanted to upload is bigger than 20MB. Most of the components are pre-compiled binary, so it's much bigger than normal source pypi package tar.gz. I pre-compiled it because the compilation would take hours, it's not wise to do so on every user's computer. My repo is here, https://github.com/zylo117/tensorflow-gpu-macosx

[2019-01-29 16:36] yeraydiazdiaz commented on #4068
Can I ask what is the use case for this package?

Our concern is that it might be misleading to users as there is [explicitly no GPU support in Tensorflow](https://www.tensorflow.org/install/source#install_gpu_support_optional_linux_only). Also there doesn't seem to be any modern Macs with Nvidia graphics cards.

[2019-01-29 17:18] yeraydiazdiaz commented on #4113
Hi @sidgurun, given the size of your data I believe you'll need to settle for an external download solution. Other packages that require extra data ask the user to explicitly download the data, for example [NLTK](http://www.nltk.org/data.html).

I will now close this issue, feel free to reply if you have any questions and sorry for the delay on the resolution.

[2019-01-29 17:18] #4113 closed

[2019-01-30 12:52] zylo117 commented on #4068
Just wanted to share. Tensorflow did have a official python package called tensorflow-gpu while there is also another official pkg call tensorflow. And tensorflow team stop gpu support on mac since version 1.2. I found a solution to solve it and would like to share it to the public. According to my repo's issues, there are plenty of developers use eGPU on Mac, and also there are hackintosh users w

[2019-01-30 13:14] ForeverAFalcon84 opened #5363 "Extrude with lower order entities"
**What's the problem this feature will solve?**
I don't know if this would be useful to anybody else, but I find there's no clean way to use Pygmesh built-in functions to complete de following Gmsh sequence that builds a cube with perfectly rectilinear tetrahedrons with a determined number of rows/layers:

`lc = 0.099;`
`Point(1) = {-0.5, -0.5, -0.5, lc};`
`Point(2) = {0.5, -0.5, -0.5, lc};`
`Line

[2019-01-30 13:18] #5363 closed

[2019-01-30 13:49] danilojsl opened #5364 "spark-nlp 1.8.1 timeout when installing"
**Describe the bug**

We are facing problems when installing spark-nlp with version 1.8.1. It works with 1.8.0, but with 1.8.1 displays this error:
[code]
**Expected behavior**

Install as previous versions

**To Reproduce**

pip install spark-nlp

**My Platform**

We tested on 2 different machines with 2 different OS (MAC OS Sierra, Linux Fedora)
We also tested downloading the packages from https

[2019-01-30 14:18] jamadden commented on #5364
I cannot reproduce locally (United States, AT&T Uverse, macOS):
[code]

Perhaps this is a CDN issue? If you'd like to provide the information outlined in https://github.com/pypa/warehouse/blob/master/.github/ISSUE_TEMPLATE/access-issues.md it might be helpful to troubleshoot.

[2019-01-30 16:32] CindyDuck commented on #5356
I will do that. Thanks!

[2019-01-30 21:08] danilojsl commented on #5364
Yes, it's working right now. It seems was some network issue somewhere on the Internet. Thanks

[2019-01-30 21:08] #5364 closed

[2019-01-30 23:56] rcurtin opened #5365 "Claim package `mlpack`"
Hi there, this is a ported issue pypa-legacy#789, which never received a response and was closed.  So I wanted to reopen it here and see if we could get it figured out. :+1:

This issue is in the same vein as pypa-legacy#789. I maintain the mlpack project (https://github.com/mlpack/mlpack), and we recently added Python bindings, but the name 'mlpack' is claimed so we were forced to take 'mlpack3'.

[2019-01-31 23:01] ericzyq opened #5370 "distribute version checking against setuptools"
**Describe the bug**
within /python2.7/dist-packages/distribute-0.6.49-py2.7.egg/pkg_resources.py (line:2430)
there was a version checking against setuptools. But since the checking logic is not implemented well, after setuptools got upgraded to version 40.7.1 on Jan 27, the version checking will fail (if '0.7' in 40.7.1 returns TRUE), and it will break the pip install

**Expected behavior**
rewri

[2019-01-31 23:04] merwok commented on #5370
This seems like a problem in distribute, not PyPI.

Also, distribute has been obsolete for some years now (use setuptools).

[2019-01-31 23:06] jamadden commented on #5370
Thanks for the report, but I agree: that would seem to be a distribute issue (not a warehouse one), but distribute is abandoned in favor of setuptools.

[2019-01-31 23:06] #5370 closed

[2019-01-31 23:14] merwok opened #5371 "GitHub links open in new tabs"
**Describe the bug**
Following one of the github links opens a new tab.

**Expected behavior**
I should control whether I want to stay in the same tab or not.

**To Reproduce**
Any project page with github links

**My Platform**
N/A

**Additional context**
Added in https://github.com/pypa/warehouse/pull/3583/

---

**Good First Issue**: This issue is good for first time contributors. If you've alr

[2019-01-31 23:20] jamadden commented on #5371
To be clear, this is not all arbitrary github links. This is only the links that are auto-extracted from the GitHub integration in the Statistics section. E.g., on the [gevent project page](https://pypi.org/project/gevent/), the project links for 'source code' and 'bug tracker' both point to github and *do not* open new tabs. Only the links under 'Statistics' that point to GitHub (starts, forks, o

[2019-01-31 23:45] di commented on #5371
I've added the `good-first-issue` label to this issue.

[2019-02-01 05:08] jeking3 commented on #5346
When can I expect a decision or action on this?

[2019-02-01 05:10] jeking3 commented on #5122
If the maintainership and ownership has been addressed, can this be closed?

[2019-02-01 05:48] bertjwregeer opened #5372 "File name does not match version: SpiderKeeper 1.2.0"
**Describe the bug**

Not sure if it is a bug or by design... yes, I know, I am reporting an issue with a PARTICULAR package and I am breaking the rules.

I'm a rebel, YEAH!

Long story short:

`SpiderKeeper` version `1.2.0` has a file listed for download that is `SpiderKeeper-1.2.2.tar.gz`

pip seems to deal with this by just looking at the file names, and attempting to install version 1.2.2, but

[2019-02-01 13:44] jamadden commented on #5346
The Apache issue you point to was opened on 2018-12-27 and last updated on 2019-01-07.

The [thrift project on PyPI](https://pypi.org/project/thrift/) was last updated by its maintainer `jfarrell` on 2018-01-11.

The only email address we have on record for that user is `@apache.org`. Presumably you've tried to initiate contact using that address? I've also pinged it.

I've pinged the Author email

[2019-02-01 14:12] toejough opened #5375 "search by import name"
**What's the problem this feature will solve?**
I can't search pypi for what distribution package provides a particular import package.

**Describe the solution you'd like**
I'd like an API to be able to search based on import name.

**Additional context**
I have two concrete use-cases in mind:
* I'd like to be able to create a tool that will automatically (or semi-automatically) add the proper co

[2019-02-01 14:12] podshumok commented on #5122
I do have access

[2019-02-01 14:12] #5122 closed

[2019-02-01 14:13] podshumok commented on #5122
Thank you all for you time :)

[2019-02-01 14:58] jeking3 commented on #5346
I will update this ticket with the results from the Apache Board, the project asked the board for guidance on how to proceed.

[2019-02-01 15:18] jpscaletti opened #5376 "Invalid package: texteditor"
The https://pypi.org/project/texteditor/ is an invalid project:

- The content is a copy-pasted Python exercise with an absolute minimal setup.py, no README and a misspelled license.
- It was uploaded a year and a half ago (September 2017) and hasn't been touch since.
- The linked homepage returns a 404.
- The repo is a mix of other copy-pasted Python exercises.
- Nobody answer at the listed email

[2019-02-01 23:53] av8ramit opened #5377 "Increase size limit for 2 TensorFlow related packages"
Hi @ewdurbin and @dstufft,

The [tensorflow](https://pypi.org/project/tensorflow/) and [tf-nightly](https://pypi.org/project/tf-nightly/) binary sizes are increasing. Can we get 150MB/binary allocation for both of those? I've deleted a majority of our `tf-nightly` and `tf-nightly-gpu` binaries to reduce our footprint.

Additionally if this is the wrong place to request this my apologies. I can fil

[2019-02-02 11:16] yeraydiazdiaz commented on #4068
Thanks for clarifying @zylo117. I've increased the upload limit to 120 MB in pypi.org.

The project is not in test.pypi.org though, let us know if you also need an increase there at some point.

[2019-02-02 11:16] #4068 closed

[2019-02-03 12:07] sanketsaurav opened #5378 "Add `packages` key in JSO API response"
**What's the problem this feature will solve?**

In a lot of packages, the distribution name is different from the import name. For instance, BeautifulSoup is distributed as `beautifulsoup4`, but exports the package name `bs4` upon installation. At present, there is no other way of getting this information about a package other than getting the source and running `setuptools.find_packages` at the

[2019-02-03 19:57] MIDFlELDER opened #5380 "19.0.1 bug"
Dear PyPI  developer
  i couldn't download  a package (PyInstaller) using pip  19.0.1 (lastert versions of pip)   i had to go back to ver 18.1 to succsesfully download it    i hope this report will help u solving it  sorry i didn t screen the trace back or the error message

[2019-02-04 02:49] pradyunsg commented on #5380
Please look at the pinned issue in pip's tracker.

[2019-02-04 04:17] jamadden commented on #5380
Thanks, this is another report of
https://github.com/pypa/pip/issues/6163

[2019-02-04 04:17] #5380 closed

[2019-02-04 04:47] mitmul opened #5381 "Lost access to account"
I'm sorry to bother you with my mistake. I created a PyPI account in 2016, then I lost the password and the access to its associated email, so now I cannot recover the access to the account. Can someone please help me? I'm posting this here because PyPI help suggests filing an issue in such case.

[2019-02-04 17:58] av8ramit commented on #5377
Thank you @yeraydiazdiaz

[2019-02-04 21:05] Nickduino opened #5388 "Bad command on the rpi-rfsniffer page"
**Describe the bug**
Here: https://pypi.org/project/rpi-rfsniffer/

Installation info says:
`sudo python setyp.py install`
Should be:
`sudo python setup.py install`

[2019-02-04 21:14] di commented on #5388
Hi, thanks for the report, but this is the wrong place for it. You should open this issue in the `rpi-rfsniffer` repo: https://github.com/jderehag/rpi-rfsniffer/issues.

[2019-02-04 21:14] #5388 closed

[2019-02-04 23:08] mitmul commented on #5381
@di Thank you for the reply. The username is @mitmul and the email address is shuntasaito AT fb.com.

[2019-02-04 23:42] di commented on #5381
@mitmul Sent you an email to the address on your Github profile.

[2019-02-05 00:02] emanspeaks opened #5391 "Claim package name 'copernicus'"
The package listed on PyPI has not been updated since Oct 7, 2017.  The homepage links to a non-existent GitHub page.  The owner of the project has no publicly-visible contact information, and appears they no longer have a GitHub account.

I am a developer for a package being developed called 'copernicus' and would like to claim ownership of the name per PEP 541.

Please let me know if you need an

[2019-02-05 18:01] emanspeaks commented on #5391
Copernicus is a well established trajectory optimization system maintained by NASA.
 Currently, it is not open source, but we have been working to create a Python front-end for the software for a couple of years with the intent to try to get it cleared for open source release sometime in the near future.  See https://www.nasa.gov/centers/johnson/copernicus/index.html for details about the existing

[2019-02-05 23:39] mitmul commented on #5381
Thank you very much. I successfully recovered the account.

[2019-02-05 23:39] #5381 closed

[2019-02-06 08:38] leo-naeka opened #5400 "Possible to rename the drf-jsonapi package to drf-jsonapi-legacy ?"
I'm the maintainer of the `drf-jsonapi` PyPI package (https://pypi.org/project/drf-jsonapi/).

Our work has been merged with the widely maintained `djangorestframework-jsonapi` package (https://pypi.org/project/djangorestframework-jsonapi/) and is stale since then.

Recently, we've been asked to release the name in favor of another JSONAPI project. So would it be possible to simply rename it witho

[2019-02-06 11:08] Juanlu001 commented on #5300
Sorry for the lack of response. I have observed that it also happens with other websites, and apparently is not as predictable as I thought in the beginning, so I'm closing this issue and I will try to contact my ISP directly when I have more information. Thanks for lending a hand :pray:

[2019-02-06 11:08] #5300 closed

[2019-02-06 16:18] firegrass opened #5401 "Lost account access"
Hi

Sorry to trouble you. I have lost access to my account and email address. PyPI username is firegrass and email is patrick AT tectonic DOT io.

[2019-02-06 17:54] ewdurbin commented on #5401
We're showing that emails to the address you noted are bouncing, is that expected?

[2019-02-06 21:19] firegrass commented on #5401
Yes, unfortunately so. The domain expired and someone else has registered it.

[2019-02-06 21:20] ewdurbin commented on #5401
@firegrass please email ernest@python.org and we'll get you sorted.

[2019-02-06 21:23] firegrass commented on #5401
Sent. Thanks :+1:

[2019-02-07 00:49] #5401 closed

[2019-02-07 14:20] jeking3 commented on #5346
The Apache Thrift PMC is voting on replacing the chair because he is non-responsive.  The other project he is chair for (Apache Aurora) is likely to do the same.  We're also going to ask the apache board to try to contact him with information on file to check on his health and well-being.

[2019-02-07 22:48] RAMitchell opened #5405 "Xgboost - increase size limit request"
https://pypi.org/project/xgboost/

We would like to bundle the nccl static library with our release, enabling distributed and multi-GPU training for xgboost. The nccl binary itself adds around ~80mb, taking our binary size to somewhere around ~100mb.

It would be much appreciated if our limit could be increased to 200mb.

Many thanks!

[2019-02-08 10:01] akshaykanawat opened #5408 "After building source distribution, mac os still installing build folder files"
I have created a private python package which I hosted on bitbucket, I used "python setup.py sdist" command to build. When I installed the package on my ubuntu system it was working fine, but when I installed it in mac os it was not working. Then I built my package using "python setup.py bdist_wheel" command then it started working fine on both the os. What would be reason behind it?

---

**Good

[2019-02-08 12:00] jamadden commented on #5408
Thanks for your report, but unfortunately this is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help you build your own packages.

You might see if you can find an answer to your question using the resources at https://packaging.python.org. If not, it has a suggestion about a mailing list to reach out to. Or you could try the g

[2019-02-08 12:00] #5408 closed

[2019-02-10 03:43] dstufft opened #5410 "Use instant.page?"
It would be interesting to explore the idea of using [instant.page](https://instant.page/) to make the experience of using PyPI feel more instant. I'm not sure this is a great idea, but it certainly *seems* like one to me.

[2019-02-10 19:00] jeking3 commented on #5346
The Apache Thrift PMC team voted to elect a new project chair today.  This won't be reflected until the next board meeting in February.  I will update you then.

[2019-02-11 05:55] kirankotari opened #5411 "pip install doesn't recognise .bat files ?"
**Describe the bug**
I am trying to package a library which contains .bat files in it. when I am installing using pip, It doesn't recognised the bat files.

package: https://test.pypi.org/project/pyenv-win/
setup file: https://github.com/pyenv-win/pyenv-win/blob/packaging/setup.py

**Expected behavior**
Is there any way am I missing.

**To Reproduce**
`pip install -i https://test.pypi.org/simple/

[2019-02-11 12:20] kirankotari commented on #5411
updated the setup file
[code]

[2019-02-11 12:20] #5411 closed

[2019-02-11 15:16] kirankotari opened #5416 "Any issue with pypi.org page?"
**Describe the bug**
Rendering MarkDown and Badges are not working

Links: [shconfparser](https://pypi.org/project/shconfparser/)
[pyenv-win](https://pypi.org/project/pyenv-win/)

**Expectation**
Expecting a banner if the pypi is down for maintenance
github links: [shconfparser](https://github.com/network-tools/shconfparser)
[pyenv-win](https://github.com/pyenv-win/pyenv-win/)

**My Platform**
OS:

[2019-02-11 15:32] jamadden commented on #5416
Thanks for the report!

The release metadata for pyenv-win is missing the long-description-content-type. I see that present in setup.cfg, but it appears that the release was created with a version of setuptools that's too old to understand that. You need at least [https://setuptools.readthedocs.io/en/latest/history.html#v36-4-0](36.4), and it appears that 28.8 was used.

The images for https://pyp

[2019-02-11 17:06] jamadden commented on #5416
The PSF infrastructure team has corrected the image issue. Thanks again for the report!

[2019-02-11 17:06] #5416 closed

[2019-02-11 17:20] wesleyw72 opened #5417 "Request for file size limit exemption"
Project: [https://test.pypi.org/project/nd4j/](https://test.pypi.org/project/nd4j/)
Size request: 300MB
Which indexes to increase: both PyPi and Test PyPi

Hello, could you please allow us to submit files of size up to 300MB? We would like to submit both a .whl and a tar.gz of this size.

This package is a bundle of JARs for [nd4j](https://github.com/deeplearning4j/deeplearning4j/tree/master/nd4j)

[2019-02-12 04:24] dstufft opened #5420 "Run auditwheel on new manylinux uploads, reject if it fails"
**What's the problem this feature will solve?**

Projects are purposely uploading invalid manylinux1 wheels to PyPI which are causing crashes and other nonsense when end users erroneously use them.

**Describe the solution you'd like**

PyPI should be as strict as possible about the wheels it allows to be uploaded, and thus should do something like run ``auditwheel`` when the upload is a manylinux

[2019-02-12 04:26] njsmith commented on #5420
CC @ehashman

[2019-02-12 04:32] ehashman commented on #5420
also cc @di given the tensorflow issue.

[2019-02-12 05:10] njsmith commented on #5420
Relevant information in case anyone's worried this is too harsh or something: In response to a twitter thread calling out PyTorch for breaking the manylinux spec,  Soumith Chintala (PyTorch's creator) just tweeted:

The motivation here isn't to punish particular companies for being naughty, but to (a) improve the experience for PyPI's users, (b) give the developers at those companies the leverage

[2019-02-12 05:10] di commented on #5420
Yeah, probably overdue for an update, but I'm currently working with the TensorFlow team and other interested parties to try and determine what can be done here to improve the situation.

I think it's probably worth saying here (for anyone following along) that while I do think PyPI should eventually start auditing uploaded wheels, this is not going to happen overnight and/or without fair warning.

[2019-02-12 05:20] njsmith commented on #5420
I believe the situation is: when auditwheel checks a wheel, that involves unpacking the zip, reading the wheel metadata, and for any binaries inside, using [pyelftools](https://github.com/eliben/pyelftools) to read metadata out of the binaries. It doesn't execute any code from the binaries; it just reads metadata from the ELF headers. So in theory this isn't any more dangerous than e.g. trying to

[2019-02-12 05:42] dstufft commented on #5420
I'm personally willing to take a fairly hard line stance on this. The presumption when manylinux1 was added was that projects would be good citizens and upload properly produced wheels or would not upload manylinux1 wheels at all. Of course mistakes happen and people can ship broken wheels, but that should then be treated as a bug and either fixed or faulty wheels should stop being produced until

[2019-02-12 08:37] guilgautier commented on #5307
Hi there, still nobody to help ? 😿

[2019-02-12 09:15] longzaitianxia23 opened #5422 "pdfminer3k 1.3.1 , some pdf, get content will throw a error"
**Describe the bug**
i want to use pdfminer3k get pdf content ，Most of the is  ok ,but some will throw a error

**My Platform**
python 3.6  + pdfminer3k 1.3.1

**Code**

from urllib.request import urlopen
from pdfminer.pdfinterp import PDFResourceManager, process_pdf
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from io import StringIO

def readPDF(pdfFilePath):

[2019-02-12 09:23] longzaitianxia23 commented on #5422
and hava other  problem
i can not catch the error，some time
it will  Cause the program to crash

Code

from urllib.request import urlopen
from pdfminer.pdfinterp import PDFResourceManager, process_pdf
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from io import StringIO

def readPDF(pdfFilePath):
    print(u'打开'+pdfFilePath+'PDF链接')
    pdfFile = urlopen(pdfFile

[2019-02-12 11:40] jamadden commented on #5422
Thanks for the report,  it this is not the place for it. This tracker is just for issues with the software that runs the website PyPI.org itself. It cannot help with packages distributed from there. You will need to contact the maintainers of pdfminer3k instead.

[2019-02-12 11:40] #5422 closed

[2019-02-12 16:12] jiterika opened #5423 "JapaneseTokenizer Error with mecab while installing"
Hi All,
I am trying to install JapaneseTokenizer and i get the following error

Using cached https://files.pythonhosted.org/packages/ac/48/295efe525df40cbc2173748eb869290e81a57e835bc41f6d3834fc5dad5f/mecab-python3-0.996.1.tar.gz
    Complete output from command python setup.py egg_info:
    /bin/sh: mecab-config: command not found
    Traceback (most recent call last):
      File "<string>", line

[2019-02-12 16:24] jamadden commented on #5423
Thanks for the report, but this isn't the correct place for it. This tracker is only for issues with the software that runs pypi.org itself. It can't help with packages distributed from there. You'll need to contact the maintainers of `mecab-python3` instead; this information is often on the PyPI page for the project.

[2019-02-12 16:24] #5423 closed

[2019-02-12 16:25] jamadden commented on #5423
As an aside, it looks like this package depends on a program called `mecab-config` that's not available on your system.

[2019-02-12 17:36] jiterika commented on #5423
Hi @jamadden,
Thank you for the reply, how can i contact the maintainers, i don't see any other information other than the name. apologies if it's a lame question, but i am not very much aware of the platform.

[2019-02-12 18:33] jamadden commented on #5423
The PyPi page (https://pypi.org/project/mecab-python3/) links directly to the github repository as the homepage (https://github.com/SamuraiT/mecab-python3) which includes an issue tracker.

[2019-02-12 21:26] jiterika commented on #5423
Thank you @jamadden

[2019-02-14 02:05] mikedh opened #5429 "pypi.org passwords not hashed"
**Describe the bug**
It appears that passwords on pypi.org may not be stored as hashes? If you go to account settings, and click "show password", it displays your actual user password in plain text. Does this mean the passwords aren't stored as a [bcrypt](https://github.com/pyca/bcrypt/) or other hash? It seems like most people would [argue against](https://security.stackexchange.com/questions/120

[2019-02-14 02:56] dstufft commented on #5429
I'm pretty sure that you have something auto filling in passwords, the password are stored using argon2 and those fields are blank when I go to those pages.

[2019-02-14 02:56] #5429 closed

[2019-02-14 07:24] affixalex opened #5434 "Help accessing the `passer` wheel"
I can't recall what e-mail address I had used to register on pypi, it's been a few years!

I want to resume work on https://github.com/affixalex/passer which is the original repository responsible for https://pypi.org/project/passer/ and I've created a new PyPi account with the username `affixalex`.

Could you add my new account as a maintainer on that wheel?

[2019-02-14 15:52] anadon commented on #5196
I'd like to re-open this on the related 'grpc' package which in name squatting for 'grpcio' and is too broken to install.  There doesn't seem to be a good way for reporting these issues.

[2019-02-14 16:51] srini100 commented on #5196
Which pkg is that? Can you open a new issue?

[2019-02-14 16:52] jamadden commented on #5307
According to [PEP541](https://www.python.org/dev/peps/pep-0541/#removal-of-an-abandoned-project), in order to transfer a project name, a project must first be determined to be abandoned:

I could not determine a project home page.

The most recent release was 2018-08-01, which was only six months ago. In a strict interpretation of PEP 541, there are still six months to go before that criteria is m

[2019-02-14 18:37] guilgautier commented on #5307
Hi @jamadden, thanks you very much for this thorough answer!

I am a **Ph.D. student whose topic of research is _Determinantal Point Processes_ with very used acronym *DPPs* and mostly code with Python, hence the name `DPPy`.**
We've been working on the [DPPy](https://github.com/guilgautier/DPPy) project for **almost a year**.
We've written an **extensive** [documentation](https://dppy.readthedocs

[2019-02-14 19:12] anadon opened #5435 "Package 'grpc' is squatting and is too broken to install."
Harking back to #5196, there is a package which appears to be squatting and it too broken to install named 'grpc' registered at https://pypi.org/project/grpc/ .  It hold the name the 'grpcio' package should hold.

[2019-02-14 19:27] jamadden commented on #5405
We've increased the pypi.org limit to 200MB. At that size, please be mindful of your release frequency to be kind to pypi.org and especially its mirrors.

[2019-02-14 19:27] #5405 closed

[2019-02-14 19:28] jamadden commented on #5417
We've increased the limit on both pypi.org and test.pypi.org to 300MB. At that size, please be mindful of your release frequency in order to be kind to pypi and its mirrors.

[2019-02-14 19:28] #5417 closed

[2019-02-14 19:42] jamadden commented on #5307
Hmm, I forgot about the [Invalid Projects](https://www.python.org/dev/peps/pep-0541/#invalid-projects) part of PEP 541:

The "project is name squatting (package has no functionality or is empty)" clause certainly seems to apply here too.

[2019-02-14 19:52] jamadden commented on #5435
That project page links to a [bitbucket repo](https://bitbucket.org/seewind/grpc) as its homepage, where [an issue was opened](https://bitbucket.org/seewind/grpc/issues/1/naming-collision-with-grpc-grpc) about this back in 2015. [There have also been issues filed](https://github.com/grpc/grpc/issues/4100) in the grcpio repository, but it's not clear that those maintainers wish to assume this name.

[2019-02-14 21:13] guilgautier commented on #5307
Interesting!
What is the next step then ?

[2019-02-14 21:23] jamadden commented on #5307
Such cases are extremely rare. The vast majority of the 'PEP541' cases I've looked at which have been resolved have ultimately involved a willing transfer; the ones that are remain open are the cases without a clear-cut answer. I've done some data gathering and put out some hypotheses, but those are just my guesses and ultimately I think some of the more experienced PyPI admins (e.g., @ewdurbin @d

[2019-02-15 11:49] vielmetti commented on #3668
Referred here by @notafile from https://github.com/meshy/pythonwheels/issues/109 and https://github.com/WorksOnArm/cluster/issues/116

I'm interested in the process and practice of getting a full set of `arm64` wheels, targeting Linux, and able to run on at minimum in the Debian/Ubuntu, Fedora/CentOS/RHEL/SUSE, and Alpine universes. This is motivated by @bennuttall 's `piwheels` project, but that

[2019-02-15 12:53] mattip commented on #3668
@vielmetti so kind of a [multilinux2010](https://github.com/pypa/manylinux/issues/179) for arm64, based on a description of [minimum os requirements](https://www.python.org/dev/peps/pep-0571/)?

[2019-02-15 13:12] vielmetti commented on #3668
@mattip - Yes, essentially that. Having read PEP-0571, I might even suggest to base it on CentOS 7, which was [announced for aarch64/arm64](https://blog.centos.org/2015/05/running-centos-linux-7-on-aarch64-hardware/) in 2015.  CentOS 6 is [EOL in 2020](https://wiki.centos.org/About/Product), and if we do a new PEP based on CentOS 7 we could potentially pave the way for all of their supported archi

[2019-02-15 13:13] bennuttall commented on #3668
piwheels is an open-source project which builds wheels for any platforms. Anyone can run their own instance. Feel free: https://github.com/bennuttall/piwheels/ https://piwheels.readthedocs.io/en/latest/

piwheels.org is the Raspberry Pi repository, an instance of piwheels.

[2019-02-16 03:24] uranusjr opened #5439 "Improve result if the project page is incorrectly supplied as an index page to pip"
**What's the problem this feature will solve?**

Via pypa/pip#6269. The response of `/project/<name>` is valid from pip’s standpoint, but since there are only links for the latest version on the project page, the user gets a confusing version not found response.

**Describe the solution you'd like**

I can think of three potential solutions (besides doing nothing, which is also valid IMO):

* Disp

[2019-02-17 11:09] NotAFile commented on #3668
It seems that, with the CentOS route, there's no other way than to declare a new `manylinux2015` platform tag, since centos7 is the earliest version to support ARM(64). I don't know how much interest there would be in this, considering manylinux2010 is only just landing right now. Maybe it'd be even easier to just tack it onto the current manylinux2010 work?

[2019-02-17 11:24] ncoghlan commented on #3668
Part of what took so long with `manylinux2010` is that a lot of projects had to figure out what it even meant to have more than one `manylinux` variant to choose from. Now that that has been done once, we're hoping that future additions will be easier.

The switch to CalVer in the naming scheme was also primarily about making it easier to define newer baselines for non-x86[_64] architectures.

[2019-02-17 12:01] njsmith commented on #3668
The `manylinux_glibc_${glibc_version}_${arch}` proposal discussed here might be the simplest way forward: https://mail.python.org/archives/list/distutils-sig@python.org/thread/6AFS4HKX6PVAS76EQNI7JNTGZZRHQ6SQ/

[2019-02-18 11:16] SajEng opened #5448 "installing older version of supervisor is not found"
**Describe the bug**
pip install supervisor==2.1

Could not find a version that satisfies the requirement 2.1 (from versions: )
No matching distribution found for 2.1

[2019-02-18 18:17] mnaberez commented on #5448
Duplicate of Supervisor/supervisor#1204.  This is not a bug in warehouse.

[2019-02-18 18:18] #5448 closed

[2019-02-19 01:22] nealmcb commented on #5247
Thanks - good question.
I note that TUF is one of the options noted under [Add support for API keys · Issue #994 · pypa/warehouse](https://github.com/pypa/warehouse/issues/994) which appears under the "Cool but not urgent" milestone.
I agree that TUF addresses many of the nicely described PyPI-specific concerns that @dstufft wrote way back on 23 July 2013: [Why Package Signing is not the Holy Grai

[2019-02-19 02:21] cpdyj commented on #3174
I think you can use [](https://recaptcha.net) for a instead. This url looks not been blocked by China government.

[2019-02-19 02:43] LucidOne commented on #5247
I believe that the package signing issues stated can be resolved and in 2019 our internet depends on the security of infrastructure such as PyPI. If there is not a roadmap for TUF support, I'm going to look at solving the problem.

[2019-02-19 03:28] MyNameIsCosmo commented on #5247
Perhaps we can evaluate integration with third-party services for verification?
[Keybase.io](https://keybase.io/) helps create trust by [building a verified profile attached to a GPG key across multiple services](https://keybase.io/dstufft).
GitHub [handles gpg signature verification](https://github.blog/2016-04-05-gpg-signature-verification/) for commits, refs, releases, etc. (although, [your GH

[2019-02-19 04:39] LucidOne commented on #5247
I am convinced that this problem is tractable and I think the key here is that [Eigen](https://en.wikipedia.org/wiki/EigenTrust)[Trust](https://www.scottaaronson.com/blog/?p=1820) can provide us a mathematical model to get started.

We already have some data in the git commit history. When someone signs a git commit there is an eigentrust metric that can be calculated for all of the previous signe

[2019-02-19 10:00] hmpfe opened #5454 "Disable IPv6 flow label support for server hosting e.g. files.pythonhosted.org"
Hello,

using clients with IPv6 flow label enabled, i.e. non-zero values in flow label header have problems connecting to e.g. files.pythonhosted.org, www.python.org

steps for reproduction:

1. e.g. Latest Windows 10 with "netsh int ipv6 set global flowlabel=enabled"
2. wget.exe (Version 1.20) from https://eternallybored.org/misc/wget/
3. On CLI do "wget -6 -d https://files.pythonhosted.org"

Out

[2019-02-19 10:50] ncoghlan commented on #3668
Folks may find the summary post at https://mail.python.org/archives/list/distutils-sig@python.org/message/BFHBWB7ZO3L55V5JXGKN3FBNQQUN3END/ useful (it's my reply to the thread @njsmith linked).

And yeah, I agree - having the next `manylinux` PEP switch us over to that approach and get us to a point where installers can infer the right heuristic to use from the wheel name would be very helpful in

[2019-02-19 11:45] njsmith commented on #3668
It will make future manylinux updates easier, but the reason I linked it here is because it will *also* make manylinux well-defined on every architecture. (Of course for each architecture someone will still have to do the work to figure out how to build portable wheels, but once you do then warehouse and pip will work immediately.)

[2019-02-19 12:14] ncoghlan commented on #3668
Well, mostly - each new libc would still need an algorithm defined for installers to extract the relevant version information. (I don't recall the exact details of what I found when I dug into possible `musl` support, but it was only *similar* to what we do for glibc, rather than being completely identical).

[2019-02-19 16:21] soumith opened #5455 "PEP 541: upgrade to owner"
Greetings,

I am one of the maintainers of the PyTorch project. I have pushed the binaries for all releases of the pytorch project ( pypi username: soumith )

I currently have maintainer (but not owner) rights to `torch`, `pytorch` and `torchvision` projects.

@graingert ( Thomas.Grainger on PyPI ) is the current owner to these packages. Thomas is not affiliated or involved with the PyTorch projec

[2019-02-19 20:34] djhoese commented on #5157
What is the next step with this? Should I "try harder" at contacting the original maintainers?

[2019-02-20 01:38] LucidOne commented on #3810
It looks like support has been removed from the API endpoint as well just in case anyone else wanted to try to fix this.

[code]

[2019-02-20 08:05] jansmets commented on #4069
I found this to be an MTU problem with dind, I'm running on bare metal k8s with flannel overlay network. Setting dind --mtu to 1450 (1500-50(vxlan)) resolved this for me.

[2019-02-20 10:45] pradyunsg commented on #3174
That's already been mentioned in this thread @cpdyj.

[2019-02-20 17:32] anadon commented on #5435
I tried contacting the owner, but have not received any response.  I would conjecture that the pip requests is due to the name 'grpc' colliding with the typical naming convention for Google Remote Procedure Call, which has the 'grpcio' package.

[2019-02-21 05:02] scottilee commented on #5371
Is this as simple as removing the 'target="_blank"' in https://github.com/pypa/warehouse/blob/master/warehouse/templates/packaging/detail.html?

[2019-02-21 15:42] di commented on #5371
Yep!

[2019-02-21 17:33] merwok commented on #854
I thought I had!

I found it very annoying to be prevented from using keyboard shortcuts (space to scroll, / to search, arrows) on old PyPI.

[2019-02-21 17:58] nsheff opened #5462 "Claim package looper"
I originally made this claim request almost a year ago in pypi-legacy: https://github.com/pypa/pypi-legacy/issues/789 -- That claim was never resolved and has since been archived, and now that PEP 541 is official, I wanted to give this another try.

I would like to claim the name `looper` for my project. The current [looper package on pypi](https://pypi.python.org/pypi/looper/1.1) has only one rel

[2019-02-22 20:03] JonnyJD opened #5466 "PyPI is not asking for user/password on upload, fails with 403 (test.pypi works)"
**Describe the bug**
I am the owner of the existing project https://pypi.org/project/isrcsubmit/
I didn't use PyPI for years, but now I want to upload a new release via twine (because sdist upload also didn't work before and was mentioned as deprecated)
I also had to change my password before I was told by the server that I need to.
After changing the password I can login on pypi.org and I already

[2019-02-22 20:06] di commented on #5466
Do you have a `~.pypirc` file in your home directory with your old credentials?

[2019-02-22 20:09] JonnyJD commented on #5466
No, no `.pypirc`
I had in between in hope it would help, but it did not and I removed it again.

[2019-02-22 20:16] JonnyJD commented on #5466
I also made sure keyring is not installed:
[code]

[2019-02-23 00:00] di commented on #5466
Moving this to [pypa/twine](https://github.com/pypa/twine) since it's likely not related to PyPI.

[2019-02-23 19:33] osvenskan opened #5467 "Can't delete badly-versioned release"
**Describe the bug**
I'm the author & maintainer of sysv_ipc. Ten years ago I accidentally uploaded a release  that contained the description in the version field, so instead of a standard version string like this --
[code]

the version is this --
[code]

Apparently this mess I created causes problems for some automated tools and I would like to delete this one release. (The `sysv_ipc` package as

[2019-02-23 19:51] yeraydiazdiaz commented on #5467
Hello @osvenskan, I've tried deleting this release myself but the admin UI also has trouble showing the release as it is also uses the release name and the escaping confuses it badly. Maybe @ewdurbin can access the database and remove it there?

As far as a bug I'd say there should be some checks around what constitutes a valid release version on twine first (assuming that's what you used to uploa

[2019-02-23 20:00] yeraydiazdiaz commented on #5434
Hi @affixalex, the email address is the just current maintainer's user name at gmail. You should be able to reset the password and make the changes yourself.

[2019-02-23 20:02] osvenskan commented on #5467
Thanks @yeraydiazdiaz for looking into it!

It was 10 years ago, I don't remember what I used to upload it. `:-)` But it predates twine.

One way to fix this that might not be too hard (famous last words) would be to disallow (on the PyPI side) newlines in versions, or map all whitespace (newline, tab, NBSP, etc.) to ASCII 0x20.

[2019-02-23 20:05] yeraydiazdiaz commented on #5318
We're currently using [date-fns](https://date-fns.org/) wrapped in [a Stimulus controller](https://github.com/pypa/warehouse/blob/master/warehouse/static/js/warehouse/controllers/localized_time_controller.js).

I'm labelling this as a good first issue, PRs welcome!

[2019-02-23 20:06] yeraydiazdiaz commented on #5003
Closing as it seems to be fixed.

[2019-02-23 20:06] #5003 closed

[2019-02-23 20:18] yeraydiazdiaz commented on #4336
The [base template includes the Raven script](https://github.com/pypa/warehouse/blob/master/warehouse/templates/base.html#L102-L106) which is then [loaded on index.js](https://github.com/pypa/warehouse/blob/master/warehouse/static/js/warehouse/index.js#L48-L54) and crashes if unavailable. Should be a straight-forward fix.

[2019-02-23 20:36] dstufft commented on #5467
PyPI rejects non PEP-440 versions now, so a version like this isn’t possible anymore. We just didn’t remove existing versions that weren’t PEP440 compliant.

Sent from my iPhone

[2019-02-23 22:21] #4336 closed

[2019-02-25 06:09] pradyunsg commented on #5157
Hi! Sorry for the delayed response here.

Have you tried to contact Travis Oliphant via any medium, other than the GitHub mention on this issue? If not, I'd suggest dropping him an email and seeing if he's willing to transfer the package name to you.

In case he does not respond for a while, feel free to ping on this issue again.

[2019-02-25 20:33] djhoese commented on #5157
Just sent an email, thanks.

[2019-02-26 11:38] sh1ng opened #5483 "Increase size limit request h2o4gpu"
Hi,

- https://github.com/h2oai/h2o4gpu
- https://test.pypi.org/project/h2o4gpu/
- https://pypi.org/project/h2o4gpu/
- Our current release ~ 350 Mb
- We link our project statically with CUDA dependencies and support wide range of CUDA devices so the library is quite big.

Could you increase limit to 500 Mb?

[2019-02-26 13:08] jamadden commented on #5483
Hello, very large packages like that don't produce a very good user experience, so generally they should be avoided if possible. Some ways a project can limit the size of their dependencies:

* depend on platform-specific tags and system libraries instead of bundling binaries
* break the package into smaller packages that depend on each other as necessary
* side-load large models or datasets via d

[2019-02-26 13:30] sh1ng commented on #5483
From our experience users have a lot of issues using correct version of CUDA and Nvidia drivers. That's why we decided that having large pkg is a less evil than a lot of effort during installation.

[2019-02-26 15:11] sh1ng commented on #5483
A bit of technical context. We have to compile cuda code with a few cuda compute capabilities e.g.  _-gencode=arch=compute_35,code=sm_35;-gencode=arch=compute_50,code=sm_50;-gencode=arch=compute_52,code=sm_52;-gencode=arch=compute_60,code=sm_60;-gencode=arch=compute_61,code=sm_61;-gencode=arch=compute_70,code=sm_70;-gencode=arch=compute_75,code=sm_75;-gencode=arch=compute_75,code=compute_75_ that

[2019-02-26 15:55] sdecesco opened #5485 "Size limit extension : targetDB"
Hi,

I would like the upload limit to be increased for my project targetDB ( https://pypi.org/project/targetDB/ )

The most recent version I try to upload weight 62.3 MB.
This size come mostly from several compressed json files that are used to populate certain tables of a relational database upon it's creation.

I have tried different compression methods but could not go under 60 MB for this rele

[2019-02-26 16:19] jamadden commented on #5485
Hi @sdecesco , I've set the limit for targetDB to 100MB on pypi.org.

[2019-02-26 16:19] #5485 closed

[2019-02-26 20:27] rspeer commented on #3797
I'm starting to think I shouldn't have even mentioned the Python documentation, because the issue I'm reporting is not with the Python documentation. It is with the interface text in Warehouse, which does not provide the user with the information they need to set their project description correctly.

"The user should have read the documentation and the documentation should have been right" is not

[2019-02-26 20:33] theacodes commented on #3797
For what it's worth, the notice is already in the Python docs as of 3.6: https://docs.python.org/3.6/distutils/index.html.

I agree with @rspeer here. Our little notice in Warehouse for project description should mention that Twine is basically necessary for full description support. I'll send a PR for that momentarily.

[2019-02-26 20:47] #3797 closed

[2019-02-26 20:52] nsheff commented on #5462
Hi, @jamadden -- can anyone provide an update? I have been waiting on this for almost a year and just wanted to see if there's any possibility of a resolution. If not, please let me know so I can figure something else out. I don't really want to wait another year.

[2019-02-26 20:57] theacodes commented on #3797
@rspeer thanks for filing this and helping us figure it out. Let us know if there's more we can do.

[2019-02-26 21:38] jamadden commented on #5462
There still isn't really a formal process for PEP 541 in place. In my limited experience, most or all of the name transfers have been resolved amicably between project owners, and the PyPI admins are reluctant to transfer names otherwise. I can perhaps help surface some new information and make two suggestions:

- The email address we have on file for the owner matches the one displayed to the pub

[2019-02-27 08:28] guilgautier commented on #5307
Hi @jamadden @ewdurbin @dstufft @di!
Any update on this case ? 🙂

[2019-02-27 12:49] felnne opened #5489 "Unable to verify email address"
Hi, apologies if this is the wrong place to report this, but I am unable to receive an email verification link sent to webapps@bas.ac.uk.

Would someone be able to check if the emails are bouncing to that address?

I’ve asked our IT department to check if anything is being blocked and they can’t see anything.

Interestingly I have been able to successfully receive the email on test.pypi.org.

[2019-02-27 13:06] jamadden commented on #5489
According to our logs, we have sent two email verifications to that address in the last week, and both have been delivered.

[2019-02-27 17:31] ewdurbin commented on #4348
`Typing :: Typed` has been added on pypi.org and test.pypi.org

happy annotating!

[2019-02-27 17:31] #4348 closed

[2019-02-27 17:32] ilevkivskyi commented on #4348
Great, thanks!

[2019-02-27 17:46] loechel opened #5490 "new Trove Classifier Request: Plone - Addon / Plone - Core"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Plone :: Addon`
* `Framework :: Plone :: Core`

## Why do you want to add this classifier?

We want to specifically query for Addons and Core Modules of the Plone Family, to use and retrieve via API.

Plone currently consists of around 400 core packageas and several hundred addon packages.

[2019-02-27 18:02] jamadden commented on #5490
The `Framework :: Plone :: Theme` classifier was added back in https://github.com/pypa/pypi-legacy/issues/573 This seems to be of the same nature, and I understand that @loechel is on the Plone Foundation board (as was the requestor for the original issue), so I'm happy to add these.

[2019-02-27 18:02] #5490 closed

[2019-02-28 01:41] coryb opened #5494 "stale gzip encoded /simple/ index on pypi.org"
**Describe the bug**

The https://pypi.org/simple/ index is stale when fetching gzip encoded.

**Expected behavior**

the `x-pypi-last-serial` header should be the same or close when fetching the /simple/ index with and without gzip compression.

**To Reproduce**

Fetch serial for non-compressed index:
[code]

Fetch serial for compressed index:
[code]
Currently the difference is ~3200 generations.

[2019-02-28 03:45] mythmgn commented on #4820
The original owner Paven showed up and helped with the procedure.
 Ownership transfer has been done.  This issue is closed.

Thank you all for the help.  @jamadden  @di

[2019-02-28 03:45] #4820 closed

[2019-02-28 09:14] flying-sheep opened #5495 "R programming language trove classifier"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Programming Language :: R`

## Why do you want to add this classifier?
Projects like rpy2, pyRserve, and others allow interactions between Python and the R programming language. It would be great to be able to search for such projects on PyPI, especially since “R” is notoriously hard to search.

[2019-02-28 14:48] superdev810 opened #5496 "typed-ast version not matching"
**Describe the bug**

I installed typed-ast 1.3.1 a few days without any issue, from today when installing it says typed-ast version not matching like following screenshot.
![image](https://user-images.githubusercontent.com/20223963/53574349-2a882780-3bbb-11e9-942f-0595b3b61a0e.png)

**Expected behavior**

pipenv install should be installed correctly without issue.

**To Reproduce**

pipenv instal

[2019-02-28 14:57] di commented on #5496
This is either a `pipenv` error or an error in your lockfile's dependency specification.

[code]

This version specifier is going to be impossible to install, there is no package with `<1.3.0` but also `>=1.3.1`

I'd recommend trying to follow the instructions `pipenv` is giving you here, and if that fails, raise an issue in the `pipenv` issue tracker instead.

[2019-02-28 14:57] #5496 closed

[2019-02-28 15:01] superdev810 commented on #5496
My pipenv is working with other packages and worked correctly so far.
There was not update for pipenv.

[2019-02-28 16:38] felnne commented on #5489
Hi,

Thanks for confirming that - I will chase up with our IT department.

[2019-02-28 16:38] #5489 closed

[2019-02-28 16:48] pradyunsg commented on #5495
Thanks for filing this @flying-sheep!

I've gone ahead and added the requested classifier 'Programming Language :: R'.

[2019-02-28 17:12] matthagy commented on #4192
I've been having this issue today. Everything worked fine yesterday. Verified that could login to pypi after logging out. Also, verified that I could upload to test.pypi. Haven't changed any configurations recently.

Thanks for any help! Big fan of PyPA!

Commands and outputs:
[code]

[2019-02-28 17:17] jamadden commented on #5483
Thank you for the information. The PyPI moderators have increased the upload limit to 500MB on pypi.org and test.pypi.org. With that done, we ask you to please be very mindful of the stress this puts on PyPI, our CDN, other mirrors, and users. Please manage the frequency of your releases and don't upload nightly or frequent dev builds.

We would also encourage you to add a long description (`setup

[2019-02-28 17:17] #5483 closed

[2019-02-28 17:26] #5495 closed

[2019-02-28 17:44] di commented on #4192
@matthagy Looks like twine is not prompting you for credentials. Do you have a `.pypirc` file in your home directory? Do the credentials there match what you can log into https://pypi.org with?

[2019-02-28 18:20] matthagy commented on #4192
@di, you're right! My password manager had changed the password and I forgot to update that file. Fixed. Thanks for the help and sorry for my silly mistake that I should've been able to fix on my own.

[2019-02-28 19:18] coryb commented on #5494
Some more curious data points:
Using `Accept-Encoding: deflate` provides the most recent serial, but the server does not actually compress the content, it is raw:

[code]

The identity request is actually older than the uncompressed-deflate request:

[2019-02-28 20:52] bmoyles commented on #5494
After poking around, it seems like this might be the same as #4892

[2019-02-28 22:06] edouard-lopez opened #5503 "Not allowed to upload to pypi but test.pypi"
**Describe the bug**

I successfully upload my package to `test.pypi.org` (see. [`pure`](https://test.pypi.org/project/pure/)). However, when I try to upload to `pypi.org` I got an error `403`:

Yet, there is [no `pure` project](https://pypi.org/project/Pure/) on pypi.org.

Note that my package name is lowercase `pure`, but the error mention a capitalize name `Pure`.

[code]

**Expected behavior**

[2019-02-28 22:13] di commented on #5503
This package already exists on PyPI, but the owner has removed all the releases (hence why it appears to be 404). I've reached out to the current owner to see if they would be willing to transfer it to you.

[2019-02-28 22:37] rdpate commented on #5503
Please transfer the package.

[2019-02-28 22:40] di commented on #5503
Thanks @rdpate.

@edouard-lopez, I've added `edouard-lopez` as an owner of the `Pure` package. Please note that you won't be able to make a release with versions `0.0.0`, `0.1.0`, or `0.1.1` as these have been previously used, and PyPI prohibits reuse of version numbers.

[2019-03-01 09:20] flying-sheep commented on #5495
Thank you!

[2019-03-01 09:22] edouard-lopez commented on #5503
Thanks :)

[2019-03-01 09:29] edouard-lopez opened #5505 "How can I update my package description without creating a new release?"
**Describe the bug**
When working on a project it seems I can't update the package's description without a new release. If I do so I get:

    HTTPError: 400 Client Error: File already exists. See https://pypi.org/help/#file-name-reuse for url: https://upload.pypi.org/legacy/

**Expected behavior**

- release 1.2.3
- find a typo in README.md
- edit typo
- release 1.2.3

This kind of edit doesn't i

[2019-03-01 09:33] edouard-lopez commented on #5503
@di why is @rdpate [listed as a maintainer](https://pypi.org/project/pure/)? I would love to have contributors but I'm not sure that's the expected behavior.

![selection_232](https://user-images.githubusercontent.com/1212392/53629224-56cc9400-3c0d-11e9-84fc-eba909cdae7f.png)

[2019-03-01 09:40] edouard-lopez commented on #5503
[listed as a maintainer](url)

[2019-03-01 11:42] jamadden commented on #5505
The releases that PyPI stores are immutable for security reasons. The description is part of the metadata included in the release artifact and cannot be changed. You’ll need to upload a new release. Some projects use the `.post0` Part of a PEP440 version for non-code changes like that.

[2019-03-01 11:42] #5505 closed

[2019-03-01 15:24] meridsa opened #5506 "pip3 search finds only libraries with whitespace/dash after search term"
**Environment**

* pip version: 19.0.3
* Python version: 3.7.1
* OS: macOS Mojave 10.14.3
* Terminal: Default apple Terminal:  2.9.1

**Description**
Searching a term with pip3 search [foo] will only return libraries or descriptions with [foo] followed by whitespace or dash. Whilst any prefixes or upper/lower combination will be returned. I am wondering if this is a result of the terminal adding a

[2019-03-01 15:52] yeraydiazdiaz commented on #5506
For reference: https://github.com/pypa/pip/issues/6309

[2019-03-01 16:36] IvoMerchiers opened #5507 "Home page link to packaging is broken"
On the front page there is a link with the name:
`Learn how to package your Python code for PyPI.`
Which links to [https://packaging.python.org/tutorials/distributing-packages](https://packaging.python.org/tutorials/distributing-packages), which is a non-existing page.

This should either be fixed with the correct link (which I do not know), or with the alternative link that is discussed in the FA

[2019-03-01 16:38] di commented on #5507
Thanks for the report! I've put the `good-first-issue` label on this issue.

[2019-03-01 19:03] #5503 closed

[2019-03-04 18:24] kimpla7 opened #5515 "CPU Usage too high"
**What's the problem this feature will solve?**
The CPU usage to be less.

**Describe the solution you'd like**
I'd like it to consume less resources.

**Additional context**
I think I made my point clear. My i5 8220 is wasting 22% on average with the whatsapp-cli task. It's just too much.

[2019-03-04 18:36] jamadden commented on #5515
It sounds as if you're describing a problem with https://pypi.org/project/whatsapp-cli/. Unfortunately, this is not the place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages downloaded from there. You'll need to contact the maintainers of the project causing problems directly. Based on the information on the project's page, that may

[2019-03-04 18:36] #5515 closed

[2019-03-04 18:40] kimpla7 commented on #5515
Thank you very much and sorry for the wrong post.

[2019-03-04 19:57] altendky opened #5516 "File size limit exemption or increase for pyqt5-tools"
- A link to your project on PyPI (or Test PyPI)
  - https://pypi.org/project/pyqt5-tools/
- The size of your release, in megabytes
  - 63MB is the largest build result for the most recent dev release
- Which index/indexes you need the increase for (PyPI, Test PyPI, or both)
  - PyPI: definitely
  - Test PyPI: I honestly don't use Test PyPI, but I would of course like the increase or exemption on b

[2019-03-04 20:14] jamadden commented on #5516
I've set the limit to 100MB for pyqt5-tools on pypi.org. (If you begin using test.pypi.org, you'll need to create the project first before we can make a size exemption.)

As the sizes begin to go up, please keep release frequency in mind. Larger files coupled with many (pre-) releases place more of a burden on PyPI, its CDN and other mirrors.

[2019-03-04 20:14] #5516 closed

[2019-03-04 20:29] altendky commented on #5516
@jamadden, thanks for the increase and the prompt response.  Do you have any guidance on PyPA's costs associated with storage?  I appreciate the free service but could consider donating.  Or, perhaps the cost would be prohibitive enough to make me much more wary.

[2019-03-04 20:32] jamadden commented on #5516
Sorry, no I don't, I just know that we (PyPI moderators) are asked to keep an eye on that for limit increases. Normally for projects in this size range we don't specifically mention release frequency as a concern. I just noticed that this project has a substantial number of pre-releases at a relatively fast clip and decided to mention it. I don't think anything there is too extreme or a problem th

[2019-03-05 10:38] nschloe opened #5520 "markdown not rendered correctly"
Follow-up on #3442.

I have a number of packages on pypi, the README.md of some of which is rendered correctly (e.g., https://pypi.org/project/fastfunc/), and not for others (e.g., https://pypi.org/project/blacktex/). There is no indication of what's wrong so I don't know how to fix it.

Any hints?

[2019-03-05 12:47] jamadden commented on #5520
In the PyPI metadata, I see that release 0.1.7 of `fastfunc` has the metadata `Description-Content-Type: text/markdown`, but release 0.1.2 of `blacktex` has a blank `Description-Content-Type`. A blank value for that field means to treat it as ReST.

The `METADATA` record in [the wheel for blacktex-0.1.2](
https://files.pythonhosted.org/packages/01/79/2e525b474467d20558f4eaf5ce299928c271e5cd7251f97

[2019-03-05 19:15] grizz opened #5522 "claim package confu"
I would like to claim the project name `confu` on PyPI our package https://github.com/20c/confu.

The current package looks like an abandoned alpha and hasn't been updated in 4 years:

https://pypi.org/project/confu/
https://github.com/neithere/confu

I emailed the author @neithere about 9 months ago and still haven't heard a response.

Thanks

[2019-03-06 03:58] tuanluu-agilityio commented on #4079
Please update `setuptools` to latest version. It work fine for me.
Thanks

[2019-03-06 08:06] nschloe commented on #5520
Thanks for the concise feedback!

I have no idea how Metadata Version 2.0 came about. Locally it's 2.1, and I'm using the toolchain in fairly up-to-date versions (setuptools 40.8.0). Will try another upload momentarily.

[2019-03-06 17:57] nschloe commented on #5520
Okay, I'm generating tar.gz and the wheel via
[code]
This is with Python 3.7.2+ and setuptools 40.8.0. When unzipping the wheel, I see that METADATA says
[code]
How can I further debug this?

[2019-03-06 18:01] nschloe commented on #5520
Okay, got it: I had an older version of wheel installed (0.30.0). Updated, issue now fixed. Thanks for the help!

[2019-03-06 18:01] #5520 closed

[2019-03-06 18:25] oscarmcm commented on #5507
@di I created a PR for this issue, let me know if this need something else.

[2019-03-06 18:31] #5507 closed

[2019-03-07 11:57] flying-sheep opened #5535 "Predictable wheel URL redirect broken for tbvaccine package"
The only documentation about the predictable URLs I found is [here](https://warehouse.pypa.io/api-reference/integration-guide/#if-you-so-choose), combined with the PEP 0491 section about the [wheel file name convention](https://www.python.org/dev/peps/pep-0491/#file-name-convention). Predictable wheel URLs can therefore be constructed like this:

[code]

This results in the URL: https://files.pyth

[2019-03-07 12:05] jamadden commented on #5535
The reference you referred to also ends with:

And that's the only example it shows. Given that, I wouldn't expect this to work for .whl files.

The official guidance is to use the [provided API](
https://warehouse.readthedocs.io/api-reference/json/) to find a download location. As the redirect service exists only for historical artifacts, I doubt it will be expanded to handle new artifacts and ma

[2019-03-07 13:35] flying-sheep commented on #5535
Hi! The docs aren’t completely truthful, the existence of these URLs is as deliberate as my usage of them instead of the API. If you’re interested in why the predictable wheel URLs exist, please read up in #1944. The short version: It’s for downstream packagers (like linux distribution packages; .deb, .rpm, .pkg.tar.xz, …), where the ability to access a JSON API instead of plain URLs is not always

[2019-03-07 14:06] flying-sheep commented on #5535
Hmm, I since figured out that “Python version” in the file list is what has to go in place of the first `python_tag`:

[code]

That seems like a bug to me. Shouldn’t `python_version` always correspond to the `python_tag` in the wheel filename?

[2019-03-07 16:13] johannes opened #5537 "PEP 541: mysql-connector-python vs. mysql-connector"
Hi,

I am leading the team at Oracle, which is developing our MySQL Connector for Python.

We publish our library on https://pypi.org/project/mysql-connector-python/

Due to some internal issues we didn't publish the 2.1 series on PyPi. An external person apparently tried to be helpful and registered https://pypi.org/project/mysql-connector/ serving some of the 2.1 releases, but didn't update any

[2019-03-07 16:19] jamadden commented on #5537
Hi. Have you attempted to contact the author of that project,(e.g., at https://github.com/sanpingz/mysql-connector/issues) to see if they'd be willing to release the name ?

[2019-03-07 16:31] johannes commented on #5537
I sent out mails to the domain listed on the GH profile page without response. I now also filed https://github.com/sanpingz/mysql-connector/issues/10

[2019-03-08 16:41] teoliphant commented on #5157
Hey all.  So sorry for the delayed response.   Do I understand correctly that python-hdf4 is a fork of pyhdf that would like to have the pyhdf name on PyPI, because it is a more maintained version of the library?

This make sense.  I'm very happy to add new maintainers to the PyPI project.  I have added fhs as a maintainer.  I am happy to add djhoese if you tell me your PyPI name.  Thanks for the

[2019-03-08 16:42] djhoese commented on #5157
@teoliphant Thanks for replying! My username is `dhoese` on PyPI. Thanks.

[2019-03-08 18:01] vthorsteinsson opened #5542 "Request for file size limit exemption"
Dear PyPI, I hereby request an exemption from the file size limit for PyPI (not TestPyPI) for my project *Icegrams* (`https://pypi.org/project/icegrams/`). Icegrams is a Python package that encapsulates a heavily compressed database of trigrams for Icelandic text. The database contains 34 million trigrams that occupy 788 megabytes in uncompressed text format. Using several tricks of the trade, inc

[2019-03-08 19:37] fhs commented on #5157
Thanks @teoliphant. I'll be making a new release after I've updated the name in setup.py, documentation, etc. I think I'll change the repo name to `pyhdf` as well.

@djhoese I've created https://github.com/fhs/python-hdf4/pull/22 with the changes but I think more changes are need.

[2019-03-08 20:24] marcanuy opened #5545 "Broken link in homepage"
At https://pypi.org/ the "Uploading packages" link (actually pointing to https://packaging.python.org/tutorials/distributing-packages ) is broken.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%2

[2019-03-08 20:32] di commented on #5545
Thanks for the report! That's [this link here](https://github.com/pypa/warehouse/blob/master/warehouse/templates/base.html#L249). I've added the `good-first-issue` label to this issue.

[2019-03-08 20:56] cand126 commented on #5545
Hi! I would like to take this issue.

[2019-03-08 23:33] #5545 closed

[2019-03-09 13:27] jamadden commented on #5542
Thanks for the detailed report. I've increased the size limit to 100MB on pypi.org.

[2019-03-09 13:27] #5542 closed

[2019-03-09 20:09] kylebgorman commented on #4756
Gentle bump of this issue

[2019-03-10 01:14] fhs commented on #5157
New version of pyhdf has been published in PyPI. This issue can be closed.

[2019-03-10 04:52] leslie-alldridge commented on #5371
added PR and checks have passed

[2019-03-10 11:33] yeraydiazdiaz commented on #5455
Hi @soumith, there seems to be a misunderstanding, you are currently co-owner of all three projects `torch`, `pytorch` and `torchvision`, Thomas changed your status to Owner on all three projects on 2019-02-27.

If you visit https://pypi.org/manage/project/pytorch/collaboration/ and you should see your username listed as owner of the project.

[2019-03-10 14:58] #5157 closed

[2019-03-10 15:55] soumith commented on #5455
thanks @yeraydiazdiaz . I opened the issue on Feb 19th, 2019. It looks like Thomas changed the ownership on 27th.

Thanks a lot @graingert !

[2019-03-10 15:55] #5455 closed

[2019-03-11 09:55] giovannipizzi opened #5553 "Trove Classifier Request (Framework :: AiiDA)"
Request to add a new Trove classifier.

## The name of the classifier you would like to add
* `Framework :: AiiDA`

## Why do you want to add this classifier?
The [AiiDA framework](http://www.aiida.net) has been developed since 2013 ([GitHub page](https://github.com/aiidateam/aiida_core); scientific publication: [[journal]](http://dx.doi.org/10.1016/j.commatsci.2015.09.013), [[arXiv, open access]]

[2019-03-11 15:25] StephanSiemen opened #5554 "Add maintainer to eccodes - maintainer not reachable PEP 541"
Hi,
The eccodes PyPi repo (https://pypi.org/project/eccodes/) is limited, out-of-date and the documentation is missing. We tried to contact user "hcsoftcn" - but there are no contact details and we failed to make contact.

ECMWF develops the ecCodes software and we maintain successfully other PyPi repos. We already receive bug/feature reports for this repo, but are not able to fix these. If we cou

[2019-03-11 15:29] StephanSiemen commented on #5554
Comment for #1506 - PEP 541 : perhaps we should require valid email addresses for maintainers?

[2019-03-12 03:45] weegreenblobbie commented on #4793
This is still a problem for me, I'm using a yahoo email address and the verification emails do not show up and are not showing up in the spam folders.  Please help.

[2019-03-12 03:58] weegreenblobbie opened #5560 "Can't add email address because it's in use by test.pypi.org"
**Describe the bug**
I was testing a package with test.pypi.org, and in the process I added my gmail account since I no longer monitor my yahoo mail account.  I successfully verified my gmail address on test.pypi.org and successfully uploaded and installed my package using test.pypi.org.

The next step was to upload to the proper pypi.org, which I logged into and tried to add my gmail account to t

[2019-03-12 04:37] redbaron4 opened #5561 "Empty package files (possible caching issue?)"
For some reason a couple of wheel files are being served as `0` content length by files.pythonhosted.org. I access Pypi through a proxy at my office and am unable to fetch the following URLs:
- `https://files.pythonhosted.org/packages/9a/bc/ee216a4dbe1433d881906513768cf61f9d52c1f8dee133f69f99e1ee9ec7/mxnet_cu80-1.5.0b20190310-py2.py3-none-win_amd64.whl`
- `https://files.pythonhosted.org/packages/c

[2019-03-12 12:33] ewdurbin commented on #4793
@weegreenblobbie what is your PyPI username?

[2019-03-12 13:35] weegreenblobbie commented on #4793
weegreenblobbie

[2019-03-12 14:10] ewdurbin commented on #4793
@weegreenblobbie we are showing three successful deliveries to a yahoo.com address for your account.

I also tested with my own yahoo.com address and was able to successfully receive a verification on the first try. Are you positive that these are not ending up in spam or caught by some filter?

[2019-03-12 14:48] weegreenblobbie commented on #4793
@ewdurbin oops, you are correct, I had too many different folders for spam, I'm not using my yahoo account much these days, thanks!

[2019-03-13 19:45] flamableconcrete opened #5570 "Consolidate two PyPI accounts"
Hi! I have two accounts on PyPI with email addresses that I have access to that I would prefer to condense into a single PyPI account. If I simply delete one account, would I be able to then go ahead and re-use the email address associated with it in the PyPI account I want to use as my only account?

The two accounts are

* flamableconcrete (flamableconcrete@gmail.com)
* jondricek (jared.ondricek

[2019-03-13 19:50] di commented on #5570
Hi @flamableconcrete. Yes, deleting your secondary account, or otherwise removing the email address would allow you to use it for your primary account.

Be sure to add your primary account as an "Owner" of any project that your secondary account currently owns.

[2019-03-13 19:51] flamableconcrete commented on #5570
Awesome - thank you!

[2019-03-13 19:51] #5570 closed

[2019-03-13 21:21] chuck1 commented on #5503
Hello @di I believe I am the same situation as @edouard-lopez. The project name in question is "otter". Is there a proper channel for me to request that the project be transfered to me? Thanks!

[2019-03-13 22:34] di commented on #5503
@chuck1 Please create a separate issue in this repo. [There is a large backlog of similar issues](https://github.com/pypa/warehouse/issues?q=is%3Aissue+is%3Aopen+label%3A%22PEP+541%22), be aware that unless you reach out to the maintainer yourself, and they are receptive, it is unlikely that this will be resolved as quickly as this example.

[2019-03-13 22:48] chuck1 opened #5571 "claim project otter (PEP 541)"
I would like to claim the project name `otter` on PyPI. My project is [here](https://github.com/otterweb/otter), I'm just starting development.

[the pypi page](https://pypi.org/project/otter/) gives 404 but I believe there is an existing project with no uploads. I am unable to upload to upload.pypi.org but I am able to upload to test.pypi.org. Similar to #5503

Thanks

[2019-03-14 00:49] ashahba opened #5573 "Increase size limit for Intel's intel-tensorflow packages on PyPi and PyPi test to 150M."
@di and @dstufft,
I'm an engineer working on Intel `MKL Optimized wheels for TensorFlow`. I was wondering if it is possible to get a size increase for the following packages on upload.pypi.org/ and test.pypi.org/ to `150M`.

[code]

The project location in `PyPi` is here:
https://pypi.org/project/intel-tensorflow/

Please let me know if you have any questions.

Thanks!

[2019-03-14 15:42] brainwane commented on #5266
Since we've been unable to reproduce this, I'm closing this -- @ganeshsingamaneni if you're still running into this, please do re-open this bug and share details. Thanks!

[2019-03-14 15:48] brainwane commented on #996
[Great news](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html) - @woodruffw is working on this right now! See #5567 for his work in progress.

[2019-03-14 16:01] brainwane commented on #994
[Good news](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html) - this work is now underway, and you can expect to see @woodruffw working on it. Thanks to Open Tech Fund for making this work possible!

[2019-03-16 12:48] sunpoet opened #5579 "https://files.pythonhosted.org returns "504 Gateway Time-out" for many source files"
Take https://pypi.org/project/esda/ for example.
The download link https://files.pythonhosted.org/packages/3e/84/bff39fdd34fc7f2dd3e0a1b7a6b92cea8ca17ce0ab9359a96ed301947cd6/esda-2.0.0.tar.gz on PyPI page is fetchable.
But the predictable link used in FreeBSD ports is https://files.pythonhosted.org/packages/source/e/esda/esda-2.0.0.tar.gz which is unfetchable (504 gateway timeout).
Not all of them

[2019-03-16 15:28] yeraydiazdiaz commented on #2731
Hello @mortenlj, sorry for the delay on your request.

I have sent @daltonmatos an email asking to clarify his position in this regard. Hopefully we will hear from him soon and move this issue forward.

[2019-03-16 15:38] yeraydiazdiaz commented on #3792
Hello @aaronkaplan, sorry for the delay on processing this request.

Could you please send said formal proof to yeraydiazdiaz@gmail.com, please?

[2019-03-16 15:51] yeraydiazdiaz commented on #3910
Hello @kevinkjt2000, I have sent an email to @dinnerbone regarding your request. Hopefully we will hear from him soon and move forwards with it.

[2019-03-16 18:12] nvictus opened #5580 "PEP 541: transfer ownership of unmaintained `cooltools`"
We @nvictus and @golobor would like to transfer the name of the abandoned project `cooltools` to both of us.

There is no email associated with the author on the Package Index, no documentation on the Index, and the listed Home Page (GitHub repo) has either been deleted or is publicly inaccessible. The source distribution and Github account do list a single gmail address (rtansf@gmail.com). We hav

[2019-03-16 18:58] di opened #5581 "Special-case the `pip install pip` instruction?"
This is not very helpful if you're a new user trying to install `pip`:

<img width="825" alt="Screen Shot 2019-03-16 at 1 54 20 PM" src="https://user-images.githubusercontent.com/294415/54480190-5f1ef480-47f3-11e9-96dd-eb4315f57714.png">

Should we special-case this instruction for the `pip` project? Perhaps link to https://pip.pypa.io/en/stable/installing/ instead?

[2019-03-16 19:22] pradyunsg commented on #5581
The package index is Python Version agnostic. pip isn't and likely the install guide won't cover how to use pip with not-supported Python versions.

[2019-03-16 19:23] pradyunsg commented on #5581
I'm not saying we'll have to add a note or something - just something I thought was worth pointing out.

[2019-03-16 19:47] rtansf commented on #5580
Go ahead and make the transfer.

On Sat, Mar 16, 2019 at 11:13 AM Nezar Abdennur <notifications@github.com>
wrote:

[2019-03-16 20:01] nvictus commented on #5580
Thank you, Rob!

[2019-03-16 20:33] jamadden commented on #5580
@nvitctus and @golobor can you please confirm your PyPI usernames here?

@rtansf could you please email jason@nextthought.com from the email account associated with the PyPI username `rtansf` and confirm the transfer?

Thanks!

[2019-03-16 20:39] jamadden commented on #5581
Hmm, I was going to suggest `python -m ensurepip` and ask "Is there a supported version of Python out there that doesn't have that (I know that was backported to 2.7)". But then I remember things like...debian, I think?...where they *really* *really* want you using the distribution's package manager even to initially install pip...

[2019-03-16 21:07] samapriya commented on #5416
Am having the same issues, links for png replaced but not being rendered (for example) getting

504 Gateway Time-out

https://warehouse-camo.cmh1.psfhosted.org/a3587af4a84288f6be40552a881d00bc0fee976d/68747470733a2f2f757365722d696d616765732e67697468756275736572636f6e74656e742e636f6d2f32383830363932322f35333039363735342d64343935656538302d333465642d313165392d393830642d3431383630316263393735612e706e6

[2019-03-16 21:09] samapriya opened #5582 "PyPI warehouse-camo.cmh1.psfhosted.org 504 Not rendering Images"
Am having the issues with PyPI not updating image links. Links for png replaced but not being rendered (for example) getting

Getting a 504 Gateway Time-out

https://warehouse-camo.cmh1.psfhosted.org/a3587af4a84288f6be40552a881d00bc0fee976d/68747470733a2f2f757365722d696d616765732e67697468756275736572636f6e74656e742e636f6d2f32383830363932322f35333039363735342d64343935656538302d333465642d313165392d3

[2019-03-16 21:12] nvictus commented on #5580
Hi Jason,
My PyPI username nvictus. @golobor is goloborodko.anton

[2019-03-16 21:59] samapriya commented on #5582
I guess it took some time and is back again, thank you in case you had time to look into this. Closing the issue for now

[2019-03-16 21:59] #5582 closed

[2019-03-16 22:19] golobor commented on #5580
Thank you so much, Rob!

[2019-03-17 02:44] yan12125 commented on #5579
Seems fixed. https://files.pythonhosted.org/packages/source/e/esda/esda-2.0.0.tar.gz can be downloaded now. Another package https://files.pythonhosted.org/packages/source/n/nvchecker/nvchecker-1.4.tar.gz is broken yesterday, and it's also fixed today.

[2019-03-17 19:15] sunpoet commented on #5579
Confirmed. All the failed downloads are OK now.

[2019-03-17 20:09] klada opened #5583 "files.pythonhosted.org: Painfully slow download with Deutsche Telekom (Fastly peering issue)"
When downloading files from pythonhosted.org the download speeds are **extremely** slow in my environment. Even on a 100 MBit/s FTTH connection I hardly get more than 45 KB/s.

[code]

[code]

Probably many other people from Germany are facing the same issue, as I have seen this behavior on multiple connections from Deutsche Telekom (largest ISP in Germany). Probably a Fastly/AS54113 peering issue

[2019-03-17 22:13] daltonmatos commented on #2731
Hello @yeraydiazdiaz, hello @mortenlj.

I'm more than happy to release the `publish` project on Pypi. Let me know what I have to do to properly transfer the project's ownership.

Thanks,

[2019-03-18 10:45] pathtofile opened #5584 "Warehouse doesn't check whether uploaded packages ending in tar.gz are actually tarballs"
**Describe the bug**

The function `_is_valid_dist_file()` function in `warehouse/forklift/legacy.py` fails to check that a file ending in `.tar.gz` is actually a taball file. This is different to a `.zip`, where the code does a basic check that it is indeed a valid zip file.

**Expected behavior**

`_is_valid_dist_file()` should check that if the filename ends in `.tar.gz` that it can open the fi

[2019-03-18 10:52] pathtofile opened #5585 "Claim abandoned name: dockenv (PEP 541)"
I'd like to apply to take ownership of the project name "dockenv", for use as a different tool. Following the pep:
 - The project hasn't had an update since 2017
 - The owner left no email in any of the releases or account
 - The homepage url goes to a page that 404s
 - The owner has had no activity since 2017 on pypi
 - Download status appear to be around 44 for the last month.

The tool I mainta

[2019-03-18 12:31] aaronkaplan commented on #3792
Thanks @yeraydiazdiaz. Will organise it.

[2019-03-18 14:15] jamadden commented on #5580
On second thought, @rtansf, since the PyPI usernames have been given here, I believe that you have all the information necessary to add them as new owners to the project yourself. You can then remove yourself, or, as owners, they could remove you. (I think this is usually how PyPI moderators try to facilitate ownership transfers, this way it's clear to everyone---and the audit logs---that it happe

[2019-03-18 14:22] yeraydiazdiaz commented on #2731
Hi @daltonmatos thanks for getting back to us.

If you visit https://pypi.org/manage/project/publish/collaboration/ you should be able to add @mortenlj whose PyPI username is "mortenlj" as an owner. At that point he can access the same page to administer ownership as he sees fit.

[2019-03-18 16:55] ashahba commented on #5573
Hi Guys, any update on this?

[2019-03-18 17:04] jamadden commented on #5573
The previous limit for intel-tensorflow on both indexes was 125MB. I've now set that to 150MB.

[2019-03-18 17:04] #5573 closed

[2019-03-18 18:46] njsmith commented on #5585
It looks like the other dockenv has several non-empty releases on PyPI, and your tool is a different, unrelated codebase. That means the relevant section of PEP 541 is [this one](https://www.python.org/dev/peps/pep-0541/#removal-of-an-abandoned-project). So in addition to the general rules for abandonment, you also have to meet these criteria:

In your post on distutils-sig you wrote:

To me this

[2019-03-18 19:49] brainwane commented on #5583
Thanks for the report. Are you still experiencing this? (I see https://status.python.org/ didn't mention any incidents but it could have missed something.)

[2019-03-18 20:33] nlhkabu opened #5586 "2FA/multifactor auth: policy on requiring recovery codes"
As part of the work that @woodruffw is doing on [2FA here](https://github.com/pypa/warehouse/pull/5567), I would like to add the following questions / help text to https://pypi.org/help/

I am posting this text here to receive feedback prior to making a PR:

----------------

## How do I access my PyPI account using two factor authentication?

Users who have chosen to set up two factor authenticat

[2019-03-18 20:34] nlhkabu commented on #5586
@brainwane I would appreciate your feedback on this, if you have time :)

[2019-03-18 20:41] nlhkabu opened #5587 "2FA User Interfaces (authentication workflow)"
Proposed UI for 2FA login workflow (swap purple for PyPI blue... and voila!):

![Screenshot from 2019-03-18 20-36-17](https://user-images.githubusercontent.com/3323703/54561844-89bca900-49bd-11e9-86ba-be719d1e43d2.png)

![Screenshot from 2019-03-18 12-04-14](https://user-images.githubusercontent.com/3323703/54561846-89bca900-49bd-11e9-8bcf-281f23df4891.png)

![Screenshot from 2019-03-18 12-04-59](

[2019-03-18 20:42] nlhkabu commented on #5587
@woodruffw if this proposal looks good to you, I will update #5567 to include the appropriate changes.

[2019-03-18 21:47] woodruffw commented on #5587
@nlhkabu This looks great to me! I really like the design.

👍

Feel free to update #5567 whenever you're ready!

[2019-03-18 22:12] woodruffw commented on #5586
No strong opinions but we *could* link directly to the specifications page: https://fidoalliance.org/specifications/download/

My original thought was to make the recovery codes identical in format to TOTP codes (i.e., 6 digits), but that may be a little too simple to discourage brute forcing (even with rate limiting). What do you think about making them hex strings? We could minimize some of the

[2019-03-18 22:18] di commented on #5586
I agree, I don't think 6 digits have enough entropy for recovery codes.

I think ten hex digits separated by a dash would be appropriate -- this is also what Github does:

![image](https://user-images.githubusercontent.com/294415/54567332-726fc280-49a1-11e9-930f-8136e0651b96.png)

(Don't worry, these aren't my recovery codes.)

[2019-03-18 23:01] ashahba commented on #5573
Thanks @jamadden

[2019-03-19 00:59] woodruffw commented on #5586
Sounds good! That's what I'll go with.

[2019-03-19 14:26] janek commented on #5365
I'd like to second this request, as a user of mlpack (https://github.com/mlpack/mlpack).

I was going through the installation process today and lost quite a bit of time being confused about what I installed.

The package named 'mlpack' contains two functions and is clearly abandoned. @rcurtin's mlpack is pretty popular and growing fast, it would be great to save everyone's time and confusion by g

[2019-03-19 17:17] nvictus commented on #5580
@rtansf, if you can log into pypi.org and add my username (nvictus) as Owner to the project on the "Collaborators" page, I'll take care of the rest. Thanks again for your help!

[2019-03-19 19:43] nlhkabu commented on #5586
Thanks for your feedback @woodruffw and @di.

Another question - @woodruffw - you mentioned that creating recovery codes should be optional, which is why the help text says "you were provided with the _option_ to add a set of 8 recovery codes".

Can you explain why we should make this optional?  What is the use case for a user **not** to want recovery codes?  It seems like playing with :fire: fire

[2019-03-19 20:20] etmgsMR opened #5594 "Missing '( )' in documentation of module EXIFREAD"
In the documentation of EXIFREAD '( )' are missing in the paragraph at print-command:

[code]

Please insert a '(' after print and at the end of line.

[2019-03-19 20:32] jamadden commented on #5594
Thanks for the report! Unfortunately, I think this is the wrong place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages searched for on, or installed from, pypi.org. You'll need to reach the maintainers of that specific package. Usually this information can be found starting from the project's page on pypi.org.

(FWIW, that looks like

[2019-03-19 20:32] #5594 closed

[2019-03-19 23:17] woodruffw commented on #5586
Sure!

Like you said, recovery codes bypass the two-factor process: an account that has 2FA + recovery codes is strictly less secure than account that has just 2FA. 2FA + recovery codes is still preferable to just a password, but my thought is that any action that decreases the security of an account should require affirmative approval from the user (which is also why the current TOTP removal form

[2019-03-19 23:39] di commented on #5586
From a support perspective, requiring recovery codes should cut down on the number of "unrecoverable account" requests we get as administrators.

[2019-03-20 00:18] woodruffw commented on #5586
Yeah, this would unfortunately increase the burden on administrators. There are additional steps that can be taken to minimize that, however: in addition to suggesting recovery codes after the user adds a second factor, we can add a flash to the management page/additional warning text in the two factor section, add it to an email that notifies them of their second factor, etc.

For context:  GitHu

[2019-03-20 06:04] yajiedesign opened #5595 "Increase the project limit size."
The name of the project: mxnet-cu101 and mxnet-cu101mkl
The size of your release, in megabytes: 600mb
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both
Please help me increase my upload limit, thank you

[2019-03-20 08:11] johnlinp opened #5596 "Images with external links in README.md failed to display"
**Describe the bug**
Images with external links in README.md failed to display.

**Expected behavior**
Images with external links in README.md should display normally.

**To Reproduce**
There is a gif image in [my README.md](https://raw.githubusercontent.com/johnlinp/duosql/master/README.md) with an external link to https://github.com/johnlinp/duosql/raw/master/images/duosql-demo.gif.

However, th

[2019-03-20 14:55] woodruffw commented on #5587
JFYI: I'm going to push some more unit tests today, so you'll probably need to rebase before adding the templates.

[2019-03-20 15:25] klada commented on #5583
I have been experiencing these issues ever since I changed my ISP. My new ISP (Deutsche Telekom) has a different connection to Fastly and it looks like they have no direct peering agreement (which BTW is funny, because Deutsche Telekom Capital Partners invests in Fastly).

The issue also depends on the time of day. In the morning connection speeds are fine, in the evening (between 17:00 and 0:00 C

[2019-03-20 15:46] erubiano opened #5598 "HTTPError: 400 Client Error: File too large"
We tried to distribute the .whl files along with the .tar.gz file at TestPypi, but encountered "HTTPError: 400 Client Error: File too large. Limit for project 'marvin-pkg-erubiano' is 60 MB.". Could you please help us?  Thanks!

We want to start with TestPypi and later also Pypi.

The name of the project: Thttps://test.pypi.org/project/marvin-pkg-erubiano/
The size of our release, in megabytes: 90

[2019-03-20 15:58] DarkSuniuM opened #5599 "Pypi.org is not accessible for Some of Iranian users"
## My Platform

Python: 3.7.2
Pip: 18.1
OS: Archlinux

## Network telemetry

There is no problem with files.pythonhosted.org domain, It's all about pypi.org
Everything works Okay with `Tor` or `--proxy` flag.
I'm curious if it's cause of sanctions or Iranian gov did something :)

### DNS Resolution

[code]

### Traceroutes

#### IPv4

[code]

### HTTPS Requests

#### IPv4

[code]

### TLS Debug

#

[2019-03-20 16:44] JulienPalard commented on #3932
Similarily searching for `mysql` gives a [mysql](https://pypi.org/project/mysql/) package which is a virtual package for un unmaintained [mysql-python](https://pypi.org/project/MySQL-python/) package since 2012. [pymysql](https://pypi.org/project/PyMySQL/) however (maintained and 4800 stars on github) does not appear in the first page.

It may be nice to boost on stars and decay on last release, u

[2019-03-20 17:21] ShalbafZadeh commented on #5599
having same problem here:
Python 3.7.2
pip 19.0.2
macOS Mojave
[code]
SSL Check:
[code]
While trying to install Package
[code]

[2019-03-20 18:29] di commented on #5596
Hi @johnlinp, the image you're trying to link to is https://github.com/johnlinp/duosql/raw/master/images/duosql-demo.gif, however this producing a 302 redirect that our image proxy doesn't seem to like:

[code]

Can you try using the actual URL at
https://raw.githubusercontent.com/johnlinp/duosql/master/images/duosql-demo.gif instead?

[2019-03-20 20:28] brainwane commented on #4347
@caliloo I'm checking in -- do the existing dashboard and architecture documentation help?

[2019-03-20 20:48] ewdurbin commented on #5583
Thank you for the detailed report. I'm submitting this information to our CDN provider to see if they have any insight.

[2019-03-20 20:50] ewdurbin commented on #5583
@klada it's probably worth contacting someone at your ISP at the same time to attack this from both sides.

[2019-03-20 20:51] brainwane commented on #4892
@cooperlees checking in since it's been a few months -- you said on the Bandersnatch issue

You mean logging from the Bandersnatch side or from the PyPI side?

[2019-03-20 20:55] ewdurbin commented on #5561
I'm unable to reproduce (which isn't surprising even if it is a CDN edge issue). Though the involvement of a caching proxy at your office is not something that we can effectively debug. Have you confirmed with the administrators of that caching proxy that it is not an issue there?

I've issued manual purges for these two files, but given their size it seems plausible that the caching proxy on site

[2019-03-20 20:57] caliloo commented on #4347
Thanks for checking in !
The existing dashboard tells me that the repo is 4.65 TB, and not growing too fast, so there is probably a lot of feasibility in doing a daily dump or some such thing to feed a local pypi. I have to admit I didn't go much farther because of other fun that has cropped up (fartherhood earlier than planned) :) But it hasn't left my todolist...

Next for me would be to underst

[2019-03-20 20:58] caliloo commented on #4347
btw, I'm fine with closing this issue, if you're in a housekeeping spree.

[2019-03-20 21:23] ewdurbin commented on #5583
Our CDN provider has noted this as a known issue, but is unable to provide a timeline for resolution.

[2019-03-20 22:01] gpatel-fr commented on #5599
Not iranian here (Europe)
Pip servers are in the USA (provider Fastly)
I see 4 servers in DNS here, not one. Suspicious maybe.
pypi.org.		1137	IN	A	151.101.64.223
pypi.org.		1137	IN	A	151.101.128.223
pypi.org.		1137	IN	A	151.101.192.223
pypi.org.		1137	IN	A	151.101.0.223

For DNS try another server I think

traceroute don't work for me, but sudo traceroute -T works.
curl -vvv -I --ipv4 https://pyp

[2019-03-21 00:47] johnlinp commented on #5596
Hi @di,

Thank you for the reply. I tried https://raw.githubusercontent.com/johnlinp/duosql/master/images/duosql-demo.gif, but it doesn't seem to solve the problem. It just changes to another weird url: https://warehouse-camo.cmh1.psfhosted.org/d9af816451be19f2e3c84f66b8f87832ce1af772/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6a6f686e6c696e702f64756f73716c2f6d61737465722f

[2019-03-21 02:26] cooperlees commented on #4892
From warehouse logs. We should be able to store where requests from the "bandersnatch" User-Agent hitting this endpoint are coming from and see if that helps work out why it's happening.

Bandersnatch logs stay out on individuals computers and we can not analyze them centrally like warehouse.

[2019-03-21 11:10] yeraydiazdiaz commented on #3932
@JulienPalard there's [a pending MR](https://github.com/pypa/warehouse/pull/5311) you're welcome to test/contribute to 🙂

[2019-03-21 15:28] klada commented on #5583
I'll also file a complaint at my ISP. I need some time for this though, as I have to collect more data and comparisons to VPN speed through the same line. Usually their argument with issues like these is that it's up to the content provider to make sure the traffic reaches their customers. And that's where peering agreements come into play (sadly).

Are there any mirrors which are not provided by

[2019-03-21 16:35] di commented on #5596
So, the "weird url" is our image proxy -- this is expected.

The issue is that the `Content-Type` for this image is `application/octet-stream`, which it seems our proxy can't handle. Instead, it should be `image/gif`. It produces this error in Camo:

[code]

You'll need to host the image elsewhere in order for this to work. Interestingly, if you upload the image in a comment, like this:

![duosql-

[2019-03-21 17:34] IngoScholtes commented on #4413
Any news on this case? I just see that in similar recent cases the transfer has been approved.

[2019-03-21 19:50] ewdurbin commented on #5583
Due to the potential cost of additional bandwidth we are unable to provide an official public mirror as PyPI runs on donated services and infrastructure.

Additionally the size of a full mirror of PyPI has grown to over 4TB, so not many are able to operate a full mirror at this point.

[2019-03-21 20:17] di commented on #5183
Can you give us a link to the specification you're referring to?

[2019-03-21 20:19] di commented on #5598
I've set the upload limit for `marvin-pkg-erubiano` to 100 MB on TestPyPI.

[2019-03-21 20:25] di commented on #4005
Images must be externally hosted, and this requirement has always existed. We don't expose individual files within a distribution, so this feature is not really possible, either. Sorry!

[2019-03-21 20:25] #4005 closed

[2019-03-21 20:27] di commented on #4335
Ping @nlhkabu, perhaps this is something you can include in your current scope of work? 🙂

[2019-03-21 20:39] boxsmiley commented on #5183
Here is the spec I was thinking of:  https://www.python.org/dev/peps/pep-0314/

Upon re-reading, it is possible that this is just convention and is not explicitly required by the spec.

This originally came up because JFrog's python repo would not correctly index this particular module.  I told them that they had a bug because pypa has no problem with it.  They told me that they believed that this

[2019-03-21 20:48] di commented on #5183
That specification is just for the metadata, i.e. what is contained in the `PKG-INFO` file, it doesn't consider what else can be included (or not included) in a distribution.

In fact, it's totally valid (but not very useful) to have a package that is _only_ this file. I think the issue here lies with JFrog's implementation instead, I'd suggest you open an issue in their tracker instead.

Given th

[2019-03-21 20:48] #5183 closed

[2019-03-21 20:52] boxsmiley commented on #5183
Ok. Thanks.

On Thu, Mar 21, 2019, 13:48 Dustin Ingram <notifications@github.com> wrote:

[2019-03-22 00:34] johnlinp commented on #5596
Thank you for the analysis. I've submitted a ticket to GitHub for why the Content-Type of my gif image is mistaken to `application/octet-stream`. Let's see if they have any explanation.

[2019-03-22 03:35] daltonmatos commented on #2731
Hello all,

I just added @mortenlj as an owner in the `publish` project on Pypi. @mortenlj, I think you can now remove me from the project and become the only owner of it.

Thanks,

[2019-03-22 06:16] redbaron4 commented on #5561
Thanks for looking at this @ewdurbin

The squid proxy at my workplace doesn't cache HTTPS traffic (It is simply passed through with CONNECT) so I don't think this is related to the proxy we have here.

FWIW I can now access those files and right now they are being served by a different edge node `cache-bom18225-BOM` so maybe manual purge did the trick?

[2019-03-22 10:05] wonderbeyond opened #5605 "fetching scipy-1.2.0 in my CI server always results empty content."
First let's look at the checksum for empty content:

[code]

My project was always unable to build in CI environment, due to checksum-mismatch of `scipy==1.2.0`:

[code]

After hundreds of struggles, I found `e3b0c44298...` is the just a checksum value of empty content. Then I added a test line in my Dockerfile:

[code]

And below is the corresponding output:

[code]

However I can fetch the right

[2019-03-22 10:57] jamadden commented on #2731
@mortenlj Could you please close this issue once you're satisfied in the transfer?

[2019-03-22 13:43] 1constant opened #5606 "Site not found"
The site " magic 0.1 " cannot be found.  The site appears completely empty.
There are a number of such sites.  Is there any place or mechanism where a user could report this kind of glitch?  Is there somebody (a kind of janitor) who is in charge of cleaning regularly different parts of the house?

[2019-03-22 14:36] jamadden commented on #5606
Hello,

Are you talking about the "Download" link on the page https://pypi.org/project/magic/ (or https://pypi.org/project/magic/0.1/)?  That was user-supplied metadata for an older version of the package index; [since PEP 470](https://www.python.org/dev/peps/pep-0470/) such external download links are no longer supported. However, there can be [historical value](https://www.python.org/dev/peps/pe

[2019-03-22 14:58] 1constant commented on #5606
Yes, I was talking of this download link.

Ok, I understand the reason to maintain the site for historical value.

In view of PEP 470, shouldn't a mechanism be developed to remove all the
disactivated external links ?

1Constant

Le 2019-03-22 à 10:36, Jason Madden a écrit :

[2019-03-22 15:03] jamadden commented on #5606
I don't know if that's been considered or addressed before. You might look into the [distutils-sig](https://mail.python.org/archives/list/distutils-sig@python.org/) archives and see what's there if there's nothing here in the issue archives; if you don't find a  discussion, of course please feel free to bring it up there.

If there are any action items that come from that I would imagine they woul

[2019-03-22 15:13] erubiano commented on #5598
We did some necessary changes and our final distribution it is about 260 MB.

Could you please help us againg by increasing the limit?

[2019-03-22 15:26] di commented on #4440
Here's a WIP branch where I started to implement this: https://github.com/pypa/warehouse/compare/master...di:soft-deletes?expand=1

I got hung up on the `Project.releases` field. Essentially, there's a number of places where we _don't_ want soft-deleted releases included (public UI) but there are places where we _do_ want all releases included (maintainer/admin UI). I wanted to find a way to ensur

[2019-03-22 15:26] ewdurbin commented on #3417
https://github.com/pypa/conveyor/pull/3 implements the necessary infrastructure to support this.

It reads/parses a redirects.txt from the root of the bucket which contains a \n joined set of JSON redirect configurations:

[code]

To implement this feature in Warehouse we will need to create a form that allows users with documentation hosted on pythonhosted.org to specify the above parameters and

[2019-03-22 15:31] jamadden commented on #5598
@erubiano The project on https://test.pypi.org/project/marvin-pkg-erubiano/ doesn't provide a description or a link to a homepage. Can you please help us understand what it is and why it needs to be so large? Perhaps there is a way to break slow-moving pieces into their own distribution so that no individual distribution needs to be so large.

[2019-03-22 15:49] brainwane commented on #5247
Thank you to everyone who's raised this issue and shared their thoughts and useful resources! And sorry for the slow response!

Short answer: we'll be discussing TUF & Warehouse much more in April.

Longer answer:

The folks working on Warehouse have gotten [funding to concentrate on improving Warehouse's security](https://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html), and

[2019-03-22 16:02] 1constant commented on #5606
Please close this ticket.

Thanks for the explanations.

(Or should I intervene in other way to close it ?)

1Constant

Le 2019-03-22 à 11:03, Jason Madden a écrit :

[2019-03-22 16:02] #5606 closed

[2019-03-22 16:04] brainwane commented on #4470
We'd be interested in having volunteers do this work and add this feature to Warehouse! @yeraydiazdiaz is this something you're interested in working on?

[2019-03-22 18:13] brainwane commented on #5416
@jamadden should we reopen?

[2019-03-22 18:16] brainwane commented on #5545
@cand126 Thanks for offering your help! Would you like to try working on #2921?

[2019-03-22 18:20] jamadden commented on #5416
I can't reproduce any problems now and I also haven't seen any recent reports. Given that this report was 6 days ago and without any intervening reports, I don't think this particular ticket needs re-opened. If there are new occurrences I would encourage the use of a new ticket so that specifics can be nailed down there without clutter.

[2019-03-22 20:05] di commented on #5420
FYI, I've started a discussion on the next manylinux spec here: https://discuss.python.org/t/the-next-manylinux-specification/

[2019-03-22 20:10] brainwane commented on #3417
[We talked about this today](https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042) & would love help from a volunteer on this!

So: please go ahead and grab this issue! Just comment and say that you're starting to work on it, and link in a comment to your work-in-progress branch once you start.

As always, if you have questions along the way as you work on thi

[2019-03-22 21:11] woodruffw commented on #5584
One (relatively minor) security concern here is DoS from misformed/malicious tarballs: whatever code validates the tarball should be careful to avoid input-controlled loops or recursion.

[2019-03-22 21:30] mortenlj commented on #2731
@daltonmatos : Thanks! I have taken ownership of the project now.

[2019-03-22 21:30] #2731 closed

[2019-03-22 22:02] brainwane commented on #5584
[We talked about this today](https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042) & would love help from a volunteer on this!

So: please go ahead and grab this issue! Just comment and say that you're starting to work on it, and link in a comment to your work-in-progress branch once you start.

As always, if you have questions along the way as you work on thi

[2019-03-22 23:04] gpshead commented on #5584
PR coming... (hadn't seen woodruffw's update before i started working on it)

[2019-03-22 23:12] gpshead commented on #5584
As far as security concerns go... there is always a DoS concern when decompressing supplied data (problem 1).  And a concern about zeroday or unpatched bugs in the underlying compiled decompression library.

For input controlled loops in my PR as it stands, the code behaves the same as the existing zipfile validation code by looping over all entries in the tarfile until it finds a PKG-INFO or ther

[2019-03-22 23:27] cand126 commented on #5545
@brainwane
Sure! I can take a look this weekend.

[2019-03-23 04:38] tritium21 opened #5612 "Per-Project RSS feed"
**What's the problem this feature will solve?**

Currently, if a user of Pypi wants to be notified of new releases or uploads for projects they care about, they either have to use the updates feed for all of pypi, or a third party service which typically requires outside access to their code repositories.

For most open source projects, this is fine - just point libraries.io at your github repo, j

[2019-03-23 23:55] Chris7 opened #5615 "PEP 541: transfer ownership of name-squatting 'pyquant' package"
The existing pyquant package (https://pypi.org/project/pyquant/) is completely devoid of functionality (has no python code), nor any email to contact the existing owner. It has been like this since 2015.

I am the developer of a scientific python package named PyQuant (https://www.ncbi.nlm.nih.gov/pubmed/27231314 and https://github.com/Chris7/pyquant), I would like to distribute under `pyquant` in

[2019-03-24 08:44] noorkhokhar99 commented on #3826
you can  try.

[2019-03-24 09:56] tritium21 commented on #5612
s/package/project/ to better match intentions

[2019-03-24 09:57] yeraydiazdiaz commented on #4470
Hi @brainwane, nice to have you back 🙂

Yeah, I could throw some cycles at this.

[2019-03-24 13:10] LogX7 opened #5617 "Markdown long description not rendering"
**Describe the bug**
not rendeting mardown README.md

**To Reproduce**
i uploaded a new version using
[code]
- here's the repo [Matrix7](https://pypi.org/project/matrix7/)
- when i uploaded the first time using twine upload it worked normally, the rendering doesn't work when uploading a new version

**My Platform**
- OS: linux mint 19
- PYTHON: 3.6.7
- WHEEL 0.33.1

[2019-03-24 14:54] jamadden commented on #5617
It's [recommended](https://packaging.python.org/guides/making-a-pypi-friendly-readme/) that you use twine to perform uploads. If you want to use Markdown, [twine is also required](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi/).

[2019-03-24 14:55] LogX7 commented on #5617
@jamadden  how do i upload an update with twine ?
because twine upload
shows name already used error

[2019-03-24 14:57] jamadden commented on #5617
There shouldn't be anything different about using twine to perform an initial upload and using twine to add a new release. You may just need to check your credentials then and be sure twine is using the right credentials, authorized to add to the PyPI project.

(Note that you cannot *overwrite* an *existing* release file with any tool; PyPI simply doesn't allow that.)

[2019-03-24 14:58] LogX7 commented on #5617
i am not overwriting existing releases ..
for some reason it's not working
if i was overwriting an existing release then 'sdist upload' wouldn't work too .. no ?

[2019-03-24 15:04] LogX7 commented on #5617
apparently it was uploading just fine
but showing the error anyways -_-
i don't know why

[2019-03-24 15:04] #5617 closed

[2019-03-24 17:40] cand126 commented on #2921
Hi @di, I would like to ask some questions.

1. Is there a mockup for pagination?
2. Does the current API support pagination?

[2019-03-24 19:34] schollii opened #5618 "two official versions of a package?"
**What's the problem this feature will solve?**

I have 2 branches of my pypubsub project: master branch is for python 3+; and branch 3.4 is for python 2.7. However I cannot see a way in pypi.org of indicating that there is more than one official version available. E.g. if you go to https://pypi.org/project/PyPubSub/3.4.0/ you can see the red indicator. I don't really want it to be red because the

[2019-03-25 14:59] afranke opened #5620 "Search result relevance questionable"
I [look up 'rfc6266'](https://pypi.org/search/?q=rfc6266) because I was told about [the module](https://pypi.org/project/rfc6266/) and I want to know more about it. Said module appears sixth even though its name matches exactly my query. I look at the sorting criteria and see it’s supposed to be by relevance. I end up wondering how that is not the most relevant result.

[2019-03-25 15:30] di commented on #5620
Duplicate of #2877.

[2019-03-25 15:30] #5620 closed

[2019-03-25 15:31] di commented on #2877
Seems like this is still an issue:

[2019-03-25 16:15] di commented on #2921
@cand126 Thanks for the questions. This is specifically about the "Project History" in the logged-in UI for project maintainers, it looks like this:

<img width="1154" alt="Screen Shot 2019-03-25 at 11 13 30 AM" src="https://user-images.githubusercontent.com/294415/54935835-1fd95d80-4eef-11e9-8558-1401f145826a.png">

---

<img width="1164" alt="Screen Shot 2019-03-25 at 11 13 35 AM" src="https://u

[2019-03-25 21:55] antonisa opened #5623 "Increase size limit request for lang2vec"
Hi,

I would like to request a limit increase for the lang2vec project: https://pypi.org/project/lang2vec/

The project provides typological features for the world's languages.
The new release will also provide pre-computed pairwise distances between 8070 languages,
which will lead to greater ease of use, and could be very valuable for research in NLP, typology prediction, etc.

As a result the ne

[2019-03-26 02:22] brainwane commented on #5545
@cand126 Thanks! How did that go for you?

[2019-03-26 05:45] JMSwag opened #5625 "400 Client Error: Invalid value for provides"
**Describe the bug**
Attempting to upload an updated version of an existing python package results in a HTTPError 400 "Invalid value for provides" response.

A condensed example below.

[code]
**Expected behavior**
The ability to upload a revision to an existing package after bumping the version number in the setup.py file.

**To Reproduce**
[code]

**My Platform**
[code]
**Additional context**

T

[2019-03-26 06:33] di commented on #5625
Thanks for the report! I think this is probably a bug. The biggest change between the last release of your package and today is that we completely rewrote the codebase behind PyPI.

Based on my reading of [PEP 314](https://www.python.org/dev/peps/pep-0314/#provides-multiple-use), a `Provides` field such as `xml.utils` should be valid, but we're definitely preventing such a field from being uploade

[2019-03-26 11:06] hugovk opened #5627 "Request Trove classifier: HPND licence"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `License :: OSI Approved :: Historical Permission Notice and Disclaimer (HPND)`

(or similar)

## Why do you want to add this classifier?

It turns out the "Standard PIL license" used by Pillow is really HPND (https://github.com/python-pillow/Pillow/issues/1507), and is approved by the OSI:

* https://op

[2019-03-26 14:45] tbekolay opened #5628 "Request trove classifier: Framework :: Nengo"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Nengo`

## Why do you want to add this classifier?

We develop a neural network simulator called Nengo. We have architected Nengo to be modular such that a Nengo model can be simulated on several different backends, so we have several backend projects that are released separately on PyPI. S

[2019-03-26 15:02] jamadden commented on #5623
I've increased the size limit to 300MB on PyPI and TestPyPI. This size is towards the larger end allowed. Please be mindful about how often you make releases of this package given the size.

[2019-03-26 15:02] #5623 closed

[2019-03-26 16:24] cand126 commented on #5545
@brainwane
I understand what to do roughly. I will find some time to work on it this week. :)

[2019-03-26 16:35] marcanuy commented on #5545
![off topic altert](https://media1.tenor.com/images/f5dfe218ef87c7992624395b1490b057/tenor.gif)

[2019-03-26 18:22] aclark4life commented on #5627
Beat me to it, thanks @hugovk

[2019-03-26 19:24] di commented on #5627
I've added the `License :: OSI Approved :: Historical Permission Notice and Disclaimer (HPND)` classifier, thanks!

[2019-03-26 19:24] #5627 closed

[2019-03-26 19:39] JMSwag commented on #5625
Thanks for the quick fix & heads up on PEP 345!

[2019-03-26 21:05] tieguy commented on #2996
Relevant PEP: https://github.com/pypa/interoperability-peps/issues/46

[2019-03-27 09:11] locdoan12121997 commented on #5583
I met the same problem. Hope to know a workaround.

[2019-03-27 10:01] sgratzl opened #5634 "Claim abandoned name: slack-cleaner (PEP 541)"
I'd like to apply to take ownership of the project name "slack-cleaner" https://pypi.org/project/slack-cleaner/

## Reachability

I tried to reach the original author via email (kfei@kfei.net) twice or by filing a issue on the repos github repository (https://github.com/kfei/slack-cleaner/issues/51). However, no response to either of it.

## Abandoned projects

A project is considered abandoned wh

[2019-03-27 17:46] javimoral opened #5636 "PEP 541: Claiming django-latch"
I've forked [django-latch](https://github.com/rootedcon/django-latch), a package that hasn't been actively develop in 5 years.

Also asked its original developer [desee](https://pypi.org/user/deese/) via mail to free the name so I could use it. He agreed and deleted the package on 26/04.

I'd like to claim the name of the previously registered package to keep developing the project.

[2019-03-27 17:46] di commented on #5612
Thanks for the request. This is a duplicate of #1683.

[2019-03-27 17:46] #5612 closed

[2019-03-27 17:46] di commented on #1683
Here's a request for RSS feeds specifically: https://github.com/pypa/warehouse/issues/5612

[2019-03-27 17:49] di commented on #5636
Looks like the original maintainer removed all previous releases, but did not delete the project. They can either:

* Delete the project entirely: https://pypi.org/manage/project/django-latch/settings/
* Add you as an owner of the project: https://pypi.org/manage/project/django-latch/collaboration/

[2019-03-27 17:51] di commented on #5605
Is this still an issue? Sounds like you might have been hitting a bad POP for our CDN, which would make this a duplicate of #5561.

[2019-03-27 17:56] di commented on #5618
If you're using the [`python_requires`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires), you'll be able to restrict installs based on the installer's Python version, so Python 3+ users won't see your `3.4.x` releases, and Python 2 users won't see your `4.x.x` releases when installing.

Another alternative would be to create a separate package entirely,

[2019-03-27 19:07] SeanDS opened #5637 "PEP 541: claim abandoned 'zero' project"
I'd like to apply to take ownership of the [zero](https://pypi.org/project/zero/) PyPI project. It has no releases, no activity since 2013 and the author has no contact details listed (not even on what seems to be their [GitHub profile](https://github.com/philipbergen) found via their other projects on PyPI).

I maintain a software tool also called zero, hosted [here](https://git.ligo.org/sean-lea

[2019-03-28 01:49] larsoner opened #5641 "BUG: No "Destroy Documentation" for package after add, doc, remove, re-add"
I along with @Titan-C are maintainers of the [sphinx-gallery](https://pypi.org/project/sphinx-gallery/) package. Long ago (apparently) the package was named `sphinxgallery` (possibly maintained by @Titan-C), but apparently it:

1. Currently exists as a package at https://pypi.org/project/sphinxgallery/, even though @Titan-C thinks he removed it, and
2. There are minimal docs available at https://p

[2019-03-28 02:00] wonderbeyond commented on #5605
@di I've upgrade to scipy-1.2.1 to walk around this issue by manually change `requirements.txt`, though it's compiled from `requirements.in` via `pip-compile`.

[2019-03-28 11:23] jamadden commented on #5641
The `sphinxgallery` project describes itself as "A package to prevent exploit", and its `setup.py` (as well as its `__init__.py` is full of things like `raise Exception("You probably meant to install and run sphinx-gallery")`. So it would seem that the author is attempting some sort of white-hat squatting.

The Author email on the PyPI page for the project matches the email we have registered to t

[2019-03-28 11:42] larsoner commented on #5641
Argh I did look at the source briefly but obviously not thoroughly enough. Sorry for the noise.

[2019-03-28 12:02] kmaehashi opened #5643 "Request for size limit increase for cupy-cuda101 package"
Hello,

I would like to request a size limit increase for `cupy-cuda101` package to distribute [CuPy](https://github.com/cupy/cupy) wheels, because it contains dependency libraries (CUDA etc.).
The size of the wheel is currently approx. 300 MB. Could you please increase the limit to 350 MB?

Thanks in advance!

[2019-03-28 21:06] JustinCappos commented on #5247
From the TUF side, we're very interested in moving this forward.  Let us know what we can do to help!

[2019-03-29 13:35] jamadden commented on #5643
I've set the limit for `cupy-cuda101` to 350MB on PyPI.

There seem to be several related packages of this size with synchronized release schedules (e.g., `cupy-cuda90`, `91`, `100`), so given the overall size we would ask that you please continue to be mindful about how often you make releases of them.

[2019-03-29 13:35] #5643 closed

[2019-03-29 18:05] larsoner commented on #5641
I was added as an Owner of the `sphinxgallery` repo, but there is no option to get to the docs to "Destroy Documentation":

![Screenshot from 2019-03-29 14-00-38](https://user-images.githubusercontent.com/2365790/55253189-115eaf00-522b-11e9-9762-7d944ef59112.png)

Following the URL scheme from other repos that do have docs, if I force it to go to the "Documentation" page there is no button there:

[2019-03-29 18:14] ewdurbin commented on #5641
These docs have been manually removed.

[2019-03-29 18:14] #5641 closed

[2019-03-29 18:15] larsoner commented on #5641
Awesome, thanks @ewdurbin !

[2019-03-29 22:58] cand126 commented on #2921
@di I created a package with lots of realeases, and the pagination feature seems fine. Each page has 25 items, and the I can navigate to different pages by click the button. The url also indicates the page number.
![Screenshot from 2019-03-29 23-54-19](https://user-images.githubusercontent.com/6241921/55266669-89a29000-527e-11e9-97a5-ac3620346d30.png)
![Screenshot from 2019-03-29 23-54-24](https:/

[2019-03-29 23:21] di commented on #2921
Sorry for the goose chase @cand126. I realized that this was due to a misconfiguration of our CDN, which was stripping out URL parameters for these pages. I just updated and it's now fixed.

Thanks for helping debug!

[2019-03-29 23:21] #2921 closed

[2019-03-30 06:44] javimoral commented on #5636
Contacted again with the original publisher. Thanks.

[2019-03-30 06:44] #5636 closed

[2019-03-30 11:58] mfrasca commented on #4121
one more user, supporting the request.  or considering moving away from PyQRCode.

[2019-03-30 12:24] kmaehashi commented on #5643
Thank you for your continued support!

[2019-03-30 15:00] yeraydiazdiaz commented on #3931
Hello @galund, I've sent an email to @trustrachel regarding your request but, as you mention, it is no longer accepting incoming emails. Hopefully we can hear back through this issue and clarify the position about this package.

In the meantime, and according to the [project transferral rules in PEP 541](https://www.python.org/dev/peps/pep-0541/#continued-maintenance-of-an-abandoned-project), coul

[2019-03-30 15:27] martmists opened #5648 "Transfer ownership of package to original repo from fork"
Recently I started working on a project with a small team, the repo of which is here, at [martmists/MCServer](https://github.com/martmists/MCServer)

We were still discussing most of the internals when one of the team members left, created their [own fork](https://github.com/BTaskaya/MCServer), broke up all contact and used their fork to claim the [pypi package](https://pypi.org/project/mcserver/)

[2019-03-30 16:04] BTaskaya commented on #5648
Any code, content and image that are directly or indirectly linked to your project have been removed from myside. I removed old relases that contains your code from PyPI and github also with that action i started a new project called `MineCraftSERVER` and the abbrevtion of it is `MCServer`. I'm letting PyPI authorities to decide.

[2019-03-30 16:09] martmists commented on #5648
Despite it being deleted, I still seem to be unable to upload to `mcserver` to claim it.

[2019-03-30 16:13] BTaskaya commented on #5648
Because i'm the sole owner of name and i  deleted content that directly / indirectly belongs you not my [content](https://github.com/BTaskaya/MineCraftSERVER)

[2019-03-30 16:22] martmists commented on #5648
You claimed you were fine with it being transferred on discord:
![image](https://user-images.githubusercontent.com/16361449/55278707-0b8ec980-5310-11e9-8641-49361c7ac101.png)

And later said you deleted it per request:
![image](https://user-images.githubusercontent.com/16361449/55278715-1a757c00-5310-11e9-9925-f3e549526acc.png)

I feel like you're being very immature about this, and I hope some Py

[2019-03-30 16:26] martmists commented on #5648
If anyone believes these images are doctored, here is proof of the messages as well as this being his account:
![info_about_user](https://user-images.githubusercontent.com/16361449/55278780-ea7aa880-5310-11e9-866e-3687e618afbe.gif)

[2019-03-30 16:27] BTaskaya commented on #5648
You are twisting about my statements. In the first image you submitted i said it is cool to pypi authorities decide any of this expressions says giving the name to you. In the second image i said, i deleted all of your work from PYPI, not deleting the NAME! Deleting relases that contains YOUR CODE!

[2019-03-30 16:29] BTaskaya commented on #5648
By the way it is a violation of privacy. You are sending all of conversation between you and me without asking my permission. I'm cool with that i stand behind what is said.

[2019-03-30 16:44] martmists commented on #5648
I am aware that PEP 541 says that disputes like this should be resolved between the users, but in this case:

- You violated copyright, marking your project as invalid
- We then tried to claim it, unable to due to your invalid ownership
- You removed the copyright infringement, still owning the project without ANY codebase

The logical conclusion here is that as we were the first ones to claim own

[2019-03-30 16:58] BTaskaya commented on #5648
I didnt violated copyright. It is normal to you can't claim because i'm a hosting my project named "MineCraftSERVER". The project is a name squatting, i'm using the pypi package for my "MineCraftSERVER" project and it has valid code.

[2019-03-30 17:18] martmists commented on #5648
a class that only inherits asyncio.Protocol and a dataclass with two properties counts as name squatting...

[2019-03-30 17:26] BTaskaya commented on #5648
(deleted) This repo does not have any relation with `mcserver` package name. The `mcserver` package contains more & more things with time dont expect me to write everything in a hour.

[2019-03-30 17:33] martmists commented on #5648
[code]

If you say this as only content does not count as name squatting, go ahead, but I doubt the Pypa members will agree with you.

That being said, I feel like the Pypa organization members should make a decisive response to this issue as we are clearly unable to figure this out on our own.

[2019-03-30 17:37] BTaskaya commented on #5648
You are right, as a final comment from my side i'm putting the git logs of old fork. It is a proof of your given LoC changes are lie.
![image](https://user-images.githubusercontent.com/47358913/55279619-874a3f80-532b-11e9-9bc8-ce0d2cf7464c.png)
![image](https://user-images.githubusercontent.com/47358913/55279624-9204d480-532b-11e9-8f1c-746a806edb75.png)

[2019-03-30 17:47] Luke-6723 commented on #5648
Realistically if you do not require the name "MCServer" anymore:

@BTaskaya Quoted as saying:

why would you have a problem with releasing this name to him. As you stated in a previous comment, You have changed the name to "MineCraftServer":

 so therefore you should release the name to avoid drama in all cases. If your projects are separate and have nothing to do with each-other why not go your s

[2019-03-30 18:00] martmists commented on #5648
Marking as resolved, the name has been transferred.

[2019-03-30 18:00] #5648 closed

[2019-03-30 18:04] BTaskaya commented on #5648
I transfered name to @martmists . the only benefit to me was that it gave a good lesson. I teached me never contribute a project without asking the license.

[2019-03-30 18:08] martmists commented on #5648
More like it taught you:
- not to steal someone elses code and release it under your own name
- not to infringe copyright in the process of doing so
- what the code of conduct for pypi is in regard to name-squatting

[2019-03-31 10:53] galund commented on #3931
Hi, I'm afraid because the project was abandoned and we had no response, we stopped using this library, and so no longer maintain a fork. The fork we had is archived at https://github.com/alphagov/Flask-FeatureFlags/

[2019-03-31 10:53] #3931 closed

[2019-03-31 15:44] di commented on #4413
This has been resolved.

[2019-03-31 15:44] #4413 closed

[2019-03-31 17:18] yeraydiazdiaz commented on #3931
Thanks for letting us know, and sorry for the delay in responding to this issue.

[2019-04-01 03:50] sanpingz commented on #5537
I have deleted https://pypi.org/project/mysql-connector.

[2019-04-01 04:53] markypooch commented on #5537
Referencing @johannes

A forwarding feature to a new package from an abandoned package would be quite nice with a warning  message containing a TTL before the old package is axed

[2019-04-01 08:38] sixers commented on #5537
@sanpingz Deleting mysql-connector broke our builds. From https://pypistats.org/packages/mysql-connector I can see that mysql-connector is still being downloads more than 10k times daily, so possibly it broke many people builds as well. Could you please restore deleted package? If possible, can you come up with smooth transition to mysql-connector-python package?

[2019-04-01 09:35] matdodgson commented on #5537
There's now a version 2.2.4 on [https://pypi.org/project/mysql-connector/#history]. There's no source code for that version at the github account. Is it a fake?

[2019-04-01 10:37] sanpingz commented on #5537
I uploaded again to smooth the transition, and put deprecation message. Let me know if anything else I can do to clear the confusion.

[2019-04-01 12:43] markypooch commented on #5537
We had builds fail as well. Im not very familiar with the community, but is there a defined process of getting the word out before removing a package? Especially one as heavily used as mysql-connector?

[2019-04-01 12:53] ewengillies commented on #5537
My build broke as well. It seems to find the "new" `mysql-connector` uploaded today breaks our builds as well.

This is the error message:

[code]

Needless to say, googling this error comes up with a lot of messages about updating `setuptools` and `wheel`, which are both up-to-date.  This error message still occurs though.

We've switched over to `mysql-connector-python` but I am sure glad that o

[2019-04-01 13:26] yeraydiazdiaz opened #5651 "apt-get update fails on make build due to Debian jessie 404s"
When running `make build` the `apt-get update` command in the Dockerfile fails due to a 404 while fetching Debian Jessie updates, I believe due to https://lists.debian.org/debian-devel-announce/2019/03/msg00006.html

I haven't had time to fully look into this but a quick fix has been to upgrade the version of the `node` image in the Dockerfile to [`8.15.1` which is based on `stretch`](https://gith

[2019-04-01 14:36] sanpingz commented on #5537
Sorry guys, I don't even know it's being used by so many people, I'm trying to recover  2.1.x and 2.2.x to minimize the impact.

[2019-04-01 16:04] di commented on #5651
Good catch. Upgrading to `8.15.1` seems to work fine for me locally, I'll push a branch and we'll see how it goes.

[2019-04-01 16:15] #5651 closed

[2019-04-01 17:41] jwodder opened #5653 "XML-RPC changelog_since_serial() method is returning invalid XML due to \x01 in sdist name"
As of 2019-04-01 17:35:00 +0000, running the below Python 3 code:

[code]

fails with:

[code]

Manually reproducing the XML-RPC request and inspecting the response shows that the problematic piece of XML is (with line number added):

[code]

The `^A` is here a literal `\x01` which somehow ended up in the filename of an sdist uploaded to the `request-s` project.  If Warehouse is going to allow upl

[2019-04-01 17:46] jwodder commented on #5653
Upon further investigation, it appears that the failure to escape `\x01` is the fault of Python's `xmlrpc.client.dumps()`.  BPO 26147 appears to be related.

[2019-04-01 17:49] di commented on #5653
Here's the project in question: https://pypi.org/project/request-s/

Here's where we check that it normalizes to the same value: https://github.com/pypa/warehouse/blob/a3036d44179f640be52578d0d07fce75fe4793c5/warehouse/forklift/legacy.py#L1073-L1080

AFAICT, this is a valid, albeit confusing filename, and the issue is with the client instead.

[2019-04-01 18:54] ewdurbin commented on #5653
@di is this a place where the addition of some calls to [`_clean_for_xml`](https://github.com/pypa/warehouse/blob/a3036d44179f640be52578d0d07fce75fe4793c5/warehouse/legacy/api/xmlrpc/views.py#L79-L89) are needed?

[2019-04-01 18:56] di commented on #5653
@ewdurbin Not sure. Cleaning the description/summary is one thing, but actually changing the filenames might not be helpful.

[2019-04-01 20:15] ewdurbin commented on #5653
Though on second thought, I'm fairly certain this will also effect the releases data as well.

[2019-04-01 20:16] ewdurbin commented on #5653
seems url encoding the filename field is probably the safer bet.

[2019-04-01 22:27] #5653 closed

[2019-04-02 03:12] jwodder commented on #5653
The XML-RPC is working again now.  Thanks!

[2019-04-02 12:20] johannes commented on #5537
Any guidance from some pypi expert/admin how we can smoothen the transition? Could @sanpingz create a package which simply depends on the latest version of upstream or is there some redirect feature? Or a good way to point the right way when the user tries to install this package?

[2019-04-02 16:46] di commented on #5537
There is no redirect feature. The simplest thing (for users) would be to create a new, minimal distribution which depends on `mysql-connector-python` via [`install_requires`](https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=install_requires#declaring-dependencies), something like:

[code]

And possibly also adds some notice to the `long_description` (looks like this has alread

[2019-04-02 20:11] ewdurbin commented on #5586
I'm +1 to @woodruffw's gameplay:

Another idea...

This is a bit in the weeds, but... Is it possible we could implement a recovery process that doesn't strictly bypass MFA using recovery codes, but where those recovery codes... or even a single code... could be used as a "vouch" when requesting account recovery from admins. That would at least help expedite the process of admin assisted recovery.

[2019-04-03 02:31] EuclidHeron commented on #5537
@ewengillies curious, besides putting `mysql-connector-python` in requirements.txt what other changes did you need to make? I am running into a seg fault while trying to transition.

[2019-04-03 03:42] sanpingz commented on #5537
I only have `mysql-connector` 2.1.7 and 2.2.9 kept for the transition which roughly equal `mysql-connector-python` 2.1.6 and 2.2.2 with some fixes. The issue @ewengillies reported should be gone.

[2019-04-03 03:44] sanpingz commented on #5537
BTW, no need *Protobuf* dependency for these 2 versions.

[2019-04-03 04:01] EuclidHeron commented on #5537
hi @sanpingz looking at https://pypi.org/project/mysql-connector-python/#history do you mean 2.0.4 instead of 2.1.6?

[2019-04-03 04:06] EuclidHeron commented on #5537
Hi. Does anyone have an example of a Docker file that allows mysql-connector-python to work? I have:
In my Dockerfile I have:
RUN pip3 install -r /event_git/requirements.txt

In requirements.txt I have:
mysql-connector-python==8.0.15

Is there anything else I need to do?

[2019-04-03 04:13] sanpingz commented on #5537
No, here:
https://github.com/mysql/mysql-connector-python/releases

[2019-04-03 04:24] LucidOne commented on #5247
https://motherboard.vice.com/en_us/article/pan9wn/hackers-hijacked-asus-software-updates-to-install-backdoors-on-thousands-of-computers

[2019-04-03 05:26] brainwane opened #5661 "2FA/API tokens: staging/testing rollout"
**What's the problem this feature will solve?**
To finish #996 (see #5567), we need to test MFA with real users on real packages; asking them to spin up dev environments is too hard and won't help multi-maintainer projects reason well about what MFA policies they want to set up.

**Describe the solution you'd like**
My tentative suggestion is:

* We first roll out MFA on test.pypi.org and publiciz

[2019-04-03 07:36] brainwane commented on #996
Wes Turner asked:

(Further details [at distutils-sig](https://mail.python.org/archives/list/distutils-sig@python.org/message/EPQTPF6HKANBRKCE33D7BLNL4VBY2MWC/).)

[2019-04-03 12:49] schollii commented on #5618
Good to know, I do use python_requires. I'll consider the separate package approach.

How about, then, that in the pypa site, the user can filter on python versions? Then if they were in the search, only packages that satisfy the chosen python version would get shown, and if they went to pypubsub the Newest Version would show the latest for the version of Python they selected. If they didn't selec

[2019-04-03 14:20] woodruffw commented on #996
Yep! That's my plan. Of course, not all of Warehouse's supported browsers can do Webauthn yet: Firefox, Edge, and recent Chrome (67+) have it, but Safari only has it in technical previews and IE support is nonexistent. This is a while lot better than FIDO/U2F support (which is pretty much just Chrome + Firefox with an `about:config` setting), but it's still worth keeping in mind. In any case, all

[2019-04-03 14:21] EuclidHeron commented on #5537
Thanks so much @sanpingz . Quick follow up. I got mysql-connector-python 8.0.5 working but I still have issues with 8.0.15 . You mentioned a protobuff dependency, do you recall how to fulfill that?

[2019-04-03 14:35] di commented on #5537
Folks, this is not the right place for this discussion. Please take it into the issue trackers for these projects.

@sanpingz, have you transferred ownership to @johannes? Can this issue be closed?

[2019-04-03 15:19] rsyring commented on #5586
Another option, for account recovery: make it possible but with a long delay:

* wait 30 (or 60, 90 days) before you grant account recovery
* ask at sign-up for phone number to text in case of account recovery request
* email/text weekly with links that let you cancel the account recovery request
* Notify maintainers on shared projects that someone on their projects has initiated account recovery.

[2019-04-03 15:53] mlissner commented on #996
Has anybody checked their new Chrome + IE frankenstein yet?

[2019-04-03 16:03] trishankatdatadog commented on #5247
Same, happy to help with this, just let us know how.

[2019-04-03 16:26] woodruffw commented on #5586
SMS is completely broken as an authenticity channel, so adding texts to the recovery process would probably increase rather than decrease an attacker's chances of gaining access to an account. Email should be fine, with the normal caveats about phishing. But most of this pertains to the general account recovery process, not specifically how we handle 2FA recovery tokens *or* how we do account reco

[2019-04-03 16:30] johannes commented on #5537
@sanpingz if you could transfer ownership to https://pypi.org/user/mysql_re_team/ as suggested by do that would be great, then we take it up to create some form of forwarding.

@EuclidHeron yes, protobuf is needed, but that should be installed as dependency, for issues please file a bug at bugs.mysql.com or reach out to me outside this specific issue here.

[2019-04-03 16:34] woodruffw commented on #996
It looks like their plan is to build it as a shell over Chromium, so my *guess* is that they'll get Webauthn support.

[2019-04-03 17:42] di commented on #5618
Got it, so to give an example if I'm understanding correctly:

A search for "Django" with the `Programming Language :: Python :: 2` classifier selected like [this](https://pypi.org/search/?q=django&o=&c=Programming+Language+%3A%3A+Python+%3A%3A+2) should:
* still show Django as the top result (even though the last release doesn't support Python 2)
* should link to https://pypi.org/project/Django/1