[2018-08-08 01:17] #4482 closed

[2018-08-08 02:26] TongAriel commented on #4480
Thanks. I will follow it.

[2018-08-08 02:38] parallelo opened #4485 "File size limit exemption (tensorflow-rocm)"
Hi,

We would like to host the [ROCm-targeted port of TensorFlow](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream) on PyPI.  However, we hit the 60MB limit when trying to upload to test.pypi.org.  In the meantime, we have created placeholder `0.0.1`-versioned projects for `tensorflow-rocm` on both Test PyPI and PyPI.

Details:
- Project name:  `tensorflow-rocm`
- Size:  114 MB initiall

[2018-08-08 02:42] di commented on #4485
I've increased the limit for `tensorflow-rocm` on both PyPI and TestPyPI to 200MB.

Please try to be conservative with how often you make new releases (i.e., don't push nightlies).

[2018-08-08 02:42] #4485 closed

[2018-08-08 02:43] parallelo commented on #4485
Sure, no prob.  Many thanks.

[2018-08-08 07:35] cclauss opened #4488 "Upgrade the Travis CI server to be ready for Python 3.7"
**What's the problem this feature will solve?**
Upgrade PyPI to run on Python 3.7 instead of the Python 3.6.

**Describe the solution you'd like**

PyPI's Travis CI server is not compatible with travis-ci/travis-ci#9069 because the worker is still Trusty, not [Xenial as requested in .travis.yml](https://github.com/pypa/warehouse/pull/4487/files#diff-354f30a63fb0907d4ad57269548329e3R1) so the propo

[2018-08-08 11:43] ewdurbin commented on #4488
Thank you. This is blocked until Celery supports Python 3.7

[2018-08-08 13:56] windelbouwman commented on #699
Maybe as a source of inspiration, we can look at the rust crates.io website, for example, there is used a graph: https://crates.io/crates/lalrpop

[2018-08-09 02:09] mhrivnak opened #4496 "503 response adding a Maintainer to a project"
**Describe the bug**
When I try to add a Maintainer to a project I own, I get a 503 response and the "Sorry, something went wrong" page.

**Expected behavior**
The Maintainer should be added, or an error message should be displayed explaining what I did wrong.

**To Reproduce**
As the project owner, go to this page: https://pypi.org/manage/project/radiotherm/collaboration/

Type in "craftyguy" as

[2018-08-09 02:12] dstufft commented on #4496
Sorry, this is a bug due to a change that was pushed out. Will have it fixed shortly.

[2018-08-09 02:32] dstufft commented on #4496
Should be fixed now, sorry about that.

[2018-08-09 02:32] #4496 closed

[2018-08-09 03:01] mhrivnak commented on #4496
We've all been there! Thanks for the quick fix. I can confirm it is now working.

[2018-08-09 10:29] waseem18 commented on #2877
Yes, it is @selotape

You can start looking into this issue. Feel free to ping here if you need help with anything.

[2018-08-09 12:36] aristofun opened #4501 "File size limit exemption: py-agender"
- py-agender
- release currently ~190MB, but may potentially grow up to 300-400 with improved DL networks
- both Test and PyPi limits

The goal is to provide easy "install and go" solution, without any dancing for end user. That's why it's critical to pack neural network weights file, which has to be downloaded anyway.

Thank you in advance.

[2018-08-09 15:24] selotape commented on #2877
Another example - [https://pypi.org/search/?q=hachoir3](https://pypi.org/search/?q=hachoir3)

[2018-08-09 17:33] ssbarnea opened #4504 "Taking ownership of the unmaintained wee package on pypi"
https://pypi.org/project/wee/ had only one release 8 years ago and I suppose is not of much use.

I am working on writing a console tool that is a "tee for the web", meaning it would mostly do what
"tee" does but for the web, converting the stdout to HTML and uploading it to a web server for sharing with others. Thus is why I would find the use of "wee" as a very good fit.

I contacted the maintai

[2018-08-09 18:32] snarlistic commented on #4355
Please close the ticket at your CDN provider, since we managed to solve this issue with our cloud provider.

As the next document describes, Fastly uses anycast for some of its services: [https://www.fastly.com/blog/building-and-scaling-fastly-network-part-2-balancing-requests]
Our cloud provider had some trouble with a certain route that suffered packet loss and this caused packets to use differe

[2018-08-09 19:34] di commented on #4355
Glad you got that resolved @snarlistic! Going to close this issue.

[2018-08-09 19:34] #4355 closed

[2018-08-10 02:42] dstufft commented on #4481
In https://github.com/pypa/warehouse/pull/4515 I make it so these users can add a primary email address to their account and generally improve the work flow for these users.

However one thing I want to possibly raise here, is we have 34792 users who do not have a primary email address on file (of which 2 have a non primary email address on file) who are not attached to a project in any way. Shoul

[2018-08-10 02:45] dstufft commented on #4481
Oh, and one more query I just thought of, most of them, their last login is the same day as the day they joined:

[code]

[2018-08-10 06:18] selotape commented on #2877
Hey,

I created a PR with a small fix and a description of my (incomplete) status. @waseem18 , can we take the conversation there?

[https://github.com/pypa/warehouse/pull/4519](https://github.com/pypa/warehouse/pull/4519)

[2018-08-10 08:55] cztomsik opened #4520 "removed packages should not be returned"
**Describe the bug**
`/simple/`, `list_packages` and `list_packages_with_serials` all return removed packages.

**Expected behavior**
Only packages listed on pypi.org should be returned.

**To Reproduce**
Go to https://pypi.org/simple/ and search for package `0` or `rever`. These packages are not installable.

**Additional context**
I've quickly skimmed through the code and I think (to my limited

[2018-08-10 11:56] ewdurbin commented on #4481
One theory out the window. I wondered if these were users who had only associated an OpenID (this was an option in the past).

[code]

Returned 14 results.

[2018-08-10 12:02] ewdurbin commented on #4481
I'm +1 on purging users who have no email addresses associated with their accounts.

[2018-08-10 12:13] ewdurbin commented on #4520
For a given package PyPI has Projects and Releases. The examples provided are Projects that were registered that never uploaded a release (previously allowed) or who uploaded releases that were later removed.

We probably need discussion on how if we want to filter them from `/simple`. cc @dstufft @di

[2018-08-10 13:05] cztomsik commented on #4520
So it probably works as intended but I'd still argue that it's little unexpected. I mean if you call `list_packages` you will get `0` and `rever` (and probably lot of others) and none of those can be obtained through `https://pypi.org/pypi/<pkg>/json`

It seems bandersnatch has similar check https://bitbucket.org/pypa/bandersnatch/src/9fa97648f980d25f7c255f6d513da4bc6f6be2aa/src/bandersnatch/packa

[2018-08-10 13:51] stain commented on #2996
Well the whole point to deprecate is to force project pushing new updates to actually declare which version they are using.

GPL is a special case here as the changes here as they already have versions, but just attempts to align with [spdx identifiers](https://spdx.org/licenses/), which I think is a good thing; but perhaps not as critical as the other ones like the ambiguous "Apache License" or "

[2018-08-10 15:49] di commented on #4520
I've revised the title a bit here to better describe what is happening.

I don't see any reason to list these packages (i.e. those without any releases) in `/simple`, they will never be installable, and removing them will make requests to `/simple` a little more lightweight as well.

[2018-08-10 16:06] di commented on #4481
I'm definitely +1 on purging the 31523 that haven't logged in since the day they were created.

For the rest, I think it would make sense to limit the purge to users that haven't logged in in the last N years (maybe the last 1 year?)

[2018-08-10 16:08] dstufft commented on #4481
So purge users who:

* Have no email address associated with them.
* Are not associated with any projects.
* Have not logged in for > 1 year (all of the date_joined = last_login are > 1 year anyways) or NULL (so old it predates last_login tracking).

[2018-08-10 16:26] di commented on #4481
Sounds good to me.

[2018-08-10 16:49] cztomsik commented on #4520
Awesome, what about those two xmlrpc api calls? `list_packages` and `list_packages_with_serials`?

BTW: I could probably help (I've noticed there is docker container) but I'm not sure how to correctly replicate this issue (maybe importing sql of few packages would help if you can export that for me).

[2018-08-10 17:11] ewdurbin commented on #4520
Not sure what the implications are of changing the XMLRPC responses. We generally shy away from invasive changes to them. For instance, we'd need to coordinate with projects like https://github.com/pypa/bandersnatch to ensure we're not interfering with their usage https://github.com/pypa/bandersnatch/blob/1d562e857b8b6755acac2341721b2d5e760eb920/src/bandersnatch/master.py#L80-L81

[2018-08-10 18:36] brainwane commented on #3632
And I'll belatedly mention that in mid-July I [sent an announcement email to `pypi-announce`](https://mail.python.org/mm3/archives/list/pypi-announce@python.org/thread/GRAQZ3TBTXP4BW3UJHNBYXBXDZP3I4UQ/) and [tweeted as @ThePyPA](https://twitter.com/ThePyPA/status/1019040253020123137) asking people to verify their email addresses, so that is done.

[2018-08-10 18:44] brainwane commented on #347
I predict that work on this may depend on the progress of #284.

[From December 2017 till the end of April 2018, PyPI had funding to get the new site up and running and perform the switchover.](https://wiki.python.org/psf/PackagingWG) Then the grant ran out and we have, as far as I know, no one paid to work on PyPI; volunteers are maintaining and improving the software and infrastructure sides of

[2018-08-10 18:46] brainwane commented on #4457
@nlhkabu could you take a look at this & #4440?

[2018-08-10 18:49] brainwane commented on #4288
Is there anything left to do for this issue or shall we announce it on distutils-sig and close the issue?

[2018-08-10 18:51] brainwane commented on #798
[From December 2017 till the end of April 2018, PyPI had funding to get the new site up and running and perform the switchover.](https://wiki.python.org/psf/PackagingWG) We did finish that task. The grant ran out and we have, as far as I know, no one paid to work on PyPI; volunteers are maintaining and improving the software and infrastructure sides of things, but we need dedicated funding to add

[2018-08-10 19:12] di commented on #4288
@brainwane I think this is done!

[2018-08-10 19:13] cooperlees commented on #4288
Yeah the initial stuff is all done here. I may add more stats one day.

[2018-08-10 19:15] di commented on #4520
Yeah, I agree with @ewdurbin, it's probably not worth it to change the behavior of the XML-RPC endpoints at this point in time, but probably something we should consider for the API that will eventually replace them.

[2018-08-10 20:19] dstufft commented on #4463
With retries and https://github.com/pypa/warehouse/pull/4526 this is alrgely done. I'm going to leave this open because I believe that adding caching here would still be a good step.

[2018-08-10 21:39] Mickieki opened #4527 "no"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2018-08-10 21:58] #4527 closed

[2018-08-10 22:13] ewdurbin commented on #4288
https://pypi.org/stats/

[2018-08-10 22:14] ewdurbin commented on #4288
hmmm I guess there is an open question. do we want to commit to keeping this around by documenting it? both where to find it and the alternate JSON representation available when sending `Accept: application/json`?

[2018-08-10 22:15] ewdurbin commented on #4288
The question basically boils down to if we want this to be an interim/internal solution for bandersnatch users... or "own it" until we create a better replacement endpoint.

[2018-08-10 22:25] cooperlees commented on #4288
I'm happy to document it.
- Where should it go?
- Which API documentation should I model this off?

What does "own it" mean? I don't have preference where the API endpoint is. This was @dstufft's suggestion as to where to put it. What are the alternatives you're thinking?

[2018-08-10 22:34] ewdurbin commented on #4288
The endpoint is useful primarily for bandersnatch users and other mirror clients. If we document it and "publicize it" we'll want to ensure that it continues working until we begin and complete the process of deprecating it. Additionally changes to this endpoint will have to remain backward compatible.

[2018-08-10 22:37] ewdurbin commented on #4288
@cooperlees adding a page similar to https://github.com/pypa/warehouse/blob/master/docs/api-reference/json.rst is probably good!

[2018-08-11 13:56] pradyunsg commented on #4481
With #4515 and #4532, is there anything else to be done here?

[2018-08-11 15:50] pradyunsg opened #4535 "Adding a temporary issue template for PEP 541"
Until we have #1506 is resolved, it _might_ probably be useful to direct users to file issues here; as a temporary solution.

I'd happily submit a PR for this; if that's something we'd want to do. :)

[2018-08-11 15:55] pradyunsg opened #4536 "PEP 541: Ownership of the 'dots' name"
My intent is to polish up the code I use to manage my dotfiles, and release it as tool, for reuse. The `dots` name is appropriate as this would be a short name, which is preferable for a CLI tool.

I've emailed the author of the tool at Sat, 11 Aug 2018 10:58:23 +0530 and the mail was successfully delivered almost immediately. I'm filing this issue eagerly, so that I don't lose track of this. :)

[2018-08-11 15:57] jamadden commented on #4536
The owner seems to be @espeed

[2018-08-11 16:00] pradyunsg commented on #4536
Thanks @jamadden! It seems to me that their last activity on GH was in December 2015.

[2018-08-11 17:00] yeraydiazdiaz commented on #4381
I'm also experiencing this while editing Javascript files, seems the `watch` task is no longer triggered on file changes.

[2018-08-11 17:17] dstufft commented on #4381
Something like:

[code]

Seems to work, but I think it needs a debounce function added, if you save another file while the compile is in progress, you get an error.

[2018-08-11 23:28] #4381 closed

[2018-08-12 03:01] #4461 closed

[2018-08-12 03:59] dstufft commented on #4501
I've gone ahead and bumped your limit to 300MB on both PyPI and TestPyPI.

Please keep in mind that when you're uploading larger files, you're going to more quickly consume space, which can make life difficult for some of the downstream consumers of PyPI (particularly mirror operators). We generally ask projects with very large file sizes to avoid publishing nightly releases or using extremely fas

[2018-08-12 03:59] #4501 closed

[2018-08-12 04:10] dstufft commented on #4348
Just to clarify, y'all would like: ``Programming Language :: Python :: Typing :: Typed`` as your classifier?

[2018-08-12 04:12] dstufft commented on #4247
Closing this as it hasn't had a response in > 30 days. If you're still having issues, feel free to reopen or open a new issue. Thanks!

[2018-08-12 04:12] #4247 closed

[2018-08-12 04:15] dstufft commented on #4165
PyPI classifiers do not let you differentiate different files from each other, they are purely documentation for end users to be able to determine some information about packages, or to find packages related to a specific topic.

What you're looking for is to be able to upload wheels that are differentiated by CPU instructions, and that isn't currently able to be done. Adding that feature to the P

[2018-08-12 04:15] #4165 closed

[2018-08-12 04:26] dstufft commented on #4114
Sorry, I missed this last message on this, and yes, content address files would mean you'd be able to locate a file knowing nothing but it's hash. Like I said, I don't know we'd ever actually do that or not, but the current restriction enables that to happen in the future if we ever desired it.

The other reason is that because the internals of the wheel file have to change if you change the tags,

[2018-08-12 05:03] dstufft commented on #3331
We're sending all emails from a ``noreply@{test.}pypi.org`` address, and the templates have recently been updated to remove the mention about replying to the email. I don't think there's anything else to do on this ticket, so closing it!

[2018-08-12 05:03] #3331 closed

[2018-08-12 06:25] dstufft commented on #2502
I'm going to close this issue, because due to the technical and privacy related hurdles, it's almost certainly never going to be something that we implement here. As Pradyun mentioned, the path forward for this is to achieve a higher fidelity for the information that we can glean from the package files themselves. I'd also include moving more installs away from source distributions and onto instal

[2018-08-12 06:25] #2502 closed

[2018-08-12 06:28] dstufft commented on #382
This is done already, just never got flagged as completed.

[2018-08-12 06:28] #382 closed

[2018-08-12 07:27] aristofun commented on #4501
Thank you! No nightly releases then )

[2018-08-12 15:49] #3590 closed

[2018-08-12 22:32] ewjoachim commented on #4461
🎉🤩👌👏

[2018-08-13 08:34] tailhook commented on #4348
I expected bare `Typing :: Typed`.

[2018-08-13 08:43] asvetlov commented on #4348
`Programming Language :: Python` makes sense for me

[2018-08-13 12:17] dstufft opened #4545 "Send password reset to the specified email instead of Primary"
Currently the password reset page allows specifying either a username or an email address to reset your password for. However, if you supply an email address that isn't the primary email address on the account, it will successfully find the account, but will send the password reset to the primary address anyways. This negates a lot of the benefit of having secondary emails, since if you lose acces

[2018-08-13 12:26] dstufft opened #4546 "Increase the validity period of email verification"
Currently the links from email verification are only valid for ~6 hours. While it's generally a good idea to have these links expire, we probably don't need to be quite so demanding in how quickly people deal with our verification email. Honestly something like 24 hours, or even longer, 48? 72? hours is more than adequate here.

[2018-08-13 14:47] ericmjl commented on #4121
If appropriate, I would like to record my vote here for @heuer to take over the project. @heuer has been more responsive than the original developer, has been active on the issues tracker, and has developed a new version of the package that is only awaiting a new PyPI release.

[2018-08-13 17:27] ewdurbin commented on #4481
Between #4515 and #4537 I think we're all set!

[2018-08-13 17:27] #4481 closed

[2018-08-13 19:18] nlhkabu commented on #4545
I think this makes sense - in fact, that's what I thought was already happening...
https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/account.html#L192

[2018-08-13 20:38] hashimyousaf commented on #3826
You should try this , This command command worked for me .
sudo pip install --default-timeout=100 future

[2018-08-13 23:14] #4471 closed

[2018-08-14 02:26] crflynn commented on #787
@di I currently support some of these breakdowns at pypistats.org; I can contribute here by migrating some functionality to warehouse with some guidance. Is there a detailed feature spec for displaying these metrics in warehouse?

[2018-08-14 18:38] wimglenn commented on #347
@retr0h  This was a tool developed internally at $EMPLOYER, but I've since requested permission to open source it and $EMPLOYER has agreed.  It's on [PyPI](https://pypi.org/project/luddite/) so you can `pip install luddite` and the project homepage is now right [here](https://github.com/jumptrading/luddite) on github.

[2018-08-14 19:28] yeraydiazdiaz commented on #4470
I see value in having the registration form perform this check in the frontend alongside having the strength one using zxcvbn. Admittedtly the logic is simpler in that case but this one [doesn't look that difficult to replicate](https://github.com/pypa/warehouse/blob/master/warehouse/accounts/services.py#L356-L408).

Maybe we could call the HIBP API only when the user focuses away from the passwor

[2018-08-14 19:39] westurner commented on #347
`process_line()` in https://github.com/pypa/pip/blob/master/src/pip/_internal/req/req_file.py may be helpful for parsing requirements files; though this does not solve for "API endpoint to get latest version of all projects".

[2018-08-15 04:02] Jesus89 opened #4560 "Can not change my primary email address (Upload failed)"
**Describe the bug**

I can not verify my primary account because it no longer exists. I can not change the primary email address to another address. Bad news: I can no publish packages anymore :(

[code]

**Expected behavior**

It would be great to be able to change the primary address.

**To Reproduce**

1. Go to https://pypi.org/manage/account/
2. Try to change the primary email address

Do I n

[2018-08-15 04:04] dstufft commented on #4560
Add another email address to your account. Once you add that additional email address you can verify that new one. Once you have verified it you can promote that new address to your primary.

Sent from my iPhone

[2018-08-15 04:12] Jesus89 commented on #4560
Thanks for the super-fast help! :tada:

[2018-08-15 04:13] #4560 closed

[2018-08-15 13:47] ArneLeijon opened #4561 "pypi search fails"
I uploaded two projects with twine to pypi.org, after testing at test.pypi.org.
Both projects install correctly from pypi with pip, but one of them does not show up in pypi search.

In browsers Firefox and Safari:

https://pypi.org/search/?q=PairedCompCalc
finds "0 projects for PairedCompCalc",
but

https://pypi.org/project/PairedCompCalc
shows my project description page correctly.

https://pypi.

[2018-08-15 14:14] ewdurbin commented on #4561
It appears that this may be related to failed retry logic in our Celery/SQS setup that handles partial index updates.

[2018-08-15 20:35] brainwane commented on #4438
@Manikandankasi01 I'm sorry, I missed this. Were you able to resolve your problem? If not, I suggest you get more immediate help using [the `#pypa` channel on Freenode IRC](https://webchat.freenode.net/?channels=%23pypa).

[2018-08-16 02:44] dstufft commented on #4546
I've bumped this to 72 hours, figured more doesn't really hurt us here.

[2018-08-16 02:44] #4546 closed

[2018-08-16 10:14] papr opened #4566 "Claim pupil-labs account on PyPI"
Dear maintainers,

I work for [pupil-labs](https://github.com/orgs/pupil-labs/teams/pupil-devs) and we would like to claim the [`pupil-labs`](https://pypi.org/user/pupil-labs/) account on PyPI.

pypi@pupil-labs.com can be used for further authentication.

We are aware of https://pypi.org/help/#project-name-claim and asked in the #pypa Freenode channel for help. It was suggested to open an issue he

[2018-08-16 13:12] ewdurbin commented on #4566
Hi @papr. This account is currently associated with an email account for pupil-labs.org and was registered 2016-08-30 which is also their last login, it doesn't have any projects or history associated with it.

There are no MX records or other DNS for this domain, so I feel reasonable releasing it.

The primary email address for this account name has been updated to the one provided. You can issue

[2018-08-16 13:12] #4566 closed

[2018-08-16 14:02] nlhkabu opened #4568 "Change text on password reset page"
Current text:

It seems like we're missing a 'your' in there. We should update it to:

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%22good+first+issue%22) instead. If there is not a correspondin

[2018-08-16 14:03] nlhkabu commented on #4400
Closing this.  Thanks @evemorgen for setting this up!

[2018-08-16 14:03] #4400 closed

[2018-08-16 14:12] arnom1 opened #4569 "CA issue to reach files.pythonhosted.org"
Hi,
Stumbled on this when trying to install "requests" with pip 18.0.
It retries 5 times with failing certificate and ending with:
[code]
This is indeed CA certificate error as my system does not have any CISCO umbrella Root CA...
My system does not have this CA and even with firefox on https://files.pythonhosted.org/ I get blocked with "SEC_ERROR_UNKNOWN_ISSUER".

Is this me or is this hosting is

[2018-08-16 14:32] ewdurbin commented on #4569
This appears to be a Corporate Firewall or Proxy, `pypi.org`'s certificate is issued from the DigiCert root CA and `files.pythonhosted.org`'s certificate is issued from the. GlobalSign Root CA.

You should work with your ISP or Corporate IT department to determine what is intercepting this request.

[2018-08-16 14:32] #4569 closed

[2018-08-16 14:33] ewdurbin commented on #4569
Additionally, it appears your DNS is being intercepted as `files.pythonhosted.org` is a CNAME to `dualstack.r.ssl.global.fastly.net`

[2018-08-16 15:27] #4568 closed

[2018-08-16 16:48] arnom1 commented on #4569
I see, thanks a lot.
So it is indeed me...

[2018-08-16 22:34] ihucos opened #4574 "submiting releases from travis broken?"
Hello, this is kind of a last resort: when I upload something to pypi from travis he gives me this error.
`HTTPError: 403 Client Error: Invalid or non-existent authentication information. for url: https://upload.pypi.org/legacy/`
Locally it works. In fact my deployment code is isolated inside a container, so I don't know why it works locally but not in travis. I checked  the environment variables

[2018-08-16 23:06] ihucos commented on #4574
alphanumeric only passwords without spaces work! I think its related to how variables are passed by travis.

[2018-08-16 23:06] #4574 closed

[2018-08-17 15:39] youssefsharief commented on #4464
I am also unable to verify my email address so I am not able to upload my package

[2018-08-17 15:41] youssefsharief opened #4580 "Not able to verify my email address"
## Network telemetry
Not able to verify my email address since no emails are sent to neither my inbox nor spam folder

[2018-08-17 15:43] ewdurbin commented on #4580
What is your PyPI username?

[2018-08-17 15:44] youssefsharief commented on #4580
youssef_sherif

From: Ernest W. Durbin III <notifications@github.com>
Sent: Friday, 17 August 2018 5:43 PM
To: pypa/warehouse <warehouse@noreply.github.com>
Cc: Youssef Sherif <youssef.sherif@thoughtdesign.com.au>; Author <author@noreply.github.com>
Subject: Re: [pypa/warehouse] Not able to verify my email address (#4580)

What is your PyPI username?

—
You are receiving this because you authored

[2018-08-17 15:58] ambv commented on #4348
There's no precedent in specifying features of the language used in a project by classifiers under "Programming Language :: Python". I think what we're after here is closer to what "Framework ::" is doing. Thus, I would like to see a bare "Typing :: Typed".

[2018-08-17 17:34] #4545 closed

[2018-08-17 21:07] ewdurbin commented on #4580
Hi @youssefsharief I'm seeing recent attempts to verify two email addresses.

Can you email me at ernest@python.org with information on which email address you're unable to receive your verification email.

[2018-08-17 21:07] youssefsharief commented on #4580
The issue has been resolved
Thank you

On Fri, Aug 17, 2018 at 11:07 PM, Ernest W. Durbin III <
notifications@github.com> wrote:

--
Best Regards,
Youssef Sherif

[2018-08-17 21:08] #4580 closed

[2018-08-18 07:31] yogicodes commented on #787
Can't wait for this feature! Whenever I see Ruby Gems the counts attracting me! So please integrate it fast to PyPI

[2018-08-19 12:31] evemorgen commented on #4408
Any thoughts about that? Linked PR provides POC implementation of this, which works decent for well known modules

[2018-08-20 17:15] di commented on #4121
@ericmjl The process has been agreed upon in PEP 541, but hasn't been implemented yet.

Right now we are working on adding the necessary admin features to be able to take action on PEP 541 requests, to do so in a fair way to all users, and to be able to organize them in a way that is not incredibly time-consuming for the volunteers who will be responding to them (e.g.: #3231, #4011, #4022).

Since

[2018-08-20 17:33] mschwager commented on #996
Having bypass codes as a backup for lost devices is a typical workflow that I've seen with similar 2FA implementations.

If I understand this correctly, here we're considering the case where a device is lost (or user is unable to 2FA for some reason), AND they've unable to use their backup mechanism as well (could be backup codes as mentioned above).

I agree that backup to email is a solution, bu

[2018-08-20 18:14] joshua-gould opened #4595 "file size limit"
The name of the project:WOT
The size of your release, in megabytes: 71.1
Which index/indexes you need the increase for: both

[2018-08-20 21:45] di commented on #4595
@joshua-gould Could you provide some details about this project and why it needs to be so large?

[2018-08-20 21:52] joshua-gould commented on #4595
What makes is so large is that it includes Gephi
(https://gephi.org/toolkit/) for running graph layout algorithms.
Thanks.
On Mon, Aug 20, 2018 at 5:45 PM Dustin Ingram <notifications@github.com> wrote:

[2018-08-20 22:04] ericmjl commented on #4121
@di, thanks for pinging in, and for the clarification! :smile: Also, thanks a ton for the work that you've been doing!

[2018-08-21 00:25] steiza commented on #994
Very sorry for the delay! I have posted a pull request based on the work we started at US PyCon 2018 (back in May...): https://github.com/pypa/warehouse/pull/4599

I'm going to block off some time in the near future to be able to respond to feedback / iterate on this diff as needed. Thanks!

[2018-08-22 05:26] glyph opened #4603 "User RSS feeds?"
**What's the problem this feature will solve?**
I want to syndicate my activity on PyPI to other sites around the web; particularly, I'd like it if followers could see new releases of all projects that I maintain in a single feed which can be easily syndicated to Twitter and Facebook.

Users can already follow me on Github but this notifies them of when I do random garbage commits that they probab

[2018-08-22 05:27] glyph commented on #4603
Failing an RSS feeds, more robust API support for users would be nice; I probably wouldn't mind writing this code myself if it didn't have to download all of PyPI first.

[2018-08-23 00:20] jongio opened #4607 "HTTPError: 403 Client Error: The user '' isn't allowed to upload to project 'iotedgedev'."
**Describe the bug**
Trying to upload via twine.  New project. Not registered, but getting this:

`HTTPError: 403 Client Error: The user '' isn't allowed to upload to project 'iotedgedev'. See https://test.pypi.org/help/#project-name for more information. for url: https://test.pypi.org/legacy/
`
This is a 404: https://test.pypi.org/project/iotedgedev/

My code works if I change the package name...

[2018-08-23 13:42] ewdurbin commented on #4607
Hello @jongio this project name has already been registered on test.pypi.org and pypi.org.

The users have uploaded releases to PyPI at https://pypi.org/p/iotedgedev, but do not appear to have created any releases on Test PyPI.

As the project name is taken and appears to be an active project it seems selecting another name is your best path forward.

[2018-08-23 13:42] #4607 closed

[2018-08-23 13:49] jongio commented on #4607
@ewdurbin There is something fishy going on because the project should be registered to my account. I would like to research who created the project because it is likely me or someone on my team. Can you help me track this down?

[2018-08-23 13:50] ewdurbin commented on #4607
Test PyPI and PyPI are completely isolated from one another. Can you confirm that you want to be uploading to TestPyPI?

Taking a closer look, it sure does appear that you're one of the owners on the real PyPI!

[2018-08-23 13:54] jongio commented on #4607
Yes, I want to upload the same name to both test and prod pypi, otherwise I would need lots of name replacements through my code and scripts.

Can you add me to that test project or let me know who created it?

Thanks a lot.

[2018-08-23 13:56] ewdurbin commented on #4607
@jongio the existing project with no releases has been removed. you can now register it using your TestPyPI user

[2018-08-23 14:13] jongio commented on #4607
@ewdurbin - I retired and get this error:

`HTTPError: 400 Client Error: This filename has already been used, use a different version. See https://test.pypi.org/help/#file-name-reuse for url: https://test.pypi.org/legacy/`

[2018-08-23 14:16] jongio commented on #4607
I repushed with a different version in the file name and it worked!  Not sure why the other name would have a conflict if there were no releases.

I'm now uploading!  Thanks a lot for your help.  REALLY appreciate it.

[2018-08-23 17:06] theacodes opened #4610 "PEP 541: Ownership of the "nox" name"
👋 I'd like to take ownership of the "nox" name. It appears this name is registered but a package was never published. See https://pypi.org/project/nox/ (note that it's a *very* different 404 page).

Because of this, I have no way of contacting the owner and it appears this has been abandoned for quite some time.

I currently own the "nox-automation" but would like to shorten our name to just "nox"

[2018-08-23 17:26] di commented on #4610
@Ashald Great! The easiest thing to do would be to add @theacodes as an owner of the project.

[2018-08-23 17:27] Ashald commented on #4610
@theacodes can you confirm that this is you https://pypi.org/user/theacodes/ please?

[2018-08-23 17:29] theacodes commented on #4610
That's me! Thank you so much, @Ashald!

[2018-08-23 17:30] Ashald commented on #4610
Assigned you an `owner` role. Unfortunately, I cannot remove myself from being an owner. Maybe you can do that?

And you're more than welcome

[2018-08-23 17:35] theacodes commented on #4610
Done, thanks again!

[2018-08-23 17:35] #4610 closed

[2018-08-23 18:00] vporton opened #4611 "Should upload a command line tool? (missing in FAQ)"
**What's the problem this feature will solve?**

I have created a command line utility using Python. It has Python API, but this API was created only to be a component of the command line utility, not to be used independently. I am unsure whether I should upload it to PyPI. Or does PyPI is only for Python _libraries_? (not for example for command line utilities or daemons)

Is it enough that I dis

[2018-08-23 20:03] funkey opened #4612 "Claim ownership of daisy package"
I would like to take over package "daisy", which under PEP 541 is an "Invalid Project":

The package was last updated in 2014 and contains only an empty `__init__.py`. The project homepage leads nowhere. I contacted the author but did not receive an answer.

[2018-08-24 14:57] tieguy commented on #2996
👋 We've just run into this, so throwing in my two cents in case it helps prioritize/understand the problem.

tl;dr: it'd be nice to get this fix merged :)

We have two use cases for this data:
- give users of the package more information to decide what their licensing obligations are
- do a validation pass to make sure various sources of licensing metadata agree (and are therefore, presumably, acc

[2018-08-24 14:58] JonasT opened #4617 "Request to add classifier License :: OSI Approved :: SIL Open Font License & License :: GUST Font License"
Request to add a new Trove classifier

## The name of the classifier you would like to add
`License :: OSI Approved :: SIL Open Font License`.
`License :: GUST Font License`.

## Why do you want to add this classifier?
Some programs like games or UI libraries may want to include some data files directly, and for many modern games and UI libraries specifically, this may include `*.ttf` fonts.
The m

[2018-08-24 15:30] JonasT commented on #4617
Yes, that looks good. The fonts I use seem to be OFL 1.1 and GUST 1.0, respectively, so that would work fine for my particular project. (Not sure which other versions might be in circulation)

[2018-08-24 16:04] MheniMerz commented on #3645
Hi all.

i'm having the same issue when trying to run [devstack](https://docs.openstack.org/devstack/latest/) which is trying to get `pip` using the following command *i added the verbose parameter*
[code]
i get this output, and it just hangs there forever then tries four more times and quits.
[code]
My machine is sitting behind a proxy, that uses a **white list** to allow some domain names, these

[2018-08-24 16:08] ewdurbin commented on #3645
@MheniMerz the 503 response is coming from squid, which is a well known HTTP caching/forwarding service. In order to understand what is going on, you'll need to contact the administrators of the squid proxy for more information.

[2018-08-24 16:19] MheniMerz commented on #3645
i can see from the squid access logs that there is a TCP_MISS for www.pypi.org.

which means the proxy doesn't have the content stored in the cache and it should go out to the net to get the content.

[2018-08-24 18:27] MheniMerz commented on #3645
i have managed to force pip to use the proxy by modifying the command to the following

[code]
but now I'm getting a new error suggesting that my certificate is not enough.

[code]

anyone had this before?

[2018-08-24 18:32] ewdurbin commented on #3645
Hi @MheniMerz, maintainers of PyPI aren't equipped to assist with specific setups involving corporate proxies, firewalls, caching proxies, or other "Man in the Middle" type infrastructure.

The error above indicates that you may still be connecting to such a proxy.

The only guidance I can provide would be:
  - ensure you are using an up to date version of pip, you can upgrade pip without PyPI usi

[2018-08-25 10:08] alfateam123 opened #4622 "Reclaim my account (alfateam123)"
Hi,

I am https://pypi.org/user/alfateam123/ . I did not use this account for a long time, and it seems that I used an old email account that does not exist anymore (alfateam123@nwa.xyz).

The only package owned by that account, [moesearch](https://pypi.org/project/moesearch/), is based on the [moesearch github repository](https://github.com/alfateam123/moesearch), that I own. I'd like to publish

[2018-08-25 13:29] vporton commented on #4611
https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html "This is useful for ... just taking advantage of the setuptools / PyPI infrastructure to distribute a command line tool that happens to use Python." So it seems that uploading to pypi for programs (not libraries) in Python is advised for

[2018-08-25 17:56] Carreau commented on #3889
Have it send a header with which tool and version. Slowly refuse upload from old-versions, tools that don't set these headers.

[2018-08-25 22:05] di commented on #4617
I've added the above classifiers. Thanks for the report!

[2018-08-25 22:05] #4617 closed

[2018-08-25 22:08] di commented on #4622
Hi @alfateam123, can you email me at `di@python.org`? Thanks!

[2018-08-25 22:45] di commented on #4087
I set the `FORKLIFT_DOMAIN` for our TestPyPI deployment to `test.pypi.org`, the "API Endpoint" page now appears at https://test.pypi.org/legacy/.

[2018-08-25 22:45] #4087 closed

[2018-08-25 22:56] di opened #4626 "Add "replaced by" field for deprecated classifiers"
One problem with our current ability to deprecate trove classifiers is that we don't have a great way to indicate to the user which classifier(s) they should be using instead.

For example, when I deprecated the classifier `Natural Language :: Ukranian` due to a typo and added `Natural Language :: Ukrainian`, any user that might have had the old classifier would have received an error like:

[code

[2018-08-25 22:58] di commented on #2996
Revisiting this, I don't think the "subclassifier" approach I mentioned in https://github.com/pypa/warehouse/issues/2996#issuecomment-385450514 will work, as it wouldn't let us eventually deprecate the "parent" classifier.

I think the right thing to do here is what I outlined in https://github.com/pypa/warehouse/issues/2996#issuecomment-385027197. We can reduce friction a little bit by adding the

[2018-08-26 16:33] di commented on #4622
Resolved.

[2018-08-26 16:33] #4622 closed

[2018-08-27 13:05] MheniMerz commented on #3645
thank you for your help. problem was solved by adding some domain names as `trusted-host`

[code]
But since the script I'm using has hundreds of similar calls to pip. is there a config file or somewhere i can set all calls to use these parameters instead of changing them one by one ?
Thanks again.
Mheni

[2018-08-27 14:35] di commented on #3645
See https://pip.pypa.io/en/stable/user_guide/#configuration

[2018-08-27 14:47] joshua-gould commented on #4595
Hi, is bundling the jar file the recommended way to include Gephi or should I make an http request to download the jar in setup.py? Thanks.

[2018-08-27 17:43] asottile opened #4629 "Where to report "fraudulent" package squatting?"
I'd like to report a user for squatting on package names but don't see an avenue for doing so -- is there a mechanism for this?

perhaps as part of PEP541?

[2018-08-27 17:45] pradyunsg commented on #4629
It's being tracked in #1506.

We basically need to figure out the process here: https://github.com/pypa/warehouse/issues/1506#issuecomment-375736028.

[2018-08-27 17:47] asottile commented on #4629
Does PEP 541 cover malicious squatting?

[2018-08-27 17:47] pradyunsg commented on #3231
Does flagging a project refer to name-squats or in general request transfers?

[2018-08-27 17:51] di commented on #3231
@pradyunsg It would simply be a way to raise an issue to the PyPI admins referencing a specific project, so it could be for name-squats, malicious or offensive packages, or just to request ownership of an abandoned project.

[2018-08-27 17:56] pradyunsg commented on #4629
If it's malicious, I think contacting as per PyPI's Security Policy is what you'd want to do: https://pypi.org/security/

[2018-08-27 18:02] asottile commented on #4629
`security at python dot org` seems a bit high of an escalation for something like this, my case is similar to #4413

[2018-08-27 18:45] funkey commented on #4612
How shall we proceed? If it is more convenient, please feel free to reach out to me by e-mail.

[2018-08-27 19:05] nlhkabu opened #4630 "Add link to PyPI Twitter account in footer"
We should add a link to the PyPI twitter account (https://twitter.com/PyPI) in the footer somewhere.

This will, perhaps, require a reorganisation of the footer columns, to make each column have more or less of the same number of links

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](h

[2018-08-27 19:08] Man-Jain commented on #4626
@di I would like to work on issue.

[2018-08-28 08:30] smurfix opened #4635 "Clean up nonsense packages?"
What should I do when I encounter packages which are obviously nonsense, or a user (like "hassanj") who uploads 100+ such packages (named w/ variations of "asdasdasdasd")?

I don't think ignoring such packages/users is a good long-term solution.

[2018-08-28 17:08] toidi opened #4637 "Transfer yarn-api-client project to different account"
Hi there, I'm maintainer of https://pypi.org/project/yarn-api-client/
Github link https://github.com/toidi/hadoop-yarn-api-python-client

At the beginning I used company's corporate email for my pypi.python.org account.
I don't have an access to that email now.

Please transfer `yarn-api-client` to pypi.org account with username `toidi`.

Old ticket for reference: https://github.com/pypa/pypi-lega

[2018-08-28 17:47] di commented on #4637
Hi @toidi, I've sent you an email about this.

[2018-08-28 18:52] toidi commented on #4637
Thanks!

[2018-08-28 18:52] #4637 closed

[2018-08-29 09:05] michael-k opened #4642 "Logged-in menu is missing without javascript"
**Describe the bug**

We logged in to https://pypi.org/, having javascript from pypi.org enabled, but from ravenjs.com disabled, I cannot see the navigation for logged-in users.

Instead I still see `Log in` and `Register`.

Since I'm being redirected on login to https://pypi.org/manage/projects/, I can still navigate through all pages, and even logging out works when guessing https://pypi.org/acc

[2018-08-29 10:00] padix-key opened #4643 "Usage of 'White Cube' logo"
I would like to link my Python project on my website via a button containing a modified version of the  'White Cube' logo:
![button_pypi](https://user-images.githubusercontent.com/28051833/44780751-f63b9c00-ab82-11e8-8c3a-9bb4360081f3.png)
Am I allowed to use it?

[2018-08-29 15:03] di commented on #4643
@padix-key Please, feel free!

[2018-08-29 15:03] #4643 closed

[2018-08-29 15:04] di commented on #4642
Duplicate of #4336.

[2018-08-29 15:04] #4642 closed

[2018-08-29 16:45] mixmastamyk opened #4644 "Deletion/recreation of project does not reset version history"
**Background:** A user gave up an unused six-year old project and deleted it so I could use it.

I've created a new project with the same name, and uploaded a new version.

**Issue:**  I'm still restricted in that I can't create versions that already existed in the past, even after deleting the project and recreating it.

Am also having trouble with setup.py not working right so need to create lot

[2018-08-29 16:52] di commented on #4644
Hi @mixmastamyk, this behavior is by design. PyPI does not allow for the reuse of distribution filenames (project name + version number + distribution type).

This ensures that a given distribution for a given release for a given project will always resolve to the same file, and cannot be surreptitiously changed one day by the projects maintainer or a malicious party (it can only be removed).

Giv

[2018-08-29 16:52] #4644 closed

[2018-08-29 16:54] di commented on #4644
Also, I should mention, you can use TestPyPI (https://test.pypi.org) to test publishing your package in an environment that doesn't affect the real PyPI, see https://packaging.python.org/guides/using-testpypi/.

[2018-08-29 23:00] mixmastamyk commented on #4644
Hi,

I understand that's a thing.  But there's also the thing where cruft piles up over time.  If you don't allow cruft to be deleted, eventually everything will be cruft.

[2018-08-29 23:06] mixmastamyk commented on #4644
My setup issue was trying to get "future fstrings" to not break the install, believe I've gotten past it now.

[2018-08-30 07:32] aspose-cloud opened #4648 "Unable to login or Reset Password of asposeemail account"
Hi,

I am Sohail, Aspose Cloud Support Manager. Every time I try to log into **asposeemail** account I receive following error:
"This password appears in a breach or has been compromised and cannot be used."

I tried to reset the password of this account, though PyPI shows a message that "We have sent an email to your registered email address." but I never receive an email at following account:
em

[2018-08-30 09:53] motwanideepika-ee commented on #3769
@LarsFronius did you get any solution to this issue? I am facing a similar issue

[2018-08-30 10:55] ewdurbin commented on #4648
I can confirm that 10 password reset request emails were sent to `email@aspose.com` from `noreply@pypi.org` with subject "[PyPI] Password reset request".

All of these were successfully delivered by our email provider.

Can you confirm that these emails were not misdirected by a filter, noted as spam, or caught up in some other hold?

[2018-08-30 11:55] James1345 opened #4649 "Cannot access account james.mcmahon"
Recently started recieving an error that a verified email address is needed. Couldn't even remember my username. Entered my email address for forgotten password (james1345@googlemail.com) and received a message that no such email address was in the PyPi systme (also tried james1345@gmail.com). Sure enough, I could register a new account with the email address.

Eventually found my old username was

[2018-08-30 12:17] ewdurbin commented on #4649
Hello @James1345! The email address associated with the account is on the intouch-ltd.com domain, if you no longer have access to that address?

[2018-08-30 16:48] James1345 commented on #4649
I didn't realise that was still the address associated with that account. I've not had that address for years

[2018-08-30 19:30] jamesalbert opened #4650 "package size limit increase request"
Package name: jenkenv
link: https://pypi.org/project/jenkenv/
size: 121M
index: PyPI only is fine.

Reason: I use a pre-built distribution of a dynamically linked java package (jenkinsfile-runner).

While the build is 121M, an increase to 150M would be preferred for future-proofing. Let me know if you need anymore info from me.

[2018-08-30 20:06] di commented on #4650
Hi @jamesalbert, could you give us some more details about what the package does? The description on PyPI is empty and https://github.com/jamesalbert/jenkenv is 404.

[2018-08-30 20:09] jamesalbert commented on #4650
No worries. It creates virtual environments for people using jenkinsfile-runner. Provides a workflow along the lines of:
[code]

Source isn't public yet, will do that tonight, but I wanted to get a working build going first.

[2018-08-30 20:10] jamesalbert commented on #4650
I've also added `long_description` after I uploaded so it will have more details in the next upload :)

[2018-08-31 02:10] jamesalbert commented on #4650
in any case, repo is public now https://github.com/jamesalbert/jenkenv

link to jenkinsfile-runner for reference https://github.com/kohsuke/jenkinsfile-runner

[2018-08-31 03:54] aspose-cloud commented on #4648
@ewdurbin

Thank you for your prompt reply.

Unfortunately, we have not received any email at `email@aspose.com`, I checked the **Junk E-Mail Folder** too.

Earlier we have successfully reset passwords of our other products e.g. `words@aspose.com`, `cells@aspose.com` and `slides@aspose.com`.

I have requested our Platform team to diagnose why we are not getting "Password Reset" emails at `email@as

[2018-08-31 18:22] chathika opened #4653 "PEP 541: Request to transfer ownership of emd"
I would like to request to transfer owernship of https://pypi.org/project/emd/ to myself. This project falls under the category [Abandoned](https://www.python.org/dev/peps/pep-0541/#abandoned-projects) as there is no owner listed, no releases for over 6 years, and no homepage listed. A private request to the owner cannot be made as there is no contact information listed.

I wish to use this namesp

[2018-08-31 19:57] ewdurbin commented on #4649
@James1345 I've updated the email address to james1345@googlemail.com for this user and you should be able to complete a password reset.

For verification I looked at the metadata on previously uploaded projects and noted that `james1345@googlemail.com` had been supplied as author-email on everything previously uploaded.

[2018-08-31 19:57] #4649 closed

[2018-08-31 20:00] ewdurbin commented on #4653
The user appears to be @psammetichus on GitHub. The easiest and most expedient way to have this occur is if they would be willing to transfer ownership to you.

[2018-08-31 20:09] di commented on #4650
@jamesalbert I've set the limit for `jenkenv` to 150MB on PyPI.

[2018-08-31 20:09] #4650 closed

[2018-08-31 20:10] jamesalbert commented on #4650
@di you rock, ty!

[2018-08-31 21:08] chathika commented on #4653
Thank you for the fast responses @ewdurbin and @di !

@psammetichus, would you be willing to transfer the ownership of the emd namespace?

Thank you.

[2018-09-01 12:47] ewdurbin commented on #4611
@vporton indeed! Using PyPI for this purpose is a valid use case!

[2018-09-01 12:47] #4611 closed

[2018-09-03 08:06] freeworldabc opened #4658 "issue about pypyodbc.py that 1.2323E-2(-0.012323) will read as b"E-2" from xxx.mdb file"
**Describe the bug**

1.read data from xx.mdb file
2.the data is : -0.06737877
3.but have some err as below:
--------------------------err info start----------------------------
b'5.0'
b'-0.1081777'
b'6.0'
b'E-2'
Traceback (most recent call last):
  File "C:\tiger\1_python\python_ericsson\ericsson_access_data_arrange_ota\do_ac
cess_data_arrange_ota.py", line 198, in <module>
    main_running(sys.a

[2018-09-03 08:07] freeworldabc commented on #4658
thanks for coder  help first for repair the issue ASAP!

[2018-09-03 08:09] freeworldabc commented on #4658
python info:

C:\Users\ENNYIQI>python
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD6
4)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2018-09-03 09:29] francisco-dlp opened #4659 "HyperSpy v1.4 package hitting the filesize limit"
While uploading HyperSpy v1.4 to pypi I got the following error:

[code]

The file size of this release is 67.1 MB. The file size of our previous release (v.1.3.2) was 55.3 MB.

The reason why the file size is so large is that it contains binary files to test the several scientific file formats that HyperSpy supports. The latest version adds support for 3 new file formats.

Would it be possible to

[2018-09-03 12:06] jamadden commented on #4658
Thanks for the report, but unfortunately this is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages distributed or installed from there. You'll need to contact the maintainers of that project. If that project is https://pypi.org/project/pypyodbc/, then the tracker you want is https://github.com/jiangwen365/pypyodb

[2018-09-03 12:06] #4658 closed

[2018-09-03 17:14] macheins opened #4660 "Trove Classifier: MirOS License"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `License :: OSI Approved :: MirOS License`

## Why do you want to add this classifier?

[The MirOS License](https://www.mirbsd.org/MirOS-Licence.htm) is an [OSI approved](https://opensource.org/licenses/MirOS) license.

[2018-09-03 18:51] francisco-dlp commented on #4659
Closing because we have fixed the issue on our side by removing the largest test file and downloading it from GitHub during the test process.

[2018-09-03 18:51] #4659 closed

[2018-09-03 19:09] TylerGubala opened #4661 "bpy-build Package file size limit increase"
Hello!

I filed an issue a while back, requesting a package I maintain, `bpy`'s file size to increase.

https://github.com/pypa/warehouse/issues/4395

However upon further consideration, I actually want to separate the concerns of the built binaries into their own python package, called `bpy-build`.

Therefore, the built wheel files (the reason for increasing the package file size for `bpy` origin

[2018-09-03 23:34] webknjaz opened #4662 "Display a dates in the timezone of the viewer"
**Describe the bug**

I've just published a set of dists and the date in the file table is Sep 3, while it's already Sep 4 in my tz (01:33 am at the time of writing)

**Expected behavior**

Show the date in my timezone, so that it'd not cause confusion.

**To Reproduce**

Set different timezone on your computer

**My Platform**

N/A

**Additional context**

N/A

[2018-09-04 09:28] techtonik opened #4663 "API for fetching latest and stable versions"
**What's the problem this feature will solve?**

Tools  could use simple lookup logic for checking their latest and stable versions. The way it is currently done in `pip` is crazy:

https://github.com/pypa/pip/blob/35d51f1f405f6f31d68c800e73307686ec029254/src/pip/_internal/utils/outdated.py#L104-L118

**Describe the solution you'd like**

It should be as simple as fetching https://pypi.org/pypi/pi

[2018-09-04 10:12] di commented on #4661
I've set the upload limit for `bpy-build` to 100MB on PyPI.

[2018-09-04 10:12] #4661 closed

[2018-09-04 10:31] di commented on #4660
Thanks! I've added the classifier `License :: OSI Approved :: MirOS License (MirOS)` (including the SPDX identifier).

[2018-09-04 10:31] #4660 closed

[2018-09-04 11:10] omarryhan opened #4664 "Blocked Pypi repo name"
After huge frustration with setuptools and pypi's legacy API, I uploaded a library 'flask-stateless-auth' with false personal info by mistake.

When I fixed them and tried to re-upload in hopes that my current repo would replace the existing one, it wouldn't.

So I deleted the old repo from pypi and tried again, and it also wouldn't upload bringing me a 403 error. I then checked: https://pypi.org/

[2018-09-04 11:35] di commented on #4664
@omarryhan That error message is about the inability to reuse the _filename_ (project name + version number + distribution type). You should still be able to upload a new file (with a different filename) for a given project: just increment the version number.

[2018-09-04 11:57] omarryhan commented on #4664
I just did that and it gave me the same error:

HTTPError: 400 Client Error: This filename has already been used, use a different version. See https://pypi.org/help/#file-name-reuse for url: https://upload.pypi.org/legacy/

[2018-09-04 12:03] omarryhan commented on #4664
I guess I messed up when I deleted the original repository from Pypi, I could've just incremented the version number and it probably would've worked. :/

[2018-09-04 12:09] omarryhan commented on #4664
@di Thanks it works now!, I tried deleting the old dist files and `twine upload dist/*` again and it worked.

[2018-09-04 12:32] di commented on #4664
Great! In the future you can use the `--skip-existing` flag with twine to skip the distributions that have already been uploaded.

[2018-09-04 12:32] #4664 closed

[2018-09-04 13:15] ewdurbin commented on #4648
@2017alan what is your PyPI username?

[2018-09-04 14:06] 2017alan commented on #4648
it's  **alanwang17**    , thank you.

[2018-09-05 19:22] nutjob4life opened #4672 "I own dozens of projects but two but get a permission denied error when trying to upload a new version"
**Describe the bug**
I was updating a bunch of my projects on PyPI, but two of them failed:
* eke.site
* jpl.mcl.site.sciencedata
The error message for both was: ```Upload failed (403): The user 'nutjob' isn't allowed to upload to project PROJECT-NAME```
However, I am *indeed* the owner of both projects. (And yes, my PyPI username is nutjob.)

**Expected behavior**
I expect to be able to upload ne

[2018-09-05 19:33] di commented on #4672
@nutjob4life It doesn't look like you currently have the owner role for either of these projects. Specifically:
* For `eke.site`, you were removed as an owner when the entire project was removed on 2017-09-11.
* For `jpl.mcl.site.sciencedata`, you have never had any role for this project.

Do you see either of these projects when you visit https://pypi.org/manage/projects/?

[2018-09-05 22:17] nutjob4life commented on #4672
Wait `eke.site` was *removed*? But it shows up right here: https://pypi.org/project/eke.site/

And as for `jpl.ml.site.sciencedata`, you are right. Human error. PEBKAC.

[2018-09-05 23:15] di commented on #4672
@nutjob4life Yes, the entire project was removed on 2017-09-11, then it was re-created and [these four releases](https://pypi.org/project/eke.site/#history) were made.

[2018-09-06 08:07] typhoonzero opened #4677 "Increasing size limit for paddlepaddle_gpu"
Hi, our recently released version `paddlepaddle_gpu-0.15` hit the package size limit this day, we try to publish several versions compatible for different CUDA support for deep learning developers that may have some different environment.

The package built with cuda9.0 support currently is over 100MB can you please help to increase this to around 150MB, we'll make effort to reduce the package siz

[2018-09-06 08:08] typhoonzero commented on #4677
Related: https://github.com/pypa/warehouse/issues/4019

[2018-09-06 10:46] di commented on #4677
@typhoonzero Can you give us some more details about this package? Looking at https://pypi.org/project/paddlepaddle/ and https://pypi.org/project/paddlepaddle-gpu/, there are no descriptions for these packages and they don't link to any documentation, homepage or repository.

[2018-09-06 14:02] frerich opened #4678 "Request for maintainership of 'clcache' package"
I'm the maintainer of the Python program [clcache](https://github.com/frerich/clcache). A bit more than a year ago, a kind contributor by the GitHub user name of 'xoviat' went ahead and registered a [clcache package](https://pypi.org/project/clcache/) on PyPi.

Earlier today I cut a [new release (v4.2.0)](https://github.com/frerich/clcache/releases/tag/v4.2.0); shortly thereafter, frerich/clcache#

[2018-09-06 14:05] frerich commented on #4678
I noticed a relevant [FAQ entry](https://pypi.org/help/#project-name-claim) which references #1506 -- but seeing that that ticket has been open for almost two years, I wonder whether there's maybe a faster way to upload a new version of PyPi than waiting on a proper reclaim process to be established. :-]

[2018-09-06 14:33] di commented on #4678
Hi @frerich, I'm aware that 'xoviat' has seemingly disappeared. It's a shame they didn't give you ownership of the package before they did.

Since the project points to your github repository, I think we can help you regain ownership of it.

What's your PyPI username?

[2018-09-06 16:10] nutjob4life commented on #4672
The owner is listed as Sean Kelly; that's me.

[2018-09-06 17:28] frerich commented on #4678
@di That sounds great, thanks a lot! My PyPI username is 'frerich'.

[2018-09-06 18:38] nikolas opened #4679 "Fix casing of commonmark package name"
Hi, I maintain the commonmark package on pypi, and I have a question about the package name. When I navigate to https://pypi.org/project/commonmark, this gets rewritten to https://pypi.org/project/CommonMark. However, on the pypi test site that I just uploaded to, the package name stays correctly at commonmark: https://test.pypi.org/project/commonmark/  Can someone fix this to make "commonmark" th

[2018-09-06 18:46] di opened #4680 "Update project name on new release if equivalent"
Currently a project name is set when the project is created, and cannot be updated.

It should be possible to change the project name to something that will canonicalize to be the same name (e.g. from `CommonMark` to `commonmark`) by uploading a new release with the new name.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, wor

[2018-09-06 18:48] di commented on #4679
@nikolas Thanks for the report. As a policy, we don't do special-case SQL queries for things like this.

I created https://github.com/pypa/warehouse/issues/4680 which captures the overall issue and proposes a change that would fix this for anyone in the future as well.

[2018-09-06 18:52] nikolas commented on #4679
Thank you, I'll close this issue, then.

[2018-09-06 18:52] #4679 closed

[2018-09-06 18:52] nutjob4life commented on #4672
Oh! I guess I didn't scroll down enough.

All right, he's my colleague. I'll ask him to add me as a maintainer.

Thank you for your time @di!

[2018-09-06 18:52] #4672 closed

[2018-09-06 22:26] tbhaxor opened #4681 "Add some statistics report in public"
**What's the problem this feature will solve?**
It will help the developers to choose library wisely. More downloads are shown means more reliable and have better support than others.

**Describe the solution you'd like**
Add statistics of the following
1. Total Downloads
2. Weekly Downloads
3. Rating (depends on downloads and release and issue closed)

**Additional context**

NIL

[2018-09-07 01:17] typhoonzero commented on #4677
Hi the homepage is: http://www.paddlepaddle.org/en, and project on github is: https://github.com/PaddlePaddle/Paddle. Thanks

[2018-09-07 06:07] codingjoe opened #4685 "Special characters in metadata fields cause Gunicorn to 500"
**Describe the bug**
I want to publish a new package (new package, not only new version).
Twine comes back with a 500 server error.

**Expected behavior**
Package should be registered and uploaded.

**To Reproduce**

[code]

See also: https://travis-ci.com/codingjoe/django-dynamic-filenames/jobs/144208217

**My Platform**
Both locally and on travis-ci

[code]
https://travis-ci.com/codingjoe/django

[2018-09-07 07:34] paternal commented on #4681
I think this is a duplicate of #787 and pypa/pypi-legacy#254 (for the statistics), and #991 (for the rating, although this is not exactly what you were suggesting).

[2018-09-07 12:22] KellenSunderland opened #4686 "MXNet TensorRT releases requires higher limits"
Hello, I'd like to request some slightly higher limits for two of my packages.  These distributions are MXNet packages that are optimized for neural network inference on specific GPUs.   Unfortunately this code brings the compressed wheel size over the limits for PyPi.  As a work around I'm shipping code that will be JIT'd on the client side, but this introduced a large delay when the library is f

[2018-09-07 15:05] di commented on #4681
Closing as a duplicate of #787 and #991.

[2018-09-07 15:05] #4681 closed

[2018-09-07 15:07] di commented on #4677
@typhoonzero I've increased the limit for `paddlepaddle_gpu` to 150MB on PyPI. Please be mindful about how often you make a release at this size.

[2018-09-07 15:07] #4677 closed

[2018-09-07 15:13] di commented on #4686
@KellenSunderland I've set the limit for `mxnet-tensorrt-cu92` and `mxnet-tensorrt-cu90` to 150MB on PyPI. Please be mindful about how often you make releases of these packages, [`mxnet-*` projects currently occupy 9 out of the top 15 projects on PyPI by total package size](https://pypi.org/stats/).

[2018-09-07 15:13] #4686 closed

[2018-09-07 15:14] di commented on #4678
This is currently blocked on merging #4405, hang tight!

[2018-09-07 15:31] di commented on #4685
I can reproduce this, the problem is that your original license line had an extra character at the end that our HTTP server couldn't handle:

[code]

I'll update the title accordingly.

[2018-09-07 15:32] di commented on #4685
The tracktrace from Warehouse:

[code]

[2018-09-07 15:52] chathika commented on #4653
@ewdurbin there has been no response from @psammetichus and the last GitHub activity of this user has been over a year ago.

I believe the related project is https://github.com/psammetichus/python-emd which is empty with no activity.

What can be done in this case?

[2018-09-07 18:47] mdboom opened #4687 "Allow CORS on `files.pythonhosted.org`"
**What's the problem this feature will solve?**
I'm a developer of [pyodide](http://github.com/iodide-project/pyodide), a port of CPython and the scientific Python stack to WebAssembly.  One feature we'd love to add is the ability to install (pure Python) wheels directly from PyPI into the browser (see https://github.com/iodide-project/pyodide/pull/147).  Unfortunately, this isn't currently possib

[2018-09-08 13:25] danilojsl opened #4691 "File Size Limit Exemption for sparknlp"
Hi,

On behalf of [spark-nlp project](https://nlp.johnsnowlabs.com/), I kindly ask you if you can exempt us from the file size limit.

We have a growing community of people using our API. We want to make things easier for our python's users, so we decided to use pip installation. But when embedding a jar file into the project, we received a size file error message.

The jar file size is 80 Mb, hop

[2018-09-09 17:52] KellenSunderland commented on #4686
Thanks for the quick fix.  That's a lot of usage.  I'll follow up and see if that amount of storage is really required.

[2018-09-10 16:13] di commented on #4691
@danilojsl I've set the limit for `spark-nlp` to 100MB on PyPI.

[2018-09-10 16:13] #4691 closed

[2018-09-10 16:13] #4022 closed

[2018-09-10 16:30] di commented on #4408
I'm concerned about false positives here: with Github, the maintainer is explicitly including a Github link, essentially confirming that the repo corresponds to the project.

However here, the maintainer has no control over the behavior, and the linked tag might actually be wrong (e.g. the project https://pypi.org/project/go/ would link to questions and answers about https://stackoverflow.com/ques

[2018-09-10 17:43] di commented on #4678
@frerich I've added you as an owner of the `clcache` package.

[2018-09-10 17:43] #4678 closed

[2018-09-10 18:00] frerich commented on #4678
@di Excellent, it worked - thanks a lot!

[2018-09-10 20:20] pabloem opened #4695 ""400 Client Error: File already exists." on similarly-named files"
**Describe the bug**
I uploaded artifacts with a wrong version (`projectname-2.6.0.rc2-tags.whl`). The `rc2` was left from release candidate creation.
When I uploaded these artifacts, they got correctly put in the 2.6.0 version, but won't be chosen by pip on installation, instead doing a source install.
I corrected the issue with the filename, so now artifacts are `projectname-2.6.0-tags.whl`, but

[2018-09-10 20:52] pabloem commented on #4695
What seems to be going on is that PyPi gets version and environment information from the metadata that is packaged in the wheel (where version is 2.6.0). - pip seems to get the version information from the file name (here, the version is 2.6.0.rc2).

Is there something that can be done to work around this?

[2018-09-10 20:58] di commented on #4695
This is intentional: PyPI is comparing the hash of your file with previously uploaded files. Usually this happens when a user is trying to upload an existing built distribution that has been renamed. Since installers like `pip` assume the filename accurately represents what's inside the distribution, this often can produce issues where a built distribution _looks_ like it's compatible, but isn't o

[2018-09-10 21:03] pabloem commented on #4695
I have not rebuilt the wheel. I had just renamed it. I'll try rebuilding it. Thanks a lot!

[2018-09-10 21:07] di commented on #4695
Sorry, replied before I saw your second comment, I see what's happening now.

I think if you made a trivial change to the project's source, causing the built distributions to have new hashes, you should be able to upload them to the same 2.6.0 release with the correct filenames, and then delete the `.rc2` files.

[2018-09-10 22:41] #4695 closed

[2018-09-10 22:42] pabloem commented on #4695
Thank you.

[2018-09-11 04:55] fangpenlin opened #4698 "Pypi returns different index when the response is compressed or not"
**Describe the bug**

When I am trying to install boto3 1.9.1 on CircleCI, but it said could not find the version

[code]

I looked into it in details, and found really odd thing.

[code]

and

[code]

are returning different response. The compressed one has no `1.9.1`, the one without compression has `1.9.1`. Here's the the detail curl dump

[code]

and for not compressed one

[code]

**Expected

[2018-09-11 18:06] di commented on #4698
Thanks for the report. It seems like our CDN failed to purge the compressed response when we automatically issued a purge for the new release of `boto3`.

I manually purged the CDN for this page, and the compressed and uncompressed responses are now in sync. I also confirmed that this was behaving as-expected for several other newly released projects.

I'm going to close this issue as a fluke, but

[2018-09-11 18:06] #4698 closed

[2018-09-11 18:16] #4016 closed

[2018-09-11 18:41] pradyunsg commented on #4662
Could you post a SS?

[2018-09-11 18:45] pradyunsg commented on #4662
Wait, that's unnecessary. Nvm me.

[2018-09-11 19:38] jamadden commented on #4662
I'm guessing 'Screen Shot'

[2018-09-11 19:38] webknjaz commented on #4662
Ah, thanks :)

[2018-09-12 05:09] pradyunsg commented on #4662
Yeah.

[2018-09-12 15:42] di opened #4703 "Publish a list of malicious packages that have been taken down"
**What's the problem this feature will solve?**
Users who may have possibly installed malicious packages don't have insight into what packages have been taken down by PyPI administrators.

**Describe the solution you'd like**
PyPI should publish both a human-readable and machine-readable (API) list of malicious packages that have been taken down. Ideally the human-readable list would be sortable b

[2018-09-12 16:06] vanbenschoten opened #4704 "Not receiving Test PyPi verification emails"
I'm attempting to register on Test PyPi as the first step for publishing a package, but I'm not receiving the verification e-mails (and hence can't upload via twine). I've tried different e-mail addresses, but still no luck.

[2018-09-12 16:09] ewdurbin commented on #4704
hello @vanbenschoten what is your username on test.pypi.org?

[2018-09-12 16:12] vanbenschoten commented on #4704
vanbenschoten

[2018-09-12 16:14] ewdurbin commented on #4648
@2017alan I'm seeing that all Password Reset Request emails sent for your account showed as delivered by our mail provider. Can you confirm that these emails were not misdirected by a filter, noted as spam, or caught up in some other hold?

[2018-09-12 16:14] ewdurbin commented on #4648
@aspose-cloud were you able to get any additional information?

[2018-09-12 16:18] di commented on #4635
Hi @smurfix, as long as the package doesn't seem to be malicious, feel free to ignore it.

We have [PEP 541](https://www.python.org/dev/peps/pep-0541/) which allows us to remove invalid or abandoned projects, but in practice we really only remove these packages if a user reaches out to us wanting to actively use a package name that is being squatted on.

[2018-09-12 16:18] #4635 closed

[2018-09-12 16:20] ewdurbin commented on #4704
@vanbenschoten looks like the worker locked up for testpypi (we only run 1 rather than the 3+ we run for production).

This was causing emails not to send since ~12:34 UTC today. You should receive all attempted verification emails soon.

It's resolved now and I'm going to ensure we would have at least detected this in production, and ensure that we detect it for test.pypi.org moving forward.

[2018-09-12 16:20] #4704 closed

[2018-09-12 16:27] di commented on #4196
This is a bit old and it seems like the `openvisus` project has been making releases without problems, so I'm going to close this, but feel free to reopen if this is still necessary.

[2018-09-12 16:27] vanbenschoten commented on #4704
Thanks!

[2018-09-12 16:28] di commented on #4307
Closing due to inactivity.

[2018-09-12 16:28] #4307 closed

[2018-09-12 16:32] di commented on #4438
Hi @Manikandankasi01, if you're still having problems, you should open an issue on pip's issue tracker instead: https://github.com/pypa/pip/issues

There are a number of similar open issues already which might help you:
* https://github.com/pypa/pip/issues/5622
* https://github.com/pypa/pip/issues/5465
* https://github.com/pypa/pip/issues/4459

[2018-09-12 16:32] #4438 closed

[2018-09-12 16:35] scrgiorgio commented on #4196
if it was possible to increase the size to 100mb.
We had to remove some files from the pip in order to upload it.
Thanks.

[2018-09-12 16:37] di commented on #4196
Hi @scrgiorgio, I'm happy to do this if you can give me some details about what file this project needs to include that make it so large, and why.

You might also want to add a description to https://pypi.org/project/OpenVisus/, it's difficult for me to understand what this project is for.

[2018-09-12 16:47] scrgiorgio commented on #4196
Hi,

Visus is a very mature and complex project for exploring huge datasets.
We released it to open source just few months ago (we didn't have much time
to show off it since we are still in the bug-fixing phase).

Maybe this paper best describes what it does:
https://pdfs.semanticscholar.org/614b/68225a84e9d134eb37a925cf6917d6d35af5.pdf

The wheel is so huge because we use a mix of C++ and python.

[2018-09-12 16:49] di commented on #4196
Thanks for the explanation. I've increased the limit for `openvisus` to 100MB on PyPI.

[2018-09-12 16:49] #4196 closed

[2018-09-12 17:05] asottile commented on #4629
Makes sense, in this case a user scraped github and registered many names of almost-ready-to-publish packages and then was extorting the repository owners.  Whether malicious is the right word there is up to interpretation heh :)

[2018-09-12 17:06] di commented on #4629
@asottile Ah, that's something else entirely. Could you send the details to me? di@python.org.

[2018-09-12 17:28] asottile commented on #4629
Awesome, shot you a quick email -- thanks for the resolution here :)

[2018-09-13 06:15] aspose-cloud commented on #4648
@ewdurbin

`email@aspose.com` email address is functional. We are receiving all emails on this account except from PyPI. Please suggest is there any other way to reset the password, we are unable to update [asposeemailcloud](https://pypi.org/project/asposeemailcloud/) package.

[2018-09-13 08:39] javatechy commented on #4079
It works if your

setuptools is upgraded to version 38.6.0 or newer

twine is upgraded to version 1.11.0 or newer

wheel is upgraded to version 0.31.0 or newer

[2018-09-13 08:40] javatechy commented on #3438
It works if your
setuptools is upgraded to version 38.6.0 or newer

twine is upgraded to version 1.11.0 or newer

wheel is upgraded to version 0.31.0 or newer

[2018-09-13 14:32] di commented on #4648
@aspose-cloud Is there another email we could try for the account instead?

[2018-09-13 20:43] tomcnolan commented on #4064
I was very surprised to discover this PyPI limitation, which breaks a README.md/long_description's Table of Contents. I agree with @Oberon00 that this feature is needed for consistency between Markdown source shared between GitHub and PyPI.

[2018-09-14 07:45] SrivigneshM commented on #3769
Below solution worked for me.

Uninstall pip2
Install pip2 using PyPI (Refer 'Install pip From PyPI' section in https://www.howtodojo.com/2016/03/install-use-pip-ubuntu-14-04/) Note: Install from ubuntu repository didn't work in my case.
Then I no longer got ValueConstraintError while installing any module using pip2 (ex: pip2 install invoke)

[2018-09-14 14:35] di commented on #4648
@aspose-cloud That email address is already in use by another PyPI account, is there another email you can use instead?

We could also transfer the projects owned by the `asposeemail` account to that account if you'd prefer.

[2018-09-14 17:02] aspose-cloud commented on #4648
@di

Please check if `marketplace@aspose.com` could work.

[2018-09-14 20:39] di commented on #4648
@aspose-cloud There's already an account with that email address as well.

[2018-09-15 07:07] aspose-cloud commented on #4648
@di

We actually want to upload `asposeemailcloud` latest package under [asposecloud](https://pypi.org/user/asposecloud/) account.

You may simply delete [asposeemailcloud](https://pypi.org/project/asposeemailcloud/) from [asposeemail](https://pypi.org/user/asposeemail/) account, we will upload updated package under [asposecloud](https://pypi.org/user/asposecloud/) account.

If this is not possibl

[2018-09-16 00:05] di commented on #4648
I've updated the email address to be `muhammad.sohail@aspose.com` and initiated a password reset request, please close this issue once you've regained control of the account.

[2018-09-16 05:59] xHire opened #4714 "SHA256 hash of packages accessible only with javascript-powered gui web browser"
**Describe the bug**
I can’t access SHA256 hash of downloaded packages if I don’t have a javascript-powered gui web browser at hand.

**Expected behavior**
I would expect to be able to download the hash in a separate file, as is standard with most FLOSS projects. I could then just `sha256sum -c file_with_the_checksum` and be sure it’s OK. (A less ideal option would be to show the hash directly on

[2018-09-16 21:44] ph-dev-2016 opened #4716 "pyBullet installation - URL to MS link tools is not working"
**Describe the bug**

I tried to install pybullet with command "pip install pybullet"
Among other things the command tries to build something, but it fails.
There is an error message
" error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools"

**the bug:** that http-URL does not work. Currently (Septembe

[2018-09-17 11:06] aspose-cloud commented on #4648
@di

Unfortunately, I have not received any password reset email at `muhammad.sohail@aspose.com`.

I even tried to reset the password by entering email here https://pypi.org/account/request-password-reset/. But again no email in Inbox or Spam folder.

[2018-09-17 19:55] di commented on #4648
@aspose-cloud I've got logs showing five reset emails delivered in the last 24 hours to that address and accepted by the `aspose.com` mailserver. I also don't have any other reports of this happening elsewhere.

I'd recommend either talking to whoever manages your mailserver and determining why the server is accepting messages but not delivering them, or you'll need to give me an email address tha

[2018-09-17 19:56] #3836 closed

[2018-09-17 21:37] di commented on #4023
@mila The new version of `readme_renderer` will get deployed in a bit once https://github.com/pypa/warehouse/pull/4717 is, merged, are you able to add the necessary styles once that happens?

[2018-09-17 21:43] mila commented on #4023
The styles should be already present. Merged in #4391.

[2018-09-17 21:52] mkaja opened #4722 "do we have a warehouse docker image ?"
we are planning to install warehouse locally in our environment and want to know whether any docker image is there to get started .

[2018-09-17 21:57] di commented on #4722
Nope, we don't support or recommend using Warehouse for anything but being https://pypi.org.

You might be better off using a 3rd party tool, see:
* https://packaging.python.org/guides/index-mirrors-and-caches/?highlight=devpi
* https://packaging.python.org/guides/hosting-your-own-index/?highlight=devpi
* There are also many for-profit options available like Artifactory, GemFury, etc.

[2018-09-17 21:57] #4722 closed

[2018-09-18 00:16] jamadden commented on #4716
Thank you for the report.

This repository is only for issues with the software that runs pypi.org itself. It cannot help with installing packages distributed there.

However, I did some checking, and the source of that error message appears to be [setuptools](https://github.com/pypa/setuptools/blob/e50d77efb25d9db04a87ceea483d6b74fc58cd91/setuptools/msvc.py#L204). The [link was changed in setupto

[2018-09-18 00:16] #4716 closed

[2018-09-18 03:44] aspose-cloud commented on #4648
@di
Please use `msohailismail@gmail.com` email address.

Between thank you for your continuous support.

[2018-09-18 07:19] tbhaxor opened #4725 "Question: Is it a bug or any hack attempt ?"
I was looking for registered packages (i want to choose unregistered name for my package)
and when i scrolled down i saw this
![image](https://user-images.githubusercontent.com/28386721/45670776-5057cd80-bb41-11e8-8712-6d6c0c754cff.png)
so i want to ask. What is it?

[2018-09-18 11:56] Glottotopia opened #4727 "https://test.pypi.org/account/register/ [Create Account] greyed out"
I want to create an account at https://test.pypi.org/account/register/, but the [Create account] button remains greyed out even after filling in all fields.

I assume that this is related to some javascript issue, but I have allowed all scripts.

## My Platform
* Ubuntu 16.04.5 LTS
* Firefox, Chromium and Google Chrome alike. Firefox has a script blocker, the other two browsers do not.
![screensho

[2018-09-18 12:02] jamadden commented on #4725
What you're seeing is an "easter egg" reference to Monty Python rendered by warehouse's [404 template](https://github.com/pypa/warehouse/blob/master/warehouse/templates/404.html#L26). See discussion in https://github.com/pypa/warehouse/pull/2051

[2018-09-18 12:02] #4725 closed

[2018-09-18 12:39] pabs3 opened #4728 "account deletion form crashes with Service Unavailable (503) error."
**Describe the bug**

When I try to delete my account (pabs), I get a Service Unavailable (503) error.

**Expected behavior**

My account is deleted from PyPI.

**To Reproduce**

Login.
Click Manage Account https://pypi.org/manage/account/
Click Delete your PyPI account https://pypi.org/manage/account/#delete-your-pypi-account-modal
Enter 'pabs' into Username field
Click Delete your PyPI account
R

[2018-09-18 12:43] pabs3 opened #4729 "allow owners to leave projects"
**What's the problem this feature will solve?**

I'm one of the owners of the fonttools project and I would like to leave the project as it has been taken over by other folks and I am no longer involved. When I tried to do this the UI indicated it was not possible and trying it caused an error message.

**Describe the solution you'd like**

Allow people to leave projects if there are 1 or more oth

[2018-09-18 13:30] dstufft commented on #4023
I'm reopening this issue, because the code in readme-renderer that was merged as a result of pypa/readme_renderer#114 isn't actually going to work in all (most?) cases due to the reliance on the inline style attribute, which Warehouse blocks from working using our CSP policy, which we won't be relaxing.

readme_renderer will need to emit css classes instead of inline styles in all casses.

[2018-09-18 14:54] dstufft commented on #4023
Actually going to close this again, since it was pointed out in https://github.com/pypa/readme_renderer/issues/112#issuecomment-422424803 that this issue was about alignment, which is using classes, not about sizes which does not.

[2018-09-18 14:54] #4023 closed

[2018-09-18 15:01] di commented on #4729
If we were to implement this feature, we would need to change the way role assignment currently works, from just allowing owners to assign other users roles on a given project, to allowing owners to _request_ that other users accept roles for a given project.

Otherwise it would allow malicious users to create a (potentially malicious) project, assign it to some unsuspecting user, and then remove

[2018-09-18 15:05] di commented on #4728
@pabs3 Could you try again and let us know if this is still happening?

[2018-09-18 15:08] di commented on #4727
@Glottotopia Can you check the JS console in any of those browsers and tell us if you're seeing any errors? Are you seeing any changes in the "password strength" gauge when you change the password?

[2018-09-18 15:20] di commented on #4648
@aspose-cloud You should have an email with the subject "[PyPI] Password reset request" in your inbox.

[2018-09-18 15:25] rohit-jamuar opened #4731 "Request to increase upload-limit for "ipp" project"
project name = ipp
size of release = 200 MB
Only PyPI's size needs to be increased for this project.

[2018-09-18 15:30] di commented on #4731
Hi @rohit-jamuar, can you give us some explanation about why this project needs a limit increase?

[2018-09-18 15:35] rohit-jamuar commented on #4731
@di, the wheels include runtimes for Intel IPP. This time around, the size of binary wheels have exceeded the upload-limit, hence it is requested that the limit be increased.

[2018-09-18 16:46] aspose-cloud commented on #4648
@di Yes, I have received the email. Thank you so much.

[2018-09-18 16:46] #4648 closed

[2018-09-18 17:39] #3965 closed

[2018-09-19 04:14] pabs3 commented on #4729
I think it is important to require consent in response to invitations
to join a project, even if you do not allow owners to leave projects.
Being able to add someone to a project without their consent seems very
problematic and provides a way to spam people's profile pages.

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2018-09-19 04:16] pabs3 commented on #4728
I still get the Service Unavailable (503) error message when trying to
delete my account.

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2018-09-19 15:13] di commented on #4201
This has been resolved.

[2018-09-19 15:13] #4201 closed

[2018-09-19 15:51] Lawouach opened #4736 "Can't override past deleted version"
**Describe the bug**

I uploaded a package in version 0.1.1. Then realised I had screwed it. Removed the release from Pypi (as well the tag from GH). Made my chang and attempted my new release with the same version.

Pypi complains as follows:
[code]

**Expected behavior**

I should be able to upload with a past used-version provided it was deleted first.

[2018-09-19 15:56] ewdurbin commented on #4736
Hi @Lawouach! [PyPI does not allow reuse of filenames](https://pypi.org/help/#file-name-reuse). The reasoning is two-fold.

- It makes it easier for us to manage the multitude of files that PyPI serves without having to worry about collisions or stale content/versions.
- It prevents malicious actors from replacing a known good package URL with a nasty payload in the event that they compromise a us

[2018-09-19 15:56] #4736 closed

[2018-09-19 16:04] Lawouach commented on #4736
Hey,

That makes sense indeed. Would it be possible to imagine a note, either in some documentation or, better, when a user wants to delete a release. I would imagine I'm not the only one making that assumption that deleting means it's a free slot once again.

Thanks,

[2018-09-19 16:19] di opened #4737 "Inform users that a deleted release cannot be re-uploaded"
**What's the problem this feature will solve?**
Right now in the modal that's shown when deleting a release, it looks like this:

<img width="411" alt="screen shot 2018-09-19 at 11 10 17 am" src="https://user-images.githubusercontent.com/294415/45766214-a2115e00-bbfc-11e8-8131-721d1d98c2e3.png">

This modal does not indicate that a user will not be able to re-upload a given release once it's delet

[2018-09-19 16:19] di commented on #4736
@Lawouach I think that's a reasonable request. I made #4737 to capture that issue.

[2018-09-19 17:35] mkaja opened #4738 "user add to warehouse"
1. can we  add a new user to upload the packages
2. does all the packages are stored in psql db?

[2018-09-19 17:43] di commented on #4738
Hi @mkaja, not sure I entirely understand. Are you trying to do development on Warehouse locally?

[2018-09-19 19:05] mkaja commented on #4738
yes @di

[2018-09-19 19:09] di commented on #4738
You can add a new user just like you would on `pypi.org` by filling out the registration form.

When running Warehouse locally, it uses a local file storage service to store uploaded packages on-disk: https://github.com/pypa/warehouse/blob/739c4782821ee8df2aadefa9928b0c559ea77e29/warehouse/packaging/services.py#L28-L42

[2018-09-20 17:46] ganik opened #4741 "Need exception to increase file size limit"
* Project name: mlnet
* I have 9 wheel files for Linux/Windows/Mac platforms targeting python 2.7, 3.5 and 3.6
Each file is between 70 to 90 MBs. Should they be in the same project or distributed across several ones?
* Need to increase both PyPI and Test PyPI. For now I need Test PyPI, later on (week later) I ll need PyPI

Pls assist.
Gani

[2018-09-20 19:38] di commented on #4738
Closing this as I think the question's been answered, feel free to comment if you have more questions.

[2018-09-20 19:39] #4738 closed

[2018-09-20 19:41] di commented on #4741
Hi @ganik, the limit is per-distribution file, you can add all the wheels to the same project.

You'll need to create the projects on TestPyPI and PyPI before I can increase the limit. Most folks create an "empty" release with a version of `0.0.0` so as not to conflict with future releases.

[2018-09-20 19:44] di commented on #4731
@rohit-jamuar I've increased the limit to 200MB. Please be mindful about how often you make new releases at this size.

[2018-09-20 19:44] #4731 closed

[2018-09-20 19:54] di commented on #4687
Moved to https://github.com/pypa/conveyor/issues/5.

[2018-09-20 19:54] #4687 closed

[2018-09-20 21:16] ganik commented on #4741
Thank you @di
I have just created a placeholder projects on both repos

[2018-09-20 21:20] di commented on #4741
@ganik I've set the upload limit for `mlnet` to 100MB on both PyPI and TestPyPI.

[2018-09-20 21:20] #4741 closed

[2018-09-21 19:43] manikos commented on #3840
Two solutions I found:

- Change [``_package-snippet.scss``](https://github.com/pypa/warehouse/blob/master/warehouse/static/sass/blocks/_package-snippet.scss#L79) to ``width: 170px;``

or

- Change [``_package-snippet.scss``](https://github.com/pypa/warehouse/blob/master/warehouse/static/sass/blocks/_package-snippet.scss#L87) to ``margin-right: 3px;``

[2018-09-22 20:32] jwodder opened #4751 "JSON API omits timezone and microseconds from upload_time"
When a request is made to `https://pypi.org/pypi/$PROJECT/json` or `https://pypi.org/pypi/$PROJECT/$VERSION/json`, the `"upload_time"` fields in the response contain no timezone information and has no sub-second precision (e.g., `"2018-09-22T19:16:05"`).  Compare this to the XML-RPC API, in which the `"upload_time"` fields in the data returned by the `release_urls` method all end with `Z` and have

[2018-09-23 08:06] nlhkabu commented on #3840
@manikos if we use 170px width, how does that render on other browsers? e.g. chrome, safari? Thanks

[2018-09-23 10:04] manikos commented on #3840
Tested on Chrome and renders without any visual problems. Have not tested on Safari, neither on IE.

[2018-09-23 10:04] kwasielew commented on #4630
Hey guys, I would like to contribute to this task, I've prepared quick solution:
![footer-warehouse](https://user-images.githubusercontent.com/17218744/45926792-7b1e9900-bf28-11e8-8ebc-807e0d795928.png)
but most probably this is not the best place for link, do you have suggestions where to place Twitter link/rearrange columns? Thanks

[2018-09-23 14:48] di commented on #4703
@waseem18 Nope, there isn't, so we would have to add that flag and manually infer it from the comments of previously removed packages.

[2018-09-23 15:17] waseem18 commented on #4703
Okay, So we add the flag to the respective table and we set it to `true` for any projects we want to mark as malicious.

As the data of already removed packages doesn't exist on our database, we would need to infer it from the Warehouse GH `issues`.

So after we add the flag, the API call would return any packages that are flagged as malicious + the list we have of already removed packages.

Pleas

[2018-09-23 15:42] evemorgen commented on #4400
became two months later but it finally is there! 😄

[2018-09-23 16:29] di commented on #4703
There is a `comment` field on the `BlacklistedProject` model: https://github.com/pypa/warehouse/blob/97f28dfa5a4017dd1e1a7630f772ce01ec1af749/warehouse/packaging/models.py#L568

What I meant was that once we add the ability to mark a `BlacklistedProject` as malicious, there should be some way the administrators can go back and manually set this marker based on the comments we left. There's only ab

[2018-09-23 17:31] waseem18 commented on #4703
Gotcha!

So we can add the `is_malicious` flag to the `BlacklistedProject` model with default value as `false`.

And the API end point would query for the entities of `BlacklistedProject` table with the flag set to `true`.

[2018-09-23 19:07] evemorgen commented on #4408
I had similar feelings about false-positives, however, I'm also concerned that if it won't happen automagically, this feature would receive very little or no usage at all.

Since providing Github link seems natural, about  StackOverflow tags, I'm not so sure.

All in all, I agree that providing a link in `project_urls` is a better idea, will try do

[2018-09-24 05:48] pine opened #4755 "File size limit increase for emojilib"
Hello. I'm developing image processing library using C extensions. Could you increase the size limit for this project?

- The name of the project: emojilib
- The size of your release, in megabytes: 68 MB
- Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both

Thank you.

[2018-09-24 16:50] kylebgorman opened #4756 "PEP 541: transfer ownership of abandoned 'pynini' package"
I would like to request to transfer owernship of the name 'pynini' to myself. This project is abandoned since there have been only one alpha release over two years ago and I have repeatedly been unable to contact the apparent maintainer (https://github.com/daffidilly/pynini/issues/1) by filing an issue on GitHub. (Interestingly, this package appeared just weeks after my project of the same name wa

[2018-09-24 17:13] di commented on #4755
@pine I've increased the limit for `emojilib` to 100MB on both PyPI and TestPyPI.

[2018-09-24 17:13] #4755 closed

[2018-09-24 18:16] pine commented on #4755
@di Thank you!

[2018-09-24 20:37] vaibhavsingh97 commented on #4737
@di I wanted to work on this issue. 😄

[2018-09-25 03:48] btashton opened #4759 "Request for maintainership of 'Flask-InfluxDB' package"
I was the maintainer for this project when it was under the Ombitron organization.  The project was originally at `https://github.com/ombitron/flask-influxdb` this has been reconfigured in github to be upstreamed to `https://github.com/btashton/flask-influxdb`.   There is an open issue to cut a new release, but I cannot do this because I no longer control the pypi account which this was registered

[2018-09-25 15:42] kwasielew commented on #4680
Hey @di , can I claim this ticket?

[2018-09-25 15:56] di commented on #4680
Hi @kwasielew, glad to hear you're working on this. We won't consider an issue "claimed" until there is a PR for it. I don't think anyone else is currently working on this though.

[2018-09-25 20:08] robertnishihara opened #4761 "File size limit increase for Ray."
Hi, I'm developing a library for parallel and distributed Python https://github.com/ray-project/ray. Could you increase the size limit for this project?

- Project Name: ray https://pypi.org/project/ray/
- Size of current release 64MB
- Indexes: both test PyPI and PyPI

Thanks a lot for the help!

[2018-09-27 16:14] dhellmann opened #4770 "Requesting ownership change of "keystone" name"
The Keystone project created by Dan Crosta appears to be abandoned, and we would like to publish packages for the OpenStack Keystone project to PyPI.

Monty Taylor tried to reach Dan on 17 Nov 2017 and again on 8 Jan 2018, without success.

The last release published to https://pypi.org/project/Keystone was in 2012 and the last commit to the related git repo https://github.com/dcrosta/keystone was

[2018-09-27 16:16] di commented on #4770
@dcrosta, would you be willing to transfer the `Keystone` package name to @dhellmann?

[2018-09-27 16:18] dhellmann commented on #4770
Ah, yes, I should have made that clear. My PyPI account is "doughellmann" and if you transfer it to me I can do the work needed to set it up for our CI system to publish packages.

[2018-09-27 16:45] dhellmann opened #4771 "Requesting ownership change of "congress" name"
The "congress" project created by Derek Arnold appears abandoned, and we would like to publish packages for the OpenStack Congress project using that name.

The only release of the existing project was published in Feb 2011 and the GitHub repo https://github.com/lysol/congress was last updated in April 2011.

I have tried to read Derek via GitHub today (https://github.com/lysol/congress/issues/2).

[2018-09-27 19:57] di opened #4772 "Migrate away from using natural primary keys"
A number of our tables currently have natural primary keys, such as:

* The `packages` table (used by the `Project` model)
* The `releases` table (used by the `Release` model)
* (...this may be all of them)

We should migrate away from natural keys and use surrogate keys instead where appropriate, e.g.:

[code]

This will require a DB migration and possibly a maintenance period.

[2018-09-27 19:58] di commented on #4680
Blocked on #4772.

[2018-09-28 02:15] #4535 closed

[2018-09-28 05:54] hendychua opened #4775 "Inconsistency in release details for library versions in JSON API."
**Describe the bug**
The API `https://pypi.org/pypi/<library>/json` is inconsistent in how release details are shown. For example https://pypi.org/pypi/requests/json, under "releases" some versions map to an array with release details while some versions (e.g. 0.0.1, 2.15.0) map to an empty array. These versions are listed on PyPI's website.

**Expected behavior**
Release details for all versions

[2018-09-28 06:15] nlhkabu commented on #4630
Hi @kwasielew,

How about be move the status onto it's own line below the columns? Currently this is a bit awkward anyway, because it can wrap onto two lines easily. Something like this:

![screenshot from 2018-09-28 07-13-55](https://user-images.githubusercontent.com/3323703/46191106-22ffe200-c2ee-11e8-8983-c96f7ceb935d.png)

[2018-09-28 06:16] nlhkabu commented on #3840
thanks @manikos.  If you want to go ahead and make a PR, I can then test it across a range of browsers with my browserstack account :)

[2018-09-28 10:25] gururchandran opened #4777 "Numpy import fails"
**Numpy import fails when I updated numpy package in conda to 1.15.2.**
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~/anaconda/lib/python3.6/site-packages/numpy/core/__init__.py in <module>()
     15 try:
---> 16     from . import multiarray
     17 except ImportError as exc:

ImportError: l

[2018-09-28 10:29] gururchandran commented on #4777
PS: I downgraded numpy package and it worked for me. There's an issue with the numpy package source file which shows multiarray numpy extension module missing.
       conda install numpy=1.15.1(previous version works fine)

[2018-09-28 11:03] jamadden commented on #4777
Thanks for the report, but unfortunately this tracker is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages distributed or installed from there. You'll need to contact the maintainers of numpy or conda instead.

[2018-09-28 11:03] #4777 closed

[2018-09-28 12:42] vstinner opened #4779 "pip fails to download from files.pythonhosted.org: Connection reset by peer (err 104)"
Hello. I'm getting more and more errors from pip on download files:

Attempt 1:

[code]

Attempt 2:

[code]

I used tox to create a venv to test oslo.messaging.

## My Platform

My OS is Fedora 28. I live in France. My ISP is Orange. I have a DSL box.

## Network telemetry

My IPv6 path to files.pythonhosted.org according to MTR:

[code]

(No packet loss)

### DNS Resolution

[code]

[code]

[code

[2018-09-28 12:46] vstinner commented on #4779
Last year I reported a random TLS error on bugs.python.org, but it's likely unrelated since it's a different domain and a different service: https://github.com/python/psf-infra-meta/issues/4

[2018-09-28 14:12] robertnishihara commented on #4761
Please let me know if there's other information I can provide or some way I can help with this. Thanks a lot :)

[2018-09-28 14:20] ewdurbin commented on #4779
Thank you for your complete and thorough report @vstinner. Nothing in the provided diagnostics stand out unfortunately. I'll forward it on to our CDN provider to see if there are any known issues with the Point of Presence you were connecting to for files.pythonhosted.org.

Issues like this tend to be due to CDN reachability stemming from IP Multicast issues (CDN provider or ISP related), general

[2018-09-28 14:34] vstinner commented on #4779
I would say that the issue occurred today between 11:40 and 11:55 UTC.

[2018-09-28 14:38] vstinner commented on #4779
I removed ~/.cache/pip/ and ran "tox -e py27" again: all downloads complete with success. I repeated the same test: new success. Well, networking black box... Feel free to close the issue if you prefer :-)

[2018-09-28 15:14] filips123 opened #4781 "Add support to rename project"
Please add support to transfer project to another name without loosing project history and previous releases.

[2018-09-28 15:16] ewdurbin commented on #4781
Thank you for filing an issue @filips123! This is already being discussed and tracked in #1919.

[2018-09-28 15:16] #4781 closed

[2018-09-28 15:17] di commented on #1919
Blocked on https://github.com/pypa/warehouse/issues/4772.

[2018-09-28 15:29] di commented on #4761
@robertnishihara I've set the upload limit for `ray` to 100MB on PyPI and TestPyPI.

[2018-09-28 15:29] #4761 closed

[2018-09-28 15:56] hendychua commented on #4775
I see. That's what I thought but just wanted to seek clarification that it is indeed the case.

If no distributions are available for the version, should the version be removed from the API response (and also the library's PyPI page)?

I am using the API to get library versions but I noticed I'm not getting certain versions and the reason is due to the empty arrays. Is it safe to assume that if th

[2018-09-28 16:00] di commented on #4775
No, I don't think so. There's a a difference between a release with no distributions and a release that doesn't exist.

If there are no distributions available, you can assume it's not currently installable, but that doesn't mean it's an invalid release. I can't say wether you should ignore the version or not, I'm not sure what you're doing with the API.

[2018-09-28 16:04] hendychua commented on #4775
I see. Understood. Thank you for clarifying.

[2018-09-28 16:04] #4775 closed

[2018-09-28 16:18] robertnishihara commented on #4761
@di Thanks so much!

[2018-09-28 20:19] brainwane commented on #4626
@Man-Jain If you're still interested in this issue, yes, please go ahead!

@nlhkabu heads-up in case we should expose this in some way in the UI in the future.

[2018-09-30 23:16] tieguy commented on #2996
@brainwane yeah, for our use case we're primarily concerned with the latest version. So I think for our purposes something that allowed people to fix it in future releases, rather than doing mass-changes of old materials, would be sufficient.

I'm not Python's lawyer (you have Van for that ;) but happy to help with any explanatory work or other legal thinking where I can.

[2018-09-30 23:52] dstufft commented on #2996
Part of me just wants to remove the license classifiers, and add a metadata field for SPDX version specifier, which seems to be more generally useful?

[2018-10-01 00:00] di commented on #2996
@dstufft One nice thing about the current license classifiers is that it's easy to search for and sort by them. We'd need to add a way to do this for the "SPDX identifier" field as well.

[2018-10-01 00:11] Steap commented on #2996
Sorry for my late answer, real life got in the way :-/

@brainwane I'm also willing to remove as much ambiguity as possible in the classifiers. I like the big patch in [#2996](https://github.com/pypa/warehouse/issues/2996#issuecomment-385027197) but, as others have already stated, the issue is the "transition" to these new classifiers. Juste like @tieguy I'm also only interested in the latest vers

[2018-10-01 00:12] dstufft commented on #2996
Sure, the flip side is that the current situation really only works in simple cases. For example, if you have the following two classifiers:

[code]

Can I integrate this work into a GPL-2.0-only licensed software? You can't actually tell, because it depends on whether the software is licensed under Apache-2.0 AND BSD-2-Clause or if it is licensed under Apache-20 OR BSD-2-Clause.

Assuming you agr

[2018-10-01 05:38] JazzBrotha commented on #3440
I would say no to auto focus from an accessibility perspective in this case. Auto focus on a search field should only be used if the webpage has one absolutely unambiguous point of attention, as in Google's homepage. I don't think that is the case with pypi.org. Perhaps you can say that searching packages is the most common use case, but you risk isolation users from all the content you have to of

[2018-10-01 06:53] bittner commented on #3440
I second that. Please recall, though, that in [my proposal](https://github.com/pypa/warehouse/issues/3440#issuecomment-384519545) I suggested to have the search box accessible by one (or max. two) keystrokes (`<Tab>` key). This would support the finding that:

The site should be built for the most common use case. (_Creativity_ is asked for making the rest of the content not "isolated" by this cho

[2018-10-01 15:46] darrikonn opened #4791 "PyPI strips out `align="center"` for headers in markdown"
# What?
Can't align headers to the center. This is possibly for paragraphs, using:
[code]
and this also works on Github when rendering markdowns. But this does not work in `PyPI` project description.
I set:
[code]
in my `setup.py`.

## Expected outcome
Header to be center aligned.
[code]

## Actual outcome
[code]

# What I tried
Tried adding inline style:
[code]

Tried wrapping header with `<cente

[2018-10-01 16:01] di commented on #4791
Thanks for the report. Can you open this issue at https://github.com/pypa/readme_renderer instead?

[2018-10-01 18:53] darrikonn commented on #4791
Will do, thanks!
https://github.com/pypa/readme_renderer/issues/126

[2018-10-01 18:53] #4791 closed

[2018-10-02 06:23] groupdocscloud opened #4793 "Email verification issue"
I am unable to publish any package as getting an email verification issue, no emails are being sent to neither my inbox nor spam folder. Please do the needful. Thanks.

PyPI username: groupdocscloud

[2018-10-02 07:35] JazzBrotha commented on #3440
Personally, I think accessing the search box through three keystrokes is fine. This is the case if using the "skip to main content" link on pypi.org:

1. `tab`
2. `enter`
3. `tab`

It is not recommended using `tabindex` greater than 0 to change the keyboard navigation order of your elements, since you often end up confusing users that rely on assistive technology. Preferably, the DOM structure of

[2018-10-02 10:34] bittner commented on #3440
So, what do you recommend? Educate everyone to type `<Tab>`+`<Enter>`+`<Tab>`?

Do you think that will help? TBH, I've never used the "Skip to main content" link before, ever. Even though (or maybe because of) I have a certification in Web accessibility. I've always avoided to press on it.

Just to help me understand: Is this a common pattern in disabled communities?

[2018-10-02 18:16] JazzBrotha commented on #3440
I agree with you that solely relying on a skip navigation link to ensure that a user will access the main features of a web application is a bit naive. A skip navigation link is a useful tool, but it is still a hack. All I meant in the context of pypi.org is that it does offer a shortcut for the user to access the search box, and that means that the user doesn't necessarily have to tab through the

[2018-10-03 15:54] davidfischer-ch opened #4802 "Please increase size limit for pytoolbox"
Dear administrators,

Please increase size limit, my package is over 60 MB.

Release size : 74.5 MB
Only for: PyPI

Thanks !

[2018-10-03 17:58] groupdocscloud commented on #4793
Hi @ewdurbin
Thanks for your feedback. We have investigated and found that the emails reached our email server, but were rejected as SPAM because they failed the SPF Check (Sender ID). We will appreciate it if Pypi.org update their SPF record in their DNS to include the IP they sent the email from - 54.240.27.10. You can verify that the SPF authentication fails using the following tool. Thanks.
ht

[2018-10-03 18:32] davidfischer-ch commented on #4802
I think I will split the repository to optimize installation if not requiring ai stuff. Thanks!

[2018-10-03 18:43] ewdurbin commented on #4793
DMARC is something I'm still working to fully understand :)

@dstufft may be able to better explain, but our Return-Path for these emails are on the `ses.pypi.org` domain, which [does properly pass SPF with the sending IP](https://mxtoolbox.com/SuperTool.aspx?action=spf%3apypi.org%3a54.240.27.10&run=toolpage#).

It sounds like your mail server may be checking SPF on the wrong domain (pypi.org vs s

[2018-10-03 19:07] #4802 closed

[2018-10-03 22:02] dstufft commented on #4793
It certainly sounds like the receiving server is not correctly checking SPF records, and is checking the envelope ``FROM`` address instead of the ``MAIL FROM`` address. That being said, the risk of adding the header to make it work with the envelope information instead of the ``MAIL FROM`` is very small, so I'm fine adding it.

[2018-10-04 09:41] zenogantner commented on #194
Actually, Perl has [CPANTesters](https://qa.perl.org/cpan-testers/), which lets the community help to do the testing over a lot of different platforms and version combinations.
And they have had it for more than a decade.

This is definitely something where Python can learn from Perl.

[2018-10-05 14:17] nicolaiarocci opened #4809 "project_urls is being ignored on PyPI"
**Describe the bug**
On PyPI, the latest release of my project is not showing the additional links from `project_urls`. Stats from GitHub are also not there (I suppose this is a consequence of the former problem, as there are no github links in `url`).

**Expected behavior**
Links from `project_urls` and GitHub stats should appear on the project page.

**To Reproduce**
- [Eve page on PyPI](https:/

[2018-10-05 14:52] di commented on #4809
Hi @nicolaiarocci, how did you upload your distribution? It looks like you might have used `python setup.py upload` (which is now deprecated) instead of using [`twine`](https://pypi.org/project/twine/), which caused some of the newer metadata fields to not be included in the upload.

[2018-10-05 15:07] nicolaiarocci commented on #4809
Good point @di I might have used the old syntax. Old habits die hard I guess.

[2018-10-05 15:07] #4809 closed

[2018-10-05 22:34] andrewhstewart opened #4812 "File Limit Increase"
Hello, I am writing to request a file limit increase for my project. The pertinent info is:

1) Project name: sdi-pipeline
2) Size: 65.1 MB
3) Index needed increase for: PyPi

[2018-10-07 06:48] leycec opened #4816 "Permit Project Maintainers to Modify Project-wide Metadata"
This feature request is my probably futile attempt to resurrect the acrimonious fist-waving at #2170 into a more general-purpose (and hopefully placid) discussion.

# Down a Dark Road

To begin, let's carefully distinguish between the two dissimilar types of metadata warehoused with PyPI projects:

* **Release metadata,** uniquely associated with a specific release of a specific project. The Wareh

[2018-10-07 09:06] Aculeasis opened #4817 "File size limit increase request"
Hello, I'm created [project](https://github.com/Aculeasis/rhvoice-wrapper-data) provides libraries and data from RHVoice speech synthesizer. Voices data is very large.

- The name of the project: [rhvoice-wrapper-data](https://pypi.org/project/rhvoice-wrapper-data/)
- The size of your release: 74MB
- Index: PyPI

Thanks a lot for the help!

[2018-10-07 16:16] emonty commented on #4770
No worries - Thanks for getting back to us. Yes, if you just go to:

https://pypi.org/manage/project/keystone/collaboration/

and add doughellmann as owner that would do it.

Thanks so much for helping us out - we really appreciate it!

On Sun, Oct 7, 2018 at 8:26 AM Dan Crosta <notifications@github.com> wrote:

[2018-10-07 16:41] thomaslima opened #4819 "File size limit exemption (klayout)"
Dear all,

I'd like to request a file size limit exemption for a package that we are trying to upload to pypi. Due to some sort of compilation issue that I am unaware of, the linux wheels are 80.5Mb, whereas the macOS wheels are 7.7Mb. I'd like, however, to make the project available in pypi so we can have beta testers help us while we work on optimizing the package size. Indices: pypi and test-py

[2018-10-08 08:36] groupdocscloud commented on #4793
@ewdurbin
As per above comments, it seems you are updating your email server configuration. Please let us know once it is done, so we will verify our email id and start pushing our packages. Thanks.

[2018-10-08 09:35] mythmgn opened #4820 "cup abandoned - PEP 541 - Ownership transfer"
Hi dear admins,

I'd like to request an ownership transfer of pypi project cup to me (username: mythmgn)

The project has not been maintained since **2014**.  I tried to contact the owner (email addr pavanmishra@gmail.com), but got **no response**. I searched him on facebook and linkdin, and found no one.

The opensource project I lead is here:
repo of github: https://github.com/baidu/CUP
docs of

[2018-10-08 13:05] jamadden commented on #4820
@pavanmishra doesn't seem to have [any recent activity](https://github.com/pavanmishra) on GitHub, but it might be worth opening an issues [on the repository](https://github.com/pavanmishra/cup/issues).

[2018-10-08 16:48] dcrosta commented on #4770
OK @dhellmann -- it's all yours.

[2018-10-08 17:00] ewdurbin commented on #4793
Changes have been made, DNS TTL for the record is 60 seconds so the change should be reflected now.

[2018-10-08 17:03] di commented on #4812
@andrewhstewart I've set the limit for `sdi-pipeline` to 100MB on PyPI.

[2018-10-08 17:03] #4812 closed

[2018-10-08 17:06] di commented on #4817
@Aculeasis I've set the limit for `rhvoice-wrapper-data` to 100MB on PyPI.

[2018-10-08 17:06] #4817 closed

[2018-10-08 17:08] di commented on #4819
@thomaslima I've set the limit for `klayout` to 100MB on PyPI and TestPyPI.

[2018-10-08 17:08] #4819 closed

[2018-10-08 17:49] dhellmann commented on #4770
Thank you @dcrosta , I appreciate your willingness to work with us on this!

[2018-10-08 17:50] #4770 closed

[2018-10-09 04:05] groupdocscloud commented on #4793
@ewdurbin

Thank you very much for your continuous quality support. Email verification issue is resolved.

[2018-10-09 04:05] #4793 closed

[2018-10-09 11:09] hmpf commented on #4727
I see this in firefox and chromium. The password strength gauge never changes.

[2018-10-09 11:11] Glottotopia commented on #4727
- disable scriptblockers
- click in the password textarea. Type one key.

Pasting the password will not trigger the gauge, but keydown will.

[2018-10-09 11:13] hmpf commented on #4727
I see the following in the dev tools:
[code]

[2018-10-09 11:14] hmpf commented on #4727
Yep, looks like the gauge cannot handle paste.

[2018-10-09 11:54] JiabinYang opened #4824 "Overwrite V1.0.0 package for PaddlePaddle"
Hi,

This is paddle-dev, we meet a problem that we uploaded the some wrong packages on V1.0.0：
<img width="852" alt="2018-10-09 7 50 30" src="https://user-images.githubusercontent.com/22361972/46667575-9d890580-cbfc-11e8-8dcd-a2bf65e714d1.png">

<img width="787" alt="2018-10-09 7 52 34" src="https://user-images.githubusercontent.com/22361972/46667675-e80a8200-cbfc-11e8-80e7-d068bd62ca14.png">

Now

[2018-10-09 12:41] jamadden commented on #4824
Hi @JiabinYang ! [PyPI does not allow reuse of filenames](https://pypi.org/help/#file-name-reuse). The reasoning is two-fold.

- It makes it easier for us to manage the multitude of files that PyPI serves without having to worry about collisions or stale content/versions.
- It prevents malicious actors from replacing a known good package URL with a nasty payload in the event that they compromise a

[2018-10-09 12:41] #4824 closed

[2018-10-09 14:58] thomaslima commented on #4819
Thank you!

Thomas Ferreira de Lima
tlima@princeton.edu<mailto:tlima@princeton.edu>

On Oct 8, 2018, at 13:08, Dustin Ingram <notifications@github.com<mailto:notifications@github.com>> wrote:

@thomaslima<https://github.com/thomaslima> I've set the limit for klayout to 100MB on PyPI and TestPyPI.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<

[2018-10-09 17:47] ahopkins opened #4832 "Access to the sanic package on PyPI"
I am trying to get access to the [sanic package](https://pypi.org/project/Sanic/) on PyPI.

Up until a few weeks ago @channelcat had maintained the package alone. He decided to move the [GitHub repo](https://github.com/huge-success/sanic) to an organization and added some [more maintainers](https://github.com/orgs/huge-success/people). The PyPI repo has not been moved so no one has access and we h

[2018-10-09 17:55] ewdurbin commented on #4832
Hi @ahopkins! The easiest way for this to move forward would be for @channelcat to transfer ownership to your PyPI user so that you can then add additional maintainers and owners from the new organization.

If @channelcat is unavailable or unresponsive, I see the following facts:
  - The current homepage URL for the sanic package
http://github.com/channelcat/sanic, _does_ forward to the repository

[2018-10-09 17:55] ewdurbin commented on #4832
@dstufft @di do you have any other stipulations?

[2018-10-09 17:57] di commented on #4832
I've reached out to @channelcat for confirmation. If they don't respond in a timely fashion, I'm OK with transferring this project to you, as it seems that by transferring the Github repo, they intended for others to be able to maintain the project. Preferably we'd add some other owners of the project in addition to yourself.

[2018-10-09 17:59] di commented on #4832
@ewdurbin Sounds like we're on the same page 😂

[2018-10-09 18:00] seemethere commented on #4832
You don't actually need access to the pypi account to do releases. Just tag a release on GitHub and it should automatically post it up to the pypi account.

[2018-10-09 18:01] seemethere commented on #4832
Is there a concept of organizations on pypi? Would like to move ownership of this repository to an organization similar to what we have here on GitHub.

[2018-10-09 18:01] ewdurbin commented on #4832
@seemethere not currently, that is being tracked in #201

[2018-10-09 18:01] vltr commented on #4832
@ewdurbin @di we are working very hard to maintain Sanic up and running, not only with code but creating a community centric project with more immersion from developers around the world.

[2018-10-09 18:02] ewdurbin commented on #4759
Hello @btashton! Given that the URL in the latest release matches and forwards to the new repo, this seems OK, also that the email address associated with the Owner user appears to have belonged to you.

Can you confirm your PyPI user name?

[2018-10-09 19:08] yeraydiazdiaz commented on #4727
sure, I'll take a look 👍

[2018-10-09 21:18] ashleysommer commented on #4832
+1 from me for transfer of the pypi access for the Sanic project to brewmaster.

[2018-10-09 22:27] ahopkins commented on #4832
@seemethere There is not, but there can be multiple "contributors" on pypi.

@di Thanks. I hope @channelcat does get back. This is the last communication I have had from him:

https://groups.google.com/d/msg/sanic-dev/WXbBxNo7Zek/UWisOI28BgAJ

[2018-10-10 07:52] jbarlow83 opened #4835 "Markdown of Unicode characters renders as mojibake"
**Describe the bug**
See: https://pypi.org/project/pikepdf/

In the feature matrix table, the mojibake `âœ”` and `âœ˜` appears several times.

**Expected behavior**
The characters are supposed to be a checkmark (✔ U+2714) and cross (✘ U+2718).

**To Reproduce**
See: https://pypi.org/project/pikepdf/ - in the feature matrix

https://pypi.org/pypi/pikepdf/json shows that the characters were also cor

[2018-10-10 15:33] IvanAnishchuk opened #4836 "Lost access to account"
I'm sorry to bother you with this but I had an account on PyPI back in 2012 which I would like to recover access to, I lost access to the associated email (anishchuk_ia AT lavabit DOT com) back when the lavabit thing happened. Lavabit is back but I can't remember my passwords there after all these years. Can someone please help me? (Posting this here because PyPI help tells me to)

[2018-10-10 18:27] btashton commented on #4759
@ewdurbin my username is btashton

[2018-10-11 19:03] ghjwp7 opened #4844 "primefac 1.1 process 5 ValueError: gmpy does not handle infinity"
[If there is a different site for primefac 1.1 bug reports, please let me know; or if this is a previously-reported problem.]

I downloaded primefac-1.1.tar.gz from https://pypi.org/project/primefac/ and tar xzf'd it and said `./primefac s` where s is a large number shown below.  Problem: An error message appeared, "ValueError: gmpy does not handle infinity", as shown in following transcript.

Not

[2018-10-11 19:36] di commented on #4844
Thanks for the report, but unfortunately this tracker is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with packages distributed or installed from there. You'll need to contact the maintainers of this package instead.

[2018-10-11 19:36] #4844 closed

[2018-10-11 20:11] ghjwp7 commented on #4844
@di, thanks, I'll try to contact the primefac maintainer.

Note, perhaps you could add that sentence, "This tracker is only for issues with the software that runs https://pypi.org itself", to the "Bug reports." line at https://github.com/pypa/warehouse/blob/master/CONTRIBUTING.rst and also in the section at https://pypi.org/help/#feedback , which is where the "Bugs and feedback" link at the bottom

[2018-10-12 08:45] fredrik-johansson opened #4848 "PEP 541: Request to transfer ownership of python-flint"
Hi, I'm the author of python-flint

https://github.com/fredrik-johansson/python-flint

https://pypi.org/project/python-flint/

The PyPi package was kindly created by @xoviat ("ghost555" on PyPi) who unfortunately has disappeared without providing a means of contact (I saw that this also affected some other projects recently).

It would be helpful if you could transfer ownership to me. My PyPi user

[2018-10-12 08:50] ewdurbin commented on #4759
complete.

[2018-10-12 08:50] #4759 closed

[2018-10-12 09:10] ewdurbin commented on #2845
@kuasha is the apparent owner of the `peregrine` project name. The easiest way to accomplish this would be for them to transfer ownership. I've emailed the address associated with the PyPI user as well.

[2018-10-12 10:49] p-baum opened #4849 "Unable to view results in any meaningful way (like the old site)"
**Describe the bug**
The "order by" box has no helpful option such as "by popularity" or "by downloads".  As a result searches are a mishmash of abandoned rubbish rendering the website utterly useless.  Nice one.

**Expected behavior**
I expect to be able to search and find popular packages for solving common problems.  If I cannot do this, what is the site for? Please explain.

**To Reproduce**
N

[2018-10-12 13:21] ewdurbin commented on #4561
I believe this is resolved.

[2018-10-12 13:21] #4561 closed

[2018-10-12 13:27] ewdurbin commented on #4849
Hello! The report here is similar enough to #3932 and #727 that I will close it as a duplicate.

Additionally the tone and approach taken in the language used is unnecessarily harsh. I'm going to lock this issue after closing and ask that @p-baum remember that participation here falls under the [PyPA Code of Conduct](https://www.pypa.io/en/latest/code-of-conduct/) and that "Trolling or insulting/d

[2018-10-12 13:27] #4849 closed

[2018-10-12 14:09] #4727 closed

[2018-10-12 15:02] kuasha commented on #2845
My plan was to rename my package cosmos to peregrine- cosmos has so much conflict with so many things - and that why I registered that name. https://github.com/kuasha/peregrine . I understand, its frustrating to see empty packages. I am OK giving up the name since I never uploaded  the package to pypi. @ewdurbin you may transfer the ownership or let me know if I have to do it.

[2018-10-12 16:41] di commented on #4848
Done!

[2018-10-12 16:41] #4848 closed

[2018-10-12 16:43] di commented on #2845
Done! Thank you @kuasha and thanks @FlipperPA for your patience.

[2018-10-12 16:43] #2845 closed

[2018-10-12 16:45] fredrik-johansson commented on #4848
That was fast. Thank you!

[2018-10-13 09:33] pfalcon commented on #4703
Please be sure to provide the reason for each takedown case - e.g. DMCA request, government/security services involvement, somebody's whim, etc.

[2018-10-13 09:44] pfalcon opened #4855 "ReST detection/formatting is broken on today's PyPI"
**Describe the bug**
Today I published a package which has ReST (.rst) docs inlined in its PKG-INFO. The docs are shown as plain text instead of the expected formatting: https://pypi.org/project/micropython-urllib.urequest/0.6.3/ . Previous published version doesn't have this problem:
https://pypi.org/project/micropython-urllib.urequest/0.6.2/ . (The doc is changed between version in relatively mi

[2018-10-13 10:17] ewdurbin commented on #4855
Checking with pypa/readme_renderer (which is used to render readmes on PyPI):

[code]

[2018-10-13 10:18] ewdurbin commented on #4855
so the issue is invalid RST. looks like GitHub's renderer is a bit more pliable in handling the specific issue:

<img width="482" alt="screen shot 2018-10-13 at 6 17 32 am" src="https://user-images.githubusercontent.com/1200832/46904268-bf5de300-ceaf-11e8-9d29-05c2b72f6f22.png">

[2018-10-13 13:53] di commented on #4703
This issue is only about malicious packages, which are taken down by the PyPI admistrators at their discretion.

[2018-10-13 13:54] di commented on #4855
Also, you can just do `twine check` to do the same thing now, if you have the latest version of `twine`!

[2018-10-13 17:13] acgtyrant opened #4856 "Transfer my cityscapesscripts to mcordts please"
See https://pypi.org/project/cityscapesScripts/ and https://github.com/mcordts/cityscapesScripts/pull/39#issuecomment-429558888.

[2018-10-13 21:29] ahopkins commented on #4832
@di Just curious ... how long is a "timely fashion"?

[2018-10-14 01:09] di commented on #4856
@acgtyrant It looks like you're the maintainer of this package, are you not able to transfer it?

[2018-10-14 04:58] acgtyrant commented on #4856
@di I do not find any transfer page in the PyPI, I only find `delete project` in the settings page.

[2018-10-14 06:28] tirkarthi commented on #4685
Related upstream issue : https://github.com/benoitc/gunicorn/issues/1214 ?

Thanks

[2018-10-14 08:58] acgtyrant commented on #4856
I tranferred the ownship successfully.

[2018-10-14 08:58] #4856 closed

[2018-10-14 23:40] di commented on #4832
@ahopkins I've added you as Owner of `sanic` and `sanic-openai`. Please make sure to add at least one other maintainer as an owner so this is less likely to happen again.

[2018-10-14 23:40] #4832 closed

[2018-10-15 05:38] ahopkins commented on #4832
Thank you. I plan on it.

[2018-10-15 09:32] savin-berlin opened #4859 "Increase size limit request"
Hey folk,

I would like to ask you to increase the size limit for the package "zas-rep-tools" to 340 MB, because there are also inside few pretrained models for pos-tagging and also other NLP engines.

P.S.: i already publish this request here: https://github.com/pypa/packaging-problems/issues/204
But as I read in documentation, those request should be published here,  I have also published it her

[2018-10-15 12:52] nijel opened #4860 "PEP 541: transfer ownership of abandoned 'utidylib package"
I would like to request to transfer ownership of the name 'utidylib' to myself. I've agreed with original uTidylib author (Cory Dodt) to take over the maintenance of the package (few years ago), however it is owned by somebody else on the pypi, so he can not transfer the package ownership to me. Unfortunately I was not able to find any contacts for this user (cntrlr). Is it possible either to tran

[2018-10-15 12:56] jamadden commented on #4859
Do those models change at the same rate as the rest of the package? If not, might it make sense to split the package up into several different packages? An advantage would be that the large parts that change more slowly can be cached and reused.

[2018-10-15 13:06] Natim opened #4861 "Add a "request maintainer access" flow when getting blocked with upload privilege issues"
**What's the problem this feature will solve?**
Often when releasing a package, I realize I might not have pypi privileges.

**Describe the solution you'd like**
- I'd like a button in the warehouse project page to ask the owners of a project to add me as maintainer. `Request maintainer access``
- When using Twine to upload the package on pypi in case of 401 I'd like the same link to be printed to

[2018-10-15 13:41] nijel commented on #4860
Just to summary [abandonment state](https://www.python.org/dev/peps/pep-0541/#continued-maintenance-of-an-abandoned-project):

* I got permission from the original autor, but he does not control the pypi entry
* There is no way for me to contact pypi entry owner (see https://github.com/pypa/warehouse/issues/933)
* The code is now actively maintained by https://github.com/nijel/utidylib
* Changing

[2018-10-15 14:18] savin-berlin commented on #4859
you right, they not. but the thing is, that's this package (+ cli-interface) is more or less for linguists, who are not so in common with programming. and my idea was to ensure that the work with this package is so easy that it just could be possible. so, and to split it into several packages will raise the complexity of the setup  up, what could be an additional challenge for the use, which could

[2018-10-15 14:39] jamadden commented on #4859
Does splitting it up really add much work for the end user, though? They're going to have to install this package with a tool like pip (`pip install zas-rep-tools`). If this package has an install time dependency on the other packages, then those will be picked up automatically and installed with the same single command.

[2018-10-15 15:14] savin-berlin commented on #4859
ok, you right. I thought about other way..
I will do it, but than I need the limit increase for other package with this models. I already create it under following name: 'zas_rep_tools_data'.
Could you please increase the space for  this package to 310 mb.

[2018-10-15 21:20] hhslepicka opened #4865 "PEP 541: Transfer Ownership of abandoned project (pydm)"
I would like to request transfer of ownership of the name 'pydm' (https://pypi.org/project/pydm/) to myself.

I tried to contact the maintainer using the email address at PyPI and also the one available at his GitHub profile (both emails sent September 25th 2018). In both cases I had no answer.

Recently I tried to open an issue at his GitHub repo that is abandoned since November 2014.

Here is th

[2018-10-15 22:18] di commented on #4861
Thanks for the feature request! I think that #201 (Support Groups/Organizations) is probably the right path towards resolving this common problem. If there were organizations that owned multiple projects, you wouldn't need to request access to each one individually, you could just become a member of the organization once and be done.

[2018-10-16 06:16] pradyunsg commented on #4703
Is anyone working on this?

[2018-10-16 12:58] Natim commented on #4861
In my case I guess I wouldn't like to be added as a member of the organization but as a member of one of its project since I left the organization and need access only for one of their project.

[2018-10-16 12:58] Natim commented on #4861
It could also be a one time release authorization for some case.

[2018-10-17 08:00] anowlcalledjosh opened #4878 "PEP 541: ownership of the 'some' package"
I believe that the [some](https://pypi.org/project/some/) package on PyPI should be considered invalid per PEP 541:

since the package has exactly one release (over two years ago), consisting of a setup.py that contains only a description, an email address, and a URL for the home page (which doesn't exist, not even in archive.org), and no other meaningful files.

Please could ownership of the name

[2018-10-17 11:10] osilkin98 commented on #3664
I actually have this problem right now, and using both `wheel==0.31.0` and `wheel==0.32.1` (latest at the time of posting) both break the markdown formatting

[2018-10-17 14:05] di commented on #3664
Hi @osilkin98, can you link to the release with a broken description? Can you tell us how you uploaded the release to PyPI?

[2018-10-18 00:30] osilkin98 commented on #3664
@di I was typing out a response documenting how to replicate the issue and in doing so I realized that the version of wheel that was being used during the setup was installed to `python3.6`'s packages, but the one I installed and upgraded was installed to `python3.7`.

I fixed the issue simply by verbosely running `python -m pip install --upgrade wheel` in my virtual environment. My apologies for

[2018-10-18 04:34] empyrical opened #4885 "PEP 541: Requesting ownership transfer of package name "Qt""
The package in question:

https://pypi.org/project/Qt/

It appears to be a package that has been registered, but has no releases. As a result, it has no information page on it and I have no way of contacting its current owner.

I am reaching out to see if this package name could possibly be released for the [Qt for Python](https://wiki.qt.io/Qt_for_Python) project. Right now, it's still on its old

[2018-10-18 10:53] ibarbech opened #4887 "Increase size limit request"
Hey folk,

I would like to ask you to increase the size limit for the package "learnbot-dsl" to 80 MB
I need upload a file.data to the project run successfully.
[https://pypi.org/project/learnbot-dsl/](https://pypi.org/project/learnbot-dsl/)
Thx you in advance =)

[2018-10-18 12:17] psammetichus commented on #4653
It's all yours. How do we accomplish it?

[2018-10-18 16:09] di commented on #4653
@psammetichus Go here: https://pypi.org/manage/project/emd/collaboration/ and add `chathika` as Owner.

[2018-10-18 20:02] cooperlees opened #4892 "Root cause Bandersnatch hitting Stale Cached JSON API Requests"
**Describe the bug**
Summary: Bandersnatch installs hitting stale JSON API Data
Full Details: https://github.com/pypa/bandersnatch/issues/56
Purge Hack: https://github.com/pypa/bandersnatch/pull/57

**Expected behavior**
Bandersnatch not having to PURGE the cache.

**To Reproduce**
Unknown here, but I’d suggest lets add logging / collection of more data about Bandersnatch user-agent calling purges

[2018-10-18 23:43] zijwang opened #4896 "File size limit increase request"
Hi,

I am working on a [package](https://test.pypi.org/manage/project/genderperformr) as a code/model release for one of my papers. I wanted to include two pytorch models discussed in the paper, which are relatively large.

The size of your release: 98MB
Index: TestPyPI and (later) PyPI

Thanks in advance!

[2018-10-19 10:36] ibarbech commented on #4887
Can you notify me if the size limit has been extended?

Thank you

[2018-10-19 21:05] mkaja opened #4900 "cleanup all users in db"
we are cloning warehouse and creating an internal one for our environment- we are trying to get rid of all users - is there any easy way to do it ?
bcrypt$$2a$16$xq9g/NAFoiOtFkGpk/kgjOiPDPs1/pMG0GHeDHWHSOd9IY7Fah.yC	2018-08-03 17:03:32.861842	f	Henryhat		f	f	2018-08-03 17:03:32.861842	9	2018-08-03 16:38:13.55536	8aa5b520-6325-4b7c-ac92-4306ebad9397
bcrypt$$2a$16$xq9g/NAFoiOtFkGpk/kgjOiPDPs1/pMG0GH

[2018-10-19 21:12] di commented on #4900
Nope, we don't support or recommend using Warehouse for anything but being https://pypi.org.

You might be better off using a 3rd party tool, see:
* https://packaging.python.org/guides/index-mirrors-and-caches/
* https://packaging.python.org/guides/hosting-your-own-index/
* There are also many for-profit options available like Artifactory, GemFury, etc.

[2018-10-19 21:12] #4900 closed

[2018-10-19 21:53] ganik opened #4901 "Need exception to increase file size limit"
Project name: nimbusml

I have 9 wheel files for Linux/Windows/Mac platforms targeting python 2.7, 3.5 and 3.6
Each file is between 70 to 90 MBs. Need to increase both PyPI and Test PyPI.

Pls assist.
Gani

[2018-10-19 21:58] jamadden commented on #4901
Could you please tell us a little about why you need to distribute large wheels?

[2018-10-19 22:03] ganik commented on #4901
This is renamed project from approved issue #4741.  After debating for few weeks decision was made to rename to NimbusML (from mlnet). It ll be ok to revoke such perms from mlnet as I plan to delete it. The reason for big size is that it packages inside ML.NET binaries from https://github.com/dotnet/machinelearning . The good description of NimbusML is https://pypi.org/project/nimbusml/0.1.0/#desc

[2018-10-22 17:33] hhslepicka commented on #4865
@jamadden Here is a quick update:
The package owner contacted me today and agreed with the transfer.
He deleted the project at PyPI but I can't upload my package. I am getting the following error:
[code]
Can you advise on what should I do now?

[2018-10-22 17:44] hhslepicka commented on #4865
Thank you, @di
I contacted the owner to check if he can do one of the two options.
I will give an update as soon as I hear back.

[2018-10-22 20:05] annarev opened #4904 "Request for package size increase for tf-nightly-gpu-2.0-preview tf-nightly-2.0-preview"
Can we get package size increase for tf-nightly-gpu-2.0-preview and tf-nightly-2.0-preview packages? Specifically, we are requesting the following size limits:
tf-nightly-gpu-2.0-preview: 360M (current size of our wheel is a little over 300M)
tf-nightly-2.0-preview: 100M (current size of our wheel is at 80MB)

(As a note, we are deprecating tf-nightly-xla-gpu package, which I requested package siz

[2018-10-22 23:44] di commented on #4901
I've set the upload limit for `nimbusml` to 100 MB on PyPI.

[2018-10-22 23:44] #4901 closed

[2018-10-22 23:46] di commented on #4896
I've set the upload limit for `genderperformr` to 100 MB on TestPyPI. You'll need to create a release of the project on PyPI before I can increase the limit.

[2018-10-22 23:48] di commented on #4904
I've set the limit for `tf-nightly-gpu-2.0-preview` to 400MB  and set the limit for `` to 100MB on PyPI.

[2018-10-22 23:48] #4904 closed

[2018-10-22 23:52] di commented on #4887
I've set the upload limit for `learnbot-dsl` to 100 MB on PyPI.

[2018-10-22 23:52] #4887 closed

[2018-10-22 23:54] di commented on #4859
I've set the upload limit for `zas-rep-tools` to 340 MB on PyPI. This is quite large, please be mindful of how often you make a new release.

[2018-10-22 23:54] #4859 closed

[2018-10-22 23:58] di commented on #4836
@IvanAnishchuk Do you have access to the https://bitbucket.org/ib_soft organization anymore? Or do you have any other way to verify that you own this account?

Also, I noticed that there is a user account https://pypi.org/user/IvanAnishchuk/, is this you as well?

[2018-10-22 23:59] di commented on #4779
Going to close this as it seems to have been a transient issue with our CDN or the network, please feel free to reopen if it reoccurs!

[2018-10-22 23:59] #4779 closed

[2018-10-23 00:07] zijwang commented on #4896
@di I have created a release also on PyPI. Please see whether you could increase the limit now. Thanks!

[2018-10-23 00:11] di commented on #4896
I've set the upload limit for `genderperformr` to 100 MB on PyPI.

[2018-10-23 00:11] #4896 closed

[2018-10-23 03:17] hhslepicka commented on #4865
Thank you all for the support.
I am closing this issue since I was able to get the project transferred to me by the previous owner.
https://pypi.org/project/pydm/

[2018-10-23 03:17] #4865 closed

[2018-10-23 06:42] ibarbech commented on #4887
Thank you.

[2018-10-23 08:34] igotcha commented on #4892
we have the same problem here:

2018-10-23 16:30:58,066 INFO: bandersnatch/3.0.0.dev0 (cpython 3.6.6-final0, Linux x86_64)
2018-10-23 16:30:58,123 INFO: Syncing with https://pypi.python.org.
2018-10-23 16:30:58,124 INFO: Current mirror serial: 4344762
2018-10-23 16:30:58,124 INFO: Resuming interrupted sync from local todo list.
2018-10-23 16:30:58,188 INFO: Trying to reach serial: 4346516
2018-10-

[2018-10-24 00:00] timkpaine opened #4916 "Potential malicious packages/name squatting"
These three packages look like forks of the corresponding packages (without the 3 appended), and have identical PyPI homepages except for the maintainers field. It doesn't look like theres any malicious code yet, but it would be super easy to do so and keep the home page looking "authentic".

https://pypi.org/project/empyrical3/
original:
https://pypi.org/project/empyrical/

https://pypi.org/proje

[2018-10-24 00:33] dhirschfeld commented on #4916
Even if it's not actively malicious it's too easy for even experienced users to be confused and end up installing code they didn't mean to. `cufflinks3` `0.14.5` is ***not*** the same code as `cufflinks` `0.14.5` so it should be very clear to users that this is the case.

This is exacerbated by the fact that a number of the packages aren't forks of the upstream repo but are instead wholesale copie

[2018-10-24 00:34] dhirschfeld commented on #4916
As it is, I think they should be removed.

[2018-10-24 00:42] timkpaine commented on #4916
also in most cases where forking occurs, the previous package is no longer maintained, and the new package makes it very clear that it is distinct from the original.

[2018-10-24 08:47] djc opened #4917 "PEP 541: Claiming the fixlib package"
I'm the original author of the [fixlib](https://pypi.org/project/fixlib/) package, from when I was working for a now-wound down startup. As such, the email address, homepage and original repository are no longer accessible -- and the last release dates from 2010.

I'd like to reclaim ownership with my personal PyPI account (djc) in order to upload a newer release that has a number of fixes (new re

[2018-10-24 13:53] ekohilas opened #4918 "Claim name of removed package "acid'"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2018-10-24 14:07] ekohilas opened #4919 "Claim name of removed package "acid""
Hi PyPi,

I would like to claim the package name "acid".
I understand that [PEP541](https://www.python.org/dev/peps/pep-0541/) has been accepted and a system for this is in the works however I would like to enquire regardless as all the current issues that are to do with packages that are still existing on pypi.org

As far as I understand, this package has been removed, and is nowhere to be found,

[2018-10-24 14:12] jamadden commented on #4918
Superseded by #4919

[2018-10-24 14:12] #4918 closed

[2018-10-24 14:48] ekohilas commented on #4918
sorry for the spam, I don't know how this happened.

[2018-10-24 14:49] di commented on #4916
This has been resolved, as far as the potential for typo-squatting goes.

If individual projects still have an issue with the forks, they need to take that up with the maintainer directly.

[2018-10-24 14:49] #4916 closed

[2018-10-24 17:55] gmeyer-hw opened #4922 "Transfer ownership of abandoned hyperwallet-sdk package"
I would like to request to transfer ownership of https://pypi.org/project/hyperwallet-sdk/ to myself (gmeyer - pypi.org  account).  The maintainer no longer release new versions on PyPI repository since Oct 11, 2017, to the version 1.1.1 and I’ve pushed some new features in the git repository (https://github.com/hyperwallet/python-sdk) and I would like to publish the most recent implementations.

[2018-10-24 18:17] jamadden commented on #4922
Have you attempted to contact the PyPI maintainer, who would appear to be @dharrison-hw? Or using the listed contact address at devsupport@hyperwallet.com ?

[2018-10-24 19:06] gmeyer-hw commented on #4922
I've tried to contact @dharrison-hw but he no longer works for Hyperwallet and he doesn't have access to PyPI account.  This is the main reason I claimed the ownership of the Hyperwallet-SDK.
And this email devsupport@hyperwallet.com is our product support email.

[2018-10-25 02:39] TheRealEaglebird opened #4928 "ino fails to compile a sketch if a library is duplicated between the arduino libraries and the source directory"
I'm using ino on a remote, headless machine which has an Arduino attached to it. I use ino to compile and upload sketches.

This forum thread contains a few screenshots and snippets of terminal output during my debug:
https://forums.adafruit.com/viewtopic.php?f=31&t=142751

I had a problem that I, for the life of me, could not figure out. It started when I verified a sketch on my desktop, moved it

[2018-10-25 03:33] TheRealEaglebird commented on #4928
Thank you,  hoping my post finds anyone in need at any rate.

On Wed, Oct 24, 2018, 11:25 PM Jason Madden <notifications@github.com>
wrote:

[2018-10-26 08:07] rhsimplex opened #4938 "Transfer of ownership of image-match package"
Hi,

I am the original author of [image-match](https://pypi.org/project/image-match/) , requesting transfer of Pypi ownership from ascribe to myself (username: rhsimplex).

Current github: https://github.com/EdjoLabs/image-match
Former github: https://github.com/ascribe/image-match (note the redirect)
Troy McConaghy, @ttmc, an administrator at ascribe, can confirm the transfer of ownership and tha

[2018-10-27 09:14] xni opened #4939 "`make build` is broken"
[code]

[2018-10-27 09:14] xni commented on #4939
Looks like the problem is that `itsdangerous=1.0.0` was removed

[2018-10-27 10:29] xni commented on #4626
@di, I'd like to work on this issue from the Bloomberg London PyPA Sprint

[2018-10-27 11:12] xni commented on #1536
@di, may be it makes sense to mark it for Bloomberg 2018 Event?

[2018-10-27 13:45] di commented on #4939
Fixed in #4940.

[2018-10-27 13:45] #4939 closed

[2018-10-27 13:54] shevelevs opened #4943 "Wrong dependency - itsdangerous 1.0.0"
**Describe the bug**
make build fails because of dependency on itsdangerous=1.0.0 which seems to be deleted

**Expected behavior**
There should be no dependency on the missing package

**To Reproduce**
run make build -->

[code]

**My Platform**
mac os

[2018-10-27 13:56] shevelevs commented on #4943
the change to requirements/main.txt that seems to fix the build (haven't run the tests though)
[code]

[2018-10-27 13:57] jaraco opened #4944 "Access Restoration Request - cburgmer"
In cburgmer/upsidedown#6, the maintainer has lost access to his PyPI account. His [email address can be found here](https://github.com/cburgmer/upsidedown/blob/master/upsidedown.py#L40). @cburgmer, can you confirm that's your current address and that's the address you would need to have associated with [your PyPI account](https://pypi.org/user/cburgmer/) in order to reset your password and restore

[2018-10-27 14:19] xni commented on #4943
It is already fixed by https://github.com/pypa/warehouse/issues/4939

[2018-10-27 14:20] di commented on #4943
Thanks for the report! This was fixed in #4940.

[2018-10-27 14:20] #4943 closed

[2018-10-27 14:52] xni opened #4948 "`make reformat` fails (I'm using Python 3.7)"
$ make reformat
# Create our Python 3.6 virtual environment
rm -rf .state/env
python3.6 -m venv .state/env
make: python3.6: No such file or directory
make: *** [.state/env/pyvenv.cfg] Error 1

[2018-10-27 15:04] leoz0610 commented on #3838
Can I work on this issue at Bloomberg PyPA Sprint?

[2018-10-27 15:06] di commented on #4948
At the moment you'll need Python 3.6 installed on your machine to run this command. I'd recommend using [`pyenv`](https://github.com/pyenv/pyenv) to have multiple Python versions installed.

If you're interested, we might want to look into a way to move this into a Docker container instead, to avoid this issue in the future.

[2018-10-27 15:07] xni commented on #4626
This is the first part, where I'm adding deprecation alternative to the admin page.

I will try to complete the second part (message for the API) tomorrow.

[2018-10-27 15:11] xni commented on #4948
Yes, it would be great! Same for linting...

[2018-10-27 15:14] shevelevs commented on #4948
@di, I can work on this - should be pretty straightforward

[2018-10-27 15:14] steiza commented on #994
I botched a merge with upstream on that branch, see instead #4949.

[2018-10-27 15:32] rupali-saboo commented on #3127
I'd like to try this for the PyPA sprint

[2018-10-27 15:33] shahnevil0 commented on #3877
I'm working on this (i.e. continuing from where @pgadige left off)

[2018-10-27 15:59] di opened #4951 "Indicate in contributor documentation that we prefer American English"
In the contributor documentation, we have something of a style guide for language in the UI: https://warehouse.readthedocs.io/ui-principles/#write-clearly-with-consistent-style-and-terminology

We should expand on this to indicate that in order to be consistent, we prefer American-English spelling over British-English.

Additionally, it would be great if we could audit the codebase for British-Eng

[2018-10-27 16:05] oliviersm199 commented on #4703
Hey I will pick it up at the Bloomberg NYC Sprint!

[2018-10-27 16:13] shevelevs commented on #4948
I guess the question is whether you should be able to run stuff (especially build docs) without having to run docker. If that's the case, it makes sense to still preserve venv on the host machine. _Or_ it could be either separate target (IMO messy) or some kind of command line option or environment variable so you can select whether you want host or docker (or just default to docker if py3.6 is no

[2018-10-27 16:19] shevelevs commented on #1536
+1, sounds like an issue that could be addressed by https://github.com/orgs/pypa/projects/1

[2018-10-27 16:28] di commented on #1536
Can someone create a new PR resolving the conflicts from #3978 and verify that it works?

[2018-10-27 17:18] steiza commented on #4772
I'm going to start working on this as part of the PyPA sprints. If anyone is interested in pairing, let me know!

[2018-10-27 17:19] smenon8 commented on #4951
submitted a [PR](https://github.com/pypa/warehouse/pull/4954)

[2018-10-27 17:34] ewdurbin commented on #4772
Ah, this is already pretty far along in my court @steiza. Given that it will require an admin to roll out (potential downtime, db backups, etc). I'll continue on it!

[2018-10-27 19:47] #3877 closed

[2018-10-27 19:51] griselleong commented on #3515
Would like to work on this

[2018-10-27 20:08] oliviersm199 commented on #4703
#4962 relates to this issue

[2018-10-27 20:19] shahnevil0 opened #4963 "Update gettting-started docs for Windows make execution"
In order to allow Windows users to run make using WSL (Windows subsystem for Linux), we should update the getting-started document with steps for setting up & using WSL to this end.

[2018-10-27 20:55] emesik opened #4966 "Transfer of ownership and conversion to lowercase of the Monero package"
As I signaled before in #2859, the `Monero` package name [has been squatted](https://pypi.org/project/Monero/). Nine months have passed since its creation and no working code appeared since then.

I'm a developer of the `monero-python` package which already had 9 releases:
* Github: https://pypi.org/project/monero-python/
* PyPi: https://github.com/emesik/monero-python

I'd like to get rid of the

[2018-10-27 22:56] srittau opened #4967 "typeshed and third-party packages"
Quick background: [typeshed](https://github.com/python/typeshed) is a collection of PEP 484 type hint files for Python's standard library as well as third-party libraries that don't ship their own type hints. Currently, type checkers such as [mypy](http://mypy-lang.org/) and [pytype](https://github.com/google/pytype) as well as IDEs such as [PyCharm](https://www.jetbrains.com/pycharm/) ship a comp

[2018-10-27 23:01] dstufft commented on #4967
I would suggest doing something like ``ts.foo`` or even ``typeshed.foo`` or ``types.foo`` or whatever. The reason for putting the commmon prefix first, is that I have plans to allow projects to claim a namespace, and I've always planned on making that so that it was anchored to the start of the name. My plan has been to implement something like Nuget's [ID Prefix Delegation](https://docs.microsoft

[2018-10-27 23:06] srittau commented on #4967
(#4164 is also relevant to this discussion.)

[2018-10-27 23:07] dstufft commented on #4967
Yea a lot of my comments in #4164 are directly relevant, because I originally understood #4164 to be proposing what this ticket is proposing.

[2018-10-27 23:10] srittau commented on #4967
Having namespaces would solve this problem very neatly, of course. Does pypi already support uploading packages containing a dot?

[2018-10-27 23:10] ethanhs commented on #4967
I agree a prefix of `ts.pkg` or `typeshed.pkg` make much more sense here. In #4164, and in PEP 561, the idea was to make the stubs package a related package to the main one, just like pytest-xdist is a related package to pytest. Here we want to signify the packages are related to the typeshed project, so some prefix based on typeshed makes the most sense to me.

[2018-10-27 23:16] dstufft commented on #4967
Yea, it actually considers ``-``, ``.``, and ``_`` to all be equivalent so ``ts-pkg`` and ``ts.pkg`` are the same thing. I just used ``.`` out of habit. (well and because I have a slight preference for using it for namespaces). But they're all equal as far as any standards based packaging tool is concerned.

So there currently is not a mechanism for registering namespaces. There are a few ways thi

[2018-10-28 08:11] cburgmer commented on #4944
Yes, this is my current email address.

[2018-10-28 11:13] pradyunsg commented on #4680
@pganssle I removed this from the Project board, since it's blocked as @di noted above.

[2018-10-28 12:10] davidenunes opened #4968 "PEP 541: ownership of the 'exp' package"
I would like to take over package "[exp](https://pypi.org/project/exp/)", which under PEP 541 is an "Invalid Project", I would like to publish my own package with the same name.

The package was "released" in [Jul 5, 2018](https://pypi.org/project/exp/#history), but it is empty, the project homepage does not exist, and I couldn't find any contact from the maintainer to contact him. The package doe

[2018-10-28 13:58] di commented on #4944
@cburgmer You should have a password reset in your inbox, let us know when you've regained control of your account.

[2018-10-28 14:53] jamadden commented on #4968
It appears that the PyPI author might be the github user @vmalloc based on the repo links in their other repositories. Have you tried pinging them to ask for a transfer?

[2018-10-28 14:57] di commented on #4714
You can get hashes via our [JSON API](https://warehouse.readthedocs.io/api-reference/json/), for example:

[code]

The "click to copy" feature should gracefully degrade when JavaScript is not available though, so I'll leave this issue open to fix that.

[2018-10-28 15:17] davidenunes commented on #4968
I found that as well and tried to find the @vmalloc contact on his personal webpage, but no e-mail to be found, any recommendation ?

[2018-10-28 15:28] vmalloc commented on #4968
Hi, yeah it's me... I released it more or less by mistake (was looking for a project name and tried it without picking up on it).

I can release it if you want - what is the process for doing this and making sure it gets transferred to @davidenunes ?

[2018-10-28 15:30] di commented on #4968
@vmalloc You'll need to go to https://pypi.org/manage/project/exp/collaboration/ and add `davidenunes` as an "Owner".

[2018-10-28 15:30] davidenunes commented on #4968
Hi, thanks for your response @vmalloc , I didn't know how to contact you without creating an issue somewhere :) I appreciate it.

[2018-10-28 15:41] brainwane opened #4969 "Update list of directories in documentation"
The high-level "how this application works" documentation in https://warehouse.readthedocs.io/application/#file-and-directory-structure has a list of "Directories within the repository" that needs refreshing.

Look at the directory structure within `warehouse/` and update the text in `docs/application.rst`.

**Good First Issue**: This issue is good for first time contributors. If you've already co

[2018-10-28 17:55] melsyt commented on #4969
I alphabetized the list and added the following:

- emails
- metrics
- search

I put down my best guess for short descriptions (not sure what to say for search..). Happy to update the doc if I can get some suggestions!

<img width="740" alt="file_dir" src="https://user-images.githubusercontent.com/42623406/47619773-a280fc80-dab8-11e8-9544-cdc3983f14db.png">

[2018-10-28 19:19] #4035 closed

[2018-10-28 19:35] di commented on #4018
Fixed in #4941.

[2018-10-28 19:35] #4018 closed

[2018-10-28 19:41] #4969 closed

[2018-10-28 20:06] vmalloc commented on #4968
Done!

[2018-10-28 23:17] Zac-HD opened #4973 "Request trove classifier for Hypothesis"
Request to add a new Trove classifier, `Framework :: Hypothesis` for the [Hypothesis](https://hypothesis.works/) testing ecosystem.

### Why do you want to add this classifier?

There are already tens of packages on PyPI that extend Hypothesis, by providing custom strategies or integrating with another framework (here's [a curated subset](https://hypothesis.readthedocs.io/en/latest/strategies.html

[2018-10-28 23:55] davidenunes commented on #4968
confirmed :+1:, thanks @vmalloc and everyone :)

[2018-10-28 23:55] #4968 closed

[2018-10-30 12:57] ExplodingCabbage commented on #4892
This issue became the topic of today's Daily WTF: https://thedailywtf.com/articles/it-s-a-little-stale

A commenter there bitched that this issue doesn't contain proper instructions on how to reproduce, while the Daily WTF article almost does and so is actually more useful as a bug report than this issue is. I don't understand everything here well enough to evaluate whether that's a fair comment,

[2018-10-30 13:09] mailukas commented on #4892
@ExplodingCabbage [pypa/bandersnatch#56](https://github.com/pypa/bandersnatch/issues/56) contains full details (more than the Daily WTF article).

[2018-10-30 14:35] migwellian opened #4979 "request for file size limit exemption or increase for "keanu""
Project: https://test.pypi.org/project/keanu/
Size of release: 76MB
Which indexes to increase: both PyPI and Test PyPI

Hi there, could you please allow us to submit files of size up to 80MB? We would like to submit both a .whl and a tar.gz of this size.

[Keanu](https://github.com/improbable-research/keanu/) is an open-source library for probabilistic programming. It is written in Java and makes

[2018-10-30 16:11] di commented on #4973
I've added this classifier.

[2018-10-30 16:11] #4973 closed

[2018-10-30 17:31] di commented on #4979
I've set the upload limit to 100MB for `keanu` on both PyPI and TestPyPI.

[2018-10-30 17:31] #4979 closed

[2018-10-30 17:44] deepanrsat opened #4980 "increase limit for file size upload"
Project: https://pypi.org/project/heresuperset/
Size of release: 65MB
Which indexes to increase: both PyPI and Test PyPI

Hello, could you please increase the file size up to 100MB to upload? We would like to submit both a .whl and a tar.gz of this size.

heresuperset is the fork of the project apache incubator superset with custom authentication. https://pypi.org/project/superset/

Thanks

[2018-10-30 21:32] Zac-HD commented on #4973
Thanks @di - much appreciated!

[2018-10-31 00:42] jbagga opened #4981 "Transfer ownership of msgen on TestPyPI"
I am an owner of "msgen" on pypi.org as jbagga but I do not have access to the test instance at test.pypi.org.

I'd like to request to be added as an owner to "msgen" on TestPyPI (username: jbagga). The current maintainer on TestPyPI for "msgen" is a retired account.

GitHub: https://github.com/MicrosoftGenomics/msgen

Thanks!

cc @tracykard

[2018-10-31 05:17] YMIndustries commented on #4892
And that issue was posted by Megan K. Mystery solved.

[2018-10-31 07:00] mherrmann opened #4985 ""Filename has already been used" when uploading"
I have a package called [fbs](https://pypi.org/project/fbs/) on PyPI. Every once in a while, I get the following error while trying to upload a new version with `twine`:

    HTTPError: 400 Client Error: This filename has already been used, use a different version. See https://pypi.org/help/#file-name-reuse for url: https://upload.pypi.org/legacy/

The error occurs even though I have never uploade

[2018-10-31 07:12] mherrmann commented on #4985
Looks like this is related to [pypa/packaging-problems/#74](https://github.com/pypa/packaging-problems/issues/74). But it's also somewhat different in that the scenario there is to re-upload after deleting a file. The present issue is likely about re-uploading after deleting the entire package.

[2018-10-31 07:15] mherrmann commented on #4985
Also seems like what I'm experiencing is pypa/packaging-problems/issues/188. Except that there, the owner deleted the package himself. I seem to have unknowingly inherited a package from a previous author.

[2018-10-31 10:38] migwellian commented on #4979
Thanks @di !

[2018-10-31 13:50] ExplodingCabbage commented on #4892
I've nuked a previous comment of mine (referred to above by @mailukas and @YMIndustries) because, unbeknownst to me at the time that I posted it, it leaked some information that was meant to be private. If a repo maintainer comes along, I suggest they delete the two comments above by @mailukas's and @YMIndustries, and also this one. (@mailukas and @YMIndustries may also wish to delete their own co

[2018-10-31 16:20] di commented on #4985
@mherrmann You are correct, the `fbs` project has deleted releases from a previous owner. You can see the list of all actions done to the project, including which files/versions have already been uploaded at https://pypi.org/manage/project/fbs/history/.

This is essentially a duplicate of #4440, which proposes to fix this confusion by "soft" deleting projects, releases and files, and having them p

[2018-10-31 16:20] #4985 closed

[2018-10-31 16:52] mherrmann commented on #4985
Makes sense. Thanks :-)

[2018-10-31 18:02] jbagga commented on #4981
@di Thanks! How long does it take to reflect on TestPyPI? I am not listed as an owner yet.

[2018-10-31 18:57] di commented on #4981
@jbagga Sorry! Looks like I didn't actually submit the form. Should be live now.

[2018-10-31 18:58] jbagga commented on #4981
Perfect, thanks!

[2018-11-01 01:23] yajiedesign opened #4986 "Increase the project limit size."
The name of the project: mxnet-cu100 and mxnet-cu100mkl
The size of your release, in megabytes: 600mb
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both
Please help me increase my upload limit, thank you

[2018-11-02 10:04] srittau commented on #4967
I will look into the namespace thing, hopefully in the next few months as I consider this a showstopper for typeshed going forward. No promises. Is #2589 and/or distutils-sig the best place to discuss namespaces?

[2018-11-02 18:40] dstufft commented on #4967
Hmm, I think that #2589 is asking for a different thing, it wants to force everyone into some user namespace, and allow some vote or something to promote a project into the "flat" namespace. I'm on my phone, but I think we should just open an issue to copy Nuget's prefix id reservations system (or turn this into into it).

[2018-11-02 22:27] aaronlelevier opened #4998 "Prevent malicious packages being published with typo'ish names"
**What's the problem this feature will solve?**
Prevent malicious packages being published with typo'ish names

**Describe the solution you'd like**
I'd like to propose an algorithm that blocks malicious packages with similar names to well known packages from being published.

Recently there were articles about 12 malicious packages found. Several of them had names very close to Django, and as an

[2018-11-03 00:03] di commented on #4998
This is more or less the same as #2268, so I'm going to close this as a duplicate, but thanks for the feature request!

[2018-11-03 00:14] aaronlelevier commented on #4998
@aaronlelevier thanks for taking a look at my issue. I'll check the existing issue then. Thanks.

[2018-11-03 18:20] paulmelnikow opened #5002 "Requesting ownership of invalid `vx` package"
The [vx package](https://pypi.org/project/vx/) appears to be invalid. It was published once, and is empty.

I sent @matkallada an email on October 2 asking if he would transfer the name, and followed up twice, but did not hear back.

The project I would like to publish is currently at https://pypi.org/project/vector-shortcuts/, though it's traditionally been imported as `vx`.

Thanks so much!

[2018-11-03 19:41] MatKallada commented on #5002
@paulmelnikow I never received any e-mails from you. Which e-mail did you send it to?

[2018-11-03 20:04] paulmelnikow commented on #5002
Thanks for responding!

I sent it to mattkallada@gmail.com… which it looks like I misread from your website. One t, not two. Sorry about that!

Here's what I sent:

[2018-11-03 20:53] paulmelnikow commented on #5002
These packages are identical, and were published in the last hour:

1. https://pypi.org/project/force/0.1.1/#history
2. https://pypi.org/project/vortex/0.1.1/#history
3. https://pypi.org/project/vx/0.1.1/#history

I'm surprised at this response to my post! PEP 541 does not allow name squatting.

[2018-11-04 14:51] cburgmer commented on #4944
Works. Thanks, and sorry for the hassle!

[2018-11-04 20:08] johny-c opened #5003 "pypi shows old package version number"
Hi all, I'm author/maintainer of the package [pylmnn](https://github.com/johny-c/pylmnn). I updated my package and uploaded the new versions to pypi. When I search for the package on [pypi.org](https://pypi.org/search/?q=pylmnn), I see an old release number next to the package name (1.5.2), but after clicking I can see the new versions. Same with pip, when I search, I see the old version number, b

[2018-11-05 06:04] MatKallada commented on #5002
@paulmelnikow

These names are in use and absolutely aren't name squatting. Frankly, I'm a bit appalled at your request. I've updated them accordingly with my updated e-mail information.

As per the PEP 541 regulations, I amicably encourage you to look for another name. I do understand where you are coming from and I know how this can be frustrating. I wish you all the best for your project.

[2018-11-05 09:38] johny-c commented on #5003
Seems to be fixed now for my package.

[2018-11-05 12:08] cas-- opened #5010 "Transfer ownership of "Deluge""
I am the lead developer of [Deluge](http://deluge-torrent.org/) and was attempting to upload it to pypi but I have found that `igor.fraa` (un)helpfully uploaded a single development version https://pypi.org/project/deluge/#history several years ago. I don't know who they are, they are not part of the Deluge team, and I have no way of contacting them to claim ownership.

I am looking to release Del

[2018-11-06 23:50] matthewwardrop opened #5017 "New packages not appearing in pypi.org/simple index"
**Describe the bug**
I recently uploaded a new package to the PyPI (https://pypi.org/project/adnotatio-server/), and it successfully appears at https://pypi.org/simple/adnotatio-server/, but not in the index at https://pypi.org/simple/. Prior to today, packages uploaded in this manner appear in this index straight away, so I am not sure if there is something going on with the index cache. I have c

[2018-11-07 16:14] di commented on #5017
This seems to be resolved now, and we've had other reports of stale caches (like #4892) so I'll close this as a duplicate. Thanks for the report!

[2018-11-07 16:14] #5017 closed

[2018-11-07 16:14] di commented on #4892
Another report of a stale cache: #5017.

[2018-11-08 11:42] rhsimplex commented on #4938
@jamadden Thanks, any way to get this moving?

[2018-11-09 01:29] dpursehouse opened #5026 "Restore access to account David.Pursehouse"
I am unable to log in due to the error `This password appears in a breach or has been compromised and cannot be used`.

I've submitted a reset request via the website, but have not received the email.

I suspect the problem is that the email address on the account is one that I no longer have access to (it's at my previous employer and I probably forgot to change it when I moved).

[2018-11-09 01:40] dpursehouse commented on #5026
Update: I confirmed that the account has the old email address.  Requesting a reset with my current email address failed, but requesting with the old email address went through OK (although I no longer have access to it, so can't complete the reset).

[2018-11-10 01:28] dstufft opened #5031 "Paginate History Page"
The history pages in the management UI (``/manage/project/{foo}/history/``) does not paginate the results, and it should. The longer a project exists for, the longer this page is going to get.

[2018-11-10 22:33] roberson-io commented on #5031
This is a really new issue, but it seems like it might be good for a first-timer like me.  If so, I would be interested in working on this.

[2018-11-11 12:53] yeraydiazdiaz commented on #4662
Had a quick look at this issue and seems we're "humanizing" the date of the release in the Jinja template, which relies on the [`request.locale`](https://github.com/pypa/warehouse/blob/master/warehouse/i18n/filters.py#L24). I searched the Webob docs for it and looks like [it's not "fully calculated"](https://docs.pylonsproject.org/projects/webob/en/stable/differences.html?highlight=locale#id11).

[2018-11-11 12:59] yeraydiazdiaz commented on #4662
I guess the formatting *is* dependant on the locale, but the timestamp is always in UTC.

I'll implement the controller I mentioned before.

[2018-11-11 21:13] di commented on #5026
@dpursehouse Please email me at `di@python.org`.

[2018-11-11 22:00] #5026 closed

[2018-11-12 14:47] mukul3062 opened #5056 "While installing PasteScript 1.7.5, getting dependencies error(Searching for setuptools-scm>=1.15.0)"
**Describe the bug**

./usr/bin/python setup.py bdist_egg -vvvvv
running bdist_egg
running egg_info
Searching for PasteDeploy
Best match: PasteDeploy 1.5.2
Processing PasteDeploy-1.5.2-py2.7.egg

Using dir/downloads/dist/PasteScript-1.7.5/.eggs/PasteDeploy-1.5.2-py2.7.egg
Searching for Paste==3.0.3
Reading https://pypi.python.org/simple/Paste/
Best match: Paste 3.0.3
Downloading https://files.pyth

[2018-11-12 15:48] ewdurbin commented on #5056
Hi @mukul3062! This issue tracker is for issues related to the codebase that runs pypi.org itself, not the projects hosted there.

You issue should likely be filed at https://bitbucket.org/ianb/pastescript/issues?status=new&status=open, but I do note that the error message is helpful:

You may want to update `setuptools` and see if that resolves your problem.

[2018-11-12 15:48] #5056 closed

[2018-11-12 16:52] FlipperPA commented on #2845
Thank you all very much! I'm just catching up post-DjangoCon US and this is wonderful.

[2018-11-13 10:57] cas-- commented on #5010
Has anyone started the process? I am reliant on PyPi maintainers fixing this.

Also waiting six weeks seems excessive, in this instance the maintainer has clearly abandoned it and is our project code.

[2018-11-13 15:04] pradyunsg commented on #4097
It might be useful to ask let the folks maintaining awscli to take a look at the situation and see if they can resolve this situation from their end, if they have control over the package.

[2018-11-14 19:06] heuermh commented on #4414
Ping for update on this issue, I'm having the same trouble.  There seems to be no UI for a user to request the maintainer role for a project from the project owner.  If the project owner is non-responsive, what is the process for adding alternate project owner(s) and maintainer(s)?  The link above is broken.

[2018-11-14 19:32] di commented on #4414
@heuermh Correct, you cannot currently request ownership/maintainership. See #4861 for a related feature request.

If the owner is unresponsive, the process is: https://www.python.org/dev/peps/pep-0541/

[2018-11-14 20:09] #4662 closed

[2018-11-16 19:53] scruffystuffs commented on #3664
This problem is still occurring when running `python setup.py sdist bdist_wheel` and `twine upload` from a windows machine.

Tested ubuntu 18.04 and windows 10.  Ubuntu uploads everything fine, but running the exact same commands from a windows machine causes the above issue to appear with the exact same files.

setuptools, wheel, and twine are all at or beyond the levels specified in the above co

[2018-11-16 19:54] gmeyer-hw commented on #4922
I've tried to contact @dharrison-hw but I don't have any answered.

[2018-11-16 20:10] pfalcon opened #5078 "Official PyPI way to render strikethru in .rst description?"
**Describe the bug**

I'm unable to render strike-thru text in long_description in reStructuredText: https://pypi.org/project/picoweb/1.5/ . Given that there's no builtin strike-thru support in .rst (big-big sigh), I was using one of the method described in https://stackoverflow.com/questions/15989218/how-to-do-strikethrough-in-a-restructuredtext-file-hosted-on-github , that happened to be:

[code

[2018-11-16 20:11] pfalcon commented on #5078
Was kindly and promptly helped by @ewdurbin and @di with my previous similar issue https://github.com/pypa/warehouse/issues/4855, so dare to ping them directly. Thanks in advance.

[2018-11-16 20:33] di commented on #3664
@scruffystuffs Can you point me to a distribution on PyPI that you've uploaded that has this problem?

[2018-11-16 20:51] scruffystuffs commented on #3664
[Uploaded from Windows](https://test.pypi.org/project/clac/0.0.6/)
[Uploaded from Ubuntu](https://test.pypi.org/project/clac/0.0.7/)

The files for these distributions should be identical, other than the version number, yet they render entirely differently on the project page.

If any more info is needed, let me know and I will be happy to provide it.

[2018-11-16 21:08] di commented on #3664
@scruffystuffs Looking at the metadata of the source distribution of your package, it has Windows-style line endings in the `Description`, so it looks like you've having the same issue as https://github.com/pypa/setuptools/issues/1440

[2018-11-17 18:30] #3515 closed

[2018-11-17 19:08] #1299 closed

[2018-11-18 16:56] nlhkabu opened #5085 "Add actual date and time to 'timeago' dates"
As per feedback here:

Right now, we display a humanized version of the date / time.

As per feedback here: https://github.com/pypa/warehouse/pull/4402#issuecomment-410383106

For this, I think we should add a tooltip that shows *on hover*, e.g.

![screenshot from 2018-11-18 15-14-36](https://user-images.githubusercontent.com/3323703/48674475-b3b3ab00-eb44-11e8-9c7c-6501914206b6.png)

The datetime

[2018-11-18 16:56] nlhkabu commented on #3010
I think we can have the best of both world's - see https://github.com/pypa/warehouse/issues/5085

[2018-11-18 16:58] nlhkabu commented on #5031
thank you @roberson-io

[2018-11-18 16:58] #5031 closed

[2018-11-19 07:54] nlhkabu commented on #3010
Closing this in favor of #5085.  Thanks for opening @ThomasWaldmann

[2018-11-19 07:54] #3010 closed

[2018-11-19 09:36] cas-- commented on #5010
@igorfraa Are you the same user as `igor.fraa` on PyPi?

[2018-11-19 13:37] #1536 closed

[2018-11-19 14:39] #3868 closed

[2018-11-19 16:26] ewdurbin opened #5087 ""Invalid Date" displayed in Safari"
**Describe the bug**

When viewing release history in Safari 12.0.1 on MacOS 10.13.6 dates are rendered as `Invalid Date`.

![screen shot 2018-11-19 at 9 54 03 am](https://user-images.githubusercontent.com/1200832/48720436-ae5e6b00-ebed-11e8-838b-5ef5d60c9ecb.png)

**Expected behavior**

New localized macros added in #5041 should render a humanized/localized date.

**To Reproduce**

View https://p

[2018-11-19 20:38] justinmayer opened #5088 "Requesting ownership transfer of package "django-autoslug""
Hi folks. I am the maintainer of [django-autoslug](
https://github.com/justinmayer/django-autoslug). The original author, @neithere, was kind enough to transfer the project to me but forgot to do the same for the PyPI package.

GitHub repo transfer confirmation:
<img width="757" alt="image" src="https://user-images.githubusercontent.com/1503700/48733408-3b162280-ec08-11e8-94e8-e6ec064b9094.png">

[2018-11-20 06:48] nlhkabu commented on #5087
@yeraydiazdiaz would you be able to look into this one?

[2018-11-20 08:11] #3840 closed

[2018-11-20 11:37] yeraydiazdiaz commented on #5087
Sure thing

[2018-11-20 20:13] yeraydiazdiaz commented on #4772
@ewdurbin is there anything else pending for this issue or should can it be closed?

[2018-11-20 20:14] #4772 closed

[2018-11-20 20:17] #5087 closed

[2018-11-20 20:31] di commented on #1919
No longer blocked.

[2018-11-20 20:32] di commented on #4680
No longer blocked.

[2018-11-20 20:43] gostevehoward opened #5095 "Transfer ownership for package "ABBA""
Hi, I uploaded the package [ABBA](https://pypi.org/project/ABBA/) under a PyPI account `Steve.Howard` registered to my email at my previous company. I have long since lost access to that email account. I do have control of the [GitHub repository](https://github.com/thumbtack/abba) under this GitHub account (`gostevehoward`). Can you transfer ownership of the "ABBA" package to my new PyPI username

[2018-11-21 14:38] ewdurbin commented on #3626
Is this resolved now?

[2018-11-21 14:57] ewdurbin opened #5103 "Code Coverage Reporting broken?"
Just ran suite locally and saw we've dropped below 100%... and confirmed that Travis is seeing the same:

https://travis-ci.org/pypa/warehouse/jobs/457654151#L1452

But our reporting to Codecov is happy? https://codecov.io/gh/pypa/warehouse

[2018-11-21 17:33] cyounkins commented on #2546
Hello! It looks like `pypi.org` is being served by nginx but I don't see that in the architectural overview. Is that configuration codified somewhere I could look at the Age header configuration?

[2018-11-21 17:41] dstufft commented on #2546
Uh, I think the Nginx is part of the kubernetes load balancer. The age header comes from Varnish though. Should be able to strip that header in our VCL at https://github.com/python/pypi-infra/blob/449736ca74e914745eb0182cbed3b135c6136378/terraform/warehouse/vcl/main.vcl#L285-L287, where you can see an example of removing the ``Via`` header.

I don't remember the context around this other than the

[2018-11-21 19:54] nlhkabu commented on #3626
Yes :)

[2018-11-21 19:54] #3626 closed

[2018-11-21 20:11] cyounkins commented on #2546
See https://book.varnish-software.com/3.0/HTTP.html#age

The Phabricator project has seen this issue too: https://phabricator.wikimedia.org/T184534

I can get a PR up no problem, but I want to make sure it's clear: This will allow browsers and other clients to obey `max-age` where they have not been. `https://pypi.org/simple/numpy/` has `max-age` set to `600` = 10 mins. This seems reasonable to me

[2018-11-21 20:12] dstufft commented on #2546
Yea, that's the intent we had here, I didn't realize at the time browsers were going to look at, or care at all about the ``Age`` header.

Upstream of Varnish is this Python application.

[2018-11-21 21:51] #2546 closed

[2018-11-21 21:53] dstufft commented on #2546
The fix for this is deployed now. Please confirm and let us know if it's not working as expected, but a quick scan looks like it works to me.

[2018-11-22 04:07] cyounkins commented on #2546
Looks great, thank you! I hope it lessens your server load a bit.

[2018-11-22 08:59] mythmgn commented on #4820
hi @jamadden

six weeks has been passed away.   We still cannot reach Pavan.  No response.
Is it OK to go ahead with the transfer?   Thanks.

--mythmgn

[2018-11-24 16:11] ncoghlan commented on #3231
Another instance of this at https://github.com/pypa/packaging-problems/issues/172

[2018-11-24 17:45] #5103 closed

[2018-11-24 17:47] josephmancuso opened #5112 "New Masonite Trove Classifier"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Masonite`

## Why do you want to add this classifier?

I would like to add this classifier for the Masonite framework in order to better categorize it on PyPi for other developers. There is currently no classifier like this once but there are plenty for other frameworks. Currently I expect

[2018-11-24 18:00] josephmancuso commented on #5112
Here is a link to the framework: [Masonite](https://github.com/masoniteframework/masonite)

[2018-11-26 15:45] E3V3A opened #5117 "Detect malicious packages, for later removal"
Looking at the [simple package index](https://pypi.org/simple/), there are a number of highly questionable packages (at least so by their names.)

Packages without proper names, authors or descriptions should probably be removed. If not for bloat reasons, but for security concerns.

Stuff like this:

* https://pypi.org/project/Aaaaaaaaaaaaaaaaaaa-aaaaaaaaa-aaaaaaasa-aaaaaaasa-aaaaasaa-aaaaaaasa-bb

[2018-11-26 15:49] di commented on #5117
There are almost 200K projects on PyPI. We don't have the ability to manually audit each one. How do you propose this should be done?

[2018-11-26 17:32] E3V3A commented on #5117
Exactly! -- And probably 99.9% useless, outdated, fake, deprecated (at best), or possibly containing malware, at worst!

:) We are programmers so I'm sure we can figure that out!

How about about searching for packages that:
1. Has weird name (random or repeated ASCII)?
2. Has no author
3. Author has not provided an email
4. Package has:
   - No valid homepage URL
   - No description
   - No relea

[2018-11-26 17:36] E3V3A commented on #5117
Another related issue, is that there seem to be some kind of cyber squatting for package names going on there as well. Packages with little or meaningless content but occupies useful names.

How do you plan to deal with that?

[2018-11-26 18:17] ewdurbin commented on #5112
All set!

[2018-11-26 18:17] #5112 closed

[2018-11-27 03:44] simonw opened #5118 "Feature request: "view source" tool for inspecting package contents"
The recent [event-stream problem
](https://medium.com/intrinsic/compromised-npm-package-event-stream-d47d08605502) on npm highlighted an issue that is also relevant to PyPI: even if a package links to a GitHub repository there is no guarantee that the code in the uploaded package matches the code in the repo.

One way this could be helped is for PyPI to provide a "view package contents" link next

[2018-11-27 03:48] simonw commented on #5118
There are quite a few challenges in building such a feature.

For smaller packages, writing code which pulls a .tar.gz and turns it into a file listing / visible source code in response to an incoming HTTP request would be feasible (and highly catchable via varnish), but this probably won't work for larger files - pulling a 100MB .tar.gz and decompressing it on demand may not be feasible. Can we g

[2018-11-27 03:51] simonw commented on #5118
One problem that is more specific to PyPI is that some packages can be uploaded in multiple formats - different wheels for example. Malicious code could potentially be hidden in just one of the wheel variants.

A really great implementation of this feature would also highlight differences between the contents of those different packages. This becomes not just a more complex implementation challeng

[2018-11-27 03:55] simonw commented on #5118
... and while I'm throwing around crazy ideas: a really neat implementation of this would include a way to render diffsbetween different versions.

Now we are re-implementing a non-trivial portion of GitHub!

[2018-11-27 04:32] simonw commented on #5118
npm COO [Laurie Voss](https://twitter.com/seldo/status/1067274333985198080) says about this suggestion:

[2018-11-27 16:42] eigenein opened #5122 "PEP 541: transfer ownership of unmaintained `smpplib`"
Hi,

We, @eigenein and @podshumok, would like to transfer ownership of the name [`smpplib`](https://pypi.org/project/smpplib/) to both of us. The current PyPI package is just a copy from SourceForge to GitHub and is not maintained since **2010**. [The related repo](https://github.com/takinbo/smpplib) is also not maintained since that and has only **1** star and **1** fork.

On the other hand, [our

[2018-11-27 16:45] di commented on #4288
Resolved by #5072.

[2018-11-27 16:45] #4288 closed

[2018-11-27 18:25] aslepko opened #5123 "Increase our project limit size"
We are about to release nGraph, Intel’s high performance Neural Network Compiler.
https://github.com/NervanaSystems/ngraph/

We would like to release our binary packages on PyPI. The complete package for nGraph is slightly above 100MB, due to a number of compiled dependencies, so we would like to request an increase of the file size limit on the following projects to 150 MB:

The name of the proje

[2018-11-27 20:07] shlomiLan commented on #3168
Could something like [this](https://github.com/shlomiLan/warehouse/commit/8d230074d9b088aa7b078ad7c4bde5c22110d4aa) do the trick?

[2018-11-27 20:13] di commented on #3168
That would only prevent the redirect if the _current_ form has no errors, not if the submitted form has no errors.

So the first time the user loads the page, ` save_account_form.errors` would always be empty, and regardless of whether or not it was submitted with errors, it would redirect to `#`, which would break the jump to the error.

[2018-11-27 20:36] shlomiLan commented on #3168
Can you give an example? When I go to `http://localhost/manage/account/` I'm not redirected to `http://localhost/manage/account/#`.
Also, do you have an example of an error that will happen on the server side? looks like most in not all of the password logic in been done in the client side.

[2018-11-27 20:48] di commented on #3168
Looks like this isn't working 100% right now, because the `action="#errors"` is only set for the password form, but it should exist for all the forms on this page.

One example would be when a user tries to add an email address that they've already added: this generates a server-side error, which should cause the page to jump to the "Account emails" section.

[2018-11-27 20:55] di opened #5124 "Error message is incorrect when attempting to add existing email"
If I try to add an email address I've already added to my account, the error message says:

Which isn't technically true, since the email address is already in use by the _current_ account. We should differentiate it and give a better message when this happens.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another i

[2018-11-27 21:18] di commented on #5117
See [PEP 541](https://www.python.org/dev/peps/pep-0541/) and #1506.

[2018-11-27 21:20] di commented on #4836
Closing this due to lack of response, feel free to reopen if necessary.

[2018-11-27 21:39] di commented on #4427
Addressed, thanks.

[2018-11-27 21:39] #4427 closed

[2018-11-27 21:47] di commented on #3727
Closing due to lack of response.

[2018-11-27 21:47] #3727 closed

[2018-11-27 22:07] di commented on #3733
This issue is no longer blocked -- all new emails must be verified before they can be used, so we can remove the `wtforms.validators.Email` validator and replace it with something much simpler, like `wtforms.validators.Regexp(r".+@.+\..+")`, which should be good enough to catch most common mistakes.

[2018-11-27 22:25] ashahba opened #5126 "Increase size limit for Intel's cpu-optimized tensorflow packages"
Hi @dstufft, I'm an engineer working on Intel cpu-optimized packages for TensorFlow. I was wondering if it would be possible to get a size increase for the following packages on upload.pypi.org/ and test.pypi.org/?

[code]

so that we can upload them to where `mkl` project is hosted here: https://pypi.org/project/mkl
Thanks!

[2018-11-27 22:30] ashahba commented on #5126
This is related to https://github.com/pypa/packaging-problems/issues/206

[2018-11-27 22:42] davidism commented on #3733
As a side note, WTForms also moved to using the email_validator library, although I don't think there's going to be a release any time soon. But you might want to look into using it too if you want more thorough validation still.

[2018-11-28 01:41] IvanAnishchuk commented on #4836
What's the rush? I was just away for the weekend :)

Yeah, that's me, no, I don't have access to that org anymore (the guys renamed it to https://bitbucket.org/ibsoftcompany/ sometime after I left) and I think I either lost my bitbucket account with email or something else happened and my commits in those repos don't seem to be mapped to my bitbucket profile anymore (or any other). I'm pretty sure

[2018-11-28 01:55] IvanAnishchuk commented on #4836
Left you a short message on the wiki https://bitbucket.org/ibsoftcompany/satchmo_payment_payworld/wiki/Home (not publicly editable)

[2018-11-28 02:53] ashahba commented on #5126
Thanks @jamadden

[2018-11-29 02:17] thatneat opened #5133 "recover account: OsmoSystems"
Hi,
I just created the OsmoSystems account with the e-mail address dev@osmobot.com . However password reset e-mails don't seem to be going through, possibly because of a Google Apps configuration issue on our side. For the time being while we debug that can you change the e-mail address for that account to jason@osmobot.com?
Thanks.

[2018-11-29 12:21] #3826 closed

[2018-11-29 13:18] ewdurbin commented on #5123
Hi @aslepko! Projects must be registered on the index before we can update their limit. If you can upload source distributions for your initial releases to both testpypi and pypi the limits can be updated for you to upload your binary releases.

Once you've uploaded releases for all of the projects, reply to this issue.

[2018-11-29 14:10] kmaehashi opened #5137 "Request for size limit increase for cupy-cuda100 package"
Hello,

I would like to request a size limit increase for `cupy-cuda100` package to distribute [CuPy](https://github.com/cupy/cupy) wheels, because it contains dependency libraries (CUDA etc.).
The size of the wheel is currently approx. 300 MB. Could you please increase the limit to 350 MB?

Thanks in advance!

[2018-11-29 14:13] jamadden commented on #5137
I can't find that package on PyPI currently. In order to adjust size limits, [the package needs to exist](https://github.com/pypa/warehouse/issues/5123#issuecomment-442830428).  Uploading a source distribution (sdist) first will register the project.

[2018-11-29 14:17] kmaehashi commented on #5137
@jamadden Thank you for the followup.
I already uploaded and deleted the sdist, so the package should be in the database (although https://pypi.org/project/cupy-cuda100/ returns 404).

----

![screen shot 2018-11-29 at 23 15 15](https://user-images.githubusercontent.com/939877/49227551-ae037280-f42c-11e8-8995-6def93ecd365.png)

[2018-11-29 16:16] di commented on #5126
Hi @ashahba, I'm confused, is your project called `mkl` or is it called `intel_tensorflow`?

[2018-11-29 16:22] di commented on #5137
I've set the upload limit for `cupy-cuda100` to 350MB on PyPI.

[2018-11-29 16:22] #5137 closed

[2018-11-29 16:22] kmaehashi commented on #5137
Thank you!

[2018-11-29 16:26] #4986 closed, assigned to nobody

[2018-11-29 19:46] s1113950 commented on #5126
We have an `mkl` account right now but the package we would like to upload would be `intel_tensorflow`. There should already be an `mkl` package that is separate :smile:

[2018-11-29 19:51] di commented on #5126
There isn't a project on PyPI called `intel_tensorflow`. You'll need to upload an empty release to create the project first. I'd recommend using version number `0.0.0` and deleting the release afterwards (the project will remain).

[2018-11-29 19:55] s1113950 commented on #5126
Sounds good. Thanks for the help!

[2018-11-29 22:50] thatneat commented on #5133
Got it fixed on our side. Thanks

[2018-11-29 22:50] #5133 closed

[2018-11-30 00:25] ashahba commented on #5126
@di here is the home of the project: `intel-tensorflow`
https://pypi.org/project/intel-tensorflow/

[2018-11-30 05:50] di commented on #5126
I've set the upload limit for `intel-tensorflow` to 125MB on PyPI.

[2018-11-30 05:50] #5126 closed

[2018-11-30 06:02] aslepko commented on #5123
Hi @ewdurbin , we just uploaded initial packages to test.pypi and pypi. One of the project names has changed, the request to increase the upload limit remains the same, however, for all projects. The project names are:
ngraph-tensorflow-bridge, ngraph-mxnet, ngraph-core, ngraph-onnx
Thanks a lot!

[2018-11-30 10:34] ewdurbin commented on #5123
all set!

[2018-11-30 10:34] #5123 closed

[2018-11-30 13:38] zt2 opened #5144 "add more fields rss feed"
For now PyPI rss feed just provide basic information for a package

[code]

it will look more precise if we add more addition fields into rss feed, for example

[code]

For the person who need minitor packages feed those fields will reduce their time because they don't need to send another HTTP request to fetch `version`, `author` for a package

[2018-11-30 14:45] shlomif opened #5145 "Add the ability to provide some links (to website, GitHub, Twitter, etc.) on user pages"
**What's the problem this feature will solve?**
Currently the personal info in PyPI user pages such as https://pypi.org/user/shlomif-gmail/ is very bare in comparison to metacpan user pages such as https://metacpan.org/author/SHLOMIF which have a link to one's website, GitHub/Twitter/etc. profiles and more (see the left part of the page there).

**Describe the solution you'd like**

Add an ability

[2018-11-30 16:45] di commented on #5145
I think this is worth doing, especially for a "personal website".

It'd be nice if we could find a way to add new social media profiles without requiring a DB migration to add a new column.

It's also probably important to note that we should be very clear that this information will be displayed on the user's public profile page.

[2018-11-30 23:36] pranavsharma opened #5146 "Request to increase the onnxruntime-gpu package size limit."
* A link to your project on PyPI (or Test PyPI) - https://pypi.org/project/onnxruntime-gpu/
   * The size of your release, in megabytes - about 300MB.
   * Which index/indexes you need the increase for (PyPI, Test PyPI, or both) - PyPI
   * A brief description of your project - ONNX Runtime enables high-performance evaluation of trained machine learning (ML) models while keeping resource usage low

[2018-12-01 04:30] di commented on #5146
I've set the upload limit for `onnxruntime-gpu` to 300MB on PyPI.

[2018-12-01 04:30] #5146 closed

[2018-12-01 04:32] pranavsharma commented on #5146
Thanks a lot for the quick response.

[2018-12-01 12:58] Dapid opened #5147 "Increase size limit request"
Hi,

I'd like to request [PconsC4][1]. It is a trained deep learning model that requires 253 MB of storage. I was told [here][2] to request the increased limit here.
Thank you!

   [1]: https://pypi.org/project/pconsc4/
   [2]: https://github.com/pypa/packaging-problems/issues/167

[2018-12-03 07:45] mythmgn commented on #4820
@jamadden  anything else that I can do to get this issue moving?

Thx.

[2018-12-03 14:57] jamadden commented on #4820
There’s not much more I can do. We can try pinging the admins (@di) directly, but please remember that PyPI is mostly a volunteer project. Patience is appreciated, sincerely.

[2018-12-03 20:15] Cby19961020 opened #5149 "Progress meter bug fix request"
Hi there I noticed a minor issue with regards to the progress meter feature.
Please refer to Demo_DulipcateFileFinder.py, line 27
"if not sg.OneLineProgressMeter('Counting Duplicates', idx + 1, total_files, 'Counting Duplicate Files'): "

This will cause the program to skip the first file from folder and start from the second file. If statement start counting from 0 and idx+1 will make the program

[2018-12-03 20:21] di commented on #5149
Thanks for the report, but it doesn’t belong here. This tracker is for https://pypi.org itself. We can't help with packages distributed on PyPI. You’ll need to contact the package maintainers or community instead.

[2018-12-03 20:21] #5149 closed

[2018-12-04 00:18] ashahba opened #5150 "Increase size limit for Intel's cpu-optimized tensorflow packages on PyPi test."
@di,
I recently filed a ticket here: https://github.com/pypa/warehouse/issues/5126 to increase the file size limit for Intel optimized TensorFlow packages which was approved for the PyPi.

However I think I forgot to mention that we need the same limits `125MB` for the test PyPi as well.
So that is what this ticket is for.

I have initiated the test project here: https://test.pypi.org/project/inte