[2018-04-12 09:41] yuvadm opened #3640 "Incorrect RST rendering"
The `README.rst` on https://pypi.org/project/viewstate/ is not rendered at all.

This is despite the following check passing without errors:

[code]

Interestingly enough, on a previous version  at https://pypi.org/project/viewstate/0.4.0/ it was rendered just fine. Might this have something to do with an `html` code-block that was added?

[2018-04-12 09:45] cztomsik commented on #3603
I don't think so, I need all new releases since the previous visit.

[2018-04-12 13:45] brainwane commented on #789
@ChillarAnand Sorry for the wait.

This is a complicated problem -- check out https://github.com/pypa/packaging-problems/issues/54 to understand more about why. If you'd like to work on it specifically, please say so here and we'll see what a good first step would be. If you're looking for opportunities to contribute to Warehouse more generally, please check out [these issues](https://github.com/p

[2018-04-12 14:50] brainwane commented on #3630
Thanks for the report, @bskinn. Could this be something that is happening in `setuptools` or `wheel` rather than Warehouse or `readme_renderer`? @jonparrott do you have a moment to look into this?

[2018-04-12 14:53] bskinn commented on #3630
@brainwane Ahhh, good point, you're right. It might well be occurring before Warehouse even sees it.

I always upload both as `sdist` and Windows `bdist_wheel`, so the change probably isn't in `wheel`.  `setuptools` could be the culprit.

[2018-04-12 15:31] di commented on #3630
Looking at the `PKG-INFO` for [sphobjinv-1.0.post1.tar.gz](https://files.pythonhosted.org/packages/17/c0/6ed1a1a5e5f90d8a91d87b6dc91908e95b50370dfcfcbdc5390f347c9236/sphobjinv-1.0.post1.tar.gz) and the `METADATA` for [sphobjinv-1.0.post1-py3-none-any.whl](https://files.pythonhosted.org/packages/73/29/d63cc736c977cdd103d4b47cad86cc8afbe7eac41f4a7aa03843ab34bbc1/sphobjinv-1.0.post1-py3-none-any.whl)

[2018-04-12 15:31] #3630 closed

[2018-04-12 15:33] brainwane commented on #3630
@bskinn when I have a Python packaging problem and it turns out to be *somewhere* in the toolchain but I'm not sure where, https://github.com/pypa/packaging-problems/issues/ is a good place to open an issue - if you do that, please do link back here.

[2018-04-12 15:44] durganavaneeth opened #3642 "pip install failure"
No matching distribution found for PyYAML==3.12 (from xxx->-r requirements.txt (line 1))
[Pipeline] echo
pip install failed with error: hudson.AbortException: script returned exit code 1

[2018-04-12 15:45] brainwane commented on #3642
Hi @durganavaneeth -- what happens if you try that pip install command again with a `-vvv` flag for more verbose reporting?

[2018-04-12 15:57] di commented on #3640
Thanks for the report. I'm guessing you're talking about https://pypi.org/project/viewstate/0.4.1/, and it seems like you've resolved it now.

FWIW, that check output is indicating that there is an error, and if you `pip install -U readme_renderer`, you'll get a slightly more informative output in the future.

[2018-04-12 15:57] #3640 closed

[2018-04-12 16:53] ewdurbin commented on #3631
resolved.

[2018-04-12 16:53] #3631 closed

[2018-04-12 16:54] dstufft commented on #3630
FWIW the original post was correct, legacy automatically introspected the package to find ``README.rst``, and Warehouse does not do that. That is a purposeful change.

[2018-04-12 17:12] bskinn opened #3643 "Automagic GitHub repo stats display doesn't find www.github.com/user/repo URLs"
As noted [here](https://github.com/pypa/warehouse/pull/2163#pullrequestreview-111691465), the automagic sidebar stats feature when a GitHub repo is the project homepage doesn't activate if the URL is written using `www.github.com`; it only finds `github.com` URLs.

[2018-04-12 17:14] di commented on #3643
We probably should make sure that this works for URLs like `github.com` and `www.github.com`, but not something like `thisisnotgithub.com`.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A%2

[2018-04-12 17:17] bskinn commented on #3643
Mm, <nod>... `.endswith('.github.com')` might suffice?

[2018-04-12 17:19] di commented on #3643
I don't think this would work for a URL like `https://github.com/pypa/warehouse`

[2018-04-12 17:26] brainwane commented on #3471
@AaronV77, does the package show up for you when you search PyPI now?

[2018-04-12 17:27] snelson3 opened #3644 "Can't upload to test site via Twine"
My pypirc looks like (with other servers and username/password omitted)

[code]

When I try to run the following twine command

[code]

I get this error

[code]

I am using the latest version of twine as of yesterday and am on High Sierra.

[2018-04-12 17:30] AaronV77 commented on #3644
Hello, please make sure to check that the name is spelt correctly ".pypirc, and change the heading of your pypi test to just test, like this:

[code]

If that still doesn't work, check back. Thanks

[2018-04-12 17:31] di commented on #3644
Take a look at https://packaging.python.org/guides/using-testpypi/#setting-up-testpypi-in-pypirc

The correct URL is `https://test.pypi.org/legacy/` (with a trailing slash). Does changing it in your `.pypirc` fix your issue?

[2018-04-12 17:32] di commented on #3644
@AaronV77 The header doesn't need to change, it can be whatever they want, as long as it's the same as what they're passing via `-r`.

[2018-04-12 17:32] AaronV77 commented on #3471
Hey @brainwane it does~! We are good to go now! Thanks.

[2018-04-12 17:32] #3471 closed

[2018-04-12 17:32] #778 closed

[2018-04-12 17:36] bskinn commented on #3643
Are there any other common `*.github.com` URLs that would ***not*** be composed as `*.github.com/user/repo/...`, and that someone might want to use as a homepage URL?

If so, a pattern matching condition might get pretty messy.  A narrower compound condition might be better.

    if (parsed.netloc == 'github.com' or parsed.netloc == 'www.github.com') and ...

[2018-04-12 18:05] snelson3 commented on #3644
Yep adding the trailing slash worked. Thank you!

[2018-04-12 18:05] #3644 closed

[2018-04-12 18:17] matthewdias opened #3645 "SSL Error"
probably due to the load testing happening right now, this happens for trying to install any package.

[code]

[2018-04-12 18:18] brewneaux commented on #3645
Seconded:

[code]

Running in our Jenkins environment:
Windows Server 2012 R 2
Python 2.7.11 (due to infrastructure team requirements)

[2018-04-12 18:47] brainwane commented on #3645
What versions of OpenSSL and `pip` are you running? What output do you get when you run

`openssl s_client -connect pypi.org:443`

and

`openssl s_client -connect files.pythonhosted.org:443`

https://mail.python.org/pipermail/python-announce-list/2018-April/011885.html may be relevant.

[2018-04-12 18:49] brainwane commented on #3645
To upgrade to the latest pip (9.0.3) to connect to the Python Package Index securely:

    curl https://bootstrap.pypa.io/get-pip.py | python

[2018-04-12 19:06] #3266 closed

[2018-04-12 19:08] rveachkc commented on #3645
This is happening for me on pip 9.0.3, Python 3.6.5, RHEL 7.4.

[code]

[code]

[code]

[code]

[2018-04-12 19:24] ewdurbin commented on #3645
Just as a diagnostic: Every TLS error we've had reported that wasn't strictly lack of support for TLSv1.2 thus far has ended up being a Proxy issue. @matthewdias @brewneaux is your client behind an HTTP proxy or mitm box of some kind?

[2018-04-12 19:27] #3005 closed

[2018-04-12 19:29] brewneaux commented on #3645
@brainwane  - We are not running openssl on this windows machine.

@ewdurbin - Nope, no proxy or anything.

[2018-04-12 19:36] brainwane commented on #3643
@bskinn Hope you don't mind -- since this is an improvement to a new feature, I'm marking it as something we can do after we shut down the legacy PyPI site.

[2018-04-12 19:41] bskinn commented on #3643
@brainwane Nope! I figured it would get slotted for further down the pipeline, since it's a minor glitch.

[2018-04-12 19:42] ewdurbin commented on #3359
our new internal mirror has been holding strong! next step is VCL to do fallback at the edge for `/simple`, `/packages`, and `/pypi/*/json$`

[2018-04-12 19:47] ewdurbin commented on #3536
Supporting a HEAD to `files.pythonhosted.org` is effectively checking the health of Fastly and S3.

I'm not convinced this adds sufficient value, as I'm pretty sure we'd just be sending a synthetic response from Fastly. @dstufft any ideas?

[2018-04-12 19:47] di commented on #3643
To be clear: if you made a PR to fix this I would merge it, it's just not going to get fixed by one of the maintainers soon.

[2018-04-12 19:53] brainwane commented on #1294
The expectation we've set with the community is that we aim to redirect traffic on the 16th and shut down legacy on the 30th but keep legacy up somewhere for those 2 weeks in between. Even if we re-prioritize our tasks and decide all of the issues in [our "shut down legacy" milestone](https://github.com/pypa/warehouse/milestone/7) are fine to do post-shutdown, the "unknown unknowns" rationale for

[2018-04-12 19:55] brainwane commented on #3359
For those reading this who, like me, didn't know, [VCL means "Varnish Configuration Language"](https://docs.fastly.com/guides/vcl/guide-to-vcl).

[2018-04-12 20:03] bskinn commented on #3643
@di I can put together a PR to fix it, no problem; but I'm not set up with docker &c. to run the test suite locally.  Can I just rely on Travis to test it for me?

Also, if I'd need to add a test for the new behavior, I'd need guidance as to where in the test suite to add it.

[2018-04-12 20:14] di commented on #3643
@bskinn Travis will definitely test it for you. You probably don't need to be able to run the tests locally to fix this issue, but it's not too complicated and we have a pretty good guide: https://warehouse.readthedocs.io/development/getting-started/

[2018-04-12 20:25] jhamman opened #3646 "Rename netcdftime to cftime"
Per https://github.com/Unidata/cftime/issues/36, we are renaming an existing repository. `netcdftime` is being renamed `cftime`.

My understanding is that the best way to request an admin's help for renaming a package is via this issue tracker. If that is not the case, feel free to close and direct me to a more appropriate venue.

[2018-04-12 20:35] di commented on #3646
@jhamman Renaming an existing package isn't really advisable. Consider that anyone installing `cftime==1.0.0a2` would still need to `import netcdftime`, this would probably be confusing for your users. Also, anything currently depending on the `netcdftime` project would suddenly have their dependencies broken.

Considering that `netcdftime` is relatively new and only has two alpha releases, perhap

[2018-04-12 20:36] #3643 closed

[2018-04-12 21:24] brainwane opened #3649 "Fix API docs to explain how to get GPG signatures"
Signatures aren't being displayed/linked in the Simple API. Per [PEP 503](https://www.python.org/dev/peps/pep-0503/) our policy is that we do link to signatures alongside download files in the Simple API.

I created a new distribution for a project, created detached signatures, and uploaded all files. The Simple API response does not include the `.asc` files:

[code]

Found at the same time as htt

[2018-04-12 21:29] dstufft commented on #3649
PEP 503 doesn't link the ``.asc`` in the HTML, it just makes it available at the same URL as the file, with a ``.asc`` appended, so if a file is at ``https://file.pythonhosted.org/.../foo-1.0.tar.gz``, then the PGP signature can be found at ``https://file.pythonhosted.org/.../foo-1.0.tar.gz.asc``, but it will not be linked from the simple API.

PEP 503 does offer a repository the ability (but does

[2018-04-12 21:35] mgedmin commented on #3536
It would presumably allow corporate users to make sure their firewall is allowing outgoing connections to files.pythonhosted.org.

[2018-04-12 21:37] ewdurbin commented on #3536
We've shipped a new fastly service and index page for files.pythonhosted.org that supports this.

[code]

[2018-04-12 21:37] #3536 closed

[2018-04-12 21:39] brainwane commented on #3649
OK. So the signatures are available, but the API response does not specifically mention the signature filenames and the user has to concatenate a `.asc` suffix onto a filename to check whether that signature exists or retrieve it.

This is now a docs issue to add this to https://warehouse.readthedocs.io/api-reference/legacy/#simple-project-api .

[2018-04-12 21:40] di commented on #3632
I think it'd make sense to just immediately redirect to a "verify your email address" screen after a successful login and preventing the user from doing _anything_ in the UI until they do, and skipping a flash message entirely (as well as preventing uploads like we do new project registrations at the moment).

I think this is not unreasonable, though obviously it'd be better to get as many users v

[2018-04-12 21:59] dstufft commented on #3108
This is working now:

[code]

[2018-04-12 21:59] #3108 closed

[2018-04-12 22:13] ewdurbin commented on #3645
load testing is complete for the day. is this still reproducible?

[2018-04-12 22:26] di opened #3650 "Ordering of releases in JSON API"
From https://github.com/pypa/pypi-legacy/issues/171

[2018-04-12 22:52] di commented on #787
https://github.com/pypa/pypi-legacy/issues/254 says:

[2018-04-12 23:09] di commented on #3369
We are down to a single page of pypi-legacy issues: https://github.com/pypa/pypi-legacy/issues

We should probably figure out #1506 and move all the PEP 541 issues into whatever system that will use.

[2018-04-13 01:45] dstufft commented on #3632
Yea, they would have perma locked themselves out, but they could reach out to us and we could manually verify an email for them in the worst case.

[2018-04-13 01:56] medmunds commented on #3097
OK, opened a PR for the simple fix, and updated/added comments for the more-robust fix later when there are related changes going into the DB.

(Btw, everything—code and tests—had already been using OrderedDicts, except for the one TODO line in the test case which deliberately suppressed the ordering because of this issue.)

[2018-04-13 04:45] pydsigner commented on #3645
I have an SSL issue that does not reproduce after the switch back.

[code]

I can access the page in web browsers fine, but not with requests. Hoping it's not some nasty VPN issue because I reproduced it on 3 other computers on the same network, all running Windows 10/Python 3.6

[2018-04-13 04:49] matthewdias commented on #3645
No proxy here @ewdurbin. still reproducing.

[2018-04-13 04:53] matthewdias commented on #3645
upgrading to pip 9.0.3 did the trick

[2018-04-13 07:27] fsignoret opened #3654 "Cannot fetch index base URL https://pypi.python.org/simple/"
Hello,

While performing command:
pip install packaging "subprocess32>=3.2.7"

I am getting the following error:

Downloading/unpacking packaging
  Cannot fetch index base URL https://pypi.python.org/simple/
  Could not find any downloads that satisfy the requirement packaging
Cleaning up...
No distributions at all found for packaging
Storing debug log for failure in /root/.pip/pip.log

This start

[2018-04-13 08:41] jhamman commented on #3646
We don't really have existing users as such. I am fine creating a new package though so I have done that. Thanks for the input.

[2018-04-13 08:41] #3646 closed

[2018-04-13 10:00] durganavaneeth commented on #3642
the issue is fixed and its not actually because of pip package . Its a handshake error which we can bale to fix it :) thanks

[2018-04-13 10:12] ewdurbin commented on #3654
Hello @fsignoret thanks for your bug report.

Can you note the version of:

- Operating System
- TLS/SSL Implementation
- Python
- pip

In the environment?

Also the output of `pip install -vvv packaging "subprocess32>=3.2.7"` would be helpful.

[2018-04-13 10:41] fsignoret commented on #3654
Operating system: Linux 3.10.0-514.el7.x86_64
OpenSSL 1.0.1f 6 Jan 2014
Python 2.7.6
pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)
[pip-install-output.txt](https://github.com/pypa/warehouse/files/1906965/pip-install-output.txt)

[2018-04-13 10:51] ewdurbin commented on #3654
@fsignoret based on your replies, I see you're running Ubuntu Trusty (14.04)

in an environment prepared similarly with the latest patches from ubuntu:

[code]

Specific package versions (from `dpkg -l`):

[code]

Can you confirm you're running the latest of all those packages?

[2018-04-13 10:57] ewdurbin opened #3656 "XMLRPC Implementation breaks `pip search` for some clients"
outdated pip search relies on `_pypi_ordering`:

[code]

Works with latest pip:

[code]

*BUT* note: the search response gives an incorrect version of requests...

[2018-04-13 10:58] fsignoret commented on #3654
python         2.7.5-5ubunt
python-pip     1.5.4-1ubunt
openssl        1.0.1f-1ubun

root@8c41fcbc2d07:/# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:        14.04
Codename:       trusty

[2018-04-13 11:00] ewdurbin commented on #3654
@fsignoret not clear from your output if you've truncated the results or if you have not applied the latest versions, note the suffixes on the package versions in my output.

[2018-04-13 11:07] fsignoret commented on #3654
python                                       2.7.5-5ubuntu3
python-pip                                 1.5.4-1ubuntu4
openssl                                      1.0.1f-1ubuntu2

[2018-04-13 11:09] ewdurbin commented on #3654
@fsignoret please update openssl and try again, it appears to be several patch levels behind.

[2018-04-13 13:25] #3491 closed

[2018-04-13 13:25] fsignoret commented on #3654
Upgrading openssl fixes it.
Thanks!

[2018-04-13 13:59] brainwane commented on #3491
@saxenanurag Thanks! What will you work on next?

[2018-04-13 14:03] bskinn opened #3658 "Expand tested cases for custom URL icons; remove Gratipay"
#3643 successfully added the GH stats pane for projects with `www.github.com` homepage URLs, but it didn't update the template so that the Octocat icon shows next to the 'Homepage' link.

[Project](https://pypi.org/project/rmsd/) using `https://github.com/...` homepage link:

![with gh-icon](https://user-images.githubusercontent.com/11325439/38738801-1079d850-3f01-11e8-888e-1ef6a3c82e73.png)

[Pro

[2018-04-13 14:09] bskinn commented on #3658
Actually, it looks like all of the special-icon cases for Github, Bitbucket, Gratipay, and Twitter should perhaps be expanded?

[2018-04-13 14:14] di commented on #3658
@bskinn Sounds good. Gratipay is dead (RIP) so maybe we should stop special-casing their links.

[2018-04-13 14:15] #3453 closed

[2018-04-13 14:17] brainwane commented on #3453
@emddudley In a few minutes this will be live on test.pypi.org and pypi.org so you can see whether the improved table style solves this problem for you. Please let us know! Thanks.

[2018-04-13 14:31] brainwane commented on #3642
Thanks!

[2018-04-13 14:31] #3642 closed

[2018-04-13 14:34] saxenanurag commented on #3491
@brainwane I have to look at the list. Do you have anything in mind?

[2018-04-13 14:37] brainwane commented on #3491
@saxenanurag I don't have anything in particular in mind, no -- please go ahead and look at the list. The "help wanted" issue label may be useful to look at.

[2018-04-13 15:54] brainwane commented on #3369
All props to @di for doing that work! A great mitzvah.

@di yeah, agreed, we should move the PEP 541 issues to that new system, but in the meanwhile, I am fine with moving this out of the launch milestone. :tada:

[2018-04-13 16:12] brainwane commented on #2851
About to make a PR for this.

[2018-04-13 16:27] brainwane commented on #3626
Thanks for the suggestion, @larsks!

[2018-04-13 16:29] brainwane commented on #3656
@ewdurbin in your opinion, is this something we need to fix (either in docs or code) before we shut down legacy PyPI?

[2018-04-13 16:31] brainwane commented on #3546
Related: #3588 (which is the issue that actually blocks the shutdown of legacy), #3602.

[2018-04-13 16:40] brainwane commented on #3603
Thanks @cztomsik! I think we've answered all your questions about this so I'm going to close this. But please check out [our other APIs/feeds issues](https://github.com/pypa/warehouse/labels/APIs%2Ffeeds) and consider subscribing to ones that affect you, and if you think we should update [our API docs](https://warehouse.readthedocs.io/api-reference/#api-policies) to reflect stuff you're not seeing

[2018-04-13 16:40] #3603 closed

[2018-04-13 16:50] brainwane opened #3660 "Request trove classifier: Eclipse Public License 2.0 (EPL-2.0)"
Request to add a new Trove classifier, copied from @amotl's note in https://github.com/pypa/pypi-legacy/issues/794 .

## The name of the classifier you would like to add
License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)

## Why do you want to add this classifier?
Dear PyPI team,

i am following up on #722, thanks @brainwane for bringing this up again.

The fine [mqttwarn project](htt

[2018-04-13 16:55] amotl commented on #3660
Thanks @brainwane! Let me add that the EPL-2.0 license already seems to have been aproved by the OSI: https://opensource.org/licenses/EPL-2.0.

This could make the designated inclusion into the list of Trove classifiers more easy as we don't have to wait for an approval like it happened with the [EUPL 1.2 license](https://github.com/pypa/pypi-legacy/issues/722).

Thanks again for your efforts!

[2018-04-13 17:02] brainwane commented on #2518
So, on Monday, once we merge #3566 and #3661, we can close this issue.

[2018-04-13 17:04] emddudley commented on #3453
@brainwane: I cleared my browser cache but I am not seeing any difference.

[2018-04-13 17:15] di commented on #3453
Likely hasn't fallen out of the cache yet.

[2018-04-13 19:04] pradyunsg commented on #2935
We didn't reach out to https://pythonwheels.com, did we?

Project: https://github.com/meshy/pythonwheels

[2018-04-13 19:10] brainwane commented on #3359
Ernest is planning on finishing this on Monday.

[2018-04-13 19:11] brainwane commented on #1294
Ernest is planning on doing this on Monday.

[2018-04-13 19:43] di commented on #2935
Hey @meshy, are you aware of this? Anything we can do to help?

[2018-04-13 21:49] simonw opened #3664 "long_description_content_type=text/markdown doesn't always work"
This page does not show correctly rendered markdown: https://pypi.org/project/datasette/

![2018-04-13 at 2 47 pm](https://user-images.githubusercontent.com/9599/38759219-a2728874-3f29-11e8-8856-a286f7bd4bed.png)

The setup.py file looks like this:

https://github.com/simonw/datasette/blob/fb988ace7c7e2bee5ac142a0eab22431d0675a77/setup.py#L13-L18

[code]

According to @ambv on Twitter this is caus

[2018-04-13 21:59] ambv commented on #3664
@di will know which bug I'm talking about.

[2018-04-13 22:32] #3649 closed

[2018-04-13 22:38] di commented on #3664
Yep, this is due to building with an old version of `wheel` which incorrectly sets the `Metadata-Version` field. Should be fixed by a `pip install wheel==0.31.0` and then building/uploading a new distribution.

[2018-04-13 23:01] #3658 closed

[2018-04-13 23:10] meshy commented on #2935
Hey @di and @pradyunsg, thanks for reaching out!

I've been aware of the upcoming changes for a while, thanks to @hugovk. They've been a star, and have done the leg-work for me in terms of migrating the project over to using BigQuery.

I've not had the time to merge the required changes, but I hope that pythonwheels will be ready when the change comes.

Also, amazing job on Warehouse! It's awesome

[2018-04-14 04:42] di commented on #3570
@chosak Could you list the major/minor versions that you'd propose to add?

[2018-04-14 04:44] di commented on #3660
I've added the `License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)` classifier, thanks!

[2018-04-14 04:44] #3660 closed

[2018-04-14 04:59] njsmith opened #3668 "Why does warehouse allow linux_armv6l and linux_armv7l wheels?"
Historically we never allowed `linux` wheels on PyPI, and this was an intentional choice, because `linux` doesn't tell us enough to make any guesses about ABI compatibility. That's still true. But warehouse now allows specifically `linux_armv6l` and `linux_armv7l` as legal wheel platforms (but no other options).

This appears to have come in through #2003, #2010, #2012, but none of those have any

[2018-04-14 05:01] njsmith commented on #3668
This appears to be connected somehow to the [piwheels](https://www.piwheels.org) project to provide wheels for Raspberry Pis running Raspbian, which is super cool. But as their [FAQ](https://www.piwheels.org/faq.html) says:

[2018-04-14 06:32] hugovk commented on #2935
You're welcome. See https://hugovk.github.io/top-pypi-packages/ for a weekly dump of the 5,000 most-downloaded packages from PyPI, as a replacement for the old [`top_packages`](https://github.com/pypa/warehouse/pull/2480).

[2018-04-14 15:02] ewdurbin commented on #1294
complete.

[2018-04-14 15:02] #1294 closed

[2018-04-14 15:06] ewdurbin commented on #3656
@brainwane i'm working through remaining inconsistencies now, won't be a blocker.

[2018-04-14 15:40] ewdurbin commented on #3656
see #3670 for last few changes to match legacy xmlrpc

[2018-04-14 15:41] simonw commented on #3664
That worked - I ran `pip install wheel==0.31.0` before doing `python setup.py bdist_wheel` and the result was this page with the markdown correctly formatted: https://pypi.org/project/datasette/

[2018-04-14 15:41] #3664 closed

[2018-04-14 15:46] #3656 closed

[2018-04-14 16:50] dr-leo commented on #2675
I have set up a repo demonstrating the bug:

https://github.com/dr-leo/wheelbug

It contains the build and dist dirs as well as egg.info.

It has two commits: The first is a snapshot at v0.9. The wheel is
buggy as it also contains the distinfo for the previous v0.8.2. The
2nd commit captures the state after building v0.10. The new wheel
contains three distinfos, namely for 0.8.2, 0.9 and 0.10. It

[2018-04-14 17:35] sr-murthy opened #3672 "Package publication error"
I'm a co-author of the oasislmf package

https://pypi.python.org/pypi?:action=display&name=oasislmf&version=1.0.8

but I'm unable to upload a new version of this `1.0.9`. I normally use `twine`. I'm getting the following error message

    HTTPError: 403 Client Error: Invalid or non-existent authentication information. for url: https://upload.pypi.org/legacy/

I have checked that my login credenti

[2018-04-14 17:54] ewdurbin commented on #3672
Hello @sr-murthy!

I see two upload attempts recently matching the environment you specified and a username that is associated with the oasislmf package. I also note that the username has successfully logged into PyPI recently.

Assuming you can log in to pypi.org with the username/password in your `.pypirc`, I'd first ask that you try the upload with the latest release of twine `1.11.0`.

The err

[2018-04-14 18:01] sr-murthy commented on #3672
This is bizarre - the password I thought worked, and which was saved in the `.pypirc` file, did not work. So I requested a password reset. On clicking the link and setting the new password I receive the following error page

![screen shot 2018-04-14 at 18 59 54](https://user-images.githubusercontent.com/9358070/38771177-3cb46c44-4016-11e8-80c9-6dc2c913fc81.png)

[2018-04-14 18:03] ewdurbin commented on #3672
@sr-murthy this is very likely a breaking change in warehouse that broke password resets for pypi-legacy.

Please use https://pypi.org/account/request-password-reset/ to request a reset. Sorry for the confusion.

[2018-04-14 18:07] sr-murthy commented on #3672
Thanks. Could you possibly check whether I have two separate emails associated with a single account, or whether there are two accouns with different emails? The password reset email from that last link was sent to my personal email, which is the primary email I use for commits to GitHub. Previously another password reset email I requested via pypi.org was sent to my work email.

[2018-04-14 18:11] sr-murthy commented on #3672
After upgrading `twine` I managed to publish it. Thanks.

[2018-04-14 18:11] #3672 closed

[2018-04-14 18:11] ewdurbin commented on #3672
@sr-murthy once you're logged in to pypi.org, you can view and manage your email addresses at https://pypi.org/manage/account/. I see two addresses associated with one account. Resets are sent to the one marked as Primary.

[2018-04-14 18:47] jrbourbeau opened #3673 "Open issues count on PyPI is open issues + open pull requests on GitHub"
The "Open issues" number currently quoted on PyPI for a project is the number of open issues plus the number of open pull requests for the project GitHub repo.

For instance (at the time of submitting this issue) the dask project has 405 open issues on PyPI (https://pypi.org/project/dask/), while on the corresponding GitHub repo (https://github.com/dask/dask/) there are 364 open issues and 41 open

[2018-04-14 20:47] ewdurbin opened #3674 "Fixup indexing query"
Our current indexing query, https://github.com/pypa/warehouse/blob/f6deb957b37a5c2f742ab9e97019b3828671a6d3/warehouse/search/tasks.py#L29-L54

Is kind of abhorrent in performance as it pulls far to many rows (one for each project/version/classifier) and on top of that makes 2 queries to pull version history.

I have some SQL:

[code]
Thanks to the help of @eeeebbbbrrrr that pulls what we need in a

[2018-04-14 20:53] ewdurbin commented on #3674
[code]
Query pulls everything we need in a single row! Performs well! (Description not queried for clarity)

[2018-04-14 20:53] ewdurbin commented on #3674
I don't think the `all_versions` column requires ordering as to my knowledge it isn't exposed to users, just used for search.

[2018-04-14 22:50] RazerM commented on #3674
I'm taking a look at this

[2018-04-15 01:51] #3674 closed

[2018-04-15 07:24] tadashi-aikawa opened #3688 "Can't login"
I attempt to login at https://pypi.org/account/login/. But can't login, and shown messages as following.

[code]

On the other hand, I can login at https://pypi.python.org/pypi (legacy).
Is this bug or not?

[Browser]
* Google chrome 65.0.3325.181（Official Build） (64 bit)
* Firefox 59.0.2 (64 bit)

[2018-04-15 15:39] di commented on #3673
Github considers pull requests to be "issues" and doesn't provide a way in the API we're using to discern between the two without making multiple requests. From [here](https://developer.github.com/v3/issues/):

We might want to change "Open Issues" to something like "Issues/PRs" instead.

[2018-04-15 17:09] dstufft opened #3689 "Make StatusPage issues more visible"
Currently when statuspage is having a problem, we just display that in a very muted way in the footer of the page. Combine this with the fact we will serve cached content or stale cached content if the backend is unhealthy, means that people can get a degraded experience where some parts of the site are "working" (because they're cached) and some parts are not (because they cant' be cached, or we'

[2018-04-15 17:10] ewdurbin commented on #3689
JS bits can be easily lifted from https://github.com/pypa/warehouse/blob/master/warehouse/static/html/mirror.html

[2018-04-15 17:32] brainwane commented on #3688
@tadashi-aikawa We were doing some load testing -- see https://status.python.org/incidents/vk4qnqxlknvq -- which may have affected you. Can you log in now? Your pypi.python.org login should work fine at pypi.org. Thanks.

[2018-04-15 17:55] dstufft commented on #3688
There was an issue earlier where our healthcheck timeouts were too aggressive and causing our CDN provider to flag backends as unhealthy (and thus raising this error). This should be fixed with https://github.com/python/pypi-infra/pull/16.

[2018-04-15 17:55] #3688 closed

[2018-04-15 18:40] dstufft commented on #3632
If you're one of the people who already have an unverified email as your primary address, and you add a verified email but you *don't* make it your primary.

[2018-04-15 22:45] di commented on #3632
Seems like folks might be missing the fact that adding a new email and verifying it does not make it your primary. Maybe we should do this automatically if the primary is unverified?

[2018-04-15 23:02] brainwane commented on #3632
When should we start this whole process?

PyCon would be a great time for us to spread this message. That's now under a month away.

[2018-04-15 23:09] brainwane commented on #726
Legacy PyPI used to have "hidden releases", and Warehouse does not. I didn't realize that we'd removed that feature till after writing up [the list of deprecations in the PSF blog post](https://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html). Given that, I'd like for the Warehouse community to prioritize this feature, but am open to pushback of course.

[2018-04-15 23:17] pv opened #3694 "Project page not purged when new release is made"
I uploaded a release on Pypi using twine, but not all files at once so twine was run multiple times.
The "Download files" page on warehouse now shows fewer files than the page on old pypi:
https://pypi.org/project/scipy/1.1.0rc1/#files
vs.
https://pypi.python.org/pypi/scipy

It may be some cache effect, but on the other hand it's been several hours now and it has not updated.
(If it'll eventually

[2018-04-15 23:26] tadashi-aikawa commented on #3688
@brainwane @dstufft
I can log in now. Thank you very much !! 😄

[2018-04-16 00:47] ewdurbin commented on #3694
unfortunately logs for that celery task are long gone. anecdotally I haven't seen any purge api calls fail to Fastly, though we should be retrying in that case.

this project uploaded a large number of files, and at least _one_ of the purges "stuck".

we may want to ask Fastly if they begin debouncing at some point if we issue 10+ purges for the same key in quick succession.

[2018-04-16 04:09] dstufft commented on #726
Hidden releases didn't do anything useful, it just hid them in the API, they were still completely there for ``pip install`` and such. Though I'm not against prioritizing this feature.

[2018-04-16 06:49] dstufft commented on #3632
There's no technical reason to start messaging on a particular date, so really whenever folks think is a good time is fine.

[2018-04-16 06:52] nlhkabu commented on #1238
Issues opened on PyPI theme for Datadog https://github.com/python/pypi-theme/issues/29

[2018-04-16 07:15] dstufft commented on #3694
Yea I know what this is, the ``ORIGIN_CACHE`` variable is still pointing to the old service_id, we need to update it in the configuration to point to the new one. That's a secure variable so I can't recover it, so whenever @ewdurbin wakes up he can do it :)

We can also probably delete ``FASTLY_KEY`` and ``FASTLY_SERVICE`` from the configuration, the ``bin/release`` used that, but it doesn't anymo

[2018-04-16 07:38] phihag commented on #3694
Can somebody do the magic manual purge for my package `ipaddress` as well?

[2018-04-16 09:37] ncoghlan commented on #726
I think @dstufft meant "web UI" rather than API. Still, it wouldn't hurt to have it back (with a UX that makes it clearer that it's just a cosmetic change, and doesn't prevent installation of the nominally hidden version)

[2018-04-16 10:36] ewdurbin commented on #3694
configuration updated. it's deploying now. after that I'll issue a purge all, after which purges should be working with the new service id.

[2018-04-16 10:52] #3694 closed

[2018-04-16 10:53] ewdurbin commented on #701
first pass of this is complete in #3693!

[2018-04-16 11:28] cranticumar commented on #3645
Python: 2.7.3
OS: Windows 7

c:\python27\lib\site-packages\pip\_vendor\requests\packages\urllib3\util\ssl_.py:318: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS
 certificate, which can cause validation failures. You can upgrade to a newer version of P

[2018-04-16 11:30] alex commented on #3645
Your easiest option is to use a newer release of Python.

[2018-04-16 12:10] cranticumar commented on #3645
I cannot move to higher versions of Python due to heavy dependencies I have for my project. I might run into compatibility issues or might need a lot of code changes.

This started happening from last 1 week.

Just FYI.... PIP version we use: 9.0.1

[2018-04-16 12:12] alex commented on #3645
I would not expect significant breakages moving to a newer Python 2.7 release.

This is caused by the deprecation and removal of TLS1.0/1.1, Python 2.7.3 on Windows comes with an older version of OpenSSL: https://status.python.org/incidents/hdx7w97m5hr8

Your other option if you're stuck on exactly Python 2.7.3 is to build your own Python linked against a newer OpenSSL.

[2018-04-16 12:27] hugovk opened #3699 "pypi.org showing older releases as default"
This doesn't happen on every project, but here's three I have found.

https://pypi.python.org/pypi/gevent/ shows the latest newest 1.3b1 (released two days ago). Great!

https://pypi.org/project/gevent/ shows an older 1.2.2 (Jun 5, 2017). Why not 1.3b1?

https://pypi.org/project/gevent/#history does know about the newest 1.3b1, as well as intermediate 1.3a2 and 1.3a1.

How come the latest is not s

[2018-04-16 12:28] dstufft commented on #3699
Warehouse only shows the latest non-prerelease version (because this is what pip will actually install), unless only pre-releases exist.

[2018-04-16 12:38] #3699 closed

[2018-04-16 12:40] hugovk commented on #3699
Thanks!

[2018-04-16 13:38] jamadden commented on #726
As a data point, issue #3699 is an example of this this marks a change from legacy pypi and specifically the way gevent uses it---specifically, we pretty much took the "promoted" release approach. gevent has a stable 1.2.2 release and has been making alpha 1.3 releases for a few months now, and recently produced a beta 1.3. During the alpha period, I used legacy pypi to keep the 1.3aX releases hid

[2018-04-16 13:52] di commented on #726
To be clear: this issue is not about adding back legacy-style hidden releases, it's about adding a "staging" phase for new uploads before they are published. If folks really want legacy-style hidden releases, it probably should be a separate issue.

[2018-04-16 14:18] #1238 closed

[2018-04-16 14:18] #1314 closed

[2018-04-16 14:46] emddudley commented on #3453
It's better and I could work with it in its current state.

I do still have some nitpicks though. The remaining issues I see are the table cell padding and the handling of very long filenames.

The table cells are padded such that an entire line of text could fit between rows. I think this slightly hinders visual scanning. I do understand that the padding may be consistent with other parts of the

[2018-04-16 14:46] #2851 closed

[2018-04-16 14:59] hongquan opened #3701 "Where to report spam packages?"
I found these spam/junk packages:

https://pypi.org/project/spam/
https://pypi.org/project/0/

Is there any place to report spam packages?

[2018-04-16 15:02] di commented on #3701
Thanks for the report @hongquan. Neither of those look like actual spam, they just seem to be people testing releases, so they're fine to stay (there are a lot of packages like this).

[2018-04-16 15:02] #3701 closed

[2018-04-16 15:04] hongquan commented on #3701
Ah, thanks for explanation.

[2018-04-16 15:18] andrlik opened #3702 "Getting error: Too Many Redirects when installing packages"
Presumably an issue with the switchover.

Traceback:

[code]

[2018-04-16 15:19] ewdurbin commented on #3702
Thanks for report @andrlik, @dstufft is currently investigating.

[2018-04-16 15:19] #3673 closed

[2018-04-16 15:20] YasserRabee commented on #3702
same here, I see this error constantly for my build but with random packages

[2018-04-16 15:22] ryancurrah commented on #3702
Same issue here...

[code]

[2018-04-16 15:25] ewdurbin commented on #3702
We're working on this as quickly as we can!

[2018-04-16 15:25] phihag opened #3703 "Infinite redirect on files.pythonhosted.org:"
Currently, when I try to install *any* package, I get an infinite redirect:

[code]

This seems to be a problem of files.pythonhosted.org:

[code]

[2018-04-16 15:25] ewdurbin commented on #3703
duplicate #3702

[2018-04-16 15:25] #3703 closed

[2018-04-16 15:27] brainwane commented on #3702
Hi folks, thanks for reporting this. http://status.python.org/incidents/1y1f44q6srh2 is where we're putting live updates about fixing this.

[2018-04-16 15:29] juraseg opened #3704 "New PyPI: can't download some packages' files because of broken redirect"
Can't download package files for some packages. pip outputs error "TooManyRedirects: Exceeded 30 redirects." Same issue when downloading in browser.

The packages in question:
- argon2_cffi (https://pypi.org/project/argon2_cffi/18.1.0/#files)
- argon2pure (https://pypi.org/project/argon2pure/#files)
(May be there are more, I only checked these too).

It just happened that I was playing with argon2

[2018-04-16 15:30] alex commented on #3704
Currently being tracked here: https://status.python.org/incidents/1y1f44q6srh2

[2018-04-16 15:30] ewdurbin commented on #3704
duplicate #3702

[2018-04-16 15:30] #3704 closed

[2018-04-16 15:39] Tonkonozhenko opened #3705 "404 when download package"
Hi,

I get 404 when try to download `regex-2018.02.21.tar.gz` from package https://pypi.org/project/regex/

[2018-04-16 15:40] SharpEdgeMarshall opened #3706 "Redirects fix doesn't solve the issue #3702"
Now during `pip install` returns:
[code]

[2018-04-16 15:40] asottile commented on #3705
This appears related to #3704

This is the specific error message I'm getting:

[code]

[2018-04-16 15:41] ewdurbin commented on #3705
some 404s were cached during resolution of #3702, those have been cleared.

[2018-04-16 15:42] #3706 closed

[2018-04-16 15:42] ewdurbin commented on #3702
Fix is deployed and we've tidied up some cached 404s that snuck in during resolution.

[2018-04-16 15:42] #3702 closed

[2018-04-16 15:42] asottile commented on #3705
@ewdurbin the cache does _not_ appear to be clear:

[code]

[2018-04-16 15:43] SharpEdgeMarshall commented on #3706
No, i'm still seeing the issue:
`pip install -r requirements.txt -I --no-cache-dir`

[code]

[2018-04-16 15:43] mr-bo-jangles commented on #3702
I'm still getting a cached 404
[code]

[2018-04-16 15:44] ewdurbin commented on #3702
tracking 404 issue in #3705

[2018-04-16 15:44] pascal-de-ladurantaye opened #3707 "404 errors from files.pythonhosted.org after fix for redirect loops was rolled out"
[code]

[2018-04-16 15:45] pascal-de-ladurantaye commented on #3707
using the legacy.pypi.org endpoint

[2018-04-16 15:47] pascal-de-ladurantaye commented on #3707
duplicate of #3705

[2018-04-16 15:47] #3707 closed

[2018-04-16 15:49] davisagli commented on #3706
duplicate of #3705

[2018-04-16 15:54] mr-bo-jangles opened #3708 "Too many 503 error responses"
Getting too many 503 error responses when trying to grab packages via Pip

[code]

[2018-04-16 15:54] mr-bo-jangles commented on #3708
Btw, I love the new site <3

[2018-04-16 15:54] ewdurbin commented on #3708
we're working on resolving #3707 and intermittent 503s are occurring as a result.

[2018-04-16 15:54] #3708 closed

[2018-04-16 15:59] ncoghlan opened #3709 "Offer a discouraged/deprecated releases option?"
(Migrated from https://github.com/pypa/warehouse/issues/726#issuecomment-381445616)

Legacy PyPI had an oft-confusing feature called "hidden releases", which allowed a release to be completely hidden from the web UI, while still leaving it available in the API for installers to access.

Warehouse doesn't implement that feature due to the inherently confusing nature of having client tools be able t

[2018-04-16 15:59] ncoghlan commented on #726
I created https://github.com/pypa/warehouse/issues/3709 to separate out the "legitimate use cases of a hidden-releases-like feature" discussion.

[2018-04-16 16:00] rotan96 opened #3710 "503 error when installing with pip"
I'm trying to install multiple packages with pip, and it keeps failing because of a 503 error. Here is one of the error logs.

`
-> pip install testresources
Downloading/unpacking testresources
  HTTP error 503 while getting https://files.pythonhosted.org/packages/45/4d/79a9a1f71de22fbc6c6433ac135f68d005de72fbe73e2137d2e77da9252c/testresources-2.0.1-py2.py3-none-any.whl#sha256=67a361c3a2412231963b

[2018-04-16 16:00] klwilson227 commented on #3705
Running get-pip.py 404 appeared and is now resolved with the python-pip. Now it fails with a 503 Backend is unhealthy... error when attempting to download the wheel archive. Curl is able to reproduce the problem with the download as well as the pypi UI.

curl https://files.pythonhosted.org/packages/1b/d2/22cde5ea9af055f81814f9f2545f5ed8a053eb749c08d186b369959189a8/wheel-0.31.0-py2.py3-none-any.whl

[2018-04-16 16:01] ewdurbin commented on #3705
the files hosting service is currently in flux as we try to resolve the 404s issue :/

[2018-04-16 16:01] davisagli commented on #3710
duplicate #3708

[2018-04-16 16:01] ewdurbin commented on #3710
tracking in #3705

[2018-04-16 16:01] #3710 closed

[2018-04-16 16:03] di commented on #3709
This sounds a bit more like https://github.com/pypa/warehouse/issues/345 than the legacy-style feature (which could be toggled at-will)

[2018-04-16 16:11] ncoghlan commented on #3709
I think they're slightly different things, although definitely related (more a difference in degree than in kind).

One way of looking at it: #345 seems to be mainly about putting up "Danger: Keep Out" signs, whereas this would be more about being able to put up a "Watch Your Step" sign (and perhaps have alpha and beta releases get the "Watch Your Step" marker by default).

[2018-04-16 16:28] ewdurbin commented on #3705
We've rolled out a stop gap while we work towards complete solution.

[2018-04-16 16:47] aklaver commented on #1988
Is there any movement on this, as the below is not good. I realize many people are glued to a phone that show only one item at a time, but for those of us who are not and want to scan more information at a time the current layout is not working.

![screenshot_20180416_094241](https://user-images.githubusercontent.com/658260/38823229-aaf60484-415a-11e8-9a53-64d149c7f053.png)

[2018-04-16 17:01] jackton1 commented on #3705
Temporary Fix

[code]

[2018-04-16 17:05] ewdurbin commented on #3705
We're now moved over to the intended state and monitoring to ensure things are still 👌.

Not seeing redirect loops, 404s, or 503s 😅

[2018-04-16 18:15] davisagli opened #3711 "No search results on pypi.org"
I'm not currently seeing any search results; https://pypi.org/search/?q=numpy is an example but I'm getting 0 results regardless of the query.

[2018-04-16 18:31] ewdurbin commented on #3711
@davisagli thanks for report, investigating.

[2018-04-16 18:34] brewneaux commented on #3645
This is still an issue for us: we are not running any different version of SSL than what comes with Python 2.7.11, and cannot upgrade pip either:

[code]

[2018-04-16 18:47] alex commented on #3645
Are you running on a network with a proxy or MITM device of some sort?

[2018-04-16 18:58] ewdurbin opened #3712 "mishandling of encodings on redirect"
reproduce:

`make serve`

once warehouse is up locally

`curl http://localhost/pypi/%E2%98%83/json/`

view error in logs:

[code]

[2018-04-16 19:25] asmaier opened #3713 "Confusing package with name "all" on pypi"
When typing

    pip install --upgrade all

I expected to upgrade all existing installed packages. Instead a package named "all" was installed. This package https://pypi.org/project/all/ doesn't provide any information on what it does and who the author is. Because of the confusing name, I suggest this package should be renamed or maybe removed from pypi.

[2018-04-16 19:28] alex commented on #3645
Can you tell me what `python -c "import ssl; print(ssl.OPENSSL_VERSION)` prints?

[2018-04-16 19:28] ewdurbin commented on #3713
Thank you. This project has been pulled by administrative action.

Primarily based on the concern of typosquatting such a command invocation.

[2018-04-16 19:28] #3713 closed

[2018-04-16 19:30] ewdurbin commented on #3275
@ori-yitzhaki hey! so the day is here! pypi.org has shipped and we're planning to shutdown legacy on April 30th, 2018.

Can you confirm that JFrog/Artifactory is underway with patches?

[2018-04-16 19:32] mmerickel commented on #3712
related https://github.com/Pylons/webob/issues/115

[2018-04-16 19:34] brewneaux commented on #3645
OpenSSL 1.0.2d 9 Jul 2015

[2018-04-16 19:35] alex commented on #3645
Something else is going on here, the errors you're seeing are unrelated to the TLS1.2 requirement, assuming you aren't behind a proxy of any sort.

[2018-04-16 19:51] ewdurbin commented on #3705
See https://status.python.org/incidents/1y1f44q6srh2 for an incident report on this fiasco.

[2018-04-16 19:51] #3705 closed

[2018-04-16 19:55] kddejong commented on #3705
Looks like there is still an issue with test.pypi.org as well.  I'm guessing that is being worked on as well.

[2018-04-16 19:55] ewdurbin commented on #701
see #3700 and #3693 for ultimately an ultimately failed attempt as inspiration!

[2018-04-16 19:58] dstufft opened #3717 "Behavior Difference in Search"
The previous search let you OR multiple things together to get the results for both, you could see this in the behavior of ``pip search pip initools``, however the new search is not returning both. We need to decide if this is now expected behavior, or fix it.

[2018-04-16 20:00] ewdurbin commented on #3705
@kddejong thanks for the heads up! we most certainly forgot to port the change to test.pypi.org!

[2018-04-16 20:02] ewdurbin commented on #3711
we've rolled back the initial attempt at incremental index updates for now as they were leading to this occasionally.

[2018-04-16 20:02] #3711 closed

[2018-04-16 20:04] kddejong commented on #3705
working now @ewdurbin .  Thanks.  Thank you for all the hard work and congrats on completing the change today.

[2018-04-16 21:03] brainwane commented on #1300
Since https://pypi.org/pypi?%3Aaction=list_classifiers works adequately I'm moving this out of the "Shut down legacy PyPI" milestone and into the milestone of work that can happen after April 30th. But @waseem18 and other volunteers should continue to work on this and related trove classifier display issues if they would like to!

[2018-04-16 21:07] brainwane commented on #3645
Folks in this thread might like to review #3720 which adds TLS deprecation help to http://pypi.org/help/.

[2018-04-16 21:34] papachoco commented on #3694
Thanks a lot

[2018-04-17 00:48] Mariobai opened #3727 "Package size limit request: distaster-new-pos"
The name of the project：disaster-new-pos
The size of your release, in megabytes: 200MB.
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both

The reason for this space is that the project has a trained neural network model that needs to be uploaded.

thank you very much.
from: mario

[2018-04-17 00:59] amotl commented on #3660
Thanks, @di!

[2018-04-17 04:24] figo2264 opened #3730 "openimageio is not available"
Hello, Guys.

My python application requires openimageio package.

When I tried to install the application via pip, it failed with the following message.

  Getting page https://pypi.python.org/simple/openimageio/
  Looking up "https://pypi.python.org/simple/openimageio/" in the cache
  No cache entry available
  Resetting dropped connection: pypi.python.org
  "GET /simple/openimageio/ HTTP/1.1" 3

[2018-04-17 04:31] pydsigner commented on #3645
Update: the CERTIFICATE_VERIFY_FAILED issue was indeed a network policy issue and has been resolved.

[2018-04-17 05:35] #3712 closed

[2018-04-17 08:19] janwijbrand opened #3733 "valid email address deemed invalid"
When trying to add an additional email address to my account, the email address is rejected. This email address however /is/ valid. The domain for the email address is `n--tree.net`. I guess the validator trips over the (admittedly uncommon) double dash in it. Hopefully this can be resolved.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed t

[2018-04-17 08:37] PrimozGodec opened #3734 "XML-RPC doesn't support MultiCall"
New API differ from the old API (`pypi.python.org/pypi/`):

* ~`search` method work different e.g. `search({'keywords': "orange3 add-on"})` returns empty list because of space~
* `MultiCall` is not supported.

I know that this API is deprecated but would ask if there is an option to make functionalities work same to support old versions of the softwares.

[2018-04-17 08:42] ewdurbin commented on #3734
Search issue is likely #3717

MultiCall must not be supported by our RPC implementation, https://github.com/Pylons/pyramid_rpc

[2018-04-17 10:32] waseem18 commented on #1300
We can change the legacy API to return JSON (or build a new API) and use that to populate the UI. So is the new UI going to be a part of PyPI or will it go under  `Python Packaging User Guide`?

[2018-04-17 10:40] takluyver commented on #1300
Please do build that as a new endpoint (a different URL), and leave the legacy API returning a plain text list - there's code that fetches the list from that legacy API, and changing it to JSON would break that.

(It could be smart and look at the 'Accept' request header to decide which format to return. But I think it's better to build the modern API at a nicer URL anyway.

[2018-04-17 10:43] waseem18 commented on #1300
Yup. I'll go ahead with creating a new API.

[2018-04-17 12:10] espoelstra commented on #3734
@PrimozGodec if you point to https://legacy.pypi.org does that address your needs for the time being, and eventually do you want/expect the new API to support some of the same functionality?

[2018-04-17 13:39] jimmyzhen opened #3735 "PyPI's files.pythonhosted.org outage"
I am creating this ticket in reference to https://github.com/pypa/setuptools/issues/1331 because I am still experience the same problem as reported as of this morning:

[code]

[2018-04-17 13:42] di opened #3736 "XML-RPC getting redirects for /RPC2"
[code]

This wasn't happening before the launch.

[2018-04-17 13:46] dstufft commented on #3736
It's redirecting the http to https, it's been doing that for a _long_ time.

[2018-04-17 13:50] awallace-cray commented on #3645
We have 18 nightly CI build failures, so far, all with errors with CERTIFICATE_VERIFY_FAILED from pip install or similar. For example
[code]
Most occurred between 7:00-7:45am UTC, with a few outliers as recently as 13:03 UTC.

[2018-04-17 13:50] di commented on #3736
Whoops... haven't had my coffee yet.

[2018-04-17 13:50] #3736 closed

[2018-04-17 13:53] ewdurbin commented on #3735
hi @jimmyzhen it's not clear that this is related to the files.pythonhosted.org incident yesterday, that had symptoms of redirect loops, 404s, and 503s. this appears to either be a corrupt file or error in handling such a file.

It is also possible that the bootstrap script is not appropriately following the redirect.

I've verified that the file served from pypi, (https://files.pythonhosted.org/p

[2018-04-17 13:53] #3735 closed

[2018-04-17 13:54] alex commented on #3645
Certificate verify failed is a different error from the TLS1.0 issues that this issue is for. I suspect we're not going to be able to diagnose it without more info on your system and network.

[2018-04-17 13:57] di commented on #3735
Issue in setuptools is here: https://github.com/pypa/setuptools/issues/1331

[2018-04-17 14:02] awallace-cray commented on #3645
SLES-12 Linux.
OpenSSL 1.0.2j-fips  26 Sep 2016.
Corporate LAN, no proxy.

Right now, these commands work. So does pip install.
openssl s_client -connect pypi.org:443
openssl s_client -connect pypi.python.org:443
openssl s_client -connect files.pythonhosted.org:443

[2018-04-17 14:12] alex commented on #3645
Can you paste the certificate (everything between `-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----` ) you see when you run the `openssl s_client` command?

[2018-04-17 14:18] jimmyzhen commented on #3735
Thanks, @ewdurbin!

[2018-04-17 14:25] dstufft commented on #3645
System time wrong?

[2018-04-17 14:39] awallace-cray commented on #3645
No other indications of incorrect system time, AFAIK.
I should have mentioned, these errors occurred across several machines, all SLES-12. A few outliers may have a different openssl version- the other 8 machines are identical.

[2018-04-17 16:52] #3634 closed

[2018-04-17 16:56] di commented on #3730
It seems like the `openimageio` project either never existed, or has been deleted by it's author. You might want to reach out to the maintainers of that project directly.

[2018-04-17 16:56] #3730 closed

[2018-04-17 17:07] di commented on #3727
@Mariobai Could you explain why you need such a large distribution? It's not clear to me what the `disaster-new-pos` project is.

[2018-04-17 17:42] di commented on #3733
@janwijbrand Sorry you're having troubles! This seems to be due to one of our dependencies, `wtforms`, and there isn't really a great way for us to override the behavior.

Would you raise the issue in their tracker instead? https://github.com/wtforms/wtforms/issues. Thanks for the report!

[2018-04-17 17:42] inducer opened #3738 "[Feature Request] More predictable download links"
When I copy a download link from https://pypi.org/project/virtualenv/, I get:

https://files.pythonhosted.org/packages/b1/72/2d70c5a1de409ceb3a27ff2ec007ecdd5cc52239e7c74990e32af57affe9/virtualenv-15.2.0.tar.gz

This makes me feel bad when I copy-paste that URL into scripts:

* I wonder about the long-term stability of the link, because it contains what looks like unpredictable extra hash gunk.
*

[2018-04-17 17:52] ewdurbin commented on #3738
This URL structure is not new. It was enforced when we moved file hosting to AWS S3.

These URLs are static and do not change, the hash gunk is calculated from the checksum of the file.

## Official guidance

Query PyPI's index to determine where to download files from.

## If you so choose

You _can_ use our conveyor service to fetch this file, but this realistically exists primarily to support o

[2018-04-17 17:52] #3738 closed

[2018-04-17 18:05] inducer commented on #3738
Thanks for the explanation!

[2018-04-17 18:12] ewdurbin opened #3739 "cache/stash long_descriptions rendered by readme_render"
RE https://github.com/pypa/readme_renderer/issues/95

A handful of long descriptions have _long_ render times, such as https://gitlab.com/hansroh/skitai/blob/master/README.rst.

A proposed solution:

- Store `long_description` as usual at upload time.
- Call a task to attempt to render the long description.
- Task renders long_description and stores resulting html with the version number of readme

[2018-04-17 18:12] ewdurbin commented on #3739
cc @jonparrott

[2018-04-17 18:41] awallace-cray commented on #3645
Found a bit of legacy on our side, left over from years ago and mostly forgotten.
`$HOME/.pip/pip.conf` contained `[global] cert = DigiCert_High_Assurance_EV_Root_CA.pem`
That cert file exists.

A developer here thought removing that pip.conf file helped avoid the CERTIFICATE_VERIFY_FAILED.
So I removed the copy that Jenkins sees, even though it didn't seem to make a difference to me.

[2018-04-17 18:45] alex commented on #3645
You should remove that option, PyPI does not guarantee what CA it'll use, and in fact while pypi.org uses that DigiCert CA, files.pythonhosted.org which serves the actual files is using a different CA.

[2018-04-17 20:57] jonparrott commented on #3739
Research notes (for my own benefit/for the benefit of whoever takes this on):

1. Current un-rendered `description` field is [here](https://github.com/pypa/warehouse/blob/7947068a27fd9184d93a2089b882656fb60d2704/warehouse/packaging/models.py#L338).
2. The description is only rendered for HTML views and is done in the template [here](https://github.com/pypa/warehouse/blob/b86fe0351cdbaacb36a5d8c080

[2018-04-17 21:00] di commented on #3739
Might not even be necessary to keep it as a filter, it could be passed into the template from the view instead, which would make it a little easier to determine a cache key.

[2018-04-17 21:01] jonparrott commented on #3739
That could definitely work.

[2018-04-17 22:02] jonparrott commented on #284
I would also love an API for managing both my account and my projects. For some examples of where this is useful:

1. We have an account that owns all of the projects our organization publishes. I want to rotate its password every week.
2. Likewise, I want to audit all of my organization's project and verify that no more than n people have admin access to it.
3. I am actually in the process of mig

[2018-04-17 22:10] di commented on #284
We could probably just call this "the ability to add/remove collaborators via API" I think, since actual account migration is probably not something that happens very often.

[2018-04-17 22:16] dstufft commented on #284
I'm hoping to carve out some ideas on this soon, maybe next week? Ideally the output of this ticket is the basic framework/skeleton of the API, and then further tasks can extend the functionality of it.

Defining APIs for PyPI is a tad bit trickier than the general case, because we generally have to design for a decade+ (for instance, XMLRPC got added, but it has not aged or scaled well! From my i

[2018-04-17 22:19] jonparrott commented on #284
Yep just calling a a specific use case.

Sounds good, happy to review and be around to bounce ideas off of (I'm on IRC during PST working hours as `thea`).

Agreed - REST/JSON (and to some extend RPC/JSON) has more or less stood the test of time (in tech years, at least). Happy to provide feedback on that sort of stuff as well.

[2018-04-17 22:36] selik opened #3743 "Typosquatting on `requests` and a number of other simple words"
I'm not sure of the intent, but the `request` https://pypi.org/project/request/ module seems suspicious. There's not much code there, but it installs a little chain of dependencies with frustratingly generic names. Most disturbing is the dependency on `get` https://pypi.org/project/get/ which ships what appears to be a small binary file, at least according to GitHub.

The package author has been q

[2018-04-17 23:36] ewdurbin commented on #3743
This is being discussed in another forum. Thanks for reporting.

Note that if you're unsure wether an issue meets the standard for security or not, please err on the side of caution.

[2018-04-17 23:36] #3743 closed

[2018-04-18 00:41] Mariobai commented on #3727
Thank you very much for your reply。disaster-new pos project is a named entity recognition porject in the field of disaster。Because it is oriented toward Chinese. So I trained a Chinese participle model with CRF. The size of this model is 183M. At the same time, I trained a bi-gru neural network model in the field of Chinese disaster, with the size of 104M. Therefore, I need about 200M space.

[2018-04-18 05:30] nlhkabu commented on #1988
@Safihre, I am sorry that you thought I was not responding on this issue -- I have heard the feedback here and will be taking it into consideration for future design updates.

I'm the only designer on this project and I'm working about ~10 hours a week, focusing on immediate launch-related issues. Often, when coding, reviewing others' PRs, user testing, and training others to user test takes up ne

[2018-04-18 06:03] teichmolch001 opened #3744 "update to pip 10 under windows broken"
I was using pip 9.* under Python 3.6 x86 on a Windows 10 machine without any problems and updated to pip 10. Now it seems the installation is broken, because i get the error:

`C:\>pip list`
`Fatal error in launcher: Unable to create process using '""c:\program files (x86)\python36-32\python.exe"  "C:\Program Files (x86)\Python36-32\Scripts\pip.exe" list'`

Google knows the issue, seems like the s

[2018-04-18 06:05] #3588 closed

[2018-04-18 06:12] teichmolch001 commented on #3744
moving this to pypa/pip

[2018-04-18 06:12] #3744 closed

[2018-04-18 07:24] janwijbrand commented on #3733
Thanks @di. I've made the report here: https://github.com/wtforms/wtforms/issues/384.

[2018-04-18 07:25] davidism commented on #3733
It's absolutely possible to change the validator you're using. Although it's sort of futile to try to validate addresses rather than just sending them. I'd recommend removing the validator, or replacing it with a simpler one. I don't really like to keep changing the email regex, since it never seems to end. I also don't really have time to release a new WTForms version any time soon.

[2018-04-18 07:27] davidism commented on #3733
On a related note, it appears I don't have admin access to the WTForms projects on PyPI anymore. I just went through a year long process to get them from the previous maintainer, and they appear to have disappeared with the transition to Warehouse.

[2018-04-18 07:29] janwijbrand commented on #3733
Thanks @davidism for your reply. I hope @di can reopen the issue and followup on your suggestions?

[2018-04-18 07:38] #2127 closed

[2018-04-18 07:38] #3194 closed

[2018-04-18 07:44] vabi commented on #3711
It is happening... again. Search from pip isn't working as well (if it's related).

[2018-04-18 08:12] padix-key opened #3746 "Search reindex task leaves empty index."
The 'Search projects' function does not work for me on [https://pypi.org](https://pypi.org). Irrespective of the query, the search does not return any results. (Example: [https://pypi.org/search/?q=numpy](https://pypi.org/search/?q=numpy))

[2018-04-18 08:13] shinalone commented on #3746
Me, too.

[2018-04-18 08:14] danielhrisca commented on #3746
+1
![image](https://user-images.githubusercontent.com/20952040/38919607-abca04fa-42f9-11e8-82e9-4f62240df7c3.png)

[2018-04-18 08:30] klaaskooistra commented on #3746
+1

[2018-04-18 08:55] olf42 commented on #3746
Neither pip 10.0.0 nor pip 9.0.1 showing any results at the moment:

[code]

[2018-04-18 08:58] RecNes commented on #3746
+1

[2018-04-18 09:07] GadgetSteve commented on #3746
Neither the website search nor pip search returning any results but pip install & pip list -o (which has to query the versions) all seem to be working ok so it looks to be just the search interface.

[2018-04-18 09:10] piotr-gomola commented on #3746
Same here,
**Critical functionality is broken**!

[2018-04-18 09:12] danielhrisca commented on #3746
I'm sure people are already working to solve this

[2018-04-18 09:26] olf42 commented on #3746
Appears to be solved in web and cli (which probaly use the same endpoint) :+1:

[2018-04-18 09:30] mitar commented on #3436
Is new API location really the same as old one? I am sure I was getting results before for the following query, but now it is returning empty:

[code]

Or do packages have to be (re)published for them to be visible through the new API location?

[2018-04-18 11:38] thijsvanderkraan opened #3747 "flup : ImportError: No module named _thread"
Using the flup 1.0.3 with python 2.7 causes the following error:

ImportError: No module named _thread

Analysis:
The module tread has been renamed to _tread in python 3.x. It seems some of the import statements were updated to support both names, but not all. Also, a mix of both names are used in the code, even within the same file.

Proposal:
Replacing all 'import thread' and 'import _thread' st

[2018-04-18 11:50] ewdurbin commented on #3747
Hello @thijsvanderkraan unfortunately this issue tracker is for the Python Package Index itself, not for the projects hosted there.

https://pypi.org/project/flup does not list any issue tracker, but perhaps you can find some way to contact the author at the noted homepage: https://www.saddi.com/software/flup/

[2018-04-18 11:50] #3747 closed

[2018-04-18 11:53] ewdurbin commented on #3746
We seem to have some kind of issue in the task that runs every 3 hours to update the index. It was aggravated by changes reverted in #3716, but the underlying issue seems to still be in play.

Something seems to clearly be going wrong in the "swap" in this code: https://github.com/pypa/warehouse/blob/b463af8aac4c778fe5fd1d7abe6e52c00bd06a13/warehouse/search/tasks.py#L131-L167

[2018-04-18 13:03] ewdurbin commented on #3436
@mitar we're tracking issues with our search index becoming empty (bug) at #3746, and issues with search oddities in general at #3717

[2018-04-18 13:05] di commented on #3733
@davidism Seems to me like the user https://pypi.org/user/davidism/ is still an Owner of the project https://pypi.org/project/WTForms/, do you not see this project on login?

@janwijbrand Could you email me at `di@python.org` from the address you'd like to add?

Ultimately removing the validator entirely is blocked on https://github.com/pypa/warehouse/issues/3632.

[2018-04-18 13:08] ewdurbin commented on #3746
This seems to be related to running the indexing job as a Celery task. I'm unable to reproduce when running the reindex job from CLI, even kicking two of them off "in competition".

[2018-04-18 13:28] di commented on #3727
@Mariobai Is it possible for you to publish the project on Github so I can take a look at it? I see https://github.com/Mariobai/Disaster-new-NER-on-Chinese but that doesn't seem to have the models.

[2018-04-18 13:47] andrewisakov opened #3749 "No module named 'pymongo.change_stream'"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/andrew/.local/lib64/python3.6/site-packages/motor/__init__.py", line 54, in <module>
    from .motor_tornado import *
  File "/home/andrew/.local/lib64/python3.6/site-packages/motor/motor_tornado.py", line 19, in <module>
    from . import core, motor_gridfs
  File "/home/andrew/.local/lib64/python3.6/site-packa

[2018-04-18 13:49] jamadden commented on #3749
Thank you for your report. Unfortunately this is not the correct place for it. This tracker is only for issues with the code that runs pypi.org itself. It cannot help with packages installed from there or general Python usage. You might try contacting [the motor developers](https://pypi.org/project/motor/).

[2018-04-18 13:59] #3749 closed

[2018-04-18 14:11] jpds opened #3750 "Caching doesn't work as old pypi did"
I use gitlab-runner which takes my `PIP_CACHE_DIR` and uploads a tarball of my pip packages into S3 for later runs.

With the new warehouse migration, I noticed that pip downloads the packages on every run rather than use the cache which I know is there.

Here is a log from before the caching was added from several weeks ago:

[code]

Here is a log post-caching adding, but pre-warehouse migration

[2018-04-18 14:12] jribbens opened #3751 "'browse projects' link on front page is inoperative"
The "browse projects" link just takes you to an empty search page. (This is unrelated to #3746, at the current time the search is working.)

[2018-04-18 14:13] di commented on #3751
@jribbens Can you include a screenshot of what you're seeing? Seems to be working to me.

[2018-04-18 14:15] jribbens commented on #3751
![browse](https://user-images.githubusercontent.com/350846/38937522-4e47631e-431b-11e8-8746-eac7fa91f798.png)

[2018-04-18 14:29] aklaver commented on #1988
I believe, since there are issues going back to November 2015 related to this, that the user testing has been done and the site has been found wanting. Also AFAICT the roadmap for the new site is done:

[2018-04-18 14:33] brainwane commented on #3751
@jribbens Thanks for clarifying! It sounds like this is an outcome of a change we made regarding #3062 -- I've renamed the issue to reflect your recent comment.

[2018-04-18 15:06] gvanrossum opened #3752 "PyPI hom epage has low information density"
I have a 13" laptop and my vision isn't what it used to be so I use the default font sizes etc.

When I open pypi.org, I essentially see a a huge blue box with a search box in it. While I admit this is a common trend for web sites these days, this seems to me a waste of precious real estate. The legacy site had much more useful info on the first screen. Is there a way you can improve the informati

[2018-04-18 15:07] brainwane commented on #1988
@yeraydiazdiaz I'd like for you to turn your mockup from https://github.com/pypa/warehouse/issues/1988#issuecomment-377904285 into a PR or a demo that @nlhkabu can use in user testing. Could you do that?

[2018-04-18 15:25] gvanrossum commented on #1988
Whatever you do, please don't create a choice for the user between spread out and compact. That's a solution for lazy designers. Focus on usability. Also, think about who your users are and what they want. People don't go to pypi.org thinking "today I'm gonna download me some software". They come there with specific needs. Find those needs and the rest will follow.

[2018-04-18 15:36] brainwane commented on #1988
@gvanrossum Thanks for your comment.

We do recognize that people come to PyPI with specific needs and tasks in mind; I recommend you check out [Nicole's initial post](http://whoisnicoleharris.com/2015/12/31/designing-warehouse-an-overview.html) and [the user testing overview](http://whoisnicoleharris.com/2018/03/13/user-testing-warehouse.html) for more on how we discover those needs and test how

[2018-04-18 15:49] aklaver commented on #1988
@brainwane the issue is that pypi is a utility site where people go to search and find information, possibility large amounts of information.  Having to scroll through pages bloated with empty space makes the process painful. While I empathize with the current time and financial crunch, the topic under discussion has been know for some time(#793) and as the screenshot from the issue shows has not

[2018-04-18 17:03] di commented on #2734
This has been addressed!

[2018-04-18 17:03] #2734 closed

[2018-04-18 17:41] anowlcalledjosh commented on #1988
If anyone wants a nicer workaround than turning off styles completely, I've hacked up a user stylesheet (which you can use with something like [Stylus](https://add0n.com/stylus.html)) to condense PyPI a bit; it's not perfect, and I'm not intending this as a suggestion for what I think PyPI should look like, but I do think it improves things somewhat.

<details><summary>Stylesheet</summary>

[code]

[2018-04-18 17:47] di commented on #3570
I've added the following classifiers:

[code]

[2018-04-18 17:47] #3570 closed

[2018-04-18 18:09] brainwane commented on #3709
@ncoghlan what do you think of #1462?

[2018-04-18 18:30] brainwane opened #3754 "add explanation of file download link structure to docs"
We should add Ernest's explanation https://github.com/pypa/warehouse/issues/3738#issuecomment-382083526 to https://warehouse.readthedocs.io/api-reference/integration-guide/#integration-guide . The file to update is `docs/api-reference/integration-guide.rst`.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [anoth

[2018-04-18 20:15] gvanrossum commented on #1988
But this is beside the point. It's about first impressions.

[2018-04-18 20:57] AceAttorneyMaster111 opened #3756 "Error on pip search"
I found a module on PyPI called `profanity` that can filter out swearwords. I tried to find it:

[code]

Does anyone know why this error occurred, or how to get around it?

[2018-04-18 21:02] AceAttorneyMaster111 commented on #3756
Apparently this happens with any given package.

[2018-04-18 21:02] jamadden commented on #3756
What version of pip are you using? I suspect you need to update pip.

[2018-04-18 21:03] AceAttorneyMaster111 commented on #3756
9.0.1

[2018-04-18 21:05] jamadden commented on #3756
You'll need to upgrade to at least pip 9.0.2. See [the pip issue](https://github.com/pypa/pip/pull/4454) and the [original announcement](http://pyfound.blogspot.com/2017/01/time-to-upgrade-your-python-tls-v12.html)

[2018-04-18 21:06] AceAttorneyMaster111 commented on #3756
Oh, thanks. Sorry!

[2018-04-18 21:06] #3756 closed

[2018-04-18 21:08] AceAttorneyMaster111 commented on #3756
@jamadden, I tried to upgrade but got this:
[code]

[2018-04-18 21:10] jamadden commented on #3756
Yes, you can't use pip to upgrade pip because your pip is broken 😄 You'll need to [install manually](https://pip.pypa.io/en/stable/installing/) or download the pip wheel directly yourself using your web browser and then run something like `python -m pip install <path to wheel>`.

[2018-04-18 21:10] AceAttorneyMaster111 commented on #3756
Ok, thanks!

[2018-04-18 23:30] di commented on #3750
@dstufft Should this be fixed now that https://github.com/python/pypi-infra/pull/22 is merged?

[2018-04-18 23:45] dstufft commented on #3750
Yea, if there's anything else here it's pip issue not a Warehouse one, we're serving all the correct stuff now.

[2018-04-18 23:45] #3750 closed

[2018-04-19 01:09] figo2264 commented on #3730
No, it used to be there on the old pypi, but it was gone after the renewal.

[2018-04-19 02:56] di commented on #3730
@figo2264 The "old pypi" and pypi.org have always shared the same data store, so there was no data loss in the transition. I'd recommend contacting the maintainers of the project directly, they have contact information listed here: https://github.com/OpenImageIO/oiio#contact

[2018-04-19 04:22] pouledodue opened #3765 "Show more than 20 results"
Please add a way to view more than 20 entries per page in the [search results page](https://pypi.org/search/?q=pytest)

[2018-04-19 06:11] gaborbernat opened #3766 "New classifier request tox"
tox supports plugins, similar to how pytest does it. Can we have a framework classifier to make it easier for users to locate plugins?

Thanks

https://github.com/tox-dev/cookiecutter-tox-plugin/issues/4

[2018-04-19 06:47] uranusjr opened #3767 "List project links in mobile view"
Current if you view a page on mobile, the page wouldn’t list project links, only navigation. It would be quite useful to list at least the project’s homepage, which arguably most users would want to check out when they find a new package on PyPI.

(p.s. I know I can click the Desktop Version button to see the link, but that’s neither obvious nor convenient.)

[2018-04-19 06:48] uranusjr commented on #3767
Oops, dup to #3546. Sorry for the noise.

[2018-04-19 06:48] #3767 closed

[2018-04-19 08:19] LarsFronius opened #3769 "pip via system package python-pip broken since upgrade (ubuntu 14.04)"
The following is happening when I try to install/upgrade any package on my box running the latest Ubuntu 14.04:
[code]
[code]
[code]
I am assuming this is due to cert/CDN switches made on the upstream repository. Any guidance how I get the system version back to life is much appreciated. Obviously, simply installing a fresh version of `pip` fixes the issue - however, since this is the default ubun

[2018-04-19 09:46] di commented on #3769
@LarsFronius I think you'd probably get better support for this issue if you opened it over at https://github.com/pypa/pip/issues instead, although I suspect they're going to tell you that since this is such an old version of `pip`, you'd be better off incrementally upgrading it (although perhaps this is related to https://github.com/pypa/pip/issues/1488?)

[2018-04-19 09:46] #3769 closed

[2018-04-19 09:50] di commented on #3765
Duplicate of https://github.com/pypa/warehouse/issues/3463.

[2018-04-19 09:50] #3765 closed

[2018-04-19 10:01] di commented on #3766
@gaborbernat To be clear, you're asking for a classifier like `Framework :: Tox`, correct?

[2018-04-19 10:44] gaborbernat commented on #3766
with lower case, but yes; so ``Framework :: tox``

[2018-04-19 10:48] gjcarneiro opened #3770 "pypi.org: Python 3.5 new keywords, async and await, not syntax highlighted"
See for instance https://pypi.org/project/influxdbpusher/

It has code snippets  with `async def` and `await`, which are not being properly highlighted as keywords.

[2018-04-19 10:52] di commented on #3770
Moved to https://github.com/pypa/readme_renderer/issues/96.

[2018-04-19 10:52] #3770 closed

[2018-04-19 10:59] di commented on #3766
@hpk42 @obestwalter Care to add your support for this classifier?

Historically classifiers have been title-cased (e.g., `Framework :: Pytest`) so unless the `tox` maintainers have strong feelings about the casing of the name, I'm inclined to prefer `Framework :: Tox` for consistency's sake.

[2018-04-19 11:45] fsignoret commented on #3654
Hello,
The issue is back.
Looks like the openssl upgrade has actually not fixed it.

[2018-04-19 11:47] ewdurbin commented on #3654
@fsignoret can you provide logs.

output of `pip install` with `-vvv` flag at least.

[2018-04-19 11:47] di commented on #1300
There is an existing for getting classifiers via the JSON API: https://github.com/pypa/warehouse/issues/1244

[2018-04-19 11:57] fsignoret commented on #3654
Here are the logs

[error_python.txt](https://github.com/pypa/warehouse/files/1927963/error_python.txt)

Things to note:
- error appeared between Apr 16, 2018 12:03 PM and Apr 17, 2018 1:59 PM
- it is working from our local machine, but is failing from amazon machine

[2018-04-19 12:05] di commented on #3650
More or less blocked on #284.

[2018-04-19 12:07] fsignoret commented on #3654
Can this help?

root@8c41fcbc2d07:/# wget https://pypi.python.org/simple/packaging/
--2018-04-19 14:06:07--  https://pypi.python.org/simple/packaging/
Resolving pypi.python.org (pypi.python.org)... 151.101.0.223, 151.101.64.223, 151.101.128.223, ...
Connecting to pypi.python.org (pypi.python.org)|151.101.0.223|:443... connected.
Unable to establish SSL connection.

[2018-04-19 12:10] di commented on #3436
More or less blocked on #284.

[2018-04-19 12:13] di commented on #3486
@waseem18 How's that PR coming?

[2018-04-19 12:16] ewdurbin commented on #3654
@fsignoret from the same machine (`8c41fcbc2d07`) please execute

`openssl s_client -connect pypi.python.org:443`
`openssl s_client -connect pypi.org:443`
`openssl s_client -connect files.pythonhosted.org:443`

and provide the output. it sounds like your client does not support TLSv1.2

[2018-04-19 12:25] fsignoret commented on #3654
[openssl_output.txt](https://github.com/pypa/warehouse/files/1928083/openssl_output.txt)

[2018-04-19 13:15] obestwalter commented on #3766
Hi @di - thanks for picking that up. I would also think it can't hurt to have a classifier for tox, as there is a growing number of projects and plugins around it. Regarding the casing: I would definitely prefer `tox`. I just scrolled through all existing classifiers and all but two are Title Cased. So seeing some lower case things there already I would think we can keep tox lower case also?

The

[2018-04-19 14:52] anarcat commented on #3369
How about the [old issue queue on Sourceforge](https://sourceforge.net/p/pypi/support-requests/)? Old discussions (like [this one](http://code.activestate.com/lists/python-distutils-sig/24089/)) refer people there and new request are still being filed there.

I know I [filed one over a year ago](https://sourceforge.net/p/pypi/support-requests/709/), right before PEP-0541 was created (!), until I f

[2018-04-19 15:13] Wilfred opened #3773 "pypi.org: HTTP access no longer an option"
It used to be the case that http://pypi.python.org/simple was accessible without HTTPS. This was important in legacy environments that don't support the certificates offered:

[code]

`pip` has a `--trusted-host` option to support this use case, and has the appropriate caveats in the docs.

This doesn't seem to be accessible any more for pypi.org. Could this please be restored?

[2018-04-19 15:25] ewdurbin commented on #3746
State found:

[code]

So the index job attempted to create the new index, but the result was empty. It nevertheless continued on to delete the previous index and take the alias.

[2018-04-19 15:30] ewdurbin commented on #3746
logs:

[code]

excluded _bulk calls for clarity, but there were plenty of them!

[code]

comparing to two previous runs:

[code]

[2018-04-19 15:48] di commented on #3369
@anarcat Yes, we will migrate those issues as well, I've updated this issue's title and description accordingly.

Thanks for your patience!

[2018-04-19 16:17] jonparrott commented on #3770
looks like it might just be that we need to use the "python3" lexer by default: http://pygments.org/demo/6734166/

[2018-04-19 16:53] RelNetDavidMerrill commented on #3293
Same here, downloading & installing pip manually as described in #3293 (comment) solved the issue. Thank you!

[2018-04-19 16:58] di commented on #3551
Closing because I don't think there's anything for us to do here.

[2018-04-19 16:58] #3551 closed

[2018-04-19 18:29] brainwane commented on #3689
@aalmazan we'd love your help on this, if you have time.

[2018-04-19 20:19] ewdurbin commented on #3773
Based on the error, you are receiving a redirect from HTTP to HTTPS. This has been the behavior from pypi.python.org for as long as I can remember.

[code]

The root of the issue you have opened is that your client is unable to negotiate a TLSv1.2 connection to PyPI. Until April 10th, 2018 this would have succeeded.

PyPI is no longer accessible to clients which do not support TLSv1.2 due to our C

[2018-04-19 22:26] #3773 closed

[2018-04-20 07:46] Wilfred commented on #3773
@ewdurbin it was previously possible to access `/simple` without HTTPS as recently as February 2018. I have in my bash logs:

[code]

[2018-04-20 09:28] fsignoret commented on #3654
I finally decided to build my docker image on a local machine to avoid the problem.

[2018-04-20 09:28] #3654 closed

[2018-04-20 11:41] ewdurbin commented on #3773
@Wilfred You were not communicating with the index over HTTP, in the request log you have supplied above, `pip` would have received a `HTTP 301` with `Location: https://pypi.python.org/simple` and proceeded to follow the redirect into HTTPS.

The root issue here is that your client does not support TLSv1.2, and PyPI _only_ supports TLSv1.2 or higher.

Again. If you are able to provide more informa

[2018-04-20 11:52] ewdurbin commented on #3746
it seems #3774 may have helped... which leads me to believe some state was being cached by the celery worker...

[2018-04-20 16:01] #1300 closed

[2018-04-20 16:01] #3628 closed

[2018-04-20 17:30] mcdonc commented on #3734
FTR, something like this (untested) in warehouse/legacy/api/xmlrpc/views.py is one way to go to support this:

[code]

[2018-04-20 17:31] pradyunsg commented on #3517
Can close now. :)

[2018-04-20 17:58] brainwane commented on #3275
[The April 10th update](https://www.jfrog.com/jira/browse/RTFACT-16223?focusedCommentId=54641&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-54641) in the JIRA ticket by @yuvalreches says:

The redirect has already started (on Monday, April 16th), and the User-Agent exclusion will work until April 30th. Could you please update the JIRA ticket to reflect @ewdurbin's

[2018-04-20 18:12] #3517 closed

[2018-04-20 18:16] yuvalreches commented on #3275
@ewdurbin Artifactory 5.10.3 and 5.9.5, 5.8.9 are available for download and supporting pypi.org 😃
@brainwane I've updated the JIRA comment, thanks :)

[2018-04-20 20:40] brainwane commented on #1300
The page is now at http://pypi.org/classifiers . Thanks @di.

[2018-04-21 11:04] waldyrious commented on #1300
@brainwane, @di and all: is there a place where the suggestion made by @ncoghlan [above](https://github.com/pypa/warehouse/issues/1300#issuecomment-360965801):

...could be tracked, e.g. by opening a new issue? Or has that already been decided against?

FWIW, I still think that a public and collaborative ("PR-able") data source would be preferable to a private database table. At least the table de

[2018-04-21 15:46] ncoghlan commented on #1300
I withdrew the basic suggestion of a flat text file based on Donald's comments at https://github.com/pypa/warehouse/issues/1300#issuecomment-375945558

That doesn't rule out the possibility of a "classifier log" format though, that tracks the possible operations as a series of historical events:

- addition of new classifiers
- renaming of classifiers
- prohibition of a classifier in new uploads (

[2018-04-22 02:12] stephen-bunn opened #3785 "Incorrect README.rst Rendering"
The `long_description` for https://pypi.org/project/bethesda-structs/ is not rendering any of the given RestructuredText correctly. I'm not sure if my README is doing anything wrong, but `readme_renderer` does not detect any errors.

![image](https://user-images.githubusercontent.com/4956855/39090586-c0e059a2-45b0-11e8-8d5e-71d6abf63aa4.png)

I would expect the rst to be rendered similar to the [G

[2018-04-22 02:53] ncoghlan commented on #3231
Looking at this question from a broader PSF perspective, it might also be valuable to talk to the folks that handle mail.python.org as to whether it might help them if `postmaster` and the various `*-owner` contact lists could opt-in to being hooked up to a ticketing system of some kind. (/cc @msapiro)

As things currently stand, I suspect @MarkMangoba and the other PSF staff don't have much (if a

[2018-04-22 07:33] waldyrious commented on #1300
@ncoghlan thanks for the detailed response. I'll open a new issue, then. Until that process is completed, though, could you clarify what process is currently in place for tackling edits like [this proposed change](https://github.com/waldyrious/classifiers.py/commit/0332c0ff683610b6de6a9f7eca24f4a2b96b5a1d)?

[2018-04-22 07:50] waldyrious opened #3786 "Derive list of classifiers from a public, version-controlled source"
Per discussions in #1300, in particular the following comments, quoted below for convenience:

[ncoghlan](https://github.com/pypa/warehouse/issues/1300#issuecomment-360965801):

[jonparrott](https://github.com/pypa/warehouse/issues/1300#issuecomment-375944477):

[dstufft](https://github.com/pypa/warehouse/issues/1300#issuecomment-375945558):

(...)

[waldyrious](https://github.com/pypa/warehouse/i

[2018-04-22 07:51] waldyrious commented on #3786
Pinging the authors of the comments above: @ncoghlan, @jonparrott, @dstufft.

[2018-04-22 10:08] bennuttall commented on #3668
I started the piwheels project as a solution for Raspberry Pi users, and around the same time, some google devs working on a Pi project wanted to be able to distribute wheels for Pi users. piwheels was just getting started so they requested warehouse supported uploading armv6 and armv7 wheels. This was accepted quite quickly and then warehouse's back-end became the new default for uploads (a while

[2018-04-22 10:51] eroux opened #3787 "Request trove classifier for Tibetan"
Request to add a new Trove classifier.

## The name of the classifier you would like to add
`Natural Language :: Tibetan`

## Why do you want to add this classifier?
Esukhia is building an ecosystem of Python libraries for Tibetan NLP (tokenization, spell checking, phonetics, etc.), it would be useful to have this classifier for them, especially since other languages exist.

[2018-04-22 11:55] jamadden commented on #3785
I find that [restview's](https://pypi.org/project/restview/) `--pypi` mode finds errors that 'setup.py check' misses. In this case:

[code]

And the resulting HTML:

<img width="1166" alt="screen shot 2018-04-22 at 06 54 07" src="https://user-images.githubusercontent.com/1256082/39094729-07e884e8-45fa-11e8-9286-ff4b2d2c25a2.png">

[2018-04-22 12:13] jamadden commented on #3440
👎 on this from me. On legacy PyPI, I had to use an ad blocker to hide the search box due to the auto-focus. If that gets added here I'll likely do the same.

The reason is that I use a trackball with extra buttons (to help with wrist pain). Normally in a webpage those buttons work as back/forward page navigation (just like the browser toolbar or keyboard shortcut, only much easier to access with l

[2018-04-22 12:49] stephen-bunn commented on #3785
Thanks for the help! This has resolved my issue.
I'll be sure to run my RSTs through restview before publishing to pypi.

[2018-04-22 12:49] #3785 closed

[2018-04-22 12:52] brainwane commented on #2589
@4383 I'm so sorry for the wait! @di do you have any thoughts on what next steps would be?

[2018-04-22 13:03] brainwane commented on #2533
@s-m-e @caseyjlaw Are you still experiencing this problem?

[2018-04-22 13:11] brainwane commented on #2722
@iq8al Hope things are going well; let us know if you need a suggestion for a Warehouse task to work on! Thanks.

[2018-04-22 14:29] di commented on #2589
This will need discussion, likely on distutils-sig. Since a package name like `4383/Django` is not currently a valid package name, this would possibly require a PEP, as well as significant changes to tooling in the ecosystem (pip, twine, etc).

[2018-04-22 14:44] s-m-e commented on #2533
@brainwane On my last attempt on 2018-04-10, it worked (without a proxy). Well, it's just one data point - it could be a coincidence.

[2018-04-22 16:25] 4383 commented on #2589
Hi @brainwane @di!

I can describe the attended behavior in PEP for more examples and to standardize this feature.

Thanks for replies!

[2018-04-22 16:34] di commented on #2589
To be clear: a discussion on distutils-sig should probably be the first step.

[2018-04-22 16:37] 4383 commented on #2589
@di ok

[2018-04-22 17:25] yeraydiazdiaz commented on #3518
I can't reproduce using iOS 11.1 in my iPhone SE or in the Simulator for any device. Here's what it looks like for iPad in the simulator:

<img width="915" alt="screen shot 2018-04-22 at 18 22 40" src="https://user-images.githubusercontent.com/6739793/39097887-5f82b240-465a-11e8-9f51-dc5cf424911c.png">

Is it possible it happens only on earlier versions?

[2018-04-22 22:11] pohmelie commented on #3440
@jamadden
UI should target most common user and, believe me, most common user use search input in pypi front page. So, there is not reason to have behavior other than focus on search box.
@nlhkabu
I think good solution is to have logic as more popular feature = less key/mouse strokes. So search is most and default, login, lets say, second and are one tab from search, etc. This maybe will broke top

[2018-04-22 22:37] jamadden commented on #3440
I would tend to imagine most users use Google/Bing/DDGo/browser search bar/etc to find projects and click the link that takes them to the project page (certainly that's what I usually do---and if the project isn't what I'm looking for, I hit "back", or try to 😄 ). If I'm looking for projects on PyPI it's in browse mode. But I haven't seen any user studies, maybe most people prefer to directly sear

[2018-04-22 23:45] pohmelie commented on #3440
@jamadden
Well, I find obnoxious pypi without autofocus search :smirk:
Of course part of users do find pypi packages via other places, but pypi have searchbox and if user is on pypi **front** page, then it 99% that user want to search some packages.
But… anyway, it is just my opinion, maybe I'm wrong.

[2018-04-23 05:26] nlhkabu commented on #1303
As discussed on https://github.com/pypa/warehouse/issues/3447 the optimal solution for this is to add a "new release" and "trending" sort orders in the search results interface, and then link to this from these buttons.

[2018-04-23 13:36] wagner-certat commented on #1506
What about deceased maintainers? Is it possible to transfer the maintainership in these cases if a death notice is served?

cc @aaronkaplan

[2018-04-23 13:54] standaloneSA opened #3790 "pip install -r requirements.txt fails on inherited requirements not specifying versions"
From pip install -r requirements.txt:

[code]

Is anyone else getting that?

[2018-04-23 14:16] brainwane commented on #3689
If the status is not normal, I think we should indicate:

* that the status is not normal
* if there's a component affected, mention the component
* here's a link for more info (default: status.python.org -- if there's an incident, permalink to that)
* the time the incident started, in UTC

[2018-04-23 14:18] brainwane commented on #3632
We discussed this issue in [our weekly meeting last week](https://wiki.python.org/psf/PackagingWG/2018-04-17-Warehouse). It sounds like a call-to-action about this won't necessarily fit in [Dustin's talk at PyCon](https://us.pycon.org/2018/schedule/presentation/148/).

Ernest noted that we had excellent results when we asked people to verify before releasing a new package -- a little confusion, bu

[2018-04-23 14:27] di commented on #3790
@standaloneSA Are you trying to get Warehouse up and running locally? You shouldn't have to run `pip install -r requirements.txt`, see our [Getting Started Guide](https://warehouse.readthedocs.io/development/getting-started/) instead.

[2018-04-23 14:27] #3790 closed

[2018-04-23 14:58] di commented on #1506
@wagner-certat Yes, I think that would fall under the category of an ["Abandoned Project"](https://www.python.org/dev/peps/pep-0541/#abandoned-projects).

[2018-04-23 15:01] di commented on #3787
Done! Thanks @eroux.

[2018-04-23 15:01] #3787 closed

[2018-04-23 15:07] aaronkaplan commented on #1506
Thanks Dustin for the answer. What requirements would you have (should we send a certificate of death or so)?
To whom?

Best,
a.

[2018-04-23 15:07] ewdurbin commented on #3746
haven't had any issues since #3774 deployed... continuing to keep an eye on things. added metric for search result counts in #3772 to alert us when index is empty.

[2018-04-23 15:13] di commented on #1506
@wagner-certat We haven't determined the means by which PEP 541 requests will be created yet, see https://github.com/pypa/warehouse/issues/3231.

Is this a hypothetical issue, or are you attempting to acquire an actual project for which the owner is deceased?

[2018-04-23 15:13] eroux commented on #3787
thanks!

[2018-04-23 15:35] di commented on #1506
@aaronkaplan Thanks for the clarification. I'd suggest that you make a separate issue to capture this request. We're currently still defining the process for PEP 541, and once we do we have a large backlog to work through as well, so please have patience.

[2018-04-23 15:39] aaronkaplan commented on #1506
ok. can of course make a separate issue.
What time frame are we looking at? Months? Weeks? Days?

Best,
a.

[2018-04-23 16:10] standaloneSA commented on #3790
@di

Hi Dustin,

Thanks, but I am actually getting this when I'm running 'make serve', as indicated in the Getting Started Guide you linked to.

[2018-04-23 16:44] aaronkaplan opened #3792 "request for transfer of ownership of a pypi account/project"
As discussed in #1506 , I'd like to ask you to transfer the ownership of https://pypi.org/project/pycryptopan/ to me. As written in #1506 the co-author of the code behind pycryptopan is unfortunately deceased. I have git admin and commit privs to the underlying gitub repo (https://github.com/FFM/pycryptopan) but not access to the pypi account. Hence I can't update the pypi page. However, I am cont

[2018-04-23 16:45] caseyjlaw commented on #2533
@brainwane I try to reproduce the error in two locations, but could not. It seems to have been resolved for me.
Congrats on the big upgrade!

[2018-04-23 16:45] aaronkaplan commented on #1506
okay, separate ticket #3792 created. Please advise on further steps.

[2018-04-23 22:04] jorgesumle opened #3794 "Add support for Gogs statistics"
I saw that the warehouse displays statistics for GitHub projects. I want that functionality for [Gogs](https://gogs.io/) projects. That way people could see the stars and forks directly from PyPI. Here is one of the projects for which I want to display statistics:

- [PyPI entry](https://pypi.org/project/bullet-dodger/)
- [NotABug gogs instance](https://notabug.org/jorgesumle/bullet_dodger)

[2018-04-23 22:56] keimlink commented on #3440
Would it be possible to implement keyboard shortcuts like the ones used by [GitHub](https://help.github.com/articles/using-keyboard-shortcuts/) or other platforms to focus the search bar? Does this solve your challenge @nlhkabu?

[2018-04-23 23:04] di commented on #3794
@jorgesumle Does Gogs have a similar API that doesn't require authentication to use?

[2018-04-23 23:15] jorgesumle commented on #3794
Yes, see https://github.com/gogits/go-gogs-client/wiki

[2018-04-24 00:30] brainwane commented on #3790
I think @nlhkabu was having this issue a few days ago.

[2018-04-24 05:32] nlhkabu commented on #3440
@keimlink - yes, this could be a solution that satisfies everyone - thanks for the suggestion :)

We currently have an accessibility specialist doing an audit of the codebase - once that is complete, I will ask him to look into this issue from an acccessibility point of view.

I can also look into our Google analytics statistics to check what percentage of users are using search from the homepage.

[2018-04-24 09:00] browniebroke commented on #3252
I've looked under the hood at the [libraries.io source code](https://github.com/librariesio/libraries.io), to try to understand how their trending list was computed. However, I'm not so familiar with Ruby or Rails, so let's see what I can find... I've started by [searching for "trending"](https://github.com/librariesio/libraries.io/search?q=trending), which trimmed down the results.

At first glan

[2018-04-24 13:38] rgieseke commented on #3664
I might have a similar problem: https://pypi.org/project/shortcountrynames/
The markdown rendering worked for me in other projects and I think I have wheel=0.31.0

Requirement already up-to-date: wheel in ./venv/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (0.31.0)

Repo: https://github.com/rgieseke/shortcountrynames

[2018-04-24 14:27] di commented on #3664
@rgieseke Lookng at the latest release for that project, the `Description-Content-Type` field is not making it to PyPI.

Can you confirm that you have `setuptools>=38.6.0` and `twine>=1.11.0` as well?

[2018-04-24 14:33] di commented on #3794
It seems like all API requests require authentication? E.g.:

[code]

[2018-04-24 16:43] gaborbernat commented on #3766
@di any updates on this?

[2018-04-24 16:51] di commented on #3766
I've added the classifier `Framework :: tox`, thanks for your patience.

[2018-04-24 16:51] #3766 closed

[2018-04-24 17:16] jadolg opened #3796 "Support for markdown descriptions"
It would be awesome if descriptions of the packages could be written on markdown. It feels very natural for a GitHub user. Most of the time I reuse my GitHub description for the package description and would be great to reuse the markdown syntax too.

[2018-04-24 17:17] rspeer commented on #3664
I have the same problem: https://pypi.org/project/ConceptNet/5.6.2/ . Repo: https://github.com/commonsense/conceptnet5

I have setuptools 39.0.1, twine 1.11.0, and wheel 0.31.0, and I ran `python setup.py sdist upload`.

I even deleted ConceptNet 5.6.1 and incremented the version to 5.6.2 when I updated all the above dependencies. However, I'm not just going to keep incrementing the version number

[2018-04-24 17:30] rspeer commented on #3632
May I suggest that you should increase the expiration time on the verification e-mail, which would probably increase the rate of people successfully completing the process?

There are things in my e-mail that are important enough that they have to be dealt with in 6 hours. PyPI is not one of them.

[2018-04-24 17:33] rgieseke commented on #3664
@di Updating setuptools did the trick! Thanks for the quick reply and so much for the PyPI update!

@rspeer You can use the https://test.pypi.org/ instance to test as well ... (and delete tags later or re-try)

[2018-04-24 17:39] obestwalter commented on #3766
Hi @di thanks a lot!

[2018-04-24 17:43] rspeer commented on #3664
Apparently `python setup.py sdist upload` is the problem. I will open a new issue about the fact that it's extremely non-obvious that you have to use "twine". (I know there's documentation that says so... but it's not the documentation that's linked to when you're looking for how to set your project description.)

[2018-04-24 17:50] rspeer opened #3797 "Description of how to set a project description doesn't mention that you have to use "twine""
I looked at the page for ConceptNet on the new PyPI, and saw that it didn't have much of a description.

I went to the "manage" page and saw this message: https://imgur.com/a/pSlvUl6

I read the documentation it linked, and read about `long_description` and `long_description_content_type`, so I put those in setup.py, incremented the version number, and ran `python setup.py sdist upload`, like I al

[2018-04-24 17:51] di commented on #3664
@rspeer Can you link us to the documentation that showed you to use `python setup.py sdist upload`?

[2018-04-24 17:53] nixjdm opened #3798 "Expose long_description_content_type in JSON API"
Feature request: Add  'long_description_content_type' to JSON API in 'info': section, alongside the existing 'description'

Now that PyPI supports Markdown and more than one kind of content type for long descriptions, it would be helpful to be able to see what the content type is with the JSON API. Otherwise it is more difficult to correctly interpret the 'description', since it isn't immediately

[2018-04-24 17:55] brainwane opened #3799 "Redirect legacy classifier filter URLs"
Some projects' documentation ([example](https://github.com/sphinx-doc/sphinx/pull/4891)) points to legacy PyPI URLs for classifier-based searches like

https://pypi.python.org/pypi/?:action=browse&c=599

Could we have those redirect?

[2018-04-24 17:58] di commented on #3798
@nixjdm Sounds like a good idea. Here's where the `description` field is added: https://github.com/pypa/warehouse/blob/338d6a102939c6452c0b6825924151d1b8b09301/warehouse/legacy/api/json.py#L157

[2018-04-24 18:01] ewdurbin commented on #3799
@dstufft @di thoughts here?

I'm neutral here. If there is a trivial way of supporting a URL rewrite we should consider it.

As far as I know, archival services do not generally respect query parameters so while we would be breaking links... I'm not sure how damaging this is to the web overall.

[2018-04-24 18:05] dstufft commented on #3799
It wouldn't be hard to support I don't think. You're just adding another legacy API in ``warehouse/legacy/api/pypi.py`` and looking up the classifier by ID, and redirecting to the search page for that classifier.

[2018-04-24 18:05] ewdurbin commented on #3275
Thank you @yuvalreches!

@ori-yitzhaki @yuvalreches do you have a public support document, blog post, or similar that we can reference after the shutdown for artifactory users?

[2018-04-24 18:07] di commented on #3799
I think this is totally doable, see what we do for `list_classifiers` here: https://github.com/pypa/warehouse/blob/d8269247e43123feeeb7632d89f4698b58f1cb8a/warehouse/legacy/api/pypi.py#L80-L92

[2018-04-24 18:08] di commented on #3799
Note that regular search links (without classifiers) should probably be supported as well, e.g:

https://legacy.pypi.org/pypi?%3Aaction=search&term=foobar&submit=search
should redirect to:
https://pypi.org/search/?q=foobar

[2018-04-24 18:13] rspeer commented on #3664
https://docs.python.org/3.6/distutils/packageindex.html#the-upload-command

Also a decade of habit. If you want to change people's habits, you could at least _tell_ them they need to change.

[2018-04-24 18:16] rspeer commented on #3797
Also, this is at odds with the page in the Python 3.6 official documentation about PyPI, called "The Python Package Index", which mentions `python setup.py sdist upload` and doesn't mention `twine`:

[2018-04-24 18:32] rspeer commented on #3664
To clarify something: I'm not claiming that PyPI is linking to the Python documentation. PyPI links to packaging.python.org, of course. However, one way that people learn about PyPI in the first place is the Python documentation, where PyPI is described as that place that `setup.py upload` uploads to.

If you want to update people's understanding about how to upload Python packages, talking about

[2018-04-24 20:08] jorgesumle commented on #3794
Stars and forks should not require authentication, but they aren't implemented yet according to the wiki.

[2018-04-24 20:51] brainwane commented on #2533
Thank you! I think we can say this is resolved. :)

[2018-04-24 20:51] #2533 closed

[2018-04-24 21:18] jadolg opened #3803 "Only Python 2 version showing for universal wheel"
Hi, I have uploaded a new version of my library which is a universal wheel. It's platform independent and works with both python 2 and 3 but Python Version of the download files section only shows 2.7.
![image](https://user-images.githubusercontent.com/5427672/39211612-2e26275a-47da-11e8-9ef6-4e49c66937df.png)

[2018-04-24 21:34] di commented on #3803
@jadolg Can you link us to the project in question?

[2018-04-24 21:38] dstufft commented on #3803
This happens when you upload with ``python setup.py upload`` instead of twine.

I wonder if we shouldn't just remove the column completely. It's kind of silly since it's either going to be nothing (sdists) or already represented in the wheel filename. It might still be relevant for eggs, but I don't think so there either.

[2018-04-24 21:50] jadolg commented on #3803
https://pypi.org/project/rocketchat-API/

[2018-04-25 02:02] ncoghlan commented on #3668
I'm assuming that we can't reinstate the prohibition on Linux wheel uploads for ARM at this point without causing UX problems for Raspberry Pi users. So let's not do that :)

Instead, my suggestion would be that we restrospectively declare `linux_armv7l` and `linux_armv6l` to be Raspbian specific compatibility tags, and update `pip` (and any compatibility tag helper libraries) to check `/etc/os-re

[2018-04-25 02:14] ncoghlan commented on #3668
https://github.com/pypa/warehouse/pull/3806 proposes a new comment on the list of permitted ABI tags noting that there's a lot more involved in adding a new ABI tag than just approving it there.

[2018-04-25 02:45] njsmith commented on #3668
*Would* removing support for uploading `linux_armv?l` wheels cause a problem for Raspberry Pi users? Or are they all using piwheels.com instead? How many `linux_armv?l` wheels actually ended up getting uploaded to PyPI?

(Agreed that it would be great to have a proper wheel tag for this.)

[2018-04-25 02:52] ncoghlan commented on #3668
Ah, I'd missed that detail (https://www.piwheels.org/ is the URL). In that case, yeah, it would be highly desirable to go back to preventing use of these tags on pypi.org itself, and have the Warehouse level feature be a config setting for "extra wheel compatibility tags".

Then @bennuttall could add these tags to the config setting for piwheels, and be in a similar situation to Galaxy Project whe

[2018-04-25 04:00] njsmith commented on #3668
Here's all the `linux_arm` downloads for PyPI in March 2018: https://docs.google.com/spreadsheets/d/1rbdY2KT8t4o7BVEmwvwc9Fh7D7wpUjj6tiClEhrQ0lY/edit#gid=26881496

Query:

<details>
[code]

</details>

[2018-04-25 07:29] dstufft commented on #3668
I don't particularly remember merging that PR, but generally we don't prevent people from uploading incompatible wheels (e.g. you can upload a manylinux wheel that is actually ubuntu specific) and there are benefits to allowing the generic tags. You may have additional files that only make sense on a Linux distribution (e.g. man files, etc) while still being a pure Python wheel. I believe that Arm

[2018-04-25 07:53] njsmith commented on #3668
@dstufft the problem is that if you don't treat the `linux_armv?l` tags as being Pi specific, then you can't use them at all, because there is no generic "linux arm" ABI, there's only "this works on a Pi running this version of Raspbian, but not Android", or "this works on Android, but not on a Pi", etc. etc.

OK yes I guess if Armin is building fully statically linked rust binaries that don't dep

[2018-04-25 08:44] bennuttall commented on #3668
linux_armv?l tags aren't Pi specific, but if someone built a wheel on a Pi, it may be incompatible with other Arm boards.

:+1:

@ncoghlan Are you suggesting we force another tag on the wheels we build? Wouldn't that require a change in pip for requests from Raspbian to match the tag?

Does anyone consider the fact pip identifies the platform as armv7 on a Pi 2/3 a bug, when it's actually armv6 us

[2018-04-25 10:54] sarahmtynes opened #3808 "Numba dependency pegged to erroneous install of llvmlite"
The latest release of Numba pegs an llvmlite dependency to llvmlite>=0.23.0dev0; however, running a pip install for llvmlite produces the following error:

[code]

Numba itself is a dependency of fastparquet, meaning that the installation of fastparquet is also broken.

[2018-04-25 11:43] dstufft commented on #3668
I could have swore we already relaxed the restriction on x86 and amd64 wheels as well to allow them, but looking at the code that's not true. Maybe I intended to do it but never actually got around to doing it.

Wheel has bad defaults, we should fix them. There's no reason why a generic linux wheel is an unreasonable thing, the only real problem is that people will get it by default with opt-ing i

[2018-04-25 12:28] #3799 closed

[2018-04-25 13:00] #3734 closed

[2018-04-25 13:03] 4383 commented on #2589
Discussion on distutils-sig was now opened
https://groups.google.com/forum/#!topic/distutils-sig/gFusrdTuWek

And message was sent on the disutils-sig mailing list

[2018-04-25 13:05] brainwane commented on #2589
I think that might be the wrong list. Please post to https://mail.python.org/mailman/listinfo/distutils-sig . Thank you and sorry for the mixup.

[2018-04-25 13:08] 4383 commented on #2589
I have already sent an email to this mailing list: distutils-sig@python.org
Can you confirm it's right?

[2018-04-25 13:17] mschwager opened #3810 "GPG Signatures in the Warehouse UI"
Hey all,

I'm going to mostly copy from an issue raised elsewhere (https://github.com/pypa/pypi-legacy/pull/762):

This discussion also provides some interesting points regarding GPG signatures and PyPI: https://mail.python.org/pipermail/distutils-sig/2016-May/028933.html

I'm definitely interested in discussing this further, and figuring out how we can improve the security of packages in the new

[2018-04-25 13:30] jamadden commented on #3808
Thanks for the report! Unfortunately this is not the correct place for it. This tracker is only for issues with the software that runs pypi.org itself; it cannot help with packages distributed (or pip install-ed) from there. You'll need to contact the Numba or llvmlite developers instead.

Just based on the traceback, it looks like a problem on your system. You'll need to make sure llvm is properl

[2018-04-25 13:30] #3808 closed

[2018-04-25 15:37] di commented on #3558
Fixed by #3619.

[2018-04-25 15:37] #3558 closed

[2018-04-25 17:52] nixjdm opened #3813 "Lektor Trove Classifiers"
Request to add two new Trove classifiers.

## The name of the classifiers you would like to add
`Framework :: Lektor`
`Framework :: Lektor :: Plugins`

## Why do you want to add this classifier?
Lektor is a static site generator and framework that has plugins, which are Python packages/modules. I would like these classifiers to more easily discover plugins, forks, and related projects. This has be

[2018-04-25 18:46] bittner opened #3814 "Set focus to search box when tab key pressed"
Given I'm on the Warehouse start page
and I want to use just the keyboard to search for a package
when I press my keyboard's `<Tab>` key once (or max. twice)
then I should be able to type the package name
and press `<Return>`, or `<Tab>`+`<Space>`/`<Return>` alternatively
to get the search triggered.

Current Behavior
---------------

When I press `<Tab>`
then the browser walks through all element

[2018-04-25 19:02] di commented on #3813
@nixjdm Could you explain why a user would choose one of these suggested classifiers over the other?

I think the only reason `Framework :: Pelican :: Plugins` exists is because `Framework :: Pelican :: Themes` exists as well, and I suspect that just `Framework :: Lektor` would probably suffice here.

[2018-04-25 19:26] nixjdm commented on #3813
@di On second thought, I agree, actually. `Framework :: Lektor` alone should be fine. Most Lektor packages are plugins.

Lektor themes exist, but at the moment anyway, they are not python packages or installable with pip. Perhaps when/if that ever changes those subsets can be added. Right now there's now there's not enough of a use for the additional classifier.

[2018-04-25 19:51] nlhkabu commented on #1354
Hi @Volcyy, sorry for the delay on responding to this.

I assume you are working off this branch: https://github.com/Volcyy/warehouse/tree/license-read-more-modal?

Right now, I can't build this, probably because it's out of date with our master branch. Would you be able to update this branch with the latest master, and I can pull it down and take a look? Thanks :)

[2018-04-25 20:02] KOLANICH commented on #1697
Now the new site is active.

[2018-04-25 20:05] KOLANICH commented on #3632
I suggest not to verify email addresses, but just stop collecting them and implement signon and signup without a email, cellphone verification or anything of this kind. Just a crypto key for both signup, signon and packages signing.

[2018-04-25 20:24] nixjdm commented on #3798
@di should I leave the xmlrpc api for release_data alone, or update that as well?

[2018-04-25 20:28] di commented on #3798
@nixjdm I can't see any reason why it would hurt to add it there as well.

[2018-04-25 20:34] nixjdm commented on #3798
Alright, will do.

[2018-04-25 20:56] di commented on #3813
OK, I've added the classifier `Framework :: Lektor`:

https://pypi.org/search/?c=Framework+%3A%3A+Lektor

[2018-04-25 20:56] #3813 closed

[2018-04-25 20:59] nixjdm commented on #3813
Thanks @di!

[2018-04-25 21:01] di opened #3818 "Cache purging w/ Classifier changes"
When adding a new classifier or deprecating an existing classifier, we should purge the cache of all `/search` routes.

Also currently https://pypi.org/classifiers/ is not cached. This page should be cached, and also purged when any classifier change is made.

[2018-04-25 21:16] Ayub-Khan opened #3819 "pip search not working if pkg name contains '-'"
* Pip version:
9.0.1 and 10.0.1
* Python version:
python 2 and python 3
* Operating system:
Ubuntu

### Description:

pip search edx-i18n-tools
Expected Behavior :
It should show the version and summery of latest version
Actual Behavior :
shows Nothing

pip search edx-ace
Expected Behavior :
It should show the version and summery of latest version
Actual Behavior :
shows Nothing

pip search edxval

[2018-04-26 05:38] nlhkabu commented on #3440
Noting this comment from @bittner on #3814:

Given I'm on the Warehouse start page
and I want to use just the keyboard to search for a package
when I press my keyboard's `<Tab>` key once (or max. twice)
then I should be able to type the package name
and press `<Return>`, or `<Tab>`+`<Space>`/`<Return>` alternatively
to get the search triggered.

Current Behavior
---------------

When I press `<Tab

[2018-04-26 05:39] nlhkabu commented on #3814
Hi @bittner, thanks for opening this. I've moved this to #3440, where there is already a discussion underway :)

[2018-04-26 05:39] #3814 closed

[2018-04-26 05:50] nlhkabu commented on #2211
@dstufft any more thoughts on this?

I think we could make this a PyPI specific enhancement - that way we could set a minumum size, recommended dimensions, file format, etc.

In terms of displaying it on the page... I'm not sure. Some projects (e.g https://pypi.org/project/black/) display their logo in their project description, so, you'd end up with duplicate images.

One solution to this would b

[2018-04-26 06:39] Volcyy commented on #1354
Hey @nlhkabu, the branch you linked is the correct one, and I've just updated it.

[2018-04-26 07:30] koliber opened #3825 "Unable to log into account on pypi.org and test.pypi.org"
Every time I try to log into the web-based account, I get a "user not found" error.

![image](https://user-images.githubusercontent.com/1017317/39291671-10b0b6f8-4934-11e8-95ee-0722fbfa88ab.png)

 I tried many things.

What I did:

1. Created an account at pypi.com with the email address `krystian@goodgrids.com`
2. DID NOT click on the verification email (missed it)
3. Tried logging in, and got th

[2018-04-26 10:09] Tonkonozhenko opened #3826 "Cannot install pip packages"
Hi

I get next error when trying to install package:

[code]

[2018-04-26 10:12] ewdurbin commented on #3825
Hello @koliber! Logins to PyPI are performed with the username specified at signup not email addresses.

Does this help you?

[2018-04-26 10:15] Tonkonozhenko commented on #3826
Now that command worked, but I hope stacktrace will be useful for you.

[2018-04-26 10:16] ewdurbin commented on #3826
Hello @Tonkonozhenko! Was this error reproducible more than once? Occasional timeouts will happen.

If this was reproducible for any duration of time we may need to do some tuning of our CDN configuration.

[2018-04-26 12:50] ncoghlan commented on #3668
There *aren't* any hyper-specific Linux distro compatibility tags currently defined for wheel to opt in to: there's only "operating-system + CPU architecture".

We can mostly get away with that on Windows because the python.org binary provides an anchor as to which versions of the Windows ABI should be supported, but there's a reason the `auditwheel` project is a key piece of making `manylinux` wo

[2018-04-26 13:37] koliber commented on #3825
That's it!  I wrongly assumed it's the email address.

[2018-04-26 13:37] #3825 closed

[2018-04-26 14:42] ewdurbin commented on #3819
I think the results for all provided examples make more sense in the "main" search.

Looks like we should be able to make results for `pip search` more sensible by applying the same search logic/boosting. I'm gonna approach this shortly.

[2018-04-26 15:02] ewdurbin commented on #3746
we've been going steady for 3 days. closing.

[2018-04-26 15:46] ewdurbin commented on #3819
all reported issue here were resolved in #3827

[2018-04-26 15:46] #3819 closed

[2018-04-26 15:47] ewdurbin commented on #3717
@dstufft I believe this is resolved in #3827 can you confirm?

[2018-04-26 16:55] nlhkabu opened #3828 "Audit templates - what does not work without JavaScript"
Following an email from a user who prefers to browse the web with JS off - can we please audit the codebase to find those places where the user cannot acheive their goals?

The user mentioned checksums in particular.

[2018-04-26 19:10] nlhkabu commented on #3521
This can also happen when there is a long piece of text, or link in the project description:

![screenshot from 2018-04-26 20-10-00](https://user-images.githubusercontent.com/3323703/39326744-df12b0ba-498d-11e8-9eb5-6621fbd5bc8a.png)

[2018-04-26 20:32] nlhkabu commented on #3167
Flash messages addressed by https://github.com/pypa/warehouse/pull/3830.

Still todo:

- [ ] PyPI theme (I will need to make this PR as it is on a separate repository)
- [ ] All error messages, e.g. https://github.com/pypa/warehouse/blob/master/warehouse/manage/forms.py#L30

[2018-04-26 21:18] nixjdm opened #3831 "Expose project_urls in JSON API"
https://packaging.python.org/tutorials/distributing-packages/#project-urls

Related to #3798 / #3820

I realized project_urls is not currently exposed by the JSON API. I propose adding it.

Though the keys in the project_urls dict can be anything, they're fairly standardized, enough to be useful when querying for them over and API. For example, [Flask's API response](https://pypi.org/pypi/Flask/js

[2018-04-26 21:25] nixjdm commented on #3831
Sure :) It's so similar it'd be no problem, especially after the other PR get's in.

[2018-04-26 21:43] #3798 closed

[2018-04-26 21:59] nixjdm opened #3832 "Improve test coverage of JSON API"
As discovered during #3820, many fields are not actually set in the tests, meaning they aren't really tested. This is a follow-up ticket to improve the test coverage of the existing fields in the JSON API.

I'm willing to be assigned this ticket.

[2018-04-26 22:00] di commented on #3832
@nixjdm You got it!

[2018-04-26 23:15] kchawla-pi opened #3836 "Dev env setup guide should document forking and cloning as the preferred workflow."
In the guide to setting up a development environment for new contributors, the suggested workflow is to start by cloning the repo locally.
https://warehouse.readthedocs.io/development/getting-started/#getting-the-warehouse-source-code

It should be  changed to-
1. Fork the repo.
2. Clone the fork locally.
3. Add the original repo as a second remote with a different name (upstream).
4. Pull from up

[2018-04-26 23:15] kchawla-pi commented on #3836
I will work on this and submit a PR.

[2018-04-27 05:34] nlhkabu opened #3838 "Audit SCSS comments"
I've noticed that some of our comments are out of date.  In the `blocks` folder, we should:

1. Check that the code example at the top of each file is up to date
2. Check that each modifier is documented

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://github.com/pypa/wa

[2018-04-27 06:09] nlhkabu opened #3840 "Firefox: fix alignment of buttons"
![screenshot from 2018-04-27 07-09-00](https://user-images.githubusercontent.com/3323703/39347258-e70ff334-49e9-11e8-879e-b950d6453e11.png)

[2018-04-27 07:36] ncoghlan commented on #2285
https://github.com/pypa/python-packaging-user-guide/issues/479 highlights a remaining case where the `"legacy"` in the URL is visible: when setting up use of `test.pypi.org`.

That currently looks like:

    $ twine upload --repository-url https://test.pypi.org/legacy/ dist/*

I think part of the problem in that case is that the phrasing of the legacy URL explanation at https://packaging.python.or

[2018-04-27 07:41] aalmazan commented on #3689
Sorry, haven't had too much time this week, but I have a _very_ rough implementation of this -- assuming the [Statuspage API](https://2p66nmmycsj3.statuspage.io/api/v2/) here is more or less correct. Screenshot below.

@brainwane I believe we can get a list of affected components/services with the `summary` API data, but I'm not sure if the `shortlink` (example: `"shortlink": "http://stspg.dev:500

[2018-04-27 07:53] koliber opened #3842 "Password reset email mentions replying, by is from noreply@pypi.org"
![image](https://user-images.githubusercontent.com/1017317/39351126-ceb58c2e-4a00-11e8-8fcc-b2abf3422422.png)

[2018-04-27 08:27] yuvalreches commented on #3275
@ewdurbin you can use this one:
https://jfrog.com/knowledge-base/why-am-i-not-able-to-connect-to-pypi-python-org/

[2018-04-27 11:04] Ayub-Khan commented on #3819
@ewdurbin thanks a lot for fixing the issue. I ran the following command to verify the behavior
pip search edx-i18n
pip search django-filter
It is working fine but it seems it is showing all results for 'edx' combined with all results of 'i18n'. it is treating it as two different strings django and filter and showing the union of result sets for both. it should only show the results if whole query

[2018-04-27 11:51] ewdurbin commented on #3275
@yuvalreches excellent! thank you!

Given that Artifactory 5.10.3, 5.9.5, and 5.8.9 are released and we have the necessary reference material for users impacted on Monday, I'm going to close this issue!

[2018-04-27 11:51] #3275 closed

[2018-04-27 15:29] Cito opened #3843 "Request trove classifier"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `License:: OSI Approved :: The PostgreSQL License`

## Why do you want to add this classifier?

The PostgreSQL License is used by [PyGreSQL](http://www.pygresql.org/).

Older versions of PyGreSQL used the Python license as Trove classifier, so we were able to upload it to PyPI, but this was actually wron

[2018-04-27 16:44] di commented on #2996
This issue is now unblocked. After compiling all the differences between the following sources:
* https://spdx.org/licenses/
* https://opensource.org/licenses
* https://pypi.org/classifiers/

I think this is what needs done (red will be deprecated, green will be added):

### Academic
[code]

### Apache
[code]

### Apple
[code]

### Artistic
[code]

### BSD
[code]

### GNU
[code]

The deprecated cl

[2018-04-27 16:54] di commented on #3840
I can't reproduce this in Firefox 59.0.2.

[2018-04-27 16:55] #3511 closed

[2018-04-27 17:33] #3842 closed

[2018-04-27 17:33] di commented on #3842
Thanks @koliber!

[2018-04-27 19:13] ewdurbin commented on #3819
@Ayub-Khan I believe your theory is correct, though I'm not sure how to improve that.

[2018-04-27 21:39] brainwane opened #3845 "Redirect files &/or display action URLs from legacy"
I see some users using legacy URLs like:

* https://pypi.python.org/pypi?:action=files&name=limix&version=1.0.14 (on legacy: https://legacy.pypi.org/pypi?:action=files&name=limix&version=1.0.14 )
* https://pypi.python.org/pypi?:action=display&name=craft-ai (on legacy: https://legacy.pypi.org/pypi?:action=display&name=craft-ai )
* https://pypi.python.org/pypi?:action=display&name=text_progress_bar

[2018-04-28 00:46] huangy22 commented on #3167
Address the form error messages by #3846.

[2018-04-28 18:02] EmilStenstrom commented on #2170
Another use-case: I have a README.md in the project (on github), but I forgot to add it to long_description. So my use-case is not a typo, but making sure PyPI is in sync with GitHub.

[2018-04-28 18:06] bskinn commented on #2170
@EmilStenstrom Especially given the [intentional behavior change from legacy PyPI to Warehouse](https://github.com/pypa/warehouse/issues/3630#issuecomment-380874012) disabling automatic introspection for `README.rst`, I suspect there are a lot of projects (some of mine included) that could benefit from being able to make this kind of change *post facto*.

[2018-04-28 19:35] derks opened #3849 "Long Description Not Rendered as Markdown"
I just updated `cement` with a long description in Markdown following the [Packaging and distributing projects](https://packaging.python.org/tutorials/distributing-packages/#packaging-your-project) documentation... but the long description is still not rendered as Markdown:

- https://pypi.org/project/cement/

I have the following in `setup.py`:

[code]

Where `LONG` is the long description string

[2018-04-28 20:28] di commented on #3849
@derks The `long_description_content_type` field hasn't made it to PyPI, so likely one of the tools you used is at a version before the field existed. You'll need:

* `setuptools>=38.6.0`
* `wheel>=0.31.0`
* `twine>=1.11.0`

[2018-04-28 21:41] derks commented on #3849
@di that did it! Wheel was the only one at a lower version... after upgrading and re-uploading the Markdown is good.  Thank you so much!

[2018-04-28 21:41] #3849 closed

[2018-04-28 21:47] di commented on #3849
@derks Not problem! Can I ask what you were using as a guide for this new field? We probably need to add a note there to avoid similar confusion for users like yourself.

[2018-04-28 21:52] derks commented on #3849
Sure... yeah I dropped it in the first comment but easily overlooked.  I was following the [Packaging and distributing projects](https://packaging.python.org/tutorials/distributing-packages/#packaging-your-project) documentation (that was initially linked from PyPi on how to upload releases).  Specifically:

- https://packaging.python.org/tutorials/distributing-packages/#description

[2018-04-28 22:01] di commented on #3849
Oops, sorry I missed that. I just made https://github.com/pypa/python-packaging-user-guide/issues/481, any interest in fixing it?

[2018-04-28 23:09] dstufft commented on #2996
Ugh, requiring 10k+ projects to modify their ``setup.py`` is not great. I guess the thing at the heart of this issue is whether classifiers are designed to be representative of the *specific* license of a project or if they're intended to act as a lossy mechanism to indicate the family of license something is under.

Overall my big concern here is that I'm not sure that classifiers are good enough

[2018-04-29 04:07] bskinn opened #3851 "Search filters put 'Programming Language :: Python :: N :: Only' checkboxes in an odd place"
The search-filter checkboxes are sorting the `Programming Language :: Python :: N :: Only` checkboxes below all of the respective `N.n` checkboxes, instead of placing them immediately below the `N` checkboxes:

![more logical place for the checkboxes](https://user-images.githubusercontent.com/11325439/39403120-473fcd40-4b40-11e8-8be2-665ef38aa267.png)

This is highly nonintuitive, at least to me.

[2018-04-29 14:47] waseem18 commented on #3851
I second this. 'Only' checkbox is a bit confusing. As @bskinn mentioned we should probably place 'Only' below '2' and '3'.

[2018-04-29 14:53] waseem18 commented on #3840
I'm able to reproduce this in Firefox 59.0.2. Weird. I use Ubuntu by the way.

![m](https://user-images.githubusercontent.com/5843007/39407876-e906e0f0-4bea-11e8-84e1-e90c8740fc97.png)

[2018-04-29 15:58] auvipy commented on #3492
may I know which version of celery is throughing this?

[2018-04-30 06:13] nlhkabu commented on #1354
@Volcyy @di - is there a specific project on the development database where I can test this?

[2018-04-30 07:17] Volcyy commented on #1354
@nlhkabu Thanks for looking into this. `hypertools` seems to work for me. Using the following in `make shell` ...
```py

[code]

[2018-04-30 13:00] ewdurbin commented on #3845
Working on this.

[2018-04-30 14:07] #3845 closed

[2018-04-30 15:07] alex opened #3857 "use CSP: sandbox on /simple/ pages"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/sandbox + https://www.youtube.com/watch?v=fbhW37JZtSA&feature=youtu.be

I believe this is a great fit for /simple/, which don't need any ability to do anthing but have a simple HTML structure.

I _think_ we can replace the whole current header with `Content-Security-Policy: sandbox allow-top-navigations`.

[2018-04-30 16:14] callahad opened #3858 "Unicode decoding error?"
https://pypi.org/project/iconv/ displays the author as "Martin v. LÃ¶wis"

:(

[2018-04-30 16:27] di commented on #3858
That's how it was provided to PyPI in the metadata, unfortunately there's not much we can do about that. You might want to inform the owner of the project instead. Thanks for the report though!

[2018-04-30 16:27] #3858 closed

[2018-04-30 16:42] brainwane commented on #3689
I removed the "help wanted" tag since you're helping, @aalmazan -- thanks! @nlh this could use your review.

[2018-04-30 16:45] brainwane commented on #3532
@dstufft has done some research and we're waiting for him to update this issue with what he learned. :) Thanks for the report @htgoebel.

[2018-04-30 17:04] callahad commented on #3858
I'm admittedly *very uninformed* as to the guts of Python packaging, but the `PKG-INFO` and `setup.py` files in the archive both seem to have a correct UTF-8 encoding of "Martin v. Löwis".

[code]

What's the correct way to use UTF-8 in package metadata?

[2018-04-30 17:06] callahad commented on #3858
(...oh no. is this still part of Python 2's ascii legacy?)

[2018-04-30 17:07] dstufft commented on #3858
Warehouse/PyPI doesn't inspect the uploaded files, it gets sent alongside the file upload as form encoded data, so if whatever uploaded the file didn't properly send it, then you'll get that.

[2018-04-30 17:16] callahad commented on #3858
Ah, right. Thanks @dstufft!

[2018-04-30 17:20] FabriceSalvaire opened #3860 "Is spelling soundex etc. enabled for search ? How work search ?"
* A try with misspelling give different results.
* Could you document the search process ? Some results look funny.

[2018-04-30 17:39] di commented on #3860
@FabriceSalvaire We use Elasticsearch, I don't believe it supports something like Soundex. Can you give some specific examples of queries that look funny?

[2018-04-30 18:08] FabriceSalvaire commented on #3860
Sure Elasticsearch supports soundex and whatever, even Whoosh is able to do it.

I tried _arithmetic interval_ with misspelling.

And _task queue_, well known Celery appears on the fourth page ! On Google it is a the 5th position and cross-referenced on the first link.

Moreover latest pip 10.0.1 and pypi.org doesn't return the same result for the last query.

Pypi only make sense if searching is

[2018-04-30 18:39] brainwane commented on #2943
We ran into this problem again during [a sprint night last week](https://www.meetup.com/nycpython/events/249722192/) but I didn't think to capture people's bash histories.

https://github.com/brainwane/warehouse/tree/make-clean-issue

[2018-04-30 18:43] brainwane commented on #2673
I helped run a [Warehouse sprint night](https://www.meetup.com/nycpython/events/249722192/) last week and ran into this issue; multiple people were just waiting for some signal that `make serve` had completed and was ready. I know it's hard to actually properly trigger some notification at the moment we're ready to serve, but maybe ~5 minutes after a particular process starts, it can run a check a

[2018-04-30 18:48] lgh2 opened #3861 "Run `make serve` and `make initdb` simultaneously?"
At the NYC Python/PyLadies mini-sprint, one of the attendees was following the [instructions in the documentation](https://warehouse.readthedocs.io/development/getting-started/) to set up his development environment.  He was confused about whether `make serve` and `make initdb` should be run sequentially or simultaneously.

I have always been running the commands simultaneously (I run `make serve`

[2018-04-30 19:03] di commented on #3861
Maybe we just need to ditch the "Quickstart for Developers with Docker experience" section entirely? The detailed instructions are pretty clear about this particular step.

[2018-04-30 19:56] lgh2 commented on #3861
That would probably fix some of the confusion.

Out of curiosity, when you are setting up your environment, do you run `make serve` and `make initdb` simultaneously?

[2018-04-30 20:13] di commented on #3861
The database needs to be up before it can be initialized, so the correct thing to do would be to run `make serve` in one terminal, and once the database is up, run `make initdb` in another (since `make serve` will run indefinitely`).

[2018-04-30 20:28] di commented on #2943
I think this could be resolved by fixing https://github.com/pypa/warehouse/issues/1536, which would remove the need to ever write or remove static files to/from the user's filesystem.

[2018-04-30 20:33] brainwane commented on #3797
@jonparrott could you share your thoughts on this?

[2018-04-30 21:02] di commented on #3797
Ultimately the problem here is that `distutils` doesn't currently support Metadata 2.1. There is a relevant bug report here: https://bugs.python.org/issue33388

There is also some discussion at https://github.com/pypa/packaging-problems/issues/127 which explains that `distutils` is not likely to gain support for newer Metadata specifications.

In the short term, adding some explanations of the lim

[2018-04-30 21:11] ewdurbin commented on #2794
I'm reconsidering the directory layout specifying what each subdirectory concerns itself with as that is almost guaranteed to change over time and become out of date.

The Glossary might provide enough context on what the module names mean, and a basic primer on Pyramid app/module layout would probably suffice.

[2018-05-01 04:38] GadgetSteve opened #3868 "Unexpected Results on Filtering in Browse by Licence"
Given the indentation on the licence tree in the  Browse by Licence view I was surprised by the following results:

 - Filter on [OSI Approved](https://pypi.org/search/?q=&o=&c=License+%3A%3A+OSI+Approved): **654** Projects
 - Add [MIT Filter](https://pypi.org/search/?q=&o=&c=License+%3A%3A+OSI+Approved&c=License+%3A%3A+OSI+Approved+%3A%3A+MIT+License): **95** projects.
  - Remove [OSI Approved](h

[2018-05-01 10:20] jnnnnn opened #3869 "python.org/dev 503 error"
The first google result for "PEP 440" results in a 503 error:

https://www.python.org/dev/peps/pep-0440/

However, https://legacy.python.org/dev/peps/pep-0440/ works fine.

This seems similar to https://status.python.org/incidents/ttdz2bj310xw

[2018-05-01 10:33] jnnnnn commented on #3869
This has been fixed.

[2018-05-01 10:33] #3869 closed

[2018-05-01 13:08] devd commented on #3857
I think that makes sense. noodling on this, I suspect `default-src: 'none'` is enough but why not both? Good defense in depth.

[2018-05-01 13:27] alex commented on #3857
Thanks @devd!

@dstufft Can you suggest where in the codebase the right place to _override_ the CSP for `/simple/` pages is?

[2018-05-01 19:07] rspeer commented on #3797
That is addressing the distutils documentation issue, but I think there's still something to be done for the UX of setting a project description on PyPI.

I'm talking about the box that says, for example:

...where "Python Packaging User Guide" is a deep link into the middle of the documentation that explains the arguments. It makes it sound like you can just add some arguments and upload a new pa

[2018-05-01 19:37] di commented on #2673
I tried a couple things to solve this, but wasn't really pleased with any of them.

I think the best option is still to add a note about what to expect when everything is up and running, like:

[2018-05-01 21:28] awallace-cray commented on #3645
No, None seen since my last comment.
Thanks.

[2018-05-01 22:09] mschwager commented on #996
Hi all,

I'm happy to see that Warehouse is planning to add 2FA!

I'd like to suggest adding support for [Duo](https://duo.com/) 2FA (full-disclosure I'm an engineer at Duo). Duo supports many of the technologies mentioned here:

- Duo Push (same as Authy OneTouch, mentioned by @dstufft)
- HOTP and TOTP (also mentioned by @dstufft)
- U2F tokens (mentioned by @ryanhiebert)
- Voice calling and SMS c

[2018-05-01 22:49] brainwane commented on #994
@lukesneeringer Hi! Would welcome seeing the PR! :) And if you'll be available for the Open Space/Birds of a Feather session during PyCon, we could talk about this then, too. (https://wiki.python.org/psf/PackagingSprints has more topics & people on it now.)

[2018-05-01 22:49] brainwane commented on #996
Thanks, @mschwager! Will you be PyCon North America later this month, where we'll especially discuss this during the sprints May 14-17? https://wiki.python.org/psf/PackagingSprints

[2018-05-02 00:53] #2673 closed

[2018-05-02 00:53] #3861 closed

[2018-05-02 01:28] brainwane opened #3872 "create manual testing guide"
To help less-skilled-at-coding newcomers at sprints contribute to Warehouse, I'd like for us to have a manual testing guide like [Zulip's](https://zulip.readthedocs.io/en/latest/testing/manual-testing.html).

Rough ideas/inspirations:

A lot of our core has 100% unit test coverage, so we don't need to waste time testing the upload base case, JSON, the Simple API, and so on.

https://docs.google.co

[2018-05-02 01:50] ewdurbin commented on #2170
Howdy! I still feel shitty about how the entire Django metadata/python_requires situation went down. Dragging it up does more harm to my morale/person than it does to driving the conversation forward, @jobec.

Clearly this was a departure from the stated policy **and a mistake**.

I don't take actions on the index lightly. In the case of Django's botched `python_requires` setting, it was causing u

[2018-05-02 02:27] #3591 closed

[2018-05-02 08:49] Tonkonozhenko commented on #3826
Hi @di
Yes, and I experience same issues from my Jenkins (AWS eu-west-1 - Ireland):

[code]

[2018-05-02 12:41] brainwane commented on #3803
@jadolg would you mind telling us whether this problem still happens if you do the following?

* use Twine to upload, specifically `twine>=1.11.0` -- see https://packaging.python.org/tutorials/distributing-packages/ for usage instructions
* make sure you're using `setuptools>=38.6.0`, `wheel>=0.31.0`, and `pkginfo>=1.4.2` (to cover PEP 566 issues per https://dustingram.com/articles/2018/03/16/mark

[2018-05-02 14:00] brainwane commented on #1453
I think French as a first candidate is wise!

RTL as a later standalone project makes some sense to me -- perhaps under the Google Summer of Code umbrella (I'm influenced by [Moriel Schottlender](http://moriel.smarterthanthat.com/tips/the-language-double-take-dealing-with-bidirectional-text-or-wait-tahw/) here).

I'll note here, for future readers, that Warehouse is seeking grants or other sponsor

[2018-05-02 14:01] brainwane commented on #2502
@pradyunsg Take a look at this thought when you have a chance?

[2018-05-02 14:08] brainwane opened #3877 "Add rel="noopener" guidance to developer docs"
When using `target="_blank_"` for a hyperlink (usually to an external site), we should always set `rel="noopener"`.

Add these instructions to:

* https://warehouse.readthedocs.io/development/reviewing-patches/#grammar-and-style
* https://warehouse.readthedocs.io/development/frontend/#html-code-style

You'll find both those files within the `docs/` [directory](https://github.com/pypa/warehouse/tre

[2018-05-02 14:18] brainwane commented on #3438
Now that `wheel` 0.31.0 is out, I've suggested we add guidance to https://packaging.python.org/guides/making-a-pypi-friendly-readme/ giving people those minimum version numbers to make description rendering work properly:

* `pkginfo>=1.4.2`
* `twine>=1.11.0`
* `setuptools>=38.6.0`
* `wheel>=0.31.0`

Then https://packaging.python.org/tutorials/distributing-packages/#readme-rst-readme-md could link

[2018-05-02 14:28] brainwane commented on #3453
@emddudley Sorry for the delay. @yeraydiazdiaz is this something you could address in #3783?

[2018-05-02 14:33] brainwane commented on #2589
Thanks! I see it at https://mail.python.org/mm3/archives/list/distutils-sig@python.org/thread/NFLCHKYGPEBAR5I5FMMXMC2JKMLYJQ7G/ in the archives of the distutils-sig mailing list. :)

If you will be at [PyCon North America](http://us.pycon.org/) or [EuroPython in Edinburgh](https://ep2018.europython.eu) this year, please consider talking with us in person there at our [sprints](https://wiki.python.

[2018-05-02 14:37] ewdurbin commented on #2589
cc @pganssle

[2018-05-02 14:38] brainwane commented on #284
@jonparrott In [our meeting on Monday](https://wiki.python.org/psf/PackagingWG/2018-04-30-Warehouse) Donald said he's started a design document about the new API(s). He's currently trying to focus on Python open source work on Thursdays and Fridays, so maybe you could ping him this Friday and start an Etherpad/Google Doc?

@steveklabnik and @phildini, will you be at PyCon North America later this

[2018-05-02 14:42] brainwane commented on #3689
Whoops, I meant @nlhkabu. @yeraydiazdiaz and @ncoghlan I'd appreciate your input as well.

[2018-05-02 14:46] brainwane commented on #3252
I appreciate you looking into this, @browniebroke!

@andrew is a maintainer of Libraries.io and could probably help answer our question about the endpoint availability and how we'd access trending data.

@browniebroke could you try comparing the list of trending projects on the pypi.org front page with the list at https://libraries.io/trending?platforms=PyPI , and briefly assess how widely used or

[2018-05-02 14:52] steveklabnik commented on #284
I will not. I wasn't aware until now :) maybe we could make some time to chat via skype or something? Honestly, at this point, @dgeb is the person you'd want to talk to, so let's cc him here too :)

[2018-05-02 17:48] jadolg commented on #3803
thanks, @brainwane. I uploaded a new version using Twine and all problems are gone. The version string is correct, markdown is rendering perfectly and this [odd issue](https://github.com/jadolg/rocketchat_API/issues/20) I had in my library just disappeared.
Is there a way to avoid users to upload their packages using other ways? I've never used Twine before. I always used good old `python setup.py

[2018-05-02 17:51] #3803 closed

[2018-05-02 19:40] brainwane commented on #3803
@jadolg Thanks for the update.

In a sense you're asking: how do we get users to only use one way to upload stuff to PyPI, or make sure the ways most people do their uploads is supported, or warn them when something they're doing is apt to cause hard-to-diagnose problems? That's a big infrastructural (social infrastructure and digital infrastructure) problem and we're talking about it in https://g

[2018-05-03 03:18] nadendla-sandeep commented on #3395
what had  you done to overcome that issue

[2018-05-03 04:26] abulka opened #3884 "Markdown rendering of requests page"
https://pypi.org/project/requests/
The markdown doesn't render at all and just appears raw. Viewing on iPhone.
Not sure if this unique to that project or a more global problem. Am mobile and wanted to flag this but cannot supply more info at present.

[2018-05-03 04:30] brainwane commented on #3884
Thanks for the note @abulka. cc @kennethreitz

The `requests` [README](https://github.com/requests/requests/blob/master/README.rst) is actually in reStructuredText, and `requests`'s [`setup.py`](https://github.com/requests/requests/blob/master/setup.py) file, which instructs other packaging and distribution tools on how to make and interpret the package, doesn't mention that it's `.rst`. The `requ

[2018-05-03 04:30] #3884 closed

[2018-05-03 10:13] vkaustubh opened #3885 "Pip Unable to Install - Gets a 'Network is Unreachable' error - IP Blacklisted?"
Hi.

We have been facing a unique issue since a few days. Here, by we, I am referring to the members of the institute where I work. An attempt to install any package from pip does not seem to work. We get a "Network is unreachable" error. This error does not happen when we do this using our personal networks not related to our campus network.

Our first suspicion obviously was the firewall. If I u

[2018-05-03 11:32] ewdurbin commented on #3885
@vkaustubh thank you for the report.

We don't currently have any firewalls or prohibited address lists blocking access to PyPI.

Can you provide the following information:

## DNS resolution

For PyPI and PyPI files hosting, using the unix command line tool `dig` or similar:

[code]

[code]

## TLS debug information

For PyPI and PyPI files hosting, using the `openssl` tool:

[code]

[code]

[2018-05-03 11:33] ewdurbin commented on #3885
@vkaustubh also any log/debug output from `pip` would be appreciated by adding `-vvv` to the command that is failing.

[2018-05-03 11:35] v1k45 commented on #3885
I'm facing the same issue. When I try to install anything from machine using `pip install`, I get Timeout errors. The same happens when I try it on my VPS. Note that both these machines are hosted in India and their IP addresses start with `139`.

The issues however gets resolved when I use a VPN hosted in another country, like UK.

The pip install verbose log from my machine:

[code]

Also, worth

[2018-05-03 11:40] ewdurbin commented on #3885
@v1k45 can you provide dig/tls debug command output from my earlier comment?

[2018-05-03 11:45] vkaustubh commented on #3885
DNS Resolution:
--
$ dig pypi.org

; <<>> DiG 9.10.3-P4-Debian <<>> pypi.org
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 56593
;; flags: qr rd ra; QUERY: 1, ANSWER: 4, AUTHORITY: 6, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;pypi.org.            IN    A

;; ANSWER SECTION:
pypi.org.        8    IN

[2018-05-03 11:45] v1k45 commented on #3885
Sure, here you go:

## dig
[code]
[code]

## openssl

[code]

Request to pythonhosted.org never completed.

[code]
The download links at pypi.org don't work too. The links show connection error as soon as I click them.

[2018-05-03 11:52] vkaustubh commented on #3885
The openssl command to files.pythonhosted.org finally came out with a
response:
--
$ openssl s_client -connect files.pythonhosted.org:443
140326059208896:error:2008A067:BIO routines:BIO_connect:connect
error:../crypto/bio/b_sock2.c:109:
140326059208896:error:02002071:system library:connect:No route to
host:../crypto/bio/b_sock2.c:108:
140326059208896:error:2008A067:BIO routines:BIO_connect:connect

[2018-05-03 12:05] ewdurbin commented on #3885
@vkaustubh @v1k45 Can you please try the following commands and provide the results?

[code]

[code]

[2018-05-03 12:11] v1k45 commented on #3885
@ewdurbin here you go:

[code]
[code]

[2018-05-03 12:18] samriddhigoswami commented on #3885
curl -vvv --ipv6 https://files.pythonhosted.org/
curl -vvv --ipv6 https://files.pythonhosted.org/
*   Trying 2a04:4e42::319...
* TCP_NODELAY set
* connect to 2a04:4e42::319 port 443 failed: Host unreachable
*   Trying 2a04:4e42:200::319...
* TCP_NODELAY set
* connect to 2a04:4e42:200::319 port 443 failed: Host unreachable
*   Trying 2a04:4e42:400::319...
* TCP_NODELAY set
* connect to 2a04:4e42:40

[2018-05-03 12:28] samriddhigoswami commented on #3885
@ewdurbin : Please find below the output:
curl -vvv --resolve files.pythonhosted.org:151.101.64.223 https://files.pythonhosted.org/
* Couldn't parse CURLOPT_RESOLVE entry 'files.pythonhosted.org:151.101.64.223'!
*   Trying 151.101.1.63...
* TCP_NODELAY set

[2018-05-03 12:29] v1k45 commented on #3885
I corrected the command:

[code]

[2018-05-03 12:30] ewdurbin commented on #3885
@v1k45 thank you, sorry for giving wrong command. I've updated the initial comment.

[2018-05-03 12:33] rep-movsd commented on #3885
I'm facing the exact same problem, and the exact same responses to the commands as @v1k45

[2018-05-03 12:35] ewdurbin commented on #3885
Okay! Thanks everyone for the debug output. I'm stumped here. Best guess right now is that ISPs are blocking access to the addresses `files.pythonhosted.org` resolve to.

These addresses are shared with numerous other customers of the CDN we use and it's possible ISPs are attempting to block access to one of those.

I've opened a support ticket with our CDN provider. If possible please email me wi

[2018-05-03 12:36] samriddhigoswami commented on #3885
@ewdurbin : Output from my command prompt-
curl https://files.pythonhosted.org/ -vvv --resolve "files.pythonhosted.org:443:151.101.64.223"
* Added files.pythonhosted.org:443:151.101.64.223 to DNS cache
* Hostname files.pythonhosted.org was found in DNS cache
*   Trying 151.101.64.223...
* TCP_NODELAY set
* Connected to files.pythonhosted.org (151.101.64.223) port 443 (#0)
* schannel: SSL/TLS conne

[2018-05-03 12:39] ewdurbin commented on #3885
Thanks for the output folks. I'm going to go back and tidy up responses to reduce noise here. Some comments may be edited to redact extraneous or no longer necessary output.

[2018-05-03 13:46] ncoghlan commented on #3689
The banner-based approach Allan suggests looks good to me (although the "max issues" limit could likely be even lower - perhaps only show at most three actual issues, and if there's more than that, replace the 3rd entry with "Multiple additional issues, see ... for details").

[2018-05-03 14:12] ewdurbin commented on #3885
@samriddhigoswami @rep-movsd @v1k45 @vkaustubh

Can you send the text output generated by https://www.fastly-debug.com to <ernest@python.org>?

It looks like this once the diagnostic is complete:

<img width="676" alt="screen shot 2018-05-03 at 10 11 57 am" src="https://user-images.githubusercontent.com/1200832/39581837-80f6c2d2-4eba-11e8-8887-9871fd666607.png">

[2018-05-03 14:13] ewdurbin commented on #3885
Unfortunately you'll need to run this from a browser that's experiencing issues reaching files.pythonhosted.org, as there doesn't seem to be a command line version.

[2018-05-03 14:30] rep-movsd commented on #3885
Seems like a google DNS issue
I edited my resolv.conf to point to my broadband gateway instead of 8.8.8.8 and it works!

[2018-05-03 15:39] ewdurbin commented on #3885
Okay, that bit of information was very helpful @rep-movsd!

Because GoogleDNS and similarly OpenDNS don't allow for responses for localized Points of Presence, the response will get the Anycast IPs for our service.

I'm able to reproduce with a DigitalOcean droplet in Bangalore, IN.

I've supplied trace routes and other diagnostics requested to our CDN provider and will update when we have more in

[2018-05-03 15:47] Tonkonozhenko commented on #3826
@di now it works. On jenkins I get messages about different packages each time. Today I got
[code]

Most often I get messages about `futures==3.2.0`.

[2018-05-03 16:14] ssbarnea commented on #3826
Since mid-April migration to the CDN, we see these errors quite often, probably in 1-3% of builds (which is a huge number). There is nothing special about the package name, the seem to be random and apparently pip does not attempt to retry, it just fail with the conclusion that there are no packages at all. This failed even with not pinned or open ranges, looks like an index requires returns nothi

[2018-05-03 17:54] brainwane opened #3886 "remove Heroku config"
Some configuration files seem to refer to Heroku, and as far as I understand, we no longer have any Heroku dependencies. Am I wrong?

I did a `git grep` and found that we should look at:

- [ ]  `bin/post_compile`
- [ ]  a TODO note in `bin/redis-tls`
- [ ]  `config/nginx.conf.erb`
- [ ]  `vcl/main.vcl`
- [ ] `runtime.txt`
- [ ]  documentation in `docs/application.rst`

[2018-05-03 18:52] pganssle opened #3889 "Reject packages without a Requires-Python"
A problem I've come across *many* times now is that a package will drop support for an old version and they'll even add a `python_requires` directive to their `setup.py`, only to cut a release using an old version of `setuptools` that doesn't actually understand the `python_requires` directive and thus silently fails. See, e.g. [sphinx](https://github.com/sphinx-doc/sphinx/issues/4936). This cause

[2018-05-03 19:03] di commented on #3889
One use case would be a package that is compatible (or at least, thinks it's compatible) with all versions of Python. What should this field be for those packages, something like `Requires-Python: >0`?

I don't believe displaying a warning for a successful upload is possible at the moment without making changes to `twine` and the upload API, but this would probably be a beneficial change to make i

[2018-05-03 19:14] pganssle commented on #3889
@di Yes, agreed that #726 would be very helpful.

Presumably `python_requires="*.*"` or something like that? `>0` would also work, though I really doubt there are any packages out there that actually support `Python<2.0` anyway.

Hm. That's a bit of a problem, because half the issue here is that people tend to install `setuptools` or `twine` once and then never upgrade it. The people with updated

[2018-05-03 19:28] ewdurbin commented on #3886
That can (and should) be changed :-D

[2018-05-03 19:29] ewdurbin commented on #3885
It appears that the Anycast IP issues _may_ have been resolved. I'm unable to reproduce from my test droplet.

[2018-05-03 19:34] ssbarnea commented on #3826
I already started to get failure results, see https://gist.github.com/ssbarnea/78df2a80137cca04ca72872b1d14498f as the last failure with extra logging.

[2018-05-03 19:42] di commented on #3826
@ssbarnea Can you provide the command which produced that output? I would expect there to be more output from pip about trying to install the `deprecation` package.

[2018-05-03 20:02] ssbarnea commented on #3826
@di I updated the gist with a more detailed one. What was the original install command is irrelevant as the is no way to reproduce the problem in a consistent way. Talke at look at https://gist.github.com/ssbarnea/78df2a80137cca04ca72872b1d14498f#file-pypi-pip-failure-log-L34

My impression is that this explains what happens:
[code]
Mainly pip decides that there is no package when it does receive

[2018-05-03 20:06] njsmith commented on #3826
See also: https://github.com/pypa/pip/issues/5345

[2018-05-03 20:40] niccokunzmann commented on #786
I see you want to integrate badges. There are badges here: http://shields.io/
I add them to the README file where I expect them for other projects, too.
If I would develop this, I would think about sourcing out badges because they have nothing to do with the core idea, add maintenance effort and may take the focus from developing the JSON API - but I do not develop it and you did not ask me so I a

[2018-05-03 21:13] ewdurbin commented on #3885
If you are currently experiencing issues. Please submit a link to a **gist** with the following content:

1) go to https://fastly-debug.com Once it completes loading, grab the base64 encoded output in the box at the top and paste it in

2) `dig files.pythonhosted.org A` and `dig files.pythonhosted.org AAAA` and paste results (DNS query for the records)

3) run a `traceroute` to the first IP in the

[2018-05-03 21:13] ewdurbin commented on #3885
https://status.python.org/incidents/5ckb1xvs1z9w

[2018-05-03 22:08] ewdurbin commented on #3885
CDN provider has reported that they rolled out some changes to their network which may help can any earlier reporters of issues respond if access is restored?

[2018-05-04 01:26] ewdurbin opened #3893 "Tune Elasticsearch client for reindex separately from main search client"
#3892 was necessary to alleviate the hard outage experienced due to ES cluster being down.

We were waiting 30s per request for Elasticsearch then retrying. This was added in #1471 to handle reindex issues.

[2018-05-04 01:55] #3893 closed

[2018-05-04 05:54] v1k45 commented on #3885
The issue seems to have fixed at my end. pip installs are working as expected. files.pythonhosted.org is also accessible.

[2018-05-04 06:49] pradyunsg commented on #2502
Couple of things that I think might be a problem with this:

- Privacy Concerns
  - This is actively using environment information of some users to expose different behaviors for other users.
- Non Cache-able
  - I'm pretty sure these would not be cache-able requests. They're basically needing processing to happen with the use of a dB which is storing the user env-info.

If either of them is true,

[2018-05-04 12:45] ewdurbin commented on #3885
Sounds like Fastly is aware of issues in the region and has resolved them and is working on a more permanent fix. Closing this.

Thanks to everyone for contributing in assisting to diagnose, I'm going to take the template for reporting networking issues above and get it into an issue template for now! What we learned together will be of great help in the future!

[2018-05-04 12:45] #3885 closed

[2018-05-04 14:38] bitfinity opened #3896 "Report projects that damage other packages, don't adhere to guidelines, or are malicious"
**What's the problem this feature will solve?**

Searching through PyPi I was not able to find anywhere where I can report a project that either contains malicious code or breaks other packages in the repository by overwriting them. To be clear, I am not talking about reporting issues to the project maintainer.  This issue is not asking that PyPi duplicate the efforts of github, but as a distribut

[2018-05-04 14:47] ewdurbin commented on #3896
Thank you for the thorough report @bitfinity! This is planned to be part of our overall spam detection and mitigation strategy. any mechanism fulfilling #2982 would also be usable for this purpose, or we could merge the concept of spam with this.

[2018-05-04 16:35] ned-deily commented on #3293
[FTR, I've updated the detailed python.org macOS information in my 2018-04-03 comment earlier in this thread to reflect the release of Python 2.7.15.  If you are using python.org macOS installers for 2.7.x, upgrading to 2.7.15 should eliminate download problems.]

[2018-05-04 16:47] jonparrott commented on #3872
So I'm not as helpful at defining *scenarios* to test, but the friction log template we have internally is really useful to give testers a little bit of structure to record their experience and helps extract actionable tasks.

I've externalized this template and made it PyPA-ready [here](https://docs.google.com/document/d/1kcEv9c_diZbqdXk2VkVu6miHz62hUoxxzfIo5ILnESM/edit). Hopefully this is useful

[2018-05-04 17:49] jonparrott commented on #2285
Or more simply add a `/v1-api` alias for `/legacy` and leave `/legacy` alone.

I'm happy to make this change, but I actually can't find where this is configured.

[2018-05-04 18:34] pradyunsg commented on #2285
It seems to me to be at the following (but I've been wrong with regards to this codebase before):

https://github.com/pypa/warehouse/blob/54e59eab93be8aee21d96d993b64bf53272b9087/warehouse/forklift/action_routing.py#L16-L25

[2018-05-04 19:11] remram44 opened #3898 "Duplicate email when adding a contributor"
**Describe the bug**

When I am added as contributor to a project, I get two emails:
* The one telling me I have been added as contributor (good)
* The one telling existing contributors that a new one has been added (bug)

**Expected behavior**

The second email should only be sent to previously existing contributors, otherwise a duplicate is always received by the new contributor (first impressio

[2018-05-04 21:10] #3898 closed

[2018-05-05 08:13] nlhkabu opened #3905 "Make line width shorter?"
Feedback from our accessibility audit:

"The optimal line length of a body text is often considered to be 50-60 characters per line, including
spaces. Some other sources suggest that up to 75 characters is acceptable. At some instances, the
line length can reach up to 120 characters."

[2018-05-05 09:13] nlhkabu opened #3906 "Accessibility audit: reduce use of disabled buttons"
From our accessibility audit:

I can think of several places this currently applies:

## Pagination

'Previous' button is disabled on the first page, 'Next' button is disabled on the last page:

![screenshot from 2018-05-05 09-25-49](https://user-images.githubusercontent.com/3323703/39661251-56f3d5dc-5046-11e8-82d5-0a0a961e6991.png)

## Forms that includes choosing a password

Button is disabled u

[2018-05-06 03:52] kevinkjt2000 opened #3910 "Request for ownership of abandoned dinnerbone/mcstatus"
As per discussion near the bottom of https://github.com/pypa/warehouse/issues/1506, I decided to open an issue here to make this request.

I dislike that it has come to this, but I feel it necessary to take action in effort to either grab the attention of the author, or maintain the project myself.  It has been over a year since the last release of mcstatus to pypi.  Attempts to contact the author

[2018-05-06 17:19] scardosoabreu opened #3912 "Unable to upload my project"
unable to authenticate with correct credentials

I can login https://pypi.python.org/pypi with my username password so I am sure they are correct

But I cannot upload my package. I always get

Upload failed (403): Invalid or non-existent authentication information.
error: Upload failed (403): Invalid or non-existent authentication information.

[2018-05-06 18:00] di commented on #3912
@scardosoabreu What command are you using to upload? Have you created a `.pypirc` file?

You might find this guide helpful: https://packaging.python.org/tutorials/distributing-packages/#create-an-account

[2018-05-06 18:06] scardosoabreu commented on #3912
Yes, I  created the .pypirc file but I just figured it out: I changed the name of the file and tried again using twine upload dist/*
The first time I was trying: python3 setup.py sdist upload and it was returnig the error.
Worked fine now!
thank you!!

[2018-05-06 18:08] di commented on #3912
Great, closing this then, but feel free to comment if you have additional questions.

[2018-05-06 18:08] #3912 closed

[2018-05-06 18:56] brainwane commented on #1506
(Along the way, someone ought to update [the draft "Procedure for Transferring PyPI Name Ownership" Google doc](https://docs.google.com/document/d/1elum7ENjQb0dLB4ATfYNtnXYVLUzsKacc0VWnHHJb2A/edit) because evidently some people arrive at that still thinking it's the most current process documentation.)

[2018-05-06 19:35] JulienPalard opened #3914 "Missing legacy redirection from pypi.python.org/pypi/"
**Describe the bug**
Redirections from `https://pypi.python.org/pypi/` are not handled (only redirected to `https://pypi.org/pypi/` by varnish (fastly)).

As https://pypi.org/pypi/ does not exists, it creates some broken links.

**Expected behavior**
A 301 to `https://pypi.org/`, simply.

**To Reproduce**
[code]

[2018-05-06 21:03] brainwane commented on #3914
Per @JulienPalard:

[2018-05-07 09:56] dr-leo commented on #2675
I am afraid I am somewhat confused by multiple issues opened on the
same problem.

So I re-post my earlier messages in this thread.

Done. See the latest commit containing the newly created build and
dist dirs. - There is a single distinfo in dist.win32, as you can see.
So the wheel seems to be correct now.

I might add that the build process Ends with an "Access denied" error,
a known issue on Wi

[2018-05-07 13:55] HonzaKral commented on #727
I would love to work on it, but not sure about the time. I will try to make time at PyCon sprints, will update the issue then. Thanks for the ping

[2018-05-07 15:44] sandys commented on #3885
we are seeing network issues from Google Cloud Mumbai data center. pip installs are failing and pings are timing out

https://gist.github.com/sandys/6346ca9b972fb1824a11f1516b706195

[2018-05-07 15:57] nikoren commented on #3885
Same here ,from Google cloud in US datacenters, changed the /etc/resolv.confg to 4.2.2.1 and it works

[2018-05-07 16:10] sandys commented on #3885
we had to hardcode hosts address in our docker builds

[2018-05-07 17:09] di commented on #3885
@sandys @nikoren This should be resolved now.

[2018-05-07 17:34] nikoren commented on #3885
@di Thanks for letting us know, seems like it works fine now,

[2018-05-07 18:52] mowshon commented on #3896
For example this dude: https://pypi.org/project/ssh-decorate/#files
He log all SSH data from users and send it to his server. And I don't know where I can report him?
_More details: https://github.com/urigoren/ssh_decorator/issues/11_

[2018-05-07 19:03] di commented on #3896
Thanks for the report @mowshon, looking into it.

[2018-05-07 19:58] ar1975 opened #3916 "Failed pip install from Azure"
**Describe the bug**

The command '/bin/sh -c pip install -r requirements.txt' returned a non-zero code: 2
executed on an ubuntu VM on the Azure Cloud.
location West Europe

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

Collecting alembic==0.9.8 (from -r requirements.txt (line 1))
Exception:
Traceback (most recent call last):
  File "/usr/share/python-wheels/url

[2018-05-07 19:58] urigoren commented on #3896
Thank you very much @mowshon for being alert, I am shocked I fell a victim to this kind of attack.

I have updated my `pypi` password, and reposted the package under a new name `ssh-decorator`.
I have also updated the readme of the repository, to make sure my users are also aware of this incident.

Is it possible to automatically identify when pypi packages differ from their github repo, in case t

[2018-05-07 20:00] di commented on #3916
@ar1975 Could you file a [Network Access Issue](https://github.com/pypa/warehouse/issues/new?template=access-issues.md), with the commands being run from the affected environment?

[2018-05-07 20:09] ar1975 opened #3917 "Failed pip install from Azure - West Europe"
[code]

## My Platform

## Network telemetry

### DNS Resolution

[code]

[code]

[code]

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### TLS Debug

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

[2018-05-07 20:10] ar1975 commented on #3916
Sure done at: https://github.com/pypa/warehouse/issues/3917

[2018-05-07 20:10] #3916 closed

[2018-05-07 21:28] KOLANICH commented on #2502
I wonder if it is possible to immediately use the information for incrementing stats counter and then immediately discard it.

Also, how about setting up a Tor hidden service and using it for downloading packages from pypa by default for mitigating privacy risks and other risks like watering hole attacks?

[2018-05-08 01:27] vidstige commented on #1506
@di @brainwane do we really need the Warehouse support tool (#3231) in order to start processing the backlog of abandoned package claims? Now with PEP-541 finally accepted, the paperwork is in place to process the backlog.

I feel this is currently more of process problem rather than a technical problem: Who will process the support requests? The answer to this question will be no less clear with

[2018-05-08 06:01] ar1975 commented on #3917
Issue seem to be resolved.

[2018-05-08 06:01] #3917 closed

[2018-05-08 06:54] pgadige commented on #3877
I'm working on this.

[2018-05-08 12:02] nsheff commented on #1506
Just wanted to add a thought here... have you thought at all about introducing a type of namespace for pypi packages?

With general increase in programming literacy and package development and python's continued popularity growth, package name conflicts are likely to only increase, probably dramatically, over the next few years. Maybe it's worth thinking about employing the method used by github,

[2018-05-08 12:16] anarcat commented on #1506
@nsheff that's a good idea, but in the end that only moves the goalposts around. e.g. on GitHub there are "organizations" that have similar problems than any other toplevel nomenclature. i had to deal with this for the Linkchecker project and the only reason it was easier than on PyPI is that the maintainer on GitHub was different than PyPI: they were responsive and collaborated with the transitio

[2018-05-08 15:09] mschwager commented on #996
Hey @brainwane,

Unfortunately, I will not be at PyCon... unless you've got a spare ticket ;)

I'd be happy to continue discussion on this issue, though, if someone wouldn't mind transcribing!

[2018-05-08 17:20] nlhkabu opened #3922 "Accessibility audit: change footer headings from h3s to h2s"
e.g "Get help", "About PyPI", etc.

read as subheadings to the "New releases" heading. These headings should either be h2 elements as
well or not be headings at all.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Ai

[2018-05-08 17:22] nlhkabu opened #3923 "Accessibility audit: make project links easier to click on"
From our accessibility audit:

clickable if you hit the link element inside of them. Small clickable areas can be really hard to access
for a user with motor impairment. To fix this specific issue, you can make the whole box clickable or at
least all the text and the icon. If you do make the whole box clickable, be sure to leave enough space
between the boxes so that users are able to scroll on a

[2018-05-08 17:22] nlhkabu opened #3924 "Accessibility audit: reconsider contrast of grey cube image"
From our accessibility audit:

"new releases". There is nothing in any guideline about contrasts when it comes to images and logos,
and it may seem picky since the figure does not communicate any vital information on the page.
However, if a user sees something on the page but can't make out what meaning it conveys, it is
possible that the user gets frustrated because the user feels like he or she

[2018-05-08 17:24] nlhkabu opened #3925 "Accessibility audit: underline links, or add icons"
From our accessibility audit:

because, aside from communicating its meaning using color, the link text is underlined. This a common
accessibility problem and it is often fixed by underlining the link texts, as done at one instance here, or
by using complementary icons.

![screenshot from 2018-05-08 18-24-37](https://user-images.githubusercontent.com/3323703/39772400-164d3eac-52ed-11e8-95c3-ee6495

[2018-05-08 17:26] lukesneeringer commented on #994
Yeah, I am about half done. It is going slower than planned due to time.
I **will** be at the BOF and the first day of sprints and plan to finish it then. :-)

[2018-05-08 18:15] brainwane commented on #996
@mschwager I am 98% sure that sprints are free to attend even if you did not get a ticket to register for the main conference! If you can come to Cleveland, please do!

[2018-05-08 18:27] stloma commented on #3914
I can add this legacy redirect, thanks!

[2018-05-08 19:10] brainwane commented on #996
I'm right -- see https://us.pycon.org/2018/community/sprints/  and https://twitter.com/pycon/status/993923892002607104 . Can you make it?

[2018-05-08 21:18] takluyver commented on #996
Heads up, a user on reddit found a package on PyPI with a very obvious backdoor to steal SSH keys. It looks like someone other than the author may have got his PyPI credentials and uploaded it without his knoweldge, although the details are not very clear yet.

https://www.reddit.com/r/Python/comments/8hvzja/backdoor_in_sshdecorator_package/
https://github.com/urigoren/ssh_decorator/issues/11

[2018-05-08 22:30] di commented on #996
Thanks @takluyver, we are aware. For a number of reasons, it's highly unlikely that this user's account was truly compromised.

[2018-05-08 23:15] takanokage opened #3929 "project name recovery"
First of all I don't know if this is the right place to post.

Who's fault: mine, I deleted my project A (I know, beyond stupid...).
Problem: project name A stolen in seconds by third party.
Question: can I get A back?

The new project A is missing any contact information, any urls and the package itself is empty. I can't get in touch with the new "maintainer".

In the meantime, just for my sanity

[2018-05-09 09:13] galund opened #3931 "Flask-FeatureFlags abandoned - PEP 541 transfer"
Per #1506 and PEP 541, I'd like to ask you to transfer the ownership of https://pypi.org/project/Flask-FeatureFlags/ to me (user name `georgelundgds`).

No pull requests have landed on the original source at https://github.com/trustrachel/Flask-FeatureFlags since 2015, and multiple attempts to contact the author have failed. The address listed on pypi is not currently accepting emails.

We need to

[2018-05-09 10:34] jcbsv opened #3932 "Search needs to surface the "best" packages"
**What's the problem this feature will solve?**
Searching for a package for an often needed purpose should result in the best (recommended, stable, most mature, most popular, highest rated, ...) packages to be surfaces in the search results.

**Describe the solution you'd like**
When searching for (example) "yaml" the most mature/stable/recommended package should be shown in the top of the search

[2018-05-09 11:26] Cito commented on #3843
We cannot upload the latest PyGreSQL release because of this. Can I do anything to help moving this forward?

[2018-05-09 20:29] steiza commented on #996
Hey @brainwane! I work with @mschwager, will be at PyCon, am staying for the sprints, and would love to talk about improving Python package security. I'll look for the BoF / Open Space as a starting point?

[2018-05-10 08:46] 0ashu0 opened #3936 "Not all rows are getting pulled"
**Describe the bug**
Not all rows of data are being shown in the output. In the end of output, the summary does show total expected records. But the total number of rows are not complete, in between some rows are missing

**Expected behavior**
Number of rows in summary should match the total fetched rows. Correct behavior is that all records should get fetched.

**To Reproduce**
Just run the sampl

[2018-05-10 10:48] jamadden commented on #3936
The link you included is to a code snippet using `googlefinance.client`:
[code]

This tracker is for the software that runs pypi.org only, it cannot help with the packages distributed and installed from there. If you're trying to report an issue with `googlefinance.client` you'll need to get in touch with the maintainers of that project.

[2018-05-10 12:38] #3936 closed

[2018-05-10 14:50] andysingleton opened #3938 "Account recovery"
Hi there.
A previous member of our organisation created an account, specifically for uploading the "servicemanager" project. That person has since left and we no longer have access to their email address.
Can we recover the account?

The account is "hmrc-web-operations".
Feel free to reach me at my hmrc email  "andy.singleton at digital.hmrc.gov.uk" to discuss next steps.

Thanks
Andy

[2018-05-10 15:02] reeshishah commented on #3938
Or me reeshi.shah@digital.hmrc.gov.uk if Andy is unavailable.

Many thanks!

[2018-05-10 15:19] cprogrammer1994 opened #3939 "Remove bold from markdown code sections"
Hi!

I think bold looks bad in the rendered version of the long description.
It appears in the code section for imports and numbers.

Thanks!

**Describe the bug**

bold looks bad, especially for numbers

![image](https://user-images.githubusercontent.com/11232402/39877243-1cdee440-547e-11e8-9130-0a470d49ce52.png)

**Expected behavior**

- do not use bold at all

---

## Sample usage

[code]

For

[2018-05-10 15:43] di commented on #3167
There still seems to be a lot to do here. Just a search for the word "please" in the codebase produces a few files that probably need to be entirely gone over:

* `warehouse/forklift/legacy.py`
* `warehouse/legacy/api/xmlrpc/views.py`
* `warehouse/static/js/warehouse/index.js`
* `warehouse/static/js/warehouse/utils/forms.js`
* `warehouse/templates/base.html`
* `warehouse/templates/accounts/request

[2018-05-10 15:52] di commented on #3938
@andysingleton @reeshishah I've created https://github.com/hmrc/service-manager/issues/85, if either of you are owners of that repository, can you comment there?

[2018-05-10 22:42] jebek29 commented on #3885
Is good

[2018-05-11 09:04] zt2 opened #3948 "Malware packages on PyPI"
Those projects will steal user information when some one use `pip` to install them:

[code]

[2018-05-11 09:57] ewdurbin commented on #3948
thanks for report @zt2, please consider submitting via our [published security policy](https://pypi.org/security/) in the future...

reviewing now.

[2018-05-11 10:05] ewdurbin commented on #3948
The following packages were removed under our typosquatting policy and the user was destroyed.

[code]

[2018-05-11 10:05] #3948 closed

[2018-05-11 10:05] ewdurbin commented on #3948
The malicious `setup.py` contents for all packages that were removed:

[code]

[2018-05-11 11:54] pradyunsg commented on #3948
@ewdurbin Maybe an issue template named "security issue", whose contents tell the user to submit according to policy instead, would be helpful?

[2018-05-11 19:09] mulka commented on #3709
Leaving my 2 cents here:

I found a package on pypi that wasn't being updated, so created a fork, and pushed the new version as a separate package on pypi. Then, the original maintainer came back and assigned it to a new maintainer who got the project back up to date. I'd like to mark my fork as deprecated. If anyone is using it, they should probably switch back to the original package. So, I'd li

[2018-05-12 07:10] hugovk commented on #3167
Material Design have restructured their website without adding redirects.

Here's the new link to the writing styleguide: https://material.io/design/usability/accessibility.html#writing

[2018-05-12 15:02] hugovk commented on #3167
Also looks like they've removed a lot of the writing advice and examples from the new site.

Here's a link to the most-recent old version from the Internet Archive:

https://web.archive.org/web/20180410101124/https://material.io/guidelines/style/writing.html

[2018-05-13 00:39] jaystino commented on #3922
I've gone ahead and changed the four footer headings--Get help, About PyPI, Contributing to PyPI, Using PyPI-- from h3 elements to h2 elements in `base.html`. I checked the changes in the browser and ran the tests, which all appeared to have passed. Is there anything else you'd like me to do before submitting a pull request?

[2018-05-13 09:17] nlhkabu commented on #3922
Thanks @jaystino :)
You may also need to update the CSS here: https://github.com/pypa/warehouse/blob/master/warehouse/static/sass/blocks/_footer.scss#L87

Once this is done, please make a PR - feel free to ping me so I can review it :)

[2018-05-13 11:26] jaystino commented on #3922
Hi Nicole, thanks for helping me out with my first contribution!

Just in case tagging you in the pull request comment doesn't ping you for
some reason, I just wanted to let you know that I made the additional
change to the .css file and submitted the pull request.

Thanks again :)
Jay

Jay Ottenstein
+1 240 425 7803
+46 722 98 13 95
LinkedIn <http://www.linkedin.com/in/jayot>

On Sun, May 13, 201

[2018-05-13 11:50] LittleLampChen opened #3958 "Multiprocess Bug in python on ubuntu 16.04"
**Describe the bug**

It would return all zeros when I apply resamplefiter in multiprocess program on python.
**Expected behavior**

This happens when I processing the 3D image data in multiprocess on python. Sometime, it happens.
Not only resampler operation, but also other function, like deformations. (The image data is 0 or 1.)
**To Reproduce**

Call the function in multiprocess in python on ub

[2018-05-13 12:26] #3922 closed

[2018-05-13 12:49] looking-for-a-job opened #3959 "username rename"
**What's the problem this feature will solve?**

github and pypi different usernames or unwanted pypi username

**Describe the solution you'd like**

rename

[2018-05-13 15:50] di commented on #3958
This is the issue tracker for the code that runs `pypi.org`, not the projects on it. You'll need to reach out to the maintainers of the specific project you're having problems with.

[2018-05-13 15:50] #3958 closed

[2018-05-13 15:57] di commented on #3959
We don't usually rename accounts on PyPI. You're welcome to register the new name and transfer any projects between the two accounts, and then close the original one.

[2018-05-13 15:57] #3959 closed

[2018-05-13 18:09] cooperlees opened #3960 "`make initdb` troubles"
Hi all,

I'm trying to get my warehouse dev env up on my Mac (10.13.4) and I can never get `make initdb` to run successfully + have had some elastic search issues I don't understand (that I'll come back to).

Here are the logs with the errors - Seems I am timing out trying to talk to some azure instance?

[code]
Lets focus on this error first, then I'll see if this helps my elastic search error th

[2018-05-13 18:16] dstufft commented on #3960
Are you free atm? I can meetup and take a look at what’s going on

Sent from my iPhone

[2018-05-13 20:59] cooperlees commented on #3960
So I sat with @dstufft - I had old versions of databases and containers. So I had to run a `make purge` and a `docker volume rm $(docker volume ls -q --filter dangling=true)`.
- If others are happy I might add a 'Troubleshooting the `make initdb`' section to the 'Getting started' guide.

[2018-05-14 00:06] torokokill commented on #3515
From the looks of it, ie11 is prioritizing the `.package-header button` selector with `text-decoration: underline` over the `.tooltipped::after` with `text-decoration: none`; the opposite behaviour of other browsers.

Considering that this button's text doesn't show an underline on any browser (and isn't designed to?), would removing the `text-decoration` rules in `.package-header button` be appro

[2018-05-14 06:38] martinohanlon opened #3962 "pypi.org shows latest version, pip see's previous version"
**Describe the bug**
I have recently uploaded a new version of the guizero package 0.5.1 (https://pypi.org/project/guizero/) which is being displayed as available on pypi.org.

![image](https://user-images.githubusercontent.com/2329501/39981518-c530a5c6-5748-11e8-971e-2eb4cbb759a0.png)

However pip is not reporting the new version as being available, only the previous 0.5.0.

![image](https://user

[2018-05-14 07:11] martinohanlon commented on #3962
Some additional information, the new vesion was uploaded using twine v1.11.0, setuptools 38.5.1.

![image](https://user-images.githubusercontent.com/2329501/39983034-2d7101da-574e-11e8-86da-6839263a550a.png)

[2018-05-14 07:27] matthewdias commented on #3645
gonna close this for now. feel free to reopen if necessary.

[2018-05-14 07:27] #3645 closed

[2018-05-14 08:39] scls19fr opened #3963 "From Github tags to new release on Pypi using bot"
Hello,

Publishing a new release of a Python package could be much easier.

GitHub tags could be an easy way to achieve this task.
Moreover it will avoid to have a tag on Pypi which doesn't exists on Github.

In Julialang we have attobot https://github.com/attobot/attobot

I wonder if such feature couldn't be implemented for the Pypi infrastructure.

Kind regards

[2018-05-14 09:06] martinohanlon commented on #3962
And now pip is reporting that version 0.5.1 is the latest...

[code]

Timing issues? Propagation of data? Something else?

[2018-05-14 09:36] ununhexium opened #3964 "No search result on pypi"
https://pypi.org/search/?q=Django
Shows 0 result for Django
Same for requests, jira, anything i tried actually...

**Expected behavior**
Show me something or tell me what's going wrong.

**To Reproduce**
https://pypi.org/search/?q=Django

**My Platform**
Firefox
Pip
Note: the search is also broken for pip, locally.

[2018-05-14 09:38] ewdurbin commented on #3962
Hi @martinohanlon, thanks for the report.

Our search index is not updated incrementally yet, instead it is refreshed once every 3 hours. This would certainly lead to the behavior you're reported.

As such, I believe this is a duplicate of the feature request we are tracking in #701.

[2018-05-14 09:38] #3962 closed

[2018-05-14 09:43] ewdurbin commented on #3964
We're still sporadically running into the issue described in #3746. This incident of the issue is however resolved.

I'm going to close this issue as a duplicate of #3746

[2018-05-14 09:43] #3964 closed

[2018-05-14 09:54] martinohanlon commented on #3962
@ewdurbin Its certainly seems to be a symptom of not having #701 .

I suppose if this is currently considered to be normal behaviour...

[2018-05-14 09:58] ewdurbin commented on #3962
We certainly want to implement incremental search index updates! Initial attempts in #3693 seemed to aggravate another issue, #3746

The pycon sprints are happening over the next four days and search issues are something we are going to try to prioritize.

[2018-05-14 13:41] di opened #3965 "Documentation is unclear about when to run `make serve`/`make initdb`"
If the user doesn't have any of the intermediate docker containers set up, running `make serve` and `make initdb` simultaneously will try to pull down all the containers for both commands.

We should make it more clear in the documentation that the user should wait for docker to be set up before `make initdb` is run.

We could also advise folks to run `make build` once first, and _then_ run `make

[2018-05-14 14:11] tomfbiz commented on #3557
I'm working on this

[2018-05-14 14:23] di opened #3966 "Fail upload if rST description does not render"
If the reStructuredText `long_description` does not render, let's fail the upload instead of just rendering it as plaintext, and raise a meaningful error to the user.

[2018-05-14 14:25] theacodes commented on #3966
#3760 should help - you can call `warehouse.utils.readme.render` to check and see if the description is valid.

[2018-05-14 14:52] julieqiu commented on #3754
I'll work on this

[2018-05-14 15:41] lukesneeringer commented on #994
(Update for sprints: Work is going on [this branch](https://github.com/lukesneeringer/warehouse/tree/tokens)).

[2018-05-14 15:51] di commented on #284
Some notes from today's sprints:

* Simple api is the biggest success story for scaling
  * Hypermedia API

* We should have a hypermedia API
  * Allows us to change things in the background
  * Move things around as we need to
  * Not having a single route for everything
    * Rules out GraphQL
  * Bad idea: something that allows you to reduce the data you get back
    * Because it's easier/bette

[2018-05-14 16:05] theacodes commented on #284
Was the possibility of an RPC-based API discussed at all? I'd like to know the reasons for ruling it out.

(for context, I'm not a big fan of hypermedia APIs - they tend to add an enormous amount of cognitive overhead for both users and maintainers).

Not that we should block on this by any means, just curious as to what was discussed.

[2018-05-14 16:18] joeygrasso commented on #3838
I'm taking a look. 👍

[2018-05-14 16:56] di commented on #2877
@honzakral is able to help with this issue

[2018-05-14 17:03] di commented on #1536
I would really love it if someone could fix this during the packaging sprints!

[2018-05-14 18:28] matt-land commented on #1536
Would it be acceptable to test for the presence of manifest file, and  "mark skipped" if the file does not exist yet?

[2018-05-15 11:54] brainwane opened #3984 "Improve spelling, style of "Why isn't my desired project name available?" in FAQ"
In https://pypi.org/help/#project-name we see:

"Receive" is misspelled, and there's probably a way we could phrase this sentence better.

The file to fix is `warehouse/templates/pages/help.html`.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://github.com/pypa/warehouse

[2018-05-15 12:02] brainwane opened #3985 "Add API documentation for the Release endpoint"
In https://warehouse.readthedocs.io/api-reference/json/ we have nearly no documentation of the Release endpoint https://warehouse.readthedocs.io/api-reference/json/#release . We should have a sample request header and response body as we do for the Project endpoint (also on that page). You can fix this in `docs/api-reference/json.rst` and basically copy the format from the Project endpoint sample

[2018-05-15 13:04] tomfbiz commented on #996
I am at Pycon North America, and am starting to do some research on this ticked (compare packages listed for TOTP, look at where the code will need to be changed)

[2018-05-15 13:40] di commented on #3156
Fixed in #3313.

[2018-05-15 13:40] #3156 closed

[2018-05-15 13:49] di commented on #3126
@99 is working on this!

[2018-05-15 13:53] di commented on #3938
Thanks @reeshishah. Should I change the `hmrc-web-operations` email address to `reeshi.shah@digital.hmrc.gov.uk`? Or do you have a more general email address you'd like to use for this shared account?

[2018-05-15 16:19] meejah commented on #3810
Maybe this bug is the "relevant one"? I see that the new (and very nice looking!) PyPI UI no longer even lists links to signature files for releases that have them. I know random GPG signatures aren't a panacea, but also I know at least one of my users (the Debian project) does use and check them properly, so it would be very nice if these links could appear again.

You *can* get the signatures if

[2018-05-15 16:35] reeshishah commented on #3938
Thanks @di all is working and account has been recovered.  Many thanks

[2018-05-15 16:39] di commented on #996
Some notes on the subject are here: https://etherpad.wikimedia.org/p/PyPA_Warehouse_2FA_notes

[2018-05-15 16:58] merwok commented on #284
There are many downsides to RPC APIs.  You need to name every operation; you don’t benefit from HTTP features like caching or transparent retries since everything is a POST; you need to identify every resource ID instead of relying on URLs to identity them; you need to add authorization code in all methods instead of benefiting from Pyramid ACLs linked to the resource tree.

I find too that it’s n

[2018-05-15 17:08] theacodes commented on #284
There are *lots* of ways of doing RPC APIs, and while your concerns are valid for some implementations, they aren't universal.

I mentioned this briefly during the sprints: Google's [API style guide](https://cloud.google.com/apis/design/) is an extremely well-done guide for creating RPC APIs that can also be exposed in a REST-like way. While it walks through the patterns and examples using `protob

[2018-05-15 17:16] merwok commented on #284
Thanks for the link!

(Same feeling about using headers.  I am using JSON-API in a project and like the uniform response format with pagination links and related resources.)

[2018-05-15 17:27] theacodes commented on #284
Yeah, using headers for actual data makes things transport-specific. Using full URLs for links also ties the API to a specific transport, whereas using resource names (basically just the path part of the URL) provides agnosticism. We want something that will have longevity, I think buying in deeply into hypermedia would be counterproductive to that.

[2018-05-15 18:31] tomfbiz commented on #996
Notes from spending a morning at PyCon North America Sprint researching and thinking:

**Simple evaluation of TOTP packages:**

https://pypi.org/project/onetimepass/1.0.1/.   483 stars not updated since 2015
https://pypi.org/project/pyotp/ 853 stars updated in 2017 & 2018
https://pypi.org/project/oath/ 104 stars Oauth not just TOTP, last 2 commits in 2016 and 2015
https://pypi.org/project/otpauth/

[2018-05-15 18:38] mschwager commented on #996
Just to follow up, looks like y'all have focused on an OTP approach for now? As opposed to a particular vendor?

That seems like a good start, especially if it's built with extensibility in the future in mind :)

[2018-05-15 19:16] eevelweezel commented on #3492
I encountered this while building the local dev environment, looks like it's using celery 4.1.0.

[2018-05-15 19:26] di commented on #3962
To be clear, since `pip` uses the `/simple` API, which is instantaneously updated, you should be able to `pip install` your package as soon as you have uploaded it.

It's only `pip search` which depends on the search index, which is currently updated every 3 hours (as @ewdurbin said).

[2018-05-15 19:37] ryanhiebert commented on #996
TOTP is good and widely available. I'd love to see U2F implemented with the recent WebAuthn draft standard, it seems like that's going to be the way to integrate with tokens going forward.

[2018-05-15 20:32] martinohanlon commented on #3962
I just did a couple of tests on this because what @di said didnt match with my experience when I created this issue.

This is what I did / found:
- I created a new packaged and uploaded it to pypi
- As soon as I uploaded it, as @di said, I was able to install it
- I then incremented the version number and uploaded it to pypi
- At this point I was unable to install the new version using `pip instal

[2018-05-15 20:38] di commented on #3962
I think what you're hitting here is that pip's local HTTP cache is not stale enough to go out and actually hit PyPI the second time. I don't think any point you're interacting with the search index.

This might be worth raising on the pip issue tracker, but at first glance I don't see any way to avoid this without using `--no-cache-dir` as it's just a side effect of caching.

[2018-05-15 21:07] ofek opened #3997 "[ui] url hijacking on page load"
**Describe the bug**
On page load there is some JS that hijacks the url to focus on the `#description` anchor.

![anchor](https://user-images.githubusercontent.com/9677399/40083155-480115d0-5861-11e8-810f-25747241271c.PNG)

**Expected behavior**
Do nothing with users' urls, as there is important info above that should be immediately visible:

![correct](https://user-images.githubusercontent.com/96