[2020-04-03 22:08] brainwane commented on #194
@uranusjr @pfmoore @pradyunsg I'd appreciate if you could review this issue, especially https://github.com/pypa/warehouse/issues/194#issuecomment-41196203 and the comments below it, which discuss some upload checks we **could** implement in Warehouse (blocking noncompliant uploads). Which of those checks would be particularly valuable to the pip resolver work? Once we have that list, we can make a

[2020-04-03 22:28] brainwane opened #7730 "Modify API to be asynchronous"
**What's the problem this feature will solve?**
Right now, uploading to Warehouse is synchronous. This is a pain when we want to implement upload gating like #5420 or other checks, and cramps our style regarding TUF (@ewdurbin can go into that further).

**Describe the solution you'd like**
We would change the Warehouse API (or add a new version) to make uploads asynchronous.

**Additional context

[2020-04-03 22:29] brainwane commented on #7730
Continuing the IRC transcript:

cc @woodruffw

[2020-04-03 22:36] brainwane commented on #5420
Implementing this would -- per @pradyunsg's opinion [in IRC just now](http://kafka.dcpython.org/day/pypa-dev/2020-04-03) -- help mitigate the compatibility issues that he sees users face. And in my assessment, it would help reduce how often users get into bad situations, and thus reduce the general support load on the people who support Python packaging users. Since [rolling out](https://github.co

[2020-04-04 04:24] uranusjr commented on #194
One wild wish I’ve always hoped for is to eliminate dynamic dependency altogether, and ensure all dists of a given version specify exactly the same set of dependencies. One of the most resource-consuming (both for development and runtime) part of dependency resolution is the need to download a package matching the host environment, extract it, and potentially build it to get dependencies. This can

[2020-04-04 05:43] ChillarAnand commented on #7403
@ewdurbin I agree. I was wondering if the dump size is less, we can also distribute via google drive or dropbox or any other channels. This makes it easy to play with data offline.

[2020-04-04 08:05] taleinat commented on #6683
That's great to hear! This is why I hadn't started helping with the translation earlier: I wasn't sure whether RTL language support would actually be worked on.

In that case I'll start working on the translation when I can.

[2020-04-04 10:09] pfmoore commented on #194
It would be great to have a check that the name and version in the metadata match the filename (sdist or wheel), so that we don't have to abort on mismatches. (We'd still have to check, for local files and other edge cases, but knowing that the filename is reliable would still be useful).

As @uranusjr mentioned, the only really useful checks from the pip resolver POV are ones which would allow us

[2020-04-04 10:37] pfmoore commented on #3889
I'm not clear how it would help with the new resolver rollout. Can you clarify?

As far as I am aware, `Python-Requires` is essentially just another dependency that the resolver (new or old) has to deal with. Mandating it doesn't make any difference to pip (other than meaning that we'll now *never* have a case of a package with no dependencies, which makes a lot of our tests a little bit unrealist

[2020-04-04 10:42] brainwane commented on #3889
@pradyunsg I think you were in that discussion (in IRC today about `Python-Requires`) and you seemed actively interested in getting Warehouse to mandate it, but maybe I misread you - could you answer @pfmoore's question? If I misunderstood and we don't particularly need this for the resolver work, please do say so and I'll happily back off.

[2020-04-04 10:50] pfmoore commented on #474
It would help, but it would need to be an extension to the standard for the simple API to be of significant benefit. We definitely don't want to end up special-casing PyPI/Warehouse in pip's code, and while we could add a test for whether an index supports a new API, I'd want that to be standardised (at least provisionally) or we're going to hit all sorts of backward compatibility and maintenance

[2020-04-04 11:54] ewdurbin commented on #7403
@ChillarAnand Ultimately I'm not sure if the limited volunteer admin time can be spent maintaining two sources, but the dataset is permissibly licensed under a [Creative Commons Attribution 4.0 International License](https://creativecommons.org/licenses/by/4.0/) so redistributions of dumps of metadata discussed here would be 100% ok.

For the time being I'm going to work under the assumption that

[2020-04-04 11:56] ewdurbin commented on #7403
Actually, this brings up a possible concern with licensing. We'd need to be careful to ensure that what is published in these tables _can_ be licensed under Creative Commons.

This may exclude us from some fields like description/description_html.

[2020-04-04 17:56] dstufft commented on #194
I'd argue this is already something you should be able to assume. If those two things don't line up I'd just call it an error. We've never made any promises that it would work, and if it does currently work I'd call it an implementation detail that just happened to allow it for awhile.

I'm fairly sure that at some point we will supplant the simple API with a better one that will include the neede

[2020-04-04 17:57] dstufft commented on #194
I'm not sure that this is possible, or even desirable. At least when we talked about PEP 517 @njsmith argued pretty strongly that we need some sort of hook that enabled programatic dependencies, and that we simply could not depend on static only metadata for sdists.

[2020-04-04 18:08] dstufft commented on #6454
I'm going to go ahead and close this, since it appears to be a pip feature request.

[2020-04-04 18:08] #6454 closed

[2020-04-04 20:42] #7463 closed

[2020-04-04 20:46] dstufft commented on #7730
Alright, so here's the rough idea I have for the work flow for an asynchronous upload API that is also extensible in the future to support PEP 480 (assuming we ever accept and implement PEP 480). This should itself be a PEP since it's defining an standards based API, but just to get the very rough idea out there, here's a quick summary of what I'm thinking:

The basic idea here is the Upload API e

[2020-04-04 20:48] #7524 closed

[2020-04-05 13:08] Mingun opened #7739 "Add Russian translation"
The Russian Translation is at [100% on Weblate](https://hosted.weblate.org/languages/ru/pypa/) so I think it should be added to the localization footer.

[2020-04-05 14:46] #7739 closed

[2020-04-05 15:26] taleinat commented on #6683
I've translated 50% of the strings for the Hebrew language so far.

BTW,

IMO most of those using RTL languages would likely be acutely aware of this, since we see so many issues caused by our languages being RTL in our digital age...

[2020-04-05 23:48] ewjoachim opened #7748 "Implement more robust malware detector"
Hello there. I'm probably going to say a bunch of obvious things, sorry in advance :/

Current YARA-based malware detector [can be circumvented easily](https://github.com/pypa/warehouse/pull/7425):
- It's regex based, and the regexs don't account for all the leeway in writing python (e.g. `import      builtins` will happily not be detected because all spaces have not been marked as repeatable)
- E

[2020-04-06 00:38] pradyunsg commented on #7748
There was a fairly public effort, `pysandbox`, to create a "python sandbox" that was discontinued since it's really really [redacted] difficult to sandbox Python in-process.

More details are in this LWN article: https://lwn.net/Articles/574215/

[2020-04-06 07:07] ewjoachim commented on #7748
Thanks a lot ! This goes in the direction we were heading I guess, leaving at least a few options that were suggested:
- Pypy (but I’m afraid the execution context would be so different that it would make it trivially easy to detect the sandbox)
- solutions around seccomp and namespaces are hinted, which I believe could hint toward Docker. A bit of googling says I may have to read more about SELin

[2020-04-07 00:17] qlyoung commented on #3668
I have a (maybe dumb) question on this issue. I apologize if it ends up being off-topic due to a misunderstanding on my part; working with the Python packaging ecosystem for platform-specific wheels has been a difficult experience for me and I'm quite sure I still don't fully understand it.

As I read it, the intent of this issue is to ultimately block the uploading of `linux_armv7l` and `linux_ar

[2020-04-07 00:54] di commented on #3668
@qlyoung Your `armv7l` box might just not actually be manylinux compatible. If you do:

[code]

and then

[code]

what do you get?

[2020-04-07 01:03] qlyoung commented on #3668
[code]

If there are `armv7l` boxes that aren't `manylinux` compatible, doesn't that also indicate the necessity of keeping `linux_arm*l` tags around?

[2020-04-07 01:12] di commented on #3668
That's interesting, I would expect that to give you `manylinux2014`. What's the output of `python -c "import packaging.tags; print(list(packaging.tags.sys_tags()))"`?

[2020-04-07 01:20] qlyoung commented on #3668
I posted the equivalent output in my OP, nice to know what the canonical way is :slightly_smiling_face:
As before:
[code]

[2020-04-07 01:29] di commented on #3668
Got it, so I'm guessing `python -c "import packaging.tags; print(packaging.tags._is_linux_armhf())"` is false then, right? The issue is that `armv7l` overlaps multiple ABIs, so we chose `armhf` as the representative ABI for `armv71`. We don't have the ability to support multiple ABIs for a given architecture.

[2020-04-07 01:50] njsmith commented on #3668
@qlyoung

The problem with the `linux_arm*l` tags is that they don't tell you anything at all about compatibility. All it says is "this might work on some box somewhere, but no-one knows whether it will work on your box". That's not really better than manylinux :-)

@di

If there are multiple ARM ABIs in active use, then I guess it wouldn't be complicated for pip/pypi to support multiple of them,

[2020-04-07 02:07] qlyoung commented on #3668
This is indeed an `armel` machine.
[code]

I see. In this case, as I understand it, there is no real support today for `armel` wheels since `armv7l` wheels are assumed to be `armhf` wheels; and furthermore, this information isn't encoded in the wheel tag, but rather in the packaging libraries as a soft check. I'm not even sure if `armel` wheels are forward compatible with `armhf` (not intricately

[2020-04-07 17:52] Carreau commented on #3889
Well but if you are an advanced user and really want to get this package on an old Python version you probably can figure it out. Though if you are a new user and `pip install foo` and it does not work you at a loss. So I would see over-enforcing as better than being too lax.

And the all point of Python-Requires is also exactly for those old-python-users not to install a too-recent version of the

[2020-04-08 05:48] grantjenks opened #7774 "How to leave as "Maintainer" of a project?"
I was added as a "Maintainer" to https://pypi.org/project/freegames-extended/ and https://pypi.org/project/tk-dragtool/ despite having NO RELATIONSHIP with the packages or "Owner" whatsoever. The freegames-extended package looks like a knock-off of my https://pypi.org/project/freegames/ package for which I am the current "Owner". I know nothing about the "-extended" variant and I think it looks su

[2020-04-08 08:58] yeraydiazdiaz commented on #7774
Thanks for the report @grantjenks, this has been raised a couple of times before.

Closing in favor of https://github.com/pypa/warehouse/issues/4729.

[2020-04-08 08:58] #7774 closed

[2020-04-08 13:13] ewdurbin commented on #7774
@grantjenks you've been removed as maintainer from those two projects. I'll look into the suspicious aspects shortly.

[2020-04-08 13:19] ewdurbin commented on #7774
I don't see anything malicious in the diff between freegames-2.3.2 and freegames-extended-2.3.2, but it seems reasonable to keep an eye on the activity of this user. Thank you for the heads @grantjenks, and apologies for the confusion.

[2020-04-08 14:05] grantjenks commented on #7774
Thank you!

[2020-04-08 15:48] brainwane commented on #194
At the summit last year @crwilcox [asked](https://github.com/pypa/packaging-problems/issues/264#issue-455391624):

@dstufft said, [above](https://github.com/pypa/warehouse/issues/194#issuecomment-41196203) (in 2014):

@dstufft do you agree with your 2014 self that author email and project URL should not be mandatory?

[2020-04-08 15:53] brainwane opened #7778 "Search default or option: exclude projects with zero downloadable distributions"
**What's the problem this feature will solve?**
Some PyPI projects have zero past releases, or have released distributions in the past but then deleted the distributions. When users search for projects, they are probably searching for packages they can download, and may be frustrated if the results include projects without any downloadable files.

**Describe the solution you'd like**
Either by def

[2020-04-08 15:57] brainwane commented on #194
@dstufft @pfmoore @pradyunsg @ewdurbin @di @uranusjr @techalchemy  OK, I reread the above discussion. It sounds like the metadata/installability checks that make sense for Warehouse to mandate are:

- Package name
  - must exist
  - must match filename (sdist or wheel)
- Version
  - must exist
  - must be PEP 440-compliant
  - must match filename (sdist or wheel)
- Description: must exist
- Author

[2020-04-08 16:06] di commented on #7778
This can be done by adjusting the query used for reindexing to exclude releases without files: https://github.com/pypa/warehouse/blob/dc120b9c0f8fba9dc98809e68e1b56a1d1bda5e6/warehouse/search/tasks.py#L33-L95

[2020-04-08 16:10] pfmoore commented on #194
Sounds reasonable to me.

I'd argue that there should be *some* means of contacting the author, but I concede that "issue tracker on the project webpage" is entirely reasonable for that. So we move out of the area of what should be checked, and into a new metadata field.

[2020-04-08 16:14] di commented on #194
* [`Name` is required and validated](https://github.com/pypa/warehouse/blob/643dac748287662d1ffe0eef7012751eb2fa9d7b/warehouse/forklift/legacy.py#L408-L421)
* [`Version` is required and validated](https://github.com/pypa/warehouse/blob/643dac748287662d1ffe0eef7012751eb2fa9d7b/warehouse/forklift/legacy.py#L422-L432)
* [`Description` is optional](https://github.com/pypa/warehouse/blob/643dac74828766

[2020-04-10 00:05] di opened #7782 "Eliminate extra space where email is hidden in logged-out profile view"
The optional email on a user's profile is leaving extra space when it's not being shown for logged-out users. For example, on https://pypi.org/user/admin:

Logged out | Logged in
------------ | -------------
<img width="329" alt="Screen Shot 2020-04-09 at 7 01 55 PM" src="https://user-images.githubusercontent.com/294415/78950596-daa1b280-7a94-11ea-9966-7c020a1ef1a4.png"> | <img width="356" alt="Sc

[2020-04-10 05:11] di commented on #6825
Another issue here is the forms in `accounts/forms.py`, which are currently using threadlocals via `warehouse.i18n.localize`, but should be changed to be dynamically created based on the request.

[2020-04-10 20:50] di commented on #726
Chatting with @alanbato about this today, our thoughts on how to do here:
* Add one field to the `Release` model:
  * `published` - a timestamp, added from `created` for all existing releases
* Add one field to the `Project` model:
  * `auto_publish_releases` - boolean, default to true
  * UI for setting this in the management UI
* Filter on whether `published` is set for public UIs, simple UI
* I

[2020-04-11 05:03] jayvdb opened #7789 "Package names that replace stdlib names"
I've done a bit of analysis of all stdlib module names registered on PyPI as part of https://github.com/jayvdb/pypidb and using master of https://github.com/jackmaney/python-stdlib-list/pull/28.  This issue is a bit like https://github.com/pypa/warehouse/issues/1506 , focused on a narrow set.

An important consideration is that many of these packages are appearing on the top 4000 packages maintain

[2020-04-11 11:15] peircej commented on #726
Sounds great @di
And just to be clear, an unpublished release can be deleted entirely, right?

[2020-04-12 02:13] Yusuf4396 opened #7790 "Duniya"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2020-04-12 14:01] chandra1618 opened #7791 "Facing error while installing websocket"
Hi,

I am facing an error while installing websocket-client package using pip. I am sharing a screenshot of the error, please help me to troubleshoot it.

![Screenshot from 2020-04-12 19-29-59](https://user-images.githubusercontent.com/34679608/79070509-1e462780-7cf4-11ea-924b-3a20290d296d.png)

[2020-04-12 14:17] jamadden commented on #7791
I cannot duplicate this with current version of pip and Python 2.7:
[code]

The [PyPI project page for websocket_client](https://pypi.org/project/websocket_client/#files) does not list anything about `packagecloud.io` (and at any rate, installing from external links hasn't worked in pip for a *long* time, [1.5 (2014-01-01)](https://pip.pypa.io/en/stable/news/#id318) IIRC). Perhaps you're using a n

[2020-04-12 14:38] chandra1618 commented on #7791
Hi Jamadden,

Thank you so much for your reply, I was able to install websocket-client using the same command, i also have tried to install the same package using pip3, but i see the same error.

[2020-04-12 15:08] #7790 closed

[2020-04-12 22:01] batmanzzz opened #7792 "Certificate issue for dualstack.r.ssl.global.fastly.net."
**Describe the bug**
The name files.pythonhosted.org is an alias for dualstack.r.ssl.global.fastly.net, and the SSL/TLS certificate used for dualstack.r.ssl.global.fastly.net. is misconfigured as neither the certificate CN or SANs match the name causing a certificate warning.

**Expected behavior**
A name should be included in the SAN list that matches dualstack.r.ssl.global.fastly.net or includes

[2020-04-12 23:20] #7792 closed

[2020-04-13 14:22] bittner commented on #6722
I'd suggest to use an "eye" icon (visually) placed inside the password field to show and hide the typed password ([example](https://www.youtube.com/watch?v=NomcZddqBfs)). Not sure if you already have this on the radar; I can't see it from the code sample.

[2020-04-13 17:27] OrangutanGaming commented on #1190
Is this still being discussed?

[2020-04-13 17:28] ewdurbin commented on #7791
Based on your error output, it appears that you're attempting to install from packagecloud.io, not pypi.org/files.pythonhosted.org

Please review your [pip configurations](https://pip.pypa.io/en/stable/user_guide/#configuration), specifically the value for `index-url`... which based on the last line of the error in the screenshot appears to be set to https://packagecloud.io/github/git-lfs/pypi/sim

[2020-04-13 17:30] #6792 closed

[2020-04-13 19:34] SanketDG commented on #6722
I will be taking this up. Since Warehouse already uses `FontAwesome`, it'd be easy to integrate this as part of the password input itself.

[2020-04-13 20:36] di commented on #6722
I think we want to keep the existing checkbox and "Show password" label for accessibility reasons. We just want to move it. The diff in https://github.com/pypa/warehouse/issues/6722#issuecomment-538182534 looks like what we're looking for if someone can turn it into a PR.

[2020-04-13 20:40] #7585 closed

[2020-04-13 20:55] di commented on #7789
Thanks for putting this together @jayvdb. I think we can transfer most of these to https://pypi.org/user/admin, and once #5838 lands, yank all the old releases.

I think this part doesn't really belong in this issue tracker (in the sense that we can't fix it with a PR to this repo), I'd encourage you to create an issue at https://github.com/pypa/packaging-problems/issues and maybe start a discussi

[2020-04-13 22:07] bittner commented on #6722
It should be feasible to both keep the checkbox, technically, for accessibility reasons and show a clickable :eye: icon, which operates the checkbox, to everyone else who is not a screen reader application. I think we're looking for that as a solution.

The visual representation of a checkbox misleads people into thinking "Remember on this computer" (the common use case for login forms involving a

[2020-04-14 00:56] alanbato commented on #726
For everyone who wanders here and would like to chip in, an implementation proposal is now being discussed at:
https://discuss.python.org/t/feature-proposal-for-pypi-draft-releases/3903

[2020-04-14 09:05] mworion opened #7797 "Some version numbers are not visible in the json string of the package"
Hi,

PyPi is hosting a package of mine. Great deal! Whenever I choose a version number
x.y.z with z > 9 and checking with https://pypi.python.org/pypi/<packagename>/json the content, then versions with z >9 are not included in the json result.
They could be uploaded, they could be seen on the web page, they could be install manually, but they ore not visible in json.

Example:
MountWizzard4 packag

[2020-04-14 12:08] jamadden commented on #7797
Your examples include 0.149.11 (and 0.149.10):

[code]

[code]

Sorting appears to be lexicographic, so they come between 0.149.2 and 0.149.1.

[2020-04-14 12:08] #7797 closed

[2020-04-14 14:47] PavanTatikonda opened #7798 "Donation links are broken"
Hello Team,

When I click on ```Donate Here``` on  page ```https://pypi.org/sponsor/``` or ```Donate today!``` on page ```https://pypi.org/``` it is re-directing to the below url and throwing the following error:

URL: ```https://psfmember.org/civicrm/contribute/transact?reset=1&id=13```
[code]

Please help take a look and let me know if you need any other info.

Thanks,
Pavan.

[2020-04-14 14:59] ewdurbin commented on #7798
Thanks @PavanTatikonda, looks like the PSF crm is under maintenance, but should be available again soon.

[2020-04-14 14:59] #7798 closed

[2020-04-14 22:51] inklesspen opened #7854 "How to remove myself as a collaborator on a project?"
I am currently marked as a collaborator on three projects I don't want to be. I am not the sole collaborator on any of them. However, the "Remove" button next to my name is grayed out. How can I remove myself from the projects?

[2020-04-15 21:11] davaya opened #7803 "Login - no user found with that username"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2020-04-15 21:13] pradyunsg commented on #7803
Hi @davaya, please fill the template?

[2020-04-15 21:15] davaya commented on #7803
It should have not been created - don't see a way to delete.  Closing now.

[2020-04-15 21:15] #7803 closed

[2020-04-16 09:01] caramdache commented on #3962
I have the issue with `data-importer 3.1.1`. It can be see by `pip3 search`, but not by `pip3 install` which only sees `data-importer 3.0.2`.

[2020-04-16 10:19] jamadden commented on #3962
`data-importer 3.1.1` *only* provides [a Python 2 wheel](https://pypi.org/project/data-importer/3.1.1/#files). In contrast, 3.0.2 *only* provides a source distribution. Python 3 will not be able to install a Python 2 wheel, so 3.1.1 will not be used. 3.0.2's source distribution can be used by any version of Python so that's what Python 3 will be stuck with.

[2020-04-16 15:10] nooninm opened #7804 "Default Kivy rotation is 90 instead of 0 as of 2020.04.15"
**Describe the bug**

After clean install of both Python 3.8 and Kivy 2.0.0rc1, all kivy-examples examples pop up windows have their contents are displayed sideways.  That is, rotated 90 degrees.
This gets fixed by running any of the kivy example code, pressing F1 to get to the kivy settings, and reset the rotation to 0.

No windows should be rotated by default.
**To Reproduce**

Just do a clean i

[2020-04-16 15:40] nooninm commented on #7804
Not a problem after all.  I found out today there was a .kivy directory with a config.ini file.  I believe I changed the rotation while trying out many things, following an (excellent) Alex Taylor Kivy tutorial video.  I deleted Python, Kivy, and the .kivy directory, reinstalled everything, and it all works just fine.

[2020-04-16 15:40] #7804 closed

[2020-04-16 15:41] pradyunsg commented on #7804
@nooninm You probably want to file an issue at https://github.com/kivy/kivy, and not here.

[2020-04-16 16:51] caramdache commented on #3962
Thanks @jamadden, I've reported this to the misconfigured package.

[2020-04-17 15:29] valdergallo commented on #3962
@caramdache I made the upload for p3k today. Thanks for helping me @jamadden and @caramdache

[2020-04-18 12:29] #7791 closed

[2020-04-18 12:39] jamadden opened #7811 "No validation of sdist filenames allows uploading files pip won't choose"
**Describe the bug**
In response to https://github.com/pypa/warehouse/issues/3962#issuecomment-614515258, a user uploaded an sdist-that-wasn't with the file name `data-importer-3.1.1.linux-x86_64.tar.gz`.  I thought at first it might truly contain non-manylinux compiled binaries so I wanted to check its contents; turns out it didn't, but pip won't install it anyway unless you force it to.

[code]

[2020-04-19 09:49] McSinyx commented on #5506
Coming from the pip's issue, is it sensible for warehouse to provide a wildcard search API, e.g. using [regex or wildcard search term](https://www.elastic.co/guide/en/elasticsearch/reference/current/term-level-queries.html)?  I imagine that then `pip search` can use this new query for the `name` field and maybe stick with the old `match` for `summary`.

[2020-04-19 15:08] iicedream opened #7813 ""[WinError 126] The specified module could not be found" when I execute plaidml-setup"
Hello everyone, I used the anaconda to pip plaidml-keras. I can pip successful,but when I execute the plaidml-setup, I got this error.

(kerasgpu) C:\Users\***>plaidml-setup
Traceback (most recent call last):
  File "e:\programdata\anaconda3\envs\kerasgpu\lib\site-packages\plaidml\__init__.py", line 154, in load_library
    return ctypes.cdll.LoadLibrary(libpath)
  File "e:\programdata\anaconda3\e

[2020-04-19 15:11] iicedream commented on #7813
I try many answers about this issue,including this answer: https://github.com/openslide/openslide-winbuild/issues/18 though is not quite much.

[2020-04-19 15:20] jamadden commented on #7813
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there (for example, using `pip install <SOME PACKAGE>`). You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page (`ht

[2020-04-19 15:20] #7813 closed

[2020-04-19 15:23] iicedream commented on #7813
ok,may be I should try more.Thanks for your answer.

[2020-04-19 15:24] iicedream commented on #7813
ok,may be I should try more.Thanks for your answer.

[2020-04-19 21:17] baberjunaid opened #7815 "scholarly.search_author_custom_url is not responding"
Dear contributer,

It is a wonderful contribution. However, after trying several examples; author custom url function is not working, or I am doing some mistake. You have not given any example of that function as well.

Let the custom url be
[code]
then following error is received

ConnectionError: HTTPSConnectionPool(host='scholar.google.comhttps', port=443): Max retries exceeded with url: //scho

[2020-04-19 21:18] baberjunaid commented on #7815
Lastly, if you could entend the API for affiliation search as well. Please.

[2020-04-20 10:30] jamadden commented on #7815
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there (for example, using `pip install <SOME PACKAGE>`). You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page (`ht

[2020-04-20 10:30] #7815 closed

[2020-04-20 14:12] di commented on #7811
There is some additional validation of the filename as well: https://github.com/pypa/warehouse/blob/9b4b74cc48dec95739b036cb188c755a9fe455e4/warehouse/forklift/legacy.py#L1150-L1174

But nothing which is validating the version number used in it, which seems to be the problem here.

[2020-04-20 15:39] brainwane commented on #726
@alanbato would like comments on this proposal by 30 April (10 days from now). I [posted some background context on distutils-sig](https://mail.python.org/archives/list/distutils-sig@python.org/message/G355FYOYQZ6HIH7RK47WPZOYHNCEXGOB/).

[2020-04-20 17:46] brainwane opened #7817 "improve pipeline for user-facing feature-specific documentation"
_Originally posted by @dstufft in https://github.com/pypa/warehouse/pull/5838_

Donald, could you talk a little more about what you mean re: a documentation pipeline for user-facing docs? Right now we have:

* packaging.python.org
* the help/FAQ page on PyPI
* warehouse.readthedocs.io/ which does have user-facing stuff for the API, for instance

Am I right in understanding that you want a better s

[2020-04-20 18:16] dstufft commented on #7817
What I'm thinking of would probably replace the help/FAQ page on PyPI, and would be user facing documentation specific to PyPI. It might be a reasonable place t move the user facing API docs too, or that might be better being housed in targeted API doc, I dunno.

Mostly it seems like we have features we want to document on PyPI, and we currently don't really have a great answer for documenting tho

[2020-04-20 20:11] JohnHillegass commented on #7782
Hey @di, I tried doing this with css like :blank but was having issues getting it to apply correctly. Another approach is to check request.authenticated_userid, I just need to set uses_session=True on the view_config. What do you think about taking this approach? Do you see any issues?

[2020-04-20 20:16] di commented on #7782
Yes, we don't want this page to require a session because it would mean it's not cacheable, hence why we're including some parts of it which _do_ require a session (like this email address, which is only displayed for logged-in users) via a client-side include.

[2020-04-20 21:58] JohnHillegass commented on #7782
Thanks for clarifying. I was eventually able to figure out a way to do it with html and css alone. Not 100% sure if I am making efficient use of the css. Please take a look when you can and let me know what you think.

[2020-04-21 05:24] OverLordGoldDragon opened #7821 "`long_description_content_type` missing. defaulting to `text/x-rst`."
It isn't missing; checked some existing Issues, haven't found a fix. Details below; anything unique or did I miss a solution?

<hr>

Win OS, Anaconda Powershell Prompt, conda virtual env. [README.md](https://github.com/OverLordGoldDragon/see-rnn), [`setup.py`](https://github.com/OverLordGoldDragon/see-rnn/blob/master/setup.py)

[code]
<details>
  <summary>Build logs</summary>

[code]

</details>

[2020-04-21 18:43] di commented on #7821
I was able to make source and built distributions of the current master branch of your package that passed `twine check`. It seems like the issue is likely that the versions of wheel/twine/setuptools available to your build command are not the same as what you're reporting here.

Can you give us some details about how exactly you're building the distributions? Are you running `python setup.py sdis

[2020-04-21 23:09] OverLordGoldDragon commented on #7821
@di I build with the first code blob in the question, having first `cd`'d into a local copy of `see-rnn`. `python -m pip freeze --all` shows (I presume only these are of interest):

[code]

`setuptools` seems to be the only one to differ, installed via `consta install -c conda-forge`. Running `python -m pip install -U setuptools twine wheel` and then 'freeze' again, above output doesn't change. I

[2020-04-21 23:28] OverLordGoldDragon commented on #7821
Also breakpointing `setup` in `setup.py`, and [here](https://github.com/pypa/setuptools/blob/master/setuptools/__init__.py#L141) (same line locally) `attrs` output is as expected:

<details>
  <summary>`[print(k,v) for k,v in attrs.items()]`</summary>

name see-rnn
version 1.1
packages ['see_rnn']
url https://github.com/OverLordGoldDragon/see-rnn
license MIT
author OverLordGoldDragon
author_email

[2020-04-22 01:25] di commented on #7821
@OverLordGoldDragon Can you share the distributions you built that are failing the check by attaching them here?

[2020-04-22 02:15] di commented on #7821
Here's the issue:

[code]

Those Windows-style line terminators are leaking into the metadata and causing it to be misformatted.

Can you try doing the following in your `setup.py` instead:

[code]

[2020-04-22 02:29] OverLordGoldDragon commented on #7821
@di So much trouble over something so simple (but subtle) - thank you. P.S., how did you color lines in your code blob?

[2020-04-22 02:29] #7821 closed

[2020-04-22 02:34] di commented on #7821
@OverLordGoldDragon Github's fenced code blocks allow you to specify the syntax highlighter, which includes languages like `python` and other things like `diff`. Here's the "source" for that comment:

    Here's the issue:

[code]

    Those Windows-style line terminators are leaking into the metadata and causing it to be misformatted.

[code]

[2020-04-22 11:00] jamadden commented on #7821
TIL that the syntax highlight portion [called the "info string"](https://github.github.com/gfm/#code-fence) is allowed to be separated by spaces:
[code]

github has [a very long list](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml) of available syntax highlighters.

[2020-04-22 21:50] phoenixredwolf opened #7832 "Cryptography docs"
**Describe the bug**

Documentation for the cryptography library is returning a 403 Forbidden error.

**Expected behavior**

View and/or download package documentation

**To Reproduce**

goto https://cryptography.io/

**My Platform**

Page inaccessible from both Chrome and Firefox on Windows 10

**Additional context**

[2020-04-22 21:55] di commented on #7832
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead: https://github.com/pyca/cryptography/issues

[2020-04-22 21:55] #7832 closed

[2020-04-22 21:59] chfw opened #7833 "tar.gz file of the same release was rejected because wheel file occupied the file name space?"
**Describe the bug**

I used to update a wheel package and then a tar.gz file. Now, the second tar.gz file was rejected this time around.

[code]

upload log: https://github.com/pyexcel/pyexcel/runs/610131951?check_suite_focus=true

**Expected behavior**

tar.gz file can uploaded as well.

**To Reproduce**

**My Platform**

linux os.

**Additional context**

This package is python 3.6+ only. I am

[2020-04-22 22:04] jamadden commented on #7833
I can confirm that uploading wheels and sdists (.tar.gz) for the same version of a release works; I did so for gevent just today.

The logs show that `pyexcel-0.6.0.tar.gz` was already uploaded on Aug 20, 2017, 7:34:11 AM, and then it was removed within seconds. As the error message ("This filename has already been used, use a different version. See https://pypi.org/help/#file-name-reuse") indicat

[2020-04-22 22:04] #7833 closed

[2020-04-22 22:17] di commented on #5837
Fixed in https://github.com/pypa/warehouse/pull/5838.

[2020-04-22 22:17] #5837 closed

[2020-04-23 01:10] brainwane commented on #345
Now that [PEP 592 is accepted](https://www.python.org/dev/peps/pep-0592/) and #5837 is resolved, I hope you will consider looking at the yanking feature and see whether it suits your needs? Yanking is one way to mark a package as deprecated but it may not suit all your use cases.

[2020-04-23 01:30] brainwane commented on #3709
@mulka Now that [PEP 592 is accepted](https://www.python.org/dev/peps/pep-0592/) and implemented pypa/warehouse#5837, take a look at [the yanking feature](https://pypi.org/help/#yanked) and see whether it works for your use case?

[2020-04-23 01:33] brainwane commented on #4440
Now that [PEP 592 is accepted](https://www.python.org/dev/peps/pep-0592/) and implemented pypa/warehouse#5837, what else do we need to do to resolve this issue and unblock #7421?

[2020-04-23 01:35] brainwane commented on #1190
I'd like to revive conversation about this - on a volunteer basis since I believe this work doesn't fall under the remit of any of the current donor-funded projects on Python packaging.

@nlhkabu shall we talk about this perhaps next week?

[2020-04-23 03:52] kolinwei opened #7835 "Increasing size limit for paddlepaddle_gpu"
Hi. We will release a new version for paddlepaddle_gpu recently. Our current size limit is 350M, and the last version is 330M. Because a few new features are enabled in this version, the package size will go to 380MB. Can you please help to increase this to around 450MB.

Project:
https://github.com/PaddlePaddle/Paddle
https://pypi.org/project/paddlepaddle-gpu/

[2020-04-23 10:35] cthoyt opened #7838 "Yanked email text is wrong"
**Describe the bug**

I just yanked a package from PyPI and got the following email:

Subject:
[code]

Body:
[code]

**Expected behavior**

The text should read

[code]

This seems to be a typo in the template at https://github.com/pypa/warehouse/blob/master/warehouse/templates/email/yanked-project-release/body.txt

**To Reproduce**

I don't want to start yanking more packages to see if this repro

[2020-04-23 11:00] pradyunsg commented on #3889
I think this is closer to "PyPI should have better, more strict metadata checks" than it is to "would help with the dependency resolver".

It'd nice to have this metadata mandatory for making packages actively consider this question prior to publishing, I don't think this directly affects the new resolver's rollout directly but, like all PyPI metadata stuff, this would have an indirect effect on t

[2020-04-23 12:39] #7838 closed

[2020-04-23 13:08] graingert opened #7840 "redirects for Databased Backed Blacklists"
**What's the problem this feature will solve?**
currently you run `pip install requirements.txt` or `pip install pip-sync` and pip fails with no useful advice

**Describe the solution you'd like**
pypi should provide advice for each blacklisted package eg
requirements.txt -> "you should use -r requirements.txt"
pip-sync -> "you should install pip-compile"
bad-package-with-virus -> "this package wa

[2020-04-23 13:55] graingert commented on #7840
somewhat like https://docs.npmjs.com/cli/deprecate

[2020-04-23 15:20] mulka commented on #3709
@brainwane Ok, so I just tested the yanking feature. I yanked the only release for django-twilio2. Now the project page shows a 404, but you can still install it using `pip install django-twilio2`. So, that's kind of weird, but for my use case it is probably fine. This makes me think that what @ncoghlan said in this issue originally isn't quite true any more with the yanking feature: "Warehouse do

[2020-04-23 15:21] mulka commented on #3709
Oh, and it looks like the page for the specific release still shows up and doesn't seem to indicate that it has been yanked: https://pypi.org/project/django-twilio2/0.9.0/

[2020-04-23 15:40] dstufft commented on #3709
@mulka I think you should open a bug report about Warehouse's behavior when yanking the *only* release a project has. We generally don't want that page to 404, the only reason it's 404ing for you is you don't have any unyanked releases to display there. We might want to adjust our logic to do something different.

[2020-04-23 15:53] di commented on #3709
Thanks for the report @mulka, I'm looking into this, no need to make a bug report.

[2020-04-23 18:39] di commented on #3709
OK, I fixed @mulka's issue:

* https://pypi.org/project/django-twilio2/ is no longer 404
* https://pypi.org/project/django-twilio2/0.9.0/ is no longer 500

Also, I'm going to call this issue fixed & a duplicate of #5837!

[2020-04-23 18:39] #3709 closed

[2020-04-23 20:15] brainwane commented on #5837
The release yanking feature [is now live on PyPI](https://pypi.org/help/#yanked) and [the "yanked" field is now available in the API](https://warehouse.readthedocs.io/api-reference/json/). @ori-yitzhaki and @yuvalreches you'll probably want to test this with JFrog Artifactory and verify that you are properly using "yanked" status when appropriate. If you find a bug in PyPI's implementation, please

[2020-04-23 23:55] mbarkhau opened #7848 "twine upload fails with HTTP 104 Connection reset by peer"
**Describe the bug**

I am trying to upload a new release but get an error. The most recent release worked fine two days ago and used the exact same project setup and virtual environment, but now I get this:

[code]

**My Platform**

[code]

**Additional context**

Connection to pypi.org seems to work in general:

[code]

[2020-04-24 08:44] farbeiter opened #7849 "CODATA.py symbol names not in line with current "allascii.txt""
**Describe the bug**
when importing constants from CODATA, like "from CODATA import c0" I get the error:

    mu_0 = mag_constant
NameError: name 'mag_constant' is not defined

When I fix this by inserting into __init__.py line 175
#   Magnetic constant
mag_constant = vacuum_mag_permeability

this error seems fixed, but the next one appears:

    epsilon_0 = electric_constant
NameError: name 'elec

[2020-04-24 11:31] webknjaz opened #7850 "Translate emails too"
## Bad source in Weblate

Emails don't have translatable regions marked w/ Jinja

For example, I've just got https://github.com/pypa/warehouse/blob/69ce3dddab53503fa737c82488a77a40c819987b/warehouse/templates/email/unyanked-project-release/body.txt in English and noticed that those strings weren't even present in Weblate.

[2020-04-24 13:27] jamadden commented on #7849
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there (for example, using `pip install <SOME PACKAGE>`). You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page (`ht

[2020-04-24 13:27] #7849 closed

[2020-04-24 14:40] di commented on #7850
Duplicate of #7583.

[2020-04-24 14:40] #7850 closed

[2020-04-25 02:15] pradyunsg commented on #7817
https://github.com/pypa/warehouse/issues/5947 stands out as a case that'd benefit from something like this.

[2020-04-25 09:48] achimnol opened #7852 "Distributing large binary payloads as separate downloads"
**What's the problem this feature will solve?**

Including me, many people are requesting the size limit increase for their wheel packages uploaded to PyPI.

I think if we have a way to distribute large binary payloads separately, similar to Git LFS, it would be good for both reducing network traffic and PyPI maintenance.
#474 is also related to the idea.

**Describe the solution you'd like**

Thi

[2020-04-25 17:09] achimnol commented on #7852
Just searching around, and I think that a potential alternative is to use a private PyPI deployment (maybe using `pypiserver` or `warehouse`) and let my packages to refer packages from there.
However, the issue for this approach is that `dependency_links` is deprecated and users need to specify `--extra-index-url` explicitly, which breaks my seamlessness expectation.

Another potential alternative

[2020-04-26 10:20] nlhkabu commented on #4379
Thanks for your feedback @di.  I have been thinking about this -> I don't want to become a blocker to merging a PR if I am unavailable for a time period, so I'm going to close this issue.

In the time I've been working on the project, I can think of very few times I've not been added to review a design/HTML/CSS change, so I am not sure there is a real problem here :)

[2020-04-26 10:20] #4379 closed

[2020-04-26 10:22] nlhkabu commented on #6722
This sounds like a good solution @bittner.

I agree that the eye icon is ideal, so if we can implement this without affecting accessibility (screen readers, tab order for keyboard users) that would be great.

[2020-04-26 10:34] nlhkabu commented on #1190
@brainwane have pinged you on Slack.  Let's work out a specification and post here :)

[2020-04-26 10:35] #7782 closed

[2020-04-26 10:45] bittner commented on #6722
If you need any help with the implementation please let me know!

[2020-04-26 10:53] yeraydiazdiaz commented on #7854
Hello @inklesspen, I believe only owners can remove collaborators in PyPI at the moment. I feel it's a feature requested before but I can't find the issue right now.

[2020-04-26 11:16] nlhkabu commented on #6722
If you want to make a start @bittner, that would be great.

@di is also offering pairing sessions, if you want to walk through this with another dev: https://twitter.com/di_codes/status/1245079525156847616 :)

[2020-04-26 15:17] pradyunsg commented on #7854
https://github.com/pypa/warehouse/issues/5790 is what you're looking for @yeraydiazdiaz. :)

[2020-04-26 17:23] inklesspen commented on #7854
I _am_ an owner on the project, though, actually. And I don't want to be.

![image](https://user-images.githubusercontent.com/11397/80314712-f05aeb80-87a7-11ea-9a35-ec450087aa84.png)

[2020-04-26 17:24] inklesspen commented on #7854
So looks like it's #4729.

[2020-04-26 19:57] di commented on #7854
Yep! Closing as a duplicate of #4729.

[2020-04-26 19:57] #7854 closed

[2020-04-26 22:49] bittner commented on #6722
Thanks for the hints on pairing. (I installed the software he mentions in the tweet for now and tried to bring up the project with docker-compose.) I took a look at the code. If we could use plain CSS the solution could be elegant:

* `#password[type=text] + ...` ➜ class="fa fa-eye-slash"
* `#password[type=password] + ...` ➜ class="fa fa-eye"

With FontAwesome, since we must use their classes in t

[2020-04-27 15:56] di opened #7856 "Give maintainers the ability to provide reason for yanking"
PEP 592 permits the use of an arbitrary string which gives a reason for yanking:

PyPI does not currently support this. Completing this issue would include a UI to allow the user to set this when yanking, an update to the DB model to change this from a boolean to a text field, and an update to the simple page to surface this value if present.

---

**Good First Issue**: This issue is good for firs

[2020-04-28 18:59] pradyunsg commented on #7856
FYI: pip prints the reason for yanking if it is provided, and if it is not, it prints "Reason for being yanked: \<none given>".

As a result of this, any yanked releases on PyPI today will result in pip's output when installing a yanked release saying "Reason for being yanked: \<none given>".

Reported/mentioned in https://github.com/pypa/pip/issues/8160#issuecomment-620772136.

[2020-04-29 06:54] techalchemy commented on #3889
Exactly this -- and without clean and enforced metadata in many cases we may not know which versions of python the uploader intended for their package to work on. As someone who maintains a tool that might run on python 3 but be asked to *resolve dependencies* against python 2, for example, it is incredibly useful to know whether a package is intended to work in python 3 or python 2 -- sometimes t

[2020-04-29 07:11] pfmoore commented on #3889
Agreed. My point above (which I didn't state well) was that `Requires-Python` metadata, while useful, can (in the most general sense) only be evaluated at the same time as the other dependency constraints on a package, after we've read the metadata. And making it mandatory doesn't really change that code.

It's true that on PyPI the `Requires-Python` data is available from the index, and so can re

[2020-04-29 15:41] Carreau commented on #3889
Ah, thanks I forget to consider this case. Though I'm guessing in these case the number of local packages will be way smaller than PyPI likely...

Warehouse also recently implemented "yank", which I see as a move toward cleaner metadata as you can "yank" packages with incorrect metadata, and publishing crates with incorrect metadata (including Python-Requires)  is part of life, and can be fixed by

[2020-04-29 20:12] allyn-psyonix opened #7868 "1.3a1 release page has incorrect link to associated "what's new" page"
**Describe the bug**
This issue is for the gevent 1.3a1 release page: https://pypi.org/project/gevent/1.3a1/

I was digging into the changes since the previous version our project is using and found one of the links on this page is incorrect.

The "what's new" link, second to last line under "Project Description", is incorrect. It should be pointing to http://www.gevent.org/whatsnew_1_3.html but i

[2020-04-29 20:19] di commented on #7868
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead: https://github.com/gevent/gevent/issues

[2020-04-29 20:19] #7868 closed

[2020-04-29 20:19] jamadden commented on #7868
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there (for example, using `pip install <SOME PACKAGE>`). You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page (`ht

[2020-04-30 16:16] dreua commented on #4003
Any news on this topic?
Another example of a broken unmaintained package where even the author's email is dead (why did I even bother trying...): https://pypi.org/project/bencode/

[2020-04-30 16:49] dreua commented on #4003
I didn't learn anything, tried again and failed again. Also dead: https://pypi.org/project/BitTorrent-bencode/
Also bounces: bugs@bittorrent.com

[2020-04-30 17:00] di commented on #4003
Since this issue was first created, [PEP 541](https://www.python.org/dev/peps/pep-0541/) has been accepted and implemented.

Aside from that process, PyPI has no plans to archive, hide or otherwise remove any existing packages.

* If you'd like to acquire a broken/unmaintained/squatted package: [file a PEP 541 request here](https://github.com/pypa/pypi-support/issues/new?labels=PEP+541&template=pe

[2020-04-30 17:00] #4003 closed

[2020-04-30 17:01] di commented on #4004
Since this issue was first created, [PEP 541](https://www.python.org/dev/peps/pep-0541/) has been accepted and implemented.

Aside from that process, PyPI has no plans to archive, hide or otherwise remove any existing packages.

* If you'd like to acquire a broken/unmaintained/squatted package: [file a PEP 541 request here](https://github.com/pypa/pypi-support/issues/new?labels=PEP+541&template=pe

[2020-04-30 17:01] #4004 closed

[2020-05-01 10:48] josine-cqm opened #7876 "Package upload fails with internal server error (with twine and setuptools)"
When I try to upload the attached package, I get an internal server error. Can anyone tell me what is wrong?
[packaging_tutorial.zip](https://github.com/pypa/warehouse/files/4563674/packaging_tutorial.zip)

[2020-05-01 17:28] di commented on #7876
When I attempt to publish these distributions, this is the error I'm seeing:

[code]

This classifier is not a valid classifier. Valid classifiers are listed at https://pypi.org/classifiers.

If I make this change, the upload succeeds:

[code]

[2020-05-01 17:35] uranusjr opened #7877 "UI to view wheel and sdist content"
**What's the problem this feature will solve?**
@pfmoore, @pradyunsg and I were talking about dependency conflict debugging, and it came up as a topic that a significant number of users opt to “read setup.py” when they are looking for dependency information.

This is, however, currently quite awkward to do. The user either needs to find the project’s repository (e.g. GitHub) and hunt for the corre

[2020-05-01 18:08] di commented on #7877
Is the goal here to inspect the metadata for a release, or to view arbitrary files in a distribution?

If it's the former, this would be relatively simple to implement. We already have a similar view in the Admin UI:

<img width="1015" alt="Screen Shot 2020-05-01 at 1 07 28 PM" src="https://user-images.githubusercontent.com/294415/80829459-c856f800-8bac-11ea-86c5-93b74f2f3fc5.png">

If it's the la

[2020-05-01 18:08] brainwane commented on #3889
@pfmoore said:

OK! Thanks for the consensus, pip developers - that helps me know that I should not nudge to try to get this implemented for the resolver work's sake.

[2020-05-01 18:13] di commented on #4703
Per https://github.com/pypa/warehouse/issues/7840, we should publish all "blocked" packages along with the reason for blocking, if applicable.

[2020-05-01 18:14] di commented on #7840
I think this makes more sense as a feature request for pip, similar to https://github.com/pypa/pip/issues/5777, which would also be blocked on implementing https://github.com/pypa/warehouse/issues/4703.

[2020-05-01 18:14] #7840 closed

[2020-05-01 18:15] di commented on #7848
Hi @mbarkhau, are you still having issues here?

[2020-05-01 18:25] mbarkhau commented on #7848
@di I just checked a moment ago and yes I still get the same error.

[2020-05-01 18:31] di commented on #7848
@mbarkhau Can you file a [Network Access Issue](https://github.com/pypa/pypi-support/issues/new?labels=network&template=access-issues.md) instead and include the above details as well?

[2020-05-01 18:44] #1683 closed

[2020-05-01 19:00] brainwane commented on #1683
Thanks @scop and @yeraydiazdiaz and @di for resolving this issue!

[Feed details](https://warehouse.pypa.io/api-reference/feeds/#project-releases-feed), [FAQ item](https://pypi.org/help/#project-release-notifications).

[2020-05-01 19:07] uranusjr commented on #7877
Metadata extraction would be very useful for wheels, but for source inspection is the only way to inspect an sdist. I think both are valuable features, but this issue is more about the latter.

[2020-05-01 19:27] jakirkham commented on #1683
Awesome! Thank you 😄

[2020-05-01 20:55] auvipy commented on #3492
may I know the current update of this issue?

[2020-05-01 22:29] mbarkhau commented on #7848
I managed to get it to work by setting the `--registry-url` like this:

[code]

[2020-05-02 10:38] #7848 closed

[2020-05-02 20:36] jezdez commented on #1683
Yay!

[2020-05-02 23:13] chfw commented on #7833
I see. Thanks for your time. I forgotten I have tried a release 3 years ago.

and I can report that v0.6.1 had both files uploaded.

[2020-05-03 11:14] josine-cqm commented on #7876
That is weird, I get a different error. It is the error below (I also get this error when I make the change you suggest):
Received "500: Internal Server Error" Package upload appears to have failed.  Retry 5 of 5
Content received from server:
<html>
  <head>
    <title>Internal Server Error</title>
  </head>
  <body>
    <h1><p>Internal Server Error</p></h1>

  </body>
</html>

HTTPError: 500 Serv

[2020-05-03 13:00] scop opened #7883 "Should "Python Package Index" be translated or used as-is?"
Would you prefer "Python Package Index" being translated to each target language, or kept as-is (in English) in translations? It seems currently translated in some languages, as-is in others.

[2020-05-03 13:38] fitojb commented on #7883
Unless the whole sequence of words in “Python Package Index” is a trade/service mark (like the unitary “Python” is), I don’t see why it shouldn’t be translated. It’s a descriptive name.

[2020-05-03 15:32] di commented on #7883
"Python Package Index" is trademarked: https://trademarks.justia.com/876/57/python-package-87657448.html

[2020-05-03 15:42] taleinat commented on #6683
I've completed 100% translation of PyPI.org to Hebrew. Ready for the next step!

[2020-05-04 12:57] taleinat commented on #6683
@di, with the Hebrew translation done, can this be given higher priority?

[2020-05-04 14:13] nlhkabu commented on #6683
Thank you for this @taleinat!  @di - maybe we can book some pairing time together to look at this?

[2020-05-04 15:12] tx-commits opened #7885 "Friction-logging"
* **Date @ Event:**
* **Scenario:**
* **OS environment:**
* **Things you used:**
* **Python version and origin:**

## Please highlight your log using this legend:
- [ ] :heart_eyes: Yay, this is awesome
- [ ] :frowning: This is a little annoying, I'm frustrated
- [ ] :rage: I'd quit if I weren't specifically trying to improve things.

## Are there any actionable bugs?

## What were you trying to d

[2020-05-04 15:42] #7885 closed

[2020-05-04 16:29] di commented on #6683
@taleinat Yes!

@nlhkabu Yes! Will DM you.

[2020-05-04 18:40] boegel opened #7886 "/simple serves HTML that can't be parsed by Python's xml.etree if package has yanked releases"
**Describe the bug**

Parsing HTML served by `/simple` endpoint results in `xml.etree.ElementTree.ParseError`.

**Expected behavior**

No parse error, as it was before when there were no yanked releases yet or with packages that don't have any yanked releases (yet).

**To Reproduce**

* Python script `test.py` that contains:
[code]

* run it with `python test.py`, for example (on macOS):
[code]

T

[2020-05-04 19:36] di commented on #7886
Hi @boegel thanks for the report. From https://docs.python.org/3/library/xml.etree.elementtree.html:

[PEP 503](https://www.python.org/dev/peps/pep-0503/), which defines the simple API, says that this page is HTML, not XML:

Therefore I wouldn't expect to be able to parse a `/simple` page (HTML) with ElementTree (for XML).

As is, this page [is valid HTML5](https://validator.w3.org/nu/?doc=https%3

[2020-05-04 19:50] di commented on #7876
Hi @josine-cqm, can you give us some more details? How are you authenticating? What user on pypi.org are you trying to upload with? What version of `twine` are you using?

[2020-05-05 08:05] josine-cqm commented on #7876
Hi @di ,
Here are the details you asked for:
- I use testpypi for uploading:
`python setup.py sdist bdist_wheel`
then
`python -m twine upload --repository testpypi dist/*`
My python version is 3.7.6
- I am authenticating with `__token__`  and `pypi-<password>`
(following the tutorial on [https://packaging.python.org/tutorials/packaging-projects/](url))
- my testpypi user is josine_cqm
- this is my

[2020-05-05 13:04] boegel commented on #7886
Thanks for the feedback!

Unfortunately `html.parser` is not really an option for us currently, since we still support Python 2...

It's a shame that there's no interest in fixing this on the PyPI side, since it seems like it could be an easy fix, for example by indicating yanked releases with `data-yanked='yes'` or something, similar to how `data-requires-python` is specified.

I didn't see anyth

[2020-05-05 13:12] pganssle opened #7891 "Link to Twine on "Add API token" page points to virtualenv"
I created an API token on test.pypi.org and was going to go to the twine documentation to make sure I knew what environment variable to set. There's a link in the page, this one:

![image](https://user-images.githubusercontent.com/1377457/81069893-841b6e80-8eb0-11ea-8634-74752b8ee3d6.png)

But that link points to https://pypi.org/project/virtualenv/ when it should presumably point to https://pypi.

[2020-05-05 13:14] pganssle commented on #7891
From a cursory search, I believe it needs to be changed [here](https://github.com/pypa/warehouse/blob/f37f57b0315bbbf940148f45ebc980b81f0cf65f/warehouse/templates/manage/token.html#L77), but I don't know if this is duplicated anywhere else.

[2020-05-05 13:33] McSinyx opened #7892 "Project/index settings show insuficient hints on metadata"
First of all, sorry for not following any template, since I don't know where would this fit in.

![2020-05-05T20:23:53](https://user-images.githubusercontent.com/13689192/81071344-c8d5f280-8f0e-11ea-9fd1-cd89fae09316.png)

I am referring to the

With multiple build backends are now available, I think this section should include them too.  For the matter of completeness, the Python Packaging User G

[2020-05-05 14:01] di commented on #7886
Yes, in [PEP 592](https://www.python.org/dev/peps/pep-0592/). Unfortunately adding a value to this attribute has meaning according to the PEP, so we can't just make it "yes" or something similar.

[2020-05-05 14:04] boegel commented on #7886
@di How about using `data-yanked=''` if no reason for yanking was provided? It seems like that would still match what is specified in PEP 592 (depending on how "no value" is interpreted, I guess).

[2020-05-05 14:06] di commented on #7886
Yes, I think that would depend on how `pip` is currently interpreting this value.

[2020-05-05 14:08] boegel commented on #7886
Based on the tests in https://github.com/pypa/pip/blob/327a31536ff71b99e5aa454bd325b3daf75b666d/tests/unit/test_collector.py#L336-L341, `data-yanked` and `data-yanked=''` are equivalent to `pip`?

[2020-05-05 15:05] dstufft commented on #7886
I'm not super enthused by attempting to maintain compatibility with an XML parser and I think it's likely going to be error prone since this response is html5 and not XML. In this case we can possibly do it, but I'm not sure that holds true moving forward.

Maybe simple changes infrequently enough and is weird enough that it isn't a big deal and it's worth doing, I dunno. I just worry that long te

[2020-05-05 15:25] boegel commented on #7886
We've been relying on `/simple` for quite some time now in EasyBuild (I think after the simple API was strongly recommended to us), and we've never run into problems with it up until recently when packages started yanking releases.

The issue I reported is quite annoying for us, since it effectively break the auto-download-from-PyPI feature we have in all existing EasyBuild releases.
We have a wor

[2020-05-05 15:35] di commented on #7891
Yep, that's the right place. I've put a "good first issue" label on this issue.

[2020-05-05 15:39] di commented on #7892
I agree, but I think this information is probably a little too specific: instead of including more options here, we should include less. For example, the "*must* use Twine" part is not really true, I'd say that we'd recommend users use Twine, but it's not a requirement.

This infobox is there because users were looking for the ability to "edit" the details of their release on PyPI, and we need to

[2020-05-05 15:42] di commented on #7876
Hi @josine-cqm, can you try to make an upload again and then tell me exactly what time you got this error? That way I can correlate this error to an exception in our backend.

[2020-05-05 16:20] brainwane commented on #7730
@dstufft You mentioned

Have you heard any thoughts outside this issue? And how is the PEP going?

[2020-05-05 16:21] brainwane commented on #726
@alanbato listed [some still-outstanding questions on Discourse](https://discuss.python.org/t/feature-proposal-for-pypi-draft-releases/3903/35).

[2020-05-06 07:30] josine-cqm commented on #7876
Hi @di ,
I tried it just now again. At 9:29 Dutch time.

[2020-05-06 07:51] di commented on #7876
Here's the corresponding exception: https://sentry.io/share/issue/8737571d268f41ae9eef2d12279882d2/

It looks like your API token is malformed. You said you're using `pypi-<password>`, is the string after `pypi-` your actual password, or an API token that was generated for this project on TestPyPI?

[2020-05-06 07:52] di commented on #7876
It actually seems like the token being provided is `'pypi-'`, with just a single space instead of the token value.

[2020-05-06 07:54] di commented on #7876
And looks like it's not in fact an empty space, but this character: https://www.utf8icons.com/character/65533/replacement-character

[2020-05-06 08:12] josine-cqm commented on #7876
Thanks for your fast response. That means the actual problem is that the password was wrong (it turns out I did an incorrect copy-paste). How come I did not get an authentication error like I get when I enter a password pypi-0?
With a correct copy paste, I got a successful upload. So thank you!

[2020-05-06 17:14] di commented on #7434
In #7876 we discovered that `pymacaroons.Macaroon.deserialize` can also raise an `IndexError`, which is causing https://sentry.io/share/issue/8737571d268f41ae9eef2d12279882d2/

[2020-05-06 17:15] di commented on #7876
Great, ultimately this is a duplicate of #7434 then, so I'm going to close. Thanks for the report!

[2020-05-06 17:15] #7876 closed

[2020-05-06 17:44] PROgramJEDI opened #7897 "Replace "pip" with "pip3" on linux systems"
I recommend replacing only the string when attempting to install some packages on different operating systems.

For example, on windows, installation of a pip package would probably look like this:
```pip install package_name```

while on Linux, it would be like this:
```pip3 install package_name```

I think it would save some begginers a lot of time searching for the issue solution, by just findi

[2020-05-06 19:53] di commented on #7897
Closing this as a duplicate of https://github.com/pypa/warehouse/issues/1563, but thanks for the report!

[2020-05-06 19:54] #7897 closed

[2020-05-06 21:17] brainwane commented on #5247
So, [PEP 458 got accepted](https://www.python.org/dev/peps/pep-0458/). @woodruffw @ewdurbin it looks like #7488 has not been merged yet -- is it waiting for something? I feel like I heard there was a [securesystemslib issue](https://github.com/secure-systems-lab/securesystemslib/issues) blocking it but I'm not sure...

[2020-05-06 23:07] woodruffw commented on #5247
Yep. The primary blocker on the securesystemslib side is API support for abstract storage backends, which is currently being tracked by https://github.com/secure-systems-lab/securesystemslib/pull/232. Those changes then need to be rolled into TUF, which hasn't begun yet.

The key generation and signing ceremonies also need to take place before #7488 can be fully deployed, although those can happen

[2020-05-06 23:23] ofek commented on #5247
@woodruffw Out of curiosity, what is the intended storage backend?

[2020-05-07 00:47] woodruffw commented on #5247
Warehouse currently uses Google Cloud Storage via the S3-compatible API for file storage (i.e., for uploaded packages), and my intent was to use it for TUF's metadata as well.

[2020-05-07 00:58] di commented on #5247
We actually just use the regular Cloud Storage APIs:

https://github.com/pypa/warehouse/blob/630ac09321d93a6867f2b801153f45a90ba50d58/warehouse/gcloud.py#L27

https://github.com/pypa/warehouse/blob/630ac09321d93a6867f2b801153f45a90ba50d58/warehouse/packaging/services.py#L171-L193

[2020-05-07 01:00] woodruffw commented on #5247
Whoops! My bad. Using the regular APIs should also be fine 🙂

[2020-05-07 01:29] ofek commented on #5247
Ah nice, I also use Google Cloud Storage for storage 😄

Does Warehouse run on Kubernetes? https://ofek.dev/csi-gcs/

Many orgs are beginning to use that, one of the most recent (public) ones is EdgeDB https://github.com/edgedb/edgedb-pkg/commit/0bcfeb97ff29834f5e674106254c4de7c0a41d0b

[2020-05-07 02:11] JonathanCloudDef opened #7901 "B311 gives false positive"
**Describe the bug**
Ran a project with no security or cryptography features, packages, etc... in it.  Received B311 error.

**Expected behavior**
Pseudo random number generator is fine for the work I was using it for (splitting data into training and testing datasets).  This should not trigger a B311 error.

**To Reproduce**
This is the full message I received:

   Severity: Low   Confidence: Hig

[2020-05-07 02:28] di commented on #7901
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-05-07 02:28] #7901 closed

[2020-05-07 06:14] LouisStAmour commented on #7811
I've a related bug, though I'd personally put the blame on this one to pip, but it could be fixed here too.

This is just an example, but the package https://pypi.org/project/docker-hub/ is normally installed as a wheel, as a binary. So no attempts were made to clean up the namespace and have it match by convention the package name.

I'd like to request that we validate the namespace given at top_

[2020-05-07 07:23] Flamefire commented on #7886
To add on

Those are not only equivalent to pip they are in fact defined to be equivalent in HTML5: https://stackoverflow.com/a/23752239/1930508

So I see no downside in adding that.

Question however: PIP for Python2 is still (kinda) supported (at least up to some version). Does that access the /simple-endpoint too? How does it parse the page?

[2020-05-07 07:28] boegel commented on #7886
Oh, even better. Hopefully that makes it less of an issue to change to `data-yanked=''`.

Latest `pip` still supports Python 2, so no issue there?

[2020-05-07 08:51] mgorny opened #7902 "Please extend the 'conveyor service' to allow simpler URLs"
**What's the problem this feature will solve?**
First of all, the new download URLs don't really work for Gentoo. We very much like the ability to use a simple substitution to generate URLs for a particular package version. Having to manually update hashes on every version bump would cause a very large maintenance burden for us. Querying the remote API is not really an option either, as URLs need

[2020-05-07 09:45] dstufft commented on #7902
I don't see any reason why we couldn't do this.

We should probably drop the Python Version from the URL too. The values of it are kind of nonsense and inconsistent, and you can't really guess what it reliably across all of PyPI (other than for sdists, which I assume is Gentoo's use case so I doubt Gentoo would have noticed).

We could arguably drop even project name since filenames are guaranteed

[2020-05-07 10:30] mgorny commented on #7902
That would certainly work for us.

[2020-05-07 16:11] di commented on #7886
Pip uses https://pypi.org/project/html5lib/ to parse `/simple`.

[2020-05-07 18:29] deveshks commented on #7891
I think this needs to be changed [here](https://github.com/pypa/warehouse/blob/master/warehouse/templates/manage/token.html#L87) too.

Can I create a PR for the same? And may I also know what kinds of tests should be done locally to verify the template update. (The only thing I can think of is to deploy the website locally and verify that the link has been correctly updated.)

[2020-05-07 19:07] di commented on #7891
@deveshks Please do! And I think the change in the templates is sufficient.

[2020-05-07 20:38] deveshks commented on #7891
Thanks. I have created a PR for the same.

[2020-05-07 20:45] #7891 closed

[2020-05-07 20:57] deveshks commented on #6783
I wanted to work on this issue, but I found that a PR https://github.com/pypa/warehouse/pull/6784 has already been created against it, but that PR hasn't been worked on for a few months now.

May I raise a new PR against this issue to add the documentation as suggested?

[2020-05-07 21:21] di commented on #6783
I think a new PR that's more in line with what @brainwane suggested in this issue would be great.

[2020-05-08 00:51] rascalking commented on #3264
I finally got the code in #3853 rebased on master, and am looking at driving the notifications from the event logging.  I don't see any triggers or signal plumbing in #6339.  When you say the event logging should trigger the notification, are you talking about calling these notifications directly from `Project.record_event` and `User.record_event`?  Or are you looking for us to use the db signals

[2020-05-08 01:34] brainwane commented on #3264
I defer to @di and @ewdurbin and @yeraydiazdiaz on this.

[2020-05-08 04:45] deveshks commented on #6783
Thanks. I created a PR to follow the given wording at https://github.com/pypa/warehouse/pull/7908

[2020-05-08 08:48] deveshks commented on #7434
I want to work on this PR, but it would be great if I get some additional context before I start.

With that in mind, I will outline below what I could gain until now. Please feel free to expand/add on if I have missed something here for an initial stab at this.

We are currently using `pymacaroons.Macaroon.deserialize` [here](https://github.com/pypa/warehouse/blob/master/warehouse/macaroons/servi

[2020-05-08 15:41] #6783 closed

[2020-05-08 15:57] LouisStAmour commented on #7811
I've a related bug, though I'd personally put the blame on this one to pip, but it could be fixed here too.

This is just an example, but the package https://pypi.org/project/docker-hub/ is normally installed as a wheel, as a binary. So no attempts were made to clean up the namespace and have it match by convention the package name.

I'd like to request that we validate the namespace given at top_

[2020-05-08 17:33] #7434 closed

[2020-05-08 18:16] di commented on #7434
Hi @deveshks, thanks for the comment! Unfortunately @daneah and I had picked this issue to work on this today, sorry about that.

[2020-05-08 18:21] deveshks commented on #7434
No worries @di and thanks for letting me know about it as well 😊 .

May I also know what is the acceptable practices to let the maintainers know on an issue, that you would like to work on it, and  if you have any doubts you want to clarify before proceeding towards a PR, with the warehouse repo.

[2020-05-08 18:38] di commented on #7434
@deveshks I think what you did here was 100% what we're looking for, you just had the unfortunate luck of picking something we had already planned to work on, and I didn't see your comment in time. :)

[2020-05-08 18:40] deveshks commented on #7434
Thanks for the response. I will follow the same process going forward then.

[2020-05-09 02:43] daneah commented on #7886
@di and I discussed the details of #7856 today so that I could pick it up, and it feels like the natural outcome of that work will be `data-yanked="<optional reason for yank>"`.

[2020-05-09 12:54] jonoboy9 opened #7914 "Camera comtrol with PTP PTPy 0.3.2 fails with No backend available"
I am trying to run the camera control software ptpy 0.3.2
I am using window 10, python38.
I installed the software by pip install ptpy-0.3.2-py3-none-any.whl

From python, I execute the following commands:
from ptpy import PTPy
camera = PTPy()
I get the following error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Python38\lib\site-packages\ptpy\__init__.py",

[2020-05-09 12:58] deveshks commented on #7914
I think you should raise this issue in the github repo for `ptpy` which you are using in the code. (I assume https://github.com/Parrot-Developers/sequoia-ptpy/ is that repo)

This repo houses the backend for https://pypi.org/ and IMO not the correct place for filing this.

[2020-05-09 13:05] #7914 closed

[2020-05-09 13:08] deveshks commented on #7856
Just to confirm, is this issue also taken up by someone to work on as per https://github.com/pypa/warehouse/issues/7886#issuecomment-626093001 ?

[2020-05-09 20:48] daneah commented on #7856
@deveshks yep, I'm working on this.

[2020-05-09 21:46] jarrott616 commented on #7914
Solved.

[2020-05-10 15:46] R1j1t commented on #4892
Hi, I also have the same issue. I recently uploaded my first package to pypi but it is not appearning in search. I tried searching by name, no luck. Then i used license -> date last updated there are also I cannot find the package. I am assuming this is not an expected behaviors. Is there something, I am missing or something wrong with my upload?

Here is the link https://pypi.org/project/contextu

[2020-05-11 08:36] boegel commented on #7886
@daneah Thanks a lot for looking into this!

If no reason was provided, would the changes in #7916 result in PyPI specifying `data-yanked=""` on the page served by `/simple`, or something else?

[2020-05-11 09:13] Flamefire commented on #7886
Looking at https://github.com/pypa/warehouse/pull/7916/files#diff-5e24a0b38c92bf7d3bb2982c25b10156R22 then yes it will be `data-yanked="<optional>"` or not existing at all

[2020-05-11 12:35] vivekvj18 commented on #7892
@di
@McSinyx
Can I Take This Task...?

[2020-05-11 12:40] vivekvj18 commented on #6393
@di
@nlhkabu
Can I Take This Task...?

[2020-05-11 12:42] nlhkabu commented on #6393
Yes @vivekvj18! Please do :)

[2020-05-11 13:09] vivekvj18 commented on #6393
@nlhkabu
How Can I Add Form Field Macro Globally...?

[2020-05-11 13:10] McSinyx commented on #7892
Yes, please go ahead and grab this issue! At least within Warehouse, our rule is: If there is not a corresponding pull request for this issue (visibly linked by issue number/PR number), and it's not marked as assigned to anyone, it is up for grabs. So in cases like this, you don't even need to ask. :) Just comment and say that you're starting to work on it, and link in a comment to your work-in-pr

[2020-05-11 13:10] daneah commented on #7886
@boegel @Flamefire that's correct—the attribute after the change would now be one of: absent, `""`, or `"some reason"`.

[2020-05-11 13:13] vivekvj18 commented on #7892
@McSinyx
So I Can Take This Task Or Not...?

[2020-05-11 13:18] McSinyx commented on #7892
:smile: sorry if my phrasing was unclear, yes please!

[2020-05-11 13:25] nlhkabu commented on #6393
You probably want to add the macro in our base template, then use it anywhere we create a form field.

A couple of tutorials I found: https://www.davedash.com/tutorial/jinja-macros/ and https://www.youtube.com/watch?v=sDrGyxDd4qc

[2020-05-11 13:30] vivekvj18 commented on #7892
@McSinyx
From What Is Name Of The File Which Is To Be Changed....?

[2020-05-11 13:37] McSinyx commented on #7892
[A quick search](https://github.com/pypa/warehouse/search?q=%22and+other+details+for+your+next+release%22&type=Code) shows the message is located at `warehouse/templates/manage/settings.html`.  Please don't forget to update the test as well.

[2020-05-11 14:19] vivekvj18 commented on #7892
In Above PR I had Removed Must

[2020-05-11 14:24] vivekvj18 commented on #7892
@McSinyx
In Above PR I had removed must

[2020-05-11 14:25] vivekvj18 commented on #6393
@nlhkabu
In The Above PR I Had added macro..
revert me back if it need any changes

[2020-05-11 14:50] vivekvj18 commented on #6393
Actually i had attached a PR.
Kindly check and revert back if it needs any changes

On Mon, 11 May 2020, 6:55 pm Nicole Harris, <notifications@github.com>
wrote:

[2020-05-11 14:50] vivekvj18 commented on #7892
Actually i had attached a PR.
Kindly check and revert back if it needs any changes

On Mon, 11 May 2020, 7:07 pm Nguyễn Gia Phong, <notifications@github.com>
wrote:

[2020-05-11 16:24] deveshks commented on #7892
Hi @vivekvj18

I see that you have opened the PR against your fork. I think you need to open the PR against this repo instead.  [Creating a pull request from a fork](https://help.github.com/en/enterprise/2.16/user/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork) should help you on how to do that.

You can also take a look at [Warehouse:Getting Started](https:

[2020-05-11 16:37] vivekvj18 commented on #7892
Thank You @deveshks
@McSinyx In the above Pr I had removed must

[2020-05-11 16:52] vivekvj18 commented on #6393
@nlhkabu
In The Above PR I Had added macro..
revert me back if it need any changes

[2020-05-11 17:49] LussRus opened #7925 "Exception in installation process"
I have ubuntu 14.04, python3. I'm trying to install pathlib2 and got this:

@user-desktop:/etc/apt$ pip3 install pathlib2
Downloading/unpacking pathlib2
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python3/dist-packages/pip/commands/install.py", line 2

[2020-05-11 19:31] nlhkabu commented on #6683
@taleinat FYI, @di and I started on this today.  Once we have made some more progress, we'll probably be looking for feedback from you as to whether or not everything is displayed correctly.

[2020-05-11 20:55] taleinat commented on #6683
@nlhkabu, that's great to hear!

[2020-05-11 20:56] di commented on #6683
Draft at #7927, @taleinat feel free to pull down that branch and test locally if you're able.

[2020-05-12 15:32] djh42 opened #7936 "Outdated instructions for systemd"
**The instructions on https://pypi.org/project/systemd/ are outdated.

The page says:

  **Installation**

  You should install systemd headers
  For debian users:

[code]

That is out of date. _libsystemd-journal-dev_ and _libsystemd-daemon-dev_ no longer exist and are incorporated within _libsystemd-dev_ now.

It then goes on to say:

  And install it from pypi

  `pip install systemd`

Again, t

[2020-05-12 16:04] di commented on #7936
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-05-12 16:04] #7936 closed

[2020-05-12 21:27] nlhkabu commented on #6683
@taleinat I've started editing our SCSS files to ensure that user generated content (usually in English) is displayed ltr, while the rest of the page renders rtl.

This is fairly straightforward when the ltr content is a separate interface item, for example:

![Screenshot from 2020-05-12 22-23-15](https://user-images.githubusercontent.com/3323703/81746989-4665a980-949f-11ea-878b-d7448f7bd27f.png)

[2020-05-12 21:57] taleinat commented on #6683
Hi Nicole,

Yes I'd be happy to give some guidance and examples tomorrow.

The example image looks very good! The only issue I notice now is very minor: In the "author" field, the space between the envelope icon and the author's name is on the wrong side of the envelope.

[2020-05-13 08:01] nlhkabu commented on #6683
That's good news, as this is the default from rtlcss (I have not yet edited the second screenshot). Icons should be fairly easy to fix :)

[2020-05-13 09:06] taleinat commented on #6683
I think a good example website is [Hebrew Wikepedia](https://he.wikipedia.org/). It seems to get everything right with regard to RTL and mixed RTL/LTR.

A few pages with interesting amounts of mixed Hebrew and English:

* [Python](https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%99%D7%AA%D7%95%D7%9F)
* [Guido van Rossum](https://he.wikipedia.org/wiki/%D7%92%D7%95%D7%95%D7%99%D7%93%D7%95_%D7%95%D7%90%

[2020-05-14 01:53] feenes commented on #5231
I think this might solve also an issue, that I have.

I'd like to search for packages programatically and for new projects I'm not supposed to use the obsolete XMLRPC library.

The reason I'd like to search programatically instead of searching interactively is, that I'd like to retrieve the results by relevance but get rid of all packages, that haven't been updated for a certain  (e.g. within the

[2020-05-14 09:35] Ymigmli opened #7948 "scapy_iface_getmacbyip_get_if_hwaddr_errror"
![image](https://user-images.githubusercontent.com/47731874/81917682-1685e580-9608-11ea-86d6-6728daa52c8c.png)

![image](https://user-images.githubusercontent.com/47731874/81918052-94e28780-9608-11ea-80c4-a95b529d466a.png)

![image](https://user-images.githubusercontent.com/47731874/81917768-34534a80-9608-11ea-8bce-ceb99b6197a9.png)

![image](https://user-images.githubusercontent.com/47731874/8191

[2020-05-14 16:40] di commented on #7948
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-05-14 16:40] #7948 closed

[2020-05-14 19:01] pradyunsg commented on #4703
To be clear, you mean providing a publicly accessible list/table of all blocked packages and why they were blocked; and not changing/putting up new releases on that name. Correct?

[2020-05-14 19:21] di commented on #4703
Thanks, my comment was unclear, updated to 'this list should include all "blocked" packages', I'm not suggesting we actually publish (create releases for) these packages.

[2020-05-14 20:21] szborows opened #7950 "please help me recover my account"
Hi,
I registered in PyPI in 2016. Back then I used some email address that I don't remember. I'm locked out of my account. Obviously I have tried all of my emails on pypi website without luck.

Is there a way to reset my email address?
username: szborows

https://pypi.org/project/unrtf/ was uploaded from https://github.com/szborows/python-unrtf/
Is it good enough proof that I'm who I tell I am?

[2020-05-15 03:19] long2ice opened #7954 "My user isn't allowed to upload to project"
Hello,I want upload a new package named ``alice`` and the project name is used by https://pypi.org/project/alice ,but that project is empty and last active year 2010, I don't want change my project name, so how can I use the project name in pypi? Thanks!

[2020-05-15 03:21] di commented on #7954
[Please open a PEP 541 request here](https://github.com/pypa/pypi-support/issues/new?labels=PEP+541&template=pep541-request.md).

[2020-05-15 03:21] #7954 closed

[2020-05-15 06:41] nlhkabu opened #7955 "Content originating from JavaScript not marked for translation"
We have some content that is generated from JS.  It is not currently marked for translation.

- Copy tooltip
- Time that has been humanized, e.g. "2 hours ago"
- Password strength error messages
- Password matching messages

There are probably more.  We need to go through the JS source to identify these.

[2020-05-15 12:34] pconesa opened #7956 "Is there a way to query json API by a specific version attribute..."
Let me explain the case.

1.- We have a main python app that accepts plugins.
2.- Our app has a "CORE_VERSION" that the pypi packages (plugins) needs to mach
3.- We have a "Plugin manager" that queries: https://warehouse.pypa.io/api-reference/json/#get--pypi--project_name--json but needs to filter by its "CORE_VERSION".

With this when we release a new version or our app, that breaks the compatibi

[2020-05-15 21:10] n3011 opened #7961 "HTTPError: 403 Client Error: The user 'n3011' isn't allowed to upload to project 'datum'."
**Describe the bug**
Unable to push create a new package. Trying to upload via twine. New project. Not registered, but getting this:
   `HTTPError: 403 Client Error: The user 'n3011' isn't allowed to upload to project 'datum'. See https://pypi.org/help/#project-name for more information. for url: https://upload.pypi.org/legacy/
`
The issue seems to be due to this existing dormant package without a

[2020-05-17 07:15] McSinyx commented on #7892
@vivekvj18, I don't think just removing *must* sufficiently address what @di meant by

The part of

also needs some phrasing to be more generic too.

[2020-05-17 12:24] potiuk opened #7967 "Bulk adding of collaborators"
**What's the problem this feature will solve?**
I have just created 58 packages for apache-airflow (we are splitting the releases into smaller)
and I need to add 6  collaborators (PMC team for apache-airflow) for all the projects.

I would love to be able to do it in bulk

**Describe the solution you'd like**
Command line tool that would allow me to add collaborators in bulk (or a way to define gr

[2020-05-18 13:19] pradyunsg commented on #7811
This is a separate feature request from what this issue is about.

This would be a good idea IMO.

[2020-05-18 16:27] tiran opened #7970 "Document PyPI security policy in FAQ and security page"
**What's the problem this feature will solve?**

The Python Security Response Team (PSRT) is getting inquiries and security reports regarding malicious content on PyPI regularly. Every now and then we have to educate reporters that PyPI is not a secure and tightly controlled app store but an open package index.

The pages https://pypi.org/help/ and https://pypi.org/security/ don't explain PyPI's s

[2020-05-18 16:34] di commented on #7961
Hi @n3011, sorry you're having trouble. The reason you can't upload this package is because the `datum` project already exists: https://pypi.org/project/datum/

If you believe this package is abandoned and would like to acquire this package name, [please open a PEP 541 request here](https://github.com/pypa/pypi-support/issues/new?labels=PEP+541&template=pep541-request.md).

[2020-05-18 16:34] #7961 closed

[2020-05-18 18:10] #7856 closed

[2020-05-18 18:10] #7886 closed

[2020-05-18 18:17] boegel commented on #7886
@di I understand that this issue got closed via the merge of #7916, but it seems that the fix isn't live on PyPI yet.

Out of curiosity, when would the fix also be active on PyPI itself?
No rush, please don't read this as me asking to deploy this ASAP, that's *not* why I'm asking this.

[2020-05-18 18:19] di commented on #7886
@boegel Correct. The deployment takes about ~5 minutes from merge, I can let you know once it's live if you'd like.

In addition, it takes about ~24 hours for these pages to fall out of our cache, so it might be a while until 100% of `/simple` pages exhibit this behavior.

[2020-05-18 18:23] boegel commented on #7886
OK, I can keep an eye on this, give it another shot tomorrow, thanks!

[2020-05-18 19:49] di commented on #7886
This is now deployed, you can see it on https://pypi.org/simple/pip/ for example, for which I have manually purged the cache.

[2020-05-18 20:56] nlhkabu commented on #6393
Hi @vivekvj18 thank you for your pull requests, we appreciate the time you have taken to contribute to warehouse.

The pull requests you have made both wrap existing code in a macro.  Unfortunately, this is not what is needed to address this issue.

What we need to do:

1. Create a new macro.  You can see an example of a macro [here](https://github.com/pypa/warehouse/blob/e8a1388c964d7abc1b92b9cf1

[2020-05-19 08:50] Ymigmli commented on #7948
thanks

[2020-05-19 11:04] hrw opened #7980 "Make source distributions mandatory"
**What's the problem this feature will solve?**

Developers are now free to upload source and/or wheel files. And they do. But the problem starts when all they upload are wheel files.

Lack of source means so way to build for other Python version or other architecture/os than authors provided wheels support.

Example:

1. Project ZYX works on Py2 and Py3 and is used by project ABCD. ABCD has few s

[2020-05-19 11:26] hrw commented on #7980
https://github.com/cf-natali/ntplib/issues/1 is example of ZYX like project.

[2020-05-19 15:36] di commented on #5118
_Merging duplicate issue https://github.com/pypa/warehouse/issues/7877 originally posted by @uranusjr_

@uranusjr wrote:

@di wrote:

@uranusjr wrote:

[2020-05-19 15:36] di commented on #7877
Closing as a duplicate of #5118.

[2020-05-19 15:36] #7877 closed

[2020-05-19 15:42] dstufft commented on #7980
I don't think that this is something we can make a decision on in he issue tracker. This would be a fairly broad policy change, and it likely is going to require a PEP to make happen. We can certainly try to do more to guide people to not publish wheel only releases, but ultimately that's currently a valid way to use PyPI if someone desires.

[2020-05-20 00:57] yanivmm commented on #3430
Hi
Have you able to solve the problem?

[2020-05-20 01:01] di commented on #3430
Hi @yanivmm, if you're having problems please open a [new issue](https://github.com/pypa/warehouse/issues/new/choose).

[2020-05-21 14:01] Gideon357 opened #7989 "Add support for local version identifiers"
**tl;dr**: Add support for Local Version Identifiers (i.e. `pip install torch+cpu` or `poetry add package+windows`)

**What's the problem this feature will solve?**
PyPi should support local version identifiers, so you could have something like `torch+cpu` in the same package as `torch`, and directly `pip install torch+cpu` or `poetry add torch+cpu` instead of `pip3 install torch==1.2.0+cpu torchv

[2020-05-21 14:11] pradyunsg commented on #7989
From PEP 440:

---

Are you looking for more granular [environment markers](https://www.python.org/dev/peps/pep-0508/#environment-markers) or something to determine dependencies based on the target system's capabilities?

[2020-05-21 18:32] brainwane opened #7992 "list recent sent emails in security/account settings"
**What's the problem this feature will solve?**
Sometimes administrators want to send our users email notifications to ask that they do something, but we don't want to inure them to clicking on links in emails, and we want a way to credibly demonstrate that the email is legitimate.

**Describe the solution you'd like**
Via <a href="https://twitter.com/runasand/status/1248385736677576706">this twee

[2020-05-21 19:19] di commented on #7992
Seems reasonable. We could potentially add sent emails to the existing "Security History" feed.

Does the Facebook implementation of this feature include the entire email, or just the subject/timestamp?

[2020-05-21 19:27] brainwane commented on #7992
Good question! I don't know. (I don't have a Facebook account.)

[2020-05-21 19:32] di commented on #7992
Me neither 🙂

[2020-05-21 23:01] pradyunsg commented on #7992
It's a table, with:

- Date (eg: "July 20, 20:26")
- Sent to (i.e. the email)
- Email subject

[2020-05-22 06:11] hugovk commented on #3006
It's also generally better to do `python -m pip install <projectname>` rather than `pip install <projectname>`, to make sure you know which interpreter you're installing for:

* https://snarky.ca/why-you-should-use-python-m-pip/

I had a support issue this week where they had `pip` and `python` pointing to Python 2.7, `pip3` pointing to 3.7, and `python3` pointing to 3.8, and they were confused wh

[2020-05-24 01:22] kamyar commented on #6462
Is this issue still relevant? I would like to try to add this.

[2020-05-27 14:51] ShikiSuen commented on #3174
use HCaptcha instead, period.

[2020-05-27 15:52] erlend-sh commented on #3486
We made a working demo of this with the open source [MeiliSearch](https://github.com/meilisearch/MeiliSearch):

https://pypi.meilisearch.com/
https://github.com/meilisearch/meilisearch-python

This could easily be extended to support the more advanced features discussed in #727. If the warehouse devs are interested in using MeiliSearch we'd be happy to discuss it here or by email: erlend@meilisear

[2020-05-27 17:38] di commented on #4006
One way we could resolve this is by:

a) limiting the number of results returned for a term (e.g. to 100)
b) tagging every page for a given term with a surrogate key for every project
c) purging all pages with a given surrogate key when a project is updated

Some downsides to this:

* would limit the total number of results
* would need to precompute/query for all 100 results, even if only the fir

[2020-05-27 17:43] amandal1810 commented on #3962
Python 3.8.3 (64-bit), Windows 10

pip cannot see latest version from pypi.org
![image](https://user-images.githubusercontent.com/8520454/83054112-7ef4ae00-a06f-11ea-8c24-fbe6edc6d93c.png)

screenshot from pypi.org
![image](https://user-images.githubusercontent.com/8520454/83054154-93d14180-a06f-11ea-9196-02abc00006e4.png)

[2020-05-27 17:45] di opened #8002 "Investigate replacing search with MeiliSearch"
We made a working demo of this with the open source [MeiliSearch](https://github.com/meilisearch/MeiliSearch):

https://pypi.meilisearch.com/
https://github.com/meilisearch/meilisearch-python

This could also be extended to support the more advanced features discussed in #727. If the warehouse devs are interested in using MeiliSearch we'd be happy to discuss it here or by email: erlend@meilisearch

[2020-05-27 17:46] di commented on #8002
Hi @erlend-sh, thanks for sharing, that looks really slick and the results look really good! A few questions for you after a quick glance:

* How could MeiliSearch handle pagination & caching? One existing issue with have with search is #4006, where a given result may appear on multiple pages.
* How would MeiliSearch handle [our existing search filters](https://pypi.org/search/?q=&o=&c=Programming

[2020-05-27 17:46] di commented on #3486
Hi @erlend-sh, thanks! I opened https://github.com/pypa/warehouse/issues/8002 to discuss so we don't get off-topic here.

[2020-05-27 17:50] di commented on #3962
@amandal1810 This is likely due to https://github.com/protocolbuffers/protobuf/issues/7520

[2020-05-27 19:33] chrisberks commented on #6782
You can fix this by installing `libpq-dev` on your system (Debian/Ubuntu). This will install the missing `pg_config` executable.

[code]

For RPM based systems—I think—the equivalent is `postgresql-devel` or `libpq-devel`.

More info in the [build prerequisites section](https://www.psycopg.org/docs/install.html?highlight=pg_config#build-prerequisites) of the Psycopg2 docs.

I hit this same error r

[2020-05-27 21:02] erlend-sh commented on #8002
As of right now the only option is self-hosting, but we are indeed working on a hosted option. If you can email me we can discuss that further. One of my colleagues will come by soon to answer your other questions.

[2020-05-28 16:40] woodruffw commented on #7748
PEP 578 + the new [audit API](https://docs.python.org/3/library/audit_events.html) in Python 3.8 would probably work well for this purpose. We'd still need some amount of sandboxing, though.

[2020-05-28 19:49] brainwane commented on #726
@alanbato How's this going?

[2020-05-28 19:54] alanbato commented on #726
I haven't had the chance to work on the proof of concept, as I'm going thorugh the last weeks of getting my degree.
Once that's done I'll spin up a PR with a PoC so people can comment on the implementation rather than the idea (since nobody had nothing else to say).
For the unanswered questions, I'll make my own decisions and assumptions and I have something to show I'm sure it'll be easier to mak

[2020-05-28 21:55] brainwane commented on #2943
Just ran into this again.

[2020-05-28 22:18] brainwane opened #8012 "Update mailing list link in developer docs"
We've now [decommissioned](https://groups.google.com/d/msg/pypa-dev/rUNsfIbruHM/LCEx-CB5AgAJ) the [pypa-dev Google Group](https://groups.google.com/forum/#!forum/pypa-dev).

I'd like for someone to go through the following developer documentation pages and update all the following links so that they point to [https://mail.python.org/mailman3/lists/distutils-sig.python.org/](https://mail.python.org

[2020-05-29 13:10] eskombro commented on #8002
Hi! I am the author of the [MeiliSearch PyPI demo](https://pypi.meilisearch.com/) (and a member of the MeiliSearch dev team) and I am here to discuss any details, because this seems like a great and exciting idea 🎉

Regarding your questions:

MeiliSearch provides both an offset and limit [parameters to a Search request](https://docs.meilisearch.com/references/search.html#search), which are consist

[2020-05-29 13:40] brainwane commented on #3369
@di I see ~17 [relevant open issues in the pypi-legacy GitHub tracker](https://github.com/pypa/pypi-legacy/issues); I do not think those got migrated to https://github.com/pypa/pypi-support/issues . Did they?

I'm beginning to transfer issues now from Sourceforge to https://github.com/pypa/pypi-support/issues .

[2020-05-29 16:25] Animenosekai opened #8015 "Version issue on a certain package."
**Describe the bug**

I already opened an issue into the pip repository but they told me to open one here concerning an inconsistency in the version of a certain on the website

https://github.com/pypa/pip/issues/8360

**Expected behavior**
To show the latest version ( 1.5 ) on both the search result page and the project page.

**To Reproduce**
Search for `filecenter` on PyPi.

**My Platform**
I e

[2020-05-29 18:07] di commented on #8015
Updates to the search index are not immediate, it may take up to 24 hours for the new release to be indexed and for the pages in question to fall out of cache.

[2020-05-29 18:11] di commented on #3369
@brainwane I'm struggling to recall what happened there. I think rather than migrating these potentially stale issues to pypi-support, we should ping the original authors of those issues and ask them to migrate their issue to pypi-support if it's still relevant.

If that sounds like a good plan of action to you, I can temporarily un-archive that repo so we can make the necessary comments and close

[2020-05-30 01:23] brainwane commented on #3369
@di Sure, your plan sounds fine! Please do un-archive the pypi-legacy repo. I'm happy to make those comments, close all 18 issues, and let you know so you can archive it again.

[2020-05-30 01:25] brainwane commented on #3369
And, similarly, instead of auto-migrating the potentially stale SourceForge issues using the data export and https://github.com/cmungall/gosf2github , I'll reply and close them and ask authors to please migrate them to https://github.com/pypa/pypi-support/issues .

[2020-05-30 01:25] di commented on #3369
Can't believe I just did that, but https://github.com/pypa/pypi-legacy is now un-archived.

[2020-05-30 01:26] brainwane commented on #3369
It'll be quick! I'm working now.

[2020-05-30 01:26] ewdurbin opened #8017 "DNS issues accessing PyPI from china"
Originally reported by: **eduardo schettino (Bitbucket: [schettino72](https://bitbucket.org/schettino72), GitHub: [schettino72](https://github.com/schettino72))**

---

Using `dig` I get intermittent results, sometimes it gets no response, sometimes:

[code]

On my machine `whois` can not find a match for the given IP:

[code]

I have talked to a few friends and got mixed responses. It works for s

[2020-05-30 01:40] brainwane commented on #3369
@di I have now closed all but one PyPI-Legacy support ticket. I suggest you migrate https://github.com/pypa/pypi-legacy/issues/789 directly over to the support ticket queue, based on the linked issues. Then you can go ahead and archive it.

[2020-05-30 01:42] di commented on #3369
Done. I'll leave this open until you resolve the SourceForge issues.

[2020-05-30 13:31] androiddrew opened #8018 "pyrealsense2 is available in /project but not found in /simple"
**Describe the bug**

I went to pip install pyrealsense2  and received

[code]

I can download the wheels however at the project page

https://pypi.org/project/pyrealsense2/#files

**Expected behavior**

I expect to be able to use the pip install command to install pyrealsense2

**To Reproduce**

copy and paste the  pip command from the project page

[code]

**My Platform**

Ubuntu Linux (Arm64)
M

[2020-05-30 13:57] jamadden commented on #8018
Thanks for the report. Unfortunately, https://pypi.org/project/pyrealsense2/ only publishes binary wheels for manylinux1 and Windows. It does not publish the source needed to build wheels for other platforms, and neither of your platforms are supported by the wheels it does publish:

- The `manylinux1` standard is x86/x86_64 only and does not allow for Arm wheels.
- While it's possible to distribu

[2020-05-30 13:57] #8018 closed

[2020-05-30 14:30] Animenosekai commented on #8015
Ok thank you!

[2020-05-30 14:30] Animenosekai commented on #8015
Now that it works fine should I close the issue?

[2020-05-30 14:31] #8015 closed

[2020-05-30 23:50] ZaxR commented on #6287
Just wanted to close the loop on my final comment: The hyphen does NOT need escaping. The issue I was facing was with setting the env var via the travis UI. The instructions @hugovk work well.

[2020-06-01 08:43] michaelwiles opened #8019 "Include a copyable line that I can add to my requirements.txt on the pypi home page for each library"
**What's the problem this feature will solve?**
Looking to increase efficiency and convenience

**Describe the solution you'd like**
So on the pypi home page for each library there is a pip install xxx line that you can copy.

I'm requesting that a requirements.txt entry for the latest version of the library is also included here. So xxx==<LATEST_VERSION> that I can just copy so that I can paste i

[2020-06-01 20:56] bpabel commented on #8019
The [Packing User Guide](https://packaging.python.org/tutorials/managing-dependencies/) doesn't even cover requirements.txt files, so I'm assuming their use is de facto deprecated in favor of more modern tools like `poetry` or `pipenv` (which are mentioned in the packaging docs).

It would seem odd to provide a convenience item for something the docs don't recommend using anymore.

[2020-06-01 21:31] di commented on #8019
The guide does cover requirements files (e.g. https://packaging.python.org/guides/installing-using-pip-and-virtual-environments#using-requirements-files) and they are not deprecated.

[2020-06-02 05:00] Manthan03583 commented on #8012
I want to work on it.

[2020-06-02 13:10] brainwane opened #8031 "fix parenthesis error in deprecation docs"
I'd like for @Manthan03583 to take this one.

https://warehouse.readthedocs.io/application/#historical-context-deprecations has a grammar error in the line

This is a good first contribution for someone who's new to this repository. You open up `docs/application.rst` and change

[code]

to

[code]

and then open a pull request.

--

**Good First Issue** for @Manthan03583: For directions for gettin

[2020-06-02 13:11] brainwane commented on #8012
It looks like @arshadrr didn't see your note before making a pull request, @Manthan03583 -- I've opened  #8031 for you to work on instead.

[2020-06-02 13:19] michaelwiles commented on #8019
So then why not include lines for poetry and pipenv then? And even if requirements.txt is deprecated, don't lots of people use pip install -r requirements.txt?

I assumed because you provide a pip install line that you "support" requirements.txt...

Besides, panda, numpy, pillow, urllib3, boto3, Python-dateutil all have some kind of requirements.txt - and I'm sure if I looked more I'd find more po

[2020-06-02 13:19] Manthan03583 commented on #8012
mailing list link in developer docs updated #8030

[2020-06-02 13:21] Manthan03583 commented on #8031
Thank you

[2020-06-02 13:45] sedders123 commented on #8019
[Nuget](https://nuget.org) the package manager for .NET has a nice UI that can show multiple install commands for different tools.
![image](https://user-images.githubusercontent.com/1496834/83527354-97d1e900-a4df-11ea-8c47-890c7b2e703d.png) (From https://www.nuget.org/packages/Newtonsoft.Json/)

Maybe warehouse could do something similar?

[2020-06-02 14:18] Manthan03583 commented on #8031
mailing list link in developer docs updated #8030

[2020-06-02 14:19] brainwane commented on #8031
Hi @Manthan03583 - please come into IRC https://webchat.freenode.net/?channels=%23pypa-dev now, if you can.

[2020-06-02 14:52] Manthan03583 commented on #8031
sorry mam , my internet connection is running slowly now. And I am sorry i mixed both the commits in one pull request.

[2020-06-02 15:10] woodruffw opened #8032 "documentation: commands under "Dependency Management" need refinement"
The [Dependency Management](https://warehouse.readthedocs.io/development/patterns/#dependency-management) section of the documentation page currently documents commands like these for adding and removing dependencies:

[code]

These are _slightly_ inaccurate, as the actual generated files are generated from the repository root and contain paths in comments that are relative to root. Running the co

[2020-06-02 15:42] brainwane commented on #8031
@Manthan03583

I think you need some basic help using git before you continue. Instead of committing your proposed changes to your `master` branch, you need to create a new branch and commit the changes to that new branch. I suggest that you read a training kit from

https://github.github.com/training-kit/ (available in several languages)

from start to finish, and that you read

https://help.gith

[2020-06-02 15:42] #8012 closed

[2020-06-02 16:19] stdedos opened #8033 "Login/2FA trust device"
**What's the problem this feature will solve?**
Short (?) login sessions and not trusted devices make non Yubikey authentications lengthy (Ofc, if your Yubikey is e.g. in your keychain, you also need to fetch it every time).

**Describe the solution you'd like**
Introduce the notion of "Keep me signed in" or "Trust this device and don't ask 2FA for it again".

**Additional context**
A lot of major

[2020-06-02 16:42] brainwane commented on #726
@alanbato Congrats on the final weeks of getting your degree! Should we expect to hear from you again around, say, 7 July?

[2020-06-02 16:45] alanbato commented on #726
@brainwane Yes, I'll have something to show by then :)

[2020-06-02 17:09] brainwane commented on #284
Per [discussion in IRC just now](http://kafka.dcpython.org/day/pypa-dev/2020-06-02) -- the author closed #4078 last year, and it's unclear whether this kind of feature would be welcome if someone were to try again at implementing it.

[2020-06-02 17:10] brainwane commented on #284
Maintainers' opinions are welcome. Also, in my opinion, it would be easier to finalize design and implementation, test and review, and deploy this if [we had funding for it](https://wiki.python.org/psf/Fundable%20Packaging%20Improvements#Revamp_PyPI_API).

[2020-06-02 22:29] di opened #8040 "Document how to translate strings"
Our development guide includes references to working with translations in two places:

* ["Submitting patches"](https://warehouse.readthedocs.io/development/submitting-patches/) tells the developer how to use `make translations`
* ["Adding a newly completed translation"](https://warehouse.readthedocs.io/translations/#adding-a-newly-completed-translation) tells the developer how to add a newly comp

[2020-06-03 00:14] di commented on #8032
I think we want:

[code]

The examples are attempting to be agnostic to what `{file}` is being used, but they're all in the `requirements` directory.

[2020-06-03 03:56] Manthan03583 commented on #8031
parenthesis error in deprecation docs fixed #8046

[2020-06-03 04:20] #8032 closed

[2020-06-03 04:31] #8031 closed

[2020-06-03 21:11] di commented on #6545
Blocked on https://github.com/pypa/packaging.python.org/issues/637.

[2020-06-04 12:13] michaelwiles commented on #8019
Yes! The maven repository also has that. That's why I'm asking for it.

![image](https://user-images.githubusercontent.com/1850356/83755236-874f7900-a66d-11ea-9e40-d9e2aed28cfc.png)

from https://mvnrepository.com/artifact/junit/junit/4.13

[2020-06-04 14:38] abdullah-al-masud opened #8055 "package pip command includes pypi link"
![image](https://user-images.githubusercontent.com/35391630/83770260-d3290f00-a6bb-11ea-9fee-adc65c1afb58.png)

I am using anaconda3 in windows 10. Setup.py is like bellow:

[code]

used these commands:

[code]

I am sure there is no bug in pypi because other people are using this platform for like ever. But I just want to know how to fix this. I tried looking by google search, seems like I am the

[2020-06-04 14:58] abdullah-al-masud commented on #8055
Yes, I didnt understand it. Sorry.

[2020-06-04 14:58] #8055 closed

[2020-06-05 20:58] rayluo opened #8064 "Is there any specific definition on classifiers?"
**What's the problem this feature will solve?**

[PyPI defines a list of classifiers](https://pypi.org/classifiers/) that can be used to describe a project, and then audience can even filter projects by them. But there seems no specific definition from the 2 referenced documents in the link above.

In particular, what is the definition of `Development Status :: 6 - Mature`? It seems to mean a soft

[2020-06-05 21:40] jamadden commented on #8064
The classifiers, according to [PEP 301])https://www.python.org/dev/peps/pep-0301/#distutils-trove-classification) are "Trove classifiers". At that time, Trove was [a particular project](http://www.catb.org/~esr/trove/) creating "an open-source distributed archiving system."

Meaning beyond those references, I suspect, is in the eye of the beholder.

I doubt you will find a more specific answer. Pe

[2020-06-05 22:26] di commented on #3668
There are currently 105 projects that publish `linuxarmv6l` or `linuxarmv7l` wheels:

[code]

I'm planning to email all maintainers/owners of these projects to announce a 6-month deprecation period for these distribution types, and provide guidance for migrating to `manylinux2014`.

[2020-06-06 00:03] rayluo commented on #8064
Interesting. Thanks for sharing the info of this [2-decades old project](http://www.catb.org/~esr/trove/) and its 2-months old (partial) implementation. LOL

So, it seems:
* not even that original Trove project defines `Development Status`.
* but I managed to find some description from a [Google Book link to "Open Source Software: Quality Verification"](https://books.google.com/books?id=7pS6BQAAQB

[2020-06-06 00:03] #8064 closed

[2020-06-09 20:11] di commented on #8002
Sorry for the delay! Replies inline:

I'm not seeing how just the offset/limit parameters alone would solve #4006. The issue is that URLs with the same query but different offsets expire from the cache at different times, which may cause a project to appear more than once (or not at all).

Ideally we'd need a way to know all the projects that would be in the result for a given query, so we could p

[2020-06-09 21:12] #6462 closed

[2020-06-10 00:43] jjurotte opened #8087 "Unable to install micropython-urequests"
Hi
I am getting this when trying to install micropython-urequests. Same result on both my laptop and PC, both running Windows 10.

C:\Users\jjgli>pip install micropython-urequests
Collecting micropython-urequests
  Using cached https://files.pythonhosted.org/packages/1e/ac/bb123d5cd30bdfba6881f71adf01cefd3df2874d1d82e60a7e9f484790ce/micropython-urequests-0.9.1.tar.gz
    ERROR: Command errored out

[2020-06-10 00:45] di commented on #8087
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-06-10 00:45] #8087 closed

[2020-06-10 05:34] sandeep3136 commented on #8040
I will work on this issue. Please explain the issue clearly

[2020-06-10 21:04] nlhkabu opened #8089 "Change icon for changelog / history ?"
On the package detail page, we currently show the "gift" icon for the following words:
"changelog", "change log", "changes", "release notes", "news", "what's new", "history"

e.g.

![Screenshot from 2020-06-10 22-01-39](https://user-images.githubusercontent.com/3323703/84318245-03622900-ab66-11ea-9a44-ce82a953d012.png)

Maybe this is not the best icon?
see https://github.com/pypa/warehouse/pull/78

[2020-06-10 21:43] brainwane opened #8090 "Fix how Warehouse stores metadata (per-file, not per-release)"
Task list:

- [ ] Add a `FileMetadata` model and an optional 1-1 relationship to the `File` model. The fields of this model should correspond to the available [Core Metadata](https://packaging.python.org/en/latest/specifications/core-metadata/) fields.
- [ ] Add a `metadata_source` field to `FileMetadata` that lets us determine if the metadata is "provided" (i.e. from the `POST`) or "extracted" (i

[2020-06-10 22:56] di commented on #6088
Issue for a keyboard shortcut is: https://github.com/pypa/warehouse/issues/6099

[2020-06-10 22:56] #6088 closed

[2020-06-11 14:39] lpsinger opened #8092 "Broken images in project descriptions, user icons due to warehouse-camo.ingress.cmh1.psfhosted.org certificate not being trusted"
**Describe the bug**
Images in long descriptions and images for user avatars do not show up because they are served from warehouse-camo.ingress.cmh1.psfhosted.org which has a certificate that is not trusted by browsers on my operating system (macOS).

**Expected behavior**
See, for example, this project: https://pypi.org/project/ligo.skymap/

There should be an image in the body of the long descri

[2020-06-11 16:33] scop commented on #8089
I'm biased, but linking to my previous explanations which explain why I think the gift icon is a great choice for this, and why some others are not a good one:

https://github.com/pypa/warehouse/pull/7896#issuecomment-625018494
https://github.com/pypa/warehouse/pull/7896#issuecomment-624822886

[2020-06-11 17:03] merwok commented on #8089
To give a different opinion: I have seen the gift icons used in some proprietary web apps, tied to a «new features» menu.  I don’t find it an obvious icons for «changelog» in general.

The fa-history icon is already used for previous versions of a project, which is appropriate (the drawing suggests an action, going back in time, which is good for PyPI interface but wouldn’t fit a changelog link IM

[2020-06-11 17:09] di commented on #8092
I'm not seeing the same behavior in Chrome Version 83.0.4103.61, nor am I able to get any external checkers to report an error (e.g. https://decoder.link/sslchecker/warehouse-camo.ingress.cmh1.psfhosted.org/443).

Can you share the output of the following commands?

IPv4:
[code]

IPv6 (If available):
[code]

[2020-06-11 22:37] #6722 closed

[2020-06-12 00:51] #2943 closed

[2020-06-12 00:51] di commented on #2943
The issue here is that we mount the `warehouse` directory into the container: https://github.com/pypa/warehouse/blob/6721a8aba73e13129f4400a64ff273099ce52850/docker-compose.yml#L65

When our static assets are compiled, this produces the `warehouse/static/dist` directory, which is then written onto the host file system.

Originally `make clean` was trying to remove this directory. This is unnecessa

[2020-06-12 01:49] di opened #8098 "Static build is flakey"
I've been seeing more errors with our static build lately, mostly around `gulp dist`, so I'm putting together a list of all the errors I've seen here in the hope that this saves someone else some time eventually (and that, maybe, we can fix this).

All of these were resolved by just running the build again...

**unreachable code**
[code]

**HandleScope:**
[code]

**core dumped:**
[code]

**double

[2020-06-12 15:22] #6683 closed

[2020-06-12 21:22] cooperlees opened #8101 "Increase in xmlrpc API Timeouts Recently"
**Describe the bug**
bandersnatch's CI has been failing a lot more to the XMLRPC API calling `list_packages_with_serial`

Log:
[code]

Timeout settings is 10 seconds for read timeout, so I think the latency with the call has got real bad? Is there data that shows this? This is call for the full package list, I can't easily get around that.

**Expected behavior**
~1 second return with the response

[2020-06-14 03:08] Ravindrakumara commented on #2722
C:\Users\*****\Documents\Django\tutorial\Practice_Django\sit-env> docker-compose build
Building web
Step 1/7 : FROM python:3.7
3.7: Pulling from library/python
                                                                                                                                                                        375fbabb8494: Downloading [=========================>

[2020-06-14 06:54] bpabel opened #8104 "Incorrect http response from invalid upload endpoint"
**Describe the bug**

As a user attempting to upload distributions to PyPI, I want to get a failure response from the PyPI http API when I attempt to upload files to an incorrect endpoint, so that I am able to correctly identify failures and successes and correct them if necessary or provide meaningful error messages.

The correct endpoint for uploading is `https://test.pypi.org/legacy/` (notice t

[2020-06-15 06:36] fridex commented on #8101
Checking docs:

https://warehouse.pypa.io/api-reference/xml-rpc/

Any reason why you do not use the JSON API?

[2020-06-15 13:37] thomasmfish opened #8106 "Website search cannot find my package"
**Describe the bug**
When I [search "StitchM" on PyPI](https://pypi.org/search/?q=StitchM) it returns nothing despite [this package](https://pypi.org/project/StitchM/) existing. The exact same thing is happening on test.pypi.org. However, a [separate package](https://test.pypi.org/project/txrm2tiff/) that I uploaded at the same time is showing up in searches [here](https://pypi.org/search/?q=txrm2

[2020-06-15 13:37] thomasmfish opened #8107 "Search isn't finding my package"
**Describe the bug**
When I [search "StitchM" on PyPI](https://pypi.org/search/?q=StitchM) it returns nothing despite [this package](https://pypi.org/project/StitchM/) existing. The exact same thing is happening on test.pypi.org. However, a [separate package](https://test.pypi.org/project/txrm2tiff/) that I uploaded at the same time is showing up in searches [here](https://pypi.org/search/?q=txrm2

[2020-06-15 13:38] #8107 closed

[2020-06-15 13:40] ewdurbin commented on #8106
In the event that the initial indexing fails, search  may take up to 24 hours to index new projects.

[2020-06-15 13:42] thomasmfish commented on #8106
Okay, that's fine then, thanks!

[2020-06-15 13:42] #8106 closed

[2020-06-15 15:47] di commented on #8104
As far as I can tell this URL is correctly returning a 301 redirect in all cases:

[code]

[code]

Am I missing something?

[2020-06-15 17:07] bpabel commented on #8104
POST requests typically don't return redirection responses because clients aren't supposed to follow them for non-GET requests, or if they do follow them, they get changed to a GET request (which I suspect is what is happening here).

I'll do some debugging with the http client I'm using, which is `requests/urllib3`, to confirm this is the case.

It's one of those things where a 301 might technica

[2020-06-15 18:38] di commented on #8104
That does indeed seem to be happening here:

[code]

Would a 404 for `POST` requests be preferred? I.e., only issue the redirect for GET requests?

[2020-06-15 18:43] di commented on #8104
Seems like maybe whatever library is using `requests` could be setting `allow_redirects=False` instead: https://requests.readthedocs.io/en/latest/user/quickstart/#redirection-and-history

[2020-06-15 19:06] bpabel commented on #8104
Yes, I think a 404 for `POST` requests would give more expected results.

I'll update the `flit` issue to implement the `allow_redirects=False` so it can correctly handle either way.

[2020-06-15 19:21] callmecampos commented on #8033
Some initial questions on this one:
1. How long should devices stay signed in once they're trusted (e.g. 1 week, 30 days, 1 year)?
2. How should we go about device fingerprinting?

[2020-06-15 20:12] stdedos commented on #8033
If you are asking me:

1. Permanently. e.g. Gmail, Github has been doing that forever, I guess they have already balanced/figured out how to do that safely. Functionality should be similar to "Keep me logged it", and I guess that problem is somehow solved already. If not, a fair balancing would be 2-4 weeks.
2. I am not sure if that is wise, _and_ a lot of people (including me) attempt to mask the

[2020-06-15 20:17] di commented on #8104
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/301 says:

So it seems like a 308 response would be the "most correct" thing for us to respond with here, although I'm not sure how `flit` would have handled that in this case.

I've added the "good first issue" label to this issue.

[2020-06-16 16:39] yaaminu opened #8112 "Provide an api for for accessing request history"
**What's the problem this feature will solve?**
This feature will allow developers to test that the right request payload are being sent

**Describe the solution you'd like**
[code]

[2020-06-16 16:41] di commented on #8112
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-06-16 16:41] #8112 closed

[2020-06-16 16:42] yaaminu commented on #8112
Ah, thanks. I followed the worng link!

[2020-06-17 09:32] mahendra1999 opened #8120 "TimeoutError: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
In my setup

pip install websocket_client
Windows system
Pycharm
python 3.6

I pasted sample code i used for websocket connection

from websocket import create_connection

ws = create_connection('wss://cloud-stg.xyz.com/sockjs/8/****/websocket')
result = ws.recv()
print('Result: {}'.format(result))

result = ws.recv()
print('Result: {}'.format(result))

ws.send(json.dumps([json.dumps({'msg': 'conn

[2020-06-17 14:17] di commented on #8120
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-06-17 14:17] #8120 closed

[2020-06-17 18:40] tfcollins opened #8123 "Package name isn't allowed"
**Describe the bug**
I'm trying to push a new package named 'libiio' but I get the error:
[code]
**Expected behavior**
I was able to push the same package with this name to pypi testing, and I expected the same to work on mainline pypi. I don't think this breaks any of the naming rules. Correct me if I'm wrong.

**To Reproduce**
[code]

**My Platform**
- Python 3.6.9
- Twine 3.1.1

**Additional co

[2020-06-18 00:11] #7778 closed

[2020-06-18 01:53] VikramJayanthi17 commented on #7446
I have submitted 2 PRs to implement this feature. I split up the internal and user-facing functionality so that enforcement can take place after admins have set custom limits for projects with abnormal sizes.

- [ ] Internal Changes, allowing the admin to set project size limits via the admin dashboard.(#8128)
- [ ] User-facing changes, enforcing the project size limit and information on how to re

[2020-06-18 09:04] bbloks opened #8130 "Cannot find specific PIP packages using pip search"
**Describe the bug**
Using the `pip search` function I am not able to find specific packages. Notably some of these packages are main packages like Flask and Django. I am able to install them on the virtual environment, however searching for them does not show the package and its latest version.
I thought it may have to do with a limit in search results, however I have found no information that th

[2020-06-18 10:43] Manthan03583 commented on #8040
Can i work on this issue ?

[2020-06-18 11:54] SimiCode opened #8131 "Badge is Squished when viewed in PyPi"
**Describe the bug**
Viewing the black package page on PyPi shows the Pypi badge squeezed; One would be unable to view contents of the badge.
![image](https://user-images.githubusercontent.com/20975616/85016711-2f7f3a80-b162-11ea-9729-e0a9fdbd68cc.png)

**Expected behavior**
While on Github, it shows well:
![image](https://user-images.githubusercontent.com/20975616/85017019-b0d6cd00-b162-11ea-99e8

[2020-06-18 12:09] shuhari opened #8132 "Section name in .pypirc for testpypi should not be pypi"
**Describe the bug**
When I create a new API token in test.pypi.org, it gives tips as following screenshot.

However, after I copied the content to ~/.pypirc, then twine command still asks for password . I tried to resolve and found that it only works when the section name change from [pypi] to [testpypi].

It seemed that the tip is same with main PYPI site, but a bit misleading. Make it sync with

[2020-06-18 15:14] SimiCode opened #8133 "Add support for HTML in Mark Down (Requests.Py)"
**Describe the bug**

I wanted to file this as a requests issue but then I realized that since the library README shows well on github, Its expected to do the same on PyPi.

**To Reproduce**
[Requests Github](https://github.com/psf/requests)
[Requests PyPI](https://pypi.org/project/requests/)

So What can we do to make sure that there is more support for multiple MarkDown Stylings? I'm willing to

[2020-06-18 16:40] di commented on #8132
Thanks! Looks like we need to add some special logic here depending on what site this is on. Something similar to this should work:

https://github.com/pypa/warehouse/blob/6721a8aba73e13129f4400a64ff273099ce52850/warehouse/templates/accounts/login.html#L22-L26

I've added the "good first issue" label to this issue.

[2020-06-18 16:46] di commented on #8131
It looks like the issue is that the version it's attempting to render the url https://black.readthedocs.io/en/stable/_static/pypi.svg, which currently has the version `19.10b1.dev0+g6bedb5c.d20191029`, which just doesn't fit in the badge no matter where it's rendered:

![](https://black.readthedocs.io/en/stable/_static/pypi.svg)

I'm not sure why it's doing this but I don't think it's an issue wit

[2020-06-18 16:50] di commented on #8130
Duplicate of https://github.com/pypa/warehouse/issues/5506.

[2020-06-18 16:50] #8130 closed

[2020-06-18 16:58] SandUhrGucker opened #8134 ""Creating Mesh objects from a list of vertices and faces" fails on float Positions"
You describe on https://pypi.org/project/numpy-stl/ howto "Creating Mesh objects from a list of vertices and faces".

The folowing error ocurs if using float-coordinates:

[code]
**Describe the bug**
Doesnt work with floats (Which is motly used in RL I think).

**Expected behavior**
normal operation.

**To Reproduce**
Just modify some Verticses and Faces coordinates to floats.

**My Platform**
Ubu

[2020-06-18 17:08] di commented on #8134
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to [the tracker for the project in question instead](https://github.com/WoLpH/numpy-stl/issues).

[2020-06-18 17:08] #8134 closed

[2020-06-18 17:13] di commented on #8040
Please note from the issue description:

There is no corresponding pull request for this issue yet, so it's available to anyone to work on.

[2020-06-18 18:54] MuskanNaaz opened #8135 "Error in import fbprophet"
Collecting fbprophet
  Using cached fbprophet-0.6.tar.gz (54 kB)
Requirement already satisfied: Cython>=0.22 in c:\users\dell\appdata\local\programs\python\python36-32\lib\site-packages (from fbprophet) (0.29.20)
Requirement already satisfied: cmdstanpy==0.4 in c:\users\dell\appdata\local\programs\python\python36-32\lib\site-packages (from fbprophet) (0.4.0)
Requirement already satisfied: pystan>=

[2020-06-18 19:00] di commented on #8135
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to [the tracker for the project in question instead](https://github.com/facebook/prophet/issues).

[2020-06-18 19:00] #8135 closed

[2020-06-19 00:56] callmecampos commented on #8033
To (1), in talking with @di, 30 days seems to be a reasonable time frame for now. Implementing this should just require storing the relevant session auth cookie information in a Postgres database as opposed to Redis (where it's currently stored for 12 hour expiration lifetime sessions, see [warehouse/sessions.py](https://github.com/pypa/warehouse/blob/master/warehouse/sessions.py)), since that wil

[2020-06-19 02:42] callmecampos opened #8139 "Require to re-authenticate any time "important" or "destructive" actions are performed"
**What's the problem this feature will solve?**
"Important" and "destructive" actions like adding and removing maintainers, generating API tokens, and changing passwords don't require the user to re-authenticate. This can be a risk for scenarios where users who are not the original intended user gain access to a browser with session auth cookies on them (e.g. cookie dropped on a public library com

[2020-06-19 07:35] stdedos commented on #8033
While obviously not-as-spec'ed, I would look the other way for a prototype/performance reasons, if you'd stick with Redis (unless it goes into maintenance too much)

I am about to do this exact thing, now that I am migrating from my old, to my new system. It saves a lot of trouble to re-trust and disavow devices.

You could counteract this by minimizing valid login time to ~4h (or whatever your si

[2020-06-19 18:51] di commented on #7446
There's an open question here about what the max default size should be. Running some statistics on the current project sizes:

[code]

A limit of 2.5GB would cover 99.9% of projects. Given the current median project size:

[code]

the average project would ~never hit this limit. Given the current per-file limit of 60MB, that would be ~40 60MB releases before a project would hit the limit.

We'd n

[2020-06-19 19:13] di commented on #7446
@dstufft says:

I'm fine with just making this 10GB, it would mean that we only need to grandfather in 73 projects instead.

[2020-06-19 19:14] #8131 closed

[2020-06-19 19:16] di commented on #8092
Closing this due to lack of response, feel free to comment if you're still experiencing this.

[2020-06-19 19:16] #8092 closed

[2020-06-19 19:18] di commented on #7989
Thanks for feature request.

Closing since PEP 440 explicitly states that local versions should not be used on upstream indices like PyPI.

[2020-06-19 19:18] #7989 closed

[2020-06-19 19:20] di commented on #3369
@brainwane What's the status here?

[2020-06-19 19:20] brainwane commented on #3369
Hi Dustin. Still working on the backlog here.

[2020-06-19 23:16] lpsinger commented on #8092
Whoops! I didn't see your reply from last week until just now.

The images are still broken when I view the page on my computer.

Here's the output from those two commands.

[code]

[code]

[2020-06-20 04:32] mroberge opened #8144 ""The description failed to render for 'text/x-rst'" BUT package passed `twine check dist/*`"
**Describe the bug**
PyPI returned an error, "400 The description failed to render for 'text/x-rst'."
Yet my package passes `twine check dist/*`

**Expected behavior**
In the past, my README.rst file uploaded just fine. You can see it here https://pypi.org/project/HydroFunctions/

**To Reproduce**
The package I am trying to upload is located in https://github.com/mroberge/hydrofunctions
- the new

[2020-06-22 15:50] di commented on #8092
That certificate looks fairly wrong. Are you using some MITM, proxy, or firewall? Maybe a firewall from fortinet.com?

For comparison, here's what I get:

[code]

[2020-06-22 15:56] di commented on #8144
Can you attach the distributions you're trying to upload here, or put them somewhere I can take a look at them?

[2020-06-22 19:03] mroberge commented on #8144
I went back to my earlier commit that failed to upload and re-built the dist.

I just figured out that you can see the "long_description" that gets generated by `python setup.py sdist` by looking in the dist/PKG-INFO file. This has a field, "description", which contains the rst text that PyPI uses as the homepage for each package. The text is padded with 8 spaces at the start of every line, but it

[2020-06-22 19:13] mroberge commented on #8144
- There should be some way for users to see the rst file that is generated by the long_description in setup.py
- There should be some way for users to see what errors occur when PyPI renders the long_description .rst
- Why doesn't `twine check` check the rst used by PyPI? or maybe it does, but it uses a different rendering engine?
- Even with PyPI checking and rejecting malformed rst, many project

[2020-06-22 19:13] di commented on #8144
Here's what I get when I run `twine check` on that distribution:

[code]

[2020-06-22 19:33] mroberge commented on #8144
I just created a new environment with Python 3.7, hydrofunctions, and twine. When I ran `twine check` on the distribution that I attached above, I didn't get that error.

Do you have any ideas for how I can reproduce this?

The error comes from a change I made in how I display example code in the rst file. The code that works uses the double colon syntax with the greater than signs,

[code]
The fi

[2020-06-22 19:47] di commented on #8144
What version of `twine` do you have? `twine --version`

[2020-06-22 19:49] mroberge commented on #8144
Twine 3.1.1

[2020-06-22 19:49] di commented on #8144
The "file that is generated" is just whatever you pass as the `description` field in your `setup.py`, there's no additional manipulation that happens. The 8 spaces are just due to how setuptools serializes all the metadata.

This is what `twine check` should be doing

I think this is the source of our issues 🙂

[2020-06-22 19:51] di commented on #8144
OK, how about `pygments` and `docutils`?

[code]

[code]

[2020-06-22 19:56] mroberge commented on #8144
The environment that I used to look at the distribution I sent you has pygments 2.6.1 & docutils 0.16.
When I filed this Issue I uploaded from an environment that I use for development that has pygments 2.6.1 & docutils 0.14

[2020-06-22 20:13] di commented on #8144
Hmm, it appears that IPython installs its own lexers:

https://github.com/ipython/ipython/blob/a2685d78f2403f84e6cb915ae11a4f6033ccc5f6/setup.py#L237-L241

Running `twine check` shouldn't take these into consideration. Moving this to [pypa/readme_renderer](https://github.com/pypa/readme_renderer/) as a bug.

[2020-06-23 17:47] callmecampos commented on #3492
Potentially unrelated, but I often see the following error with celery that blocks me from accessing `localhost`:

[code]

[2020-06-23 19:12] patelneel55 commented on #7992
Hey guys, I think this is a pretty neat feature and I am currently in the works of implementing it. I had a couple of discussion topics to determine the use cases of the recent emails tab. How long back in time should be our definition of "recent"? For reference, Facebook shows recent emails for the [past 2 weeks](https://www.facebook.com/help/1956527391029758?helpref=faq_content#u_0_17:~:text=We%

[2020-06-23 22:42] brainwane commented on #7992
Good questions @patelneel55!

(Other people looking: @patelneel55's work is [in this branch](https://github.com/patelneel55/warehouse/tree/show-emails) I think.)

Most maintainers only maintain one package. And PyPI emails them notifications roughly 1-10 times per year. So -- assuming this is ok on a performance level -- I think the past 3 months, for security and other emails, would make sense.

[2020-06-24 15:02] patelneel55 commented on #7992
Sounds good!

Hmm, it shouldn't be a problem to create the action, we could maybe create a new section in the help page that covers contacting the admins and resetting the password if necessary. However, now that I think about it, don't these actions relate more towards the other events such as `"Logged in"` or `"Password reset"` rather than `"Email sent"`? We could maybe provide a link to the new

[2020-06-24 20:09] lpsinger commented on #8092
It turns out that this is indeed due to firewall/proxy configuration in my organization. I'm following up with my employer.

[2020-06-24 23:50] di opened #8158 "Geolocate user IP addresses when presenting them in UI"
**What's the problem this feature will solve?**
Currently in the PyPI logged-in UI, we show the IP address that performed certain actions to the user:

<img width="917" alt="Screen Shot 2020-06-24 at 6 37 55 PM" src="https://user-images.githubusercontent.com/294415/85638026-71b8e800-b64a-11ea-9487-87eb6108e8a8.png">

I don't know my own IP offhand. Especially if there are multiple different IPs li

[2020-06-25 02:28] brainwane commented on #5247
I see https://github.com/pypa/warehouse/pull/7488#issuecomment-638973770 mentions a few blockers that people are currently working on ("some bugs in the TUF reference implementation, namely missing roledb state when reloading the repository").

* https://github.com/theupdateframework/tuf/issues/574
* https://github.com/theupdateframework/tuf/issues/1045
* https://github.com/theupdateframework/tuf/

[2020-06-25 05:00] sanjaysiddhanti commented on #8158
@di I can help with this. A couple questions:

- I downloaded the Geolite2 city DB and the file size is 60M. I don't think it's a good idea to check this into the git repo. Does Warehouse use S3 or something similar where we could store this?

- Related to the above, how do you recommend making the DB available to the application? We could pull it from S3 during the Docker build, but I wonder if t

[2020-06-25 05:15] brainwane commented on #3264
@di do you have some feedback on @rascalking's question?

[2020-06-25 05:17] jakubhava opened #8161 "[Increase Package Size]"
Hello folks and,
  we have released PySparkling for Spark 3.0, the same library we have for Spark 2.1 up to Spark 2.4, but we are hitting the size issue we had also for the aformentioned libraries. Could I please ask to increase the size limit for the package to the same size, as for example, https://pypi.org/project/h2o-pysparkling-2.4/

Thank you!

Kuba

[2020-06-25 05:44] sanjaysiddhanti commented on #5222
I can work on this issue

[2020-06-25 05:44] brainwane commented on #5222
Great! Please go ahead!

[2020-06-25 05:53] di commented on #8158
I'm surprised it's that large -- we might want to see if there are more lightweight options, or whether we can slim it down at all (IIUC it probably contains a lot of data we don't need). That said, we check in the [development database](https://github.com/pypa/warehouse/blob/master/dev/example.sql.xz) which clocks in at more than 60MB, so this might be OK for a one-time thing.

We use a datastore

[2020-06-25 06:00] di commented on #3264
I think either could work. I think it would be probably more straightforward to just do this in `*.record_event`, and probably more thorough to hook into `ProjectEvent`/`UserEvent` object creation.

I think what would be even more powerful is if every `Event` was published to our task queue, and for every individual type of event, there was a way to resolve asynchronous actions that should happen

[2020-06-25 22:41] brainwane opened #8166 "automatically build documentation for PRs"
@pradyunsg said:

_Originally posted by @pradyunsg in https://github.com/pypa/pip/pull/8493#issuecomment-649006820_

I'd like that! It'd help me with, for instance, the work I'm doing with #8011. (My local environment is messed up.) Can we set that up for Warehouse PRs as well, since we also use Read the Docs to build and host [our docs](https://warehouse.readthedocs.io/)?

[2020-06-26 01:10] cameron-simpson opened #8167 "it seems possible to upload a file without correct authentication"
I use twine to upload my packages via upload.pypi.org/legacy/ and tripped over this through mistyping my password:

    + twine upload dist/cs.upd-20200626.tar.gz
    Uploading distributions to https://upload.pypi.org/legacy/
    Enter your username: cameron.simpson
    Enter your password:
    Uploading cs.upd-20200626.tar.gz
    100% .................
    NOTE: Try --verbose to see response cont

[2020-06-26 01:58] di commented on #8167
I just tried to reproduce the same behavior and it worked as it should:

[code]

It looks like `cs.upd==20200626` was [uploaded about 1 hour ago](https://pypi.org/project/cs.upd/20200626/), is it possible you had already uploaded it? Or did you only invoke twine these two times?

Is it possible you're trying to upload a newer release and actually want to call `twine upload --skip-existing dist/*`?

[2020-06-26 02:33] sanjaysiddhanti commented on #8158
I'm looking into lighter weight options, taking inspiration from other libraries. There are also some recent license changes to the Geolite2 DB that we'll need to review, but I'll first look at other options

[2020-06-26 02:42] cameron-simpson commented on #8167
Gah! You are correct, I had an even earlier successful upload.

My apologies, I'll close this. My error. Thanks, Cameron

[2020-06-26 02:42] #8167 closed

[2020-06-26 02:50] sanjaysiddhanti commented on #8158
I looked at [db-ib's City DB](https://db-ip.com/db/download/ip-to-city-lite). It has a more permissive license, but it's even bigger - 85M.

Both providers offer a CSV format but in both cases, CSV is bigger than the corresponding MMDB file.

I don't know how we would slim down the MMDB file, and curating the CSV file seems like a lot of work, especially since they release regular updates and we m

[2020-06-26 03:01] di commented on #8158
Potential added expense / external dependency, probably not worth it for this very small feature. Unless we could do this entirely on the frontend, in JS, for free... is that an option?

Agreed we probably don't want to curate CSV files.

[2020-06-26 05:30] sanjaysiddhanti commented on #8158
Hmm. We could do it in JS if the user grants access to their location, but then we'd need to store that in a DB to look back at it for future logins. To get the location just from IP, I think we'd still need an API call from the JS code.

There are also country DBs that are much smaller (the Geolite country DB is less than 4M). But I don't think it helps us much to display the country of the user?

[2020-06-26 13:10] pradyunsg commented on #8166
pip was a beta tester for this functionality in RTD, which has now become a checkbox to tick in the read the docs admin UI.

https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

[2020-06-26 15:16] di commented on #8166
I've checked the box, let's see what happens!

[2020-06-26 15:35] #7446 closed

[2020-06-26 15:38] di commented on #7446
I grandfathered in all existing projects with `Project.total_size` >= 10GB. I set their limits to roughly twice their current size, minus ~20%, rounded to the nearest 10GB. My thought is that PyPI's total size is roughly doubling every year, and that the rate of growth of these should probably fall under that curve.

I wouldn't expect any of the projects on https://pypi.org/stats to request _total

[2020-06-26 15:55] brainwane commented on #8166
@di  If you compare #8011 and https://github.com/pypa/pip/pull/8493 you see that the list of checks at the bottom of https://github.com/pypa/pip/pull/8493 includes

I don't see that in the Warehouse PR (though I just force-pushed there). So I'm not sure the automated build is happening, or where I would look for the link.

[2020-06-26 20:03] #5222 closed

[2020-06-26 23:38] di commented on #8166
OK, I've now checked the box, _and_ hit "Save", and #8011 now has a "docs/readthedocs.org:warehouse — Read the Docs build succeeded!" status.

[2020-06-26 23:38] #8166 closed

[2020-06-27 10:09] kodabb opened #8173 "namespaced dependencies cannot be found in a custom PYTHONPATH"
**Describe the bug**
Using the latest stable version of pip, I am trying to install `twisted` (which depends on zope.interface), on a custom PYTHONPATH location.

This env variable is set to

and both twisted and and zope.interface are installed correctly

and `twisted` can be loaded just fine -- `zope.interface` however cannot be found

following the advice here https://github.com/pyinstaller/pyi

[2020-06-27 21:17] vsajip opened #8174 "Project description does not display on PyPI, although present in metadata"
**Describe the bug**

Under the ["Project description" for distlib 0.3.1](https://pypi.org/project/distlib/#description), no description is shown - instead,

is shown.

**Expected behavior**

The description hasn't changed since the previous release, 0.3.0. Under [that release](https://pypi.org/project/distlib/0.3.0/#description), the description shows

**To Reproduce**

As given above under "Desc

[2020-06-28 00:09] jamadden commented on #8174
What does `twine check` tell you?

[2020-06-28 01:21] di commented on #8174
Looking at the [0.3.1 wheel](https://files.pythonhosted.org/packages/f5/0a/490fa011d699bb5a5f3a0cf57de82237f52a6db9d40f33c53b2736c9a1f9/distlib-0.3.1-py2.py3-none-any.whl), it looks like `pkginfo` is not able to read the `Description` for some reason:

[code]

[2020-06-28 04:43] vsajip commented on #8174
[code]

The `distlib` project uses a simple `long_description` in `setup.py` - here's what's passed to `setup()`;

    long_description = ('Low-level components of distutils2/packaging, '
                        'augmented with higher-level APIs for making '
                        'packaging easier.'),

This has remained unchanged over many previous releases, so the problem would appear to be due

[2020-06-28 05:02] vsajip commented on #8174
Also, parsing that bare description text with `docutils` appears to give no errors/warnings:

[code]

[2020-06-28 13:01] jamadden commented on #8174
(tl;dr: distlib is using an older metadata format and placing the description in a header, not the body. `pkginfo` only looks at the body, not the header, in wheel files. This may be a bug in pkginfo.)

It looks like `distlib` itself was used to generate that wheel:

[code]

Compared with twine:
[code]

The METADATA for the distlib wheel is an older version, and specifies the description as a head

[2020-06-28 13:23] di commented on #8174
The wheel was uploaded first.

[2020-06-28 19:21] vsajip commented on #8174
Good detective work. I actually did the upload using a single `twine` command and a wildcard, which led to the wheel being picked before the zip.

Since the spec allows the description to be in the `Description` field and it _is_ there, this does seem to point to a problem in `pkginfo`.

Is there any way I can ask someone to update the description on PyPI to the correct value?

[2020-06-28 21:45] di commented on #8174
Sorry, as a matter of policy we don't manually edit any metadata of any release on PyPI.

One alternative would be making a postrelease and yanking the existing release.

[2020-06-28 21:46] di commented on #8174
I'm going to close this as it's clear the bug is in `pkginfo` and not with PyPI, but let us know if you need any additional help here. Thanks for the report!

[2020-06-28 21:46] #8174 closed

[2020-06-29 15:31] brainwane commented on #8090
@cooperlees is now working on https://github.com/pypa/packaging-problems/issues/367 which is partially blocked by this bug in Warehouse.

[2020-06-30 06:25] akshayb7 opened #8179 "SHA mismatch while trying to install tensorflow"
**Describe the bug**
While trying to install tensorflow==2.1.0 in a docker container, an SHA mismatch happens

I'd created another container (small unrelated differences) without such an issue about a week ago, so might be someone messing with the codebase.

**Expected behavior**
Tensorflow installs without such an error.

**My Platform**
Docker community edition - 19.03.8

![image](https://user-i

[2020-06-30 06:52] #8179 closed

[2020-06-30 06:53] akshayb7 commented on #8179
Did not provide correct labels. Will reopen with them in a separate issue

[2020-06-30 06:56] akshayb7 opened #8180 "SHA mismatch with Tensorflow"
Describe the bug
While trying to install tensorflow==2.1.0 in a docker container, an SHA mismatch happens

I'd created another container (small unrelated differences) without such an issue about a week ago, so might be someone messing with the codebase.

Expected behavior
Tensorflow installs without such an error.

My Platform
Docker community edition - 19.03.8

![image](https://user-images.github

[2020-06-30 08:09] amcgregor commented on #6099
@saippuakauppias "Not logical", but consistent for anyone prone to using keyboard shortcuts extensively outside the Microsoft world.  Open a terminal, `less /etc/php.ini.default`, type a forward slash… and now you're searching.  `vim` a file, type `/`, and now you're searching.  <kbd>⌃F</kbd> / <kbd>⌃G</kbd> is a ultimately Microsoft-ism, and even that's inconsistent: <kbd>F3</kbd> is nearly unive

[2020-06-30 11:10] jamadden commented on #8180
(Please avoid posting screenshots of errors when unnecessary. Please post the actual text. Screenshots are not accessible, cannot be quoted, or easily compared, etc. Thanks!)

If I download what I think is the same distribution and check its sha256, I get the expected value.

[code]

Perhaps there's corruption in your local pip cache? I've seen that happen before.

[2020-06-30 16:39] akshayb7 commented on #8180
Yes that was the reason. Using  `--no-cache-dir`  did the trick. Thank you for your help. Closing the issue now.

(I'll also keep in mind to not post screenshots from now.)

[2020-06-30 16:39] #8180 closed

[2020-06-30 19:57] brainwane commented on #5222
Thanks, @sanjaysiddhanti! What will you be working on next?

[2020-06-30 22:19] di commented on #8040
This should probably include how to pass non-translated values to translated strings, e.g.:

[code]

As well as examples of how to do everything in both the templates and in Python.

[2020-07-01 05:34] sanjaysiddhanti commented on #5222
@brainwane I'm not sure -- do you have any suggestions?

I was working on the spec for https://github.com/pypa/warehouse/issues/8158, but we might be at a blocker there because we don't want to commit such a large file to the git repo and slow everything down.

[2020-07-01 05:34] sanjaysiddhanti commented on #5222
Would be happy to work on any issues you have in mind, or I can look through the open issues

[2020-07-01 15:02] di opened #8186 "Display total project size on project settings page"
We should display the current total size of the project (`Project.total_size`) on the project settings page for all projects, similar to how it is displayed on https://pypi.org/stats

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%9

[2020-07-01 15:06] di opened #8187 "Display file and total project size limits on project settings page"
We should display the current file size limit (`Project.upload_limit`) and total size limit (`Project.total_size_limit`)
on the project settings page for all projects, with external links to https://pypi.org/help/#file-size-limit and https://pypi.org/help/#project-size-limit, respectively.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to

[2020-07-01 15:07] di opened #8188 "Ordering at /stats is incorrect for TestPyPI"
The list at https://test.pypi.org/stats/ is incorrect and lists projects with 0 bytes first:

<img width="736" alt="Screen Shot 2020-07-01 at 10 06 59 AM" src="https://user-images.githubusercontent.com/294415/86260240-a06f1b00-bb82-11ea-8940-4cc7aced95f6.png">

The 0-byte projects should not be included in that list.

---

**Good First Issue**: This issue is good for first time contributors. If yo

[2020-07-01 15:10] di commented on #4440
We should determine whether soft deleting a release/file affects the total project size or not. Might be confusing for users to delete one or more releases but not see the total size decrease.

[2020-07-01 15:33] mdumandag commented on #4064
Any updates on this ?

@di I see that for reStructuredText documents, anchor links are working as expected. For example, see this package. https://pypi.org/project/demandlib/ . I can easily navigate to sections using the table of contents.

[2020-07-01 17:56] di commented on #8033
@ewdurbin you said in chat:

Can you go into more detail here?

[2020-07-01 21:14] brainwane commented on #5222
@sanjaysiddhanti I think you should go ahead and look through the ["help needed" issues](https://github.com/pypa/warehouse/labels/help%20needed)!

[2020-07-02 00:36] di commented on #8158
Ah, I meant call some API from JS, not correlate the user's location from their browser w/ their IP.

Another consideration for not using an API is maintaining privacy, i.e. keeping all the IPs w/in Warehouse.

I think just displaying the  country is probably too vague to be useful.

[2020-07-02 17:55] SanketDG commented on #8158
If you are talking about a REST API (and not a library), wouldn't that also route all the IPs to an external location?

[2020-07-02 23:29] pradyunsg commented on #8158
@di Is there some reason (perhaps legal) that we can't have the Geolite2 or db-ips actual databases in a dependency of warehouse, and not add them into this repository directly?

If we can do that, I feel like we should since we could have it be updated at some appropriate cadence and, more importantly, avoid making the git repository for this project bigger.

[2020-07-02 23:35] di commented on #8158
From https://github.com/pypa/warehouse/issues/8158#issuecomment-649235511:

[2020-07-02 23:36] di commented on #8158
And yes, I'm assuming we wouldn't be allowed to redistribute it.

[2020-07-03 00:27] merwok opened #8197 "warehouse development: can't install protobuf because of hash mismatch"
**Describe the bug**
I cloned warehouse to see the difficulty of migrating it to Pyramid 2.
`pip install -r requirements.txt` failed:

[code]

**Expected behavior**
It is possible to install requirements to hack on warehouse.

**To Reproduce**
git clone warehouse, make a virtualenv, pip install

**My Platform**
n/a

**Additional context**
n/a

[2020-07-03 00:39] di commented on #8197
We don't actually intend for developers to manually install the requirements file like that. From that file:

[code]

You might want to read our development docs to get started: https://warehouse.readthedocs.io/development/getting-started/

[2020-07-03 01:30] merwok commented on #8197
OK!  I’ll adapt the commands from the dockerfile and scripts to see if I can make it work with just a virtualenv.

[2020-07-03 01:30] #8197 closed

[2020-07-03 23:27] strugee opened #8204 "Close the file hashes dialog box if Esc is pressed on the keyboard"
**What's the problem this feature will solve?**

It's annoying to not be able to close the "Hashes" dialog box on package pages via the keyboard (at least, not without hitting Tab a million times). [Example](https://pypi.org/project/wheel/#copy-hash-modal-00fac0d9-361c-40bf-acf3-12bf93359ccf).

Definitely not a major issue, but a papercut that it would be nice to solve nonetheless :-)

**Describe

[2020-07-05 14:27] isik-kaplan opened #8211 "A local alternative to gravatar"
**What's the problem this feature will solve?**
Currently users *have*[1] to have a gravatar account in order to change their profile pictures, which then requires a wordpress account. That is way too much third-party accounts for something as simple as changing your profile picture.

**Describe the solution you'd like**
Ideally users should be able to add either links on image files to pypi, with

[2020-07-05 23:00] youssefavx opened #8212 "[Question] Is there a dataset of all pypi projects with title & description?"
I'm looking for a CSV of all pypi projects which are python 3 and 2 compatible. It seems the website only displays the first 10K results. I want a list of the projects with [Title, Description, Other properties] etc.

The reason I want to do this is I want to generate embeddings for each project description to be able to do a semantic similarity search whenever I need a package.

[2020-07-06 07:50] imsahil007 commented on #8188
How can we add a new empty package while running this locally?

[2020-07-06 15:19] di commented on #8212
Not yet, but this will be possible once https://github.com/pypa/warehouse/issues/7403 is resolved.

One alternative would be to query the [JSON API](https://warehouse.readthedocs.io/api-reference/json/) for every project listed at https://pypi.org/simple/.

Closing as a duplicate of #7403, but thanks for asking!

[2020-07-06 15:19] #8212 closed

[2020-07-06 15:52] di commented on #8188
Hi @imsahil007, you can modify any package from the development shell:

[code]

However I should mention that someone is already working on this issue in #8021 .

[2020-07-06 15:58] di opened #8213 "Project total_size is not updated when a release/file is removed"
In https://github.com/pypa/pypi-support/issues/478 users are saying they have removed files/releases but this is not changing the `Project.total_size` for their project.

[2020-07-06 16:07] imsahil007 commented on #8188
Okay. Thanks for the help though!

[2020-07-06 17:08] ewdurbin commented on #8213
must be a bug in https://github.com/pypa/warehouse/blob/1f834f848ef03660b4c099d75d752a80380d1536/warehouse/migrations/versions/d83f20495c10_handle_null_on_projects_total_size.py#L28

I will be able to take a look later today.

[2020-07-06 17:15] #8188 closed

[2020-07-06 17:21] youssefavx commented on #8212
Thank you so much! Exciting to hear, I'll try that option.

[2020-07-06 17:24] imsahil007 commented on #8187
Hey, @di I have updated the template for this. Which file do I have to update for updating the text value inside the anchor tag?

[2020-07-06 20:37] ewdurbin commented on #8213
Ah, it appears that because the trigger that updates the column is configured on the `release_files` table... but deleting a release operates on the `releases` table, that the trigger is not fired.

This is basically because we are relying on cascaded deletes from the `releases` table to remove the `release_files` row(s).

[2020-07-06 20:55] Safari77 commented on #5583
Fastly has solved nothing.
Telekom: 50 KiB/s, Digital Ocean Frankfurt: 95 MiB/s.
If I use Mullvad VPN with Telekom, I get 3 MiB/s.

[code]

DO:
[code]

[2020-07-07 02:46] #8040 closed

[2020-07-07 07:09] supine commented on #5583
@Safari77 what resolver are you using?

[2020-07-07 08:03] #8213 closed

[2020-07-07 08:20] Safari77 commented on #5583
I was using unbound with dnscrypt-proxy, just now it resolved files.pythonhosted.org to 151.101.241.63 (50 KiB/s).
Without forwarding configured in unbound, I got 151.101.13.63 (9 MiB/s).
:nerd_face: :+1:

[2020-07-07 20:51] di commented on #8187
Re-opening this, I missed that in #8221 it is showing `0 bytes` instead of the default values when a limit is not set.

@imsahil007, can you take a look?

[2020-07-07 20:54] di commented on #7403
Leaving this open until the dataset has been fully backfilled and is ready for use. We should probably update our documentation about the datasets as well.

[2020-07-07 21:00] imsahil007 commented on #8187
I missed that! I checked the values only after updating the limits. I will look into that.

[2020-07-08 00:49] brainwane commented on #726
Hi, @alanbato! How is the feature coming along?

[2020-07-08 06:46] imsahil007 commented on #8187
![Screenshot from 2020-07-08 12-14-13](https://user-images.githubusercontent.com/35963992/86886484-a29e2000-c114-11ea-9b02-04c9f593d476.png)
I think this will close the issue for now.
The default values in the database are set to 0. Even in the admin panel if the value is not there we are printing the warehouse.forklift constants MAX_FILESIZE and so... I used the same approach.

[2020-07-08 19:29] di opened #8229 "Better integration between Celery workers and Sentry"
Right now, exceptions raised in a Celery worker are not reported in Sentry.

We should improve the integration here (possibly along the lines of https://docs.sentry.io/platforms/python/celery/) so that an exception raised in a task is caught by Sentry.

[2020-07-08 19:42] #8187 closed

[2020-07-09 01:09] patelneel55 commented on #8158
Assuming that Warehouse can't store and redistribute the db, there is a public BigQuery table under `fh-bigquery.geocode.201806_geolite2_city_ipv4_locs` which contains the data from geolite2. I'm not sure if this counts but technically its not a API call from JS and ensures that the calls are made from the backend during user events and the addresses stay within Warehouse. https://cloud.google.com

[2020-07-09 05:29] pradyunsg commented on #8158
https://db-ip.com/db/download/ip-to-country-lite is under https://creativecommons.org/licenses/by/4.0/, which does allow redistribution.

That's not the case for Geolite's dB though -- they changed licensing last year for California Consumer Privacy Act (CCPA): https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/

[2020-07-09 16:42] di commented on #8033
Just realized this is a duplicate of https://github.com/pypa/warehouse/issues/5867, so closing in favor of that issue.

[2020-07-09 16:42] di commented on #5867
Some additional discussion is in https://github.com/pypa/warehouse/issues/8033

[2020-07-09 16:42] #8033 closed

[2020-07-09 18:20] stdedos commented on #8033
Whatever makes the issue move forward 😄

[2020-07-09 20:22] VikramJayanthi17 commented on #4440
I have been working on this issue and have run into some challenges. I worked off of @di's WIP [branch]( https://github.com/pypa/warehouse/compare/master...di:soft-deletes?expand=1). We tried 2 approaches and discovered problems with both of them.

**Approach 1:**
- **Method** : Make the `File`, `Release`, and `Project` class inherit a `SoftDeletable` class which adds a `soft_deleted` column. We t

[2020-07-09 20:33] ewdurbin commented on #4440
@VikramJayanthi17 Approach 1 sounds most straightforward to me. I'm not aware of a cache being involved.

Do you have some example code you could share? I'm wondering if perhaps the ObjectDeletedError could be transformed into the correct 404.

[2020-07-09 20:48] VikramJayanthi17 commented on #4440
This is the stack trace:

`Traceback (most recent call last): File "/opt/warehouse/lib/python3.8/site-packages/pyramid_debugtoolbar/panels/performance.py", line 58, in resource_timer_handler result = handler(request) File "/opt/warehouse/src/warehouse/raven.py", line 40, in raven_tween return handler(request) File "/opt/warehouse/lib/python3.8/site-packages/pyramid_tm/__init__.py", line 178, in tm

[2020-07-09 20:49] di commented on #4440
The issue is with our cache-purging mechanism (https://github.com/pypa/warehouse/blob/master/warehouse/cache/origin/__init__.py), specifically that the instance it's trying to generate keys for, which has just been modified, has just been modified in a way that causes it to be excluded from any query due to `before_compile`, so SQLAlchemy thinks something else has removed it from the DB.

[2020-07-09 20:51] ewdurbin commented on #4440
Ah! Thanks for context @di.

@VikramJayanthi17 would you be OK opening a Draft PR from that branch? Easier to comment/track suggestions that way.

[2020-07-09 20:56] VikramJayanthi17 commented on #4440
@ewdurbin @di Created a draft PR #8237

[2020-07-09 23:31] callmecampos commented on #5867
There are a few ways to ensure persistence of session information, and they mostly depend on whether we care about the longevity of these sessions enough that we need to store them outside Redis.

If we don't care too much about the longevity of these sessions, all we need to do is extend the lifetime of the session cookie if the user logs in and selects the "Keep me signed in" checkbox (which can

[2020-07-10 18:01] sanjaysiddhanti commented on #6051
I can work on this issue

[2020-07-10 21:22] callmecampos commented on #8098
Also seeing this when running with GitHub Actions CI.

[2020-07-11 07:22] ewjoachim commented on #6051
I already have a working PR, but you’re welcome to review it. It’s been sitting there for 6 months and I’m not sure what it needs to go forward.

https://github.com/pypa/warehouse/pull/7124

That being said, if you *want* to make your own version, you can, but... it might be more interesting to put hours into work that hasn’t already been done :)

[2020-07-13 09:13] minerllabs opened #8253 "Size increase for PyPI project minerl"
This is a follow-up size increase request from (https://github.com/pypa/warehouse/issues/6241)

Our project minerl is a reinforcement learning simulator which allows its users to train AI agent in Minecraft. We package several jars along with minerl which the python library communicates with to start the simulator, but we need a size increase to enable our next release. **The size target is 350 MB

[2020-07-13 14:05] di commented on #6051
Thanks @ewjoachim, I had missed that entirely. I'll give it a review and see if we can move it forward.

[2020-07-13 17:15] #8229 closed

[2020-07-13 17:56] dstufft opened #8254 "Expose the METADATA file of wheels in the simple API"
Currently a number of projects are trying to work around the fact that in order to resolve dependencies in Python you have to download the entire wheel in order to read the metadata. I am aware of two current strategies for working around this, one is the attempt to use the PyPI JSON API (which isn't a good solution because it's non standard, the data model is wrong, and it's not going to be secur

[2020-07-13 18:08] pfmoore commented on #8254
Sounds like a good idea. It would probably need to be an optional feature of the API, as we need to keep the spec backward-compatible, and really basic "serve a directory over HTTP" indexes might not be able to support the API.

But that is a minor point. Basically +1 from me.

One pip-specific note on timing, though. It looks like pip will get range request based metadata extraction before this A

[2020-07-13 18:21] uranusjr commented on #8254
I agree, it seems like a reasonable solution. If we design how the metadata is listed carefully, it’d likely also be reasonable for the files-in-a-directory use case to optionally implement.

[2020-07-13 18:33] di commented on #8254
What would the filename of this file be? Something like `pip-20.1.1-py2.py3-none-any.whl.METADATA`?

Trying to think of alternatives: since METADATA is already RFC 822 compliant, we could include the metadata as headers on the response to requests for `.whl` files. Clients that only want the metadata could call `HEAD` on the URL, clients that want both metadata and the `.whl` file itself would cal

[2020-07-13 18:40] dstufft commented on #8254
It would also be more challenging for mirrors like bandersnatch to implement, since they don't have any runtime components where they could add those headers, but the bigger thing is header's can't be protected by TUF, and we definitely want this to be TUF protected.

The other option would be to embed this inside the TUF metadata itself, which is a JSON doc and has an area for arbitrary metadata

[2020-07-13 18:47] di commented on #8254
Got it, I wasn't thinking that TUF couldn't protect headers but that makes sense in retrospect.

I don't see any significant issues with the proposal aside from the fact that PyPI will finally need to get into the business of unzipping/extracting/introspecting uploaded files. Do we think that should happen during the request (thus guaranteeing that the `METADATA` file is available immediately afte

[2020-07-13 19:08] dstufft commented on #8254
Within the legacy upload API we will probably want to do it inline? I don't know, that's a great question for whoever writes the actual PEP to figure out the implications of either choice 😄 . https://github.com/pypa/warehouse/issues/7730 is probably the right long term solution to that particular problem.

[2020-07-13 19:31] dholth commented on #8254
Alternatively it might be nice to provide the entire *.dist-info directory as a separable part. Or, going the other direction, METADATA without long-description.

[2020-07-13 19:34] dstufft commented on #8254
I thought about the entire ``.dist-info`` directory. If we did that we would probably want to re-zip it into a single artifact, It just didn't feel super worthwhile to me as I couldn't think of a use case for accessing files other than ``METADATA`` as part of the resolution/install process, which is all this idea really cared about. Maybe there's something I'm not thinking about though?

[2020-07-13 19:42] pfmoore commented on #8254
Agreed, anything other than `METADATA` feels like YAGNI. After all, the only standardised files in `.dist-info` are `METADATA`, `RECORD` and `WHEEL`. `RECORD` is not much use without the full wheel, and there's not enough in `WHEEL` to be worth exposing separately.

So unless there's a specific use case, like there is for `METADATA`, I'd say let's not bother.

[2020-07-13 20:47] dholth commented on #8254
Off the top of my head the entry points are the most interesting metadata not in 'METADATA'

[2020-07-13 23:38] patelneel55 opened #8257 "Platform tag in Release metadata should be represented as a list"
**Describe the bug**

Currently, the platform tag, under the `MetadataForm` in `forklift/legacy.py` and under the `Release` db model, represents a single string identifying the platforms of a release file. However, based on the [core metadata specifications](https://packaging.python.org/specifications/core-metadata/#platform-multiple-use) and [PEP 345](https://www.python.org/dev/peps/pep-0345/#pla

[2020-07-14 14:20] ssbarnea opened #8260 "files.pythonhosted.org can randomly return 503 errors even with 3 retries"
We recently found on OpenStack builds that occasionally requests sent to files.pythonhosted.org can return 503 errors, even 3 times in a raw, causing pip to fail.

For performance and reliability reasons we do have mirrors implemented, but they cannot help when we have a single upstream that returns the same failure.

Example: https://opendev.org/opendev/system-config/src/branch/master/playbooks/r

[2020-07-14 14:41] Chaostheorie commented on #2211
Couldn't this be solved by taking the avatar from github/ gitlab for the project? Or specifying an url?

[2020-07-14 14:48] jkonecny12 opened #8261 "My project name simpleline is rejected"
Hello,

I have a project named simpleline and I wanted to release it on PyPi. However, I've got a message:

[code]

Unfortunately, I don't know why it is not allowed. I can't see the project on PyPi search and I don't think it has a conflict with Python library. Unfortunately, I wasn't able to find a list of prohibited words or how to find out if name was registered if there is no release.

Could

[2020-07-14 15:11] fungi commented on #8260
To be clear, it's not a mirror of PyPI, it's a caching proxy. The 503 responses we saw were for various files and spanned a little over 5 minutes between 10:40:55 and 10:46:19 UTC from two different public clouds in Quebec, Canada. We did not see any similar errors elsewhere globally, leading me to suspect the issue could be limited to one of the Fastly CDN endpoints in the Quebec area.

[2020-07-14 15:15] dstufft commented on #8260
So is this a recurring issue, or did it only occur during that 5 minute period? I do see a short blip where all of Fastly went to "degraded performance" on their status page this morning.

[2020-07-14 15:26] fungi commented on #8260
According to our proxy logs, this is the only occurrence over the past two weeks.

[2020-07-14 15:28] di commented on #8260
Seems like this is almost definitely https://status.fastly.com/incidents/f7hg0w5c078c then, which lasted from 10:42 UTC until 11:05 UTC.

[2020-07-14 15:54] ssbarnea commented on #8260
While I doubt that there is something PYPA can do to make fastly be 100% reliable, I think that documenting a fallback server to be used could be a viable measure to ameliorate CDN flakiness. What do you think? It can be something very-very slow, also its log could prove as very useful source of information regarding how often the CDN misbehaves.

[2020-07-14 15:54] ofek commented on #8254
Are we expecting to backfill metadata for a few versions of popular projects, particularly those that aren't released often?

[2020-07-14 16:02] di commented on #8260
PyPI has no SLA on uptime. Generally if the potential for this kind of flakiness is disruptive for you, we recommend hosting your own mirror (https://packaging.python.org/guides/index-mirrors-and-caches/ has details).

But it seems like you're maybe already doing that? Why did the mirror need to reach upstream for this particular install? Generally a mirror would only claim to host the distributio

[2020-07-14 16:07] ewdurbin commented on #8260
Another issue with fallback would be that people would begin to just point at that rather than our CDN :/

Currently everything that could/would act as a publicly available fallback has very high costs for bandwidth that we need to reserve for CDN to backend. If users began using the fallback exclusively it would make managing our costs difficult.

[2020-07-14 16:18] fungi commented on #8260
To reiterate my earlier comment, "it's not a mirror of PyPI, it's a caching proxy."

We did run a PyPI mirror network at one time, and were one of the driving communities behind a number of improvements in bandersnatch, but once projects like tensorflow started uploading nightly datasets and ballooned the storage requirements by an order of magnitude we had to stop. Switching to maintaining caches

[2020-07-14 16:24] dstufft commented on #8260
I'm going to go ahead and close this issue even though I asked the reporter to open it. I was under the impression that this was a long standing issue with intermittent 503 errors and wanted an issue to track them and determine if we could do something to fix those issues.

However, given that this was just a temporary outage and not a long standing intermittent problem, I don't believe that there

[2020-07-14 16:24] #8260 closed

[2020-07-14 16:42] ssbarnea commented on #8260
I am 100% sure I seen multiple similar 503 issues over the last year and I doubt the CDN used a [retry-after](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After) header when it did this because, clearly pip still failed in the end.

I could attempt to add a task that grep the logs and auto-create a bugs whenever I receive a 503? Would this motivate PYPA to do consider it as a re

[2020-07-14 16:56] dstufft commented on #8260
it is non trivial to operate another package repository that can withstand the traffic that PyPI gets yes. For one if these are truly intermittent errors, then by the time the user plumbs in the fallback index into their command then it will have resolved itself. The other option is to have it always configured in pip all the time, but that is a non trivial amount of traffic that we would have to

[2020-07-14 18:31] merwok commented on #2211
Adding a project image in the packages would require a new version of the Metadata spec.  It’s a high cost.

Image scraped from a project-URL (what you seem to suggest with the mention of github/gitlab) seems fragile: it’s implicit, could give unwanted result, and so would still require a page with options to control it.

The PyPI team seemed to prefer the other approach (see previous comments): s

[2020-07-14 20:16] Chaostheorie commented on #2211
@merwok that seems like the better idea. Thank you for the explanation.

[2020-07-14 21:15] pradyunsg commented on #8254
I quite like it. :)

:+1: I really like that this makes it possible for static mirrors to provide this information! :)

@abn @finswimmer @stephsamson

---

My main concern is the same as @ofek -- how does this work with *existing* uploads? Would it make sense for PyPI to have a "backfill when requested" approach for existing uploads?

[2020-07-14 21:42] di commented on #3492
This is due to these lines:

https://github.com/pypa/warehouse/blob/0c9ffd5ccb2171dd6141e5cf69409df3249ad805/warehouse/tasks.py#L54-L55

Celery is using `obj.__header__` to check arguments: https://github.com/celery/celery/blob/bf6139bf651b20bc04b895a5f6eb8d50320bc252/celery/app/task.py#L524-L529

Normally this would be something like:

[code]

But by overriding `__header__` with a partial, it's t

[2020-07-14 22:01] di commented on #8254
I think we'd just backfill this for every `.whl` distribution that has a `METADATA` file in it?

[2020-07-14 23:00] dstufft commented on #8254
Yea. It would take some time but we would presumably just do a backfill operation.

Sent from my iPhone

[2020-07-14 23:06] chrahunt commented on #8254
In pip at least we extract and parse `WHEEL` first, to see if we can even understand the format of the wheel. In a future where we actually want to exercise that versioning mechanism, if we make `WHEEL` available from the start then we can avoid considering new wheels we wouldn't be able to use. If we don't take that approach then projects may hesitate to release new wheels because it would cause

[2020-07-15 03:09] trishankatdatadog commented on #8254
Great idea! In fact, we should be able to list this `METADATA` as yet another TUF targets file, and associate it with all of its wheels using [custom targets metadata](https://github.com/theupdateframework/specification/blob/master/tuf-spec.md#4-document-formats)... @woodruffw @mnm678

[2020-07-15 06:51] Rameshaaa opened #8266 "Getting Error as "ValueError: Zip does not support timestamps before 1980" while installing Setuptools-scm Pypi"
**Describe the bug**

Am working on Client machine where i don't have access for external severs. So i have to download the packages from Python websites and extract the zip-files and i have to install the packages in my machine by passing a command "python setup.py install in Command prompt. First two packages (Selenium and urllib3) working fine in my machine and setup also good.

I have try to i

[2020-07-15 10:23] jamadden commented on #8266
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there. You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page; in this case it is https://github.com/pypa/setuptools

[2020-07-15 10:23] #8266 closed

[2020-07-15 13:24] dstufft commented on #3492
I have no memory of why that is, and looking into the PR doesn't bring back any memories, sorry.

[2020-07-15 13:57] woodruffw commented on #8254
Yep! This should be doable, as long as it's part of (or relationally connected to) the `Release` or `File` models.

[2020-07-15 14:00] dstufft commented on #8254
What information do you need stored in the DB? In my head I just assumed it would get stored alongside the file in the object store. I guess probably the digest of the ``METADATA`` file?

[2020-07-15 14:03] woodruffw commented on #8254
Yep, exactly. We wouldn't need the `METADATA` filename itself stored, assuming that it can be inferred (i.e. that it's always `{release_file}.METADATA`).

[2020-07-15 17:12] di commented on #3264
@rascalking Any updates here? Are you still working on this?

[2020-07-15 18:08] tyarkoni opened #8270 "Uploaded version listed as latest on version-specific page, but not updating in project listing"
I just uploaded a new version of a package (pliers 0.4.0) to PyPI; I had no trouble with the upload, and haven't changed anything packaging-related since 0.3.0 as far as I know. I get the following rather strange behavior:

* https://pypi.org/project/pliers/0.4.0/ correctly lists 0.4.0 as the latest version
* https://pypi.org/project/pliers/ points to 0.3.0 and says that 0.3.0 is the latest veriso

[2020-07-15 18:10] dstufft commented on #8270
I'm guessing this was broken by https://github.com/pypa/warehouse/pull/8269 which is causing purges to fail right now in sentry.

[2020-07-15 18:12] tyarkoni commented on #8270
Got it, thanks. I'll check back in a few hours and will close if it's resolved.

[2020-07-15 18:14] di commented on #3492
Turns out the rest of our tasks rely on this argument existing, for example:

[code]

[2020-07-15 18:17] Metalkiler commented on #8270
I was getting scared that my package was not being updated by my fault since I launched the version 2.0.0 of my package (cane) and it lists 0.0.1.7.6.2 as the lastest one

[2020-07-15 18:20] di commented on #8270
This should be fixed by #8271. The issue is that CDN purges were temporarily failing.

If you find a page that is seemingly out of date, you can force a purge with:

[code]

Otherwise these should naturally fall out of the cache over the next 24 hours.

[2020-07-15 18:20] #8270 closed

[2020-07-15 20:18] PatMyron commented on #8270
@di seems to be [issues beyond outdated pages](https://github.com/aws-cloudformation/cfn-python-lint/issues/1624)

[2020-07-15 20:20] dstufft commented on #8270
You might have to PURGE ``https://pypi.org/simple/cfn-lint/`` as well.

[2020-07-15 20:49] Metalkiler commented on #8270
My package still says the same if you check https://pypi.org/simple/cane/#description

Although I released a cane2.0.0 but it is saying that not exists

[2020-07-15 21:03] di commented on #8270
@Metalkiler I just ran `curl -XPURGE https://pypi.org/simple/cane/` and it's now updated.

[2020-07-16 16:40] jku opened #8277 "TUF implementation should consider blessing distribution mirrors"
(Filing this based on discussion with @woodruffw)

**What's the problem this feature will solve?**

Currently clients when downloading distributions will take URLs they find in `https://pypi.org/simple/<project>/` and download them -- from whatever host the URL happens to point to.

**Describe the solution you'd like**

Once TUF is in use we may want to use the verified metadata we are already pas

[2020-07-16 16:49] jku commented on #8277
It should probably be noted that reproducing pypi.org (let's say a company internal mirror with only curated upstream distributions available) might work pretty well with TUF... but the addition I suggest would break this case. Nothing a little client configuration couldn't fix but this may be worth considering (no idea if this a common use case)?

[2020-07-16 17:11] dstufft commented on #8277
A lot of companies mirror PyPI yes, there is tooling for doing that at https://pypi.org/project/bandersnatch/ that we wouldn't want to break.

[2020-07-16 20:16] santaimpersonator opened #8280 "Organization level account"
**What's the problem this feature will solve?**
This feature would provide additional project management of collaborators to organizations/companies. Similar to the organization accounts that GitHub provides:

For additional context, see the link for GitHub organization accounts, below.

**Describe the solution you'd like**
Th ability to manage collaborators on individual projects and broadly acro

[2020-07-16 20:18] di commented on #8280
Thanks for the request! This is a duplicate of #201.

[2020-07-16 20:18] #8280 closed

[2020-07-16 20:20] santaimpersonator commented on #8280
@di Ahh... sorry about that. I should have scrolled back further when searching for "organization".

[2020-07-17 14:34] djmitche opened #8281 "Markdown long description parsed as rst on py3 upload"
[code]

So the upload works just fine for py2, but not for py3.  The setup.py has

[code]

[2020-07-17 14:39] di commented on #8281
Can you attach the distribution you're trying to upload here?

[2020-07-17 14:50] djmitche commented on #8281
https://github.com/taskcluster/taskcluster-lib-urls/blob/master/setup.py (or did you mean to attach the file itself?)

[2020-07-17 14:52] di commented on #8281
The file itself, thanks!

[2020-07-17 17:42] djmitche commented on #8281
[taskcluster_urls-13.0.1-py3-none-any.whl.gz](https://github.com/pypa/warehouse/files/4939289/taskcluster_urls-13.0.1-py3-none-any.whl.gz)

(GitHub wouldn't handle the .whl, so I gzipped it)

[2020-07-17 17:52] djmitche commented on #8281
I see that that contains a `DESCRIPTION.rst`, although `METADATA` contains `Description-Content-Type: text/markdown`

[2020-07-17 18:08] di commented on #726
After experimenting with @alanbato on this today, we determined this should be `--extra-index-url` instead, so the "draft"/obfusticated index only needs to include the draft release of the draft package, and doesn't need to include every other package available.

(@ewdurbin originally said this [here](https://discuss.python.org/t/feature-proposal-for-pypi-draft-releases/3903/17?u=dustin))

[2020-07-17 18:58] di commented on #8281
The issue is that the wheel was built with `wheel==0.30.0`:

[code]

This results in producing metadata with version 2.0 of the spec:
[code]

The `Description-Content-Type` field is not supported until version 2.1: https://www.python.org/dev/peps/pep-0566/

You should update to `wheel>=0.31.0` and rebuild your distribution.

[2020-07-17 20:17] dstufft opened #8285 "Allow blocking uploads based on uploader version or what generated the artifact"
It's not a *a lot* of people, but it seems like there is a fairly regular stream of people who try to upload something to PyPI that takes advantage of some new metadata feature, have that upload successful, and then PyPI appears to be completely ignoring their use of this new feature.

Typically these folks tend to believe there is a bug in PyPI, and then file issues reporting said bug.

Ideally t

[2020-07-18 17:10] djmitche commented on #8281
Great success!  I think I missed that my py3 environment had an old wheel.  Thank you!

[2020-07-18 17:10] #8281 closed

[2020-07-20 04:19] mahanthkj opened #8290 "guietta error"
Python version used : 3.7

kindly help to resolve this issue.
script :
from guietta import _, Gui, Quit

gui = Gui(

  [  'Enter numbers:', '__a__'  , '+' , '__b__',  ['Calculate'] ],
  [  'Result:  -->'  , 'result' ,  _  ,    _   ,       _        ],
  [  _               ,    _     ,  _  ,    _   ,      Quit      ]
)

with gui.Calculate:
    gui.result = gui.a + gui.b

gui.run()

### **Error:**
C:

[2020-07-20 04:26] di commented on #8290
Hi, this issue tracker is for issues with the codebase behind https://pypi.org itself, not the projects hosted on PyPI.

You should report this issue to the tracker for the project in question instead.

[2020-07-20 04:26] #8290 closed

[2020-07-20 07:05] segevfiner opened #8292 "Unable to access PyPI's CDN (files.pythonhosted.org) on macOS with IPv6 connectivity"
**Describe the bug**
I'm unable to use pip to install any packages due to it failing to access PyPI's CDN (files.pythonhosted.org), and sometimes PyPI itself, on macOS with IPv6 connectivity (Enabled & available on the network, this is a true dual-stack network, with both real IPv4 & IPv6 address, I know, right? An actual ISP that does that)

The socket gets immediately closed on connection which

[2020-07-20 10:23] jamadden commented on #8292
Hi! Could you please open this issue in https://github.com/pypa/pypi-support/issues using the "Network Access Issue" template? That requests some information that helps debug the problem.

FWIW, I'm in the same situation (IpV4 nat, public IPv6) on macOS and haven't experienced this problem, so it's not universal.

[2020-07-20 10:23] #8292 closed

[2020-07-20 12:29] mahanthkj commented on #8290
I am not sure if you can help me to find the guietta project tracker .

Thanks in advance !!

[2020-07-20 12:39] jamadden commented on #8290
On the [PyPI project page for guietta](https://pypi.org/project/guietta/) look in the left column for the link to 'open issues'.

[2020-07-20 17:47] #8186 closed

[2020-07-21 08:02] ewjoachim opened #8299 "Using undeclared dependency attrs"
**Describe the bug**

From @di

Regarding:
https://github.com/pypa/warehouse/blob/b344984ee83126eb6fc541406d1f34719fad8b6b/warehouse/email/services.py#L36

(source: https://github.com/pypa/warehouse/pull/7124#discussion_r453729298)

**Expected behavior**

attrs should be added in main.in OR removed from the codebase.

[2020-07-21 14:50] di commented on #8299
I've added the "good first issue" label to this issue.

I also said on that comment:

[2020-07-21 15:47] ewjoachim commented on #8299
Ah, I didn't know if it applied here too ! :)

[2020-07-21 16:03] jwodder opened #8300 "Add styles for rST admonitions"
reStructuredText includes a number of [admonition directives](https://docutils.sourceforge.io/docs/ref/rst/directives.html#admonitions) that should be typically rendered "as an offset block in a document, sometimes outlined or shaded"; however, Warehouse currently does no special styling of admonitions in project descriptions, having them instead show up as just plain text, with even the admonitio

[2020-07-22 14:58] di commented on #8002
Hi @erlend-sh, @eskombro, any updates here?

[2020-07-23 09:15] erlend-sh commented on #8002
I'm quite sure MeiliSearch can work fine without JS, but @eskombro will have to confirm.

Once that's cleared up, what are the next steps here? Could a clone of pypi.org be set up as a staging site? Like meilisearch.pypi.org.

[2020-07-23 11:01] eskombro commented on #8002
Indeed, the demo was done to show the idea of search-as-you-type experience, and this requires javascript enabled on the client. But as you point out, that is just the nature of the demo. Disabling JS shouldn't have any impact on the way MeiliSearch behaves, and this would be just a front-end matter we can solve easily with a different implementation.

Exactly!

[2020-07-23 17:23] di commented on #7403
Quick update here: this has been enabled for PyPI and TestPyPI. The backfilling has been completed for TestPyPI and is in progress for PyPI.

Once the backfilling is complete, we can merge https://github.com/pypa/warehouse/pull/8240 (documentation updates) and this issue should be complete.

[2020-07-23 22:40] di commented on #8002
I think we were waiting on a few things to move forward:

* availability of hosted meilisearch
* release of faceted search

I think next steps would be determining where we need to host Meilisearch, and then starting to develop this in a feature branch.

We could potentially spin up a staging site -- what would be the goal for that? We also have https://test.pypi.org/ which we could use, as long a

[2020-07-24 15:29] woodruffw commented on #8098
I've seen the double-free with `gulp dist` a few times locally.

[2020-07-25 09:10] graingert opened #8318 "redirect loop when uploading package named bleach_allowed_list followed by bleach-allowed-list"
**Describe the bug**

redirect loop on the URL: https://pypi.org/project/bleach-allowed-list/
after uploading package named bleach_allowed_list followed by bleach-allowed-list
it's fixed now, because I deleted the bleach_allowed_list release.

**Expected behavior**
no redirect loop

**To Reproduce**
^

**My Platform**
N/A
**Additional context**

[2020-07-25 09:12] graingert commented on #8318
I tried it again here, but I can't repeat it :( https://pypi.org/project/bleach-allowlist/0.0.0a2/ https://pypi.org/project/bleach-allowlist/0.0.0a0/

[2020-07-25 10:24] fbidu commented on #8104
Hello all! I'll try and tackle this issue today at EuroPython Sprints! Hopefully I'll have a patch ready soon

[2020-07-25 10:50] fbidu commented on #8098
Just hit the double-free twice. Trying to rebuild now and see if it works

[2020-07-25 16:49] andy-z opened #8321 "Search by package name returns no matches"
**Describe the bug**
Searching package on pypi.org by its full name returns zero results for package `pyemf`:

    0 projects for "pyemf" Did you mean 'pyamf'?

Searching for `pyemf` in Google returns PyPI link as first result: https://pypi.org/project/pyemf/

**Expected behavior**

PyPI should be able to find a package.

**To Reproduce**

Click https://pypi.org/search/?q=pyemf

**My Platform**

W

[2020-07-25 21:16] eamanu commented on #1981
Hi! I will try to work on this issue today on EuroPython Sprints :)

[2020-07-26 19:52] eamanu commented on #8321
Hi! I would like to work on this if there any objection :)

[2020-07-27 10:15] erlend-sh commented on #8002
Okay, great. We will set up a hosted instance of MeiliSearch shortly. Can you get that feature branch started and link it here?

[2020-07-27 14:25] di commented on #8321
It seems like the package is not in the search index for some reason. One thing we could do to help here would be to provide a way for PyPI administrators to trigger the `reindex_project` task from the Admin UI:
https://github.com/pypa/warehouse/blob/12c2b81b190c6bff5c1664d44879e6eca1135a68/warehouse/search/tasks.py#L229-L250

[2020-07-27 14:42] di commented on #8002
Feature branch is here: https://github.com/pypa/warehouse/tree/meilisearch

[2020-07-27 20:17] Mic92 commented on #7403
Could it be exported to wikidata?

[2020-07-27 20:19] Mic92 commented on #1478
There is a different scraper for this now: https://github.com/DavHau/pypi-crawlers. But it also takes quite a while to download everything: https://github.com/DavHau/nix-pypi-fetcher

[2020-07-27 20:20] Mic92 commented on #1478
Are there backup scripts available. Maybe they could be modified to upload some tables to s3 or though?

[2020-07-27 21:45] di commented on #1478
Quick update here: #7403 is nearly complete (just backfilling historical metadata) so depending on what you want to do with the data, that may be ready soon.

What's the use case for this? There seem to be a couple different use cases in this issue. OP was trying to reduce the load on the API which is not a concern for us, we would prefer you use the API in that use case.

We have backups but they

[2020-07-27 21:52] Mic92 commented on #1478
The usecase is the same as the OP. We want to bulk import all python packages in all version/source hashes with all dependencies to build alternative packaging tools based on Nix.

[2020-07-27 21:59] di commented on #1478
There is no such limit on the JSON API, what is making you think this limit exists? We are talking about the [JSON API](https://warehouse.readthedocs.io/api-reference/json/), correct?

[2020-07-27 22:19] Mic92 commented on #1478
@FRidh said in https://github.com/pypa/warehouse/issues/1478#issuecomment-306050637

but maybe this is not true anymore?

[2020-07-27 22:38] di commented on #1478
Sorry, I missed that. It's definitely not true anymore. It's possible that it was true at the time, we switched to an entirely new implementation of PyPI in April 2018, but I don't recall.

[2020-07-27 23:45] altendky opened #8330 "PyQt5 and PySide2 wheels sometimes fail hash checks after incomplete download"
**Describe the bug**
PyQt5 and PySide2 wheels sometimes fail pip's hash check even when I didn't specify any hash for them to match.  I started observing this in GitHub Actions CI a few days back and then once in the triggered Read the Docs build as well.  I subsequently recreated it locally by just putting an install in a loop.  I'll ballpark the frequency at one in a hundred installs failing.  W

[2020-07-28 00:47] di commented on #8330
Looks like https://github.com/pypa/pip/issues/8510 might be an existing issue in the pip issue tracker.

Generally this is due to network connectivity issues, however I'm not sure that pip should be attempting to hash-check the download if it clearly hasn't completed downloading, that's somewhat confusing.

FWIW I ran your script and could not reproduce this.

[2020-07-28 07:45] FRidh commented on #1478
There is by the way another use case https://github.com/repology/repology-updater/issues/278.

[2020-07-29 19:55] altendky commented on #8330
I'm trying with both pip and wget right now and they are all succeeding.  Same as 'the other night' when I tried this.  Though I did have both a GHA and an RTD failure recently.  Anyways, if anyone has more info I could try to provide I'll see what I can do.  I'll follow up if I can get any more failures locally.

@di, thanks for looking and trying to recreate it.

[2020-07-30 02:00] altendky commented on #8330
I don't know that these are of any help but here are a few failures I've capture locally.  I don't have a failure rate for these local runs but it's not particularly often.  On the other hand, for a bit in GitHub Actions it was every other build or so (each with 24+jobs downloading either PyQt5 or PySide2).  The first one seems like something else I figure.

[code]
[code]
[code]
https://github.com

[2020-07-30 13:21] csalazar-rj opened #8346 "Trying to register my package at pypi"
**Describe the bug**
I am trying to register my package with command below:

I inform the login and password, then:

Registering validador to https://upload.pypi.org/legacy/
Server response (500): <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>

**Expected behavior**
Get my package registered

**To Reproduce**

**My Platform**

I have a MacBookPro 13"

**Add

[2020-07-30 13:52] eskombro commented on #8002
Thanks @di

I did already fork the project and set up the environment, and I'm exploring it a bit. I think next week I can start working on this. How would you like to proceed with this feature development?