[2019-04-03 18:48] rsyring commented on #5586
Keep in mind that with my proposal, SMS only allows you to cancel account recovery, it doesn't verify anything.  If an attacker hacked your phone account, they would have to keep it longer than the waiting period so that you wouldn't get the cancel notification by text.  Assuming anyone would notice and rectify that their phone no longer worked in 30? days, then I don't see how using SMS in this f

[2019-04-03 18:57] woodruffw commented on #5586
Yep, I think I misunderstood! In that scenario, SMS would be just fine.

[2019-04-03 20:26] nlhkabu commented on #5586
So, based on what I'm reading here:

1. we are comfortable with making recovery codes optional
1. we are prepared to offer users manual account recovery (this will require us to change the proposed help text above, which currently reads "The PyPI team cannot manually grant you access to your account.")
1. we need to define a manual account recovery process

@di @ewdurbin @woodruffw do you agree wi

[2019-04-03 20:51] di commented on #5661
If we want to roll out to TestPyPI first, we'll probably want to feature-flag this feature, which would be a bit of work.

It might be preferable to do a true "beta" on PyPI instead, with a limited group of users. This could just be a boolean field on the `User` model that enables the feature, which we set in the admin UI. And we could just skip this check and enable it for all TestPyPI users, and

[2019-04-03 20:57] ewdurbin commented on #5661
+1 to this approach.

[2019-04-03 20:59] woodruffw commented on #5661
It should be relatively easy to add a fallback here: we can display the `otpauth://` URL directly, and the user can copy-and-paste that into their TOTP application or use their QR generator of choice. Right now that URL is only available via the `aria-label` of the canvas that we render the QR in, but that wouldn't be hard to change at all. (Sidenote: I'm not a frontend developer at all, so I have

[2019-04-04 03:21] sanpingz commented on #5537
@johannes Don't know how to transfer but I just added **mysql_re_team** as owner.

[2019-04-04 04:58] kmaehashi opened #5665 "Request for size limit increase for CuPy packages"
Hello,

I'm maintaining packages for [CuPy](https://github.com/cupy/cupy), and would like to request size limit increase for the following packages to distribute wheels.

* `cupy-cuda90`, `cupy-cuda91`, `cupy-cuda92`: 350 MB
* `cupy-cuda100`, `cupy-cuda101`: 400 MB

These packages currently have limit of 300 MB / 350 MB respectively.
This is a re-request of size increase due to the increased size

[2019-04-04 13:26] thedrow opened #5667 "Request trove classifier: Framework :: Celery"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Celery`

## Why do you want to add this classifier?
Celery is very widely used in the Python community. Github has many repositories [tagged](https://github.com/topics/celery) with Celery.
It has some projects related to it which are not maintained by the Celery team such as [redbeat](https

[2019-04-04 14:06] #5537 closed

[2019-04-04 14:48] jamadden commented on #5667
Hi! Thanks for the request. The PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Currently, we're looking at these guidelines:

* New framework classifiers should be created if they are "notable;" and
* They will be of immediate use to existing projects (in other words, no creating classifiers simply in anticipation of future uses)

W

[2019-04-04 16:08] thedrow commented on #5667
It is reasonable although it requires some work:

- [Celery-Haystack](https://github.com/django-haystack/celery-haystack)
- [RapidSMS](https://github.com/rapidsms/rapidsms)
- [django-celery-email](https://github.com/pmclanahan/django-celery-email)
- [redbeat](https://github.com/sibson/redbeat)
- [flower](https://github.com/mher/flower)
- [celery-once](https://github.com/cameronmaske/celery-once)
-

[2019-04-04 17:13] ewdurbin commented on #5586
@nlhkabu that sounds like a great gameplan to me.

[2019-04-04 20:40] di commented on #3106
[As of version 2.8, the `psycopg2` package no longer publishes built distributions for manylinux.
](https://twitter.com/pauloxnet/status/1113812172516352001)

We'll probably want to switch to `psycopg2-binary` to avoid building from source.

[2019-04-05 11:37] rezakamalifard commented on #5599
It seems there is an issue in the TLS handshake process which is related to your network.

[2019-04-05 12:43] jamadden commented on #5667
Thank you! Do you know if all of those are published to PyPI? By "less active" do you mean "unlikely to have a new release"?

I'd like to give this a little time for other PyPI moderators to have a chance to look at it, and for other maintainers to have a chance to voice their support for this new classifier. I think the default option we're leaning towards for new framework classifiers is somethi

[2019-04-05 12:49] jamadden commented on #4110
Hi! Thanks for the request. It's been almost a year (apologies for the lack of communication); are you still interested in having classifiers added?

If so, the PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we

[2019-04-05 12:50] jamadden commented on #4158
Hi! Thanks for the request. It's been almost a year (apologies for the lack of communication); are you still interested in having classifiers added?

If so, the PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we

[2019-04-05 12:51] jamadden commented on #5156
Hi! Thanks for the request. It's been several months (apologies for the lack of communication); are you still interested in having classifiers added?

If so, the PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think w

[2019-04-05 12:54] jamadden commented on #5553
Hi! Thanks for the well written request. The PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we're expecting the bar to add new ones to be relatively high. Currently, we're looking at these guidelines:

* New fr

[2019-04-05 12:57] jamadden commented on #5628
Hi! Thanks for the well written request.

The PyPI moderators are in the process of developing a few guidelines for the creation of new Framework classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we're expecting the bar to add new ones to be relatively high. Currently, we're looking at these guidelines:

* New f

[2019-04-05 13:24] jamadden commented on #5665
I've set the upload limit for all 5 projects to 400MB on PyPI.

[2019-04-05 13:24] #5665 closed

[2019-04-05 13:34] FinalAngel commented on #4158
Hello @jaystino, thank you very much for your feedback!

We are still very interested in having these classifiers added as django CMS is still one of the largest packages used that is based on Django. We also see other similar CMS present and would like to improve the experience for our users there by adding the necessary classifiers to our addons-ecosystem.

We have several addons available where

[2019-04-05 14:51] thedrow commented on #5667
Unlikely to have a new release.
I think all of those packages are on PyPi.

[2019-04-05 17:45] tbekolay commented on #5628
Hi @jamadden, I definitely appreciate that the list of Trove classifiers needs to be kept short enough to browse. There might be some opportunities to improve the browsing experience since the classifiers are inherently hierarchical, so for example on [this page](https://pypi.org/classifiers/) having some sub-classifiers (e.g. the version-specific ones) collapsed but expandable might help (though

[2019-04-05 19:00] arvoelke commented on #5628
Weighing in as a contributor to core Nengo and maintainer of NengoLib. I think the case for being "of immediate use to existing projects" is clear, given the number of actively maintained projects within the Nengo ecosystem. I would certainly use the classifier within my project(s). But it would help to know of any other guidelines for notability. @tbekolay addressed many potential considerations

[2019-04-05 22:50] giovannipizzi commented on #5553
Dear Jason,
thanks a lot for the detailed reply.

On "notability", as you mentioned, we've already provided (hopefully) enough information. Let me also add that the scientific paper has been already cited over 80 times.

For the second request, here is a non-exhaustive list of some of the plugins using AiiDA that could benefit of the new Trove classifier. I put name with link to the PyPI project,

[2019-04-05 22:52] ltalirz commented on #5553
maintainer of [aiida-zeopp](https://pypi.org/project/aiida-zeopp/) here - looking forward to using the classifier!

[2019-04-05 23:05] sphuber commented on #5553
Thumbs up from me for the [aiida-quantumespresso](https://github.com/aiidateam/aiida-quantumespresso) and [aiida-codtools](https://github.com/aiidateam/aiida-codtools) plugins

[2019-04-06 05:41] espenfl commented on #5553
Maintainer of [aiida-vasp](https://github.com/aiida-vasp/aiida-vasp) here. Thumbs up from me as well.

[2019-04-06 08:39] anjos commented on #5156
Thx for your feedback.  Hopefully, we can do a mix of both?

PyPI projects that are there, currently:

* https://pypi.org/project/beat.backend.python/ (BSD)
* https://pypi.org/project/beat.core/ (BSD)
* https://pypi.org/project/beat.cmdline/ (BSD)
* https://pypi.org/project/beat.editor/ (BSD)
* https://gitlab.idiap.ch/beat/beat.web/ (AGPLv3) - currently not on PyPI, but will be distributed there a

[2019-04-06 09:20] zhubonan commented on #5553
maintainer of [aiida-castep](https://gitlab.com/bz1/aiida-castep) here - I support the request and is looking forward to using the classifier!

[2019-04-06 11:35] chrisjsewell commented on #5553
thumbs up from [aiida-crystal17](https://github.com/chrisjsewell/aiida-crystal17/)

[2019-04-06 11:38] tiagofrepereira2012 commented on #5156
Hi guys,

I'm a developer of one of the BEAT components and I do confirm I'll be using the new trove classifier.

[2019-04-06 14:37] yakutovicha commented on #5553
Maintainer of [aiida-cp2k](https://github.com/aiidateam/aiida-cp2k) here. Thumbs up from me as well.

[2019-04-06 16:54] yeraydiazdiaz commented on #4001
Hello @dfee, sorry for the delay on processing this request.

I've tried contacting Mark by email and hopefully he will come back to us soon regarding your claim.

As you mention the project has a single empty release which falls under [the name squatting bullet point of invalid projects category in PEP 541](https://www.python.org/dev/peps/pep-0541/#invalid-projects). If it's ok with you we'll giv

[2019-04-06 17:10] yeraydiazdiaz commented on #4057
Hello @charlsagente, sorry for the delay in processing this request.

Expanding on what @ewdurbin commented, the project `python-setting` currently has no releases and therefore falls under name squatting in the ["Invalid projects" section of PEP 541](https://www.python.org/dev/peps/pep-0541/#invalid-projects) and thus is subceptible for removal.

I've sent an email to @mkurek regarding your claim

[2019-04-06 17:19] mkurek commented on #4057
@yeraydiazdiaz feel free to delete/transfer this project on pypi 😉

[2019-04-06 17:26] 183amir commented on #5156
I'm a developer of the BEAT framework as well and can confirm I'll be using the new trove classifier. Thank you.

[2019-04-06 19:34] charlsagente commented on #4057
Awesome guys, thanks for the help

[2019-04-06 19:39] yeraydiazdiaz commented on #4057
Thanks for responding so quickly @mkurek.

If @charlsagente can verify the PyPI username it might be best to add him as an owner of the project yourself if you don't mind. We prefer this so transferrals are between users and moderation is minimised.

[2019-04-07 06:17] PhilippRue commented on #5553
Thumps up in the name of [aiida-kkr](https://github.com/JuDFTteam/aiida-kkr) as well.

[2019-04-07 19:49] mkurek commented on #4057
@charlsagente i've made you an owner of python-settings project on pypi.

[2019-04-08 06:33] smarcel commented on #5156
I'm a developer of a BEAT framework component and confirm I'll be using the new trove classifier as soon as it is available in there?

[2019-04-08 06:56] broeder-j commented on #5553
Also thumps up from me in the name of [aiida-fleur](https://github.com/JuDFTteam/aiida-fleur).

[2019-04-08 09:17] erubiano commented on #5598
We have solved the problem in a different manner. We do not need more capacity.
Thank you anyway. Please close this issue.

[2019-04-08 09:17] #5598 closed

[2019-04-08 11:04] somsom1989kangs opened #5681 "keypad.registerKeyPressHandle"
am having a problem with this part of the programme(keypad.registerKeyPressHandle) in that when i run it, it first produce a none value before it gives the pressed values on the keypad. now when it come to compare the value with a predetermined password, the outcome is wrong because it present the none (the first value it obtained before the pressed ones)

[2019-04-08 12:26] gbdlin opened #5682 "Document project URLs icons"
**What's the problem this feature will solve?**
Right now there is no way to know how project URLs will be handled. There is some logic that automatically assigns an icon to URLS, but no easy way to find out what icons are available and what to expect.

**Describe the solution you'd like**
Basically, document [this](https://github.com/pypa/warehouse/blob/5cd92a3ecff5db2d04ba4c951830deceb34ed235/wa

[2019-04-08 12:34] gbdlin opened #5683 "Explicit way to choose icons for Project URLs"
**What's the problem this feature will solve?**
Right now, there is [logic](https://github.com/pypa/warehouse/blob/5cd92a3ecff5db2d04ba4c951830deceb34ed235/warehouse/templates/packaging/detail.html#L20-L54) that tries to guess appropriate icon for each Project URL displayed in the sidebar. There are ways to use this logic to display one of the icons included in the logic mentioned above, but this

[2019-04-08 14:10] jamadden commented on #5681
Thanks for the report, but unfortunately this is the wrong tracker for it. This tracker can only help with issues related to the software that runs https://pypi.org itself. It cannot help with packages distributed from or installed from there. For that, you'll need to contact the maintainers of the specific package you're having trouble with.

[2019-04-08 14:10] #5681 closed

[2019-04-08 14:51] sgaist commented on #5156
Hi, I am the current maintainer of the BEAT project and I can confirm the use of the trove classifier.

On an additional note, the beat.backend.python package is also used in various Docker images (to be published) for execution and remote communication.

[2019-04-08 15:00] penguian opened #5684 "Unable to verify email address - received link does not verify"
**Describe the bug**

I clicked through the link on https://pypi.org/manage/account/#account-emails to send an email to verify my email address paul.leopardi@gmail.com
When I received the email, I clicked through the link.
This took me to https://pypi.org/manage/account/#account-emails which had the banner

`Warning Your primary email address (paul.leopardi@gmail.com) is unverified. Verify your em

[2019-04-08 16:44] zmostaani commented on #5156
Hi,

I'm a developer of BEAT framework as well and I'll be using the trove classifier as soon as it is available.

Thank you.

[2019-04-08 16:45] jdiefen commented on #5156
Same here -
I'm a developer of a BEAT framework component and confirm I'll be using the new trove classifier as soon as it is available

[2019-04-08 18:20] neodark commented on #5156
I'm also a developer of a BEAT framework component and confirm as the other have done above that I'll be using the new trove classifier when available. Thanks!

[2019-04-08 18:46] anjos commented on #5156
@jamadden: please let us know if the above information is enough so that this request can proceed.

[2019-04-08 20:31] vdikan commented on #5553
From [aiida-siesta](https://pypi.org/project/aiida-siesta/), thumbs up.

[2019-04-08 23:27] penguian commented on #5684
I logged out of `pypi.org` and tried the link again. It worked. This is still a bug, but maybe a documentation bug. If the email link only verifies your address if you are logged out, the email should say so. If the email link only works after a certain delay, then the email should say so.

[2019-04-09 01:56] loganasherjones commented on #4110
Hiya! Thanks for the reply. I kinda went out and started making my own marketplace that helps to solve the problem I was having. Perhaps in the long run, I will still need to come back to something like this, but for now, I assume you can go ahead and close this request!

[2019-04-09 04:25] #4110 closed

[2019-04-09 04:53] kmaehashi commented on #5665
Thank you!

[2019-04-09 09:46] jamadden commented on #5667
If those projects are "unlikely to have a new release," then under the criteria that classifiers should be of 'immediate use to existing projects,' I suggest that this classifier be deferred until a number of maintainers signify that they indeed are ready to use and publish with that classifier.

Thanks again for looking into this!

/cc @pypa/pypi-moderators

[2019-04-09 09:52] jamadden commented on #5156
Thanks for your responses, everyone! With the evidence provided, to my mind, it looks like the proposed guidelines have been met, and I would suggest adding the classifier.

I'd like to allow a few days to give the other @pypa/pypi-moderators a chance to review this before taking action. (If there's no other motion on this by next week, feel free to ping me.)

[2019-04-09 09:53] jamadden commented on #5553
Thanks for your responses, everyone! With the evidence provided, to my mind, it looks like the proposed guidelines have been met, and I would suggest adding the classifier.

I'd like to allow a few days to give the other @pypa/pypi-moderators a chance to review this before taking action. (If there's no other motion on this by next week, feel free to ping me.)

[2019-04-09 09:56] jamadden commented on #5628
Thanks for your responses! With the evidence provided, to my mind, it looks like the proposed guidelines have been met, and I would suggest adding the classifier.

I'd like to allow a few days to give the other @pypa/pypi-moderators a chance to review this before taking action. (If there's no other motion on this by next week, feel free to ping me.)

[2019-04-09 09:59] jamadden commented on #4158
Thanks for your interest. We're working a similar process on a few other classifier requests and the responses to https://github.com/pypa/warehouse/issues/5156 and https://github.com/pypa/warehouse/issues/5553 have been very helpful, so something along those lines would be great.

[2019-04-09 10:32] giovannipizzi commented on #5553
Thanks, that's great!

[2019-04-09 11:10] yeraydiazdiaz commented on #4057
Thank you @mkurek and @charlsagente

[2019-04-09 11:10] #4057 closed

[2019-04-09 19:29] ewdurbin commented on #5553
@jamadden I'm +1 to adding this classifier.

[2019-04-09 19:29] ewdurbin commented on #5628
@jamadden I'm +1 on adding this classfier

[2019-04-09 19:30] ewdurbin commented on #5156
@jamadden I'm +1 on adding this classfier

[2019-04-10 10:44] jamadden commented on #5156
`Framework :: BEAT` has been added to pypi.org

[2019-04-10 10:44] #5156 closed

[2019-04-10 10:44] jamadden commented on #5628
`Framework :: Nengo` has been added to pypi.org

[2019-04-10 10:44] #5628 closed

[2019-04-10 10:45] jamadden commented on #5553
`Framework :: AiiDA` has been added to pypi.org

[2019-04-10 10:45] #5553 closed

[2019-04-10 10:47] sphuber commented on #5553
Thanks a lot @jamadden and @ewdurbin

[2019-04-10 10:56] jamadden commented on #4158
Thanks for your response. I spot-checked some of those packages and they are published on PyPI and appear to be maintained. Many of them currently use `Framework :: Django` classifiers. Are you anticipating keeping that classifier and adding this one as well, or replacing that classifier? Would a sub-classifier (`Framework :: Django :: CMS`) be appropriate instead?

[2019-04-10 14:08] sgaist commented on #5156
Thank you very much

[2019-04-10 20:34] anjos commented on #5156
Awesome! Thx.

[2019-04-10 21:36] hangtwenty commented on #5583
Workaround is to reuse after your initial download... So not just pip cache dir but, considering the Wheelhouse pattern for example

* utilities - neither are >1.0 version, so it is your call whether to depend on them directly or to take them as inspiration...
    * https://github.com/level12/wheelhouse
    * https://github.com/datawire/wheelhouse
* reading/blogs
    * https://www.brianthicks.com/

[2019-04-11 06:36] FinalAngel commented on #4158
@jamadden we would keep the Django classifiers and add django CMS separately as for example here:
https://github.com/divio/aldryn-addons/blob/master/setup.py#L31-L35

As Django version support can vary depending on the django CMS version. It's just a bit confusing as the CMS is called "django CMS".

[2019-04-11 08:23] bpabel opened #5688 "PEP 541: Transfer ownership of rocketchat package"
I've had a PEP 541 transfer request open on the old issue tracker for over a year.

https://sourceforge.net/p/pypi/support-requests/801/

I'd like to take ownership of the pypi rocketchat package

https://pypi.python.org/pypi/rocketchat/0.1

I believe this project is both abandoned and invalid. The links in the pypi project are broken, but I believe this is the project page.

github - https://gith

[2019-04-11 13:42] bpabel commented on #5688
@SKantar if you can see this issue, please respond if you are indeed the owner of the pypi project.  You seen to be active on GitHub.

[2019-04-11 21:02] timkpaine commented on #4004
name squatter: https://pypi.org/user/suroegin/

[2019-04-11 21:02] timkpaine commented on #4003
name squatter: https://pypi.org/user/suroegin/

[2019-04-11 21:05] timkpaine opened #5689 "PEP 541: Delete squatter's packages and transfer yield to me"
Squatter: https://pypi.org/user/suroegin/
Package I want: https://pypi.org/project/yield/

[2019-04-11 22:11] bpabel commented on #5689
Really, `yield` should be a restricted package name considering it's a python keyword.

[2019-04-11 22:14] bpabel commented on #5689
Should probably delete all that user's packages, half of them are reserved keywords in python, and the rest are just squatting on names.

[2019-04-11 22:41] timkpaine commented on #5689
agreed with your second comment for sure, it could even be a malicious squatting. Not sure the policy on reserved word but my libraries import name is `yld` so id like to grab it but understand if its against policy

[2019-04-12 13:44] StGabriel opened #5693 "Terms of Use in plaintext"
Hi,

I want to check each time of any upload whether the PyPI Terms of Use has been changed.

Is the deployed PyPI Terms of Use on https://pypi.org/policy/terms-of-use/ the same on GitHub repository for warehouse on https://github.com/pypa/warehouse/blob/master/policies/terms.md ?
Do you see any other possibilities to check for plain text?

Best regards
Stefan Gabriel

[2019-04-12 13:51] di commented on #5693
Yes, that file and that page correlate.

[2019-04-13 21:09] brainwane commented on #5661
@nlhkabu - does this feel ok to you? If so then I will declare consensus and start planning this, writing sets of "hey come test this" announcement text, etc.

[2019-04-14 11:57] 30sergey commented on #4751
[](url)

[2019-04-15 06:37] nlhkabu commented on #5661
Hi @brainwane - sounds very reasonable to me.

I'd like to run some direct user tests alongside open testing - sessions where I am able to observe users and understand anywhere they get stuck.

I've set up a Google form for registering users for this.  @brainwane would you be able to:

1. review the form
2. add a link to it in your announcement

To be clear, I *don't* think that manual user testin

[2019-04-15 11:57] jamadden commented on #4158
Thanks for your responses, that makes sense! With the evidence given here and at https://www.django-cms.org/en/, to my mind, it looks like the proposed guidelines have been met, and I would suggest adding the classifier.

I'd like to allow a few days to give the other @pypa/pypi-moderators a chance to review this before taking action. (If there's no other motion on this by next week, feel free to

[2019-04-15 12:18] jamadden commented on #5689
Have you been able to contact the user at their email address as listed on the PyPI project page? Having the user transfer the name to you is the least complicated solution. (It's possible that @suroegin is the same person; replying to this issue would be helpful either way.)

[2019-04-15 12:23] jamadden commented on #5637
One of the maintainers of that project is the PyPI user "graffatcolmingov". I believe that's the same person as @sigmavirus24. You might be able to contact them and request a package name transfer through github or the email address listed on that profile.

[2019-04-15 14:22] FinalAngel commented on #4158
Thank you very much @jamadden 👍

[2019-04-15 18:02] bpabel commented on #5689
@jamadden I believe *all* these projects meet the criteria for "Invalid Projects" as laid out in PEP 541.

At the very least, the projects using reserved python keywords should be removed (and potentially blocked from further use), including the one specified in this request -- "yield".

[2019-04-15 18:34] bpabel commented on #5688
I also contacted the user via email at skantar12@gmail.com on 2018/02/26 and 2018/03/20 with no response to either email.

[2019-04-16 13:45] anarcat commented on #3369
hmm... the repository was archived and issues not migrated - should we reopen issues here instead? where should claims be filed now? PEP541 doesn't say, nor do the [PyPI docs](https://pypi.org/help/#project-name-claim)...

[2019-04-16 14:35] jamadden commented on #3717
This certainly seems fixed to me:

[code]

[2019-04-16 14:35] #3717 closed

[2019-04-16 21:37] mar10py opened #5706 "Package ownership"
I would like to use the package name `mario`. Attempting to upload gives a 403 error. I [don't see](https://pypi.org/project/mario/) any contact info, is it possible to identify the owning account and maybe email them? It's possible that it was me and I forgot the username.

[2019-04-16 22:26] jamadden commented on #5706
The owner of that name seems to be @roll . Perhaps they can reply here and you can discuss a transfer.

[2019-04-17 02:39] johnlinp commented on #5596
Hi @di,

GitHub replied:

It seems that there is nothing I can do but shrinking the gif image.

[2019-04-17 06:28] SeanDS commented on #5637
Thanks, @sigmavirus24 graciously agreed to transfer to me and just did so. I'll close this.

[2019-04-17 06:28] #5637 closed

[2019-04-17 11:07] jamadden commented on #5596
@johnlinp If you're satisfied in the resolution, could you close this ticket please?

[2019-04-17 11:12] roll commented on #5706
@mar10py
Please try again. It's deleted now

[2019-04-17 11:32] johnlinp commented on #5596
Hi @jamadden,

I don't think I can close this issue. Since the title says "Camo can't handle the application/octet-stream mimetype" and it still can't right now, I think we should keep it open until it can handle application/octet-stream mimetype.

[2019-04-17 12:22] jamadden commented on #5596
It's not clear to me that an image proxy *should* handle non-image MIME types. Part of the image proxy's job involves security, and to that end, [that explicitly includes](https://github.com/atmos/camo) "Restrict[ing] proxied images content-types to a whitelist".

[2019-04-17 12:33] johnlinp commented on #5596
Sure. If you think it doesn't make sense to handle non-image mime type, we should definitely close this issue. Thanks.

[2019-04-17 13:52] tomato42 opened #5707 "deleting release does not delete files on testing infrastructure"
**Describe the bug**

even after the release is deleted in the test.pypi.org instance, it's impossible to re-upload files.  twine reports following error:
[code]

**Expected behavior**

when a release is deleted in test instance, it should either delete all associated files with it or allow re-upload of files with the same names

**To Reproduce**

1. upload a new package to test pypi
2. delete tha

[2019-04-17 14:12] jamadden commented on #5707
Perhaps you could try [readme-renderer](https://pypi.org/project/readme_renderer/), which provides the `twine check` command to verify the long description in the same way that warehouse does?

[2019-04-17 14:24] tomato42 commented on #5707
I want to see how it looks like on the webpage, with tags, versions, etc.

[2019-04-17 14:34] di commented on #5596
I think this is probably a valid issue, and at the very least we should explore whether we can add this functionality to Camo. We will almost certainly have other users that encounter this.

[2019-04-17 15:23] Canisback opened #5708 "Claim package pantheon"
I would like to transfer ownership of this package :
https://pypi.org/project/pantheon/

It has been untouched for 4 years now, and with no files in it.

I tried to contact the owner with no answer.

Thanks.

[2019-04-17 15:40] jamadden commented on #5596
Does Camo do other checks to verify images, besides the content type? That is, if the content type whitelist is expanded to include `application/octet-stream`, is there anything from stopping Mr. Evil from including an "image" reference in his project pointing to `https://evil.example.com/badstuff/bad-data`? (An exe or vbs or xls...) If not, the question is then, is that exploitable in any new way

[2019-04-17 16:49] jamadden commented on #5708
I believe the project owner is @dveselov , who seems to be active on github. Perhaps they can comment here and work out a name transfer.

[2019-04-17 17:42] mar10py commented on #5706
@jamadden Thank you for figuring this out.

@roll Perfect, thank you for releasing!

[2019-04-17 17:42] #5706 closed

[2019-04-17 21:24] di opened #5713 "Document owner/maintainer roles on help page"
Currently on the logged-in only "collaboration" page for a project, we document the possible roles for collaborators:

It would be good to document this at https://pypi.org/help/ as well.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2

[2019-04-18 04:22] vishleshp opened #5714 "PyPI package event notification feature"
**What's the problem this feature will solve?**
It seems deleting a pypi package is possible - How to remove a package from Pypi

This can cause problems if multiple team members have access to PyPI account holding the PyPI package and permissions. A person can accidentally delete a package if a person don't know dependent packages using the specific versions of a particular package.

It would be

[2019-04-18 08:30] DarkSuniuM commented on #5599
Seems to be fixed, I'll close this issue if someone confirms it

[2019-04-18 10:37] ncopa commented on #5579
This issue seems to have reappeared. https://files.pythonhosted.org/packages/source/s/sgmllib3k/sgmllib3k-1.0.0.tar.gz gives 504.

[2019-04-18 10:40] ncopa commented on #5579
this too: https://files.pythonhosted.org/packages/source/n/netaddr/netaddr-0.7.19.tar.gz

[2019-04-18 10:43] dbakshee opened #5715 "https://files.pythonhosted.org returns '504 Gateway Time-out' for conda build"
## My Platform
Conda build on azure: for example [this ](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=29054) one (this is 2nd iteration, was able to fetch 6 wheels of 9 needed; the build few hours before that could only fetch 2).

This issue looks like the same as #5579

[2019-04-18 10:55] maxwell-k commented on #5579
I am also seeing the same issue from a completely unconnected client; on both the above URLs and others I forgot to note down.

[2019-04-18 11:32] ncopa commented on #5579
another: https://files.pythonhosted.org/packages/source/a/awake/awake-1.0.tar.gz

[2019-04-18 11:40] jamadden commented on #5715
Thanks for the report. I've pinged the infrastructure team and re-opened #5579 so we can follow this in one place.

[2019-04-18 11:40] #5715 closed

[2019-04-18 11:43] jamadden commented on #5579
Thanks. I'm able to reproduce this locally too. I've pinged the infrastructure team.

[2019-04-18 12:15] horta commented on #5579
Same problem here. I can't make the following urls work consistently:
- https://pypi.io/packages/source/l/limix-plot/limix-plot-0.1.0.tar.gz
- https://pypi.org/packages/source/l/limix-plot/limix-plot-0.1.0.tar.gz
- https://files.pythonhosted.org/packages/source/l/limix-plot/limix-plot-0.1.0.tar.gz

[2019-04-18 12:34] dveselov commented on #5708
Hi, I didn't received any messages or emails about this package.
Also, I need to know PyPI username to do a transfer.

[2019-04-18 12:51] Canisback commented on #5708
@dveselov Here is my PyPI username.
https://pypi.org/user/Canisback/
Thank you.

[2019-04-18 14:38] sunpoet commented on #5579
It seems to be solved now. I could download all the following files:
- https://files.pythonhosted.org/packages/source/s/sgmllib3k/sgmllib3k-1.0.0.tar.gz
- https://files.pythonhosted.org/packages/source/n/netaddr/netaddr-0.7.19.tar.gz
- https://files.pythonhosted.org/packages/source/p/pygit2/pygit2-0.28.0.tar.gz
- https://files.pythonhosted.org/packages/source/a/awake/awake-1.0.tar.gz
- https://pyp

[2019-04-18 15:42] brainwane commented on #5693
@StGabriel Every time that we make a change to the `master` branch of that repository, within a few minutes, we automatically deploy that new version of the site to pypi.org. So you can be assured that https://pypi.org/policy/terms-of-use/ reflects https://github.com/pypa/warehouse/blob/master/policies/terms.md , and I think that's your best bet for doing this. Therefore, closing this issue. Thank

[2019-04-18 15:42] #5693 closed

[2019-04-18 19:59] westurner commented on #5247
"PyPI security work: multifactor auth progress & help needed"
https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042/10

[2019-04-18 23:30] glyph opened #5718 "Update roadmap with a clearly articulated security model & strategy"
**What's the problem this feature will solve?**
Right now, PyPI has a [way to report a security issue](https://pypi.org/security/), but no clear description of what a "security issue" might be.  Efforts like #5567 will improve the security of the site, but to what end?

Meanwhile, attacks against the open source supply chain are escalating, and more typo-squatting malware gets posted to PyPI every

[2019-04-19 05:07] cristipurdel opened #5720 "cudatoolkit package"
**What's the problem this feature will solve?**
Portable Winpython with gpu support

**Describe the solution you'd like**
Make it for various cudatoolkit, similar to conda packages

**Additional context**
Could try to maintain, in the beginning, only the lowest cudatoolkit version supported by tensorflow, numba, cupy, etc.

[2019-04-19 09:05] dveselov commented on #5708
I've transferred this package. Can be closed.

[2019-04-19 10:49] jamadden commented on #5720
Thanks for the report, but unfortunately this isn't the right place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with packages distributed from there (it doesn't maintain Python or tensorflow, numba, cupy, etc). You'll need to contact the various package maintainers instead.

[2019-04-19 10:49] #5720 closed

[2019-04-19 11:53] jynolen opened #5721 "Claim of keyring-vault-backend"
Hello,

I would like to claim the following package:
https://pypi.org/project/keyring-vault-backend/

I opened a PR long time ago with no answer
I tried to contact @pschmitt by email specify in the setup.py with no success

For reference:
Owner Pypi package: keyring-vault-backend
Owner Pypi username: pschmitt
My Pypi username: jynolen

Thank you

[2019-04-19 12:04] #5708 closed

[2019-04-19 16:54] alexbecker commented on #2551
This is also a problem for python mirroring at [PyDist](https://pydist.com)--there's no way to know whether a new distribution has been added, so the only real options are to:
- ignore new distributions (perhaps re-query each release a short time after the first distribution for it is published)
- periodically re-query *every* release of *every* package to find any new distributions

The former is

[2019-04-19 19:28] di commented on #5586
@nlhkabu +1 from me.

[2019-04-21 04:48] dbrattli opened #5727 "Request trove classifier `Programming Language :: F#`"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Programming Language :: F#`

## Why do you want to add this classifier?

Will need this classifier for https://github.com/dbrattli/sphinxcontrib-fsharp that creates a Sphinx domain for F#.

[2019-04-21 12:33] jamadden commented on #5579
Thanks for the reports. The infrastructure team identified the issue and corrected it, and is taking steps to prevent it from occurring again.

[2019-04-21 12:33] #5579 closed

[2019-04-21 20:16] raoulcollenteur opened #5728 "Request classifier Hydrology: Topic :: Scientific/Engineering :: Hydrology"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Topic :: Scientific/Engineering :: Hydrology`

## Why do you want to add this classifier?
There has been a steady increase in the use of Python in Hydrology, becoming one of the major programming languages used. It would be nice to centrally document all the packages to keep track as a community. I woul

[2019-04-22 11:02] jamadden opened #5729 "`#` not allowed in classifiers"
**Describe the bug**
The admin UI doesn't allow creating top-level classifiers that contain a `#`, such as #5727. The regex in https://github.com/pypa/warehouse/blob/master/warehouse/admin/static/js/controllers/parent_classifier_controller.js#L27 doesn't seem to allow them.

**Expected behavior**
Octothorps should be allowed? I can't find a spec for the trove classifiers anywhere, so I'm not sure.

[2019-04-22 11:07] jamadden commented on #5727
Thanks for the request! We're looking into adding this, but the octothorp is not currently allowed in classifiers. #5729 is open to track this.

[2019-04-22 11:10] jamadden commented on #4158
The four requested classifiers have been added to pypi.org

[2019-04-22 11:10] #4158 closed

[2019-04-22 11:12] dbrattli commented on #5727
I used the `#` since I saw that C# was already added as `Programming Language :: C#`. We could also call it FSharp instead of F# but then C# should perhaps be called CSharp.

[2019-04-22 11:24] jamadden commented on #5727
That's a great point! In the past, I believe admins directly edited the database to add classifiers. Now there's a UI with validation on top of it, so we're most likely looking at at simple UI validation bug rather than an issue with the classifier itself.

[2019-04-22 13:07] timkpaine opened #5730 "PEP541 - sklearn transfer to proper owner"
https://pypi.org/project/sklearn/

@amueller

[2019-04-22 13:15] jamadden commented on #5730
Can you please provide more information about your request? For example: What part of PEP541 is meant to apply to this? There are three maintainers listed; have you attempted to contact them? Who is meant to be the "proper owner" (the account you tagged appears to be one of the maintainers of the `sklearn` project)?

[2019-04-22 13:21] timkpaine commented on #5730
@jamadden nope, i've linked the real owner so he can take a look and follow up if necessary.

[2019-04-22 13:30] merwok commented on #5727
The `Programming Language` classifiers are meant to describe the language(s) used in the code of the package, aren’t they?

If the sphinxcontrib-xyz projects are *about* C# or XYZ but entirely written in Python, I don’t think the classifiers are correct?

[2019-04-22 14:14] jamadden commented on #5727
Sure, they can do that, but I don't think that's a strict constraint followed by existing usage. For example, under `PL :: PROLOG`, we find "pyDatalog - A pure-python implementation of Datalog, a truly declarative language derived from Prolog." There are examples in this exact domain (sphinx documenters, which may or may not rely on code/tools written in the language being documented) too: "sphinx

[2019-04-22 14:20] yeraydiazdiaz commented on #3910
Hello @kevinkjt2000, @Dinnerbone has not responded in a timely fashion and the project is thus considered abandoned. However, before transferring ownership all requirements listed in [the corresponding section of PEP 541](https://www.python.org/dev/peps/pep-0541/#removal-of-an-abandoned-project) need to be satisfied:

- [x] The project has been determined abandoned by the rules described above;
-

[2019-04-22 14:28] yeraydiazdiaz commented on #4001
Hello @dfee, Mark has not responded in a timely fashion to my attempt to contact him so we'll proceed to transfer ownership of the package to you.

Can you confirm your PyPI username for me, please?

[2019-04-22 14:30] amueller commented on #5730
Not sure what this is about. I'm one of the maintainers of scikit-learn. We also have access to sklearn which someone else had created and then we took over IIRC.

I'm an owner of sklearn from what I can see, together with @lesteve, who's also working on scikit-learn.

[2019-04-22 14:40] timkpaine commented on #5730
@amueller `pip install sklearn` doesnt use the main repo though, is this intentional?

[2019-04-22 14:41] timkpaine commented on #5730
if you have admin can you delete these bad listings: https://pypi.org/simple/sklearn/

[2019-04-22 14:42] amueller commented on #5730
What do you mean by "main repo"? pypa doesn't have a concept of aliases as far as I'm aware, so the only way to make it do anything is to have a dummy package that depends on scikit-learn.
Alternatively we could remove the sklearn package and ``pip install sklearn`` will just not work.

[2019-04-22 14:42] timkpaine commented on #5730
The latter seems to be best

[2019-04-22 14:42] #5730 closed

[2019-04-22 14:44] amueller commented on #5730
There is an issue in the sklearn issue tracker discussing this, but I can't find it right now. Please comment there.

[2019-04-22 15:05] yeraydiazdiaz commented on #4121
Hello @heuer, I have sent @mnooner256 an email asking to clarify his position regarding this package. Hopefully we will hear from him soon and move this request forwards.

Thank you for your patience while we deal with these issues.

[2019-04-22 16:39] kevinkjt2000 commented on #3910
Where are `notability requirements` listed?  This seems vague to me in the PEP 541 document.  I do have a fork that I would like to release, and I even successfully tested publishing to the test pypi (about a year or so ago).
 https://github.com/kevinkjt2000/mcstatus

Are pypi maintainers okay with having lots of little forks with alternate names?  To me that seems confusing and chaotic.  In my op

[2019-04-22 19:23] timkpaine commented on #5730
@amueller can also do what airflow does which is a placeholder, i'll link you their code
https://pypi.org/project/airflow/
<img width="799" alt="Screen Shot 2019-04-22 at 3 23 10 PM" src="https://user-images.githubusercontent.com/3105306/56520479-8b284680-6512-11e9-8f5c-1857d01c96e5.png">

[2019-04-22 19:26] amueller commented on #5730
@timkpaine please discuss on the issue @jamadden linked to, scikit-learn/scikit-learn#8215

[2019-04-23 06:11] FinalAngel commented on #4158
thank you @jamadden !

[2019-04-23 07:09] dbrattli commented on #5727
As for "sphinxcontrib-ocaml" the autodoc handing is implemented in OCaml. I'm porting this library to F#, so eventually that feature will be impl in F#. But for now it's only using domain.py which is Python and the project is currently classified as Python.

[2019-04-23 23:21] timmykuo opened #5736 "Pypi project size too large to be uploaded"
Link: https://pypi.org/project/mitopipeline/
Size of release: 69.3MB
Index: PyPi
Project description: Automated pipeline for genetic researchers working with the mitochondrial genome. The reason why it's so big is because I've uploaded an example .bam file in order for users to be able to test out the product

[2019-04-23 23:54] dfee commented on #4001
Sure: `dfee`.

[2019-04-24 08:54] gsb-eng commented on #4751
@di Adding micro seconds might break existing API users, If so how do we handle that?

 How bad is adding a new field in the JSON with `upload_time_with_tz`?

[2019-04-24 09:06] dtantsur commented on #3645
Seems broken (again?) without a way to recover on the latest CentOS 7 cloud image:
[code]
Versions:
[code]

No tricks I've tried so far have helped. VirtualEnv behaves the same way. `--trusted-host` doesn't change anything, nor does `PYTHONHTTPSVERIFY=0`. Updating pip is not possible because `get-pip.py` fails with the same error as you can see above. I tried to update pip from a tarball in a venv

[2019-04-24 09:37] jynolen commented on #5721
Is it possible to have an ETA or instruction of what remains to do, it's the first time I claim a project.

[2019-04-24 10:38] jamadden commented on #5721
I would suggest reviewing [PEP 541](https://www.python.org/dev/peps/pep-0541/) and consider the different paths for claiming a project and under which one this might fall. This project doesn't seem to qualify as an "abandoned" project --- it has had releases and activity more recent than a year, for example.

The [PR you mention](https://github.com/pschmitt/keyring-vault-backend/pull/5) has been a

[2019-04-24 15:16] di commented on #3645
@dtantsur I can't reproduce:

[code]

[2019-04-24 15:24] dtantsur commented on #3645
Yeah, it seems to be something tricky. As I noted, the only non-standard thing about my VM is that it's a nested VM. I'll work on a better reproducer, if it's possible.

[2019-04-24 15:37] di commented on #4751
@gsb-eng Yes, see #4752. I think we'll need to add a new field, perhaps we can come up with a better name than `upload_time_with_tz`.

[2019-04-24 20:40] martinbaun opened #5740 "Error "400 Bad CSRF Origin" while register an account"
Hi,
I can't register an account on https://pypi.org/account/register/ and I can't figure out where this error comes from.
I'm on Linux with Firefox 66.0.3

Best regards
Martin

[code]

[2019-04-24 22:03] di commented on #5740
Hi @martinbaun, sorry you're having issues. Is it possible your browser, platform or network is configured to not send the `Origin` or `Referrer` headers? Could you try a different browser and see if the issue persists? I was just able to register a new account, so it seems like this is not a broad issue on our end.

[2019-04-25 00:26] pyfit opened #5743 "PEP 541: Transfer ownership of unmaintained `pyfit`"
I am unable to reach the maintainer for PyFit, as the email bounced back stating it doesn't exist. The package was last updated over 10 years ago. There does not appear to be a GitHub repository associated with the project. Can someone please transfer ownership to me?

https://pypi.org/project/PyFIT/

Referencing issue
https://github.com/pypa/warehouse/issues/1506

[2019-04-25 15:10] jamadden commented on #5743
I can confirm the abandonment criteria. I am unable to reach the maintainer at the address in the PyPI database or the `setup.py` (both bounce), or locate a GitHub user that seems to be the same. There are complaints of abandonment and the inability to install dating back to [2008](https://bytes.com/topic/python/answers/843674-pyfit-dead-abandoned). In 2013, someone with the same name as the PyPI

[2019-04-25 17:33] martinbaun commented on #5740
Hi,
thanks for your reply. Other browsers are working. I found the problem in firefox. In about:config I changed
`network.http.sendRefererHeader;0`
to
`network.http.sendRefererHeader;2`

Strange, this is the first website that leads to this problem. However, it is working, now ;-)

[2019-04-25 17:33] #5740 closed

[2019-04-25 20:05] imaus10 opened #5745 "Request to increase size limit"
Hi there,

I'm trying to upload a wheel for the package `thumbor_extras` but it's hitting the size limit. The wheel is 61.3MB because it includes the weights for a deep neural network trained to detect objects in images. This file is required to run the `dnn_object_detector`.

Could I get an increased size limit on both PyPI and Test PyPI so the package is easily distributable? Thank you!

Repo li

[2019-04-25 22:06] jamadden commented on #5745
I've increased the limit to 100MB on both pypi.org and test.pypi.org.

[2019-04-25 22:06] #5745 closed

[2019-04-25 22:10] jamadden commented on #5727
I've added the classifier. (FWIW, a project can have multiple `Programming Language ::` classifiers; that's common for specifying multiple supported python versions, but there's no reason it can't be used to specify multiple different implementation or application languages.)

[2019-04-25 22:10] #5727 closed

[2019-04-25 22:11] jamadden commented on #5729
Since the validation is UI-side only, I was able to workaround it in the browser to add the classifier requested in #5727.

[2019-04-26 03:03] Lleyton-Ariton opened #5751 "File size limit increase request"
I am the creator of the Cortecx NLP library on PyPi (https://pypi.org/project/Cortecx/). The library was made with the intention of simplifying NLP for some of the beginners in an AI club I run at my high school. Unfortunately, some of the data for the students that I wanted to package along with the library was a bit too large to be held by the 60MB file size limit of PyPI. I cut down some of the

[2019-04-26 09:13] calston opened #5752 "Spam report"
Not necessarily spam, but at least a pretty despicable abuse of PyPi to advertise a service with keyword hijacking by @markolofsen

https://pypi.org/project/how-to-upload-package-to-pypi/

[2019-04-26 11:02] jamadden commented on #5751
I've increased the upload limit for Cortecx to 150MB on PyPI.

[2019-04-26 11:02] #5751 closed

[2019-04-26 12:38] jakubhava opened #5753 "Increase upload size limit of h2o_pysparkling_x packages"
Hello, I'm owner of Sparkling Water https://github.com/h2oai/sparkling-water project which has PySparkling as the Python client. I could't find better place where to ask this then here.

I would like to ask if it would be possible to increase size for our PySparkling package? It reached limit of 60mb ( has now about 61-62 mb). Right now we can't upload releases to pipy.
We have 4 versions of PySPa

[2019-04-26 13:04] imaus10 commented on #5745
Thank you!

[2019-04-26 13:25] jamadden commented on #5753
Could you please confirm the PyPI URL of the project?

[2019-04-26 16:43] jamadden commented on #5752
Other similar (or identical) projects:

- https://pypi.org/project/private-pip-repository/
- https://pypi.org/project/pypi-cloud/
- https://pypi.org/project/upload-pypi/

[2019-04-26 17:38] calston commented on #5752
Might also be an infringement on Githubs AUP as the repositories contain advertising outside of the repository of its service source code. Will raise on that too

[2019-04-26 18:02] jakubhava commented on #5753
https://pypi.org/project/h2o-pysparkling-2.1/
https://pypi.org/project/h2o-pysparkling-2.2/
https://pypi.org/project/h2o-pysparkling-2.3/
https://pypi.org/project/h2o-pysparkling-2.4/

Thank you @jamadden

[2019-04-26 19:34] #5729 closed

[2019-04-27 18:19] scottilee opened #5757 "Implement mail check for unicode characters"
I was able to register an account on pypi.org using the email "bob@Ω.com" which showed up as "bob@xn--bya.com" on the profile page.

It looks like this would involve changes in the following files:

- https://github.com/pypa/warehouse/blob/master/warehouse/accounts/forms.py
- https://github.com/pypa/warehouse/blob/master/tests/unit/accounts/test_forms.py

---

**Good First Issue**: This issue is g

[2019-04-27 19:00] jamadden commented on #5757
It's not clear to me what issue you're reporting. `Ω.com` is a valid, registered domain. When [IDNA-encoded](https://en.wikipedia.org/wiki/Internationalized_domain_name), it looks like `xn--bya.com`:

[code]

Users of languages that frequently use non-ASCII characters in domains probably don't want to have to figure out and type the IDNA encoding of those domains. It seems like a good user experie

[2019-04-27 20:39] di commented on #5757
I agree, not sure I see what the issue is here.

[2019-04-27 22:28] scottilee commented on #5757
Ah I see. I didn't know that was a thing!

[2019-04-27 22:28] #5757 closed

[2019-04-28 10:35] nlhkabu opened #5758 "Define manual account recovery process"
With the introduction of two factor authentication, we have decided that the PyPI admins **will** support manual account recovery, in _addition_ to optional [recovery codes](https://github.com/pypa/warehouse/issues/5800).  I have opened this ticket to discuss and define this policy, and address the questions:

1. In what circumstances will PyPI admins offer manual account recovery?
2. What informa

[2019-04-28 10:40] nlhkabu commented on #5586
Closing off this issue, as I have now opened #5758.

The conclusion here is that we will offer manual account recovery. I have updated the suggested help text to be:

I suggest that once we define the account recovery process in #5758, we add this information as an additional FAQ, linking to it from this sentence.

[2019-04-28 10:40] #5586 closed

[2019-04-28 14:22] rlinapagolla opened #5759 "Error: pg_config executable not found during redshift-tool installation"
I was able to resolve the pg_config error after running the following commands

pip install psycopg2-binary
pip install --upgrade setuptools
yum install postgresql-libs
yum install postgresql-devel
pip install psycopg2
pip install redshift-tool

[2019-04-28 15:34] jamadden commented on #5759
Thanks for the report, but I don't think this is the place for it. This tracker is only for issues with the software that runs pypi.org itself; it cannot help with packages distributed or `pip install`ed from there.  For that, you'll need to contact the package maintainers; this information can usually be found on the [project page](https://pypi.org/project/redshift-tool/).

[2019-04-28 15:34] #5759 closed

[2019-04-28 15:49] shreyasbapat commented on #5713
Can I take this up? :)

[2019-04-28 15:52] klada commented on #5583
Fastly has solved the issue through direct peering with Deutsche Telekom. Connection speeds to files.pythonhosted.org are now fine again.

[2019-04-28 15:52] #5583 closed

[2019-04-29 16:22] nvictus commented on #5580
Hi @jamadden, it's been over 6 six weeks and still no response or action from Rob. Can a moderator step in at this point?

[2019-04-29 16:56] di commented on #5661
@nlhkabu One small comment on the form: might want to ask for their PyPI username as well, so we can enable 2FA for them during the private beta.

[2019-04-29 16:57] di commented on #5661
#5567 is close to being done. I'm going to plan on merging it on or before Friday, May 3rd, which would give us the following timeline:

* On or before 5/3 - Merge #5567
* 5/3 - enable 2FA across all of TestPyPI, send announcements
* 5/3-5/20 - private beta on PyPI, add users as necessary
* 5/20 - enable for all PyPI users

[2019-04-29 17:04] jamadden commented on #5580
That's not something I can do. Changing ownership by someone besides the owner would take a superuser account (all of whom also monitor @pypa/pypi-moderators), and their numbers and individual time is limited. That's one of the reasons moderators try to encourage the original owner (@rtansf) to perform the transfer.

[2019-04-30 12:23] butuzov opened #5765 "Filter by classifier within searching"
Issue available at pypi.org and test.pypi.org

**Describe the bug**
While searching by keyword it's not possible to retrieve packages that satisfy one of the multiple selected filters within the category.

**Expected behavior**
Expected search to return packages that satisfy any/or both of selected filters.

**To Reproduce**
* Search for "yaml"
* Pick filter: "Development Status"
* Check "5 - Prod

[2019-04-30 12:36] FinalAngel commented on #4158
@jamadden would it also be possible to add:

``'Framework :: Django CMS :: 3.7',``

we plan to release it in the next couple of months :)

[2019-04-30 12:39] ewdurbin commented on #4158
@FinalAngel: Done

[2019-04-30 14:11] chaoflow commented on #5707
@tomato42 I see and share your point and would also prefer if there'd be a way to re-upload releases to the *testing* infrastructure.

A workaround I'm using is to use .dev releases after a release to test.pypi.org that needs corrections.

test.pypi.org:
- 1.2.3 needs fix
- 1.2.3.dev0 and another
- 1.2.3.dev1 looks great

pypi.org
- 1.2.3 corresponds to 1.2.3.dev1 on test.pypi.org apart from the d

[2019-04-30 14:53] FinalAngel commented on #4158
thank you @ewdurbin !

[2019-04-30 14:56] ewdurbin opened #5769 "503 on /stats route"
Previous implementation can be viewed in #5767

The resulting query was causing havoc in the DB, spilling over to disk and taking _a long time_ (minutes).

Suggested approaches:
  - Pre calculate results and update on daily basis, serve from some cache
  - Add a column on Project model, run a "first pass", and tally as files come in.

[2019-04-30 15:53] di commented on #5736
I've set the upload limit for `mitopipeline` to 100 MB on PyPI.

[2019-04-30 15:53] #5736 closed

[2019-04-30 16:05] di commented on #5707
Thanks for the feature request! Using dev or prereleases is the recommended method here, for now.

The only distinction between PyPI and TestPyPI is that they are entirely separate (and can be visually distinguished). Otherwise, they behave exactly the same, which allows maintainers to have the same expectations about both. E.g., PyPI doesn't allow for reuploading of deleted distributions, so Test

[2019-04-30 16:05] #5707 closed

[2019-04-30 16:08] di commented on #5682
Thanks for the request! I agree we should document this.

Can you give us a bit more information about _why_ you'd like to see this documented? E.g., have you seen different icons, and wasn't sure how to get them for your project?

[2019-04-30 16:20] di commented on #5683
Thanks for the feature request! This would be quite a bit of work for a relatively small feature, since we'd need to make a modification to the core metadata specification to support additional details alongside `project_urls`. Then, we'd need to add support for this new metadata field across all projects that build, inspect, and parse this metadata (`twine`, `setuptools`, `pkg-info`, etc.)

In ad

[2019-04-30 18:38] brainwane commented on #996
Per #5661 we are going to begin to roll out TOTP-based 2FA this month. This Friday May 3rd we plan to flip the switch so users of test.pypi.org can use 2FA, and we'll soon be announcing where users of pypi.org can sign up for a private beta so they can test 2FA on the main PyPI site May 3rd-20th.

Once we shake out bugs through that, we plan to enable the 2FA feature for all PyPI users, and move o

[2019-04-30 20:12] brainwane commented on #5661
_OK, draft announcement:_

Subject line: PyPI two-factor auth (2FA) trial May 3-20

Dear PyPI users:

To increase the security of PyPI downloads, we're beginning to introduce two-factor authentication (2FA) as an option for project maintainers and owners. If you set up 2FA on your PyPI account, then once you set it up, you must provide a second method of identity verification (other than your user

[2019-05-01 01:11] brainwane commented on #5661
(I need to add a note calling out that this doesn’t affect the upload endpoint currently.)

[2019-05-01 13:12] nlhkabu commented on #5661
Looks good to me @brainwane - thank you. You can probably change this sentence to be shorter:

[2019-05-01 15:42] jakubhava commented on #5753
Hi @jamadden, any update please?

Thanks,
Kuba

[2019-05-01 15:49] jamadden commented on #5753
The limit for all four projects has been increased to 100MB on pypi.org.

[2019-05-01 15:49] #5753 closed

[2019-05-01 15:50] jakubhava commented on #5753
thanks!

[2019-05-01 17:12] cooperlees commented on #5769
I've never used redis before, but it seems it's just key value store. Does just calculating the data once a day and storing it in some form (e.g. JSON blob) in an async job make sense? Also store the time generated so we can report that so people can see how stale the cached data is?

Then have the /stats endpoint pull the date last generated and stored data and return like we do today. Not runnin

[2019-05-01 20:45] wrobell opened #5772 "project_urls is being ignored on PyPI despite project uploaded with twine"
I am uploaded the two projects using twine 1.13.0

- https://pypi.org/project/atimer/ (see setup.py at https://gitlab.com/wrobell/atimer)
- https://pypi.org/project/btzen/ (see setup.py at https://github.com/wrobell/btzen)

These projects were uploaded with `python setup.py upload` in first place, but for last few releases twine was used.

Despite using the tool, the `project_urls` is ignored.

[2019-05-01 21:06] di commented on #5772
The [`Project-URL`](https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use) metadata field was introduced in version 1.2, but your source distributions are indicating that their metadata version is 1.1 (even though they contain `Project-URL` fields):

[code]

How are you building these distributions?

[2019-05-01 21:11] wrobell commented on #5772
I am using `python setup.py sdist`.

[2019-05-01 21:22] di commented on #5772
Looks like this is a bug in `setuptools`, [it's not forcing the 1.2 version when project URLs are present](https://github.com/pypa/setuptools/blob/4edd0d57228da37795f9600ec06363d0a24cada8/setuptools/dist.py#L49-L67).

I'm going to transfer this issue to that repo. In the meantime, you can add the [`Maintainer`](https://packaging.python.org/specifications/core-metadata/#maintainer) or [`Maintainer-

[2019-05-02 14:38] brainwane commented on #996
I'm about to start sending out [this announcement](https://github.com/pypa/warehouse/issues/5661#issuecomment-488098029) pointing to [this wiki page about testing 2FA](https://wiki.python.org/psf/WarehousePackageMaintainerTesting).

[2019-05-02 17:39] brainwane opened #5778 "display date user created account in Account Details"
**What's the problem this feature will solve?**
Sometimes we maintainers want users with very old accounts to test a new feature, because old accounts have weird properties (see #3632). But if users don't know how old their accounts are, they don't know whether they should make a special effort to test the thing.

**Describe the solution you'd like**
A logged-in user should be able to see "Account

[2019-05-02 18:25] rschwiebert commented on #3962
@ewdurbin This is happening for me right now for `mimeparse==0.1.4`, which appears on pypi having been released Jan 2, 2013, and yet I'm having trouble with it in 2019. `pip==19.1` reports 0.1.2 and 0.1.3 as being available, but it doesn't list or allow me to install 0.1.4.

Also, `pip search` *does* appear to be aware of 0.1.4.

Could some old packages be affected by a different problem?

[2019-05-02 18:37] mlissner commented on #5661
First:

Should this say that it's really more of a user test? It's not just joining a beta, the plan is to sit with these folks for an hour, right? I eagerly clicked the link, then was disappointed since I didn't have the hour.

Second: Is there a plan to require 2FA eventually, or, if there isn't a plan, is it worth threatening that that might happen eventually? I think it makes sense to have 2FA

[2019-05-02 18:37] jamadden commented on #3962
`mimeparse 0.1.4` has no files on PyPI (note the absence of the "Download files" link on the right of https://pypi.org/project/mimeparse/0.1.4/), so pip has no way to install it.

I can see how the search result would be a bit confusing.

[2019-05-03 00:41] di commented on #5778
I've added the [good first issues](https://github.com/pypa/warehouse/labels/good%20first%20issue) label to this issue.

[2019-05-03 00:45] di commented on #5661
@mlissner You don't need to be available for that hour to be in the beta, just respond "no". :)

[2019-05-03 01:32] mlissner commented on #5661
I'm like 10% sure that changed? Anyway, good!

[2019-05-03 17:42] kevinkjt2000 commented on #3910
Should I fork, rename, and slowly steal away the users?  Personally, that feels odd to me.

[2019-05-03 21:51] gbdlin commented on #5682
I've managed to dig up that part of the code, so this is not an issue for me, but it most probably is for people that are not that familiar with warehouse code. Documenting this part (as it works in some way, so it can be used in projects) will help everyone in creating better project pages.

[2019-05-04 00:42] emanspeaks commented on #5391
Are there further actions needed on my part to facilitate my claim on this package?  When might I expect to hear the outcome of a decision on this matter?

[2019-05-04 06:21] MarkL4YG commented on #3910
I would favor a fork under the same name. The current project has several issues where PRs are already available.
I would say users benefits from fixes being finally applied after years are bigger than the possible drawbacks given a pledge of the new maintainers to not break existing (API) contracts without proper notice.
Semantic versioning would also help with this.
I would also offer to maintai

[2019-05-04 06:27] MarkL4YG commented on #3910
Let me ask: Is it possible to convince you of the benefits that everyone would gain from updates to the same package if we explicitly write transition documentation with specific pledges on how the development in the project continues including what will (bug fixes, additional features, ...) and will not (breaking changes) be done ?

[2019-05-04 19:58] theb10n707 commented on #5778
I will work on this from Pycon2019 Mentor Sprints :)

[2019-05-04 20:07] seandalaiocht commented on #5778
I'm also at Pycon2019 working with theb10n707 on this issue.

[2019-05-04 20:14] dstufft commented on #5778
I think this already exists? I think the problem is we just don’t have that data before Warehouse took over registration, so a lot of uses have a null date.

Sent from my iPhone

[2019-05-04 20:19] di commented on #5318
See https://github.com/pypa/warehouse/commit/77c4f45c5aa4b327c94d2bf31efbb36e4728af21 for an example of how to implement this.

[2019-05-04 20:22] di commented on #5778
The timestamp exists, but we don't surface it in the logged-in UI.

[2019-05-04 20:52] theb10n707 commented on #5778
Looks like it is already available in the public profile. I will add it to the account settings page as well.

[2019-05-05 23:46] szha commented on #5595
Any update?

[2019-05-06 13:34] Iphex commented on #3910
Just want to add, I am in full support of this. I use this library and even messaged the author on twitter. He just ignores everything tho :( I do not want to tell every user who uses my project to go into dinnerbones libary and edit bugfixes in ( also, editing in bugfixes for every virtualenv :(). That feels terrible. I personally feel like using the same name would be helpful, since it is refere

[2019-05-06 14:08] jamadden commented on #5595
Usually the PyPI moderators ask for justification for size increases, especially of this extreme magnitude. However, these projects appear related to other projects for which extreme size limits have been granted (e.g., `mxnet-cu100`) so I'll skip that step.

I've granted the limit increase for both of those projects on pypi.org. The projects do not exist on test.pypi.org so I am unable to grant t

[2019-05-06 14:08] #5595 closed

[2019-05-06 14:37] daren-thomas opened #5789 "Request for File-size-limit exception for CityEnergyAnalyst"
- A link to your project on PyPI: https://pypi.org/project/cityenergyanalyst/
- The size of your release, in megabytes: 65.8 MB
- Which index/indexes you need the increase for: PyPI
- A brief description of your project: The CityEnergyAnalyst  is an urban energy simulation platform and one of the first open-source computational tools for the design of low-carbon and highly efficient neighborhoods

[2019-05-06 15:55] di opened #5790 "Send invitations when adding owner/maintainer roles"
**What's the problem this feature will solve?**
Currently as a PyPI package maintainer, it's possible to give any other user an owner/maintainer role for your package without their consent.

**Describe the solution you'd like**
We should change the way role assignment currently works, from just allowing owners to assign other users roles on a given project, to allowing owners to _request_ that oth

[2019-05-06 15:55] di commented on #4729
Blocked on #5790.

[2019-05-06 16:06] szha commented on #5595
@jamadden thanks a lot!

[2019-05-06 16:10] di opened #5791 "Display whether fellow maintainers/owners have enabled 2FA"
**What's the problem this feature will solve?**
Currently package owners can't determine if their fellow owners/maintainers have enabled 2FA on their accounts, which makes it difficult to maintain a certain level of security for a given package.

**Describe the solution you'd like**
On the list of roles for a project, display a label next to each user which indicates whether 2FA is enabled or disa

[2019-05-06 16:14] di opened #5792 "Add ability to require 2FA for a given project"
**What's the problem this feature will solve?**
Currently there is no way to require a certain level of security for a given project.

**Describe the solution you'd like**
Allow a project to require that 2FA is enabled before a new owners/maintainers can be added. This should also prevent users that are not in compliance from doing the activities permitted by their role.

**Additional context**
~B

[2019-05-06 16:25] di commented on #5420
At the PyCon 2019 packaging summit, we determined that this is blocked on #726.

[2019-05-06 17:22] jamadden commented on #5789
The upload limit for cityenergyanalyst has been increased to 100MB on pypi.org.

[2019-05-06 17:22] #5789 closed

[2019-05-06 19:58] OmenApps opened #5796 "Sorting searches by 'Date last updated' results in 503"
**Describe the bug**

When trying to search for anything on pypi.org, sorting by relevance or trending works fine, but sorting by date last updated returns a 503 error.

**Expected behavior**

Search results, sorted by date.

**To Reproduce**

Example URL: https://pypi.org/search/?q=test&o=-created

Result:

The status page, though, shows all green.

**My Platform**

- Win 10, Firefox 66.0.3
- Ubu

[2019-05-06 20:30] ppiyakk2 commented on #5318
I will working on it.

[2019-05-07 07:38] daren-thomas commented on #5789
thank you :)

[2019-05-07 12:15] gsb-eng commented on #5796
This is the problem with `formatting date` to human understandable format, I'm fixing this. will submit a PR soon.

[2019-05-07 15:20] ronaldoussoren opened #5800 "Implement 2FA recovery codes"
**What's the problem this feature will solve?**
The new 2FA feature adds a TOTP second factor to the authentication proces. This can be problematic when you lose access to the device you use for the 2FA authentication (e.g. the phone running the TOTP app).

**Describe the solution you'd like**
Most TOTP using sites I've used have an option of recovery codes that can be used to log in with a recove

[2019-05-07 15:42] di commented on #5713
@shreyasbapat Please do!

[2019-05-07 16:00] ppiyakk2 commented on #5318
![image](https://user-images.githubusercontent.com/330233/57314455-a7ee7d80-70bf-11e9-966d-c43f794339e9.png)

How about this?

[2019-05-07 16:40] di commented on #5796
This started occurring May 5, 2019 5:38:49 PM UTC, did we merge something that's causing this?

[2019-05-07 16:41] dstufft commented on #5796
I think I merged an elasticsearch update yea.

[2019-05-07 16:53] alexwlchan opened #5805 "2FA: Disable autocomplete on the authentication code field"
**Describe the bug**
When I log in with 2FA enabled, my browser offers 2FA codes I’ve used in the past as autocomplete suggestions. Screenshots below from Safari and Chrome.

![Screenshot 2019-05-07 at 17 47 43](https://user-images.githubusercontent.com/301220/57317686-9a9db700-70f0-11e9-899d-521db8da84ac.png)

![Screenshot 2019-05-07 at 17 50 12](https://user-images.githubusercontent.com/301220/5

[2019-05-07 16:55] dstufft commented on #5805
We should totally do this and a PR that adds it would be much appreciated!

[2019-05-07 17:00] Dinnerbone commented on #3910
Hey everyone,

I'm sorry for not catching and dealing with this much sooner.

I have no issues with transferring ownership, I (clearly) do not have time to maintain this project myself anymore. To that end, I have added `kevinkjt2000` as Owner on pypi.org, and to my github repository. I do not mind, however, if you'd rather fork it and move it somewhere else, either.

Sorry again for not handling

[2019-05-07 17:02] alexwlchan opened #5808 "2FA: Send email notifications when you enable/disable 2FA"
**What's the problem this feature will solve?**
A malicious actor enables (or disables) 2FA on somebody’s account without them realising. A message sent to the primary email address will tell somebody if ne’er do well’s are up to something.

**Describe the solution you'd like**
When the 2FA settings are changed on my account, send me an email.

**Additional context**
PyPI already sends an email wh

[2019-05-07 17:03] phildini opened #5809 "2FA: Use a better name and logo for in-app representation"
* **Date @ Event:** 5/7/2019 @ PyCon Cleveland Sprints
* **Scenario:** Enabling 2FA in Duo
* **OS environment:** iPhone
* **Things you used:** warehouse
* **Python version and origin:** n/a

## Please highlight your log using this legend:
- [ ] :heart_eyes: Yay, this is awesome
- [x] :frowning: This is a little annoying, I'm frustrated
- [ ] :rage: I'd quit if I weren't specifically trying to impr

[2019-05-07 17:04] dstufft commented on #5809
I think that this has to come from Duo? I'm not aware of anything in the TOTP spec that adds it, but I might be entirely wrong on that. Leaving this open until we get that figured out for sure.

[2019-05-07 17:14] di commented on #5809
cc @mschwager

[2019-05-07 17:21] di commented on #5805
Fixed in #5807, thanks @alexwlchan!

[2019-05-07 17:21] #5805 closed

[2019-05-07 17:56] #5796 closed

[2019-05-07 18:47] mschwager commented on #5809
You can edit the account name and icon in the account's settings within the Duo Mobile app. I'm not sure if you get there the same way on iOS, but on Android you long-press the account in the list then press "Edit Account".

As far as icons go, we currently have a hard-coded list of available icons, and PyPI hasn't been added yet. There is an existing feature request :+1:

[2019-05-07 18:59] MarkL4YG commented on #3910
@Dinnerbone Thank you so much for your response and allowing us to continue development! :raised_hands:

[2019-05-07 19:38] jamadden commented on #3910
@Dinnerbone Thanks for responding.

@kevinkjt2000 If you're satisfied, could you please close this issue?

[2019-05-07 19:44] kevinkjt2000 commented on #3910
Whoa!  Was not expecting this turn of events!  Thanks Dinnerbone!

[2019-05-07 19:44] #3910 closed

[2019-05-07 19:45] di commented on #5809
Closing as there's nothing for us to do here. Thanks all!

[2019-05-07 19:45] #5809 closed

[2019-05-07 21:08] waynew commented on #5758
I just enabled 2FA and was looking for recovery codes, so I'm particularly interested in this process. I have a mild preference for having actual codes vs the manual process, just because N days is a long time to wait. That's particularly important if for some reason you need to hurry up and make a release (e.g. CVE in your library). I mean, hopefully you have several people if your project is tha

[2019-05-07 21:14] di commented on #5506
Seems like the actual issue here is that they query is for a package for which the package name on PyPI has mixed case. This is reproducible for `pip search django` (Django) and `pip search sqlalchemy` (SQLAlchemy) but not for `pip search tensorflow`, `pip search twine` or `pip search pip`, etc.

[2019-05-07 21:34] brainwane commented on #5778
@theb10n707 how is this going? Need any help?

[2019-05-07 21:48] di commented on #5778
Fixed in #5786.

[2019-05-07 21:48] #5778 closed

[2019-05-07 21:48] brainwane commented on #5661
When we flipped the switch for this feature on Test PyPI & canon PyPI, we did not initially update the user model so that existing Test PyPI accounts had the feature on. Ernest (I believe) ran some SQL to update all the Test PyPI accounts yesterday and turn on the flag.

Right now, new Test PyPI accounts (as in, created since that time yesterday) do not have the flag set so they don't see 2FA in t

[2019-05-07 23:20] DavidBord commented on #5790
@di as discussed, we should implement a draft role so that the request initiator / admin would be able to revoke the invitation

[2019-05-08 00:14] vidartf opened #5815 "2FA not prompted on package upload?"
**Describe the bug**
After having just enabled 2FA on the test server, I tried uploading a new package with `twine upload --repository-url https://test.pypi.org/legacy/ dist/*`. I was prompted for username and password as normal, and it then uploaded the packages successfully. It never prompted for a 2FA key.

**Expected behavior**
Either it should prompt for a 2FA key, or it should fail.

**My Pl

[2019-05-08 03:12] kevinkjt2000 commented on #3910
Thanks again @Dinnerbone !  I was able to release a new version and respond to a large number of the open issues.

[2019-05-08 07:19] MarkusH opened #5816 "2FA token field not cleared on invalid input"
**Describe the bug**

With enabled 2FA, when I login, and enter a wrong TOTP, and click "verify", the token verification fails (as expected) but the form field for the token still shows the wrong TOTP.

**Expected behavior**

I'd expect the input field to be cleared and not contain the invalid TOTP.

**My Platform**

* Firefox Nightly
* Arch Linux

**Additional context**

I tried this on https://p

[2019-05-08 11:25] ewdurbin commented on #5661
Reran the enabling of 2FA on test.pypi.org

[2019-05-08 16:07] nlhkabu commented on #5758
Hi @waynew thanks for your feedback.  To be clear, our intention is to also offer manual recovery codes.  However, users can choose not to enable these.

Manual account recovery is therefore limited to circumstances when:

a) a user has lost their recovery codes, or
b) a user never set up recovery codes

[2019-05-08 16:27] di commented on #5800
https://github.com/pypa/warehouse/issues/5758 ("Define manual account recovery process") is related.

[2019-05-08 23:24] vidartf commented on #5815
Thanks for the reply. Not entirely sure what is meant by an API key (https://stackoverflow.com/questions/1453073/what-is-an-api-key#1453082). Is this some long lasting token, or a one-time key?

[2019-05-08 23:29] alex commented on #5815
It's a long time key, with restricted privs -- there's a bug for it, but
I'm on my phone so I can't easily access it, sorry!

On Wed, May 8, 2019, 7:24 PM Vidar Tonaas Fauske <notifications@github.com>
wrote:

[2019-05-09 09:39] jezdez commented on #5815
The issue in question is #994.

[2019-05-09 09:44] jezdez opened #5825 "2FA Ask for password not username when disabling 2FA"
**Describe the bug**
When disabling 2FA for an account, it would make sense to ask for the user's password and not the username for confirmation as that would make it much harder to do drive-by disabling on unattended computers.

**Expected behavior**

Ask for password when disabling 2FA.

**To Reproduce**

Try disabling 2FA on https://pypi.org/manage/account/.

[2019-05-09 11:17] vidartf commented on #5815
Neat. So I assume that means 2FA push to prod is blocked on #994, and that uploads through any route will fail if:
- 2FA is enabled.
- No 2FA-circumventing token is used.

Will there be a non-browser upload method supporting 2FA?

[2019-05-09 20:27] vinayak-mehta commented on #5713
@shreyasbapat Looks like there isn't a PR for this, I'll take this up :)

[2019-05-09 20:51] #5713 closed

[2019-05-09 21:56] alexwlchan commented on #5825
Yeah, I thought this was a bit odd.

Separate ticket, but possibly related: should Warehouse require a password to enable 2FA? To prevent similar drive-by enabling of 2FA on unattended computers.

[2019-05-10 05:56] auvipy opened #5828 "HTTPError whie upoading through twine"
twine upload --repository pypi dist/*
Enter your username: auvipy
ERROR:dbus.proxies:Introspect error on :1.282:/modules/kwalletd5: dbus.exceptions.DBusException: org.freedesktop.DBus.Error.NoReply: Message recipient disconnected from message bus without replying
/usr/local/lib/python3.7/dist-packages/twine/utils.py:238: UserWarning: Failed to open keyring: org.freedesktop.DBus.Error.ServiceUnknow

[2019-05-10 07:45] sandrogauci opened #5829 "PEP 541: Transfer ownership of wafw00f"
I would like to take ownership of the PyPi package wafw00f which was originally registered by a contributor Akun (https://github.com/akun) on PyPi, who is not responding to my emails nor keeping the releases updated.

- PyPi package: https://pypi.org/project/wafw00f/
- PyPi maintainer: https://pypi.org/user/kun/ @akun
- Github: https://github.com/EnableSecurity/wafw00f
- Author: https://github.com

[2019-05-10 09:46] 0xInfection commented on #5829
Yes, this needs to be resolved ASAP. There is a lot of activity on the repository on GitHub (high number of daily visits and clones), so I guess there are a lot of people using this tool.

[2019-05-10 12:20] dstufft commented on #3106
Is building from source a big deal for us? We already build a number of other things from source IIRC?

[2019-05-10 12:25] #5828 closed

[2019-05-11 06:25] drunkwcodes commented on #3106
To bootstrap in an uncertain circumstance?

[2019-05-12 00:59] #3739 closed

[2019-05-12 02:48] dstufft commented on #3966
Solved in https://github.com/pypa/warehouse/pull/5835

[2019-05-12 02:48] #3966 closed

[2019-05-12 03:02] dstufft commented on #3106
This is solved now due to https://github.com/pypa/warehouse/pull/5696.

[2019-05-12 03:02] #3106 closed

[2019-05-12 17:21] dstufft opened #5837 "Implement PEP 592 -- Yanking of Releases/Files"
The way we should implement this is that an entire release can be yanked or unyanked at will by a maintainer of a project. Yanking should set an attribute on the simple repository link for any files for that release.

[2019-05-12 17:24] dstufft commented on #5837
Here's a PR that starts implementing this https://github.com/pypa/warehouse/pull/5838.

[2019-05-12 17:32] dstufft commented on #5439
I wonder if we should just reject known installer user agents from hitting the "UI" pages and return an error code in those cases.

[2019-05-12 21:11] #4488 closed

[2019-05-12 22:30] di commented on #5816
I've added the `good-first-issue` label to this issue.

[2019-05-13 10:38] calston commented on #5752
Really? No one cares? @dstufft

[2019-05-13 17:08] #5318 closed

[2019-05-13 17:10] di commented on #5790
@DavidBord How's it going here? It seemed like you were close to finishing this, need any assistance?

[2019-05-13 21:01] gforcada commented on #3939
Is there anything missing here after #4959 was merged? :thinking:

[2019-05-13 21:07] di commented on #3939
Nope!

[2019-05-13 21:07] #3939 closed

[2019-05-14 05:54] DavidBord commented on #5790
@di it is finished except for the 100% test coverage needed for the CI to pass: https://github.com/DavidBord/warehouse/tree/fix-5790-send-invitations
I'll do my best to complete it soon

[2019-05-14 09:10] SteffenMeinecke opened #5845 "Request for file size limit exemption of new simbench package"
Dear PyPI experts,
I request you to increase the file size limit for the new simbench package which is already available on GitHub: https://github.com/e2nIEE/simbench
In dist/* the zip size is currently about 90 MB. Consequently both must be increased, PyPI and Test PyPI.

The objective of the research project SimBench is the development of a benchmark data set to support research in grid planning

[2019-05-14 10:17] jamadden commented on #5845
In order for the PyPI admins to adjust the size constraints  for the project, you'll need to upload an empty release to create the project first. I'd recommend using version number 0.0.0 and deleting the release afterwards (the project will remain).

[2019-05-14 10:53] SteffenMeinecke commented on #5845
Thanks for your response.
I guess that empty release is needed for both, Test PyPI and PyPI.

[2019-05-14 11:07] jamadden commented on #5845
If you intend to use both pypi.org and test.pypi.org, then yes, the project must be created on both sites.

[2019-05-14 12:50] SteffenMeinecke commented on #5845
Dear jamadden,
I added the initial packages simbench to PyPI and TestPyPi: https://pypi.org/project/simbench/ https://test.pypi.org/project/simbench/
In setup.py I included README_without_images.rst since I had troubles to include images to the pypi description. Do you have an idea why the classifiers are not properly depicted on the left side of https://pypi.org/project/simbench/ and how I can in

[2019-05-14 13:51] jamadden commented on #5845
The upload limit for those packages has been set to 100MB.

Just a guess about your README.rst: The file shipped in your sdist contains a mix of CRLF and plain CR line endings (that is, there are some Windows line endings and some Unix line endings). Consequently, the metadata file (PKG-INFO) also has a mix of CRLF and CR endings. I'm going to guess that confused the metadata tools and they weren'

[2019-05-14 13:51] #5845 closed

[2019-05-14 23:22] ryanjulian opened #5852 "PEP541: Release unused project name "garage""
I'd like to take ownership over the PyPI project name `garage` so that our organization can distribute [a machine learning library under the name](https://github.com/rlworkgroup/garage).

We publish several related RL libraries on PyPI:
https://pypi.org/project/akro/
https://pypi.org/project/viskit/
https://pypi.org/project/dowel/

* I cannot upload to PyPI using the package name `garage`, but the

[2019-05-14 23:33] jamadden commented on #5852
I believe @jezdez is the owner of the PyPI project "garage". Perhaps they'll see this ping and respond here. They also list some contact information at https://github.com/jezdez

[2019-05-14 23:43] ryanjulian commented on #5852
thanks @jamadden -- i will contact @jezdez and report back

[2019-05-15 06:56] jezdez commented on #5852
Hi all, I've replied to @ryanjulian's email directly and added them to the project as requested. For some reason I wasn't able to remove myself as owner though, let's see if @ryanjulian can figure this out.

[2019-05-15 07:47] ryanjulian commented on #5852
Removed. Cheers. Thanks @jezdez and @jamadden !

[2019-05-15 07:47] #5852 closed

[2019-05-15 10:36] jamadden commented on #5391
It seems to me that the project qualifies as abandoned, and no one has been able to reach the owner despite multiple attempts over a longer time period than specified in the PEP.

I can only help facilitate transfers where the owner is responsive, I'm not able to take action otherwise. One of the super-admins would need to step in.

[2019-05-15 10:51] jamadden commented on #5829
I've also reached out to @akun at the email address we have on file for that account (which matches the email address published for the github profile).

To qualify as an abandoned project for [PEP 541 purposes](https://www.python.org/dev/peps/pep-0541/#continued-maintenance-of-an-abandoned-project), the last release needs to be more than 12 months ago, and we're not *quite* there yet. The github

[2019-05-15 14:12] scopatz opened #5854 "reStrustucturedText description error when language unknow, but valid rST"
**Describe the bug**

If the `description` keyword contains valid rST, such as:

[code]

PyPI will reject an upload of this source of this package with

[code]

The package may be uploaded if the above snippet is changed to:

[code]

**Expected behavior**

PyPI should either not care about the language of the code-block or give a more correct / descriptive error message, since the original snippet

[2019-05-15 16:44] SimonBaron opened #5855 "The description failed to render in the default format of reStructuredText"
Since the #5835 commit (I think) our deployments to pypi have been failing with this error:

[code]

as previously, our setup.py specifies `long_description_content_type="text/markdown"`

looking at previous issues, I have tried using twine to verify it locally and it seems perfectly happy with the readme and setup.

i'm using the most recent versions of setuptools and wheel

**Expected behavior**

[2019-05-15 16:54] jamadden commented on #5855
The source code or the built artifact you're trying to deploy could be useful so we can examine the metadata.

[2019-05-15 18:48] woodruffw commented on #5815
Probably not. We discussed some schemes early on that would allow users to embed e.g. a TOTP token alongside their password, but the ultimate goal is to remove password authentication for package upload entirely and go with well-scoped API keys instead.

[2019-05-15 19:29] sandrogauci commented on #5829
Thanks for the update @jamadden .. yes we could wait for Jun 14 2019. I have emailed @akun myself but no responses were received either.

[2019-05-15 19:56] di commented on #2589
Relevant discussion thread here: https://discuss.python.org/t/namespace-support-in-pypi/1609

[2019-05-15 20:23] 4383 commented on #2589
@di oh thanks! Nice to see similar discussions, I'll take a look

[2019-05-15 22:20] batou-mtcapthca commented on #3174
reCaptcha v2 is not guaranteed to work in china due to its dependencies on google.com which is blocked. One can look at https://captcha.com/ to host their own, or https://www.mtcaptcha.com for a paid for recaptcha alternative. Both would work in China.

[2019-05-16 02:06] tbekolay opened #5860 "test.pypi.org Trove classifiers not up to date"
**Describe the bug**
We attempted to push a release to PyPI with the new `Framework :: Nengo` Trove classifier, but receive a 400 error that it's an invalid value (see this [build log](https://travis-ci.org/nengo/nengo-bones/jobs/533099942#L961)).

**Expected behavior**
For the release to succeed.

**To Reproduce**
Any `setup.py` using the `Framework :: Nengo` Trove classifier will fail when publi

[2019-05-16 08:28] jamadden commented on #5860
#5628 added the classifier to pypi.org. There's not an automated process to also add them to test.pypi.org, so due to the extra work involved that often gets forgotten or overlooked unless someone mentions that specifically.

I've added this classifier to test.pypi.org. Sorry for the trouble.

[2019-05-16 08:28] #5860 closed

[2019-05-16 08:55] jamadden commented on #5728
Hi! Thanks for the well written request. The PyPI moderators are in the process of developing a few guidelines for the creation of new classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, I think we're expecting the bar to add new ones to be relatively high. Currently, we're looking at these guidelines:

* New classifiers

[2019-05-16 09:32] SimonBaron commented on #5855
this is the project in question: https://bitbucket.org/dativa4data/dativatools/src/dev-simon/
[dativatools-2.12....tar.gz](https://github.com/pypa/warehouse/files/3186372/dativatools-2.12.tar.gz)

this is the tar - github won't let me add the wheel, but you'll probably want to build it yourself anyway to check im not being an idiot :)

[2019-05-16 10:02] jamadden commented on #5855
(There seems to be a problem with your MANIFEST.in: `setup.py` tries to read a file called `readme.md` --- all lower case --- but that file isn't included in the tarball. The log file warns about that: `warning: sdist: standard file not found: should have one of README, README.rst, README.txt, README.md`. The `version.txt` file is also missing.)

The sdist you linked to isn't valid, as `...` can't

[2019-05-16 10:33] SimonBaron commented on #5855
thanks very much for looking at this. I worked out where the ... is coming from - we're appending bitbucket pipeline number to the version number in order to auto-increment versions when we deploy. Obviously running this locally was not achieving the same thing!

this is my wheel
[wheel.tar.gz](https://github.com/pypa/warehouse/files/3186599/wheel.tar.gz)

I'm not sure I fully understand about the

[2019-05-16 10:50] jamadden commented on #5855
Yes, absolutely, for *source distributions* (sdists)  (a .tar.gz, or for older windows versions, a .zip). This is supposed to contain everything needed to reproduce the *binary distributions* (bdist) (such as a wheel or an egg). Working source distributions are important to always provide for a number of reasons, both practical (there exist systems that cannot install binary distributions; future

[2019-05-16 11:01] jamadden commented on #5855
This time I downloaded the wheel, used `wheel unpack` to extract it, eyeballed that the metadata looked good, tweaked the name, and used `wheel pack` to recreate it. I uploaded it to test.pypi.org, [where everything looks good](https://test.pypi.org/project/jmdativatools/).

So either this was just a transient error, or the distributions that was produced and uploaded today does not match what bit

[2019-05-16 14:22] theacodes commented on #5728
I'm +1 on this classifier.

On Thu, May 16, 2019, 1:55 AM Jason Madden <notifications@github.com> wrote:

[2019-05-16 15:50] brainwane opened #5863 "Audit trail: implement auditable event logging for sensitive actions"
Warehouse is adding an advanced audit trail of user actions beyond the current (existing) journal. This will, for instance, allow publishers to track all actions taken by third party services on their behalf.

- [ ] Add auditing for user actions in PyPI
- [ ] Add auditing for project actions in PyPI
- [ ] Implement a User view for User auditing, allowing publishers to track all actions
taken by th

[2019-05-16 15:51] brainwane commented on #5714
My gut tells me we should implement this with or after #5863, and that it might in fact be blocked on  #5863.

[2019-05-16 15:55] brainwane commented on #5816
@theb10n707 or @ppiyakk2 would you like to help us with this?

[2019-05-16 16:09] brainwane commented on #996
We're reviewing, triaging, and fixing bugs we're finding during the TOTP beta, and @woodruffw is working on WebAuthn support in #5795 (that WIP is good enough for Warehouse developers and PyPI power users to spin up and try now).

[2019-05-16 16:10] SimonBaron commented on #5855
frustratingly, i still can't make this work, i've added the readme to the manifest (although it never seemed that that was the problem).

if i change the long description to 'long_description' I can upload it: https://test.pypi.org/project/dativatools/

There must be something I'm doing that is triggering the description validation - do you have any ideas at all?

[2019-05-16 16:18] brainwane opened #5864 "Audit log: what should Maintainers of projects see?"
Regarding #5863:

Just Owners, or also Maintainers? Maybe the Maintainers should be able to see a subset of the things Owners can see?

cc @dstufft @nlhkabu @di

(This is not urgent right now but will come up as @woodruffw implements the audit log in the future.)

[2019-05-16 16:29] takluyver opened #5865 "API to verify upload ability without actually uploading"
**What's the problem this feature will solve?**

I want to write release scripts which check whether the necessary credentials are in place to upload a package, before it starts making changes as part of the release process.

This could also be integrated with other pre-upload checks, like 'does this release already exist?'

**Describe the solution you'd like**

An API to which I can make an authe

[2019-05-16 16:33] brainwane commented on #5587
@woodruffw mentioned [today in IRC](http://kafka.dcpython.org/day/pypa-dev/2019-05-16):

@nlhkabu is there anything you need for the latter?

[2019-05-16 16:36] #5815 closed

[2019-05-16 18:01] brainwane commented on #994
@woodruffw and @nlhkabu will be implementing per-user API keys as an alternative form of multifactor authentication in the PyPI auth flows (alternative to the TOTP and WebAuthn methods that we're doing first). These will be application-specific tokens scoped to individual users/projects (and the task will also cover adding token-based login support to twine and setuptools, to improve the security

[2019-05-16 18:20] brainwane commented on #997
To do this the right way, we should wait till we have #5863 implemented, so we can draw on the event logging and use it to trigger this notification.

[2019-05-16 18:21] brainwane commented on #5714
Yup: to do this the right way, we should wait till we have #5863 implemented, so we can draw on the event logging and use it to trigger this notification.

[2019-05-16 18:21] brainwane commented on #5808
Thanks @alexwlchan!

To do this the right way, we should wait till we have #5863 implemented, so we can draw on the event logging and use it to trigger this notification.

[2019-05-16 18:23] brainwane commented on #3264
To do this the right way, we should wait till we have #5863 implemented, so we can draw on the event logging and use it to trigger this notification.

[2019-05-16 18:23] brainwane commented on #3317
We still need to make a policy decision about this. But if we decide to do this, then to do this the right way, we should wait till we have #5863 implemented, so we can draw on the event logging and use it to trigger this notification.

[2019-05-16 18:27] brainwane commented on #798
Good news! The [Packaging Working Group](https://wiki.python.org/psf/PackagingWG), seeking [donations](http://donate.pypi.org/) and further grants to fund more work, got [some new funding](https://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html) from the Open Technology Fund, and an auditable event log -- tracked in #5863 -- is [part of the current grant-funded project](https

[2019-05-16 18:28] brainwane commented on #5863
Noting here that sensitive actions worth including in the event log would include _renaming_ a project, per #1919.

[2019-05-16 18:38] eirnym commented on #798
This is the excellent news, @brainwane! I'm looking forward for the implementation!

[2019-05-16 18:51] brainwane opened #5866 "Require verified email before allowing user to enable 2FA"
**What's the problem this feature will solve?**
Sometimes people enable two-factor auth and then run into some kind of problem like losing access to their provisioned TOTP-generating app. We want to make it easier for PyPI admins to check the legitimacy of users' requests for account recovery in such circumstances.

**Describe the solution you'd like**
Prohibit users from enabling any 2FA until th

[2019-05-16 18:54] ewdurbin commented on #5560
pypi.org and test.pypi.org do not share a database, the email in question is currently associated with another user on pypi.org which is preventing its use.

Based on the name of the user, it appears to be an old account of yours. If you're unable to determine this old username you can email ernest@python.org from the email address in question and I'll assist further.

[2019-05-16 18:55] brainwane commented on #5815
@vidartf per https://github.com/pypa/warehouse/issues/994#issuecomment-493171700 , although we do not plan to enable 2FA for package upload, we _do_ plan to use API keys to better secure package upload (such as via `twine`).

[2019-05-16 18:57] brainwane commented on #5758
Implementing #5866 will help a bit with this as well.

[2019-05-16 19:01] brainwane commented on #5800
Per [conversation in IRC today](http://kafka.dcpython.org/day/pypa-dev/2019-05-16) -- recovery codes, while a useful feature, are not in-scope for the deliverables we promised in [our grant-funded work](https://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html) from the Open Technology Fund ([more details](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-a

[2019-05-16 19:04] brainwane commented on #5790
@DavidBord Let us know if you need any help! Thanks.

[2019-05-16 19:22] brainwane opened #5867 "2FA: "trust this device for 30 days" option"
**What's the problem this feature will solve?**
The multi-factor auth makes logging in a little less convenient, and the fact of a previous login to a user's account from the same device makes it more likely that the user auth is legit.

**Describe the solution you'd like**
Much as other 2FA implementations do, we could add a "trust this device for 30 days" (or some similar period) checkbox during

[2019-05-16 20:05] ericholscher commented on #5867
Thanks for writing this up @brainwane! 💯 🎉

[2019-05-16 20:18] brainwane opened #5869 "Feature flag system"
**What's the problem this feature will solve?**
It's annoying to roll out changes to Test PyPI and not PyPI.org, or to only certain users -- we're running into that in https://github.com/pypa/warehouse/issues/5661#issuecomment-490267708 . For instance, we can't currently change configuration to indicate "this should be enabled for all users on test.pypi.org, including new users created after we fl

[2019-05-16 23:32] tbekolay commented on #5860
Thanks a lot for the quick resolution!

[2019-05-17 00:09] ppiyakk2 commented on #5816
@brainwane Of course! Let me solve this issue.

[2019-05-17 07:59] raoulcollenteur commented on #5728
That is great! Thanks for looking into this issue and (hopefully) adding the classifier. I'll make sure to reach out to the community and have package maintainers add the classifier once it has been added.

I agree it is a good idea to specify what "notably" means by adding the two additional guidelines that are suggested to avoid any discussion on when a classifier is notable.

As for your commen

[2019-05-17 09:14] SimonBaron commented on #5855
huh.

As you can see here: https://test.pypi.org/project/dativatools/

I've truncated my readme and used http://rst.ninjs.org/ to help me format it as reStructuredText, now it uploads and then displays as markdown..

I think that confirms my theory that somehow my `long_description_content_type="text/markdown",` is being ignored and the description is being validated as reStructuredText.

[2019-05-17 10:41] jamadden commented on #5855
That suggests using an incompatible version of setuptools, wheel, or twine. The pipeline definitely uploaded using the newest twine, but I can’t tell about the other two. The files I uploaded had been built with current setuptools and wheel, and I uploaded with latest twine.  Can you check your versions of all three?

[2019-05-17 12:49] SimonBaron commented on #5855
we're specifying in setup (updated this morning to see if it would help)

hmm, i'm not sure what we've been using - i thought we were specifying the versions in setup.py. but that doesn't make sense.

i've added steps to explicitly set the versions in build.sh:

[code]

still no luck

[2019-05-17 12:58] SimonBaron commented on #5855
aaaaaaaah, I think I've got it

The bitbucket pipeline was not deploying the setuptools correctly. I think I have it now, but (as usual) i have no idea how it ever worked before.

[2019-05-17 13:06] SimonBaron commented on #5855
we were specifying 'install_requires', but the environment didn't match that - is it supposed to warn or error in that case?

[2019-05-17 13:17] jamadden commented on #5855
`install_requires` means the version that you want at *runtime* (i.e., *after* you're installed). `setup_requires` is for what you need at build (setup) time. But doing that starts to get complicated and can raise issues of build isolation.

Historically, I just have something like a `build_requirements.txt` that I `pip install` before doing either `pip wheel .` or `python setup.py bdist_wheel`. T

[2019-05-17 13:28] SimonBaron commented on #5855
i mis-typed. we are setting
[code]

but clearly i've not understood that. Thanks so much for the links and the help. :)

[2019-05-17 13:29] #5855 closed

[2019-05-17 21:18] woodruffw commented on #5825
This was a subject of some discussion in #5567 (although I'm currently having trouble finding the exact comment).

As far as I know, requiring a password (or just a second factor) when disabling 2FA is not a consistent practice across major services. Both Google and GitHub will prompt you for some kind of authentication if you haven't accessed their security pages in a while but both retain a cook

[2019-05-17 22:08] jezdez commented on #5825
I understand (1) for sure, but don't follow you regarding (2) to be honest. It seems to me that confirmation via a password is not an unreasonable amount of effort, while using the username effectively is no effort at all. IOW entering a username to authorize a possibly dangerous change is not an expected UX pattern, in contrast to entering a password.

Sure, although I didn't raise this issue for

[2019-05-18 05:23] zmwangx opened #5876 "GitHub statistics: link to project page instead of /stargazers"
**What's the problem this feature will solve?**

Currently, "Stars" in the GitHub statistics section links to the /stargazers page on GitHub, e.g. https://github.com/pypa/warehouse/stargazers, which technically is the correct page to link to. However, not sure if it's just me, I find a list of random GitHub users who have starred a project almost completely useless 99.99% of the time. (Meanwhile,

[2019-05-18 13:21] ivansiiito opened #5877 "Increase size limit request"
Hi!

I would like to have extra space for my project https://pypi.org/project/syntactic-tagger/. I need at least 220MB in the PyPI index (as this is an initial version, I would ask for 250MB just in case).

My project is a pure Python implementation of a part-of-speech tagger for Spanish text. I wrote an academic paper that is going to be published soon, which is about a new technique for a part-o

[2019-05-18 15:22] s-m-e opened #5878 "HTML tables in Markdown readme files are rendered without honoring "colspan" and "rowspan""
**Describe the bug**

As the title says: HTML tables in Markdown readme files are rendered without honoring "colspan" and "rowspan".

**Expected behavior**

On GitHub for instance, my table is rendered like this:

![Screenshot_20190518_171137](https://user-images.githubusercontent.com/16851110/57971668-3c46c300-7991-11e9-86e5-bb8574749eae.png)

See [original](https://github.com/pleiszenburg/refuse

[2019-05-19 00:03] inducer opened #5880 "PEP 541: transfer ownership of unmaintained `loopy`"
Hi, I, @inducer, would like to transfer ownership of the name "loopy" to myself. The current PyPI package is a package that was first released in 2007 and had two more releases in 2009. It is an abstraction over various main loops (libevent etc). It does not declare a web page, and I was not able to locate a repo. It describes itself as "alpha", and I was not able to find evidence of further devel

[2019-05-19 17:21] nlhkabu commented on #5587
@brainwane - nothing needed on my side.  Just need the go-ahead from @woodruffw.  @woodruffw are you ok for me to pull down https://github.com/pypa/warehouse/pull/5795 and update templates?

[2019-05-19 17:27] brainwane commented on #4335
Unfortunately no, I do not think the task of sorting/filing this is something that we can reasonably include in @nlhkabu's current scope of work. _Mine_ perhaps.

[2019-05-19 17:28] woodruffw commented on #5587
@nlhkabu Yep!

[2019-05-19 19:56] brainwane commented on #5816
@ppiyakk2 Great! Please go ahead and work on it -- let us know if you have any trouble!

[2019-05-20 05:13] nlhkabu opened #5883 "Prevent double notifications after TOTP disabled"
After TOTP is **disabled**, we get the following notifications:

![Screenshot from 2019-05-19 17-17-40](https://user-images.githubusercontent.com/3323703/57997699-ff301d00-7ac5-11e9-938c-540d73fc40af.png)

We should *not* show the second "TOTP is available" message, because the user already knows it is available, and has chosen to disable it.

[2019-05-20 05:14] nlhkabu commented on #5883
@woodruffw - is this something you could please look into?  Thx

[2019-05-20 11:30] jamadden commented on #5728
`Topic :: Scientific/Engineering :: Hydrology` has been added to pypi.org and test.pypi.org

[2019-05-20 11:30] #5728 closed

[2019-05-20 11:33] jamadden commented on #5877
The upload limit has been set to 250MB on pypi.org.

[2019-05-20 11:33] #5877 closed

[2019-05-20 14:34] woodruffw commented on #5883
Thanks for the ping!

Currently we don't track the user's previous second-factor state -- if they delete all of their 2FA methods, it's as if they never had any to begin with. I guess we could solve this by adding an additional column to the `User` model, something like `has_deleted_second_factor`, which we could then check before splashing that message.

One potential concern: we *do* want to nud

[2019-05-20 14:47] brainwane commented on #5661
Today's the 20th and it looks like we aren't done with the beta yet, because #5866 is a blocker.

Once we finish that, there are some UI issues that we should fix, but it's ok to roll out 2FA to everyone on pypi.org before fixing them.

And then a note for next time: let's address #5869 (or having "flip bit in user model" in the runbook for the WebAuthN rollout).

[2019-05-20 16:39] woodruffw commented on #5883
cc @di @dstufft @ewdurbin @brainwane for ideas here: I'm personally in favor of always nudging the user to add a second factor if they don't currently have one, but think that we should change the current behavior to dismiss the splash if the user disabled their 2FA within the current session.

[2019-05-20 19:40] di commented on #5883
My opinion is that it's fine as-is, the number of users who see this is a small percentage, and it's not really a confusing message for them: They _did_ just disable 2FA, and they _should_ re-enable it.

Happy to defer to @nlhkabu here though.

(Also, I don't see a great way to do this without adding some very specific state to the `User` model here.)

[2019-05-20 19:58] di commented on #5878
Interestingly the raw description does contain the `colspan` and `rowspan` attributes:

[code]
So it seems like this isn't a bug with `readme_renderer`, but I'm not sure how or why they'd be disappearing between the rendered readme and our UI.

[2019-05-20 20:29] #3521 closed

[2019-05-20 20:47] mschwager commented on #5809
Just a heads up - we plan on automatically detecting PyPI as a third-party account in Duo Mobile. What this means is, when a Duo Mobile user scans the QR code, it will automatically show the PyPI logo and display "PyPI" as the account name rather than a generic account and the user's email address (unless they have multiple accounts under the same service provider).

However, I think we may need s

[2019-05-20 20:55] di commented on #5809
I agree the `issuer_name="PyPI"` kwarg should probably be removed.

This value will differs depending on which site 2FA is being enabled for, but you can depend on these values being consistent:

* https://pypi.org: `PyPI`
* https://test.pypi.org: `TestPyPI`
* local development: `Warehouse` (but I don't think Duo needs to handle this)

[2019-05-20 21:03] mschwager commented on #5809
Roger that - thanks!

[2019-05-20 21:30] woodruffw commented on #5866
Working on this now.

[2019-05-20 21:38] woodruffw commented on #5866
Opened #5889 for this.

[2019-05-21 02:40] evandrocoan opened #5890 "HTTPError: 400 Client Error: The description failed to render in the default format of reStructuredText"
Related: https://github.com/pypa/warehouse/issues/5855 The description failed to render in the default format of reStructuredText

[code]

Contents of `fastfilepackage-1.0.6.tar.gz`:
1. ![image](https://user-images.githubusercontent.com/5332158/58063978-c5f3bd80-7b56-11e9-9c5a-0c734181768d.png)
1. ![image](https://user-images.githubusercontent.com/5332158/58064468-a1004a00-7b58-11e9-9a78-44f89ccef

[2019-05-21 03:05] evandrocoan commented on #5890
I just manage to upload it by replacing:
[code]

With:
[code]

[2019-05-21 09:51] igorfraa commented on #5010
Hello @cas-- , yes it was me. I have spent some time with porting Deluge to GTK3 but later abandoned this work.

I've just removed the project from pypi, so please go ahead with releasing.

[2019-05-21 10:57] auvipy commented on #5890
facing this error

twine upload --repository pypi dist/*
Enter your username: auvipy
ERROR:dbus.proxies:Introspect error on :1.402:/modules/kwalletd5: dbus.exceptions.DBusException: org.freedesktop.DBus.Error.NoReply: Message recipient disconnected from message bus without replying
/usr/local/lib/python3.7/dist-packages/twine/utils.py:238: UserWarning: Failed to open keyring: org.freedesktop.DBus.

[2019-05-21 12:46] mgedmin commented on #5582
This is happening again.

[2019-05-21 13:35] jamadden commented on #5582
Spot-checking some newly uploaded distributions, I get 404's for images included. E.g., for https://warehouse-camo.cmh1.psfhosted.org/1d79639b11ecb13f241b995fe1d544369c1624f4/696d672f707974686f6e2e706e67 from https://pypi.org/project/netpay-ecommerce-python/

[code]

I haven't been able to find a 504 yet.

[2019-05-21 15:49] di commented on #5582
Should be fixed now.

[2019-05-21 16:42] webknjaz commented on #996
May I suggest adding smth like `&image=https://pypi.org/static/images/logo-small.6eef541e.svg` to the TOTP QR code? Some apps like FreeOTP can recognize this param and show it as an icon next to the OTP entry.

[2019-05-21 16:50] webknjaz commented on #996
I've tried out 2FA on test PyPI. Disabling it seems too easy: shouldn't PyPI require entering an OTP to complete this action?

[2019-05-21 17:10] cas-- commented on #5010
Excellent, thanks for that!

[2019-05-21 17:10] #5010 closed

[2019-05-21 18:07] woodruffw commented on #996
This is technologically feasible (we'll have to call `_generate_uri` instead of having PyCA's TOTP implementation do it for us, but that's not a big deal).

However, it might be inadvisable: the `otpauth://` scheme isn't standardized (Google provides [this spec](https://github.com/google/google-authenticator/wiki/Key-Uri-Format), which they themselves violate in some slightly annoying ways), and d

[2019-05-21 22:33] brainwane commented on #5883
I'm taking this issue off the OTF security work milestone because it's going to be tricky to deal with user state. But finding a graceful way to deal with it is something I hope we can do in the medium term.

[2019-05-21 22:38] brainwane opened #5894 "Make QR code for TOTP more specific, informative"
**What's the problem this feature will solve?**
The QR code (for Duo Mobile, at least) produces an entry with just the username, which is ambiguous to the user.

**Describe the solution you'd like**
More helpful would be, e.g., `test.pypi.org-$username` to show which PyPI (and really which site) the account is for, AND which account it is.

**Additional context**
Submitted at the PyCon North Ameri

[2019-05-21 22:39] brainwane commented on #5894
@di @woodruffw If this is easy, let's try to get it in before we wrap up the OTF milestone?

[2019-05-21 22:42] brainwane commented on #996
@webknjaz and @woodruffw could the "improve the QR code" discussion move to #5894? And I'd like the "how much confirmation should we require of the user to disable 2FA" discussion to please move to #5825. Thanks.

[2019-05-22 00:10] spyoungtech commented on #5890
I am also having this problem suddenly, even though my `setup.py` and `README.rst` have not changed since the last successful deploy.

I am using the travis-ci PyPI deploy feature.

[2019-05-22 00:41] inclusive-dev1 opened #5895 "PEP 541: transfer ownership of unmaintained `xlrd`, `xlwt`, et al"
Hi, I @inclusive-dev1, would like to transfer ownership of the names `xlrd` and `xlwt` to myself. Any other related packages will be taken up by a new PEP 541 request, as and when we discover they are *abandoned* and necessarily *related*.

The following uses statistics from the `xlrd` project to demonstrate that both `xlrd` and `xlwt` have been abandoned. The `xlrd` project was abandoned more rec

[2019-05-22 00:47] pradyunsg commented on #5825
I too think asking for the username is odd, and asking for the password is more appropriate for an action like removing 2FA. Asking for a username is functionally equivalent to a confirmation dialog but requiring slightly more typing/effort for nothing much here.

I don't think asking for the username for a destructive action is a pattern I've seen elsewhere and switching to either a confirmation

[2019-05-22 01:07] brainwane commented on #5825
@nlhkabu I have a suggestion here, which is: perhaps you could skim https://simplysecure.org/knowledge-base/ to check whether there's research or advice there on what to require of a user in this scenario?

Thanks for elaborating on your thinking here, @jezdez -- I appreciate the detail!

[2019-05-22 01:41] nurupo commented on #996
What about a user who no longer have access to their TOTP secret and are not logged in?

All 2FA implementations I have seen have a backup method you can use if you lose your TOTP/U2F device. Often times they provide backup codes. Sometimes it's TOTP with SMS as backup, or U2F with TOTP as backup. But I think I have yet to see a 2FA without a backup method.

[2019-05-22 02:31] brainwane commented on #996
@nurupo We are addressing that in #5800 - please head over there! Thanks.

[2019-05-22 02:37] woodruffw commented on #5800
To follow up on @nurupo's question in #996:

If a user has both TOTP and WebAuthn enabled but has lost access to one or the other, they'll still be able to use the one they still have access to. That's not a backup scheme per se since we impose no ordering between TOTP and WebAuthn, but it's something we'll support.

Re: SMS and recovery codes: like @brainwane said these are not in scope for the O

[2019-05-22 03:50] nurupo commented on #5800
An issue with using both TOTP and WebAuthn is that if you use a single device for both, e.g. a Yubikey can do both TOTP and WebAuthn, and lose it, then you won't have access to both of those. Of course the obvious solution would be "don't store them on the same device". Or you could treat TOTP secret as a backup code and write it somewhere down as you would with backup codes. So I guess either way

[2019-05-22 04:21] nurupo commented on #5800
Anyway, thanks for letting know, I'm glad that recovery codes are on the PyPI road-map, even if not as part of the OTF work.

[2019-05-22 05:19] woodruffw commented on #5800
Yeah, this is admittedly a hazy distinction. TOTP preserves the second factor property by requiring a transform on the secret + windowed timestamp that the user (probably) can't do in their head and thus turn into something they know, but a user could always save their TOTP secret somewhere that isn't sequestered and violate the scheme in that way.

OTOH, recovery codes are (usually) trivial for u

[2019-05-22 08:21] ruohoruotsi commented on #5147
Did you not ever get your limit?

[2019-05-22 08:31] ruohoruotsi opened #5896 "File size limit increase request"
- A link to your project on PyPI: https://pypi.org/project/iranlowo/
- The size of your release, in megabytes: 65-75MB
- Which index/indexes you need the increase for: PyPI
- A brief description of your project, including the reason for the additional size.
Greetings, thank you for this service. My project is a utility library for African language technology developers and researchers. One compone

[2019-05-22 09:48] Dapid commented on #5147
No.

[2019-05-22 10:12] cas-- commented on #3097
Please revisit fixing this issue, the PR looked good to me...

[2019-05-22 10:42] jamadden commented on #5895
In order to proceed with a PEP 541 transfer on the basis of projects being abandoned, all the [PEP 541 criteria](https://www.python.org/dev/peps/pep-0541/) must be met:

1. owner not reachable (see Reachability above);
2. no releases within the past twelve months; and
3. no activity from the owner on the project's home page (or no home page listed).

By point (2), we're at least six months away fr

[2019-05-22 10:45] cjw296 commented on #5895
Yeah, no idea who @inclusive-dev1  is, but they haven't tried to reach out anywhere...

[2019-05-22 10:56] jamadden commented on #5895
@cjw296 Thank you for responding! We have now established that an owner of both `xlrd` and `xlwt` is reachable using github. That eliminates the chance that those projects can be considered "abandoned."

@inclusive-dev1 With owners reachable, there is no role for PyPI moderators here. You'll need to discuss future plans with the owners of the projects.

[2019-05-22 10:56] #5895 closed

[2019-05-22 10:59] jamadden commented on #5896
Thanks for the request.

The [Homepage](https://github.com/Niger-Volta-LTI/iranlowo) link for the project points to a github repository that doesn't seem to exist. Could you please let us know what the correct github repo is?

[2019-05-22 11:04] jamadden commented on #5147
Apologies for the delay.  The PyPI moderation team wasn't established until January and some tickets in the backlog were missed.

I've set the upload limit for PconsC4 on pypi.org to 300MB.

[2019-05-22 11:04] #5147 closed

[2019-05-22 13:54] ruohoruotsi commented on #5896
Give it a try now:
https://github.com/ruohoruotsi/iranlowo

it was private and under my account. Once everything is working well, I'll move it to the organization and make it public forever (the link you clicked on pypi). Apologies for the confusion.

[2019-05-22 15:17] jamadden commented on #5896
The upload limit for  iranlowo has been set to 100MB on pypi.org.

[2019-05-22 15:17] #5896 closed

[2019-05-22 16:06] di commented on #5890
Folks arriving at this issue: The cause is that in #5835 we merged a change which blocks uploads that have an invalid `long_description` that we won't be able to render. This is intentional and not a bug.

Before, the behavior was that if the reStructuredText or metadata was invalid, we would just fall back to a plaintext. Now, to prevent unrendered descriptions on PyPI, we just block the upload i

[2019-05-22 17:32] inclusive-dev1 commented on #5895
@jamadden Understood. Prayers answered, waiting since 2018. Thanks!

[2019-05-22 17:34] cjw296 commented on #5895
@inclusive-dev1 - wow,  you're not coming off any better with a comment like that.

[2019-05-22 20:52] medmunds commented on #3097
(The earlier PR was a fragile workaround, and was withdrawn.)

So the correct fix involves changing the DB schema to move Project URLs out of Release Dependencies, and adding a position column to support ordering. (See [this TODO in models.py:](https://github.com/pypa/warehouse/blob/a1f851a389d48f68c745e76ac7f84827d61bdf33/warehouse/packaging/models.py#L229-L231) "Move project URLs into their own

[2019-05-22 21:39] dstufft commented on #3097
I would just make it a dedicated table for project URLs. Alternatively you could do something like using a jsonb column or something, but you'd have to put your own validations in then to make sure the structure is sane.

[2019-05-23 02:54] brainwane commented on #5247
At PyCon sprints several people spoke about the potential future of TUF in Warehouse and Python packaging, and put notes at https://docs.google.com/document/d/1Wz2-ECkicJgAmQDxMFivWmU2ZunKvPZ2UfQ59zDGj7g/ .

[2019-05-23 03:09] brainwane commented on #5816
@ppiyakk2 how is this going?

[2019-05-23 03:14] ppiyakk2 commented on #5816
@brainwane  I reproduced this bug on almost browser, and try to fix it. Maybe I can send a PR on Friday.

[2019-05-23 03:19] brainwane commented on #5809
Is #5894 a duplicate of this? (cc @signop)

[2019-05-23 03:21] brainwane commented on #5790
@DavidBord how's it going? Need help with the CI?

[2019-05-23 05:27] nlhkabu commented on #5825
@brainwane thank you for this link - looks like a great resource, however, unfortunately, I couldn't find anything specific to this scenario.

My preference here is to change this to a password validation pattern, based on this feedback.

I don't think it _matters_ if it is no more secure (although obviously it would matter if it were _less_ secure) -> if it is more familiar and/or makes people fe

[2019-05-23 05:38] nlhkabu commented on #5825
@woodruffw I've added this to the OTF security work milestone.  Let's make a PR for this once the webauthn PR is done?

The new modal should look like this:

![Screenshot from 2019-05-23 06-35-57](https://user-images.githubusercontent.com/3323703/58228026-29334a80-7d25-11e9-89d8-90f5d7e940a4.png)

Additional features:

- The user should be able to toggle the visibility of the password, as on our o

[2019-05-23 05:43] pro-src opened #5901 "Project Theft"
My project cloudscraper was stolen by another user. I gave the user owner access rights in faith of a partnership. They subsequently removed my owner access rights, blocked me from the Github repo, violated the MIT license, and plagiarized my work. I have sent a DMCA takedown notice and forwarded emails to legal@python.org. I haven't heard back from python.org as of yet and my DMCA notice is still

[2019-05-23 07:16] woodruffw commented on #5825
Sounds good to me!

[2019-05-23 13:39] trishankatdatadog commented on #5247
Thanks, Sumana!

I'm happy to help with the design and coding for this
project @lukpueh @awwad

[2019-05-23 13:51] ofek commented on #5247
I'll also devote whatever time is necessary to get this done

[2019-05-23 21:57] mschwager commented on #5809
@brainwane Yes, I'd say so.

This will show up as "PyPI" with the username underneath and the PyPI logo to the left, e.g.

![image](https://user-images.githubusercontent.com/1724818/58289247-23fcec80-7d73-11e9-9c80-8a3673d4707f.png)

(https://guide.duo.com/third-party-accounts)

[2019-05-23 23:01] signop commented on #5809
Sorry for my slow reply, yep, #5894 looks like it was from me trying to describe this same thing. Having PyPI (or Test PyPI) next to the account is exactly what I was hoping for. Thanks!

[2019-05-23 23:02] signop commented on #5894
Just confirming over here too that #5809 is the same thing I was after with my request. Thanks all!

[2019-05-24 02:08] ppiyakk2 commented on #5816
@di  I want to test 2FA in my dev env. How can I enable this function?

[2019-05-24 03:14] woodruffw commented on #5894
Hmm, so this is how we're generating the TOTP provisioning URI:

[code]

Which yields a URI like this:

[code]

So, TOTP applications _should_ have enough information to unambiguously identify (Warehouse, username) tuples. For example, this is what I get with Google Authenticator:

![IMG_1123](https://user-images.githubusercontent.com/3059210/58300174-92f83680-7daf-11e9-9494-00f01db9bb74.JPG)

Whe

[2019-05-24 11:02] lukpueh commented on #5247
Thanks for putting together our notes, @brainwane! It was a pleasure meeting you guys at PyCon. @ewdurbin, any news on the RFI?

@ofek and @trishankatdatadog, your help will be very much appreciated.

[2019-05-24 12:03] shurph opened #5905 "PEP 541: Transfer ownership of unmaintained `django-pygment` from unknown owner to @stefantalpalaru"
Hi,

I would like to start process of transfering ownership of the name `django-pygment` from  an unknown PyPI package owner to the current maintainer — @stefantalpalaru.

The current PyPI package is not maintained since [the first upload in 2013](https://pypi.org/project/django-pygments/#history).

As I understand from the discussion in the Pull Request (https://github.com/odeoncg/django-pygments

[2019-05-24 12:07] stefantalpalaru commented on #5905
Thanks, @shurph! My PyPI account is: https://pypi.org/user/stefantalpalaru/

[2019-05-24 12:45] jamadden commented on #5905
One of the first parts of the PEP that governs name transfers, [PEP541](https://www.python.org/dev/peps/pep-0541/), is to attempt to contact the project owner. I've emailed the address we have on file for [tavein](https://pypi.org/user/tavein/), the owner of the project.

[2019-05-24 14:39] woodruffw commented on #5894
Somewhat related: we can change the issuer name from `site.name` to `warehouse.domain`/`request.domain` to present to the user as "pypi.org" or "test.pypi.org" instead of just "Warehouse". But that doesn't improve things for TOTP applications that don't respect the issuer name/parameter.

[2019-05-24 17:00] emanspeaks commented on #5391
How do I get in touch with the super-admins?  Or would you be the one that needs to bring this to their attention?

[2019-05-24 19:09] tavein commented on #5905
I'm that unknown owner (Jason contacted me via email) and have nothing against transferring ownership of django-pygments to Stefan. The reason why I took ownership of the project in the first place is that it was abandoned then.

[2019-05-24 19:19] di commented on #5391
Hi @emanspeaks, can you share your PyPI username with us?

[2019-05-24 19:21] emanspeaks commented on #5391
It is also `emanspeaks`

[2019-05-24 20:12] di commented on #5391
I've added you as an owner. Please note that you won't be able to reuse any of the previously used versions (https://pypi.org/project/copernicus/#history) but you can (and probably should) delete them.

[2019-05-24 20:12] #5391 closed

[2019-05-27 23:44] Piedrosys commented on #5901
I'm closing this due to lack of response and since it seems clear that I've lost my rights to this project.

Clarification on the removing and adding of roles. ***I as the project owner could not make my self a maintainer (despite what the logs say).*** Feel free to reproduce this as proof for yourself. You can't make yourself a maintainer when you're the owner and the log entry will be created re

[2019-05-27 23:45] pro-src commented on #5901
I'm closing this due to lack of response and since it seems clear that I've lost my rights to this project.

Clarification on the removing and adding of roles. I as the project owner could not make my self a maintainer (despite what the logs say). Feel free to reproduce this as proof for yourself. You can't make yourself a maintainer when you're the owner and the log entry will be created regardle

[2019-05-27 23:45] #5901 closed

[2019-05-28 17:11] mn-mikke commented on #5753
Hi @jamadden,
Would it be possible to increase the limit to 15OMB for all four projects? It seems that the packages will grow in the next release.

Thanks,
Marek

[2019-05-28 19:17] pradyunsg commented on #5753
Hi @mn-mikke, could you file a new issue? It'll be easier to keep track of each request for increase that way. :)

[2019-05-28 22:08] brainwane commented on #5790
@woodruffw  @di It sounds like we should finish off the work in https://github.com/DavidBord/warehouse/tree/fix-5790-send-invitations and write up and merge a PR, since so many other features are blocked on this. Which of you could take that, maybe this week?

[2019-05-28 22:10] brainwane commented on #5816
Hi, @ppiyakk2 -- I think you'd want to merge in #5889 locally in order to test 2FA in your developer environment. @woodruffw @di please speak up if I'm wrong! :-)

[2019-05-28 23:41] woodruffw commented on #5816
Yep, #5589 should do it. If you don't want to merge that AOT, you could also enable 2FA on your testing account within the admin panel (or by executing some SQL to set `two_factor_allowed` on your user manually).

[2019-05-29 07:08] DavidBord commented on #5790
@brainwane I can probably get to it only next week

[2019-05-29 10:16] ssbarnea commented on #4294
@di Can we do someting about this? I never got any kind of reply from the current owner of the jenkins namespace.

[2019-05-29 16:57] di commented on #4294
@ssbarnea It looks like the owner of `jenkins-python` complied with your request. Have you reached out to the current owners of the `python-jenkins` project to confirm that this is actually something they want?

[2019-05-30 05:34] akun commented on #5829
@sandrogauci @0xInfection @jamadden how to transfer it?

[2019-05-30 05:40] akun commented on #5829
@sandrogauci I added your username `sandrogauci` in wafw00f's collaborator list

[2019-05-30 06:03] sandrogauci commented on #5829
Thanks @akun ! I'm going to close this issue then

[2019-05-30 06:03] #5829 closed

[2019-05-30 15:59] #5866 closed

[2019-05-30 16:21] sochoa commented on #3885
IP v6 connections to `files.pythonhosted.org:443` are timing out:

[code]

[2019-05-30 16:29] di commented on #3885
@sochoa I can't reproduce:

[code]

Can you file a new [Network Access Issue](https://github.com/pypa/warehouse/issues/new?template=access-issues.md)?

[2019-05-30 16:31] di commented on #3885
Anyone else arriving at this issue: These errors are sometimes transient. If you're experiencing this, please file a new [Network Access Issue](https://github.com/pypa/warehouse/issues/new?template=access-issues.md).

[2019-05-30 17:17] #5625 closed

[2019-05-30 18:00] #5124 closed

[2019-05-30 20:36] ashmastaflash commented on #201
Being able to have group ownership of repos would make user access much easier to manage.

[2019-05-30 21:05] golobor commented on #5580
Dear @rtansf , we still desperately need your help in completing the transfer! May we ask you to pass the ownership of cooltools to @nvictus ?
Thank you!

[2019-05-30 21:28] ganik opened #5933 "Need exception to increase file size limit"
Project name: nimbusml

Current limit is 100MB
Need increase to 110 MB as one distro wheel package for new version is little bit bigger then 100MB.

Need both PyPI and test PyPI
Pls assist

Thx
Gani

[2019-05-30 21:37] di commented on #5933
I've set the upload limit for `nimbusml` to 200 MB on PyPI and TestPyPI.

[2019-05-30 21:37] #5933 closed

[2019-05-31 07:23] ronaldoussoren commented on #3068
FWIW I get this error as well, but only intermittently and I cannot reproduce it at will.  This is with Safari on macOS 10.14.

If I reload https://pypi.org/ when I get the error I am logged on after all.

Is there information I can collect when this happens again that will make debugging easier?

[2019-05-31 07:41] biniamabebe commented on #3826
i get the same error too

Traceback (most recent call last):
  File "c:\python\lib\site-packages\pip\_vendor\urllib3\response.py", line 360, in _error_catcher
    yield
  File "c:\python\lib\site-packages\pip\_vendor\urllib3\response.py", line 442, in read
    data = self._fp.read(amt)
  File "c:\python\lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 62, in read
    data = self.__

[2019-05-31 08:30] biniamabebe commented on #3826
this one works  !!!

[2019-05-31 12:59] brainwane commented on #5587
@nlhkabu how's this going?

[2019-05-31 14:37] brainwane commented on #5790
@DavidBord OK -- if you can re-start work on it (such as submitting a Work-In-Progress pull request or getting help from us on the tests) by the end of June 7th, that's great! If you don't, then I think one of us should pick it up. Which is not a slam on you, just trying to keep the feature progress going.

[2019-05-31 14:39] brainwane commented on #5661
@ewdurbin @dstufft @di do we have any way of knowing how many users on PyPI have turned on 2fa? Is that even a useful statistic?

I naively assume that it would be, and that we would want the number to go up over time, and that we would want a rough estimation in particular of how many users have it turned on who own or maintain at least one package.

(I am ok with the answer being "it is a pain t

[2019-05-31 14:50] Schamper opened #5939 "PEP 541: Transfer ownership of unmaintained `dissect`"
I'd like to request ownership of the `dissect` package name to be transferred to the PyPI user [fox-it](https://pypi.org/user/fox-it/). I can provide proof of ownership of this user if necessary.

The last release on PyPI for `dissect` was on Jul 5, 2015, with the last activity on the GitHub repository on Mar 6, 2017. I've tried contacting the owner multiple times on various e-mail addresses and p

[2019-05-31 15:58] woodruffw opened #5940 "2FA validation should be rate limited, in addition to current window"
**What's the problem this feature will solve?**

Right now, we use a signed parameter with a 5-minute window to ensure authority/integrity during 2FA authentication. As a result, any user who successfully enters a password but fails to enter a correct TOTP code (or WebAuthn attestation, soon) within 5 minutes will be kicked back to the login page and required to re-enter the password.

The above p

[2019-05-31 16:03] ewdurbin commented on #5661
[code]

[2019-05-31 19:15] di opened #5944 "Add option to display primary email on public profile"
**What's the problem this feature will solve?**
Currently there's no way to publicly display an email address as a point of contact for a PyPI account. Instead, maintainer/author emails for a user's packages must be used instead.

**Describe the solution you'd like**
Similar to Github, on the ["Account Settings"](https://pypi.org/manage/account/) page, we should have an option such as:

This shoul

[2019-05-31 19:24] pradyunsg commented on #5944
This would be a great addition! :D

[2019-05-31 19:35] #5940 closed

[2019-05-31 23:12] pradyunsg commented on #5890
@di would it be possible to add this information to the FAQ and link to that from the error message?

[2019-06-01 01:47] brettcannon opened #5947 "Document recommended keys for project_urls"
**What's the problem this feature will solve?**

Help standardize on the names people use for `project_urls` while also helping to get more URLs with nice icons.

**Describe the solution you'd like**

Document somewhere (maybe https://packaging.python.org/guides/distributing-packages-using-setuptools/#project-urls) the recommended URL labels projects should consider using.

**Additional context**

[2019-06-01 14:49] #5599 closed

[2019-06-02 15:29] yeraydiazdiaz commented on #4121
Hello @heuer, @mnooner256 has replied to my email and stated his intention to continue working on PyQRCode, thus no ownership transferral is possible.

At this point I can only suggest creating a fork and publishing a project under a different name.

I will now close this issue. Thank you for your patience.

[2019-06-02 15:29] #4121 closed

[2019-06-02 18:47] heuer commented on #4121
Thanks for your work, @yeraydiazdiaz!
I am glad that Michael responded and is willing to maintain the project.

[2019-06-02 19:42] mfrasca commented on #4121
my "confused" statement: because the last commit by the current official maintainer is still 3 years old.

[2019-06-02 21:58] ericmjl commented on #4121
Yes, this is great news! Thanks for clarifying, and for handling this request!

[2019-06-03 10:48] riddell-stan opened #5950 "File size limit increase for pystan"
- project: https://pypi.org/project/pystan/
- size: windows 64 wheel is ~77M
- indexes: PyPI

PyStan is a scientific computing package. Compiled extension modules are the reason the file size is so large.

PyStan provides a Python interface to Stan (1,579 GitHub stars), a package for Bayesian inference using the No-U-Turn sampler, a variant of Hamiltonian Monte Carlo.

May we have a limit of 100M?

[2019-06-03 11:39] jamadden commented on #5950
The limit for pystan has been set to 100MB on pypi.org

[2019-06-03 11:39] #5950 closed

[2019-06-03 11:42] jamadden commented on #5905
@tavein Thanks for responding! In order to do so, please log into your pypi.org account and add `stefantalpalaru` as another owner. When that's done, @stefantalpalaru should get an email notification, and could then log in and remove the `tavein` account as an owner if desired.

[2019-06-03 12:07] tavein commented on #5905
done

[2019-06-03 13:01] stefantalpalaru commented on #5905
Thank you. New version released: https://pypi.org/project/django-pygments/0.3/

[2019-06-03 13:51] #5905 closed

[2019-06-03 19:06] brainwane commented on #5944
@pgadige is this something you'd like to try working on?

[2019-06-04 12:46] pgadige commented on #5944
Thank you, @brainwane, for suggesting this one. I'm working on it.

[2019-06-04 18:38] ewdurbin commented on #5661
Update as of this time:

[code]

[2019-06-04 22:07] bexer opened #5957 "Not receiving TestPyPI verification emails"
Hi - I'm having the same issue from #4704 and a few others I've seen. I've tried a few times to get the verification emails from test over the past two days but haven't gotten any (live PyPI goes through immediately however).

[2019-06-04 22:40] di commented on #5957
Hi, can you share your PyPI username with us?

[2019-06-04 22:45] bexer commented on #5957
bexer

[2019-06-04 23:55] di commented on #5957
I'm seeing multiple emails marked as delivered to a `@yahoo.com` address:

<img width="1003" alt="Screen Shot 2019-06-04 at 6 53 52 PM" src="https://user-images.githubusercontent.com/294415/58920969-2f003700-86fa-11e9-95d9-e2d679ef9ddd.png">

Is it possible these are getting filtered or marked as spam?

[2019-06-05 04:19] bexer commented on #5957
Of course that was it.

Thanks.

[2019-06-05 13:04] #5957 closed

[2019-06-05 18:39] lingfennan opened #5962 "Malware packages on PyPI"
Package `jajajejejiji` and `rstseuqe` are malware that steal user information. Please consider removing them. These two packages upload information to a remote server including: name of the downloaded package, name of the intended package, the python version and whether the process was running as sudo. It seems to be part of the malware campaign that was identified and removed in NpmJS registry. P

[2019-06-05 20:44] di commented on #5962
Thanks for the report. I've removed the projects and permanently banned those project names.

[2019-06-05 20:44] #5962 closed

[2019-06-05 21:04] di commented on #5752
These packages have been removed.

[2019-06-05 21:04] #5752 closed

[2019-06-05 21:06] zxiiro commented on #4294
@di Yes, we are the python-jenkins maintainers and this is something we want. Thanks!

[2019-06-05 21:14] di commented on #4294
@zxiiro You don't appear to be one of the project owners, can you get one of the people listed to respond? https://pypi.org/project/python-jenkins/

[2019-06-05 22:51] zxiiro commented on #4294
@di I asked the OpenStack Foundation to add me explicitly to the python-jenkins pypi page. Is this enough to prove that I am a maintainer of this project?

[2019-06-05 22:58] fungi commented on #4294
To be clear, it's the sysadmins in the OpenDev community, not the OSF staff (though I happen to wear both hats at different times).

[2019-06-05 23:46] di commented on #4294
Thanks, I've added `javacruft` and `zxiiro` as owners of the `jenkins` project. I believe this issue should now be resolved?

[2019-06-06 02:35] SamuelMarks commented on #2996
What's the status of this?

I've got about 60 Python packages that I want to release under [`(MIT OR Apache-2.0)`](https://spdx.org/spdx_specification_2_0_html#h.fi18czul1o7n).

[2019-06-06 02:43] zxiiro commented on #4294
Yes thank you.

[2019-06-06 03:10] #4294 closed

[2019-06-06 06:29] pradyunsg commented on #5752
@di we might also want to remove and ban "how-to-upload-package-to-pypi".

[2019-06-06 06:34] di commented on #5752
@pradyunsg It was removed, looks like it just didn't get purged from the cache.

[2019-06-06 06:46] pradyunsg commented on #5752
Ah. Right. Can we add that to the removal process?

[2019-06-06 06:55] di commented on #5752
Should be, seems to be either temporarily not working or a bug.

[2019-06-06 14:13] rcurtin commented on #5365
Hi there, is there any way to get an update on this one?  I've been waiting for quite a long time on this.  I don't mean to pester, but the current situation is confusing for our users.  (In fact I am updating this today because I just helped a user debug their mlpack installation only to find that they had installed the wrong package.)

[2019-06-06 18:08] di commented on #2996
@SamuelMarks This issue is about the [`Classifier`](https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use) field, which will likely not support such fine-grained classifiers.

You should use the [`License`](https://packaging.python.org/specifications/core-metadata/#license) field for that instead,  e.g. in your `setup.py`:

[code]

[2019-06-06 18:59] Steap commented on #2996
@di The [documentation](https://docs.python.org/3.7/distutils/setupscript.html) states that:

«The license field is a text indicating the license covering the package where the license is not a selection from the “License” Trove classifiers.»

Should it be updated to specify that:

1) In simple cases, when possible, you should use a "License ::" classifier
2) Otherwise, you should use the license

[2019-06-06 19:05] di commented on #2996
That's basically what it already says, with the exception of:

the `License` field is a free-form field to allow anyone to license their project under any license. I don't think we have any plans to start enforcing any kind of semantics there.

However, Donald said:

This would be a separate hypothetical field that _could_ be enforced.

[2019-06-06 19:19] Steap commented on #2996
How would one start a discussion about this? As the author of a tool that makes heavy use of the metadata found on pypi.org, and having worked with distributions that had little manpower (and therefore could really take advantage of non-ambiguous metadata), I would really like to see that. Should I write a PEP, write a message on a mailing-list, reach out to someone in particular?

[2019-06-06 19:23] di commented on #2996
[PEP 566](https://www.python.org/dev/peps/pep-0566/) changed the canonical source for field specifications to the [Core Metadata Specification](https://packaging.python.org/specifications/core-metadata/). In theory you could just make a PR against [pypa/packaging.python.org](https://github.com/pypa/packaging.python.org) to introduce the new metadata field (and, new metadata version).

[2019-06-06 21:06] brainwane commented on #5816
@ppiyakk2 how is this going? Are you having trouble with your development environment?

[2019-06-06 21:10] brainwane commented on #5790
Hi @DavidBord -- I suggest you rebase your branch against `pypa/warehouse`'s master branch, and submit a pull request marked "WIP" in the title! That'll make it easier for us to help you with the test coverage so the CI can pass. Thank you! And it would be great if you could do that by the end of your day June 7th. :-) This feature will really help with a bunch of other stuff we'd like to build an

[2019-06-06 21:19] woodruffw commented on #5816
To follow up a bit: you shouldn't need to do any manual SQL anymore -- we've removed `two_factor_allowed` from the User model.

[2019-06-08 00:58] #3587 closed

[2019-06-08 03:54] brainwane opened #5976 ""beta" badge for WebAuthn beta feature within Account Settings"
**What's the problem this feature will solve?**
The new WebAuthn two-factor auth method is going to -- initially -- be in beta, and we want to alert users to that when letting them use it.

**Describe the solution you'd like**
For the WebAuthn rollout, @ewdurbin suggested that we initially add a _badge_ in the Account Settings marking the WebAuthn 2FA method as "beta". This badge should be on the

[2019-06-08 03:54] brainwane commented on #5661
@nlhkabu For the WebAuthn rollout, @ewdurbin suggested that we initially add a _badge_ in the Account Settings marking the WebAuthn 2FA method as "beta". I've thus filed #5976 just now.

[2019-06-08 14:36] trishankatdatadog commented on #5867
@brainwane This is a great idea, I don't see any issue from a security point of view, many companies do it (including Amazon), so the major security issues will really be on the server-side, on how we handle sessions in Warehouse, but that's it!

[2019-06-08 14:42] trishankatdatadog commented on #5864
@brainwane Yes, off the bat I agree that Maintainers should be able to see only a subset of the things Owners can see, but I'm not familiar with all of the things Owners can see, so we maybe we can start there!

[2019-06-08 14:43] trishankatdatadog commented on #5825
@brainwane 💯 agreed that as in with other websites (say GitHub or Google), and assuming the user is logged in, the password should be required to edit any sensitive security setting, not just 2FA. Maybe a decorator would help?

[2019-06-08 15:07] brainwane commented on #3587
Hi @juancarlospaco -- could I ask why you closed this? Thanks!

[2019-06-08 16:27] trishankatdatadog commented on #5863
Ok, @woodruffw gave me a clue, and asked me to look at all the metrics calls, like so:

[code]

From the metrics available so far, I will say that:

1. Maintainers should not see compromised password checks for Owners and other Maintainers, only themselves.
2. Maintainers should not see rate limit messages for Owners and other Maintainers, only themselves.
3. Maintainers should not see MFA authent

[2019-06-08 17:46] josephmancuso opened #5979 "Requesting Larger Limit"
A link to your project on PyPI (or Test PyPI)
https://pypi.org/project/masonite-selenium/

The size of your release, in megabytes
67MB

Which index/indexes you need the increase for (PyPI, Test PyPI, or both)
PyPI

A brief description of your project, including the reason for the additional size.
I'm the creator of the Masonite framework https://github.com/masoniteframework/masonite and I am creat

[2019-06-08 18:10] trishankatdatadog commented on #997
I'm not saying the following is necessarily correct, but they should provide a way to reason about this. Hope this helps!

![image](https://user-images.githubusercontent.com/33133073/59150773-04aec200-89f7-11e9-87d3-efa393abbdd2.png)

![image](https://user-images.githubusercontent.com/33133073/59150775-08dadf80-89f7-11e9-99fc-6e81bd0e630b.png)

[2019-06-08 18:10] trishankatdatadog commented on #5863
I'm not saying the following is necessarily correct, but they should provide a way to reason about this. Hope this helps!

![image](https://user-images.githubusercontent.com/33133073/59150773-04aec200-89f7-11e9-87d3-efa393abbdd2.png)

![image](https://user-images.githubusercontent.com/33133073/59150775-08dadf80-89f7-11e9-99fc-6e81bd0e630b.png)

[2019-06-08 18:28] brainwane commented on #2943
I was hoping that #5084 fixed this, but just now I ran into the issue again. I got `Permission denied` errors when running `make clean`. I ran `ls -lah warehouse/static` and the `dist` line said:

After I ran `sudo rm -rf warehouse/static/dist` I was able to `make clean` and `make purge` without difficulty. And I know -- because this is a fresh machine and I looked through my bash history -- that

[2019-06-08 19:38] brainwane opened #5982 "Choose localization framework"
Evaluate localization frameworks and identify one that is compatible with Warehouse's web framework, Pyramid. (See #1453 for prior thoughts.)

We assume that @woodruffw or a colleague of his at Trail of Bits will do this work.

**Additional context**
This is toward the goal of implementing internationalization support into the PyPI UI (#1453), making changes that will broaden the audience of users

[2019-06-08 19:42] brainwane opened #5983 "Systematically find English-hardcoded UI messages"
**What's the problem this feature will solve?**
We have a bunch of hardcoded English strings that aren't localizable, but we don't know what they are yet.

**Describe the solution you'd like**
Identify all text strings in Warehouse browser views and email templates which require localization.

We assume that @woodruffw or a colleague of his at Trail of Bits will do this work.

**Additional context

[2019-06-08 19:44] brainwane opened #5984 "Replace hardcoded UI strings with localizable messages"
**What's the problem this feature will solve?**
We have a bunch of hardcoded English strings that aren't yet localizable.

**Describe the solution you'd like**
Replace hardcoded English messages (found via #5983) with localizable messages using the localization framework (chosen in #5982).

See https://github.com/pypa/warehouse/issues/1453#issuecomment-365308151 on using Pyramid's existing localiz

[2019-06-08 19:50] brainwane opened #5985 "Evaluate and choose localization/translation platform"
**What's the problem this feature will solve?**
Even once our strings are localizable, we need to provide a platform for translators to easily view the messages that need translating, and submit and approve translations.

**Describe the solution you'd like**
Evaluate localization platforms/websites, like Transifex and TranslateWiki, and identify a compatible choice. Consider data and software lice

[2019-06-08 19:54] brainwane opened #5986 "Integrate Warehouse with translation/localization platform service"
**What's the problem this feature will solve?**
In order for a localization/translation platform to be of use to us, we need to hook it up to Warehouse and PyPI to fetch and integrate new translations.

**Describe the solution you'd like**
Integrate PyPI with the selected localization/translation platform, enabling continuous localization. Where necessary, create tooling to support translators and

[2019-06-08 19:56] brainwane commented on #1453
Localisation and internationalization work for Warehouse has now been [funded by Open Technology Fund](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html) so we have plans to have @nlhkabu and @woodruffw work on this task. We'll also get help from volunteers for the bits of work that require fluency in non-English languages or that can easily be split up into small tas

[2019-06-08 20:42] brainwane commented on #5863
([Here's a textual version of that image above.](https://docs.google.com/document/d/15QfDOy0dlZn5-ic6Gmcq35SxPLacYPbvuZ_RBUhA7E8/edit))

[2019-06-08 20:52] brainwane commented on #726
At [the PyPA minisummit in early May (at PyCon North America)](https://docs.google.com/document/d/1Wz2-ECkicJgAmQDxMFivWmU2ZunKvPZ2UfQ59zDGj7g/edit#heading=h.epsfzwqu8iin), we discussed the desire to increase pip's and PyPI's strictness with regard to metadata. Part of that progress will require staged releases -- a temporary state that a release can be in where PyPI has it but hasn't published it

[2019-06-09 06:47] ncoghlan commented on #726
Yep, "package preview" would be a good name for it.

[2019-06-09 08:08] eirnym commented on #5863
I want to propose also flagging projects as spam/malware by the community. Self-regulation is good thing and some rules we can take from stack overflow community. This will greatly help to the owners

[2019-06-09 13:10] jamadden commented on #5979
The upload limit has been increased to 100MB on pypi.org.

[2019-06-09 13:10] #5979 closed

[2019-06-09 13:26] amcgregor commented on #3440
Simple solution that should satisfy everyone both for auto-focus and against auto-focus for accessibility and navigation reasons: don't auto-focus, but permit a short keyboard shortcut.  For example, while viewing this ticket, type `/`.  (A Vim-like shortcut.)  I'm so used to that on GitHub I automatically attempt to use that shortcut on other sites, and am always sad when one supports neither tha

[2019-06-10 13:48] gitdckap opened #5988 "pip install fbprophet gcc error in centos 7"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**My Platform**

**Additional context**

[2019-06-10 13:49] gitdckap commented on #5988
When i try to install pip install fbprophet in centos 7,  we are getting gcc error, when i tried in ubuntu, its working without error, do you have any bug in the cent os 7

[2019-06-10 16:39] aslepko opened #5989 "Please increase our project limit size"
Hello,

We're developing Intel’s high performance Neural Network Compiler.
https://github.com/NervanaSystems/ngraph/

We have added more functionality and would like to request an increase in upload limit for our binary packages on PyPi from currently 150MB to 250MB.

**The following projects would be affected:**
The name of the project: ngraph-core
The size of your release, in megabytes: 250MB
Wh

[2019-06-10 18:50] ewdurbin commented on #5661
Update as of today:

[code]

[2019-06-10 19:22] #5816 closed

[2019-06-10 19:59] brainwane commented on #5944
@pgadige How is it going? Do you have a branch somewhere that we can look at?

[2019-06-10 20:09] brainwane commented on #5863
@eirnym Thanks for the suggestion -- we're tracking that feature request as #3896.

[2019-06-10 20:10] brainwane commented on #3896
As I understand it, this is blocked on #3231.

[2019-06-10 20:11] brainwane commented on #3231
@di could you share your branch? Thanks!

[2019-06-10 20:28] brainwane commented on #5661
Per our conversation in [the Friday meeting](https://wiki.python.org/psf/PackagingWG/2019-06-07-Warehouse) we plan to roll out the WebAuthn feature on test.pypi.org and on pypi.org with the "beta" badge (#5976) but without doing a bunch of messy bit-flipping. I've also updated https://wiki.python.org/psf/WarehousePackageMaintainerTesting so it'll be ready to publicize.

Working on copy for blog po

[2019-06-11 07:08] pgadige commented on #5944
@brainwane, I'm figuring out few JavaScript things (I'm a newbie to JS) for displaying the email address properly on the page. I managed to break the CSS of the page couple of times. I think I'll try to submit a PR by the EOD so the reviewers can show me what exactly I'm doing wrong.

[2019-06-12 09:32] jamadden commented on #5989
(`ngraph-tensorflow` *is not a project on pypi.org*; I assume the correct project is `ngraph-tensorflow-bridge`.)

The upload limits for `ngraph-core`, `ngraph-tensorflow-bridge`, `ngraph-mxnet` and `ngraph-onnx` have been set to 250MB on pypi.org and test.pypi.org.

[2019-06-12 09:32] #5989 closed

[2019-06-12 09:34] jamadden commented on #5988
Thanks for the report, but unfortunately this is the wrong place for it. This tracker is only for issues with the software that runs pypi.org itself. It cannot help with installing packages distributed from there. For that, you'll need to contact the package's maintainers. There are a few possible methods of contact listed on https://pypi.org/project/fbprophet/

[2019-06-12 09:34] #5988 closed

[2019-06-12 09:59] spacemanspiff2007 opened #6002 "PEP 541: Transfer ownership of name-squatting package `easyconfig`"
I am unable to reach the maintainer for easyconfig who basically is name-squatting easyconfig.

Referencing issue https://github.com/pypa/warehouse/issues/1506

Abandonment/name-squatting criteria met:
- owner not reachable: tried to contact via pypi mail and github mail
- no releases within the past twelve months - there is only **one** release from 2014
- project's home page does not exist
- the

[2019-06-12 11:22] pradyunsg commented on #5988
@gitdckap The issue tracker for that project, is at https://github.com/facebook/prophet/.

[2019-06-13 00:06] brettcannon commented on #1563
Is it time to open this can of worms somewhere?

[2019-06-13 01:11] pradyunsg commented on #1563
Hehe.

There's a bunch of related discussion at https://github.com/pypa/pip/issues/3164.

I think we have consensus (see starting https://github.com/pypa/pip/issues/3164#issuecomment-398216682) but I don't think we should go through that much of our "churn budget" right now.

One of the aims there is that "pip does not provide any CLI wrappers; only supports `python -m pip`" which makes this more

[2019-06-13 14:40] dstufft commented on #1563
Honestly, I'm not a super big fan of invoking pip using ``-m``. I mean, I think it's the best way given how pip *currently* works, but I think we'd be better off trying to figure out more fundamental ways to change rather than some minor invocation shuffling.

[2019-06-13 15:14] brainwane commented on #1563
Is that a short term or medium term task, though, @dstufft?

[2019-06-13 15:16] dstufft commented on #1563
Probably long term? My thinking regarding this has changed since https://github.com/pypa/pip/issues/3164 was first filed, but we probably want to agree on what the long term looks like, before making any short term steps to make sure we don't have to backtrace our steps.

[2019-06-13 15:18] woodruffw opened #6008 "a11y: ARIA landmarks"
Warehouse's frontend should support ARIA landmarks for key page elements, or use their dedicated semantic HTML5 equivalents where possible.

Examples:

* The package search `<form>` on the index and other pages should include `role=search`
    * The search `<form>` included via `base.html` includes `role=search`, but on an internal `<div>` instead of the form itself
* Session notifications/flashes

[2019-06-13 15:37] woodruffw opened #6009 "a11y: Email management table"
Several accessibility improvements can be made to the email management table under `/manage/account`:

* The `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the surrounding `<section>` and `<h2>` above.
* The `email_verification_label` macro should add `aria-hidden=true` to each `<i class="fa fa-{{ icon }}">` and `<i class="fa fa-check">`
* The `

[2019-06-13 15:47] woodruffw opened #6010 "a11y: Package release table"
Minor accessibility improvements can be made to the release table on `/project/{package}/releases/`:

* The `<table>` itself should have a `<caption>`, as the first child node. This is partially mitigated by the `<h2>` above
* The `<table>` should include `scope=col` or another appropriate scope for each `<th>` node

[2019-06-13 15:49] brainwane opened #6011 "Document what's allowed in a WebAuthn key name"
In the WebAuthn account settings guidance, under "Please give this key a name" -- concisely document what is allowed in a key name (ASCII? Unicode? Emoji? Spaces?).

[2019-06-13 16:03] woodruffw opened #6012 "a11y: Project view"
Accessibility improvements can be made to `/project/{project}/`:

In the history tab:

* `<div class="release__graphic">`  has child `<div>`s that could either be `aria-hidden=true` **or** should have descriptive `alt` texts (current text is "History Node" for both current and past releases)

In the files tab:

* The file `<table>` itself should have a `<caption>`, as the first child node. This is

[2019-06-13 21:52] brettcannon commented on #1563
Fair enough. I will then leave this alone while the interface to pip gets hashed out.

[2019-06-14 20:29] robindboer commented on #3733
With https://github.com/pypa/warehouse/pull/6013 merged, I think this issue is resolved and can be closed.

[2019-06-14 20:37] brainwane commented on #3733
@robindboer Thanks for the fix! Do you have an idea of what you might work on next? If you'd like to keep working on Warehouse and you would like a suggestion, please feel free to comment and ask for one :-)

[2019-06-15 00:04] jpleger opened #6023 "Lost access for @jpleger"
Hi, at some point I lost access to my email for pypi user: jpleger, but wanted to restart one of my old projects.

Thanks!
James

[2019-06-15 09:25] robindboer commented on #3733
@brainwane Would love to continue to work on Warehouse. I was looking for a next issue already but if you have any suggestions, they are welcome. Thanks!

[2019-06-15 10:14] #3733 closed

[2019-06-15 21:14] dstein64 opened #6024 "File Size Limit Increase Reqeust"
Per the instructions on [pypi.org](https://pypi.org/project/pastiche/), I've opened this issue to request a file size limit increase for my project.

#### A link to your project on PyPI (or Test PyPI)

https://pypi.org/project/pastiche/

#### The size of your release, in megabytes

74.5M when compressed in tar.gz (80.2M uncompressed)

I request an increase slightly above this, to accommodate futur

[2019-06-15 21:37] pradyunsg commented on #6024
I've set the limit for `pastiche` to 100 MB on PyPI.

[2019-06-15 21:37] #6024 closed

[2019-06-16 05:29] robindboer commented on #5145
I want to start working on this.

Regarding:

Are users free in what they can add or does it need to be a fixed set of profiles you can link (e.g. GitHub, LinkedIn, Personal website, Stackoverflow)?

We can also start with a simpler, less dynamic, implementation and add a `website_url` attribute to the user. The user can then fill this with a link to his website. Later we can migrate this to a mor

[2019-06-17 15:00] brainwane commented on #5661
OK, today we're rolling WebAuthn out as beta and asking a few people to test it, and in the afternoon we'll post blog posts and I'll notify distutils-sig et alia. Later this week I'll publicize it to some more communities, and then in maybe 10 days we'll remove the "beta" badge and I'll email pypi-announce and python-announce. Once that is done I figure we can close the issue.

[2019-06-17 15:06] brainwane commented on #3733
@robindboer is #5825 something you would be interested in working on?

[2019-06-17 15:27] woodruffw commented on #6011
Any and all Unicode should be valid within a key label, up to 64 codepoints I'm not sure what WTForms counts as a "character" in its length validator). That means that emoji and spaces should both work.

[2019-06-17 17:52] woodruffw commented on #6012
More improvements:

* The `pip` installation suggestions lack an `aria-label`
* The button to copy the `pip` invocation into the clipboard lacks `type=button`

Screenshot:

<img width="433" alt="Screen Shot 2019-06-17 at 1 52 20 PM" src="https://user-images.githubusercontent.com/3059210/59625383-24d13600-9107-11e9-804f-21e1d9125622.png">

[2019-06-17 17:56] fraserw commented on #3172
I am experience the same issue as above with testpypi and my gmail address (username fraserw). I have a verified email with pypi, but can't get testpypi to send me a verification email. Meaning I can't test update my package.

[2019-06-17 18:49] chrisrburns opened #6030 "password reset fails for use chris.r.burns"
I received the notification that my password was breached and I needed to reset. I did so and it says the reset email was sent, but I have not received it. I checked spam folder. It's possible that the original email under which I registered the account was [redacted by maintainers]. If so, that domain no longer exists and I need to update it to [redacted by maintainers]. Pls help.

[2019-06-17 18:58] ewdurbin commented on #6030
Hi @chrisrburns please email ernest@python.org and I'll assist you.

[2019-06-17 19:17] ewdurbin commented on #6030
addressed.

[2019-06-17 19:17] #6030 closed

[2019-06-17 19:18] ewdurbin commented on #6023
hello @jpleger please email ernest@python.org and I'll assist you.

[2019-06-17 19:51] brainwane opened #6034 "Document Safari WebAuthn issue"
Our WebAuthn support [requires browser support for `PublicKeyCredential`](https://github.com/pypa/warehouse/blob/master/warehouse/static/js/warehouse/utils/webauthn.js#L41), which means [it doesn't work with any version of IE, Safari, or Opera](https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential).

If we're ok with requiring that our users use Chrome, Firefox, or Edge to use WebAu

[2019-06-17 20:05] brainwane commented on #6034
It's [supported in Safari preview](https://www.w3.org/2019/03/pressrelease-webauthn-rec.html.en) so I think we should document that, and dispense with the idea of IE support since we're ok with people needing to switch to Edge instead.

[2019-06-17 20:29] brainwane commented on #6034
@woodruffw is adding a link on `warehouse/templates/manage/account/webauthn-provision.html` that will point to an FAQ change -- I've already committed the FAQ change in my branch at https://github.com/brainwane/warehouse/tree/browser-support-webauthn .

[2019-06-17 20:34] brainwane commented on #6034
@nlhkabu asked: "are we also adding a warning on the actual 2fa login page (as well as the provisioning page?) I suggest we cover both" -- I agree. Nicole, will you do that?

[2019-06-17 21:29] njsmith opened #6036 "Going straight to URL ending in #history or #files causes browser to scroll to bottom of page"
**Describe the bug**

When I click on either of these URLs:

* https://pypi.org/project/black/#files
* https://pypi.org/project/black/#history

Then I end up staring at PyPI's big blue footer:

![image](https://user-images.githubusercontent.com/609896/59637978-fd309c80-910b-11e9-803e-99b025649bda.png)

And then I have to manually scroll up to see the content.

This only happens when clicking a lin

[2019-06-18 12:06] ewdurbin commented on #6036
Able to reproduce in Firefox 67.0.1 on MacOS as well. Safari and Chrome do not seem to exhibit this behavior.

[2019-06-18 12:28] jcannon-gplates opened #6037 "Increase file upload limit for pybacktrack"
Our first release (1.0) was under 60MB, however our second release (1.1) is close to 80Mb and cannot be uploaded. So it would be great if our upload limit could be increased. Also future releases will probably be even bigger.

The project link: https://pypi.org/project/pybacktrack/
Indexes needed: Only PyPI.
Project description: A scientific tool for reconstructing paleobathymetry on oceanic and c

[2019-06-18 15:02] woodruffw commented on #6012
More improvements:

* For the maintainers section (see screenshot 1), the user icon and username links can be combined into a single link, avoiding content duplication with a screen reader.

* For the "Last released" element (see screenshot 2), use Jinja2's `localize` instead of `humanize` to insert proper ARIA tags.

<img width="342" alt="Screen Shot 2019-06-18 at 10 55 15 AM" src="https://user-i

[2019-06-18 15:02] Y4hL commented on #4079
I have setuptools upgraded to version 41.0.1
twine version 1.13.0
wheel version 0.33.4
and i am still getting this issue

[2019-06-18 15:04] #6034 closed

[2019-06-18 15:29] woodruffw opened #6038 "a11y: Improve link visibility"
Many links on PyPI (see e.g. screenshot 1 below) use only their color to convey their clickability. To help color-blind or color-impaired users, links should include additional styling.

Some options:

* Add underlining to all links (e.g., remove `text-decoration: none` or add `text-decoration: underline` consistently)
* Add an indicating icon (e.g., Wikipedia's "external link" indicator)

[2019-06-18 15:56] woodruffw opened #6040 "a11y: Login view"
Issues in `/account/login`:

* Explicit positive `tabindex` values [should not be used](https://www.scottohara.me/blog/2019/05/25/tabindex.html) in the login form's inputs. Omitting `tabindex` entirely should be fine in this case.

[2019-06-18 16:31] brainwane opened #6041 "Test for new routes/query parameters that aren't in caching whitelist"
We ran into a VCL issue when deploying the new WebAuthn feature #5795. That's because: in dev, there's no caching layer, so if a new PR introduces a route that takes query parameters, it works locally, but in prod, if new routes are added, and if they have query parameters, and they're not in the caching whitelist (in https://github.com/python/pypi-infra ), things will break.

Should we add a CI t

[2019-06-18 16:48] sonnyvan opened #6042 "Recover access"
Hello,

I am trying to recover access to our PyPI account: plangrid.

Thank you,
Sonny Van

[2019-06-18 17:25] jpleger commented on #6023
Thanks! Got it squared away.

[2019-06-18 17:25] #6023 closed

[2019-06-18 19:18] brainwane commented on #5976
Fixed in #5977! Thank you @nlhkabu!

[2019-06-18 19:18] #5976 closed

[2019-06-18 19:27] brainwane commented on #5587
I believe the one remaining task here will be to support the API keys in #994 which will be another multi-factor auth method.

[2019-06-18 22:29] brainwane commented on #2268
Warehouse [plans to work on this issue later this year](https://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html):

[2019-06-18 23:12] brainwane opened #6047 "What accessibility issues should we automatically test for?"
There are a11y issues that are hard to catch using the current generation of static analyzers, and then there are ones we could probably catch via tests in CI. Some ideas @woodruffw had:

1. minimum font size
2. minimum color contrast ratios
3. some elements should probably always be ARIA-hidden
4. button elements -- probably always have a type

@JazzBrotha we'd love your input here.

[2019-06-19 07:56] kolinwei opened #6048 "Increasing size limit for paddlepaddle_gpu"
Hi, our recently released version paddlepaddle_gpu hit the package size limit this day, we try to publish several versions compatible for different CUDA support for deep learning developers that may have some different environment.

The package built with cuda10.0 with avx and no-avx support currently is over 200MB . Can you please help to increase this to around 250MB, we'll make effort to reduce

[2019-06-19 09:38] webknjaz commented on #5661
@brainwane I've tried that on Test PyPI.

So I have a TOTP set up. I clicked on `Add 2FA with security key`.
It prompted me to enter a `Key name` which I did (`Yubikey Neo`).

After that, clicking `Provision key` does nothing visually. So I've opened DevTools.
I can see a successful GET request to https://test.pypi.org/manage/account/webauthn-provision/options with some JSON payload in the respons

[2019-06-19 12:16] jktjkt opened #6049 "PEP541: Transfer ownership of `gnpy` to a new maintainer"
Hi, I work for the @TelecomInfraProject organization as a maintainer of the [oopt-gnpy](https://github.com/Telecominfraproject/oopt-gnpy) software. Previously, this stuff was done by James Powell (@dutc) who also created the [`gnpy` package at pypi](https://pypi.org/project/gnpy/). James is no longer with @TelecomInfraProject, unfortunately, meaning that the maintainer address listed in PyPI's Met

[2019-06-19 12:34] brainwane opened #6050 "WebAuthn failing in Chrome for incompatible versions & on modal fail/cancellation"
@webknjaz reported:

@brainwane I've tried that on Test PyPI.

So I have a TOTP set up. I clicked on `Add 2FA with security key`.
It prompted me to enter a `Key name` which I did (`Yubikey Neo`).

###### STR

After that, clicking `Provision key` does nothing visually. So I've opened DevTools.
I can see a successful GET request to https://test.pypi.org/manage/account/webauthn-provision/options with

[2019-06-19 12:34] brainwane commented on #5661
Thanks for the bug report @webknjaz - I've turned that into #6050 so we can address it there.

[2019-06-19 12:39] ewdurbin commented on #6050
This version of chrome is fairly out of date. Would it be possible to try with a more recent release of Chrome @webknjaz?

[2019-06-19 12:41] webknjaz commented on #6050
It'll take some time for me to get it, but from what I see it should be a bug on JS side unrelated to a browser.

[2019-06-19 12:41] #6011 closed

[2019-06-19 12:43] ewdurbin commented on #6050
[code]

specifically this log line makes it appear that it's not an issue with JS served by warehouse, but rather on the browser side, as the attestation never completed.

WebAuthn requires browser implementations to "play nicely", and in this case it appears the browser did not ever respond.

Was there a pop over requesting access to the token?

[2019-06-19 12:49] webknjaz commented on #6050
Right. No pop-up. I've just tried on a PixelBook (Chrome 75, `ChromeOS==fancy Gentoo`) and a pop-up appears there.
Interestingly, I'm able to use my Yubikey with GitHub which probably means that they work around the standard...

*/me navigates to the Google Chrome changelog for more details*

[2019-06-19 12:51] webknjaz commented on #6050
This suggests that they've added some webauthn support in Chrome 67: https://developers.google.com/web/updates/2018/05/webauthn

[2019-06-19 12:54] webknjaz commented on #6050
So it seems like the better support for Webauthn was introduced around January. It probably makes sense to put a big red warning next to the 2FA setting if the browser is old...

[2019-06-19 12:58] brainwane commented on #6050
So what's the minimum Chrome version that properly supports WebAuthn, including `PublicKeyCredential` and any other components we need? Clearly Version 69 didn't, even though there was some WebAuthn support as of Version 67.

[2019-06-19 13:00] webknjaz commented on #6050
https://webauthn.guide/ states this:

So probably matching release dates should give proper versions.

[2019-06-19 13:03] pradyunsg opened #6051 "GitHub Token Scanning Partnership"
**What's the problem this feature will solve?**

GitHub has a "Token Scanning" feature, which enables them to detect API keys/tokens, and notify the service provider who issued the token. The service providers can then act on this information according to their own policies (revoke, contact owner etc).

This helps avoid situations where an active API key is available publicly on the project's repo

[2019-06-19 13:07] brainwane commented on #6051
Thanks @pradyunsg! (blocked on #994)

[2019-06-19 13:41] pradyunsg commented on #6050
There was a stable release of Chrome 72 in Jan 2019. If some wants to, they can investigate from Google's Chrome Releases blog:

https://chromereleases.googleblog.com/2019/01/

[2019-06-19 14:36] webknjaz commented on #6050
I think this may hit non-Chrome users as well.

[2019-06-19 15:19] brainwane commented on #3228
I believe this is closed in #5946.

[2019-06-19 15:19] #3228 closed

[2019-06-19 15:38] brainwane commented on #4470
@yeraydiazdiaz great! Have you had any time to poke at this?

[2019-06-19 15:57] brainwane commented on #5336
@jnahmias would it be okay to close this as a duplicate of #2315?

Also, to second Ernest, I think the features in #994 -- which we're working on this month -- should probably fulfill most of your needs here.

[2019-06-19 16:03] merwok commented on #5336
They are different proposals:
- this one keeps the build step (on local computer or CI), just changes the upload mechanism from HTTPS (with password) to scp (with ssh key)
- #2315 is broader: PyPI would implement the git server protocol to allow devs to push a branch to PyPI, then have a build farm create the dists and register them

[2019-06-19 16:04] ewdurbin commented on #994
Looks like this is next up on the agenda. I wanted to take a moment to throw out a few specifications we probably need for this 1st generation of API Tokens:

- API Tokens will only be acceptable via the uploads endpoint, and cannot be used for any other access.
- API Tokens will stand in for Basic Auth passwords, this will alleviate the need for any client changes to support the feature.
- API To

[2019-06-19 16:06] brainwane commented on #994
I spoke with @woodruffw yesterday and he's excited about getting started on this feature this month! He'll be working on the Warehouse side.

My understanding, based on @ewdurbin's (above), is that we won't need changes to Twine or other client-side tooling, because the upload-scoped API key will be a drop-in replacement for existing auth. But I'm open to being shown I am wrong here. :-) (cc @jara

[2019-06-19 16:39] Ivoz commented on #3440
This is a solution for a tiny tiny minority of users that know about vim-like keyboard shortcuts *and* are looking for them to work on random webpages. I guess it doesn't really harm anyone else, but neither is it a end-of-the-line solution for everyone else.

I find this claim particularly weak. Since we are serving the use case of the vast majority of visits, enabling autofocus is going to risk

[2019-06-19 17:03] anowlcalledjosh commented on #3440
I'm personally "meh" on this, but it seems that many other package management websites autofocus the search field, some even on non-main pages.

Going roughly by [Wikipedia's list of dependency managers](https://en.wikipedia.org/wiki/List_of_software_package_management_systems#Application-level_Dependency_managers) (since there unfortunately doesn't seem to be an equivalent list of package registr

[2019-06-19 17:17] fschulze commented on #994
I hope this will still be based on macaroons as outlined above, because that will allow things like creating one time tokens created client side to push packages from a devpi instance to pypi. Currently we send the pypi credentials to the devpi-server which isn't ideal and wouldn't be changed if we can't amend the token.

[2019-06-19 17:17] woodruffw commented on #6050
They might have changed it since I last checked, but I believe GitHub doesn't actually use WebAuthn for security keys yet -- I believe they're still on U2F via `u2f.js`. That would explain why they aren't affected.

Chrome 74 on macOS works for me, as does FF latest on macOS. At the risk of speculating idly, maybe it's a CTAP issue with Linux + Chrome? I vaguely remember having to add `udev` rules

[2019-06-19 17:21] webknjaz commented on #6050
Nah, that's def on the browser side ;)

[2019-06-19 17:21] nlhkabu commented on #5825
As discussed today with @woodruffw, we plan to update this UI to:

- Ask for password on TOTP modal
- Ask for password and key label on webauthn modal

[2019-06-19 19:14] woodruffw commented on #994
I plan to model tokens as linked tightly to their originating users, so I think just the token will be sufficient 🙂

I wasn't on planning on using macaroons for the first implementation, for two reasons:

1. Macaroons primarily serve to enable distributed authorization/attestation and permission attenuation, things that PyPI (as a centralized source) doesn't currently require.
2. Macaroons themsel

[2019-06-19 19:25] brettcannon commented on #5947
BTW I'm willing to write up the PR to document this if that's the way to go, I just need to be told where you would like it (and the problem with the link I provided is that doesn't generically work for other project builders like flit). 😄

[2019-06-19 19:38] nealmcb commented on #994
Thanks, @fschulze, for the question. @woodruffw I think the idea of allowing single-use tokens is a good one, and I'm not sure if your planned approach handles it or not. Can you say more about constraints modeled on the PyPI side, and how a devpi use case might work?

[2019-06-19 20:02] brainwane commented on #5944
@pgadige Looking forward to that PR!

[2019-06-19 20:08] brainwane commented on #3733
Actually @robindboer looks like some of my colleagues want to take care of that in a particular way. Are you potentially interested in learning some ElasticSearch and working on #4006 or one of our other issues tagged "search"?

[2019-06-19 21:15] pradyunsg commented on #5825
I'll flag that this seems a little odd and tricky to achieve to me; since the password checking should always happen on the backend.

[2019-06-19 21:27] alexwlchan commented on #5825
Agreed. I wonder if this should actually be:

---

Two notes:

* **Elsewhere in the UI, the button is disabled until you enter *any* password, regardless of correctness.**

   I made a todo note a while back to poke at this a bit and see what’s going on. But I went to look just now and I couldn’t find anywhere in the settings panels where the user-side code is checking the *correctness* of the pas

[2019-06-19 23:26] alex commented on #6050
Google Accounts uses webauthn for login, but not registration.

[2019-06-20 00:40] woodruffw commented on #6050
Just confirmed that it works on Chrom(e|ium) 75 (Ubuntu 18.04).

Chrome 67 was released in May 2018 and WebAuthn Level 1 wasn't formally released until March of this year, so it's entirely possible that we're seeing either the effects of a spec change *or* just a buggy early implementation. Perusing through the [chromium issue tracker](https://bugs.chromium.org/p/chromium/issues/list?can=1&q=compo

[2019-06-20 07:09] robindboer commented on #3733
@brainwane thanks for the suggestions. I will look into the issues later today and see if I can pick up any of the issues. I have never worked with ES before but I see that as an opportunity 😄 Thanks!

[2019-06-20 07:58] fschulze commented on #994
There is already a PR using macaroons which looks promising, why redo this work with less functionality?
https://github.com/pypa/warehouse/pull/4949

I don't think the size of macaroons is an issue. Such tokens will be stored in a file, password safe or environment variable. Nobody will type them out.

I see several use cases for macaroons which aren't possible otherwise:

1. for devpi:
- The user

[2019-06-20 08:50] dimaqq commented on #994
Hi Florian,

It's a shame that there's no Wikipedia page for macaroons, as the Google paper is relatively hard to read.

I feel that the same class of problems that x509 implementations suffered from is generally applicable to macaroon implementations.

#### Caveat language

The server and the macaroon "deriver" must agree on the language of the additional restrictions, aka "caveats".

You've ment

[2019-06-20 14:31] webknjaz commented on #6050
Do you mean that I'd need to run it with a front-end build in dev mode with src-maps?
I don't have warehouse locally, but if needed I can find some time and set up the dev env. It may be faster for you to run some Ubuntu VM from vagrant locally with an old Chrome installed there...

[2019-06-20 14:55] dstufft commented on #994
Just to clear a few things up:

This really isn't true (or at least, isn't a big deal). If a new caveat type is going to be added the only real constraint is support must be added to Warehouse first. If a client never updates to add support for that caveat then the only downside that client will have is they won't be able to use that specific caveat. Everything else will continue to function corre

[2019-06-20 14:56] brainwane commented on #1001
I'm pretty sure this depends on, and thus is blocked on, #5863. Heads-up @woodruffw -- once you get to that issue, I'd love you to leave a comment here clarifying what subset of the requests above are supported by the new logging.

[2019-06-20 15:22] brainwane commented on #2589
There's been substantial discussion of this suggestion [on the Discourse forum](https://discuss.python.org/t/namespace-support-in-pypi/1609/36) and I suggest interested people take a look.

[2019-06-20 15:33] brainwane commented on #4114
@zooba hey, ping in case you missed Donald's question in the last comment and have time to respond.

[2019-06-20 15:35] brainwane commented on #4457
@woodruffw @nlhkabu heads-up since this has to do with logging and viewing of sensitive events, and y'all will be working on a related feature in #5863.

[2019-06-20 15:48] brainwane commented on #4319
@zanderle I'm so sorry for the delay in response on this! Could you rebase your branch against master and make a work-in-progress pull request to make it easier for us to test & discuss it? Thank you so much for working on this! And you might want to take a look at #1971 to see how people might want to generalize this approach.

[2019-06-20 20:13] ewdurbin commented on #2151
Thanks to a helpful nudge from @brainwane... Audit of existing projects in conflict follows. I was able to quickly assess some modules based on authorship/ownership. Also quickly remove some of them which do not have any files or download links.

[code]

[2019-06-20 21:54] brainwane commented on #188
Possibly related: #787.

[2019-06-20 22:49] nealmcb commented on #994
@dimaqq Funny you should ask. I started a draft of a wikipedia article a while ago, which got deleted for lack of submission or updates: https://en.wikipedia.org/wiki/Draft:Macaroons_(authorization)
If it makes sense to the folks here, and it seems "notable" (in Wikipedia terms) let's clean it up and submit it!

[2019-06-21 01:49] brainwane commented on #4998
I'm actually going to reopen this, because I think it would be useful to have this issue (about typosquatting prevention/detection before/during upload) distinct from #2268 (which is about notifications, alerts, a "packages with similar names" widget, etc.). Thanks @aaronlelevier!

[2019-06-21 01:56] brainwane commented on #4998
Today I [discussed](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse) this idea -- checking for typosquatting, pre-upload -- with @dstufft and @ewdurbin. It would be pretty hard to do this without LOTS of false positives. Donald mentioned a person at Netflix whose approach was: remove the dashes from popular project names, register the resulting strings.

We could increase the scope of

[2019-06-21 02:00] brainwane opened #6062 "admin interface for review of flagged packages"
We're working on a system to detect malicious uploads (per #4998). It's going to be a pipeline where automated systems run checks, flag packages/projects for deletion/review/ok, etc.

So this issue is for a feature in the admin interface where administrators/moderators (#4011) can review those flagged projects and releases and decide what to accept/reject.

We'll probably also want to use this if/

[2019-06-21 02:03] brainwane commented on #2268
Thanks for starting this issue, Nick! (A few of us [discussed it](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse) today.)

I'm making a distinction here: #4998 is about typosquatting prevention/detection before/during upload, and is distinct from this issue (which is about notifications, alerts, a "packages with similar names" widget, etc.).

[2019-06-21 02:20] brainwane commented on #4440
Per [discussion today](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse), we'll want this for the upcoming work on detecting & deleting malware. A soft delete feature will mitigate the possibility of erroneous deletions by admins. (Right now the actual thing we do is delete the database record, so a "deleted" file is still available and could be recovered, but that's a headache compare

[2019-06-21 02:30] brainwane commented on #5117
Thanks for filing this issue, @E3V3A!

Per [discussion today](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse), we'll be addressing this problem during [upcoming work on automated detection of malicious uploads](https://github.com/pypa/warehouse/milestone/16). In this issue we'll be nailing down our criteria for "how do we determine what is a bad package?" and plans for removing those

[2019-06-21 02:37] brainwane commented on #2982
Per [conversation today](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse):

Work toward #194 may help this.

#6062 and #4011 might help this.

#3231 and #3896 would help with this.

Again, #6062 and #4011 might help this, plus #2976 and #3218.

[2019-06-21 06:45] fschulze commented on #994
Hrm, the Mozilla Tech Talk seems to be gone:
https://air.mozilla.org/macaroons-cookies-with-contextual-caveats-for-decentralized-authorization-in-the-cloud/
That was pretty good. Did anyone find a copy of that somewhere, or knows someone at mozilla who could look into why it's gone?

[2019-06-21 08:39] pope1ni opened #6063 "Request to add License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)`

## Why do you want to add this classifier?

It is an OSI Approved license that I have to use which has been missed off the list.

See https://opensource.org/licenses/OSL-3.0

[2019-06-21 14:57] nealmcb commented on #994
Good tip, @fschulze. It turns out the Internet Archive has the original blurb: [Mozilla Tech Talk: Macaroons](https://web.archive.org/web/20151103063738/https://air.mozilla.org/macaroons-cookies-with-contextual-caveats-for-decentralized-authorization-in-the-cloud/), and the 54-minute video of the "air mozilla" talk by Úlfar Erlingsson is still available at [Macaroons talk by Úlfar Erlingsson](http

[2019-06-21 15:51] fschulze commented on #994
I found a better version on YouTube:
https://www.youtube.com/watch?v=CGBZO5n_SUg

[2019-06-21 17:21] pradyunsg commented on #6037
I've gone ahead and set the limit to 100 MB for pybacktrack on PyPI. :)

[2019-06-21 17:21] #6037 closed

[2019-06-21 19:32] pradyunsg commented on #2017
Until we have this, would it make sense to do the following?

- Add an issue template for limit requests, requesting the relevant information.
- Add an FAQ entry when folks hit the limit, that points to that issue template.
- Update the error message from PyPI for upload limits to point to the FAQ entry.

[2019-06-21 19:36] pradyunsg commented on #6063
Added classifier 'License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)'. :)

[2019-06-21 19:36] #6063 closed

[2019-06-21 19:47] ewdurbin commented on #6048
Hi @kolinwei, it looks like paddlepaddle_gpu is currently making fairly frequent releases at it's current limit. Individual file size isn't necessarily an issue, but with frequent releases things add up fairly quickly.

Can you help the moderators understand the reason for the post85, post87, and post95 releases that accompany each version?

[2019-06-21 19:51] ewdurbin commented on #4415
Sorry for the delayed response on this issue.

The PSF board discussed via mailing list and the consensus was to not add this trove classifier.

[2019-06-21 19:51] #4415 closed

[2019-06-21 20:43] brainwane commented on #2082
We discussed this in [a meeting this week](https://wiki.python.org/psf/PackagingWG/2019-06-20-Warehouse). PyPI admins can already use the web interface to prohibit names to stop them from being used, and unreserve/allow previously prohibited names.

This issue is more about giving this feature to end users through the web interface. Perhaps a reservation request would enter a queue for moderators/

[2019-06-21 22:48] ewdurbin opened #6069 "Improve test coverage for rate limited routes"
As resolved in #6065, our current testing strategy for rate limited routes does not ensure `hit` is called.

Tests should be added that actually exercise the rate limiter or ensure `hit` is called on all services that use a rate limiter.

[2019-06-22 11:15] suyash091 opened #6071 "Service unavailable (503) on register page, pypi.org"
Once you try to register on https://pypi.org/account/register/, after filling all the details the site crashes with error 503.
it says as follows:

Sorry, something went wrong
PyPI is down for maintenance or is having an outage.

This is affecting several of our services, including our web interface.
If you are trying to install a package, you should be able to pip install packages without problem

[2019-06-22 12:47] brainwane commented on #6071
Thanks for the bug report @suyash091 -- Are you still experiencing this problem? I looked at our metrics dashboard and I think things _should_ be fine now...

[2019-06-22 17:17] nlhkabu commented on #5800
Note: we already have draft help text for this feature - see https://github.com/pypa/warehouse/issues/5586

[2019-06-22 18:11] suyash091 commented on #6071
![Capture2](https://user-images.githubusercontent.com/25162118/59967421-26f02600-9547-11e9-980e-172acf5a3345.PNG)
Sorry, but it is still there. on metrics, it isn't showing up.

[2019-06-22 18:29] brainwane commented on #5837
Hey @dstufft -- I think I may be misunderstanding something. In [our discussion in March](https://wiki.python.org/psf/PackagingWG/2019-03-22-Warehouse) we discussed wanting a system for generic flags and statuses on projects and releases, in order to address #345 "Ability to mark a version of a package as deprecated or unsupported" and #3709 "Offer a discouraged/deprecated releases option", and to

[2019-06-22 21:36] suyash091 commented on #6071
its up and running now.

[2019-06-22 21:36] #6071 closed

[2019-06-22 22:10] brainwane commented on #5837
And is #4962 potentially relevant?

[2019-06-23 10:34] uda opened #6074 "Wrong package version"
**Describe the bug**
PrettyTable shows latest version to be "7", which doesn't exist, the archives behind are actually "0.7".
This causes the latest version "0.7.2" not to be used by default.

**Expected behavior**
Version "0.7" to show "0.7" and the latest version to be "0.7.2"

**To Reproduce**
https://pypi.org/project/PrettyTable/

**Additional context**
I know there is another drop-in fork for

[2019-06-23 10:43] nlhkabu commented on #5800
Mockups for this feature can be found here: https://github.com/pypa/warehouse/issues/5587

[2019-06-23 10:46] nlhkabu commented on #5825
Yes, you're right @alexwlchan - I'll update my comment above :)

[2019-06-23 12:05] nlhkabu commented on #4457
@brainwane  - happy to take a look.  Would this (and #4440) be considered within scope of the current contract?

[2019-06-23 13:42] brainwane commented on #5863
This work is part of the [milestone of work we're doing for the Open Tech Fund-supported security work](https://github.com/pypa/warehouse/milestone/13). Right now, as I understand it, @woodruffw and @nlhkabu are working on the API key work, but after that, they'll be working on this issue.

[2019-06-23 15:14] brainwane commented on #4440
To clarify: this issue #4440 is not within scope of [the current contract with OTF](https://pyfound.blogspot.com/2019/03/commencing-security-accessibility-and.html); it's foundational work for [the next funded work milestone](https://github.com/pypa/warehouse/milestone/16) which will probably start a few months from now (but I don't have a specific date).

[2019-06-23 15:16] brainwane commented on #4457
@nlhkabu I don't think addressing this PII issue is _necessarily_ within the scope of [the current contract](https://github.com/pypa/warehouse/milestone/13). But I'm going to defer to @woodruffw, @ewdurbin and @di to figure out whether addressing this, or maybe instead making room architecturally to address it later, is part of #5863 and thus scoped within the current contract.

Am updating #4440

[2019-06-23 16:58] brainwane commented on #1453
Once we finish those 5 issues above, given that this work's [funded by Open Technology Fund](https://www.opentech.fund/results/supported-projects/pypi-improvements/) we can probably get volunteer translator help from [OTF's Localization Lab which is "looking for translators and projects!"](https://www.opentech.fund/labs/localization-lab/)

[2019-06-23 23:31] kolinwei commented on #6048
@ewdurbin the package size of paddlepaddle_gpu next version will reach 230M，and the release time is in June 28. So Can you raise the package size limit as soon as possible。

The paddlepaddle_gpu run depending on different CUDA version. Some user use cuda8,and other use cuda9. So we have to offer different package

[2019-06-24 00:09] kolinwei opened #6076 "Increase file upload limit for paddlepaddle"
Our first release (1.4) was under 50MB, however our second release (1.5) is close to 80Mb and cannot be uploaded. So it would be great if our upload limit could be increased. Also future releases will probably be even bigger.

The project link: https://pypi.org/project/paddlepaddle/
Indexes needed: Only PyPI.
Project description: PaddlePaddle (PArallel Distributed Deep LEarning) is an easy-to-use,

[2019-06-24 10:32] jamadden commented on #6074
According to the project's journal, a version '7' was uploaded in Feb of 2013 (note that the upload action itself [includes the version](https://warehouse.pypa.io/api-reference/legacy/#upload-api), so probably the uploading tool failed to properly interpret the version). This version was then "hidden", but the files and release were left in place. Since that time, the ability to hide releases was