[2018-03-16 00:41] ewdurbin commented on #3275
The move to hosting package content on files.pythonhosted.org is intentional and _will_ be happening.

We'll need Artifactory to release fixes which respect the URLs provided.

[2018-03-16 01:04] clintharrison opened #3284 "Warehouse file order differs from legacy PyPI file list"
Tonight, while load testing of pypi.org was ongoing, we saw some failures in automated systems that use `--require-hashes` with `pip install`, as ordering on the package file list page changed.

The specific package we saw break was `pandas` at version `0.12.0`. We had a single hash for `pandas-0.12.0.tar.gz`. A few of our hosts were served from the legacy PyPI service, which succeeded as normal.

[2018-03-16 01:10] di commented on #3284
Could you tell us what version of `pip` was used, and if you were using an intermediary or mirrored index? The order of the distributions shouldn't cause an issue.

[2018-03-16 01:39] clintharrison commented on #3284
We were using `pip` version 9.0.1 with no explicit index specified, so the default `https://pypi.python.org/simple`.

I can reproduce this currently with a local Python 2.7 install:
[code]
[code]
[code]

From a cursory look at [_link_package_versions()](https://github.com/pypa/pip/blob/9.0.1/pip/index.py#L605) it seems that the ordering between `.zip` and `.tar.gz` ultimately does come down to the

[2018-03-16 03:03] catrope commented on #3174
@brainwane asked me for input on this, so I read the entire upstream issue (google/recaptcha#87). In summary:
- reCAPTCHA was reported blocked in China in January 2016. I believe this is because parts of it are hosted under `https://www.google.com/recaptcha/`, and since SSL encrypts the URL being requested, this is indistinguishable from any other request to `www.google.com` from the Great Firewal

[2018-03-16 03:42] dstufft opened #3285 "Hard fail on invalid markup with explicit description type"
When we're given an explicit description type (Markdown, Rst, etc) we should attempt to render it during upload, and if it's invalid then we should hard fail the upload.

[2018-03-16 03:46] dstufft commented on #3284
Yea, pip respects the order files are given to it by the index as the final tie breaker when it sorts files, so the order in ``/simple/`` can change what file gets installed.

[2018-03-16 07:01] #3164 closed

[2018-03-16 07:01] nlhkabu commented on #3078
hi @di - with https://github.com/pypa/warehouse/pull/3261 merged, can we now close this?

[2018-03-16 08:44] yeraydiazdiaz commented on #3152
sorry about that, I'll see if I can fix it

[2018-03-16 09:00] pgadige commented on #3186
I'm working on this issue.

[2018-03-16 13:10] brainwane commented on #3078
@nlhkabu maybe I'm wrong, but isn't this issue waiting for an image placeholder from you?

[2018-03-16 13:25] di commented on #3078
@brainwane I added an update to `pypi-theme` in #3261 which has the image placeholder.

Looks like @ewdurbin has already configured camo to redirect to this image, looking at https://pypi.org/project/bowtie/ I see it there, so yes I think this is finished.

[2018-03-16 13:25] #3078 closed

[2018-03-16 13:36] brainwane commented on #3078
AHA, `pypi-theme` is that repo that I can't access, so I was looking at the wrong PR. I'm sorry for misunderstanding.

[2018-03-16 14:15] di commented on #3112
We now have the following image which can be used for Twitter:

![](https://pypi.org/static/images/twitter.jpg)

Which can be used with `request.static_url('warehouse:static/dist/images/twitter.jpg'`

[2018-03-16 14:40] brainwane commented on #3186
Hi @pgadige! Saw your question in IRC about logging in within your local developer environment. As Dustin said, check https://warehouse.readthedocs.io/development/getting-started/#logging-in-to-warehouse . Glad to have you joining us!

You mentioned you're interested in the larger process of building something like Warehouse. I recommend you take a look at:

* [the PyPA's list of presentations and

[2018-03-16 14:41] di commented on #3284
@clintharrison Is there a reason why you need to install from a `.tar.gz` and not `.zip`? If not, I would recommend adding hashes for both source distributions for that release. Newer releases are no longer allowed to have multiple types of sdists so this shouldn't be a problem moving forward.

However #3292 will "fix" this behavior so that `.tar.gz` sdists will come before `.zips`, so you shouldn

[2018-03-16 14:49] #3284 closed

[2018-03-16 14:50] di commented on #3284
Also thanks for the report @clintharrison!

[2018-03-16 14:55] ewdurbin commented on #3280
appears to have been addressed by #3290 we're splitting traffic again and I'm unable to reproduce

[2018-03-16 15:15] stromnet opened #3293 "TLSV1_ALERT_PROTOCOL_VERSION for files.pythonhosted.org on Mac OS python 2.7"
Might not be relevant, but https://status.python.org/incidents/btjtz01lzp88 mentions to report issues which may have relation to https://pypi.org/simple/ansible/, and at least I seem to use that..
 Never had this issue before at least (re-installing ansible 2.3.2.0 after doing some tests with 2.4.0, as evident a lot of cached stuff has been fetched earlier).

[code]

[code]

[2018-03-16 15:24] di commented on #3285
I think this is only really applicable for reStructuredText, the markdown renderer will always return something even if it's not perfectly valid markdown (or even if it isn't actually markdown all).

[2018-03-16 15:24] clintharrison commented on #3284
@di thank you for the quick fix! There was no particular reason, simply an oversight on our side, not realizing that there existed both sdists. We have since added both hashes and using the Warehouse served simple index worked just fine 💯

[2018-03-16 15:33] ewdurbin commented on #3293
@stromnet thanks for your report. Our CDN provider is deprecating support for TLS protocols 1.0 and 1.1 on June 30, 2018. In preparation for that, the new CDN endpoint for pypi.org only has support for TLSv1.2.

What is interesting here is that the initial requests to pypi.org succeeded... It's not clear to me why subsequent requests to files.pythonhosted.org are failing. cc @dstufft

[2018-03-16 15:52] pauldmccarthy commented on #3293
I am experiencing the same problem on Python 2.7, 3.4, and 3.5. Working on Python 3.6. Can I ask how long this testing period is going to last for?

[2018-03-16 15:53] ewdurbin commented on #3293
We're just over an hour in, so we'll probably back it off now. Thanks for confirming the report @pauldmccarthy

[2018-03-16 16:04] ewdurbin commented on #3293
Determination on cause of issue:

Although pypi.org and files.pythonhosted.org share a fastly service, files.pythonhosted.org is terminated by a separate TLS endpoint which does not have TLSv1.0/TLSv1.1 enabled due to being on the shared certificate provided by our CDN.

[2018-03-16 16:08] fbouliane commented on #3280
It seems fixed !
Thanks for your help.

[2018-03-16 16:08] #3280 closed

[2018-03-16 16:08] ewdurbin commented on #3280
🎉

[2018-03-16 18:08] dstufft commented on #3285
Even if those renders always pass i think there is till value in doing it. For example it’s catch errors in cleaning the html as well. The general idea is that people semi regularly hit broken readme and avoiding that up front seems like a net positive.

Sent from my iPhone

[2018-03-16 18:27] di commented on #869
With https://github.com/pypa/warehouse/pull/3296 merged and a pre-release of `twine` available, it is now technically possible to publish descriptions on PyPI using Markdown. 🎉

For example, see https://pypi.org/p/markdown-description-example/

Here's a step-by-step guide with everything necessary to make this work for your new or existing project: https://dustingram.com/articles/2018/03/16/markdo

[2018-03-16 19:46] brainwane opened #3299 "Test PEP 566 features"
This is a checklist of stuff I'd like folks to test, to make sure our [Markdown support](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi) and other [PEP 566](https://www.python.org/dev/peps/pep-0566/) features are super robust!

[Dustin's blog post](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi) explains how to set yourself up for manual testing

[2018-03-16 19:55] varunotelli commented on #3274
I'd like to work on this issue.

[2018-03-16 20:15] brainwane commented on #869
I'd love for people to start preparing PRs for documentation improvements for [the sample project](https://github.com/pypa/sampleproject) used in [the official package distribution guide](https://packaging.python.org/tutorials/distributing-packages/), and for [that guide itself](https://github.com/pypa/python-packaging-user-guide/).

[2018-03-16 21:52] lgh2 commented on #3299
I tried uploading some sample text from https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown, and not all of it rendered correctly.  Tags like `<h1>` disappeared. Strikethroughs like `~~this~~` did not render.  Tables formatted in GitHub style did not appear correctly.

As expected, Warehouse does not support GitHub-flavored Markdown.

[2018-03-16 21:58] brainwane commented on #869
Also, per [Dustin's guide](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi), if you're testing this, make a source distribution (sdist), not a wheel. Wheel support may depend on pypa/wheel#231 being resolved.

[2018-03-16 22:46] thebigmunch commented on #3299
Fenced code blocks become ``<pre><code>`` in the CommonMark spec. See the [example project](https://pypi.org/project/markdown-description-example/) for a demonstration of the strange styling that happens with that combination.

[2018-03-16 22:58] bulletmark commented on #3299
Seeing the post at https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi, I just tried the markdown rendering with my little project the code blocks look much better on github sorry. Compare https://pypi.org/project/pifaceio/1.26.1 to https://github.com/bulletmark/pifaceio/tree/1.26.1.

[2018-03-17 05:35] stevepiercy commented on #3174
Assuming the purpose of a CAPTCHA is to prevent malicious users from registering accounts, there are other proven techniques that do not require it in any form. I've successfully implemented many of the techniques described in this article:
https://webaim.org/blog/spam_free_accessible_forms/

These techniques are transparent to the legitimate user (no extra click, selection of specific objects in

[2018-03-17 15:26] sfdye commented on #869
@di Will this work now if we deploy to pypi from travis?
https://github.com/PyGithub/PyGithub/blob/master/.travis.yml

[2018-03-17 15:29] sfdye commented on #3174
It's very unfortunate to see this. IMO we shouldn't rely on any work-around on reCAPTCHA itself, you don't know China's policy when it comes to google. Trust me.

[2018-03-17 17:19] jMuzsik commented on #3156
Hi, I'll work on this, and I can do https://github.com/pypa/warehouse/issues/3157 simultaneously.

Ought I use the exact text used in specified in https://github.com/pypa/warehouse/issues/3157 or is there anything else that should be edited in this view?

Thanks!

[2018-03-17 18:56] nlhkabu commented on #3156
Great! thanks @jMuzsik! Yes, let's go with the exact text - thank you!

[2018-03-17 20:53] alex commented on #3293
There is a new version of pip out which should resolve this issue for macOS users.

[2018-03-17 22:02] 9999years commented on #869
I’ve created a PR for the sample project (pypa/sampleproject#66) and I’m working on one for the guide as well. What versions of twine, wheel, distutils, and so on support the content-type field so far? It might be good to have version numbers inline in the documentation.

[2018-03-17 22:16] brainwane commented on #869
Thanks for your PR, @9999years! Versions: pkginfo 1.4.2, Twine 1.11.0 (right now 1.11.0rc1 will work), setuptools 38.6.0, and I'm not entirely clear regarding wheel since wheel support does not work yet as of wheel 0.30.0. [Dustin's blog post](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi) mentions some of those. I am not sure about Python versions (distutils being part

[2018-03-17 22:19] brainwane commented on #3299
Thanks for the testing and comments! cc @di regarding especially the fenced code blocks report.

Several people have asked in other places about Warehouse supporting GitHub-flavored Markdown -- just a heads-up that I've put that into pypa/packaging-problems#126, as this is a request that spans a few different codebases.

[2018-03-18 00:57] 9999years commented on #869
Okay, the guide PR is at pypa/python-packaging-user-guide#457.

[2018-03-18 05:07] ncoghlan commented on #869
For the time being, we don't have any plans for `distutils` itself to support metadata versions beyond 1.1 - the guidance for a number of years has been to use `setuptools` instead (regardless of Python version), and this is just one more reason to continue that recommendation.

However, I think the existence of the standard library distutils API implementation is a genuine problem given that we d

[2018-03-19 00:39] dgasaway opened #3311 "reStructuredText header issue"
I was testing a new project (new to PyPI) by uploading to TestPyPI.  I have a README.rst file that is read into long_description.  The README looked fine in bitbucket, passed readme_renderer and rst-lint, but kept failing to render formatted in the project description on TestPyPI.  After tinkering for hours, I chopped up the file and kept adding more pieces until the failure came back, and it came

[2018-03-19 08:44] stromnet commented on #3293
It's working again now, so cannot verify with updated pip, but indeed it looks like 9.0.2 has related changes: https://pip.pypa.io/en/stable/news/

[2018-03-19 10:28] x3medima17 opened #3312 "Claiming package name"
We are core team of the [iroha](https://github.com/hyperledger/iroha) project. Today I tried to upload a package to PyPI, and `iroha` name was already occupied, somebody uploaded our package there and now we don't have any write permissions.
What can we do to reobtain the access?
Thank you!

[2018-03-19 10:57] brainwane commented on #3312
Hi, @x3medima17. I see that [there's a PyPI project for `iroha`](https://pypi.org/project/iroha/#history). If I understand you correctly, [user account `iroha-pypi`](https://pypi.org/user/iroha-pypi/) is some person or group other than you, and they uploaded an `iroha` project on PyPI. Is that right? You mention that you'd like to "reobtain" the access; did you previously have a package uploaded f

[2018-03-19 11:02] brainwane commented on #3312
@x3medima17 I looked at https://github.com/hyperledger/iroha/pull/936/files . I think `iroha-pypi` *is you* and you should [do a pypi.org password reset](https://pypi.org/account/request-password-reset/) and see if that helps you sort this out.

[2018-03-19 12:32] x3medima17 commented on #3312
@brainwane I wish it was me, but actually we were not fast enough to occupy the name, because we planned to upload it after our next release.
I have been testing our lib on [](https://testpypi.python.org/pypi)

[2018-03-19 12:43] di commented on #3312
@x3medima17 The email address for the `iroha-pypi` account is on [your maintainers list](https://github.com/hyperledger/iroha/blob/master/MAINTAINERS.md) and corresponds with @satelliteyes, have you checked with them?

[2018-03-19 15:45] brainwane commented on #3068
@jan-janssen If this error happens to you again, please feel free to reopen this issue and tell us more about how to reproduce it! We've made several improvements to PyPI since you opened this issue, so unless you tell us it's still happening, I think it's probably resolved. Thank you.

[2018-03-19 15:45] #3068 closed

[2018-03-19 15:49] brainwane commented on #3311
Hi, @dgasaway -- thanks for reporting this problem. Could you point us to the Test PyPI project that had this problem, and show us the `README.rst` file and the `setup.py` file? You can add a `.txt` file extension and attach those files directly to this issue.

[2018-03-19 16:20] dgasaway commented on #3311
Hi.  The project is [here](https://test.pypi.org/project/kantag/), but note that I've since had it corrected.  It looks like that last one that showed the issue was [1.0.22](https://test.pypi.org/project/kantag/1.0.22/).  You can find the README.rst [here](https://bitbucket.org/dgasaway/kantag/src/59bcb4d4487a59ef9a0857f2848ce24cdb159328/README.rst?at=default&fileviewer=file-view-default).  Althou

[2018-03-19 16:23] dgasaway commented on #3311
Sorry, I forgot to link to the [setup.py](https://bitbucket.org/dgasaway/kantag/src/9fb884b1e943d04722fab118b6acea6525462bbf/setup.py?at=default&fileviewer=file-view-default).  Thanks.

[2018-03-19 16:52] ewdurbin commented on #3275
@thiagofigueiro do you have a link to the JFrog ticket?

[2018-03-19 17:27] di commented on #3010
I made this comment in the MOSS-grant meeting last week but I'll reproduce my opinon here:

I will defer to @nlhkabu's decision however.

[2018-03-19 19:23] lgh2 commented on #3299
I did some testing on the `long_description_content_type` field, and found the following things:

- Short ASCII strings that are not valid for the field produce the following error.  I managed to produce this error with the following strings: "a", "mark2343down/te43", "9384753845".

[code]

- Any Unicode characters that are not in the English alphabet (a single emoji, a series of emoji, emoji mixe

[2018-03-19 19:33] di commented on #3299
@lgh2 Thanks for testing.

The first is expected, we strictly validate the `long_description_content_type` so anything outside of `text/plain`, `text/x-rst` and `text/markdown` should fail validation as you have seen.

I'm a little confused about the second, because I'm not seeing a corresponding exception raised from TestPyPI in Sentry. I'll have to try and reproduce.

[2018-03-19 19:39] waseem18 commented on #2914
The [json_project method](https://github.com/pypa/warehouse/blob/0bb7fed7879e5930e9a3fc299933fb969298136d/warehouse/legacy/api/json.py#L35-L54) returns method `json_release` with one of the parameters being `release`. `contributors` query (find query below) can be similar to `release` and `contributors` should also be passed as a parameter to the `json_release` method where the key-value `"contrib

[2018-03-19 19:44] #3186 closed

[2018-03-19 20:20] di commented on #869
Yes, per https://github.com/pypa/wheel/issues/231 we will need to instruct users wanting to build wheels to use an as-of-yet-unreleased version of `wheel` (working on this now).

[2018-03-19 20:26] di commented on #3157
Fixed in #3313.

[2018-03-19 20:26] #3157 closed

[2018-03-19 20:44] #3197 closed

[2018-03-19 20:57] #3152 closed

[2018-03-19 23:55] brainwane commented on #869
[Twine 1.11.0 is now out](https://pypi.org/project/twine/1.11.0/) and [includes some fixes](https://twine.readthedocs.io/en/latest/changelog.html) that'll stop users from trying stuff that won't work anymore.

We're leaving this issue open till @di's pypa/wheel#232 is merged & released, so users can upload Markdown `README`s in their wheels.

(You can thank Dustin in person at PyCon in May, where

[2018-03-20 06:35] nlhkabu commented on #3274
Hi @alexwlchan - thanks for opening this.  This issue is covered in https://github.com/pypa/warehouse/issues/3196 - are you happy for me to close this?

[2018-03-20 07:21] nlhkabu commented on #2612
It appears as though this code has been refactored since this issue was open - there is no longer any `inline-block` style applied.  I'm going to close this on the assumption that this bug no longer exists, but please reopen if I have missed something!

[2018-03-20 07:21] #2612 closed

[2018-03-20 08:16] x3medima17 commented on #3312
@di We have written a letter to our community. Yeah, one of them had registered as `iroha-pypi`, now he gave us all account details!
Thank you for quick response!

[2018-03-20 08:20] pgadige commented on #3196
I'm working on this issue.  Does "title" refer to the corresponding anchor tag's `title` attribute?

[2018-03-20 08:31] ewdurbin commented on #3312
@x3medima17 can you confirm that you've gotten what you need?

[2018-03-20 08:33] ewdurbin opened #3317 "Email notification when adding/removing email address."
We should notify all email addresses on an account when an email address is added/removed..

We currently only notify for primary email changes. It's probably worth letting the Primary Email address know what's going on.

[2018-03-20 09:17] waseem18 commented on #3317
We should also probably have a `Manage Notifications` page as this can generate sizable email traffic.

[2018-03-20 10:36] waseem18 commented on #2914
@di Could you please review the above approach?

Thanks

[2018-03-20 10:57] brainwane commented on #2914
Thanks for your writeup, @waseem18! Since Dustin (and others on the [MOSS-funded team](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html)) are focusing right now on getting the beta out the door and then getting to the redirect/launch milestone, Dustin will probably wait till after those are done to comment on the approach you've suggested. But I hope other people will comm

[2018-03-20 11:07] brainwane commented on #3005
For something like a conversation in an individual GitHub issue, which is likely to be almost entirely visited by people who are already familiar with the social context of the team working on a project and who are working together, I think yeah, choosing to display only avatars and then providing names/usernames as mouseovers/tooltips is good. But the context of someone visiting a PyPI project pa

[2018-03-20 12:44] nlhkabu commented on #3196
Yes it does @pgadige :)

[2018-03-20 14:51] brainwane commented on #1506
I suggest we keep this issue to the issue of abandoned, unmaintained, and orphaned projects, and then cover more general and nuanced project activity statistics in #991.

It looks like PEP 541 is on its way to acceptance. I think we can resolve this issue in the following steps:

- [ ] accept the PEP (this is on the shoulders of the [Packaging Working Group](https://wiki.python.org/psf/PackagingWG

[2018-03-20 16:00] di commented on #2612
Yes, looking at https://pypi.org/project/cffi_magic/ this seems fixed.

[2018-03-20 16:04] brainwane commented on #3062
@yeraydiazdiaz, @aalmazan, @Volcyy, @HndrkMkt, @cryvate, @asottile, would one of you be interested in working on this?

[2018-03-20 16:18] di commented on #3317
I'm on the fence about this. A user can't do anything with an added email address until it's made primary, so anyone who's account is compromised will likely receive both notifications anyways.

Like @waseem18 said, for uncompromised users, the action of just setting a new primary email address would generate a lot of emails.

[2018-03-20 16:32] brainwane commented on #991
A little context on why I'm weighing in, and then my take.

Context: I'm the project manager for Warehouse, via [the Mozilla Open Source Support Program grant](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), to replace the legacy PyPI site. [The new site](http://pypi.org/) is about to hit beta and we'll be announcing that and asking folks to test it. [Our developer road

[2018-03-20 17:06] nlhkabu commented on #3062
@brainwane - I have a PR on progress for this ticket.  But it would be great if one of the devs you have pinged could review it? I hope to push it today/tomorrow morning :)

[2018-03-20 17:30] alexwlchan commented on #3274
Ah, I missed it!

[2018-03-20 17:30] #3274 closed

[2018-03-20 17:34] demianbrecht commented on #991
@brainwane +1, I like the idea of using libraries.io as they're giving far more thought to meaningful metrics than I suppose anyone would ever want to put directly into pypi.

[2018-03-20 18:53] brainwane commented on #3221
Thanks, @alex.

Yeah, after Pyramid supports this, Warehouse should add it.

[2018-03-20 19:33] alex commented on #3221
I think we're blocked on a WebOb release, not pyramid support.

[2018-03-20 20:40] #2490 closed

[2018-03-20 20:49] #3263 closed

[2018-03-20 21:43] #3112 closed

[2018-03-20 21:48] ewdurbin commented on #1294
omg I'm so in.

[2018-03-20 21:52] di commented on #3112
<img width="577" alt="screen shot 2018-03-20 at 4 51 35 pm" src="https://user-images.githubusercontent.com/294415/37684733-fa9a082a-2c5e-11e8-9e77-5be346023146.png">

Looks great!

[2018-03-20 21:55] ewdurbin commented on #1294
posterity? no... I suppose leaving it at pypi.python.org while we redirect all the non-api traffic attains the same outcomes.

eventually we turn pypi.python.org into a pure redirect then retire it?

[2018-03-20 21:59] di commented on #1294
Yeah I'm talking about right when we do this, legacy will be otherwise inaccessible, might be worthwhile to keep a host pointed at it in case we missed something (definitely _not_ for posterity).

[2018-03-20 22:20] brainwane commented on #2914
I realized we can do this after Legacy PyPI shutdown, since we do provide `package_roles` in [the Warehouse XML-RPC API](https://warehouse.readthedocs.io/api-reference/xml-rpc/).

[2018-03-20 22:26] brainwane commented on #1294
We don't quite have feature parity yet.

[Our roadmap](https://wiki.python.org/psf/WarehouseRoadmap) says, first (milestone 4) we launch-and-redirect (and it's ok if we are not 100% at feature parity, because we will keep Legacy around somewhere), then we shut down legacy (milestone 5, "shut down legacy PyPI").

We have [11 open items in the "shut down legacy PyPI" milestone](https://github.com/py

[2018-03-20 23:41] alanbato commented on #3151
Working on it :+1:

[2018-03-20 23:51] brainwane commented on #3151
Thanks! This'll especially be helpful in light of Dustin's work on [PEP 566](https://www.python.org/dev/peps/pep-0566/).

[2018-03-20 23:58] brainwane commented on #3139
@pgadige let us know if you're interested in working on this!

[2018-03-21 00:06] brainwane commented on #3069
@nlhkabu I agree with @di who said,

so please consider reopening this to add that.

[2018-03-21 00:09] di commented on #3069
Hmm, I seemed to have merged https://github.com/pypa/warehouse/issues/3257, this might have been my fault.

[2018-03-21 00:31] brainwane commented on #3139
Thanks, @pgadige. If you are trying to figure out how to approach this, https://github.com/pypa/warehouse/blame/master/warehouse/templates/pages/help.html and https://github.com/pypa/warehouse/commits/master/warehouse/templates/pages/help.html may help. :)

[2018-03-21 00:43] brainwane opened #3325 "Update /simple/ docs to remove <meta api-version="2">"
Followup to #3290 - remove `<meta api-version="2">` references from https://warehouse.readthedocs.io/api-reference/legacy/ (`docs/api-reference/legacy.rst`).

[2018-03-21 01:02] brainwane commented on #3163
@aalmazan could I ask for you to help with this?

[2018-03-21 04:54] aalmazan commented on #3163
@brainwane Sure, however, I can't seem to find a good way to test uploading packages. Are there some docs you can point me to? Or at least a high-level of how I can create a test package?

Would I need to follow [the packaging guide](https://packaging.python.org/tutorials/distributing-packages/) while having pypi.org point to localhost?

[2018-03-21 05:49] brainwane commented on #3163
@aalmazan As a first step, if you haven't uploaded a package to PyPI before, I suggest you follow [the packaging guide](https://packaging.python.org/tutorials/distributing-packages/) and then [upload your package to Test PyPI](https://packaging.python.org/guides/using-testpypi/), just to see how the whole process works. [Here's a toy project I have set up reasonably well](https://gitlab.com/brainw

[2018-03-21 05:50] brainwane commented on #3163
@aalmazan Sorry for this oversight!

[2018-03-21 06:08] waseem18 commented on #3163
@aalmazan What you can do is - Find a user from local database who has one or more packages then reset the user's password and login with the same user. You can use those packages to reproduce any issues.

[2018-03-21 06:23] nlhkabu commented on #3163
Hi everyone, we actually already have documentation for how to login locally here: https://warehouse.readthedocs.io/development/getting-started/#logging-in-to-warehouse

[2018-03-21 06:30] nlhkabu commented on #3069
Nope, we can leave it closed.  User testing suggested the button was confusing, so removing it altogether is a better solution :)

[2018-03-21 07:11] nlhkabu commented on #3062
I've made the PR (see #3327), but I have a question about the best way to set up the example search/filters.

If @yeraydiazdiaz, @aalmazan, @Volcyy, @HndrkMkt, @cryvate, or @asottile could take a look at the PR, that would be great!!

[2018-03-21 09:17] defjaf commented on #3299
Hi,

I am (also?) seeing problems with fenced code blocks -- they are rendered with extra horizontal lines above and below each line of text within the block. See, e.g., [the code block here](https://pypi.org/project/pip-upgrade-outdated/1.0b3/).

[2018-03-21 09:20] defjaf commented on #3299
Plain-text web addresses are not converted to clickable links. See, e.g., [the code block here](https://pypi.org/project/pip-upgrade-outdated/1.0b3/) (same location my comment above, but I assume it's better as a separate comment).

[2018-03-21 10:40] ncoghlan commented on #991
Lending PyPI's weight to Tidelift's efforts to come up with a language independent ranking approach that encourages and rewards good community behaviours seems like a good direction to me.

[2018-03-21 12:22] williamjmorenor commented on #991
Sounds good for me, since the main idea to show more info about a library
was to give to posible new users more info about a library to decide to
include it in a project or not looks like library.io is a.good source for
those info.

--
Enviado desde mi móvil, disculpe la brevedad
William

[2018-03-21 16:00] jMuzsik commented on #3248
Hi, it's cool I work on this?

I can continue working on first issues as well. Open to whatever. Any issues you'd recommend?

But as for this one, are there keywords that I can use to assure that I find each modal? As in, do they all have a class of `modal` or will this demand going through the site and finding each instance of a modal? If that is so, do you mind pointing me to a few to start?

Th

[2018-03-21 16:06] di commented on #3248
@jMuzsik Absolutely! If you feel comfortable moving on from the "good first issues" then feel free. This would be a good one.

All the modals are created with this macro, so you should only have to change it once: https://github.com/pypa/warehouse/blob/fe7d676886a58a3500afe40181595ec4d50f0f51/warehouse/templates/manage/manage_base.html#L61-L93

[2018-03-21 16:08] di opened #3330 "Markdown codeblocks have extra styling"
E.g. for https://pypi.org/project/pip-upgrade-outdated/1.0b3/

<img width="812" alt="screen shot 2018-03-21 at 11 07 05 am" src="https://user-images.githubusercontent.com/294415/37721637-096019dc-2cf8-11e8-9a24-620a28503756.png">

@nlhkabu Let me know if need to be able to reproduce this in dev.

[2018-03-21 16:10] di commented on #3299
Made a separate issue for this: https://github.com/pypa/warehouse/issues/3330

I think this is a limitation of the CommonMark variant, switching to GFM (once we ship that) should provide the behavior you're expecting.

[2018-03-21 16:31] brainwane opened #3331 "make (some?) email templates noreply"
Warehouse sends automated email notifications (`warehouse/templates/email/`). Most should be noreply and we should update the FROM address, headers, and body accordingly, including text about replying to PyPI admins.

Nice-to-have: change the email address based on what project we're emailing about, as GitHub does (example: `pip@noreply.pypi.org`).

(Future plans: Once we have #3231 we'll be updat

[2018-03-21 16:37] #3196 closed

[2018-03-21 16:41] brainwane commented on #3112
I'm not sure why https://twitter.com/yera_ee/status/976472212889796609 by @yeraydiazdiaz doesn't look like that. Yeray tweeted it after we deployed the change on pypi.org. Screenshot:

![yeray-tweet](https://user-images.githubusercontent.com/842790/37723616-34773be8-2d05-11e8-990f-06fcb9aca436.png)

[2018-03-21 16:47] di commented on #3112
Looks correct to me now:

<img width="607" alt="screen shot 2018-03-21 at 11 46 49 am" src="https://user-images.githubusercontent.com/294415/37723913-91a8fe44-2cfd-11e8-91c9-d33f6d40ccb4.png">

Likely the project page hadn't fallen out of the cache yet, and this isn't really worth issuing a `purge-all` for.

[2018-03-21 16:50] di commented on #3331
I think _all_ notification emails should be `noreply`, and the notice at the bottom of them should be changed to encourage folks to send a separate email to `admins@` rather than replying.

We should make this a separate issue.

Once @ewdurbin sets up the `noreply` address, this is something a volunteer could do.

[2018-03-21 17:07] di commented on #3163
@brainwane Our guide already has some details about uploading packages locally, but it's not in the "Getting Started" section: https://warehouse.pypa.io/development/reviewing-patches/?highlight=twine#testing-with-twine

[2018-03-21 17:20] brainwane commented on #3163
I just spoke with Nicole and we agreed that this can wait till after we shut down legacy PyPI.

[2018-03-21 17:21] brainwane commented on #2127
I [just spoke with Nicole in IRC](http://kafka.dcpython.org/day/pypa-dev/2018-03-21) and we agreed that this can wait till after we shut down legacy PyPI.

[2018-03-21 17:21] brainwane commented on #785
I [just spoke with Nicole in IRC](http://kafka.dcpython.org/day/pypa-dev/2018-03-21) and we agreed that, given how much better Warehouse is on accessibility in general compared to legacy PyPI, this improvement can wait till after we shut down legacy PyPI.

[2018-03-21 17:29] #3062 closed

[2018-03-21 17:31] brainwane commented on #3062
@hnykda Thanks for reporting this issue! Hope we've taken care of the problem you saw.

[2018-03-21 17:37] di commented on #1238
Should we add DataDog? We're definitely using it for Warehouse and I believe the service is being donated.

Should we remove Heroku? I assume they're still donating infra for the PSF but they aren't directly being used by Warehouse.

[2018-03-21 17:46] brainwane commented on #582
@dstufft said,

Does shutting down pypi.python.org also involve shutting down https://www.pythonhosted.org/ and thus making pythonhosted.org documentation (example: https://pythonhosted.org/spyder/help.html ) completely unavailable to users? I presume it does not, in which case, this feature, though deeply needed, does not need to block the shutdown of legacy PyPI.

[2018-03-21 17:55] brainwane commented on #1935
@tmose1106 I'm sorry for the delay in response here. The folks working on Warehouse have gotten [limited funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to improve Warehouse to th

[2018-03-21 17:56] brainwane commented on #1935
(I will say that I personally do look for projects under OSI-approved licenses, but I acknowledge that I may be a weirdo. :) )

[2018-03-21 18:00] brainwane commented on #2562
For the whitespace/condensing issues, let's talk in #1988 and #2417.

Pradyun, thanks for the feedback! Nicole's taking it into account. (You may have already read Nicole (@nlhkabu)'s [design goals, including her assessment of the legacy UI and its problems](http://whoisnicoleharris.com/2015/12/31/designing-warehouse-an-overview.html).) She's [doing user tests to get more data on what users have t

[2018-03-21 18:17] pradyunsg commented on #2562
You're welcome! ^>^

Another thing that comes to mind looking at this right now is that python.org links to pypi.python.org from the top bar (the black one). Maybe Warehouse should have it too, for consistency? Just a thought.

See also: https://github.com/python/python-docs-theme/issues/10

Awesome! Glad to hear that!

[2018-03-21 18:21] brainwane commented on #2562
@pradyunsg Once we do the redirect/switch, links to pypi.python.org will redirect to Warehouse, and we'll ask the people who run the python.org website to link directly to the new PyPI. Thanks!

[2018-03-21 18:24] pradyunsg commented on #2562
Umm... I think you misunderstand...

[2018-03-21 18:32] brainwane commented on #2562
Ah so what you meant was that Warehouse should also have *a black navbar at the top of the page*, like python.org currently does. Thanks for clarifying!

[2018-03-21 18:43] brainwane commented on #1988
I'm sorry for the delay in response here. The folks working on Warehouse have gotten [limited funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to improve Warehouse to the point whe

[2018-03-21 18:44] di commented on #2442
I don't have any great ideas about this one. Deferring to @nlhkabu but happy to implement whatever she decides.

[2018-03-21 18:47] di commented on #164
@dstufft Any ideas about where would be the best place to short-circuit this? Perhaps a `@db.listens_for(db.Session, "before_commit")` or something to abort the commit?

[2018-03-21 18:48] brainwane opened #3334 "insufficient contrast in PyPI colours"
From #2417:

Marking `accessibility` in case we aren't hitting a11y standards for contrast.

[2018-03-21 18:51] di commented on #2518
Agree w/ @brainwane. This is the last thing left in Milestone #3. Should we do it now?

[2018-03-21 18:53] brainwane opened #3335 "question: add "last released" to last-released timestamp?"
Followup to #821 and breaking out of a feedback list in #2417.

The "About 5 days ago." text on [a sample project](https://pypi.org/project/sabyenc/) is under a "Latest version" box, but for those of us who see that as a glowing box and don't really look at the text it doesn't quite seem connected. Could/should we add a "last released" label, or visually connect it more to that "latest version" bo

[2018-03-21 18:55] jacebrowning commented on #1919
(I was brought here by https://twitter.com/brainwane/status/976489373607772161)

Here's my use case:

https://pypi.python.org/pypi/coverage-space was originally named `coverage.space`, but I realized this was problematic because that name requires quoting to include in a `Pipfile`. I thought I could upload newer versions of the PyPI package as `coverage-space`, but I was getting an error message a

[2018-03-21 18:56] di commented on #3335
👍, this change is probably good for new contributors as well.

[2018-03-21 19:00] brainwane commented on #2417
@Safihre I'm sorry - you're getting a response from me at the moment but I've been in frequent consultation with Nicole. She's taking your concerns into account, gathering data via [user tests](http://whoisnicoleharris.com/2018/03/13/user-testing-warehouse.html), and then using that data to figure out how to proceed and what to prioritize.

I think part of the issue with this particular thread (#2

[2018-03-21 19:00] #2417 closed

[2018-03-21 19:02] brainwane commented on #2518
My understanding is that we need to do #3174 first. I must not have updated the [Kanban-style board](https://github.com/pypa/warehouse/projects/1) to manually reflect what's in the milestones. Apologies.

[2018-03-21 19:03] brainwane commented on #1294
I [just spoke with Nicole in IRC](http://kafka.dcpython.org/day/pypa-dev/2018-03-21) and got her opinion that nearly everything that was in the "shut down legacy PyPI" milestone can actually wait till *after* we shut down legacy PyPI.

Therefore I am moving several issues out of "shut down legacy" and into the "post-shutdown" milestone.

[2018-03-21 19:03] di opened #3336 "Unnecessary purges on `User` model change"
Currently right now any time the `User` model changes, we purge all the cache keys for that user's project.

This includes attribute changes that don't actually affect the project pages, like `last_login`, `password` etc.

We should filter out "purge-able" attribute changes and only issue purges when necessary. Said attributes include:
* `username`
* `name`
* `emails`

[2018-03-21 19:10] dstufft commented on #164
``request.tm.doom()`` should allow the request to continue, but abort it at the last minute.

[2018-03-21 19:11] di commented on #3174
Looking at https://webaim.org/blog/spam_free_accessible_forms/ I'm not sure those techniques are going to help us with registration spam:

There is not really enough content on the submitted fields to do this

I don't think this is applicable here.

Already do this, and blacklist disposable email domains.

I don't think this is applicable here.

Already do this with CSRF tokens.

I don't think we

[2018-03-21 19:12] di commented on #3174
I think I'm going to try switching to https://captcha.com/, it's both available in China and touts it's accessibility so it shouldn't be much different than reCAPTCHA for our users.

[2018-03-21 19:17] brainwane commented on #2518
@nlhkabu also identified #3194 as a must-finish before we go into beta.

Once we resolve those or decide they can wait, yes, let's change the banner and FAQ to say "beta". Then, confetti and singing.

[2018-03-21 19:20] brainwane commented on #1294
The trove classifier view issues are on their way to resolution thanks to Wasim's work, but #3108 is still a blocker to shutting down legacy, per @ewdurbin's opinion in [our meeting last week](https://wiki.python.org/psf/PackagingWG/2018-03-12-Warehouse). Thanks all.

[2018-03-21 19:21] brainwane commented on #3010
@nlhkabu I'm deferring to you on how to address this and how to prioritize it. Thanks.

[2018-03-21 19:22] di commented on #3174
Hmm, it seems like https://captcha.com/ does not offer a hosted solution (probably why it works so well in China) so the lack of a Python backend will be a problem, and requires a license.

[2018-03-21 19:41] brainwane commented on #1919
Thanks @jacebrowning and I'm sorry for the trouble! We'll take this into account as we work on Warehouse and improve documentation and user support processes.

`coverage.space`/`coverage-space` looks like a cool project! ([Here it is in the new PyPI](https://pypi.org/project/coverage-space/).)

[2018-03-21 19:52] brainwane opened #3337 "change notification FROM email address based on PyPI project"
Breaking out from #3331: change the no-reply email address based on what project we're emailing about, as GitHub does (example: `pip@noreply.pypi.org`). This makes it easier for users to set up filters.

[2018-03-21 19:58] brainwane opened #3338 "release history visualization on project page"
Breaking @stared's idea out of https://github.com/pypa/warehouse/issues/991#issuecomment-219425713, and lightly editing:

I'm also in favor of a sparkline or barcode-style visualization of a project's past releases.

[2018-03-21 20:07] jMuzsik commented on #3248
I can work on #3198 at the same time because it is in the exact same place, sounds good?

[2018-03-21 20:11] brainwane commented on #991
People who want a watching/watchers feature: you can log in to libraries.io via GitLab, GitHub, or BitBucket to watch packages and get email notifications of new releases + an onsite newsfeed. It can also watch your repositories & notify you of changes in your dependencies, though it [doesn't yet support some dependency manifests like `tox.ini`](https://github.com/librariesio/bibliothecary/issues/

[2018-03-21 20:50] #2931 closed

[2018-03-21 20:58] brainwane commented on #3163
@aalmazan do you have what you need to proceed on this? Please do go ahead and work on it -- if we can merge your fix before shutting down legacy, all the better!

[2018-03-21 21:13] stevepiercy commented on #3174
I hope y'all decide to abandon CAPTCHAs. If so, then I'd ask that you reconsider these three tactics. They have worked very well for me, second only to rigorous submitted value validation and CSRF protection, to stop automated evildoers.

* Detect spam-like content within submitted form elements
* Detect content within a hidden form element  # This "honeypot" catches many spambots for me
* Search

[2018-03-21 22:41] #3174 closed

[2018-03-22 00:13] ogdans3 commented on #3172
Is this still an issue? I have not received any email confirmation after multiple resends and trying three different email addresses: outlook, hotmail and gmail.

[2018-03-22 01:16] ewdurbin commented on #3336
it also issues an `all-projects` which purges `/simple`

[2018-03-22 01:20] di commented on #3336
Hmm, shouldn't be...

[2018-03-22 01:20] ewdurbin commented on #3336
my bad, sneaky edited my original comment after checking logs more closely.

[2018-03-22 03:50] brainwane commented on #3336
Ernest mentioned we need this before launching beta, because otherwise it's so costly to serve users who have many projects each.

[2018-03-22 05:19] aalmazan commented on #3163
Below is a screenshot of what I currently have for the modal copy. Let me know if this should change. I think with how the `confirm_modal` macro is now, I'm not able to add more detail about what's deleted unless I add in some sort of `extra_details=[html_strings]` to the macro? Maybe we can add in the filename in the modal title if we're fine with having the title wrap to two lines? (i.e. "Delete

[2018-03-22 06:42] nlhkabu commented on #3163
Hi @aalmazan - thanks for your work on this!  I think just "delete file from <project name>" for the title is fine (we had feedback during user tests that the file name itself could be really really long).

I agree that it would be nice to make another argument in the macro - but maybe for an additional line of information in the modal.  For example:

![screenshot from 2018-03-22 06-41-28](https:/

[2018-03-22 06:48] nlhkabu commented on #3330
thanks @di.  Yes, I can't seem to find a project on dev with this issue.  Could you please help me to reproduce?  Thanks! :)

[2018-03-22 06:51] nlhkabu opened #3350 "Button state does not reset when modal closes"
@aalmazan picked up this issue - when the modal is closed, the text is cleared, but the button state is not reset.

![peek 2018-03-21 22-03](https://user-images.githubusercontent.com/800948/37752532-cd5e62dc-2d55-11e8-8a86-0a7036c44c4d.gif)

@aalmazan has volunteered to work on this

---

**Screenshot Required**: Please include a screenshot of your update. This helps our team give you feedback fas

[2018-03-22 06:52] nlhkabu commented on #3350
@aalmazan I think we will probably want a separate PR for this, as it is not really the same as https://github.com/pypa/warehouse/issues/3163, and it's faster for us to review and merge granular changes :)

Thanks for picking up on it and offering to fix it!

[2018-03-22 06:57] nlhkabu commented on #3126
Notification bars are now dismissible, thanks to https://github.com/pypa/warehouse/pull/3202
This issue now only relates to the `callout-block` component, which we'd also like the user to be able to dismiss :)

[2018-03-22 07:01] di commented on #3330
OK, you'll need to upload the following file to your local dev instance of Warehouse with Twine, there's instructions here: https://warehouse.readthedocs.io/development/reviewing-patches/#testing-with-twine

[pip_upgrade_outdated-1.0b3.tar.gz](https://github.com/pypa/warehouse/files/1836425/pip_upgrade_outdated-1.0b3.tar.gz)

[2018-03-22 08:26] nlhkabu commented on #2442
Thanks @pv for raising this :)

I agree that this is something that we'll need to address, however, I don't think it needs to be on this milestone cc @brainwane

My plan is to do some user testing on this page to establish how people are using the filters (if at all) - and then propose some alternative designs.  I don't think this is going to be an easy problem to fix, so it might take some time t

[2018-03-22 08:30] nlhkabu commented on #3194
@brainwane - this is a little more complex than I initially thought.  PR is in progress, but probably won't get merged until next week.  To be clear, I don't think this needs to block publicising beta - the current solution we have *works* - just not for keyboard-only users.

[2018-03-22 11:01] ncoghlan commented on #3174
For ease of reference: the approach @di implemented in #3339 is @stevepiercy's suggestion of "add a hidden form element that's required to be empty".

For ordinary users, that's hidden and will always be empty, but a spam bot scraping the HTML without looking at the CSS will see a text field that it can attempt to add links to.

[2018-03-22 12:55] di commented on #1190
When we add support for this, we'll need to add an attribute event purge on `User.username`:

[code]

[2018-03-22 13:13] mbakke opened #3356 "PGP signatures are not displayed"
This is the same issue as #703.

Uploaded PGP signatures are not visible in Warehouse.

See e.g.

https://pypi.python.org/pypi/cryptography vs https://pypi.org/project/cryptography/ .

[2018-03-22 14:08] ewdurbin opened #3359 "Internal Mirroring"
Our VCL should fallback to an internal mirror for `^/simple` and `^/pypi/.*/json$`

This will allow us to serve the bulk of traffic during maintenance and downtime.

[2018-03-22 14:08] brainwane commented on #3194
OK, thanks for the update @nlhkabu, moving to a later milestone!

[2018-03-22 14:09] dstufft commented on #3359
Thinking about this, one thing that will make this harder is that Warehouse no longer uses relative URLs for the ``/simple/`` but instead uses files.pythonhosted.org. We'll need add a feature to bandersnatch that allows us to point the files to a different domain name.

[2018-03-22 14:37] dstufft opened #3361 "Dismissing pre-production banner does nothing"
Going to pypi.org and hitting the "x" to dismiss the pre-production banner appears to do nothing. The banner is still there and nothing seems to have happened.

[2018-03-22 15:48] alex commented on #3361
In firefox I see a `TypeError: t is null` in the console.

[2018-03-22 15:50] di commented on #3361
I think that's unrelated, it's been doing that for while and I think there's an open PR to fix it?

[2018-03-22 15:53] #3336 closed

[2018-03-22 17:21] brainwane commented on #3359
@ewdurbin Go ahead and put this in a milestone, please.

[2018-03-22 17:25] ewdurbin commented on #3359
Feature PRs in bandersnatch:
  - https://bitbucket.org/pypa/bandersnatch/pull-requests/39
  - https://bitbucket.org/pypa/bandersnatch/pull-requests/40

[2018-03-22 17:25] ewdurbin commented on #3359
Setting up a new internal mirror running from my fork via an `hg+https://` install to test.

[2018-03-22 17:38] brainwane opened #3369 "Move package claim issues"
Package claim issues will wait until PEP 541 process is in place, but once that is finished, migrate package claim issues from:

* https://github.com/pypa/pypi-legacy/issues
* https://sourceforge.net/p/pypi/support-requests/

[2018-03-22 17:39] ewdurbin commented on #3359
new mirror is loading up at https://mirror.dub1.pypi.io/

[2018-03-22 19:19] ewdurbin commented on #1238
can we get the logo & blurb for status page loaded in from https://github.com/pypa/warehouse/issues/1238#issuecomment-237120940?

[2018-03-22 20:25] brainwane commented on #920
To be very clear, I am treating this as something we will do before the redirect-type launch, not something we will do before announcing the beta.

[2018-03-22 20:28] #3361 closed

[2018-03-22 21:53] waldyrious commented on #1300
As an additional data point, doing this would be more transparent and would make issues like [this](https://github.com/waldyrious/classifiers.py/commit/0332c0ff683610b6de6a9f7eca24f4a2b96b5a1d) easier to address.

[2018-03-23 01:10] brainwane commented on #890
@mbacchi how is this going? Can we see the WIP branch?

[2018-03-23 01:13] brainwane commented on #98
@alex @bjornpost have you had a chance to check out libraries.io to see whether their subscription service does what you want? As I said in https://github.com/pypa/warehouse/issues/991#issuecomment-375079848 and elsewhere in that thread, I am leaning towards pointing people who want this feature to libraries.io, at least for the near future.

[2018-03-23 01:14] alex commented on #98
I'm not familiar with libraries.io; nowadays I use pyup (like warehouse!)

[2018-03-23 01:24] brainwane commented on #98
OK, so how about we turn this issue into the following, @alex?

* Add an FAQ entry about notifications (or add this to the existing [APIs answer](https://pypi.org/help/#APIs)), linking to [pyup](https://pyup.io/) and libraries.io
* Add a "get notifications" link/button/something to project detail pages that links to that FAQ answer

[2018-03-23 01:26] alex commented on #98
Those seem reasonable. At this point I'm not sure I'm the best reference on
"how do we make sure people are informed about new releases".

On Thu, Mar 22, 2018 at 9:25 PM, Sumana Harihareswara <
notifications@github.com> wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest la

[2018-03-23 01:32] brainwane commented on #3139
@pgadige How's this going? Do you need any help?

[2018-03-23 01:34] brainwane commented on #98
@jonparrott if you feel like helping with Warehouse a bit, the first half of this issue (adding an answer to the FAQ) would be up your alley, I bet. For directions for getting set up, see our [Getting Started Guide](https://warehouse.pypa.io/development/getting-started/). And [`git blame`](https://github.com/pypa/warehouse/blame/master/warehouse/templates/pages/help.html) and [commit history](http

[2018-03-23 04:57] pgadige commented on #3139
@brainwane apologies for the delay/inactivity. I'd gone deep into the rabbit hole while exploring Jinja2 templates. Now, I can understand what's happening inside help/FAQ page. If I'm stuck, I shall seek help on the IRC. Thank you :)

[2018-03-23 06:18] nlhkabu opened #3379 "Document how to add code to dismiss notification bar"
We should add some help text at the top of `static/sass/blocks/_notification-bar.scss` to explain how to make a notification bar dismissible.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://github.com/pypa/warehouse/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3A

[2018-03-23 06:45] nlhkabu opened #3380 "notification bars no longer stack on load"
When the page loads, the 'sticky' notification bar completely covers the donation bar:

![screenshot from 2018-03-23 06-41-37](https://user-images.githubusercontent.com/3323703/37815076-4c3fda4e-2e65-11e8-8063-9c78bba2368b.png)

If you resize the browser, the display reverts back to what it should be:

![screenshot from 2018-03-23 06-41-30](https://user-images.githubusercontent.com/3323703/3781507

[2018-03-23 07:05] nlhkabu commented on #1238
Status page PR done: https://github.com/python/pypi-theme/pull/23

[2018-03-23 07:34] nlhkabu opened #3381 "tab index incorrect on `manage/account/`"
When tabbing through `/manage/account` I noticed that the tab index is incorrect.  This is because we're setting a custom tab order on the login page, then reusing the code elsewhere.

We should audit all of the pages where password fields appear and make sure that the tab index makes sense.  Where appropriate, we should also consider adding autofocus to the first field.

### Pages to review (post

[2018-03-23 07:36] nlhkabu commented on #3381
## Registration page

This page is ok, but would be better if:

1. the 'name' field was focused on load
2. the 'show password' checkbox came *after* the password fields and register button in the tab order

[2018-03-23 12:36] di commented on #3380
This might be because dismissable notifications briefly are hidden on load, we probably need to move whatever is figuring out the height to later in the page render.

[2018-03-23 12:53] ewdurbin opened #3383 "Missing Purges"
Noticed this while setting up new mirror. We don't seem to be purging `project/<normalized_name>` key when projects are deleted.

This leads bandersnatch to get confused and fall behind until the key is purged so the JSON api returns a 404

[2018-03-23 15:05] ewdurbin commented on #3383
Also appears to miss purges due to maintainership changes and _pypi_hidden (legacy) changes.

[2018-03-23 15:21] iranzo opened #3384 "Add owner to pypi package 'infrared'"
Hi,
Our colleague Yair forgot the password used for pypi package and as he moved to another company he cannot also reset the password.

What is the procedure to recover control over the package so that we can add new versions to it?

Thanks!
Pablo

[2018-03-23 15:24] di commented on #3384
@iranzo What's the PyPI account and package in question?

[2018-03-23 15:27] iranzo commented on #3384
Hi @di !

yfried is the user, and yfried@redhat (.com) was the email. (https://pypi.org/user/yfried/)

Project is Infrared at: https://pypi.org/project/infrared/ and as listed in the Author, the project email associated is rhos-infrared@redhat (.com)

Project repo is at: https://github.com/redhat-openstack/infrared

My colleague @ovorobio was trying to upload new version and is when the issue was

[2018-03-23 15:30] ewdurbin commented on #3359
Internal mirror is up, but talking to pypi.org it is failing to stay up to date due to purging issues.

[2018-03-23 15:31] dstufft commented on #3383
Legacy doesn't purge Warehouse at all

[2018-03-23 15:35] di commented on #3384
@iranzo So the project will still be owned/maintained by Redhat, correct?

Would it be possible to send me an email at `di@di.codes` from `rhos-infrared@redhat.com`?

[2018-03-23 15:35] dstufft commented on #3383
fine with me, pypi_hidden is useless in warehouse anyways.

[2018-03-23 15:35] ewdurbin commented on #3383
👍

[2018-03-23 15:49] iranzo commented on #3384
Emailed via @redhat email rhos-infrared is a mailing list for project

[2018-03-23 16:02] ewdurbin commented on #3383
pypi-legacy interference resolved in https://github.com/pypa/pypi-legacy/pull/785

Still need maintainer changes to purge `project/` keys though.

[2018-03-23 16:09] di commented on #3383
Should just require adding:
[code]

[2018-03-23 16:39] brainwane commented on #1506
https://mail.python.org/pipermail/distutils-sig/2018-March/032089.html

PEP 541 accepted! @di shall we move forward on the TODOs above? (Am on mobile)

[2018-03-23 16:50] jonparrott commented on #98
PR for the first part is at https://github.com/pypa/warehouse/pull/3388

[2018-03-23 17:03] di commented on #3384
This should be resolved, @iranzo is now an owner of https://pypi.org/project/infrared/.

[2018-03-23 17:03] #3384 closed

[2018-03-23 17:09] di commented on #1506
Yep! Let's figure out our process.

I propose we either figure out https://github.com/pypa/warehouse/issues/3231 or setup pypa/support-requests

Here's the step-by-step process for abandoned projects that I think we should add to our help/policy page somewhere:

1) Identify the project which is invalid/abandoned
2) Open a support request at $LOCATION
3) In the request, demonstrate the criteria for

[2018-03-23 17:10] dstufft commented on #1506
One question we'll need to answer is if these should be public or private requests.

[2018-03-23 17:29] pgadige commented on #3139
@brainwane I think the 'About' section will be a good place to hold the above specific question. I'd like to know your thoughts on this.

[2018-03-23 19:19] brainwane commented on #3312
@x3medima17 I am assuming you have this taken care of. Please reopen if I am wrong. :) And thank you for using PyPI!

[2018-03-23 19:19] #3312 closed

[2018-03-23 22:23] sentania opened #3394 "Redirect load testing issues."
From a RHEL 7.4 system with pip 9.0.1 I am receiving invalid certificate issues that began this afternoon

Edit: The example below was with pip 8.1.2, but I received on a similar system with pip 9.0.1 installed.

It began around 4 PM CT:
msg": "stdout: Collecting pexpect\n  Could not fetch URL https://pypi.python.org/simple/pexpect/: There was a problem confirming the ssl certificate: [SSL: CERTIF

[2018-03-23 22:29] khabbabs opened #3395 "Load testing related to issues with python get-pip.py"
Trying to install pip with python get-pip.py script and getting weird errors which I wasn't getting several hours ago.

Collecting pip
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, u'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)'),)': /simple/pip/
  Retrying (Retry(total=3, connect=None, r

[2018-03-23 22:32] ewdurbin commented on #3395
@khabbabs can you provide the output of:

[code]

[2018-03-23 22:32] ewdurbin commented on #3394
@sentania can you provide the output of

[code]

from an affected server?

[2018-03-23 22:33] ewdurbin commented on #3394
also:

[code]
and
[code]
please.

[2018-03-23 22:33] ewdurbin commented on #3395
also:

[code]
and

[code]
please.

[2018-03-23 22:34] khabbabs commented on #3395
Hey sorry just found an error with my proxy settings. Apologies for creating a useless issue.

regards,
Khabbabs

[2018-03-23 22:35] #3395 closed

[2018-03-23 22:36] ewdurbin commented on #3394
@sentania is there an HTTP proxy involved? we had a similar report in #3395 that turned out to be a proxy configuration.

[2018-03-23 22:42] sentania commented on #3394
There is a Palo in the middle doing filtering/ssl cracking/etc.

I will get the output of those commands later if the testing is still happening

[2018-03-23 22:43] #164 closed

[2018-03-23 22:44] ewdurbin commented on #3394
Thanks @sentania, you'll need to configure your proxy (what I assume "Palo" is) to appropriately handle the domains:

pypi.python.org
pypi.org
files.pythonhosted.org

[2018-03-23 22:52] #3383 closed

[2018-03-23 23:04] #3350 closed

[2018-03-23 23:08] di commented on #3359
@ewdurbin Is this resolved now that #3396 is merged?

[2018-03-23 23:10] ewdurbin commented on #3359
great question! we need to validate that bandersnatch continues to be able to mirror from pypi.org over the course of the next few days, and then update our VCL use this as an internal failover for `/simple`, `/pypi/.*/json$`, and under extreme circumstances `/packages`.

[2018-03-23 23:27] brainwane commented on #98
Sorry, we need the second part of it now, the link on detail pages.

[2018-03-24 01:54] jacebrowning commented on #1919
Is there any way I can upload a project under both names (or set up a redirect) to avoid broken downloads?

[2018-03-24 01:59] ewdurbin commented on #1919
the two project names share the same normalized name, so a rename would have been more tenable before project deletion. unfortunately we don’t have tooling for a rename, so that would have had to have been built.

as far as what we do now, restoring deleted projects may be doable but is not a task we’ve undertaken before.

filenames cannot be reused, and I believe that will remain the strict rule,

[2018-03-24 02:10] jacebrowning commented on #1919
Thanks @ewdurbin. Based on a rough search, I don't see more than 1000 projects depending on the package I "renamed" and probably less than a few percent are actively maintained. I think I can manage to support those few affected.

It might be nice if going forward "normalized" names are treated as equivalent. That is to say:
- An admin of "foo-bar" could upload "foo.bar" to the same package
- A no

[2018-03-24 02:43] jonparrott commented on #98
@brainwane where would we put that?

[2018-03-24 13:27] #3330 closed

[2018-03-24 15:35] brainwane commented on #98
I defer here to @nlhkabu on whether/where to put this link on the project detail page.

[2018-03-25 01:31] saxenanurag commented on #3266
<img width="916" alt="screen shot 2018-03-24 at 21 28 08" src="https://user-images.githubusercontent.com/1815699/37870736-b54d684e-2faa-11e8-8883-eaf3e3f0da25.png">

Is this what you are looking for?

[2018-03-25 04:21] jonparrott commented on #1300
I agree with @ncoghlan - we should have some canonical location for this that's easy to modify.

Could we pull these classifiers out of the warehouse database and just store them in a datafile in this repository?

Alternatively, I could see us establishing a new project that holds the canonical list that `warehouse` and `pypug` depends on.

Related: #3028

[2018-03-25 04:39] drunkwcodes commented on #3106
If uploader can determine the default dowloading format on the server-side when people downloading with `pip install`, It will solve this issue IMHO.

https://github.com/pypa/wheel/issues/215

[2018-03-25 04:54] dstufft commented on #1300
Easy to modify isn't exactly ideal here, there are a few different types of modifications you can make:

* Addition: This is easy to cope with, since it's purely addition, Warehouse can simply add it.
* Deletion: This is less easy to cope with, because there are really two kinds of deletion possible:
  * Deletion where we want to expunge the record from all releases. This is technically easy, but

[2018-03-25 04:55] #2825 closed

[2018-03-25 05:06] ncoghlan commented on #1300
Thanks @dstufft, given that extra information, I agree it makes sense to have the database remain the official classifier listing, with various APIs to extract the current state of the list.

[2018-03-25 05:35] jonparrott commented on #1300
So the question is now is how should we bring the legacy API forward to
provide this canonical list via both an API and UI in Warehouse?

On Sat, Mar 24, 2018, 10:06 PM Nick Coghlan <notifications@github.com>
wrote:

[2018-03-25 08:31] thiagofigueiro commented on #3275
Hi, @ewdurbin - I had answered this before, you probably missed it: https://github.com/pypa/warehouse/issues/3275#issuecomment-373556617

JFrog don't provide a link to the ticket. :(

The CSR responding to the email failed to understand what I was explaining and I don't think they will find their way to this github issue.

[2018-03-25 10:02] ori-yitzhaki commented on #3275
Hi,

@ewdurbin and @thiagofigueiro, thank you for reporting this matter we, JFrog, are aware to it.

Please find the JIRA ticket, you are more than welcome to watch it: https://www.jfrog.com/jira/browse/RTFACT-16223

Ori

[2018-03-25 10:12] nlhkabu commented on #3266
perfect @saxenanurag !

[2018-03-25 13:21] alex opened #3411 "Finalize TLS1.0/1.1 removal on PyPI"
We've been conducting a series of brownouts to make sure people are aware of the need to make sure their clients are up to date. This issue is to track the current schedule of updates to the brownout window (which may change as time goes on):

- [x] March 22nd, brownouts begin :00-:10 every hour
- [x] March 25th, :00-:15 every hour
- [x] March 28th, :00-:15, :30-:35 every hour
- [x] March 31st, :0

[2018-03-25 15:39] dstufft commented on #3411
Just bumped the brownout to the first 15 minutes.

[2018-03-25 18:16] ewdurbin commented on #582
once #3413 merges, we should refile a new issue for any redirect behavior that we might envision.

[2018-03-25 18:50] #582 closed

[2018-03-25 20:07] jMuzsik commented on #3380
Actually, I do not know how to replicate this behavior. As, `The actual content for this include is defined in pypi-theme`, the include of the `warning-banner.html` so i'll work on something else unless there is someway to replicate it elsewhere.

[2018-03-25 22:06] jvanasco commented on #3411
FYI, I got locked out for well over an hour with a pip 9.0.1 client (no proxy, traffic from NYC).

Would it be possible to provide a (temporary) whitelisted migration package to assist in upgrades, like offering pip by a name like 'pip-brownout' during this time?

It's a bit of a pain distributing and installing a downloaded `.tgz` of pip onto Test and CI servers (multiple virtualenvs and the syst

[2018-03-25 22:08] alex commented on #3411
@jvanasco for issues with the brownout, please file bugs on https://github.com/pypa/packaging-problems/issues. This bug is just for tracking the ops side of it.

[2018-03-25 22:15] jvanasco commented on #3411
@alex will do. you may want to change the message on https://status.python.org/incidents/629scscfypvt , which is hotlinked from pipi, that redirects here.

[2018-03-25 22:30] ewdurbin opened #3417 "Add ability to configure a redirect for documentation previously hosted by PyPI"
#582 was closed by #3413, but only completes one half of the work.

we still should provide the ability for users to configure a redirect from `files.pythonhosted.org/<project>` to some new URL.

[2018-03-26 02:50] di commented on #3380
@jMuzsik Yeah, since `pypi-theme` is a private repo, this will likely be something one of us needs to debug. Thanks for taking a look at it though!

[2018-03-26 03:20] dstufft commented on #3411
I think Ernest was doing more load testing earlier, which also has the effect of mandating TLSv1.2

Sent from my iPhone

[2018-03-26 05:46] nlhkabu commented on #98
PR opened here: https://github.com/pypa/warehouse/pull/3418
@jonparrott - could you please review? Thx

[2018-03-26 07:21] pgadige commented on #3379
I'd like to work on this, @nlhkabu. I'll appreciate some insight on what qualifies as help text.

What should we provide to the reader of `static/sass/blocks/_notification-bar.scss` file as help text?

Should we explain adding `.notification-bar--dismissable` and `.notification-bar--visible` to the div tag that's used to make notification bar together with a button with `.notification-bar__dismiss

[2018-03-26 17:06] ewdurbin commented on #3275
@ori-yitzhaki thank you for following up, I'd like to note that this may be a higher priority issue than it is filed in JFrog-Jira. We'll be shipping the new /simple via warehouse in the next couple weeks and will not be able to guard Artifactory installations once that is complete.

Target right now is April 8th.

[2018-03-26 18:39] ambv opened #3426 "Nit: change the color of the warning banner"
Now that the project is in beta (congratulations!), we no longer need *BIG SCARY WARNINGS*. Instead, pastel yellow would be clear enough without being a distraction anymore. It would also compose with the blue of the theme to form the Pythonic colors 😄

I realize this is a nit but I hope since this is trivial enough to implement, it's not too much to ask.

[2018-03-26 19:26] brainwane opened #3428 "Remove X-Forwarded-Proto/X-Forwarded-Port h2o workaround"
[In `warehouse/utils/wsgi.py`](https://github.com/pypa/warehouse/blob/master/warehouse/utils/wsgi.py#L51-L58) we note that once https://github.com/h2o/h2o/issues/883 is solved, we can remove a few lines about `X-Forwarded-Port` and `X-Forwarded-Proto`. They resolved that issue in May 2016 and [have released several new versions since then](https://h2o.examp1e.net/). OK to remove workaround?

Follo

[2018-03-26 20:46] dstufft commented on #3428
We don't even use h2o anymore, so it can just be removed I think

[2018-03-26 21:36] bskinn opened #3430 "Improved error message when attempting upload to Warehouse via twine with an invalid trove classifier"
I just now uploaded a new release to PyPI. Initially, I had made a typo in one of my trove classifiers (`Topic :: Testing` instead of `Topic :: Software Development :: Testing`).

The error returned by `twine` when I attempted to upload to Warehouse was mostly unhelpful, other than indicating something was wrong with my classifiers:

[code]

The error returned by `twine` when I attempted an upload

[2018-03-26 22:59] ewdurbin commented on #3430
https://github.com/pypa/warehouse/blob/e7bacffd8bb505b3811750f3b4e366ab1b3d157d/warehouse/forklift/legacy.py#L415-L417 is the field we'd need to update. I _think_ we could improve the error message with a custom validator?

[2018-03-27 02:28] brainwane commented on #3430
Thanks, @bskinn. I just want to make sure -- are you saying this is a regression and worse behavior, compared to legacy PyPI?

[2018-03-27 02:29] brainwane commented on #3426
@nlhkabu I defer to your thoughts here!

Thank you @ambv for your suggestion.

[2018-03-27 02:32] brainwane commented on #3411
Sometime between now and April 8th, could we have a few days where the brownout starts at the half-hour or includes the half-hour? I'm thinking about India, where (I presume) some substantial chunk of our traffic originates, and where timezones are a half-hour off from most other timezones.

[2018-03-27 02:33] alex commented on #3411
The next milestone will be 20 minutes outage per hour, maybe we should do :00-:10 and :30-:40?

[2018-03-27 03:18] bskinn commented on #3430
@brainwane Yes, it appears to be a regression -- with legacy PyPI, the full error message was echoed to console, and so I was at least able to immediately see the offending classifier, even if I had to stare at it for a bit to find the relevant part, at the end.

[2018-03-27 05:07] dstufft commented on #3411
We can do that, it's pretty easy.

[2018-03-27 05:10] #98 closed

[2018-03-27 05:55] nlhkabu commented on #3379
@aalmazan would you be able to give @pgadige some help direction on how best to document this?  Thanks :)

[2018-03-27 05:55] nlhkabu commented on #3379
@aalmazan would you be able to give @pgadige some guidance on how to document this?  Thanks :)

[2018-03-27 06:50] nlhkabu opened #3435 "Rename color variables to make more sense"
To be done after https://github.com/pypa/warehouse/pull/3433 is merged.

1. Rename `primary-color` to `highlight-color`
2. Rename `brand-color` to `primary-color`
3. Rename `brand-color-soft` to `primary-color-light`

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https://githu

[2018-03-27 06:52] mitar opened #3436 "Search API to search over keywords"
With planned deprecation of XML-RPC API it seems there will no way to search packages by their keywords. So I would like to do a feature request for this for the new API.

[2018-03-27 07:59] nitinprakash96 commented on #3435
I'd like to work on this one.

[2018-03-27 08:21] Flimm opened #3437 "Make it clear if the login at pypi.org is the same as pypi.python.org"
On this log-in page, the user is asked to enter a username and password: https://pypi.org/account/login/

It's not clear from the login page whether the username and password is meant to be the same as the one at https://pypi.python.org , or if the user is supposed to register and have two separate accounts.

Could a message be added to the login page explaining this?

[2018-03-27 08:54] pevogam opened #3438 "Markdown long description on wheel rendered as restructured text"
Hi, the project description as seen in https://pypi.org/project/guibot/ does not render as markdown *despite* me setting the long_description_content_type='text/markdown' option. Interestingly, when I did the same upload in the test repository, it also didn't render as markdown initially but did so after forceful refreshing in about 30 minutes. The same however did not happen at the production PyP

[2018-03-27 09:41] ewdurbin commented on #3438
@pevogam it doesn't look like `Description-Content-Type` was set at upload time.

Can you confirm that this package was uploaded using `setuptools>=38.6.0` and `twine>=1.11.0`? For more detail see https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi

[2018-03-27 09:48] pevogam commented on #3438
Sure, I have already checked the versions as well. This is the setuptools version

    Python 2.7.13 (default, May 10 2017, 20:04:28)
    [GCC 6.3.1 20161221 (Red Hat 6.3.1-1)] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    39.0.1

and this is the twine version:

    $ twine --version
    twine version 1.11.0 (pkginfo: 1.4.2, requests: 2.18.4, setuptools:

[2018-03-27 09:53] ewdurbin commented on #3438
<img width="175" alt="screen shot 2018-03-27 at 5 50 22 am" src="https://user-images.githubusercontent.com/1200832/37960117-c33a2724-3182-11e8-8183-0518c4adcfca.png">

The version `0.20.1` uploaded to upload.pypi.org at `2018-03-23 13:58:59.920985` does not have the `Description-Content-Type` set. I've checked and this same version is on test.pypi.org, and also does not have this field set.

It lo

[2018-03-27 09:57] pevogam commented on #3438
Is it possible that the `setuptools` module reuses some cache? I have made sure to erase anything in advance before repackaging. This is my *setup.py*:

[code]

[2018-03-27 09:59] ewdurbin commented on #3438
@pevogam how are you uploading the distribution that setuptools creates?

[2018-03-27 10:08] pevogam commented on #3438
I am uploading to https://upload.pypi.org/legacy/ as I followed instructions in a migration tutorial so this could be to culprit? The [official page](https://packaging.python.org/tutorials/distributing-packages/) for this doesn't contain an address for this instruction. If the address is wrong then I wonder why I still see the new package on the web page.

In fact, you can see that the required se

[2018-03-27 10:08] ewdurbin commented on #3438
no, that's the correct endpoint. you are uploading with `twine`?

[2018-03-27 10:09] pfmoore opened #3440 "Main page should auto-focus the "search" box"
On pypi.python.org, the search box is automatically focused, allowing you to immediately type in a search when you load the page. On pypi.org, the search box isn't focused, so you need an extra click to do a search.

[2018-03-27 10:10] pevogam commented on #3438
Yes, as per the instructions from https://packaging.python.org/tutorials/distributing-packages/ I do

    twine upload dist/*

[2018-03-27 10:17] ewdurbin commented on #3438
bizarre. I just tested locally and everything is working as anticipated.

[code]

<img width="1032" alt="screen shot 2018-03-27 at 6 15 52 am" src="https://user-images.githubusercontent.com/1200832/37961531-8917e546-3186-11e8-8826-1939737fba48.png">

[2018-03-27 10:20] pevogam commented on #3438
Can you verify that the actually uploaded [source distribution](https://files.pythonhosted.org/packages/9c/45/1cea5c415d26be9798b73ed1656495e47f91cb610af9f2414a3c0df3e1cd/guibot-0.20.1.tar.gz) contains the required field? Could it be some cache on the production server that didn't respect this field compared to your local machine?

[2018-03-27 10:21] ewdurbin commented on #3438
@pevogam distributions are not modified and are not cached by the upload endpoints. we explicitly accept, store, and serve exactly what clients upload.

[2018-03-27 10:26] ewdurbin commented on #3438
@pevogam unfortunately that's not for sure the case. are you _positive_ that you uploaded the distribution for `0.20.1` on `2018-03-23 13:59:01.211308` using `twine==1.11.0`?

I'd be interested to see if creating a new release `0.20.2` and making _sure_ to upload with `twine==1.11.0` resolves the issue.

[2018-03-27 10:31] pevogam commented on #3438
I am sure I used the correct version since I installed twine especially for this purpose (using Fedora and automatically pulling the latest available version). But if you would like, we can wait until the next revision and I will reopen this if the issue reappears.

Strangely as I said before, the markdown was also not rendered on the test pypi repo at first but rendered later on (in ~30 minutes).

[2018-03-27 10:37] ewdurbin commented on #3440
Discussed previously in #854

[2018-03-27 10:43] pfmoore commented on #3440
Ah thanks. I did a search but didn't find that issue, sorry.

[2018-03-27 10:52] ewdurbin commented on #3440
no need to apologize, it may be worth discussing again. i'm gonna leave this open and tag it for UX.

[2018-03-27 12:09] di commented on #3438
This is because https://github.com/pypa/wheel/pull/232 hasn't been released yet: your wheel has the wrong metadata version, twine has uploaded your wheel before the source distribution, and PyPI only considers the metadata for the first distribution it sees for a release.

I mention this in https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi, basically you need to do:

[code]

[2018-03-27 14:05] pevogam commented on #3438
I see. Although this still doesn't explain why the rendering would succeed on the test repo and not on the production repo. Perhaps a race condition where they get uploaded in the correct order? When [pypa/wheel#232](https://github.com/pypa/wheel/pull/232) is released will it fix this issue right away or do affected packages need an additional upload with incremented version?

[2018-03-27 14:20] di commented on #3438
It seems to me like the same issue exists on the test repo: https://test.pypi.org/project/guibot/

Since it's not possible to edit the incorrect wheel metadata after uploading to PyPI, you'd need to make a new release (by incrementing the version).

[2018-03-27 15:51] brainwane commented on #3436
@mitar Thank you for bringing this up! We will only remove the XML-RPC API when its functionality is covered by other new APIs, so I have put this in a future milestone, and I've tagged it so people will see it when looking at API issues. Thanks again.

[2018-03-27 15:53] brainwane commented on #3437
Thanks, @Flimm! pypi.org uses the same username and password as pypi.python.org but you're right, that isn't clear right now. My colleague Ernest has now submitted a pull request to fix this: #3439.

[2018-03-27 17:39] sentania commented on #3394
We've been good since the testing seems to have wrapped up.  Thanks for the feedback.

[2018-03-27 17:39] #3394 closed

[2018-03-27 19:24] nschloe opened #3442 "markdown not rendered properly"
I followed @di's [write-up](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi) for getting markdown rendering for one of my projects, [orthopy](https://github.com/nschloe/orthopy). Unfortunately, [on pypi.org it's still rendered as plaintext](https://pypi.org/project/orthopy/). This is with
[code]
One thing I did differently from the blog post is that I created wheels
[code]

[2018-03-27 19:31] di commented on #3442
You're hitting an issue with `wheel` that has been fixed but hasn't been released yet (https://github.com/pypa/wheel/pull/232), sorry about that!

See my comment here: https://github.com/pypa/warehouse/issues/3438#issuecomment-376501335

[2018-03-27 19:31] #3442 closed

[2018-03-27 19:33] nschloe commented on #3442
Thanks for the clarification!

[2018-03-27 19:40] di commented on #3438
Closing this as it's not technically an issue with Warehouse, but feel free to comment here if you're still having issues.

[2018-03-27 19:40] #3438 closed

[2018-03-27 19:49] pevogam commented on #3438
Yes, I suggested that we do the same as I want to test your solution but I cannot force an increment in our version just because of the specifics of your implementation. Since you don't allow for package update even when it was caused by technical difficulties in the system I will have to wait for our next revision to possibly update this issue on my side. Thanks!

[2018-03-27 19:52] brainwane commented on #3438
@pevogam I hope [Test PyPI](https://packaging.python.org/guides/using-testpypi/) helps you test this!

[2018-03-27 21:03] jfkw opened #3447 "add "search by new release" and "trending" sort orders, link to them from homepage"
Testing the new warehouse today at https://test.pypi.org, the list for "New Releases Hot off the press: the newest project releases" is only 5 items long. I can not find a link to view a longer list.

The older PyPI listing of 40 most recent packages was more usable given the rate of package uploads. A few projects upload many packages with each release.

A paged history of package uploads going b

[2018-03-27 21:05] brainwane commented on #3447
@jfkw Thanks for testing and suggesting this! Would #3424 solve your issue?

[2018-03-27 21:14] jfkw commented on #3447
I do think the 'show more' buttons are a nice addition to the current home page. I'd still prefer to bookmark a list of 40+ recent packages, preferably with a paged history going back a day or so.

[2018-03-27 21:47] di commented on #3437
Fixed in #3439.

[2018-03-27 21:47] #3437 closed

[2018-03-27 22:15] brainwane commented on #3435
@nitinprakash96 Please go ahead! Let us know how it's going.

[2018-03-27 22:16] brainwane commented on #3447
@jfkw Thanks for the response. In the very short term, in case you haven't already looked at what libraries.io provides, here's their "recent PyPI releases" page:

https://libraries.io/search?order=desc&platforms=PyPI&sort=latest_release_published_at

But I get that this is something where it may well make sense to have more recent releases on the front page of pypi.org. I'll defer to our designer

[2018-03-27 22:56] aalmazan commented on #3379
Hi @pgadige,

I'm not sure how much detail you need, but since it's not particularly a big feature, I'll describe most of the workflow.

To make a notification dismissable one would need to add the following to the main notification-bar div:
* `.notification-bar-dismissable` to its classes
* `data-controller="notification"` and,
* `data-target="notification.notification"` as attributes

The `data-

[2018-03-28 07:44] pradyunsg commented on #3411
Maybe OP can be updated -- to mention the :00-:10 and :30-:40 plan?

[2018-03-28 09:03] nschloe commented on #3442
@di Here's another one, this time with the wheels workaround, but the markdown doesn't render properly: https://pypi.org/project/pygmsh/. Perhaps it's the HTML tags? Let me know if I should open a new bug or if we can discuss this here.

[2018-03-28 09:31] nschloe opened #3449 "markdown tables not rendered properly"
Compare https://pypi.org/project/orthopy/#description and https://github.com/nschloe/orthopy#triangle.

[2018-03-28 12:14] alex commented on #3411
I've updated. @dstufft of note, I switched from :00-:10 + :30-:40 to :00-:15 + :30-:35, which is the same number of minutes of brownout, but avoids any "regressions" in coverage.

[2018-03-28 12:37] lukesneeringer commented on #994
(Poking to say this is in progress; a PR will be coming soon-ish.)

[2018-03-28 12:56] brainwane commented on #3411
@alex just to be clear, since you added this to [the launch/redirect milestone](https://github.com/pypa/warehouse/milestone/1) -- you believe that completing this is a blocker to the redirect? (So, even if we finish all the other Warehouse features/infra in that milestone before April 8th, we should wait for this?) I'm fine with it if that's your assessment, but I just want to check.

[2018-03-28 13:01] brainwane commented on #3449
Thanks for the report, @nschloe! Checking this out.

[2018-03-28 13:10] di commented on #3449
This is because CommonMark doesn't support tables. When we add support for GFM this will be possible.

[2018-03-28 13:13] alex commented on #3411
Redirecting to warehouse for downloads has the effect of requiring TLS1.2
so we can't cut over unitl we're ready to drop 1.0/1.1.

On Wed, Mar 28, 2018, 8:56 AM Sumana Harihareswara <notifications@github.com>
wrote:

[2018-03-28 13:15] brainwane commented on #3449
@nschloe I'm going to close this as a duplicate, but please check #3322 and https://github.com/pypa/packaging-problems/issues/126 to see the work progressing towards getting this working well for you. Thanks for testing and reporting!

[2018-03-28 13:15] #3449 closed

[2018-03-28 13:16] nschloe commented on #3449
Thanks everyone for the quick replies!

[2018-03-28 13:28] brainwane commented on #3334
I ran [an automated check](http://wave.webaim.org/report#/https://pypi.org) on the accessibility of pypi.org and found [several instances of insufficient contrast](http://wave.webaim.org/report#/https://pypi.org/project/exec-helpers/) by WCAG standards.

The  `pip install` box, the "Latest version" box, the "Get Help"/"About PyPI"/"Contributing to PyPI"/"Using PyPI" links in the footer, and some f

[2018-03-28 13:34] brainwane commented on #1988
Noting here that some users [on python-list](https://mail.python.org/pipermail/python-list/2018-March/thread.html#732138) also expressed interest in a condensed view ([example](https://mail.python.org/pipermail/python-list/2018-March/732201.html)).

[2018-03-28 14:10] nschloe opened #3451 "style suggestion for project page"
When checking out the new pypi.org project pages, I noticed two small things that might unnecessarily consume valuable vertical screen real estate, so I thought I mention it here. (Screenshot from https://pypi.org/project/pygmsh/.)

![g](https://user-images.githubusercontent.com/181628/38033885-4c4ecef6-32a1-11e8-9748-b0d1c16c945b.png)

First off, the navigation sidebar says "Navigation". Is this

[2018-03-28 14:27] brainwane commented on #3451
Thanks for the suggestion, @nschloe. (Noting that this is related to the discussion in #1988, in that it's generally about the desire to condense the layout, which your suggestion about the grey bar connects to.)

[2018-03-28 14:39] brainwane opened #3452 "Clarify "classifiers"/"filters" wording"
Per conversation on python-list ([1](https://mail.python.org/pipermail/python-list/2018-March/732164.html), [2](https://mail.python.org/pipermail/python-list/2018-March/732200.html)), the "Filter projects" section on the left-hand side of the page is not clearly related to the "list of classifiers", and

What can we do to both serve people who don't know what classifiers are and people who know th

[2018-03-28 14:45] emddudley opened #3453 "Table columns in "Download Files" section are disproportionate"
The table columns in the "Download Files" section of a project page are not proportioned well. Filename, Size & Hash are all crammed into a single tiny column, while three less important things (File Type, Python Version, and Upload Date) take up 75% of the width.

I am not able to visually scan for the files I want because the filenames are so wrapped.

Case in point: https://pypi.org/project/num

[2018-03-28 14:48] ewdurbin commented on #3275
JFrog has made contact and I'm meeting with them to make sure they fully understand the changes that pypi.org will bring. Will update with summary of the discussion.

[2018-03-28 14:48] brainwane commented on #2562
A user [said](https://mail.python.org/pipermail/python-list/2018-March/732182.html):

[2018-03-28 14:59] brainwane opened #3454 "change filter reference to respond to search page width"
![pypi-narrow-no-classifiers](https://user-images.githubusercontent.com/842790/38037486-f95e430e-3276-11e8-8569-9e34971539a2.png)

Per [this python-list post](https://mail.python.org/pipermail/python-list/2018-March/732168.html) -- a person seeing nothing on the left-hand side of https://pypi.org/search/ says,

[2018-03-28 15:06] pradyunsg opened #3455 "Trending Projects are not updated"
I think in the past month that I've been looking at pypi.org (and even before that), the "Trending Projects" haven't changed.

[2018-03-28 15:07] pradyunsg commented on #3455
Looking further, as someone not familiar with the codebase, it seems like the `compute_trending` task isn't setup to run every day or something like that.

[2018-03-28 15:08] brainwane commented on #3455
Potentially another reason for #3252.

[2018-03-28 15:16] wm75 commented on #3454
@brainwane thanks for filing this!

[2018-03-28 15:25] brainwane commented on #3453
@emddudley Thanks for the bug report, especially for the specific example case of NumPy. I see how this is especially annoying in releases with, say, five or more packages.

I want to check: When you are scanning a list of packages, are you pretty much always looking for the same metadata (that we could perhaps present in a different column), such as the platform the wheel was built for?

[2018-03-28 15:38] buckmaxwell opened #3456 "I wish to publish a version of qfragment, but my filesize is too large."
Hello, I am a developer for Quill.org.  We maintain a new package in early development called qfragment -- it aims to detect and give feedback on how to correct different types of sentence fragments.  The new version includes a large portion of the languagetool project packaged with it, so the total distribution is around ~150mb and may grow a bit more.  I believe the limit is 60mb.

Can we get a

[2018-03-28 15:38] dstufft commented on #3455
https://github.com/pypa/warehouse/blob/ed8d6a03d86e794b83ccd4e41d0c5b6b7865b8bf/warehouse/packaging/__init__.py#L112-L115

[2018-03-28 15:41] ewdurbin commented on #3456
@buckmaxwell sure, we can bump the limit if have an understanding of what requires the package size to be larger than 60MB.

[2018-03-28 15:45] ewdurbin commented on #3455
[code]

I do see the task being enqueued.

[2018-03-28 15:46] ewdurbin commented on #3455
[code]

Looks like pathing is goof'd! will fixup!

[2018-03-28 15:53] buckmaxwell commented on #3456
Thank you.  The package size is bumped because of libraries that are/will be required for natural language processing. We will work to keep the packages as slim as we can. Please tell me when you bump it so I can deploy the newer version.

[2018-03-28 15:57] ewdurbin commented on #3456
@buckmaxwell thanks. limit is applied. we ask that you limit the frequency of releases in order to keep the footprint of the project as low as possible for PyPI and the folks who maintain mirrors of PyPI (A current full mirror is ~1.3TB)

[2018-03-28 15:57] #3456 closed

[2018-03-28 15:58] buckmaxwell commented on #3456
Sounds good @ewdurbin

[2018-03-28 16:05] dstufft commented on #3411
Brownout updated for :00-:15, :30-:35 every hour

[2018-03-28 16:08] ewdurbin commented on #3455
That was half the issue :)

Second half is they changed the API! https://github.com/GoogleCloudPlatform/google-cloud-python/blob/cd9b89ead0be95827c9eac5a9a8c5d8fdaee3cae/bigquery/CHANGELOG.md#interface-changes--breaking-changes-1

[code]

[2018-03-28 16:13] brainwane commented on #3455
(@pradyunsg -- *good catch* and thanks for the report!)

[2018-03-28 16:40] emddudley commented on #3453
I look for the ABI (`cp27m` vs `cp27mu`) and platform (`win` vs `manylinux1` vs `none` and `x86_64` vs `amd64` vs `i686`).

I sometimes also check the "local version label", for example the `+mkl` in the filename below:
```numpy‑1.14.2+mkl‑cp27‑cp27m‑win_amd64.whl```

Sometimes I check the version to confirm the _absence_ of a local version label.

I typically look for the file extensions. I trust

[2018-03-28 16:42] dstufft commented on #3453
Local versions aren't allowed on PyPI, if someone managed to upload one, that's a bug.

[2018-03-28 16:49] emddudley commented on #3453
I got that filename from a third-party site. On PyPI I check for the _absence_ of the label.

[2018-03-28 17:14] #3455 closed

[2018-03-28 17:25] ewdurbin commented on #3455
Confirmed fixed.

[2018-03-28 17:31] pradyunsg commented on #3455
Yay! Thanks @ewdurbin @dstufft @brainwane for the fix. ^>^

[2018-03-28 17:47] #3426 closed

[2018-03-28 18:11] brainwane commented on #3426
Thanks again @ambv!

[2018-03-28 18:38] av8ramit opened #3458 "Increase size limit for Tensorflow GPU related packages"
Hi @dstufft or @di , I'm an engineer on TensorFlow. I was wondering if it would be possible to get a size increase for the following packages on upload.pypi.org/legacy/ and test.pypi.org/legacy/? This is preventing us from releasing binaries with even more compute capabilities.

tensorflow-gpu 500MB
tf-nightly-gpu 500MB

Thanks!

[2018-03-28 18:41] ewdurbin commented on #3458
We can bump the limits for regular releases and release candidates, but nightlies will really need some amount of caution. PyPI can handle large files just fine, but currently our mirror size is 1.2TB and growing.

Is there something we can do to assist the Tensorflow project in publishing their nightly releases off index or removing old nightlies?

[2018-03-28 19:02] ewdurbin commented on #3458
current footprint for projects overall:

|project|total_size|
|-|-|
|tf-nightly|34G|
|tf-nightly-gpu|88G|
|tensorflow-gpu|26G|
|tensorflow|13G|

which totals ~160G or about 12% of PyPI's total storage.

[2018-03-28 19:06] ewdurbin commented on #3458
@av8ramit what is the size of the current builds you'd like to publish? current limits are at 300MB, do you anticipate heading for 500MB in the near future?

[2018-03-28 20:22] av8ramit commented on #3458
Hi @ewdurbin I totally understand. We do anticipate the gpu builds to head towards 500MB.

To alleviate space for tf-nightly and tf-nightly-gpu can we set a rule to only keep the thirty most recent builds?

Also for tensorflow and tensorflow-gpu you can delete any rc's that are not related to the most recent build. Would these two paradigms help?

Thanks again for the prompt reply!

[2018-03-28 20:26] ewdurbin commented on #3458
we don't have anything to automatically do such cleanup, but if those kinds of solutions make sense they could certainly be implemented down the line, or we come up with something to better support these kinds of usecases!

would it be possible in the short term to ship nightlies to test.pypi.org only instead? though I see that tf-nightly-gpu doesn't exit there yet.

limits have been upped for bot

[2018-03-28 20:26] #3458 closed

[2018-03-28 21:17] av8ramit commented on #3458
@case540 can you look into shipping nightlies to test.pypi.org. Thanks @ewdurbin! We will also go back and delete the old binaries when we can.

[2018-03-28 22:06] brainwane commented on #3453
@emddudley I appreciate the further data -- thank you! This will help our designer think about how to solve this. She'll look at this issue within the next few business days. Thanks again.

[2018-03-28 22:50] brainwane commented on #3452
#3410 adds an FAQ entry about adding a new classifier. As we get more consistent about talking about filters and classifiers, I'd like us to update this wording or add another FAQ to clarify where the "Trove"/"classifier" wording and master list originated.

[2018-03-29 02:03] drunkwcodes commented on #3452
Maybe introducing https://github.com/nepsilon/search-query-parser and letting users to type search queries like "Framework:Django" in the search bar will help promoting classifiers.

[2018-03-29 05:02] nlhkabu commented on #3453
thanks for this feedback @emddudley - we definitely need to do something about this.  I will add this point to our upcoming user tests - it will be interesting to see how others are reading this table and what data they think is important :)

[2018-03-29 05:05] nlhkabu commented on #3452
We could do something like this:

## Filter by classifier :information_source:

Hovering your mouse over the icon could then launch a tooltip that describes what a classifier is.
@brainwane could you provide some appropriate text for this?

[2018-03-29 05:07] nlhkabu commented on #3451
Thanks for your feedback @nschloe.  I'm going to set this as something to test in our upcoming user tests on this page.

[2018-03-29 05:12] nlhkabu commented on #3447
Thanks for your feedback @jfkw

Maybe we could introduce a new sort order 'by new releases' on the search results page?  We could then link through to this page, where you could *also* filter the latest releases?

@ewdurbin @di how much work might it be to add this sort order to the search results?

[2018-03-29 05:19] nlhkabu commented on #3440
The challenge with this is twofold:

1. it's annoying on mobile (as per #854)
2. It disturbs the tab index of the page. This may make it painful for users who use a keyboard to access the top menu.

Note that we *are* doing this on the login page - so we probably need to check this page for both these factors.

If we can find a workaround for both mobile and keyboard-only users, then I will be ver

[2018-03-29 05:25] nlhkabu commented on #3334
Thanks @brainwane- assigning myself - will look into asap

[2018-03-29 05:28] #3139 closed

[2018-03-29 06:07] #3104 closed

[2018-03-29 11:35] brainwane commented on #3454
I've gotten further user reports of this issue. One person emailed me:

and follows up:

Separately, [Terry Reedy writes](https://groups.google.com/d/msg/comp.lang.python/ZKCluJ7hKjY/6tqVhSaABQAJ):

---------------

What can we do here to be properly responsive? I like Reedy's suggestion. I would like us to prioritize this since I'm getting several user reports of this problem.

[2018-03-29 12:07] di commented on #3447
@nlhkabu I agree, I don't think it would be a ton of work, and the the user would be able to add classifiers/filters to the search as well.

[2018-03-29 12:27] brainwane opened #3462 "User only sees list of filters after entering a search term"
[William Ray Wing writes](https://groups.google.com/d/msg/comp.lang.python/ZKCluJ7hKjY/Rw2Ltat0BQAJ):

I'm asking for more info here and checking whether this is connected to #3454.

[2018-03-29 12:32] pohmelie commented on #3440
Vote for this both hands.
@nlhkabu
* Now it is painful for users who use a keyboard to access search box. 11 (eleven!) tabs required!
* Google have top menu, but focus still on search.
* Do you have research about how  much users go from front page with search box and how much users go via top menu? (I think 99% go to search box)
* Is it too hard to detect mobile client? (I don't think so)

[2018-03-29 12:37] brainwane commented on #3453
@nlhkabu A user pointed me to #929 which also demonstrated concern about this. I like the screenshot in https://github.com/pypa/warehouse/issues/929#issuecomment-180772215 but am not sure whether it was a mockup or not :) @techtonik could you clarify?

[2018-03-29 12:46] brainwane commented on #3452
[Gregory Ewing brought up](https://groups.google.com/d/msg/comp.lang.python/ZKCluJ7hKjY/X-7DGpyWBQAJ) "Categories" which seems, to me, a very sensible name for what we're talking about.

Here's text for the tooltip:

[2018-03-29 12:48] brainwane commented on #3452
(Background, in case anyone wants to add an FAQ item: the original list of trove classifiers [was drawn from Freshmeat and SourceForge lists](https://www.python.org/dev/peps/pep-0301/#distutils-trove-classification).)

@drunkwcodes that's an interesting idea! I'm going to open a separate ticket for that. Thanks for bringing it up.

[2018-03-29 12:54] brainwane commented on #727
https://github.com/pypa/warehouse/issues/3452#issuecomment-377096605 has a suggestion from @drunkwcodes:

------------------

@HonzaKral I'd appreciate your assessment on what we need to configure or what components/extensions we need to add to our ElasticSearch setup to get more advanced search in Warehouse, if you have time to give your opinion!

[2018-03-29 13:19] brainwane commented on #1935
Here's my take on this:

Figuring out how to best display and help people select from the 650+ trove classifiers while filtering search results is hard. I recognize that there are good reasons for keeping things alphabetical within, for instance, the Natural Language section and Intended Audience, but also that there are good reasons to arrange by popularity in, for instance, the Operating System

[2018-03-29 13:39] HonzaKral commented on #727
There are no additional components needed from the installation part, as long as all the fields you'd want to query exist on the documents. Then it's a matter of extracting those conditions in a structured way (either by parsing text input or by processing a more complex/broken down form), validating them (by providing a whitelist of options) and adding conditions to the search. Something like:
[c

[2018-03-29 13:59] berkerpeksag commented on #1935
@brainwane your suggestion sounds good to me, thanks. For reference, I took the original ordering from https://github.com/pypa/warehouse/issues/1298#issuecomment-229862426 and https://github.com/pypa/warehouse/issues/1298#issuecomment-229932304.

[2018-03-29 14:09] berkerpeksag commented on #1935
@brainwane I would put "Programming Language" to top if "Python" was the first item in the programming language list. Currently, it's way down in the list and it's not very useful. Perhaps we should move Python to top? I just implemented my suggestion via Chrome Devtools:

![screenshot from 2018-03-29 17 12 01](https://user-images.githubusercontent.com/26338/38093510-e4ea4abe-3373-11e8-80ad-0dc074

[2018-03-29 14:19] andrew commented on #991
Sorry for the delay, was mostly offline for the Bath Ruby conference last week. If there's anything else I can do to make it easier to get statistics out of Libraries.io for you to use them do let me know.

SourceRank 2.0 development is now underway in https://github.com/librariesio/libraries.io/pull/2056, would love to hear any feedback/thoughts on the details, especially how it works within the

[2018-03-29 14:32] brainwane commented on #701
@HonzaKral I really appreciated your help in https://github.com/pypa/warehouse/issues/727#issuecomment-377238040 and asked my colleagues: what would be the highest-value ElasticSearch question in Warehouse we could ask you to advise or help with? I got the answer: incremental search (this issue). I'd be deeply appreciative if you could share your thoughts or even help us add this feature to Wareho

[2018-03-29 14:55] HonzaKral commented on #701
I am always happy to help! In Django I just use this code (0) to make it happen. It's a sample project so a bit simplistic, but works.

For more production ready code you'd want to capture the DB IDs of new/updated (no distinction needed, both will result in an `index` operation) and removed models, send them to a celery task that will serialize and index into elasticsearch.

The question is how f

[2018-03-29 15:48] brainwane opened #3463 "give user option to see more search results in pagination"
I've heard from multiple users that they want to be able to see more search results on one page.`*` Most recently I saw [this response from Terry Jan Reedy on python-list](https://mail.python.org/pipermail/python-list/2018-March/732236.html). Users want this for several reasons, such as:

* using control-F in their browsers to seek a substring, such as a maintainer's username or a keyword in the p

[2018-03-29 15:50] brainwane commented on #1988
I've broken out the request for _more search results on a result page_ into #3463, and am keeping here the request for a different search results layout to ease scrolling and visually comparing these results, as in https://github.com/pypa/warehouse/issues/1988#issuecomment-363653596 , #3107,  #1727, and recently [Ian Kelly on python-list](https://mail.python.org/pipermail/python-list/2018-March/73

[2018-03-29 16:03] brainwane commented on #3463
@nlhkabu I am marking this for you to test in user testing, but if I should allow you to own and run that label, then please simply consider this a request. :)

[2018-03-29 16:03] brainwane commented on #3447
Potentially related: #3463.

[2018-03-29 16:54] brainwane commented on #3447
We just got some advice on #701 so maybe we could do that soon and then address @jfkw's request with a combination of #3424, #3463, and a "sort by new releases" sort order in search results.

[2018-03-29 22:25] brainwane commented on #1935
@berkerpeksag Yeah, I agree, I think we should move Python to the top of the classifier list within the "Programming Languages" category. I like your mockup. Would you open a new issue for that? I think a new issue for each specific ordering change in the classifier categories would help me get volunteers to do them. :)

[2018-03-30 00:54] cheungnj commented on #3335
I'd like to work on this!

[2018-03-30 05:32] nlhkabu commented on #3463
thanks @brainwane - I'm happy or your to add 'to user test' labels where you see fit :)

[2018-03-30 05:34] nlhkabu commented on #3463
@ewdurbin / @dstufft / @di is there a performance limit I should be aware of when choosing the number of results to display by default?  Is there an optimal number from a performance perspective?  Thanks

[2018-03-30 06:22] nlhkabu commented on #3440
To get back to the top menu on Google, you only have to tab through a handful of options.  On warehouse, you would have to tab through a **lot** of options.  To address this we could look at changing the tab index of the page to jump *from* the search, to the top menu.

We currently do not have this data, but it's safe to assume that *most* people use the search. However, the login link is in the

[2018-03-30 07:16] cheungnj commented on #3335
This is what I have so far. Is this what you're looking for? <img width="1154" alt="screen shot 2018-03-30 at 12 13 57 am" src="https://user-images.githubusercontent.com/6911370/38128446-7802ee38-33af-11e8-8f28-dffa99083fcc.png">

[2018-03-30 14:29] AaronV77 opened #3471 "Problem getting conda package to show up in PyPI search"
Hello, I created a PyPi package earlier this week for the first time, and the package is not showing up in the search on the new PyPi Wearhouse site? This is an issue because I cannot create a Conda package from my PyPi package without hacking the meta.yaml file and putting the correct URL inside.

The URL that the conda-build is trying to use from the metadata is the following: https://pypi.io/pa

[2018-03-30 14:36] ewdurbin commented on #3471
we're working on resolving a memory consumption issue with search reindex in #3470, which should resolve the out of date indexes soon.

[2018-03-30 14:40] ewdurbin commented on #3471
Note: you should be using pypi.org rather than pypi.io for the url `https://pypi.io/packages/source/n/ncep_client/ncep_client-1.0.0.tar.gz` if you'd like to use that interface.

Also, since the `/packages/source/` urls are generated from the JSON api, they may lag somewhat due to caching.

[2018-03-30 14:40] AaronV77 commented on #3471
Alright thanks for the timely response, I can wait patiently.

[2018-03-30 14:42] ewdurbin commented on #3471
I'm not familiar with conda's resolver or the meta.yaml file, but the canonical place to get information on released files is the simple index `https://pypi.org/simple/`. To be clear the deterministic URLs referenced (`/packages/source...`) are mainly supported for legacy clients which rely on them.

[2018-03-30 14:46] dstufft commented on #3463
There's not really any performance limitations here I don't believe until you get to extreme amounts. Obviously the more results added the bigger the response is which is more time on the wire, but that's about it.

One thing I *would* caution about is the more variants of an URL we have, the less effective caching is for that URL. If we can have a single value that satisfies the 80% case, and omi

[2018-03-30 15:28] merwok commented on #3463
As a user, I don’t need to control pagination with the URL, as long as the default (or a mode enabled in my settings) gives enough results (say as many as legacy PyPI).

[2018-03-30 16:00] anowlcalledjosh opened #3473 "Missing long_description sometimes results in "UNKNOWN" project description on Warehouse"
Some packages get a nice banner when there's no long_description ([example](https://pypi.org/project/ncep-client/1.0.0/)):

![image](https://user-images.githubusercontent.com/9433472/38142711-5a3520de-3435-11e8-8378-13d54471cf80.png)

but some just get "UNKNOWN" ([example](https://test.pypi.org/project/some/0.2/) on testPyPI):

![image](https://user-images.githubusercontent.com/9433472/38142730-69

[2018-03-30 16:02] brainwane commented on #3335
Thanks, @cheungnj -- I'll ask our designer @nlhkabu to take a look! A work-in-progress pull request would be great to see so we can also take a look at the code side.

[2018-03-30 16:03] dstufft commented on #3473
Sounds like a bug in the stripping of ``UNKNOWN`` during upload.

[2018-03-30 16:11] anowlcalledjosh opened #3474 "Simultaneous events are not ordered consistently on project history page"
Sometimes the "new release" event ends up after (above) the first upload of that release, other times it's the other way around:

![image](https://user-images.githubusercontent.com/9433472/38144494-d3fbe086-343c-11e8-8bca-d31eac4e3d67.png)

(as reported in #pypa-dev)

[2018-03-30 16:40] cheungnj commented on #3335
@brainwane I'll submit a PR so we can get the ball rolling on this! Thanks!

[2018-03-30 17:17] nlhkabu opened #3476 "Improve `make purge` documentation"
Today I had some trouble after an upgrade of postgres. I tried to run `make purge` to nuke everything, but it didn't do the job.

The solution was to run `docker-compose down -v` then re-run `make serve` and `make initdb`.

It would be good to:

1. Make `make purge` leave the docker setup in a pristine state
2. Document `make purge` at https://warehouse.readthedocs.io/development/getting-started/#

[2018-03-30 18:01] brainwane commented on #3476
I've also run into stuff like this and would appreciate a docs update.

[2018-03-30 18:50] brainwane opened #3478 "question: proportion of users who want to see, download package files"
What proportion of users particularly want to get at the package files, as a primary desideratum, when they go to a project page? We know that most users are looking at the project description and will then use `pip install` to retrieve and install package files, but some want to see the package files and checksums, and some want to see the package list and then download the files. One person writ

[2018-03-30 19:29] jonparrott opened #3479 "Consider surfacing whether or not a project has wheels on the project overview page."
This could be useful as it allows users to see immediately whether a package will be installed quickly and without compilation on their platform.

[2018-03-30 19:34] jonparrott commented on #3473
https://github.com/pypa/readme_renderer/pull/69 will help with this once it's merged/released.

[2018-03-30 20:52] AaronV77 commented on #3471
Hey @ewdurbin what should my .pypric look like? I have the following:

[distutils]
index-servers =
    pypi
    test

[pypi]
repository:https://pypi.org/pypi
username:yourname
password:yourpassword

[test]
repository:https://test.pypi.org/pypi
username:yourname
password:yourpassword

and I keep getting the following error:

HTTPError: 410 Client Error: This API has moved to https://upload.pypi.org

[2018-03-30 21:09] #3474 closed

[2018-03-30 22:03] mayeut opened #3482 "#3310 makes twine --skip-existing option useless"
`twine` checks for message starting with `File already exists`:
https://github.com/pypa/twine/blob/bcb73e025102565c395e0bf322faebd7f72e76f7/twine/commands/upload.py#L58-L61
Message has been changed to one starting with `The filename or contents already exist` in #3310:
https://github.com/pypa/warehouse/blob/969695d030aef8b11d5b052e8731a80746c404c8/warehouse/forklift/legacy.py#L1083-L1094

c.f. pyp

[2018-03-31 03:21] njsmith commented on #3478
Huh, now that I think about it, probably the main (only?) reason I visit the pypi website is to check what wheels are available and look at release dates. For "do I want to depend on this package?" questions, checking whether wheels are available is a really important clue as to how much pain I'll be causing my users if I do. And pypi is the only place to reliably check dates like "huh, so if that

[2018-03-31 03:26] njsmith commented on #3479
This isn't quite the same as #3478, but it overlaps (and in particular my comment there might even make more sense here: https://github.com/pypa/warehouse/issues/3478#issuecomment-377662064)

[2018-03-31 07:28] #3454 closed

[2018-03-31 10:45] brainwane commented on #3462
Clarifications [in this followup](https://mail.python.org/pipermail/python-list/2018-March/732279.html): the home page includes an invitation to "search" or "browse" but there's no filter list on the front page, which means Wing cannot simply apply the filter to his first search.

I wonder if #727 would help here -- as soon as the user starts typing, one of the lookahead menus we provide could be

[2018-03-31 10:59] brainwane commented on #991
Now that #3400 and #3434 are merged, I'd like to close this issue and thank everyone for participating in the discussion.

Thanks for the link and invitation, @andrew. Can you point to a demo or any screenshots? And is there an existing issue somewhere in the libraries.io set of repositories about badge-y things, or a repo where such discussion would be best?

[2018-03-31 11:00] #991 closed

[2018-03-31 11:08] brainwane commented on #787
Related: #3400 & #3434 on https://libraries.io/pypi/ and https://packaging.python.org/guides/analyzing-pypi-package-downloads/ . The right thing to do here, like in #991, might be to aid @andrew in getting download stats into libraries.io (https://github.com/librariesio/libraries.io/issues/1916), then pull a selected stat or two into the display in Warehouse but still point people to libraries.io

[2018-03-31 11:09] #3028 closed

[2018-03-31 12:21] brainwane commented on #3482
@sigmavirus24 @jonparrott @di I'm offline much of today, could one of you take a look at this?

Thanks for the report, @mayeut.

[2018-03-31 12:27] mayeut commented on #3482
@brainwane, given you're comment in https://github.com/pypa/twine/issues/332#issuecomment-377689258 saying it shall probably be fixed in `twine`, I guess one thing that could be done is add a comment in warehouse. Maybe something like:
`# changing the message might break twine --skip-existing`

[2018-03-31 13:13] sigmavirus24 commented on #3482
With my `twine` hat on, I've always been of the opinion that our current checking around this is fragile and sucks. If Warehouse can provide us with something better that would be fantastic. It seems like Warehouse, however, has traded one plain-text string for another. For this API, I understand returning plain-text/html, but I think if the client says they accept JSON, a JSON payload would be le

[2018-03-31 15:54] dstufft commented on #3411
Brownout updated to :00-:15, :30-:40 every hour.

[2018-03-31 20:40] cheungnj commented on #3381
I'd like to work on this.

[2018-03-31 21:25] ori-yitzhaki commented on #3275
@ewdurbin

I would like to thank you for reaching out and agree to support Artifactory users on pypi.python.org for a while.

I would like to ask you to set the target for the migration of pypi.python.org => pypi.org  to April 22nd. By that time we will have the support for pypi.org.

10x

[2018-03-31 22:20] brainwane commented on #1317
Is [this list of workflows](https://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html#workflows) a reasonable one to ask people to test in different browsers?

[2018-03-31 22:27] brainwane commented on #3108
@illume are you the illume who mentioned this issue in IRC? I'd like to better understand

1. what bit of software, somewhere between PyPI and you, is setting an incorrect `Last-Modified` header
2. your use cases

so we can decide whether to change Warehouse's behavior. Thanks.

[2018-03-31 23:21] ewdurbin commented on #3275
Oh! To summarize meeting: JFrog team confirmed the changes they saw with the warehouse simple index implementation and asked for anything else to be aware of. TLS v1.0/v1.1 deprecation was all that I had to add.

They mentioned needing some more time to ship code changes and allow users to handle that. I directed them to have that conversation here and it seems they have!

[2018-03-31 23:28] ewdurbin commented on #3275
I said that we can technically delay the redirects from pypi.python.org to pypi.org that are causing trouble, but only for a short time, but we need consensus on how long.

We currently exclude user agents for Artifactory from our temporary redirects and can support the same for the main rollout.

[2018-04-01 00:03] renatoassis opened #3486 "Autocomplete in the project search box"
# Tip
Support for autocomplete in the project search box on the home page. Maybe using algolia (https://www.algolia.com) would be a good solution.
![image](https://user-images.githubusercontent.com/1714391/38168581-cc9a7cd6-3526-11e8-9361-08d787a8d771.png)

[2018-04-01 00:09] brainwane commented on #3486
Thanks for the suggestion, @renatoassis! I think #3462 and #727 might be relevant here -- in fact, depending on how we decide on #3462, this may be a duplicate of that.

@renatoassis are you by any chance interested in working on this?

[2018-04-01 09:22] pradyunsg opened #3489 "Request trove classifier"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

## Why do you want to add this classifier?

---

Just testing the link posted by @nlhkabu in #3488. I'm not sure if it'll add a label. :|

[2018-04-01 09:23] #3489 closed, assigned to nobody

[2018-04-01 10:58] brainwane commented on #3151
@alanbato We talked a little in IRC and now I'm not sure whether you have a WIP to share?

I'm sorry that you're stuck on this -- last week @di was working on another project, but this week he returns to concentrating on Warehouse. Do you think you could join us at [one of our livechats](https://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html) to talk about it synchronously

[2018-04-01 11:54] #3435 closed

[2018-04-01 12:44] nitinprakash96 commented on #3184
I'm willing to work on this one. I'll let you know about the further progress @brainwane

[2018-04-01 12:48] brainwane commented on #3184
Sounds good. @nitinprakash96 you go ahead and work on this one, and @saxenanurag can concentrate on #3185 instead. :)

[2018-04-01 12:48] brainwane commented on #3185
I believe @saxenanurag is working on this in #3405.

[2018-04-01 13:00] brainwane opened #3490 "Document User-Agent filtering for clients with broken redirect handling"
We should update https://warehouse.readthedocs.io/api-reference/integration-guide/#migrating-to-the-new-pypi to advise people on user agent filtering.

So we should add a bullet point in `docs/api-reference/integration-guide.rst` that says:

* All APIs: Starting in mid-April 2018, we will be redirecting pypi.python.org API calls to hit pypi.org instead. `User-Agent` filtering is in place on legacy

[2018-04-01 16:32] jaraco opened #3491 "Warehouse prompts for munged project name when deleting project with period character"
Today, I went to delete the [jaraco.persona](https://pypi.org/project/jaraco.persona), but when I did, it did not accept the name of the project as confirmation:

![image](https://user-images.githubusercontent.com/308610/38175298-67a850fa-35a8-11e8-8f96-64b6acd8357a.png)

Instead, it wanted a munged name with the period replaced by a dash.

![image](https://user-images.githubusercontent.com/308610

[2018-04-01 16:38] jaraco commented on #3491
It also seems to require the user to enter normalized case:

![image](https://user-images.githubusercontent.com/308610/38175384-9052d538-35a9-11e8-99b0-d51f6d6fcb27.png)

[2018-04-01 16:38] jaraco commented on #3491
(I suggest it shouldn't)

[2018-04-01 18:20] dstufft opened #3492 "Celerybeat Cleanup Error"
[code]

I assume this is an integration issue with how the warehouse <-> celery integration happens. Not sure what it's actual affect is though.

[2018-04-01 20:10] cheungnj commented on #3476
I can work on this. Are these the steps to reproduce this?

1. `make build` then `make serve` in one terminal and`make initdb` in another terminal
2. stop the `make serve` command
2. upgrade postgres
3. run `make serve` again

[2018-04-01 23:24] di commented on #2935
@jayfk Noticed that pyup is still using pypi.python.org, anything we can do to help?

[2018-04-02 00:42] #3430 closed

[2018-04-02 00:56] bskinn commented on #3430
Thanks much, @di!

[2018-04-02 00:58] di commented on #3430
Thanks for the report @bskinn!

[2018-04-02 02:03] di commented on #3476
#3499 makes it so that a `make purge` will stop all running containers (same as `make stop`), and then purge them, so now it should perform as @nlhkabu expected.

I agree we should document `make purge` somewhere, something like:

Thinking about it now, I'm not sure the bit about a `sqlalchemy.exec.OperationalError` is the best possible advice -- usually this will happen either because a) the deve

[2018-04-02 02:49] saxenanurag commented on #3185
Hi. Sorry I have been moving apartments. I will get back to this soon.

[2018-04-02 03:17] brainwane commented on #869
@di does https://github.com/pypa/wheel/compare/0.30.0...0.31.0 and https://pypi.org/project/wheel/0.31.0/ mean we can close this issue?

[2018-04-02 03:20] di commented on #869
Yep! Thanks everyone for your patience w/ this issue.

[2018-04-02 03:20] #869 closed

[2018-04-02 08:25] nschloe opened #3501 "github markdown: image sizes"
GitHub markdown (like any markdown I suppose) is an extension of HTML. This fallback is sometimes needed, e.g., when resizing or centering images. This
[code]
renderes a centered, 20% wide image on GitHub (https://github.com/nschloe/meshio). On PyPi (https://pypi.org/project/meshio/), not so lucky.

[2018-04-02 10:38] yeraydiazdiaz commented on #1988
Having a look at the [newer NPM design](https://www.npmjs.com/package/react) and comparing it with [our currect one](https://pypi.org/project/Django/) I think we could benefit from using tabs and tables for the less important information and push upwards elements that are of more interest to the average user.

Here's a quick mockup rearranging some elements and adding tabs:

<img width="1285" alt=

[2018-04-02 11:09] jayfk commented on #2935
I need some kind of cloning device :D. I have the updated URLs in a local branch, just need to re-run tests and merge it in.

Thanks for keeping an eye out for this!

[2018-04-02 11:37] berkerpeksag commented on #3473
This looks like a duplicate of (or related to) #69.

[2018-04-02 13:55] brainwane commented on #3293
I'm writing a note to post to https://mail.python.org/mailman/listinfo/pythonmac-sig about this, to spur users of pre-10.12 macOS versions to upgrade to pip 9.0.3. Is this accurate?

---------

Mac users:

If you are running macOS/OS X version 10.12 or older, you need to upgrade to the latest pip (9.0.3) to connect to the Python Package Index securely:

    curl https://bootstrap.pypa.io/get-pip.p

[2018-04-02 14:56] di commented on #3293
@brainwane

Might be worthwhile to mention that this is due to our CDN provider deprecating support for 1.0 & 1.1.

[2018-04-02 15:17] pohmelie commented on #3440
@nlhkabu

Use `shift-tab` to go from search box to top menu. One hit and you are on "Register" menu entry. One more hit and you are on "Log in" entry. Do not see any pain here.

[2018-04-02 15:22] nlhkabu commented on #1317
## IE11

![screenshot from 2018-04-02 16-16-26](https://user-images.githubusercontent.com/3323703/38201750-38bcc3cc-3691-11e8-8c9e-bd2a94fef20e.png)

![screenshot from 2018-04-02 16-17-17](https://user-images.githubusercontent.com/3323703/38201784-556f84dc-3691-11e8-84ae-a2df75021956.png)

![screenshot from 2018-04-02 16-17-04](https://user-images.githubusercontent.com/3323703/38201785-558e58b2-36

[2018-04-02 15:22] dstufft commented on #1988
Homepage probably can't be a tab, because we can have an arbitrary number of links for a project of which Homepage is one. As far as the tabbed concept goes, I'll leave that up to @nlhkabu :)

[2018-04-02 15:34] di commented on #3473
@anowlcalledjosh How did you generate the wheel for [this release](https://test.pypi.org/project/some/0.2/#files)? It's a little weird because it contains a description with extra newlines at the end:

[code]

which is throwing off this check: https://github.com/pypa/warehouse/blob/090c9c9f59941d819092d3f8ca555dc01400b452/warehouse/forklift/legacy.py#L721-L726

[2018-04-02 15:44] nlhkabu commented on #1317
## Mobile

![screenshot from 2018-04-02 16-38-47](https://user-images.githubusercontent.com/3323703/38202648-5aff325a-3694-11e8-9779-1285d05d9976.png)

![screenshot from 2018-04-02 16-39-38](https://user-images.githubusercontent.com/3323703/38202690-80e71294-3694-11e8-8953-8ba9719131e2.png)

![screenshot from 2018-04-02 16-40-24](https://user-images.githubusercontent.com/3323703/38202705-8fe1efe4-

[2018-04-02 15:53] nlhkabu commented on #1317
Current browser stats (last month):
![screenshot from 2018-04-02 16-47-44](https://user-images.githubusercontent.com/3323703/38203011-a9693642-3695-11e8-9137-9aa99288bbf4.png)
![screenshot from 2018-04-02 16-47-30](https://user-images.githubusercontent.com/3323703/38203012-a9836f76-3695-11e8-8143-c324ef6ef103.png)

Based on our current browser statistics, the site is rendering well for the **vast

[2018-04-02 15:56] nlhkabu commented on #3501
Hi @nschloe thanks for this ticket.  Would you mind opening two separate tickets for these issues?  We'll be likely to address them in two separate PRs, so this will make things easier for us :)

[2018-04-02 16:01] nlhkabu opened #3504 "ie11: Logo gets squished on small resolutions"
### How to reproduce

- Use IE11
- Make the browser window small

### What happens

The logo is "squished" and the menu items are not vertically centered

![screenshot from 2018-04-02 16-16-26](https://user-images.githubusercontent.com/3323703/38201750-38bcc3cc-3691-11e8-8c9e-bd2a94fef20e.png)

### What should happen

The logo should retain its aspect ratio, and the menu links should be centered v

[2018-04-02 16:02] nlhkabu opened #3505 "ie11: badges not rendering correctly"
### How to reproduce

- Use IE11
- Go to https://pypi.org/project/pipsy/0.1.2/
- Go to https://pypi.org/project/pipsy/0.1.1/

### What happens

The version badges are broken.  This is even more obvious if you make the resolution smaller:

![screenshot from 2018-04-02 16-17-17](https://user-images.githubusercontent.com/3323703/38201784-556f84dc-3691-11e8-84ae-a2df75021956.png)

![screenshot from 20

[2018-04-02 16:03] nlhkabu opened #3506 "ie11: description and button not centered vertically"
### How to reproduce

- Use ie11
- Log into an account with projects
- View one of the projects you manage

### What happens

The project description and 'manage' button are not centered vertically:

![screenshot from 2018-04-02 16-23-07](https://user-images.githubusercontent.com/3323703/38202016-30cc0442-3692-11e8-84af-10c6dcaca03f.png)

### What should happen

They should be centered vertically

[2018-04-02 16:03] nlhkabu opened #3507 "ie11: history timeline "lines" not connected on project history tab"
### How to reproduce

- Use IE11
- Go to https://pypi.org/project/pipsy/0.1.1/#history

### What happens

![screenshot from 2018-04-02 17-40-11](https://user-images.githubusercontent.com/3323703/38205028-f9e4a7c6-369c-11e8-9547-833b83646068.png)

### What should happen

![screenshot from 2018-04-02 17-40-32](https://user-images.githubusercontent.com/3323703/38205027-f9c5c748-369c-11e8-8ca3-f9ac7f9

[2018-04-02 16:04] nschloe opened #3508 "Github syntax highlighting"
GItHub has syntax highlighting for code blocks, PyPa has not.

[2018-04-02 16:04] nschloe commented on #3501
Sure thing. https://github.com/pypa/warehouse/issues/3508

[2018-04-02 16:05] nlhkabu opened #3509 "ie11: password strength indicator not working"
### How to reproduce

- Use IE11
- Try to register an account

### What happens

The password strength bar is not filled

![screenshot from 2018-04-02 16-19-07](https://user-images.githubusercontent.com/3323703/38201840-96900cd4-3691-11e8-98e6-d5a6a392d354.png)

### What should happen

See other browsers :)

@yeraydiazdiaz is this something you could look into? It is not high priority as ie11 user

[2018-04-02 16:07] nlhkabu opened #3510 "ie11: table headers not aligned left"
![screenshot from 2018-04-02 16-20-19](https://user-images.githubusercontent.com/3323703/38201889-c143c632-3691-11e8-8bcd-ac7ff0f21aef.png)

On internet explorer 11, all table `<th>` are aligned in the center, not on the left.  To fix this we need to add a rule to our `table` code to always make `<th>` align left.

[2018-04-02 16:08] di commented on #3508
Moved here: https://github.com/pypa/readme_renderer/issues/75.

[2018-04-02 16:08] #3508 closed

[2018-04-02 16:09] nlhkabu opened #3511 "ie11: modal not displayed in the middle of the page"
### How to reproduce

- Use IE11
- Log in
- Go to any project
- Try to delete the project
- If you have no projects, try instead to delete your account

### What happens

The delete modal is on the right

![screenshot from 2018-04-02 16-21-38](https://user-images.githubusercontent.com/3323703/38201943-f0e400fa-3691-11e8-8daf-f99a5564d34e.png)

### What should happen

The delete modal should be in

[2018-04-02 16:09] di commented on #3501
Duplicate of https://github.com/pypa/readme_renderer/issues/44.

[2018-04-02 16:09] #3501 closed

[2018-04-02 16:12] nlhkabu opened #3512 "ie11: modal button not disabled"
### How to reproduce

- Use IE11
- Log in
- Go to any project
- Try to delete the project
- If you have no projects, try instead to delete your account

### What happens

The delete button is enabled

![screenshot from 2018-04-02 16-21-38](https://user-images.githubusercontent.com/3323703/38203947-dce6727a-3698-11e8-855f-d900d50269ed.png)

### What should happen

The delete button should be disabl

[2018-04-02 16:12] nlhkabu opened #3513 "ie11: project name cut off"
![screenshot from 2018-04-02 16-25-20](https://user-images.githubusercontent.com/3323703/38202099-7882de64-3692-11e8-9ec7-0f7aede2ca94.png)

---

**Screenshot Required**: This issue will require an update to the visual design of the site. To help our team give you faster feedback, please include a screenshot in your Pull Request.

[2018-04-02 16:13] di commented on #3512
This (and some other IE11 issues) might be because the JS is failing somehow. Could you check the devtools console for errors when testing?

[2018-04-02 16:14] nlhkabu opened #3514 "ie11: filter badge has no padding on right"
## How to reproduce

- Use IE11
- Go to the search results page, and apply a filter (e.g. https://pypi.org/search/?q=&c=Framework+%3A%3A+AsyncIO)

### What happens

The filter is applied, with no padding between the end of the word and the remove button:

![screenshot from 2018-04-02 16-29-37](https://user-images.githubusercontent.com/3323703/38202261-0e0226de-3693-11e8-9a3d-faac0ba7d374.png)

###

[2018-04-02 16:15] nlhkabu opened #3515 "ie11: tooltip underlined"
### How to reproduce

1. Use IE11
2. Go to any project with a `pip install` instruction box (e.g. https://pypi.org/project/Django/)
3. Put your mouse over the 'copy' icon

### What happens

The tooltip appears, with underlined text

![screenshot from 2018-04-02 16-31-46](https://user-images.githubusercontent.com/3323703/38202391-688c63a8-3693-11e8-871d-47065df7940f.png)

### What should happen

Th

[2018-04-02 16:22] pfmoore commented on #3293
@brainwane Looks good to me. @dstufft knows the details better than I do, but I think this covers the key points

[2018-04-02 16:26] nlhkabu commented on #3513
Closing this.  Can't seem to reproduce on any other project :(

[2018-04-02 16:26] #3513 closed

[2018-04-02 16:28] nlhkabu opened #3516 "ie11: notification bar does not close"
### How to reproduce

- Use ie11
- Go the the homepage (with cookies cleared)
- try to dismiss the beta notification bar

### What happens

Nothing :(

### What should happen

The message should dissapear

[2018-04-02 16:28] di commented on #3491
I think it makes sense to use the non-normalized version of the project name here.

[2018-04-02 16:28] brainwane commented on #3508
Thanks for the reports, @nschloe. Appreciated even when we decide to mark them as duplicates. :)

[2018-04-02 16:30] nlhkabu commented on #3516
Note: I'm not getting any JS errors in devtools :(

[2018-04-02 16:30] brainwane commented on #3084
About how many projects do we currently have where the most recent release has a broken description because of this issue? I presume that's something I could figure out via Google BigQuery if I figured out how to use it.

[2018-04-02 16:31] di commented on #3490
I'm not sure the bit about the user agents is necessary? I think all affected/broken clients already know that we're special-casing their user agents, and this isn't relevant to average users.

[2018-04-02 16:33] brainwane commented on #3471
@AaronV77 do Ernest's instructions solve this problem for you?

Also, I'd love your assistance spreading the word to the conda/Anaconda community about the need to migrate to the new PyPI. https://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html would be a good link to spread around.

[2018-04-02 16:34] di commented on #3084
I don't think it's possible via BigQuery, as Donald said, the version of `wheel` used to build the distribution is in the metadata, but we don't extract it or do any introspection of the file.

I haven't seen many reports about this, and there might not really be a good way to fix it, so this shouldn't be high-priority (folks should just update their `wheel`).

[2018-04-02 16:38] nlhkabu commented on #3509
Note: I could not see any errors in the dev console when reproducing this :(

[2018-04-02 16:40] brainwane commented on #3010
@nlhkabu I would appreciate if you could check on this in your user testing. Thanks!

[2018-04-02 16:40] di commented on #3151
The dependency information is definitely relevant (when it is able to be provided). The digests are optional (Warehouse can and will compute them itself) but when provided, it will verify that they match.

Since we're talking about Legacy API Docs I'm assuming the former, but I'm not sure.

Let's just document the newer ones for now, these are the fields clients should be using.

[2018-04-02 16:41] di commented on #3512
Weird! Well, at least it's gracefully degrading 🙂

[2018-04-02 16:42] nlhkabu commented on #3507
Note - this seems to be even worse when there are more releases.  See https://pypi.org/project/Flask/#history as an example:

![screenshot from 2018-04-02 17-42-11](https://user-images.githubusercontent.com/3323703/38205098-392b43a4-369d-11e8-9fa9-2dc6a6b751de.png)

[2018-04-02 16:46] di commented on #3486
I think this could probably be done with our existing Elasticsearch queries (which we already have) rather than another tool.

[2018-04-02 16:49] nlhkabu commented on #3512
I could be looking in the wrong place :/  But yes, I'm not too worried about this one because it's not at all "broken" for ie11 users, just not the same experience.

[2018-04-02 16:53] di commented on #3482
Hmm, this is unfortunate. Seems like we should revert the error message change so that this behavior is restored for older Twine clients, and then work on improving the brittleness of this in Twine.

[2018-04-02 16:54] nlhkabu opened #3517 "Show browser warning banner for ie10 and below"
Currently, we show a "not supported" banner for users on ie9 and under.  I suggest we update this to ie10 and below because a) there are very few ie10 users, and b) [microsoft ended support for this a while ago](https://venturebeat.com/2016/01/12/microsoft-ends-support-for-ie8-ie9-ie10-and-windows-8/)

The code for changing this is here: https://github.com/pypa/warehouse/blob/master/warehouse/temp

[2018-04-02 16:57] nlhkabu opened #3518 "Mobile and Tablet: Search icon position too far to right"
### How to reproduce

- Use an apple mobile or tablet device

### What happens

The 'search' icon in the search bar is stuck to the right hand side of the input

![screenshot from 2018-04-02 16-42-22](https://user-images.githubusercontent.com/3323703/38202775-d7a58160-3694-11e8-925b-600398dab5e9.png)

### What should happen

There should be space between the edge of the input and the icon, e.g.

!

[2018-04-02 17:38] nlhkabu commented on #3010
My preference here is to keep it as is:

https://www.nngroup.com/articles/international-sites-requirements/

However, I can run a user test with ISO dates and see what feeback we get.

[2018-04-02 17:39] nlhkabu commented on #3010
Also related - timestamps: http://uxmovement.com/content/absolute-vs-relative-timestamps-when-to-use-which/

[2018-04-02 17:42] nlhkabu commented on #3010
For what it's worth (not much as a sample of one) - As someone who writes dates dd/mm/yyyy, I have no problem with "March 4, 2017" as a format.  It's totally clear to me, even if it's not the direction I would choose to write it.

[2018-04-02 17:44] anowlcalledjosh commented on #3473
@di That particular release was with an almost empty setup.py (and no setup.cfg). I reproduced it with the following package versions:

- pip           9.0.3
- pkg-resources 0.0.0
- setuptools    39.0.1
- wheel         0.31.0

and a setup.py that looks like this:

[code]

and the command `python setup.py bdist_wheel`.

(With wheel 0.31.0, the DESCRIPTION.rst file is not generated any more, but MET

[2018-04-02 17:47] nlhkabu opened #3519 "Mobile and tablet: Dismissing notification bar leaves empty space"
### How to reproduce

- Go to the site using a mobile device (I have used android and iphone)
- Click on the `x` button on the beta banner

### What happens

The message is removed, but leaves a white space underneath:

![screenshot from 2018-04-02 16-38-47](https://user-images.githubusercontent.com/3323703/38202648-5aff325a-3694-11e8-9779-1285d05d9976.png)

### What should happen

The message sho

[2018-04-02 17:52] nlhkabu opened #3521 "Mobile: content overflows"
### How to reproduce

- Use a mobile device (or small resolution)

### What happens

On the search results page, the order by select overflows onto the side of the page:

![screenshot from 2018-04-02 16-39-38](https://user-images.githubusercontent.com/3323703/38202690-80e71294-3694-11e8-8953-8ba9719131e2.png)

On the homepage, the search bar overflows

![screenshot from 2018-04-02 16-40-24](https:

[2018-04-02 17:53] alanbato commented on #3151
@brainwane Here's the PR #3520 (WIP). I still need to continue working on the info now that @di has cleared some things for me. And I've already added tomorrow's livechat to my calendar so I don't forget. :+1:

[2018-04-02 18:36] #3473 closed

[2018-04-02 18:36] di commented on #3473
Note: I fixed this for all new uploads going forward in #3524, but existing affected releases will still show `UNKNOWN` until #69 is addressed.

[2018-04-02 18:37] renatoassis commented on #3486
@brainwane I'd love to, but I'm still new to programming = /. One day I'll contribute to some opensource project. Thanks for the invitation :)

[2018-04-02 19:05] #3086 closed

[2018-04-02 19:08] di commented on #3086
This is effectively fixed with #3368.

[2018-04-02 19:08] #3428 closed

[2018-04-02 19:14] AaronV77 commented on #3471
@brainwane, yes the do and I will spread the word around on what happened. I have an issue open on their their build site right now so I will include this issue number and the new information.

@ewdurbin I have everything updated on my end with having the correct .pypric and everything seems to be working correctly now. I created a new release of the source and everything uploaded correctly, and w

[2018-04-02 19:20] waseem18 commented on #3486
I would like to look into this @brainwane

[2018-04-02 19:37] di commented on #3442
FYI @nschloe, [a new release of `wheel` has been made](https://pypi.org/project/wheel/0.31.0/) so the workaround is no longer necessary.

[2018-04-02 19:47] di commented on #3451
I think I agree that the "Project Description" header is redundant and can probably go away.

[2018-04-02 20:00] #3185 closed

[2018-04-02 20:04] nschloe commented on #3442
Nice, thanks for letting me know!

[2018-04-02 20:11] di commented on #3463
I don't think Warehouse will ever show as many results as legacy, [as it will happily display thousands of results](https://pypi.python.org/pypi?%3Aaction=search&term=testing&submit=search).

One thing to note is that Warehouse's search is significantly better than legacy's, so the need for that many search results to be displayed on one page should be greatly reduced.

I would encourage these use

[2018-04-02 21:11] robhudson commented on #701
I'm interested in taking this on if nobody else has already started. I'll get the project set up and re-familiarize myself with the code base over the next few days and report back with any questions or comments.

[2018-04-02 21:11] brainwane commented on #3293
Got an ok from Donald, touched up the prose a bit, and [posted to distutils-sig](https://mail.python.org/pipermail/distutils-sig/2018-April/032114.html) and a few other places.

[2018-04-02 21:20] brainwane commented on #701
@robhudson Please feel free to go ahead and work on this! And as you probably know, we're available to talk in [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), or on the [pypa-dev mailing list](https://groups.google.com/forum/#!forum/pypa-dev).

[2018-04-02 21:47] brainwane commented on #3491
@saxenanurag would you like to work on this next?

[2018-04-02 21:52] brainwane commented on #3471
@AaronV77 We're working on fixing the search in pull request #3470 which will probably take a few days to review and merge.

Thanks for sharing the news about the new PyPI with the conda folks!

If `twine` is not told an explicit repo URL to upload to, it defaults to `https://upload.pypi.org/legacy/`. https://twine.readthedocs.io/en/latest/#options has more on that.

[2018-04-02 22:04] brainwane opened #3527 "question: do users search by maintainer wallet name/username?"
Branching off #3463 and related to #2746.

Do users search for maintainers' usernames or wallet names? For instance, do users think "oh I remember there's a new thing Kenneth Reitz is working on" and search for "Kenneth Reitz" on pypi.org, or search for "bitprophet" because they remember they're looking for a library that `bitprophet` maintains?

I suggest we user test for this.

[2018-04-02 22:12] di commented on #3527
We do include author/maintainer names and emails in the search index: https://github.com/pypa/warehouse/blob/ce894db254d2f9097da784768f5e8b55252c169b/warehouse/packaging/search.py#L82-L85

It'd probably be easy to add usernames as well.

[2018-04-03 02:32] brainwane commented on #3275
@di @dstufft I presume you are both also ok with keeping the User-Agent exclusions for the redirect up till April 22nd?

[2018-04-03 02:33] Suns-hi opened #3531 "card-8520267"
https://github.com/pypa/warehouse/projects/1#card-8520267

[2018-04-03 02:33] Suns-hi commented on #3531
https://github.com/pypa/warehouse/projects/1#card-8520267

[2018-04-03 03:09] #3531 closed

[2018-04-03 03:09] di commented on #3275
Makes sense to me.

[2018-04-03 03:16] ori-yitzhaki commented on #3275
we actually discuss that User-Agent exclusions for the redirect will last for a couple of months

@ewdurbin can you come with a date which until it you will support the User-Agent exclusions for the redirect?

[2018-04-03 03:48] AnneTheAgile commented on #3198
It looks like this should be closed or marked duplicate and closed, based on #3415

[2018-04-03 03:49] di commented on #3198
Thanks @AnneTheAgile!

[2018-04-03 03:49] #3198 closed

[2018-04-03 05:04] di commented on #3275
@ori-yitzhaki If Artifactory can fully support using `pypi.org` by April 22nd, why do the User-Agent exclusions need to remain for "a couple months"?

Currently (as of today) we are planning to fully shutdown `pypi.python.org` on Monday April 30th.

[2018-04-03 05:24] ori-yitzhaki commented on #3275
Customers will have to coordinate such a change with their security departments (firewall) in larger organizations it might take a bit more time and we will appreciate if we can provide them sufficient notice

[2018-04-03 06:03] mortenlj commented on #2731
Hi. Now that PEP541 has been [Accepted](https://mail.python.org/pipermail/python-dev/2018-March/152455.html), any chance of moving this forward? :slightly_smiling_face:

[2018-04-03 06:34] nlhkabu commented on #1317
All found issues opened.  Closing this.  Will revisit if/when needed.

[2018-04-03 06:34] #1317 closed

[2018-04-03 07:18] htgoebel opened #3532 "Establish retention policy and retent old data"
I found that pypi stores IP addresses and *exact* action dates for several years, e.g.

create | Nov 24, 2008, 11:33:29 AM | htgoebel from 79.207.178.171

According to the [privacy policy](https://www.python.org/privacy/) there are four reasons to store the data. FMPOV none of these reasons requires storing this exact data for almost 10 years. The day and user *might* be of interest, but the exact

[2018-04-03 07:48] #3381 closed

[2018-04-03 10:59] dstufft commented on #3275
I don't believe we are going to be able to keep the ``User-Agent`` exclusion for a couple of months. @ewdurbin is away this week (until the 8th), but our current target (as @di mentioned) for shutting down legacy PuPI is April 30th, 2018. Once legacy PyPI is shut down, there will be nothing backing ``pypi.python.org`` for a ``User-Agent`` exclusion to help at all, since your request would have not

[2018-04-03 11:14] ewdurbin commented on #3275
The discussion I recall didn’t include anything beyond April 30
<x-apple-data-detectors://0>, I tried to make clear that the initially
requested April 22 date was technically straightforward, but may have
misunderstood.

Indeed, holding on to the old backends after that date for a single client
of the is not something we can support.

On April 3, 2018 at 6:59:33 AM, Donald Stufft (notifications@gi

[2018-04-03 11:20] dstufft commented on #3532
I just want to ack this request, and say that I don't know the answer to this yet, will have to do some internal research to figure out what applies here.

[2018-04-03 11:38] andrew commented on #991
@brainwane there aren't any badges/embeds in Libraries.io at the moment, I've opened an issue up on Libraries.io: https://github.com/librariesio/libraries.io/issues/2077

[2018-04-03 11:43] andrew commented on #787
Related issue on the Libraries.io repo about download stats, will be put back on the roadmap within a few months I expect: https://github.com/librariesio/libraries.io/issues/53

[2018-04-03 11:45] dstufft commented on #3411
Brownout updated to :00-:15, :30-:45 every hour.

[2018-04-03 14:59] yeraydiazdiaz commented on #3512
@di possibly https://github.com/pypa/warehouse/pull/3535 helps?

[2018-04-03 15:17] yuvalreches opened #3536 "Support HEAD request to files.pythonhosted.org"
As part of the changes you've made all the packages are now hosted under https://files.pythonhosted.org/

In JFrog Artifactory we have to configure this URL as part of any PyPI remote repository.

Artifactory provides a way for verifying remote URLs are operational / reachable:
We perform _HEAD_ request to the URL and verify HTTP 200 response.

However when trying to reach https://files.pythonhost

[2018-04-03 15:18] di commented on #3512
@yeraydiazdiaz Indeed I think it does. @nlhkabu might want to re-test some of these IE11 issues where JS is broken now that that is merged.

[2018-04-03 15:19] dstufft commented on #3536
Can you be clear, are you talking specifically about something like ``curl -XHEAD https://files.pythonhosted.org/`` or like, ``curl -XHEAD https://files.pythonhosted.org/packages/b0/e1/eab4fc3752e3d240468a8c0b284607899d2fbfb236a56b7377a329aa8d09/requests-2.18.4.tar.gz``?

[2018-04-03 15:20] yuvalreches commented on #3536
Specifically about `curl -XHEAD https://files.pythonhosted.org/ `

[2018-04-03 15:23] dstufft commented on #3536
Yea we should be able to make that happen.

[2018-04-03 15:49] alanbato commented on #2794
While talking with @brainwane on the IRC, I came up with two ideas:

I think a Glossary regarding terms like "project, distribution, maintainer" could be helpful to clear confusions between similar concepts and synonims found both in the codebase and the docs. e.g. project, distribution, package, version, author, maintainer, etc.

Also, I think it would be valuable to include architecture beyond t

[2018-04-03 15:59] #3184 closed

[2018-04-03 17:12] michael-lazar opened #3539 "GFM markdown - <details> tags not rendering"
Thanks for adding markdown support!

I just tried uploading one of my projects with the ``long_description_content_type='text/markdown'``. Overall it looks good (apart for the relative links, which I will need to fix manually). However, I noticed that the ``<details>`` tags aren't being rendered correctly. This might have to do with the quote blocks that I put inside of the HTML tags, but the page

[2018-04-03 17:19] di commented on #3539
Thanks for the report! Moved to https://github.com/pypa/readme_renderer/issues/76.

[2018-04-03 17:19] #3539 closed

[2018-04-03 17:25] brainwane commented on #3536
Also, @yuvalreches, welcome to GitHub (I see this is the first issue you've ever opened)!

Just in case you haven't seen them yet, I want to point you to our [documentation on Warehouse and its APIs](https://warehouse.pypa.io/), our live chat channel [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), and the [pypa-dev mailing list](https://groups.google.com/forum/#!foru

[2018-04-03 17:47] #3379 closed

[2018-04-03 21:48] 0xGiddi opened #3542 "Package upload fails with twine and setuptools"
Attempting to add a new release with twine or setuptools results in a unhelpful `Received "500: Internal Server Error"`.

**OS:** Ubuntu 16.04.2 LTS
**Twine:** `twine version 1.11.0 (pkginfo: 1.4.2, requests: 2.18.4, setuptools: 39.0.1,
requests-toolbelt: 0.8.0, tqdm: 4.20.0)`

I have tried multiple repository URLs and configurations. The following is the last configuration and logs attempted:

**

[2018-04-03 21:52] di commented on #3542
@0xGiddi Could you upload, link, or email me (di@python.org) the `pymbr-1.0.3.tar.gz` file you're trying to upload?

[2018-04-03 21:54] 0xGiddi commented on #3542
Here you go:
[pymbr-1.0.3.tar.gz](https://github.com/pypa/warehouse/files/1873528/pymbr-1.0.3.tar.gz)

[2018-04-03 22:08] di commented on #3542
Interesting, this seems to be caused by your PyPI username starting with `0x`. Investigating...

[2018-04-03 22:14] gvanrossum commented on #3293
I have a question of clarification. What should users of MacOS 10.13 or newer do? Is pip 9.0.1 safe there, do they all have pip 9.0.3, or should they lose all hope?

[2018-04-03 22:16] alex commented on #3293
@gvanrossum System Python on macOS 10.13 should be unaffected, since Apple upgraded the OpenSSL it links against.

I think it's theoretically possible on macOS 10.13 to have virtualenvs with Pythons created under 10.12; in those cases you should either destroy and recreate the virtualenv, or upgrade pip to 9.0.3

[2018-04-03 22:57] gvanrossum commented on #3293
Also I guess if one installed any Python version from python.org one would be affected on 10.13 right? Or do I misunderstand how this works?

I noticed ensurepip in 2.7.14 still has the pip 9.0.1 bundle (though the git repo was updated). Does this require a 2.7.15 release then? (And 3.{5,6} release too?)

[2018-04-03 22:59] alex commented on #3293
I've forgotten what we do about OpenSSL for python.org installers. The
short answer is that versions that use the system OpenSSL are ok on either
macOS 10.13+ or pip 9.0.3+; versions that bundle their own OpenSSL are fine
on any macOS.

On Tue, Apr 3, 2018 at 6:57 PM, Guido van Rossum <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to

[2018-04-03 23:01] gvanrossum commented on #3293
Who should I ask then?

[2018-04-03 23:02] alex commented on #3293
Ned Deily may know off hand which versions of Python use which OpenSSL
packaging strategy.

On Tue, Apr 3, 2018 at 7:01 PM, Guido van Rossum <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: D1B3 ADC0 E023 8CA

[2018-04-04 01:30] di commented on #3542
Actually the problem is that [your README contains the NUL character](https://github.com/0xGiddi/pymbr/blame/master/README.rst#L33) which apparently is a problem for `psycopg2`.

#3545 should fix this for you, sorry for the troubles.

[2018-04-04 01:55] 0xGiddi commented on #3542
@di Tanks a bunch for checking it out, I really appreciate it.
When are changes committed to the production/public servers?

[2018-04-04 03:03] #3542 closed

[2018-04-04 03:04] di commented on #3542
@0xGiddi Should be deployed in about 10 minutes.

[2018-04-04 03:07] di commented on #3516
The original behavior (nothing happens at all) was fixed by #3535.

The current behavior (white space is left behind) should be fixed by #3420.

[2018-04-04 03:11] di commented on #3512
@aalmazan Would you be able to re-test this issue?

[2018-04-04 03:12] di commented on #3509
This might be fixed by #3535.

[2018-04-04 03:24] ned-deily commented on #3293
**_tl;dr_**  The versions of **pip** bundled with all current [python.org macOS installers](https://www.python.org/downloads/mac-osx/) will continue to be usable with PyPI / Warehouse except for the **2.7.14 (and earlier) 10.6+ 64-bit/32-bit variant (the current default Python 2 download)** which needs to be updated to **pip 9.0.3** or **10.x**.  Python **2.7.15** will ship with **pip 9.0.3** or l

[2018-04-04 03:30] dstufft commented on #3293
You can execute ``curl https://bootstrap.pypa.io/get-pip.py | python`` to get an updated pip as well. I'm not sure which option is easier to document for folks, but both work.

[2018-04-04 03:32] #3163 closed

[2018-04-04 03:33] ned-deily commented on #3293
One problem with `curl` is that it may not work on older versions of macOS.  Downloading through the web has a better chance of working as the browser TLS support was kept more up-to-date.

[2018-04-04 03:50] cjerdonek commented on #3293
For people in this camp, if you fail to upgrade to the latest pip (e.g. in some virtualenv), will it connect to the Python Package Index insecurely in a silent fashion, or will it fail (or at least warn you)?

[2018-04-04 03:57] dstufft commented on #3293
It will fail.

[2018-04-04 04:00] ned-deily commented on #3293
And, alas, it fails without a very useful warning (see the example script above), unless you enable verbose.

[2018-04-04 04:05] gvanrossum commented on #3293
So, to be clear, this:
[code]
is how it fails. Not very clear indeed, alas.

[2018-04-04 04:10] ned-deily commented on #3293
Yes, with `pip install -v` you may see something like this go by:
[code]

[2018-04-04 04:13] aalmazan commented on #3512
@di The Delete Project modal works as expected for me here on Win7 + IE11 with the current master 166247c.

[2018-04-04 04:28] cjerdonek commented on #3293
So just to clarify some more: In the course of normal usage, if someone types something like--

    $ pip install ansible

Will they see something more like this, or something else? (note ansible in place of pip)

[code]

And then if they follow the instructions in the message, they will get this?

[code]

(With the examples provided, it's a little confusing what parts are due to installing pip as

[2018-04-04 04:28] dstufft commented on #3293
The error will change once we can disable TLSv1.0 and TLSv1.1, I believe it'll give a SSL error at that point, but I'm not 100% sure, I only have a macOS 10.13 machine.

[2018-04-04 04:30] aalmazan commented on #3512
Yes, that's correct.

![ie11-modal-button](https://user-images.githubusercontent.com/800948/38288498-15725076-3786-11e8-9772-fef0864199e0.gif)
(Ignoring the modal not being centered)

[2018-04-04 04:32] dstufft commented on #3293
If someone has a non TLSv1.2 supporting Python, they could try ``pip install --index-url https://files.pythonhosted.org/ --upgrade pip`` and see what happens. That command won't actually work (attempting to use that directly as your index will 404, so it'll never find anything) but that domain is already rejecting at the TLS level TLSv1.0 and TLSv1.1.

[2018-04-04 04:57] di commented on #3512
Great, thanks @aalmazan! Closing this then.

[2018-04-04 04:57] #3512 closed

[2018-04-04 04:58] aalmazan commented on #3514
Cant seem to reproduce this on the live environment.

![selection_037](https://user-images.githubusercontent.com/800948/38289241-14096fd6-378a-11e8-8478-4cc9203f9c60.png)

[2018-04-04 04:58] ned-deily commented on #3293
[code]

[2018-04-04 04:59] dstufft commented on #3293
Ok, so that's the error that'll happen after April 8th.

[2018-04-04 08:15] mgedmin opened #3546 "Homepage link missing on mobile"
1. Open https://pypi.org/project/cmarkgfm/ on mobile (or a desktop, with a sufficiently narrow window, e.g. 683px)
2. Try to find the Homepage project link
3. It's not there!

[2018-04-04 12:56] yeraydiazdiaz commented on #3162
I just tested this on `master` and it's working as described, via #3378 and #3467 I believe.

Should we close this?

[2018-04-04 13:00] di commented on #3162
Hmm, odd this didn't automatically close when I merged #3378.

Thanks @yeraydiazdiaz!

[2018-04-04 13:00] #3162 closed

[2018-04-04 16:39] nlhkabu commented on #3509
Yes, I have tested and confirm it is fixed :) Thanks @yeraydiazdiaz and @di

[2018-04-04 16:39] #3509 closed

[2018-04-04 16:47] brainwane commented on #3546
I can replicate this. When I narrow my browser window sufficiently, most sections of the navigation bar: Project links, Maintainers, Meta, Classifiers, and so on are simply not accessible by any means I can see.

[2018-04-04 16:48] #3380 closed

[2018-04-04 16:48] brainwane commented on #3546
IMO: Some kind of quick and dirty fix here, such as a "click for desktop version" link, would be enough to get us through Legacy shutdown, and then we can do a more elegant fix later.

[2018-04-04 17:10] #3452 closed

[2018-04-04 18:00] di commented on #3248
Fixed in #3392.

[2018-04-04 18:00] #3248 closed

[2018-04-04 19:02] nlhkabu commented on #3511
Most likely fixed with: https://stackoverflow.com/questions/29270465/why-doesnt-justify-content-center-work-in-ie

[2018-04-04 20:33] di commented on #1314
@nlhkabu Did you have any particular plans for this page or should I rough something out?

[2018-04-04 21:02] nlhkabu commented on #1314
Yes, I've got some ideas - am planning to start on this tomorrow @di.  I will ping you for help when needed :)

[2018-04-04 21:04] nlhkabu commented on #3519
Need to reset now #3420 is merged

[2018-04-04 22:06] cooperlees opened #3551 "ctypes simple API missing all pacakges"
Hi all,

Don't know if this is a warehouse specific problem but the simple API for ctypes is missing all the packages in the HTML. It seems to be broken @ both pypi.org + pypi.python.org (didn't check if they point at the same thing) - i.e.
- https://pypi.org/project/ctypes/
- https://pypi.python.org/simple/ctypes/

The package page only lists on Warehouse - i.e.:
- https://pypi.org/project/ctypes

[2018-04-04 22:24] cooperlees commented on #3551
I'm going to look at adding an optional feature to bandersnatch to allow an admin to ask for X copies of index.html for the Simple API files to allow comparison of changes etc. if things unexpectedly change:
https://bitbucket.org/pypa/bandersnatch/issues/106/look-at-keeping-x-old-indexhtml-files-for
- Low priority tho.

[2018-04-04 22:57] JakobGM opened #3552 "Consider increasing image size restriction to 10MB"
Hi!

I could not find any previous discussion of why exactly ``5MB`` has been chosen as the limit for embedded images in PyPI descriptions, so excuse me if this has already been set in stone.

I want to argue that ``10MB`` is a better image size restriction, as this is already the restriction imposed on legacy PyPI and on GitHub.

Coordinating these restrictions across these platforms allows packa

[2018-04-05 01:02] brainwane commented on #3536
I presume this is to mitigate #3275?

[2018-04-05 06:23] nlhkabu opened #3557 "Merge 'statistics' and 'GitHub Statistics'"
Right now, we have two sections in the sidebar of a package that deal with statistics:

![screenshot from 2018-04-05 07-21-13](https://user-images.githubusercontent.com/3323703/38350168-1216fa5e-38a2-11e8-92b9-0900e6e1d56a.png)

It would be nice to either group these together, or merge them into one section.

---

**Good First Issue**: This issue is good for first time contributors. If you've alre

[2018-04-05 06:28] nlhkabu opened #3558 "Keep tabs inside modal"
## How to reproduce

- Log in
- Use your keyboard only
- Open a modal with your keyboard (either delete release, delete project, delete account)
- Tab through the modal

## What happens

- After you open the modal, you can tab through the content of the modal \o/
- However, once you have tabbed through each button/field, the tab index then moves to the content *under* the modal :(

## What should

[2018-04-05 06:34] nlhkabu opened #3559 "Move tab to 'filter panel' when it is opened"
### How to reproduce

- Use a resolution < 1000px
- Go to the search page and search any keyword, e.g.

![screenshot from 2018-04-05 07-32-03](https://user-images.githubusercontent.com/3323703/38350501-75a5c086-38a3-11e8-9b1c-ff18ea6714f2.png)

- Using only your keyboard, tab to the 'Add filter' button
- Press enter on the button

### What happens

![screenshot from 2018-04-05 07-32-57](https://us

[2018-04-05 15:01] dstufft commented on #3275
@ori-yitzhaki We can keep the User-Agent exclusion until we shut down the legacy backends, that is currently scheduled for April 30th but that date is subject to change if needed (but I suspect it won't be).

[2018-04-05 15:37] di commented on #3552
5MB has been chosen because it is the default for https://github.com/atmos/camo, which we use to proxy images for Warehouse.

As far as I can tell, Github has no limit on image sizes at all.

Legacy PyPI also has no image size limit, because it doesn't use a proxy and links directly to the image instead.

While it might be as simple as changing the default file size for camo, I can't say with cert

[2018-04-05 16:12] contrepoint commented on #3517
Hi Nicole!
@ewdurbin and I just spent some time pairing on this and have a solution in mind that should work. However, we have problems testing it on an IE10 browser. Do you have suggestions for a testing workflow we can use? Thanks so much!
-Janice

[2018-04-05 18:01] contrepoint commented on #3517
@nlhkabu @ewdurbin perhaps you could could request free testing from [Crossbrowsertesting.com](https://crossbrowsertesting.com/open-source/request) for this project, since it is open source.

[2018-04-05 19:29] JakobGM commented on #3552
Thanks for the reply, @di!

I was not aware of the lack of a size restriction on legacy PyPI, my bad.

But it seems that GitHub has such a restriction, and it is set to ``10MB``.

- [This StackOverflow answer](https://stackoverflow.com/a/46701929) claims the limit to be ``10MB``.
- I have tested it myself a month ago. [This commit](https://github.com/JakobGM/astrality/commit/edc36b2708dc5991374090

[2018-04-05 19:36] di commented on #3552
Thanks for digging that up! In that case it seems reasonable to increase the limit to 10MB (as long as camo can handle it), we'll do some investigating and update this issue accordingly.

[2018-04-05 19:39] JakobGM commented on #3552
Great, I'm glad to help!

Seems that GitHub [also uses camo](https://help.github.com/articles/about-anonymized-image-urls/), so it should (at least in theory) work.

[2018-04-05 19:43] nlhkabu commented on #3517
hi @contrepoint - we are in the process of applying for an open source account with BrowserStack.  In the meantime, if you want to make a PR, I can test it with my personal account?

[2018-04-05 20:12] #3334 closed

[2018-04-05 20:40] ben-albrecht commented on #3411
From the [PyPI status page](https://status.python.org/):

Out of curiosity, what about MacOS/OS X is unique such that users only need to update pip?

[2018-04-05 20:42] alex commented on #3411
@ben-albrecht macOS users are impacted because the system Python linked against an ancient copy of OpenSSL that macOS shipped until 10.13. We workaround this in really recent versions of pip by using SecureTransport, which is the official Apple TLS library, and it supported TLS1.2 a long time ago.

[2018-04-05 21:06] ben-albrecht commented on #3411
@alex - Thanks for the info!

I have observed that easy_install is also vulnerable to this brownout on OS X. I assume this is because easy_install uses the system OpenSSL on OS X instead of SecureTransport like pip does - is that right?

[2018-04-05 21:11] alex commented on #3411
Yup, we recommend simply not using easy_install - it has many many
deficiencies besides this one, pip is the installer of the present and
future.

On Thu, Apr 5, 2018 at 5:06 PM, Ben Albrecht <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law.

[2018-04-05 22:52] di commented on #3221
I think this is unblocked now that #3554 has been merged.

[2018-04-06 01:12] chosak opened #3570 "Request trove classifier: Wagtail"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

`Framework :: Wagtail`

It'd be great to have versioned sub-classifiers, e.g. `Framework :: Wagtail :: 2.0`. I can provide a list of common versions if necessary.

## Why do you want to add this classifier?

[Wagtail](https://wagtail.io) is a popular CMS based on Django.

The Wagtail package ecosystem is h

[2018-04-06 11:44] dstufft commented on #3411
Brownout updated to April 6th, :00-:20, :30-:50 every hour.

2 more days left till this is complete!

[2018-04-06 13:19] nschloe opened #3572 "ENH: Make "Open Issues" a link"
Nice job on the GitHub statistics in the navbar!

![k](https://user-images.githubusercontent.com/181628/38423284-c441241e-39ad-11e8-93e5-bc1dbac7e284.png)

Perhaps the "Open Issues" field could be made a link to the open issues section on GitHub.

[2018-04-07 05:43] nlhkabu commented on #3519
Fixed by #3420.  Thanks @yeraydiazdiaz !

[2018-04-07 05:43] #3519 closed

[2018-04-07 05:45] nlhkabu commented on #3516
Tested - Fixed :tada:

[2018-04-07 05:45] #3516 closed

[2018-04-07 06:05] nlhkabu commented on #3514
Thanks @aalmazan.  Retested on my side and I am also no longer seeing the problem:

![screenshot from 2018-04-07 07-04-16](https://user-images.githubusercontent.com/3323703/38451975-f9ad5d28-3a31-11e8-9530-ce7c0a654014.png)

Will close and reopen if required !

[2018-04-07 06:05] #3514 closed

[2018-04-07 07:00] nlhkabu opened #3576 "Cannot tab to 'copy to clipboard'"
On the project detail page, we have a link where the user can copy the pip install command to their clipboard:

![screenshot from 2018-04-07 07-48-51](https://user-images.githubusercontent.com/3323703/38452258-4f46712e-3a38-11e8-9cb7-f23d7391a306.png)

The code for this is:

[code]

We need to ensure that a user using a keyboard *only* can access this functionality.

Right now we are using a `<a>`

[2018-04-07 10:57] whitequark opened #3578 ""no verified email addresses" error message generates wrong URL for pypi.org help"
I'm trying to upload a package using `python3 setup.py sdist upload`. It fails:
[code]

Sure. The document it links to says:

The Profile link is broken and leads to a 404 page.

Sure. Maybe I could reset my password instead. The help page says:

The reset password link is also broken and leads to a 404 page.

In addition there are no account management functions whatsoever linked from anywhere on

[2018-04-07 11:59] pradyunsg commented on #3578
Ah, the link to Profile should be to pypi.org, not upload.pypi.org.

[2018-04-07 12:07] whitequark commented on #3578
That worked, thanks!

[2018-04-07 12:54] di commented on #3578
Looks like this is a bug in how we're generating URLs in our error messages. Thanks for the report!

[2018-04-07 12:58] whitequark commented on #3578
I think the URL in the error is fine? At least, it correctly leads me to the help page. It's the others that return 404.

[2018-04-07 13:06] di commented on #3578
The help page is actually at https://pypi.org/help/, the upload domain shouldn't be displaying it.

[2018-04-08 04:06] brainwane commented on #3491
@saxenanurag how is this going?

[2018-04-08 08:13] yuvalreches commented on #3536
@brainwane you are correct, this is part of the JFrog efforts of #3275 :)

[2018-04-08 12:44] yuvalreches commented on #3436
Hey @brainwane
Looking at your roadmap and this thread, do I understand correctly that the old XML-RPC API will remain operational in the near future under pypi.org as well?

Currently when performing `pip search <packageName>` under pypi.python.org we get _HTTP 302_ and being redirected to pypi.python.org/pypi

However when performing the same (pip search) under pypi.org we get _HTTP error 404 wh

[2018-04-08 15:03] hugovk opened #3585 "Color Markdown code blocks"
It's great PyPI now accepts Markdown for descriptions! Thank you!

It would be nice if it also coloured code blocks, like GitHub does, and like PyPI does for RST.

## PyPI RST

https://pypi.org/project/pytest/

![image](https://user-images.githubusercontent.com/1324225/38469003-b241dd80-3b56-11e8-9f8f-73ae3172c60b.png)

https://raw.githubusercontent.com/pytest-dev/pytest/master/README.rst

![image

[2018-04-08 15:05] waseem18 commented on #3486
I've been working on this issue since a couple of days and this is what I came up with. This is an initial version and can be improved in terms of both UX/UI and ES queries. After some more changes, I'll put in a WIP PR.

![ezgif-3-70ea062738](https://user-images.githubusercontent.com/5843007/38469010-c7bc8c36-3b6b-11e8-991e-232cbdaf95c1.gif)

@nlhkabu Could you please help me with the UX? Thanks

[2018-04-08 15:09] di commented on #3585
Thanks for the report! This is a duplicate of https://github.com/pypa/readme_renderer/issues/75 (and will be fixed soon by https://github.com/pypa/readme_renderer/pull/82)

[2018-04-08 15:09] #3585 closed

[2018-04-08 15:51] dstufft commented on #3411
Brownout has been updated to a blackout, all TLSv1.0 and TLSv1.1 access to PyPI now results in a HTTP 403 error:

[code]

In 2 more days, we will disable TLSv1.0 and TLSv1.1 completely at the TLS handshake level.

[2018-04-08 15:53] di commented on #3436
@yuvalreches:

Yes, the XML-RPC API will remain for now.

Correct, the 302 redirect from `https://pypi.python.org/` to `https://pypi.python.org/pypi` doesn't exist for `pypi.org`.

I'm not sure exactly what index URL you're using here, but you should be using `https://pypi.org/pypi`:
[code]

[2018-04-08 23:15] saxenanurag commented on #3491
Hi @brainwane
Been trying to work on this. Unfortunately, I am getting this error:

[code]
Any thoughts on how to fix this?

[2018-04-09 01:41] juancarlospaco opened #3587 "Add PYZ Upload"
- Add the possibility to Upload `*.PYZ`, made using std lib `zipapp.create_archive()`.

[2018-04-09 02:50] saxenanurag commented on #3491
Nevermind. I ran `docker prune -a` to delete everything and ran `make build`, `make initdb` and `make serve` again and my local site is working now. 😄

[2018-04-09 05:30] nlhkabu commented on #3486
hi @waseem18 - this is awesome!

I think for this feature we should very heavily model ourselves on Google auto complete.  One thing they do which is cool is highlight the section of the search term which is unmatched:

Example:

![screenshot from 2018-04-09 06-24-53](https://user-images.githubusercontent.com/3323703/38480720-03005144-3bbf-11e8-871b-e4a38bdeb7e0.png)

Would something like this be

[2018-04-09 05:41] pradyunsg commented on #3486
I feel using up and down arrow keys would be more intuitive (that's what Google does). :)

[2018-04-09 05:58] waseem18 commented on #3486
@nlhkabu Highlighting the matched or unmatched terms is really cool. I got an idea on how to implement this and will put it in my PR today.

And as @pradyunsg pointed it would be more intuitive to use up and down arrow keys rather than tabs.

[2018-04-09 06:23] #3572 closed, assigned to nobody

[2018-04-09 09:05] nschloe commented on #3572
Perfect, thank you!

[2018-04-09 09:23] nschloe opened #3588 "Add "Desktop version" link to mobile page"
The mobile pypi.org page does not provide the same capabilities as the desktop page. For example, no GitHub statistic in the nav bar.
![p](https://user-images.githubusercontent.com/181628/38490000-2eb0b148-3be8-11e8-93a3-43cb30eba048.jpg)
That's fine though. Sometimes, it may be useful to access the full information on the desktop page even when on mobile. For this, GitHub adds a "Desktop version"

[2018-04-09 10:37] ncoghlan commented on #3411
Is there a good end-user reference on exactly what they need to cope with the TLS v1.0/v1.1 support? https://pyfound.blogspot.com.au/2017/01/time-to-upgrade-your-python-tls-v12.html  is the best I found, and that's a little dated now.

Context is https://github.com/pypa/packaging-problems/issues/137, where I'm not sure what's going on with Mac OS X, and neither the PSF blog post, nor the Python 2.

[2018-04-09 10:49] dstufft commented on #3411
I think all of the Python.org installers for 2.7 are currently affected. Actually uploading didn't occur to me at all, it would be reasonable to raise an issue with Twine to see if we can get a quick release out that enables SecureTransport on macOS.

We don't have a great end user guide, but effectively they need a Python that links against a new enough version of OpenSSL (``python -c "import ssl

[2018-04-09 10:54] dstufft commented on #3411
Ned Deily went into some pretty fantastic detail (although it was pip specific, but pip specific really just means it has the above snippet or not) in https://github.com/pypa/warehouse/issues/3293#issuecomment-378468534.

[2018-04-09 11:39] dstufft opened #3590 "Provide feedback to users about email delivery issues"
Once https://github.com/pypa/warehouse/pull/3580 is merged, Warehouse will begin tracking delivery issues for email addresses we have on file, and can ultimately un-verify a particular email address due to those reasons. We'll want to expose those reasons to end users so that they understand what has occurred to their email addresses on file.

This gives us the following states an email address ca

[2018-04-09 11:51] ncoghlan commented on #3411
Ah, I thought I'd seen something from @brainwane about this: https://mail.python.org/pipermail/python-announce-list/2018-April/011885.html

For whatever reason, Google still isn't indexing mail.python.org very well, even highly relevant posts often don't show up in search results :(

[2018-04-09 11:52] nlhkabu opened #3591 "Change 'statistics' text based on whether it is the logged in user"
Right now, we have the following text on the user profile page:

![screenshot from 2018-04-09 12-49-03](https://user-images.githubusercontent.com/3323703/38496203-855bca30-3bf4-11e8-8643-3655e76c7c9b.png)

This text shows whether the user being viewed is logged in or not.

What would be better:

1. *If* the logged in user is viewing their *own* public profile, show:

[code]

2. *Else* (the user is

[2018-04-09 11:54] dstufft commented on #3591
This will be a tad bit tricky, since we are annoyingly strict about access to the session when rendering pages to help in caching. It will either need to be rendered client side, or we'll need to use a client side include for it.

[2018-04-09 11:57] nlhkabu commented on #3591
@dstufft - we are already using an include for the 'edit' account button here:
https://github.com/pypa/warehouse/blob/master/warehouse/templates/accounts/profile.html#L35

So, I think it might just be a case of extending (and perhaps renaming?) this file:

https://github.com/pypa/warehouse/blob/master/warehouse/templates/includes/accounts/edit-profile-button.html

[2018-04-09 11:58] dstufft commented on #3591
@nlhkabu That would work yea, though it'll shift the HTML around a bit since the csi just replaces the content where the csi itself is, it can't replace the content down further.

[2018-04-09 12:46] dr-leo commented on #2675
I firmly believe this issue should be re-opened because
1. Warehouse is the only Gatekeeper capable of preventing PyPI from being polluted by faulty wheels (with two sets of metadata) generated by Buggy Wheel tool and uploaded by twine versions that do not perform the integrity checks.
2. Even if twine and/or Wheel were fixed, old versions would still potentially pollute PyPI.

See the closed issu

[2018-04-09 13:44] di commented on #2675
I think this is going to be more than "a few lines" because Warehouse does not do any introspection of the distributions it receives, it depends on the introspection that Twine has done and has provided as metadata along with the upload.

I think reproducing the issue is the first step here, though. I am not aware of any other similar occurrences, so fixing any original bug should probably be enou

[2018-04-09 14:09] yuvalreches commented on #3436
Hey @di

I get your point, but why redirect to an endpoint that doesn't exist?

Would it be possible to have the same redirect as `https://pypi.python.org/` has for the time being (until XML-RPC v1 is deprecated)?

Meaning redirect from `https://pypi.org/` to `https://pypi.org/pypi` instead of `https://pypi.org/RPC2`

It would help us a lot

[2018-04-09 14:44] yuvalreches commented on #3436
Sorry, my bad.
You are right - the redirect to RPC2 happens upon `pip search <package> -i https://pypi.org` instead of using `pip search ... -i pypi.org/pypi`
It does look strange to me to have a redirect to a page that doesn't exist.

I'll explain our scenario:
JFrog Artifactory performs the search to PyPI in case a repository is pointing at it.
The registry url is configured by default (for the

[2018-04-09 19:31] nlhkabu commented on #3167
To audit:

- [ ] Templates (`/warehouse/templates`)
- [ ] PyPI theme (I will need to make this PR as it is on a separate repository)
- [ ] All "flash" messages, e.g. `request.session.flash` and corresponding tests
- [ ] All error messages, e.g. https://github.com/pypa/warehouse/blob/master/warehouse/manage/forms.py#L30

[2018-04-09 20:17] #3576 closed

[2018-04-09 23:41] di commented on #3436
@yuvalreches After chatting the other maintainers, we realized that the attempt to use `/RPC2` is standard behavior for most XML-RPC clients when the root URL does not support XML-RPC. We decided to add this endpoint to Warehouse to duplicate the `/pypi` endpoint, which should fix your issues once merged (#3594).

However, Artifactory should probably still attempt to use the correct XML-RPC endpoi

[2018-04-10 04:01] dstufft commented on #3411
Email sent to Fastly to get TLSv1.0 and TLSv1.1 disabled, will update and close when they've done that.

[2018-04-10 04:51] di commented on #3221
Temporarily reopened due to #3598.

[2018-04-10 05:12] brainwane commented on #3578
This affected another user: https://github.com/pypa/packaging-problems/issues/137#issuecomment-379971088

[2018-04-10 05:15] brainwane commented on #920
@MarkMangoba is this now complete?

[2018-04-10 05:27] brainwane commented on #1238
@MarkMangoba I presume we are still waiting for Mozilla, and I presume the sponsorship we want to mention is the MOSS award?

@nlhkabu Some resources we could maybe use as placeholders while we wait for the final info from Mozilla:

* https://wiki.mozilla.org/MOSS/Talking_About_Your_MOSS_Award
* https://www.mozilla.org/en-US/styleguide/

[2018-04-10 05:30] brainwane commented on #3491
Great! @saxenanurag will we see a work-in-progress PR from you soon? :)

[2018-04-10 05:36] brainwane commented on #3587
Thanks for your suggestion, @juancarlospaco! I don't know what work would be necessary in order for the Python Package Index to support [`zipapp` archives](https://docs.python.org/3.5/library/zipapp.html) alongside source distributions and wheels -- the [distutils-sig mailing list](https://mail.python.org/mailman/listinfo/distutils-sig) might be a good place to discuss what other parts of the tool

[2018-04-10 05:49] brainwane commented on #3588
In a sense, this is a regression, since legacy PyPI on mobile showed the user all the functionality of the desktop version. But I'll defer to @nlhkabu on whether this is a blocker for shutting down legacy, and I am inclined to say it's not.

@yeraydiazdiaz is this something you could advise on?

[2018-04-10 05:50] brainwane commented on #3588
And thanks for filing this, @nschloe! The need for a "desktop version" link has bothered me and I think it's bothered @ewdurbin too, and I'm glad you filed it since we hadn't done so yet!

[2018-04-10 06:15] nlhkabu commented on #3588
We're using CSS media queries to restyle the site on smaller resolutions, so it looks like we'll have to manually specify the viewport width to do this:

https://stackoverflow.com/questions/36030080/how-to-make-a-responsive-website-render-the-desktop-version-on-a-mobile

[2018-04-10 06:24] brainwane commented on #3490
@ncoghlan my recollection is that you wanted this added to the migration guide but I can't remember where you said that - perhaps in https://github.com/pypa/packaging-problems/issues/ someplace?

[2018-04-10 06:26] di commented on #3490
Also, any user-agent filtering is going to be irrelevant as soon as we launch (which is shortly) so this information will quickly become out of date.

[2018-04-10 06:57] nlhkabu commented on #3588
I've added a WIP PR: https://github.com/pypa/warehouse/pull/3602
This implements the HTML and CSS only.  I will need help to add the appropriate JavaScript.

[2018-04-10 08:05] cztomsik opened #3603 "xmlrpc serial"
Hey, I've noticed you are going to deprecate xmlrpc entirely, is there any other way to obtain delta of package serials? In the sense of being able which packages has been changed. I'm in the process of adding pypi to http://searchlibs.com and I thought it would be much better to download only changed packages metadata rather than doing dumb never-ending polling.

Also, I have one implementation-s

[2018-04-10 09:57] webknjaz opened #3604 "Pull github url from additional sources"
With regard to #2163 and #3583: I really liked this feature set implemented :tada:

Still, there's a room for improvement:
[`project_urls` dict argument of `setuptools.setup()`](http://setuptools.readthedocs.io/en/latest/setuptools.html) allows adding a list of additional urls. And some distributions have their `homepage=` set to the project's website, *but still supply extra info using `project_u

[2018-04-10 10:31] yuvalreches commented on #3436
Thank you @di

Currently we want to make sure Artifactory instances won't be broken due to the changes implemented in Warehouse, and the `/pypi` redirect will assure that :)

We sure have that in our roadmap.
Also please feel free to reach out again when a RPC2 beta is operational so we can implement the changes needed in Artifactory.

[2018-04-10 10:42] ncoghlan commented on #3490
It was in a Packaging WG thread - I'd like the user agent filtering to be public, so even folks intermittently accessing legacy PyPI know they can ask for a couple of weeks grace before the old site is shut down completely. (Plus it provides some additional transparency around some of the work happening to help provide a smooth migration)

[2018-04-10 11:53] di commented on #3436
I think we are having communication issues. Let me be clear: there will not be a redirect from `/` to `/pypi` in Warehouse.

What we have added is an endpoint at `/RPC2` that your client should be able to use. We have not added any redirects.

It is live now.

[2018-04-10 11:56] di commented on #3604
@webknjaz We already do this, is there some reason why you think this isn't currently happening?

[2018-04-10 12:18] yuvalreches commented on #3436
Artifactory's code only relies on the `Location` header that is returned upon `POST pypi.org` (don't mind if its /pypi or /rpc2)

Would it be possible to change the response of such requests?
I see it still returns `HTTP/2 405` instead of `HTTP/2 302 location: https://pypi.org/rpc2`

Such redirect (as exists on pypi.python.org, however to /pypi) will assure nothing will break on our end.

[2018-04-10 12:25] webknjaz commented on #3604
But yes, from PR #2163 it seems like it should work.

[2018-04-10 12:28] di commented on #3604
@webknjaz I see statistics on that project page. Since this happens on the client-side, it's possible that your IP has used up all it's allocated requests to the Github API. Could you try from a different IP? Your browser network console might show some details as well.

[2018-04-10 13:11] saxenanurag commented on #3491
Yes @brainwane

[2018-04-10 16:57] brainwane commented on #3587
@juancarlospaco I need to correct you -- right now, a person can upload a wheel or a source distribution (sdist) to PyPI. Please see https://packaging.python.org/tutorials/distributing-packages/#packaging-your-project for more details.

I don't know whether PyPI's maintainers will choose to implement `.pyz` support at all, or anytime soon (we need to discuss it, so I've labelled this issue with "n

[2018-04-10 17:00] brainwane commented on #3587
I'm grateful that you brought this idea to our attention -- I look forward to getting more info. :)

[2018-04-10 17:11] juancarlospaco commented on #3587
About Size is kinda `*.pyz` == `*.zip` of the sdist, its a Zip anyways.

[2018-04-10 17:25] di commented on #3603
@cztomsik Thanks for the report. Please be assured that we won't deprecate XML-RPC until we have added other APIs that fulfill the needs of current XML-RPC users.

I'm not 100% sure what you're trying to do here. PyPI release metadata is now immutable and will not change for a given release. The only thing that would change is a project adding/removing a release, adding/removing files for a releas

[2018-04-10 17:26] #3578 closed

[2018-04-10 20:15] di commented on #3552
This has been done! The limit is now 10MB. Thanks @JakobGM.

[2018-04-10 20:15] #3552 closed

[2018-04-10 20:25] nlhkabu commented on #3167
A few places in the templates we seem to have missed:

![screenshot from 2018-04-10 13-40-16](https://user-images.githubusercontent.com/3323703/38581523-0dc24b22-3d05-11e8-9ccb-d0f09b392629.png)
![screenshot from 2018-04-10 13-40-20](https://user-images.githubusercontent.com/3323703/38581524-0de3777a-3d05-11e8-9b20-61dd710b9af2.png)
![screenshot from 2018-04-10 13-45-45](https://user-images.github

[2018-04-10 21:09] hugovk commented on #3167
See PR https://github.com/pypa/warehouse/pull/3609.

[2018-04-10 21:26] #3490 closed

[2018-04-10 21:58] dstufft commented on #3411
This is done now.

[code]

[2018-04-10 21:58] #3411 closed

[2018-04-10 22:40] williamjmorenor opened #3612 "Hide version number in the delete version confirmation?"
Hello currently wharehouse show a confirmation step before to delete a version of a project and show the version to delete.

![image](https://user-images.githubusercontent.com/3522386/38587140-a6f658d8-3cdd-11e8-8a6f-78b295698d66.png)

In the same window it ask to the user to enter the version, github make something similar before delete a repo but do not show the repo name.

Hide the version numb

[2018-04-11 08:50] icarito opened #3621 "Not getting account verification emails"
Hi, I'm trying to publish my first pypi package and I'm getting errors that my email isn't verified - but I'm not getting any verification emails even clicking for a resend (no error, it says it was sent) but it never arrives in my mailbox (or spam folder)

[2018-04-11 09:10] deadc0de6 opened #3622 "package not available on https://pypi.org"
I recently published a [tool](https://github.com/deadc0de6/cploy) on pypi and although it is available under <https://pypi.python.org/pypi/cploy>, it doesn't appear in searches on <https://pypi.org/search/?q=cploy>.

I'm however able to see it when logged in on <https://pypi.org/manage/projects/> under *Your projects*.

Do I need to do any additional process for it to get indexed and to appear in

[2018-04-11 10:02] Humbedooh commented on #3621
I can corroborate this - I've tried with multiple addresses, none of them got an email so far.

[2018-04-11 10:05] ewdurbin commented on #3621
@icarito @Humbedooh Sorry for the disruption, a reconfiguration in our mail sending temporarily broke email sending from 2018-04-11T07:00:00Z til 2018-04-11T10:00:00Z

Emails queued during this time will be retried and should send in the next 30 minutes or so. If they do are not sent, please let us know.

[2018-04-11 10:05] #3621 closed

[2018-04-11 10:06] ewdurbin commented on #3622
Your project is visible at https://pypi.org/pypi/cploy, but our search indexing is currently way behind due to a bug. We're working to resolve this!

[2018-04-11 10:24] takluyver commented on #2154
Heads up that [phantomjs development has been suspended](https://github.com/ariya/phantomjs/issues/15344). Both Firefox and Chrome now have headless modes that can be driven from Selenium for testing, though.

[2018-04-11 11:06] deadc0de6 commented on #3622
oh ok, thanks for the info!

[2018-04-11 11:06] #3622 closed

[2018-04-11 11:20] brainwane opened #3623 "mobile app"
Once #284 is well on its way, I imagine there might be some users who'd like a dedicated PyPI mobile app (maybe based on BeeWare)? @jaraco as a maintainer of scores of PyPI projects, is this something you'd like? An app would let the user stay logged in (unlike a lot of web browser experiences) and enable push notifications.

The mobile-optimized web version is great and I don't want to take away

[2018-04-11 12:24] stromnet commented on #3293
Thank you all!

Downloading & installing pip manually as described in https://github.com/pypa/warehouse/issues/3293#issuecomment-378468534 solved the issue. As there is a proper solution for this, I'll close this ticket!

[2018-04-11 12:24] #3293 closed

[2018-04-11 12:25] jaraco commented on #3623
I could see how it would be nice to get push notifications for new releases or other events, though I’d personally be happy with IRC or Slack notifications as those also generate push notifications through the relevant app.

I think overall there are other wishes I’d opt for before a mobile app.

[2018-04-11 12:59] cztomsik commented on #3603
Cool, thx for your response. And it's not very frequent, I just need to know if there were any new releases.

[2018-04-11 13:02] di commented on #3603
Is it possible the RSS feeds would work for you? http://warehouse.readthedocs.io/api-reference/feeds/

[2018-04-11 13:25] ncoghlan commented on #3490
Thanks!

[2018-04-11 16:42] larsks opened #3626 "RFE: display date in project list"
The project list in the Warehouse allows sorting projects by "Date last updated". Unfortunately, that date isn't displayed in the list itself, which reduces the utility of the sorting. It would be nice to differentiate between "these projects have all been updated recently" vs "the most recent project was udpated last year and the rest more than three years ago".  This helps filter out stale resul

[2018-04-11 16:47] fogine commented on #3621
Still not getting any account veryfication emails from https://test.pypi.org.

I got account veryfication email from live: https://pypi.org.

[2018-04-11 16:50] ewdurbin commented on #3621
TestPyPI's email configuration was not fixed at the same time as PyPI's! Sorry for that, should be resolved shortly.

[2018-04-11 17:01] nlhkabu commented on #3612
hi @williamjmorenor - I ran this scenario in user testing, and all participants liked that the release number was there.  Some even copy pasted it.  It is particularly useful if the version naming convention is unusual.

In this case, I don't think that the action is so destructive that we want to make it frustrating for the user to delete the version.  The model should be enough to prevent mistak

[2018-04-11 17:03] williamjmorenor commented on #3612
OK, make sence, thanks.

[2018-04-11 17:04] #3612 closed

[2018-04-11 19:23] di opened #3628 "Add ability to deprecate classifiers"
A deprecated classifier should still exist on a release, but it shouldn't be possible to make new distributions with a deprecated classifier, and attempting to do so should give a meaningful error message.

Possibly blocked on #1300, so we have a place to direct users attempting to use a deprecated classifier.

[2018-04-11 19:27] di commented on #2996
Per https://github.com/pypa/pypi-legacy/issues/91 we should also add:
[code]
And deprecate:
[code]

[2018-04-11 20:43] clbarnes opened #3629 "Code blocks in markdown-encoded long_description do not render double quotes"
e.g. docstrings at https://pypi.org/project/tempcase/0.1.0/

I'm viewing from Ubuntu 16.04, Firefox 59.0.2

![quote_fail](https://user-images.githubusercontent.com/8995328/38642158-3b600b1c-3da7-11e8-8268-0f379b69bd3c.png)

[2018-04-11 21:22] bskinn opened #3630 "Unlike legacy PyPI, Warehouse does not import /README.rst if no long_description is provided"
This is sort of related to #790 and #3473, but different.

IIRC, if you uploaded a file to legacy PyPI that was built with no `long_description` provided to `setup()`, it would automatically search for `/README.rst` and use its contents for `long_description` instead. I believe this is what happened for, e.g., [v1.0 of my `sphobjinv` package](https://pypi.org/project/sphobjinv/1.0/).

However, whe

[2018-04-11 21:25] mayeut opened #3631 "Search results not showing latest release of a package"
https://pypi.org/search/?q=pybase64 shows the expected package as first result but with 0.2.1 release instead of latest 0.4.0
https://pypi.python.org/pypi?%3Aaction=search&term=pybase64&submit=search shows the correct release.

The same for another package:
https://pypi.org/search/?q=python-miio shows 0.3.8
https://pypi.python.org/pypi?%3Aaction=search&term=python-miio&submit=search shows 0.3.9

[2018-04-11 22:15] di commented on #3631
The search index hasn't been updated in a while due to some performance issues, see https://github.com/pypa/warehouse/pull/3470

[2018-04-11 23:17] dstufft opened #3632 "Get ~all users to verify email addresses"
We have a problem with a bit of our data, namely that due to historical reasons we have a fair amount of users in the database that do not have a verified primary email address. The side effect of this is that we're currently sending emails to email addresses that we have not had verified. This is a bad situation to be in, because in order to keep our bounce/spam rate low, we should be confirming

[2018-04-12 01:02] alex opened #3634 "Replace zxcvbn-python with zxcvbn"
Per https://pypi.org/project/zxcvbn-python/, the package has been renamed.

[2018-04-12 01:09] reaperhulk commented on #3632
This issue made me check my own account, where I found out I was not verified. However, I rarely log into pypi except via CLI tooling like `twine` to upload packages. I have no idea if I'm a typical user, but ideally there would be some way to communicate the need to confirm an email address to users using that path as well.

[2018-04-12 01:10] dstufft commented on #3632
@reaperhulk Yea, the step (2) would basically do that, although via making ``twine upload`` fail until you verified rather than by printing a nice message.

[2018-04-12 01:11] dstufft commented on #3632
To be clear, you'd get an error message that told you why it failed, but it wouldn't be "oh it worked, but also here's a thing you should do".

[2018-04-12 05:52] dstufft commented on #920
Talked to Mark, this is done.

[2018-04-12 05:52] #920 closed

[2018-04-12 05:57] dstufft commented on #3176
This is done now with https://github.com/pypa/warehouse/pull/3580.

[2018-04-12 05:57] #3176 closed

[2018-04-12 09:29] kpfleming commented on #201
Dreaming of an amazing future, as an organization owner/manager, I'd absolutely love the ability to delegate authentication for my organization's users to our own identity/auth provider via SAML. In fact if Warehouse supported "scoped users" (so I can have a standalone user account 'kpfleming' and also an org-managed user account 'kpfleming@org'), that would be phenomenal.