[2018-02-12 20:02] brainwane commented on #1855
In our [meeting today](https://wiki.python.org/psf/PackagingWG/2018-02-12-Warehouse) we decided this nice-to-have feature belongs in a future milestone.

[2018-02-12 20:09] jakirkham commented on #360
Thanks for the update. No worries.

Completely agree! Would be great to see `pypi.org` become stable. Thanks for working on it. :)

[2018-02-12 20:24] njsmith commented on #2881
Not unless we make some terrible mistakes :-)

Thank you!

[2018-02-12 20:52] brainwane commented on #1886
@waseem18 I saw you're working on this? Thanks! Hope you'll join us [in Freenode IRC in `#pypa-dev`](https://webchat.freenode.net/?channels=%23pypa-dev) if you have any questions.

[2018-02-12 20:55] ralphwetzel commented on #2788
@brainwane Yes, it was a 500.

[2018-02-12 22:10] jayfk commented on #194
Yep! Thanks for pointing that out @brainwane!

[2018-02-12 22:41] brainwane commented on #2794
@lgh2 just chatted with Ernest and got some notes that I'll be turning into a PR. Here are those notes for reference -- they are very rough because I requested very quick notes, so that's my fault, not hers:

# The Warehouse codebase

Warehouse uses the Pyramid web framework, the SQLAlchemy ORM, and Postgres for its database. Warehouse's front end uses Jinja2 templates.

The application exists wit

[2018-02-12 23:19] brainwane opened #2929 "Add API explorer tool"
For the existing API endpoints, we could use https://readme.io/ or something like it to provide an API explorer tool -- an in-browser sandbox so a developer can interactively try out the provided endpoints and methods.

[2018-02-12 23:31] brainwane opened #2930 "Explain/expand list of current API endpoints/feeds"
https://warehouse.readthedocs.io/api-reference/ (built from `docs/api-reference/`) should:

* explain, with a little bit more detail, why we call the Simple Project API part of the "legacy API"
* point to pypi.org, not pypi.python.org, in code examples
* mention our RSS feed(s)
* mention any other endpoints we currently offer, such as the JSON feed (#1721 will do part of this)

[2018-02-12 23:38] brainwane opened #2931 "Document API policies"
Add short explanations to `docs/api-reference/` for:

* request and rate limits
* API etiquette and ways to be a good neighbor (e.g., consider running your own organizational mirror instead, use a descriptive User-Agent header with your contact info in it, normalize your queries (how?) to optimize cache hits)
* what sort of caching to expect

[2018-02-12 23:43] brainwane commented on #2930
I decided that we ought to do this by End User MVP; *accurately listing* the projects endpoint, the releases endpoint, and other endpoints and feeds we currently serve strikes me as MVP for our end users.

[2018-02-12 23:43] brainwane commented on #2913
Sub-issues:

- #2930 Explain/expand list of current API endpoints/feeds
- https://github.com/pypa/warehouse/issues/2794#issuecomment-365097451 Explain, in application architecture overview, what parts of the application produce the APIs
- #2931 Document API policies
- #2929 Add API explorer tool

[2018-02-13 04:35] waseem18 commented on #1886
@brainwane Yeah I've started working on this an will put a WIP PR soon.

[2018-02-13 15:28] brainwane commented on #1453
Per [Heidi Waterhouse's overview](http://www.heidiwaterhouse.com/2016/06/17/the-seven-righteous-fights-localization/), there are some prerequisite steps we ought to do even if we don't have time right now to gather volunteer translations via Transifex or [TranslateWiki](https://translatewiki.net/) or fully implement a localization tool like `l20n`.

* Figure out how to use Pyramid's existing local

[2018-02-13 15:50] di commented on #1453
The actual marking of strings for translation can be done pretty easily with [`pyramid.i18n`](https://docs.pylonsproject.org/projects/pyramid/en/latest/api/i18n.html) which provides a `request.localizer.translate` function, and [`pyramid-jinja2`](https://pypi.org/project/pyramid_jinja2/) which provides the same function for our Jinja2 templates.

The marked strings can then be extracted and compil

[2018-02-13 17:16] di commented on #2882
Fixed in #2919.

[2018-02-13 17:20] #2882 closed

[2018-02-13 19:07] emesik commented on #2859
It seems like that user's account has been cleaned from packages except those that bear names of cryptocurrencies. Actually, those are meaningful ones, and they stay blocked. Why?

I understand that the first user who claims a package name, gets it. However, I used to think that PyPi is a place where code is being published, not just a competition of who's the first to get an interesting name for

[2018-02-13 19:14] dstufft commented on #1453
This is a large part of why when I disabled localization, I ripped it out completely. I also asked a number of people and the responses I got were mixed, ranging from "absolutely, translate this it will help non-native english speakers use PyPI" to "It would be nice, but unless you've got the infrastructure to ensure that they stay up to date, and the bulk of the messages stay translated, it'll pr

[2018-02-13 20:50] di opened #2935 "Reach out to 3rd party services about new pypi.org domain"
We should reach out to any 3rd party service that depends on the `pypi.python.org` domain and encourage them to update to `pypi.org`.

A list of services that currently depend on `pypi.python.org`:

- [x] https://badge.fury.io/for/py (clicking the badge directs the user to `pypi.python.org`)
- [x] https://pyup.io/ (PRs currently link to `pypi.python.org`)
- [x] [TravisCI](https://docs.travis-ci.co

[2018-02-13 21:59] di opened #2936 "Redirect from login page if user is logged in"
Currently the ` accounts.login` view will still render even if there's already user logged in.

Since it doesn't make much sense for a user to log in twice, this view should check if there is a logged in user, and redirect to the post-login view if there is. (See #2882 for which view this should be).

---

**Good First Issue**: This issue is good for first time contributors. If there is not a corr

[2018-02-13 23:19] di commented on #2832
There's a branch for this here: https://github.com/pypa/warehouse/tree/delete-account, but it's on top of branches for #2830 and #2831, which should get shipped first.

[2018-02-14 06:32] #2824 closed

[2018-02-14 07:11] nlhkabu commented on #1453
I agree with Donald on this one - I think the first step here is to set up the social infrastructure to support i18n.  IMO, we should look for an "owner" for each language - someone who could either edit/review translations, or write them. Each owner should understand that they are committing to the project and if they want to walk away, they will need to find someone to handover to (of course, we

[2018-02-14 08:25] gsb-eng commented on #2887
@RafRaf @di Why not "Request Password Reset" accept username or email? Once the user logged in, they can see the account information.

[2018-02-14 08:37] gsb-eng commented on #2877
@di Any progress on this?  If not, Can I pick this?

[2018-02-14 11:20] nlhkabu commented on #1355
We now have a CSS modal in our codebase, closing this.

[2018-02-14 11:20] #1355 closed

[2018-02-14 11:30] brainwane commented on #1355
@controversial I'm sorry for the slow response!

The folks working on Warehouse have recently gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap), and so we're in many cases belatedly replying to older

[2018-02-14 11:35] brainwane commented on #1354
@Volcyy Thanks for #2917! if you're interested in working on more of Warehouse, could you take a look at this issue? We now have a CSS modal - you can see examples on the "manage project" pages. And you can ping @nlhkabu with any questions or for more detail. You can also ask questions in [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), or on the [pypa-dev mailing lis

[2018-02-14 11:53] nlhkabu commented on #1327
I think this is a duplicate of #2871

[2018-02-14 11:54] #1327 closed

[2018-02-14 17:57] di commented on #2065
Branch for this is here: https://github.com/pypa/warehouse/tree/verify-email-on-registration, blocked on merging #2898.

[2018-02-14 19:15] lukesneeringer commented on #996
Note: I am planning on taking on #994 and this (in that order). See more discussion in #994.

[2018-02-14 19:26] hartwork opened #2940 "Blocking of stdlib names has holes?"
Hi!

Pull request #2409 introduced a blacklist of stdlib names to counter to protect against [pytosquatting](https://www.pytosquatting.org/), aiming to plug #2151.

I found a hole with it. While names like `xmlrpc.client` and `encodings.idna` are blocked because they appear in some `stdlib-list` list, some parent packages like `encodings` are not in their list and do not get blocked by warehouse a

[2018-02-14 19:30] ewdurbin commented on #2940
@hartwork thanks for the report. interesting work around :)

i'm going to get a fix in at the warehouse level, then pull down the registered packages.

in the future, PyPI does have a security policy published at https://pypi.org/security/ and https://pypi.python.org/security for issues relating to the security of our service or our users.

[2018-02-14 19:51] Volcyy commented on #1354
@brainwane Sure, I'd love to work more on this. I'll look into it!

[2018-02-14 21:16] #2940 closed

[2018-02-14 21:24] hartwork commented on #2940
Nice! Can I keep the `encodings` and/or `xmlrpc` package for a bit? I wanted to show `pip install encodings` live to a co-worker tomorrow and see his face. This is what you'd see:
[code]

[2018-02-14 21:26] ewdurbin commented on #2940
@hartwork no I'm sorry, these packages have already been blocked and deleted.

We probably could have negotiated something if this were under less pressure by being responsibly disclosed.

[2018-02-14 21:47] lgh2 opened #2943 "`make clean` fails"
It appears that `make clean` fails when run on the Warehouse repository on my machine.

Here is the error message I got:
[code]

[2018-02-14 22:02] ewdurbin commented on #2940
I reacted a bit swiftly in locking this issue. I want to make clear that we value and appreciate reports like these, but would prefer for them to be disclosed per our [security policy](https://pypi.org/security/) (also published [here](https://pypi.python.org/security)).

The realistic outcomes of situations like these can be costly (in time) for the maintainers of the project. Disseminating this

[2018-02-14 22:39] di commented on #2943
@lgh2 what does `ls -lah warehouse/static` give you when run from the same location?

[2018-02-14 22:51] Volcyy commented on #1354
@nlhkabu Alright, I could use some clarification on this:
What's supposed to happen is that the license name, e.g. `BSD License` here:
![bildschirmfoto 2018-02-14 um 22 45 40](https://user-images.githubusercontent.com/22679924/36230155-c0f4fdcc-11d9-11e8-9a1c-c2b2608b1b47.png)
below the _Meta_ section on the left side of the project view is clickable and launches a modal with the full license text

[2018-02-14 23:12] lgh2 commented on #2943
This is the output:
[code]

[2018-02-14 23:13] di commented on #2943
@lgh2 That's the output of `ls -lah`, can you try `ls -lah warehouse/static`?

[2018-02-15 00:16] lgh2 commented on #2943
I apologize! Here it is:
[code]

[2018-02-15 03:24] waseem18 commented on #1886
**Cause of this bug** :

In `xmlrpc.py` line number 86 and 88 we're using `match query` to query elasticsearch.

In `match query` what happens is when the value of the given field has space(s) it tokenizes the given value thereby searching for each of the split tokens.

`"query": {
        "match" : {
            "summary" : "fix code"
        }
    }`

Above is a `match query` with space in the v

[2018-02-15 17:11] di commented on #2943
@lgh2 It's a little odd that a) you have a dist directory here and b) that it's owned by `root`. Did you `sudo gulp dist` or something similar at one point? (Shouldn't be necessary, with or without `sudo`).

You should be able to `sudo rm -rf warehouse/static/dist` to remove that directory, and then `make clean` and `make purge` should work as expected.

[2018-02-15 17:23] di commented on #1886
@waseem18  Using the `term` query makes sense, especially considering the API allows for multiple strings to be provided.

Any reason why we wouldn't just use it for queries without whitespace as well? Seems like it wouldn't make much difference if the user is just searching for a single word.

For #2850, it seems like we might actually want to do [Phrase Matching](https://www.elastic.co/guide/en/

[2018-02-15 17:26] waseem18 commented on #1886
Good catch @di

Using `term` query for values without space wouldn't make much difference.

[2018-02-15 18:39] lgh2 commented on #2943
No, I don't think I've ever run `sudo gulp dist` .

Thank you for the fix -- it worked!

[2018-02-15 20:04] di commented on #2943
Hmm, maybe a `sudo make serve` or a `sudo docker-compose build static` or something could have done it?

At any rate, developers shouldn't be running any of those commands as root, so I don't see this being a reoccurring issue.

[2018-02-15 20:09] brainwane commented on #2943
I'm agreeing with @di and closing this issue.

None of our documentation tells people to run those commands with `sudo`. If one of us runs into the `make clean` issue again then we'll be in a better position to look at our bash histories and figure out why we inappropriately used `sudo` or what other command got us into this situation.

Thanks all.

[2018-02-15 20:15] #1886 closed

[2018-02-15 20:39] brainwane commented on #1886
@waseem18 Thank you for the fix!

If you have time to help us with testing #2898, that would be great! And if you want a next issue to work with, would you consider helping me start on #2930?

[2018-02-16 04:15] brainwane commented on #994
I'm going to be at all four days, and I think a number of other Python packaging/distribution developers will too. I think it'll likely be a good time to hash out architectural stuff and do some pair programming and in-person reviews. So if you could be there two or 2.5 days that would probably be of benefit.

[2018-02-16 07:01] waseem18 commented on #1886
Sure @brainwane I'll look into the comment you put on #2898

Regarding #2930 I'd be happy to help you on that.

[2018-02-16 10:48] jgbarah opened #2957 "I cannot find a way to get contact address for not uploaded (but apparently registered) package"
When trying to upload a new 'ceres' package, twine tells me that I have no permissions. I see no package uploaded with that name, so I try to look at the contact point for that package, to find out if they intend to really upload it or they could transfer the name to us. But I don't see any way to find out that address: since there is no package uploaded, there is no contact address either.

Is th

[2018-02-16 16:39] di commented on #2957
@jgbarah The project exists, it just has no releases. On `pypi.python.org` this will 404, on `pypi.org` it will not: https://pypi.org/project/ceres/

Looks like there's some contact information for the maintainer there, perhaps you can contact them and see if they are willing to transfer ownership of the name to you.

[2018-02-16 16:39] #2957 closed

[2018-02-16 16:57] #2830 closed

[2018-02-16 19:32] #2788 closed

[2018-02-16 19:44] #2065 closed

[2018-02-16 22:01] brainwane commented on #2788
@ralphwetzel Thanks for the report! http://pypi.org/ now has the fix.

[2018-02-16 22:23] brainwane commented on #2877
@gsb-eng Yes, please go ahead and pick it up! At least within Warehouse, our rule is: If there is not a corresponding pull request for this issue (visibly linked by issue number/PR number), it is up for grabs. So in cases like this, you don't even need to ask. :)

As always, if you have questions along the way as you work on this, please feel free to ask them here, in [`#pypa-dev` on Freenode](htt

[2018-02-16 22:41] brainwane commented on #2891
I asked @ewdurbin about this today and his take was: this setup would be pretty complex, and given the time constraints we're under, we will probably instead just use (and suggest our testers use) Test PyPI as is.

[2018-02-16 22:41] #2891 closed

[2018-02-16 23:02] brainwane commented on #2537
Thanks for your note, @FRidh,  and sorry for the slow response!

Warehouse has been under-maintained for a long time, but the folks working on Warehouse have gotten [some limited funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/p

[2018-02-16 23:13] brainwane commented on #474
Thanks for bringing up and discussing this issue, and sorry for the slow response! (Context, for those who don't already know it: Warehouse needs to get to the point where we can redirect pypi.python.org to pypi.org so the site is more sustainable and reliable. Towards that end, the folks working on Warehouse have gotten [limited funding to concentrate on improving and deploying it](https://pyfoun

[2018-02-16 23:23] brainwane commented on #2546
Thanks for your bug report, @cyounkins, and sorry for the slow response!

Update on the new PyPI, in case you didn't see the news: The folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/W

[2018-02-16 23:41] brainwane commented on #2283
@alexmuller, Thanks for suggesting this.

Update, in case you didn't already know: The folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to i

[2018-02-17 00:08] brainwane commented on #1663
Thanks for the feature suggestion and the discussion and resources, and sorry for the slow response!

For context: Warehouse has been moving somewhat slowly for years, but now, the folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html). The team has kicked off work towards [our

[2018-02-17 00:10] brainwane commented on #1677
Thanks for the ideas, @graingert and @Zopieux, and my apologies on the delayed reply!

For context: the folks working on Warehouse have gotten [funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent ta

[2018-02-17 00:10] rth commented on #474
Thanks for the detailed response  @brainwane and for linking to those issues!

I know that there are higher priority issues with the migration to Warehouse (and thank you for working on that!), I just commented for future reference while experimenting with the PyPi JSON API...

[2018-02-17 00:18] brainwane commented on #701
(In case @robhudson doesn't know: during the Warehouse team's current [grant-funded effort to improve Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), we're prioritizing getting it to the point where we can redirect pypi.python.org to pypi.org so the site is more sustainable and reliable; more details at [our development roadmap](https://wiki.python.org/psf/Wa

[2018-02-17 00:21] brainwane commented on #727
A related issue about exclusion in search: #1971.

[2018-02-17 00:27] brainwane commented on #1971
Dear @GeorgeFischhof,

Thanks for your suggestion, and sorry for the slow response!

Warehouse was moving along fairly slowly for a few years. Now, the folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki

[2018-02-17 01:11] Zopieux commented on #1677
Thanks for the feedback @brainwane!

As for the metadata we would like to be searchable, this would imply parsing:

* the `entry_points` `setup()` parameter, eg. [for pytest](https://github.com/pytest-dev/pytest/blob/master/setup.py#L94) the argument
[code]
  defines two entrypoints (`pytest` and `py.test`); searching "by binary path" for one or the other should yield the *pytest* package as a res

[2018-02-17 01:47] brainwane commented on #699
@schollii thanks for your detailed suggestion, and sorry for the slow response!

For context: The folks working on Warehouse have now gotten [limited funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urg

[2018-02-17 01:52] brainwane commented on #188
@spderosso Thank you for your detailed suggestion, and sorry for the slow response!

For context: The folks working on Warehouse have now gotten [limited funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most

[2018-02-17 01:52] brainwane commented on #699
I should add here a comment similar to what I said in #188: if I understand correctly, there may be technical or policy difficulties in sniffing out what OS users are using, and in properly indicating that sometimes the sample size is really small or temporally discontinuous in important ways (e.g., if it turns out that most historical data does not have the attributes we'd need to measure). But I

[2018-02-17 03:23] brainwane commented on #890
@mbacchi I'm sorry for the delay in response on this! I'm going to give my opinions.

As I see it, there are a few reasons for Credits pages/files/announcements. One is to thank and praise people (so it's important to be maximally inclusive, and to regularly refresh the data), and another is to identify key people who are currently responsible for the site and codebase (so it's important to have a

[2018-02-17 03:32] brainwane commented on #786
@Carreau I thought you might want to know: The folks working on Warehouse have gotten [funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap). The most urgent task is to improve Warehouse to the point where we can redire

[2018-02-17 03:35] brainwane commented on #785
@bitdancer Thanks for your bug report, and sorry for the slow response!

For context: the folks working on Warehouse have gotten [funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to impro

[2018-02-17 03:46] brainwane commented on #2502
@xoviat Thanks for your feature suggestion, and sorry for the slow response!

For context: Warehouse's maintainers have gotten [limited funding to concentrate on improving and deploying it](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap). Right now, the most urgent t

[2018-02-17 03:55] brainwane commented on #1001
I think this is a great idea but I'm marking it for a future milestone to indicate that we shouldn't block launching the new PyPI on this issue. :)

[2018-02-17 04:03] xoviat commented on #2502
Consider source distribution A. If downloaded in environment B, source distribution A will require source distribution B. If downloaded in environment C, source distribution A will require source distribution D. Sort of like this:

[code]

Because source distributions are turing-complete, it's not possible for warehouse to deduce these dependencies using static analysis. But what warehouse *can* d

[2018-02-17 07:43] FRidh commented on #2537
That's unfortunate because requiring them to be the same allows more possibilities for automation. In our package set we determine with the JSON API the latest versions available of packages, and then use the old "url rewriting API" to determine the location of the artifacts (tarballs).

In our expressions we prefer to use the [normalized names](https://www.python.org/dev/peps/pep-0503/#normalized

[2018-02-17 12:51] sigmavirus24 commented on #785
For what it's worth, unless you're on the really old ESR of Firefox, Pentadactyl is no longer maintained for new versions of Firefox. I wouldn't think this is necessary at all at this point. Eventually the ESR will become unsupported and thus pentadactyl will finally be killed off. Further, it was likely already a very small margin of users.

[2018-02-18 17:47] xoviat opened #2974 "Implement google recaptcha for new user registration"
Google recaptcha is a free service that is effective at spam control. As it is simple to implement, I would highly recommend doing so to guard against future spam.

[2018-02-18 18:38] ewdurbin commented on #2974
This is already implemented.
<img width="486" alt="screen shot 2018-02-18 at 1 38 47 pm" src="https://user-images.githubusercontent.com/1200832/36355431-11e973dc-14b1-11e8-84d0-1d704d0b2dda.png">

[2018-02-18 18:38] #2974 closed

[2018-02-18 18:44] ewdurbin opened #2976 "Admin: Spam cleanup and prevention tooling"
Historically spammers have been rather naive by registering tons of packages from a single user account or IP address.

Our latest wave of spam has been coming from a multitude of users and IP addresses :(

I propose a couple parts in the Warehouse Admin UI for:

# ~~Complete delete of a user~~ (done)

  - Must display a list of all projects/releases to be deleted before execution
  - Must require

[2018-02-19 00:09] #999 closed

[2018-02-19 00:09] #2831 closed

[2018-02-19 12:51] brainwane commented on #2936
@waseem18 Would you like to take this on next?

(Until he says yes, this is still up for grabs.)

[2018-02-19 13:00] waseem18 commented on #2936
Absolutely Yes!

I'll start looking into it right away

[2018-02-19 13:01] brainwane commented on #2936
Cool, thanks, @waseem18 -- if you jump into IRC I have a few more suggestions for you.

[2018-02-19 13:03] waseem18 commented on #2936
Sure, Hopping in

[2018-02-19 13:30] ewdurbin opened #2982 "Ongoing strategies for spam"
Based on information received from the team behind [npm](https://npmjs.com), the spam attackers involved in our latest flurry are sophisticated and relentless.

Indeed our initial round of cleanup included 78 Spam User accounts each operating on its own IP Address.

We've added some functionality to the Admin side of things to stop these in their tracks to give us time to assess, but should develo

[2018-02-19 14:46] HndrkMkt commented on #2802
@ShubhGupta2125 - are you still on this? Otherwise I would like to tackle it as a first to get involved. (cc: @di)

[2018-02-19 16:53] #2832 closed

[2018-02-19 17:16] di commented on #2216
In #2713 Ernest said:

[2018-02-19 17:18] di commented on #2713
I put @ewdurbin's comment on #2216 so this issue should be just documentation-only.

[2018-02-19 17:25] #2887 closed

[2018-02-19 17:46] waseem18 commented on #2936
This issue also exists for the view `accounts.register`

[2018-02-19 17:50] #2713 closed

[2018-02-19 19:41] #2206 closed

[2018-02-19 20:19] #2936 closed

[2018-02-19 21:00] waseem18 commented on #1981
@dstufft @nlhkabu I've started working on this. Will put a WIP PR soon.

[2018-02-20 14:43] brainwane commented on #2976
I discussed this with Ernest & Dustin and we decided that it's not in Milestone 1; if there are bits of this that we need to do by any particular milestone, such as Launch, then we'll break out issues and prioritize and do them separately.

[2018-02-20 16:06] #2913 closed

[2018-02-20 16:06] #2930 closed

[2018-02-20 16:32] di commented on #2880
This can be reproduced with most badges when the display is condensed:

<img width="805" alt="screen shot 2018-02-20 at 10 31 44 am" src="https://user-images.githubusercontent.com/294415/36436241-540f3d86-1629-11e8-98c7-6b4096a4822d.png">

[2018-02-20 16:50] ewdurbin commented on #916
This is a great idea, thank you @dkuebric!

[2018-02-20 16:56] nlhkabu commented on #1231
I'm going to close this - it looks like we are not going to need it.

[2018-02-20 16:56] #1231 closed

[2018-02-20 17:23] ewdurbin commented on #916
I think `X-Robots-Tag: noindex` on the Fastly configuration for testpypi.python.org and test.pypi.org is sufficient.

We can get this out today.

[2018-02-20 17:25] di commented on #916
Does it make sense to do both? For robots that may disregard the header.

[2018-02-20 17:34] nlhkabu opened #2994 "Style tables in project description"
![screenshot from 2018-02-20 17-33-28](https://user-images.githubusercontent.com/3323703/36439257-38d6648c-1664-11e8-9147-af7b9f85163c.png)

[2018-02-20 17:47] ewdurbin commented on #916
Header now set for testpypi.python.org. I'll look into adding a robots.txt for the old codebase another time.

PR incoming for test.pypi.org.

[2018-02-20 18:22] waseem18 commented on #2877
@di Could you please help me in providing me more information about this issue?

[2018-02-20 18:27] di commented on #2877
@waseem18 Unfortunately I don't know much more than you here. We got a report that packages with a number in them could be prioritized higher in search than a package with the exact name as the search query.

However looking at https://pypi.org/search/?q=python-miio now, it seems like `python-miio` has the highest rank now. We will likely need to do some debugging of the elasticsearch query and th

[2018-02-20 18:29] waseem18 commented on #2877
Yeah - I was feeling the same. Because now the search queries seems to work as expected.

Will do some debugging and check.

[2018-02-20 19:28] Steap opened #2996 "Request: more precise license classifiers"
Hello,

Going throught the list of available classifiers at https://pypi.python.org/pypi?%3Aaction=list_classifiers , I feel like some of the license classifiers are not precise enough. For instance, there is a "License :: OSI Approved :: BSD License" that could refer to multiple licenses: BSD-2-Clause, BSD-2-Clause-Patent, BSD-3-Clause. In order to determine the actual license used by a project t

[2018-02-20 20:25] #2287 closed

[2018-02-20 21:37] ronaldoussoren opened #3000 "Login on pypi.org doesn't work with Safari on macOS 10.13.3"
The "Help", "Login" and "Register" buttons on the top navigation bar on pypi.org don't work for me using Safari on macOS 10.13.3. In all cases the browser downloads an empty file with a ".dms" suffix.

The "Browse Project" link below the search box works fine, but when I select "AsyncIO" below "By Framework" in the left sidebar I once again get a downloaded file and no other action.

The site work

[2018-02-20 21:38] ronaldoussoren commented on #3000
This appears to be a glitch, the site started working again just when I tried to gather more information.

[2018-02-20 21:38] #3000 closed

[2018-02-20 21:39] brainwane commented on #3000
@ronaldoussoren  -- Thanks for the bug report! We had a momentary frontend glitch and it's resolved now. I appreciate you checking and reporting it, though!

[2018-02-20 22:03] #916 closed

[2018-02-20 22:07] brainwane commented on #2533
@s-m-e thank you for reporting this issue, and sorry for the slow response!

The folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to improve

[2018-02-20 22:08] 47014106 opened #3002 "Error Zip"

[2018-02-20 22:28] #3002 closed

[2018-02-20 22:31] brainwane commented on #1000
Thanks for the great suggestion, @edmorley, and sorry for the slow response!

This would be a useful security/audit feature, and in addition, we should also send an email notification to newly added collaborators. And now that we have better email management in Warehouse (just added in the past few weeks), it's far easier to add this feature.

Today in [our development meeting](https://wiki.python

[2018-02-20 22:34] brainwane commented on #998
Thanks for another great suggestion, @edmorley, and sorry for the slow response!

This would be a very useful security feature, and now that #2898 is written and merged, it's far easier to add this feature.

Today in [our development meeting](https://wiki.python.org/psf/PackagingWG/2018-02-20-Warehouse) we discussed where this should go on [our development roadmap](https://wiki.python.org/psf/Ware

[2018-02-20 22:36] brainwane commented on #997
Thanks for the suggestion and the discussion. We [talked about this feature today](https://wiki.python.org/psf/PackagingWG/2018-02-20-Warehouse) and, since it's a new feature that isn't on Legacy PyPI, we've moved it to a future milestone.

[2018-02-20 22:39] brainwane commented on #469
We discussed this idea [in the Warehouse meeting today](https://wiki.python.org/psf/PackagingWG/2018-02-20-Warehouse) -- I presume that the change would be just for readability?

I'm marking it `blocked` since implementing it would require PEPs to be modified. And since this is a new change that doesn't get us closer to replacing legacy PyPI I've added it to a far future milestone.

[2018-02-20 22:46] ThomasWaldmann opened #3005 "show name, not only gravatar on project page"
it only shows the gravatar icon in the maintainers section (in my case some meaningless standard icon as i do not use gravatar), see screenshot from borgbackup project.

![screenshot from 2018-02-20 23-44-34](https://user-images.githubusercontent.com/356103/36453359-15fa56f6-1698-11e8-8d10-a177949db35b.png)

imho, it should display the name as text to the right of the icon.

[2018-02-20 22:55] brainwane commented on #3005
@ThomasWaldmann Thank you for the report! I agree, it should show the person's name.

I believe this is related to #2875 -- there are multiple pages that should display the person's name alongside the Gravatar.

[2018-02-20 22:56] ThomasWaldmann opened #3006 ""pip install x" might work or not"
warehouse tries to be helpful by displaying "pip install <projectname>" + copy to clipboard link.

i am not sure this really helps or is even needed. everybody who uses python not for the first time will know that command. in that case it is just waste of screen space.

worse, some packages are not just "pip install"able, but have requirements which should be documented in their documentation.

fo

[2018-02-20 23:04] ThomasWaldmann opened #3007 "version column empty"
on the `#files` download page, the version column in the table just displays `-`.

![screenshot from 2018-02-21 00-03-31](https://user-images.githubusercontent.com/356103/36454064-b751abc4-169a-11e8-8225-b6c8f70f0623.png)

[2018-02-20 23:16] ThomasWaldmann opened #3008 "make it easier/more obvious to filter by Python version"
if you have a project that only works on python 3 (or 2), but not on both, you want to filter such packages when searching for new libraries or other related packages for your project. similar if you only support e.g. >= 3.5 and you search for packages that support same py versions.

i am aware that not all projects have set the required metadata, but maybe making actual use of that metadata would

[2018-02-20 23:17] brainwane commented on #2930
@di I just realized that the new documentation does not actually mention anywhere the upload endpoint https://upload.pypi.org/legacy/ and I think we should add at least a sentence about it and a pointer to the packaging.python.org tutorial.

[2018-02-20 23:24] brainwane commented on #2285
@rsyring Thank you very much for suggesting this, and sorry for the slow response! [I brought this issue up in a meeting of Warehouse developers today](https://wiki.python.org/psf/PackagingWG/2018-02-20-Warehouse) I want to walk you (and other Python developers reading this in the future) through what Warehouse's maintainers currently think about this question.

(For context: the folks working on

[2018-02-20 23:25] di commented on #3008
@ThomasWaldmann I think (if I understand correctly) what you're looking for is classifiers like `Programming Language :: Python :: 3`, which do exist: https://pypi.org/search/?q=&o=&c=Programming+Language+%3A%3A+Python+%3A%3A+3

Or are you suggesting that it should be possible to filter on the [`Requires-Python`](https://packaging.python.org/specifications/core-metadata/#requires-python) field?

[2018-02-20 23:28] ThomasWaldmann opened #3010 "iso 8601 dates (and times)"
Rather than imposing american date / time formatting on the world, can we just use iso 8601?

See link for details: https://xkcd.com/1179/

![screenshot from 2018-02-21 00-23-38](https://user-images.githubusercontent.com/356103/36454760-887f0d70-169d-11e8-91a9-eba7febbc508.png)

![screenshot from 2018-02-21 00-26-15](https://user-images.githubusercontent.com/356103/36454846-e099dfda-169d-11e8-851f

[2018-02-20 23:34] rth commented on #2982
Thanks for your work on handling this incident!

Not an actual classification, but [in this notebook](https://github.com/rth/pypi-stats-viz/blob/master/notebooks/pypi_spam_url_blacklist_matching.ipynb) I tried to quickly extract links from package description and match them against a blacklist of domain names to see if this would produce anything useful. It turns out it mostly produces false posit

[2018-02-20 23:35] ThomasWaldmann commented on #3008
Looks like I missed that this is between all the other programming languages in the "By Programming Language" selection.

So, yes, it is there, but guess the UX could be improved.

[2018-02-20 23:37] ThomasWaldmann commented on #3007
looks like that version column is meant for the binary wheel target python version, but that is not obvious if there is no wheel.

[2018-02-20 23:44] #3007 closed

[2018-02-20 23:47] di commented on #3008
Duplicate of #2442.

[2018-02-20 23:47] #3008 closed

[2018-02-20 23:55] di commented on #2996
Thanks for the report, @Steap. We're aware that the licenses are not fine-gained as they could be.

Right now the existing classifiers are shared between pypi-legacy and Warehouse, and our current priority is to achieve feature parity between the two so we can shut down legacy. As such, I've added this to a post-launch milestone.

We need to ship a method to deprecate existing license classifiers

[2018-02-21 00:11] ThomasWaldmann commented on #2442
When fixing this, remember to also make it easier to filter for supported python versions, see also #3008.

[2018-02-21 00:19] brainwane commented on #2859
@emesik Thank you for your reply, and I'm sorry for how frustrating this is. I'm frustrated too. I'm not one of the people with the power to delete packages on PyPI, but I am hearing your concerns and passing them on to the PyPI administrators.

PyPI [got a bunch of spam packages this past weekend](https://status.python.org/incidents/mgjw1g5yjy5j) which has spurred several new features and guards

[2018-02-21 01:20] brainwane commented on #933
I think this is a good feature idea, and I've only moved it to the post-legacy-shutdown milestone on [our roadmap](https://wiki.python.org/psf/WarehouseRoadmap) because I'm noting that it's a new feature that is not available on legacy PyPI.

@nijel sorry for the long wait. PEP 541 will help with the backlog of package transfer requests. This month the community changed the approval authority on t

[2018-02-21 01:33] brainwane commented on #201
@ncoghlan mentioned "orgs, teams, and role-based access control" [on distutils-sig](https://mail.python.org/pipermail/distutils-sig/2018-January/031860.html) as a future feature to explore, and noted this depends on PyPI serving as its own identity provider.

[2018-02-21 01:39] brainwane commented on #1697
@KOLANICH and @jaddison, thank you for the issue and the discussion, and sorry for the slow response!

For context: The folks working on Warehouse have gotten [some limited funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/War

[2018-02-21 01:47] brainwane commented on #788
So the limited [Warehouse development funding](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html) is specifically to get to the point where we can redirect pypi.python.org to pypi.org so the site is more sustainable and reliable. That's the basis for the current [development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) and so I've come to agree with Donald -- sinc

[2018-02-21 04:17] dstufft commented on #3010
I think all of our dates go through a localization engine, and at some point we can/will expose the ability for people to select the datetime display that works best for their locale.

[2018-02-21 15:06] brainwane commented on #2935
Add:

- [ ] [TravisCI](https://docs.travis-ci.com/user/deployment/pypi/) ("can automatically release your Python package to [PyPI](https://pypi.python.org/) after a successful build.")
- [ ] [CircleCI](https://circleci.com/blog/continuously-deploying-python-packages-to-pypi-with-circleci/) (similar)

[2018-02-21 15:28] brainwane commented on #2315
Thanks for your suggestion, @lynncyrin!

You might already know: the folks working on Warehouse have gotten [some limited funding via Mozilla's Open Source Support program to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoa

[2018-02-21 20:22] brainwane opened #3016 "account recovery policy, FAQ, and tooling"
If a user says that they are having trouble recovering their password (because they don't have access to that email address anymore, or because they signed up before PyPI required an email address),

* What's our policy on helping them, and what's our policy on verifying their claim?
* Right now requests for help on this go to [the SourceForge support queue](http://sourceforge.net/tracker/?group_i

[2018-02-21 22:44] ewdurbin opened #3017 ""accounts.profile" route inefficient for users with long project/release history"
eats ram, times out, causes us infra trouble :)

we should probably trim down the query in https://github.com/pypa/warehouse/blob/81abc28f1d876ff2e80c5a4577eec4c3a5aee7b9/warehouse/accounts/views.py#L82-L89 to get the minimum amount of data necessary.

[2018-02-21 22:45] ewdurbin commented on #3017
@dstufft suggested [this reference on orm.load_only](http://docs.sqlalchemy.org/en/latest/orm/loading_columns.html#sqlalchemy.orm.load_only) and a possible solution of:

[code]

[2018-02-21 23:41] ncoghlan commented on #2285
FWIW, I added an explanation of the `legacy` in the URL to the end of https://packaging.python.org/guides/migrating-to-pypi-org/#publishing-releases when consolidating the two distinct sets of migration guidance that we had.

Note that our main recommendation is to *upgrade* `twine`, `setuptools`, and/or `Python` to get an updated default setting, *not* to adjust your config directly.

So while we

[2018-02-22 03:13] emesik commented on #2859
Thanks for that info, @brainwane. Sorry to hear about that lot of work you have because of spammers.

Meanwhile I published my project under the name `monero-python`, however silly the additional *python* part sounds in a Python package name. I hope I'll be able to move it to the name consistent with the module's.

[2018-02-22 05:46] #3017 closed

[2018-02-22 10:44] astrofrog opened #3024 "Expose requires_python for each release in JSON API"
The following JSON:

https://pypi.python.org/pypi/astropy/json

or:

https://pypi.io/pypi/astropy/json

includes the following for the latest release:

[code]

but it would be really helpful to have this for all releases listed in the ``releases`` section, to avoid having to hit the server for each release to find out the ``requires_python``.

[2018-02-22 14:29] ThomasWaldmann commented on #3010
I don't think full localization (or i18n, like translation) is required or even desired (personally, I always prefer good English over a bad translation and I also prefer ISO datetime over US or German datetime, because it sorts correctly).

But that doesn't mean that it should be localized to USA by default.

That ISO standard is there since ages (and totally makes sense), we finally should imple

[2018-02-22 14:34] pydanny opened #3025 "Add EUPL-1.2 License"
**Classifier**: EUPL-1.1
**Label**: European Union Public License 1.1

EUPL 1.2 is the latest in the EUPL series of licenses. Reference: https://github.com/audreyr/cookiecutter-pypackage/pull/398

Thanks for maintaining this project!

[2018-02-22 17:34] #2216 closed

[2018-02-22 19:47] brainwane opened #3028 "Add "how to request new trove classifier" item to FAQ"
[This tweet](https://twitter.com/pydanny/status/966454907699187712) reminded me: http://pypi.org/help/ should include an item telling people to file a GitHub issue here to request a new trove classification.

[2018-02-22 21:49] caseyjlaw commented on #2533
Perhaps I'm misunderstanding, but are all uploads to pypi broken? Mine certainly are.
Is there a simpler workaround for this issue than the one given at top?

[2018-02-22 21:53] ewdurbin commented on #2533
@caseyjlaw sorry you're having trouble. I assume since you're here you are getting the same error message as the original report.

Uploads are certainly working for others, based on activity recent activity on the index.

Can you provide any additional details about your upload? This would include the environment, the size of your upload, and what tool you're using to upload at a minimum.

[2018-02-22 21:54] ewdurbin commented on #2533
The best guess I can come up with in the blind here is that it may be anti-abuse measures that our _hosting_ itself has in place. @caseyjlaw can you provide (privately if necessary by emailing ernest@python.org) the IP address your upload would be coming from?

[2018-02-23 00:26] di commented on #2533
@caseyjlaw Would you also be able to provide us with a copy of the distribution you are trying to upload? (Or a recent commit at https://github.com/caseyjlaw/realfast that we could test from would work too)

[2018-02-23 00:27] ewdurbin commented on #2533
It seems this might be related to this block of code:

https://github.com/pypa/warehouse/blob/889a2b216daf5015fdd1964d61ea0220c677d7f1/warehouse/forklift/legacy.py#L1022-L1026

is returning an empty `Response()` the right move there?

[2018-02-23 00:28] ewdurbin commented on #2533
Or similarly, twine is swallowing some other validation error?

[2018-02-23 00:28] ewdurbin commented on #2533
@caseyjlaw what happens if you `twine upload` each file individually?

[2018-02-23 00:30] di commented on #2533
I'm thinking this may be more likely, but I suppo

[2018-02-23 00:30] di commented on #2533
Oops, sorry for the close.

[2018-02-23 06:49] dstufft commented on #2533
Yes. It's doing the exact same thing that would happen if the file successfully uploaded, just without any additional processing because we've determined that the file being uploaded (A) Already exists and (B) matches the file being uploaded exactly.

[2018-02-23 06:50] dstufft commented on #2533
For reference: https://github.com/pypa/warehouse/blob/889a2b216daf5015fdd1964d61ea0220c677d7f1/warehouse/forklift/legacy.py#L1182

[2018-02-23 07:40] s-m-e commented on #2533
@brainwane @di I can reliably trigger this issue from [my current ISP](https://en.wikipedia.org/wiki/Deutsche_Telekom) with [my Python package](https://github.com/pleiszenburg/zugbruecke/). I have not made any changes since, in case you want to look at potential meta-data issues. I last "confirmed" the upload issue it in mid-December, when I attempted to release another version of my package. I en

[2018-02-23 14:17] caseyjlaw commented on #2533
Update on my end, I tried this again from a different IP (my home instead of work) and it uploads successfully.
Aside from a different IP, I do not have an `.pypic` file, so I authenticate via a prompt.

I can build and upload with `python setup.py install sdist bdist_wheel upload`. For another package (I had a few to upload), I used twine successfully with the `twine upload dist/*` command.

[2018-02-23 14:17] caseyjlaw commented on #2533
@di For a recent commit that failed, see https://github.com/realfastvla/sdmpy/commit/a6f783e2bd73443466ba965313eaafa40c51be87.

[2018-02-23 16:38] #2994 closed

[2018-02-23 17:41] brainwane commented on #727
@waseem18 is writing up a bit of a proposal on how to do this.

[2018-02-23 17:43] lgh2 commented on #2875
I can try working on this one, if that is ok with you all.

[2018-02-23 17:47] caseyjlaw commented on #2533
Just realized that there is other difference between my two environments. My failing OS is redhat enterprise linux while my home os is OSX.

[2018-02-23 19:07] #2880 closed

[2018-02-23 22:02] #2869 closed

[2018-02-23 22:06] di commented on #2794
@brainwane Could you outline what was missing from https://github.com/pypa/warehouse/pull/2937 that would fully resolve this issue?

[2018-02-23 22:12] #2491 closed

[2018-02-24 00:29] brainwane commented on #2794
Thanks for asking @di. I'd like the Warehouse developer documentation to include:

- PyPI's general load and performance expectations
- any other components or related repositories developers should know about, and (if it's not obvious) why/how Warehouse uses them (alembic, celery, readme-renderer, Elastic Search)
- usage assumptions/concepts, such as:
  - we focus on architecture and features for

[2018-02-24 04:16] ncoghlan commented on #869
PEP 566 has been accepted, so tool authors are now likely to accept the PRs adding Description-Content-Type support :)

[2018-02-24 12:54] Alexis-benoist opened #3058 "rst rendering"
Hello,

I'm updating my [package](https://pypi.python.org/pypi/ERAlchemy/1.2.5) and the [rst](https://gist.github.com/Alexis-benoist/082d505238a405ee0abb4b2c15c1426c) works normally with restview.

The issue is that the rst is valid but isn't rendered. I checked using restview.

I think it's related to the new API because I released a version with a title only readme in [1.2.2](https://pypi.python

[2018-02-24 19:50] stuhood opened #3059 "gpg_signature: Should not be a tuple"
Sometime in the last two weeks, gpg-signed uploads to https://upload.pypi.org/legacy/ began to break with the following error message:
[code]

This seems potentially related to #3049 ?

This is in a venv using twine for the upload and the following dependency versions.
[code]
Neither our invoke of `twine`, nor the dependencies have changed in the last two weeks.

[2018-02-24 20:33] #3059 closed

[2018-02-24 20:33] di commented on #3059
Thanks for the report @stuhood, and sorry for the inconvenience. This is fixed in #3061 and will be deployed momentarily.

[2018-02-24 21:14] stuhood commented on #3059
Huzzah, thanks! Confirmed working.

[2018-02-25 15:12] paternal commented on #3058
Hello,
warehouse uses [readme_renderer](https://github.com/pypa/readme_renderer) to render the `rst` README. You can install it and check your README using:

[code]

Replacing ``` with ~~~ lines 55 and 62 of your readme fixes the issue.

-- Louis

[2018-02-25 15:55] Alexis-benoist commented on #3058
I'm very surprised of your answer.

First of all, I cannot see the "```" in the readme.rst uploaded in [PyPi](https://pypi.org/project/ERAlchemy/#files) or on the [gist](https://gist.github.com/Alexis-benoist/082d505238a405ee0abb4b2c15c1426c).

Secondly, the rst passes the check.

Which file are you looking at?

[2018-02-26 06:06] waseem18 commented on #2850
@brainwane I'd like to take this up as this feature is quite important and hasn't yet been picked up by any new contributor.

[2018-02-26 08:50] hnykda opened #3062 "Display help text on browse page and null search page"
Hi,

I think that it would make much better impression if the packages were sorted by e.g. download count/popularity/update rather alphabetically by default.

When you click on [Browse project](https://pypi.org/search/) and it takes you to the search page, it looks like this:
![image](https://user-images.githubusercontent.com/2741256/36661034-69c3261e-1ada-11e8-8900-6ff9d03e7ab6.png)

That's not r

[2018-02-26 13:18] paternal commented on #3058
I cloned the repository, and ran `python setup.py check --restructuredtext` at its root, so I think (I am at work; I cannot reproduce it) it uses [readme.md](https://github.com/Alexis-benoist/eralchemy/blob/master/readme.md), since it is used as the long description of the pypi package (see [setup.py](https://github.com/Alexis-benoist/eralchemy/blob/450979fd7c0951de9d9cb61210e25390aa770baf/setup.p

[2018-02-26 14:26] waseem18 commented on #2850
I'm looking into this issue.

This doesn't look like a simple `match` to `phrase_match` change.

[2018-02-26 14:50] #2701 closed

[2018-02-26 15:08] #2884 closed

[2018-02-26 15:10] di commented on #2850
@waseem18 Yeah, I'm not _totally_ sure that this issue is actually a "good first issue" -- elasticsearch tuning has generally been pretty tricky in my experience. But since you're not a new contributor anymore, should be a good issue for you. 🙂

[2018-02-26 15:23] di commented on #3062
This is sort of just a side-effect of a sort "by relevance" of an empty query -- since there's no way to determine the relevance to the query without a query, by default we just get an alphabetical list.

Doing anything with download counts here is currently blocked on #699 (we don't actually have the download counts "in" Warehouse right now). It's also not really as good of a metric for "interest

[2018-02-26 16:05] di commented on #3058
I was able to reproduce this if I uploaded [the wheel](https://files.pythonhosted.org/packages/e4/64/4114ad9da5bc95691d65f4db9c714dd7b254e3220d0506384e8e27bd260a/ERAlchemy-1.2.7-py2.py3-none-any.whl) first for the release. If I upload the source distribution first, the description renders correctly.

This is interesting, and might be the cause of https://github.com/pypa/warehouse/issues/2718 (and

[2018-02-26 16:24] brainwane commented on #474
Glad to help, @rth.

For reference: [PEP 426 has been withdrawn](https://mail.python.org/pipermail/distutils-sig/2018-February/032012.html).

As you're experimenting with the JSON API, check out [the other API/feeds issues](https://github.com/pypa/warehouse/labels/APIs%2Ffeeds) in case any of them have questions you can answer! And if you have questions, please feel free to ask them here, on [`#py

[2018-02-26 16:47] ewdurbin commented on #3062
+1 to Empty Query => "hey put in a search term!"

+1 to Remove "Browse Projects" link.

[2018-02-26 16:50] di commented on #3062
The downside to removing the "Browse Projects" link is that if we do, there isn't a great path for the user that just wants to start applying classifiers, so I'm not sure I'm +1 on that.

[2018-02-26 18:12] brainwane commented on #890
@mbacchi how's this going? Are you working on a branch you could link to?

[2018-02-26 18:19] brainwane commented on #994
@lukesneeringer how is this going? Do you have any plans or code that you'd like us to look at?

[2018-02-26 18:34] brainwane commented on #946
Given that we have renamed "Files" to "Download Files", I've renamed the ticket for clarity. (Also, we have removed the statistics pane, and have an open TODO (#787) to implement statistics and integrate stats back into the UI.)

Nicole is running some user tests in the near future and that data will help her see what users look for when they're trying to find more information about a package, so

[2018-02-26 21:06] ncoghlan commented on #474
Note that while PEP 426 (metadata 2.0) has been withdrawn, PEP 566 (metadata 2.1) has been accepted, and that includes a canonical conversion from the baseline key:value representation to a JSON compatible representation: https://www.python.org/dev/peps/pep-0566/#json-compatible-metadata

This means that at least for projects that upload `wheel` files, it will be feasible for Warehouse to extract

[2018-02-26 21:09] rth commented on #474
That's really good news. Thank you for the explanations!

[2018-02-27 01:21] di commented on #2861
Also, changing the `User` model (e.g., changing the "full name") should also clear the cache for the user's profile.

[2018-02-27 03:00] shortjonescipher opened #3066 "Pickling error in primefac"
When primefac() in primefac.py starts to multifactor, multifactor() starts processes for the various methods, invoking the target factory().

Under Python 2.7.12 on Windows 10 Home version 1709, this gives 'PicklingError: Can't pickle <function factory at 0x055C3970>: it's not found as primefac.factory'.

The fix is to move the factory() definition outside the multifactor() function.

Test using a

[2018-02-27 03:35] di commented on #3066
Hi @shortjonescipher, this repository is for the code which powers https://pypi.org, not the projects which it hosts.

It seems like you're using https://pypi.org/project/primefac/ which I can't find an issue tracker for, and hasn't been released in a while. Perhaps you might have more luck with [this fork](https://github.com/elliptic-shiho/primefac-fork) instead?

[2018-02-27 03:35] #3066 closed

[2018-02-27 06:04] brainwane commented on #2217
Hey @cryvate - thanks for your PR. Let us know how it's going?

/cc @di

[2018-02-27 06:29] jwkvam commented on #3058
Can I do a me too? The rst rendered on pypi.org seems to have mangled my gif img.

https://pypi.org/project/bowtie/#description

The old pypi renders it fine.

https://pypi.python.org/pypi/bowtie/

I honestly can't figure out where this url
[code]
would have come from.

[2018-02-27 06:54] Alexis-benoist commented on #3058
Here are my dependencies:
[code]

[2018-02-27 08:02] nlhkabu opened #3067 "Clear input when the user closes the modal"
## How to reproduce:

- Log in as a package maintainer
- Go to the 'projects' page and select a project
- Go to a release
- Click on the 'delete release' button
- Enter something into the confirmation input in the modal
- Close the modal (either with 'cancel' or with the cross at the top of the modal)
- Click on 'delete release' button again

## What happens

The second time the user launches the

[2018-02-27 08:27] jan-janssen opened #3068 "400 Bad CSRF Token"
Hello,

I just signed up but somehow I have a hard time uploading packages - some times it works but most of the time it fails and when I try to manually login, I sometimes get the following error message.

[code]

Best regards

Jan

[2018-02-27 08:29] nlhkabu opened #3069 "Do not show 'view project' button when there are no releases"
## Steps to reproduce

- Login as a package maintainer
- Go to the projects page
- Click on a project
- Delete all releases on the project

## What happens

The project card at the top of the page shows a 'view project' button:

![screenshot from 2018-02-27 08-25-55](https://user-images.githubusercontent.com/3323703/36717975-09b08f46-1b98-11e8-9eb7-5e6c03cc653e.png)

## What should happen

The 'vi

[2018-02-27 08:31] nlhkabu opened #3070 "Disabled 'edit' button leads to 404"
## How to reproduce

- Login as a project maintainer.  The user you log in as must be a 'maintainer' on at least one project
- View your list of projects
- Click on the disabled 'edit' button

![screenshot from 2018-02-27 08-26-10](https://user-images.githubusercontent.com/3323703/36718099-7fb9367a-1b98-11e8-8697-a4ac85ab7cdd.png)

## What happens

Clicking on the button leads to a 404

## What sh

[2018-02-27 15:53] di commented on #3068
Hi @jan-janssen, sorry you're having trouble.

As far as I can tell login for https://pypi.org is working normally. Is it possible you have cookies turned off like the error message is suggesting? Could you give us some details about what browser/OS you're using? Could you tell us what the error message you get when uploading packages is?

[2018-02-27 17:20] di commented on #3058
@Alexis-benoist Your `wheel` version seems pretty old, could you try to `pip install -U wheel` and build a new wheel distribution? You could either try uploading it to PyPI or you can link to it here and I can test it locally.

[2018-02-27 17:28] ewdurbin commented on #3010
I'm +1 for displaying dates/times in ISO-8601 until we setup localization.

[2018-02-27 17:29] brainwane commented on #1478
In IRC today, one of our developers wanted more packages on their local dev environment, and @ewdurbin said,

To me, this issue #1478 is about people wanting a regular dump of the genuine PyPI artifact store and/or database, and the thing we discussed today in IRC is about creating a better developer experience by creating/improving a smaller purpose-made DB that developers use in the Warehouse de

[2018-02-27 17:31] di commented on #3058
@jwkvam Could I ask you to open a separate issue? We use a [camo](https://github.com/atmos/camo) proxy to route image requests through SSL, and seems like it either failed or didn't like your image for some reason.

[2018-02-27 17:33] ewdurbin commented on #2533
Currently our hosting doesn't allow us any way to scute what's going on here from our side.

I'm unable to reproduce from any remote networks I've tried :/

My theory remains that our hosting is dropping the connection before it reaches our app.

At this point we're approaching where we begin to ask for traceroutes, tcpdumps, and all kinds of other horrible stuff that I _think_ we can just avoid a

[2018-02-27 18:14] di commented on #3069
I think I would prefer if this button was disabled w/ a tooltip, not hidden, as it might not be immediately obvious to a user why the button is present for some projects and not present for others.

@nlhkabu Thoughts?

[2018-02-27 18:19] di commented on #3070
Ideally this would be fixed site-wide by adding a `pointer-events: none;` to the disabled link style.

[2018-02-27 18:53] brainwane commented on #358
Hi @lamby - I think we just spoke in #debian-python and I just referred to this issue in #2935 . I'd encourage you to check out [our APIs/feeds issues](https://github.com/pypa/warehouse/issues?q=is%3Aissue+is%3Aopen+label%3AAPIs%2Ffeeds) and feel free to comment on those or file a new issue to request that PyPI's APIs support `uscan` better!

[2018-02-27 19:02] jwkvam opened #3078 "Images > 5MB in description 404 without indication why"
The rst rendered on pypi.org seems to have mangled my gif img.

https://pypi.org/project/bowtie/#description

The old pypi renders it fine.

https://pypi.python.org/pypi/bowtie/

The markup is this
[code]

This is the generated img url on pypi.org:
[code]

Source is here https://github.com/jwkvam/bowtie

[code]

[2018-02-27 19:40] brainwane commented on #890
I spoke with mbacchi in IRC today and learned that he'll be returning to this issue soon:

[2018-02-27 21:34] dstufft opened #3081 "Utilize SQLAlchemy to prevent N+1 queries on the deferred description column"
It doesn't exist *yet*, but when https://gerrit.sqlalchemy.org/#/c/zzzeek/sqlalchemy/+/679/ and https://bitbucket.org/zzzeek/sqlalchemy/issues/3037/support-setting-load-options-on-instances are both done it would be a good idea to utilize them so that accessing the ``Release.description`` field without explicitly undefering it would raise an error. This would prevent us from accidentally accessing

[2018-02-27 23:15] Alexis-benoist commented on #3058
I upgraded wheel and it works.

Thanks!

https://pypi.org/project/ERAlchemy/

[2018-02-27 23:15] #3058 closed

[2018-02-27 23:24] di opened #3084 "Old wheels may have broken descriptions"
In https://github.com/pypa/warehouse/issues/3058 we figured out that a wheel built with `wheel==0.24.0` had a broken description when uploaded to Warehouse. Upgrading to `wheel==0.30.0` fixed it.

If we have a way to determine what version of `wheel` the wheel was built with, we may want to warn the user in some way (from Warehouse? in twine?) that it could result in an incorrectly rendered descri

[2018-02-27 23:27] dstufft commented on #3084
Look a ``*.dist-info/WHEEL``, that should contain what was used to build it, but not sure if it includes version information or not.

[2018-02-27 23:38] di opened #3086 "Add note indicating that changing Gravatar images might take a while to appear"
Because the user page is cached, if the user changes their Gravatar image, it might take a while before it actually shows up on their profile page.

We should add a note below the "Change Image on Gravatar.com" link informing users that they may not see the change right away.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, ple

[2018-02-27 23:47] di commented on #3084
Seems like maybe this issue belongs over at pypa/twine instead since we're not doing much introspection of the distributions.

[2018-02-28 00:06] di opened #3087 "Update "show password" checkbox to use Stimulus"
In #3056 I added [Stimulus](https://stimulusjs.org/) as a front-end framework, however there are still a number of places where we're not using it.

One of them is the "Show Password" checkbox, which reveals the password fields on the current page. Right now, it's managed by this piece of Javascript.
https://github.com/pypa/warehouse/blob/f9acc7c8cea658618d6c8b4ce306eb25dc87a2a9/warehouse/static/j

[2018-02-28 00:54] di opened #3089 "Tell user when email is not found when resetting password"
Right now if a user tries to recover their account by providing an email address, we don't give any indication whether the email address is actually attached to an account.

Since attempting to register with a already "used" email address will provide the same information (that the email is in use by _some_ PyPI user) there's no real sense in protecting this bit of information here.

Instead we sh

[2018-02-28 03:27] ncoghlan commented on #2935
Open source release tracking services like release-monitoring.org and libraries.io will also be affected.

I filed https://github.com/release-monitoring/anitya/issues/531 for Anitya, and based on an initial review, the info we'll need for that migration is:

* the basic project page relocation (which I already know: `https://pypi.python.org/pypi/{name}` -> `https://pypi.org/project/{name}`)
* the

[2018-02-28 04:40] dstufft commented on #2935
URLs should be the same or redirect to their new location, just with the domain changed.

[2018-02-28 08:00] lamby commented on #358
@brainwane Hi, thanks for the offer but as I mentioned on IRC I am really not the one to ask for this - I was just throwing ideas around! Sorry about that..

[2018-02-28 09:23] mgedmin commented on #2935
http://shields.io/ can do PyPI badges, they might need a heads up.

[2018-02-28 18:50] #6 closed

[2018-02-28 18:58] di commented on #2935
@brainwane Perhaps we should put together a "Migrating from pypi.python.org to pypi.org" document for 3rd parties that answers the questions @ncoghlan has (and any other), which we can point them to when we "reach out" to them.

[2018-02-28 19:23] torbengb opened #3093 ""Internal Server Error" on "Register" link"
I wanted to register as a new user, but the "[Register](https://pypi.org/account/register/)" link gives me an "Internal Server Error".

I doubt this is related to my system, but here are my specs:
- Google Chrome Version 64.0.3282.140 (Official Build) (64-bit)
- Ubuntu Linux 17.04 64-bit
- tried the above on https://pypi.org/account/register/ and also on https://test.pypi.org/account/register/ --

[2018-02-28 19:24] di commented on #3093
Thanks for the report, we are aware and working on a fix.

[2018-02-28 19:31] pv commented on #3062
Changing the "browse projects" ordering to "Date last updated" would also improve the situation.

[2018-02-28 20:07] svegesna10 opened #3094 "Didn't get any verification email from PYPI"
We created an account with bitbucket@autotec.com address and waiting for verification email so we can upload our work, didn't get any verification emails from pypi yet. Any help regarding this issue will be appreciated.
TIA

[2018-02-28 21:00] medmunds opened #3097 "Project Links in left navbar display in reverse order from setup.py project_urls"
The Project Links displayed in the left navbar appear to be in the opposite order as they're listed in setup `project_urls` (and resulting package METADATA).

This isn't a huge issue, but some project urls are usually better starting points than others, so it would be nice to keep them ordered.

Example:

[code]

Result [on test warehouse](https://test.pypi.org/project/django-anymail/2.0.0.dev4/):

[2018-02-28 21:09] #3093 closed

[2018-02-28 21:15] di commented on #3097
Thanks for the report! Especially the runscope capture, that's really nice.

Since this is "working as expected" (i.e. the links _are_ there), and since [the spec doesn't say anything about ordering](https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use), I'm going to put the "Feature Request" label on this, which means that it's prioritized sometime after the complet

[2018-02-28 21:32] di commented on #3093
@torbengb This should be fixed now. Just wanted to reiterate that we really appreciate you taking the time to make a report!

[2018-02-28 21:37] medmunds commented on #3097
Makes sense.

The Runscope capture will likely expire in 30 days or so; if it's gone, it was pretty easy to make:

[code]

(with a free Runscope account, or substitute your preferred postbin service)

[2018-02-28 21:52] svegesna10 commented on #3094
No, it's resolved.

Thanks,
Sruthi

On Wed, Feb 28, 2018 at 3:28 PM, Dustin Ingram <notifications@github.com>
wrote:

[2018-02-28 22:03] #3094 closed

[2018-02-28 22:18] dstufft commented on #3097
I am *pretty* sure we just treat this as a dictionary so it might even change orders between page loads? Unless we added a sort in there somewhere.

[2018-02-28 23:25] medmunds commented on #3097
FWIW, there does seem to be an effort [in models.Project.urls](https://github.com/pypa/warehouse/blob/6047bdb8ef81b73bfaec04dafb83440a6dd36b24/warehouse/packaging/models.py#L374-L385) to ensure some ordering of urls is maintained—though it looks like this is more about Homepage at the top and Download at the bottom. And [its test has a TODO](https://github.com/pypa/warehouse/blob/aaa2c3d246b1918c5

[2018-02-28 23:32] di commented on #3097
We're treating them as `Dependency`s, so the order that we're getting is from newest to oldest, that's why they're reversed.

@medmunds Sounds like you're halfway towards solving this yourself. 🙂 The next step would be fixing that TODO and making the test fail (and also getting tests running locally), want to take a shot at it? Feel free to ask questions here if you have any.

[2018-03-01 00:14] medmunds commented on #3097
@di sure, I'll take a shot. (But probably won't get around to getting a dev environment set up before next week.)

I don't see where Dependency or Release.project_urls specifies an order, and I don't see an obvious Dependency column to sort on anyway, so I'm guessing "newest to oldest" just happens to be what the DB is returning. (But I'm a SQLAlchemy novice. Am I missing something? Implicit prima

[2018-03-01 02:27] ncoghlan commented on #2935
@di We have https://packaging.python.org/guides/migrating-to-pypi-org/, but it's currently focused on migrations for tool configurations and interactive use.

For the lower level details of API & URL migrations, I suspect a contributor focused document in Warehouse explaining the handling of the paths below `/pypi/` would make sense, and then the packaging.python.org page can add a new short subse

[2018-03-01 03:05] ncoghlan commented on #2935
Huh, it looks like `pypi.org` honours an `Accept-Encoding: gzip` header, whereas `pypi.python.org` ignored it. That may uncover some latent defects in clients that are setting that header, but not actually handling a gzip encoded response properly (with Anitya and/or Anitya's test suite potentially being one such client).

[2018-03-01 03:29] di commented on #3097
No worries! Like I said, this isn't a huge priority.

Indeed, I'm pretty sure this is what's happening. [Here is where they're created](https://github.com/pypa/warehouse/blob/master/warehouse/forklift/legacy.py#L867-L879).

Yeah, which means that this probably needs to wait until post-legacy shutdown when we are more free to change the way things work in the DB.

[2018-03-01 05:38] brainwane commented on #2914
@phildini thanks for your note and sorry for the slow response!

Since the most urgent task is to replace the core features of legacy PyPI so the site is more sustainable and reliable, and this feature isn't as core to the PyPI experience as other features are, I've moved it to a future milestone. I wonder whether libraries.io would be a good API for you to also try using in the interim?

Thanks a

[2018-03-01 05:41] brainwane commented on #3024
Thanks for your suggestion, and sorry for the slow response! I like this idea and am grateful to you for bringing it up.

The folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and are concentrating on work towards [our development roadmap](https://wiki.python.org/psf/Wareh

[2018-03-01 05:46] waseem18 commented on #2850
Update:

After changing `match` to `match_phrase` at [this line](https://github.com/pypa/warehouse/blob/598963368bb71ea2310a6b0220327f7d90e63591/warehouse/views.py#L260) and searching Warehouse with string containing spaces (example: cli github), we get `Transport Error`.

`
elasticsearch.exceptions.TransportError: TransportError(500, 'search_phase_execution_exception', 'field "normalized_name" wa

[2018-03-01 06:02] brainwane commented on #445
Dustin was just working on version normalization in pypa/packaging#121 so this will be shipped soon.

[2018-03-01 06:04] brainwane commented on #701
In our [meeting this week](https://wiki.python.org/psf/PackagingWG/2018-02-26-Warehouse) we decided this belongs in a future milestone on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) and does not have to block the launch.

Anyone who wants to help work on this (such as Rob): For directions for getting set up, see our [Getting Started Guide](https://warehouse.pypa.io/deve

[2018-03-01 06:07] brainwane commented on #3062
In our [meeting this week](https://wiki.python.org/psf/PackagingWG/2018-02-26-Warehouse) we decided to provide a temporary fix of some kind here -- for instance, just providing the help text, or something like that -- for launch. And then at some future time we can make a more robust solution.

[2018-03-01 06:13] HonzaKral commented on #2850
@waseem18 what do you mean "not efficient"? I would be happy to help fine-tune the queries

[2018-03-01 06:16] brainwane commented on #2850
@waseem18 Maybe you have done some profiling and you have some specific performance numbers to share?

[2018-03-01 06:17] waseem18 commented on #2850
@HonzaKral By not efficient I mean the search results are way better when `index_options=docs`.

For example when we search `image processing routines`, `index_options=docs` gives good results while `index_options=positions` doesn't give any result.

This is same with queries containing spaces.

[2018-03-01 06:18] brainwane commented on #727
@waseem18 it would be great to get to see your work in progress! Feel free to share it in a GitHub gist and link to it here, or put it right into a comment. It's fine if it's rough.

[2018-03-01 06:19] brainwane commented on #2850
@waseem18 it's going to be helpful if you give concrete numbers or results, I think. Saying "good results" might mean that there are a lot of them, or they're relevant, or they're well ordered... feel free to cut and paste or take screenshots to show what you mean. :)

[2018-03-01 06:20] waseem18 commented on #2850
Sure @brainwane

[2018-03-01 06:22] waseem18 commented on #727
@brainwane I'll put up a comment about what and how and then start on after getting feedback.

[2018-03-01 06:23] HonzaKral commented on #2850
In this particular case there should be no difference between which documents match with various `index_options` as long as the query remains the same. Only ordering (`_score`) of hits would be different where `docs` doesn't take into account frequency (how many times the word occurs in the document). `positions` is the default and should be used here

[2018-03-01 06:25] waseem18 commented on #2850
Thanks for the information @HonzaKral I'll get back with some examples and screenshots.

[2018-03-01 07:45] brainwane opened #3104 "Make Test PyPI visually more distinct from canonical PyPI"
https://test.pypi.org/ looks so much like https://pypi.org/ visually -- same colors, same `favicon.ico`, same logo, same `<title>`, etc. -- that when the two are in tabs next to each other, it's harder to distinguish them than I'd like, which might lead to accidents.

Can we make them look more different visually while still preserving the functional parity between Test PyPI and canonical PyPI?

[2018-03-01 08:01] waseem18 commented on #2850
@HonzaKral Thanks for the help. Tweaked index_options setting to 'positions' for Package index and respective `match_phrase` change. Attached some screenshots.
1.
![1](https://user-images.githubusercontent.com/5843007/36833208-a376ffa8-1d54-11e8-88da-e7e22aa40cc0.png)
![1](https://user-images.githubusercontent.com/5843007/36833213-a70c689c-1d54-11e8-96e8-dfae5f7ec37c.png)

2.
![2](https://user-ima

[2018-03-01 08:06] brainwane opened #3106 "psycopg2 warning"
When I `make initdb` or `make tests`, one error I see in the logs is:

[2018-03-01 08:08] levkowetz opened #3107 "Too little information on search results page"
Trying out the new style and layout on an iPad, there are room for 5 search results on a page, as opposed to 31 with the old interface.  On my desktop the ratio is 9 to 38.  Now, you may argue that I don't need to see 39 results.  But I argue that I **do** want to see more than 5 results.

There is too much wasted screen real estate in the new look.  Please try to consider usability as well as sty

[2018-03-01 08:36] brainwane opened #3108 "Last-Modified header reported incorrect on file downloads"
From IRC just now:

[2018-03-01 09:43] pv commented on #2850
Note that users expect that it's also possible to do queries containing
both exact and inexact matches (probably should be ANDed), along the
lines of:

"image processing" geo

[2018-03-01 12:07] HndrkMkt commented on #1307
I'll get started on this one.

[2018-03-01 16:03] di opened #3112 "Better metadata for Twitter"
Currently links to `pypi.org` shared on Twitter look pretty plain:

<img width="585" alt="screen shot 2018-03-01 at 9 59 50 am" src="https://user-images.githubusercontent.com/294415/36854739-4fa716fa-1d37-11e8-867b-842bbeebf3d9.png">

The grey icon is Twitter's default. We're setting an `og:image` meta tag, but [there seems to be some additional metadata tags we can add](https://developer.twitter.

[2018-03-01 16:11] di commented on #3107
Hi @levkowetz, thanks for the report. We've had similar feedback from users about the overall design, so I'm going to mark this as a duplicate of https://github.com/pypa/warehouse/issues/1988.

[2018-03-01 16:11] #3107 closed

[2018-03-01 16:12] di commented on #1988
#3107 also echoes concerns about extra space on the search results page.

[2018-03-01 16:23] di commented on #3108
I think we need more information here? I'm not seeing a `Last-Modified` header at all on file downloads:

[code]

I do see it for legacy:

[code]

Is the issue that it doesn't exist?

[2018-03-01 17:23] di commented on #2877
Here's another current example of this happening:

https://pypi.org/search/?q=psycopg2

[2018-03-01 17:27] ewdurbin commented on #3108
we're explicitly stripping those headers when serving from files.pythonhosted.org:

https://github.com/pypa/warehouse/blob/b66a37d0f5dd5d77730a1bfa427548aa554c40b5/vcl/main.vcl#L322-L337

we might want to adjust the ordering as it sounds like this should only be getting stripped for non 200 responses.

[2018-03-01 17:27] di commented on #3106
Kind of interesting why they're doing this, more details:

* https://www.postgresql.org/message-id/CA%2Bmi_8bd6kJHLTGkuyHSnqcgDrJ1uHgQWvXCKQFD3tPQBUa2Bw%40mail.gmail.com
* http://initd.org/psycopg/articles/2018/02/08/psycopg-274-released/

Looks like the `-binary` release still offers a source distribution, so switching to it should be equivalent.

Along these lines, we could probably use a "how t

[2018-03-01 17:29] di commented on #3108
Right, which is why I'm confused about the OP saying "File dates are wrong on file downloads" rather than "File dates are missing on file downloads"

[2018-03-01 17:31] ewdurbin commented on #3108
wget for instance sets the resulting file's modified time to the value from Last-Modified. this is likely what the reporter is referencing.

[2018-03-01 17:32] waseem18 commented on #2877
@di I presume the issue is because of usage of `lowercase` filter in [normalized_name](https://github.com/pypa/warehouse/blob/b66a37d0f5dd5d77730a1bfa427548aa554c40b5/warehouse/packaging/search.py#L29) which is tokenizing `psycopg2` to `psycopg` and `2`

As per Elastic search,

[2018-03-01 17:36] di commented on #2877
Sounds like the same thing would happen with package names containing other valid non-alphanumeric characters like `-`, `_`, and `.`. Perhaps we need to tweak that tokenizer a bit.

[2018-03-01 17:37] waseem18 commented on #2877
Yeah - We can have a custom analyzer so that we can avoid tokenizing numbers and non-alphanumeric characters.

[2018-03-01 18:14] levkowetz commented on #3107
Ack.  And thanks for explicitly calling it out on #1988.

[2018-03-01 21:08] HonzaKral commented on #2850
That looks good @waseem18! What I would have expected! Note that for doing bool operators you can just use the `Q` object from `elasticsearch-dsl`: `Q("match", ...) & Q("match_phrase", ...) & Q(...)`

[2018-03-01 22:26] di commented on #3078
After testing this, the reason your image is failing is because the source image is too large. There is a 5MB limit on our `camo` service and your image just barely exceeds it.

The short-term fix is to shrink your image's size. I'll leave this issue open while we work on making the reason for the failure more apparent to Warehouse users.

[2018-03-01 22:32] jwkvam commented on #3078
Thanks for letting me know, I will update my image. Thanks!

[2018-03-01 23:25] di commented on #3078
I have a PR up for our camo service to make it possible to redirect to a custom image: https://github.com/pypa/warehouse-camo/pull/1

[2018-03-01 23:31] mauritsvanrees opened #3116 "Unable to set full name"
On https://pypi.org/manage/account/ I tried setting a Full Name. I filled the field and clicked on the Update Account button.
This seemed to have no effect. When I scrolled down, I saw under Account Emails that the 'Add Email' input was marked with an error: 'Please fill out this field'. So somehow the Add Email field is required even when I only want to fill in the Update Account form.
Refreshing

[2018-03-02 00:04] #3116 closed

[2018-03-02 00:05] di commented on #3116
Thanks for the report @mauritsvanrees! This should be fixed in #3117 and will be deployed momentarily.

[2018-03-02 00:20] mauritsvanrees commented on #3116
I can confirm that this works on test.pypi.org now. Thank you! 👍

[2018-03-02 03:43] brainwane opened #3118 "Change "Edit" to "Manage" in "Your Projects""
Change the button/link text "Edit" to "Manage" in "Your Projects".

From IRC conversation with @alanbato, @ewdurbin and @nlhkabu .

[code]

But I do not see a pull request from Nicole yet, so I declare this a:

**Good First Issue**: This issue is good for first time contributors. If there is not a corresponding pull request for this issue, it is up for grabs. For directions for getting set up, see

[2018-03-02 03:44] brainwane opened #3119 "Add help text for maintainers about project URL list"
From IRC conversation with @alanbato and @ewdurbin and @di.

Add help text in what's currently "Project Settings" explaining that the project URL list comes from the package's `project-url` field as exaplained in https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use and pointing to the bit of packaging.python.org that says where to put this info (`setup.py`?).

[code]

[2018-03-02 04:48] ncoghlan commented on #2935
Turns out Anitya could handle the `gzip` encoding support just fine, we just needed to update some of the tests to account for the refreshed recorded responses from PyPI.

[2018-03-02 05:19] waseem18 commented on #2850
Thanks for the suggestion @HonzaKral I'll surely follow that.

[2018-03-02 10:10] brainwane commented on #2912
Thank you for the suggestion! As I believe you know, on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) the most urgent task is to improve Warehouse to the point where we can redirect pypi.python.org to pypi.org so the site is more sustainable and reliable. Since this feature isn't something that's on that immediate path, I've moved it to a future milestone.

Thanks and sor

[2018-03-02 16:53] brainwane opened #3121 "“test your bus factor” promo page"
A user said:

@di suggested that this is a serendipitous "bus factor" feature and suggested we create a small page to promote it.

My spec:

* This is outside of the usual project URL structure, maybe at something like pypi.org/win-the-lottery
* copy would be something like:

* make it shareable with the usual social media buttons

[2018-03-02 17:25] pradyunsg commented on #3121
I really like this idea.

[2018-03-02 22:05] brainwane opened #3123 "Two authors' names get rendered as one mailto on project page"
The Maintainers section of https://pypi.org/project/pypiserver/

says:

`Author: Kostis Anagnostopoulos <[redacted1]@gmail.com>Matthew Planchard <[redacted2]@gmail.com>`

Page source:

`<p><strong>Author:</strong> <a href="mailto:[redacted1]@gmail.com">Kostis Anagnostopoulos &lt;ankostis@gmail.com&gt;Matthew Planchard &lt;[redacted2]@gmail.com&gt;</a></p>`

There is one `href mailto` link that poi

[2018-03-03 01:58] di commented on #3123
It's because that's exactly how they have it configured for their project:

[code]

[2018-03-03 01:58] #3123 closed

[2018-03-03 09:06] rth commented on #2912
Thanks @brainwane !

Actually, I will close this because the existence of the JSON API addresses my initial question. It was documented in https://github.com/pypa/warehouse/issues/2913 that was fixed while https://github.com/pypa/warehouse/issues/474 tracks the situation with missing dependencies.

[2018-03-03 09:06] #2912 closed

[2018-03-03 14:32] Volcyy commented on #1354
Sorry, I wasn't home for the past weeks; but I finally managed to take a second look at this. I did some testing around and figured out that the `File` model on `Release` wasn't quite what I was looking for, since it's compressed data. Is there another way to get the full license text that I've missed? The only thing I've found was the [`GET /pypi/<project_name>/json`](https://warehouse.readthedoc

[2018-03-03 15:06] dralley commented on #433
@dstufft This also needs to be removed from the documentation

https://github.com/pypa/warehouse/blob/69869dbd993b447822496034a72ec211289b9b6c/docs/api-reference/legacy.rst

[2018-03-03 15:25] nlhkabu opened #3126 "Make callout block component dismissible (optionally)"
Right now, we have 2 notification bars at the top of PyPI.io

It would be nice to allow the users to dismiss these notifications, *and* remember that they've been dismissed.

If someone would be willing to make a PR with a simple 'close' link, I can style the button :)

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please wor

[2018-03-03 15:26] nlhkabu commented on #3126
@di - I feel like I should apply the 'good first issue' label here, but I'm not sure about the complexity of adding a cookie, etc.  Can you please confirm? Thx

[2018-03-03 15:29] nlhkabu opened #3127 "Add 'sole owner' badge on list of projects"
We've had a lot of positive feedback on the bus factor feature on the account settings page.

It would be nice to also expose this information on `/manage/projects/` so that users don't have to hunt for it :)

[2018-03-03 15:29] nlhkabu commented on #3121
related: https://github.com/pypa/warehouse/issues/3127

[2018-03-03 15:36] nlhkabu commented on #3127
Something like this using the `<span class="badge>` component would be ideal:

![screenshot from 2018-03-03 15-35-22](https://user-images.githubusercontent.com/3323703/36936109-834c78ca-1ef8-11e8-81dc-e5fbbb5fcddc.png)

[2018-03-03 18:14] di commented on #1354
I think this issue might be a bit of a rabbithole, it seems pretty outdated and as @Volcyy has discovered, we don't actually store the full text of the license anywhere in warehouse, just the [License Classifiers](https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use) or the [`License` field](https://packaging.python.org/specifications/core-metadata/#license-optional).

[2018-03-03 18:25] #445 closed

[2018-03-03 21:11] #3118 closed

[2018-03-03 23:04] jMuzsik commented on #3112
Hi all, I'd like to give this a go

[2018-03-04 17:55] pradyunsg commented on #1563
I imagine this would need discussion over on distutils-sig at some point but before that, I think that  pypa/packaging-problems or pypa/pip would be better places for this discussion?

[2018-03-04 18:00] NyanKiyoshi opened #3135 "Unable to login on firefox and qutebrowser"
Hello,

I never was able to connect to PyPI from firefox and qutebrowser. When I say never, I hear that I was never able in pypi.python.org and in pypi.org. I always get the error: `The password you have provided is invalid. Please try again.`

If I try to login in chromium, it works (I also have no issues with `Twine`).

I also can't from cURL with the following extracted from firefox.

[code]

I

[2018-03-04 18:09] #3135 closed

[2018-03-04 19:40] waseem18 commented on #727
Below is a rough UI screen on how `Advanced Search` might look like.

![1](https://user-images.githubusercontent.com/5843007/36949630-14e8f38a-2011-11e8-8e54-d43bb45c6d5f.png)

- I tried placing the `Advanced Search` button/link below Filter projects section. As this is a rough UI this might not be the best place to have the link and we can discuss it's placement.
- Section on right contains `Adva

[2018-03-04 20:08] pradyunsg commented on #727
I have to point out that the information about dependencies of a package are not statically available for source distributions. Thus, this information is incompletely available right now. There's an open issue on this repository regarding the same.

IIRC, Warehouse stores the install_requires (i don't remember the name?) metadata for packages that upload a wheel first.

[2018-03-04 21:19] bitdancer commented on #785
Yeah, I'm currently using the ESR, pretty much until I'm forced to
find something to replace pentadactyl.   But I can understand you
not wanting to support something that is going to die, so I'm fine
if you close this.

[2018-03-05 02:14] wimglenn commented on #474
What determines the value of "requires_dist" given in the json api response?  When I look at one of my uploads it's there, e.g. https://pypi.org/pypi/oyaml/0.2/json which correctly says `requires_dist=[pyyaml]`.  But then on boto3 https://pypi.org/pypi/boto3/1.6.3/json it's got `requires_dist=[]` and that's not right, it should have botocore, jmespath, s3transfer..
Both of these projects are speci

[2018-03-05 04:24] waseem18 commented on #727
Thanks for the information @pradyunsg

I've gone through #474 #2502 and found that as of now it's not trivial to implement Advance Searching.

And as mentioned on #474

Glad that PEP 566 has been accepted which paves way for having meta data for packages that upload a wheel first.

[2018-03-05 07:00] ncoghlan commented on #474
Metadata extraction currently only happens for the first uploaded artifact, and unlike wheel archives, sdists aren't required to contain metadata in a format that an index server knows how to read.

Allowing subsequent wheel uploads to supplement the metadata extracted from an sdist would be a nice Warehouse enhancement (but is separate from this issue).

[2018-03-05 16:19] ncoghlan commented on #3024
Just noting that the current bulk API for accessing the `Requires-Python` metadata is PEP 503's `data-requires-python` link attribute: https://www.python.org/dev/peps/pep-0503/#specification

For AstroPy specifically, that appears at https://pypi.org/simple/astropy/ and https://pypi.python.org/simple/astropy/

Having a project level JSON listing *would* still be a nice improvement, but in the mean

[2018-03-05 16:35] ncoghlan opened #3138 "RFE: Allow project maintainers to edit `Requires-Python` metadata directly"
(Broken out of the discussion at https://github.com/pypa/python-packaging-user-guide/issues/450)

While pip 9 correctly interprets `data-requires-python` link metadata in the PEP 503 download API, there are a few UX challenges in getting that metadata set correctly:

* if you forget to set it in the same release where you break compatibility, you either have to ask the PyPI admins to update the da

[2018-03-05 16:37] di commented on #3138
There's a lot of discussion about this field over at https://github.com/pypa/warehouse/issues/2170 as well.

[2018-03-05 17:04] jleclanche commented on #3106
I do not recommend switching to psycopg2-binary. It breaks any dependency which depends on `psycopg2`, such as sqlalchemy's postgres bindings, even though they both provide the import.

Context: https://github.com/psycopg/psycopg2/issues/674

[2018-03-05 17:46] di commented on #3106
@jleclanche I'm not really sure what you mean by "breaks", if they provide the same import and (presumably) the same functionality, what's broken?

[2018-03-05 17:56] dstufft commented on #3138
To be clear, I am like 90% sure that the second and third bullet points here are invalid (or could be better worded as a single one, "if you attempt to produce the sdist with an old version of setuptools or upload with an old version of twine".

I'm generally opposed to editing the metadata that allows diverging from what is different inside of the package (although technically right now there is

[2018-03-05 17:58] dstufft commented on #3106
The dependency metadata, the system will see "I require a project named psycopg2 of at least version X" installed, and that won't be (because psycopg2-binary will be installed instead). It'll be compatible at the ``import`` level, but not at the packaging metadata level.

[2018-03-05 18:17] di commented on #3106
That's what I figured. At least for us, this wouldn't break anything (we're not even installing `sqlalchemy` with the `postgres` extra, which is what adds the `pyscopg2` dependency).

[2018-03-05 22:09] brainwane opened #3139 "Add "how do I keep up?" to FAQ"
The [help page/FAQ](https://pypi.org/help/) should include something like:

(At some future point, this will expand to include, for instance, https://www.pypa.io/en/latest/roadmap/ . But for right now, the announcement mailing list and the PSF blog posts labelled "pypi" are enough.)

--------

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Wa

[2018-03-05 23:38] brainwane commented on #1644
Thanks for your note and sorry for the slow response!

The folks working on Warehouse are using [limited current funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to improve Warehou

[2018-03-05 23:47] brainwane commented on #2413
Thanks for the suggestion, @WhyNotHugo! I have retitled the issue appropriately.

So, someone would update `warehouse/templates/pages/help.html` and `docs/security.rst` to mention the RSS feeds, which now have their own documentation at `docs/api-reference/`.

**Good First Issue**: This issue is good for first time contributors. If there is not a corresponding pull request for this issue, it is up

[2018-03-06 02:05] brainwane commented on #798
Thanks for your note and sorry for the slow response!

The folks working on Warehouse have gotten [funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent task is to improve Warehouse to the poin

[2018-03-06 02:08] brainwane commented on #3112
@jMuzsik Sure, go ahead! (In case you didn't see the thumbs-up from Dustin.)

[2018-03-06 02:15] brainwane commented on #2518
I suggest:

- [ ] for the beta, we change the banner to say "beta" rather than "pre-production", and change the FAQ wording
- [ ] for launch (Milestone 4), we remove the banner and help text entirely

[2018-03-06 07:33] nlhkabu opened #3143 "Add a "shortlink" for projects"
**From user testing:**

When viewing projects on PyPI, some users type the URL directly if they know the project name.

We should create a shortlink like`pypi.org/p/myproject` which would redirect to `pypi.org/projects/myproject`

cc @di for feedback / guidance.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [a

[2018-03-06 14:33] brainwane commented on #2982
For reference: in [the Warehouse developers' meeting a few weeks ago](https://wiki.python.org/psf/PackagingWG/2018-02-20-Warehouse) we agreed that we'll open a nice-to-have issue for a "report spam" button for logged-in users, once #2991 is finished and merged.

[2018-03-06 14:48] brainwane commented on #3062
@nlhkabu please let us know if you're blocked and need any more guidance on what the initial temp fix here ought to be.

[2018-03-06 15:38] di commented on #3143
Going to remove the "good first issue" label from this. IMO while this would be nice, it's not likely to happen.

We have a number of other routes that sit at the top level path here, and this would make packages conflict with them, e.g. would https://pypi.org/help/ go to our "Help" page (as it does now) or to the `help` project (currently at https://pypi.org/project/help/)?

We would need to 'aud

[2018-03-06 16:53] brainwane commented on #2417
@Safihre Thanks for the suggestion and the discussion!

I'm sorry for the delay in response here. The folks working on Warehouse have gotten [limited funding to concentrate on improving and deploying Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have kicked off work towards [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the m

[2018-03-06 17:10] di opened #3144 "Convert "change roles" JS to a Stimulus controller"
Currently there is a bit of JS which show/hides the "Save" button when changing an existing collaborators role: https://github.com/pypa/warehouse/blob/6ba5766dddeed1ba11d1345d02e01ae3fdb43385/warehouse/static/js/warehouse/index.js#L154-L171

It would be nice to convert this to a Stimulus controller similar to what was added in #2884.

[2018-03-06 18:30] waseem18 commented on #998
I think we should send an email whenever an

- email is added
- email is deleted
- email has been changed to primary email

[2018-03-06 18:54] Mariatta commented on #1000
I'd be interested to work on this.
I'm not familiar with the codebase yet. Quick look at https://github.com/pypa/warehouse/blob/master/warehouse/manage/views.py#L550, perhaps around there we can send the email to owners. Am I in the right track for this?
Thanks :)

[2018-03-06 20:01] brainwane commented on #284
I've marked #2914 as something we should address before shutting down legacy PyPI, but developing the structure for the new API can wait till after we shut down the legacy site.

[2018-03-06 20:04] brainwane commented on #996
Thanks, @lukesneeringer!

Since the legacy site doesn't have this feature, I'm marking this issue for a milestone further along, so we don't block the shutdown of the legacy site while waiting for this feature.

[2018-03-06 20:20] jMuzsik commented on #3112
Ok, forking right now, saw the triaging reference so I thought you guys were still talking about it. I think I'd like to pick up another good first issue as well as this one looks very easy.

[2018-03-06 20:25] brainwane commented on #3112
Thanks, @jMuzsik! I am doing a big issue sweep right now and will be updating metadata for a bunch of issues -- whether they need triaging, which milestone (if any) they belong in, and so on. Sorry for the miscommunication.

Once you're done with this one, maybe you could do #3139, if no one has done it by then?

[2018-03-06 20:29] brainwane commented on #2154
@gtback In [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So I'm moving this issue into

[2018-03-06 20:32] brainwane commented on #1317
In [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we discussed this and I learned of site usage stats from last month (Feb 2018): Chrome 67.76%, Firefox 16.92%, Safari 7.38%, Internet Explorer 2.79%.

[2018-03-06 20:34] brainwane commented on #3086
In [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So I'm moving this issue into a miles

[2018-03-06 20:34] brainwane commented on #2794
In [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So I'm moving this issue into a miles

[2018-03-06 20:36] brainwane commented on #1211
We talked about this in [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse); Ernest plans to deploy this to cabotage later this week.

[2018-03-06 20:42] brainwane commented on #727
In [today's Warehouse core developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site.

So I'm moving this issue into a

[2018-03-06 20:46] di commented on #2666
@fschulze Sadly no, there is not a canonical source. Metadata is specified at https://packaging.python.org/specifications/core-metadata/ but the conversion between this and "what fields PyPI accepts" is not documented. Perhaps we need more information here: https://warehouse.readthedocs.io/api-reference/legacy/#upload-api

[2018-03-06 20:49] di commented on #2718
I haven't seen this/#2582 in a while.

[2018-03-06 21:14] waseem18 commented on #727
I would be happy to work on this @brainwane
I'll keep a close look on the issues that this issue depends on so that we can start on once they are resolved.

[2018-03-06 23:12] brainwane commented on #2850
In [today's Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So I'm moving this issue into a miles

[2018-03-06 23:20] brainwane commented on #890
In [today's core Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site.

So I'm moving this issue into a

[2018-03-06 23:25] brainwane commented on #1190
We'd appreciate a volunteer's help with this feature! if you have questions along the way as you work on this, please feel free to ask them here, in [`#pypa-dev` on Freenode](https://webchat.freenode.net/?channels=%23pypa-dev), or the [pypa-dev mailing list](https://groups.google.com/forum/#!forum/pypa-dev).

In [today's core Warehouse developers' meeting](https://wiki.python.org/psf/PackagingWG/2

[2018-03-06 23:33] brainwane commented on #785
@bitdancer If you could do some checking and see what alternatives to pentadactyl you're likely to switch to, I would appreciate it -- I'd like for us to test with those.

Also, just so you know, we're also seeking a grant that would, among other things, support more accessibility testing and improvements to Warehouse.

[2018-03-06 23:37] brainwane commented on #3016
I believe this does need addressing before launch, so I'm keeping it in this milestone.

[2018-03-06 23:38] brainwane commented on #1000
Thanks, @Mariatta! I'll defer to @di who implemented the email management.

[2018-03-06 23:41] di commented on #1000
@Mariatta Yep, that's the right spot!

I think we should break this up into two emails we send when a new collaborator is added:
* Notification to existing owners that a new collaborator has been added (we probably don't need to send this to the current user).
* Notification to the new collaborator that they have been added.

[2018-03-06 23:41] brainwane commented on #1323
In [today's Warehouse core developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the absolutely essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So I'm moving this is

[2018-03-06 23:45] brainwane commented on #1238
So it looks like what we're missing here is graphics, text, URL, and permission from Amazon and from Mozilla. @dstufft would you ping Amazon and Mozilla again and let them know that we would really like this within the next few weeks?

[2018-03-06 23:59] ncoghlan commented on #474
After checking with @dstufft in relation to  https://github.com/pypa/python-packaging-user-guide/issues/450, it seems recent versions of `twine` and `setuptools` should be uploading full project metadata regardless of the nature of the first uploaded artifact (`sdist` or `wheel`).

So the most likely cause of incomplete metadata now is the use of older upload clients (and older releases will be mi

[2018-03-07 00:06] wimglenn commented on #474
@ncoghlan   It would be a different story if the "requires_dist" key was not returned at all, which would be PyPI saying "I don't have this information".  But my issue is that it's actually returning incorrect data, i.e. the "requires_dist" key is there, and it has a value (empty array):

[code]

Users don't seem to have a way to tell the difference between a package which genuinely has no 3rd-par

[2018-03-07 00:07] brainwane opened #3151 "Document data format for upload API"
Followup to https://github.com/pypa/warehouse/issues/2666#issuecomment-351438657 . As @di said,

[2018-03-07 01:06] di opened #3152 "Modal disappears when mouse leaves window"
When a modal is up, like the "Delete Release" modal, the modal disappears when the user moves the mouse outside the browser window. It only reappears when the user hovers over the button:

![mar-06-2018 19-04-26](https://user-images.githubusercontent.com/294415/37067844-6a6ee3e4-2171-11e8-8cb4-058b04ab5ae4.gif)

[2018-03-07 01:10] ncoghlan commented on #474
@wimglenn I think that's 3 separate questions:

1. Distinguishing between "metadata never extracted" (requires_dist not set) and "no dependencies" (empty list). This gets back to the problem where this information is provided by clients as part of the component upload [1], so from PyPI's point of view, those two cases currently look the same. (This kind of limitation in the current upload API is a

[2018-03-07 01:31] ncoghlan commented on #3138
I'm going to close this, as @dstufft's right that my second and third arguments are wrong: the issue is that PyPI relies on the upload client to extract and supply the correct metadata, and that's only a valid assumption for recent versions of `twine` and `setuptools`. If you use `distutils` (or another naive client) to do the upload, it won't extract and supply the modern metadata correctly.

Thi

[2018-03-07 01:31] #3138 closed

[2018-03-07 02:39] brainwane commented on #2935
I agree. Started in #3153.

It would be great to have #3151 for this as well.

[2018-03-07 04:30] dstufft commented on #474
1. Yea, we don't have a way to differentiate these cases currently. The other case we can't differentiate is "has the metadata, but the artifact was created with an older tool that didn't understand it". That mostly only applies to sdists though.
3. Not only platform dependent, but also dependency on enviornment variables, CLI flags, the state of the current system, and the state of external syste

[2018-03-07 04:39] a-wakeel opened #3154 "display total no of downloads and ranking"
This is to suggest/ask for the feature on UI which is to display total no of downloads and ranking of the project like in **npm** or github. It will be a good feature.

[2018-03-07 05:28] Mariatta commented on #1000
Thanks! In https://github.com/pypa/warehouse/pull/3155 I added the code to send email when a new collaborator has been added. Feel free to suggest different copy for the email.

I have not addressed the part about emailing when a user removed from the project, or when the role changed (from Owner-> Maintainer, or vice versa). I think that should be done in a separate PR.

[2018-03-07 06:12] aalmazan commented on #2127
Correct me if I'm wrong, but the remaining issue "Only "Make dropdown work with keyboard" remains." seems to already be fixed on the current master.

Attached gif is in Chrome while pressing TAB to cycle through the fields while logged in. Also tested with Firefox (current) with the same result.

![dropdown](https://user-images.githubusercontent.com/800948/37076287-ce5fce90-218a-11e8-977a-23a009e4

[2018-03-07 07:14] nlhkabu commented on #3126
I should be more specific here - we don't necessarily want to make **all** of the `notification-bar`s dismiss-able - just the option to dismiss them in **some** cases.

In the same way, it would be nice for users to be able to remove documentation information boxes (`callout-block` component) *and* for PyPI to remember this preference, e.g.

![screenshot from 2018-03-07 07-09-39](https://user-imag

[2018-03-07 07:24] Cykooz commented on #3106
But the psycopg2-binary has not resolved problem with libssl.

Imagine, what if near future all python libraries will be depends from psycopg2-binary instead of psycopg2. What will this situation be different from when there was only one version of psycopg2?

[2018-03-07 08:27] nlhkabu opened #3156 "Collaborators form: Change default selection to 'maintainer'"
**From user testing:**

On the management collaborators page (`manage/project/<projectname>/collaboration/`) - we have a form to add a new owner or maintainer:

![screenshot from 2018-03-07 07-29-08](https://user-images.githubusercontent.com/3323703/37079139-75f933a0-21d9-11e8-8714-a3ba170ff919.png)

Currently, the default selected value is 'owner' - we should change the order, so that the default

[2018-03-07 08:35] nlhkabu opened #3157 "Improve owner/maintainer documentation"
**From user testing:**

On the 'collaborators' page in the management UI, we currently have information about what an owner and maintainer can do:

![screenshot from 2018-03-07 08-29-05](https://user-images.githubusercontent.com/3323703/37081549-aa7bc0e0-21e1-11e8-9d49-9708d0ab9cbf.png)

I think that we could improve this to be more specific about what each user can delete:

cc @brainwane for help

[2018-03-07 08:36] nlhkabu commented on #3156
For consistency, we should also change the order of the information above the table, so that maintainer is listed first.

![screenshot from 2018-03-07 08-29-05](https://user-images.githubusercontent.com/3323703/37081832-9a0abaee-21e2-11e8-9db9-79a56b0cb1bb.png)

Related to #3157

[2018-03-07 08:39] nlhkabu commented on #3152
This is so weird.  Thanks for finding it @di.  I'll look into it :)

[2018-03-07 09:08] waseem18 commented on #998
@brainwane I'm looking into this and will soon put up a PR.

[2018-03-07 11:17] paternal commented on #3143
What about a short route? E.g. https://pypi.org/p/foobar which would replace, or be an alias to https://pypi.org/project/foobar . It would be a shorter URL to type directly, while not messing up "non project" routes (like https://pypi.org/help).

[2018-03-07 11:20] paternal commented on #3154
- Download count is planned #787
- Rating is discussed #991

[2018-03-07 11:24] a-wakeel commented on #3154
Thanks

[2018-03-07 11:25] #3154 closed

[2018-03-07 13:45] dstufft commented on #3143
I'd be fine with a shorter router as an alias. I don't think we gain much by making it the canonical location, but a blanket redirect of ``/p/`` to ``/project/`` seems like it'd be fine, and let people type out something shorter.

[2018-03-07 16:14] jMuzsik commented on #3112
The confusing part about this issue is that (correct me if I am wrong) I cannot see if it works unless the code gets pulled in because I have no way to validate a card unless the site exists.

The problem is here:

https://github.com/pypa/warehouse/blob/55000586ac999ae7eacc2635633777ccb0d0e428/warehouse/templates/base.html#L64

I have two guesses, one is very likely the problem.

1. SVG is not sup

[2018-03-07 18:05] di commented on #2127
@aalmazan I think what @nlhkabu is referring to is what she bought up in #3038, which is that the user can't tab to the items in the dropdown menu.

[2018-03-07 18:07] di commented on #3126
So, ideally, we could add a "dismissable" controller that would hide the target element, which we could reuse for pretty much anything.

[2018-03-07 18:12] di commented on #3143
Sounds good to me, this is probably a "good first issue" then. I've updated the title/description/labels accordingly.

[2018-03-07 18:23] di commented on #3112
@jMuzsik

Yes, this is true unless you use a service like https://ngrok.com/ to give you a public URL to your local dev environment to test.

Good catch! Seems like this is why. We'll have to generate a PNG from the SVG and add it to the `pypi-theme` repo (which is private). I'll create an issue there and put the blocked label on this issue until it's done and the image is available.

[2018-03-07 18:56] #3087 closed

[2018-03-07 19:24] MarkMangoba commented on #1238
![aws_logo_smile_1200x630](https://user-images.githubusercontent.com/17626251/37113275-bf462818-21f9-11e8-9c47-9d7997eaa534.png)

Attached is the Amazon Web Services Logo approved for use.  Will touch base with @bwaliszewski on the approved description.

[2018-03-07 19:42] nlhkabu commented on #3126
I can make a PR with the appropriate CSS styles if someone else can provide the JS :)

[2018-03-07 20:11] #3067 closed

[2018-03-07 20:12] brainwane commented on #2546
In [yesterday's Warehouse core developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, replace legacy PyPI, and shut down the old site. So, I'm moving this issue in

[2018-03-07 20:17] jayfk commented on #2935
pyup.io is notified 👍🏼

[2018-03-07 20:18] nlhkabu commented on #3104
@di - is there a way of adding `class="test-pypi"` to the `<body>` tag when the site is https://test.pypi.org/?
If we can do this, I can create some CSS rules to change the styles :)

[2018-03-07 20:28] nlhkabu opened #3161 "Project count maxes out at 10000"
On https://pypi.org/search/?q=&o=-created:

It seems as though the project counter can only go up to 10,000?

![screenshot from 2018-03-07 20-25-32](https://user-images.githubusercontent.com/3323703/37116277-b8926b20-2245-11e8-81ad-6eafc99c72ee.png)

@di - I assume there is a technical restriction at play here?

Would it be possible to display `10,000+` instead?

---

**Good First Issue**: This is

[2018-03-07 20:30] nlhkabu commented on #3062
I agree with @di that it would be a shame to hide this - because it gives people a way to find packages using only filters.

I think the best temporary fix is to do what @pv describes - to change the default order (when no search is applied) to be "date last updated".

Another solution might be to show nothing by default, and add some placeholder text like "Search or apply filters to view relevant

[2018-03-07 20:31] nlhkabu commented on #3062
Sorry, I just realised that I totally repeated what @ewdurbin said there!  :P

[2018-03-07 20:41] nlhkabu commented on #1354
Yes, indeed - I seem to have sent @Volcyy down a rabbit hole here.  I believe we used to concatenate the license text, but it looks like we no longer do.  I think we can safely close this issue.

@Volcyy - sorry for the misdirection here :( I've just opened a few new tickets that are not too large and definitely needed, so please check out the issue tracker if you'd like to continue contributing t

[2018-03-07 20:52] nlhkabu opened #3162 "Change delete confirmation models"
**From user testing:**

1. The placeholder text in the delete modal can be confusing.  We should remove it.
2. Typing the full file name is very painful

### Delete File
![screenshot from 2018-03-07 20-44-40](https://user-images.githubusercontent.com/3323703/37117262-a1dd9da2-2248-11e8-939b-3d79476a8812.png)

- Remove placeholder text
- Make confirmation "Confirm the project name (<strong>`project

[2018-03-07 20:53] nlhkabu commented on #3162
Not sure if this should be labelled with `Good First Issue` @di?

[2018-03-07 20:53] di commented on #3161
Yes, elasticsearch limits our results to 10K. I think it'd be reasonable to say something else here when the number of results are exactly 10K. Instead of "10,000+", we could say "Thousands of projects" or something similar?

[2018-03-07 20:56] di commented on #3162
Removing the placeholder and titlecasing the label should be easy enough. We should probably make changing the actual confirmation field a separate issue though.

[2018-03-07 20:57] di commented on #3162
If we do remove the placeholder, we should make it a little more clear what the exact string we want the user to type is, right now it's just mixed into the title and not differentiated.

[2018-03-07 20:57] nlhkabu commented on #3161
I think the `+` is more accurate.  If we were to say "thousands of projects", I would (as a user) assume it was more than a thousand, but less than "tens of thousands".  Also, `+` doesn't require any fancy translations (when/if the time comes).

[2018-03-07 21:03] nlhkabu commented on #3162
Yes, you're right.  I've updated the spec.  I'll open a separate ticket for changing the confirmation on the file modal.

[2018-03-07 21:05] nlhkabu opened #3163 "Change delete file modal confirmation process"
**From user testing:**

Currently, to delete a file, you must confirm the entire file name:

![screenshot from 2018-03-07 20-44-40](https://user-images.githubusercontent.com/3323703/37118147-2977e46e-224b-11e8-8d85-c379284e6cc2.png)

This is a little bit painful for some users, because the file name can get pretty long.

Instead, we should change this modal so that we require the `project name` fo

[2018-03-07 21:06] nlhkabu commented on #3162
Relies on: #3163

[2018-03-07 21:12] nlhkabu opened #3164 "rename `.notification-bar--warning`"
The current code is:

[code]

Given we are using the danger color, we should rename this modifier to `.notification-bar--danger`.  We also need to find any place in the codebase where this is being used and update the class.

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Warehouse, please work on [another issue without this label](https

[2018-03-07 21:14] di commented on #3104
Yes, we can use the `warehouse.domain` setting to determine which domain we're on, similar to here: https://github.com/pypa/warehouse/blob/fec6e17bc29e449c9dff270ce7eab698d89a3d37/warehouse/templates/robots.txt#L4-L13

[2018-03-07 21:20] #998 closed

[2018-03-07 21:23] di commented on #998
@waseem18 We already send an email when a new address is added (the "verification" email). I don't think deleting an email should require a notification, most likely the address will be unused/invalid anyways, and a "primary change" action is the one with real security implications, so I think this issue is good. Thanks for your work!

[2018-03-07 21:25] waseem18 commented on #998
Your welcome @di :)

[2018-03-07 21:54] waseem18 commented on #3089
@di How about this message? "No user found with that username or email."

[2018-03-07 21:55] nlhkabu opened #3167 "Audit copywriting against styleguide"
As per [our documentation](https://warehouse.readthedocs.io/ui-principles/#write-clearly-with-consistent-style-and-terminology), Warehouse uses the [material design writing styleguide](https://material.google.com/style/writing.html).

We should cross check our UIs to ensure that we are meeting these guidelines - in particular in relation to [capitalization and punctuation](https://material.io/guid

[2018-03-07 21:56] lukesneeringer commented on #994
@brainwane Hi there; I have been on vacation. I will have a plan (and some code) for you to look at it on Friday. :-)

[2018-03-07 22:10] #3143 closed

[2018-03-08 01:43] brainwane opened #3168 "URL with "#errors" after successful password reset is misleading"
![warehouse-hash-errors](https://user-images.githubusercontent.com/842790/37128549-b7985d8a-2248-11e8-8942-e66b2ea4d5ba.png)
On pypi.org, I just reset my password. The green banner says "Password updated." but the URL is `https://pypi.org/manage/account/#errors`, and the `#errors` caught my eye first, confusing me. I received the confirmation email, so I know I successfully updated my password, bu

[2018-03-08 04:02] shinalone opened #3172 "Can't receive verification Email, can't upload module!"
- ***Question:***
On 2017/10/09, I had already confirmed link in Email, and uploaded 3 modules. But now I can't upload modules, because in [new pypi page](https://pypi.org/manage/account/) I crazily click 'send verifaction-Email' more times, I have not received any emails about pypi untill today.

[code]

- ***Maybe:***
I ensure it's not about network, and I looked for spam of my Email.
Maybe it c

[2018-03-08 06:13] JacksonWuxs opened #3174 "reCAPTCHA blocked in China"
A pypi ID is necessary while Iwould like to share and upload a package on pypi. Unfortunnatly, there was something wrong with the website of "https://pypi.org/account/register/".  After writing the all information,  an ERROR was arise named "Recaptcha error.".
I'm not sure if that is caused by China Internet?

[2018-03-08 07:23] #3119 closed

[2018-03-08 12:02] brainwane commented on #582
Once we have this issue resolved, we should ping `@jezdez` and `@WoLpH` to update the [sphinx-pypi-upload](https://bitbucket.org/jezdez/sphinx-pypi-upload/) project & [fork](https://github.com/WoLpH/sphinx-pypi-upload/) ([relevant PR](https://github.com/WoLpH/sphinx-pypi-upload/pull/2)) appropriately.

[2018-03-08 12:10] ewdurbin commented on #3172
outlook.com is blocking our sending IP I'll take a look.

[2018-03-08 12:15] ewdurbin commented on #3172
as are live.com, hotmail.com etc... requesting our mail provider look into the issue.

[2018-03-08 12:21] ewdurbin commented on #3174
It looks like our Register page may be blocking the "additional screening" required by the recaptcha on occasion. Generally a modal that pops over and requests that a user click on objects that look like a "street sign" or "storefront"

@di @nlhkabu any ideas?

[2018-03-08 12:36] dstufft commented on #3174
Might be something related to the CSP policy.

[2018-03-08 12:36] brainwane commented on #2017
Related: #3175.

[2018-03-08 12:42] brainwane opened #3176 "expose mail deliverability in PyPI admin"
Give PyPI admins a way to quickly see if mail deliverability has a problem.

[2018-03-08 15:19] di commented on #3168
Yeah, this is me being a bit lazy. Since this page has multiple separate forms on it that might cause errors, after submission we redirect to make the browser jump to any forms with errors so the message is shown to the user if it's outside the original scroll window. When there's no errors, the anchor doesn't exist, so there's no jump.

One way to fix this is to just rename the anchor to somethin

[2018-03-08 16:41] brainwane commented on #2217
@yeraydiazdiaz @alanbato @HndrkMkt @waseem18 @Volcyy @jw @aalmazan  if one of you would like to take this issue, please speak up here. Feel free to build on @cryvate's work in #2574, and if you're directly reusing it, you can use the `--author` flag to indicate that someone else authored a commit you're making.

@cryvate, if I'm misunderstanding and you intent on coming back to finish that PR in t

[2018-03-08 22:04] brainwane commented on #3157
This is a followup to #2745, and, to some extent, to #2059.

[2018-03-08 22:08] aalmazan commented on #2217
@brainwane Sure thing. Will take a look at it later tonight.

[2018-03-08 22:21] brainwane opened #3184 "Make error message (for missing verified email) work with Test PyPI"
Right now, when someone tries to upload a package to PyPI but does not have a verified email address on file, the error message we send them includes -- hardcoded -- the URL https://pypi.org. Instead, we should use Pyramid's URL routing to refer to the URL of the PyPI in question, thus ensuring that we send error messages that, as appropriate, refer to pypi.org, test.pypi.org, or any other future

[2018-03-08 22:23] brainwane opened #3185 "Make error message (for when the admin intervention flag is set) work with Test PyPI"
Right now, when someone tries to upload a package to PyPI but the admin intervention flag is set (meaning that we're under a spam attack and the PyPI admins have temporarily shut off all uploads), the error message we send them includes -- hardcoded -- the URL https://pypi.org. Instead, we should use Pyramid's URL routing to refer to the URL of the PyPI in question, thus ensuring that we send erro

[2018-03-08 22:25] brainwane opened #3186 "Make error message (for invalid project name) work with Test PyPI"
Right now, when someone tries to upload a package to PyPI but the project name they want to use is not a project name we allow, the error message we send them includes -- hardcoded -- the URL https://pypi.org. Instead, we should use Pyramid's URL routing to refer to the URL of the PyPI in question, thus ensuring that we send error messages that, as appropriate, refer to pypi.org, test.pypi.org, or

[2018-03-08 22:55] brainwane commented on #360
Carrying over a reminder from #2413: when we implement webhooks support, we should document it in https://warehouse.readthedocs.io/security/#project-and-release-activity-details and https://test.pypi.org/help/#APIs .

[2018-03-08 22:56] brainwane commented on #2413
Now that #3173 has been merged, https://warehouse.readthedocs.io/security/ and https://test.pypi.org/help/#APIs point to our API documentation, which [now includes details about accessing PyPI's journal](https://warehouse.readthedocs.io/api-reference/feeds/#project-and-release-activity-details). I therefore think we can close this issue; thank you for opening it, @WhyNotHugo!

[2018-03-08 22:56] #2413 closed

[2018-03-08 22:58] hangtwenty commented on #2413
Great! 🎆

[2018-03-08 23:06] brainwane commented on #360
I'll also mention that API-related issues are things we could work on [at the PyCon sprints in May](https://us.pycon.org/2018/community/sprints/).

[2018-03-09 00:04] cryvate commented on #2217
Apologies. I have finally made/found an environment that allows me to run the tests locally, so I am on this (again). @brainwane @aalmazan @di

[2018-03-09 00:07] brainwane commented on #3126
@aalmazan now that cryvate's started working again on that other issue, would you like to try this one?

[2018-03-09 00:46] shinalone commented on #3172
@ewdurbin Thanks a lot.

[2018-03-09 01:08] shinalone commented on #3174
@di @ewdurbin I also don't see  CAPTCHA in China. See below,
![](https://i.imgur.com/sc5c3Kp.png)
![](https://i.imgur.com/wBaUpFL.png)

[2018-03-09 06:16] nlhkabu opened #3194 "Refactor dropdowns"
To make the dropdowns keyboard accessible, we should follow this guide: https://www.w3.org/WAI/tutorials/menus/flyout/

At the same time, we should fix a bug we found - that sometimes the dropdown are being cut off:

![screenshot from 2018-03-09 06-14-28](https://user-images.githubusercontent.com/3323703/37193345-4ac7cb7c-2361-11e8-8d50-d8cd04bdf5f2.png)

ping @alexwlchan - could you please post y

[2018-03-09 06:24] nlhkabu opened #3195 "Link to documentation goes nowhere"
On `/manage/project/<project>/release/<release>/` we have this documentation box:

![screenshot from 2018-03-09 06-21-12](https://user-images.githubusercontent.com/3323703/37193517-399910c6-2362-11e8-8fc0-a60d950ab346.png)

Currently, the URL is set to: `href="TODO"` :)

We need to find the appropriate documentation in the [Pyhon Packaging User Guide](https://packaging.python.org/) and link to it.

[2018-03-09 06:34] nlhkabu opened #3196 "Improve links in management UI"
## Release page

on `/manage/project/<project>/releases/`, we link to `/manage/project/<project>/releases/<release>` in two places:

![screenshot from 2018-03-09 06-25-47](https://user-images.githubusercontent.com/3323703/37193709-f319f740-2362-11e8-84b1-dcc7231c3fa3.png)

![screenshot from 2018-03-09 06-25-56](https://user-images.githubusercontent.com/3323703/37193712-f358ce48-2362-11e8-825f-56e3

[2018-03-09 06:47] nlhkabu opened #3197 "Add JS validation when passwords do not match"
It would be nice to use JavaScript to indicate whether or not the passwords match:

1. show a message
2. conditionally enable the button

----

![screenshot from 2018-03-09 06-36-40](https://user-images.githubusercontent.com/3323703/37194259-48d7d8da-2365-11e8-83b1-82bac0c1e220.png)

----

![screenshot from 2018-03-09 06-36-40-match](https://user-images.githubusercontent.com/3323703/37194328-94f91

[2018-03-09 06:51] nlhkabu opened #3198 ""Confirm the username" should be "Confirm your username""
On the modal when a user wants to delete their account.   Currently we show this message:

![screenshot from 2018-03-09 06-49-17](https://user-images.githubusercontent.com/3323703/37194447-29f9f37a-2366-11e8-94c7-9c4dbc916626.png)

"Confirm the username" should be "Confirm your username"

---

**Good First Issue**: This issue is good for first time contributors. If you've already contributed to Wa

[2018-03-09 06:57] nlhkabu opened #3199 "Use red in UI to indicate danger"
Many user testing subjects noted that the area for deleting a release/project/account should be a different color (red) to indicate that it is a dangerous action, and to differentiate it from informational content.

[2018-03-09 07:05] nlhkabu opened #3200 "Redesign release table"
Right now we list the 'summary' of a release in the table:

![screenshot from 2018-03-09 07-04-08](https://user-images.githubusercontent.com/3323703/37194848-178b7464-2368-11e8-881c-29454067315f.png)

Feedback from user testing is that this value *so rarely* changes that it's not worth exposing here.

Instead we should:

1. Add information about what files are in the release
2. Try to expose the b

[2018-03-09 07:13] nlhkabu opened #3201 "Add confirmation modal when adding a new owner to a project"
Right now, the process for adding an owner to a project is pretty easy (maybe too easy) - just add user, select the dropdown value and click save.

I had feedback in user tests that it might be a good idea to add a confirmation modal process when adding a new **owner** (not maintainer) to a project.

The workflow would be something like this:

1. If the user clicks on either "add" or "save" with "

[2018-03-09 07:14] nlhkabu commented on #3201
I'm looking for feedback on this one:

1. does this add value
2. would this get too annoying?

[2018-03-09 07:19] #3199 closed

[2018-03-09 08:09] aalmazan commented on #3126
@brainwane Sure thing. Submitted a partial PR with a quick question in #3202 .

[2018-03-09 09:02] xlcnd commented on #3172
Same with me!

[2018-03-09 09:38] yeraydiazdiaz commented on #3197
Sure, I'll take the opportunity to rewrite the feature in Stimulus.

Disabling the submit button was something [we explored before](https://github.com/pypa/warehouse/pull/2542#issuecomment-341894703) and decided against it. We are now using a pattern where feedback is given when clicking on the submit button in the form of tooltips.

Do we want to mix both feedback flows?

[2018-03-09 12:52] dstufft commented on #3174
Oh interesting, I wonder if China is blocking recaptcha.

[2018-03-09 12:54] dstufft commented on #3174
Okay, so according to @reaperhulk Recaptcha doesn't work in China, that is... unfortunate.

[2018-03-09 12:59] dstufft commented on #3174
Some more information https://github.com/google/recaptcha/issues/87

[2018-03-09 13:01] brainwane commented on #3195
The URL we should link to is: https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi

[2018-03-09 13:03] shinalone commented on #3174
@dstufft I see, thanks.

[2018-03-09 13:05] dstufft commented on #3174
Not sure what (if any) milestone we should add this to, but getting this fixed is super important since currently all of China can't interact with anything on Warehouse that requires a captcha. /cc @brainwane

[2018-03-09 13:14] dstufft commented on #3201
For comparison, Github doesn't require any sort of confirmation to add someone as a contributor to a repository. I don't think we need it either, you can undo the action pretty easily by just removing them after it's been done. Ideally I think these sorts of confirmations are best left for actions that cannot be undone.

[2018-03-09 13:18] brainwane commented on #3201
I think adding someone as an *owner* is pretty rare and does deserve an "are you sure? you could make them a maintainer instead" modal.

[2018-03-09 13:25] dstufft commented on #3201
I might be weird? I almost never use the maintainer role, if I trust someone enough to let them ship software in my name I generally trust them to also add maintainers too.

[2018-03-09 13:40] dstufft commented on #2935
This isn't a new feature, legacy had it and Warehouse just mimic'd it.

[2018-03-09 14:02] ncoghlan commented on #2935
Regarding GPG signatures: one of the risks that publisher signatures defend against is a compromise of *PyPI itself* (whether that's a technical compromise by a third party, or malicious action by a PyPI admin). However, for them to effectively serve that purpose, signatures need to be obtained through a trusted channel *that isn't PyPI*. As a reference link, https://mail.python.org/pipermail/dist

[2018-03-09 15:27] di commented on #3198
This might be a little tricky, because in order to make the modal reusable, I made this just say "Confirm the ___ to continue" where the value is the same as the label.

[2018-03-09 16:35] ewdurbin commented on #3172
Still working on this, we're looking at alternatives for sending mail as a result of poor response from our current mail provider.

[2018-03-09 16:57] xlcnd commented on #3172
I solved the problem by using a non-Microsoft address!

[2018-03-09 17:13] di commented on #3201
I agree w/ Donald, let's keep these confirmation dialogs just for destructive actions.

[2018-03-09 17:43] di commented on #3197
@yeraydiazdiaz Great question. The submit button disabling was a problem on the registration form because there wasn't a way to provide feedback if the user was missing one of the required fields.

I think here it's OK, since it should be pretty clear to the user that they need to fill out the password field in order to be able to change their password, and we'll be able to conditionally show the

[2018-03-09 18:30] #3195 closed

[2018-03-09 23:17] ewdurbin opened #3206 "JSON API inconsistencies"
re https://github.com/pypa/pipenv/issues/1646#issuecomment-371972522

[code]

[2018-03-09 23:24] kennethreitz commented on #3206
I'm stealing the "emoji in GH issues" idea from here

[2018-03-09 23:29] ewdurbin commented on #3206
Doing some quick analysis to try to capture everything we can in one issue and squash them all at once.

[2018-03-09 23:41] ewdurbin commented on #3206
Key syntax from [`jq`](https://stedolan.github.io/jq/)

Missing in warehouse implementation (probably not an issue):
  - `.info._pypi_hidden`
  - `.info._pypi_ordering`
  - `.info.cheesecake_code_kwalitee_id`
  - `.info.cheesecake_documentation_id`
  - `.info.cheesecake_installability_id`

Renamed in warehouse implementation:
  - `.info.package_url` => `.info.project_url`

Added in warehouse imple

[2018-03-09 23:59] dstufft commented on #3206
These were purposely left out, and shouldn't be re-added unless we have evidence of wide-spread breakage without them. They're either internal details or removed features.

I don't remember why this was changed, if there was a reason at all.  Probably this should be changed back (possibly keep both spellings of the name in case someone was using the Warehouse version).

I don't see a path key? It

[2018-03-09 23:59] lukesneeringer commented on #994
@brainwane @ewdurbin et. al.

I have started doing research and have a minimal amount of code to paper, but want to bring in other voices and such at this point.

## The API keys themselves

I assert that a new database model should be added to `packaging` which adds the API keys. My rationale for putting this in `packaging` rather than in `accounts` is simply because it is going to have a relatio

[2018-03-10 00:01] ewdurbin commented on #3206
These are fine (and should be the preferred spelling) so that we provide a path forward for sha256 hashes in the API (and others).

No disagreement from me in practice, but there is a _semantic_ difference between at least a `null` rather than an empty list.

[2018-03-10 00:05] ewdurbin commented on #3206
Whoops! You're right! it was actually removed. and that's fine :)

[2018-03-10 00:18] moshez commented on #994
Looks awesome!

One question though --
What does it mean to "provide" a private key? Presumably we're not expecting users to literally send their private keys to warehouse. Would it be a signature? On what? (File hash? File hash + file name?)

[2018-03-10 00:57] dstufft commented on #994
I'm still digesting this, but I wanted to jot down my initial thoughts:

* I am hesitant to have API keys that are not attached to users in some way. The permissions system in play should be able to support it, but I believe that there is likely going to be assumptions baked in throughout (and maybe even in external systems?) that a user is uploading the file not an API key. More important though,

[2018-03-10 03:10] dstufft commented on #3206
These should be resolved now with #3213

[2018-03-10 03:10] #3206 closed

[2018-03-10 04:47] lukesneeringer commented on #994
Sorry, I misspoke. I meant that they should upload a _public_ key.

Here is my rationale: often times, _organizations_ want API keys that are independent of _individual users_. Essentially, a company does not want all of their keys to break because an individual user leaves, and most people do not make separate accounts on PyPI for work vs. personal.

A higher weight way to solve this problem woul

[2018-03-10 09:27] nlhkabu commented on #3201
Ok, this makes sense. Closing this issue. Will reopen if raised again in the future.  Thanks for your feedback :)

[2018-03-10 09:27] #3201 closed

[2018-03-10 09:28] nlhkabu commented on #3198
Thanks for the feedback @di - given this, should we remove the `good first issue` tag and description?

[2018-03-10 09:39] nlhkabu opened #3215 "Extend documentation on project settings page"
From user testing:

It would be helpful if we could instruct users on how to update meta data associated with their project.  This is particularly true for cases where the old UI allowed updates (e.g. release summaries) but the new one does not.

Thanks to https://github.com/pypa/warehouse/pull/3169, we already have information about project links.
We should extend this to include other meta data

[2018-03-10 11:42] nlhkabu commented on #727
hi @waseem18 thanks for your work on this so far.

A couple of UX ideas:

1. I think it could be better to have the advanced search appear below the main search bar - something like this:

![screenshot from 2018-03-10 11-07-41](https://user-images.githubusercontent.com/3323703/37241840-c925462e-2457-11e8-9311-fab68a3bb74c.png)

2. it would be awesome if we could develop some kind of advanced searc

[2018-03-10 11:58] waseem18 commented on #727
Thanks for the UX ideas @nlhkabu . The suggested UX looks really great.

I'll implement the UI in the same way as you suggested once work on Advance Search is started.

[2018-03-10 13:06] di commented on #3198
Nah, I think it's still doable, just leaving some clues. 🙂

[2018-03-10 13:07] di commented on #3215
@brainwane already did this in #3177, I think.

[2018-03-10 13:50] JacksonWuxs commented on #3174
I'm sorry about writing back so late.
In fact I didn't see this register page. Here is what I got after clicking the "Create Account" button.

On 3/8/2018 23:15，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs Are you seeing a reCAPTCHA like this on the register page?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thre

[2018-03-10 14:03] JacksonWuxs commented on #3174
I will try to find the answer from the blog what you gave me. In any case, I am moved by your attention to this issue.

By the way, Is the user who upload the library to Pypi really important? If not, could you help me upload my lib to Pypi please? I can't wait to share my library. hahaha...
Here is my lib address: https://github.com/JacksonWuxs/datapy .The address includes CODES, README and EXAMP

[2018-03-10 14:18] di commented on #3174
@JacksonWuxs If you let me know the email address and username you'd like to use, I can register an account on your behalf, and then we can do a password reset so you can get access to it.

[2018-03-10 14:27] di opened #3218 "Implement an AdminFlag for halting project/release modifications"
Similar to #2967, we should implement an `AdminFlag` that allows us to:
* halt all new uploads
* prevent release/project deletion

[2018-03-10 14:47] yeraydiazdiaz commented on #3197
@nlhkabu which CSS classes are you using for the messages? The closest thing I'm finding are badges and don't quite look the same

[2018-03-10 14:48] nlhkabu commented on #3215
Aha! So she did! Closing this then - sorry for the noise :)

[2018-03-10 14:48] #3215 closed

[2018-03-10 15:23] ewdurbin commented on #3172
We should be good for now! We're going to complete our work to move to a new Mail provider to avoid this in the future.

[2018-03-10 15:23] #3172 closed

[2018-03-10 16:09] NotAFile commented on #3127
How would you recommend fetching the status for this?

On the account settings page, this is done with a separate query, but I'd be reluctant to add another db query to this frequently used page just for the one badge.

[2018-03-10 16:54] NotAFile commented on #3127
@di yes, but that was what I was trying to avoid. It's basically two queries on the exact same thing. In django, I'd use the annotate functionality, but this doesn't seem to be available in SQAlchemy. I was wondering how you'd recommend doing this for this project. Two seperate queries and a membership check seems like the worst way to do it, but I might be missing something here.

[2018-03-10 17:28] nlhkabu commented on #3197
@yeraydiazdiaz you could use `warehouse/static/sass/blocks/_form-errors.scss` to display the error.
For the green, you could create a `.form-error--valid` modifier on this component. Let me know if you need a hand with that - if you prefer you could push the PR unstyled and I can add a commit for this :)

[2018-03-11 03:03] dstufft commented on #3127
I would be very surprised if what you want can't be done with SQLAlchemy. Possibly using the SubQuery or Aliasing support.

[2018-03-11 03:23] alex opened #3221 "Set samesite=lax on session cookies"
This is a strong defense-in-depth mechanism for protecting against CSRF. It's currently only respected by Chrome, but Firefox will add it as well.

[2018-03-11 03:27] alex commented on #3221
This may be blocked on https://github.com/Pylons/pyramid/issues/2733

[2018-03-11 04:20] JacksonWuxs commented on #3174
I'm really happy to hear that. I hope you could help me register an account and my information as follow:
E-Mail:wuxsmail@163.com
User Name: Jackson Woo
Real Name: Xuansheng Wu
On 3/10/2018 22:18，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs If you let me know the email address and username you'd like to use, I can register an account on your behalf, and then we can do a password re

[2018-03-11 05:24] sayanarijit commented on #869
Hi All

Is there any reason we are not using client-side JavaScript to automatically detect the format and render it?

[2018-03-11 10:46] JulienPalard commented on #869
@sayanarijit see https://github.com/pypa/readme_renderer/issues/1 and https://github.com/pypa/readme_renderer/pull/51, TL;DR: "Since we now have a way for the user to explicitly describe the content-type of their README, being able to infer it isn't necessary.".

Also, infering is hard, and can fail. FWIW see https://github.com/JulienPalard/mdorrst

[2018-03-11 12:12] sayanarijit commented on #869
@JulienPalard Thanks for the information. I was not aware of this. However I just tried updating one of my packages listed on pypi: [pidlock](https://pypi.org/p/pidlock) after mentioning 'Description-Content-Type' as 'text/markdown' using setuptool's long_description_content_type argument. But it seem it failed to convert the markdown.

[2018-03-11 13:48] di commented on #3174
@JacksonWuxs Done, you should have a password reset email in your inbox.

Leaving this issue open until we resolve the larger problem of using reCAPTCHA in China.

[2018-03-11 14:01] JulienPalard commented on #869
@sayanarijit It's still WIP (note this issue is still opened) but as the PEP has been accepted we're now sure it's the right way to do it, it's a good first step.

[2018-03-11 15:10] waseem18 opened #3223 "Add `required` attribute to input element in Request Password Reset page"
In [Request Password Reset](https://pypi.org/account/request-password-reset) page the input element doesn't have `required` attribute. Hitting `Request Password Reset` button with empty input sends a POST call and then adds `This field is required` message.
It's better to have a `required` attribute which marks the input as required.

---

**Good First Issue**: This issue is good for first time co

[2018-03-11 16:34] JacksonWuxs commented on #3174
Done, I have finished to reset my password. Thanks, so much!

On 3/11/2018 21:48，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs Done, you should have a password reset email in your inbox.

Leaving this issue open until we resolve the larger problem of using reCAPTCHA in China.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mu

[2018-03-11 22:16] nlhkabu commented on #3223
Thanks @waseem18 :)

[2018-03-11 22:19] nlhkabu commented on #3161
Closed by https://github.com/pypa/warehouse/pull/3193

[2018-03-11 22:19] #3161 closed

[2018-03-11 23:46] pganssle opened #3225 "License metadata seems to be ignored"
When I made the latest release of `python-dateutil`, it came along with a license change from BSD to Apache / BSD dual licensed.  I updated the `license=` metadata in `setup.py`, but I forgot to update the trove classifiers.

[The page on PyPI](https://pypi.python.org/pypi/python-dateutil/2.7.0) shows the license as "Apache 2.0" as I would expect. [The page on warehouse](https://pypi.org/project/p

[2018-03-12 13:51] JacksonWuxs commented on #3174
I'm sorry I need to bother you again. Unfortunately, when I was uploading my program with command as "twine upload dist/*",  I raised another error. The error said: "HTTPError: 403 Client Error: The user 'JacksonWoo' is not allowed to upload to project 'datapy'."
How can I do?

On 3/11/2018 21:48，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs Done, you should have a password reset em

[2018-03-12 14:02] di commented on #3174
@JacksonWuxs No apology necessary. [The `datapy` project already exists](https://pypi.org/project/datapy/), you'll need to choose a new name.

[2018-03-12 14:12] brainwane commented on #1388
Thanks for the bug report! And I'm sorry for the slow response.

In [a Warehouse core developers' meeting](https://wiki.python.org/psf/PackagingWG/2018-03-06-Warehouse) earlier this month, we decided to pare down our near-future milestones on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) so they really only contain the essential bugfixes and features we need to launch, re

[2018-03-12 14:18] brainwane opened #3228 ""how to add new dependencies to Warehouse" HOWTO"
-- @di in #3106

We could put this in https://warehouse.readthedocs.io/development/patterns/ and refer to it in https://warehouse.readthedocs.io/development/submitting-patches/ and https://warehouse.readthedocs.io/development/reviewing-patches/ .

[2018-03-12 15:15] waseem18 commented on #1299
@nlhkabu I'm looking into this issue - Right now going through http://odyniec.net/articles/turning-lists-into-trees/.

[2018-03-12 15:37] di commented on #1388
I'm not sure I would call this a "bug", but it's definitely un-ergonomic and can cause confusion when a new package author thinks a name has not been taken.

I think we either need to create a new page for this, or make the current project detail view handle a project with zero releases, either of which should indicate that the name is registered but has no releases (and possibly link to our PEP 5

[2018-03-12 16:14] JacksonWuxs commented on #3174
Oh it so sad...  Could you tell me which web site will show the name list?
I mean the token names.

On 3/12/2018 22:02，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs No apology necessary. The datapy project already exists, you'll need to choose a new name.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-12 16:31] di commented on #3174
@JacksonWuxs You can search here: https://pypi.org/search/, for example https://pypi.org/search/?q=datapy.

[2018-03-12 16:33] willingc opened #3229 "Project description displaying UNKNOWN after release update"
Howdy folks. We just uploaded a jupyter_client release update. The project description classifier is still displaying UNKNOWN. Other classifiers such as the Links section updated beautifully (thanks!). Not sure if this is a configuration error on our part or an issue. There's a screenshot below and a link to the line in our `setup.py` source.

<img width="1406" alt="screen shot 2018-03-12 at 9 19

[2018-03-12 16:34] dstufft commented on #3229
It is confusingly named, but ``description`` is the summary you see in the grey area up above. The field you're looking at is ``long_description`` in ``setup.py``.

[2018-03-12 16:34] #3229 closed

[2018-03-12 16:37] willingc commented on #3229
Thanks @dstufft. That makes complete sense now. I'll reread the docs and see if I can submit a PR to clarify.

[2018-03-12 16:42] brainwane commented on #3229
Thanks, @willingc. Quick question -- as a PyPI package maintainer, where would you expect to see some helpful text about how to define what goes in those different areas of the page?

[2018-03-12 16:56] brainwane commented on #3108
We discussed this in [today's Warehouse core developers meeting](https://wiki.python.org/psf/PackagingWG/2018-03-12-Warehouse). Since this is a regression, we should fix it before shutting down the legacy site.

And the header-stripping is probably an accident rather than intentional. @dstufft, Dustin and Ernest would like you to weigh in on this.

[2018-03-12 16:58] willingc commented on #3229
@brainwane I opened a PR where I would have found it helpful. https://github.com/pypa/python-packaging-user-guide/pull/456 :smile:

[2018-03-12 17:08] brainwane commented on #284
As we develop the new API we should consider #347 as well. And I've added this issue to [the list of things we might work on at the PyCon sprints](https://wiki.python.org/psf/PackagingSprints).

[2018-03-12 17:33] #2861 closed

[2018-03-12 17:47] brainwane commented on #3218
As with the other spam-related features, I'm leaving this out of the milestone bucketing since it isn't pertinent specifically to [the MOSS grant](https://blog.mozilla.org/blog/2018/01/23/moss-q4-supporting-python-ecosystem/).

[2018-03-12 18:55] brainwane commented on #347
I'm grateful for the discussion here and apologize for the slow response.

There's now an open issue #1478 for getting a regular dump of the PyPI database, and [other open issues tagged as "APIs/feeds"](https://github.com/pypa/warehouse/labels/APIs%2Ffeeds). And now, https://warehouse.readthedocs.io/api-reference/ has a bunch more guidance on how developers can use the Warehouse APIs (RSS feeds, J

[2018-03-12 18:56] brainwane commented on #3176
Would be useful for #3016, per [today's meeting](https://wiki.python.org/psf/PackagingWG/2018-03-12-Warehouse).

[2018-03-12 19:42] brainwane opened #3231 "User support ticket system"
PyPI users should have a place within or connected to Warehouse to submit support tickets (account recovery, increasing upload file size limits, requesting new trove classifiers, etc.). Right now, we get support requests via IRC, GitHub issues, Twitter, Slack, SourceForge issues, and probably other places too. Support requests should be in their own central queue, separate from Warehouse bug repor

[2018-03-12 19:49] brainwane commented on #3016
I've made #3190 to add a note about account recovery to the FAQ, and we discussed this in [today's core Warehouse developers meeting](https://wiki.python.org/psf/PackagingWG/2018-03-12-Warehouse).

*What's our policy on helping users who ask for account recovery, and what's our policy on verifying their claim?*: We do these investigations (claims to names) on a case-by-case basis. We generally ask

[2018-03-12 19:49] #3016 closed

[2018-03-12 22:18] brainwane commented on #3078
@jw thanks for reporting this.

Last week Dustin's PR got merged into the camo repo, today we got the camo service deployed to [cabotage](https://github.com/cabotage/cabotage-app), and tomorrow @nlhkabu will be creating a placeholder image that Warehouse can show instead of the broken-because-it-is-too-large image.

[2018-03-12 23:08] di commented on #1354
I figured out what this was about: if the `License` metadata field is set, we are just showing the first line of it, because it _could_ be a multi-line license file ([although that's not recommended](https://packaging.python.org/specifications/core-metadata/#license-optional))

https://github.com/pypa/warehouse/blob/eeabc82178dfcef739df4da09aa37a2aaeefa3e0/warehouse/packaging/views.py#L127-L130

I

[2018-03-12 23:26] brainwane commented on #2935
I updated a bit of the comment - thanks for your feedback, Donald and Nick. Now I'll use it to send notes to some of the sites and projects listed above.

[2018-03-12 23:50] #3225 closed

[2018-03-12 23:50] di commented on #3225
Thanks for raising @pganssle, this was indeed a small bug with the way we were handling the presence of licenses in both the [`Classifier` field](https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use) and the [`License` field](https://packaging.python.org/specifications/core-metadata/#license-optional).

Based on the specification above, I would suggest the following `

[2018-03-13 03:01] brainwane commented on #2935
badges/shields#1569, librariesio/libraries.io#2024.

[2018-03-13 03:09] WhyNotHugo commented on #2413
Thanks!

[2018-03-13 10:47] dstufft commented on #3225
I think distutils or maybe setuptools has a bug where if you specify a maintainer it sets that as the author in the metadata.

Sent from my iPhone

[2018-03-13 12:50] dstufft commented on #994
I've been thinking about this a lot and I think I've come up with the start of a proposal for how to handle this.

To start off with, I think that a public key crypto scheme is generally overkill for this application. We don't have N untrusted parties that need to be able to verify the authenticity of a request, just a single trusted party (PyPI) which means there is little need to have a scheme t

[2018-03-13 13:08] dstufft commented on #994
One nice thing about the above idea, is that end users can completely ignore the extra power granted by Macaroons if they want. They can simply treat it as an API key, generate a Macaroon via Warehouse, pass it to Twine as the password for their account and go on with life without giving it a second thought. Of course someone who wants to unlock additional power for delegation or resource constrai

[2018-03-13 13:34] pganssle commented on #3225
@di Thanks for the response. I updated the trove classifiers, I think your idea of changing `license=` to **Dual License** is a good idea, I'll do that shortly.

With regards to the maintainer/author thing, I've opened an issue about it: pypa/setuptools#1288, I'm also going to open one for distutils.

[2018-03-13 13:44] brainwane opened #3238 "Legacy and Warehouse RSS feeds differ"
@andrew asked in https://github.com/librariesio/libraries.io/issues/2024#issuecomment-372638824 about Warehouse's RSS feeds:

I've verified through visual inspection that the data in the legacy RSS feed and the data in the Warehouse RSS feeds differ.

This is a bug in the feeds or a bug in the docs. Currently our [feeds documentation](https://warehouse.readthedocs.io/api-reference/feeds/) and [War

[2018-03-13 14:01] dstufft commented on #3238
I don't believe there should be any differences between the two of them (other than the obvious difference of the URL changing), so it's likely a bug somewhere. Is it a difference in the structure of the data, or the data itself?

[2018-03-13 14:04] dstufft commented on #2935
As far as GPG and PyPI goes, the delta between legacy and Warehouse is uh:

* Warehouse doesn't expose the fact a file had a signature uploaded for it in the UI.
* Warehouse doesn't have a UI for users to manage their GPG public key.

I don't think anything else has changed, and both of those are UI things so it probably doesn't need called out specifically since a lot of UI stuff changed?

[2018-03-13 14:11] andrew commented on #3238
@dstufft the structure looks the same to me, looks like the order of the items in `<pubDate>` seems to be whats causing the bug

[2018-03-13 14:14] dstufft commented on #3238
Ah, probably just https://github.com/pypa/warehouse/blob/master/warehouse/templates/rss/packages.xml#L11 and https://github.com/pypa/warehouse/blob/master/warehouse/templates/rss/updates.xml#L10 need adjusted. Which might be fixable just by adjusting https://github.com/pypa/warehouse/blob/54e59eab93be8aee21d96d993b64bf53272b9087/warehouse/i18n/filters.py#L35-L37. I haven't dug into it to figure ou

[2018-03-13 14:14] di commented on #3238
Looks like the `all-projects` cache key is not set for these as well, so the results are as much as ~24 hours stale.

[2018-03-13 14:26] di commented on #3238
I think Warehouse is using the correct RFC 822 format here, it's legacy that's incorrect: https://validator.w3.org/feed/docs/error/InvalidRFC2822Date.html

We have some other issues though:
* for the `updates` feed, we're using `release.project.created` and not `release.created` for the `pubdate`
* The DTD we're using has been deprecated: https://validator.w3.org/feed/docs/error/DeprecatedDTD.html

[2018-03-13 14:31] JacksonWuxs commented on #3174
I upload my package to Pypi successful.
But I faced another bigger problem I thought. After I install successful, it still couldn't be import? I have screenshot of the wrong process. Thank you!
On 3/12/2018 22:02，Dustin Ingram<notifications@github.com> wrote：

@JacksonWuxs No apology necessary. The datapy project already exists, you'll need to choose a new name.

—
You are receiving this because y

[2018-03-13 14:32] dstufft commented on #3238
Okay, so we'll need to either decide if we want to use the correct format, or maintain compatibility with legacy. I feel like I *probably* want to document that the format is changed to match the correct format, but I'm happy to be persuaded otherwise.

[2018-03-13 14:32] brainwane commented on #2935
@dstufft when you say "Warehouse doesn't expose the fact a file had a signature uploaded for it in the UI." I see, you mean the web UI, and Ernest was referring to the Simple API. Thanks.

I do think the things you mention do need calling out because - in my experience - while "foo has moved over to another page/a sidebar" doesn't need much explicit guidance, "foo that you used to see/use is now g

[2018-03-13 14:38] dstufft commented on #2935
That works. If you want to see the difference you can look at https://pypi.python.org/pypi/pip versus https://pypi.org/project/pip/#files. The former has a (php) link, and the latter does not.

I might be wrong about the managing your GPG key part, I just logged into legacy to get a link for the page and I don't see it anymore. I suspect @ewdurbin or @di removed it from legacy at some point and I

[2018-03-13 14:56] di commented on #3238
I think we should use the correct format, and document it accordingly in the 'migrating to pypi.org' guide.

[2018-03-13 14:59] di commented on #3225
Yeah, that seems like a bug. Warehouse will correctly handle the presence of any or all of the Author/Maintainer metadata fields, if they're correctly provided.

[2018-03-13 15:31] #3238 closed

[2018-03-13 15:46] dstufft commented on #3108
Recording this here since I said it in Slack:

This was not done accidentally, but was instead done to disable support for conditional ``GET``s for hosted files. The metrics pipeline inside of Fastly uses response headers to store information about the file (such as project, version number, etc) which it then logs to Linehaul and ultimately ends up in BigQuery. There was an issue where a number of

[2018-03-13 15:48] dstufft commented on #3108
Oh, and of course there is always the option of deciding that the original decision (that losing conditional ``GET`` is an OK price to pay for more accurate download counts) was wrong, and to simply remove this code and let us not record downloads if they occurred as part of a conditional ``GET``.

[2018-03-13 16:33] brainwane commented on #583
@waveform80 I'm so sorry for the long delay in reply. Please see #582 for where people are trying to work much of this out, and https://packaging.python.org/tutorials/distributing-packages/#project-urls for a recommended way to point users to multiple URLs (including documentation) in a PyPI project page.

[2018-03-13 17:20] andrew commented on #3238
Awesome, thanks for investigating so quickly!

https://pypi.org/rss/packages.xml now appears to match https://pypi.python.org/pypi?%3Aaction=packages_rss 🎉

https://pypi.org/rss/updates.xml is still showing old packages from 2016, not sure if the code has been deployed yet or there's some caching involved?

[2018-03-13 17:52] brainwane commented on #2649
@lgh2 is about to start working on this.

[2018-03-13 19:34] brainwane commented on #2649
In IRC conversation we found out Dustin had already started working on this, so now it's on his plate. :)

[2018-03-13 20:44] alexwlchan commented on #3194
Here’s a couple more screenshots from our user testing session last Thursday:

![screen shot 2018-03-08 at 06 38 41](https://user-images.githubusercontent.com/301220/37368811-3318db96-26ff-11e8-965b-fd361080265d.png)

![screen shot 2018-03-08 at 07 13 39](https://user-images.githubusercontent.com/301220/37368821-3b061ada-26ff-11e8-9d06-e5a0315bd1b6.png)

![screen shot 2018-03-08 at 07 14 17](https

[2018-03-13 20:46] moshez commented on #994
To extend what @dstufft said -- we can have a constraint be "upload file <x> with hash <y>" which means replay attacks (short of pre-image attacks) are useless. If we further have twine auto-attenuate with this + short time frame it means future pre-image attacks are useless too, there better be a pre-image attack ready now.

[2018-03-13 21:16] brainwane commented on #2935
mosquito/pypi-server#30, circleci.py#40, an email to CircleCI support, email to gemfury about badges, and email to PythonAnywhere sent.

[2018-03-14 02:46] brainwane commented on #2935
Emailed Paul Tagliamonte, Barry Warsaw, and Piotr Roszatycki with a heads-up and asked for it to be forwarded to [the `debian-python` list](https://lists.debian.org/debian-python/). Email sent to Jannis Leidel and WoLpH about `sphinx-pypi-upload`. Email sent to Georg Brandl about the Sphinx `cheeseshop` extension. And edited the announcement text from my comment above and put it on the wiki at htt

[2018-03-14 02:46] #2935 closed

[2018-03-14 03:03] brainwane commented on #3194
@nlhkabu About how hard is this to fix -- that is to say, do you think you can fix it this week? I'm trying to figure out when we are going to announce the beta.

[2018-03-14 03:08] jakirkham opened #3247 "PyPI says it's down"
Tried to download an sdist from PyPI and got a `HTTP 503 BACKEND IS UNHEALTHY` error message. Then tried to visit the website and got this.

<img width="1552" alt="screen shot 2018-03-13 at 23 07 40" src="https://user-images.githubusercontent.com/3019665/37381405-5bf33eda-2713-11e8-8ec1-b622f402d492.png">

[2018-03-14 03:10] brainwane commented on #3078
Ping @nlhkabu. :)

[2018-03-14 03:11] jakirkham commented on #3247
Here's a [CI log]( https://circleci.com/gh/conda-forge/pykwalify-feedstock/35 ) showing the 503 error message. Also seeing this locally.

[2018-03-14 03:14] brainwane commented on #3247
Thanks, @jakirkham. I'm seeing it up for me right now, and https://downforeveryoneorjustme.com/pypi.org says it's up, and https://status.python.org/ looks mostly good too -- I do see a couple 503s just now, which may be the ones served to you. And I can `wget https://pypi.io/packages/source/p/pykwalify/pykwalify-1.6.1.tar.gz` just fine. Are you still getting a 503? On pypi.io as well as pypi.org?

[2018-03-14 03:26] jakirkham commented on #3247
Yep, now seems good. Thanks. :)

[2018-03-14 03:26] #3247 closed

[2018-03-14 03:28] di commented on #3247
@ewdurbin Is this `conveyor` acting up?

@jakirkham Any reason you're using the `pypi.io` domain and not `pypi.org`?

[2018-03-14 03:31] jakirkham commented on #3247
I tried both. That just happened to be the one that was in the screenshot.

[2018-03-14 03:48] brainwane commented on #3156
@aalmazan Would you be interested in doing this?

[2018-03-14 03:51] brainwane commented on #382
@HndrkMkt would you be interested in working on this?

[2018-03-14 04:05] brainwane commented on #3174
I'd love advice on how we should address this. Right now I believe this is the biggest blocker stopping us from going to the beta stage and doing our publicity push.

[2018-03-14 04:10] waseem18 opened #3248 "Pressing Esc key should close modals"
Right now clicking on `x` icon present on the top-right of the modal is the only way to close it.

Ideally the modal would also be closed when the user presses their `Esc` key.

[2018-03-14 04:13] waseem18 commented on #3070
I'll work on this as it's in the current milestone.

[2018-03-14 05:52] netroby opened #3249 "[RFC] can the project main page can support markdown ?"
Hello , dear develop community.

Can we support markdown at the project home page?

https://pypi.org/project/py-cn-phone-area-code/

I want put very simple example to show user how to play with my lib.

[2018-03-14 06:01] brainwane commented on #3249
Hi, @netroby.

We're working on supporting Markdown, but we don't have it yet. My colleague Dustin is working on several tasks that need to all be completed before you can have Markdown in your project's main PyPI page. https://github.com/pypa/warehouse/issues/869#issuecomment-340928703 is the comment where he lists out those tasks. You can subscribe to that issue on GitHub to get a notification w

[2018-03-14 06:01] #3249 closed

[2018-03-14 06:40] brainwane commented on #3152
This is something that perhaps someone else would like to pick up? @Volcyy, @jw, @aalmazan, @yeraydiazdiaz, perhaps one of you would be interested?

[2018-03-14 06:42] brainwane commented on #3152
This is reasonably high in urgency, as we need it fixed before launch - so, ideally, within the next 5-7 days.

[2018-03-14 07:44] ewdurbin commented on #3247
This was a temporary failure due to scaling the conveyor deploy down significantly on accident, whoops.

[2018-03-14 08:37] yeraydiazdiaz commented on #3152
I had a quick look, seems it's caused by the modal being a child of the "Options" dropdown, when moving the mouse away the dropdown hides along with the modal, it reappears when hovering back.

![modal_disappears](https://user-images.githubusercontent.com/6739793/37391177-512d5ca2-2762-11e8-8e3c-8484b9760a18.gif)

My first instinct is to decouple the modal from the dropdown, either by creating all

[2018-03-14 10:36] dstufft commented on #3174
We're probably going to have to use a different captcha solution, at least in china if not everywhere. At least that's the only thing I can think of.

[2018-03-14 12:04] noirbizarre opened #3250 "Maintainers needs more right"
Hi !

I just tried the new warehouse, but in many case I can't do anything: I have a lot of project where the owner is one account created for an organization but on which I work as a maintainer with my own account.
This workflow doesn't seems to work on warehouse because maintainers can't do anything else that publish new releases.
I can't delete release anymore on warehouse as a maintainer, the

[2018-03-14 12:19] brainwane commented on #3250
Hi, @noirbizarre, and thanks for trying Warehouse and letting us know of your problem!

Right now, in Warehouse,

* an Owner owns a project, may add other collaborators for that project, and upload releases for a project. May delete files or releases. Can delete the entire project.

* a Maintainer may upload releases for a project. Cannot add collaborators, delete files, delete releases or delete

[2018-03-14 12:22] noirbizarre commented on #3250
Hi, I just tested a little bit more and this does not seems to be an issue anymore.
My primary use case was: I need to remove the latest development build so people only see stable version (and this was a daily job). But this is fixed in warehouse by #1519 so there is no need anymore to do so :tada:
Plus, It's already possible to have multiple owners, so everything is perfect :ok_hand:

[2018-03-14 12:22] #3250 closed

[2018-03-14 12:26] brainwane commented on #3250
@noirbizarre Thanks for the update. Glad to hear Warehouse works for you. :tada:

Please consider signing up for our low-traffic [announcement email list](https://mail.python.org/mm3/mailman3/lists/pypi-announce.python.org/) to get a heads-up when we make any big changes in the future.

[2018-03-14 14:05] tylerdave commented on #3174
It's been a while but I've used this with success when I needed a captcha solution that worked in China in the past: https://captcha.com/

[2018-03-14 14:56] westurner commented on #1478
From #347:

A cron/celery task that dumps the JSON metadata for every package would definitely save money over making parallel requests for every package's JSON package.

Such a dump could be downloaded with rsync or zsync or git or bup or just HTTP.

Where should we host a regular Warehouse db dump?
Where should we host a regular Warehouse JSON dump?

- https://help.github.com/articles/what-is-my

[2018-03-14 14:58] brainwane commented on #1297
@nlhkabu Thanks for writing this up originally. Are the TODOs you mention still mostly needed?

@waseem18, @yeraydiazdiaz, @aalmazan, @jw, @Volcyy, and probably others I've missed: thanks for your recent work on Warehouse's frontend! Here's a heads-up in case you hadn't seen this request for help earlier.

[2018-03-14 15:14] brainwane commented on #2211
Project logo images could show up on the project detail pages, and in [search results](https://pypi.org/search/?q=jupyter) and similar listings.

[2018-03-14 15:48] brainwane opened #3252 "Assess libraries.io trending projects feed, consider replacing ours"
The [Libraries.io list of trending PyPI projects](https://libraries.io/trending?platforms=PyPI) is very different from the one on the http://pypi.org/ front page. Our list just computes a zscore of downloads. We should check their data & methods, and if their results are more interesting or better than ours, we should [hit their API](https://libraries.io/api) and use their list instead of ours on

[2018-03-14 18:17] #3089 closed

[2018-03-14 18:24] lukesneeringer commented on #994
I like this idea. One thing we could do is allow _either_ the API key to be sent directly (meaning that we get the constraint of effort you mention) _or_ a signing algorithm, which then tools could opt in to.

I like this idea too. +1.

I am okay with this provisionally but I think it is an important limitation. I do think that group permissions will be necessary. I do think it is reasonable to ad

[2018-03-14 18:29] #3223 closed

[2018-03-14 18:33] di commented on #3248
Revised this to be more clear that this is about closing the modal when the user presses the `ESC` key on their keyboard.

[2018-03-14 18:36] waseem18 commented on #3070
@di @nlhkabu I need some help in reproducing this locally. Is there any test maintainer-user (from the local dev environment database) I can login with so that I can reproduce this bug?

[2018-03-14 18:40] di commented on #3070
@waseem18 Not sure I'm totally understanding your question. You can make any changes you need to in your local dev environment to accounts/roles/etc, so for this:

* Find a package
* Log in as it's owner
* Add some other user as a maintainer
* Log out, and log in as the maintainer
* then this should be reproducible

[2018-03-14 18:41] waseem18 commented on #3070
Thanks for the reply @di . I'll do that.

[2018-03-14 19:34] #3070 closed

[2018-03-14 19:45] #1000 closed

[2018-03-14 20:08] di commented on #2582
Going to close this as I haven't seen it in a while.

[2018-03-14 20:08] #2582 closed

[2018-03-14 20:08] di commented on #2718
Going to close this as I haven't seen it in a while.

[2018-03-14 20:08] #2718 closed

[2018-03-14 20:19] nlhkabu commented on #1297
Not sure @brainwane :) ping @di for feedback.

[2018-03-14 20:19] di commented on #1211
This is done!

[2018-03-14 20:19] #1211 closed

[2018-03-14 20:32] edmorley commented on #1000
Thank you for implementing this @Mariatta! :-)

[2018-03-14 20:41] di commented on #1297
I think we've addressed most of this, and we've got a great crop of new contributors writing JS, so this could probably be closed!

Some things that are still outstanding:
* Frontend tests (e.g. #2154 should probably become "Add frontend tests", especially for Stimulus controllers)
* I should probably add some information to our docs about our use of Stimulus on the frontend, graceful JS degradati

[2018-03-14 20:47] dstufft commented on #994
@lukesneeringer I should mention that after talking through this more with people, I think that the right implementation would look something like:

* Add a configuration value for the root key, this would need to include an identifier as well as the key. If we ever lose this key we'd revoke all macaroons by changing this setting.
* Add another caveat to the macaroons which is basically just some

[2018-03-14 20:48] dstufft commented on #994
Oh, and the opaque, unique value would also give us something we can enumerate to display a list of macaroons owned by a user (to allow them to delete/revoke unused ones) and allows us to do things like record in the database whenever they are used, so we can display the last time each one was used too.

[2018-03-14 21:29] #2649 closed

[2018-03-14 21:49] #3069 closed

[2018-03-14 22:21] alexwlchan commented on #3164
Per @brainwane’s suggestion, I’m going to take this one on.

[2018-03-14 22:51] di opened #3263 "Admin UI is cut off"
Might be something I did in #3253, or possibly it was always happening and I didn't notice until adding one more element to the nav list:

<img width="1439" alt="screen shot 2018-03-14 at 5 49 48 pm" src="https://user-images.githubusercontent.com/294415/37435167-3ebe8ac0-27b0-11e8-91fd-ecb7d66650b2.png">

[2018-03-14 22:56] di commented on #3025
Done! Sorry for the delay.

[2018-03-14 22:56] #3025 closed

[2018-03-15 02:45] brainwane commented on #1944
Hi, @toddrme2178, @SirCmpwn and any other readers. Thanks for letting us know about your thoughts, and sorry for the slow response!

The Warehouse developers have gotten [funding to improve Warehouse](https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html), and have been progressing on [our development roadmap](https://wiki.python.org/psf/WarehouseRoadmap) -- the most urgent tas

[2018-03-15 02:53] brainwane commented on #2537
Hi, @FRidh and any other readers. Thanks for letting us know about your thoughts, and sorry for the slow response!

In the past month we've substantially improved our [Warehouse API reference guide](https://warehouse.readthedocs.io/api-reference/) which makes it easier for downstreams to programmatically download artifacts, including wheels.

I've spoken with other Warehouse maintainers and we adv

[2018-03-15 03:05] SirCmpwn commented on #1944
This isn't going to work. You're never going to find a distrubution whose packages are going to be making API calls to some custom JSON API to resolve a download link for Python packages. We already went through the headache of getting consistent download URLs once - don't take them away!

[2018-03-15 03:47] brainwane commented on #347
Folks who need this might want to check whether the Libraries.io API for https://libraries.io/pypi might suit their needs in the short term.

[2018-03-15 03:47] brainwane commented on #1683
Folks who need this might want to check whether the Libraries.io API for https://libraries.io/pypi might suit their needs in the short term.

[2018-03-15 03:48] brainwane commented on #2551
Folks who need this might want to check whether the Libraries.io API for https://libraries.io/pypi might suit their needs in the short term.

[2018-03-15 03:49] brainwane commented on #98
https://libraries.io/about Libraries.io now provides a service very similar to what is requested here.

[2018-03-15 03:58] brainwane opened #3264 "Email notification for demoted/removed user"
Followup to #1000: we should email the user (and possibly all the other owners/maintainers of a project as well) when they were an owner/maintainer of a project but have just been demoted or removed from the project.

-- @edmorley

[2018-03-15 04:49] brainwane commented on #2875
So now, thanks to #3047, the avatar is taken care of. Next, the user's wallet name/real name/full name. @alexwlchan would you be interested in working on this?

[2018-03-15 04:52] brainwane commented on #2914
@phildini have you checked out the libraries.io APIs?

@HndrkMkt, @waseem18, @cryvate, @asottile, are any of you interested in doing a little investigation on this requested feature and reporting back in this issue?

[2018-03-15 05:03] waseem18 commented on #2914
@brainwane I'll investigate and will put up the report here in the comments.

[2018-03-15 05:06] brainwane commented on #3062
OK, I think we have a TODO here: when the user has not selected/input any search query parameters (via GET to `https://pypi.org/search/?q=` or specifically `https://pypi.org/search/` with no trailing query parameters), display some placeholder text. I can suggest some copy:

[2018-03-15 07:15] nlhkabu opened #3266 "Make 'manage' and 'view' buttons align right"
In the list of packages for logged in users, we show 'manage' and 'view' buttons:

![screenshot from 2018-03-15 07-13-18](https://user-images.githubusercontent.com/3323703/37448973-6dc42d82-2820-11e8-868e-e42f43d9d101.png)

Right now, there is an approx 20px gap at the right of the 'view' button. It would be better if these could align *right* in the card.

---

**Screenshot Required**: This issue

[2018-03-15 07:17] nlhkabu commented on #2875
I think we can close this now @brainwane - @lgh2's PR also added the full name :)

[2018-03-15 07:17] #2875 closed

[2018-03-15 07:19] nlhkabu commented on #3162
@brainwane - FYI this was one of the biggest problems identified in user testing, so if we could point new contributors towards it and #3163, that would be great !

[2018-03-15 07:24] nlhkabu commented on #1299
sounds great @waseem18 :) thankyou!

[2018-03-15 07:34] waseem18 commented on #1299
Quick update: Till now I was trying it by using recursive for loop which wasn't working well. Will now be trying with recursive macro's. Once I get it working I'll put a WIP PR.

Thanks

[2018-03-15 08:48] nlhkabu commented on #3194
@brainwane - I'm a bit behind on this one.  Starting tonight.  I imagine we could have it merged by early next week.

[2018-03-15 10:16] ewdurbin commented on #1944
You can make an attempt by working back from the expected file name as documented in [PEP 491](https://www.python.org/dev/peps/pep-0491/#file-name-convention).

[code]

It's not pretty, but it does work:

[code]

[2018-03-15 11:42] dstufft commented on #2537
The URL rewriting API I think is Conveyor (https://github.com/pypa/conveyor) which redirects URLs like ``https://files.pythonhosted.org/packages/source/f/flask-common/flask-common-0.2.0.tar.gz`` to the "real" URL location. I'm actually kind of surprised this doesn't work already.

[2018-03-15 12:38] Volcyy commented on #1354
Okay, so if we have the full license text given, the user should be able to click the license next to `Meta` to read the full text by launching a modal? I will take a look at this.

[2018-03-15 12:59] brainwane commented on #2537
Related issue: #1944.

[2018-03-15 13:44] HndrkMkt commented on #1307
Sorry for the slow progress, I'm a bit stuck in university work. One question regarding the input of the bio: What format should be used here? reStructuredText? Plain text that may contain HTML links?

As far as I see it, RST would allow more formatting than we intend to have, basically multi-line text with the occasional link. So it could be easiest to write a renderer for text + link.

[2018-03-15 14:48] di commented on #1307
I think we can just focus this on plaintext right now, and add more advanced rendering later.

[2018-03-15 15:06] FRidh commented on #2537
It's indeed Conveyer, thanks @dstufft.

[2018-03-15 15:18] di commented on #1354
Yes, I think if that `.split` above results in multiple values, then we'll want to add a "read more..." link to the license field we're displaying.

It's not urgent at all! Thanks for working on it.

[2018-03-15 17:17] di commented on #3005
I think my personal preference would be for this to remain as-is, similar to how this is done on other sites, for example on this very issue:

<img width="240" alt="screen shot 2018-03-15 at 12 13 30 pm" src="https://user-images.githubusercontent.com/294415/37479351-7427ea68-284a-11e8-8ec5-6cf4f6951a2d.png">

We do show the username with a tooltip already:

<img width="319" alt="screen shot 2018-0

[2018-03-15 17:52] #2217 closed

[2018-03-15 18:39] toddrme2178 commented on #1944
@brainwane There is simply no way to call JSON APIs at all.  There is a program that extracts the URL from the build file using defined tags such as the version, downloads the file, and makes sure it is the same as the one stored already.  This is done a consistent way for hundreds of thousands of packages, includes a more than a thousand python packages.

We thought this had at least been worked

[2018-03-15 19:09] di commented on #1944
@toddrme2178 I think it's not totally clear to us what you're asking for. If you want a function which takes the attributes of a wheel distribution and gives a URL corresponding to where that wheel would exist, it would be something like:

[code]

If you're looking for a way to predict what wheels exist for a given `(name, version)`, it's not possible without using the JSON or Simple APIs.

[2018-03-15 19:13] di commented on #3263
Definitely something I did, fixing now...

[2018-03-15 19:45] toddrme2178 commented on #1944
@di To use the previous requests example, say we make a package for requests, we would have something like:

    Version:     2.18.4
    Url:         https://files.pythonhosted.org/packages/py2.py3/r/requests/requests-%{version}-py2.py3-none-any.whl

Then we find out there is an update numbered 2.19.6.  We would download the package from pypi or warehouse somehow, upload it to our build system, th

[2018-03-15 20:00] di commented on #1944
@brainwane is right in this sense, because (to my knowledge) the `https://files.pythonhosted.org` host is not really intended to be used this way, so while we have no plans to change the host, or remove the redirects, it's possible that we might have needed to change this at some point, as we have in the past.

However, we now know about your use case, so please be assured that we won't suddenly b

[2018-03-15 20:26] di commented on #3152
@yeraydiazdiaz I reverted #3251 because we discovered this bug that I missed on review:

![2018-03-15 15 43 33](https://user-images.githubusercontent.com/294415/37489237-fc101738-2864-11e8-8216-52e28d779b44.gif)

[2018-03-15 21:16] alexwlchan opened #3274 "Cosmetic bug: link underline extends into whitespace"
I grabbed this screenshot in user testing last week – I’ve forgotten the context, but I think it was in the list of files on a release page. Nitpicky detail: the link underline should really stop at `.gz`, and not continue into the space.

![screen shot 2018-03-08 at 06 53 45](https://user-images.githubusercontent.com/301220/37491494-f8367482-2895-11e8-9a9d-ead9e2d7962c.png)

I suspect this is jus

[2018-03-15 21:17] di commented on #3274
Thanks @alexwlchan!

[2018-03-15 21:54] thiagofigueiro opened #3275 "Artifactory not compatible with new /simple file links."
We have an internal mirror of https://pypi.python.org that stopped working as the load testing started: https://status.python.org/incidents/0gmdf90kkt8n

I am currently investigating and collecting logs to further report but would like to create an issue in case other people come across the same problem.

If this turns-out to be my internal problem (I hope so!), my apologies in advance. I will upd

[2018-03-15 21:55] Alphadelta14 opened #3276 "Consistency issues when mirroring pypi.python.org"
We run a local artifactory cluster, and when trying to update some packages, we are getting empty lists from the remote pypi.python.org.
I noticed that https://status.python.org/ says there is a migration in progress, but this is affecting our CI every couple of minutes with various packages.

[code]

[2018-03-15 21:56] ewdurbin commented on #3275
@thiagofigueiro thank you for the report. this breakage is likely due to not following the redirect being served.

You should be seeing a 303 See Other from pypi.python.org/simple/ urls.

[2018-03-15 21:56] thiagofigueiro commented on #3275
Internal mirror details

Server: Artifactory Professional 4.8.0 rev 40210
Repository type: remote
Name: pypi-mirror
Remote URL: https://pypi.python.org

Remaining configuration using defaults.

[2018-03-15 21:57] ewdurbin commented on #3276
dupe #3275 let's collect issues related to artifactory there.

[2018-03-15 21:57] #3276 closed

[2018-03-15 21:58] ewdurbin commented on #3275
We may need to be issuing a 302... perhaps 303s aren't well supported?

[2018-03-15 21:58] di commented on #3275
Does Artificatory have a `User-Agent` we can filter on for now?

[2018-03-15 21:59] thiagofigueiro commented on #3275
@ewdurbin is there something I can do on my side to avoid the redirect?

I obviously want to move to the new mirror ASAP but, more importantly, I'd like to have a working service while I figure-out the differences and reconfigure our internal mirror.

[2018-03-15 21:59] ewdurbin commented on #3275
@thiagofigueiro we've disabled it for now. we're going to try to filtering on User-Agent `Artifactory/.*$`

[2018-03-15 22:01] thiagofigueiro commented on #3275
@ewdurbin I can confirm it started working again.  Many thanks!

If you would like me to help with tests, please reach-out to me: thiagocsf@gmail.com.

[2018-03-15 22:18] ewdurbin commented on #3275
@thiagofigueiro we've moved from a 303 to a 302 and are opting all Artifactory User-Agents out of the split.

If possible, setting a `Force-Warehouse-Redirect: 1` header on requests to PyPI and seeing if it still breaks would be _much_ appreciated.

[2018-03-15 22:38] thiagofigueiro commented on #3275
@ewdurbin No obvious way to do this with the version we're currently using in production so it will take me a little bit to set-up the test.

I'm downloading the latest available from JFrog and will update this comment once I'm done.

[2018-03-15 22:42] ewdurbin commented on #3275
@thiagofigueiro if you can provide an IP address... we could give your installation the redirect.

[2018-03-15 22:42] mmielke-ciena commented on #3275
Thanks for the quick fix. We're trying it out now. Our users were impacted today as well, and after some confusion, they finally contacted me, and then I found this thread that seems to match what we were seeing. We also use Artifactory.

[2018-03-15 23:13] mmielke-ciena commented on #3275
Our case seems to have cleared as well now. Artifactory as caching proxy behind the firewall.

It's not clear to me what failed, though. I can't yet find errors.

[2018-03-15 23:14] ewdurbin commented on #3275
@mmielke-ciena to be explicit we are currently specifically excluding Artifactory User-Agents from our load test, so the issue is likely to arise if we stop doing so.

We've moved from a 303 to a 302... and hope that Artifactory supports this status code. I'll update this issue before we remove the exception for Artifactory.

[2018-03-15 23:25] thiagofigueiro commented on #3275
@ewdurbin test instance ready. It's currently working:

# pip install -r requirements.txt
Collecting django-extensions==1.6.7 (from -r requirements.txt (line 1))
  Downloading http://ec2-184-72-69-31.compute-1.amazonaws.com:8081/artifactory/api/pypi/pypi-mirror/packages/c5/b8/b0a563f18548168492afa9786f2b9d26774d75b578969488effa1f4061c0/django_extensions-1.6.7-py2.py3-none-any.whl (206kB)

Could yo

[2018-03-15 23:31] ewdurbin commented on #3275
@thiagofigueiro 184.72.69.31 should be receiving the 302 redirects now.

[2018-03-15 23:33] thiagofigueiro commented on #3275
Excellent - thanks. Can confirm it broke on the latest version of Artifactory Pro.

[code]

[code]

Will find-out how to set `Force-Warehouse-Redirect: 1` and any other work-arounds for Artifactory.

[2018-03-15 23:37] ewdurbin commented on #3275
@thiagofigueiro if you can open an issue with Artifactory, let me know where it is and I'll slide in and contribute to helping find a solution.

[2018-03-15 23:38] thiagofigueiro commented on #3275
Artifactory issue opened: #78509

[2018-03-15 23:38] ewdurbin commented on #3275
where is their tracker @thiagofigueiro ?

[2018-03-15 23:41] fbouliane opened #3280 "pypi.org compatibility with pip 1.5.4"
With ubuntu 14.04, you are unable to use pip without using the `--allow-external pip` flag.

Currently, pip fails with :
[code]

It seems to be due to the migration from pypi.python.org to pypi.org in a combination with pip 1.5.4 (the default pip available in ubuntu trusty repository).

To fix, it seems that newer pip doesn't have this problem so an update of the version of pip fixes the problem
`

[2018-03-15 23:44] ewdurbin commented on #3280
@fbouliane thank you for your report! indeed upgrading `pip` is likely the best solution, but may not be acceptable for some users. we'll take this into consideration as we plan the remainder of the migration.

[2018-03-15 23:48] thiagofigueiro commented on #3275
I didn't get a link in the email - only the number.  I have pointed them to this thread - hopefully they'll chime-in.

Meanwhile, this is what I see in the logs. It seems they do follow the redirect.

[code]

[2018-03-15 23:49] ewdurbin commented on #3275
@thiagofigueiro can you configure artifactory to use https://pypi.org directly?

[2018-03-15 23:53] thiagofigueiro commented on #3275
I did.

`/api/pypi/pypi-mirror/` -> pypi.python.org
`/api/pypi/pypi-new-mirror/` -> pypi.org

[code]

No record of redirect in the log when I use the new mirror:
[code]

[2018-03-15 23:53] ewdurbin commented on #3275
@thiagofigueiro and things are working as expected or are you still in a broken state?

[2018-03-15 23:55] thiagofigueiro commented on #3275
Still broken. Same error from pip:

[code]

[2018-03-15 23:55] kelvin-sl opened #3281 "Load testing issues with /simple"
While trying to install a requirements file I'm getting the following errors:

No distributions at all found for flask==0.10.1
No distributions at all found for defusedxml==0.4.1
No distributions at all found for PyYaml=3.11

Please advise, thanks!

[2018-03-15 23:56] ewdurbin commented on #3281
@kelvin-sl What Python Version, Client (pip) and Version are you using? Is there a mirror or cache between you and PyPI?

[2018-03-15 23:57] firon commented on #3275
Artifactory seems to be unable to parse the HTML correctly for individual packages.

It can read the package listing on https://pypi.org/simple since I saw it download the individual package metadata, but then failed to present any packages in the listing.

[2018-03-15 23:58] ewdurbin commented on #3275
@firon thanks for the additional information. we'll investigate that avenue.

[2018-03-16 00:00] mmagin commented on #3280
Yeah, a lot of people are still using Ubuntu 14.04, this is going to cause a lot of pain.

[2018-03-16 00:02] eastokes commented on #3280
Breaking all our ansible 14.04 builds here 😢

[2018-03-16 00:02] ewdurbin commented on #3280
we use ubuntu 14.04 internally for much of the PSF infrastructure as well.

most of our Python stuff is installed in its own virtualenv that uses a modern pip. this obviously isn't tenable for most.

Another alternative is to set your index URL to https://pypi.org/simple/ directly.

[2018-03-16 00:03] ewdurbin commented on #3280
Load tests are going well, and we'll likely be concluding them for the evening soon. This will need be addressed in some way.

[2018-03-16 00:06] ewdurbin commented on #3280
load splitting is completed for the evening.

[2018-03-16 00:07] ewdurbin commented on #3275
@thiagofigueiro we've concluded load splitting for this phase. do you want to leave the supplied IP on the redirect route?

[2018-03-16 00:13] thiagofigueiro commented on #3275
@ewdurbin Not at this stage - thanks. You know how to reach me if you want me to run other tests.

For what it's worth here's a sample diff between the old and new response for `simple/`:

[code]

I think @firon has a point that Artifactory is trying to parse the HTML. I'm happy to follow this up with them but would appreciate if you could keep the Artifactory user-agent exclusion until they fix t

[2018-03-16 00:14] ewdurbin commented on #3275
@thiagofigueiro 184.72.69.31 is getting the same response as all the other Artifactory installations now :)

[2018-03-16 00:33] kelvin-sl commented on #3281
Was probably something to do with the load test. Looks like things are working now. Whatever you did, thanks!

[2018-03-16 00:34] ewdurbin commented on #3281
@kelvin-sl we ceased load splitting for the evening but will be continuing over the coming days/weeks. having information about your environment would still help us classify and address the issue.

[2018-03-16 00:35] kelvin-sl commented on #3281
We are using pip3 (default version that comes with ubuntu 14.04) and python
3.4. I don't believe we have a mirror in between us and PyPi.

On Thu, Mar 15, 2018 at 7:34 PM Ernest W. Durbin III <
notifications@github.com> wrote:

--
Kelvin Pho
VP of Engineering
Self Lender, Inc.

[2018-03-16 00:36] Alphadelta14 commented on #3275
The relevant parsing information is that artifactory does not permit files from outside of the source server:
[code]
Thus generating empty listings.

[2018-03-16 00:36] ewdurbin commented on #3281
what's the output of `pip --version` and `pip3 --version`

[2018-03-16 00:37] ewdurbin commented on #3275
Ah, so it seems to be upset that we moved file hosting off of the domain and onto files.pythonhosted.org?

[2018-03-16 00:39] kelvin-sl commented on #3281
pip is not installed

pip 1.5.4 from /usr/lib/python3/dist-packages (python 3.4)

On Thu, Mar 15, 2018 at 7:36 PM Ernest W. Durbin III <
notifications@github.com> wrote:

--
Kelvin Pho
VP of Engineering
Self Lender, Inc.

[2018-03-16 00:40] ewdurbin commented on #3281
OK, pip 1.5.4 issue is being tracked in #3280

[2018-03-16 00:40] #3281 closed